---
openapi: 3.1.0
info:
  title: Fluid Admin v2 API
  version: v2
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: Bearer token authentication
  schemas:
    Meta:
      type: object
      properties:
        request_id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
    ErrorResponse:
      type: object
      required:
      - error_message
      - errors
      - meta
      properties:
        error_message:
          type: string
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          "$ref": "#/components/schemas/Meta"
    UnauthorizedResponse:
      type: object
      required:
      - message
      properties:
        message:
          type: string
    V2OrderErrorResponse:
      type: object
      required:
      - status
      - data
      properties:
        status:
          type: string
        data:
          type: object
          properties:
            error:
              type: string
    PostApiV2RepsResponse201ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        rep:
          title: UserCompany
          type:
          - object
          - 'null'
          properties:
            id:
              type:
              - integer
              - string
              - number
              - 'null'
            active:
              type:
              - boolean
              - 'null'
              default: true
            external_id:
              type:
              - string
              - 'null'
              - number
              - integer
            username:
              type:
              - string
              - 'null'
              - number
              - integer
            first_name:
              type:
              - string
              - number
              - integer
              - 'null'
            last_name:
              type:
              - string
              - number
              - integer
              - 'null'
            created_at:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
            image_url:
              type:
              - string
              - 'null'
              - number
              - integer
            roles:
              type:
              - string
              - 'null'
              - number
              - integer
              default: user
            share_guid:
              type:
              - string
              - number
              - integer
              - 'null'
              pattern: "^[a-z0-9\\-_]+$"
              minLength: 2
            country_code:
              type:
              - string
              - number
              - integer
              - 'null'
            language_code:
              type:
              - string
              - number
              - integer
              - 'null'
            computed_full_name:
              type:
              - string
              - 'null'
              - number
              - integer
            computed_email:
              type:
              - string
              - 'null'
              - number
              - integer
            phone:
              type:
              - string
              - 'null'
              - number
              - integer
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    JsonValue:
      description: Any valid JSON value for provider, integration, theme, metadata,
        or other dynamic payloads whose keys are not fixed by the API contract.
      anyOf:
      - type: string
      - type: number
      - type: boolean
      - type: 'null'
      - type: array
        items:
          "$ref": "#/components/schemas/JsonValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorValue:
      description: A validation or API error value.
      anyOf:
      - type: string
      - type: array
        items:
          type: string
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorBag:
      description: Validation errors keyed by field, a list of errors, a single error
        message, or null when no structured error details are available.
      anyOf:
      - type: string
      - type: array
        items:
          "$ref": "#/components/schemas/ErrorValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/ErrorValue"
      - type: 'null'
    ErrorMessage:
      description: An API error message represented as text or structured JSON.
      anyOf:
      - type: string
      - "$ref": "#/components/schemas/ErrorBag"
      - type: 'null'
    StandardErrorResponse:
      description: Common legacy error response envelope. Older endpoints may return
        one or more of these fields depending on the controller path.
      type: object
      properties:
        message:
          type: string
        error:
          "$ref": "#/components/schemas/ErrorMessage"
        error_message:
          "$ref": "#/components/schemas/ErrorMessage"
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          "$ref": "#/components/schemas/Meta"
      additionalProperties:
        "$ref": "#/components/schemas/JsonValue"
    PostApiV2AdminsResponse201ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        admin:
          title: UserCompany
          type:
          - object
          - 'null'
          properties:
            id:
              type:
              - integer
              - string
              - number
              - 'null'
            active:
              type:
              - boolean
              - 'null'
              default: true
            external_id:
              type:
              - string
              - number
              - integer
              - 'null'
            username:
              type:
              - string
              - number
              - integer
              - 'null'
            first_name:
              type:
              - string
              - number
              - integer
              - 'null'
            last_name:
              type:
              - string
              - number
              - integer
              - 'null'
            created_at:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
            image_url:
              type:
              - string
              - number
              - integer
              - 'null'
            share_guid:
              type:
              - string
              - number
              - integer
              - 'null'
              pattern: "^[a-z0-9\\-_]+$"
              minLength: 2
            country:
              type:
              - object
              - 'null'
              additionalProperties:
                "$ref": "#/components/schemas/JsonValue"
            language:
              type:
              - object
              - 'null'
              additionalProperties:
                "$ref": "#/components/schemas/JsonValue"
            roles:
              type:
              - array
              - 'null'
              items:
                "$ref": "#/components/schemas/JsonValue"
            computed_full_name:
              type:
              - string
              - number
              - integer
              - 'null'
            computed_email:
              type:
              - string
              - number
              - integer
              - 'null'
            phone:
              type:
              - string
              - number
              - integer
              - 'null'
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    AdminMobilePageResponse:
      type: object
      properties:
        meta:
          type: object
          properties:
            request_id:
              type: string
            timestamp:
              type: string
              format: date-time
          required:
          - request_id
          - timestamp
          additionalProperties: false
        mobile_page:
          type: object
          properties:
            allow_media_creation:
              type: boolean
            associated_displayables:
              type: array
              items:
                "$ref": "#/components/schemas/JsonValue"
            company_id:
              type: integer
            created_at:
              type: string
              format: date-time
            default:
              type: boolean
            id:
              type: integer
            kind:
              type: string
            mobile_page_tabs:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                  json:
                    type: object
                    properties:
                      content:
                        type: array
                        items:
                          type: object
                          properties:
                            props:
                              type: object
                              properties:
                                id:
                                  type: string
                              required:
                              - id
                              additionalProperties: false
                            type:
                              type: string
                          required:
                          - props
                          - type
                          additionalProperties: false
                      root:
                        type: object
                        additionalProperties: false
                      zones:
                        type: object
                        additionalProperties: false
                    required:
                    - content
                    - root
                    - zones
                    additionalProperties: false
                  kind:
                    type: string
                  mobile_page_id:
                    type: integer
                  mobile_slug:
                    type:
                    - string
                    - 'null'
                  name:
                    type: string
                  navigational:
                    type: boolean
                  order:
                    type: integer
                required:
                - id
                - json
                - kind
                - mobile_page_id
                - mobile_slug
                - name
                - navigational
                - order
                additionalProperties: false
            name:
              type: string
            status:
              type: string
            updated_at:
              type: string
              format: date-time
          required:
          - allow_media_creation
          - associated_displayables
          - company_id
          - created_at
          - default
          - id
          - kind
          - mobile_page_tabs
          - name
          - status
          - updated_at
          additionalProperties: false
      required:
      - meta
      - mobile_page
      additionalProperties: false
paths:
  "/api/v2/activities":
    get:
      operationId: admin_v2_activities_list
      summary: List activities
      tags:
      - activities
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties:
                    "$ref": "#/components/schemas/JsonValue"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
  "/api/v2/admins":
    get:
      operationId: admin_v2_admins_list
      summary: List admins
      tags:
      - admins
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
    post:
      operationId: admin_v2_admins_create
      summary: Create admin
      tags:
      - admins
      security:
      - bearer_auth: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PostApiV2AdminsResponse201ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v2/admins/export_csv":
    post:
      operationId: admin_v2_admins_export_csv
      summary: Export admins as CSV
      tags:
      - admins
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
  "/api/v2/admins/{id}":
    get:
      operationId: admin_v2_admins_show
      summary: Get admin
      tags:
      - admins
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
    patch:
      operationId: admin_v2_admins_update
      summary: Update admin
      tags:
      - admins
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
    delete:
      operationId: admin_v2_admins_destroy
      summary: Delete admin
      tags:
      - admins
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v2/explore":
    get:
      operationId: admin_v2_explore_list
      summary: List explore content
      tags:
      - explore
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
  "/api/v2/libraries":
    get:
      operationId: admin_v2_libraries_list
      summary: List libraries
      tags:
      - libraries
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties:
                    "$ref": "#/components/schemas/JsonValue"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
  "/api/v2/libraries/{id}":
    get:
      operationId: admin_v2_libraries_show
      summary: Get library
      tags:
      - libraries
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
  "/api/v2/metafield_definitions":
    get:
      operationId: admin_v2_metafield_definitions_list
      summary: List metafield definitions
      tags:
      - metafields
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
    post:
      operationId: admin_v2_metafield_definitions_create
      summary: Create metafield definition
      tags:
      - metafields
      security:
      - bearer_auth: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  metafield_definition:
                    type: object
                    additionalProperties:
                      "$ref": "#/components/schemas/JsonValue"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v2/metafield_definitions/supported_data_types":
    get:
      operationId: admin_v2_metafield_definitions_supported_data_types
      summary: List supported data types
      tags:
      - metafields
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
  "/api/v2/metafield_definitions/{id}":
    get:
      operationId: admin_v2_metafield_definitions_show
      summary: Get metafield definition
      tags:
      - metafields
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
    patch:
      operationId: admin_v2_metafield_definitions_update
      summary: Update metafield definition
      tags:
      - metafields
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
    delete:
      operationId: admin_v2_metafield_definitions_destroy
      summary: Delete metafield definition
      tags:
      - metafields
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v2/metafields":
    get:
      operationId: admin_v2_metafields_list
      summary: List metafields
      tags:
      - metafields
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '422':
          description: Missing required parameters
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
    post:
      operationId: admin_v2_metafields_create
      summary: Create metafield
      tags:
      - metafields
      security:
      - bearer_auth: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  metafield:
                    type: object
                    properties:
                      namespace:
                        type: string
                      key:
                        type: string
                      value:
                        type:
                        - string
                        - 'null'
                      value_type:
                        type:
                        - string
                        - 'null'
                      description:
                        type:
                        - string
                        - 'null'
                      locked:
                        type:
                        - boolean
                        - 'null'
                      created_at:
                        type: string
                        format: date-time
                      updated_at:
                        type: string
                        format: date-time
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
    delete:
      operationId: admin_v2_metafields_destroy
      summary: Delete metafield
      tags:
      - metafields
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
  "/api/v2/metafields/show":
    get:
      operationId: admin_v2_metafields_show
      summary: Get metafield
      tags:
      - metafields
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
  "/api/v2/metafields/update":
    patch:
      operationId: admin_v2_metafields_update
      summary: Update metafield
      tags:
      - metafields
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v2/metafields/update_locked":
    patch:
      operationId: admin_v2_metafields_update_locked
      summary: Update locked metafield
      tags:
      - metafields
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v2/mobile_pages":
    post:
      operationId: admin_v2_mobile_pages_post
      summary: Mobile Pages mobile pages
      tags:
      - mobile-pages
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AdminMobilePageResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/v2/orders":
    get:
      operationId: admin_v2_orders_list
      summary: List orders (v2)
      tags:
      - orders
      security:
      - bearer_auth: []
      parameters:
      - name: include_total
        in: query
        required: false
        description: When false, skips the COUNT for the total and the stats block.
          total_count and total_pages are returned as 0, next_page still works, and
          stats_calculated is false. Takes precedence over force_stats.
        schema:
          type: boolean
          default: true
      - name: force_stats
        in: query
        required: false
        description: Calculates the order stats even when more than 10,000 orders
          match. Ignored when include_total is false.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
  "/api/v2/orders/bulk_update":
    patch:
      operationId: admin_v2_orders_bulk_update
      summary: Bulk update orders
      tags:
      - orders
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/V2OrderErrorResponse"
  "/api/v2/orders/send_invoice_email":
    post:
      operationId: admin_v2_orders_send_invoice_email
      summary: Send invoice email
      tags:
      - orders
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v2/orders/stats":
    get:
      operationId: admin_v2_orders_stats
      summary: Get order statistics (v2)
      tags:
      - orders
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
  "/api/v2/orders/{id}":
    get:
      operationId: admin_v2_orders_show
      summary: Get order
      tags:
      - orders
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/V2OrderErrorResponse"
  "/api/v2/orders/{id}/append_metadata":
    patch:
      operationId: admin_v2_orders_append_metadata
      summary: Append Metadata order
      tags:
      - orders
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v2/orders/{id}/archive":
    patch:
      operationId: admin_v2_orders_archive
      summary: Archive order
      tags:
      - orders
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/V2OrderErrorResponse"
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/V2OrderErrorResponse"
  "/api/v2/orders/{id}/cancel":
    patch:
      operationId: admin_v2_orders_cancel
      summary: Cancel order
      description: Cancels an uncaptured order, optionally voiding the payment authorization
        at the gateway and restocking inventory.
      tags:
      - orders
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Cancellation reason (visible to staff only)
                restock_all_items:
                  type: boolean
                  description: Whether to restock all unfulfilled items
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - data
                properties:
                  status:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Order cancelled successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/V2OrderErrorResponse"
        '422':
          description: |
            Order cannot be cancelled. Possible errors:
            - Order cannot be cancelled (captured, archived, or pending review)
            - Order cannot be cancelled, Order is already fulfilled
            - Failed to void authorization (gateway error)
            - Void not supported for non-CreditCard payments
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/V2OrderErrorResponse"
  "/api/v2/orders/{id}/charge":
    post:
      operationId: admin_v2_orders_charge
      summary: Charge order
      tags:
      - orders
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/V2OrderErrorResponse"
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/V2OrderErrorResponse"
  "/api/v2/orders/{id}/remove_metadata":
    patch:
      operationId: admin_v2_orders_remove_metadata
      summary: Remove Metadata order
      tags:
      - orders
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v2/orders/{id}/transaction_logs":
    get:
      operationId: admin_v2_orders_transaction_logs_list
      summary: List transaction logs
      tags:
      - orders
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/V2OrderErrorResponse"
  "/api/v2/orders/{id}/transaction_logs/{transaction_log_id}/retry":
    get:
      operationId: admin_v2_orders_transaction_logs_retry
      summary: Retry transaction log
      tags:
      - orders
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: transaction_log_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/V2OrderErrorResponse"
  "/api/v2/orders/{id}/unarchive":
    patch:
      operationId: admin_v2_orders_unarchive
      summary: Unarchive order
      tags:
      - orders
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/V2OrderErrorResponse"
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/V2OrderErrorResponse"
  "/api/v2/orders/{id}/update_external_id":
    patch:
      operationId: admin_v2_orders_update_external_id
      summary: Update External Id order
      tags:
      - orders
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/V2OrderErrorResponse"
  "/api/v2/orders/{id}/update_shipping_address":
    patch:
      operationId: admin_v2_orders_update_shipping_address
      summary: Update Shipping Address order
      tags:
      - orders
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/V2OrderErrorResponse"
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v2/orders/{id}/update_sponsor":
    patch:
      operationId: admin_v2_orders_update_sponsor
      summary: Update Sponsor order
      tags:
      - orders
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/V2OrderErrorResponse"
  "/api/v2/reps":
    get:
      operationId: admin_v2_reps_list
      summary: List reps
      tags:
      - reps
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
    post:
      operationId: admin_v2_reps_create
      summary: Create rep
      tags:
      - reps
      security:
      - bearer_auth: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PostApiV2RepsResponse201ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v2/reps/export_csv":
    post:
      operationId: admin_v2_reps_export_csv
      summary: Export reps as CSV
      tags:
      - reps
      security:
      - bearer_auth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                countries:
                  type:
                  - string
                  - 'null'
                  description: Comma-separated ISO country codes to filter by (e.g.
                    "US,CA"). Matched case-insensitively.
                member_type_slug:
                  type:
                  - string
                  - 'null'
                  description: Filter members to a single member type by its slug.
                rank_id:
                  type:
                  - integer
                  - 'null'
                  description: Filter members to those with the given rank id.
                external_id:
                  type:
                  - string
                  - 'null'
                  description: Filter members by external id.
                total_spent_min:
                  type:
                  - string
                  - 'null'
                  description: Minimum total spent (inclusive lower bound).
                total_spent_max:
                  type:
                  - string
                  - 'null'
                  description: Maximum total spent (inclusive upper bound).
                orders_count_min:
                  type:
                  - integer
                  - 'null'
                  description: Minimum number of orders (inclusive lower bound).
                orders_count_max:
                  type:
                  - integer
                  - 'null'
                  description: Maximum number of orders (inclusive upper bound).
                created_at_from:
                  type:
                  - string
                  - 'null'
                  description: Only include members created on or after this date.
                created_at_to:
                  type:
                  - string
                  - 'null'
                  description: Only include members created on or before this date.
                search_query:
                  type:
                  - string
                  - 'null'
                  description: Free-text search across member fields (name, email,
                    username, etc.).
                active:
                  type:
                  - boolean
                  - 'null'
                  description: Filter by active status. Omit to include both active
                    and inactive members.
                columns:
                  type:
                  - string
                  - 'null'
                  description: Comma-separated, ordered subset of column ids to export.
                    Valid ids - username, name, email, status, member_type, country,
                    rank, external_id, orders_count, total_spent, points, phone, created_at.
                    Omit to export every column. Columns are always emitted in the
                    canonical registry order regardless of the order requested.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    description: Signed download URL for the generated CSV file.
                  meta:
                    "$ref": "#/components/schemas/Meta"
                additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
  "/api/v2/reps/{id}":
    get:
      operationId: admin_v2_reps_show
      summary: Get rep
      tags:
      - reps
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
    patch:
      operationId: admin_v2_reps_update
      summary: Update rep
      tags:
      - reps
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
    delete:
      operationId: admin_v2_reps_destroy
      summary: Delete rep
      tags:
      - reps
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v2/reps/{id}/update_enroller":
    patch:
      operationId: admin_v2_reps_update_enroller
      summary: Update rep enroller
      tags:
      - reps
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
