openapi: 3.1.0
info:
  title: Fluid Admin v2025-06 API
  version: v2025-06
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
components:
  parameters:
    CheckoutJourneyId:
      name: X-Checkout-Journey-Id
      in: header
      required: false
      description: |
        Optional non-authorizing checkout journey UUID. Use with
        X-Checkout-Attempt-Id. Capture is disabled by default; malformed or
        incomplete pairs are ignored without changing checkout behavior.
        Cart scope comes from the authenticated cart token, never these headers.
      schema:
        type: string
      example: '00000000-0000-4000-8000-000000000001'
    CheckoutAttemptId:
      name: X-Checkout-Attempt-Id
      in: header
      required: false
      description: |
        Optional customer-submission UUID paired with X-Checkout-Journey-Id.
        Retain it for transport retries and originating continuations; use a new
        UUID for a new customer submission. It does not replace payment or order
        idempotency keys. Invalid pairs are ignored rather than rejecting payment.
      schema:
        type: string
      example: '00000000-0000-4000-8000-000000000011'
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
  schemas:
    AgreementAcceptance:
      type: object
      description: One recorded acceptance of an agreement, with the agreement text as it stood when accepted.
      properties:
        id:
          type: integer
          description: The acceptance record's ID.
        agreement_id:
          type: integer
          description: The accepted agreement's ID.
        title:
          type:
          - string
          - 'null'
          description: The agreement's current title.
        required:
          type: boolean
          description: Whether the agreement was required when it was accepted.
        accepted_at:
          type: string
          format: date-time
          description: When the agreement was accepted.
        acceptance_context:
          type: string
          enum: [checkout, company_onboarding, enrollment, login]
          description: Where the agreement was accepted.
        acceptance_method:
          type: string
          enum: [customer, agent_confirmed]
          description: >-
            How the agreement was accepted. `customer` means the customer accepted it directly.
            `agent_confirmed` means an admin placing the order confirmed the customer's agreement on
            their behalf.
        order_id:
          type:
          - integer
          - 'null'
          description: The order the agreement was accepted with, or null when it was accepted outside an order (at login or company onboarding).
        content_snapshot:
          type:
          - string
          - 'null'
          description: The agreement's HTML as it stood when accepted.
      required:
      - id
      - agreement_id
      - title
      - required
      - accepted_at
      - acceptance_context
      - acceptance_method
      - order_id
    MemberDetail:
      type: object
      description: The member detail (admin view). Key identity and profile fields are enumerated; the admin
        view also returns additional fields (addresses, payment_methods, sponsor, placement, member_type,
        rank, points, orders_count, total_spent_in_base, notes).
      properties:
        id:
          type: string
          description: The member's native UUID.
        email:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        username:
          type:
          - string
          - 'null'
        first_name:
          type: string
        last_name:
          type: string
        member_type_slug:
          type:
          - string
          - 'null'
        activity_status:
          type: string
        legacy_user_company_id:
          type:
          - integer
          - 'null'
        legacy_customer_id:
          type:
          - integer
          - 'null'
        phone:
          type:
          - string
          - 'null'
        external_id:
          type:
          - string
          - 'null'
        dob:
          type:
          - string
          - 'null'
          format: date
          description: "Date of birth from the member's linked user record. API-only \u2014 not included in\
            \ member webhook payloads."
        country_code:
          type:
          - string
          - 'null'
        language_code:
          type:
          - string
          - 'null'
        metadata:
          type:
          - object
          - 'null'
        tax_exempt:
          type: boolean
        sales_tax_id:
          type:
          - string
          - 'null'
        email_marketing:
          type: boolean
        sms_marketing:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Meta:
      type: object
      properties:
        request_id:
          type: [string, 'null']
        timestamp:
          type: string
          format: date-time
        pagination:
          type: object
          description: >-
            Rotulus cursor-pagination metadata (Api::MetaPagination#to_h),
            present on cursor-paginated responses such as
            GET /api/v2025-06/prices. total_count is only present when the
            endpoint opts into a total count.
          properties:
            cursor:
              type: [string, 'null']
            limit:
              type: integer
            prev_cursor:
              type: [string, 'null']
            next_cursor:
              type: [string, 'null']
            total_count:
              type: integer
    ManagedMemberType:
      type: object
      description: A company member type retained for management and historical display, including archived rows.
      required: [id, name, slug, system_defined, rep_eligible, archived_at, pricing_tier]
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        system_defined:
          type: boolean
        rep_eligible:
          type: boolean
        archived_at:
          type: [string, 'null']
          format: date-time
          description: The archival timestamp, or null while the member type is active.
        pricing_tier:
          description: >-
            The pricing tier this member type prices at, nested so a picker can be
            rendered without a second round trip. Null is meaningful and distinct
            from "unpriced": an unlinked member type falls back to the company's
            Retail tier.
          anyOf:
          - $ref: '#/components/schemas/PricingTier'
          - type: 'null'
    ManagedMemberTypeResponse:
      type: object
      required: [member_type, status, meta]
      additionalProperties: false
      properties:
        member_type:
          $ref: '#/components/schemas/ManagedMemberType'
        status:
          type: integer
        meta:
          $ref: '#/components/schemas/Meta'
    ManagedMemberTypesResponse:
      type: object
      required: [member_types, status, meta]
      additionalProperties: false
      properties:
        member_types:
          type: array
          items:
            $ref: '#/components/schemas/ManagedMemberType'
        status:
          type: integer
          const: 200
        meta:
          $ref: '#/components/schemas/Meta'
    ManagedMemberTypeUnauthorizedResponse:
      type: object
      required: [message]
      additionalProperties: false
      properties:
        message:
          type: string
    ManagedMemberTypeForbiddenResponse:
      oneOf:
      - type: object
        required: [message]
        additionalProperties: false
        properties:
          message:
            type: string
      - type: object
        required: [error]
        additionalProperties: false
        properties:
          error:
            type: string
    ManagedMemberTypeErrorResponse:
      type: object
      required: [error, status, meta]
      additionalProperties: false
      properties:
        error:
          type: object
          required: [message, details]
          additionalProperties: false
          properties:
            message:
              type: string
            details:
              type: object
        status:
          type: integer
        meta:
          $ref: '#/components/schemas/Meta'
    PricingTier:
      type: object
      description: >-
        A company pricing tier ("Price Type" in the admin UI). Seeded system
        tiers (Retail, Preferred, Wholesale, ...) are always present and can
        be renamed but never archived; custom tiers are admin-created and
        DORMANT -- create is refused with 422 until the company's
        custom_price_types capability is enabled. Catalogs and member types
        both reference tiers with restrict_with_error, so archiving (never
        deleting) is the only removal, and forces reassignment of any
        member type still pointing at the tier.
      required: [id, name, tier_level, system, archived_at, member_type_count]
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        tier_level:
          type: integer
          description: >-
            The tier's ordinal within the company, ascending. Level 0 is the
            company's default (Retail) tier. Names are not unique across
            companies, so this is what distinguishes the seeded tiers.
            Custom tiers always allocate above 99.
        system:
          type: boolean
          description: >-
            True for a platform-seeded tier (tier_level < 100). System tiers
            can be renamed but never archived.
        archived_at:
          type: [string, 'null']
          format: date-time
          description: The archival timestamp, or null while the tier is active.
        member_type_count:
          type: integer
          description: >-
            The number of member types (including archived ones) currently
            pointing at this tier. Archiving with member types assigned
            requires reassign_to_pricing_tier_id.
    PricingTiersResponse:
      type: object
      required: [pricing_tiers, status, meta]
      additionalProperties: false
      properties:
        pricing_tiers:
          type: array
          items:
            $ref: '#/components/schemas/PricingTier'
        status:
          type: integer
          const: 200
        meta:
          $ref: '#/components/schemas/Meta'
    CatalogPriceType:
      type: object
      description: >-
        An active (non-archived) Company::PricingTier as the catalog price read API
        exposes it. `system` mirrors Company::PricingTier#system? (tier_level < 100)
        rather than a stored column.
      required: [id, name, system, tier_level]
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        system:
          type: boolean
        tier_level:
          type: integer
    CatalogPriceMarket:
      type: object
      description: A company market and the currencies its region supports.
      required: [id, name, currency_codes]
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        currency_codes:
          type: array
          items:
            type: string
    CatalogOneTimePrice:
      type: object
      description: >-
        An explicit one-time catalog price row. price is a decimal string at
        the currency's exponent (e.g. "19.99"), matching the money wire
        convention. compare_at_price, cv, and qv are the same format but
        nullable -- present in the response but null when the row carries no
        value for that field.
      required: [price, compare_at_price, cv, qv, points]
      additionalProperties: false
      properties:
        price:
          type: string
          format: decimal
        compare_at_price:
          type: [string, 'null']
          format: decimal
        cv:
          type: [string, 'null']
          format: decimal
        qv:
          type: [string, 'null']
          format: decimal
        points:
          type: integer
    CatalogSubscriptionPrice:
      description: >-
        An explicit subscription catalog price, or a marker that the plan-less
        subscription list exists but carries no row for this variant, meaning the
        price follows the one-time price. See
        features/member-pricing/DECISION-UNSET-SUBSCRIPTION-PRICE.md: a missing
        subscription LIST (not this object at all -- `subscription: null` on the
        row) is a separate, unrelated miss. price is a decimal string at the
        currency's exponent, matching CatalogOneTimePrice; cv and qv are the
        same format but nullable.
      oneOf:
      - type: object
        required: [price, cv, qv]
        additionalProperties: false
        properties:
          price:
            type: string
            format: decimal
          cv:
            type: [string, 'null']
            format: decimal
          qv:
            type: [string, 'null']
            format: decimal
      - type: object
        required: [follows_one_time]
        additionalProperties: false
        properties:
          follows_one_time:
            type: boolean
            const: true
    CatalogPriceVariant:
      type: object
      description: >-
        A variant covered by the request, labeled for the bulk editor -- NOT
        sparse like `rows`, so every variant in scope appears here even when it
        has no explicit catalog price anywhere.
      required: [id, product_id, product_title, title, sku, is_bundle]
      additionalProperties: false
      properties:
        id:
          type: integer
        product_id:
          type: integer
        product_title:
          type: [string, 'null']
        title:
          type: [string, 'null']
        sku:
          type: [string, 'null']
        is_bundle:
          type: boolean
    CatalogPriceRow:
      type: object
      description: One (variant, market, currency, price type) cell.
      required: [variant_id, market_id, currency_code, pricing_tier_id, one_time, subscription]
      additionalProperties: false
      properties:
        variant_id:
          type: integer
        market_id:
          type: string
          format: uuid
        currency_code:
          type: string
        pricing_tier_id:
          type: string
          format: uuid
        one_time:
          anyOf:
          - $ref: '#/components/schemas/CatalogOneTimePrice'
          - type: 'null'
        subscription:
          anyOf:
          - $ref: '#/components/schemas/CatalogSubscriptionPrice'
          - type: 'null'
    CatalogPricesResponse:
      type: object
      description: >-
        Every active price type's explicit catalog prices, across every market and
        currency, for a set of variants. Rows are sparse: a (variant, market,
        currency, price type) cell with nothing explicitly priced produces no row.
      required: [price_types, markets, variants, rows, status, meta]
      additionalProperties: false
      properties:
        price_types:
          type: array
          items:
            $ref: '#/components/schemas/CatalogPriceType'
        markets:
          type: array
          items:
            $ref: '#/components/schemas/CatalogPriceMarket'
        variants:
          type: array
          items:
            $ref: '#/components/schemas/CatalogPriceVariant'
        rows:
          type: array
          items:
            $ref: '#/components/schemas/CatalogPriceRow'
        status:
          type: integer
          const: 200
        meta:
          $ref: '#/components/schemas/Meta'
    PriceCellRequest:
      type: object
      description: >-
        One (variant, market, currency, price type, purchase type) write. A
        pricing_tier_id naming a custom price type writes only the catalog;
        one naming the system Retail or Wholesale tier also writes the
        legacy per-country columns through the phase 009 task 9 path.
        Preferred is always refused -- the editor shows it read-only,
        "Same as Retail". No key outside the ones listed here is accepted;
        an extra key refuses the whole cell.

        A system SUBSCRIPTION cell may carry only price -- compare_at_price,
        cv, qv and points have no subscription-specific storage on the
        legacy columns and are refused (:unsupported_subscription_field)
        rather than silently dropped. A custom subscription cell may carry
        all five; its price list row stores them independently of the
        one-time row.
      required: [variant_id, market_id, currency_code, pricing_tier_id, purchase_type]
      additionalProperties: false
      properties:
        variant_id:
          type: integer
        market_id:
          type: string
          format: uuid
        currency_code:
          type: string
          minLength: 3
          maxLength: 3
          description: >-
            Case-insensitive; normalized to uppercase before it is compared,
            locked, or persisted, so "usd" and "USD" resolve to and write
            the same price list.
        pricing_tier_id:
          type: string
          format: uuid
        purchase_type:
          type: string
          enum: [one_time, subscription]
        price:
          type: [string, number, 'null']
          description: >-
            A decimal amount ("19.99") or a JSON number; required for a
            one_time cell. Must be finite -- NaN and Infinity (including a
            JSON number too large for a double, such as 1e400) are refused
            per cell rather than reaching Money arithmetic -- and must fit
            its destination column: `price_list_prices.price_cents`
            (bigint, custom price types) or `variant_countries.price` /
            `wholesale` (decimal(15,5), system Retail/Wholesale). A finite
            but oversized amount (1e100) is refused the same way, per cell.
            Required for a one_time cell; on a subscription cell, omitting
            the key leaves the row's current price alone (refused if no
            row exists yet, since there is then nothing to leave alone).
            An explicit null, or exactly 0, removes a custom price type's
            subscription price, or writes a system tier's legacy "unset"
            value -- both read as "follows the one-time price" (decision
            option 1: 0 means unset, the same rule as a blank price).
        compare_at_price:
          type: [string, number, 'null']
          description: >-
            Must be finite, and fit its destination column (see price).
            Omitting the key leaves the row's current value alone (a new
            custom row starts with no compare price). An explicit null
            clears it to no compare price.
        cv:
          type: [string, number, 'null']
          description: >-
            Must be finite, and fit its destination column (see price; a
            system tier's cv/qv are Volume cents, bigint, not the
            decimal(15,5) price columns). Omitting the key leaves the
            row's current value alone (a new custom row starts at zero).
            An explicit null clears it to zero -- the storage has no other
            "cleared" state, including on a system Wholesale cell, whose
            legacy `pc_cv` column is otherwise nullable.
        qv:
          type: [string, number, 'null']
          description: >-
            Must be finite, and fit its destination column (see cv).
            Omitting the key leaves the row's current value alone (a new
            custom row starts at zero). An explicit null clears it to zero
            -- the storage has no other "cleared" state, including on a
            system Wholesale cell, whose legacy `pc_qv` column is
            otherwise nullable.
        points:
          type: [string, number, 'null']
          description: >-
            Omitting the key leaves the row's current value alone (a new
            custom row starts at zero). An explicit null clears it to zero.
            Must be a non-negative whole number (a decimal string is
            accepted but its value must have no fractional part) that fits
            a 32-bit integer; a fractional or out-of-range value is refused
            (:invalid_points), never truncated.
    PricesWriteRequest:
      type: object
      required: [cells]
      additionalProperties: false
      properties:
        cells:
          type: array
          minItems: 1
          maxItems: 500
          items:
            $ref: '#/components/schemas/PriceCellRequest'
    PricesWriteResponse:
      type: object
      required: [written_count, status, meta]
      additionalProperties: false
      properties:
        written_count:
          type: integer
          description: The number of cells written; always every cell in the request, since a batch with any refused cell writes nothing.
        status:
          type: integer
          const: 200
        meta:
          $ref: '#/components/schemas/Meta'
    PricesUnauthorizedResponse:
      type: object
      required: [message]
      additionalProperties: false
      properties:
        message:
          type: string
    PricesForbiddenResponse:
      oneOf:
      - type: object
        required: [message]
        additionalProperties: false
        properties:
          message:
            type: string
      - type: object
        required: [error]
        additionalProperties: false
        properties:
          error:
            type: string
    PricesErrorResponse:
      type: object
      description: A whole-request refusal with no per-cell breakdown (an empty or oversized cells array, or lock contention).
      required: [error, status, meta]
      additionalProperties: false
      properties:
        error:
          type: object
          required: [message, details]
          additionalProperties: false
          properties:
            message:
              type: string
            details:
              type: object
        status:
          type: integer
        meta:
          $ref: '#/components/schemas/Meta'
    PriceCellError:
      type: object
      description: >-
        One refused cell, echoing the request fields it was sent with so a
        caller can report the refusal without re-reading its own request.
      required: [index, variant_id, market_id, currency_code, pricing_tier_id, purchase_type, fields, messages]
      additionalProperties: false
      properties:
        index:
          type: integer
          description: The cell's position in the request's cells array.
        variant_id:
          type: [integer, 'null']
        market_id:
          type: [string, 'null']
        currency_code:
          type: [string, 'null']
        pricing_tier_id:
          type: [string, 'null']
        purchase_type:
          type: [string, 'null']
        fields:
          type: array
          description: >-
            The wire field(s) this refusal is about -- any of "price",
            "compare_at_price", "cv", "qv", "points" -- so the editor can
            highlight the exact input instead of every field in the cell.
            Empty when the refusal concerns the whole cell (an archived or
            cross-tenant price type, an unresolved variant/market/tier,
            a market that is not 1:1 with a legacy country). An array
            rather than a single nullable field because
            :unsupported_subscription_field can legitimately name more than
            one.
          items:
            type: string
            enum: [price, compare_at_price, cv, qv, points]
        messages:
          type: array
          items:
            type: string
    PricesCellsInvalidResponse:
      type: object
      description: At least one cell was refused; nothing in the request was written.
      required: [error, errors, status, meta]
      additionalProperties: false
      properties:
        error:
          type: object
          required: [message, details]
          additionalProperties: false
          properties:
            message:
              type: string
            details:
              type: object
        errors:
          type: array
          items:
            $ref: '#/components/schemas/PriceCellError'
        status:
          type: integer
        meta:
          $ref: '#/components/schemas/Meta'
    PricingTierResponse:
      type: object
      required: [pricing_tier, status, meta]
      additionalProperties: false
      properties:
        pricing_tier:
          $ref: '#/components/schemas/PricingTier'
        status:
          type: integer
        meta:
          $ref: '#/components/schemas/Meta'
    PricingTierCloneStats:
      type: object
      description: >-
        Counts from cloning explicit prices into the newly created tier
        (PLAN-ADMIN-PRICE-TYPES.md P5). Only explicit price_list_prices rows
        are copied -- never a source list's blanket adjustment, and never
        quantity price breaks or rules.
      required: [copied_prices, created_price_lists, unpriced_variants, skipped_quantity_price_breaks]
      additionalProperties: false
      properties:
        copied_prices:
          type: integer
          description: Explicit price rows inserted on the new tier.
        created_price_lists:
          type: integer
          description: >-
            Plan-scoped price lists created on the new tier because no
            matching list existed yet (currency + purchase_type lists are
            already seeded by creation itself).
        unpriced_variants:
          type: integer
          description: >-
            Source rows that priced a variant only through a one-time price
            list's blanket adjustment, so they had no explicit row to copy
            and are left unpriced on the new tier.
        skipped_quantity_price_breaks:
          type: integer
          description: >-
            Quantity price breaks on the source's catalogs, none of which
            are copied -- surfaced so an admin can see what did not carry
            over.
    PricingTierCreateResponse:
      type: object
      required: [pricing_tier, status, meta]
      additionalProperties: false
      properties:
        pricing_tier:
          $ref: '#/components/schemas/PricingTier'
        clone:
          $ref: '#/components/schemas/PricingTierCloneStats'
        status:
          type: integer
        meta:
          $ref: '#/components/schemas/Meta'
    MemberGenealogyNode:
      type: object
      required:
      - id
      - member_type
      - first_name
      - last_name
      - email
      - phone
      - join_date
      - active
      - rank
      - user_company_id
      - customer_id
      - has_children
      - downline
      properties:
        id:
          type: string
          format: uuid
        member_type:
          type: string
        first_name:
          type: [string, 'null']
        last_name:
          type: [string, 'null']
        email:
          type: string
        phone:
          type: [string, 'null']
        join_date:
          type: string
          format: date-time
        active:
          type: boolean
        rank:
          type: [string, 'null']
        user_company_id:
          type: [integer, 'null']
        customer_id:
          type: [integer, 'null']
        has_children:
          type: boolean
        downline:
          type: array
          items:
            $ref: '#/components/schemas/MemberGenealogyNode'
    BrandFont:
      type: object
      required: [name, file_url]
      properties:
        name:
          type: string
        file_url:
          type: string
        file_id:
          type: [integer, 'null']
        format:
          type: [string, 'null']
        weight:
          type: [string, 'null']
        style:
          type: [string, 'null']
        role:
          type: [string, 'null']
    ErrorResponse:
      type: object
      required: [error_message, errors, meta]
      properties:
        error_message:
          type: string
        errors:
          $ref: '#/components/schemas/ErrorBag'
        meta:
          $ref: '#/components/schemas/Meta'
    DiscountResource:
      type: object
      properties:
        id:
          description: 'Discount id.'
          type: integer
        name:
          description: 'Same value as code.'
          type: string
        code:
          description: 'The code shoppers enter at checkout. Matching is case-insensitive.'
          type: string
        price_discount_type:
          description: 'What the code gives. `percentage`: takes percentage_value percent off each matching line. `flat`: takes flat_value off (see flat_value). `free_product`: adds the variants in free_variant_ids to the cart at no charge. `free_shipping`: waives shipping on the cart. `free_enrollment_pack`: makes the lines added from the packs in free_enrollment_pack_ids free. For stacking, `free_shipping` counts as a shipping discount and every other type counts as a product discount.'
          type: string
          enum: [flat, percentage, free_product, free_shipping, free_enrollment_pack]
        price_discount_amount:
          description: 'For `flat` discounts, flat_value truncated to a whole number; flat_value itself is not returned. 0 for other types.'
          type: integer
        price_discount_percent:
          description: 'For `percentage` discounts, percentage_value as a number. 0 for other types.'
          type: number
        percentage_value:
          description: 'Percent off as a decimal string, for example `10.0`. Meaningful only for `percentage` discounts.'
          type: [string, 'null']
        source:
          description: 'Who manages the discount. `promo`: a merchant promo code that shoppers can enter. `droplet`: created by a droplet and not redeemable at customer checkout. `manual`: a one-off discount an admin applied to a cart; the list endpoint never returns these.'
          type: string
          enum: [promo, manual, droplet]
        value_managed_by_droplet:
          description: 'True when a droplet computes the real discount amount at cart time.'
          type: boolean
        reason:
          description: 'Note recorded with a `manual` discount, where it is required.'
          type: [string, 'null']
        created_by:
          description: 'The admin who created the discount. Null when the creator is unknown or has no legacy company membership id.'
          type: [object, 'null']
          properties:
            id:
              description: 'The creator''s legacy company membership id. This is not a user id or an admin id.'
              type: integer
            full_name:
              description: 'The admin''s full name.'
              type: [string, 'null']
        active:
          description: 'Whether the code is turned on.'
          type: boolean
        automatic:
          description: 'Whether the discount applies to eligible carts without a code.'
          type: boolean
        applicable_for:
          description: 'Which cart lines the discount targets. `everything`, `specific_products`, `except_specific_products`, `specific_collections`, `specific_enrollment_packs`, or `except_specific_enrollment_packs`; see the request field of the same name. Null for `manual` discounts.'
          type: [string, 'null']
          enum:
          - everything
          - specific_products
          - specific_collections
          - except_specific_products
          - specific_enrollment_packs
          - except_specific_enrollment_packs
          - null
        apply_only_once:
          description: 'Whether a `flat` discount applies only to the first matching line.'
          type: [boolean, 'null']
        apply_to_subscriptions:
          description: 'Whether lines bought as a subscription are discounted.'
          type: boolean
        apply_to_recurring_subscription_orders:
          description: 'Whether the discount also lowers the price of later recurring orders for subscriptions bought in the cart.'
          type: boolean
        apply_to_volume:
          description: 'Whether the discount lowers each discounted line''s CV and QV in proportion to the amount taken off.'
          type: boolean
        country_filter:
          description: '`apply_all`, `apply_some` (only the listed countries), or `exclude_some` (every country except the listed ones). The countries are in eligible_country_ids.'
          type: [string, 'null']
        customer_filter:
          description: 'Who can use the code: `all_customers`, `specific_customer_segment`, `specific_customers`, `first_time_customers`, or `csv_uploaded_customers`. See the request field of the same name.'
          type: [string, 'null']
        shipping_method_filter:
          description: '`apply_all_methods` or `apply_some_methods` (only the methods in eligible_shipping_method_ids). Affects `free_shipping` discounts only.'
          type: [string, 'null']
        purchase_requirement:
          description: '`no_minimum_required`, `minimum_purchase_amount`, `minimum_purchase_quantity`, or `minimum_volume`. See the request field of the same name.'
          type: [string, 'null']
        purchase_requirement_applies_to_whole_cart:
          description: 'Whether the purchase minimum is measured on the whole cart (true) or per line or collection (false). A minimum quantity on a `specific_collections` discount is always measured per collection. See the request field of the same name.'
          type: boolean
        has_end_date:
          description: 'Whether the discount has an end. False or null means it never ends.'
          type: [boolean, 'null']
        start_date_time:
          description: 'When the discount starts, in UTC.'
          type: [string, 'null']
          format: date-time
        end_date_time:
          description: 'When the discount ends, in UTC. Null when it has no end.'
          type: [string, 'null']
          format: date-time
        start_date:
          description: 'Start date as YYYY-MM-DD, in time_zone.'
          type: [string, 'null']
        start_time:
          description: 'Start time in time_zone, in 24-hour HH:MM format. Requests take 12-hour time with AM or PM.'
          type: [string, 'null']
        end_date:
          description: 'End date as YYYY-MM-DD, in time_zone. Null when it has no end.'
          type: [string, 'null']
        end_time:
          description: 'End time in time_zone, in 24-hour HH:MM format. Null when it has no end.'
          type: [string, 'null']
        time_zone:
          description: 'Time zone for start_date, start_time, end_date, and end_time. Null means UTC.'
          type: [string, 'null']
        discount_type:
          description: '`shipping_discount` for `free_shipping` discounts and `product_discount` for every other type. other_product_discounts and other_shipping_discounts refer to these groups.'
          type: string
          enum: [product_discount, shipping_discount]
        description:
          type: [string, 'null']
          maxLength: 1000
          description: Merchant-only note about the promo code. Never shown to shoppers.
        total_usage:
          description: 'Number of completed checkouts that used the discount. When limit_usage_of_code is true, the code stops working once this reaches customer_usage_limit.'
          type: integer
        free_variant_ids:
          description: 'Variants a `free_product` discount adds to the cart at no charge.'
          type: array
          items:
            type: integer
        free_enrollment_pack_ids:
          description: 'Enrollment packs whose lines a `free_enrollment_pack` discount makes free.'
          type: array
          items:
            type: integer
        waive_enrollment_fee:
          description: 'Whether a `free_enrollment_pack` discount also waives the enrollment fee.'
          type: boolean
        applicable_product_ids:
          description: 'The discount''s product list. Returns the same list as inapplicable_product_ids and product_ids; read applicable_for to know whether these products are included or excluded.'
          type: array
          items:
            type: integer
        inapplicable_product_ids:
          description: 'The discount''s product list. Returns the same list as applicable_product_ids and product_ids; read applicable_for to know whether these products are included or excluded.'
          type: array
          items:
            type: integer
        applicable_collection_ids:
          description: 'Collections targeted when applicable_for is `specific_collections`. Same list as collection_ids.'
          type: array
          items:
            type: integer
        applicable_enrollment_pack_ids:
          description: 'Enrollment packs targeted when applicable_for is `specific_enrollment_packs`. Empty for any other applicable_for.'
          type: array
          items:
            type: integer
        inapplicable_enrollment_pack_ids:
          description: 'Enrollment packs excluded when applicable_for is `except_specific_enrollment_packs`. Empty for any other applicable_for.'
          type: array
          items:
            type: integer
        collection_ids:
          description: 'Same list as applicable_collection_ids.'
          type: array
          items:
            type: integer
        product_ids:
          description: 'Same list as applicable_product_ids.'
          type: array
          items:
            type: integer
        customer_ids:
          description: 'Same list as eligible_customer_ids.'
          type: array
          items:
            type: integer
        country_codes:
          description: 'ISO country codes of the countries in eligible_country_ids.'
          type: array
          items:
            type: string
        eligible_customer_ids:
          description: 'Customers who can use the code when customer_filter is `specific_customers`. Same list as customer_ids.'
          type: array
          items:
            type: integer
        csv_uploaded_customer_emails:
          description: 'Lowercased email addresses that can use the code when customer_filter is `csv_uploaded_customers`. Set with the customer_emails request field. Not returned by the list endpoint.'
          type: array
          items:
            type: string
        eligible_country_ids:
          description: 'The discount''s country list. Returns the same list as ineligible_country_ids; read country_filter to know whether these countries are included or excluded.'
          type: array
          items:
            type: integer
        ineligible_country_ids:
          description: 'The discount''s country list. Returns the same list as eligible_country_ids; read country_filter to know whether these countries are included or excluded.'
          type: array
          items:
            type: integer
        eligible_shipping_method_ids:
          description: 'Shipping methods a `free_shipping` discount waives when shipping_method_filter is `apply_some_methods`.'
          type: array
          items:
            type: integer
        eligible_customer_segments:
          description: 'Segments that can use the code when customer_filter is `specific_customer_segment`: `user` (a rep), `customer` (a signed-in customer), or `guest`.'
          type: array
          items:
            type: string
        minimum_purchase_requirement_amount:
          description: 'Minimum subtotal for `minimum_purchase_amount`, in the base currency (USD). 0 when not set.'
          type: number
        minimum_purchase_requirement_amount_max:
          description: 'Maximum subtotal for `minimum_purchase_amount`, in the base currency (USD). Null or 0 means no ceiling.'
          type: [number, 'null']
        minimum_purchase_requirement_quantity:
          description: 'Minimum number of items for `minimum_purchase_quantity`. 0 when not set.'
          type: integer
        minimum_cv:
          description: 'Minimum cart CV, enrollment-pack CV included, when purchase_requirement is `minimum_volume`.'
          type: [integer, 'null']
        maximum_cv:
          description: 'Inclusive maximum cart CV when purchase_requirement is `minimum_volume`. Null or 0 means no ceiling.'
          type: [integer, 'null']
        customer_usage_limit:
          description: 'The total number of uses allowed across all customers (the use_limit request field), not a per-customer limit. Enforced only when limit_usage_of_code is true.'
          type: integer
        minimum_amount_cents:
          description: 'Despite the name, minimum_purchase_requirement_amount truncated to whole units of the base currency (USD), not cents. 0 when not set.'
          type: integer
        limit_usage_of_code:
          description: 'Whether total uses across all customers are capped at customer_usage_limit.'
          type: boolean
        limit_usage_per_customer:
          description: 'Whether each email address can use the code only once.'
          type: boolean
        other_shipping_discounts:
          description: 'Whether this code can share a cart with `free_shipping` discounts.'
          type: boolean
        other_product_discounts:
          description: 'Whether this code can share a cart with product discounts (every type except `free_shipping`).'
          type: boolean
        created_at:
          description: 'When the discount was created.'
          type: string
          format: date-time
        updated_at:
          description: 'When the discount was last changed.'
          type: string
          format: date-time
    UnauthorizedResponse:
      type: object
      properties:
        message:
          type: string
        error_message:
          type: string
        errors:
          $ref: '#/components/schemas/ErrorBag'
        meta:
          $ref: '#/components/schemas/Meta'
    UpdateFeatureFlagsRequestBodyApplicationJsonSchema:
      type: [object, 'null']
      properties:
        flags:
          type: [object, 'null']
          additionalProperties:
            type: [boolean, 'null']
    CreateFeatureFlagRequestBodyApplicationJsonSchema:
      type: [object, 'null']
      properties:
        flag_name:
          type: [string, number, integer, 'null']
    BulkUpdatePageStatusesApiRequestBodyApplicationJsonSchema:
      type: [object, 'null']
      properties:
        status:
          type: [string, number, integer, 'null']
          description: Set the status of the page(s) or 'delete' to perform soft deletion
        page_ids:
          type: [array, 'null']
          items:
            type: [integer, string, number, 'null']
          description: IDs of pages to update
      description: Bulk update request payload
    PatchApiV202506PaymentsCancelByOrderTokenRequestBodyApplicationJsonSchema:
      type: [object, 'null']
      properties:
        amount:
          type: [number, string, integer, 'null']
          description: 'Amount to cancel in dollars (e.g., 10.99). If not provided, automatically fetches remaining authorized amount from Bread. '
        currency_code:
          type: [string, number, integer, 'null']
          description: Currency code for the cancellation. Defaults to order currency if not provided.
    PostApiV202506PaymentsSettleRequestBodyApplicationJsonSchema:
      type: [object, 'null']
      properties:
        order_token:
          type: [string, number, integer, 'null']
          description: token of the existing order
        order_id:
          type: [string, number, integer, 'null']
          description: id of the existing order
        amount:
          type: [number, string, integer, 'null']
          description: Amount to settle (defaults to order amount)
        currency_code:
          type: [string, number, integer, 'null']
          description: Currency code for the settle amount (defaults to order currency)
    PostApiV202506PaymentsTokenizeCardRequestBodyApplicationJsonSchema:
      type: [object, 'null']
      properties:
        credit_card:
          type: [object, 'null']
          properties:
            first_name:
              type: [string, number, integer, 'null']
            last_name:
              type: [string, number, integer, 'null']
            number:
              type: [string, number, integer, 'null']
            verification_value:
              type: [string, number, integer, 'null']
            month:
              type: [string, number, integer, 'null']
            year:
              type: [string, number, integer, 'null']
            email:
              type: [string, number, integer, 'null']
    PostApiV202506PaymentsByPaymentAccountIdResponse201ApplicationJsonSchema:
      type: object
      properties:
        payment:
          title: Payment
          type: object
          properties:
            id:
              type: integer
            uuid:
              type: string
            action:
              type: string
            status:
              type: string
            payment_account:
              type: integer
            cart_token:
              type: [string, 'null']
          additionalProperties: false
        meta:
          $ref: '#/components/schemas/Meta'
      additionalProperties: false
    PostApiV202506PaymentsByPaymentAccountIdRequestBodyApplicationJsonSchema:
      type: [object, 'null']
      properties:
        cart_token:
          type: [string, number, integer, 'null']
        payment_method:
          type: [object, 'null']
          properties:
            integration_class:
              type: [string, number, integer, 'null']
            source:
              type: [string, number, integer, 'null']
    CreateProductComplianceRequestBodyApplicationJsonSchema:
      type: [object, 'null']
      properties:
        compliance:
          type: [object, 'null']
          properties:
            service:
              type: [string, number, integer, 'null']
            score:
              type: [number, string, integer, 'null']
              minimum: 0
              maximum: 10
            summary:
              type: [string, number, integer, 'null']
            scanned_at:
              type: [string, number, integer, 'null']
              format: date-time
            compliance_issues_attributes:
              type: [array, 'null']
              items:
                type: [object, 'null']
                properties:
                  issue_text:
                    type: [string, number, integer, 'null']
                  issue_reference:
                    type: [string, number, integer, 'null']
                  issue_type:
                    type: [string, number, integer, 'null']
                  severity:
                    type: [string, number, integer, 'null']
                  recommendation:
                    type: [string, number, integer, 'null']
    UpdateProductComplianceRequestBodyApplicationJsonSchema:
      type: [object, 'null']
      properties:
        compliance:
          type: [object, 'null']
          properties:
            score:
              type: [number, string, integer, 'null']
              minimum: 0
              maximum: 10
            summary:
              type: [string, number, integer, 'null']
            scanned_at:
              type: [string, number, integer, 'null']
              format: date-time
    PatchApiV202506TrainingsByIdRequestBodyApplicationJsonSchema:
      type: [object, 'null']
      properties:
        training:
          type: [object, 'null']
          properties:
            user_id:
              type: [integer, string, number, 'null']
            image_url:
              type: [string, 'null', number, integer]
            video_url:
              type: [string, 'null', number, integer]
            pdf_url:
              type: [string, 'null', number, integer]
            powerpoint_url:
              type: [string, number, integer, 'null']
              minLength: 1
            title:
              type: [string, number, integer, 'null']
              minLength: 1
            description:
              type: [string, 'null', number, integer]
            active:
              type: [boolean, 'null']
              not:
                type: [string, 'null']
            compressed_image_url:
              type: [string, number, integer, 'null']
              minLength: 1
            prompts_enabled:
              type: [boolean, 'null']
              not:
                type: [string, 'null']
            kind:
              type: [string, number, integer, 'null']
              minLength: 1
            visibility:
              type: [string, number, integer, 'null']
              minLength: 1
            cta_enabled:
              type: [boolean, 'null']
              not:
                type: [string, 'null']
            cta_action_type:
              type: [string, number, integer, 'null']
              minLength: 1
            cta_url:
              type: [string, 'null', number, integer]
            cta_button_text:
              type: [string, number, integer, 'null']
              minLength: 1
            slug:
              type: [string, 'null', number, integer]
            custom_slug:
              type: [boolean, 'null']
              not:
                type: [string, 'null']
            no_index:
              type: [boolean, 'null']
              not:
                type: [string, 'null']
            display_comments:
              type: [boolean, 'null']
              not:
                type: [string, 'null']
            category:
              type: [string, number, integer, 'null']
              minLength: 1
            display_shop:
              type: [boolean, 'null']
              not:
                type: [string, 'null']
            dam_asset_id:
              type: [integer, string, number, 'null']
            dam_asset_code:
              type: [string, number, integer, 'null']
              minLength: 1
            lead_capture:
              type: [boolean, 'null']
              not:
                type: [string, 'null']
            video_shopping_enabled:
              type: [boolean, 'null']
              not:
                type: [string, 'null']
            application_theme_template_id:
              type: [integer, string, number, 'null']
            publish_at:
              type: [string, 'null', number, integer]
              format: time
            settings:
              type: [object, 'null']
              properties:
                player:
                  type: [object, 'null']
                  properties:
                    primary_color:
                      type: [string, number, integer, 'null']
                      minLength: 1
                    button_border_radius:
                      type: [string, number, integer, 'null']
                      minLength: 1
                    control_bar_height:
                      type: [string, number, integer, 'null']
                      minLength: 1
                    progress_color:
                      type: [string, number, integer, 'null']
                      minLength: 1
                    volume_color:
                      type: [string, number, integer, 'null']
                      minLength: 1
                    show_controls:
                      type: [boolean, 'null']
                      not:
                        type: [string, 'null']
                    autoplay:
                      type: [boolean, 'null']
                      not:
                        type: [string, 'null']
                    loop:
                      type: [boolean, 'null']
                      not:
                        type: [string, 'null']
                    muted:
                      type: [boolean, 'null']
                      not:
                        type: [string, 'null']
                    preload:
                      type: [string, number, integer, 'null']
                      minLength: 1
                    playback_rates:
                      type: [string, number, integer, 'null']
                      minLength: 1
                    show_remaining_time:
                      type: [boolean, 'null']
                      not:
                        type: [string, 'null']
                    responsive:
                      type: [boolean, 'null']
                      not:
                        type: [string, 'null']
                    fluid:
                      type: [boolean, 'null']
                      not:
                        type: [string, 'null']
                embed:
                  type: [object, 'null']
                  properties:
                    behavior:
                      type: [string, number, integer, 'null']
                      minLength: 1
                    responsive:
                      type: [boolean, 'null']
                      not:
                        type: [string, 'null']
                    width:
                      type: [string, number, integer, 'null']
                      minLength: 1
                    height:
                      type: [string, number, integer, 'null']
                      minLength: 1
                    show_controls:
                      type: [boolean, 'null']
                      not:
                        type: [string, 'null']
                    autoplay:
                      type: [boolean, 'null']
                      not:
                        type: [string, 'null']
                    loop:
                      type: [boolean, 'null']
                      not:
                        type: [string, 'null']
                cta:
                  type: [object, 'null']
                  properties:
                    enabled:
                      type: [boolean, 'null']
                      not:
                        type: [string, 'null']
                    type:
                      type: [string, number, integer, 'null']
                      minLength: 1
                    url:
                      type: [string, 'null', number, integer]
                    button_description:
                      type: [string, 'null', number, integer]
                    button_text:
                      type: [string, number, integer, 'null']
                      minLength: 1
                    button_color:
                      type: [string, number, integer, 'null']
                      minLength: 1
                fair_share:
                  type: [object, 'null']
                  properties:
                    bg_color:
                      type: [string, number, integer, 'null']
                      minLength: 1
                    rep_name:
                      type: [string, number, integer, 'null']
                      minLength: 1
                    rep_avatar:
                      type: [string, number, integer, 'null']
                      minLength: 1
                    message:
                      type: [string, number, integer, 'null']
                      minLength: 1
                live_chat:
                  type: [object, 'null']
                  properties:
                    enabled:
                      type: [boolean, 'null']
                      not:
                        type: [string, 'null']
                    color:
                      type: [string, number, integer, 'null']
                      minLength: 1
                    welcome_message:
                      type: [string, number, integer, 'null']
                      minLength: 1
                thumbnail:
                  type: [object, 'null']
                  properties:
                    show_title:
                      type: [boolean, 'null']
                      not:
                        type: [string, 'null']
                    show_description:
                      type: [boolean, 'null']
                      not:
                        type: [string, 'null']
                seo:
                  type: [object, 'null']
                  properties:
                    title:
                      type: [string, number, integer, 'null']
                      minLength: 1
                    description:
                      type: [string, number, integer, 'null']
                      minLength: 1
                    image_url:
                      type: [string, number, integer, 'null']
                      minLength: 1
                    image_path:
                      type: [string, number, integer, 'null']
                      minLength: 1
                    block_crawler:
                      type: [boolean, 'null']
                      not:
                        type: [string, 'null']
            label:
              type: [object, 'null']
              properties:
                id:
                  type: [integer, string, number, 'null']
                title:
                  type: [string, number, integer, 'null']
                  minLength: 1
            subtitles:
              type: [array, 'null']
              items:
                type: [object, 'null']
                properties:
                  lang:
                    type: [string, number, integer, 'null']
                    minLength: 1
                  src:
                    type: [string, number, integer, 'null']
                    minLength: 1
            available_countries:
              type: [array, 'null']
              items:
                type: [string, number, integer, 'null']
            tags_attributes:
              type: [array, 'null']
              items:
                type: [object, 'null']
                properties:
                  id:
                    type: [integer, string, number, 'null']
                  _destroy:
                    type: [boolean, 'null']
                    not:
                      type: [string, 'null']
                  name:
                    type: [string, number, integer, 'null']
                    minLength: 1
            prompts_attributes:
              type: [array, 'null']
              items:
                type: [object, 'null']
                properties:
                  id:
                    type: [integer, string, number, 'null']
                  title:
                    type: [string, number, integer, 'null']
                    minLength: 1
                  content:
                    type: [string, number, integer, 'null']
                    minLength: 1
                  _destroy:
                    type: [boolean, 'null']
                    not:
                      type: [string, 'null']
            attached_shareables_attributes:
              type: [array, 'null']
              items:
                type: [object, 'null']
                properties:
                  id:
                    type: [integer, string, number, 'null']
                  attachment_type:
                    type: [string, number, integer, 'null']
                    minLength: 1
                  attachment_id:
                    type: [integer, string, number, 'null']
                  timestamp:
                    type: [string, number, integer, 'null']
                    minLength: 1
                  _destroy:
                    type: [boolean, 'null']
                    not:
                      type: [string, 'null']
    CreateUserInvalidRoleRequestBodyApplicationJsonSchema:
      type: [object, 'null']
      properties:
        country_code:
          type: [string, number, integer, 'null']
        language_code:
          type: [string, number, integer, 'null']
        user:
          type: [object, 'null']
          properties:
            email:
              type: [string, number, integer, 'null']
            first_name:
              type: [string, number, integer, 'null']
            last_name:
              type: [string, number, integer, 'null']
            password:
              type: [string, number, integer, 'null']
            avatar:
              type: [string, number, integer, 'null']
            phone:
              type: [string, number, integer, 'null']
            google_id:
              type: [string, number, integer, 'null']
            bio:
              type: [string, number, integer, 'null']
            facebook:
              type: [string, number, integer, 'null']
            instagram:
              type: [string, number, integer, 'null']
            twitter:
              type: [string, number, integer, 'null']
            linkedin:
              type: [string, number, integer, 'null']
            whatsapp:
              type: [string, number, integer, 'null']
            wechat:
              type: [string, number, integer, 'null']
            youtube:
              type: [string, number, integer, 'null']
            zip_code:
              type: [string, number, integer, 'null']
            dob:
              type: [string, number, integer, 'null']
              format: date
            gender:
              type: [string, number, integer, 'null']
            time_zone:
              type: [string, number, integer, 'null']
            push_notifications:
              type: [boolean, 'null']
            email_notifications:
              type: [boolean, 'null']
            sms_notifications:
              type: [boolean, 'null']
            external_id:
              type: [string, number, integer, 'null']
            username:
              type: [string, number, integer, 'null']
            active:
              type: [boolean, 'null']
            role:
              type: [string, number, integer, 'null']
            admin_roles:
              type: [array, 'null']
              items:
                type: [integer, string, number, 'null']
            affiliate:
              $ref: '#/components/schemas/AdminUserAffiliateRequest'
    UpdateUserInvalidRoleRequestBodyApplicationJsonSchema:
      type: [object, 'null']
      properties:
        user:
          type: [object, 'null']
          properties:
            email:
              type: [string, number, integer, 'null']
            first_name:
              type: [string, number, integer, 'null']
            last_name:
              type: [string, number, integer, 'null']
            avatar:
              type: [string, number, integer, 'null']
            phone:
              type: [string, number, integer, 'null']
            google_id:
              type: [string, number, integer, 'null']
            bio:
              type: [string, number, integer, 'null']
            facebook:
              type: [string, number, integer, 'null']
            instagram:
              type: [string, number, integer, 'null']
            twitter:
              type: [string, number, integer, 'null']
            linkedin:
              type: [string, number, integer, 'null']
            whatsapp:
              type: [string, number, integer, 'null']
            wechat:
              type: [string, number, integer, 'null']
            youtube:
              type: [string, number, integer, 'null']
            zip_code:
              type: [string, number, integer, 'null']
            dob:
              type: [string, number, integer, 'null']
              format: date
            gender:
              type: [string, number, integer, 'null']
            time_zone:
              type: [string, number, integer, 'null']
            push_notifications:
              type: [boolean, 'null']
            email_notifications:
              type: [boolean, 'null']
            sms_notifications:
              type: [boolean, 'null']
            external_id:
              type: [string, number, integer, 'null']
            username:
              type: [string, number, integer, 'null']
            active:
              type: [boolean, 'null']
            rank_id:
              type: [integer, 'null', string, number]
            role:
              type: [string, number, integer, 'null']
            admin_roles:
              type: [array, 'null']
              items:
                type: [integer, string, number, 'null']
            affiliate:
              $ref: '#/components/schemas/AdminUserAffiliateRequest'
    JsonValue:
      description: Any valid JSON value for provider, integration, theme, metadata, or other dynamic payloads whose keys are not fixed by the API contract.
      anyOf:
      - type: string
      - type: number
      - type: boolean
      - type: 'null'
      - type: array
        items:
          $ref: '#/components/schemas/JsonValue'
      - type: object
        additionalProperties:
          $ref: '#/components/schemas/JsonValue'
    ErrorValue:
      description: A validation or API error value.
      anyOf:
      - type: string
      - type: array
        items:
          type: string
      - type: object
        additionalProperties:
          $ref: '#/components/schemas/JsonValue'
    ErrorBag:
      description: Validation errors keyed by field, a list of errors, a single error message, or null when no structured error details are available.
      anyOf:
      - type: string
      - type: array
        items:
          $ref: '#/components/schemas/ErrorValue'
      - type: object
        additionalProperties:
          $ref: '#/components/schemas/ErrorValue'
      - type: 'null'
    ErrorMessage:
      description: An API error message represented as text or structured JSON.
      anyOf:
      - type: string
      - $ref: '#/components/schemas/ErrorBag'
      - type: 'null'
    StandardErrorResponse:
      description: Common legacy error response envelope. Older endpoints may return one or more of these fields depending on the controller path.
      type: object
      properties:
        message:
          type: string
        error:
          $ref: '#/components/schemas/ErrorMessage'
        error_message:
          $ref: '#/components/schemas/ErrorMessage'
        errors:
          $ref: '#/components/schemas/ErrorBag'
        meta:
          $ref: '#/components/schemas/Meta'
      additionalProperties:
        $ref: '#/components/schemas/JsonValue'
    StandardUnauthorizedResponse:
      description: Common legacy unauthorized response envelope.
      allOf:
      - $ref: '#/components/schemas/StandardErrorResponse'
    AmazonConnection:
      description: A company's link to one Amazon Selling Partner account. Never
        exposes the encrypted LWA tokens themselves — only identity, status,
        expiry, and last_error.
      type: object
      properties:
        id:
          type: integer
        selling_partner_id:
          type: string
        display_name:
          type: [string, 'null']
        region:
          type: string
          description: 'The SP-API region the seller authorized through: NA, EU, or FE.'
          enum: [NA, EU, FE]
        marketplace_id:
          type: [string, 'null']
          description: The one Amazon marketplace this connection lists and imports
            in — selected at connect (first participating marketplace) and
            changeable via PATCH.
        marketplace_country_code:
          type: [string, 'null']
        status:
          type: string
          description: pending until the OAuth callback completes; connected once
            live; expired when Amazon rejects the refresh token (the seller
            revoked the authorization in Seller Central); disconnected once the
            admin disconnects (the row persists rather than being deleted).
          enum: [pending, connected, expired, deauthorized, disconnected]
        access_token_expires_at:
          type: [string, 'null']
          format: date-time
          description: LWA access tokens live one hour and are refreshed ahead of
            expiry automatically.
        refresh_token_expires_at:
          type: [string, 'null']
          format: date-time
          description: Always null — LWA refresh tokens do not expire or rotate.
        last_error:
          type: [object, 'null']
        connected_at:
          type: [string, 'null']
          format: date-time
        disconnected_at:
          type: [string, 'null']
          format: date-time
    AmazonProductListing:
      description: A Fluid product's Amazon offer set. There is no product-level
        Amazon listing id — Amazon's listing identity is per SKU, and each
        variant's ASIN lives on its SKU mapping — so failures (including a named
        Listings Restrictions block) surface here via status and last_error.
      type: object
      properties:
        id:
          type: integer
        product_id:
          type: integer
        product_title:
          type: [string, 'null']
          description: The product's title, read from Fluid's current catalog
            record for the listing's product_id; null if that product has
            since been discarded.
        amazon_product_type:
          type: [string, 'null']
          description: The Amazon productType the offers were published under,
            resolved from the Catalog Items API at first publish.
        status:
          type: string
          description: draft until the first publish attempt; pending once Amazon
            accepts the offer submissions (Amazon processes them asynchronously);
            seller_deactivated once unpublished; publish_failed when a pre-flight
            or Amazon rejected the publish; deleted for a locally-removed draft.
          enum:
          - draft
          - pending
          - active
          - seller_deactivated
          - platform_deactivated
          - frozen
          - publish_failed
          - deleted
        audit_status:
          type: [string, 'null']
          description: Null in this phase — Amazon's listing gate (Listings
            Restrictions) is a pre-flight answered before publish, not a
            post-publish review state.
          enum: [auditing, pre_approved, approved, audit_failed, null]
        last_published_at:
          type: [string, 'null']
          format: date-time
        last_synced_at:
          type: [string, 'null']
          format: date-time
        last_error:
          type: [object, 'null']
    AmazonOrder:
      description: The raw Amazon order envelope plus Fluid's ingestion state.
        Orders arrive via the poll-first reconciliation sweep (SQS notifications
        are a later phase).
      type: object
      properties:
        id:
          type: integer
        amazon_order_id:
          type: string
        commerce_order_id:
          type: [integer, 'null']
          description: Null until the order is successfully mapped into the
            integration order pipeline.
        ingestion_state:
          type: string
          enum: [pending, imported, failed]
        amazon_status:
          type: string
          description: Amazon's raw OrderStatus string. Not a closed enum — Fluid
            passes through whatever Amazon sends.
        buyer_identifier:
          type: [string, 'null']
          description: Amazon's anonymized buyer proxy email.
        currency_code:
          type: [string, 'null']
        total_amount_cents:
          type: [integer, 'null']
        last_error:
          type: [object, 'null']
        last_imported_at:
          type: [string, 'null']
          format: date-time
    TiktokConnection:
      description: A company's link to one TikTok Shop seller account. Never exposes
        the encrypted OAuth tokens themselves — only identity, status, expiry, and
        last_error.
      type: object
      properties:
        id:
          type: integer
        shop_id:
          type: string
        shop_name:
          type: [string, 'null']
        region:
          type: string
        seller_type:
          type: [string, 'null']
        status:
          type: string
          description: pending until the OAuth callback completes; connected once
            live; expired/deauthorized when TikTok invalidates the tokens;
            disconnected once the admin disconnects (the row persists rather
            than being deleted).
          enum: [pending, connected, expired, deauthorized, disconnected]
        access_token_expires_at:
          type: [string, 'null']
          format: date-time
        refresh_token_expires_at:
          type: [string, 'null']
          format: date-time
        last_error:
          type: [object, 'null']
        connected_at:
          type: [string, 'null']
          format: date-time
        disconnected_at:
          type: [string, 'null']
          format: date-time
        tiktok_warehouse_id:
          type: [string, 'null']
          description: The TikTok logistics warehouse selected for inventory publishing.
    TiktokProductListing:
      description: A Fluid product's TikTok product-level listing. status and
        audit_status are TikTok's two orthogonal lifecycle axes — a listing can
        be "active" (live) while still "auditing" (pending review).
      type: object
      properties:
        id:
          type: integer
        product_id:
          type: integer
        product_title:
          type: [string, 'null']
          description: The product's title, read from Fluid's current catalog
            record for the listing's product_id; null if that product has
            since been discarded.
        tiktok_product_id:
          type: [string, 'null']
        tiktok_category_id:
          type: [string, 'null']
        status:
          type: string
          description: draft until the first publish attempt; active once TikTok
            confirms the listing; seller_deactivated/platform_deactivated/frozen
            for TikTok-side removals; publish_failed when the publish call
            errored; deleted for a locally-removed draft that was never
            published.
          enum:
          - draft
          - pending
          - active
          - seller_deactivated
          - platform_deactivated
          - frozen
          - publish_failed
          - deleted
        audit_status:
          type: [string, 'null']
          description: Nil until TikTok's first publish response or status refresh
            reports a review state.
          enum: [auditing, pre_approved, approved, audit_failed, null]
        last_published_at:
          type: [string, 'null']
          format: date-time
        last_synced_at:
          type: [string, 'null']
          format: date-time
        last_error:
          type: [object, 'null']
    TiktokOrder:
      description: The raw TikTok order envelope plus Fluid's ingestion and
        affiliate-attribution state (Phase 004).
      type: object
      properties:
        id:
          type: integer
        tiktok_order_id:
          type: string
        commerce_order_id:
          type: [integer, 'null']
          description: Nil until the order is successfully mapped into the
            integration order pipeline.
        ingestion_state:
          type: string
          enum: [pending, imported, failed]
        tiktok_status:
          type: string
          description: TikTok's raw order status string. Not a closed enum — the
            return/cancel webhook vocabulary is not fully documented, so Fluid
            passes through whatever TikTok sends.
        attribution_state:
          type: string
          description: Fluid's own affiliate-credit pipeline state, orthogonal to
            ingestion_state and tiktok_status.
          enum: [unattributed, attributed, unmatched_creator, ambiguous_creator]
        creator_user_id:
          type: [string, 'null']
        creator_handle:
          type: [string, 'null']
        commission_cents:
          type: [integer, 'null']
        commission_currency_code:
          type: [string, 'null']
          description: ISO currency code for commission_cents. Kept separately
            because TikTok commission currency can differ from the order currency.
        last_error:
          type: [object, 'null']
        last_imported_at:
          type: [string, 'null']
          format: date-time
    MetaConnection:
      description: A company's link to one Meta Business account's Commerce
        Catalog. Never exposes the encrypted system-user token itself — only
        identity, status, expiry (null for a non-expiring token), and last_error.
      type: object
      properties:
        id:
          type: integer
        catalog_id:
          type: string
          description: The Meta Commerce Catalog id — the one catalog serving
            FB/IG Shops tagging, WhatsApp catalog messaging, and catalog ads.
        catalog_name:
          type: [string, 'null']
        meta_business_id:
          type: [string, 'null']
        meta_page_id:
          type: [string, 'null']
        meta_instagram_business_account_id:
          type: [string, 'null']
          description: Null until an Instagram Shop is tagged.
        waba_id:
          type: [string, 'null']
          description: The WhatsApp Business Account id, captured best-effort at
            connect time — null until the business has a WABA and the connection
            has been (re-)authorized with the WhatsApp scope. WhatsApp webhook
            deliveries resolve to the connection through this id.
        phone_number_id:
          type: [string, 'null']
          description: The WABA's first registered phone-number id; null until
            one exists.
        status:
          type: string
          description: pending until the OAuth callback completes; connected once
            live; expired when a health check detects a silently revoked token;
            disconnected once the admin disconnects (the row persists rather
            than being deleted).
          enum: [pending, connected, expired, deauthorized, disconnected]
        access_token_expires_at:
          type: [string, 'null']
          format: date-time
          description: Null for a non-expiring system-user token — the normal
            case for Meta.
        last_error:
          type: [object, 'null']
        connected_at:
          type: [string, 'null']
          format: date-time
        disconnected_at:
          type: [string, 'null']
          format: date-time
    MetaCatalogListing:
      description: A Fluid product's Meta catalog listing — exactly one row per
        product per connection; FB/IG Shops, WhatsApp, and catalog ads read the
        same catalog item by the same product_retailer_id, tracked per surface
        by the *_review_status fields and rolled up into audit_status.
      type: object
      properties:
        id:
          type: integer
        product_id:
          type: integer
        product_title:
          type: [string, 'null']
          description: The product's title, read from Fluid's current catalog
            record for the listing's product_id; null if that product has
            since been discarded.
        product_retailer_id:
          type: [string, 'null']
          description: The merchant-assigned catalog item id shared across every
            Meta surface for this product.
        status:
          type: string
          description: draft until the first publish attempt; pending once
            submitted; active once the item is visible in the catalog;
            publish_failed when the publish call errored; deleted once removed.
          enum:
          - draft
          - pending
          - active
          - seller_deactivated
          - platform_deactivated
          - frozen
          - publish_failed
          - deleted
        audit_status:
          type: [string, 'null']
          description: Rolled up from the per-surface review statuses — approved
            only when every tagged surface approves; auditing while any tagged
            surface is pending; audit_failed when any tagged surface rejects.
          enum: [auditing, pre_approved, approved, audit_failed, null]
        marketplace_review_status:
          type: [string, 'null']
          description: Meta's raw review value for the marketplace surface; null
            when the product is not tagged for it.
        shops_review_status:
          type: [string, 'null']
        whatsapp_review_status:
          type: [string, 'null']
        instagram_review_status:
          type: [string, 'null']
        last_published_at:
          type: [string, 'null']
          format: date-time
        last_synced_at:
          type: [string, 'null']
          format: date-time
        last_error:
          type: [object, 'null']
    MetaCommerceOrder:
      description: A WhatsApp cart-intent envelope — the record that a buyer
        sent this cart as a WhatsApp order message. Never a Fluid order by
        itself; commerce_order_id stays null until the buyer completes Fluid's
        own checkout.
      type: object
      properties:
        id:
          type: integer
        whatsapp_message_id:
          type: string
          description: The WhatsApp message id (wamid) the envelope is keyed
            on — redeliveries update the same record.
        buyer_identifier:
          type: [string, 'null']
          description: The buyer's WhatsApp id (wa_id, a phone-shaped handle,
            not an email).
        ingestion_state:
          type: string
          description: pending — a recorded intent awaiting Fluid checkout
            (the normal, often terminal, state); imported — a Fluid order
            exists and commerce_order_id points at it; failed — the envelope
            could not be built from the message.
          enum: [pending, imported, failed]
        commerce_order_id:
          type: [integer, 'null']
          description: Null until Fluid's own checkout completes the intent.
        currency_code:
          type: [string, 'null']
        total_amount_cents:
          type: [integer, 'null']
          description: Sum of item_price × quantity across the cart's line
            items, in minor units; null when the items carry no consistent
            currency.
        last_error:
          type: [object, 'null']
          description: Unmatched line items (catalog drift) or the failure
            that prevented the envelope from being built.
        received_at:
          type: string
          format: date-time
          description: When Fluid first recorded the intent.
    PinterestConnection:
      description: A company's link to one Pinterest Business account. Never
        exposes the encrypted token pair itself — only identity, status,
        expiries, and last_error.
      type: object
      properties:
        id:
          type: integer
        pinterest_account_id:
          type: string
          description: The Pinterest user/business account id the catalogs
            belong to.
        account_name:
          type: [string, 'null']
        pinterest_ad_account_id:
          type: [string, 'null']
          description: The first accessible ad account id, captured best-effort
            at connect time; null when the account has none.
        status:
          type: string
          description: pending until the OAuth callback completes; connected
            once live; expired when a token rotation is rejected as an invalid
            grant; disconnected once the admin disconnects (the row persists
            rather than being deleted).
          enum: [pending, connected, expired, deauthorized, disconnected]
        access_token_expires_at:
          type: [string, 'null']
          format: date-time
        refresh_token_expires_at:
          type: [string, 'null']
          format: date-time
          description: Rotated forward on every refresh — Pinterest's
            continuous refresh replaces the refresh token each time.
        last_error:
          type: [object, 'null']
        connected_at:
          type: [string, 'null']
          format: date-time
        disconnected_at:
          type: [string, 'null']
          format: date-time
    PinterestCatalogListing:
      description: A Fluid product's Pinterest catalog listing — exactly one
        row per product per connection. Pinterest reports feed acceptance per
        ingestion batch rather than a per-item merchant review, so audit_status
        uses a coarser rollup ("approved" means the last batch ingested without
        item errors) with the raw batch id/status exposed for diagnosis.
      type: object
      properties:
        id:
          type: integer
        product_id:
          type: integer
        product_title:
          type: [string, 'null']
          description: The product's title, read from Fluid's current catalog
            record for the listing's product_id; null if that product has
            since been discarded.
        item_group_id:
          type: [string, 'null']
          description: The Fluid-minted id grouping this product's variant
            items in the Pinterest catalog (the product's stable uuid_v7).
        pinterest_batch_id:
          type: [string, 'null']
          description: The last submitted catalog items batch id.
        pinterest_batch_status:
          type: [string, 'null']
          description: Pinterest's raw wire status for that batch, as last
            polled.
        status:
          type: string
          description: draft until the first publish attempt; pending once
            submitted; active once the batch ingests clean; publish_failed when
            the publish call errored; deleted once removed.
          enum:
          - draft
          - pending
          - active
          - seller_deactivated
          - platform_deactivated
          - frozen
          - publish_failed
          - deleted
        audit_status:
          type: [string, 'null']
          description: Rolled up from the batch outcome — approved when the
            batch completed with every item clean; auditing while it is still
            processing; audit_failed when the batch failed or any item errored.
        last_published_at:
          type: [string, 'null']
          format: date-time
          description: When the listing was last successfully submitted to the
            Pinterest catalog; null until the first publish.
        last_synced_at:
          type: [string, 'null']
          format: date-time
          description: When Fluid last refreshed the listing's batch status
            from Pinterest.
        last_error:
          type: [object, 'null']
          description: The most recent publish or sync failure (type,
            description, details); null when the last attempt succeeded.
    GoogleConnection:
      description: A company's link to one Google Merchant Center account.
        Never exposes the encrypted OAuth token pair itself — only identity,
        status, access-token expiry (~1 hour when live), and last_error.
        Google refresh tokens have no scheduled expiry, so no refresh expiry
        field exists.
      type: object
      properties:
        id:
          type: integer
        merchant_center_id:
          type: string
          description: The Merchant Center account id (merchantId) products
            are published under.
        merchant_center_name:
          type: [string, 'null']
        google_mca_id:
          type: [string, 'null']
          description: The Multi-Client Account id when the connected
            Merchant Center is an MCA sub-account; null for a standalone
            account.
        status:
          type: string
          description: pending until the OAuth callback completes; connected
            once live; expired when Google rejects the refresh token
            (revoked, or lapsed after six months of disuse); disconnected
            once the admin disconnects (the row persists rather than being
            deleted).
          enum: [pending, connected, expired, deauthorized, disconnected]
        access_token_expires_at:
          type: [string, 'null']
          format: date-time
          description: About one hour after the last refresh for a live
            connection; refreshed automatically ahead of expiry.
        last_error:
          type: [object, 'null']
        connected_at:
          type: [string, 'null']
          format: date-time
        disconnected_at:
          type: [string, 'null']
          format: date-time
    GoogleProductListing:
      description: A Fluid product's Google Shopping listing — exactly one
        row per product per connection. Each variant is its own Merchant API
        product entry (offerId), tied together by this listing's
        item_group_id; the raw five-state Merchant Center review value is
        surfaced verbatim in google_review_status and rolled up into
        audit_status.
      type: object
      properties:
        id:
          type: integer
        product_id:
          type: integer
        product_title:
          type: [string, 'null']
          description: The product's title, read from Fluid's current catalog
            record for the listing's product_id; null if that product has
            since been discarded.
        item_group_id:
          type: [string, 'null']
          description: The itemGroupId Fluid mints that ties the product's
            variants together as one Shopping listing; null until first
            published.
        google_review_status:
          type: [string, 'null']
          description: Google's raw review state, verbatim. Limited means
            the product is selling with restrictions — it rolls up to
            audit_status approved (the product IS sellable) but is
            deliberately surfaced here so a merchant can see the
            restriction; it is never silently folded into approved.
          enum: [Approved, Limited, Not Approved, Under Review, Processing, null]
        content_language:
          type: [string, 'null']
          description: Part of the product's identity on Google's side
            (composes the Merchant API product name with feed_label and each
            offerId).
        feed_label:
          type: [string, 'null']
        status:
          type: string
          description: draft until the first publish attempt; pending once
            submitted; active once the product is visible in the Merchant
            Center; publish_failed when the publish call errored; deleted
            once removed.
          enum:
          - draft
          - pending
          - active
          - seller_deactivated
          - platform_deactivated
          - frozen
          - publish_failed
          - deleted
        audit_status:
          type: [string, 'null']
          description: Rolled up from google_review_status by the locked
            rule — Approved/Limited read approved; Under Review/Processing
            read auditing; Not Approved reads audit_failed. Null until the
            first publish.
          enum: [auditing, pre_approved, approved, audit_failed, null]
        last_published_at:
          type: [string, 'null']
          format: date-time
        last_synced_at:
          type: [string, 'null']
          format: date-time
        last_error:
          type: [object, 'null']
    MetaAdsReadiness:
      description: Everything the "Advertise this catalog" button needs — the
        connected catalog's identity, listing counts by rolled-up review
        status, and a browser deep-link into Meta's catalog ads surface.
        Computed entirely from rows Fluid already stores; no Meta API call is
        made and no ad-account credential is involved.
      type: object
      properties:
        catalog_id:
          type: string
          description: The Meta Commerce Catalog id — the same catalog serving
            FB/IG Shops tagging, WhatsApp catalog messaging, and catalog ads.
        catalog_name:
          type: [string, 'null']
        listing_counts:
          type: object
          description: Counts of this connection's on-catalog listings
            (deleted and seller_deactivated rows excluded) bucketed from
            audit_status — approved; auditing (including pre_approved);
            rejected (audit_failed). Listings not yet reviewed (null
            audit_status, e.g. drafts) appear in no bucket.
          properties:
            approved:
              type: integer
            auditing:
              type: integer
            rejected:
              type: integer
          required: [approved, auditing, rejected]
          additionalProperties: false
        ads_manager_url:
          type: string
          description: Browser deep-link into Meta's catalog-scoped ads
            surface in Commerce Manager, with the catalog pre-selected and the
            business context pinned when the business id is known. Carries no
            token material; if Meta moves the URL shape, a signed-in admin
            lands on Commerce Manager home rather than an error.
      required: [catalog_id, catalog_name, listing_counts, ads_manager_url]
      additionalProperties: false
    CreateMediaComplianceRequestBodyApplicationJsonSchema:
      type: [object, 'null']
      properties:
        compliance:
          type: [object, 'null']
          additionalProperties:
            $ref: '#/components/schemas/JsonValue'
    CreatePageApiRequestBodyApplicationJsonSchema:
      type: [object, 'null']
      properties:
        page:
          type: [object, 'null']
          properties:
            title:
              type: [string, number, integer, 'null']
              description: Title of the page
            label:
              type: [string, number, integer, 'null']
              description: Label for categorizing the page
            display_tag:
              type: [string, number, integer, 'null']
              description: Tag to be displayed on the page
            stripped_description:
              type: [string, number, integer, 'null']
              description: Plain text description without formatting
            image_url:
              type: [string, number, integer, 'null']
              description: URL of the page's featured image
            source:
              type: [string, number, integer, 'null']
              description: Origin or tool used to create the page
            publish:
              type: [boolean, 'null']
              description: Whether the page is published
            prompts_enabled:
              type: [boolean, 'null']
              description: Whether prompts are enabled on the page
            json:
              type: [string, number, integer, 'null']
              description: JSON data associated with the page
            use_search_engine:
              type: [boolean, 'null']
              description: Whether the page should be indexed by search engines
            show_on_site_search:
              type: [boolean, 'null']
              description: Whether the page appears in site search results
            email:
              type: [string, number, integer, 'null']
              description: Email address associated with the page
            page_content:
              type: [string, number, integer, 'null']
              description: Content of the page
            countries:
              type: [array, 'null']
              items:
                type: [string, number, integer, 'null']
              description: List of country codes where the page is available
            metadata:
              type: [object, 'null']
              description: Additional data associated with the page
              additionalProperties:
                $ref: '#/components/schemas/JsonValue'
            search_engine_optimizer:
              type: [object, 'null']
              properties:
                title:
                  type: [string, number, integer, 'null']
                  description: Page title optimized for search engines
                description:
                  type: [string, number, integer, 'null']
                  description: Page description optimized for search engines
                image_url:
                  type: [string, number, integer, 'null']
                  description: Image URL optimized for search engines
              description: SEO settings for the page
            open_graph:
              type: [object, 'null']
              properties:
                title:
                  type: [string, number, integer, 'null']
                  description: Title for Open Graph sharing
                description:
                  type: [string, number, integer, 'null']
                  description: Description for Open Graph sharing
                image_url:
                  type: [string, number, integer, 'null']
                  description: Image URL for Open Graph sharing
              description: Open Graph metadata for social media sharing
            content:
              type: [string, number, integer, 'null']
              description: HTML content of the page
            variables:
              type: [object, 'null']
              description: Variables for dynamic content substitution
              additionalProperties:
                $ref: '#/components/schemas/JsonValue'
            stylesheet:
              type: [string, number, integer, 'null']
              description: Custom CSS styling for the page
            translations:
              type: [object, 'null']
              description: Translations for the page
              additionalProperties:
                $ref: '#/components/schemas/JsonValue'
            taggings_attributes:
              type: [array, 'null']
              items:
                type: [object, 'null']
                properties:
                  tag_id:
                    type: [integer, string, number, 'null']
                    description: ID of the tag to associate with the page
              description: Tags to associate with the page
          description: Page attributes
      description: Create request payload
    CreatePointsLedgerRequestBodyApplicationJsonSchema:
      type: [object, 'null']
      properties:
        points_ledger:
          type: [object, 'null']
          properties:
            amount:
              type: [integer, string, number, 'null']
              description: Amount of points to add (positive) or subtract (negative)
            idempotency_key:
              type: [string, number, integer, 'null']
              description: Has to be unique per request to prevent duplicate entries
            metadata:
              type: [object, 'null']
              description: Metadata about the points credit or debit. The order_credit transaction type and New Order source name are reserved for order accruals.
              additionalProperties:
                $ref: '#/components/schemas/JsonValue'
            skip_webhooks:
              type: [boolean, 'null']
[...]
