---
openapi: 3.1.0
info:
  title: Fluid Analytics Dashboard v2026-04 API
  version: v2026-04
  description: |
    Endpoints backing the fluid-admin Analytics section
    (Home / Traffic / Brand Buzz). One endpoint per card on each tab;
    the frontend polls independently so each card can have its own
    refresh cadence.
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
tags:
- name: analytics_dashboard_home_overview
  description: |
    Home > Overview tab cards. Card 1 (header tiles) is served here;
    cards 2-11 land in subsequent PRs.
- name: analytics_dashboard_home_live
  description: |
    Home > Live tab cards. Card 1 (header tiles) is served here;
    cards 2-6 land in subsequent PRs.
- name: analytics_dashboard_home_field
  description: |
    Home > Field tab cards. Card 1 (field momentum header) is served
    here; cards 2-5 land in subsequent PRs.
- name: analytics_subscription_billing
  description: |
    Subscription Billing surface — a month of renewals worked day by
    day, plus that month's failure reporting. Same `reports.view` gate
    and country scoping as the Home dashboard cards. The day drawer's
    per-subscription table is not served here; it is a paginated list
    on `GET /api/subscriptions`, which already accepts `next_bill_date`
    and `last_failed_at` range filters.
- name: analytics_payments
  x-fluid-section: Payments
  description: |
    Payments > Performance page: approval rates, decline reasons and
    breakdowns over a date range. Same `reports.view` gate and country
    scoping as the Home dashboard cards. An attempt is one charge a
    shopper's money rode on, counted once: voids, refunds, the capture
    half of an authorize and capture, webhook echoes and card checks
    are not attempts.
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: |
        Bearer token authentication. Requires a company-admin token
        whose role holds `reports.view`.
  responses:
    Unauthorized:
      description: Missing or invalid bearer token
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/LegacyUnauthorizedResponse"
    Forbidden:
      description: |
        Token present but the caller is not a company admin (or is one
        without `reports.view`). Both branches render via legacy
        `authorize_*` helpers whose response predates the structured
        error envelope, so the body is the flat legacy shape.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/LegacyForbiddenResponse"
    NotFound:
      description: |
        No renewal matches the `subscription_token` within the requesting
        company. A token that belongs to another company answers here too
        rather than `403`, so the caller cannot learn that it exists.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/ErrorResponse"
    Unprocessable:
      description: An Analytics service returned a business-rule failure.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/ErrorResponse"
    InvalidCountry:
      description: |
        The `country` query param is set to an ISO code the requesting
        company is not configured for.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/ErrorResponse"
    InvalidRequest:
      description: |
        A query parameter the endpoint cannot act on — a `country` the
        requesting company is not configured for, a `month` that is not
        `YYYY-MM`, or a `date` that is not `YYYY-MM-DD`. All are caller
        errors rather than scoping failures, and all render the
        structured error envelope.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/ErrorResponse"
  parameters:
    CountryQueryParam:
      name: country
      in: query
      required: false
      description: |
        ISO alpha-2 code of one of the requesting company's configured
        countries (see `GET /countries`). When present, every service
        on this endpoint filters its data to that country and reports
        money in the country's own currency. Omit (or send `"all"`)
        for the aggregate-across-countries view, which is the default
        and matches pre-Phase-004 behavior. Unknown ISO codes or ones
        the company is not configured for return `400`.
      schema:
        type: string
        example: US
    TimeZoneQueryParam:
      name: tz
      in: query
      required: false
      description: |
        IANA timezone name (e.g. `America/Denver`) or Rails-style
        alias (`Eastern Time (US & Canada)`) used to anchor
        "today" boundaries and hour-of-day bucketing. The
        frontend sends
        `Intl.DateTimeFormat().resolvedOptions().timeZone`.
        Unknown or malformed values silently fall back to UTC —
        callers omit the param when the endpoint doesn't need
        wall-clock alignment (see CURRENT-3077).
      schema:
        type: string
        example: America/Denver
    MonthQueryParam:
      name: month
      in: query
      required: false
      description: |
        Calendar month to report on, as `YYYY-MM`. Defaults to the
        current month. A value that is not this exact shape (or names
        a month that does not exist, such as `2026-13`) returns `400`
        rather than being coerced.
      schema:
        type: string
        pattern: "^\\d{4}-\\d{2}$"
        example: "2026-09"
    DayDateQueryParam:
      name: date
      in: query
      required: true
      description: |
        Calendar date to list, as `YYYY-MM-DD`. Required and not
        defaulted: the drawer is always opened from a day the operator
        picked, so a missing date would answer for a different day than
        the one on screen. A value that is not this exact shape, or one
        that names a date which does not exist, returns `400` rather
        than being coerced.
      schema:
        type: string
        pattern: "^\\d{4}-\\d{2}-\\d{2}$"
        example: "2026-09-17"
    RenewalTokenQueryParam:
      name: subscription_token
      in: query
      required: true
      description: |
        Token of the renewal to report on. A token belonging to another
        company returns `404` rather than `403` — the caller should not
        learn that it exists.
      schema:
        type: string
        example: sub_9f3c2a
    DayPageQueryParam:
      name: page
      in: query
      required: false
      description: |
        1-based page number. Defaults to `1`. Values below `1` are read
        as `1`.
      schema:
        type: integer
        minimum: 1
        example: 1
    DayPerPageQueryParam:
      name: per_page
      in: query
      required: false
      description: |
        Renewals per page. Defaults to `25` and is capped server-side at
        `100` — a day drawer is a working list rather than an export,
        and the band lookup costs one extra query per page whatever its
        size.

        A larger value is clamped to the cap rather than rejected, so
        the cap is deliberately not declared as a schema `maximum`:
        doing so would publish a constraint the endpoint does not
        enforce. Read `per_page` off the response for the size actually
        applied.
      schema:
        type: integer
        minimum: 1
        example: 25
    DaySearchQueryParam:
      name: search
      in: query
      required: false
      description: |
        Free text narrowing the day. Matched against the customer's name
        or email, the product title, the variant's own label, the plan
        name, the subscription token, and the subscription number as an
        exact match. Every whitespace-separated term has to match one of
        them, so `jane essentials` means the customer and the product
        rather than either alone.

        The variant label is the one term the subscriptions index's own
        search does not cover. It is searched under the name the variant
        gives itself rather than the name the row shows: a renewal is
        named by its product wherever that product has a title, and the
        `Large` or `Blue` an operator knows it by has to find it all the
        same. A renewal whose product has been discarded is still
        searchable, for the same reason it is still listed.

        Applied over the whole day rather than over the page that would
        otherwise have been returned, so `total_count` counts what
        matched and the pager walks the matches.
      schema:
        type: string
        example: alvarez
    DayStatusQueryParam:
      name: status
      in: query
      required: false
      description: |
        Comma-separated statuses to list, drawn from `failed`,
        `at_risk`, `retrying`, `scheduled` and `cleared`. Omitted means
        every status.

        Each row reports its own status on `day_status`, and the counts
        behind the chips are on `summary.status_counts`. A value outside
        the set returns `400` rather than being ignored: dropping it
        would answer with the whole day while the caller believed it had
        filtered.
      schema:
        type: string
        example: failed,at_risk
    PaymentRangeFromQueryParam:
      name: from
      in: query
      required: false
      description: |
        First day of the range, inclusive, as `YYYY-MM-DD` in the `tz`
        zone. Defaults to 29 days before `to`, so the default range is
        thirty days. A value that is not this exact shape returns `400`.
      schema:
        type: string
        format: date
        example: '2026-09-08'
    PaymentRangeToQueryParam:
      name: to
      in: query
      required: false
      description: |
        Last day of the range, inclusive, as `YYYY-MM-DD` in the `tz`
        zone. Defaults to today, or to 29 days after `from` when only
        `from` is sent. A range longer than 92 days, or one that ends
        before it starts, returns `400`.
      schema:
        type: string
        format: date
        example: '2026-10-07'
    PaymentModeQueryParam:
      name: mode
      in: query
      required: false
      description: |
        Which payments to report on. `live` (the default) is real money
        through a live account at a real gateway. `test` is every test
        or sandbox account and the Bogus gateway, so a merchant who is
        still integrating can watch their own test traffic.
      schema:
        type: string
        enum:
        - live
        - test
        example: live
    PaymentFlowQueryParam:
      name: flow
      in: query
      required: false
      description: |
        Narrow every figure to one flow. `checkout` is an attempt with a
        cart; `renewal` is a subscription renewal with no cart. `all`,
        the default, keeps both.
      schema:
        type: string
        enum:
        - all
        - checkout
        - renewal
        example: all
    PaymentAccountQueryParam:
      name: payment_account_id
      in: query
      required: false
      description: |
        Narrow every figure to one of the company's payment accounts, by
        the `id` listed in `payment_accounts`. An id that is not one of
        the company's accounts returns `400`.
      schema:
        type: string
        pattern: "^[0-9]+$"
        example: '524'
  schemas:
    Meta:
      type: object
      properties:
        request_id:
          type:
          - string
          - 'null'
        request_uuid:
          type:
          - string
          - 'null'
          description: Identifier of the request that produced this response, for support correlation.
        timestamp:
          type: string
          format: date-time
      required:
      - timestamp
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            details:
              type: object
              additionalProperties: true
          required:
          - message
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - error
    # Shape returned by Api::BaseController#render_unauthorized. Distinct
    # from the structured ErrorResponse we use for 404/422 — the
    # unauthenticated response predates the error-envelope convention.
    LegacyUnauthorizedResponse:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    # Shape returned by the legacy authorize_admin_tier / authorize_permission
    # helpers when the caller has a valid token but isn't authorized.
    # authorize_admin_tier renders `{ message: string }` and
    # authorize_permission renders `{ error: string }`; both are the flat
    # legacy shape (not the structured error envelope used for 404 / 422).
    LegacyForbiddenResponse:
      type: object
      properties:
        message:
          type: string
        error:
          type: string
      minProperties: 1
    Money:
      type: string
      description: |
        Decimal amount, expressed as a string to preserve arbitrary
        precision across the wire. Parsed to Number on the client and
        formatted with `Intl.NumberFormat`. Once the in-flight
        money-cents-migration lands, this will switch to a
        `{ amount_cents: integer, currency: string }` object.
      example: "180.25"
    Currency:
      type: string
      description: ISO 4217 three-letter code (uppercase).
      example: USD
      minLength: 3
      maxLength: 3
    SparklinePoint:
      type: object
      properties:
        date:
          type: string
          format: date
        revenue:
          "$ref": "#/components/schemas/Money"
      required:
      - date
      - revenue
    DashboardCountriesResponse:
      type: object
      description: |
        The requesting company's configured countries, so the FE
        country selector can render its options. The `default` flag
        mirrors the company's stored default country.
      properties:
        countries:
          type: array
          items:
            type: object
            properties:
              iso:
                type: string
                description: ISO alpha-2 code (e.g. `US`, `CA`, `BR`).
                minLength: 2
                maxLength: 2
              name:
                type: string
                description: Country display name.
              currency:
                type: string
                description: The company-country's default currency ISO code.
              default:
                type: boolean
                description: True on the row the company reports through by default.
            required:
            - iso
            - name
            - currency
            - default
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - countries
    DashboardHeaderResponse:
      type: object
      properties:
        yesterday:
          type: object
          properties:
            revenue:
              "$ref": "#/components/schemas/Money"
            orders_count:
              type: integer
              minimum: 0
            typical_revenue:
              "$ref": "#/components/schemas/Money"
            currency:
              "$ref": "#/components/schemas/Currency"
            sparkline:
              type: array
              items:
                "$ref": "#/components/schemas/SparklinePoint"
          required:
          - revenue
          - orders_count
          - typical_revenue
          - currency
          - sparkline
        mtd:
          type: object
          properties:
            revenue:
              "$ref": "#/components/schemas/Money"
            orders_count:
              type: integer
              minimum: 0
            currency:
              "$ref": "#/components/schemas/Currency"
          required:
          - revenue
          - orders_count
          - currency
        tracking_to:
          type: object
          properties:
            projected_revenue:
              "$ref": "#/components/schemas/Money"
            currency:
              "$ref": "#/components/schemas/Currency"
            algorithm:
              type: string
              description: |
                Which projection algorithm produced this number. v1
                is `linear` (MTD × days_in_month / days_elapsed);
                future values may include `dow_median` or
                `linear_plus_scheduled_subs`.
              example: linear
            days_elapsed:
              type: integer
              minimum: 0
            days_in_month:
              type: integer
              minimum: 28
              maximum: 31
          required:
          - projected_revenue
          - currency
          - algorithm
          - days_elapsed
          - days_in_month
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - yesterday
      - mtd
      - tracking_to
    # A single day on the current-month trend line — carries both the
    # day's raw revenue and the running total. Comparator series only
    # need the running total (they're background lines), so they use
    # DashboardTrendComparatorPoint below.
    DashboardTrendPoint:
      type: object
      properties:
        date:
          type: string
          format: date
        revenue:
          "$ref": "#/components/schemas/Money"
        cumulative_revenue:
          "$ref": "#/components/schemas/Money"
      required:
      - date
      - revenue
      - cumulative_revenue
    DashboardTrendComparatorPoint:
      type: object
      properties:
        date:
          type: string
          format: date
        cumulative_revenue:
          "$ref": "#/components/schemas/Money"
      required:
      - date
      - cumulative_revenue
    # Expected-range band; the operator sees a shaded ribbon between
    # cumulative_lower and cumulative_upper with the median as its
    # centre line. Values are cumulative through the given date.
    DashboardTrendBandPoint:
      type: object
      properties:
        date:
          type: string
          format: date
        cumulative_lower:
          "$ref": "#/components/schemas/Money"
        cumulative_median:
          "$ref": "#/components/schemas/Money"
        cumulative_upper:
          "$ref": "#/components/schemas/Money"
      required:
      - date
      - cumulative_lower
      - cumulative_median
      - cumulative_upper
    DashboardTrendResponse:
      type: object
      properties:
        current_month:
          type: array
          description: |
            One entry per day of the current calendar month up through
            today. cumulative_revenue is a running sum reset on the
            first of the month.
          items:
            "$ref": "#/components/schemas/DashboardTrendPoint"
        last_month:
          type: array
          description: |
            The full previous calendar month's cumulative-revenue
            curve, for the vs-last-month toggle.
          items:
            "$ref": "#/components/schemas/DashboardTrendComparatorPoint"
        last_year:
          type: array
          description: |
            The same calendar month one year ago, for the vs-last-year
            toggle.
          items:
            "$ref": "#/components/schemas/DashboardTrendComparatorPoint"
        expected_band:
          type: array
          description: |
            Cumulative expected-range envelope for the current month,
            computed from the DOW-based Q1/median/Q3 of the trailing
            180 days of paid revenue. Empty when the tenant has no
            history in the trailing window yet.
          items:
            "$ref": "#/components/schemas/DashboardTrendBandPoint"
        currency:
          "$ref": "#/components/schemas/Currency"
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - current_month
      - last_month
      - last_year
      - expected_band
      - currency
    Percentage:
      type: string
      description: |
        A percentage share, expressed as a decimal string rounded to
        one decimal place. `"100.0"` when a single bucket accounts for
        the full total; `"0.0"` when the divisor was zero.
      example: "42.5"
    DashboardOrderCompositionBucket:
      type: object
      properties:
        revenue:
          "$ref": "#/components/schemas/Money"
        orders_count:
          type: integer
          minimum: 0
      required:
      - revenue
      - orders_count
    DashboardOrderCompositionTotals:
      type: object
      properties:
        revenue:
          "$ref": "#/components/schemas/Money"
        orders_count:
          type: integer
          minimum: 0
        revenue_pct:
          "$ref": "#/components/schemas/Percentage"
        orders_pct:
          "$ref": "#/components/schemas/Percentage"
      required:
      - revenue
      - orders_count
      - revenue_pct
      - orders_pct
    DashboardOrderCompositionDay:
      type: object
      properties:
        date:
          type: string
          format: date
        buckets:
          type: object
          description: |
            Keys are bucket names (e.g. `subscription`, `enrollment`,
            `rep_bought`, `customer_bought`) for the axis this day
            belongs to. Buckets with no orders on this day are omitted;
            the frontend renders missing keys as zero-height stacks.
          additionalProperties:
            "$ref": "#/components/schemas/DashboardOrderCompositionBucket"
      required:
      - date
      - buckets
    DashboardRevenueQualityCohort:
      type: object
      properties:
        revenue:
          "$ref": "#/components/schemas/Money"
        orders_count:
          type: integer
          minimum: 0
        revenue_pct:
          "$ref": "#/components/schemas/Percentage"
      required:
      - revenue
      - orders_count
      - revenue_pct
    DashboardRevenueQualityResponse:
      type: object
      properties:
        new_vs_returning:
          type: object
          description: |
            Keyed by cohort. `new` is any paid order whose buyer has no
            prior paid order in this company; `returning` is any paid
            order whose buyer already has one — per-order classification
            (spec decision D-4).
          properties:
            new:
              "$ref": "#/components/schemas/DashboardRevenueQualityCohort"
            returning:
              "$ref": "#/components/schemas/DashboardRevenueQualityCohort"
          required:
          - new
          - returning
        subs_vs_one_time:
          type: object
          description: |
            Keyed by subscription mode. An order is `subscription` when
            its `subscription_id` is populated (both initial checkouts
            and renewals); everything else is `one_time`.
          properties:
            subscription:
              "$ref": "#/components/schemas/DashboardRevenueQualityCohort"
            one_time:
              "$ref": "#/components/schemas/DashboardRevenueQualityCohort"
          required:
          - subscription
          - one_time
        aov:
          type: object
          description: |
            Average order value for the current month. `blended`
            covers all paid orders; `new_customer` and
            `returning_customer` split the same set by cohort. Values
            are Money strings; empty cohorts return `"0.0"` rather
            than divide-by-zero.
          properties:
            blended:
              "$ref": "#/components/schemas/Money"
            new_customer:
              "$ref": "#/components/schemas/Money"
            returning_customer:
              "$ref": "#/components/schemas/Money"
          required:
          - blended
          - new_customer
          - returning_customer
        currency:
          "$ref": "#/components/schemas/Currency"
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - new_vs_returning
      - subs_vs_one_time
      - aov
      - currency
    DashboardOrderCompositionResponse:
      type: object
      properties:
        daily_by_source:
          type: array
          description: |
            One entry per day of the current calendar month up through
            today. Each day's `buckets` are keyed by order source
            (`subscription`, `enrollment`, `web`, `mobile`,
            `backoffice`, `admin`).
          items:
            "$ref": "#/components/schemas/DashboardOrderCompositionDay"
        daily_by_buyer:
          type: array
          description: |
            One entry per day. Each day's `buckets` are keyed by buyer
            type (`rep_bought`, `customer_bought`) — the same order
            can appear in `daily_by_source` under its source bucket
            and here under its buyer bucket; the two axes overlap by
            design (spec decision D-2 option A).
          items:
            "$ref": "#/components/schemas/DashboardOrderCompositionDay"
        source_totals:
          type: object
          description: |
            MTD totals + percentage shares keyed by source. All source
            buckets are present, including ones with zero orders (so
            the frontend can render a stable legend).
          additionalProperties:
            "$ref": "#/components/schemas/DashboardOrderCompositionTotals"
        buyer_totals:
          type: object
          description: MTD totals + percentage shares keyed by buyer bucket.
          additionalProperties:
            "$ref": "#/components/schemas/DashboardOrderCompositionTotals"
        currency:
          "$ref": "#/components/schemas/Currency"
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - daily_by_source
      - daily_by_buyer
      - source_totals
      - buyer_totals
      - currency
    DashboardSubscriptionScheduledBar:
      type: object
      properties:
        week_start:
          type: string
          format: date
        week_end:
          type: string
          format: date
        revenue:
          "$ref": "#/components/schemas/Money"
      required:
      - week_start
      - week_end
      - revenue
    DashboardSubscriptionEngineResponse:
      type: object
      properties:
        scheduled:
          type: array
          description: |
            One entry per week for the next four calendar weeks
            starting today. Sums `commerce_subscriptions.price` on
            active + past_due subs whose `next_bill_date` falls in
            each 7-day slot.
          items:
            "$ref": "#/components/schemas/DashboardSubscriptionScheduledBar"
        scheduled_total:
          "$ref": "#/components/schemas/Money"
        subscribers:
          type: object
          properties:
            active:
              type: integer
              minimum: 0
              description: |
                Current count of subscriptions in status `active` or
                `past_due`. Past-due is included because dunning is
                still in flight and the sub can still recover.
            net_new_this_month:
              type: integer
              description: |
                (subscriptions that started active this month) −
                (subscriptions cancelled this month). Positive =
                growth, negative = net churn.
          required:
          - active
          - net_new_this_month
        recovery:
          type: object
          description: |
            Recovery rate = the fraction of failed billing events in
            the range whose subscription later produced a succeeded
            billing event. `baseline_rate` is the same metric over
            the trailing 6 months (before this month).
          properties:
            rate:
              "$ref": "#/components/schemas/Percentage"
            baseline_rate:
              "$ref": "#/components/schemas/Percentage"
          required:
          - rate
          - baseline_rate
        cancels:
          type: object
          properties:
            this_month:
              type: integer
              minimum: 0
            typical:
              type: integer
              minimum: 0
              description: |
                Trailing 6-month monthly average of cancels, rounded
                to the nearest integer.
          required:
          - this_month
          - typical
        currency:
          "$ref": "#/components/schemas/Currency"
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - scheduled
      - scheduled_total
      - subscribers
      - recovery
      - cancels
      - currency
    DashboardPaymentRecoveryResponse:
      type: object
      description: |
        Dunning effectiveness for the current calendar month. Amounts
        are attributed by the failing subscription's current `price`,
        one entry per subscription per bucket. Recovery is derived
        from BillingEvent transitions because
        `subscriptions.last_failed_at` clears to NULL on success.
      properties:
        failed_amount:
          "$ref": "#/components/schemas/Money"
        failed_count:
          type: integer
          minimum: 0
        recovered_amount:
          "$ref": "#/components/schemas/Money"
        recovered_count:
          type: integer
          minimum: 0
        retrying_amount:
          "$ref": "#/components/schemas/Money"
        retrying_count:
          type: integer
          minimum: 0
        written_off_amount:
          "$ref": "#/components/schemas/Money"
        written_off_count:
          type: integer
          minimum: 0
        won_back_pct:
          "$ref": "#/components/schemas/Percentage"
        baseline_won_back_pct:
          "$ref": "#/components/schemas/Percentage"
        top_retrying_reasons:
          type: array
          description: |
            Up to two human-readable category labels describing the
            dominant failure reasons among the retrying
            subscriptions (e.g. "insufficient funds", "expired
            cards"). Empty when nothing is retrying or no reasons
            categorised.
          items:
            type: string
          maxItems: 2
        currency:
          "$ref": "#/components/schemas/Currency"
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - failed_amount
      - failed_count
      - recovered_amount
      - recovered_count
      - retrying_amount
      - retrying_count
      - written_off_amount
      - written_off_count
      - won_back_pct
      - baseline_won_back_pct
      - top_retrying_reasons
      - currency
    DashboardChannelEconomicsRow:
      type: object
      description: |
        One channel's economics over the trailing 30-day window.
        Revenue is attributed via
        `metrics_order_traffic_attributions.channel` (stamped at
        order creation), visitors is bot-free distinct visitors on
        the channel, and delta_pct is the page-view delta versus
        the preceding 30-day window — lifted straight from the
        Traffic > Sources view so Home and Traffic never disagree.
      properties:
        key:
          type: string
          enum:
          - reps
          - email
          - paid
          - social
          - organic
          - referral
          - direct
        revenue:
          "$ref": "#/components/schemas/Money"
        visitors:
          type: integer
          minimum: 0
        revenue_per_visitor:
          "$ref": "#/components/schemas/Money"
        delta_pct:
          description: |
            Page-view percentage change vs the preceding 30 days,
            rounded to 1dp. Null when the previous window had no
            traffic to divide by.
          oneOf:
          - type: string
          - type: 'null'
      required:
      - key
      - revenue
      - visitors
      - revenue_per_visitor
      - delta_pct
    DashboardChannelEconomicsResponse:
      type: object
      description: |
        Per-channel revenue, visitors, and delta for the trailing
        30 days. Seven canonical channels in fixed order —
        reps, email, paid, social, organic, referral, direct —
        even when a channel had no traffic (rows are zero-filled,
        never omitted).
      properties:
        rows:
          type: array
          items:
            "$ref": "#/components/schemas/DashboardChannelEconomicsRow"
          minItems: 7
          maxItems: 7
        unattributed_revenue:
          allOf:
          - "$ref": "#/components/schemas/Money"
          - description: |
              Recognized-order revenue in the window that has no
              attribution row (mobile / backoffice / SDK / raw
              checkouts). Exposed at the envelope level so no
              per-channel `revenue_per_visitor` mixes an
              untracked-cohort numerator with a tracked-cohort
              denominator. Consumers can present it as a "not
              attributed" supplemental line alongside the seven
              channel rows.
        currency:
          "$ref": "#/components/schemas/Currency"
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - rows
      - unattributed_revenue
      - currency
    DashboardRecentOrderRow:
      type: object
      description: |
        One order on the recent-orders live feed. Newest first;
        amount is denominated in the company's base currency (so
        mixed-currency stores compare cleanly on the card).
        Customer / location are read from the order's
        shipping_address so the row is display-ready without
        walking the customer / contact / member axis.
      properties:
        id:
          type: integer
          minimum: 1
        number:
          oneOf:
          - type: string
          - type: 'null'
        customer_name:
          type: string
        product_title:
          type: string
        amount:
          "$ref": "#/components/schemas/Money"
        location_city:
          oneOf:
          - type: string
          - type: 'null'
        location_country:
          description: ISO 3166-1 alpha-2 country code (uppercase), or null.
          oneOf:
          - type: string
          - type: 'null'
        rep_name:
          description: |
            Present when a rep's share drove the order; absent
            (null) on unattributed orders.
          oneOf:
          - type: string
          - type: 'null'
        sale_at:
          type: string
          format: date-time
        thumbnail_url:
          description: |
            The first item's product image URL. Nil when the
            product has no image; the FE falls back to a gradient
            icon tile.
          oneOf:
          - type: string
            format: uri
          - type: 'null'
      required:
      - id
      - number
      - customer_name
      - product_title
      - amount
      - location_city
      - location_country
      - rep_name
      - sale_at
      - thumbnail_url
    DashboardRecentOrdersResponse:
      type: object
      description: |
        Latest revenue-recognized orders (paid /
        partially_refunded / marked_paid) for a company. Ordered
        newest-first by sale_date; ties broken by id descending.
      properties:
        orders:
          type: array
          items:
            "$ref": "#/components/schemas/DashboardRecentOrderRow"
          maxItems: 50
        currency:
          "$ref": "#/components/schemas/Currency"
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - orders
      - currency
    DashboardBestSellerRow:
      type: object
      description: |
        One product's best-seller ranking. Revenue is denominated
        in the company's base currency; title is captured on the
        first item's row so a subsequently renamed product still
        reads correctly on historical rows.
      properties:
        rank:
          type: integer
          minimum: 1
        product_id:
          type: integer
          minimum: 1
        title:
          type: string
        thumbnail_url:
          oneOf:
          - type: string
            format: uri
          - type: 'null'
        units:
          type: integer
          minimum: 0
        revenue:
          "$ref": "#/components/schemas/Money"
        avg_price:
          "$ref": "#/components/schemas/Money"
        spark:
          type: array
          description: |
            Trailing seven-day daily revenue in base currency,
            oldest → newest. Zero-filled for days without a sale
            so the FE sparkline's x-axis stays uniform across
            products. Feeds the Trend column on the Best sellers
            card.
          items:
            "$ref": "#/components/schemas/Money"
          minItems: 7
          maxItems: 7
      required:
      - rank
      - product_id
      - title
      - thumbnail_url
      - units
      - revenue
      - avg_price
      - spark
    DashboardBestSellersResponse:
      type: object
      description: |
        Top-selling products for the current calendar month,
        ranked by revenue descending. Empty array when the
        company has no revenue-recognized orders in the window.
      properties:
        rows:
          type: array
          items:
            "$ref": "#/components/schemas/DashboardBestSellerRow"
          maxItems: 6
        currency:
          "$ref": "#/components/schemas/Currency"
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - rows
      - currency
    DashboardPriceBucket:
      type: object
      description: |
        One price band in the catalogue-price histogram. Bounds
        are half-open (min inclusive, max exclusive). The open-
        ended top band (max: null) captures every high-value
        product without a hard ceiling.
      properties:
        label:
          type: string
        min:
          "$ref": "#/components/schemas/Money"
        max:
          oneOf:
          - "$ref": "#/components/schemas/Money"
          - type: 'null'
        count:
          type: integer
          minimum: 0
        share:
          description: |
            count / catalogue_size, rounded to 4dp, as a decimal
            string in [0, 1].
          type: string
      required:
      - label
      - min
      - max
      - count
      - share
    DashboardPriceDistributionResponse:
      type: object
      description: |
        Active-catalogue price histogram on the company's default
        country. Products without a default-country variant drop
        out — they aren't sellable in the operator's home market
        and would otherwise inflate the low band.
      properties:
        buckets:
          type: array
          items:
            "$ref": "#/components/schemas/DashboardPriceBucket"
          minItems: 7
          maxItems: 7
        catalogue_size:
          type: integer
          minimum: 0
        median_price:
          "$ref": "#/components/schemas/Money"
        currency:
          "$ref": "#/components/schemas/Currency"
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - buckets
      - catalogue_size
      - median_price
      - currency
    DashboardLiveHeaderResponse:
      type: object
      description: |
        Four tiles that sit above the Home > Live intraday chart:
        visitors on the site right now, revenue and orders on the
        store-local calendar day, and reps active today. The
        vs-typical delta shows how today's revenue-so-far compares
        to the average of the trailing twelve same-weekday dates
        at this same wall-clock instant.
      properties:
        visitors_now:
          type: integer
          minimum: 0
          description: |
            Distinct bot-free sessions in the trailing five
            minutes.
        visitors_sparkline:
          type: array
          items:
            type: integer
            minimum: 0
          minItems: 30
          maxItems: 30
          description: |
            Thirty one-minute buckets of distinct-session counts,
            oldest → newest. Zero-filled for quiet minutes so the
            chart's x-axis stays uniform across polls.
        revenue_today:
          "$ref": "#/components/schemas/Money"
        orders_today:
          type: integer
          minimum: 0
        reps_active_today:
          type: integer
          minimum: 0
          description: |
            Distinct member ids that either closed a sale or
            fired a share-attributed visit on the store-local
            calendar day.
        typical_revenue:
          "$ref": "#/components/schemas/Money"
        delta_vs_typical:
          "$ref": "#/components/schemas/Money"
        currency:
          "$ref": "#/components/schemas/Currency"
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - visitors_now
      - visitors_sparkline
      - revenue_today
      - orders_today
      - reps_active_today
      - typical_revenue
      - delta_vs_typical
      - currency
    DashboardIntradayPoint:
      type: object
      description: |
        One point on the Home > Live "Today so far" chart. Nil
        `revenue` / `cumulative_revenue` mark hours beyond the
        current wall-clock hour on the "today" series so the FE
        can stop drawing at the live cursor; the typical series
        carries values for every hour of the day.
      properties:
        hour_of_day:
          type: integer
          minimum: 0
          maximum: 23
        revenue:
          oneOf:
          - "$ref": "#/components/schemas/Money"
          - type: 'null'
        cumulative_revenue:
          oneOf:
          - "$ref": "#/components/schemas/Money"
          - type: 'null'
      required:
      - hour_of_day
      - revenue
      - cumulative_revenue
    DashboardLiveIntradayResponse:
      type: object
      description: |
        Two 24-point series over the store-local day: today's
        cumulative revenue and the same-DOW 12-week average
        baseline. `typical` is null when the tenant has fewer
        than four matching-DOW dates on record (baseline below
        the noise floor). `revenue_today` and `typical_by_now`
        duplicate the cumulative values at the current hour so
        the FE cursor callout doesn't have to walk the array.
      properties:
        today:
          type: array
          items:
            "$ref": "#/components/schemas/DashboardIntradayPoint"
          minItems: 24
          maxItems: 24
        typical:
          oneOf:
          - type: array
            items:
              "$ref": "#/components/schemas/DashboardIntradayPoint"
            minItems: 24
            maxItems: 24
          - type: 'null'
        weekday:
          type: integer
          minimum: 0
          maximum: 6
          description: |
            Sunday = 0 … Saturday = 6. Lets the FE label the
            typical line ("Typical Friday") without a second
            call.
        revenue_today:
          "$ref": "#/components/schemas/Money"
        typical_by_now:
          oneOf:
          - "$ref": "#/components/schemas/Money"
          - type: 'null'
        currency:
          "$ref": "#/components/schemas/Currency"
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - today
      - typical
      - weekday
      - revenue_today
      - typical_by_now
      - currency
    DashboardLiveActivityEvent:
      type: object
      description: |
        One entry in the Live > Activity feed. `kind` drives the
        icon + tint on the FE; `amount` is nil for shares (no
        money moved) and present for orders / first-sales /
        subscription rebills, always in the top-level `currency`.
      properties:
        id:
          type: string
          description: "`{kind}-{primary_key}` — stable react key."
        kind:
          type: string
          enum: [ order, first_sale, share, subscription ]
        occurred_at:
          type: string
          format: date-time
        actor:
          type: string
        text:
          type: string
        amount:
          oneOf:
          - "$ref": "#/components/schemas/Money"
          - type: 'null'
        location:
          type:
          - string
          - 'null'
        via_rep:
          type:
          - string
          - 'null'
      required:
      - id
      - kind
      - occurred_at
      - actor
      - text
      - amount
      - location
      - via_rep
    DashboardLiveActivityResponse:
      type: object
      description: |
        Home > Live "Activity" card (Card 4). Up to 7 newest-first
        events across four source kinds: order, first_sale, share,
        subscription. Milestone / viral event kinds from felipe's
        design mock land in a follow-up once product locks their
        signals.
      properties:
        events:
          type: array
          items:
            "$ref": "#/components/schemas/DashboardLiveActivityEvent"
          maxItems: 7
        currency:
          "$ref": "#/components/schemas/Currency"
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - events
      - currency
    DashboardLiveWhereTheyAreResponse:
      type: object
      description: |
        Home > Live "Where they are" card (Card 6). Ranked list
        of countries with visitors on the site right now, plus
        the total online count across all countries. Same
        5-minute trailing window as the visitors-now header tile
        and Top Pages card so counts stay consistent across the
        tab. `online_total` is the sum across ALL countries in
        the window, not just the top-N countries returned.
      properties:
        countries:
          type: array
          maxItems: 6
          items:
            type: object
            properties:
              code:
                type: string
                description: ISO country code as ingest stamped it.
                example: "US"
              visitors:
                type: integer
                minimum: 0
            required:
            - code
            - visitors
        online_total:
          type: integer
          minimum: 0
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - countries
      - online_total
    DashboardFieldMomentumResponse:
      type: object
      description: |
        Home > Field momentum header (Phase 003 Card 1). Three tiles
        that sit above the 14-day rep-activity chart. `active_yesterday`
        counts distinct reps active on the store-local calendar
        yesterday, where "active" means either a `share.visited` event
        keyed to the rep via `analytics_events.member_id` OR a paid
        order with `orders.attribution_member_id = rep.id`.
        `typical_for_weekday` is the median across the twelve trailing
        same-weekday dates, or `null` when fewer than four of those
        dates carried any activity. `active_this_month` and
        `rep_revenue_mtd` cover the current calendar month.
      properties:
        active_yesterday:
          type: integer
          minimum: 0
        typical_for_weekday:
          type:
            - integer
            - "null"
          minimum: 0
          description: Same-weekday 12-week median; null when history is too thin.
        weekday:
          type: string
          description: Day-name of yesterday in the store timezone (e.g. "Friday").
          example: "Thursday"
        active_this_month:
          type: integer
          minimum: 0
        rep_revenue_mtd:
          type: string
          description: Decimal string of attribution-scoped revenue in the company default currency.
          example: "12345.67"
        rep_revenue_share_pct:
          type:
            - string
            - "null"
          description: |
            `rep_revenue_mtd / total_company_revenue_mtd × 100`, rounded to one
            decimal, as a decimal string. Null when total company revenue MTD
            is zero — the FE hides the sub-label in that case rather than
            rendering `0% of $0`.
          example: "24.3"
        currency:
          type: string
          description: ISO currency code (e.g. "USD").
          example: "USD"
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - active_yesterday
      - typical_for_weekday
      - weekday
      - active_this_month
      - rep_revenue_mtd
      - rep_revenue_share_pct
      - currency
    DashboardFieldRisingRepsResponse:
      type: object
      description: |
        Home > Field "Rising" card (Phase 003 Card 3). Up to five
        reps whose trailing-7-day attributed revenue has cleared
        1.5× their trailing-28-day daily average scaled to a week.
        Ranked by that ratio descending. Empty when no rep meets
        the threshold.
      properties:
        movers:
          type: array
          maxItems: 5
          items:
            type: object
            properties:
              name:
                type: string
                description: The rep's display name (or "A rep" as a fallback).
              detail:
                type: string
                description: One-line prose describing the momentum shape.
                example: "revenue 2.4× last week's baseline"
              monthly_revenue:
                type: string
                description: Decimal string of the rep's trailing-28-day attributed revenue.
                example: "800.00"
              spark:
                type: array
                minItems: 12
                maxItems: 12
                items:
                  type: string
                description: Twelve daily revenue points, oldest first (each as a decimal string).
            required:
              - name
              - detail
              - monthly_revenue
              - spark
        currency:
          type: string
          description: ISO currency code (e.g. "USD").
          example: "USD"
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - movers
      - currency
    DashboardFieldGoingQuietRepsResponse:
      type: object
      description: |
        Home > Field "Going quiet" card (Phase 003 Card 4). Up to
        five reps silent for at least 7 days who had at least 4
        events in the prior 28 days. Ranked by days_quiet
        descending; days_quiet capped at 90. Empty when no rep
        qualifies.
      properties:
        movers:
          type: array
          maxItems: 5
          items:
            type: object
            properties:
              name:
                type: string
                description: The rep's display name (or "A rep" fallback).
              detail:
                type: string
                description: One-line prose describing the silence shape.
                example: "silent since Aug 3"
              monthly_revenue:
                type: string
                description: |
                  Decimal string of the rep's trailing-28-day
                  attributed revenue. FE surfaces as "at risk / mo".
                example: "400.00"
              days_quiet:
                type: integer
                minimum: 0
                maximum: 90
                description: Days since the rep's last activity (capped at 90).
              spark:
                type: array
                minItems: 12
                maxItems: 12
                items:
                  type: string
                description: Twelve daily revenue points, oldest first (each a decimal string).
            required:
              - name
              - detail
              - monthly_revenue
              - days_quiet
              - spark
        currency:
          type: string
          description: ISO currency code.
          example: "USD"
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - movers
      - currency
    DashboardFieldLeaderboardResponse:
      type: object
      description: |
        Home > Field "Leaderboard" card (Phase 003 Card 5). Up to 50
        reps ranked by current-calendar-month attributed revenue,
        desc. Each row carries visitors (distinct sessions across
        every visit event type — share.visited, url.visited,
        page.visited, product.visited, etc. — that credited the
        rep via `attribution_member_id`; a direct hit on the rep's
        mysite counts equally to a click on their share link),
        orders (attributed order count), revenue, a 12-point spark,
        an optional top-asset preview, and a rank-change vs the
        prior calendar month (`null` when the rep had zero activity
        last month — the FE renders that as a "new" badge). Rows
        are pre-sorted by revenue; the FE applies search / sort /
        move-type filtering client-side.
      properties:
        reps:
          type: array
          maxItems: 50
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: |
                  The rep's `Company::Member` uuid. Stable across
                  refetches and client-side sorts — the FE keys
                  table rows off it so per-row local state
                  (image-failure fallback, etc.) follows the rep
                  instead of a shifting array position.
              name:
                type: string
                description: The rep's display name (or "A rep" fallback).
              visitors:
                type: integer
                minimum: 0
                description: |
                  Distinct `analytics_events.session_uuid` MTD across
                  every visit event type (share.visited, url.visited,
                  page.visited, product.visited, and every other
                  `*.visited` resource type) whose
                  `attribution_member_id` credits this rep. Direct
                  hits on the rep's mysite count equally to visits
                  arriving through their share links; the metric
                  is the same "who gets credit" rule the orders
                  side uses.
              orders:
                type: integer
                minimum: 0
                description: |
                  Count of revenue-recognized attributed orders
                  (`orders.attribution_member_id = rep.id`) MTD.
              revenue:
                type: string
                description: |
                  Decimal string of the rep's MTD attributed
                  `orders.amount_in_base` sum.
                example: "1234.56"
              spark:
                type: array
                minItems: 12
                maxItems: 12
                items:
                  type: string
                description: Twelve daily revenue points, oldest first (each a decimal string).
              top_asset:
                type:
                  - object
                  - "null"
                description: |
                  Most-visited share target for this rep MTD.
                  Resolved from `share.visited` events grouped by
                  `share_id`, then dereferenced to the polymorphic
                  target. Null when the rep has no share.visited
                  activity this month.
                properties:
                  title:
                    type: string
                    description: Display title of the target resource.
                  kind:
                    type: string
                    enum: [media, product, page, post, library, enrollment_pack, share]
                    description: |
                      Category of the target — mirrors the share's
                      `relateable_type`. "share" is the fallback
                      when the target type isn't one the FE
                      renders a preview for.
                  thumbnail_url:
                    type:
                      - string
                      - "null"
                    description: Optional preview image URL.
                required:
                  - title
                  - kind
                  - thumbnail_url
              change:
                type:
                  - integer
                  - "null"
                description: |
                  Rank-position delta vs the prior calendar month
                  (positive = climbed). `0` when the rep had prior
                  activity but no prior-month attributed revenue
                  (no prior rank on the revenue leaderboard) —
                  the FE renders `0` as an em-dash. `null` when
                  the rep had zero prior-month activity (no
                  orders, no share.visited events) — the FE
                  renders `null` as a "NEW" badge.
            required:
              - id
              - name
              - visitors
              - orders
              - revenue
              - spark
              - top_asset
              - change
        currency:
          type: string
          description: ISO currency code.
          example: "USD"
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - reps
      - currency
    DashboardFieldActivityChartResponse:
      type: object
      description: |
        Home > Field 14-day rep activity chart (Phase 003 Card 2).
        One series of 14 daily points ending yesterday (store-local
        calendar). Each point carries `reps` — distinct reps active
        that day (a `share.visited` event keyed to the rep via
        `analytics_events.member_id` OR a paid order with
        `orders.attribution_member_id = rep.id`) — and `typical`, the
        median across the twelve prior same-weekday dates. `typical`
        is `null` when fewer than four of those same-weekday dates
        carried any activity.
      properties:
        series:
          type: array
          minItems: 14
          maxItems: 14
          items:
            type: object
            properties:
              date:
                type: string
                format: date
                description: ISO 8601 date (store-local calendar).
              reps:
                type: integer
                minimum: 0
              typical:
                type:
                  - integer
                  - "null"
                minimum: 0
                description: Same-weekday 12-week median; null when history is too thin.
            required:
              - date
              - reps
              - typical
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - series
    DashboardLiveTopPagesResponse:
      type: object
      description: |
        Home > Live "Top pages" card (Card 5). Ranked list of URL
        paths visitors are on right now, distinct sessions in the
        last 5 minutes. Bots filtered out to match the visitors-
        now header tile.
      properties:
        pages:
          type: array
          maxItems: 6
          items:
            type: object
            properties:
              path:
                type: string
                description: URL path (host + query string stripped).
                example: "/cart"
              active_viewers:
                type: integer
                minimum: 0
            required:
            - path
            - active_viewers
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - pages
    DashboardLiveMoneyInMotionResponse:
      type: object
      description: |
        Home > Live "In motion" card (Card 3). Three (count, value)
        rows counting money the storefront is exposed to right now:
        active carts touched inside the abandoned threshold,
        abandoned carts still inside the recovery window, and
        subscription rebills that failed today.
      properties:
        active_carts:
          type: integer
          minimum: 0
        active_carts_value:
          "$ref": "#/components/schemas/Money"
        abandoned_carts:
          type: integer
          minimum: 0
        abandoned_carts_value:
          "$ref": "#/components/schemas/Money"
        failed_payments:
          type: integer
          minimum: 0
        failed_payments_value:
          "$ref": "#/components/schemas/Money"
        currency:
          "$ref": "#/components/schemas/Currency"
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - active_carts
      - active_carts_value
      - abandoned_carts
      - abandoned_carts_value
      - failed_payments
      - failed_payments_value
      - currency
    SubscriptionBillingDay:
      type: object
      description: |
        One cell in the month grid. Scheduled and settled figures are
        kept apart rather than flattened: `scheduled_amount` only means
        something before a day's charges run, `succeeded_amount` only
        after. A day that is part-way through carries both.
      properties:
        date:
          type: string
          format: date
          example: "2026-09-20"
        renewal_count:
          type: integer
          minimum: 0
          description: |
            Renewal cycles this date touched, counted once each. The
            figure to render as "N renewals": deliberately not the sum
            of the buckets below, because a renewal's bill date advances
            only when a charge clears, so one that failed is reported
            both as money still due and as the attempt that failed.
        renewal_amount:
          "$ref": "#/components/schemas/Money"
        scheduled_count:
          type: integer
          minimum: 0
          description: |
            Renewals due on this date that automatic billing will still
            claim.
        scheduled_amount:
          "$ref": "#/components/schemas/Money"
        overdue_count:
          type: integer
          minimum: 0
          description: |
            Renewals due on this date but aged past
            `Commerce::Subscription::OVERDUE_LOOKBACK`. Automatic
            billing never claims these, so they are reported apart
            from scheduled money rather than as revenue to come.
        overdue_amount:
          "$ref": "#/components/schemas/Money"
        at_risk_count:
          type: integer
          minimum: 0
          description: |
            Scheduled renewals graded `elevated` or `severe`. The grade
            is a deterministic read of present dunning state, not a
            predicted likelihood — no per-renewal score is served.
        at_risk_amount:
          "$ref": "#/components/schemas/Money"
        at_risk_unsettled_count:
          type: integer
          minimum: 0
          description: |
            Of `at_risk_count`, the renewals that have not run on this
            date. Disjoint from the settled counts, so a caller may add
            the two — `at_risk_count` may not be added to them, because
            a renewal that declined today keeps its bill date and is
            reported in both.

            Keyed on the renewal's cycle date, while `at_risk_count` is
            keyed on the date the grid draws it. Where the operator's
            zone and the subscription's disagree, the grade sits on one
            cell and this split on its neighbour — attribution, not a
            second count.
        at_risk_unsettled_amount:
          "$ref": "#/components/schemas/Money"
        top_risk_driver:
          type:
          - string
          - "null"
          description: |
            The most common risk factor behind the day's at-risk
            renewals, or `null` when none are graded.
          enum:
          - disabled
          - hard_decline
          - stale_failure
          - repeated_declines
          - dunning_in_flight
          - prior_failures
          - null
          example: prior_failures
        in_flight_count:
          type: integer
          minimum: 0
          description: |
            Billing events staged or attempted but not yet resolved.
            Counted rather than summed, and excluded from both the
            scheduled and settled totals, so nothing is silently
            dropped between the two halves of the day.
        succeeded_count:
          type: integer
          minimum: 0
        succeeded_amount:
          "$ref": "#/components/schemas/Money"
        hard_decline_count:
          type: integer
          minimum: 0
          description: |
            Failed charge attempts whose event is not retriable under
            `Commerce::BillingEvent.retriable_failure?` — the dunning
            chain will not attempt these again. Counts attempts: a
            renewal retried three times on this date is three. For the
            renewals behind them, see `hard_decline_renewal_count`.
        hard_decline_amount:
          "$ref": "#/components/schemas/Money"
        soft_decline_count:
          type: integer
          minimum: 0
          description: |
            Retriable failed attempts that nothing currently has in hand.
            Counts attempts, like `hard_decline_count`.
        soft_decline_amount:
          "$ref": "#/components/schemas/Money"
        awaiting_retry_count:
          type: integer
          minimum: 0
          description: |
            Retriable failed attempts whose subscription passes every
            gate `Commerce::RetryFailedPaymentsJob` applies, so a retry
            is scheduled. Counts attempts, like `hard_decline_count`.
        awaiting_retry_amount:
          "$ref": "#/components/schemas/Money"
        hard_decline_renewal_count:
          type: integer
          minimum: 0
          description: |
            Renewal cycles that failed on this date and have not
            cleared, counted once each however many attempts they took —
            the population the day's actions reach, where
            `hard_decline_count` is the charges that ran.

            Each cycle is filed the way the day endpoint files its row,
            by its newest attempt: `awaiting_retry` when the
            subscription has a retry in hand, whatever that attempt
            said and whether or not the merchant has collection paused;
            otherwise by the attempt's retriability. This figure is the
            hard declines with no retry in hand.

            The three `*_renewal_count` figures are disjoint and add up
            to the day's failed renewals. A cycle that later cleared is
            in none of them. Their split can differ from the attempt
            counts', which file a non-retriable attempt as a hard
            decline first and treat nothing as awaiting retry while
            collection is paused. A cycle whose newest event is a charge
            still in progress is in none of them, as the day endpoint
            reports that row in flight.
          example: 1
        soft_decline_renewal_count:
          type: integer
          minimum: 0
          description: |
            As `hard_decline_renewal_count`, for renewals whose newest
            attempt is a retriable failure and whose subscription has
            no retry in hand.
          example: 0
        awaiting_retry_renewal_count:
          type: integer
          minimum: 0
          description: |
            As `hard_decline_renewal_count`, for renewals whose
            subscription has a retry in hand.
          example: 3
      required:
      - date
      - renewal_count
      - renewal_amount
      - scheduled_count
      - scheduled_amount
      - overdue_count
      - overdue_amount
      - at_risk_count
      - at_risk_amount
      - at_risk_unsettled_count
      - at_risk_unsettled_amount
      - top_risk_driver
      - in_flight_count
      - succeeded_count
      - succeeded_amount
      - hard_decline_count
      - hard_decline_amount
      - soft_decline_count
      - soft_decline_amount
      - awaiting_retry_count
      - awaiting_retry_amount
      - hard_decline_renewal_count
      - soft_decline_renewal_count
      - awaiting_retry_renewal_count
    SubscriptionBillingTotals:
      type: object
      description: |
        Month-level sums. `renewal_*` rolls scheduled and overdue
        together — what fell due and has not settled.
        `all_renewal_count` is the whole month instead. A
        month-over-month comparison must read `all_renewal_count` on
        both sides; a past month has settled nearly everything, so its
        `renewal_count` is the unsettled remainder and comparing a live
        month against that compares two different populations.
      properties:
        scheduled_count:
          type: integer
          minimum: 0
        scheduled_amount:
          "$ref": "#/components/schemas/Money"
        overdue_count:
          type: integer
          minimum: 0
        overdue_amount:
          "$ref": "#/components/schemas/Money"
        renewal_count:
          type: integer
          minimum: 0
          description: |
            Scheduled plus overdue: every renewal that fell due and has
            not settled. Not a month-over-month baseline — see
            `all_renewal_count`.
        renewal_amount:
          "$ref": "#/components/schemas/Money"
        all_renewal_count:
          type: integer
          minimum: 0
          description: |
            Every renewal the month touched, whatever became of it,
            counted once each. Deliberately not the sum of the buckets:
            a renewal's bill date advances only when a charge clears, so
            one that failed is reported both as money still due and as
            the attempt that failed, and adding the buckets counts it
            twice.

            Not the sum of the day cells either. A cell is keyed on the
            date the grid draws a renewal on, in the operator's
            timezone, while this counts the renewal's own cycle date, in
            the subscription's. Near a month boundary the two disagree:
            a renewal drawn on 1 September can belong to August's cycle,
            so it appears in a September cell and in August's
            `all_renewal_count`. Read this figure for the month rather
            than adding the cells up.
        all_renewal_amount:
          "$ref": "#/components/schemas/Money"
        succeeded_count:
          type: integer
          minimum: 0
        succeeded_amount:
          "$ref": "#/components/schemas/Money"
        failed_count:
          type: integer
          minimum: 0
        failed_amount:
          "$ref": "#/components/schemas/Money"
      required:
      - scheduled_count
      - scheduled_amount
      - overdue_count
      - overdue_amount
      - renewal_count
      - renewal_amount
      - all_renewal_count
      - all_renewal_amount
      - succeeded_count
      - succeeded_amount
      - failed_count
      - failed_amount
    SubscriptionBillingCalendarResponse:
      type: object
      properties:
        month:
          type: string
          format: date
          description: First of the month reported.
          example: "2026-09-01"
        time_zone:
          type: string
          description: |
            IANA zone the scheduled half was bucketed in — the `tz`
            that was sent, or `UTC` when it was missing or unknown.
            Echoed so the grid can label which day boundaries it is
            drawing. The settled half needs no such note: billing
            events carry an already-local date.
          example: America/Denver
        currency:
          "$ref": "#/components/schemas/Currency"
        days:
          type: array
          description: |
            One entry per date in the month, ascending, always the full
            month. A quiet month returns zero-filled days rather than
            an empty array, so the grid can tell "nothing happened"
            from "nothing loaded".
          items:
            "$ref": "#/components/schemas/SubscriptionBillingDay"
        totals:
          "$ref": "#/components/schemas/SubscriptionBillingTotals"
        previous_totals:
          "$ref": "#/components/schemas/SubscriptionBillingTotals"
      required:
      - month
      - time_zone
      - currency
      - days
      - totals
      - previous_totals
    SubscriptionBillingDeclineReason:
      type: object
      properties:
        label:
          type: string
          description: |
            Category from the same list the Home > Overview recovery
            card buckets on, or `uncategorised` when nothing matched.
          example: insufficient funds
        count:
          type: integer
          minimum: 0
          description: |
            Failed ATTEMPTS in this category — how much work it made.
            Not the population `amount` is summed over; see
            `cycle_count`.
        cycle_count:
          type: integer
          minimum: 0
          description: |
            Renewal CYCLES behind those attempts, counted once each
            however often the chain retried them. This is the population
            `amount` is summed over, and the figure the list is ordered
            by.
        amount:
          "$ref": "#/components/schemas/Money"
        recoverable_count:
          type: integer
          minimum: 0
          description: |
            Failed ATTEMPTS the retry chain would make again — the same
            population as `count`. Deliberately not the count behind
            `recoverable_amount`, which is CYCLES, counted once however
            often each was retried. The two are different populations,
            so dividing one by the other answers neither question.
        recoverable_amount:
          "$ref": "#/components/schemas/Money"
        share_of_failures:
          "$ref": "#/components/schemas/Percentage"
      required:
      - label
      - count
      - cycle_count
      - amount
      - recoverable_count
      - recoverable_amount
      - share_of_failures
    SubscriptionBillingMarket:
      type: object
      properties:
        country_iso:
          type:
          - string
          - "null"
          description: |
            `null` only when the Country row has been removed —
            `commerce_subscriptions.country_id` is NOT NULL.
          example: US
        country_name:
          type:
          - string
          - "null"
          example: United States
        resolved_count:
          type: integer
          minimum: 0
        amount:
          "$ref": "#/components/schemas/Money"
        failure_count:
          type: integer
          minimum: 0
        failure_rate:
          "$ref": "#/components/schemas/Percentage"
        top_decline_reason:
          type:
          - string
          - "null"
          description: |
            Withheld (`null`) below the market sample floor — naming a
            dominant reason off a handful of charges says more than the
            data supports.
          example: insufficient funds
      required:
      - country_iso
      - country_name
      - resolved_count
      - amount
      - failure_count
      - failure_rate
      - top_decline_reason
    SubscriptionBillingTimingBucket:
      type: object
      properties:
        label:
          type: string
          example: 12:00-17:59
        resolved_count:
          type: integer
          minimum: 0
        success_rate:
          oneOf:
          - "$ref": "#/components/schemas/Percentage"
          - type: "null"
          description: |
            `null` when `sufficient_sample` is false.
        sufficient_sample:
          type: boolean
          description: |
            False means too few charges landed in the bucket to report
            a rate, so the frontend shows "not enough data" rather than
            a figure derived from a handful.
      required:
      - label
      - resolved_count
      - success_rate
      - sufficient_sample
    SubscriptionBillingTrendPoint:
      type: object
      properties:
        date:
          type: string
          format: date
          example: "2026-09-20"
        revenue:
          "$ref": "#/components/schemas/Money"
      required:
      - date
      - revenue
    SubscriptionBillingBreakdownResponse:
      type: object
      properties:
        month:
          type: string
          format: date
          example: "2026-09-01"
        currency:
          "$ref": "#/components/schemas/Currency"
        resolved_count:
          type: integer
          minimum: 0
          description: |
            Charges that ran and reached an outcome. Staged and
            attempted events are excluded — they have no outcome yet,
            and counting them would deflate every rate here.
        succeeded_count:
          type: integer
          minimum: 0
        failure_count:
          type: integer
          minimum: 0
        failure_rate:
          "$ref": "#/components/schemas/Percentage"
        recoverable_amount:
          "$ref": "#/components/schemas/Money"
        lost_amount:
          "$ref": "#/components/schemas/Money"
        daily_trend:
          type: array
          description: Cleared money per date, zero-filled across the month.
          items:
            "$ref": "#/components/schemas/SubscriptionBillingTrendPoint"
        decline_reasons:
          type: array
          description: |
            Ordered by the renewals behind each reason, descending, with
            failed attempts breaking a tie — so the first row is the
            reason costing the most renewals rather than the one whose
            retry chain ran longest. `share_of_failures` is a share of
            attempts, so it does not decrease monotonically down the list.
          items:
            "$ref": "#/components/schemas/SubscriptionBillingDeclineReason"
        markets:
          type: array
          description: Ordered by money descending.
          items:
            "$ref": "#/components/schemas/SubscriptionBillingMarket"
        hour_bands:
          type: array
          description: |
            Four six-hour windows partitioning the day, in UTC. These
            describe when the billing pipeline ran a charge, which is a
            property of the platform rather than of the reader — unlike
            the calendar's scheduled half.
          items:
            "$ref": "#/components/schemas/SubscriptionBillingTimingBucket"
        month_parts:
          type: array
          description: Thirds of the month.
          items:
            "$ref": "#/components/schemas/SubscriptionBillingTimingBucket"
      required:
      - month
      - currency
      - resolved_count
      - succeeded_count
      - failure_count
      - failure_rate
      - recoverable_amount
      - lost_amount
      - daily_trend
      - decline_reasons
      - markets
      - hour_bands
      - month_parts
    SubscriptionBillingDayEntry:
      type: object
      description: |
        One renewal on the day. A scheduled renewal carries its risk
        band; one that has already run carries `outcome` instead. Both
        carry the band, because a settled failure's factors are what
        say whether a retry alone is enough.
      properties:
        subscription_id:
          type: integer
          description: Primary key of the subscription.
        subscription_token:
          type: string
          description: Token the drawer links and acts on.
        customer_name:
          type:
          - string
          - 'null'
          description: Customer display name, null when unresolved.
        customer_email:
          type:
          - string
          - 'null'
          description: Customer email, null when unresolved.
        variant_name:
          type:
          - string
          - 'null'
          description: Product variant name, null when the variant is discarded.
        quantity:
          type: integer
          description: Units on the renewal.
        amount:
          type: string
          description: |
            Charge as `price * quantity`, converted into `currency`. A
            decimal string, matching every other analytics amount — the
            wire keeps precision the client rounds at display time.
          example: '8.92'
        currency:
          type: string
          description: ISO code every amount on the response is quoted in.
          example: USD
        status:
          type: string
          description: The subscription's status.
          example: active
        occurred_at:
          type:
          - string
          - 'null'
          format: date-time
          description: |
            When the charge ran, for a settled renewal, or when it is due,
            for a scheduled one. Both are real times rather than one
            standing in for the other, which is what lets the drawer's
            hour-of-day view mean something.
        settled:
          type: boolean
          description: Whether a charge has already run on this date.
        outcome:
          type:
          - string
          - 'null'
          enum:
          - succeeded
          - hard_decline
          - soft_decline
          - awaiting_retry
          - in_flight
          - null
          description: |
            What happened, for a settled renewal; null for one still
            scheduled. `awaiting_retry` outranks the other two failure
            buckets because it describes the subscription now, while
            they describe the charge that ran.
        declined:
          type: boolean
          description: |
            Whether the gateway answered this charge and said no. False
            for a renewal the billing pipeline could not get as far as
            charging, and false for one still scheduled.

            Read this rather than the absence of `decline_reason` before
            calling a renewal declined: a real decline can arrive with no
            wording to quote, and then `declined` is true while
            `decline_reason` is null.
        decline_reason:
          type:
          - string
          - 'null'
          description: |
            Gateway wording for a failed charge, else null. Null on two
            different renewals — one no gateway ever saw, and one an
            issuer declined without saying why — which is what `declined`
            distinguishes.
        risk_level:
          type: string
          enum:
          - none
          - elevated
          - severe
          description: |
            Deterministic grade of present dunning state — not a
            predicted likelihood, which nothing in the platform
            produces. Graded by the same classifier the month grid
            folds into its at-risk figures, so a row and the cell that
            opened it cannot disagree.
        risk_factors:
          type: array
          description: What produced the level, most significant first.
          items:
            type: string
            enum:
            - disabled
            - hard_decline
            - stale_failure
            - repeated_declines
            - dunning_in_flight
            - prior_failures
        awaiting_retry:
          type: boolean
          description: |
            Whether the dunning chain has this renewal in hand. Mirrors
            the gates the retry cron applies before dispatching.
        next_retry_at:
          type:
          - string
          - 'null'
          format: date-time
          description: |
            When the booked retry is due, or null when nothing is
            booked. `awaiting_retry` says a retry is in hand; this says
            when it runs, which is the question an operator actually has
            about a queued charge. Null as well on a day a later charge
            has already overtaken: the booking describes the subscription
            as it stands now, not the cycle that ran on a past day.
        last_failed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: |
            When the most recent attempt failed, or null when none has.
            Served beside `next_retry_at` so a retry that already ran and
            failed again reads as one rather than as a booking that never
            moved. Cleared to null by a charge that clears, and null on a
            day a later charge has already overtaken, for the reason
            `next_retry_at` gives.
        already_emailed:
          type: boolean
          description: |
            Whether an operator has already asked this customer to
            update their payment method inside the quiet period the
            send endpoint enforces. Read from the recorded sends, not
            derived from the subscription — nothing on the subscription
            says a mail went out.
        failure_already_emailed:
          type: boolean
          description: |
            Whether this customer has already been told their charge
            failed.

            True for either of the two things that can have told them: an
            operator's own send inside the send endpoint's quiet period,
            recorded as a `payment_failed` notification, or the automatic
            dunning pipeline's first-decline mail, which records nothing
            and stamps the subscription instead. Both are read because the
            send endpoint skips on both — `already_emailed` and
            `already_noticed` — so the figure shown before sending is the
            figure the send will skip.
        day_status:
          type: string
          enum:
          - failed
          - at_risk
          - retrying
          - scheduled
          - cleared
          description: |
            The one word the day drawer files this renewal under, and
            the vocabulary `status` filters on. Resolved from what
            actually happened rather than from the risk model: a charge
            that has run is reported on its outcome, and only renewals
            still to come are graded on risk. An `in_flight` charge
            reads as `scheduled`, having decided nothing yet.

            Served rather than derived by the caller for the same reason
            the band is: the filter is answered here, so a second copy
            of these rules on the client would chip a row differently
            from the request that fetched it.
      required:
      - subscription_id
      - subscription_token
      - customer_name
      - customer_email
      - variant_name
      - quantity
      - amount
      - currency
      - status
      - occurred_at
      - settled
      - outcome
      - declined
      - decline_reason
      - risk_level
      - risk_factors
      - awaiting_retry
      - next_retry_at
      - last_failed_at
      - already_emailed
      - failure_already_emailed
      - day_status
    SubscriptionBillingDayProduct:
      type: object
      description: One product's share of a day.
      properties:
        product_id:
          type:
          - integer
          - 'null'
          description: Product primary key. Null for renewals named by their
            variant because no kept product names them.
        name:
          type:
          - string
          - 'null'
          description: Product title, or the variant's own name when the product
            is unnamed or discarded.
        count:
          type: integer
          description: Renewals on this product.
        amount:
          type: string
          description: Their money, in the response currency.
          example: '476.0'
      required:
      - product_id
      - name
      - count
      - amount
    SubscriptionBillingDaySummary:
      type: object
      description: |
        The day as a whole, independent of which page was requested and
        of `search` and `status` — computed over the day's full scope, so
        neither paging nor filtering changes what these figures describe.

        Two figures the prototype's day panel showed are absent rather
        than estimated. A count of scheduled smart retries has no source:
        billing events carry no retry marker, and the only real fact is
        whether a retry is scheduled right now, which is per renewal.
        New against returning is split per *customer* and not per
        renewal, so it does not sum to `renewal_count`.
      properties:
        renewal_count:
          type: integer
          description: Renewals on the day.
        average_amount:
          type: string
          description: |
            Mean charge, in the response currency. Converted once per
            currency rather than per renewal, so a mixed-currency day does
            not accumulate rounding. `"0.0"` for an empty day.
          example: '238.0'
        new_customer_count:
          type: integer
          description: |
            Customers with no cleared charge before this day. A renewal
            with no member counts here — there is no history to find.
        returning_customer_count:
          type: integer
          description: |
            Customers who had a charge clear before this day. Measured
            before the day rather than before the renewal: a charge
            earlier the same morning does not make someone a returning
            customer by lunchtime.
        top_products:
          type: array
          description: Biggest money first, capped at five.
          items:
            "$ref": "#/components/schemas/SubscriptionBillingDayProduct"
        status_counts:
          type: object
          description: |
            How much of the day sits under each `day_status`. Every
            status is present even at zero, so a caller offering a chip
            per status can tell which ones would find nothing without
            guessing from whichever rows it happens to hold.

            Counted over the whole day and deliberately not over the
            filtered set, so the chips keep their figures while the
            operator narrows with them.
          properties:
            failed:
              type: integer
              description: Charges that ran and did not clear, retry or not.
            at_risk:
              type: integer
              description: Renewals still to run that the classifier graded.
            retrying:
              type: integer
              description: Failures the dunning chain already has in hand.
            scheduled:
              type: integer
              description: Renewals still to run and ungraded, plus charges in flight.
            cleared:
              type: integer
              description: Charges that ran and succeeded.
          required:
          - failed
          - at_risk
          - retrying
          - scheduled
          - cleared
          additionalProperties: false
      required:
      - renewal_count
      - average_amount
      - new_customer_count
      - returning_customer_count
      - top_products
      - status_counts
    SubscriptionBillingDayResponse:
      type: object
      properties:
        date:
          type: string
          format: date
          description: The date the roster covers.
        time_zone:
          type: string
          description: |
            Zone the scheduled half was bucketed in, echoed back so the
            drawer can label itself. The settled half ignores it:
            billing events carry an already-local date.
          example: America/Denver
        currency:
          type: string
          description: ISO code every amount on the response is quoted in.
          example: USD
        page:
          type: integer
          description: 1-based page number this payload represents.
        per_page:
          type: integer
          description: Page size actually applied, after clamping.
        total_count:
          type: integer
          description: |
            Renewals matching `search` and `status` across every page.
            Equal to the day's own count when neither is given;
            `summary.renewal_count` is always the day's, filtered or not.
        summary:
          "$ref": "#/components/schemas/SubscriptionBillingDaySummary"
        entries:
          type: array
          items:
            "$ref": "#/components/schemas/SubscriptionBillingDayEntry"
      required:
      - date
      - time_zone
      - currency
      - page
      - per_page
      - total_count
      - summary
      - entries
    SubscriptionBillingRenewalHistoryResponse:
      type: object
      description: |
        One renewal's history, for the day drawer's expanded row.

        Two figures the prototype's card showed are absent rather than
        estimated. A count of scheduled smart retries has no source —
        `commerce_billing_events` carries no retry marker, so after the
        fact a retry is indistinguishable from a first attempt, and
        `retry_scheduled_at` is the real fact instead. And no per-renewal
        clearance likelihood is served; nothing in the platform produces
        one, and the row's risk band says what is actually known.
      properties:
        subscription_id:
          type: integer
          description: Primary key of the subscription.
        subscription_token:
          type: string
          description: Token, for the link out to the subscription.
        currency:
          type: string
          description: ISO code every amount on the response is quoted in.
          example: USD
        renewal_amount:
          type: string
          description: What this renewal charges, as `price * quantity`.
          example: '8.92'
        product_name:
          type:
          - string
          - 'null'
          description: Variant display name, null when discarded.
        quantity:
          type: integer
          description: Units on the renewal.
        billing_frequency:
          type:
          - string
          - 'null'
          description: Human phrasing of the plan's interval.
          example: 1 month
        market_name:
          type: string
          description: |
            Country the renewal bills in.
            `commerce_subscriptions.country_id` is NOT NULL, so a renewal
            always has exactly one market.
          example: United Kingdom
        market_iso:
          type: string
          description: ISO alpha-2 of the billing country.
          example: GB
        paid_to_date:
          type: string
          description: |
            Money collected by this subscription's successful orders,
            through the same `Commerce::Order.successful` gate the rest of
            the app reads. Summed as `orders.amount_in_base` and converted
            once, because orders carry no currency of their own.
          example: '4.46'
        order_count:
          type: integer
          description: Successful orders behind `paid_to_date`.
        first_order_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Earliest successful order, or null when there are none.
        last_order_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Most recent successful order, or null.
        lifetime_value:
          type: string
          description: "`paid_to_date` plus this renewal."
          example: '13.38'
        failed_charge_count:
          type: integer
          description: Failed billing events on this subscription, all time.
        recovered_count:
          type: integer
          description: |
            Billed dates that held a failure and then cleared. Counted per
            date rather than per event, so a day that retried three times
            before clearing is one recovery rather than three. Named for
            what it measures — a day that turned around — because billing
            events cannot say what turned it around.
        retry_scheduled_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the dunning chain will next attempt, or null.
        active_subscription_count:
          type: integer
          description: |
            Live subscriptions this customer holds, including this one.
            Scoped to the member, which is the association a subscription
            carries; a renewal with no member reports `1`.
      required:
      - subscription_id
      - subscription_token
      - currency
      - renewal_amount
      - product_name
      - quantity
      - billing_frequency
      - market_name
      - market_iso
      - paid_to_date
      - order_count
      - first_order_at
      - last_order_at
      - lifetime_value
      - failed_charge_count
      - recovered_count
      - retry_scheduled_at
      - active_subscription_count
    NullablePercentage:
      type:
      - string
      - 'null'
      description: |
        A percentage as a decimal string rounded to one decimal place,
        or `null` when the divisor was zero. Null and `"0.0"` differ:
        null means nothing was attempted, `"0.0"` means every attempt
        failed.
      example: "86.4"
    PaymentDeclineCategory:
      type: string
      description: |
        The `Commerce::Payments::DeclineClassifier` class of a decline,
        the same classes renewal dunning acts on. `balance`: funds or a
        spending limit. `soft_issuer`: a transient issuer refusal such
        as Do Not Honor. `card_activation`: the card was never
        activated. `card_gone`: closed, expired or reported lost.
        `never_retry`: wrong card number or security code.
        `stop_requested`: the cardholder revoked recurring payments.
        `integration`: a platform or gateway failure, not the
        shopper's card. `unknown`: no reason was recorded.
        `unrecognized`: a reason with no pattern yet.
      enum:
      - balance
      - soft_issuer
      - card_activation
      - card_gone
      - integration
      - never_retry
      - stop_requested
      - unknown
      - unrecognized
      example: balance
    PaymentPerformanceSummary:
      type: object
      description: |
        Counts for one range. Pending attempts are counted in
        `attempt_count` but are in no rate's denominator.
      properties:
        attempt_count:
          type: integer
          minimum: 0
          description: Every attempt, pending included.
        approved_count:
          type: integer
          minimum: 0
        declined_count:
          type: integer
          minimum: 0
        pending_count:
          type: integer
          minimum: 0
          description: Attempts with no answer yet.
        approved_amount:
          "$ref": "#/components/schemas/Money"
        checkout_attempt_count:
          type: integer
          minimum: 0
          description: Approved plus declined checkout attempts.
        checkout_approved_count:
          type: integer
          minimum: 0
        renewal_attempt_count:
          type: integer
          minimum: 0
          description: Approved plus declined renewal attempts.
        renewal_approved_count:
          type: integer
          minimum: 0
        checkout_count:
[...]
