---
openapi: 3.1.0
info:
  title: Fluid Analytics v0 API
  version: v0
  description: >-
    Company-facing analytics endpoints: the unversioned analytics summary and traffic (overview, campaigns, sources, geography, flows, reps) reads that back the Traffic tab in the fluid admin. Bearer-authenticated,
    one shared reporting-period contract across every traffic read.
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
- url: https://{company}.fluid.app
  description: Production server with company subdomain
  variables:
    company:
      default: myco
      description: Company subdomain
tags:
- name: analytics
  description: >-
    Analytics reads: the store's traffic overview, ranked campaigns / sources / geographies / flows, per-rep breakdown, and the legacy shares/views/visitors summary. All reads accept the shared reporting-period
    contract.
paths:
  "/api/analytics":
    get:
      summary: Get analytics summary
      tags:
      - analytics
      operationId: company_v0_get_analytics_summary
      description: |
        Returns analytics summary for the current user.

        When the user has affiliate data, returns metrics including:
        - Unique visitors
        - Total views
        - Total leads
        - Total shares
        - Conversion rates
        - Top performing content

        Returns an empty object if no analytics data is available.
      security:
      - bearer_auth: []
      parameters:
      - name: start_date
        in: query
        required: false
        description: Start date for analytics period (ISO 8601 format)
        schema:
          type: string
      - name: end_date
        in: query
        required: false
        description: End date for analytics period (ISO 8601 format)
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CompanyAnalyticsSummaryResponse"
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
  "/api/analytics/all":
    get:
      operationId: commerce_v0_analytics_all_get
      summary: Get all analytics
      tags:
      - analytics
      description: |
        Returns the calling company's rep-activity summary bucketed by
        every supported reporting period at once — `today`, `1d`, `3m`,
        `6m`, `1m`, `1y`, and `ytd`. Each bucket carries three parallel
        series: `shares`, `views`, and `visitors`. Bearer-authenticated;
        no request body or query parameters.

        Prefer the dated `analytics-v2026-04` Home dashboard endpoints
        (`/api/v202604/analytics/dashboard/*`) for new integrations —
        each dashboard card there answers one question with a
        purpose-built payload, whereas this endpoint returns every
        period together for a fluid-admin legacy report shape.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CompanyAnalyticsAllResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/analytics/traffic/campaign-summary":
    get:
      summary: Get traffic campaign summary
      tags:
      - analytics
      operationId: company_v0_get_analytics_traffic_campaign_summary
      description: |
        Returns campaign headline totals for a named reporting period without
        calculating or serializing ranked campaign or UTM arrays. Revenue is the
        exact base-currency sum across every paid merchant-campaign attribution
        in the period; it never derives from a visible campaign page.
      security:
      - bearer_auth: []
      parameters:
      - name: period
        in: query
        required: false
        description: |
          Named reporting period (default last_30_days). Supported names:
          today, last_7_days, last_30_days, last_90_days, last_12_months,
          this_month, last_month. An unsupported name returns 422.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CompanyTrafficCampaignSummaryResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '403':
          description: Missing dashboard.view permission
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardForbiddenResponse"
        '422':
          description: Unsupported period
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
  "/api/analytics/traffic/campaign-placements":
    get:
      summary: Search traffic campaign placements
      tags:
      - analytics
      operationId: company_v0_get_analytics_traffic_campaign_placements
      description: |
        Searches real campaign placements by campaign name for a named reporting
        period. Matching is case-insensitive and treats pattern characters as
        literal text. Rows are ranked by distinct visitors, then campaign,
        source, and medium. The bounded response never contains a synthetic
        "(other)" row; `truncated` tells the client to request a narrower query.
        Results are served only for companies cut over to campaign serving facts.
        Companies not yet cut over receive a normal 200 response with an empty
        `rows` array and `truncated` set to false.
      security:
      - bearer_auth: []
      parameters:
      - name: period
        in: query
        required: false
        description: |
          Named reporting period (default last_30_days). Supported names:
          today, last_7_days, last_30_days, last_90_days, last_12_months,
          this_month, last_month. An unsupported name returns 422.
        schema:
          type: string
        example: last_30_days
      - name: q
        in: query
        required: true
        description: Literal campaign-name fragment, matched case-insensitively.
        schema:
          type: string
          minLength: 2
          maxLength: 100
        example: spring
      responses:
        '200':
          description: Bounded campaign placement search results
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CompanyTrafficCampaignPlacementSearchResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '403':
          description: Missing dashboard.view permission
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardForbiddenResponse"
        '422':
          description: Unsupported period or invalid campaign-name query
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
  "/api/analytics/traffic/campaigns":
    get:
      summary: Get traffic campaigns
      tags:
      - analytics
      operationId: company_v0_get_analytics_traffic_campaigns
      description: |
        Returns the store's UTM-tagged traffic broken down by campaign for a
        named reporting period.

        The payload carries the resolved period window, the tagged-traffic
        summary headline (distinct tagged visitors, their share of all
        visitors, and the number of active campaigns), the ranked per-campaign
        split keyed by the (campaign, source, medium) tuple with a trailing
        "(other)" row folding the tail, and the five per-dimension UTM rankings
        (sources, mediums, campaigns, contents, terms).
      security:
      - bearer_auth: []
      parameters:
      - name: period
        in: query
        required: false
        description: |
          Named reporting period (default last_30_days). Supported names:
          today, last_7_days, last_30_days, last_90_days, last_12_months,
          this_month, last_month. An unsupported name returns 422.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CompanyTrafficCampaignsResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '422':
          description: Unsupported period
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
  "/api/analytics/traffic/flows":
    get:
      summary: Get traffic flows
      tags:
      - analytics
      operationId: company_v0_get_analytics_traffic_flows
      description: |
        Returns which acquisition channel sent traffic to which piece of
        content, for a named reporting period — the Sankey behind the Sources
        tab's flow card.

        The payload carries the resolved period window, the days of it the
        channel rollups could answer, one ribbon per (channel, destination) pair
        with its bot-free visits, and the two counts a client states coverage
        from. Ribbon values are visits, not distinct visitors.

        Destinations are ranked and cut server-side. Each channel with folded
        traffic carries one remainder ribbon — resource null, other true — whose
        visits are the exact tail it replaced, so the ribbons always sum to
        accounted_visits. folded_destinations counts the distinct destinations
        the fold replaced, and is zero when nothing was folded.

        covered_window is null for a period lying entirely before the channel
        rollups began, which is distinct from a covered window with no flows in
        it. capture_start reports when the rollups began either way, so an empty
        period reads as an empty period rather than as an absence of traffic.

        stamped_visits is gross while the ribbons are bot-free, so the coverage
        ratio under-claims and never over-claims.
      security:
      - bearer_auth: []
      parameters:
      - name: period
        in: query
        required: false
        description: |
          Named reporting period (default last_30_days). Supported names:
          today, last_7_days, last_30_days, last_90_days, last_12_months,
          this_month, last_month. An unsupported name returns 422.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CompanyTrafficFlowsResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '422':
          description: Unsupported period
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
  "/api/analytics/traffic/geography":
    get:
      summary: Get traffic geography
      tags:
      - analytics
      operationId: company_v0_get_analytics_traffic_geography
      description: |
        Returns where the store's visitors were for a named reporting period.

        The payload carries the resolved period window, the days of it geography
        could answer, the country breakdown ranked by visitors (capped at ten
        with a trailing "(other)" row folding the tail), the nested city
        breakdown, and the visitor totals the shares divide by.

        Unlike the channel split on traffic/sources, the country breakdown is a
        partition: each visitor resolves to exactly one country, and visitors
        with no placed visit in the window are reported as unplaced_visitors
        rather than dropped, so the parts provably sum to the whole. Shares are
        not renormalised — their gap is the unplaced traffic.
      security:
      - bearer_auth: []
      parameters:
      - name: period
        in: query
        required: false
        description: |
          Named reporting period (default last_30_days). Supported names:
          today, last_7_days, last_30_days, last_90_days, last_12_months,
          this_month, last_month. An unsupported name returns 422.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CompanyTrafficGeographyResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '422':
          description: Unsupported period
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
  "/api/analytics/traffic/overview":
    get:
      summary: Get traffic overview
      tags:
      - analytics
      operationId: company_v0_get_analytics_traffic_overview
      description: |
        Returns the store's traffic overview for a named reporting period.

        The payload carries the resolved period window, the gross page-view
        headline with its period-over-period change, the distinct-visitor split
        into new and returning, the bot-free device mix, a gap-free daily
        page-view series, the content mix by resource type, and the
        highest-viewed individual resources — each with its own image, per-day
        view series, the channel that sent it the most traffic, and the orders
        and revenue it earned.

        Two fields carry readings a client must not coerce. unique_visitors is
        null, rather than zero, for a window visitor state cannot answer. A
        resource's top_channel is null, rather than "direct", when no
        channel-stamped visit to it fell in the window.

        A resource's orders and revenue credit exactly the one resource each
        order's attributing visit landed on, so they do not decompose store
        totals and must not be presented as doing so.
      security:
      - bearer_auth: []
      parameters:
      - name: period
        in: query
        required: false
        description: |
          Named reporting period (default last_30_days). Supported names:
          today, last_7_days, last_30_days, last_90_days, last_12_months,
          this_month, last_month. An unsupported name returns 422.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CompanyTrafficOverviewResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '422':
          description: Unsupported period
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
  "/api/analytics/traffic/reps":
    get:
      summary: Get traffic by rep
      tags:
      - analytics
      operationId: company_v0_get_analytics_traffic_reps
      description: |
        Returns the traffic a store's field of reps drove for a named reporting
        period — the leaderboard behind the Reps tab and the two traffic tiles
        above it.

        A visit is credited to a rep by identity rather than by channel: it
        carries the rep's attribution_member_id, or a share_id whose share
        belongs to them, or both. Where both are present and disagree, the
        stamped member wins. Identity has been recorded since long before the
        channel column existed, so this reaches back further than the
        channel-keyed figures on the Sources tab, and the two will not agree
        over a long window.

        visitor_share and the ranked rows come from that one filter, so the tile
        and the leaderboard beneath it cannot disagree. Its denominator is every
        visitor the store saw over the requested window and is deliberately not
        narrowed to the first rep-driven visit: months before the field drove
        anything held no rep traffic, and dilution is the answer rather than a
        distortion.

        Rows are ranked by distinct visitors descending, ties broken on the
        rep's name, and cut to a top N. Because one visitor can be sent by two
        reps, the rows' visitors need not sum to total_visitors and must not be
        rendered as a share of a whole. Reps the merchant hid from leaderboards
        are omitted from the rows while their traffic still counts toward
        active_reps and visitor_share, and a rep whose member record has since
        been deleted still ranks and is still named.

        Each row also names the resource that drew the most of that rep's
        traffic, or null when none did. That column is read from the
        per-resource rollups rather than from the events, so it answers only for
        traffic that landed on a tracked resource — about half of rep traffic,
        and a different half per store. A null there is a rep whose traffic
        never touched one, not a gap in their numbers.

        unattributed is not a rep. It folds the rep-classified traffic that
        names nobody — an admin-owned share has no member — so the rows plus the
        remainder reconcile with visitor_share. It carries no member_id and no
        name, and is served beside the rows rather than among them.
      security:
      - bearer_auth: []
      parameters:
      - name: period
        in: query
        required: false
        description: |
          Named reporting period (default last_30_days). Supported names:
          today, last_7_days, last_30_days, last_90_days, last_12_months,
          this_month, last_month. An unsupported name returns 422.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CompanyTrafficRepsResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '422':
          description: Unsupported period
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
  "/api/analytics/traffic/sources":
    get:
      summary: Get traffic sources
      tags:
      - analytics
      operationId: company_v0_get_analytics_traffic_sources
      description: |
        Returns the store's traffic broken down by acquisition source for a
        named reporting period.

        The payload carries the resolved period window, the per-channel split
        across all seven canonical channels (reps, email, paid, social, organic,
        referral, direct) with each channel's gross page views, distinct
        visitors, visitor share, and period-over-period page-view change, the
        ranked top referring sites (with a trailing "(other)" row folding the
        tail), and the total distinct visitors over the window.

        A referring site is ranked once even when it reaches the store under
        several hostnames: each row carries the site's `name` alongside one real
        `host` observed under it.
      security:
      - bearer_auth: []
      parameters:
      - name: period
        in: query
        required: false
        description: |
          Named reporting period (default last_30_days). Supported names:
          today, last_7_days, last_30_days, last_90_days, last_12_months,
          this_month, last_month. An unsupported name returns 422.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CompanyTrafficSourcesResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '422':
          description: Unsupported period
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: Bearer token authentication
  schemas:
    CompanyAnalyticsAllResponse:
      type: object
      properties:
        1d:
          type: object
          properties:
            shares:
              "$ref": "#/components/schemas/CompanyAnalyticsMetricSeries"
            views:
              "$ref": "#/components/schemas/CompanyAnalyticsMetricSeries"
            visitors:
              "$ref": "#/components/schemas/CompanyAnalyticsMetricSeries"
          required:
          - shares
          - views
          - visitors
          additionalProperties: false
        1m:
          type: object
          properties:
            shares:
              "$ref": "#/components/schemas/CompanyAnalyticsMetricSeries"
            views:
              "$ref": "#/components/schemas/CompanyAnalyticsMetricSeries"
            visitors:
              "$ref": "#/components/schemas/CompanyAnalyticsMetricSeries"
          required:
          - shares
          - views
          - visitors
          additionalProperties: false
        1y:
          type: object
          properties:
            shares:
              "$ref": "#/components/schemas/CompanyAnalyticsMetricSeries"
            views:
              "$ref": "#/components/schemas/CompanyAnalyticsMetricSeries"
            visitors:
              "$ref": "#/components/schemas/CompanyAnalyticsMetricSeries"
          required:
          - shares
          - views
          - visitors
          additionalProperties: false
        3m:
          type: object
          properties:
            shares:
              "$ref": "#/components/schemas/CompanyAnalyticsMetricSeries"
            views:
              "$ref": "#/components/schemas/CompanyAnalyticsMetricSeries"
            visitors:
              "$ref": "#/components/schemas/CompanyAnalyticsMetricSeries"
          required:
          - shares
          - views
          - visitors
          additionalProperties: false
        6m:
          type: object
          properties:
            shares:
              "$ref": "#/components/schemas/CompanyAnalyticsMetricSeries"
            views:
              "$ref": "#/components/schemas/CompanyAnalyticsMetricSeries"
            visitors:
              "$ref": "#/components/schemas/CompanyAnalyticsMetricSeries"
          required:
          - shares
          - views
          - visitors
          additionalProperties: false
        meta:
          type: object
          properties:
            request_id:
              type: string
            timestamp:
              type: string
              format: date-time
          required:
          - request_id
          - timestamp
          additionalProperties: false
        today:
          type: object
          properties:
            shares:
              "$ref": "#/components/schemas/CompanyAnalyticsMetricSeries"
            views:
              "$ref": "#/components/schemas/CompanyAnalyticsMetricSeries"
            visitors:
              "$ref": "#/components/schemas/CompanyAnalyticsMetricSeries"
          required:
          - shares
          - views
          - visitors
          additionalProperties: false
        ytd:
          type: object
          properties:
            shares:
              "$ref": "#/components/schemas/CompanyAnalyticsMetricSeries"
            views:
              "$ref": "#/components/schemas/CompanyAnalyticsMetricSeries"
            visitors:
              "$ref": "#/components/schemas/CompanyAnalyticsMetricSeries"
          required:
          - shares
          - views
          - visitors
          additionalProperties: false
      required:
      - 1d
      - 1m
      - 1y
      - 3m
      - 6m
      - meta
      - today
      - ytd
      additionalProperties: false
    CompanyAnalyticsMetricSeries:
      description: Analytics metric values keyed by the requested time bucket.
      type:
      - object
      - 'null'
      additionalProperties:
        type:
        - integer
        - number
        - string
        - 'null'
    CompanyAnalyticsSummaryResponse:
      type: object
      additionalProperties: false
    CompanyTrafficCampaignSummaryResponse:
      description: Campaign headline totals for a period, without ranked arrays.
      type: object
      additionalProperties: false
      required:
      - period
      - summary
      - status
      - meta
      properties:
        period:
          "$ref": "#/components/schemas/CompanyTrafficReportingPeriod"
        summary:
          type: object
          additionalProperties: false
          required:
          - tagged_visitors
          - tagged_share
          - active_campaigns
          - revenue
          properties:
            tagged_visitors:
              type: integer
              minimum: 0
              description: Distinct bot-free visitors carrying any merchant UTM value.
            tagged_share:
              type: number
              minimum: 0
              maximum: 1
              description: Tagged visitors over capture-era distinct visitors.
            active_campaigns:
              type: integer
              minimum: 0
              description: Distinct merchant utm_campaign values in the window.
            revenue:
              type: string
              pattern: "^-?[0-9]+\\.[0-9]{2}$"
              description: Exact paid merchant-campaign revenue in platform base currency.
        status:
          type: integer
          enum:
          - 200
        meta:
          "$ref": "#/components/schemas/CompanyTrafficResponseMeta"
    CompanyTrafficCampaignPlacementSearchResponse:
      description: Bounded real campaign placements matching one literal name query.
      type: object
      additionalProperties: false
      required:
      - period
      - rows
      - truncated
      - status
      - meta
      properties:
        period:
          "$ref": "#/components/schemas/CompanyTrafficReportingPeriod"
        rows:
          type: array
          description: Real campaign placements ranked by distinct visitors with deterministic tuple tie-breaks.
          maxItems: 25
          items:
            type: object
            additionalProperties: false
            required:
            - name
            - source
            - medium
            - visitors
            - page_views
            - orders
            - revenue
            - conversion_rate
            properties:
              name:
                type: string
                description: The nonblank utm_campaign value identifying the placement.
              source:
                type:
                - string
                - 'null'
                description: The placement's utm_source value, or null when blank.
              medium:
                type:
                - string
                - 'null'
                description: The placement's utm_medium value, or null when blank.
              visitors:
                type: integer
                minimum: 0
                description: Distinct bot-free visitors for the placement over the reporting period.
              page_views:
                type: integer
                minimum: 0
                description: Bot-free page views for the placement over the reporting period.
              orders:
                type: integer
                minimum: 0
                description: Paid orders attributed to the placement over the conversion-capture-forward window.
              revenue:
                type: string
                pattern: "^-?[0-9]+\\.[0-9]{2}$"
                description: Base-currency revenue from those paid orders, rounded at the response boundary.
              conversion_rate:
                type:
                - number
                - 'null'
                minimum: 0
                description: Orders divided by capture-forward visitors, or null when no eligible visitor was measured.
        truncated:
          type: boolean
          description: True when more real placements matched than this bounded response returned.
        status:
          type: integer
          enum:
          - 200
        meta:
          "$ref": "#/components/schemas/CompanyTrafficResponseMeta"
    CompanyTrafficCampaignsResponse:
      description: >-
        Store-traffic campaigns for a period — the resolved window, the tagged-traffic summary headline, the ranked per-campaign split, and the five per-dimension UTM rankings, wrapped in the standard API
        response envelope.
      type: object
      additionalProperties: false
      required:
      - period
      - summary
      - campaigns
      - utm
      - status
      - meta
      properties:
        period:
          type: object
          additionalProperties: false
          required:
          - name
          - starts_on
          - ends_on
          - bucket
          properties:
            name:
              type: string
              description: The resolved period name (e.g. last_30_days).
            starts_on:
              type: string
              format: date
              description: Inclusive first day of the window (YYYY-MM-DD, UTC).
            ends_on:
              type: string
              format: date
              description: Inclusive last day of the window (YYYY-MM-DD, UTC).
            bucket:
              type: string
              description: The bucket granularity of the period window (always "day").
        summary:
          type: object
          additionalProperties: false
          required:
          - tagged_visitors
          - tagged_share
          - active_campaigns
          properties:
            tagged_visitors:
              type: integer
              description: Distinct bot-free visitors whose visit carried any UTM value.
            tagged_share:
              type: number
              description: tagged_visitors over the window's total distinct visitors, in the range 0 to 1.
            active_campaigns:
              type: integer
              description: Count of distinct non-blank utm_campaign values seen in the window.
        campaigns:
          type: array
          description: Campaigns ranked by distinct visitors, keyed by the (campaign, source, medium) tuple, optionally ending in an "(other)" row folding the tail.
          items:
            type: object
            additionalProperties: false
            required:
            - name
            - source
            - medium
            - visitors
            - page_views
            - other
            - orders
            - revenue
            - conversion_rate
            properties:
              name:
                type: string
                description: The utm_campaign value, or "(other)" for the folded tail.
              source:
                type:
                - string
                - 'null'
                description: The utm_source value, or null (including on the "(other)" row).
              medium:
                type:
                - string
                - 'null'
                description: The utm_medium value, or null (including on the "(other)" row).
              visitors:
                type: integer
                description: Distinct bot-free visitors for the tuple.
              page_views:
                type: integer
                description: Bot-free page views for the tuple.
              other:
                type: boolean
                description: True only on the synthetic (other) tail row; false on real campaigns.
              orders:
                type: integer
                description: >-
                  Orders attributed to this campaign tuple that reached paid, counted over the conversion-capture-forward part of the window — zero for a window entirely before the company's first stamped
                  order. On the "(other)" row, a true aggregate over the same folded tuples, never the total minus the listed rows. Campaign rows cover conversions whose tuple appears in the window's ranking
                  or its "(other)" tail, so the campaign totals can undercount the channel totals in the Sources view when few tuples ranked.
              revenue:
                type: string
                description: Revenue from those orders, as a decimal string in the platform base currency (the sum of each order's amount_in_base), rounded once to the base currency's minor units.
              conversion_rate:
                type:
                - number
                - 'null'
                minimum: 0
                description: >-
                  Those orders divided by the row's distinct visitors over the conversion-capture-forward part of the window, rounded to four decimals. Null when that visitor count is zero, including every
                  window with no conversion-capture-forward day. Normally at most 1, and higher only when a campaign's visitors placed more than one order each.
        utm:
          type: object
          additionalProperties: false
          required:
          - sources
          - mediums
          - campaigns
          - contents
          - terms
          properties:
            sources:
              type: array
              description: utm_source values ranked by distinct visitors, optionally ending in an "(other)" row folding the tail.
              items:
                type: object
                additionalProperties: false
                required:
                - value
                - visitors
                - page_views
                - other
                properties:
                  value:
                    type: string
                    description: The utm_source value, or "(other)" for the folded tail.
                  visitors:
                    type: integer
                    description: Distinct bot-free visitors for the value.
                  page_views:
                    type: integer
                    description: Bot-free page views for the value.
                  other:
                    type: boolean
                    description: True only on the synthetic (other) tail row.
            mediums:
              type: array
              description: utm_medium values ranked by distinct visitors, optionally ending in an "(other)" row folding the tail.
              items:
                type: object
                additionalProperties: false
                required:
                - value
                - visitors
                - page_views
                - other
                properties:
                  value:
                    type: string
                    description: The utm_medium value, or "(other)" for the folded tail.
                  visitors:
                    type: integer
                    description: Distinct bot-free visitors for the value.
                  page_views:
                    type: integer
                    description: Bot-free page views for the value.
                  other:
                    type: boolean
                    description: True only on the synthetic (other) tail row.
            campaigns:
              type: array
              description: utm_campaign values ranked by distinct visitors, optionally ending in an "(other)" row folding the tail.
              items:
                type: object
                additionalProperties: false
                required:
                - value
                - visitors
                - page_views
                - other
                properties:
                  value:
                    type: string
                    description: The utm_campaign value, or "(other)" for the folded tail.
                  visitors:
                    type: integer
                    description: Distinct bot-free visitors for the value.
                  page_views:
                    type: integer
                    description: Bot-free page views for the value.
                  other:
                    type: boolean
                    description: True only on the synthetic (other) tail row.
            contents:
              type: array
              description: utm_content values ranked by distinct visitors, optionally ending in an "(other)" row folding the tail.
              items:
                type: object
                additionalProperties: false
                required:
                - value
                - visitors
                - page_views
                - other
                properties:
                  value:
                    type: string
                    description: The utm_content value, or "(other)" for the folded tail.
                  visitors:
                    type: integer
                    description: Distinct bot-free visitors for the value.
                  page_views:
                    type: integer
                    description: Bot-free page views for the value.
                  other:
                    type: boolean
                    description: True only on the synthetic (other) tail row.
            terms:
              type: array
              description: utm_term values ranked by distinct visitors, optionally ending in an "(other)" row folding the tail.
              items:
                type: object
                additionalProperties: false
                required:
                - value
                - visitors
                - page_views
                - other
                properties:
                  value:
                    type: string
                    description: The utm_term value, or "(other)" for the folded tail.
                  visitors:
                    type: integer
                    description: Distinct bot-free visitors for the value.
                  page_views:
                    type: integer
                    description: Bot-free page views for the value.
                  other:
                    type: boolean
                    description: True only on the synthetic (other) tail row.
        status:
          type: integer
          description: The HTTP status code echoed in the response envelope.
        meta:
          type: object
          additionalProperties: false
          required:
          - request_uuid
          - timestamp
          properties:
            request_uuid:
              type:
              - string
              - 'null'
              description: The request correlation id, or null when unset.
            timestamp:
              type: string
              format: date-time
              description: ISO 8601 timestamp when the response was built.
    CompanyTrafficFlowsResponse:
      description: >-
        Store-traffic flows for a period — the resolved window, the days of it the channel rollups could answer, the ranked channel-to-content ribbons with their folded remainder, and the two counts a client
        states coverage from, wrapped in the standard API response envelope.
      type: object
      additionalProperties: false
      required:
      - period
      - covered_window
      - capture_start
      - flows
      - folded_destinations
      - accounted_visits
      - stamped_visits
      - status
      - meta
      properties:
        period:
          type: object
          additionalProperties: false
          required:
          - name
          - starts_on
          - ends_on
          - bucket
          properties:
            name:
              type: string
              description: The resolved period name (e.g. last_30_days).
            starts_on:
              type: string
              format: date
              description: Inclusive first day of the requested window (YYYY-MM-DD, UTC).
            ends_on:
              type: string
              format: date
              description: Inclusive last day of the requested window (YYYY-MM-DD, UTC).
            bucket:
              type: string
              description: The bucket granularity of the period window (always "day").
        covered_window:
          type:
          - object
          - 'null'
          description: |
            The days of the requested period the flows could be drawn over — the
            requested window intersected with the days this store's channel
            rollups have carried rows. Every count in the payload is taken over
            this window rather than the requested one, the coverage denominator
            included.

            Null when the two do not meet, which means the period lies entirely
            before the channel rollups began. Null arrives with empty flows and
            zeroed counts, and is deliberately distinct from a covered window
            whose flows are empty — that means the days were answerable and
            nothing was visited. Do not coerce one into the other.
          additionalProperties: false
          required:
          - starts_on
          - ends_on
          properties:
            starts_on:
              type: string
              format: date
              description: Inclusive first answerable day (YYYY-MM-DD, UTC).
            ends_on:
              type: string
              format: date
              description: Inclusive last answerable day (YYYY-MM-DD, UTC).
        capture_start:
          type:
          - string
          - 'null'
          format: date
          description: |
            The day this store's channel rollups first carried a row
            (YYYY-MM-DD, UTC), or null when they never have. Reported whether or
            not the requested period overlaps it, so a client can say when the
            flows begin rather than presenting an empty period as an absence of
            traffic.

            A null covered_window with a capture_start set is a period that ends
            before capture; a null covered_window with a null capture_start is a
            store that has never had a rollup row at all.
        flows:
          type: array
          description: |
            One ribbon per (channel, destination) pair with visits over the
            covered window, ranked destinations only. Channels with no traffic in
            the window are absent rather than zero-filled.

            Destinations are cut to a bounded ranked set server-side, and each
            channel with folded traffic carries one remainder ribbon — resource
            null, other true — so the ribbons still sum to accounted_visits.
          items:
            type: object
            additionalProperties: false
            required:
            - channel
            - resource
            - visits
            - other
            properties:
              channel:
                type: string
                description: The acquisition channel the ribbon leaves (reps, email, paid, social, organic, referral, or direct).
              resource:
                type:
                - object
                - 'null'
                description: The destination the ribbon lands on, or null on a folded remainder ribbon, which lands nowhere nameable.
                additionalProperties: false
                required:
                - id
                - title
                - type
                properties:
                  id:
                    type: integer
                    description: The destination resource's id, within its own content type rather than globally unique.
                  title:
                    type:
                    - string
                    - 'null'
                    description: >-
                      The destination's display title, so a client renders a name rather than an id. Null when the resource has none — a product synced from an external catalogue is exempt from the title
                      requirement its five sibling content types enforce, and such a product can still rank as a destination on visits it really drew. Same reading as top_content.title on the overview payload.
                  type:
                    type: string
                    description: The destination's content type (products, pages, posts, media, libraries, or enrollment_packs).
              visits:
                type: integer
                description: Bot-free channel-stamped visits from this channel to this destination over the covered window. Visits, not distinct visitors — a counting rollup cannot recover the latter.
              other:
                type: boolean
                description: True on the single folded remainder ribbon for this channel, false on a real destination. A flag rather than a title to string-match.
        folded_destinations:
          type: integer
          description: How many distinct destinations the fold replaced across every channel, counting a destination reached by three channels once. Zero when nothing was folded, in which case no ribbon
            carries other.
        accounted_visits:
          type: integer
          description: The sum of the visits on the ribbons this payload carries, the folded remainder included, so a merchant adding the diagram up arrives at this number.
        stamped_visits:
          type: integer
          description: |
            Channel-stamped visits over the same covered window, read from the
            store's channel rollup — the traffic there was, against the
            accounted_visits the diagram draws.

            Gross, bots included, while every ribbon is bot-free. So
            accounted_visits over stamped_visits is bot-free over gross and
            under-claims coverage: the real share of nameable traffic is at least
            what this payload implies, never less. Two checkable numbers rather
            than one computed percentage, so the client owns the phrasing.
        status:
          type: integer
          description: The HTTP status code echoed in the response envelope.
        meta:
          type: object
          additionalProperties: false
          required:
          - request_uuid
          - timestamp
          properties:
            request_uuid:
              type:
              - string
              - 'null'
              description: The request correlation id, or null when unset.
            timestamp:
              type: string
              format: date-time
              description: ISO 8601 timestamp when the response was built.
    CompanyTrafficGeographyResponse:
      description: >-
        Store-traffic geography for a period — the resolved window, the days of it geography could answer, the ranked country breakdown with the revenue delivered to each country, and a nested city breakdown
        carrying its own capture window, wrapped in the standard API response envelope.
      type: object
      additionalProperties: false
      required:
      - period
      - effective_window
      - revenue_window
      - capture_start
      - countries
      - cities
      - total_visitors
      - unplaced_visitors
      - accounted_revenue
      - paid_revenue
      - status
      - meta
      properties:
        period:
          type: object
          additionalProperties: false
          required:
          - name
          - starts_on
          - ends_on
          - bucket
          properties:
            name:
              type: string
              description: The resolved period name (e.g. last_30_days).
            starts_on:
              type: string
              format: date
              description: Inclusive first day of the requested window (YYYY-MM-DD, UTC).
            ends_on:
              type: string
              format: date
              description: Inclusive last day of the requested window (YYYY-MM-DD, UTC).
            bucket:
              type: string
              description: The bucket granularity of the period window (always "day").
        effective_window:
          type:
          - object
          - 'null'
          description: |
            The days of the requested period that geography could answer — the
            requested window intersected with the days this store has carried
            placed visits. Every count in the payload is taken over this window
            rather than the requested one.

            Null when the two do not meet, which means the period lies entirely
            before this store began carrying placed visits. Null arrives with an
            empty countries list and zeroed totals, and is deliberately distinct
            from an answerable window whose counts are all zero — that means
            nobody came. Do not coerce one into the other.
          additionalProperties: false
          required:
          - starts_on
          - ends_on
          properties:
            starts_on:
              type: string
              format: date
              description: Inclusive first answerable day (YYYY-MM-DD, UTC).
            ends_on:
              type: string
              format: date
              description: Inclusive last answerable day (YYYY-MM-DD, UTC).
        revenue_window:
          type: object
          description: |
            The days the revenue figures cover — the whole requested period, on
            the order's own clock. An order falls inside it by created_at, over
            the half-open UTC range [starts_on 00:00, (ends_on + 1) 00:00), the
            same predicate every conversion figure on this tab applies.

            Never null, unlike effective_window, and it covers a **different and
            longer span**. Orders have carried a delivery country for years,
            while visit geography only reaches capture_start and can never be
            backfilled — an IP that was never recorded cannot be recovered. So on
            a period reaching back past capture, a country row shows revenue for
            the whole window beside visitors for only part of it. Neither number
            is wrong; each is right over its own span. Do not render the two
            columns as one measurement — say which days each covers, rather than
            leaving a reader to infer the gap from a suspiciously low visitor
            count. The gap closes as capture accrues and never inverts: revenue
            always covers at least as much of the window as visitors do.
          additionalProperties: false
          required:
          - starts_on
          - ends_on
          properties:
            starts_on:
              type: string
              format: date
              description: Inclusive first day revenue is counted over (YYYY-MM-DD, UTC).
            ends_on:
              type: string
              format: date
              description: Inclusive last day revenue is counted over (YYYY-MM-DD, UTC).
        capture_start:
          type:
          - string
          - 'null'
          format: date
          description: |
            The day this store first carried a placed visit (YYYY-MM-DD, UTC), or
            null when it never has. Reported whether or not the requested period
            overlaps it, so a client can say when geography began rather than
            presenting an empty period as an absence of traffic.
        countries:
          type: array
          description: |
            Countries ranked by resolved visitors, capped at ten and optionally
            ending in a single "(other)" row folding the tail.

            This is a partition, not an attribution split: each visitor resolves
            to exactly one country — the country of their most recent placed visit
            in the window — so the rows are disjoint and
            Σ(visitors) + unplaced_visitors == total_visitors holds exactly.

            A row's visitors and revenue answer two different questions and are
            not a numerator and a denominator: visitors counts people an IP
            placed in this country, revenue sums orders whose delivery address is
            here. **Never divide one by the other into a conversion rate** — the
            two populations are not the same people and the quotient means
            nothing. They also cover different spans; see revenue_window.
          items:
            type: object
            additionalProperties: false
            required:
            - code
            - name
            - visitors
            - page_views
            - share
            - other
            - revenue
            properties:
              code:
                type: string
                description: ISO 3166-1 alpha-2 country code, or "(other)" for the folded remainder row.
              name:
                type: string
                description: The country's ISO short name, falling back to the code when the ISO data does not recognise it, or "Other" for the remainder row.
              visitors:
                type: integer
                description: Distinct bot-free visitors who resolved to this country.
              page_views:
                type: integer
                description: Gross page views from this country over the window — bots and cookie-less visits included, read from the daily country rollup. Reconciles with no visitor number on this payload,
                  by design.
              share:
                type: number
                minimum: 0
                maximum: 1
                description: The country's visitor share of total_visitors, rounded to four decimals.
              other:
                type: boolean
                description: True for the single folded remainder row, false for a real country.
              revenue:
                type: string
                description: |
                  Revenue delivered to this country over revenue_window, as a
                  decimal string in the platform base currency (the sum of each
                  order's amount_in_base), rounded once to the base currency's
                  minor units. A country with visitors and no orders serves a
                  decimal zero ("0.00" in a two-minor-unit base currency), never
                  null — zero revenue is a measurement, null would mean "not
                  knowable".

                  Sourced from the order's own delivery country, not from the
                  visit geography the rest of the row is built from, so it
                  answers a different question than visitors beside it and must
                  never be divided into a conversion rate.

                  **This column covers storefront purchases and does not
                  decompose store revenue.** Imported orders are outside the
                  population entirely rather than missing from it, and they are
                  a material share of platform revenue, so the column totalling
                  less than a merchant's whole book is the design and not a gap
                  in it. It is the same population the conversion figures on
                  this tab measure — only orders a shopper session attributed —
                  so imports, integrations, renewals, admin orders and drafts
                  are absent from both, and the two agree by design.
        cities:
          type: object
          description: |
            The city breakdown, nested rather than listed beside the countries
            because it answers a different set of days. City capture began after
            country capture, so this object carries its own capture_start, its
            own effective_window, and its own total_visitors.

            cities.total_visitors will usually differ from the top-level
            total_visitors, because each counts the visitors of its own window.
            Both are correct. Divide city shares by cities.total_visitors and
            never by the top-level one.
          additionalProperties: false
          required:
          - capture_start
          - effective_window
          - rows
          - total_visitors
          - cityless_visitors
          - unplaced_visitors
          properties:
            capture_start:
              type:
              - string
              - 'null'
              format: date
              description: |
                The day this store first carried a visit placed to a city
                (YYYY-MM-DD, UTC), or null when it never has. Later than the
                top-level capture_start, since the edge began sending cities
                after it began sending countries. Reported whether or not the
                requested period overlaps it, so a client can say when city
                capture began rather than presenting unrecorded days as an
                absence of traffic.
            effective_window:
              type:
              - object
              - 'null'
              description: |
                The days of the requested period the city breakdown could
                answer — the requested window intersected with the days this
                store has carried visits placed to a city. Every figure inside
                this object is taken over this window, never the top-level one.

                Null when the two do not meet, which means the period lies
                entirely before this store began carrying cities. Null arrives
                with empty rows and zeroed totals, and is deliberately distinct
                from an answerable window whose counts are all zero — that means
                nobody came.
              additionalProperties: false
              required:
              - starts_on
              - ends_on
              properties:
                starts_on:
                  type: string
                  format: date
                  description: Inclusive first answerable day (YYYY-MM-DD, UTC).
                ends_on:
                  type: string
                  format: date
                  description: Inclusive last answerable day (YYYY-MM-DD, UTC).
            rows:
              type: array
              description: |
                Cities ranked by resolved visitors, capped at ten and optionally
                ending in a single remainder row folding the tail.

                A partition, like the countries above: each visitor resolves to
                exactly one city — the city of their most recent city-carrying
                visit in the window — so the rows are disjoint and
                Σ(visitors) + cityless_visitors + unplaced_visitors ==
                total_visitors holds exactly.
              items:
                type: object
                additionalProperties: false
                required:
                - country_code
                - subdivision
                - city
                - name
                - visitors
                - page_views
                - share
                - other
                properties:
                  country_code:
                    type:
                    - string
                    - 'null'
                    description: ISO 3166-1 alpha-2 code of the country the city is in, or null for the folded remainder row, which names no place.
                  subdivision:
                    type:
                    - string
                    - 'null'
                    description: CLDR subdivision id — the country code followed by the ISO 3166-2 suffix, e.g. USUT — or null when the edge resolved a city but no subdivision, and for the remainder row.
                  city:
                    type: string
                    description: The city name as the edge resolved it, or "(other)" for the folded remainder row. Not unique on its own — the place is the country, subdivision and city together.
                  name:
                    type: string
                    description: Display label — "City, Subdivision, Country", dropping the subdivision segment when the row carries none, and "Other" for the remainder row.
                  visitors:
                    type: integer
                    description: Distinct bot-free visitors who resolved to this city.
                  page_views:
                    type: integer
                    description: Gross page views from this city over the city window — bots and cookie-less visits included, read from the daily city rollup. Reconciles with no visitor number on this payload,
                      by design.
                  share:
                    type: number
                    minimum: 0
                    maximum: 1
                    description: The city's visitor share of cities.total_visitors, rounded to four decimals.
                  other:
                    type: boolean
                    description: True for the single folded remainder row, false for a real city.
            total_visitors:
              type: integer
              description: Total distinct bot-free visitors over the city effective window, in a city or not. The denominator every city share divides by, and not interchangeable with the top-level total_visitors.
            cityless_visitors:
              type: integer
              description: |
                Visitors the edge placed in a country but not in a city over the
                city effective window. Kept separate from unplaced_visitors
                rather than folded into it: they are a coverage gap in the city
                signal, not visitors the edge failed to place at all.
            unplaced_visitors:
              type: integer
              description: Visitors with no placed visit at all in the city effective window — counted, not dropped, so the three states are exhaustive and the city rows provably sum to the whole.
        total_visitors:
          type: integer
          description: Total distinct bot-free visitors over the effective window, placed and unplaced together. The denominator every share divides by.
        unplaced_visitors:
          type: integer
          description: |
            Visitors with no placed visit in the effective window — counted, not
            dropped, so the country breakdown provably sums to the whole.

            Shares are against total_visitors and are deliberately not
            renormalised, so Σ(shares) is the placed fraction rather than 1. The
            gap is this number, and it is meant to stay visible.
        accounted_revenue:
          type: string
          description: |
            The revenue the country rows add up to over revenue_window, as a
            decimal string in the platform base currency — so a merchant totting
            the column up arrives at this number. The folded "(other)" row is
            included, exactly as it is in the column.
        paid_revenue:
          type: string
          description: |
            Every purchased order's revenue over the same revenue_window,
            whatever country it was delivered to or whether it named one at all,
            as a decimal string in the platform base currency — the whole of the
            population the country column is cut from.

            Paired with accounted_revenue this is what makes the rows auditable:
            two checkable numbers rather than one computed percentage, so the
            client owns the phrasing. The identity is exact — accounted_revenue
            plus the revenue of purchased orders carrying no delivery country
            equals paid_revenue — and the two do not usually diverge, so a gap
            between them is worth looking into rather than the ordinary state of
            things.

            Read it as the population's total, not as store revenue. It covers
            storefront purchases and excludes imported orders, which are a
            material share of platform revenue, so neither this number nor the
            column beneath it is a merchant's whole book.
        status:
          type: integer
          description: The HTTP status code echoed in the response envelope.
        meta:
          type: object
          additionalProperties: false
          required:
          - request_uuid
          - timestamp
          properties:
            request_uuid:
              type:
              - string
              - 'null'
              description: The request correlation id, or null when unset.
            timestamp:
              type: string
              format: date-time
              description: ISO 8601 timestamp when the response was built.
    CompanyTrafficOverviewResponse:
      description: >-
        Store-traffic overview for a period — the resolved window, the page-view headline with its period-over-period change, the visitor split, the bot-free device mix, the gap-free daily series, the content
        mix by resource type, and the highest-viewed individual resources, wrapped in the standard API response envelope.
      type: object
      additionalProperties: false
      required:
      - period
      - page_views
      - unique_visitors
      - device_mix
      - series
      - content_mix
      - top_content
      - status
      - meta
      properties:
        period:
          type: object
          additionalProperties: false
          required:
          - name
          - starts_on
          - ends_on
          - bucket
          properties:
            name:
              type: string
              description: The resolved period name (e.g. last_30_days).
            starts_on:
              type: string
              format: date
              description: Inclusive first day of the requested window (YYYY-MM-DD, UTC).
            ends_on:
              type: string
              format: date
              description: Inclusive last day of the requested window (YYYY-MM-DD, UTC).
            bucket:
              type: string
              description: The bucket granularity of the period window (always "day").
        page_views:
          type: object
          additionalProperties: false
          required:
          - total
          - change_pct
          properties:
            total:
              type: integer
              description: Gross page views over the window, bots included, from the store's own daily rollup.
            change_pct:
              type:
              - number
              - 'null'
              description: Change against the immediately preceding window of equal length, or null when that window carried no views to compare with.
        unique_visitors:
          type:
          - object
          - 'null'
          description: |
            The distinct-visitor split over the window, or null for a window
            visitor state cannot answer — one that has already closed, or one
            reaching back before this store began capturing visitors.

            Null means "not knowable" and is deliberately distinct from a zero,
            which means "nobody came". A client must not coerce one into the
            other. It carries no change_pct, unlike page_views: the numbers come
            from session state, which records a visitor's most recent activity
            and so cannot describe the previous window.
          additionalProperties: false
          required:
          - total
          - new
          - returning
          properties:
            total:
              type: integer
              description: Distinct visitors over the window.
            new:
              type: integer
              description: Visitors on their first session.
            returning:
              type: integer
              description: Visitors with more than one session.
        device_mix:
          type: object
          additionalProperties: false
          description: Bot-free page views by device type, always carrying all four keys, zero-filled, so a client can render a stable set of segments.
          required:
          - desktop
          - mobile
          - tablet
          - unknown
          properties:
            desktop:
              type: integer
              description: Bot-free page views from desktop devices.
            mobile:
              type: integer
              description: Bot-free page views from mobile devices.
            tablet:
              type: integer
              description: Bot-free page views from tablets.
            unknown:
              type: integer
              description: Bot-free page views whose device could not be determined.
        series:
          type: array
          description: Gross page views per day over the window, gap-filled so every day in the window has a point, oldest first.
          items:
            type: object
            additionalProperties: false
            required:
            - at
            - page_views
            properties:
              at:
                type: string
                format: date
                description: The day this point covers (YYYY-MM-DD, UTC).
              page_views:
                type: integer
                description: Gross page views on that day.
        content_mix:
          type: object
          additionalProperties: false
          description: |
            Gross page views by content type, always carrying all six types
            plus "other", zero-filled, in a stable order. "other" is the views
            that resolved to no resource — a storefront root, a cart, a checkout
            URL.

            "promotions" was a seventh key until 2026-07-31. It was removed
            because it was always zero: no storefront visit has ever resolved to
            a promotion, and the rollup behind it has never held a row.

            The values sum to page_views.total with one exception: for windows
            predating the store rollup's backfill the per-resource rollups can
            over-count, and the mix then exceeds the headline. Every value is a
            real rollup total either way, so a client deriving shares should
            divide by the mix's own sum rather than by page_views.total — the two
            agree in the normal case, and dividing by the mix keeps a share at or
            below 100% in both.
          required:
          - products
          - pages
          - posts
          - media
          - libraries
          - enrollment_packs
          - other
          properties:
            products:
              type: integer
              description: Gross page views of individual products.
            pages:
              type: integer
              description: Gross page views of individual pages.
            posts:
              type: integer
              description: Gross page views of individual posts.
            media:
              type: integer
              description: Gross page views of individual media items.
            libraries:
              type: integer
              description: Gross page views of individual libraries.
            enrollment_packs:
              type: integer
              description: Gross page views of individual enrollment packs.
            other:
              type: integer
              description: Gross page views that resolved to no individual resource.
        top_content:
          type: array
          description: The highest-viewed individual resources over the window, ranked by gross page views across every content type and cut to a top-N.
          items:
            type: object
            additionalProperties: false
            required:
            - type
            - id
            - title
            - page_views
            - image_url
            - series
            - top_channel
            - top_channel_from
            - orders
            - revenue
            properties:
              type:
                type: string
                description: The resource's content type (e.g. products, pages).
              id:
                type: integer
                description: The resource's own identifier within its type.
              title:
                type:
                - string
                - 'null'
                description: The resource's title, or null when it has none.
              page_views:
                type: integer
                description: Gross page views of this resource over the window.
              image_url:
                type:
                - string
                - 'null'
                description: |
                  The resource's own image, or null when it has none.

                  Null is a real reading — the client renders a typed
                  placeholder. It is never an empty string and never a
                  server-chosen fallback.
              series:
                type: array
                description: |
                  This resource's gross page views per day over the same window
                  as the store-level series, gap-filled, oldest first.

                  Deliberately a bare array of integers rather than the
                  store-level series' at/page_views objects: it feeds a sparkline
                  with no axis, and the period object already says which days
                  those are. The two are the same length for the same period.
                items:
                  type: integer
              top_channel:
                type:
                - string
                - 'null'
                description: |
                  The canonical channel key that sent this resource the most page
                  views over the window, or null when no channel-stamped visit to
                  it fell in the window.

                  Null means "nothing sent it that we recorded". It is not
                  "direct", and a client must not render it as one.
              top_channel_from:
                type:
                - string
                - 'null'
                format: date
                description: |
                  The day top_channel starts covering (YYYY-MM-DD, UTC).

                  This field is the only statement of how much of the window the
                  channel ranking answers. Do not infer coverage from any other
                  date: how far back a store's channel data reaches depends on
                  when that store began recording it and on whether historical
                  visits have since been replayed into it, and both vary by store
                  and change over time.

                  What is fixed is the floor. Channel data cannot begin before
                  2026-07-22 under any circumstance, because no visit before that
                  day carries a resolved channel. That bounds how far back this
                  value can ever go; it does not promise any store reaches it.

                  A window reaching back before this store's first channel row
                  ranks the channel over the covered span while page_views beside
                  it counts the whole window. This names the day that span
                  begins, and a client showing the channel should say so rather
                  than let the two read as the same span.

                  Null in both the ordinary case and the empty one: null when the
                  ranking covers the whole window, and null again when it covers
                  none of it, where top_channel is already null and a span with no
                  days has no first day. Null therefore never means "unknown" —
                  pair it with top_channel to tell the two apart.
              orders:
                type: integer
                description: |
                  Paid orders whose attributing visit landed on this resource.

                  An order credits exactly one resource, so this does not
                  decompose store orders: an order whose attributing visit landed
                  on a storefront root, a cart, or a checkout URL credits no row
                  at all and is not spread across them. Zero is a real count, not
                  missing data. Resource credit is forward-only, so orders placed
                  before the platform began recording the attributing visit's
                  resource carry none.
              revenue:
                type: string
                description: |
                  Revenue from those orders as a decimal string in the platform's
                  base currency, summed from each order's creation-time converted
                  total.

                  A string rather than a number so no precision is lost in JSON.
                  Carries the same single-resource credit rule as orders, so
                  summing this column across the served rows is always less than
                  store revenue and must not be presented as a decomposition of
                  it.
        status:
          type: integer
          description: The HTTP status code echoed in the response envelope.
        meta:
          type: object
          additionalProperties: false
          required:
          - request_uuid
          - timestamp
          properties:
            request_uuid:
              type:
              - string
              - 'null'
              description: The request correlation id, or null when unset.
            timestamp:
              type: string
              format: date-time
              description: ISO 8601 timestamp when the response was built.
    CompanyTrafficReportingPeriod:
      description: Resolved UTC reporting window shared by traffic reads.
      type: object
      additionalProperties: false
      required:
      - name
      - starts_on
      - ends_on
      - bucket
      properties:
        name:
          type: string
          description: The resolved period name (e.g. last_30_days).
        starts_on:
          type: string
          format: date
          description: Inclusive first day of the window (YYYY-MM-DD, UTC).
        ends_on:
          type: string
          format: date
          description: Inclusive last day of the window (YYYY-MM-DD, UTC).
        bucket:
          type: string
          enum:
          - day
          description: Bucket granularity of the resolved period.
    CompanyTrafficRepsResponse:
      description: >-
        The traffic a store's field of reps drove over a period — the resolved window, how many reps were active, the field's share of every visitor, the ranked leaderboard, and the remainder that names
        nobody, wrapped in the standard API response envelope.
      type: object
      additionalProperties: false
      required:
      - period
      - active_reps
      - visitor_share
      - revenue
      - revenue_from
      - new_reps
      - total_visitors
      - total_reps
      - reps
      - unattributed
      - status
      - meta
      properties:
        period:
          type: object
          additionalProperties: false
          required:
          - name
          - starts_on
          - ends_on
          - bucket
          properties:
            name:
              type: string
              description: The resolved period name (e.g. last_30_days).
            starts_on:
              type: string
              format: date
              description: Inclusive first day of the window (YYYY-MM-DD, UTC).
            ends_on:
              type: string
              format: date
              description: Inclusive last day of the window (YYYY-MM-DD, UTC).
            bucket:
              type: string
              description: The bucket granularity of the period window (always "day"), so a twelve-month period is 365 series points per rep.
        active_reps:
          type: object
          description: How many reps drove traffic, with the comparison every other headline figure carries.
          additionalProperties: false
          required:
          - current
          - previous
          - change_pct
          properties:
            current:
              type: integer
              description: Distinct reps with at least one qualifying visit in the window, including reps hidden from the leaderboard.
            previous:
              type: integer
              description: The same count over the equal-length window before it.
            change_pct:
              type:
              - number
              - 'null'
              description: Percentage change versus the previous window, or null when that window had no active reps.
        visitor_share:
          type: number
          minimum: 0
          maximum: 1
          description: >-
            Distinct visitors who arrived on a rep-carrying visit over every distinct visitor in the window, rounded to four decimals, and 0 when the store saw none. Computed from the same identity filter
            as the rows, and its denominator is not narrowed to the first rep-driven visit.
        revenue:
          type: string
          description: |
            Revenue from every order this store's field drove over the window, as
            a decimal string in the platform's base currency (the sum of each
            order's amount_in_base), rounded once to the base currency's minor
            units.

            A string rather than a number so no precision is lost in JSON. A
            client must not parse it into a display path that rounds it a second
            time.

            Summed from the same stamped rows as the reps[].revenue column
            beneath it, so the two are one measurement rather than two. It is not
            the conversion figure the Sources tab serves for `channel = 'reps'`,
            which is keyed on a column three years younger than rep identity and
            would disagree with the leaderboard.

            It counts every rep credited in the window, including reps below the
            rank cut and reps the merchant has hidden from leaderboards, so the
            served rows do not add up to it — the same rule visitor_share and
            active_reps follow. It is not the store's whole revenue either: an
            order no rep drove is counted here in no row at all.

            This is **traffic** credit, not commission credit. It answers "whose
            link brought the shopper who bought", which is a different question
            from the rep a sale is credited to at checkout, so it will not
            reconcile with the order's own attribution or with commission
            reporting, and neither figure is a check on the other.
        revenue_from:
          type:
          - string
          - 'null'
          format: date
          description: |
            The day this store's rep revenue starts covering (YYYY-MM-DD, UTC),
            or null when no order has ever been credited to a rep here.

            Read every money figure on this card against it. Rep credit is
            recorded forward only and was never backfilled, so the money columns
            have a far shorter history than the visitor columns beside them on
            the very same row, and a window can sit entirely before this date —
            in which case orders are 0 and revenue is the currency's zero string
            for an era that was simply never measured. `$0` over a twelve-month
            window means "the field earned nothing" only when this date precedes
            the window; otherwise it means "we started measuring recently", and
            in this tab's first months that is the more common reading. Surface
            it wherever the money is shown.

            Null therefore means "no rep-credited order exists yet", not
            "unknown" and not "covers the whole window".

            It can never precede 2026-07-22 under any circumstance, because an
            order is only credited from a visit carrying a resolved channel and
            no earlier visit carries one. In practice it is later still: it is
            the first rep-credited order this store recorded, so a store whose
            first orders after the feature shipped were all driven by nobody
            reports a slightly later day than recording actually began. It moves
            earlier only in that it settles at the true first credited order.
        new_reps:
          type: integer
          description: |
            How many of the window's reps drove traffic for this store for the
            first time — they have a qualifying visit inside the window and none
            before it, back to the store's first recorded day.

            Always an integer, never null. A zero is a real count meaning no rep
            started this period, so no not-measured state is needed for it.

            It is scoped to this store: a rep with years of history under another
            company is new here, because this is the first traffic they drove
            here. And "qualifying" is deliberately not the same bar the rows use
            — a rep whose earlier traffic was all bots is new, because a bot is
            not traffic anybody drove, but a rep whose earlier traffic was merely
            cookieless is NOT new. visitor_uid began populating 2026-07-08, so
            requiring it on the lookback would report most of the field as newly
            activated and measure that column's rollout instead.

            Measured like active_reps rather than like the list: it counts the
            resolved rep identity, so a rep hidden from leaderboards is counted
            when they start driving traffic, exactly as their traffic is counted
            in active_reps and visitor_share. It is therefore not a subset of
            total_reps, and on a store that hides reps it can exceed it.
        total_visitors:
          type: integer
          description: Total distinct bot-free visitors over the window — the denominator visitor_share is taken against.
        total_reps:
          type: integer
          description: |
            How many reps this leaderboard ranked before it cut to the rows in
            `reps`, so a card serving a top N can state what it is not showing.

            The endpoint serves neither a search nor a sort parameter, so a
            client filtering or re-ordering the rows it has is working over a
            prefix of this many reps, not over the field. Read "no reps match"
            against this number: it means "none in the top N", never "no such
            rep".

            It counts the list rather than the field, which is the one place it
            parts company with active_reps.current. A rep the merchant has
            hidden from leaderboards, and a rep identity this store cannot name,
            are both measured in the tiles and appear on no page of this list,
            so neither is counted here. The unattributed remainder is not
            counted either — it is rep-classified traffic, not a rep. So
            total_reps is at most active_reps.current, and equal to it for a
            store that has hidden nobody.
        reps:
          type: array
          description: Reps ranked by distinct visitors descending, ties broken on name, cut to a top N. Reps hidden from leaderboards are absent.
          items:
            type: object
            additionalProperties: false
            required:
            - member_id
            - name
            - visitors
            - visits
            - orders
            - revenue
            - series
            - top_asset
            properties:
              member_id:
                type: string
                description: The rep's member id.
              name:
                type: string
                description: The rep's display name, resolved even for a member the merchant has since deleted.
              visitors:
                type: integer
                description: Distinct bot-free visitors this rep sent over the window. Rows need not sum to total_visitors, because one visitor can be sent by two reps.
              visits:
                type: integer
                description: Bot-free visits this rep sent over the window.
              orders:
                type: integer
                description: |
                  Paid orders whose attributing visit this rep drove.

                  Zero is a real count, not missing data — most rep traffic never
                  converts, so an empty cell here is the ordinary reading rather
                  than a gap. Read it against revenue_from: rep credit is
                  forward-only, so orders placed before this store's first
                  rep-credited order count on no row.

                  This is traffic credit, not commission credit, and it will not
                  match what the rep is paid on.
              revenue:
                type: string
                description: |
                  Revenue from those orders as a decimal string in the platform's
                  base currency, summed from each order's creation-time converted
                  total.

                  A string rather than a number so no precision is lost in JSON,
                  and a client must not parse it into a display path that rounds
                  it again. A rep who earned nothing serves the base currency's
                  own zero — "0.00" for a two-decimal currency — never null and
                  never a blank.

                  Carries the same forward-only credit rule and the same
                  traffic-not-commission meaning as orders above, and reads
                  against the same revenue_from. Summing this column across the
                  served rows does not reach the card's own revenue figure: that
                  one counts every credited rep, while these stop at the rank cut
                  and skip reps hidden from leaderboards.
              series:
                type: array
                description: Distinct visitors per day over the window, oldest first, gap-filled with zeros. Distinct-per-day does not sum to distinct-over-window, so this normally totals more than visitors.
                items:
                  type: integer
              top_asset:
                type:
                - object
                - 'null'
                additionalProperties: false
                description: |
                  The resource that drew the most of this rep's traffic over the
                  window, or null when none did.

                  Null is a real reading rather than missing data, and a client
                  must render an explicit empty cell for it. This column is read
                  from the per-resource rollups, which observe only tracked
                  resource types — rep traffic lands on one about half the time
                  — so a rep whose traffic never touched one genuinely has no
                  top asset. The traffic figures beside it come from the events
                  and are unaffected: a null here never means the row's
                  visitors, visits, or series are short.

                  Ties break on the kind and then on the resource's own id, so
                  the same window returns the same answer every time.

                  The three keys match the top_asset the Home > Field
                  leaderboard serves, so one card component renders both. The
                  resource's id is not among them: the card names an asset, it
                  does not link to one.
                required:
                - title
                - kind
                - thumbnail_url
                properties:
                  title:
                    type:
                    - string
                    - 'null'
                    description: The resource's title, or null when it has none. A resource the merchant has since deleted still names the row it earned.
                  kind:
                    type: string
                    enum:
                    - product
                    - page
                    - media
                    - blog
                    - collection
                    - enrollment
                    description: |
                      What kind of thing the asset is, as the card's own content
                      vocabulary names it.

                      Three of these do not read like the resource behind them:
                      a blog post is `blog`, a library is `collection`, and an
                      enrollment pack is `enrollment`. The Home > Field
                      leaderboard's top_asset spells the same three differently
                      — `post`, `library`, `enrollment_pack` — because it feeds
                      a different card. Promotions never appear: that rollup
                      holds no rows and is not read.
                  thumbnail_url:
                    type:
                    - string
                    - 'null'
                    description: |
                      The resource's own image, or null when it has none.

                      Null is a real reading — the client renders a typed
                      placeholder. It is never an empty string and never a
                      server-chosen fallback.
        unattributed:
          type: object
          description: >-
            The rep-classified traffic that names nobody, folded into one remainder — chiefly visits arriving through an admin-owned share, which carries no member. It is not a rep row, and carries neither
            a member_id nor a name.
          additionalProperties: false
          required:
          - visitors
          - visits
          properties:
            visitors:
              type: integer
              description: Distinct bot-free visitors whose rep-carrying visit resolved to no member.
            visits:
              type: integer
              description: Bot-free visits that resolved to no member.
        status:
          type: integer
          description: The HTTP status code echoed in the response envelope.
        meta:
          type: object
          additionalProperties: false
          required:
          - request_uuid
          - timestamp
          properties:
            request_uuid:
              type:
              - string
              - 'null'
              description: The request correlation id, or null when unset.
            timestamp:
              type: string
              format: date-time
              description: ISO 8601 timestamp when the response was built.
    CompanyTrafficResponseMeta:
      description: Standard metadata emitted by Api::Response.
      type: object
      additionalProperties: false
      required:
      - request_uuid
      - timestamp
      properties:
        request_uuid:
          type:
          - string
          - 'null'
          description: The request correlation id, or null when unset.
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the response was built.
    CompanyTrafficSourcesResponse:
      description: Store-traffic sources for a period — the resolved window, the per-channel split across the seven canonical channels, and the ranked top referring sites, wrapped in the standard API response
        envelope.
      type: object
      additionalProperties: false
      required:
      - period
      - channels
      - referrers
      - total_visitors
      - status
      - meta
      properties:
        period:
          type: object
          additionalProperties: false
          required:
          - name
          - starts_on
          - ends_on
          - bucket
          properties:
            name:
              type: string
              description: The resolved period name (e.g. last_30_days).
            starts_on:
              type: string
              format: date
              description: Inclusive first day of the window (YYYY-MM-DD, UTC).
            ends_on:
              type: string
              format: date
              description: Inclusive last day of the window (YYYY-MM-DD, UTC).
            bucket:
              type: string
              description: The bucket granularity of the period window (always "day").
        channels:
          type: array
          description: The seven canonical acquisition channels in fixed order.
          minItems: 7
          maxItems: 7
          items:
            type: object
            additionalProperties: false
            required:
            - key
            - page_views
            - visitors
            - share
            - change_pct
            - orders
            - revenue
            - conversion_rate
            properties:
              key:
                type: string
                description: Channel key (reps, email, paid, social, organic, referral, or direct).
              page_views:
                type: integer
                description: Gross page views for the channel over the window.
              visitors:
                type: integer
                description: Distinct bot-free visitors attributed to the channel.
              share:
                type: number
                description: The channel's visitor share of the window total, in the range 0 to 1.
              change_pct:
                type:
                - number
                - 'null'
                description: Percentage change in page views versus the previous equal-length window, or null when the previous window had no data.
              orders:
                type: integer
                description: Orders attributed to this channel that reached paid, counted over the conversion-capture-forward part of the window — zero for a window entirely before the company's first stamped
                  order.
              revenue:
                type: string
                description: Revenue from those orders, as a decimal string in the platform base currency (the sum of each order's amount_in_base), rounded once to the base currency's minor units.
              conversion_rate:
                type:
                - number
                - 'null'
                minimum: 0
                description: >-
[...]
