---
openapi: 3.1.0
info:
  title: Fluid Auth API
  version: v0
  description: Authentication, MFA, social auth, impersonation, and token exchange
    endpoints.
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
- url: https://{company}.fluid.app
  description: Production server with company subdomain
  variables:
    company:
      default: myco
      description: Company subdomain
tags:
- name: auth-token
  description: Short-lived auth-token minting for the current user company.
- name: authentication
  description: Email MFA login, company switching, JWT-based "me" lookups, and public
    company branding.
- name: confirm-visitor
  description: Visitor token confirmation.
- name: impersonation
  description: Root-admin company impersonation (start and exit).
- name: multi-factor-authentications
  description: MFA record creation and verification-code checks.
- name: single-sign-ons
  description: SSO-flow aliases of the authentication MFA and lookup endpoints.
- name: social-auth
  description: Google, Facebook, and Apple OAuth URLs, callback handling, and Apple
    account linking.
- name: switch-role
  description: Switch the current admin user between admin and rep roles.
- name: token-exchange
  description: Exchange and refresh JWTs and user-company tokens.
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: Bearer token authentication (JWT or user-company token)
  schemas:
    Meta:
      type: object
      properties:
        request_id:
          description: |
            Opaque per-request identifier echoed on the response; `null` when the
            request was not assigned one. Quote it when reporting an issue so support
            can correlate server-side logs.
          type:
          - string
          - 'null'
        timestamp:
          description: Server time the response was generated, as an ISO 8601 date-time.
          type: string
          format: date-time
    ErrorResponse:
      type: object
      required:
      - error_message
      - errors
      - meta
      properties:
        error_message:
          description: Human-readable summary of what went wrong, safe to surface to
            the caller.
          type: string
        errors:
          description: Structured per-field or per-issue detail behind `error_message`;
            shape varies (see `ErrorBag`) and is `null` when no structured detail is
            available.
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          description: Response metadata (request id and generation timestamp).
          "$ref": "#/components/schemas/Meta"
    UnauthorizedResponse:
      type: object
      required:
      - message
      properties:
        message:
          description: |
            Reason the request was rejected as unauthenticated. `401` bodies are this
            bare `{ "message": "..." }` object rather than the wrapped `ErrorResponse`
            envelope used by `404`/`422`.
          type: string
    MfaCreatedResponse:
      description: MFA record created — returned by send_mfa, resend_mfa, and multi_factor_authentications
        create
      type: object
      required:
      - multi_factor_authentication
      properties:
        multi_factor_authentication:
          description: The MFA record that was created and to which the verification
            code was sent.
          "$ref": "#/components/schemas/MfaCreatedObject"
        meta:
          description: Response metadata (request id and generation timestamp).
          "$ref": "#/components/schemas/Meta"
    MfaCreatedObject:
      type: object
      required:
      - uuid
      - authenticated
      - verification_channel
      properties:
        uuid:
          description: |
            Identifier of the MFA record (`mfa_`-prefixed). Pass it back as the `uuid`
            when confirming or resending the code.
          type: string
        authenticated:
          description: |
            Whether this MFA record has been satisfied. `false` on creation — it flips
            to `true` only after the correct verification code is submitted.
          type: boolean
        verification_channel:
          description: Channel the verification code was delivered over.
          type: string
          enum:
          - email
          - sms
        verification_code_expires_at:
          description: |
            ISO 8601 time after which the verification code is no longer valid;
            confirming past this point returns `410`. Omitted when no expiry applies.
          type: string
          format: date-time
    SocialAuthUrl:
      description: OAuth provider URL for redirect-based authentication
      type: object
      required:
      - provider
      - auth_url
      - redirect_uri
      properties:
        provider:
          description: 'Provider key this URL belongs to (e.g. `google`, `facebook`,
            `apple`).'
          type: string
        auth_url:
          description: Fully-formed provider authorization URL to redirect the user
            to; carries the server-issued OAuth `state`.
          type: string
          format: uri
        redirect_uri:
          description: Callback URI the provider returns to after the user authorizes;
            must match the value registered with the provider.
          type: string
          format: uri
    CompanyPublicDetails:
      description: Public company branding for login and SSO pages (no auth required).
        When the shop name doesn't match a company, the lookup falls back to the
        requesting domain's company, then the Fluid default company, so a company
        object is always returned on success.
      type: object
      required:
      - company
      properties:
        company:
          description: Public branding details for the resolved company.
          type: object
          required:
          - name
          - logo_url
          - color
          - fluid_shop
          - primary_domain_hostname
          - support_email
          properties:
            name:
              description: Display name of the company.
              type: string
            logo_url:
              description: URL of the company logo for login/SSO branding, or `null`
                when none is set.
              type:
              - string
              - 'null'
            color:
              type: string
              description: Brand color rendered as a "#"-prefixed hex string.
            fluid_shop:
              description: 'Fluid shop identifier for the company (its `*.fluid.app`
                shop name, e.g. `myco.fluid.app`).'
              type: string
            primary_domain_hostname:
              description: Company's primary custom domain hostname, or `null` when
                only the default `fluid.app` shop domain is configured.
              type:
              - string
              - 'null'
            support_email:
              description: Public support contact address for the company, or `null`
                when none is set.
              type:
              - string
              - 'null'
        meta:
          description: Response metadata (request id and generation timestamp).
          "$ref": "#/components/schemas/Meta"
    UserProfile:
      description: Authenticated user profile
      type: object
      required:
      - id
      - first_name
      - last_name
      - email
      - avatar_url
      - root_admin
      properties:
        id:
          description: Numeric identifier of the user the supplied JWT resolved to;
            `null` when it cannot be resolved.
          type:
          - integer
          - 'null'
        first_name:
          description: User's given name, or `null` when not set.
          type:
          - string
          - 'null'
        last_name:
          description: User's family name, or `null` when not set.
          type:
          - string
          - 'null'
        email:
          description: User's email address, or `null` when not set.
          type:
          - string
          - 'null'
        avatar_url:
          description: URL of the user's avatar image, or `null` when none is set.
          type:
          - string
          - 'null'
        root_admin:
          description: '`true` when the user is a Fluid root admin (able to impersonate
            companies); `null` when unknown.'
          type:
          - boolean
          - 'null'
    UserCompanyProfile:
      description: User-company relationship details
      type: object
      required:
      - id
      - company_id
      - company_name
      - roles
      - user_type
      - logo_url
      - icon_url
      - fluid_shop
      - company_colors
      properties:
        id:
          description: Identifier of the user-company membership record (the join
            between the user and the company), not the user or company id.
          type: integer
        company_id:
          description: Numeric identifier of the company this membership belongs to.
          type: integer
        company_name:
          description: Display name of the company.
          type: string
        roles:
          description: 'Roles the user holds within this company (e.g. `admin`, `rep`),
            which govern what the JWT can do.'
          type: array
          items:
            type: string
        user_type:
          description: 'Kind of principal this membership represents within the
            company (e.g. `user`, `customer`).'
          type: string
        logo_url:
          description: URL of the company logo, or `null` when none is set.
          type:
          - string
          - 'null'
        icon_url:
          description: URL of the company's square icon/favicon, or `null` when none
            is set.
          type:
          - string
          - 'null'
        fluid_shop:
          description: 'Fluid shop identifier for the company (its `*.fluid.app` shop
            name).'
          type: string
        company_colors:
          description: Company brand colors used to theme login and portal surfaces.
          type: object
          required:
          - primary_color
          - secondary_color
          properties:
            primary_color:
              description: Primary brand color as a "#"-prefixed hex string, or `null`
                when unset.
              type:
              - string
              - 'null'
            secondary_color:
              description: Secondary brand color as a "#"-prefixed hex string, or
                `null` when unset.
              type:
              - string
              - 'null'
    ConfirmMfaCompany:
      description: Company returned after successful MFA confirmation
      type: object
      required:
      - id
      - name
      - jwt
      properties:
        id:
          description: Numeric identifier of the company this entry authenticates the
            user into.
          type: integer
        name:
          description: Display name of the company.
          type: string
        shop_name:
          description: 'Fluid shop identifier for the company (its `*.fluid.app` shop
            name).'
          type: string
        logo_url:
          description: URL of the company logo, or `null` when none is set.
          type:
          - string
          - 'null'
        primary_domain_hostname:
          description: Company's primary custom domain hostname, or `null` when only
            the default shop domain is configured.
          type:
          - string
          - 'null'
        jwt:
          description: |
            Bearer JWT scoped to this company. Send it as `Authorization: Bearer
            <jwt>` on subsequent requests, or exchange it for a user-company token via
            `PUT /api/user_companies/jwt_exchange`.
          type: string
        auth_type:
          description: Per-company auth context for this entry's jwt — "rep" (admin/rep
            surface) or "customer" (checkout/customer portal). Lets the client route
            each company to the correct destination instead of relying on the single
            top-level auth_type, which is ambiguous for a user who is a rep in one
            company and a customer in another.
          type:
          - string
          - 'null'
          enum:
          - rep
          - customer
          - null
    ImpersonatedCompany:
      description: Company details returned during impersonation
      type: object
      required:
      - id
      - name
      properties:
        id:
          description: Numeric identifier of the company being impersonated (or
            returned to on exit).
          type: integer
        name:
          description: Display name of the company.
          type: string
        active:
          description: Whether the company is currently active.
          type: boolean
        fluid_shop:
          description: 'Fluid shop identifier for the company (its `*.fluid.app` shop
            name).'
          type: string
        logo_url:
          description: URL of the company logo, or `null` when none is set.
          type:
          - string
          - 'null'
    JsonValue:
      description: Any valid JSON value for provider, integration, theme, metadata,
        or other dynamic payloads whose keys are not fixed by the API contract.
      anyOf:
      - type: string
      - type: number
      - type: boolean
      - type: 'null'
      - type: array
        items:
          "$ref": "#/components/schemas/JsonValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorValue:
      description: A validation or API error value.
      anyOf:
      - type: string
      - type: array
        items:
          type: string
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorBag:
      description: Validation errors keyed by field, a list of errors, a single error
        message, or null when no structured error details are available.
      anyOf:
      - type: string
      - type: array
        items:
          "$ref": "#/components/schemas/ErrorValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/ErrorValue"
      - type: 'null'
    ErrorMessage:
      description: An API error message represented as text or structured JSON.
      anyOf:
      - type: string
      - "$ref": "#/components/schemas/ErrorBag"
      - type: 'null'
    StandardErrorResponse:
      description: Common legacy error response envelope. Older endpoints may return
        one or more of these fields depending on the controller path.
      type: object
      properties:
        message:
          description: Single human-readable error string; the form some legacy
            controllers (and `401` responses) return.
          type: string
        error:
          description: Alternative single-error field (string or structured); present
            on some legacy controller paths instead of `message`.
          "$ref": "#/components/schemas/ErrorMessage"
        error_message:
          description: Human-readable summary, mirroring the `error_message` of the
            newer `ErrorResponse` envelope.
          "$ref": "#/components/schemas/ErrorMessage"
        errors:
          description: Structured per-field or per-issue error detail; shape varies
            (see `ErrorBag`).
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          description: Response metadata (request id and generation timestamp).
          "$ref": "#/components/schemas/Meta"
      additionalProperties:
        "$ref": "#/components/schemas/JsonValue"
    ConfirmMfaResponse:
      type: object
      required:
      - authenticated
      - auth_type
      - companies
      properties:
        authenticated:
          description: '`true` once the submitted verification code matched, meaning
            the JWTs in `companies` are usable.'
          type: boolean
        auth_type:
          description: |
            Top-level principal kind resolved by this login. Prefer the per-entry
            `companies[].auth_type` when routing, since a user can be a rep in one
            company and a customer in another.
          type: string
          enum:
          - user
          - customer
          - rep
        companies:
          description: |
            One entry per company the authenticated principal belongs to, each with
            its own bearer JWT. A single-company user gets a one-element array.
          type: array
          items:
            "$ref": "#/components/schemas/ConfirmMfaCompany"
        meta:
          description: Response metadata (request id and generation timestamp).
          "$ref": "#/components/schemas/Meta"
    SocialAuthAccount:
      description: The user or customer resolved from a social-auth callback.
      type: object
      required:
      - id
      - email
      - first_name
      - last_name
      properties:
        id:
          description: Numeric identifier of the resolved account.
          type: integer
        email:
          description: Email address the provider authenticated.
          type: string
        first_name:
          description: Account's given name, or `null` when not set.
          type:
          - string
          - 'null'
        last_name:
          description: Account's family name, or `null` when not set.
          type:
          - string
          - 'null'
paths:
  "/api/auth_token":
    post:
      operationId: auth_v0_auth_token_create
      summary: Create auth token
      description: Generate a short-lived authentication token for the current user
        company.
      tags:
      - auth-token
      responses:
        '200':
          description: Auth token as a bare JSON string, or JSON null when generation
            fails.
          content:
            application/json:
              schema:
                type:
                - string
                - 'null'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '403':
          description: Authenticated principal lacks the users:update permission (e.g.
            a company/service token with no user principal).
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      security:
      - bearer_auth: []
  "/api/authentication/company/{company_id}/switch":
    put:
      summary: Switch company
      description: Switch the authenticated user to a different company they belong
        to.
      tags:
      - authentication
      security:
      - bearer_auth: []
      operationId: auth_v0_switch_company
      parameters:
      - name: company_id
        in: path
        required: true
        description: Company id
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - company
                properties:
                  company:
                    type: object
                    required:
                    - id
                    - name
                    - fluid_shop
                    - jwt
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      fluid_shop:
                        type: string
                      logo_url:
                        type:
                        - string
                        - 'null'
                      jwt:
                        type: string
                      redirect_path:
                        type: string
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '403':
          description: Authenticated principal is a service token (company/partner/droplet),
            not a user-company member allowed to switch companies.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '404':
          description: Company not found or not associated with current user
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/authentication/company/{fluid_shop}":
    get:
      summary: Fetch company details from Fluid Shop name
      description: Public endpoint that returns basic company details by shop name.
        No authentication required.
      tags:
      - authentication
      operationId: auth_v0_company_details
      parameters:
      - name: fluid_shop
        in: path
        required: true
        description: Fluid shop name
        schema:
          type: string
      responses:
        '200':
          description: Company details
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CompanyPublicDetails"
        '404':
          description: No company matched the shop name and no fallback company could
            be resolved. Served with a no-store Cache-Control header so the miss is
            not cached.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      security: []
  "/api/authentication/confirm_mfa":
    post:
      summary: Confirm MFA passcode
      description: Verify a multi-factor authentication code and receive JWTs for
        the user's companies.
      tags:
      - authentication
      operationId: auth_v0_confirm_mfa
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ConfirmMfaResponse"
        '404':
          description: No MFA record matches the supplied uuid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '410':
          description: The verification code has expired.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - uuid
              - multi_factor_authentication
              properties:
                uuid:
                  type: string
                multi_factor_authentication:
                  type: object
                  required:
                  - verification_code
                  properties:
                    verification_code:
                      type: string
            examples:
              confirm_emailed_passcode:
                summary: Confirm the emailed MFA passcode to complete login
                value:
                  uuid: mfa_9f8c1b2a3d4e5f60
                  multi_factor_authentication:
                    verification_code: '123456'
      security: []
  "/api/authentication/me":
    get:
      summary: Fetch user details from JWT
      description: Decode a JWT and return the user and user-company profile information.
      tags:
      - authentication
      operationId: auth_v0_user_details
      parameters:
      - name: jwt
        in: query
        required: true
        description: |
          JWT to decode and look up. Typically a `companies[].jwt` returned by MFA
          confirmation. Returns `422` when omitted and `404` when it does not resolve
          to a user company.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - user
                - user_company
                properties:
                  user:
                    "$ref": "#/components/schemas/UserProfile"
                  user_company:
                    "$ref": "#/components/schemas/UserCompanyProfile"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '404':
          description: The JWT does not resolve to a user company (unknown or rejected
            token).
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Missing JWT parameter
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      security: []
  "/api/authentication/resend_mfa":
    post:
      summary: Resend MFA code via email
      description: Destroy the previous MFA record and create a new one, sending a
        fresh verification code.
      tags:
      - authentication
      operationId: auth_v0_resend_mfa
      parameters:
      - name: uuid
        in: query
        required: true
        description: Current MFA uuid
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MfaCreatedResponse"
        '404':
          description: No MFA record matches the supplied uuid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      security: []
  "/api/authentication/send_mfa":
    post:
      summary: Send MFA passcode
      description: Send a multi-factor authentication passcode via email. Returns
        a generic success response even for unknown emails to prevent email enumeration.
      tags:
      - authentication
      operationId: auth_v0_send_mfa
      parameters:
      - name: email
        in: query
        required: true
        description: Email address of the user
        schema:
          type: string
          format: email
      - name: fluid_shop
        in: query
        required: false
        description: 'Shop name, eg: company.fluid.app'
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MfaCreatedResponse"
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      security: []
  "/api/confirm-visitor":
    post:
      operationId: auth_v0_confirm_visitor
      summary: Confirm visitor
      description: Mark a visitor as confirmed using their secure token.
      tags:
      - confirm-visitor
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: string
                    enum:
                    - success
        '400':
          description: Bad request — visitor not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - visitor
              properties:
                visitor:
                  type: object
                  required:
                  - token
                  properties:
                    token:
                      type: string
                      description: The visitor's secure confirmation token.
            example:
              visitor:
                token: vt_5f3a9c2e1b7d40a8c6e9
      security: []
  "/api/impersonation":
    post:
      summary: Impersonate a company
      description: Start impersonating a company. Only accessible by root admins.
      tags:
      - impersonation
      security:
      - bearer_auth: []
      operationId: auth_v0_impersonate_company
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                required:
                - impersonating
                - company
                - jwt
                properties:
                  impersonating:
                    type: boolean
                  company:
                    "$ref": "#/components/schemas/ImpersonatedCompany"
                  jwt:
                    type: string
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized — invalid credentials
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '403':
          description: Authenticated user is not a root admin.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '404':
          description: No company matches the supplied company_id.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Impersonation token generation failed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - company_id
              properties:
                company_id:
                  type: integer
                  description: ID of the company to impersonate
            example:
              company_id: 4821
    delete:
      summary: Exit company impersonation
      description: Exit company impersonation and return to the original admin session.
      tags:
      - impersonation
      security:
      - bearer_auth: []
      operationId: auth_v0_exit_impersonation
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - user_company
                properties:
                  user_company:
                    type: object
                    required:
                    - jwt
                    - company
                    properties:
                      jwt:
                        type: string
                      company:
                        "$ref": "#/components/schemas/ImpersonatedCompany"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized — expired impersonation token
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '403':
          description: Authenticated user is not a root admin.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
  "/api/multi_factor_authentications":
    post:
      summary: Create a multi-factor authentication
      description: Create a new MFA record and send a verification code via the specified
        channel.
      tags:
      - multi-factor-authentications
      operationId: auth_v0_create_mfa
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MfaCreatedResponse"
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - multi_factor_authentication
              properties:
                multi_factor_authentication:
                  type: object
                  required:
                  - multi_factorable_type
                  - multi_factorable_id
                  - verification_channel
                  properties:
                    multi_factorable_type:
                      type: string
                      enum:
                      - UserCompany
                      - User
                      - Customer
                    multi_factorable_id:
                      type:
                      - integer
                      - string
                    verification_channel:
                      type: string
                      enum:
                      - email
                      - sms
                    is_invitation:
                      type: boolean
                    is_resend:
                      type: boolean
            examples:
              email_to_user_company:
                summary: Start MFA for a user-company over email
                value:
                  multi_factor_authentication:
                    multi_factorable_type: UserCompany
                    multi_factorable_id: 90210
                    verification_channel: email
              sms_to_customer:
                summary: Send an SMS passcode to a customer
                value:
                  multi_factor_authentication:
                    multi_factorable_type: Customer
                    multi_factorable_id: 1337
                    verification_channel: sms
      security: []
  "/api/multi_factor_authentications/{uuid}":
    put:
      summary: Verify a multi-factor authentication code
      description: Submit a verification code to authenticate an MFA record.
      tags:
      - multi-factor-authentications
      operationId: auth_v0_authenticate_mfa
      parameters:
      - name: uuid
        in: path
        required: true
        description: |
          Identifier of the MFA record to verify (`mfa_`-prefixed), as returned by the
          create/send-MFA endpoints. Returns `404` when no record matches and `410`
          once the code has expired.
        schema:
          type: string
          description: MFA identifier (mfa_ prefixed)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - multi_factor_authentication
                properties:
                  multi_factor_authentication:
                    type: object
                    required:
                    - uuid
                    - authenticated
                    properties:
                      uuid:
                        type: string
                        description: MFA identifier (mfa_ prefixed)
                      authenticated:
                        type: boolean
                      authentication_token:
                        type: string
                      authentication_token_expires_at:
                        type: string
                        format: date-time
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '404':
          description: No MFA record matches the supplied uuid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '410':
          description: The verification code has expired.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - multi_factor_authentication
              properties:
                multi_factor_authentication:
                  type: object
                  required:
                  - verification_code
                  properties:
                    verification_code:
                      type: string
            example:
              multi_factor_authentication:
                verification_code: '123456'
      security: []
  "/api/single_sign_ons/company/{fluid_shop}":
    get:
      operationId: auth_v0_sso_company
      summary: Get company via SSO
      description: Public endpoint that returns company details for SSO login pages.
      tags:
      - single-sign-ons
      parameters:
      - name: fluid_shop
        in: path
        required: true
        description: |
          Fluid shop name to resolve (the company's `*.fluid.app` shop name). When it
          matches no company, the lookup falls back to the requesting domain's company
          and then the Fluid default company; a `404` means none could be resolved.
        schema:
          type: string
      responses:
        '200':
          description: Company details
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CompanyPublicDetails"
        '404':
          description: No company matched the shop name and no fallback company could
            be resolved. Served with a no-store Cache-Control header so the miss is
            not cached.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      security: []
  "/api/single_sign_ons/confirm_mfa":
    post:
      operationId: auth_v0_sso_confirm_mfa
      summary: Confirm MFA via SSO
      description: Verify a multi-factor authentication code through the SSO flow.
      tags:
      - single-sign-ons
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ConfirmMfaResponse"
        '404':
          description: No MFA record matches the supplied uuid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '410':
          description: The verification code has expired.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - uuid
              - multi_factor_authentication
              properties:
                uuid:
                  type: string
                multi_factor_authentication:
                  type: object
                  required:
                  - verification_code
                  properties:
                    verification_code:
                      type: string
            examples:
              confirm_emailed_passcode:
                summary: Confirm the emailed MFA passcode to complete login
                value:
                  uuid: mfa_9f8c1b2a3d4e5f60
                  multi_factor_authentication:
                    verification_code: '123456'
      security: []
  "/api/single_sign_ons/me":
    get:
      operationId: auth_v0_sso_me
      summary: Get current user via SSO
      description: Decode a JWT and return user and user-company profile information
        through the SSO flow.
      tags:
      - single-sign-ons
      parameters:
      - name: jwt
        in: query
        required: true
        description: |
          JWT to decode and look up (the SSO-flow alias of `GET /api/authentication/me`).
          Returns `422` when omitted and `404` when it does not resolve to a user
          company.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - user
                - user_company
                properties:
                  user:
                    "$ref": "#/components/schemas/UserProfile"
                  user_company:
                    "$ref": "#/components/schemas/UserCompanyProfile"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '404':
          description: The JWT does not resolve to a user company (unknown or rejected
            token).
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Missing JWT parameter
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      security: []
  "/api/single_sign_ons/resend_mfa":
    post:
      operationId: auth_v0_sso_resend_mfa
      summary: Resend MFA via SSO
      description: Resend a verification code through the SSO flow.
      tags:
      - single-sign-ons
      parameters:
      - name: uuid
        in: query
        required: true
        description: Current MFA uuid
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MfaCreatedResponse"
        '404':
          description: No MFA record matches the supplied uuid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      security: []
  "/api/single_sign_ons/send_mfa":
    post:
      operationId: auth_v0_sso_send_mfa
      summary: Send MFA via SSO
      description: Send a multi-factor authentication passcode via the SSO flow.
      tags:
      - single-sign-ons
      parameters:
      - name: email
        in: query
        required: true
        description: Email address of the user to send the MFA passcode to. Unknown
          emails still return a generic success to prevent enumeration.
        schema:
          type: string
          format: email
      - name: fluid_shop
        in: query
        required: false
        description: 'Shop name, eg: company.fluid.app'
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MfaCreatedResponse"
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      security: []
  "/api/social_auth/apple":
    get:
      operationId: auth_v0_social_auth_apple
      summary: Redirect to Apple OAuth
      description: Generate an Apple OAuth URL for redirect-based authentication.
      tags:
      - social-auth
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SocialAuthUrl"
        '422':
          description: Missing fluid_shop parameter
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      security: []
  "/api/social_auth/callback":
    post:
      operationId: auth_v0_social_auth_callback
      summary: Social auth callback
      description: Handle the OAuth callback from a social auth provider. Finds or
        creates the user and initiates MFA.
      tags:
      - social-auth
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - multi_factor_authentication
                - auth_type
                properties:
                  multi_factor_authentication:
                    type: object
                    required:
                    - uuid
                    - verification_channel
                    - authenticated
                    properties:
                      uuid:
                        type: string
                        description: MFA identifier (mfa_ prefixed)
                      verification_code:
                        type:
                        - string
                        - 'null'
                      verification_channel:
                        type: string
                      authenticated:
                        type: boolean
                      verification_code_expires_at:
                        type: string
                        format: date-time
                  auth_type:
                    type: string
                    enum:
                    - user
                    - customer
                    - rep
                  user:
                    "$ref": "#/components/schemas/SocialAuthAccount"
                  customer:
                    "$ref": "#/components/schemas/SocialAuthAccount"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '404':
          description: The authenticated email is not associated with any account.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Missing provider or code
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - provider
              - code
              properties:
                provider:
                  type: string
                  enum:
                  - google
                  - facebook
                  - apple
                code:
                  type: string
                  description: OAuth authorization code returned by the provider.
                state:
                  type: string
                  description: Server-issued, one-time OAuth state (validated and consumed
                    for Google/Apple).
                fluid_shop:
                  type: string
                  description: Shop context for the login; falls back to the verified
                    state or the request domain.
                user:
                  type: string
                  description: JSON string of user data Apple posts on first authorization.
                id_token:
                  type: string
                  description: Apple ID token; decoded to extract the sub claim.
            examples:
              google_callback:
                summary: Exchange a Google authorization code returned to the callback
                value:
                  provider: google
                  code: 4/0AWtgzh4kK9m2Qw
                  state: 3f2a9c7e1b
                  fluid_shop: myco.fluid.app
              apple_first_authorization:
                summary: Apple callback on first authorization (posts user + id_token)
                value:
                  provider: apple
                  code: c1d2e3f4a5b6
                  state: 8b7a6c5d4e
                  id_token: eyJraWQiOiJmaDZCcyJ9.eyJzdWIiOiIwMDEyMzQuYWJjZCJ9.Ab12Cd
                  user: '{"name":{"firstName":"Ada","lastName":"Lovelace"},"email":"ada@example.com"}'
      security: []
  "/api/social_auth/facebook":
    get:
      operationId: auth_v0_social_auth_facebook
      summary: Redirect to Facebook OAuth
      description: Generate a Facebook OAuth URL for redirect-based authentication.
      tags:
      - social-auth
      responses:
        '200':
          description: Facebook OAuth URL
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SocialAuthUrl"
      security: []
  "/api/social_auth/google":
    get:
      operationId: auth_v0_social_auth_google
      summary: Redirect to Google OAuth
      description: Generate a Google OAuth URL for redirect-based authentication.
      tags:
      - social-auth
      responses:
        '200':
          description: Google OAuth URL
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SocialAuthUrl"
      security: []
  "/api/social_auth/link_apple":
    post:
      operationId: auth_v0_social_auth_link_apple
      summary: Link Apple account
      description: Link an Apple account to the authenticated user.
      tags:
      - social-auth
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - apple_external_id
                properties:
                  apple_external_id:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '403':
          description: Authenticated principal is a service token, not a user-company
            member allowed to link an Apple account.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '409':
          description: The Apple ID is already linked to a different account.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: No Apple identifier could be resolved, or the user already has
            a different Apple ID linked.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        required: false
        description: Provide exactly one Apple identifier. `sub` is an alias for `apple_external_id`;
          `id_token` is decoded to extract its `sub` claim.
        content:
          application/json:
            schema:
              type: object
              properties:
                apple_external_id:
                  type: string
                sub:
                  type: string
                  description: Alias for apple_external_id.
                id_token:
                  type: string
                  description: Apple ID token; decoded to extract the sub claim.
            examples:
              by_apple_external_id:
                summary: Link using the Apple subject identifier
                value:
                  apple_external_id: '001234.abcd5678ef901234.5678'
              by_id_token:
                summary: Link using an Apple ID token (sub is decoded from it)
                value:
                  id_token: eyJraWQiOiJmaDZCcyJ9.eyJzdWIiOiIwMDEyMzQuYWJjZCJ9.Ab12Cd
      security:
      - bearer_auth: []
  "/api/social_auth/providers":
    get:
      operationId: auth_v0_social_auth_providers
      summary: List social auth providers
      description: Return available social auth providers with their OAuth URLs for
        a given shop.
      tags:
      - social-auth
      parameters:
      - name: fluid_shop
        in: query
        required: true
        description: Fluid shop name whose enabled social-auth providers and per-shop
          OAuth URLs should be returned.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - providers
                properties:
                  providers:
                    type: array
                    items:
                      type: object
                      required:
                      - name
                      - display_name
                      - auth_url
                      - callback_url
                      - color
                      properties:
                        name:
                          type: string
                        display_name:
                          type: string
                        auth_url:
                          type: string
                          format: uri
                        callback_url:
                          type: string
                          format: uri
                        color:
                          type: string
                          description: Hex color code for the provider button
      security: []
  "/api/switch_role":
    post:
      operationId: auth_v0_switch_role
      summary: Switch user role
      description: Switch the current admin user to act as a different role (admin
        or rep).
      tags:
      - switch-role
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - jwt
                properties:
                  jwt:
                    type: string
        '400':
          description: Missing user_role, an unsupported value, or the caller is not
            an admin. The body is a bare JSON string describing the failure.
          content:
            application/json:
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '403':
          description: Authenticated principal lacks the users:update permission (e.g.
            a company/service token).
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - user_role
              properties:
                user_role:
                  type: string
                  enum:
                  - admin
                  - rep
            examples:
              switch_to_rep:
                summary: Act as a rep
                value:
                  user_role: rep
              switch_to_admin:
                summary: Return to acting as an admin
                value:
                  user_role: admin
      security:
      - bearer_auth: []
  "/api/user_companies/customer_token_exchange":
    put:
      summary: Exchange user company token for customer JWT
      description: |
        Exchange a user-company token for a customer-scoped JWT, creating a customer
        record if one does not yet exist. The token is supplied in the request body,
        so no bearer header is required. Returns `401` when the user-company token is
        blank or does not match a user company, and `400` when the customer record
        cannot be created or linked (e.g. an invalid email).
      tags:
      - token-exchange
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - jwt
                properties:
                  jwt:
                    type: string
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '400':
          description: The customer record could not be created or linked (invalid
            email).
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '401':
          description: The user-company token is blank or does not match a user company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Invalid parameters
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - user_company_token
              properties:
                user_company_token:
                  type: string
            example:
              user_company_token: uc_2b9f4a7c1d6e8f03a1b2c3d4e5f6
      operationId: auth_v0_customer_token_exchange
      security: []
  "/api/user_companies/jwt_exchange":
    put:
      summary: Exchange JWT for user company token
      description: |
        Exchange a JWT for a long-lived user-company token (the inverse of
        `token_exchange`). The JWT is supplied in the request body, so no bearer
        header is required. Returns `401` when the JWT is invalid or has been rejected
        by a lock/flush.
      tags:
      - token-exchange
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - user_company_token
                properties:
                  user_company_token:
                    type: string
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: The JWT is invalid or has been rejected by a lock/flush.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Invalid parameters
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jwt
              properties:
                jwt:
                  type: string
            example:
              jwt: eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2NvbXBhbnlfaWQiOjkwMjEwfQ.s5x8Kk3mQ0Yb2n
      operationId: auth_v0_jwt_exchange
      security: []
  "/api/user_companies/jwt_refresh":
    put:
      summary: Refresh JWT token
      description: |
        Refresh an existing JWT and return a new one with extended validity. The
        current JWT is supplied in the request body, so no bearer header is required.
        Returns `401` when that JWT is invalid or has been rejected by a lock/flush.
      tags:
      - token-exchange
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - jwt
                properties:
                  jwt:
                    type: string
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: The JWT is invalid or has been rejected by a lock/flush.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Invalid parameters
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jwt
              properties:
                jwt:
                  type: string
            example:
              jwt: eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2NvbXBhbnlfaWQiOjkwMjEwfQ.s5x8Kk3mQ0Yb2n
      operationId: auth_v0_jwt_refresh
      security: []
  "/api/user_companies/token_exchange":
    put:
      summary: Exchange user company token for JWT
      description: |
        Exchange a user-company token for a bearer JWT (the inverse of
        `jwt_exchange`). The token is supplied in the request body, so no bearer
        header is required. Returns `401` when the user-company token is blank or does
        not match a user company.
      tags:
      - token-exchange
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - jwt
                properties:
                  jwt:
                    type: string
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: The user-company token is blank or does not match a user company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Invalid parameters
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - user_company_token
              properties:
                user_company_token:
                  type: string
            example:
              user_company_token: uc_2b9f4a7c1d6e8f03a1b2c3d4e5f6
      operationId: auth_v0_token_exchange
      security: []
