---
openapi: 3.1.0
info:
  title: Fluid Checkout API
  version: v2026-04
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
tags:
- name: carts
  description: Create, read, and mutate checkout carts (email, address, country,
    language, shipping, recalculation, completion).
- name: cart-auth
  description: Cart-scoped customer authentication — magic-link challenge, verification,
    identity, and logout.
- name: cart-discount
  description: Apply, list, and remove cart discount codes, including admin manual
    discounts.
- name: cart-items
  description: Add, update, and remove line items on a cart.
- name: cart-points
  description: Apply and remove loyalty points on a cart.
- name: customers
  description: The authenticated customer's profile and company memberships.
- name: customer-addresses
  description: The authenticated customer's saved shipping/billing addresses.
- name: customer-orders
  description: The authenticated customer's order history.
- name: customer-payment-methods
  description: The authenticated customer's saved payment methods and tokenization.
- name: customer-points
  description: The authenticated customer's loyalty point balances.
- name: directory
  description: Company rep and user directory lookups.
- name: enrollments
  description: Public enrollment forms — retrieve a form and submit, update, or upload
    field answers.
- name: orders
  description: Public order lookup by token.
- name: products
  description: Public product queries for the storefront checkout.
- name: store
  description: Store-level checkout configuration — countries, languages, address
    fields, agreements, drop zones, and Apple Pay domain verification.
- name: subscriptions
  description: Manage subscriptions — pause, resume, skip, cancel, reactivate, retry,
    and failed-cycle waivers.
- name: subscription-bundles
  description: List and create subscription bundles.
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: Bearer token authentication
  responses:
    ProcessedCartResponse:
      description: >-
        The cart is locked and can no longer be modified. Cart-mutation endpoints
        return this when the cart has already been processed (converted to an
        order) or, for enrollment carts, is in an authorized payment state. The
        body carries the full cart plus the store URL so the client can display
        the locked cart and redirect.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/LockedCartErrorResponse"
  schemas:
    Meta:
      type: object
      properties:
        request_id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
    # Strict variant of Meta for endpoints whose meta is exactly
    # ControllerAction#default_meta ({request_id, timestamp}) with no
    # endpoint-specific extras. Schemas whose meta carries extra keys
    # (e.g. shop_url, pagination, stats) must type their own meta instead.
    CheckoutMeta:
      type: object
      additionalProperties: false
      required:
      - request_id
      - timestamp
      properties:
        request_id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
    ErrorResponse:
      type: object
      additionalProperties: false
      required:
      - error_message
      - errors
      - meta
      properties:
        error_message:
          type: string
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          "$ref": "#/components/schemas/CheckoutMeta"
    LockedCartErrorResponse:
      type: object
      additionalProperties: false
      required:
      - error_message
      - errors
      - meta
      properties:
        error_message:
          type: string
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          type: object
          additionalProperties: false
          required:
          - request_id
          - timestamp
          - shop_url
          - cart
          properties:
            request_id:
              type:
              - string
              - 'null'
            timestamp:
              type: string
              format: date-time
            shop_url:
              type: string
            cart:
              "$ref": "#/components/schemas/CartResponse/properties/cart"
    UnauthorizedResponse:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    FailedCycleWaiverPreview:
      description: Authoritative schedule preview for abandoning an exhausted failed cycle.
      type: object
      additionalProperties: false
      required:
      - eligible
      - next_bill_date
      - next_ship_date
      properties:
        eligible:
          type: boolean
          description: Whether the subscription can waive its exhausted failed cycle now.
        next_bill_date:
          type:
          - string
          - 'null'
          format: date-time
          description: Restored billing timestamp, or null when the subscription is ineligible.
        next_ship_date:
          type:
          - string
          - 'null'
          format: date-time
          description: Restored shipping timestamp, or null when the subscription is ineligible.
    FailedCycleWaiverPreviewResponse:
      type: object
      additionalProperties: false
      required:
      - failed_cycle_waiver
      - meta
      properties:
        failed_cycle_waiver:
          "$ref": "#/components/schemas/FailedCycleWaiverPreview"
        meta:
          "$ref": "#/components/schemas/CheckoutMeta"
    FailedCycleWaiverMutationResponse:
      allOf:
      - "$ref": "#/components/schemas/SubscriptionResponse"
      - type: object
        required:
        - subscription
        - meta
        properties:
          subscription:
            type: object
            required:
            - status
            - next_bill_date
            - next_ship_date
            properties:
              status:
                type: string
                enum:
                - active
              next_bill_date:
                type: string
                format: date-time
              next_ship_date:
                type: string
                format: date-time
    SubscriptionRetryResponse:
      allOf:
      - "$ref": "#/components/schemas/SubscriptionResponse"
      - type: object
        required:
        - queued
        - meta
        properties:
          queued:
            type: boolean
            description: True when a past-due subscription was queued for immediate retry.
    CartResponse:
      description: Cart response wrapper (CartBlueprinter with_associations view).
        Scalar totals, flags, and points are strictly typed; genuinely dynamic
        fields (metadata, processor-specific payment payloads) and nested
        associations (items, addresses, country, company) are typed as open
        pockets and tightened in follow-up work.
      type: object
      required:
      - cart
      - meta
      additionalProperties: false
      properties:
        cart:
          type: object
          additionalProperties: false
          properties:
            # --- identity / enums ---
            id:
              type: integer
            cart_token:
              type: string
            state:
              type: string
            type:
              type: [string, 'null']
            email:
              type: [string, 'null']
            phone:
              type: [string, 'null']
            language_iso:
              type: [string, 'null']
            currency_code:
              type: [string, 'null']
            currency_symbol:
              type: string
            currency_decimal_places:
              type: integer
            customer_id:
              type: [integer, 'null']
            buyer_rep_id:
              type: [integer, 'null']
            enrollment_pack_id:
              type: [integer, 'null']
            processed:
              type: boolean
            email_marketing:
              type: [boolean, 'null']
            sms_marketing:
              type: [boolean, 'null']
            cv_total:
              type: [integer, 'null']
            qv_total:
              type: [integer, 'null']
            # --- money (round_for_currency -> number) ---
            amount_total:
              type: number
            sub_total:
              type: number
            tax_total:
              type: number
            shipping_total:
              type: number
            discount_total:
              type: number
            subtotal_after_discounts:
              type: number
            transaction_fee:
              type: number
            enrollment_fee:
              type: [number, string, 'null']
            inclusive_shipping_tax:
              type: number
            shipping_discount:
              type: number
            remaining_cart_amount_after_points:
              type: number
            # --- money display (display_price -> string) ---
            amount_total_in_currency:
              type: string
            sub_total_in_currency:
              type: string
            tax_total_in_currency:
              type: string
            shipping_total_in_currency:
              type: string
            discount_total_in_currency:
              type: string
            subtotal_after_discounts_in_currency:
              type: string
            transaction_fee_in_currency:
              type: string
            enrollment_fee_in_currency:
              type: string
            customer_total_points_in_currency:
              type: string
            points_applied_amount_in_currency:
              type: string
            remaining_customer_points_amount_in_currency:
              type: string
            remaining_cart_amount_after_points_in_currency:
              type: string
            tax_total_for_display:
              type: string
            shipping_total_for_display:
              type: string
            # --- booleans ---
            tax_exempt:
              type: boolean
            digital_only:
              type: boolean
            immutable_items:
              type: boolean
            points_enabled:
              type: boolean
            price_inclusive_of_tax:
              type: boolean
            requires_3ds:
              type: boolean
            requires_payment_method:
              type: boolean
            vault_without_charge:
              type: boolean
            valid_for_checkout:
              type: boolean
            valid_for_checkout_pre_payment:
              type: boolean
            payment_method_auto_assignable:
              type: boolean
            # --- points (integer) ---
            customer_total_points:
              type: integer
            points_applied:
              type: integer
            remaining_customer_points:
              type: integer
            max_applicable_points:
              type: integer
            total_creditable_points:
              type: integer
            # --- display-ready totals decomposition (Commerce::Totals) ---
            totals:
              type: object
              additionalProperties: false
              required:
              - gross_subtotal
              - gross_subtotal_in_currency
              - net_subtotal
              - net_subtotal_in_currency
              - item_tax
              - item_tax_in_currency
              - shipping_net
              - shipping_net_in_currency
              - shipping_tax
              - shipping_tax_in_currency
              - total_tax
              - total_tax_in_currency
              - price_inclusive_of_tax
              - tax_label
              description: >-
                Display-ready totals breakdown sourced from Commerce::Totals
                (STU2-2580). Decomposes the inclusive-tax figures so clients
                render the net subtotal, item tax, shipping net and shipping VAT
                without re-deriving them. Each money component carries a raw
                boundary-rounded decimal string plus its currency-formatted
                `_in_currency` sibling.
              properties:
                gross_subtotal:
                  type: string
                  description: Catalog sum of line-item prices (customer display).
                gross_subtotal_in_currency:
                  type: string
                net_subtotal:
                  type: string
                  description: Items subtotal excluding embedded item tax.
                net_subtotal_in_currency:
                  type: string
                item_tax:
                  type: string
                  description: Embedded tax attributable to the items.
                item_tax_in_currency:
                  type: string
                shipping_net:
                  type: string
                  description: Shipping charge excluding embedded shipping tax.
                shipping_net_in_currency:
                  type: string
                shipping_tax:
                  type: string
                  description: Embedded tax attributable to shipping.
                shipping_tax_in_currency:
                  type: string
                total_tax:
                  type: string
                  description: Combined item and shipping tax.
                total_tax_in_currency:
                  type: string
                price_inclusive_of_tax:
                  type: boolean
                  description: Whether catalog prices include tax.
                tax_label:
                  type: [string, 'null']
                  description: The resolved tax-line label (e.g. "VAT"), or null.
            # --- misc scalars ---
            price_inclusive_tax_name:
              type: [string, 'null']
            payment_account:
              type: [string, 'null']
            discount_codes:
              type: array
              items:
                type: string
            product_discount_codes:
              type: array
              items:
                type: string
            shipping_discount_codes:
              type: array
              items:
                type: string
            # --- small structured (strict) ---
            buyer_rep:
              type: [object, 'null']
              additionalProperties: false
              properties:
                id:
                  type: integer
                email:
                  type: [string, 'null']
                full_name:
                  type: [string, 'null']
                image_url:
                  type: [string, 'null']
                external_id:
                  type: [string, 'null']
            volume_rep:
              type: [object, 'null']
              additionalProperties: false
              properties:
                id:
                  type: integer
                email:
                  type: [string, 'null']
                full_name:
                  type: [string, 'null']
                image_url:
                  type: [string, 'null']
            shipping_method:
              type: [object, 'null']
              additionalProperties: false
              properties:
                id:
                  type: string
                name:
                  type: string
            discount_breakdown:
              type: object
              additionalProperties: false
              properties:
                internal_discounts:
                  type: number
                external_discounts:
                  type: number
                total_discounts:
                  type: number
            available_shipping_methods:
              type: array
              items:
                type: object
                additionalProperties: false
                properties:
                  id:
                    type: [integer, string]
                  title:
                    type: [string, 'null']
                  price:
                    type: [number, string, 'null']
                  delivery_time_estimate:
                    type: [string, 'null']
                  price_label:
                    type: [string, 'null']
            # --- open pockets: genuinely shapeless JSONB blobs (see report) ---
            metadata:
              type: [object, 'null']
              # spec-accuracy: UNENFORCED open pocket - carts.metadata is a free-form
              # JSONB blob (arbitrary user/system-defined key/value); no fixed schema
              additionalProperties: true
            messages:
            # spec-accuracy: UNENFORCED open pocket - carts.messages is a free-form
            # JSONB blob (dynamically-keyed validation/info messages); no fixed schema
              "$ref": "#/components/schemas/JsonValue"
            # --- strictly typed via shared components ---
            payment_method:
              "$ref": "#/components/schemas/CheckoutCartPaymentMethod"
            available_payment_methods:
              type: array
              items:
                "$ref": "#/components/schemas/CheckoutAvailablePaymentMethod"
            external_discount:
              "$ref": "#/components/schemas/CheckoutExternalDiscount"
            shipping_address:
              "$ref": "#/components/schemas/CheckoutAddressData"
            billing_address:
              "$ref": "#/components/schemas/CheckoutAddressData"
            # --- nested associations (strictly typed via shared components) ---
            items:
              type: array
              items:
                "$ref": "#/components/schemas/CheckoutCartItem"
            ship_to:
              # Nullable when the cart has no shipping address; shape is the
              # shared CheckoutAddress (AddressBlueprinter default view).
              anyOf:
              - type: 'null'
              - "$ref": "#/components/schemas/CheckoutAddress"
            bill_to:
              anyOf:
              - type: 'null'
              - "$ref": "#/components/schemas/CheckoutAddress"
            attribution:
              "$ref": "#/components/schemas/CheckoutAttribution"
            agreements:
              type: array
              items:
                "$ref": "#/components/schemas/CheckoutAgreement"
            country:
              "$ref": "#/components/schemas/CheckoutCountry"
            company:
              "$ref": "#/components/schemas/CheckoutCompany"
            recurring:
              type: array
              items:
                "$ref": "#/components/schemas/CheckoutCartRecurringItem"
            enrollment_pack:
              "$ref": "#/components/schemas/CheckoutEnrollmentPack"
        meta:
          type: object
          additionalProperties: false
          properties:
            shop_url:
              type: string
            checkout_url:
              type: string
            request_id:
              type: [string, 'null']
            timestamp:
              type: string
              format: date-time
            totals_stale:
              type: boolean
              description: Present (true) on the manual-discount response when cart
                recalculation failed after applying the discount.
    SubscriptionResponse:
      description: Single subscription with associations
      type: object
      required:
      - subscription
      properties:
        subscription:
          type: object
          additionalProperties: false
          description: Subscription rendered by SubscriptionBlueprinter
          properties:
            subscription_discounts:
              type: array
              description: Active first-class discount attachments on this subscription.
                Empty array when none.
              items:
                type: object
                properties:
                  id:
                    type: integer
                  duration:
                    type: string
                    enum:
                    - forever
                    - once
                    - repeating
                  duration_cycles:
                    type:
                    - integer
                    - 'null'
                  applied_cycles:
                    type: integer
                  removed_reason:
                    type:
                    - string
                    - 'null'
                  attached_via:
                    type: string
                  discount:
                    type: object
                    additionalProperties: false
                    properties:
                      id:
                        type: integer
                      code:
                        type: string
                  discount_version:
                    type: object
                    additionalProperties: false
                    properties:
                      id:
                        type: integer
                      version_number:
                        type: integer
                      code:
                        type: string
                      price_discount_type:
                        type: string
                      flat_value:
                        type:
                        - number
                        - 'null'
                      percentage_value:
                        type:
                        - number
                        - 'null'
                      apply_to_volume:
                        type: boolean
                  starts_at:
                    type:
                    - string
                    - 'null'
                    format: date-time
                  removed_at:
                    type:
                    - string
                    - 'null'
                    format: date-time
                  attached_by:
                    type:
                    - object
                    - 'null'
                    properties:
                      kind:
                        type: string
                        enum:
                        - member
                        - droplet_installation
                      # member.id is a UUID (string); droplet_installation.id is
                      # an integer.
                      id:
                        type: [integer, string]
                      label:
                        type:
                        - string
                        - 'null'
            renewal_discount_total:
              type: number
              description: Computed discount applied to the next renewal (includes
                renewal-callback amounts; capped at subscription price).
            # --- identity / status ---
            id:
              type: integer
            subscription_token:
              type: string
            status:
              type: string
            currency:
              anyOf:
              - type: 'null'
              - "$ref": "#/components/schemas/CheckoutSubscriptionCurrency"
            timezone:
              # Blueprinter renders `subscription.timezone || "UTC"`, so this is
              # never null.
              type: string
            address_id:
              type: [integer, 'null']
            order_id:
              type: [integer, 'null']
            notes:
              type: [string, 'null']
            customer_notes:
              type: [array, 'null']
              items:
                "$ref": "#/components/schemas/CheckoutSubscriptionCustomerNote"
            # --- quantities / counts ---
            quantity:
              type: integer
            decline_count:
              type: integer
            attempts:
              type: integer
            skipped_count:
              type: integer
            max_skips:
              type: [integer, 'null']
            # --- flags ---
            digital:
              type: boolean
            disabled:
              type: boolean
            # --- money ---
            # price/original_price are rendered via `.to_f` in the blueprinter,
            # so they are always plain numbers (never string/null).
            price:
              type: number
            original_price:
              type: number
            # cv/qv/cv_total/qv_total read JSONB metadata first, so a string
            # can leak through from client-written metadata; the fallback
            # (default_cv -> variant_country&.cv || 0) is an integer column,
            # covered by the number arm. Never null. The [number, string]
            # union stays forward-compatible with decimal CV/QV (CURRENT-2218).
            cv:
              type: [number, string]
            qv:
              type: [number, string]
            cv_total:
              type: [number, string]
            qv_total:
              type: [number, string]
            # shipping_fee reads a raw JSONB shipping-method price (number or
            # string) and is nil for a discarded variant.
            shipping_fee:
              type: [number, string, 'null']
            shipping_fee_for_display:
              type: [string, 'null']
            # --- timestamps ---
            # created_at/updated_at are NOT NULL columns, so they are always present.
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
            cancelled_at:
              type: [string, 'null']
              format: date-time
            last_bill_date:
              type: [string, 'null']
              format: date-time
            next_bill_date:
              type: [string, 'null']
              format: date-time
            last_ship_date:
              type: [string, 'null']
              format: date-time
            next_ship_date:
              type: [string, 'null']
              format: date-time
            last_failed_at:
              type: [string, 'null']
              format: date-time
            next_retry_at:
              type: [string, 'null']
              format: date-time
            # --- associations ---
            customer:
              anyOf:
              - type: 'null'
              - "$ref": "#/components/schemas/CheckoutSubscriptionCustomer"
            address:
              anyOf:
              - type: 'null'
              - "$ref": "#/components/schemas/CheckoutSubscriptionAddress"
            variant:
              anyOf:
              - type: 'null'
              - "$ref": "#/components/schemas/CheckoutSubscriptionVariant"
            subscription_plan:
              anyOf:
              - type: 'null'
              - "$ref": "#/components/schemas/CheckoutSubscriptionPlanDetail"
            company:
              anyOf:
              - type: 'null'
              - "$ref": "#/components/schemas/CheckoutSubscriptionCompany"
            country:
              anyOf:
              - type: 'null'
              - "$ref": "#/components/schemas/CheckoutSubscriptionCountry"
            volume_rep:
              type: [object, 'null']
              additionalProperties: false
              properties:
                id:
                  type: [integer, 'null']
                email:
                  type: [string, 'null']
                full_name:
                  type: [string, 'null']
                image_url:
                  type: [string, 'null']
                external_id:
                  type: [string, 'null']
            # Rendered only for active subscriptions; null otherwise.
            next_order:
              type: [object, 'null']
              additionalProperties: false
              properties:
                bill_date:
                  type: [string, 'null']
                item_quantity:
                  type: string
                item_price:
                  type: string
            payment_method:
              anyOf:
              - type: 'null'
              - "$ref": "#/components/schemas/CheckoutSubscriptionPaymentMethodDetail"
            orders:
              type: array
              items:
                "$ref": "#/components/schemas/CheckoutSubscriptionOrder"
            bundled_items:
              type: array
              items:
                "$ref": "#/components/schemas/CheckoutSubscriptionBundledItem"
            # Sibling subscriptions rendered by SubscriptionBlueprinter view
            # with_bundled_subscriptions.
            bundled_subscriptions:
              type: array
              items:
                type: object
                additionalProperties: false
                properties:
                  id:
                    type: integer
                  subscription_token:
                    type: string
                  price:
                    type: number
                  original_price:
                    type: number
                  subscription_plan_name:
                    # subscription_plans.name is null:false and the blueprinter
                    # dereferences the plan without safe navigation.
                    type: string
                  currency:
                    anyOf:
                    - type: 'null'
                    - "$ref": "#/components/schemas/CheckoutSubscriptionCurrency"
                  variant:
                    anyOf:
                    - type: 'null'
                    - "$ref": "#/components/schemas/CheckoutSubscriptionVariant"
            subscription_skips:
              type: array
              items:
                type: object
                additionalProperties: false
                properties:
                  id:
                    type: integer
                  # subscription_skips.skipped_date is a date column ("YYYY-MM-DD").
                  skipped_date:
                    type: string
                  reason:
                    type: [string, 'null']
                  unskipped_at:
                    type: [string, 'null']
                    format: date-time
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
        meta:
          "$ref": "#/components/schemas/Meta"
    SubscriptionListResponse:
      description: Paginated list of subscriptions
      type: object
      required:
      - subscriptions
      properties:
        subscriptions:
          type: array
          items:
            # Rendered by SubscriptionBlueprinter view :api_index (common +
            # with_variant_association + customer + currency). Lighter than the
            # detail view: no addresses, orders, discounts, next_order, or
            # shipping info.
            type: object
            additionalProperties: false
            properties:
              # --- identity / status ---
              id:
                type: integer
              subscription_token:
                type: string
              status:
                type: string
              timezone:
                # Blueprinter renders `subscription.timezone || "UTC"`.
                type: string
              notes:
                type: [string, 'null']
              # --- quantities / counts ---
              quantity:
                type: integer
              attempts:
                type: integer
              decline_count:
                type: integer
              skipped_count:
                type: integer
              max_skips:
                type: [integer, 'null']
              # --- flags ---
              digital:
                type: boolean
              disabled:
                type: boolean
              # --- money ---
              price:
                type: number
              original_price:
                type: number
              cv:
                type: [number, string]
              qv:
                type: [number, string]
              cv_total:
                type: [number, string]
              qv_total:
                type: [number, string]
              # --- timestamps ---
              created_at:
                type: string
                format: date-time
              updated_at:
                type: string
                format: date-time
              next_bill_date:
                type: [string, 'null']
                format: date-time
              last_bill_date:
                type: [string, 'null']
                format: date-time
              next_ship_date:
                type: [string, 'null']
                format: date-time
              last_ship_date:
                type: [string, 'null']
                format: date-time
              cancelled_at:
                type: [string, 'null']
                format: date-time
              last_failed_at:
                type: [string, 'null']
                format: date-time
              next_retry_at:
                type: [string, 'null']
                format: date-time
              # --- associations ---
              subscription_plan:
                anyOf:
                - type: 'null'
                - "$ref": "#/components/schemas/CheckoutSubscriptionPlanDetail"
              variant:
                anyOf:
                - type: 'null'
                - "$ref": "#/components/schemas/CheckoutSubscriptionVariant"
              customer:
                anyOf:
                - type: 'null'
                - "$ref": "#/components/schemas/CheckoutSubscriptionCustomer"
              currency:
                anyOf:
                - type: 'null'
                - "$ref": "#/components/schemas/CheckoutSubscriptionCurrency"
        meta:
          "$ref": "#/components/schemas/Meta"
    SubscriptionDiscount:
      description: Subscription discount attachment rendered by SubscriptionDiscountBlueprinter
        (default view)
      type: object
      additionalProperties: false
      properties:
        # --- identity / foreign keys ---
        id:
          type: integer
        company_id:
          type: integer
        subscription_id:
          type: integer
        discount_id:
          type: integer
        discount_version_id:
          type: integer
        # attached_by_member_id is a UUID column, so it serializes as a string.
        attached_by_member_id:
          type: [string, 'null']
        attached_by_droplet_installation_id:
          type: [integer, 'null']
        # --- attachment state ---
        duration:
          type: string
          enum:
          - forever
          - once
          - repeating
        duration_cycles:
          type: [integer, 'null']
        applied_cycles:
          type: integer
        removed_reason:
          type: [string, 'null']
        removed_detail:
          type: [string, 'null']
        attached_via:
          type: string
        notes:
          type: [string, 'null']
        # --- timestamps ---
        starts_at:
          # Column is null: false - the blueprinter's &.iso8601 is defensive
          # style, not a real nullable.
          type: string
          format: date-time
        removed_at:
          type: [string, 'null']
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        # --- nested objects (fixed shape built in the blueprinter) ---
        discount:
          type: object
          additionalProperties: false
          properties:
            id:
              type: integer
            code:
              type: string
        discount_version:
          type: object
          additionalProperties: false
          properties:
            id:
              type: integer
            version_number:
              type: integer
            code:
              type: string
            price_discount_type:
              type: string
            flat_value:
              type: [number, 'null']
            percentage_value:
              type: [number, 'null']
            apply_to_volume:
              type: boolean
        attached_by:
          type: [object, 'null']
          properties:
            kind:
              type: string
              enum:
              - member
              - droplet_installation
            # member.id is a UUID (string); droplet_installation.id is an
            # integer.
            id:
              type: [integer, string]
            label:
              type: [string, 'null']
    SubscriptionDiscountResponse:
      type: object
      required:
      - subscription_discount
      - meta
      properties:
        subscription_discount:
          "$ref": "#/components/schemas/SubscriptionDiscount"
        meta:
          "$ref": "#/components/schemas/Meta"
    SubscriptionDiscountListResponse:
      type: object
      required:
      - subscription_discounts
      - meta
      properties:
        subscription_discounts:
          type: array
          items:
            "$ref": "#/components/schemas/SubscriptionDiscount"
        meta:
          "$ref": "#/components/schemas/Meta"
    CheckoutSubscriptionCurrency:
      description: Currency rendered by CurrencyBlueprinter (default view)
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        name:
          type: [string, 'null']
        code:
          type: [string, 'null']
        # currencies.rate is a decimal column; BigDecimal serializes as a string.
        rate:
          type: [string, number, 'null']
        active:
          type: [boolean, 'null']
        symbol:
          type: [string, 'null']
    CheckoutSubscriptionCountry:
      description: Country rendered by CountryBlueprinter (default view)
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        name:
          type: [string, 'null']
        iso:
          type: [string, 'null']
    CheckoutSubscriptionCompany:
      description: Company rendered by CompanyBlueprint (default view)
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        name:
          type: [string, 'null']
    CheckoutSubscriptionPlanDetail:
      description: Subscription plan rendered by SubscriptionPlanBlueprinter (default
        view)
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        name:
          type: string
        billing_interval:
          type: integer
        billing_interval_unit:
          type: string
        billing_frequency_in_words:
          type: [string, 'null']
        shipping_interval:
          type: integer
        shipping_interval_unit:
          type: string
        volume_interval:
          type: integer
        volume_interval_unit:
          type: string
        trial_period:
          type: [integer, 'null']
        trial_period_unit:
          type: [string, 'null']
        split_volume:
          type: boolean
        allow_skipping:
          type: [boolean, 'null']
        max_skips:
          type: [integer, 'null']
        allow_max_billing_cycles:
          type: boolean
        max_billing_cycles:
          type: [integer, 'null']
        price_adjustment_type:
          type: [string, 'null']
        # Rendered via `.to_f` (nil.to_f => 0.0), so always a plain number.
        price_adjustment_amount:
          type: number
        savings_display_mode:
          type: string
        active:
          type: [boolean, 'null']
        company_default:
          type: [boolean, 'null']
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        products_count:
          type: integer
        subscribers_count:
          type: integer
    CheckoutSubscriptionAddress:
      description: Address rendered by AddressBlueprinter (default view). Also used
        for the subscription's shipping-address snapshot, whose id may be null.
      type: object
      additionalProperties: false
      properties:
        id:
          type: [integer, 'null']
        name:
          type: [string, 'null']
        address1:
          type: [string, 'null']
        address2:
          type: [string, 'null']
        address3:
          type: [string, 'null']
        city:
          type: [string, 'null']
        state:
          type: [string, 'null']
        subdivision_code:
          type: [string, 'null']
        postal_code:
          type: [string, 'null']
        country_code:
          type: [string, 'null']
        phone:
          type: [string, 'null']
        country_num_code:
          type: [integer, 'null']
        default:
          type: [boolean, 'null']
    CheckoutSubscriptionCustomerNote:
      description: Customer note rendered by CustomerNoteBlueprinter (default view)
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        note:
          type: string
        customer_id:
          type: [integer, 'null']
        resource_id:
          type: [integer, 'null']
        resource_type:
          type: [string, 'null']
        created_at:
          type: string
          format: date-time
        user_company_id:
          type: [integer, 'null']
        user_company:
          type: [object, 'null']
          additionalProperties: false
          properties:
            id:
              type: [integer, 'null']
            first_name:
              type: [string, 'null']
            last_name:
              type: [string, 'null']
            full_name:
              type: [string, 'null']
            email:
              type: [string, 'null']
            image_url:
              type: [string, 'null']
    CheckoutSubscriptionCustomerPaymentMethod:
      description: Payment method rendered by PaymentMethodBlueprinter (default view)
        as embedded in customer payloads
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        source:
          type: [string, 'null']
        company_id:
          type: [integer, 'null']
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        logo_url:
          type: [string, 'null']
        payment_title:
          type: [string, 'null']
        user_id:
          type: [integer, 'null']
    CheckoutSubscriptionMetafield:
      description: Metafield rendered by LegacyMetafieldBlueprint (view with_definition)
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        namespace:
          type: string
        key:
          type: string
        # Arbitrary user-defined metafield value (jsonb column).
        value:
          "$ref": "#/components/schemas/JsonValue"
        value_type:
          type: string
        description:
          type: [string, 'null']
        owner_type:
          type: string
        owner_id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        metafield_definition:
          type: [object, 'null']
          additionalProperties: false
          properties:
            id:
              type: integer
            company_id:
              type: integer
            namespace:
              type: string
            key:
              type: string
            name:
              type: [string, 'null']
            description:
              type: [string, 'null']
            value_type:
              type: string
            validation_rules:
              type: [object, 'null']
              additionalProperties: false
              properties:
                choices:
                  type: array
                  items:
                    "$ref": "#/components/schemas/JsonValue"
                min:
                  type: [number, string, 'null']
                max:
                  type: [number, string, 'null']
                max_precision:
                  type: [number, string, 'null']
                regex:
                  type: [string, 'null']
                file_type_options:
                  type: array
                  items:
                    type: string
                list.min:
                  type: [number, string, 'null']
                list.max:
                  type: [number, string, 'null']
                required_keys:
                  type: array
                  items:
                    type: string
                allowed_keys:
                  type: array
                  items:
                    type: string
            owner_resource:
              type: string
            pinned:
              type: [boolean, 'null']
            position:
              type: [integer, 'null']
            locked:
              type: [boolean, 'null']
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
            list_type:
              type: boolean
            reference_type:
              type: boolean
            supported_validations:
              type: array
              items:
                type: string
            validation_description:
              type: [string, 'null']
            category_ids:
              type: array
              items:
                type: integer
    CheckoutSubscriptionCustomer:
      description: Customer rendered by CustomerBlueprinter. Covers both the index
        embed (view with_associations) and the detail embed (view extended); the
        extended-only fields (subscription counts, metafields, member_id, jwt) are
        optional.
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        full_name:
          type: [string, 'null']
        email:
          type: [string, 'null']
        created_at:
          type: string
          format: date-time
        user_company_id:
          type: [integer, 'null']
        metadata:
          # Arbitrary user-defined member metadata (jsonb column).
          # spec-accuracy: UNENFORCED open pocket - tighten to additionalProperties:false if this shape should be covered
          type: object
          additionalProperties: true
        email_marketing:
          type: boolean
        sms_marketing:
          type: boolean
        account_id:
          type: [string, 'null']
        phone:
          type: [string, 'null']
        external_id:
          type: [string, 'null']
        first_name:
          type: [string, 'null']
        last_name:
          type: [string, 'null']
        verified_email:
          type: [boolean, 'null']
        orders_count:
          type: [integer, 'null']
        display_total_spent:
          type: [string, 'null']
        name:
          type: string
        role:
          type: string
        last_order_id:
          type: [integer, 'null']
        notes:
          type: [string, 'null']
        active:
          type: boolean
        # customers.total_spent_in_base is a decimal column; BigDecimal serializes
        # as a string.
        total_spent:
          type: [string, number, 'null']
        customer_notes:
          type: array
          items:
            "$ref": "#/components/schemas/CheckoutSubscriptionCustomerNote"
        default_address:
          anyOf:
          - type: 'null'
          - "$ref": "#/components/schemas/CheckoutSubscriptionAddress"
        addresses:
          type: array
          items:
            "$ref": "#/components/schemas/CheckoutSubscriptionAddress"
        payment_methods:
          type: array
          items:
            "$ref": "#/components/schemas/CheckoutSubscriptionCustomerPaymentMethod"
        is_rep:
          type: boolean
        is_discarded:
          type: boolean
        tax_exempt:
          type: boolean
        sales_tax_id:
          type: [string, 'null']
        active_subscriptions_count:
          type: integer
        inactive_subscriptions_count:
          type: integer
        metafields:
          type: array
          items:
            "$ref": "#/components/schemas/CheckoutSubscriptionMetafield"
        member_id:
          type: [string, 'null']
        jwt:
          type: string
    CheckoutSubscriptionVariant:
      description: Variant rendered by VariantBlueprinter (views with_product /
        with_product_shallow). customer_limit and active_variant_countries only
        appear on the shallow view used inside bundle group items.
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        title:
          type: [string, 'null']
        display_name:
          type: [string, 'null']
        image_url:
          type: [string, 'null']
        image_path:
          type: [string, 'null']
        sku:
          type: [string, 'null']
        primary_image:
          type: [string, 'null']
        # variant_country.price / variant.price are decimal columns rendered
        # raw; BigDecimal always serializes as a string.
        price:
          type: [string, 'null']
        price_in_currency:
          type: [string, 'null']
        currency_code:
          type: [string, 'null']
        options:
          type: array
          items:
            type: object
            additionalProperties: false
            properties:
              title:
                type: [string, 'null']
              value:
                type: [string, 'null']
        customer_limit:
          type: [integer, 'null']
        active_variant_countries:
          type: array
          items:
            type: string
        product:
          anyOf:
          - type: 'null'
          - "$ref": "#/components/schemas/CheckoutSubscriptionProduct"
    CheckoutSubscriptionProduct:
      description: Product rendered by ProductBlueprinter (views item /
        item_without_bundle_groups). metafields and product_bundle_groups are
        omitted on the shallow view; product_bundle_groups only renders for bundle
        products.
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        title:
          type: [string, 'null']
        image_url:
          type: [string, 'null']
        image_path:
          type: [string, 'null']
        cv:
          type: [integer, 'null']
        # products.tax is a decimal column rendered raw; BigDecimal always
        # serializes as a string.
        tax:
          type: [string, 'null']
        sku:
          type: [string, 'null']
        metadata:
          # Arbitrary user-defined product metadata (jsonb column).
          # spec-accuracy: UNENFORCED open pocket - tighten to additionalProperties:false if this shape should be covered
          type: [object, 'null']
          additionalProperties: true
        external_id:
          type: [string, 'null']
        canonical_url:
          type: [string, 'null']
        price:
          # variant_country price/wholesale decimal rendered raw - always a
          # string on the wire.
          type: [string, 'null']
        introduction:
          type: [string, 'null']
        price_in_currency:
          type: [string, 'null']
        tax_in_currency:
          type: [string, 'null']
        cv_in_currency:
          type: [string, 'null']
        metafields:
          type: array
          items:
            "$ref": "#/components/schemas/CheckoutSubscriptionMetafield"
        product_bundle_groups:
          type: array
          items:
            "$ref": "#/components/schemas/CheckoutSubscriptionProductBundleGroup"
    CheckoutSubscriptionProductBundleGroup:
      description: Bundle group rendered by ProductBundleGroupBlueprinter (default
        view)
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: [string, 'null']
        group_type:
          type: string
        purpose:
          type: string
        min_selections:
          type: [integer, 'null']
        max_selections:
          type: [integer, 'null']
        selection_type:
          type: [string, 'null']
        pricing_config:
          # spec-accuracy: UNENFORCED open pocket - product_bundle_groups.pricing_config
          # is a JSONB catch-all rendered as a raw passthrough by
          # ProductBundleGroupBlueprinter and written via
          # optional(:pricing_config).value(:hash) (no nested validation).
          # Documented properties are the harvested shape, not a contract.
          type: [object, 'null']
          additionalProperties: true
          properties:
            pricing_type:
              type: string
            hidden:
              type: boolean
            fixed_price:
              type: [string, number, 'null']
            min_price:
              type: [string, number, 'null']
            country_pricing:
              type: array
              items:
                type: object
                additionalProperties: true
                properties:
                  country_code:
                    type: [string, 'null']
                  enabled:
                    type: [boolean, 'null']
                  price:
                    type: [string, number, 'null']
                  wholesale:
                    type: [string, number, 'null']
                  subscription_price:
                    type: [string, number, 'null']
                  wholesale_subscription_price:
                    type: [string, number, 'null']
                  points:
                    type: [string, number, 'null']
                  cv:
                    type: [string, number, 'null']
                  qv:
                    type: [string, number, 'null']
                  wholesale_cv:
                    type: [string, number, 'null']
                  wholesale_qv:
                    type: [string, number, 'null']
        allow_subscriptions:
          type: boolean
        force_subscriptions:
          type: boolean
        sort_order:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        images:
          type: array
          items:
            type: object
            additionalProperties: false
            properties:
              id:
                type: integer
              image_url:
                type: [string, 'null']
              image_path:
                type: [string, 'null']
              position:
                type: [integer, 'null']
              dam_asset_code:
                type: [string, 'null']
        bundle_group_items:
          type: array
          items:
            "$ref": "#/components/schemas/CheckoutSubscriptionBundleGroupItem"
    CheckoutSubscriptionBundleGroupItem:
      description: Bundle group item rendered by BundleGroupItemBlueprinter (default
        view)
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        quantity:
          type: integer
        sort_order:
          type: integer
        config:
          type: object
          additionalProperties: false
          properties:
            # item_price / pc_price are BigDecimal, serialized as strings.
            price:
              type: [string, number, 'null']
            pc_price:
              type: [string, number, 'null']
            resolved_price:
              type: string
            resolved_wholesale_price:
              type: string
            resolved_cv:
              type: [integer, number]
            resolved_qv:
              type: [integer, number]
            resolved_wholesale_cv:
              type: [integer, number]
            resolved_wholesale_qv:
              type: [integer, number]
            cv:
              type: integer
            qv:
              type: integer
            pc_cv:
              type: integer
            pc_qv:
              type: integer
            is_default:
              type: boolean
            quantity:
              type: integer
            max_quantity:
              type: [integer, 'null']
            allow_subscription:
              type: boolean
            force_subscription:
              type: boolean
            has_subscription_plans:
              type: boolean
            subscription_plans:
              type: array
              items:
                type: object
                additionalProperties: false
                properties:
                  id:
                    type: integer
                  subscription_price_in_currency:
                    type: [string, 'null']
                  subscribe_and_save_in_currency:
                    type: [string, 'null']
                  subscribe_and_save_for_display:
                    type: [string, 'null']
                  wholesale_subscription_price_in_currency:
                    type: [string, 'null']
                  wholesale_subscribe_and_save_in_currency:
                    type: [string, 'null']
                  wholesale_subscribe_and_save_for_display:
                    type: [string, 'null']
            image_url:
              type: [string, 'null']
            available_country_codes:
              type: array
              items:
                type: string
            # Map of ISO country code to configured price.
            country_prices:
              type: object
              additionalProperties:
                type: [string, number, 'null']
        variant:
          anyOf:
          - type: 'null'
          - "$ref": "#/components/schemas/CheckoutSubscriptionVariant"
    CheckoutSubscriptionPaymentMethodDetail:
      description: Payment method rendered by PaymentMethodBlueprinter (view
        fluid_pay). The nested details object is a union of the per-source shapes
        (card, PayPal, or empty for other sources).
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        source:
          type: [string, 'null']
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        payment_title:
          type: [string, 'null']
        au_status:
          type: [string, 'null']
        default:
          type: boolean
        payment_type:
          type: string
        details:
          type: object
          additionalProperties: false
          properties:
            id:
              type: integer
            type:
              type: string
              enum:
              - CreditCard
              - PayPal
            card_network:
              type: [string, 'null']
            card_brand:
              type: [string, 'null']
            last4_digits:
              type: [string, 'null']
            last_four:
              type: [string, 'null']
            exp_month:
              type: [string, integer, 'null']
            exp_year:
              type: [string, integer, 'null']
            logo_url:
              type: [string, 'null']
            vgs_card_id:
              type: [string, 'null']
            requires_3ds:
              type: boolean
            vault_id:
              type: [string, 'null']
            email_address:
              type: [string, 'null']
            id_token:
              type: [string, 'null']
        billing_address:
          type: [object, 'null']
          additionalProperties: false
          properties:
            address1:
              type: [string, 'null']
            address2:
              type: [string, 'null']
            city:
              type: [string, 'null']
            state:
              type: [string, 'null']
            postal_code:
              type: [string, 'null']
            zip:
              type: [string, 'null']
            country_code:
              type: [string, 'null']
            name:
              type: [string, 'null']
    CheckoutSubscriptionOrder:
      description: Order rendered by Commerce::OrderBlueprinter (view
        subscription_interface = default fields + shipping_method + items_quantity)
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        first_name:
          type: [string, 'null']
        last_name:
          type: [string, 'null']
        email:
          type: [string, 'null']
        phone:
          type: [string, 'null']
        order_number:
          type: [string, 'null']
        status:
          type: [string, 'null']
        order_type:
          type: [string, 'null']
        source:
          type: [string, 'null']
        # orders.amount / amount_in_base / base_to_currency_rate are decimal
        # columns; BigDecimal serializes as a string.
        amount:
          type: [string, number, 'null']
        amount_in_base:
          type: [string, number, 'null']
        base_to_currency_rate:
          type: [string, number, 'null']
        note:
          type: [string, 'null']
        currency_code:
          type: [string, 'null']
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        metadata:
          # Arbitrary order metadata (jsonb column).
          # spec-accuracy: UNENFORCED open pocket - tighten to additionalProperties:false if this shape should be covered
          type: [object, 'null']
          additionalProperties: true
        token:
          type: [string, 'null']
        # Computed as a BigDecimal (serializes as string) or the Integer 0.
        refundable_amount:
          type: [string, number]
        order_status:
          type: string
        fulfillment_status:
          type: string
        financial_status:
          type: string
        warehouse_id:
          type: [integer, 'null']
        points_applied:
          type: integer
        points_applied_amount:
          type: number
        points_applied_amount_in_currency:
          type: [string, 'null']
        order_total_after_points_redemption:
          type: number
        total_points_credited:
          type: integer
        free_shipping:
          type: boolean
        discount_codes:
          type: array
          items:
            type: [string, 'null']
        created_subscriptions:
          type: array
          items:
            type: string
        # Sliced from the order's shipping_method jsonb; keys are absent when not
        # present in the stored hash.
        shipping_method:
          type: object
          additionalProperties: false
          properties:
            id:
              type: [string, integer, 'null']
            title:
              type: [string, 'null']
            delivery_time_estimate:
              type: [string, 'null']
        items_quantity:
          type: integer
    CheckoutSubscriptionBundledItem:
      description: Bundled item entry stored in the subscription's metadata
        (written by Commerce::Carts::ItemService / BundleGroupPricing)
      type: object
      additionalProperties: false
      properties:
        variant_id:
          type: integer
        product_id:
          type: integer
        product_title:
          type: [string, 'null']
        variant_title:
          type: [string, 'null']
        option_titles:
          type: array
          items:
            type: [string, 'null']
        quantity:
          type: integer
        display_to_customer:
          type: boolean
        # BigDecimal written into jsonb metadata serializes as a string; reprice
        # paths may write plain numbers.
        price:
          type: [string, number, 'null']
        group_title:
          type: [string, 'null']
        product_bundle_group_id:
          type: [integer, 'null']
        subscription:
          type: boolean
        subscription_plan_id:
          type: [integer, 'null']
    CustomerProfileResponse:
      description: Customer profile with Fluid Pay account (GET /customers/me).
        Rendered by Commerce::Api::FluidPay::FetchMeAction; the customer object
        comes from CustomerBlueprinter view :extended.
      type: object
      required:
      - fluid_pay_account
      - customer
      - meta
      additionalProperties: false
      properties:
        fluid_pay_account:
          type: object
          additionalProperties: false
          description: Unified wallet identity; shared and isolated wallets render
            identically (see FetchMeAction#me_account_hash).
          properties:
            id:
              type: integer
            email:
              type: [string, 'null']
            first_name:
              type: [string, 'null']
            last_name:
              type: [string, 'null']
            phone:
              type: [string, 'null']
            address_count:
              type: integer
            payment_methods_count:
              type: integer
            language_iso:
              type: [string, 'null']
        customer:
          type: object
          additionalProperties: false
          description: Customer rendered by CustomerBlueprinter view :extended.
          properties:
            # --- scalars (strict) ---
            id:
              type: integer
            full_name:
              type: string
            email:
              type: [string, 'null']
            created_at:
              type: [string, 'null']
              format: date-time
            user_company_id:
              type: [integer, 'null']
            email_marketing:
              type: boolean
            sms_marketing:
              type: boolean
            account_id:
              type: [string, 'null']
            phone:
              type: [string, 'null']
            external_id:
              type: [string, 'null']
            first_name:
              type: [string, 'null']
            last_name:
              type: [string, 'null']
            verified_email:
              type: boolean
            orders_count:
              type: integer
            display_total_spent:
              type: string
            name:
              type: string
            role:
              type: [string, 'null']
            last_order_id:
              type: [integer, 'null']
            notes:
              type: [string, 'null']
            active:
              type: boolean
            total_spent:
              type: [number, string, 'null']
            is_rep:
              type: boolean
            is_discarded:
              type: boolean
            tax_exempt:
              type: boolean
            sales_tax_id:
              type: [string, 'null']
            active_subscriptions_count:
              type: integer
            inactive_subscriptions_count:
              type: integer
            member_id:
              type: [string, 'null']
            jwt:
              type: string
            # --- nested associations (strict) ---
            # spec-accuracy: UNENFORCED open pocket - tighten to additionalProperties:false if this shape should be covered
            # customer.metadata is an arbitrary user-defined JSONB key/value blob
            # (Customer#member_state.metadata) with no fixed schema.
            metadata:
              type: [object, 'null']
              additionalProperties: true
            customer_notes:
              type: array
              description: Customer-scoped notes rendered by CustomerNoteBlueprinter.
              items:
                "$ref": "#/components/schemas/CheckoutCustomerNote"
            default_address:
              description: Rendered by AddressBlueprinter (default view); null when
                the customer has no default address.
              oneOf:
              - "$ref": "#/components/schemas/CheckoutCustomerProfileAddress"
              - type: 'null'
            addresses:
              type: array
              description: Deduplicated addresses rendered by AddressBlueprinter
                (default view).
              items:
                "$ref": "#/components/schemas/CheckoutCustomerProfileAddress"
            payment_methods:
              type: array
              description: Rendered by PaymentMethodBlueprinter (default view).
              items:
                type: object
                additionalProperties: false
                properties:
                  id:
                    type: integer
                  source:
                    type: [string, 'null']
                    description: Payment source enum name (e.g. card, apple_pay,
                      paypal); null for legacy rows without a source.
                  company_id:
                    type: [integer, 'null']
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
                  logo_url:
                    type: [string, 'null']
                  payment_title:
                    type: [string, 'null']
                  user_id:
                    type: [integer, 'null']
            metafields:
              type: array
              description: Rendered by LegacyMetafieldBlueprint view :with_definition.
              items:
                "$ref": "#/components/schemas/CheckoutCustomerMetafield"
        meta:
          "$ref": "#/components/schemas/Meta"
          description: >-
            Standard envelope meta. Although FetchMeAction places a
            `decoded_jwt` meta key inside its resource hash,
            ControllerAction#success_response merges the default envelope meta
            over it, so the emitted `meta` is always the shared
            `request_id`/`timestamp` shape.
    CheckoutCustomerProfileAddress:
      description: Address rendered by AddressBlueprinter (default view) inside
        the customer profile payload.
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        name:
          type: [string, 'null']
        address1:
          type: [string, 'null']
        address2:
          type: [string, 'null']
        address3:
          type: [string, 'null']
        city:
          type: [string, 'null']
        state:
          type: [string, 'null']
        subdivision_code:
          type: [string, 'null']
        postal_code:
          type: [string, 'null']
        country_code:
          type: [string, 'null']
        phone:
          type: [string, 'null']
        country_num_code:
          type: [integer, 'null']
          description: Numeric ISO country code resolved from the address country;
            null when the country cannot be resolved.
        default:
          type: [boolean, 'null']
    CheckoutCustomerNote:
      description: Customer note rendered by CustomerNoteBlueprinter.
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        note:
          type: string
        customer_id:
          type: [integer, 'null']
          description: Legacy customer id resolved via the note's Member; null
            when the member has no legacy customer link.
        resource_id:
          type: [integer, 'null']
        resource_type:
          type: [string, 'null']
        created_at:
          type: string
          format: date-time
        user_company_id:
          type: [integer, 'null']
          description: Legacy user_companies.id of the note creator's Member shadow.
        user_company:
          type: [object, 'null']
          additionalProperties: false
          description: Creator (rep or admin) of the note; null when no creator
            Member shadow is resolvable.
          properties:
            id:
              type: [integer, 'null']
            first_name:
              type: [string, 'null']
            last_name:
              type: [string, 'null']
            full_name:
              type: [string, 'null']
            email:
              type: [string, 'null']
            image_url:
              type: [string, 'null']
    CheckoutCustomerMetafield:
      description: Metafield rendered by LegacyMetafieldBlueprint view :with_definition.
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        namespace:
          type: string
        key:
          type: string
        value:
          "$ref": "#/components/schemas/JsonValue"
        value_type:
          type: string
        description:
          type: [string, 'null']
        owner_type:
          type: string
        owner_id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        metafield_definition:
          type: [object, 'null']
          additionalProperties: false
          description: Rendered by MetafieldDefinitionBlueprint; null for
            metafields without a definition.
          properties:
            id:
              type: integer
            company_id:
              type: integer
            namespace:
              type: string
            key:
              type: string
            name:
              type: string
            description:
              type: [string, 'null']
            value_type:
              type: string
            validation_rules:
              "$ref": "#/components/schemas/JsonValue"
            owner_resource:
              type: string
            pinned:
              type: [boolean, 'null']
            position:
              type: [integer, 'null']
            locked:
              type: [boolean, 'null']
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
            list_type:
              type: boolean
            reference_type:
              type: boolean
            supported_validations:
              type: array
              items:
                type: string
            validation_description:
              type: string
            category_ids:
              type: array
              items:
                type: integer
    OrderListResponse:
      description: Paginated list of customer orders with stats
      type: object
      additionalProperties: false
      required:
      - orders
      - meta
      properties:
        orders:
          type: array
          items:
            type: object
            additionalProperties: false
            properties:
              id:
                type: integer
              first_name:
                type:
                - string
                - 'null'
              last_name:
                type:
                - string
                - 'null'
              email:
                type:
                - string
                - 'null'
              order_number:
                type: string
              status:
                type:
                - string
                - 'null'
              source:
                type:
                - string
                - 'null'
              amount:
                type: string
              amount_in_base:
                type: string
              base_to_currency_rate:
                type:
                - string
                - 'null'
              note:
                type:
                - string
                - 'null'
              currency_code:
                type: string
              created_at:
                type: string
                format: date-time
              updated_at:
                type: string
                format: date-time
              token:
                type: string
              order_status:
                type:
                - string
                - 'null'
              fulfillment_status:
                type:
                - string
                - 'null'
              financial_status:
                type:
                - string
                - 'null'
              warehouse_id:
                type:
                - integer
                - 'null'
              points_applied:
                type: integer
              points_applied_amount:
                type: number
              points_applied_amount_in_currency:
                type: string
              order_total_after_points_redemption:
                type: number
              total_points_credited:
                type: integer
              currency_symbol:
                type:
                - string
                - 'null'
              items_count:
                type: integer
              quantity_count:
                type: integer
              external_id:
                type:
                - string
                - 'null'
              sale_date:
                type:
                - string
                - 'null'
              order_on_behalf_of:
                type:
                - boolean
                - 'null'
              total_display_amount:
                type: string
              total_cv:
                type: integer
              total_qv:
                type: integer
              # Lightweight customer hash built inline by OrderBlueprinter
              # external_index. Key is omitted entirely when the order has no
              # (possibly discarded) customer.
              customer:
                type: object
                additionalProperties: false
                properties:
                  id:
                    type: integer
                  full_name:
                    type:
                    - string
                    - 'null'
                  email:
                    type:
                    - string
                    - 'null'
                  external_id:
                    type:
                    - string
                    - 'null'
                  orders_count:
                    type:
                    - integer
                    - 'null'
                  active_subscriptions_count:
                    type: integer
                  inactive_subscriptions_count:
                    type: integer
              # Lightweight first-item thumbnail (external_index view); null
              # when the order has no items.
              first_item:
                type:
                - object
                - 'null'
                additionalProperties: false
                properties:
                  title:
                    type: string
                  image_url:
                    type:
                    - string
                    - 'null'
              # Lean subscription pointer (external_index view); null when the
              # order created no subscription.
              subscription:
                type:
                - object
                - 'null'
                additionalProperties: false
                properties:
                  subscription_token:
                    type: string
                  status:
                    type:
                    - string
                    - 'null'
        meta:
          description: Default meta envelope plus cursor pagination and order
            stats rendered by Commerce::Api::Orders::IndexAction as
            {pagination:}.merge(stats).
          type: object
          additionalProperties: false
          required:
          - request_id
          - timestamp
          properties:
            request_id:
              type: string
            timestamp:
              type: string
              format: date-time
            pagination:
              description: Cursor pagination. Empty object when the page has
                no records; omitted entirely when the request resolves to no
                customer (controller renders {orders:[]} with default meta).
              oneOf:
              - type: object
                additionalProperties: false
              - type: object
                additionalProperties: false
                required:
                - cursor
                - limit
                - prev_cursor
                - next_cursor
                - total_count
                - total_pages
                - current_page
                - per_page
                properties:
                  cursor:
                    type:
                    - string
                    - 'null'
                  limit:
                    type: integer
                  prev_cursor:
                    type:
                    - string
                    - 'null'
                  next_cursor:
                    type:
                    - string
                    - 'null'
                  total_count:
                    type: integer
                  total_pages:
                    type: integer
                  current_page:
                    type: integer
                  per_page:
                    type: integer
            average_cv:
              type: number
            total_cv:
              type: number
            average_amount_base:
              type: number
            total_amount_base:
              type: number
            fulfilled_orders_count:
              type: integer
            total_count:
              description: Present with stats_calculated/message only when
                stats are skipped for large datasets (>10k orders without
                force_stats).
              type: integer
            stats_calculated:
              type: boolean
            message:
              type: string
    OrderResponse:
      description: Single order
      type: object
      additionalProperties: false
      required:
      - order
      - meta
      properties:
        order:
          type: object
          additionalProperties: false
          properties:
            id:
              type: integer
            email:
              type:
              - string
              - 'null'
            order_number:
              type: string
            source:
              type:
              - string
              - 'null'
            amount_in_base:
              type: string
            base_to_currency_rate:
              type:
              - string
              - 'null'
            note:
              type:
              - string
              - 'null'
            currency_code:
              type: string
            created_at:
              type: string
              format: date-time
            token:
              type: string
            refundable_amount:
              type:
              - string
              - number
            order_status:
              type:
              - string
              - 'null'
            fulfillment_status:
              type:
              - string
              - 'null'
            financial_status:
              type:
              - string
              - 'null'
            warehouse_id:
              type:
              - integer
              - 'null'
            points_applied:
              type: integer
            points_applied_amount:
              type: number
            points_applied_amount_in_currency:
              type: string
            order_total_after_points_redemption:
              type: number
            total_points_credited:
              type: integer
            free_shipping:
              type: boolean
            discount_codes:
              type: array
              items:
                type: string
            created_subscriptions:
              type: array
              items:
                type: string
            product_discount_codes:
              type: array
              items:
                type: string
            shipping_discount_codes:
              type: array
              items:
                type: string
            currency_symbol:
              type:
              - string
              - 'null'
            items_count:
              type: integer
            quantity_count:
              type: integer
            external_id:
              type:
              - string
              - 'null'
            customer_points_balance:
              type: integer
            order_on_behalf_of:
              type:
              - boolean
              - 'null'
            digital_only:
              type: boolean
            enrollment_token:
              type:
              - string
              - 'null'
            shipping_total:
              type: string
            shipping_total_for_display:
              type: string
            company_logo_url:
              type:
              - string
              - 'null'
            primary_domain_hostname:
              type:
              - string
              - 'null'
            company_subdomain:
              type:
              - string
              - 'null'
            shipping:
              type: string
            transaction_fee:
              type: string
            transaction_fee_in_currency:
              type: string
            subtotal:
              type: string
            sub_total:
              type: string
            tax:
              type: string
            discount:
              type: string
            customer:
              type:
              - string
              - 'null'
            total:
              type: string
            subtotal_after_discounts:
              type:
              - string
              - number
            total_in_currency:
              type: string
            tax_in_currency:
              type: string
            discount_in_currency:
              type: string
            sub_total_in_currency:
              type: string
            totals:
              type: object
              additionalProperties: false
              required:
              - gross_subtotal
              - gross_subtotal_in_currency
              - net_subtotal
              - net_subtotal_in_currency
              - item_tax
              - item_tax_in_currency
              - shipping_net
              - shipping_net_in_currency
              - shipping_tax
              - shipping_tax_in_currency
              - total_tax
              - total_tax_in_currency
              - price_inclusive_of_tax
              - tax_label
              description: >-
                Display-ready totals breakdown sourced from Commerce::Totals
                (STU2-2580). Decomposes the inclusive-tax figures so clients
                render the net subtotal, item tax, shipping net and shipping VAT
                without re-deriving them. Each money component carries a raw
                boundary-rounded decimal string plus its currency-formatted
                `_in_currency` sibling.
              properties:
                gross_subtotal:
                  type: string
                  description: Catalog sum of line-item prices (customer display).
                gross_subtotal_in_currency:
                  type: string
                net_subtotal:
                  type: string
                  description: Items subtotal excluding embedded item tax.
                net_subtotal_in_currency:
                  type: string
                item_tax:
                  type: string
                  description: Embedded tax attributable to the items.
                item_tax_in_currency:
                  type: string
                shipping_net:
                  type: string
                  description: Shipping charge excluding embedded shipping tax.
                shipping_net_in_currency:
                  type: string
                shipping_tax:
                  type: string
                  description: Embedded tax attributable to shipping.
                shipping_tax_in_currency:
                  type: string
                total_tax:
                  type: string
                  description: Combined item and shipping tax.
                total_tax_in_currency:
                  type: string
                price_inclusive_of_tax:
                  type: boolean
                  description: Whether catalog prices include tax.
                tax_label:
                  type: [string, 'null']
                  description: The resolved tax-line label (e.g. "VAT"), or null.
            payment_status:
              type:
              - string
              - 'null'
            delivery_status:
              type:
              - string
              - 'null'
            delivery_method:
              type:
              - string
              - 'null'
            channel:
              type:
              - string
              - 'null'
            tags:
              type:
              - string
              - 'null'
            delivery_date:
              type:
              - string
              - 'null'
            current_adjustment_total:
              type: string
            current_subtotal:
              type: string
            current_discount:
              type: string
            current_tax:
              type: string
            current_shipping:
              type: string
            current_amount:
              type: string
            current_cv:
              type:
              - number
              - 'null'
            current_qv:
              type:
              - number
              - 'null'
            price_inclusive_of_tax:
              type:
              - boolean
              - 'null'
            price_inclusive_tax_name:
              type:
              - string
              - 'null'
            # Additional fields present on the complete_cart (checkout_view) response.
            # get_order (public_order_confirmation) omits these; they are optional here.
            amount:
              type: string
            first_name:
              type:
              - string
              - 'null'
            last_name:
              type:
              - string
              - 'null'
            order_confirmation_url:
              type:
              - string
              - 'null'
            order_type:
              type:
              - string
              - 'null'
            phone:
              type:
              - string
              - 'null'
            status:
              type:
              - string
              - 'null'
            updated_at:
              type: string
              format: date-time
            # Per-plan recurring subtotals (checkout_view / with_recurring).
            recurring:
              type: array
              items:
                "$ref": "#/components/schemas/CheckoutOrderRecurringItem"
            # spec-accuracy: UNENFORCED open pocket - tighten to additionalProperties:false if this shape should be covered
            # (orders.metadata is a raw JSONB blob of arbitrary user/system keys)
            metadata:
              type:
              - object
              - 'null'
              additionalProperties: true
            volume_rep:
              oneOf:
              - "$ref": "#/components/schemas/CheckoutOrderVolumeRep"
              - type: 'null'
            payment_details:
              oneOf:
              - "$ref": "#/components/schemas/CheckoutOrderPaymentDetails"
              - type: 'null'
            # Always a two-key hash in with_associations; never null.
            shipping_in_currency:
              type: object
              additionalProperties: false
              properties:
                amount_in_currency:
                  type: string
                surcharge_in_currency:
                  type: string
            enrollment_pack:
              oneOf:
              - "$ref": "#/components/schemas/CheckoutOrderEnrollmentPack"
              - type: 'null'
            # Order#shipping_method slices metadata["shipping"] down to these
            # three keys, so each is optional but no other key can appear.
            shipping_method:
              type: object
              additionalProperties: false
              properties:
                id:
                  type:
                  - integer
                  - string
                  - 'null'
                title:
                  type:
                  - string
                  - 'null'
                delivery_time_estimate:
                  type:
                  - string
                  - 'null'
            shipping_address:
              oneOf:
              - "$ref": "#/components/schemas/CheckoutOrderAddressSnapshot"
              - type: 'null'
            billing_address:
              oneOf:
              - "$ref": "#/components/schemas/CheckoutOrderAddressSnapshot"
              - type: 'null'
            ship_to:
              oneOf:
              - "$ref": "#/components/schemas/CheckoutOrderAddress"
              - type: 'null'
            bill_to:
              oneOf:
              - "$ref": "#/components/schemas/CheckoutOrderAddress"
              - type: 'null'
            company:
              oneOf:
              - "$ref": "#/components/schemas/CheckoutOrderCompany"
              - type: 'null'
            country:
              oneOf:
              - "$ref": "#/components/schemas/CheckoutOrderCountry"
              - type: 'null'
            warehouse:
              oneOf:
              - "$ref": "#/components/schemas/CheckoutOrderWarehouse"
              - type: 'null'
            items:
              type: array
              items:
                "$ref": "#/components/schemas/CheckoutOrderItem"
            activities:
              type: array
              items:
                "$ref": "#/components/schemas/CheckoutOrderActivity"
            adjustments:
              type: array
              items:
                "$ref": "#/components/schemas/CheckoutOrderAdjustment"
            metafields:
              type: array
              items:
                "$ref": "#/components/schemas/CheckoutOrderMetafield"
            tracking_informations:
              type: array
              items:
                "$ref": "#/components/schemas/CheckoutOrderTrackingInformation"
        meta:
          type: object
          additionalProperties: false
          required:
          - request_id
          - timestamp
          - shop_url
          properties:
            request_id:
              type:
              - string
              - 'null'
            timestamp:
              type: string
              format: date-time
            # order.cart&.shop_url falls back to Company#base_url, which
            # always returns a String - never null on either orders op.
            shop_url:
              type: string
    CheckoutOrderRecurringItem:
      description: One recurring-subtotal entry per subscription plan on the
        completed cart (OrderBlueprinter with_recurring).
      type: object
      additionalProperties: false
      properties:
        subtotal:
          description: BigDecimal sum of the plan's line totals; serializes as a string.
          type: string
        subtotal_in_currency:
          type: string
        interval:
          type: integer
        interval_unit:
          description: Translated billing interval unit label.
          type: string
        subtotal_for_display:
          type: string
        start_date:
          description: yyyy-mm-dd next bill date.
          type: string
    CheckoutOrderVolumeRep:
      description: Volume rep summary (OrderBlueprinter with_associations).
      type: object
      additionalProperties: false
      properties:
        id:
          type:
          - integer
          - 'null'
        email:
          type:
          - string
          - 'null'
        full_name:
          type:
          - string
          - 'null'
        image_url:
          type:
          - string
          - 'null'
    CheckoutOrderPaymentDetails:
      description: Order payment summary (OrderBlueprinter.payment_method_blueprint).
        payment_type/payment_title are always present; source only appears for
        credit-card style payments. details carries the processor-specific keys
        - the full closed union across all processors is enumerated below.
      type: object
      additionalProperties: false
      properties:
        source:
          type:
          - string
          - 'null'
        payment_type:
          type: string
        payment_title:
          type:
          - string
          - 'null'
        details:
          type: object
          additionalProperties: false
          properties:
            # CreditCard / ApplePay / GooglePay
            card_network:
              type:
              - string
              - 'null'
            card_brand:
              type:
              - string
              - 'null'
            last_four:
              type:
              - string
              - 'null'
            exp_month:
              type:
              - string
              - integer
              - 'null'
            exp_year:
              type:
              - string
              - integer
              - 'null'
            # PayPal (values read from the processor payload JSONB)
            paypal_id:
              type:
              - string
              - 'null'
            status:
              type:
              - string
              - 'null'
            currency:
              type:
              - string
              - 'null'
            amount:
              type:
              - string
              - number
              - 'null'
            # Affirm
            affirm_id:
              type:
              - string
              - 'null'
            checkout_id:
              type:
              - string
              - 'null'
            created:
              type:
              - string
              - number
              - 'null'
            auth_expiration:
              type:
              - string
              - number
              - 'null'
            # Bread
            transaction_id:
              type:
              - string
              - 'null'
            # Klarna
            authorization_token:
              type:
              - string
              - 'null'
            session_id:
              type:
              - string
              - 'null'
            intent:
              type:
              - string
              - 'null'
            # Droplet / MercadoPago / Citcon / Ppro / Dlocal / Iap / fallback
            payment_method_id:
              type:
              - integer
              - 'null'
            # All variants
            logo_url:
              type:
              - string
              - 'null'
    CheckoutOrderAddress:
      description: Ship-to / bill-to address (AddressBlueprinter). id is null
        when the source is a frozen AddressModel snapshot.
      type: object
      additionalProperties: false
      properties:
        id:
          type:
          - integer
          - 'null'
        name:
          type:
          - string
          - 'null'
        address1:
          type:
          - string
          - 'null'
        address2:
[...]
