---
openapi: 3.1.0
info:
  title: Fluid Company API
  version: v0
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
- url: https://{company}.fluid.app
  description: Production server with company subdomain
  variables:
    company:
      default: myco
      description: Company subdomain
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: Bearer token authentication
  schemas:
    UnauthorizedResponse:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    AgreementBulkIdsRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        agreement_ids:
          type:
          - array
          - 'null'
          items:
            type:
            - integer
            - string
            - number
            - 'null'
    BulkDeleteAgreementsResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        agreement_ids:
          type:
          - array
          - 'null'
          items:
            type:
            - integer
            - string
            - number
            - 'null'
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    GetAgreementResponse404ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        error_message:
          type:
          - string
          - number
          - integer
          - 'null'
        errors:
          type:
          - object
          - 'null'
          properties:
            id:
              type:
              - array
              - 'null'
              items:
                type:
                - string
                - number
                - integer
                - 'null'
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    CompanyDeleteResponse:
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    GetApiCompanyAnnouncementsResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        announcements:
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/CompanyAnnouncement"
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
            total_count:
              type:
              - integer
              - string
              - number
              - 'null'
            total_pages:
              type:
              - integer
              - string
              - number
              - 'null'
            current_page:
              type:
              - integer
              - string
              - number
              - 'null'
    GetApiCompanyAnnouncementsResponse401ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        error:
          type:
          - string
          - number
          - integer
          - 'null'
    ListCommerceBusinessTypesResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        business_types:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            properties:
              value:
                type:
                - string
                - number
                - integer
                - 'null'
              name:
                type:
                - string
                - number
                - integer
                - 'null'
              slug:
                type:
                - string
                - number
                - integer
                - 'null'
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - 'null'
              - number
              - integer
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    GetCurrentCompanyResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        company:
          title: Company
          type:
          - object
          - 'null'
          properties:
            id:
              type:
              - integer
              - string
              - number
              - 'null'
            name:
              type:
              - string
              - number
              - integer
              - 'null'
            active:
              type:
              - boolean
              - 'null'
              default: true
            shipping:
              description: 'Company shipping. Possible values: Flat Country, Droplet, Free, Product-based'
              type:
              - string
              - 'null'
              - number
              - integer
            allow_free_shipping:
              type:
              - boolean
              - 'null'
            sandbox:
              description: Whether the company is in sandbox mode for testing
              type:
              - boolean
              - 'null'
            is_mlm:
              description: Whether the company is a Multi-Level Marketing (MLM) business
              type:
              - boolean
              - 'null'
            fluid_shop:
              type:
              - string
              - number
              - integer
              - 'null'
            domain:
              type:
              - string
              - number
              - integer
              - 'null'
            color:
              type:
              - string
              - number
              - integer
              - 'null'
            tax_class:
              description: Tax class for the company
              type:
              - string
              - number
              - integer
              - 'null'
            appstore_url:
              description: App Store URL for the company's mobile app
              type:
              - string
              - 'null'
              - number
              - integer
            playstore_url:
              description: Google Play Store URL for the company's mobile app
              type:
              - string
              - 'null'
              - number
              - integer
            pre_purchase_enrollment_fields:
              type:
              - boolean
              - 'null'
            allow_signup:
              description: Whether to allow self-signup
              type:
              - boolean
              - 'null'
            company_pays:
              description: Whether the company pays for self-signup
              type:
              - boolean
              - 'null'
            olumo_token:
              description: OLUMO token for the company
              type:
              - string
              - 'null'
              - number
              - integer
            apn_bundle:
              description: APN bundle for the company
              type:
              - string
              - 'null'
              - number
              - integer
            ibi_bundle:
              description: IBI bundle for the company
              type:
              - string
              - 'null'
              - number
              - integer
            signup_url:
              description: Signup URL for the company
              type:
              - string
              - 'null'
              - number
              - integer
            vgs_client_id:
              description: VGS client ID for the company
              type:
              - string
              - 'null'
              - number
              - integer
            vgs_client_secret:
              description: VGS client secret for the company (obfuscated)
              type:
              - string
              - 'null'
              - number
              - integer
            vgs_environment:
              description: VGS environment for the company
              type:
              - string
              - 'null'
              - number
              - integer
            network_tokens_enabled:
              description: Whether network tokens are enabled
              type:
              - boolean
              - 'null'
            payout_collection_enabled:
              description: Whether payout collection is enabled
              type:
              - boolean
              - 'null'
            payout_collection_schedule:
              description: Schedule for payout collection
              type:
              - string
              - 'null'
              - number
              - integer
            minimum_payout_amount:
              description: Minimum payout amount
              type:
              - number
              - 'null'
              - string
              - integer
            reward_points_enabled:
              description: Whether the reward points system is enabled
              type:
              - boolean
              - 'null'
            reward_points_label_singular:
              description: Customer-facing singular label for reward points
              type: string
            reward_points_label_plural:
              description: Customer-facing plural label for reward points
              type: string
            mobile_app_identifier:
              type:
              - string
              - 'null'
              - number
              - integer
            support_email:
              description: Support email for the company
              type:
              - string
              - 'null'
              - number
              - integer
            country_code:
              type:
              - string
              - 'null'
              - number
              - integer
            visa_acquirer_bin:
              type:
              - string
              - 'null'
              - number
              - integer
            visa_acquirer_merchant_id:
              type:
              - string
              - 'null'
              - number
              - integer
            mastercard_acquirer_bin:
              type:
              - string
              - 'null'
              - number
              - integer
            mastercard_acquirer_merchant_id:
              type:
              - string
              - 'null'
              - number
              - integer
            amex_acquirer_bin:
              type:
              - string
              - 'null'
              - number
              - integer
            amex_acquirer_merchant_id:
              type:
              - string
              - 'null'
              - number
              - integer
            amex_acquirer_requestor_id:
              type:
              - string
              - 'null'
              - number
              - integer
            amex_acquirer_requestor_name:
              type:
              - string
              - 'null'
              - number
              - integer
            discover_acquirer_bin:
              type:
              - string
              - 'null'
              - number
              - integer
            discover_acquirer_merchant_id:
              type:
              - string
              - 'null'
              - number
              - integer
            discover_acquirer_requestor_id:
              type:
              - string
              - 'null'
              - number
              - integer
            discover_acquirer_requestor_name:
              type:
              - string
              - 'null'
              - number
              - integer
            email_provider:
              description: 'Email delivery provider. Possible values: fluid, droplet'
              type:
              - string
              - number
              - integer
              - 'null'
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    CreateCompanyResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        company:
          type:
          - object
          - 'null'
          properties:
            id:
              type:
              - integer
              - string
              - number
              - 'null'
            name:
              type:
              - string
              - number
              - integer
              - 'null'
            subdomain:
              type:
              - string
              - number
              - integer
              - 'null'
            fluid_shop:
              type:
              - string
              - number
              - integer
              - 'null'
        user_company:
          type:
          - object
          - 'null'
          properties:
            id:
              type:
              - integer
              - string
              - number
              - 'null'
            email:
              type:
              - string
              - number
              - integer
              - 'null'
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    CreateCompanyResponse422ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        error_message:
          type:
          - string
          - number
          - integer
          - 'null'
        errors:
          type:
          - object
          - 'null'
          properties:
            company:
              type:
              - object
              - 'null'
              properties:
                subdomain:
                  type:
                  - array
                  - 'null'
                  items:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    Postcreate6RequestBodyApplicationJsonSchema:
      allOf:
      - "$ref": "#/components/schemas/createrequest7"
      - {}
    createrequest7:
      title: createrequest7
      type:
      - object
      - 'null'
      properties:
        activity:
          allOf:
          - "$ref": "#/components/schemas/Activity"
          - {}
    Activity:
      title: Activity
      type:
      - object
      - 'null'
      properties:
        title:
          type:
          - string
          - number
          - integer
          - 'null'
        description:
          type:
          - string
          - number
          - integer
          - 'null'
        affiliate:
          allOf:
          - "$ref": "#/components/schemas/Affiliate5"
          - {}
    Affiliate5:
      title: Affiliate5
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - string
          - number
          - integer
          - 'null'
        external_id:
          type:
          - string
          - number
          - integer
          - 'null'
        username:
          type:
          - string
          - number
          - integer
          - 'null'
        email:
          type:
          - string
          - number
          - integer
          - 'null'
        legacy_number:
          type:
          - string
          - number
          - integer
          - 'null'
    PostApiCompanyAnnouncementsResponse201ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        announcement:
          "$ref": "#/components/schemas/CompanyAnnouncement"
    CompanyAnnouncementRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        title:
          type:
          - string
          - number
          - integer
          - 'null'
        description:
          type:
          - string
          - number
          - integer
          - 'null'
        active:
          type:
          - boolean
          - 'null'
        application_theme_template_id:
          type:
          - integer
          - string
          - number
          - 'null'
        available_countries:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - number
            - integer
            - 'null'
        display_comments:
          type:
          - boolean
          - 'null'
        image_url:
          type:
          - string
          - number
          - integer
          - 'null'
        video_url:
          type:
          - string
          - number
          - integer
          - 'null'
        pdf_url:
          type:
          - string
          - number
          - integer
          - 'null'
        powerpoint_url:
          type:
          - string
          - number
          - integer
          - 'null'
        no_index:
          type:
          - boolean
          - 'null'
        media_type:
          type:
          - string
          - number
          - integer
          - 'null'
        rank_ids:
          type:
          - array
          - 'null'
          items:
            type:
            - integer
            - string
            - number
            - 'null'
    ListCompanyContactsResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        contacts:
          type:
          - array
          - 'null'
          items:
            anyOf:
            - "$ref": "#/components/schemas/Contact"
            - type: 'null'
        meta:
          "$ref": "#/components/schemas/CompanyListResponseMeta"
    Contact:
      title: Contact
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
        token:
          type:
          - string
          - 'null'
          - number
          - integer
        first_name:
          type:
          - string
          - 'null'
          - number
          - integer
        last_name:
          type:
          - string
          - 'null'
          - number
          - integer
        avatar_url:
          type:
          - string
          - 'null'
          - number
          - integer
        status:
          type:
          - string
          - 'null'
          - number
          - integer
          default: new
        email:
          type:
          - string
          - 'null'
          - number
          - integer
        email2:
          type:
          - string
          - 'null'
          - number
          - integer
        phone:
          type:
          - string
          - 'null'
          - number
          - integer
        phone2:
          type:
          - string
          - 'null'
          - number
          - integer
        phone_id:
          type:
          - string
          - 'null'
          - number
          - integer
        address:
          type:
          - string
          - 'null'
          - number
          - integer
        address2:
          type:
          - string
          - 'null'
          - number
          - integer
        city:
          type:
          - string
          - 'null'
          - number
          - integer
        state:
          type:
          - string
          - 'null'
          - number
          - integer
        postal_code:
          type:
          - string
          - 'null'
          - number
          - integer
        language_id:
          type:
          - integer
          - 'null'
          - string
          - number
        country_id:
          type:
          - integer
          - 'null'
          - string
          - number
        lead_type:
          type:
          - string
          - 'null'
          - number
          - integer
        ip:
          type:
          - string
          - 'null'
          - number
          - integer
        requested_at:
          type:
          - string
          - 'null'
          - number
          - integer
          format: date-time
        best_time:
          type:
          - string
          - 'null'
          - number
          - integer
        time_zone:
          type:
          - string
          - 'null'
          - number
          - integer
        reason:
          type:
          - string
          - 'null'
          - number
          - integer
        income:
          type:
          - string
          - 'null'
          - number
          - integer
        hours:
          type:
          - string
          - 'null'
          - number
          - integer
        invest:
          type:
          - string
          - 'null'
          - number
          - integer
        interest:
          type:
          - string
          - 'null'
          - number
          - integer
        full_name:
          type:
          - string
          - number
          - integer
          - 'null'
        discarded_at:
          type:
          - string
          - 'null'
          - number
          - integer
          format: date-time
        metadata:
          anyOf:
          - type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
    CreateCompanyContactResponse201ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        contact:
          anyOf:
          - "$ref": "#/components/schemas/Contact"
          - type: 'null'
        meta:
          anyOf:
          - "$ref": "#/components/schemas/ResponseMeta"
          - type: 'null'
    ResponseMeta:
      type:
      - object
      - 'null'
      properties:
        request_id:
          type:
          - string
          - number
          - integer
          - 'null'
        timestamp:
          type:
          - string
          - number
          - integer
          - 'null'
    Postcreate5RequestBodyApplicationJsonSchema:
      allOf:
      - "$ref": "#/components/schemas/createrequest6"
      - {}
    createrequest6:
      title: createrequest6
      type:
      - object
      - 'null'
      properties:
        contact:
          allOf:
          - "$ref": "#/components/schemas/Contact4"
          - {}
    Contact4:
      title: Contact4
      type:
      - object
      - 'null'
      properties:
        first_name:
          type:
          - string
          - number
          - integer
          - 'null'
        last_name:
          type:
          - string
          - number
          - integer
          - 'null'
        language_code:
          type:
          - string
          - number
          - integer
          - 'null'
        country_code:
          type:
          - string
          - number
          - integer
          - 'null'
        status:
          type:
          - string
          - number
          - integer
          - 'null'
        email:
          type:
          - string
          - number
          - integer
          - 'null'
        email2:
          type:
          - string
          - number
          - integer
          - 'null'
        phone:
          type:
          - string
          - number
          - integer
          - 'null'
        phone2:
          type:
          - string
          - number
          - integer
          - 'null'
        address:
          type:
          - string
          - number
          - integer
          - 'null'
        address2:
          type:
          - string
          - number
          - integer
          - 'null'
        city:
          type:
          - string
          - number
          - integer
          - 'null'
        state:
          type:
          - string
          - number
          - integer
          - 'null'
        postal_code:
          type:
          - string
          - number
          - integer
          - 'null'
        avatar_url:
          type:
          - string
          - number
          - integer
          - 'null'
        lead_type:
          type:
          - string
          - number
          - integer
          - 'null'
        best_time:
          type:
          - string
          - number
          - integer
          - 'null'
        time_zone:
          type:
          - string
          - number
          - integer
          - 'null'
        reason:
          type:
          - string
          - number
          - integer
          - 'null'
        income:
          type:
          - string
          - number
          - integer
          - 'null'
        hours:
          type:
          - string
          - number
          - integer
          - 'null'
        invest:
          type:
          - string
          - number
          - integer
          - 'null'
        interest:
          type:
          - string
          - number
          - integer
          - 'null'
        affiliate:
          allOf:
          - "$ref": "#/components/schemas/Affiliate4"
          - {}
    Affiliate4:
      title: Affiliate4
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - string
          - number
          - integer
          - 'null'
        external_id:
          type:
          - string
          - number
          - integer
          - 'null'
        username:
          type:
          - string
          - number
          - integer
          - 'null'
        email:
          type:
          - string
          - number
          - integer
          - 'null'
    ContactResponse:
      type:
      - object
      - 'null'
      properties:
        contact:
          anyOf:
          - "$ref": "#/components/schemas/CompanyClientContact"
          - type: 'null'
        meta:
          anyOf:
          - "$ref": "#/components/schemas/Meta"
          - type: 'null'
    CompanyClientContact:
      anyOf:
      - "$ref": "#/components/schemas/ContactMethod"
      - "$ref": "#/components/schemas/ContactMethod"
    ContactMethod:
      type:
      - object
      - 'null'
      properties:
        name:
          type:
          - string
          - number
          - integer
          - 'null'
        email:
          type:
          - string
          - number
          - integer
          - 'null'
          format: email
        phone:
          type:
          - string
          - number
          - integer
          - 'null'
          format: phone
    Meta:
      type:
      - object
      - 'null'
      properties:
        request_id:
          type:
          - string
          - number
          - integer
          - 'null'
        timestamp:
          type:
          - string
          - number
          - integer
          - 'null'
          format: date-time
    DeleteCompanyContactResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        contact:
          anyOf:
          - "$ref": "#/components/schemas/ContactDestroy"
          - type: 'null'
        meta:
          anyOf:
          - "$ref": "#/components/schemas/ResponseMeta"
          - type: 'null'
    ContactDestroy:
      title: Contact
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
        first_name:
          type:
          - string
          - 'null'
          - number
          - integer
        last_name:
          type:
          - string
          - 'null'
          - number
          - integer
        email:
          type:
          - string
          - 'null'
          - number
          - integer
        metadata:
          anyOf:
          - type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
    DeleteApiCompanyCustomCatchUpsByIdResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        catch_up:
          type:
          - object
          - 'null'
          properties:
            id:
              type:
              - integer
              - string
              - number
              - 'null'
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
    PatchApiCompanyCustomCatchUpsByIdRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        suggestion_title:
          type:
          - string
          - number
          - integer
          - 'null'
        suggestion_description:
          type:
          - string
          - number
          - integer
          - 'null'
    SetCompanyEmailProviderResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        company:
          title: Company
          type:
          - object
          - 'null'
          properties:
            id:
              type:
              - integer
              - string
              - number
              - 'null'
            name:
              type:
              - string
              - number
              - integer
              - 'null'
            active:
              type:
              - boolean
              - 'null'
              default: true
            email_provider:
              description: 'Email delivery provider. Possible values: fluid, droplet'
              type:
              - string
              - number
              - integer
              - 'null'
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    SetCompanyEmailProviderRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        settings:
          type:
          - object
          - 'null'
          properties:
            email_provider:
              type:
              - string
              - number
              - integer
              - 'null'
              description: 'Email delivery provider. Possible values: fluid, droplet'
    ListLabelsResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        label:
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/CompanyLabel"
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    CreateLabelResponse201ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        label:
          "$ref": "#/components/schemas/CompanyLabel"
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    CreateLabelRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        label:
          "$ref": "#/components/schemas/CompanyLabelRequest"
    ClearCacheResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        message:
          type:
          - string
          - number
          - integer
          - 'null'
          description: Success message
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    UpdateLabelRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
        lang:
          type:
          - string
          - number
          - integer
          - 'null'
        label:
          "$ref": "#/components/schemas/CompanyLabelRequest"
    CreateCompanyLibraryRequestBodyApplicationJsonSchema:
      allOf:
      - "$ref": "#/components/schemas/createrequest12"
      - {}
    createrequest12:
      title: createrequest12
      type:
      - object
      - 'null'
      properties:
        library:
          allOf:
          - "$ref": "#/components/schemas/Library"
          - {}
    Library:
      title: Library
      type:
      - object
      - 'null'
      properties:
        title:
          type:
          - string
          - number
          - integer
          - 'null'
        affiliate_id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        library_items_attributes:
          type:
          - array
          - 'null'
          items:
            anyOf:
            - "$ref": "#/components/schemas/LibraryItemsAttribute"
            - type: 'null'
          description: ''
    LibraryItemsAttribute:
      title: LibraryItemsAttribute
      type:
      - object
      - 'null'
      properties:
        relateable_type:
          type:
          - string
          - number
          - integer
          - 'null'
        relateable_id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        order:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
    CloneCompanyLibraryRequestBodyApplicationJsonSchema:
      allOf:
      - "$ref": "#/components/schemas/clone_company_library_request"
      - {}
    clone_company_library_request:
      title: clone_company_library_request
      type:
      - object
      - 'null'
      properties:
        affiliate_id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
    AddItemToLibraryRequestBodyApplicationJsonSchema:
      allOf:
      - "$ref": "#/components/schemas/add_item_request"
      - {}
    add_item_request:
      title: add_item_request
      type:
      - object
      - 'null'
      properties:
        library_item:
          allOf:
          - "$ref": "#/components/schemas/LibraryItem5"
          - {}
    LibraryItem5:
      title: LibraryItem5
      type:
      - object
      - 'null'
      properties:
        relateable_type:
          type:
          - string
          - number
          - integer
          - 'null'
        relateable_id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        order:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
    ListCompanyMediaResponse200ApplicationJsonSchema:
      type:
      - array
      - 'null'
      items:
        anyOf:
        - "$ref": "#/components/schemas/index10"
        - type: 'null'
      description: ''
    index10:
      title: index10
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        user_id:
          type:
          - string
          - number
          - integer
          - 'null'
        media_type:
          type:
          - string
          - number
          - integer
          - 'null'
        media_format:
          type:
          - string
          - number
          - integer
          - 'null'
        image_url:
          type:
          - string
          - number
          - integer
          - 'null'
        video_url:
          type:
          - string
          - number
          - integer
          - 'null'
        pdf_url:
          type:
          - string
          - number
          - integer
          - 'null'
        title:
          type:
          - string
          - number
          - integer
          - 'null'
        description:
          allOf:
          - "$ref": "#/components/schemas/Description19"
          - {}
        stripped:
          type:
          - string
          - number
          - integer
          - 'null'
        kind:
          type:
          - string
          - number
          - integer
          - 'null'
        active:
          type:
          - boolean
          - 'null'
        visibility:
          type:
          - string
          - number
          - integer
          - 'null'
        share_link:
          type:
          - string
          - number
          - integer
          - 'null'
        views:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        leads:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        language_id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        watch:
          type:
          - string
          - number
          - integer
          - 'null'
        video_status:
          type:
          - string
          - number
          - integer
          - 'null'
        duration:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        cta_url:
          type:
          - string
          - number
          - integer
          - 'null'
        cta_button_text:
          type:
          - string
          - number
          - integer
          - 'null'
        cta_enabled:
          type:
          - boolean
          - 'null'
        cta_action_type:
          type:
          - string
          - number
          - integer
          - 'null'
        video_shopping_enabled:
          type:
          - boolean
          - 'null'
        prompts_enabled:
          type:
          - boolean
          - 'null'
        label:
          anyOf:
          - allOf:
            - anyOf:
              - "$ref": "#/components/schemas/Label"
            - {}
          - type:
            - string
            - number
            - integer
            - 'null'
        display_tag:
          type:
          - string
          - number
          - integer
          - 'null'
        prompts:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - number
            - integer
            - 'null'
          description: ''
        attached_shareables:
          type:
          - array
          - 'null'
          items:
            anyOf:
            - "$ref": "#/components/schemas/AttachedShareable"
            - allOf:
              - "$ref": "#/components/schemas/AttachedShareable1"
              - {}
          description: ''
        subtitles:
          allOf:
          - "$ref": "#/components/schemas/Subtitles"
          - {}
        comments:
          type:
          - array
          - 'null'
          items:
            anyOf:
            - "$ref": "#/components/schemas/Comment"
            - type: 'null'
          description: ''
    Description19:
      title: Description19
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        name:
          type:
          - string
          - number
          - integer
          - 'null'
        body:
          type:
          - string
          - number
          - integer
          - 'null'
        record_type:
          type:
          - string
          - number
          - integer
          - 'null'
        record_id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        created_at:
          type:
          - string
          - number
          - integer
          - 'null'
        updated_at:
          type:
          - string
          - number
          - integer
          - 'null'
        locale:
          type:
          - string
          - number
          - integer
          - 'null'
    Label:
      title: Label
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        title:
          type:
          - string
          - number
          - integer
          - 'null'
        background:
          type:
          - string
          - number
          - integer
          - 'null'
        icon:
          type:
          - string
          - number
          - integer
          - 'null'
        color:
          type:
          - string
          - number
          - integer
          - 'null'
    AttachedShareable:
      title: AttachedShareable
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        kind:
          type:
          - string
          - number
          - integer
          - 'null'
        timestamp:
          type:
          - string
          - number
          - integer
          - 'null'
        attachment:
          allOf:
          - "$ref": "#/components/schemas/Attachment"
          - {}
        content:
          type:
          - string
          - number
          - integer
          - 'null'
        position:
          type:
          - string
          - number
          - integer
          - 'null'
        style:
          type:
          - string
          - number
          - integer
          - 'null'
        share_link:
          type:
          - string
          - number
          - integer
          - 'null'
        attachment_type:
          type:
          - string
          - number
          - integer
          - 'null'
    Attachment:
      title: Attachment
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        active:
          type:
          - boolean
          - 'null'
        title:
          type:
          - string
          - number
          - integer
          - 'null'
        description:
          allOf:
          - "$ref": "#/components/schemas/Description27"
          - {}
        stripped:
          type:
          - string
          - number
          - integer
          - 'null'
        price:
          type:
          - string
          - number
          - integer
          - 'null'
        display_price:
          type:
          - string
          - number
          - integer
          - 'null'
        subscription_price:
          type:
          - string
          - number
          - integer
          - 'null'
        display_subscription_price:
          type:
          - string
          - number
          - integer
          - 'null'
        wholesale_price:
          type:
          - string
          - number
          - integer
          - 'null'
        display_wholesale_price:
          type:
          - string
          - number
          - integer
          - 'null'
        wholesale_subscription_price:
          type:
          - string
          - number
          - integer
          - 'null'
        display_wholesale_subscription_price:
          type:
          - string
          - number
          - integer
          - 'null'
        shipping:
          type:
          - string
          - number
          - integer
          - 'null'
        image:
          allOf:
          - "$ref": "#/components/schemas/Image3"
          - {}
        image_url:
          type:
          - string
          - number
          - integer
          - 'null'
        sku:
          type:
          - string
          - number
          - integer
          - 'null'
        country_code:
          type:
          - string
          - number
          - integer
          - 'null'
        country_id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        views:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        leads:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        share_link:
          type:
          - string
          - number
          - integer
          - 'null'
        commission:
          type:
          - string
          - number
          - integer
          - 'null'
        public:
          type:
          - boolean
          - 'null'
        shopify_id:
          type:
          - string
          - number
          - integer
          - 'null'
        shopify_handle:
          type:
          - string
          - number
          - integer
          - 'null'
        in_stock:
          type:
          - boolean
          - 'null'
        vendor:
          type:
          - string
          - number
          - integer
          - 'null'
        price_range:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - number
            - integer
            - 'null'
          description: ''
        price_range_formatted:
          type:
          - string
          - number
          - integer
          - 'null'
        unlimited_inventory:
          type:
          - boolean
          - 'null'
        default_variant:
          allOf:
          - "$ref": "#/components/schemas/DefaultVariant23"
          - {}
        currency_symbol:
          type:
          - string
          - number
          - integer
          - 'null'
        currency_code:
          type:
          - string
          - number
          - integer
          - 'null'
        average_rating:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        option_values:
          anyOf:
          - type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
        publish_to_portal_shop:
          type:
          - boolean
          - 'null'
        publish_to_retail_store:
          type:
          - boolean
          - 'null'
        publish_to_mobile_store:
          type:
          - boolean
          - 'null'
        publish_to_share_tab:
          type:
          - boolean
          - 'null'
        hide_rating?:
          type:
          - boolean
          - 'null'
        hide_reviews?:
          type:
          - boolean
          - 'null'
        prompts_enabled:
          type:
          - boolean
          - 'null'
        label:
          type:
          - string
          - number
          - integer
          - 'null'
        display_tag:
          type:
          - string
          - number
          - integer
          - 'null'
        images:
          type:
          - array
          - 'null'
          items:
            anyOf:
            - "$ref": "#/components/schemas/Image9"
            - type: 'null'
          description: ''
        countries:
          type:
          - array
          - 'null'
          items:
            anyOf:
            - "$ref": "#/components/schemas/Country7"
            - type: 'null'
          description: ''
        variants:
          type:
          - array
          - 'null'
          items:
            anyOf:
            - "$ref": "#/components/schemas/Variant31"
            - type: 'null'
          description: ''
        options:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - number
            - integer
            - 'null'
          description: ''
        prompts:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - number
            - integer
            - 'null'
          description: ''
        enroll_products:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - number
            - integer
            - 'null'
          description: ''
        enrollment_packs:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - number
            - integer
            - 'null'
          description: ''
    Description27:
      title: Description27
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        name:
          type:
          - string
          - number
          - integer
          - 'null'
        body:
          type:
          - string
          - number
          - integer
          - 'null'
        record_type:
          type:
          - string
          - number
          - integer
          - 'null'
        record_id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        created_at:
          type:
          - string
          - number
          - integer
          - 'null'
        updated_at:
          type:
          - string
          - number
          - integer
          - 'null'
        locale:
          type:
          - string
          - number
          - integer
          - 'null'
    Image3:
      title: Image3
      type:
      - object
      - 'null'
      properties:
        mini:
          type:
          - string
          - number
          - integer
          - 'null'
        detail:
          type:
          - string
          - number
          - integer
          - 'null'
        full:
          type:
          - string
          - number
          - integer
          - 'null'
    DefaultVariant23:
      title: DefaultVariant23
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        product_id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        shopify_id:
          type:
          - string
          - number
          - integer
          - 'null'
        title:
          type:
          - string
          - number
          - integer
          - 'null'
        sku:
          type:
          - string
          - number
          - integer
          - 'null'
        position:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        inventory_policy:
          type:
          - string
          - number
          - integer
          - 'null'
        taxable:
          type:
          - boolean
          - 'null'
        inventory_quantity:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        created_at:
          type:
          - string
          - number
          - integer
          - 'null'
        updated_at:
          type:
          - string
          - number
          - integer
          - 'null'
        external_id:
          type:
          - string
          - number
          - integer
          - 'null'
        variant_country_id:
          type:
          - string
          - number
          - integer
          - 'null'
        image_url:
          type:
          - string
          - number
          - integer
          - 'null'
        image_path:
          type:
          - string
          - number
          - integer
          - 'null'
        is_master:
          type:
          - boolean
          - 'null'
        discarded_at:
          type:
          - string
          - number
          - integer
          - 'null'
        price:
          type:
          - string
          - number
          - integer
          - 'null'
        weight:
          type:
          - string
          - number
          - integer
          - 'null'
        size:
          type:
          - string
          - number
          - integer
          - 'null'
        physical:
          type:
          - string
          - number
          - integer
          - 'null'
        unit_of_weight:
          type:
          - string
          - number
          - integer
          - 'null'
        height:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        width:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        length:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        unit_of_size:
          type:
          - string
          - number
          - integer
          - 'null'
        hs_code:
          type:
          - string
          - number
          - integer
          - 'null'
        country_of_origin:
          type:
          - string
          - number
          - integer
          - 'null'
        customs_information_shipping:
          type:
          - string
          - number
          - integer
          - 'null'
        active:
          type:
          - boolean
          - 'null'
        bar_code:
          type:
          - string
          - number
          - integer
          - 'null'
        track_quantity:
          type:
          - string
          - number
          - integer
          - 'null'
        keep_selling:
          type:
          - string
          - number
          - integer
          - 'null'
        option_attrs:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - number
            - integer
            - 'null'
          description: ''
        allow_subscription:
          type:
          - boolean
          - 'null'
        subscription_only:
          type:
          - boolean
          - 'null'
        limit_subscription:
          type:
          - boolean
          - 'null'
        subscription_max_qty:
          type:
          - string
          - number
          - integer
          - 'null'
        shipping_included_in_price:
          type:
          - boolean
          - 'null'
        subscription_interval:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
    Image9:
      title: Image9
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        image:
          allOf:
          - "$ref": "#/components/schemas/Image3"
          - {}
        image_url:
          type:
          - string
          - number
          - integer
          - 'null'
        position:
          type:
          - string
          - number
          - integer
          - 'null'
        shopify_id:
          type:
          - string
          - number
          - integer
          - 'null'
    Country7:
      title: Country7
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        iso_name:
          type:
          - string
          - number
          - integer
          - 'null'
        iso:
          type:
          - string
          - number
          - integer
          - 'null'
        iso3:
          type:
          - string
          - number
          - integer
          - 'null'
        name:
          type:
          - string
          - number
          - integer
          - 'null'
        numcode:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        active:
          type:
          - boolean
          - 'null'
        currency_code:
          type:
          - string
          - number
          - integer
          - 'null'
        currency_symbol:
          type:
          - string
          - number
          - integer
          - 'null'
        separator:
          type:
          - string
          - number
          - integer
          - 'null'
        delimiter:
          type:
          - string
          - number
          - integer
          - 'null'
        address3:
          type:
          - boolean
          - 'null'
        state:
          type:
          - boolean
          - 'null'
        passport:
          type:
          - boolean
          - 'null'
        itn:
          type:
          - boolean
          - 'null'
        tax_rate:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
    Variant31:
      title: Variant31
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        title:
          type:
          - string
          - number
          - integer
          - 'null'
        image_url:
          type:
          - string
          - number
          - integer
          - 'null'
        buyable:
          type:
          - boolean
          - 'null'
        option_value_ids:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - number
            - integer
            - 'null'
          description: ''
        allow_subscription:
          type:
          - boolean
          - 'null'
        subscription_only:
          type:
          - boolean
          - 'null'
        shipping_included_in_price:
          type:
          - boolean
          - 'null'
        variant_countries:
          type:
          - array
          - 'null'
          items:
            anyOf:
            - "$ref": "#/components/schemas/VariantCountries5"
            - type: 'null'
          description: ''
    VariantCountries5:
      title: VariantCountries5
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        price:
          type:
          - string
          - number
          - integer
          - 'null'
        shipping:
          type:
          - string
          - number
          - integer
          - 'null'
        tax:
          type:
          - string
          - number
          - integer
          - 'null'
        currency_code:
          type:
          - string
          - number
          - integer
          - 'null'
        currency_symbol:
          type:
          - string
          - number
          - integer
          - 'null'
        display_price:
          type:
          - string
          - number
          - integer
          - 'null'
        country_iso:
          type:
          - string
          - number
          - integer
          - 'null'
        subscription_price:
          type:
          - string
          - number
          - integer
          - 'null'
        display_wholesale_price:
          type:
          - string
          - number
          - integer
          - 'null'
        display_wholesale_subscription_price:
          type:
          - string
          - number
          - integer
          - 'null'
        wholesale_price:
          type:
          - string
          - number
          - integer
          - 'null'
        wholesale_subscription_price:
          type:
          - string
          - number
          - integer
          - 'null'
        country:
          allOf:
          - "$ref": "#/components/schemas/Country8"
          - {}
    Country8:
      title: Country8
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        iso:
          type:
          - string
          - number
          - integer
          - 'null'
        iso_name:
          type:
          - string
          - number
          - integer
          - 'null'
        iso3:
          type:
          - string
          - number
          - integer
          - 'null'
        name:
          type:
          - string
          - number
          - integer
          - 'null'
        tax_rate:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
    AttachedShareable1:
      title: AttachedShareable1
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        kind:
          type:
          - string
          - number
          - integer
          - 'null'
        timestamp:
          type:
          - string
          - number
          - integer
          - 'null'
        attachment:
          allOf:
          - "$ref": "#/components/schemas/Attachment1"
          - {}
        content:
          type:
          - string
          - number
          - integer
          - 'null'
        position:
          type:
          - string
          - number
          - integer
          - 'null'
        style:
          type:
          - string
          - number
          - integer
          - 'null'
        share_link:
          type:
          - string
          - number
          - integer
          - 'null'
        attachment_type:
          type:
          - string
          - number
          - integer
          - 'null'
    Attachment1:
      title: Attachment1
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        active:
          type:
          - boolean
          - 'null'
        title:
          type:
          - string
          - number
          - integer
          - 'null'
        description:
          allOf:
          - "$ref": "#/components/schemas/Description27"
          - {}
        stripped:
          type:
          - string
          - number
          - integer
          - 'null'
        price:
          type:
          - string
          - number
          - integer
          - 'null'
        display_price:
          type:
          - string
          - number
          - integer
          - 'null'
        subscription_price:
          type:
          - string
          - number
          - integer
          - 'null'
        display_subscription_price:
          type:
          - string
          - number
          - integer
          - 'null'
        wholesale_price:
          type:
          - string
          - number
          - integer
          - 'null'
        display_wholesale_price:
          type:
          - string
          - number
          - integer
          - 'null'
        wholesale_subscription_price:
          type:
          - string
          - number
          - integer
          - 'null'
        display_wholesale_subscription_price:
          type:
          - string
          - number
          - integer
          - 'null'
        shipping:
          type:
          - string
          - number
          - integer
          - 'null'
        image:
          allOf:
          - "$ref": "#/components/schemas/Image3"
          - {}
        image_url:
          type:
          - string
          - number
          - integer
          - 'null'
        sku:
          type:
          - string
          - number
          - integer
          - 'null'
        country_code:
          type:
          - string
          - number
          - integer
          - 'null'
        country_id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        views:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        leads:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        share_link:
          type:
          - string
          - number
          - integer
          - 'null'
        commission:
          type:
          - string
          - number
          - integer
          - 'null'
        public:
          type:
          - boolean
          - 'null'
        shopify_id:
          type:
          - string
          - number
          - integer
          - 'null'
        shopify_handle:
          type:
          - string
          - number
          - integer
          - 'null'
        in_stock:
          type:
          - boolean
          - 'null'
        vendor:
          type:
          - string
          - number
          - integer
          - 'null'
        price_range:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - number
            - integer
            - 'null'
          description: ''
        price_range_formatted:
          type:
          - string
          - number
          - integer
          - 'null'
        unlimited_inventory:
          type:
          - boolean
          - 'null'
        default_variant:
          allOf:
          - "$ref": "#/components/schemas/DefaultVariant24"
          - {}
        currency_symbol:
          type:
          - string
          - number
          - integer
          - 'null'
        currency_code:
          type:
          - string
          - number
          - integer
          - 'null'
        average_rating:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        option_values:
          type:
          - object
          - 'null'
          additionalProperties:
            anyOf:
            - "$ref": "#/components/schemas/m39"
            - type: 'null'
        publish_to_portal_shop:
          type:
          - boolean
          - 'null'
        publish_to_retail_store:
          type:
          - boolean
          - 'null'
        publish_to_mobile_store:
          type:
          - boolean
          - 'null'
        publish_to_share_tab:
          type:
          - boolean
          - 'null'
        hide_rating?:
          type:
          - boolean
          - 'null'
        hide_reviews?:
          type:
          - boolean
          - 'null'
        prompts_enabled:
          type:
          - boolean
          - 'null'
        label:
          type:
          - string
          - number
          - integer
          - 'null'
        display_tag:
          type:
          - string
          - number
          - integer
          - 'null'
        images:
          type:
          - array
          - 'null'
          items:
            anyOf:
            - "$ref": "#/components/schemas/Image9"
            - type: 'null'
          description: ''
        countries:
          type:
          - array
          - 'null'
          items:
            anyOf:
            - "$ref": "#/components/schemas/Country7"
            - type: 'null'
          description: ''
        variants:
          type:
          - array
          - 'null'
          items:
            anyOf:
            - "$ref": "#/components/schemas/Variant22"
            - type: 'null'
          description: ''
        options:
          type:
          - array
          - 'null'
          items:
            anyOf:
            - "$ref": "#/components/schemas/Option3"
            - type: 'null'
          description: ''
        prompts:
          type:
          - array
          - 'null'
          items:
            anyOf:
            - "$ref": "#/components/schemas/Prompt"
            - type: 'null'
          description: ''
        enroll_products:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - number
            - integer
            - 'null'
          description: ''
        enrollment_packs:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - number
            - integer
            - 'null'
          description: ''
    DefaultVariant24:
      title: DefaultVariant24
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        product_id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        shopify_id:
          type:
          - string
          - number
          - integer
          - 'null'
        title:
          type:
          - string
          - number
          - integer
          - 'null'
        sku:
          type:
          - string
          - number
          - integer
          - 'null'
        position:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        inventory_policy:
          type:
          - string
          - number
          - integer
          - 'null'
        taxable:
          type:
          - boolean
          - 'null'
        inventory_quantity:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        created_at:
          type:
          - string
          - number
          - integer
          - 'null'
        updated_at:
          type:
          - string
          - number
          - integer
          - 'null'
        external_id:
          type:
          - string
          - number
          - integer
          - 'null'
        variant_country_id:
          type:
          - string
          - number
          - integer
          - 'null'
        image_url:
          type:
          - string
          - number
          - integer
          - 'null'
        image_path:
          type:
          - string
          - number
          - integer
          - 'null'
        is_master:
          type:
          - boolean
          - 'null'
        discarded_at:
          type:
          - string
          - number
          - integer
          - 'null'
        price:
          type:
          - string
          - number
          - integer
          - 'null'
        weight:
          type:
          - string
          - number
          - integer
          - 'null'
        size:
          type:
          - string
          - number
          - integer
          - 'null'
        physical:
          type:
          - string
          - number
          - integer
          - 'null'
        unit_of_weight:
          type:
          - string
          - number
          - integer
          - 'null'
        height:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        width:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        length:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        unit_of_size:
          type:
          - string
          - number
          - integer
          - 'null'
        hs_code:
          type:
          - string
          - number
          - integer
          - 'null'
        country_of_origin:
          type:
          - string
          - number
          - integer
          - 'null'
        customs_information_shipping:
          type:
          - string
          - number
          - integer
          - 'null'
        active:
          type:
          - boolean
          - 'null'
        bar_code:
          type:
          - string
          - number
          - integer
          - 'null'
        track_quantity:
          type:
          - string
          - number
          - integer
          - 'null'
        keep_selling:
          type:
          - string
          - number
          - integer
          - 'null'
        option_attrs:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - number
            - integer
            - 'null'
          description: ''
        allow_subscription:
          type:
          - boolean
          - 'null'
        subscription_only:
          type:
          - boolean
          - 'null'
        limit_subscription:
          type:
          - boolean
          - 'null'
        subscription_max_qty:
          type:
          - string
          - number
          - integer
          - 'null'
        shipping_included_in_price:
          type:
          - boolean
          - 'null'
        subscription_interval:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
    m39:
      title: m39
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        option_id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        title:
          type:
          - string
          - number
          - integer
          - 'null'
        position:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        shopify_id:
          type:
          - string
          - number
          - integer
          - 'null'
        created_at:
          type:
          - string
          - number
          - integer
          - 'null'
        updated_at:
          type:
          - string
          - number
          - integer
          - 'null'
        presentation:
          type:
          - string
          - number
          - integer
          - 'null'
    Variant22:
      title: Variant22
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        title:
          type:
          - string
          - number
          - integer
          - 'null'
        image_url:
          type:
          - string
          - number
          - integer
          - 'null'
        buyable:
          type:
          - boolean
          - 'null'
        option_value_ids:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - number
            - integer
            - 'null'
          description: ''
        allow_subscription:
          type:
          - boolean
          - 'null'
        subscription_only:
          type:
          - boolean
          - 'null'
        shipping_included_in_price:
          type:
          - boolean
          - 'null'
        variant_countries:
          type:
          - array
          - 'null'
          items:
            anyOf:
            - "$ref": "#/components/schemas/VariantCountries5"
            - type: 'null'
          description: ''
    Option3:
      title: Option3
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        title:
          type:
          - string
          - number
          - integer
          - 'null'
        position:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        presentation:
          type:
          - string
          - number
          - integer
          - 'null'
    Prompt:
      title: Prompt
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        title:
          type:
          - string
          - number
          - integer
          - 'null'
        content:
          type:
          - string
          - number
          - integer
          - 'null'
    Subtitles:
      title: Subtitles
      type:
      - object
      - 'null'
      properties:
        es:
          type:
          - string
          - number
          - integer
          - 'null'
        en:
          type:
          - string
          - number
          - integer
          - 'null'
    Comment:
      title: Comment
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        body:
          type:
          - string
          - number
          - integer
          - 'null'
        deleted_at:
          type:
          - string
          - number
          - integer
          - 'null'
        full_name:
          type:
          - string
          - number
          - integer
          - 'null'
        first_name:
          type:
          - string
          - number
          - integer
          - 'null'
        last_name:
          type:
          - string
          - number
          - integer
          - 'null'
        image_url:
          type:
          - string
          - number
          - integer
          - 'null'
        relateable_id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        relateable_type:
          type:
          - string
          - number
          - integer
          - 'null'
        likes:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        liked:
          type:
          - boolean
          - 'null'
        replies:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - number
            - integer
            - 'null'
          description: ''
        created_at:
          type:
          - string
          - number
          - integer
          - 'null'
        contact_id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
        user_id:
          type:
          - string
          - number
          - integer
          - 'null'
        user:
          anyOf:
          - type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
    UpdateCompanyMediaResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        medium:
          anyOf:
          - "$ref": "#/components/schemas/MediumSerializer"
          - type: 'null'
        meta:
          anyOf:
          - "$ref": "#/components/schemas/SwaggerClientMeta"
          - type: 'null'
    MediumSerializer:
      title: MediumSerializer
      type:
      - object
      - 'null'
      description: Media resource with user-specific data and associations
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
        user_id:
          type:
          - integer
          - 'null'
          - string
          - number
        title:
          type:
          - string
          - number
          - integer
          - 'null'
        description:
          anyOf:
          - type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
        stripped:
          type:
          - string
          - 'null'
          - number
          - integer
        media_type:
          type:
          - string
          - number
          - integer
          - 'null'
        media_format:
          type:
          - string
          - 'null'
          - number
          - integer
        image_url:
          type:
          - string
          - 'null'
          - number
          - integer
        video_url:
          type:
          - string
          - 'null'
          - number
          - integer
        pdf_url:
          type:
          - string
          - 'null'
          - number
          - integer
        kind:
          type:
          - string
          - 'null'
          - number
          - integer
        active:
          type:
          - boolean
          - 'null'
        visibility:
          type:
          - integer
          - 'null'
          - string
          - number
        share_link:
          type:
          - string
          - 'null'
          - number
          - integer
        preview_link:
          type:
          - string
          - 'null'
          - number
          - integer
        views:
          type:
          - integer
          - string
          - number
          - 'null'
        leads:
          type:
          - integer
          - string
          - number
          - 'null'
        watch:
          anyOf:
          - type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
        video_status:
          type:
          - string
          - 'null'
          - number
          - integer
        duration:
          type:
          - integer
          - 'null'
          - string
          - number
        cta_url:
          type:
          - string
          - 'null'
          - number
          - integer
        cta_button_text:
          type:
          - string
          - 'null'
          - number
          - integer
        cta_enabled:
          type:
          - boolean
          - 'null'
        cta_action_type:
          type:
          - string
          - 'null'
          - number
          - integer
        video_shopping_enabled:
          type:
          - boolean
          - 'null'
        prompts_enabled:
          type:
          - boolean
          - 'null'
        ranks:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - number
            - integer
            - 'null'
        settings:
          anyOf:
          - type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
        application_theme_template_id:
          type:
          - integer
          - 'null'
          - string
          - number
        created_at:
          type:
          - string
          - number
          - integer
          - 'null'
          format: date-time
        subtitles:
          type:
          - object
          - 'null'
          description: Hash of language ISO codes to subtitle text
          additionalProperties:
            type:
            - string
            - number
            - integer
            - 'null'
        countries:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            properties:
              id:
                type:
                - integer
                - string
                - number
                - 'null'
              iso:
                type:
                - string
                - number
                - integer
                - 'null'
              name:
                type:
                - string
                - number
                - integer
                - 'null'
        tags:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            properties:
              id:
                type:
                - integer
                - string
                - number
                - 'null'
              name:
                type:
                - string
                - number
                - integer
                - 'null'
        slug:
          type:
          - string
          - 'null'
          - number
          - integer
          description: URL-friendly slug for the media item
        canonical_url:
          type:
          - string
          - 'null'
          - number
          - integer
          description: The primary URL for accessing this media item on the company's website
        custom_slug:
          type:
          - boolean
          - 'null'
          description: Whether the slug was customized by the user
        prompts:
          type:
          - array
          - 'null'
          description: Only included if media_type is 'share' or 'upload'
          items:
            anyOf:
            - type: object
              additionalProperties:
                "$ref": "#/components/schemas/JsonValue"
            - type: 'null'
        attached_shareables:
          type:
          - array
          - 'null'
          items:
            anyOf:
            - type: object
              additionalProperties:
                "$ref": "#/components/schemas/JsonValue"
            - type: 'null'
        comments:
          type:
          - array
          - 'null'
          description: Only included if video_shopping_enabled is true and display_comments is true
          items:
            anyOf:
            - type: object
              additionalProperties:
                "$ref": "#/components/schemas/JsonValue"
            - type: 'null'
        label:
          anyOf:
          - type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
            description: Label object from LabelConcern
          - type: 'null'
        display_tag:
          type:
          - string
          - 'null'
          - number
          - integer
          description: Display tag from LabelConcern
        publish_at:
          type:
          - string
          - 'null'
          - number
          - integer
          format: date-time
          description: Scheduled publish date/time. If set to a future date, the media will not be publicly accessible until that time.
    SwaggerClientMeta:
      type:
      - object
      - 'null'
      description: Standard response metadata
      properties:
        request_id:
          type:
          - string
          - number
          - integer
          - 'null'
          description: Unique identifier for the request
        timestamp:
          type:
          - string
          - number
          - integer
          - 'null'
          format: date-time
          description: ISO 8601 timestamp of when the response was generated
    CreateMediaRequestBodyApplicationJsonSchema:
      allOf:
      - "$ref": "#/components/schemas/createrequest15"
      - {}
    createrequest15:
      title: createrequest15
      type:
      - object
      - 'null'
      properties:
        medium:
          allOf:
          - "$ref": "#/components/schemas/Medium"
          - {}
    Medium:
      title: Medium
      type:
      - object
      - 'null'
      properties:
        title:
          type:
          - string
          - number
          - integer
          - 'null'
        language:
          type:
          - string
          - number
          - integer
          - 'null'
        media_type:
          type:
          - string
          - number
          - integer
          - 'null'
        description:
          type:
          - string
          - number
          - integer
          - 'null'
        video_url:
          type:
          - string
          - number
          - integer
          - 'null'
        available_countries:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - number
            - integer
            - 'null'
          description: ''
        tags_attributes:
          type:
          - array
          - 'null'
          items:
            anyOf:
            - "$ref": "#/components/schemas/TagsAttribute"
            - type: 'null'
          description: ''
        label:
          allOf:
          - "$ref": "#/components/schemas/Label2"
          - {}
        category:
          type:
          - string
          - number
          - integer
          - 'null'
        cta_enabled:
          type:
          - boolean
          - 'null'
        cta_action_type:
          type:
          - string
          - number
          - integer
          - 'null'
        cta_button_text:
          type:
          - string
          - number
          - integer
          - 'null'
        cta_url:
          type:
          - string
          - number
          - integer
          - 'null'
        display_shop:
          type:
          - boolean
          - 'null'
        video_shopping_enabled:
          type:
          - boolean
          - 'null'
        attached_shareables_attributes:
          type:
          - array
          - 'null'
          items:
            anyOf:
            - "$ref": "#/components/schemas/AttachedShareablesAttribute"
            - type: 'null'
          description: >-
            Video-shopping overlay attributes. Substantive create or modify entries
            are supported only for video media. Omitted, null, empty, and
            destroy-only values remain valid for non-video media so legacy overlays
            can be removed.
        subtitles:
          type:
          - array
          - 'null'
          items:
            anyOf:
            - "$ref": "#/components/schemas/Subtitles1"
            - type: 'null'
          description: ''
        prompts_attributes:
          type:
          - array
          - 'null'
          items:
            anyOf:
            - "$ref": "#/components/schemas/PromptsAttribute"
            - type: 'null'
          description: ''
    TagsAttribute:
      title: TagsAttribute
      type:
      - object
      - 'null'
      properties:
        name:
          type:
          - string
          - number
          - integer
          - 'null'
    Label2:
      title: Label2
      type:
      - object
      - 'null'
      properties:
        title:
          type:
          - string
          - number
          - integer
          - 'null'
    AttachedShareablesAttribute:
      title: AttachedShareablesAttribute
      description: A Product or other shareable displayed as an overlay on video media.
      type:
      - object
      - 'null'
      properties:
        attachment_type:
          type:
          - string
          - number
          - integer
          - 'null'
        timestamp:
          type:
          - string
          - number
          - integer
          - 'null'
        attachment_id:
          type:
          - integer
          - string
          - number
          - 'null'
          format: int32
    Subtitles1:
      title: Subtitles1
      type:
      - object
      - 'null'
      properties:
        lang:
          type:
          - string
          - number
          - integer
          - 'null'
        src:
          type:
          - string
          - number
          - integer
          - 'null'
    PromptsAttribute:
      title: PromptsAttribute
      type:
      - object
      - 'null'
      properties:
        title:
          type:
          - string
          - number
          - integer
          - 'null'
        content:
          type:
          - string
          - number
          - integer
          - 'null'
    CompanyClientUpdateCompanyMediaResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        medium:
          anyOf:
          - "$ref": "#/components/schemas/MediumSerializer"
          - type: 'null'
        meta:
          anyOf:
          - "$ref": "#/components/schemas/Meta"
          - type: 'null'
    MediaUpdate:
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
        medium:
          type:
          - object
          - 'null'
          properties:
            user_id:
              type:
              - integer
              - string
              - number
              - 'null'
            media_type:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            image_url:
              type:
              - string
              - 'null'
              - number
              - integer
            video_url:
              type:
              - string
              - 'null'
              - number
              - integer
            pdf_url:
              type:
              - string
              - 'null'
              - number
              - integer
            powerpoint_url:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            title:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            description:
              type:
              - string
              - 'null'
              - number
              - integer
            active:
              type:
              - boolean
              - 'null'
              not:
                type:
                - string
                - 'null'
            compressed_image_url:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            prompts_enabled:
              type:
              - boolean
              - 'null'
              not:
                type:
                - string
                - 'null'
            kind:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            visibility:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            cta_enabled:
              type:
              - boolean
              - 'null'
              not:
                type:
                - string
                - 'null'
            cta_action_type:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            cta_url:
              type:
              - string
              - 'null'
              - number
              - integer
            cta_button_text:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            slug:
              type:
              - string
              - 'null'
              - number
              - integer
            custom_slug:
              type:
              - boolean
              - 'null'
              not:
                type:
                - string
                - 'null'
            no_index:
              type:
              - boolean
              - 'null'
              not:
                type:
                - string
                - 'null'
            display_comments:
              type:
              - boolean
              - 'null'
              not:
                type:
                - string
                - 'null'
            category:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            display_shop:
              type:
              - boolean
              - 'null'
              not:
                type:
                - string
                - 'null'
            dam_asset_id:
              type:
              - integer
              - string
              - number
              - 'null'
            dam_asset_code:
              type:
              - string
              - number
[...]
