---
openapi: 3.1.0
info:
  title: Fluid Company API
  version: v0
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: Bearer token authentication
  schemas:
    CompanyDomain:
      type: object
      description: A custom domain connected to the company.
      properties:
        id:
          type: integer
          description: Domain ID.
        hostname:
          type: string
          description: Fully qualified hostname, normalized to lowercase.
        apex_domain:
          type:
          - string
          - 'null'
          description: Registrable apex domain the hostname belongs to.
        verification_status:
          type:
          - string
          - 'null'
          description: 'Provisioning state: `unknown`, `pending_cname`, `pending_shared`, `auth_created`, `cname_added`, `cname_verified`, `pending_dns`, `verified`, or a failure state (`auth_failed`, `cname_failed`, `cert_failed`, `map_failed`, `dns_failed`, `failed`).'
        primary:
          type:
          - boolean
          - 'null'
          description: Whether this is the company's primary storefront domain.
        wildcard_subdomain:
          type:
          - boolean
          - 'null'
          description: Whether the certificate also covers `*.<hostname>`.
        redirection_domain_id:
          type:
          - integer
          - 'null'
          description: ID of the domain this hostname redirects to, if any.
        certificate_domain_id:
          type:
          - integer
          - 'null'
          description: Set when this domain shares another domain's certificate; system-owned.
        company_id:
          type: integer
          description: ID of the owning company.
        verifying_cname:
          type:
          - boolean
          - 'null'
          description: Whether a CNAME check is in progress.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        redirection_domain_hostname:
          type:
          - string
          - 'null'
          description: Hostname of the redirect target, if any.
        dns_config:
          type: object
          description: Provisioning details the system records, such as the latest DNS lookup. Read-only.
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        payment_account:
          type:
          - object
          - 'null'
          description: Payment account assigned to this domain, if any.
        dns_fluid_verified:
          type: string
          enum:
          - 'yes'
          - 'no'
          - pending
          description: '`yes` when fully verified, `no` when DNS still needs pointing (or nothing has started), otherwise `pending`.'
        has_subdomains:
          type: boolean
          description: Whether other connected hostnames share this domain's apex.
        connected:
          type: boolean
          description: True once the CNAME, certificate, and DNS are all verified.
        cert_created:
          type:
          - boolean
          - 'null'
          description: Whether the TLS certificate exists. Shared-certificate subdomains report the parent's status.
    CompanyDomainResponse:
      type: object
      properties:
        domain:
          "$ref": "#/components/schemas/CompanyDomain"
        meta:
          "$ref": "#/components/schemas/CompanyResponseMeta"
    CompanySubdomainResponse:
      type: object
      properties:
        subdomain:
          "$ref": "#/components/schemas/CompanyDomain"
        meta:
          "$ref": "#/components/schemas/CompanyResponseMeta"
    CompanySubdomainListItem:
      type: object
      description: A hostname under a parent domain's apex.
      properties:
        id:
          type: integer
          description: Domain ID.
        hostname:
          type: string
          description: Fully qualified hostname, normalized to lowercase.
        apex_domain:
          type:
          - string
          - 'null'
          description: Registrable apex domain the hostname belongs to.
        verification_status:
          type:
          - string
          - 'null'
          description: 'Provisioning state: `unknown`, `pending_cname`, `pending_shared`, `auth_created`, `cname_added`, `cname_verified`, `pending_dns`, `verified`, or a failure state (`auth_failed`, `cname_failed`, `cert_failed`, `map_failed`, `dns_failed`, `failed`).'
        certificate_domain_id:
          type:
          - integer
          - 'null'
          description: Set when this domain shares another domain's certificate; system-owned.
        verifying_cname:
          type:
          - boolean
          - 'null'
          description: Whether a CNAME check is in progress.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        redirection_domain_hostname:
          type:
          - string
          - 'null'
          description: Hostname of the redirect target, if any.
        payment_account:
          type:
          - object
          - 'null'
          description: Payment account assigned to this domain, if any.
        dns_fluid_verified:
          type: string
          enum:
          - 'yes'
          - 'no'
          - pending
          description: '`yes` when fully verified, `no` when DNS still needs pointing (or nothing has started), otherwise `pending`.'
        has_subdomains:
          type: boolean
          description: Whether other connected hostnames share this domain's apex.
        connected:
          type: boolean
          description: True once the CNAME, certificate, and DNS are all verified.
        cert_created:
          type:
          - boolean
          - 'null'
          description: Whether the TLS certificate exists. Shared-certificate subdomains report the parent's status.
        certificate_domain_hostname:
          type:
          - string
          - 'null'
          description: Hostname of the domain whose certificate this subdomain shares, if any.
    ListSubdomainsResponse:
      type: object
      properties:
        subdomains:
          type: array
          items:
            "$ref": "#/components/schemas/CompanySubdomainListItem"
        meta:
          "$ref": "#/components/schemas/CompanyResponseMeta"
    CompanyDropZone:
      type: object
      properties:
        uuid:
          type: string
          description: Drop zone identifier (prefixed `dz_`).
        name:
          type: string
        active:
          type:
          - boolean
          - 'null'
        settings:
          type:
          - object
          - 'null'
          description: Placement settings. `page` is a page type and `zone` must be a zone valid for that page type (see Get drop zone constants).
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        embed_url:
          type: string
          description: URL loaded into the drop zone iframe.
        app_bridge:
          type:
          - object
          - 'null'
          description: Derived from the owning droplet installation (S11, droplet-bridge
            epic) — `null` unless the zone is app-backed, its owning installation is
            active, and the droplet has an OAuth client. `client_id` is always derived
            server-side; it is never stored or accepted as input. When present, all
            keys are always present and non-null.
          properties:
            client_id:
              type: string
              minLength: 1
              description: The owning droplet's OAuth client_id.
            installation_uuid:
              type: string
              minLength: 1
              description: Public UUID of the active owning installation. Host mounts
                reset their session when this identifier changes.
            app_origins:
              type: array
              items:
                type: string
              description: Origins the owning droplet has registered against this zone.
          required:
          - client_id
          - installation_uuid
          - app_origins
    CompanyDropZoneResponse:
      type: object
      properties:
        drop_zone:
          allOf:
          - $ref: '#/components/schemas/CompanyDropZone'
          type: object
          properties:
            created_at:
              type: string
              format: date-time
              description: Returned by create.
            updated_at:
              type: string
              format: date-time
              description: Returned by update.
        meta:
          "$ref": "#/components/schemas/CompanyResponseMeta"
    CompanyDevice:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        company_id:
          type:
          - integer
          - 'null'
        device_type:
          type:
          - string
          - 'null'
          description: Platform, such as `ios` or `android`.
        token:
          type: string
          description: The push token.
        device_uid:
          type:
          - string
          - 'null'
        project_id:
          type:
          - string
          - 'null'
        bundle_id:
          type:
          - string
          - 'null'
        refreshed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the device last registered or refreshed.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        user:
          type:
          - object
          - 'null'
          description: The user who owns this device.
          properties:
            id:
              type: integer
            first_name:
              type:
              - string
              - 'null'
            last_name:
              type:
              - string
              - 'null'
            email:
              type:
              - string
              - 'null'
            phone:
              type:
              - string
              - 'null'
            image_url:
              type:
              - string
              - 'null'
    CompanyDeviceResponse:
      type: object
      properties:
        device:
          "$ref": "#/components/schemas/CompanyDevice"
        meta:
          "$ref": "#/components/schemas/CompanyResponseMeta"
    CompanyV0InventoryLevelListItem:
      type: object
      description: An inventory level for one variant in one warehouse, as returned by list and bulk update.
      properties:
        id:
          type: integer
          description: Inventory level ID.
        committed:
          type:
          - integer
          - 'null'
          description: Units committed to open orders.
        available:
          type:
          - integer
          - 'null'
          description: Units available for sale.
        on_hand:
          type:
          - integer
          - 'null'
          description: Total units physically in stock (available + committed + unavailable).
        unavailable:
          type:
          - integer
          - 'null'
          description: Units held back from sale (for example damaged or quarantined stock).
        adjustments:
          description: Adjustment history recorded on this inventory level, or null when there is none.
        unavailable_item_counts_by_category:
          description: Unavailable units broken down by category, or null when none are recorded.
        variant:
          type: object
          description: The variant this stock belongs to.
          properties:
            id:
              type: integer
              description: Variant ID.
            product_id:
              type:
              - integer
              - 'null'
              description: ID of the variant's product.
            sku:
              type:
              - string
              - 'null'
              description: Variant SKU.
            title:
              type:
              - string
              - 'null'
              description: Variant title.
            track_quantity:
              type:
              - boolean
              - 'null'
              description: Whether stock is tracked for the variant.
            keep_selling:
              type:
              - boolean
              - 'null'
              description: Whether the variant keeps selling when out of stock.
        product:
          type: object
          description: The product the variant belongs to.
          properties:
            image:
              type:
              - string
              - 'null'
              description: Product image URL.
            title:
              type:
              - string
              - 'null'
              description: Product title.
    CompanyV0InventoryLevelDetail:
      type: object
      description: An inventory level with its variant, product and warehouse, as returned after a set or adjust.
      properties:
        id:
          type:
          - integer
          - 'null'
          description: Inventory level ID.
        committed:
          type:
          - integer
          - 'null'
          description: Units committed to open orders.
        available:
          type:
          - integer
          - 'null'
          description: Units available for sale.
        on_hand:
          type:
          - integer
          - 'null'
          description: Total units physically in stock (available + committed + unavailable).
        unavailable:
          type:
          - integer
          - 'null'
          description: Units held back from sale (for example damaged or quarantined stock).
        adjustments:
          description: Adjustment history recorded on this inventory level, or null when there is none.
        unavailable_item_counts_by_category:
          description: Unavailable units broken down by category, or null when none are recorded.
        warning:
          type:
          - string
          - 'null'
          description: Warning about the resulting stock position, if any.
        variant:
          type: object
          properties:
            id:
              type: integer
              description: Variant ID.
            sku:
              type:
              - string
              - 'null'
              description: Variant SKU.
            track_quantity:
              type:
              - boolean
              - 'null'
              description: Whether stock is tracked for the variant.
            keep_selling:
              type:
              - boolean
              - 'null'
              description: Whether the variant keeps selling when out of stock.
        product:
          type: object
          properties:
            id:
              type: integer
              description: Product ID.
            title:
              type:
              - string
              - 'null'
              description: Product title.
            image_url:
              type:
              - string
              - 'null'
              description: Product image URL.
        warehouse:
          type: object
          description: Warehouse that holds the stock.
          properties:
            id:
              type: integer
              description: Warehouse ID.
            country:
              type: object
              properties:
                id:
                  type:
                  - integer
                  - 'null'
                name:
                  type:
                  - string
                  - 'null'
                iso:
                  type:
                  - string
                  - 'null'
                  description: ISO 3166-1 alpha-2 country code.
            address:
              type: object
              properties:
                id:
                  type:
                  - integer
                  - 'null'
                city:
                  type:
                  - string
                  - 'null'
                state:
                  type:
                  - string
                  - 'null'
                address1:
                  type:
                  - string
                  - 'null'
                postal_code:
                  type:
                  - string
                  - 'null'
    CompanyV0Rep:
      type: object
      description: A rep (sales member) of the company.
      properties:
        id:
          type:
          - integer
          - string
          description: Rep ID. List results may return the member's UUID for reps that have no legacy integer ID.
        first_name:
          type:
          - string
          - 'null'
        last_name:
          type:
          - string
          - 'null'
        created_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the rep's membership was created.
        active:
          type:
          - boolean
          - 'null'
          description: Whether the rep is active.
        external_id:
          type:
          - string
          - 'null'
          description: Your system's identifier for the rep.
        username:
          type:
          - string
          - 'null'
          description: Rep username, used in share links.
        share_guid:
          type:
          - string
          - 'null'
          description: Share identifier (mirrors `username`).
        image_url:
          type:
          - string
          - 'null'
          description: Avatar URL.
        roles:
          type:
          - string
          - 'null'
          description: Member type slug (for example `rep`), or `admin`.
        country_code:
          type:
          - string
          - 'null'
          description: ISO 3166-1 alpha-2 country code of the rep.
        language_code:
          type:
          - string
          - 'null'
          description: ISO 639-1 language code of the rep.
        tax_exempt:
          type: boolean
          description: Whether the rep is tax exempt.
        sales_tax_id:
          type:
          - string
          - 'null'
          description: Sales tax ID on file for the rep.
        computed_full_name:
          type:
          - string
          - 'null'
          description: First and last name joined.
        name:
          type: string
          description: First and last name joined.
        computed_email:
          type:
          - string
          - 'null'
          description: Rep email address.
        phone:
          type:
          - string
          - 'null'
          description: Rep phone number.
    CompanyV0RepDetail:
      type: object
      description: A rep with points, rank, agreements and enroller.
      properties:
        id:
          type:
          - integer
          - string
          description: Rep ID. List results may return the member's UUID for reps that have no legacy integer ID.
        first_name:
          type:
          - string
          - 'null'
        last_name:
          type:
          - string
          - 'null'
        created_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the rep's membership was created.
        active:
          type:
          - boolean
          - 'null'
          description: Whether the rep is active.
        external_id:
          type:
          - string
          - 'null'
          description: Your system's identifier for the rep.
        username:
          type:
          - string
          - 'null'
          description: Rep username, used in share links.
        share_guid:
          type:
          - string
          - 'null'
          description: Share identifier (mirrors `username`).
        image_url:
          type:
          - string
          - 'null'
          description: Avatar URL.
        roles:
          type:
          - string
          - 'null'
          description: Member type slug (for example `rep`), or `admin`.
        country_code:
          type:
          - string
          - 'null'
          description: ISO 3166-1 alpha-2 country code of the rep.
        language_code:
          type:
          - string
          - 'null'
          description: ISO 639-1 language code of the rep.
        tax_exempt:
          type: boolean
          description: Whether the rep is tax exempt.
        sales_tax_id:
          type:
          - string
          - 'null'
          description: Sales tax ID on file for the rep.
        computed_full_name:
          type:
          - string
          - 'null'
          description: First and last name joined.
        name:
          type: string
          description: First and last name joined.
        computed_email:
          type:
          - string
          - 'null'
          description: Rep email address.
        phone:
          type:
          - string
          - 'null'
          description: Rep phone number.
        points:
          type: number
          description: Current points balance (0 when none).
        rank:
          type:
          - string
          - 'null'
          description: Name of the rep's rank.
        joined_date:
          type:
          - string
          - 'null'
          format: date-time
          description: When the rep joined (ISO 8601).
        customer_id:
          type:
          - integer
          - 'null'
          description: ID of the customer record linked to the rep, if any.
        agreement_acceptances:
          type:
          - array
          - 'null'
          description: Agreements the rep has accepted, newest first.
          items:
            type: object
        enroller:
          type:
          - object
          - 'null'
          description: The member who enrolled this rep, or null.
    CompanyV0UserAddress:
      type: object
      description: A saved address of the authenticated user.
      properties:
        id:
          type: integer
        name:
          type:
          - string
          - 'null'
          description: Recipient name.
        address1:
          type:
          - string
          - 'null'
        address2:
          type:
          - string
          - 'null'
        address3:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        subdivision_code:
          type:
          - string
          - 'null'
          description: ISO 3166-2 subdivision code derived from the state.
        postal_code:
          type:
          - string
          - 'null'
        country_code:
          type:
          - string
          - 'null'
          description: ISO 3166-1 alpha-2 country code.
        phone:
          type:
          - string
          - 'null'
        default:
          type:
          - boolean
          - 'null'
          description: Whether this is the user's default address.
        country:
          type:
          - object
          - 'null'
          description: Country of the address.
          properties:
            id:
              type: integer
            iso_name:
              type:
              - string
              - 'null'
            iso:
              type:
              - string
              - 'null'
              description: ISO 3166-1 alpha-2 code.
            iso3:
              type:
              - string
              - 'null'
            name:
              type:
              - string
              - 'null'
            numcode:
              type:
              - integer
              - 'null'
            active:
              type:
              - boolean
              - 'null'
            currency_code:
              type:
              - string
              - 'null'
            currency_symbol:
              type:
              - string
              - 'null'
            separator:
              type:
              - string
              - 'null'
              description: Decimal separator.
            delimiter:
              type:
              - string
              - 'null'
              description: Thousands delimiter.
            address3:
              type:
              - boolean
              - 'null'
              description: Whether the country uses a third address line.
            tax_rates:
              description: Tax rates configured for the country, or null.
    CompanyV0OrderPdfExport:
      type: object
      description: Where to download the generated order PDF.
      properties:
        url:
          type: string
          description: Signed download URL for the PDF. It expires 12 hours after it is issued.
        meta:
          type: object
          description: Request metadata.
          properties:
            request_id:
              type:
              - string
              - 'null'
              description: Request ID for support and tracing.
            timestamp:
              type: string
              format: date-time
              description: When the response was generated.
    CompanyV0TransactionLog:
      type: object
      description: A logged call Fluid made to, or received from, an external service while processing a cart, tax, payment, or integration.
      properties:
        id:
          type: integer
          description: Transaction log ID.
        name:
          type:
          - string
          - 'null'
          description: Name of the logged operation.
        type:
          type:
          - string
          - 'null'
          description: 'Log category: `cart`, `tax`, `payment`, or `integration`.'
          enum:
          - cart
          - tax
          - payment
          - integration
          - null
        url:
          type:
          - string
          - 'null'
          description: URL the call was made to.
        request_method:
          type:
          - string
          - 'null'
          description: HTTP method of the call.
        headers:
          type:
          - string
          - 'null'
          description: Request headers, as stored.
        request:
          description: Request payload that was sent, as stored.
        response_status:
          type:
          - string
          - 'null'
          description: HTTP status returned by the external service.
        response:
          description: Response payload that was received, as stored.
        status:
          type:
          - boolean
          - 'null'
          description: Success flag recorded with the log.
        repeatable:
          type:
          - boolean
          - 'null'
          description: Whether the call can be retried.
        created_at:
          type: string
          format: date-time
        resource:
          type:
          - string
          - 'null'
          description: Type of record the log belongs to, for example `Order` or `Cart`.
    CompanyV0RefundDetail:
      type: object
      description: A refund on one of the company's orders, with its per-item breakdown.
      properties:
        refund:
          type: object
          properties:
            id:
              type: integer
              description: Refund ID.
            order_id:
              type:
              - integer
              - 'null'
              description: ID of the refunded order.
            amount:
              type:
              - number
              - 'null'
              description: Amount refunded, rounded to the order currency.
            refund_type:
              type:
              - string
              - 'null'
              description: Refund type, such as `all`, `partial`, `tax`, `shipping`, `product_price`, `cv`, or `qv`.
            refund_component:
              type:
              - string
              - 'null'
              enum:
              - tax
              - shipping
              - product_price
              - null
              description: Cash component a partial refund targeted, or null when the refund was not scoped to one component.
            reason:
              type:
              - string
              - 'null'
              description: Reason given for the refund.
            cv:
              type:
              - string
              - 'null'
              description: Commissionable volume refunded, as a decimal string.
            qv:
              type:
              - string
              - 'null'
              description: Qualifying volume refunded, as a decimal string.
            created_at:
              type:
              - string
              - 'null'
              format: date-time
            order_item_refunds:
              type: array
              description: How the refund is attributed to individual order items.
              items:
                type: object
                properties:
                  id:
                    type: integer
                  item_id:
                    type:
                    - integer
                    - 'null'
                    description: ID of the refunded order item.
                  quantity:
                    type:
                    - integer
                    - 'null'
                    description: Quantity refunded.
                  amount:
                    type:
                    - number
                    - 'null'
                    description: Amount refunded for this item.
    CompanyV0PaypalOrderResult:
      type: object
      description: Outcome of creating the PayPal order. This operation answers 200 whether or not PayPal accepted the order, so check `success`.
      properties:
        success:
          type: boolean
          description: Whether PayPal created the order.
        data:
          type: object
          description: PayPal's Create Order response, passed through unchanged. Present when `success` is true.
          additionalProperties: true
        message:
          type: string
          description: Why the order could not be created. Present when `success` is false.
    CompanyV0MessagingMessage:
      type: object
      description: A message in a conversation, as seen by the acting recipient.
      properties:
        id:
          type: integer
        conversation_id:
          type:
          - integer
          - 'null'
        type:
          type:
          - string
          - 'null'
          description: Message type, for example `DirectMessage`, `SmsMessage`, or `EmailMessage`.
        status:
          type:
          - string
          - 'null'
          description: 'Delivery status: `queued`, `sent`, or `failed`.'
        body:
          type:
          - string
          - 'null'
          description: Message text.
        metadata:
          description: Free-form metadata sent with the message.
        attachments:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              url:
                type:
                - string
                - 'null'
              filename:
                type:
                - string
                - 'null'
              kind:
                type:
                - string
                - 'null'
              content_type:
                type:
                - string
                - 'null'
              content_size:
                type:
                - integer
                - 'null'
              image_url:
                type:
                - string
                - 'null'
              image_path:
                type:
                - string
                - 'null'
              thumbnail_url:
                type:
                - string
                - 'null'
              attachable_type:
                type:
                - string
                - 'null'
              attachable_id:
                type:
                - integer
                - 'null'
              metadata: {}
        sender_recipient:
          type:
          - object
          - 'null'
          description: The recipient who sent the message.
          properties:
            id:
              type: integer
            first_name:
              type:
              - string
              - 'null'
            last_name:
              type:
              - string
              - 'null'
            email:
              type:
              - string
              - 'null'
            phone:
              type:
              - string
              - 'null'
            image_url:
              type:
              - string
              - 'null'
            avatar_background:
              type:
              - string
              - 'null'
            discarded_at:
              type:
              - string
              - 'null'
            pro_user:
              type:
              - boolean
              - 'null'
            blocked:
              type:
              - boolean
              - 'null'
            blocker:
              type:
              - boolean
              - 'null'
        replied_to_message:
          type:
          - object
          - 'null'
          description: The message this one replies to, in the same shape, or null.
        mentioned_recipients:
          type: array
          items:
            type: object
          description: Recipients mentioned in the message.
        seen_by:
          type: array
          items:
            type: object
          description: Up to 25 recipients who have seen the message. Always empty in channels.
        seen_by_count:
          type:
          - integer
          - 'null'
        reaction:
          type:
          - string
          - 'null'
          description: The acting recipient's reaction, if any.
        reaction_stats:
          description: Reaction counts.
        emoji_only_count:
          type:
          - integer
          - 'null'
        pinned:
          type:
          - boolean
          - 'null'
        sent_at:
          type:
          - string
          - 'null'
          format: date-time
        edited_at:
          type:
          - string
          - 'null'
          format: date-time
        deleted_at:
          type:
          - string
          - 'null'
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CompanyV0MessagingRecipientPage:
      description: A page of recipients, as a two-item array. The first item holds the pagination details and the second holds the recipients.
      type: array
      minItems: 2
      maxItems: 2
      prefixItems:
      - type: object
        properties:
          pagination:
            type: object
            properties:
              current:
                type: integer
              previous:
                type:
                - integer
                - 'null'
              next:
                type:
                - integer
                - 'null'
              per_page:
                type: integer
              pages:
                type: integer
              count:
                type: integer
        required:
        - pagination
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/CompanyMessagingConversationParticipant'
        required:
        - items
    CompanyV0SectionItem:
      type: object
      description: An item in a share-page section. Each item wraps one shareable resource.
      properties:
        id:
          type:
          - integer
          - 'null'
          description: Section item ID. Null for items generated on the fly in system-populated sections, such as best sellers or recently shared.
        order:
          type:
          - integer
          - 'null'
          description: Position of the item within the section.
        pin_id:
          type:
          - integer
          - string
          - 'null'
          description: ID of the member's pin, present on items of the saved-for-later section; otherwise null.
        relateable_type:
          type: string
          description: 'Type of the wrapped resource: `Product`, `Medium`, `Promotion`, `Page`, `EnrollmentPack`, or `Library` (a playlist).'
        relateable:
          type:
          - object
          - 'null'
          description: The wrapped resource, serialized with the standard fields for its type.
          properties:
            id:
              type: integer
              description: ID of the wrapped resource.
          additionalProperties:
            $ref: '#/components/schemas/JsonValue'
    CompanyV0Section:
      type: object
      description: A section of the member share page, with up to its first 10 items.
      properties:
        id:
          type: integer
          description: Section ID.
        order:
          type:
          - integer
          - 'null'
          description: Display position of the section on the share page.
        pinned:
          type:
          - boolean
          - 'null'
          description: Whether the section is pinned to the top of the page.
        highlight_assets:
          type:
          - boolean
          - 'null'
          description: Whether the section's items are shown highlighted.
        title:
          type:
          - string
          - 'null'
          description: Section title. System-generated sections are translated into the caller's language.
        description:
          type:
          - string
          - 'null'
          description: Section text in the caller's language. Currently carries the same value as `title`.
        slug:
          type:
          - string
          - 'null'
          description: The section's untranslated title. It stays the same in every language, so clients use it to recognise system sections.
        section_items:
          type: array
          description: The section's first 10 items.
          items:
            $ref: '#/components/schemas/CompanyV0SectionItem'
    CompanyV0SectionItemPage:
      description: A page of section items, as a two-item array. The first item holds the pagination details and the second holds the section items.
      type: array
      minItems: 2
      maxItems: 2
      prefixItems:
      - type: object
        properties:
          pagination:
            type: object
            properties:
              current:
                type: integer
                description: Current page number.
              previous:
                type:
                - integer
                - 'null'
                description: Previous page number, or null on the first page.
              next:
                type:
                - integer
                - 'null'
                description: Next page number, or null on the last page.
              per_page:
                type: integer
                description: Items per page.
              pages:
                type: integer
                description: Total number of pages.
              count:
                type: integer
                description: Total number of items.
        required:
        - pagination
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/CompanyV0SectionItem'
        required:
        - items
    CompanyV0Event:
      type: object
      description: A company event.
      properties:
        id:
          type: integer
        title:
          type:
          - string
          - 'null'
        description:
          type:
          - object
          - 'null'
          description: Rich-text description, or null. The text is in `body`.
          properties:
            body:
              type:
              - string
              - 'null'
              description: Description HTML.
            locale:
              type:
              - string
              - 'null'
        color:
          type:
          - string
          - 'null'
          description: Display color.
        url:
          type:
          - string
          - 'null'
          description: Link for the event.
        venue:
          type:
          - string
          - 'null'
        start:
          type:
          - string
          - 'null'
          format: date-time
        end:
          type:
          - string
          - 'null'
          format: date-time
        is_all_day:
          type: boolean
        time_zone:
          type:
          - string
          - 'null'
          description: Time zone abbreviation, for example `EDT`, or the stored zone name when it is not recognised.
        canonical_time_zone:
          type:
          - string
          - 'null'
          description: Stored IANA time zone name.
        active:
          type:
          - boolean
          - 'null'
        status:
          type:
          - string
          - 'null'
          description: '`STARTING SOON`, `IN PROGRESS`, or `CONCLUDED`; null for events that are not near or past.'
        user_id:
          type:
          - integer
          - 'null'
        send_notification:
          type:
          - boolean
          - 'null'
        notification_sent_at:
          type:
          - string
          - 'null'
          format: date-time
        image_url:
          type:
          - string
          - 'null'
          description: Thumbnail of the first image.
        countries:
          type: array
          items:
            type: string
          description: ISO codes of the countries the event is limited to.
        images:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              position:
                type:
                - integer
                - 'null'
              mini:
                type:
                - string
                - 'null'
              detail:
                type:
                - string
                - 'null'
              full:
                type:
                - string
                - 'null'
    CompanyV0MessageResult:
      type: object
      properties:
        message:
          type: string
          description: Human-readable result.
    CompanyV0UserAgreementResult:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
    CompanyV0CompanyProfile:
      type: object
      description: The company's settings as returned after an update.
      properties:
        id:
          type: integer
        name:
          type:
          - string
          - 'null'
        active:
          type:
          - boolean
          - 'null'
        sandbox:
          type:
          - boolean
          - 'null'
          description: Whether the company is in sandbox mode for testing.
        is_mlm:
          type:
          - boolean
          - 'null'
          description: Whether the company runs a direct-selling (MLM) business.
        fluid_shop:
          type:
          - string
          - 'null'
          description: The company's Fluid storefront host.
        domain:
          type:
          - string
          - 'null'
        color:
          type:
          - string
          - 'null'
        tax_class:
          type:
          - string
          - 'null'
        appstore_url:
          type:
          - string
          - 'null'
        playstore_url:
          type:
          - string
          - 'null'
        pre_purchase_enrollment_fields:
          type:
          - boolean
          - 'null'
        allow_signup:
          type:
          - boolean
          - 'null'
          description: Whether self-signup is allowed.
        company_pays:
          type:
          - boolean
          - 'null'
          description: Whether the company pays for self-signup.
        olumo_token:
          type:
          - string
          - 'null'
        apn_bundle:
          type:
          - string
          - 'null'
        ibi_bundle:
          type:
          - string
          - 'null'
        signup_url:
          type:
          - string
          - 'null'
        reward_points_enabled:
          type:
          - boolean
          - 'null'
        reward_points_apply_to_subtotal:
          type:
          - boolean
          - 'null'
        reward_points_label_singular:
          type:
          - string
          - 'null'
        reward_points_label_plural:
          type:
          - string
          - 'null'
        mobile_app_identifier:
          type:
          - string
          - 'null'
        support_email:
          type:
          - string
          - 'null'
        country_code:
          type:
          - string
          - 'null'
        shipping:
          type:
          - string
          - 'null'
          description: Shipping method label.
        shipping_type:
          type:
          - string
          - 'null'
          description: 'Shipping type: `manual`, `country`, `droplet`, `fluid-rates`, or `free-shipping`.'
        allow_free_shipping:
          type:
          - boolean
          - 'null'
        email_provider:
          type:
          - string
          - 'null'
          description: 'Email delivery provider: `fluid` or `droplet`.'
    CompanyV0CompanyUpdateRequest:
      type: object
      properties:
        company:
          type: object
          description: Required. Company attributes to change. Only the keys you send are updated. Other permitted company settings keys (display toggles, banner, social links, and similar) are accepted as well.
          properties:
            name:
              type: string
            legal_name:
              type: string
            logo_url:
              type: string
            active:
              type: boolean
            subdomain:
              type: string
            domain:
              type: string
            color:
              type: string
            support_email:
              type: string
            reply_to:
              type: string
            order_email:
              type: string
            allow_signup:
              type: boolean
            company_pays:
              type: boolean
            appstore_url:
              type: string
            playstore_url:
              type: string
            facebook:
              type: string
            instagram:
              type: string
            twitter:
              type: string
            linkedin:
              type: string
            youtube:
              type: string
            tiktok:
              type: string
            track_inventory:
              type: boolean
            country_ids:
              type: array
              items:
                type: integer
              description: IDs of the countries the company sells in.
            language_ids:
              type: array
              items:
                type: integer
              description: IDs of the languages the company supports.
    CompanyV0Plan:
      type: object
      description: A subscription plan.
      properties:
        id:
          type: integer
        label:
          type:
          - string
          - 'null'
          description: Plan name.
        slug:
          type:
          - string
          - 'null'
        amount:
          type:
          - string
          - number
          - 'null'
          description: Price, as a decimal.
        discount:
          type:
          - string
          - number
          - 'null'
          description: Discount percentage, as a decimal.
        renew_duration:
          type:
          - integer
          - string
          - 'null'
          description: Renewal interval, in seconds.
        status:
          type:
          - string
          - 'null'
          description: '`active` or `inactive`.'
        default:
          type:
          - boolean
          - 'null'
        company_id:
          type:
          - integer
          - 'null'
        uuid_v7:
          type:
          - string
          - 'null'
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CompanyV0Rank:
      type: object
      description: A rank in the company's compensation plan.
      properties:
        id:
          type: integer
        company_id:
          type:
          - integer
          - 'null'
        name:
          type:
          - string
          - 'null'
        external_id:
          type:
          - string
          - 'null'
          description: Your identifier for the rank, unique per company.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CompanyV0RankResult:
      allOf:
      - $ref: '#/components/schemas/CompanyV0Rank'
      - type: object
        properties:
          meta:
            type: object
            description: Request metadata.
            properties:
              request_id:
                type:
                - string
                - 'null'
                description: Request ID for support and tracing.
              timestamp:
                type: string
                format: date-time
                description: When the response was generated.
    CompanyV0PublicCategory:
      type: object
      description: A public Fluid category.
      properties:
        id:
          type: integer
          description: Category ID.
        title:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        public:
          type:
          - boolean
          - 'null'
        source_type:
          type:
          - string
          - 'null'
          description: Resource type the category groups, for example `product`.
        image_url:
          type:
          - string
          - 'null'
        position:
          type:
          - integer
          - 'null'
          description: Sort position.
        parent_id:
          type:
          - integer
          - 'null'
          description: Parent category ID, or null for a root.
        has_children:
          type: boolean
          description: Whether the category has sub-categories.
        sub_categories:
          type: array
          description: Child categories, in the same shape.
          items:
            $ref: '#/components/schemas/CompanyV0PublicCategory'
    CompanyV0Page:
      type: object
      description: A company page.
      properties:
        id:
          type: integer
          description: Page ID.
        title:
          type:
          - string
          - 'null'
          description: Page title in the request language.
        slug:
          type:
          - string
          - 'null'
          description: URL slug.
        source:
          type:
          - string
          - 'null'
          description: 'How the page is authored: `code` or `builder`.'
        publish:
          type:
          - boolean
          - 'null'
          description: Whether the page is published.
        active:
          type:
          - boolean
          - 'null'
          description: Same as `publish`.
        html_code:
          type:
          - string
          - 'null'
          description: Page HTML.
        json:
          description: Builder document for builder-authored pages, or null.
        metadata:
          type:
          - object
          - 'null'
          description: Free-form metadata.
          additionalProperties:
            $ref: '#/components/schemas/JsonValue'
        email:
          type:
          - string
          - 'null'
        image_url:
          type:
          - string
          - 'null'
          description: Poster image URL, or the default placeholder.
        preview_url:
          type:
          - string
          - 'null'
          description: URL to preview the page on the storefront.
        stripped_description:
          type:
          - string
          - 'null'
          description: SEO description, or null.
        use_search_engine:
          type:
          - boolean
          - 'null'
          description: Whether search engines may index the page.
        show_on_site_search:
          type:
          - boolean
          - 'null'
          description: Whether the page appears in site search.
        prompts_enabled:
          type:
          - boolean
          - 'null'
        prompts:
          type:
          - array
          - 'null'
          description: Share prompts.
          items:
            type: object
            properties:
              id:
                type: integer
              title:
                type:
                - string
                - 'null'
              content:
                type:
                - string
                - 'null'
        countries:
          type:
          - array
          - 'null'
          description: Countries the page is limited to; empty means all countries.
          items:
            type: object
        views:
          type:
          - integer
          - 'null'
          description: Views of the caller's shares of this page.
        leads:
          type:
          - integer
          - 'null'
          description: Leads from the caller's shares of this page.
        share_link:
          type:
          - string
          - 'null'
          description: The caller's share link, if one exists.
        label:
          type:
          - object
          - 'null'
          description: Label shown on the page card, or null.
        display_tag:
          type:
          - string
          - 'null'
        application_theme_template:
          type:
          - object
          - 'null'
          description: Theme template that renders the page, or null.
        search_engine_optimizer:
          type:
          - object
          - 'null'
          description: SEO settings, or null.
          properties:
            id:
              type: integer
            title:
              type:
              - string
              - 'null'
            description:
              type:
              - string
              - 'null'
            image_url:
              type:
              - string
              - 'null'
            image_path:
              type:
              - string
              - 'null'
            block_crawler:
              type:
              - boolean
              - 'null'
        open_graph:
          type:
          - object
          - 'null'
          description: Open Graph settings, or null.
          properties:
            id:
              type: integer
            title:
              type:
              - string
              - 'null'
            description:
              type:
              - string
              - 'null'
            image_url:
              type:
              - string
              - 'null'
    CompanyV0CatalogProduct:
      type: object
      description: A product as returned by the legacy product list endpoints. Prices are decimal strings; display_* fields are preformatted for the resolved country and currency.
      properties:
        id:
          type: integer
          description: Product ID.
        title:
          type:
          - string
          - 'null'
          description: Product title in the request language.
        description:
          description: Product description as stored (rich text), or null.
        stripped:
          type:
          - string
          - 'null'
          description: Plain-text version of the description.
        sku:
          type:
          - string
          - 'null'
          description: Product SKU.
        product_type:
          type:
          - string
          - 'null'
          description: Product type, for example `product`.
        external_id:
          type:
          - string
          - 'null'
          description: Identifier from an external system, if any.
        vendor:
          type:
          - string
          - 'null'
          description: Vendor name.
        active:
          type: boolean
          description: Whether the product is active.
        public:
          type:
          - boolean
          - 'null'
          description: Whether the product is public.
        in_stock:
          type:
          - boolean
          - 'null'
          description: Stored in-stock flag.
        out_of_stock:
          type:
          - boolean
          - 'null'
          description: Whether the default variant cannot currently be bought.
        low_in_stock:
          type:
          - boolean
          - 'null'
          description: Whether the default variant has limited stock.
        unlimited_inventory:
          type:
          - boolean
          - 'null'
          description: Whether inventory is not tracked.
        subscription_only:
          type:
          - boolean
          - 'null'
          description: Whether the default variant can only be bought on subscription.
        publish_to_portal_shop:
          type:
          - boolean
          - 'null'
        publish_to_retail_store:
          type:
          - boolean
          - 'null'
        publish_to_mobile_store:
          type:
          - boolean
          - 'null'
        publish_to_share_tab:
          type:
          - boolean
          - 'null'
        prompts_enabled:
          type:
          - boolean
          - 'null'
        hide_rating?:
          type:
          - boolean
          - 'null'
          description: Whether ratings are hidden for this product.
        hide_reviews?:
          type:
          - boolean
          - 'null'
          description: Whether reviews are hidden for this product.
        commission:
          type:
          - string
          - 'null'
          description: Commission rate as a decimal string.
        shipping:
          type:
          - string
          - 'null'
          description: Flat shipping amount as a decimal string.
        price:
          type:
          - string
          - 'null'
          description: Retail one-time price for the resolved country, or null when the product has no price there.
        subscription_price:
          type:
          - string
          - 'null'
          description: Retail subscription price, or null.
        wholesale_price:
          type:
          - string
          - 'null'
          description: Price for the caller's pricing tier (retail when the caller buys at retail), or null.
        wholesale_subscription_price:
          type:
          - string
          - 'null'
          description: Subscription price for the caller's pricing tier, or null.
        display_price:
          type:
          - string
          - 'null'
          description: Formatted retail price, or an empty string.
        display_subscription_price:
          type:
          - string
          - 'null'
          description: Formatted retail subscription price.
        display_wholesale_price:
          type:
          - string
          - 'null'
          description: Formatted tier price, or an empty string.
        display_wholesale_subscription_price:
          type:
          - string
          - 'null'
          description: Formatted tier subscription price.
        price_range:
          type:
          - array
          - 'null'
          description: Formatted lowest and highest variant prices.
          items:
            type:
            - string
            - 'null'
        price_range_formatted:
          type:
          - string
          - 'null'
          description: Formatted price, or a "low - high" range.
        currency_code:
          type:
          - string
          - 'null'
          description: ISO 4217 currency code.
        currency_symbol:
          type:
          - string
          - 'null'
        country_code:
          type:
          - string
          - 'null'
          description: Lowercase ISO code of the product's first available country.
        wholesale_cv:
          description: Commission volume for the caller's tier, as a decimal string.
        wholesale_qv:
          description: Qualifying volume for the caller's tier, as a decimal string.
        views:
          type:
          - integer
          - 'null'
          description: Views of the caller's shares of this product.
        leads:
          type:
          - integer
          - 'null'
          description: Leads from the caller's shares of this product.
        share_link:
          type:
          - string
          - 'null'
          description: The caller's share link, if one exists.
        image_url:
          type:
          - string
          - 'null'
          description: Thumbnail image URL.
        image:
          type:
          - object
          - 'null'
          description: Image URLs in mini, detail, and full sizes.
          properties:
            mini:
              type:
              - string
              - 'null'
            detail:
              type:
              - string
              - 'null'
            full:
              type:
              - string
              - 'null'
        images:
          type:
          - array
          - 'null'
          description: Ordered product images.
          items:
            type: object
            properties:
              id:
                type: integer
              image_url:
                type:
                - string
                - 'null'
              image_path:
                type:
                - string
                - 'null'
              position:
                type:
                - integer
                - 'null'
        average_rating:
          type:
          - number
          - 'null'
          description: Average review rating.
        total_reviews:
          type:
          - integer
          - 'null'
          description: Number of reviews.
        label:
          type:
          - object
          - 'null'
          description: Label shown on the product card, or null.
        display_tag:
          type:
          - string
          - 'null'
          description: Lowercase system label title, or null.
        countries:
          type:
          - array
          - 'null'
          description: Countries the product is available in.
          items:
            type: object
        variants:
          type:
          - array
          - 'null'
          description: Variants with their per-country prices.
          items:
            type: object
        default_variant:
          type:
          - object
          - 'null'
          description: The first purchasable variant, or null.
        options:
          type:
          - array
          - 'null'
          description: Product options, such as size or color.
        option_values:
          description: Available option values for the resolved country, or null.
        prompts:
          type:
          - array
          - 'null'
          description: Share prompts for the product.
        enroll_products:
          type:
          - array
          - 'null'
          description: Enrollment pack entries that include this product.
        enrollment_packs:
          type:
          - array
          - 'null'
          description: Enrollment packs that include this product.
    CompanyV0LegacyPagination:
      type: object
      description: Page-numbered pagination details for the legacy list endpoints that return a two-element array.
      properties:
        current:
          type: integer
          description: Current page number.
        previous:
          type:
          - integer
          - 'null'
          description: Previous page number, or null on the first page.
        next:
          type:
          - integer
          - 'null'
          description: Next page number, or null on the last page.
        per_page:
          type: integer
          description: Page size used for this response.
        pages:
          type: integer
          description: Total number of pages.
        count:
          type: integer
          description: Total number of matching records.
    CompanyV0CompanyUser:
      type: object
      description: A company member (rep or admin) with the user profile it belongs to.
      properties:
        id:
          type:
          - integer
          - string
          description: Member ID. Use it as `{id}` on the other company user endpoints.
        company_id:
          type:
          - integer
          - 'null'
          description: ID of the company the membership belongs to.
        active:
          type:
          - boolean
          - 'null'
          description: Whether the membership is active.
        external_id:
          type:
          - string
          - 'null'
          description: The member's ID in your external system.
        username:
          type:
          - string
          - 'null'
          description: Member username, used in share links.
        image_url:
          type:
          - string
          - 'null'
          description: Avatar URL.
        mysite_url:
          type:
          - string
          - 'null'
          description: URL of the member's personal site.
        legacy_number:
          type:
          - string
          - integer
          - 'null'
          description: Legacy member number carried over from a previous system, if any.
        metadata:
          type:
          - object
          - 'null'
          description: Custom key-value data stored on the member.
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        roles:
          type:
          - string
          - 'null'
          description: Member type slug (for example `rep` or `customer`), or `admin`.
        share_guid:
          type:
          - string
          - 'null'
          description: Share identifier (mirrors `username`).
        affiliate:
          type:
          - object
          - 'null'
          description: The member's sponsor. An empty object when the member has no sponsor.
          properties:
            id:
              type:
              - integer
              - string
              description: Sponsor ID.
            external_id:
              type:
              - string
              - 'null'
              description: Sponsor ID in your external system.
            username:
              type:
              - string
              - 'null'
              description: Sponsor username.
            email:
              type:
              - string
              - 'null'
              description: Sponsor email address.
            credit:
              type:
              - string
              - 'null'
              description: Sponsor username used for attribution credit.
        rank:
          type:
          - string
          - 'null'
          description: External ID of the member's rank.
        member_id:
          type:
          - string
          - 'null'
          description: Member UUID, the same key sent in member webhooks. Null for older records that have none yet.
        user:
          type:
          - object
          - 'null'
          description: The user profile behind the membership.
          properties:
            id:
              type: integer
              description: User ID.
            email:
              type:
              - string
              - 'null'
            first_name:
              type:
              - string
              - 'null'
            last_name:
              type:
              - string
              - 'null'
            avatar:
              type:
              - string
              - 'null'
            phone:
              type:
              - string
              - 'null'
            google_id:
              type:
              - string
              - 'null'
            bio:
              type:
              - string
              - 'null'
            facebook:
              type:
              - string
              - 'null'
            instagram:
              type:
              - string
              - 'null'
            twitter:
              type:
              - string
              - 'null'
            linkedin:
              type:
              - string
              - 'null'
            whatsapp:
              type:
              - string
              - 'null'
            wechat:
              type:
              - string
              - 'null'
            youtube:
              type:
              - string
              - 'null'
            zip_code:
              type:
              - string
              - 'null'
            dob:
              type:
              - string
              - 'null'
              description: Date of birth.
            gender:
              type:
              - string
              - 'null'
            time_zone:
              type:
              - string
              - 'null'
            dnd:
              type:
              - string
              - 'null'
              description: Do-not-disturb setting.
            language:
              type:
              - object
              - 'null'
              properties:
                name:
                  type:
                  - string
                  - 'null'
                iso:
                  type:
                  - string
                  - 'null'
            country:
              type:
              - object
              - 'null'
              properties:
                name:
                  type:
                  - string
                  - 'null'
                iso:
                  type:
                  - string
                  - 'null'
                num_code:
                  type:
                  - integer
                  - 'null'
                  description: ISO 3166-1 numeric country code.
    CompanyV0UserProfile:
      type: object
      description: The profile of a user as seen within the current company. Only the most commonly used fields are listed; the response carries further app-specific fields.
      properties:
        id:
          type: integer
          description: User ID.
        first_name:
          type:
          - string
          - 'null'
        last_name:
          type:
          - string
          - 'null'
        full_name:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
        bio:
          type:
          - string
          - 'null'
        time_zone:
          type:
          - string
          - 'null'
        image_url:
          type:
          - string
          - 'null'
          description: Avatar URL.
        role:
          type:
          - string
          - 'null'
          description: The user's member type slug in the current company (for example `rep`), or `admin`.
        affiliate_id:
          type:
          - integer
          - string
          - 'null'
          description: ID of the user's membership in the current company.
        public_id:
          type:
          - string
          - 'null'
          description: Public UUID of the user's membership in the current company.
        share_link:
          type:
          - string
          - 'null'
          description: The user's personal site URL.
        mysite_url:
          type:
          - string
          - 'null'
          description: The user's personal site URL.
        replicated_url:
          type:
          - string
          - 'null'
          description: The user's replicated-site URL on the company's own domain, or null when there is none.
        affiliate_shop_url:
          type:
          - string
          - 'null'
          description: The user's shop URL.
        total_points:
          type:
          - number
          - string
          - 'null'
          description: The user's points balance in the current company.
        email_signature:
          type:
          - string
          - 'null'
          description: Email signature. Falls back to the user's full name when none is set.
        recipient_id:
          type:
          - integer
          - 'null'
          description: The user's messaging recipient ID. Present only when known.
        dnd:
          type:
          - string
          - 'null'
          description: Do-not-disturb setting (`off`, `all`, `push`, or `email`).
        push_notifications:
          type:
          - boolean
          - 'null'
        email_notifications:
          type:
          - boolean
          - 'null'
        sms_notifications:
          type:
          - boolean
          - 'null'
        unread_messages_count:
          type:
          - integer
          - 'null'
          description: Number of unread messages.
        country:
          type:
          - object
          - 'null'
          description: The user's country, limited to the countries the company sells in.
          properties:
            id:
              type: integer
            iso:
              type:
              - string
              - 'null'
            name:
              type:
              - string
              - 'null'
        language:
          type:
          - object
          - 'null'
          description: The language set on the user's membership.
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        companies:
          type:
          - array
          - 'null'
          description: Active companies the user belongs to.
          items:
            "$ref": "#/components/schemas/JsonValue"
        created_at:
          type:
          - string
          - 'null'
          format: date-time
    CompanyV0Favorite:
      type: object
      description: An item a member has pinned to the favorites on their personal site.
      properties:
        id:
          type: integer
          description: Favorite ID.
        user_company_id:
          type:
          - integer
          - 'null'
          description: ID of the membership that owns the favorite.
        order:
          type:
          - integer
          - 'null'
          description: Position in the member's favorites list.
        created_at:
          type:
          - string
          - 'null'
          format: date-time
        favoriteable_type:
          type: string
          description: Type of the favorited item, for example `Product`, `Medium`, `Page`, or `EnrollmentPack`.
        favoriteable:
          type:
          - object
          - 'null'
          description: The favorited item, rendered in the same shape the matching resource endpoint returns.
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
    CompanyV0UserNotificationPref:
      type: object
      description: One notification setting for the current user.
      properties:
        id:
          type: integer
          description: Setting ID. Use it as `{id}` or in `record_ids` when updating.
        slug:
          type:
          - string
          - 'null'
          description: Notification key, for example `new_lead` or `video_complete_contact`.
        email:
          type:
          - boolean
          - 'null'
          description: Whether this notification is sent by email.
        push:
          type:
          - boolean
          - 'null'
          description: Whether this notification is sent as a push notification.
        category:
          type:
          - string
          - 'null'
          description: Notification group, one of `general`, `share`, `lead`, `comment`, `enrollment`, `order`, or `messaging`.
    UnauthorizedResponse:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    AgreementBulkIdsRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        agreement_ids:
          type:
          - array
          - 'null'
          items:
            type:
            - integer
            - string
            - number
            - 'null'
    BulkDeleteAgreementsResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        agreement_ids:
          type:
          - array
          - 'null'
          items:
            type:
            - integer
            - string
            - number
            - 'null'
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    GetAgreementResponse404ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        error_message:
          type:
          - string
          - number
          - integer
          - 'null'
        errors:
          type:
          - object
          - 'null'
          properties:
            id:
              type:
              - array
              - 'null'
              items:
                type:
                - string
                - number
                - integer
                - 'null'
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    CompanyDeleteResponse:
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    GetApiCompanyAnnouncementsResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        announcements:
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/CompanyAnnouncement"
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
            total_count:
              type:
              - integer
              - string
              - number
              - 'null'
            total_pages:
              type:
              - integer
              - string
              - number
              - 'null'
            current_page:
              type:
              - integer
              - string
              - number
              - 'null'
    GetApiCompanyAnnouncementsResponse401ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        error:
          type:
          - string
          - number
          - integer
          - 'null'
    ListCommerceBusinessTypesResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        business_types:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            properties:
              value:
                type:
                - string
                - number
                - integer
                - 'null'
              name:
                type:
                - string
                - number
                - integer
                - 'null'
              slug:
                type:
                - string
                - number
                - integer
                - 'null'
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - 'null'
              - number
              - integer
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    GetCurrentCompanyResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        company:
          title: Company
          type:
          - object
          - 'null'
          properties:
            id:
              type:
              - integer
              - string
              - number
              - 'null'
            name:
              type:
              - string
              - number
              - integer
              - 'null'
            active:
              type:
              - boolean
              - 'null'
              default: true
            shipping:
              description: 'Company shipping. Possible values: Flat Country, Droplet, Free, Product-based'
              type:
              - string
              - 'null'
              - number
              - integer
            allow_free_shipping:
              type:
              - boolean
              - 'null'
            sandbox:
              description: Whether the company is in sandbox mode for testing
              type:
              - boolean
              - 'null'
            is_mlm:
              description: Whether the company is a Multi-Level Marketing (MLM) business
              type:
              - boolean
              - 'null'
            fluid_shop:
              type:
              - string
              - number
              - integer
              - 'null'
            domain:
              type:
              - string
              - number
              - integer
              - 'null'
            color:
              type:
              - string
              - number
              - integer
              - 'null'
            tax_class:
              description: Tax class for the company
              type:
              - string
              - number
              - integer
              - 'null'
            appstore_url:
              description: App Store URL for the company's mobile app
              type:
              - string
              - 'null'
              - number
              - integer
            playstore_url:
              description: Google Play Store URL for the company's mobile app
              type:
              - string
              - 'null'
              - number
              - integer
            pre_purchase_enrollment_fields:
              type:
              - boolean
              - 'null'
            allow_signup:
              description: Whether to allow self-signup
              type:
              - boolean
              - 'null'
            company_pays:
              description: Whether the company pays for self-signup
              type:
              - boolean
              - 'null'
            olumo_token:
              description: OLUMO token for the company
              type:
              - string
              - 'null'
              - number
              - integer
            apn_bundle:
              description: APN bundle for the company
              type:
              - string
              - 'null'
              - number
              - integer
            ibi_bundle:
              description: IBI bundle for the company
              type:
              - string
              - 'null'
              - number
              - integer
            signup_url:
              description: Signup URL for the company
              type:
              - string
              - 'null'
              - number
              - integer
            vgs_client_id:
              description: VGS client ID for the company
              type:
              - string
              - 'null'
              - number
              - integer
            vgs_client_secret:
              description: VGS client secret for the company (obfuscated)
              type:
              - string
              - 'null'
              - number
              - integer
            vgs_environment:
              description: VGS environment for the company
              type:
              - string
              - 'null'
              - number
              - integer
            network_tokens_enabled:
              description: Whether network tokens are enabled
              type:
              - boolean
              - 'null'
            payout_collection_enabled:
              description: Whether payout collection is enabled
              type:
              - boolean
              - 'null'
            payout_collection_schedule:
              description: Schedule for payout collection
              type:
              - string
              - 'null'
              - number
              - integer
            minimum_payout_amount:
              description: Minimum payout amount
              type:
              - number
              - 'null'
              - string
              - integer
            reward_points_enabled:
              description: Whether the reward points system is enabled
              type:
              - boolean
              - 'null'
            reward_points_label_singular:
              description: Customer-facing singular label for reward points
              type: string
            reward_points_label_plural:
              description: Customer-facing plural label for reward points
              type: string
            mobile_app_identifier:
              type:
              - string
              - 'null'
              - number
              - integer
            support_email:
              description: Support email for the company
              type:
              - string
              - 'null'
              - number
              - integer
            country_code:
              type:
              - string
              - 'null'
              - number
              - integer
            visa_acquirer_bin:
              type:
              - string
              - 'null'
              - number
              - integer
            visa_acquirer_merchant_id:
              type:
              - string
              - 'null'
              - number
              - integer
            mastercard_acquirer_bin:
              type:
              - string
              - 'null'
              - number
              - integer
            mastercard_acquirer_merchant_id:
              type:
              - string
              - 'null'
              - number
              - integer
            amex_acquirer_bin:
              type:
              - string
              - 'null'
              - number
              - integer
            amex_acquirer_merchant_id:
              type:
              - string
              - 'null'
              - number
              - integer
            amex_acquirer_requestor_id:
              type:
              - string
              - 'null'
              - number
              - integer
            amex_acquirer_requestor_name:
              type:
              - string
              - 'null'
              - number
              - integer
            discover_acquirer_bin:
              type:
              - string
              - 'null'
              - number
              - integer
            discover_acquirer_merchant_id:
              type:
              - string
              - 'null'
              - number
              - integer
            discover_acquirer_requestor_id:
              type:
              - string
              - 'null'
              - number
              - integer
            discover_acquirer_requestor_name:
              type:
              - string
              - 'null'
              - number
              - integer
            email_provider:
              description: 'Email delivery provider. Possible values: fluid, droplet'
              type:
              - string
              - number
              - integer
              - 'null'
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    CreateCompanyResponse200ApplicationJsonSchema:
      type: object
      required:
      - company
      - user_company
      - requirements
      - meta
      properties:
        company:
          type: object
          required:
          - id
          - name
          - subdomain
          - fluid_shop
          properties:
            id:
              type: integer
              example: 318204
            name:
              type: string
              example: Harborline Wellness
            subdomain:
              type: string
              description: The stored, normalized subdomain.
              example: harborline
            fluid_shop:
              type: string
              example: harborline.fluid.app
        user_company:
          type: object
          required:
          - id
          - email
          properties:
            id:
              type: integer
              example: 902771
            email:
              type: string
              example: maya@harborlinewellness.com
        requirements:
          type: object
          description: What the merchant must still do, at the moment of
            creation, before the company is served at its platform hostnames.
            The current company in `GET /api/me` (rep-v0) carries the same
            field, read from the same fact.
          required:
          - currently_due
          properties:
            currently_due:
              type: array
              description: Outstanding steps. A public signup always starts with
                `email_confirmation`. Until an admin redeems, at Fluid admin, a
                sign-in code or link emailed to them for this company, the
                company's storefront, portal and account hostnames on the Fluid
                platform are not served.
              items:
                type: string
                description: Known values - `email_confirmation`. New
                  values may be added; ignore one you do not recognise rather
                  than treat it as an error.
              example:
              - email_confirmation
        meta:
          type: object
          properties:
            request_id:
              type:
              - string
              - 'null'
            timestamp:
              type: string
    CreateCompanyResponse422ApplicationJsonSchema:
      type: object
      properties:
        error_message:
          type: string
          example: Invalid parameters
        errors:
          type: object
          description: |
            Keyed by the failing field, for example `errors.user.email` or
            `errors.company.subdomain` (`is taken`). Other setup failures arrive
            under `errors.company.base` with a message that is not stable; do not
            parse it. `errors.base` means a browser signup check rejected the
            request: send only the documented fields.
          additionalProperties: true
        meta:
          type: object
          properties:
            request_id:
              type:
              - string
              - 'null'
            timestamp:
              type: string
    Postcreate6RequestBodyApplicationJsonSchema:
      allOf:
      - "$ref": "#/components/schemas/createrequest7"
      - {}
    createrequest7:
      title: createrequest7
      type:
      - object
      - 'null'
      properties:
        activity:
          allOf:
          - "$ref": "#/components/schemas/Activity"
          - {}
    Activity:
      title: Activity
      type:
      - object
      - 'null'
      properties:
        title:
          description: Activity headline. Required.
          type:
          - string
          - number
          - integer
          - 'null'
        description:
          type:
          - string
          - number
          - integer
          - 'null'
        affiliate:
          description: Identifies the member whose feed receives the activity. Give one of `id`, `external_id`, `username`, `email`, or `legacy_number`.
          allOf:
          - "$ref": "#/components/schemas/Affiliate5"
          - {}
        relation_type:
          type:
          - string
          - 'null'
          description: Set to `Contact` to link the activity to one of the company's contacts. Other values are ignored.
        relation_id:
          type:
          - string
          - 'null'
          description: ID of the contact to link when `relation_type` is `Contact`.
    Affiliate5:
      title: Affiliate5
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - string
          - number
          - integer
          - 'null'
        external_id:
          type:
          - string
          - number
          - integer
          - 'null'
        username:
          type:
          - string
          - number
          - integer
          - 'null'
        email:
          type:
          - string
          - number
          - integer
          - 'null'
        legacy_number:
          type:
          - string
          - number
          - integer
          - 'null'
    PostApiCompanyAnnouncementsResponse201ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        announcement:
          "$ref": "#/components/schemas/CompanyAnnouncement"
    CompanyAnnouncementRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        title:
          type:
          - string
          - number
          - integer
          - 'null'
        description:
          type:
          - string
          - number
          - integer
          - 'null'
        active:
          type:
          - boolean
          - 'null'
        application_theme_template_id:
          type:
          - integer
          - string
          - number
          - 'null'
        available_countries:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - number
            - integer
            - 'null'
        display_comments:
          type:
          - boolean
          - 'null'
        image_url:
          type:
          - string
          - number
          - integer
          - 'null'
        video_url:
          type:
          - string
          - number
          - integer
          - 'null'
        pdf_url:
          type:
          - string
          - number
          - integer
          - 'null'
        powerpoint_url:
          type:
          - string
          - number
          - integer
          - 'null'
        no_index:
          type:
          - boolean
          - 'null'
        media_type:
          type:
          - string
          - number
          - integer
          - 'null'
        rank_ids:
          type:
          - array
          - 'null'
          items:
            type:
            - integer
            - string
            - number
            - 'null'
    ListCompanyContactsResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        contacts:
          type:
          - array
          - 'null'
          items:
            anyOf:
            - "$ref": "#/components/schemas/Contact"
            - type: 'null'
        meta:
          "$ref": "#/components/schemas/CompanyListResponseMeta"
    Contact:
      title: Contact
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
        token:
          type:
          - string
          - 'null'
          - number
          - integer
        first_name:
          type:
          - string
          - 'null'
          - number
          - integer
        last_name:
          type:
          - string
          - 'null'
          - number
          - integer
        avatar_url:
          type:
          - string
          - 'null'
          - number
          - integer
        status:
          type:
          - string
          - 'null'
          - number
          - integer
          default: new
        email:
          type:
          - string
          - 'null'
          - number
          - integer
        email2:
          type:
          - string
          - 'null'
          - number
          - integer
        phone:
          type:
          - string
          - 'null'
          - number
          - integer
        phone2:
          type:
          - string
          - 'null'
          - number
          - integer
        phone_id:
          type:
          - string
          - 'null'
          - number
          - integer
        address:
          type:
          - string
          - 'null'
          - number
          - integer
        address2:
          type:
          - string
          - 'null'
          - number
          - integer
        city:
          type:
          - string
          - 'null'
          - number
          - integer
        state:
          type:
          - string
          - 'null'
          - number
          - integer
        postal_code:
          type:
          - string
          - 'null'
          - number
          - integer
        language_id:
          type:
          - integer
          - 'null'
          - string
          - number
        country_id:
          type:
          - integer
          - 'null'
          - string
          - number
        lead_type:
          type:
          - string
          - 'null'
          - number
          - integer
        ip:
          type:
          - string
          - 'null'
          - number
          - integer
        requested_at:
          type:
          - string
          - 'null'
          - number
          - integer
          format: date-time
        best_time:
          type:
          - string
          - 'null'
          - number
          - integer
        time_zone:
[...]
