---
openapi: 3.1.0
info:
  title: Fluid Content API
  version: v0
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: Bearer token authentication
  schemas:
    Meta:
      type: object
      properties:
        request_id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
    ErrorResponse:
      type: object
      required:
      - error_message
      - errors
      - meta
      properties:
        error_message:
          type: string
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          "$ref": "#/components/schemas/Meta"
    UnauthorizedResponse:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    GetApiDefaultMySitesResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        default_my_site:
          type:
          - object
          - 'null'
          properties:
            id:
              type:
              - integer
              - 'null'
              - string
              - number
            forwarding:
              type:
              - string
              - 'null'
              - number
              - integer
            forwarding_url:
              type:
              - string
              - 'null'
              - number
              - integer
            active:
              type:
              - boolean
              - 'null'
            theme_id:
              type:
              - integer
              - 'null'
              - string
              - number
            default_favorites:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  id:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  title:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  favoriteable_type:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  favoriteable_id:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  order:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  image_url:
                    type:
                    - string
                    - 'null'
                    - number
                    - integer
            default_links:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  id:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  url:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  text:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  order:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    PostApiDefaultMySitesRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        forwarding:
          type:
          - string
          - number
          - integer
          - 'null'
          description: Type of forwarding for the site. 'none' means no forwarding,
            'custom' means a custom URL is provided.
        forwarding_url:
          type:
          - string
          - number
          - integer
          - 'null'
          description: The URL to which the site will forward if forwarding is set
            to 'custom'.
        active:
          type:
          - boolean
          - 'null'
          description: Indicates whether the default my site is active.
        theme_id:
          type:
          - integer
          - string
          - number
          - 'null'
          description: ID of the theme to be used for the default my site.
        default_favorites_attributes:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            properties:
              favoriteable_type:
                type:
                - string
                - number
                - integer
                - 'null'
                description: Type of the favoriteable item (e.g., 'Site', 'Product').
              favoriteable_id:
                type:
                - integer
                - string
                - number
                - 'null'
                description: ID of the favoriteable item.
              order:
                type:
                - integer
                - string
                - number
                - 'null'
                description: Order of the favoriteable item.
              _destroy:
                type:
                - boolean
                - 'null'
                description: Indicates whether the favoriteable item should be removed.
        default_links_attributes:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            properties:
              url:
                type:
                - string
                - 'null'
                - number
                - integer
                description: URL of the link.
              text:
                type:
                - string
                - 'null'
                - number
                - integer
                description: Text of the link.
              order:
                type:
                - integer
                - 'null'
                - string
                - number
                description: Order of the link.
              _destroy:
                type:
                - boolean
                - 'null'
                description: Indicates whether the link should be removed.
    ListMediaResponse200ApplicationJsonSchema:
      type:
      - array
      - 'null'
      items:
        anyOf:
        - "$ref": "#/components/schemas/MediumSerializer"
        - type: 'null'
    MediumSerializer:
      title: Medium
      type:
      - object
      - 'null'
      description: Media resource with user-specific data and associations
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
        user_id:
          type:
          - integer
          - 'null'
          - string
          - number
        title:
          type:
          - string
          - number
          - integer
          - 'null'
        description:
          anyOf:
          - type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
        stripped:
          type:
          - string
          - 'null'
          - number
          - integer
        media_type:
          type:
          - string
          - number
          - integer
          - 'null'
        media_format:
          type:
          - string
          - 'null'
          - number
          - integer
        image_url:
          type:
          - string
          - 'null'
          - number
          - integer
        video_url:
          type:
          - string
          - 'null'
          - number
          - integer
        pdf_url:
          type:
          - string
          - 'null'
          - number
          - integer
        kind:
          type:
          - string
          - 'null'
          - number
          - integer
        active:
          type:
          - boolean
          - 'null'
        visibility:
          type:
          - integer
          - 'null'
          - string
          - number
        share_link:
          type:
          - string
          - 'null'
          - number
          - integer
        preview_link:
          type:
          - string
          - 'null'
          - number
          - integer
        views:
          type:
          - integer
          - string
          - number
          - 'null'
        leads:
          type:
          - integer
          - string
          - number
          - 'null'
        watch:
          anyOf:
          - type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
        video_status:
          type:
          - string
          - 'null'
          - number
          - integer
        duration:
          type:
          - integer
          - 'null'
          - string
          - number
        cta_url:
          type:
          - string
          - 'null'
          - number
          - integer
        cta_button_text:
          type:
          - string
          - 'null'
          - number
          - integer
        cta_enabled:
          type:
          - boolean
          - 'null'
        cta_action_type:
          type:
          - string
          - 'null'
          - number
          - integer
        video_shopping_enabled:
          type:
          - boolean
          - 'null'
        prompts_enabled:
          type:
          - boolean
          - 'null'
        ranks:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - number
            - integer
            - 'null'
        settings:
          anyOf:
          - type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
        application_theme_template_id:
          type:
          - integer
          - 'null'
          - string
          - number
        created_at:
          type:
          - string
          - number
          - integer
          - 'null'
          format: date-time
        subtitles:
          type:
          - object
          - 'null'
          description: Hash of language ISO codes to subtitle text
          additionalProperties:
            type:
            - string
            - number
            - integer
            - 'null'
        countries:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            properties:
              id:
                type:
                - integer
                - string
                - number
                - 'null'
              iso:
                type:
                - string
                - number
                - integer
                - 'null'
              name:
                type:
                - string
                - number
                - integer
                - 'null'
        tags:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            properties:
              id:
                type:
                - integer
                - string
                - number
                - 'null'
              name:
                type:
                - string
                - number
                - integer
                - 'null'
        slug:
          type:
          - string
          - 'null'
          - number
          - integer
          description: URL-friendly slug for the media item
        canonical_url:
          type:
          - string
          - 'null'
          - number
          - integer
          description: The primary URL for accessing this media item on the company's
            website
        custom_slug:
          type:
          - boolean
          - 'null'
          description: Whether the slug was customized by the user
        prompts:
          type:
          - array
          - 'null'
          description: Only included if media_type is 'share' or 'upload'
          items:
            anyOf:
            - type: object
              additionalProperties:
                "$ref": "#/components/schemas/JsonValue"
            - type: 'null'
        attached_shareables:
          type:
          - array
          - 'null'
          items:
            anyOf:
            - type: object
              additionalProperties:
                "$ref": "#/components/schemas/JsonValue"
            - type: 'null'
        comments:
          type:
          - array
          - 'null'
          description: Only included if video_shopping_enabled is true and display_comments
            is true
          items:
            anyOf:
            - type: object
              additionalProperties:
                "$ref": "#/components/schemas/JsonValue"
            - type: 'null'
        label:
          anyOf:
          - type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
            description: Label object for the resource
          - type: 'null'
        display_tag:
          type:
          - string
          - 'null'
          - number
          - integer
          description: Display tag for the resource
        publish_at:
          type:
          - string
          - 'null'
          - number
          - integer
          format: date-time
          description: Scheduled publish date/time. If set to a future date, the media
            will not be publicly accessible until that time.
    CreateMenuRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        menu:
          type:
          - object
          - 'null'
          properties:
            title:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Title of the menu
            active:
              type:
              - boolean
              - 'null'
              description: Whether the menu is active or not
            country_ids:
              type:
              - array
              - 'null'
              items:
                type:
                - integer
                - string
                - number
                - 'null'
              description: List of country IDs this menu is accessible in
            menu_items_attributes:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  linkable_type:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  linkable_id:
                    type:
                    - integer
                    - 'null'
                    - string
                    - number
                  title:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  order:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  parent_id:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  url:
                    type:
                    - string
                    - 'null'
                    - number
                    - integer
    DeleteMenuResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        message:
          type:
          - string
          - number
          - integer
          - 'null'
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    UpdateMenuRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        lang:
          type:
          - string
          - number
          - integer
          - 'null'
          description: Language code for localization
        menu:
          type:
          - object
          - 'null'
          properties:
            title:
              type:
              - string
              - number
              - integer
              - 'null'
            active:
              type:
              - boolean
              - 'null'
            country_ids:
              type:
              - array
              - 'null'
              items:
                type:
                - integer
                - string
                - number
                - 'null'
            menu_items_attributes:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  linkable_type:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  linkable_id:
                    type:
                    - integer
                    - 'null'
                    - string
                    - number
                  title:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  order:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  parent_id:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  id:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  _destroy:
                    type:
                    - boolean
                    - 'null'
    CreateMenuItemRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        title:
          type:
          - string
          - number
          - integer
          - 'null'
        linkable_id:
          type:
          - integer
          - 'null'
          - string
          - number
        linkable_type:
          type:
          - string
          - number
          - integer
          - 'null'
        order:
          type:
          - integer
          - string
          - number
          - 'null'
        parent_id:
          type:
          - integer
          - 'null'
          - string
          - number
    UpdateMenuItemRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        title:
          type:
          - string
          - number
          - integer
          - 'null'
        order:
          type:
          - integer
          - string
          - number
          - 'null'
        linkable_id:
          type:
          - integer
          - 'null'
          - string
          - number
        linkable_type:
          type:
          - string
          - number
          - integer
          - 'null'
        parent_id:
          type:
          - integer
          - 'null'
          - string
          - number
        sub_menu_items_attributes:
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/ContentNestedMenuItem"
    ContentListMeta:
      type:
      - object
      - 'null'
      properties:
        request_id:
          type:
          - string
          - number
          - integer
          - 'null'
        timestamp:
          type:
          - string
          - number
          - integer
          - 'null'
        total_count:
          type:
          - integer
          - string
          - number
          - 'null'
        total_pages:
          type:
          - integer
          - string
          - number
          - 'null'
        current_page:
          type:
          - integer
          - string
          - number
          - 'null'
    ListPostsResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        posts:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            properties:
              id:
                type:
                - integer
                - string
                - number
                - 'null'
              title:
                type:
                - string
                - number
                - integer
                - 'null'
              description:
                type:
                - string
                - 'null'
                - number
                - integer
              slug:
                type:
                - string
                - 'null'
                - number
                - integer
              canonical_url:
                type:
                - string
                - 'null'
                - number
                - integer
              image_url:
                type:
                - string
                - 'null'
                - number
                - integer
              active:
                type:
                - boolean
                - 'null'
              application_theme_template_id:
                type:
                - integer
                - 'null'
                - string
                - number
              created_at:
                type:
                - string
                - number
                - integer
                - 'null'
                format: date-time
              updated_at:
                type:
                - string
                - number
                - integer
                - 'null'
                format: date-time
              countries:
                type:
                - array
                - 'null'
                items:
                  type:
                  - object
                  - 'null'
                  properties:
                    id:
                      type:
                      - integer
                      - string
                      - number
                      - 'null'
                    name:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
              custom_slug:
                type:
                - boolean
                - 'null'
              use_search_engine:
                type:
                - boolean
                - 'null'
              show_on_site_search:
                type:
                - boolean
                - 'null'
              post_date:
                type:
                - string
                - number
                - integer
                - 'null'
                format: date
              post_author:
                type:
                - string
                - number
                - integer
                - 'null'
              summary:
                type:
                - string
                - number
                - integer
                - 'null'
              preview_url:
                type:
                - string
                - number
                - integer
                - 'null'
        meta:
          "$ref": "#/components/schemas/ContentListMeta"
    PostTaxonomySummary:
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
        title:
          type:
          - string
          - number
          - integer
          - 'null'
        description:
          type:
          - string
          - number
          - integer
          - 'null'
        image_url:
          type:
          - string
          - number
          - integer
          - 'null'
    CreatePostResponse201ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        post:
          type:
          - object
          - 'null'
          properties:
            id:
              type:
              - integer
              - string
              - number
              - 'null'
            title:
              type:
              - string
              - number
              - integer
              - 'null'
            description:
              type:
              - string
              - 'null'
              - number
              - integer
            slug:
              type:
              - string
              - 'null'
              - number
              - integer
            canonical_url:
              type:
              - string
              - 'null'
              - number
              - integer
            image_url:
              type:
              - string
              - 'null'
              - number
              - integer
            active:
              type:
              - boolean
              - 'null'
            application_theme_template_id:
              type:
              - integer
              - 'null'
              - string
              - number
            created_at:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
            updated_at:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
            countries:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  id:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  iso:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  name:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
            custom_slug:
              type:
              - boolean
              - 'null'
            use_search_engine:
              type:
              - boolean
              - 'null'
            show_on_site_search:
              type:
              - boolean
              - 'null'
            post_date:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date
            post_author:
              type:
              - string
              - number
              - integer
              - 'null'
            summary:
              type:
              - string
              - number
              - integer
              - 'null'
            preview_url:
              type:
              - string
              - number
              - integer
              - 'null'
            category:
              "$ref": "#/components/schemas/PostTaxonomySummary"
            collections:
              type:
              - array
              - 'null'
              items:
                "$ref": "#/components/schemas/PostTaxonomySummary"
            search_engine_optimizer:
              type:
              - object
              - 'null'
              properties:
                title:
                  type:
                  - string
                  - 'null'
                  - number
                  - integer
                description:
                  type:
                  - string
                  - 'null'
                  - number
                  - integer
                image_url:
                  type:
                  - string
                  - 'null'
                  - number
                  - integer
                image_path:
                  type:
                  - string
                  - 'null'
                  - number
                  - integer
                id:
                  type:
                  - integer
                  - string
                  - number
                  - 'null'
                block_crawler:
                  type:
                  - boolean
                  - 'null'
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    ShowPostResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        post:
          type:
          - object
          - 'null'
          properties:
            id:
              type:
              - integer
              - string
              - number
              - 'null'
            title:
              type:
              - string
              - number
              - integer
              - 'null'
            description:
              type:
              - string
              - 'null'
              - number
              - integer
            slug:
              type:
              - string
              - 'null'
              - number
              - integer
            canonical_url:
              type:
              - string
              - 'null'
              - number
              - integer
            image_url:
              type:
              - string
              - 'null'
              - number
              - integer
            active:
              type:
              - boolean
              - 'null'
            application_theme_template_id:
              type:
              - integer
              - 'null'
              - string
              - number
            created_at:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
            updated_at:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
            countries:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  id:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  iso:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  name:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
            custom_slug:
              type:
              - boolean
              - 'null'
            use_search_engine:
              type:
              - boolean
              - 'null'
            show_on_site_search:
              type:
              - boolean
              - 'null'
            post_date:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date
            post_author:
              type:
              - string
              - number
              - integer
              - 'null'
            summary:
              type:
              - string
              - number
              - integer
              - 'null'
            preview_url:
              type:
              - string
              - number
              - integer
              - 'null'
            category:
              "$ref": "#/components/schemas/PostTaxonomySummary"
            collections:
              type:
              - array
              - 'null'
              items:
                "$ref": "#/components/schemas/PostTaxonomySummary"
            search_engine_optimizer:
              type:
              - object
              - 'null'
              properties:
                title:
                  type:
                  - string
                  - 'null'
                  - number
                  - integer
                description:
                  type:
                  - string
                  - 'null'
                  - number
                  - integer
                image_url:
                  type:
                  - string
                  - 'null'
                  - number
                  - integer
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    UpdatePostRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        post:
          type:
          - object
          - 'null'
          properties:
            title:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Title of the post
            description:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Content/description of the post
            image_url:
              type:
              - string
              - number
              - integer
              - 'null'
              description: URL to post cover image
            active:
              type:
              - boolean
              - 'null'
              description: Whether the post is active
            application_theme_template_id:
              type:
              - integer
              - string
              - number
              - 'null'
              description: ID of the theme template to use
            post_date:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date
            post_author:
              type:
              - string
              - number
              - integer
              - 'null'
            summary:
              type:
              - string
              - number
              - integer
              - 'null'
    DeletePostResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        post:
          type:
          - object
          - 'null'
          properties:
            id:
              type:
              - integer
              - string
              - number
              - 'null'
            title:
              type:
              - string
              - number
              - integer
              - 'null'
            description:
              type:
              - string
              - 'null'
              - number
              - integer
            slug:
              type:
              - string
              - 'null'
              - number
              - integer
            canonical_url:
              type:
              - string
              - 'null'
              - number
              - integer
            image_url:
              type:
              - string
              - 'null'
              - number
              - integer
            active:
              type:
              - boolean
              - 'null'
            application_theme_template_id:
              type:
              - integer
              - 'null'
              - string
              - number
            created_at:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
            updated_at:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
            countries:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  id:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  iso:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  name:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
            custom_slug:
              type:
              - boolean
              - 'null'
            use_search_engine:
              type:
              - boolean
              - 'null'
            show_on_site_search:
              type:
              - boolean
              - 'null'
            post_date:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date
            post_author:
              type:
              - string
              - number
              - integer
              - 'null'
            summary:
              type:
              - string
              - number
              - integer
              - 'null'
            preview_url:
              type:
              - string
              - number
              - integer
              - 'null'
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    ListPromptsResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        prompts:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            properties:
              id:
                type:
                - integer
                - string
                - number
                - 'null'
                description: Unique identifier for the prompt
              title:
                type:
                - string
                - number
                - integer
                - 'null'
                description: Title of the prompt
              content:
                type:
                - string
                - number
                - integer
                - 'null'
                description: Content of the prompt
        meta:
          "$ref": "#/components/schemas/ContentListMeta"
    CreatePromptResponse201ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        prompt:
          type:
          - object
          - 'null'
          properties:
            id:
              type:
              - integer
              - string
              - number
              - 'null'
              description: Unique identifier for the prompt
            title:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Title of the prompt
            content:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Content of the prompt
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    CreatePromptRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        relateable_type:
          type:
          - string
          - number
          - integer
          - 'null'
          description: Type of entity this prompt is related to. Can be 'Page', 'Medium',
            'Product', or 'Promotion'
        relateable_id:
          type:
          - integer
          - string
          - number
          - 'null'
          description: ID of the entity this prompt is related to
        prompt:
          type:
          - object
          - 'null'
          properties:
            title:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Title of the prompt
            content:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Content of the prompt
    DeletePromptResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        success:
          type:
          - boolean
          - 'null'
          description: Indicates whether the operation was successful
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    UpdatePromptRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        prompt:
          type:
          - object
          - 'null'
          properties:
            title:
              type:
              - string
              - number
              - integer
              - 'null'
            content:
              type:
              - string
              - number
              - integer
              - 'null'
    JsonValue:
      description: Any valid JSON value for provider, integration, theme, metadata,
        or other dynamic payloads whose keys are not fixed by the API contract.
      anyOf:
      - type: string
      - type: number
      - type: boolean
      - type: 'null'
      - type: array
        items:
          "$ref": "#/components/schemas/JsonValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorValue:
      description: A validation or API error value.
      anyOf:
      - type: string
      - type: array
        items:
          type: string
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorBag:
      description: Validation errors keyed by field, a list of errors, a single error
        message, or null when no structured error details are available.
      anyOf:
      - type: string
      - type: array
        items:
          "$ref": "#/components/schemas/ErrorValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/ErrorValue"
      - type: 'null'
    ErrorMessage:
      description: An API error message represented as text or structured JSON.
      anyOf:
      - type: string
      - "$ref": "#/components/schemas/ErrorBag"
      - type: 'null'
    StandardErrorResponse:
      description: Common legacy error response envelope. Older endpoints may return
        one or more of these fields depending on the controller path.
      type: object
      properties:
        message:
          type: string
        error:
          "$ref": "#/components/schemas/ErrorMessage"
        error_message:
          "$ref": "#/components/schemas/ErrorMessage"
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          "$ref": "#/components/schemas/Meta"
      additionalProperties:
        "$ref": "#/components/schemas/JsonValue"
    StandardUnauthorizedResponse:
      description: Common legacy unauthorized response envelope.
      allOf:
      - "$ref": "#/components/schemas/StandardErrorResponse"
    ContentMenuLinkable:
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
        type:
          type:
          - string
          - number
          - integer
          - 'null'
        title:
          type:
          - string
          - number
          - integer
          - 'null'
        image_url:
          type:
          - string
          - number
          - integer
          - 'null'
    ContentNestedMenuItem:
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
        title:
          type:
          - string
          - number
          - integer
          - 'null'
        linkable_id:
          type:
          - integer
          - 'null'
          - string
          - number
        linkable_type:
          type:
          - string
          - number
          - integer
          - 'null'
        order:
          type:
          - integer
          - string
          - number
          - 'null'
        parent_id:
          type:
          - integer
          - 'null'
          - string
          - number
    ContentMenuItem:
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
        title:
          type:
          - string
          - number
          - integer
          - 'null'
        linkable_id:
          type:
          - integer
          - string
          - number
          - 'null'
        linkable_type:
          type:
          - string
          - number
          - integer
          - 'null'
        url:
          type:
          - string
          - number
          - integer
          - 'null'
        order:
          type:
          - integer
          - string
          - number
          - 'null'
        parent_id:
          type:
          - integer
          - string
          - number
          - 'null'
        linkable:
          "$ref": "#/components/schemas/ContentMenuLinkable"
        sub_menu_items:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            properties:
              id:
                type:
                - integer
                - string
                - number
                - 'null'
              title:
                type:
                - string
                - number
                - integer
                - 'null'
              url:
                type:
                - string
                - number
                - integer
                - 'null'
              linkable_id:
                type:
                - integer
                - string
                - number
                - 'null'
              linkable_type:
                type:
                - string
                - number
                - integer
                - 'null'
              order:
                type:
                - integer
                - string
                - number
                - 'null'
              parent_id:
                type:
                - integer
                - string
                - number
                - 'null'
              sub_menu_items:
                type:
                - array
                - 'null'
                items:
                  "$ref": "#/components/schemas/ContentNestedMenuItem"
              linkable:
                "$ref": "#/components/schemas/ContentMenuLinkable"
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
    ContentMenu:
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
        company_id:
          type:
          - integer
          - string
          - number
          - 'null'
        title:
          type:
          - string
          - number
          - integer
          - 'null'
        active:
          type:
          - boolean
          - 'null'
        slug:
          type:
          - string
          - number
          - integer
          - 'null'
        created_at:
          type:
          - string
          - number
          - integer
          - 'null'
          format: date-time
        updated_at:
          type:
          - string
          - number
          - integer
          - 'null'
          format: date-time
        country_ids:
          type:
          - array
          - 'null'
          items:
            type:
            - integer
            - string
            - number
            - 'null'
        menu_items:
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/ContentMenuItem"
    ContentMenuResponse:
      type:
      - object
      - 'null'
      properties:
        menu:
          "$ref": "#/components/schemas/ContentMenu"
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    CreateMenuItemResponse201ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        menu_item:
          "$ref": "#/components/schemas/ContentMenuItem"
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    CreatePostRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        post:
          type:
          - object
          - 'null'
          properties:
            title:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Title of the post
            description:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Content/description of the post
            image_url:
              type:
              - string
              - number
              - integer
              - 'null'
              description: URL to post cover image
            active:
              type:
              - boolean
              - 'null'
              description: Whether the post is active
            application_theme_template_id:
              type:
              - integer
              - string
              - number
              - 'null'
              description: ID of the theme template to use
            country_ids:
              type:
              - array
              - 'null'
              description: Array of country IDs
              items:
                "$ref": "#/components/schemas/JsonValue"
            use_search_engine:
              type:
              - boolean
              - 'null'
              description: Whether to optimize for search engines
            show_on_site_search:
              type:
              - boolean
              - 'null'
              description: Whether to show in site search
            post_date:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date
              description: Date of the post
            post_author:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Author of the post
            summary:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Summary of the post
            preview_url:
              type:
              - string
              - number
              - integer
              - 'null'
              description: URL to preview the post
            category_id:
              type:
              - integer
              - string
              - number
              - 'null'
              description: ID of the category
            collection_ids:
              type:
              - array
              - 'null'
              description: Array of collection IDs
              items:
                "$ref": "#/components/schemas/JsonValue"
            search_engine_optimizer_attributes:
              type:
              - object
              - 'null'
              properties:
                title:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  description: SEO title for the post
                description:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  description: SEO description for the post
                image_url:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  description: SEO image URL for the post
    ListMenusResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        menus:
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/ContentMenu"
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
            total_count:
              type:
              - integer
              - string
              - number
              - 'null'
            total_pages:
              type:
              - integer
              - string
              - number
              - 'null'
            current_page:
              type:
              - integer
              - string
              - number
              - 'null'
            per_page:
              type:
              - integer
              - string
              - number
              - 'null'
    CompanyLibraryResponse:
      type: object
      properties:
        affiliate_id:
          description: Legacy member id of the rep who owns this playlist. Null on a
            company playlist, which belongs to the store rather than to a member.
          type:
          - integer
          - 'null'
        company_library:
          description: True when the playlist belongs to the store and every rep reads
            it. Null on a playlist owned by a member.
          type:
          - boolean
          - 'null'
        display_tag:
          type: 'null'
        id:
          type: integer
        label:
          type: 'null'
        leads:
          type: integer
        library_items:
          type: array
          items:
            "$ref": "#/components/schemas/JsonValue"
        preview_link:
          type: string
        share_link:
          type: 'null'
        slug:
          type: string
        title:
          type: string
        views:
          type: integer
      required:
      - affiliate_id
      - company_library
      - display_tag
      - id
      - label
      - leads
      - library_items
      - preview_link
      - share_link
      - slug
      - title
      - views
      additionalProperties: false
    CompanyLibraryCloneResponse:
      type: object
      properties:
        active:
          type: boolean
        affiliate_id:
          type: integer
        application_theme_template_id:
          type: 'null'
        category_id:
          type: 'null'
        company_id:
          type: integer
        company_library:
          type: 'null'
        created_at:
          type: string
          format: date-time
        custom_slug:
          type: boolean
        description:
          type: 'null'
        discarded_at:
          type: 'null'
        id:
          type: integer
        image_url:
          type: 'null'
        indexed_for_seo:
          type: boolean
        kind:
          type: string
        member_id:
          type:
          - string
          - 'null'
          format: uuid
        metafields_collection:
          type: array
          items:
            "$ref": "#/components/schemas/JsonValue"
        publish_at:
          type:
          - string
          - 'null'
          format: date-time
        slug:
          type: string
        title:
          type: string
        updated_at:
          type: string
          format: date-time
        user_id:
          type: integer
        uuid_v7:
          type: string
      required:
      - active
      - affiliate_id
      - application_theme_template_id
      - category_id
      - company_id
      - company_library
      - created_at
      - custom_slug
      - description
      - discarded_at
      - id
      - image_url
      - indexed_for_seo
      - kind
      - metafields_collection
      - publish_at
      - slug
      - title
      - updated_at
      - user_id
      - uuid_v7
      additionalProperties: false
    ContentMenuItemDeleteResponse:
      type: object
      properties:
        message:
          type: string
        meta:
          type: object
          properties:
            request_id:
              type: string
            timestamp:
              type: string
              format: date-time
          required:
          - request_id
          - timestamp
          additionalProperties: false
      required:
      - message
      - meta
      additionalProperties: false
paths:
  "/api/default_my_sites":
    get:
      summary: Retrieves the default my site
      description: |
        Fetches the default my site for the current company.

        The default my site is the template applied to members' personal sites: its theme,
        optional forwarding to a custom URL, the default favorites (products, media, collections,
        and other shareables) and the default links shown on each member's site.

        Requires a company admin Bearer token with view access to my site themes. If the company
        has never saved a default my site, the response returns unsaved defaults (`id` is `null`)
        with the default my site theme.
      tags:
      - defaultmysites
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetApiDefaultMySitesResponse200ApplicationJsonSchema"
              example:
                default_my_site:
                  id: 48213
                  forwarding: none
                  forwarding_url:
                  active: true
                  theme_id: 3107
                  default_favorites:
                  - id: 90214
                    title: Dunder Mifflin 20lb Copy Paper
                    favoriteable_type: Product
                    favoriteable_id: 58217
                    order: 1
                    image_url: https://cdn.fluid.app/dunder-mifflin/products/20lb-copy-paper.jpg
                  - id: 90215
                    title: Office Essentials
                    favoriteable_type: Collection
                    favoriteable_id: 7342
                    order: 2
                    image_url: https://cdn.fluid.app/dunder-mifflin/collections/office-essentials.jpg
                  default_links:
                  - id: 31876
                    url: https://shop.dundermifflin.com/pages/paper-savings
                    text: Paper savings calculator
                    order: 1
                meta:
                  request_id: 7f3c2a91-5d4e-4b8a-9c61-2e8f0d3b4a17
                  timestamp: '2026-09-14T15:32:08Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      operationId: content_v0_get_api_default_my_sites
    post:
      summary: Creates or updates the default my site
      description: |
        Creates or updates the default my site for the current company.

        Each company has a single default my site, so this call upserts it. Favorites and links
        are managed through `default_favorites_attributes` and `default_links_attributes`: pass an
        existing `id` to update an entry, `_destroy: true` to remove it, or omit `id` to add one.
        Favorites without a `favoriteable_type` or `favoriteable_id`, and links without `url` or
        `text`, are ignored. `forwarding` must be `none` or `custom` (defaults to `none`);
        `forwarding_url` is required when it is `custom`. The attributes may also be sent wrapped
        in a `default_my_site` object.

        Requires a company admin Bearer token with update access to my site themes. Returns the
        saved default my site, or 422 with field errors when validation fails.
      tags:
      - defaultmysites
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetApiDefaultMySitesResponse200ApplicationJsonSchema"
              example:
                default_my_site:
                  id: 48213
                  forwarding: none
                  forwarding_url:
                  active: true
                  theme_id: 3107
                  default_favorites:
                  - id: 90214
                    title: Dunder Mifflin 20lb Copy Paper
                    favoriteable_type: Product
                    favoriteable_id: 58217
                    order: 1
                    image_url: https://cdn.fluid.app/dunder-mifflin/products/20lb-copy-paper.jpg
                  - id: 90215
                    title: Office Essentials
                    favoriteable_type: Collection
                    favoriteable_id: 7342
                    order: 2
                    image_url: https://cdn.fluid.app/dunder-mifflin/collections/office-essentials.jpg
                  default_links:
                  - id: 31876
                    url: https://shop.dundermifflin.com/pages/paper-savings
                    text: Paper savings calculator
                    order: 1
                meta:
                  request_id: 7f3c2a91-5d4e-4b8a-9c61-2e8f0d3b4a17
                  timestamp: '2026-09-14T15:32:08Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PostApiDefaultMySitesRequestBodyApplicationJsonSchema"
            example:
              forwarding: none
              active: true
              theme_id: 3107
              default_favorites_attributes:
              - favoriteable_type: Product
                favoriteable_id: 58217
                order: 1
              - favoriteable_type: Collection
                favoriteable_id: 7342
                order: 2
              default_links_attributes:
              - url: https://shop.dundermifflin.com/pages/paper-savings
                text: Paper savings calculator
                order: 1
        required: true
      operationId: content_v0_post_api_default_my_sites
  "/api/libraries":
    get:
      summary: List libraries
      tags:
      - libraries
      operationId: content_v0_list_libraries
      description: |
        Returns all libraries (playlists) for the current user.

        Libraries are curated collections of media content that can be shared with contacts.
        Each library contains media items, products, and enrollment packs organized by theme or purpose.
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/JsonValue"
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
  "/api/libraries/{id}":
    get:
      operationId: commerce_v0_libraries_get
      summary: Get libraries
      tags:
      - libraries
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CompanyLibraryResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      security:
      - bearer_auth: []
    patch:
      operationId: commerce_v0_libraries_patch
      summary: Update libraries
      tags:
      - libraries
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CompanyLibraryResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      security:
      - bearer_auth: []
    delete:
      operationId: commerce_v0_libraries_delete
      summary: Delete libraries
      tags:
      - libraries
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/JsonValue"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/libraries/{library_id}/add_item_to_library":
    post:
      operationId: commerce_v0_libraries_add_item_to_library_post
      summary: Add Item To Library add item to library
      tags:
      - libraries
      parameters:
      - name: library_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CompanyLibraryResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/libraries/{library_id}/bulk_reorder":
    patch:
      operationId: commerce_v0_libraries_bulk_reorder_patch
      summary: Bulk Reorder bulk reorder
      tags:
      - libraries
      parameters:
      - name: library_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CompanyLibraryResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/libraries/{library_id}/clone_company_library":
    post:
      operationId: commerce_v0_libraries_clone_company_library_post
      summary: Clone Company Library clone company library
      tags:
      - libraries
      parameters:
      - name: library_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CompanyLibraryCloneResponse"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/libraries/{library_id}/leads":
    get:
      operationId: commerce_v0_libraries_leads_get
      summary: Leads leads
      tags:
      - libraries
      parameters:
      - name: library_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/JsonValue"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/libraries/{library_id}/views":
    get:
      operationId: commerce_v0_libraries_views_get
      summary: Views views
      tags:
      - libraries
      parameters:
      - name: library_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/JsonValue"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/library_item/{library_item_id}":
    delete:
      operationId: commerce_v0_library_item_delete
      summary: Delete library item
      tags:
      - library-item
      parameters:
      - name: library_item_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/JsonValue"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/media":
    get:
      summary: List media
      description: Get all media with pagination and filtering
      tags:
      - media
      operationId: content_v0_list_media
      security:
      - bearer_auth: []
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          default: 1
        required: false
        description: Page number for pagination
      - name: per_page
        in: query
        schema:
          type: integer
          default: 10
        required: false
        description: Number of records per page
      - name: search_query
        in: query
        schema:
          type: string
        required: false
        description: Search by title
      - name: sorted_by
        in: query
        schema:
          type: string
          default: title_desc
        required: false
        description: Sort order (title_desc, created_at_desc, etc)
      - name: status
        in: query
        schema:
          type: string
        required: false
        description: Filter by status (active/inactive)
      - name: language_iso
        in: query
        schema:
          type: string
        required: false
        description: Language code for translations (e.g., 'en', 'es', 'de')
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListMediaResponse200ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
  "/api/media/{id}":
    get:
      summary: Get a specific media
      operationId: content_v0_get_media
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          example: 1
          description: Media ID
      - name: language_iso
        in: query
        schema:
          type: string
        required: false
        description: Language code for translations (e.g., 'en', 'es', 'de')
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MediumSerializer"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      tags:
      - media
  "/api/menus":
    get:
      summary: List menus
      description: Get all menus with optional filters
      tags:
      - menus
      operationId: content_v0_list_menus
      security:
      - bearer_auth: []
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          default: 1
        required: false
        description: Page number for pagination
      - name: per_page
        in: query
        schema:
          type: integer
          default: 10
        required: false
        description: Number of records per page
      - name: search_query
        in: query
        schema:
          type: string
        required: false
        description: Search query to filter menus by title
      - name: status
        in: query
        schema:
          type: string
          enum:
          - active
          - inactive
        required: false
        description: Filter by menu status (active or inactive)
      - name: country_ids
        in: query
        schema:
          type: array
          items:
            type: integer
        required: false
        description: Filter by country IDs
      - name: sorted_by
        in: query
        schema:
          type: string
          default: created_at_desc
        required: false
        description: Sorting criteria for menus, e.g., 'created_at_asc', 'created_at_desc',
          'title_asc', 'title_desc'
      - name: lang
        in: query
        schema:
          type: string
        required: false
        description: Language code for localization
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListMenusResponse200ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
    post:
      summary: Create a menu
      tags:
      - menus
      operationId: content_v0_create_menu
      security:
      - bearer_auth: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ContentMenuResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateMenuRequestBodyApplicationJsonSchema"
  "/api/menus/{id}":
    get:
      summary: Get a menu
      tags:
      - menus
      operationId: content_v0_get_menu
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        description: Menu ID
        schema:
          type: integer
      - name: lang
        in: query
        schema:
          type: string
        required: false
        description: Language code for localization
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ContentMenuResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
    patch:
      summary: Update a menu
      tags:
      - menus
      operationId: content_v0_update_menu
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        description: Menu ID
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ContentMenuResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateMenuRequestBodyApplicationJsonSchema"
    delete:
      summary: Delete a menu
      tags:
      - menus
      operationId: content_v0_delete_menu
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        description: Menu ID
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DeleteMenuResponse200ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/menus/{menu_id}/menu_items":
    post:
      summary: Create menu item
      description: Create a new menu item
      tags:
      - menus
      operationId: content_v0_create_menu_item
      security:
      - bearer_auth: []
      parameters:
      - name: menu_id
        in: path
        required: true
        description: ID of the menu
        schema:
          type: integer
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateMenuItemResponse201ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateMenuItemRequestBodyApplicationJsonSchema"
        description: Menu item data
  "/api/menus/{menu_id}/menu_items/{id}":
    get:
      summary: Get a menu item
      description: Retrieve a specific menu item by ID
      tags:
      - menus
      operationId: content_v0_get_menu_item
      security:
      - bearer_auth: []
      parameters:
      - name: menu_id
        in: path
        required: true
        description: ID of the menu
        schema:
          type: integer
      - name: id
        in: path
        required: true
        description: ID of the menu item
        schema:
          type: integer
      - name: lang
        in: query
        schema:
          type: string
        required: false
        description: Language code for localization
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateMenuItemResponse201ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
    put:
      summary: Update a menu item
      description: Update a specific menu item by ID
      tags:
      - menus
      operationId: content_v0_update_menu_item
      security:
      - bearer_auth: []
      parameters:
      - name: menu_id
        in: path
        required: true
        description: ID of the menu
        schema:
          type: integer
      - name: id
        in: path
        required: true
        description: ID of the menu item
        schema:
          type: integer
      - name: lang
        in: query
        schema:
          type: string
        required: false
        description: Language code for localization
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateMenuItemResponse201ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateMenuItemRequestBodyApplicationJsonSchema"
        description: Menu item data
    delete:
      summary: Delete a menu item
      description: Delete a specific menu item by ID
      tags:
      - menus
      operationId: content_v0_delete_menu_item
      security:
      - bearer_auth: []
      parameters:
      - name: menu_id
        in: path
        required: true
        description: ID of the menu
        schema:
          type: integer
      - name: id
        in: path
        required: true
        description: ID of the menu item
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ContentMenuItemDeleteResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/posts":
    get:
      summary: List posts
      description: List all posts for a company with pagination and filtering
      tags:
      - posts
      operationId: content_v0_list_posts
      security:
      - bearer_auth: []
      parameters:
      - name: page
        in: query
        required: false
        description: Page number for pagination
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: Number of items per page
        schema:
          type: integer
      - name: active
        in: query
        required: false
        description: Filter by active status
        schema:
          type: boolean
      - name: search_query
        in: query
        required: false
        description: Search query for posts
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListPostsResponse200ApplicationJsonSchema"
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
    post:
      summary: Create a post
      description: Create a new post post
      tags:
      - posts
      operationId: content_v0_create_post
      security:
      - bearer_auth: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreatePostResponse201ApplicationJsonSchema"
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreatePostRequestBodyApplicationJsonSchema"
              description: Request payload
  "/api/posts/{id}":
    get:
      summary: Show a post
      description: Get details of a specific post
      tags:
      - posts
      operationId: content_v0_show_post
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ShowPostResponse200ApplicationJsonSchema"
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: Update a post
      description: Update an existing post
      tags:
      - posts
      operationId: content_v0_update_post
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ShowPostResponse200ApplicationJsonSchema"
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdatePostRequestBodyApplicationJsonSchema"
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    put:
      summary: Update a post
      description: Update an existing post (PUT method)
      tags:
      - posts
      operationId: content_v0_update_post_put
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ShowPostResponse200ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdatePostRequestBodyApplicationJsonSchema"
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Delete a post
      description: Delete a post (hard delete)
      tags:
      - posts
      operationId: content_v0_delete_post
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DeletePostResponse200ApplicationJsonSchema"
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  "/api/prompts":
    get:
      summary: List all prompts for a relateable object
      description: Get a list of prompts for a specific Page, Medium, Product, or
        Promotion
      tags:
      - prompts
      operationId: content_v0_list_prompts
      security:
      - bearer_auth: []
      parameters:
      - name: relateable_type
        in: query
        required: true
        description: Type of the relateable object. Can be 'Page', 'Medium', 'Product',
          or 'Promotion'.
        schema:
          type: string
          enum:
          - Page
          - Medium
          - Product
          - Promotion
      - name: relateable_id
        in: query
        required: true
        description: ID of the relateable object
        schema:
          type: integer
      - name: page
        in: query
        schema:
          type: integer
          default: 1
        required: false
        description: Page number for pagination
      - name: per_page
        in: query
        schema:
          type: integer
          default: 20
        required: false
        description: Number of records per page
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListPromptsResponse200ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
    post:
      summary: Create a prompt
      description: Create a new prompt associated with a Page, Medium, Product, or
        Promotion
      tags:
      - prompts
      operationId: content_v0_create_prompt
      security:
      - bearer_auth: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreatePromptResponse201ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreatePromptRequestBodyApplicationJsonSchema"
        required: true
        description: Prompt details with relateable info. A prompt must be associated
          with a Page, Medium, Product, or Promotion.
  "/api/prompts/{id}":
    patch:
      summary: Update a prompt
      description: Update an existing prompt's title and content
      tags:
      - prompts
      operationId: content_v0_update_prompt
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        description: ID of the prompt
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreatePromptResponse201ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: prompt not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdatePromptRequestBodyApplicationJsonSchema"
        required: true
        description: Prompt details to update
    delete:
      summary: Delete a prompt
      description: Delete an existing prompt
      tags:
      - prompts
      operationId: content_v0_delete_prompt
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        description: ID of the prompt
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DeletePromptResponse200ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: prompt not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
