---
openapi: 3.1.0
info:
  title: Fluid Dam API
  version: v0
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: Bearer token authentication
  schemas:
    Meta:
      type: object
      properties:
        request_id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
    ErrorResponse:
      type: object
      required:
      - error_message
      - errors
      - meta
      properties:
        error_message:
          type: string
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          "$ref": "#/components/schemas/Meta"
    UnauthorizedResponse:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    OperationInProgressResponse:
      type: object
      description: >-
        An identical request under this operation key is still running, or already completed. The
        producer never runs twice under one admission; `operation` references the recorded outcome
        when it exists.
      required:
      - error_message
      - errors
      - meta
      properties:
        error_message:
          type: string
          enum: [conflict]
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        operation:
          type: object
          description: Present when this operation key already completed.
          required: [status, provider_reference]
          properties:
            status:
              type: string
              enum: [completed]
            provider_reference:
              type:
              - string
              - 'null'
              description: The provider resource or operation identity the completed work was recorded under.
        meta:
          "$ref": "#/components/schemas/Meta"
    BillingAdmissionUnavailableResponse:
      type: object
      description: >-
        Billing admission could not be recorded, so the producer did not run. This is not a
        refusal: missing or unreadable evidence is not proof of debt, and the operation may be
        retried.
      required:
      - error_message
      - errors
      - meta
      properties:
        error_message:
          type: string
          enum: [service unavailable]
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          "$ref": "#/components/schemas/Meta"
    BillingRefusalResponse:
      type: object
      description: >-
        Billing admission refused this operation before it could cost anything. The merchant's
        standing is lapsed, the tier's grace has closed, and a warning was delivered with the
        approved lead-in. Recovery is at recovery_path; nothing here names a bank account, a
        waiver, or an actor.
      required:
      - error_message
      - errors
      - billing_unresolved
      - meta
      properties:
        error_message:
          type: string
          enum: [billing_unresolved]
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        billing_unresolved:
          type: object
          required: [error, tier, state, episode_id, condition_id, eligible_since, recovery_path]
          properties:
            error: { type: string, enum: [billing_unresolved] }
            tier: { type: string, enum: [immediate, short_grace, long_grace], description: The tier that refused. }
            state: { type: string, description: The derived standing state, lapsed when refusing. }
            episode_id: { type: [string, "null"], format: uuid, description: The open enforcement episode. }
            condition_id: { type: [string, "null"], format: uuid, description: The condition whose grace and delivered warning made the tier eligible. }
            eligible_since: { type: [string, "null"], format: date-time, description: When the tier became eligible for that condition. }
            recovery_path: { type: string, description: Where the merchant settles the balance or updates the payment method. }
        meta:
          "$ref": "#/components/schemas/Meta"
    CreateDamAssetRequestBodyMultipartFormDataSchema:
      type: object
      properties:
        billing_admission_id:
          type:
          - string
          - 'null'
          format: uuid
          description: The admission a bytes preflight recorded; the create adopts and settles it.
        asset:
          type: object
          properties:
            file:
              type: string
              format: binary
            name:
              type: string
            description:
              type:
              - string
              - 'null'
            tags:
              type:
              - string
              - 'null'
          required:
          - file
          - name
          additionalProperties: false
        text_asset:
          type: object
          properties:
            text:
              type: string
            mime_type:
              type: string
            file_name:
              type: string
            name:
              type:
              - string
              - 'null'
            tags:
              type:
              - string
              - 'null'
          required:
          - text
          - mime_type
          - file_name
          additionalProperties: false
        placeholder_asset:
          type: object
          properties:
            mime_type:
              type: string
            name:
              type:
              - string
              - 'null'
          required:
          - mime_type
          additionalProperties: false
        skip_autotagging:
          type: boolean
      oneOf:
      - required:
        - asset
      - required:
        - text_asset
      - required:
        - placeholder_asset
      additionalProperties: false
    CreateDamUploadPreflightRequestBodyApplicationJsonSchema:
      type: object
      description: The declared identity of the bytes about to be uploaded.
      required: [file_name, file_size, content_type]
      properties:
        operation_key:
          type: string
          maxLength: 255
          description: The client's stable key for this upload across retries.
        file_name:
          type: string
          maxLength: 255
        file_size:
          type: integer
          minimum: 1
          maximum: 2147483648
        content_type:
          type: string
          maxLength: 255
        source:
          type: string
          enum: [multipart, json, external]
        asset_code:
          type: string
          maxLength: 255
    CreateDamUploadPreflightResponse201ApplicationJsonSchema:
      type: object
      description: The admission recorded before any byte is consumed.
      required: [admission, meta]
      properties:
        admission:
          type: object
          required: [id, operation_key, expires_at]
          properties:
            id: { type: string, format: uuid }
            operation_key: { type: string }
            expires_at: { type: string, format: date-time }
        meta:
          "$ref": "#/components/schemas/Meta"
    CreateDamImagekitAuthRequestBodyApplicationJsonSchema:
      type: object
      properties:
        asset_id:
          description: ID of the placeholder DAM asset the credential is bound to.
            When present the endpoint operates in V2 mode.
          type:
          - integer
          - 'null'
        filename:
          description: Original file name; required in V2 mode. Sanitized server-side
            and bound into the signed fileName claim.
          type:
          - string
          - 'null'
        tags:
          description: Comma-separated tag list to sign into the credential (V2 mode
            only).
          type:
          - string
          - 'null'
        autotag:
          description: When true, signs the google-auto-tagging extension into the
            credential (V2 mode only).
          type:
          - boolean
          - 'null'
      additionalProperties: false
    CreateDamImagekitAuthResponse201ApplicationJsonSchema:
      description: 'V2 mode (asset_id supplied): a path-bound JWT credential — the
        client must echo folder, file_name, tags and extensions verbatim as upload
        form fields and send nothing else besides the file and the token. Legacy
        V1 mode (no asset_id): the transitional token/signature/expire triple, removed
        in CURRENT-1626 phase C.'
      oneOf:
      - "$ref": "#/components/schemas/DamImagekitAuthV2Credential"
      - "$ref": "#/components/schemas/DamImagekitAuthLegacyV1Credential"
    DamImagekitAuthV2Credential:
      type: object
      required:
      - token
      - public_key
      - url_endpoint
      - folder
      - file_name
      - expire
      - meta
      properties:
        token:
          description: ImageKit V2 upload JWT; HMAC-signs the folder, fileName,
            tags and extensions claims.
          type: string
        public_key:
          type: string
        url_endpoint:
          type: string
        folder:
          description: Canonical DAM folder (<company_id>/<category>/<code>) the
            credential is bound to; echo verbatim.
          type: string
        file_name:
          description: Server-generated file name to echo verbatim as fileName.
          type: string
        expire:
          description: Unix timestamp when the credential expires; equals the JWT
            exp claim.
          type: integer
        tags:
          description: Comma-separated tags, present only when requested; echo verbatim.
          type: string
        extensions:
          description: Signed JSON string of ImageKit extensions, present only when
            autotag was requested; echo verbatim.
          type: string
        meta:
          "$ref": "#/components/schemas/Meta"
      additionalProperties: false
    DamImagekitAuthLegacyV1Credential:
      type: object
      deprecated: true
      description: 'Legacy V1 credential (token/signature/expire triple) returned
        when no asset_id is supplied. This schema, along with its required extensions
        field, must be removed together when the legacy V1 path is deleted in
        CURRENT-1626 phase C.'
      required:
      - token
      - signature
      - expire
      - folder
      - extensions
      - meta
      properties:
        token:
          type: string
        signature:
          type: string
        expire:
          type: integer
        folder:
          description: Advisory company folder; V1 signatures do not bind the upload
            to it.
          type: string
        extensions:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              minConfidence:
                type: integer
              maxTags:
                type: integer
            additionalProperties: false
        meta:
          "$ref": "#/components/schemas/Meta"
      additionalProperties: false
    CreateDamBackfillImagekitResponse201ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        asset:
          type:
          - object
          - 'null'
          properties:
            id:
              type:
              - integer
              - string
              - number
              - 'null'
            code:
              description: A unique, human-readable identifier for the asset
              type:
              - string
              - number
              - integer
              - 'null'
            name:
              description: The name of the asset
              type:
              - string
              - number
              - integer
              - 'null'
              pattern: "^[\\w\\s.-]+$"
            description:
              description: A description of the asset
              type:
              - string
              - 'null'
              - number
              - integer
            category:
              description: The file category of the asset
              type:
              - string
              - number
              - integer
              - 'null'
            created_at:
              description: The date and time the asset was created in ISO 8601 format
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
            updated_at:
              description: The date and time the asset was last updated in ISO 8601
                format
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
            default_variant_id:
              description: The ID of the default variant
              type:
              - string
              - 'null'
              - number
              - integer
            canonical_path:
              type:
              - string
              - number
              - integer
              - 'null'
            company:
              type:
              - string
              - number
              - integer
              - 'null'
            default_variant_url:
              type:
              - string
              - 'null'
              - number
              - integer
          title: Dam::Asset
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    CreateDamBackfillImagekitRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        billing_admission_id:
          type:
          - string
          - 'null'
          format: uuid
          description: The admission a bytes preflight recorded for this upload; the registration adopts and settles it.
        asset:
          type:
          - object
          - 'null'
          properties:
            imagekit_file_id:
              type:
              - string
              - number
              - integer
              - 'null'
              description: ImageKit file ID
            imagekit_url:
              type:
              - string
              - number
              - integer
              - 'null'
              description: ImageKit file URL
            name:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Asset display name
            description:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Optional asset description
            tags:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Optional comma-separated tags
            file_size:
              type:
              - integer
              - string
              - number
              - 'null'
              description: File size in bytes
            mime_type:
              type:
              - string
              - number
              - integer
              - 'null'
              description: MIME type
            width:
              type:
              - integer
              - string
              - number
              - 'null'
              description: Optional image width in pixels
            height:
              type:
              - integer
              - string
              - number
              - 'null'
              description: Optional image height in pixels
    UpdateDamAssetRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        name:
          type:
          - string
          - number
          - integer
          - 'null'
          description: Updated display name for the asset
        description:
          type:
          - string
          - number
          - integer
          - 'null'
          description: Updated description for the asset
    GetDamAssetPathsResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        asset_paths:
          type:
          - array
          - 'null'
          items:
            title: Dam::AssetPath
            type:
            - object
            - 'null'
            properties:
              id:
                type:
                - integer
                - string
                - number
                - 'null'
              path:
                description: The tree path for the asset
                type:
                - string
                - number
                - integer
                - 'null'
              created_at:
                description: The date and time the asset path was created in ISO 8601
                  format
                type:
                - string
                - number
                - integer
                - 'null'
                format: date-time
              updated_at:
                description: The date and time the asset path was last updated in
                  ISO 8601 format
                type:
                - string
                - number
                - integer
                - 'null'
                format: date-time
              canonical:
                description: Whether this is the canonical path for the asset
                type:
                - boolean
                - 'null'
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    DiscardDamAssetResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        asset:
          title: Dam::Asset
          type:
          - object
          - 'null'
          properties:
            id:
              type:
              - integer
              - string
              - number
              - 'null'
            code:
              description: The code of the asset that was soft deleted
              type:
              - string
              - number
              - integer
              - 'null'
            discarded_at:
              description: The date and time the asset was soft deleted
              type:
              - string
              - 'null'
              - number
              - integer
              format: date-time
            name:
              description: The name of the asset
              type:
              - string
              - number
              - integer
              - 'null'
              pattern: "^[\\w\\s.-]+$"
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    UpdateDamVariantRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        tags:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - number
            - integer
            - 'null'
          description: Array of tag names to assign to the variant (replaces all existing
            tags)
    QueryDamAssetsRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        path:
          type:
          - string
          - number
          - integer
          - 'null'
          description: Required tree path pattern for hierarchical filtering
        tags_string:
          type:
          - string
          - number
          - integer
          - 'null'
          description: Optional comma/semicolon-separated tag string for variant filtering.
            Comma = OR, Semicolon = AND
        name:
          type:
          - string
          - number
          - integer
          - 'null'
          description: Optional asset name with wildcard support
        search:
          type:
          - string
          - number
          - integer
          - 'null'
          description: Optional partial search across asset names and descriptions
            (case-insensitive)
        exclude_tags:
          type:
          - string
          - array
          - 'null'
          items:
            type: string
          description: Optional tag names to exclude, as a comma-separated string or
            an array. Variants carrying these tags are left out of the tree.
        exclude_categories:
          type:
          - string
          - array
          - 'null'
          items:
            type: string
          description: Optional asset categories to exclude (images, videos, audio,
            text, data, documents, other), as a comma-separated string or an array.
        limit:
          type:
          - integer
          - string
          - 'null'
          description: Maximum number of asset paths to return per page. Defaults
            to 50 and is clamped to the range 1-100.
        cursor:
          type:
          - string
          - 'null'
          description: Opaque cursor from a previous response's meta.next_cursor.
            Omit it to fetch the first page.
    JsonValue:
      description: Any valid JSON value for provider, integration, theme, metadata,
        or other dynamic payloads whose keys are not fixed by the API contract.
      anyOf:
      - type: string
      - type: number
      - type: boolean
      - type: 'null'
      - type: array
        items:
          "$ref": "#/components/schemas/JsonValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorValue:
      description: A validation or API error value.
      anyOf:
      - type: string
      - type: array
        items:
          type: string
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorBag:
      description: Validation errors keyed by field, a list of errors, a single error
        message, or null when no structured error details are available.
      anyOf:
      - type: string
      - type: array
        items:
          "$ref": "#/components/schemas/ErrorValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/ErrorValue"
      - type: 'null'
    ErrorMessage:
      description: An API error message represented as text or structured JSON.
      anyOf:
      - type: string
      - "$ref": "#/components/schemas/ErrorBag"
      - type: 'null'
    StandardErrorResponse:
      description: Common legacy error response envelope. Older endpoints may return
        one or more of these fields depending on the controller path.
      type: object
      properties:
        message:
          type: string
        error:
          "$ref": "#/components/schemas/ErrorMessage"
        error_message:
          "$ref": "#/components/schemas/ErrorMessage"
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          "$ref": "#/components/schemas/Meta"
      additionalProperties:
        "$ref": "#/components/schemas/JsonValue"
    StandardUnauthorizedResponse:
      description: Common legacy unauthorized response envelope.
      allOf:
      - "$ref": "#/components/schemas/StandardErrorResponse"
    StandardForbiddenResponse:
      description: Common legacy forbidden response envelope.
      allOf:
      - "$ref": "#/components/schemas/StandardErrorResponse"
    QueryDamAssetsResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        path:
          type:
          - string
          - number
          - integer
          - 'null'
          description: The path pattern that was queried
        tree:
          type:
          - object
          - 'null'
          description: Nested tree structure of assets organized by path segments.
            Folder nodes are objects keyed by the next path segment; each leaf is
            an asset object with asset_code, name, category, created_at, and a variants
            array (file_name, mime_type, updated_at, metadata, tags, default, url,
            content, data).
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
            total_count:
              type:
              - integer
              - 'null'
              description: Total number of asset paths matching the query across
                all pages
            next_cursor:
              type:
              - string
              - 'null'
              description: Opaque cursor for the next page. Present only when has_more
                is true.
            has_more:
              type:
              - boolean
              - 'null'
              description: True when more asset paths are available. Present only
                when there is a next page.
            limit:
              type:
              - integer
              - 'null'
              description: Page size applied to this request. Present only when
                there is a next page.
    UpdateDamVariantResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        variant:
          title: Dam::Variant
          type:
          - object
          - 'null'
          properties:
            id:
              type:
              - string
              - number
              - integer
              - 'null'
            file_name:
              type:
              - string
              - number
              - integer
              - 'null'
            mime_type:
              type:
              - string
              - number
              - integer
              - 'null'
            metadata:
              type:
              - object
              - 'null'
              additionalProperties:
                "$ref": "#/components/schemas/JsonValue"
            checksum:
              type:
              - string
              - number
              - integer
              - 'null'
            tags:
              type:
              - array
              - 'null'
              items:
                "$ref": "#/components/schemas/JsonValue"
            default:
              type:
              - boolean
              - 'null'
            url:
              type:
              - string
              - number
              - integer
              - 'null'
            media_type:
              type:
              - string
              - number
              - integer
              - 'null'
            is_original:
              type:
              - boolean
              - 'null'
            is_text:
              type:
              - boolean
              - 'null'
            content:
              type:
              - string
              - number
              - integer
              - 'null'
            updated_at:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    DAMAssetCreateResponse:
      type: object
      properties:
        asset:
          type: object
          properties:
            canonical_path:
              type: string
            category:
              type: string
            code:
              type: string
            company:
              type: string
            created_at:
              type: string
              format: date-time
            default_variant_id:
              type: 'null'
            default_variant_url:
              type: 'null'
            description:
              type: 'null'
            id:
              type: integer
            name:
              type: string
            updated_at:
              type: string
              format: date-time
          required:
          - canonical_path
          - category
          - code
          - company
          - created_at
          - default_variant_id
          - default_variant_url
          - description
          - id
          - name
          - updated_at
          additionalProperties: false
        meta:
          type: object
          properties:
            request_id:
              type: string
            timestamp:
              type: string
              format: date-time
          required:
          - request_id
          - timestamp
          additionalProperties: false
      required:
      - asset
      - meta
      additionalProperties: false
    DAMAssetDestroyResponse:
      type: object
      properties:
        meta:
          type: object
          properties:
            request_id:
              type: string
            timestamp:
              type: string
              format: date-time
          required:
          - request_id
          - timestamp
          additionalProperties: false
      required:
      - meta
      additionalProperties: false
    DAMVariantDiscardResponse:
      type: object
      properties:
        meta:
          type: object
          properties:
            request_id:
              type: string
            timestamp:
              type: string
              format: date-time
          required:
          - request_id
          - timestamp
          additionalProperties: false
        variant:
          type: object
          properties:
            checksum:
              type: 'null'
            content:
              type: 'null'
            created_at:
              type: string
              format: date-time
            default:
              type: boolean
            file_name:
              type: string
            id:
              type: string
            is_original:
              type: boolean
            is_text:
              type: boolean
            media_type:
              type: string
            metadata:
              type: object
              properties:
                checksum:
                  type: 'null'
                density:
                  type: 'null'
                exif:
                  type: 'null'
                fileId:
                  type: string
                filePath:
                  type: 'null'
                format:
                  type: 'null'
                has_color_profile:
                  type: 'null'
                has_transparency:
                  type: 'null'
                height:
                  type: 'null'
                mime:
                  type: 'null'
                name:
                  type: 'null'
                phash:
                  type: 'null'
                quality:
                  type: 'null'
                size:
                  type: 'null'
                url:
                  type: string
                width:
                  type: 'null'
              required:
              - checksum
              - density
              - exif
              - fileId
              - filePath
              - format
              - has_color_profile
              - has_transparency
              - height
              - mime
              - name
              - phash
              - quality
              - size
              - url
              - width
              additionalProperties: false
            mime_type:
              type: string
            processed_at:
              type: 'null'
            processing_status:
              type: string
            storage_key:
              type: string
            tags:
              type: array
              items:
                type: string
            updated_at:
              type: string
              format: date-time
            url:
              type: string
          required:
          - checksum
          - content
          - created_at
          - default
          - file_name
          - id
          - is_original
          - is_text
          - media_type
          - metadata
          - mime_type
          - processed_at
          - processing_status
          - storage_key
          - tags
          - updated_at
          - url
          additionalProperties: false
      required:
      - meta
      - variant
      additionalProperties: false
    DAMVariantListResponse:
      type: object
      properties:
        meta:
          type: object
          properties:
            request_id:
              type: string
            timestamp:
              type: string
              format: date-time
          required:
          - request_id
          - timestamp
          additionalProperties: false
        variants:
          type: array
          items:
            type: object
            properties:
              checksum:
                type: 'null'
              content:
                type: 'null'
              created_at:
                type: string
                format: date-time
              default:
                type: boolean
              file_name:
                type: string
              id:
                type: string
              is_original:
                type: boolean
              is_text:
                type: boolean
              media_type:
                type: string
              metadata:
                type: object
                properties:
                  checksum:
                    type: 'null'
                  density:
                    type: 'null'
                  exif:
                    type: 'null'
                  fileId:
                    type: string
                  filePath:
                    type: 'null'
                  format:
                    type: 'null'
                  has_color_profile:
                    type: 'null'
                  has_transparency:
                    type: 'null'
                  height:
                    type: 'null'
                  mime:
                    type: 'null'
                  name:
                    type: 'null'
                  phash:
                    type: 'null'
                  quality:
                    type: 'null'
                  size:
                    type:
                    - integer
                    - 'null'
                  url:
                    type: string
                  width:
                    type: 'null'
                required:
                - checksum
                - density
                - exif
                - fileId
                - filePath
                - format
                - has_color_profile
                - has_transparency
                - height
                - mime
                - name
                - phash
                - quality
                - size
                - url
                - width
                additionalProperties: false
              mime_type:
                type: string
              processing_status:
                type: string
              tags:
                type: array
                items:
                  type: string
              updated_at:
                type: string
                format: date-time
              url:
                type: string
            required:
            - checksum
            - content
            - created_at
            - default
            - file_name
            - id
            - is_original
            - is_text
            - media_type
            - metadata
            - mime_type
            - processing_status
            - tags
            - updated_at
            - url
            additionalProperties: false
      required:
      - meta
      - variants
      additionalProperties: false
    DAMAssetReplaceFileResponse:
      type: object
      properties:
        asset:
          type: object
          properties:
            canonical_path:
              type: string
            category:
              type: string
            code:
              type: string
            company:
              type: string
            created_at:
              type: string
              format: date-time
            default_variant_id:
              type: string
            default_variant_url:
              type: string
            description:
              type: string
            id:
              type: integer
            name:
              type: string
            updated_at:
              type: string
              format: date-time
          required:
          - canonical_path
          - category
          - code
          - company
          - created_at
          - default_variant_id
          - default_variant_url
          - description
          - id
          - name
          - updated_at
          additionalProperties: false
        meta:
          type: object
          properties:
            request_id:
              type: string
            timestamp:
              type: string
              format: date-time
          required:
          - request_id
          - timestamp
          additionalProperties: false
      required:
      - asset
      - meta
      additionalProperties: false
    DAMVariantResponse:
      type: object
      properties:
        meta:
          type: object
          properties:
            request_id:
              type: string
            timestamp:
              type: string
              format: date-time
          required:
          - request_id
          - timestamp
          additionalProperties: false
        variant:
          type: object
          properties:
            checksum:
              type: 'null'
            content:
              type: 'null'
            created_at:
              type: string
              format: date-time
            default:
              type: boolean
            file_name:
              type: string
            id:
              type: string
            is_original:
              type: boolean
            is_text:
              type: boolean
            media_type:
              type: string
            metadata:
              type: object
              properties:
                checksum:
                  type: 'null'
                density:
                  type: 'null'
                exif:
                  type: 'null'
                fileId:
                  type: string
                filePath:
                  type: 'null'
                format:
                  type: 'null'
                has_color_profile:
                  type: 'null'
                has_transparency:
                  type: 'null'
                height:
                  type: 'null'
                mime:
                  type: 'null'
                name:
                  type: 'null'
                phash:
                  type: 'null'
                quality:
                  type: 'null'
                size:
                  type: integer
                url:
                  type: string
                width:
                  type: 'null'
              required:
              - checksum
              - density
              - exif
              - fileId
              - filePath
              - format
              - has_color_profile
              - has_transparency
              - height
              - mime
              - name
              - phash
              - quality
              - size
              - url
              - width
              additionalProperties: false
            mime_type:
              type: string
            processed_at:
              type: 'null'
            processing_status:
              type: string
            storage_key:
              type: string
            tags:
              type: array
              items:
                type: string
            updated_at:
              type: string
              format: date-time
            url:
              type: string
          required:
          - checksum
          - content
          - created_at
          - default
          - file_name
          - id
          - is_original
          - is_text
          - media_type
          - metadata
          - mime_type
          - processed_at
          - processing_status
          - storage_key
          - tags
          - updated_at
          - url
          additionalProperties: false
      required:
      - meta
      - variant
      additionalProperties: false
paths:
  "/api/dam/assets":
    post:
      summary: Errors when multiple asset types are provided
      tags:
      - dam
      operationId: dam_v0_create_dam_asset_invalid_mixed_payload
      security:
      - bearer_auth: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DAMAssetCreateResponse"
        '402':
          description: billing admission refused the upload before any byte or credential
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BillingRefusalResponse"
        '409':
          description: the operation key names an identical request that is still in progress or already completed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OperationInProgressResponse"
        '503':
          description: billing admission could not be recorded, so the upload did not run
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BillingAdmissionUnavailableResponse"
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      requestBody:
        content:
          multipart/form-data:
            schema:
              "$ref": "#/components/schemas/CreateDamAssetRequestBodyMultipartFormDataSchema"
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateDamAssetRequestBodyMultipartFormDataSchema"
        description: 'Binary file upload for the digital asset. Maximum file size:
          100MB. Required when using asset parameter group. Fileless asset groups
          (text_asset, placeholder_asset) may be sent as application/json.'
  "/api/dam/assets/backfill_imagekit":
    post:
      summary: Creates a DAM asset from ImageKit upload metadata
      tags:
      - dam
      operationId: dam_v0_create_dam_backfill_imagekit
      security:
      - bearer_auth: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateDamBackfillImagekitResponse201ApplicationJsonSchema"
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateDamBackfillImagekitRequestBodyApplicationJsonSchema"
        required: true
  "/api/dam/assets/imagekit_auth":
    post:
      summary: Issues ImageKit upload credentials (path-bound V2 JWT, or the transitional
        legacy V1 triple when no asset_id is given)
      tags:
      - dam
      operationId: dam_v0_create_dam_imagekit_auth
      security:
      - bearer_auth: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateDamImagekitAuthResponse201ApplicationJsonSchema"
        '402':
          description: billing admission refused the upload before any byte or credential
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BillingRefusalResponse"
        '409':
          description: the operation key names an identical request that is still in progress or already completed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OperationInProgressResponse"
        '503':
          description: billing admission could not be recorded, so no credential was issued
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BillingAdmissionUnavailableResponse"
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: asset not found in the company's library
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: validation failed (missing filename, credential issuance failure)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '500':
          description: ImageKit is not configured
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateDamImagekitAuthRequestBodyApplicationJsonSchema"
        required: false
  "/api/dam/assets/upload_preflight":
    post:
      summary: Admits one upload before any byte is consumed
      description: >-
        Records the billing admission and its start before the client sends the body, so a refusal
        arrives before local bytes, temporary files, remote fetches, or the store write. The
        returned admission id is what the registration adopts once the bytes are stored.
      tags:
      - dam
      operationId: dam_v0_create_dam_upload_preflight
      security:
      - bearer_auth: []
      responses:
        '201':
          description: Admitted and started before the bytes
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateDamUploadPreflightResponse201ApplicationJsonSchema"
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '402':
          description: billing admission refused the upload before any byte
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BillingRefusalResponse"
        '409':
          description: the operation key names an identical request that is still in progress or already completed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OperationInProgressResponse"
        '422':
          description: the declared file identity is invalid
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '503':
          description: billing admission could not be recorded, so no byte may be sent
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BillingAdmissionUnavailableResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateDamUploadPreflightRequestBodyApplicationJsonSchema"
        required: true
  "/api/dam/assets/{asset_code}/variants/{id}/discard":
    patch:
      summary: Discards a variant for an existing asset (soft delete)
      tags:
      - dam
      operationId: dam_v0_discard_dam_variant
      security:
      - bearer_auth: []
      parameters:
      - name: asset_code
        in: path
        required: true
        description: Asset code
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Variant ID
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DAMVariantDiscardResponse"
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: asset not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/dam/assets/{code}":
    get:
      summary: Retrieves an asset by code
      tags:
      - dam
      description: Returns a single Digital Asset Management (DAM) asset for the
        authenticated company, looked up by its six-character asset code. The response
        includes the asset's canonical tree path, category, default variant ID, and
        the URL of its default variant. Requires a company admin Bearer token with
        media view permission, or a token granted the dam:browse scope. Soft-deleted
        (discarded) assets and codes belonging to another company return 404.
      operationId: dam_v0_show_dam_asset
      security:
      - bearer_auth: []
      parameters:
      - name: code
        in: path
        required: true
        description: Unique code identifier for the asset
        example: LOGO-001
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateDamBackfillImagekitResponse201ApplicationJsonSchema"
              example:
                asset:
                  id: 48213
                  code: K7QM4X
                  name: 20lb Copy Paper Hero
                  description: Product hero shot of a case of Dunder Mifflin 20lb Copy
                    Paper
                  category: images
                  created_at: '2026-09-14T15:22:08Z'
                  updated_at: '2026-09-21T09:47:31Z'
                  default_variant_id: 3f8b2c61-9d4e-4a7b-b1c5-7e2f9a6d0c84
                  canonical_path: 1405.image.png.K7QM4X
                  company: Dunder Mifflin Paper Company
                  default_variant_url: https://cdn.fluid.app/dunder-mifflin/dam/K7QM4X/20lb-copy-paper-hero.png
                meta:
                  request_id: 9c1e4f7a-2b3d-4e8f-a6c5-1d0b7e3f2a94
                  timestamp: '2026-09-30T14:05:12Z'
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: asset not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
    put:
      summary: Updates an existing asset
      tags:
      - dam
      operationId: dam_v0_update_dam_asset
      security:
      - bearer_auth: []
      parameters:
      - name: code
        in: path
        required: true
        description: Unique code identifier for the asset
        example: ACMELG
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateDamBackfillImagekitResponse201ApplicationJsonSchema"
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: asset not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateDamAssetRequestBodyApplicationJsonSchema"
        required: true
  "/api/dam/assets/{code}/asset_paths":
    get:
      summary: Lists asset paths for an existing asset
      tags:
      - dam
      operationId: dam_v0_get_dam_asset_paths
      security:
      - bearer_auth: []
      parameters:
      - name: code
        in: path
        required: true
        description: Asset code
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetDamAssetPathsResponse200ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: asset not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/dam/assets/{code}/asset_paths/{id}":
    delete:
      summary: Destroys an asset path
      tags:
      - dam
      operationId: dam_v0_destroy_dam_asset_path
      security:
      - bearer_auth: []
      parameters:
      - name: code
        in: path
        required: true
        description: Asset code
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Asset path ID
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DAMAssetDestroyResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: asset not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/dam/assets/{code}/discard":
    patch:
      summary: Discard an asset (soft delete)
      tags:
      - dam
      operationId: dam_v0_discard_dam_asset
      security:
      - bearer_auth: []
      parameters:
      - name: code
        in: path
        required: true
        description: Unique code identifier for the asset
        example: ACMELG
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DiscardDamAssetResponse200ApplicationJsonSchema"
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: asset not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/dam/assets/{code}/replace_file":
    patch:
      summary: Replace the underlying ImageKit file for an existing asset's default
        variant
      tags:
      - dam
      operationId: dam_v0_replace_file_dam_asset
      security:
      - bearer_auth: []
      parameters:
      - name: code
        in: path
        required: true
        description: Unique code identifier for the asset
        example: ACMELG
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DAMAssetReplaceFileResponse"
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: asset not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: validation failed (mime mismatch, fileId mismatch, missing
            variant)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - asset
              properties:
                asset:
                  type: object
                  required:
                  - imagekit_file_id
                  - mime_type
                  - imagekit_url
                  - file_size
                  properties:
                    imagekit_file_id:
                      type: string
                      description: ImageKit file ID; must match the variant's existing
                        file ID
                      example: 6839bdd2c1e6e500342a40b2
                    mime_type:
                      type: string
                      description: MIME type of the replacement file; must share the
                        family of the existing variant
                      example: image/jpeg
                    imagekit_url:
                      type: string
                      description: ImageKit URL of the replacement file; preserved
                        across overwrite
                      example: https://ik.imagekit.io/fluid/123/images/ACMELG/photo.jpg
                    file_size:
                      type: integer
                      description: Size of the replacement file in bytes
                      example: 248576
                    width:
                      type: integer
                      description: Width in pixels (images only)
                      example: 1920
                    height:
                      type: integer
                      description: Height in pixels (images only)
                      example: 1080
        required: true
  "/api/dam/assets/{code}/variants":
    get:
      summary: Returns all variants for an existing asset
      tags:
      - dam
      operationId: dam_v0_index_dam_variants
      security:
      - bearer_auth: []
      parameters:
      - name: code
        in: path
        required: true
        description: Asset code
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DAMVariantListResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: asset not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/dam/assets/{code}/variants/{id}":
    get:
      summary: Returns a specific variant for an existing asset
      tags:
      - dam
      operationId: dam_v0_show_dam_variant
      security:
      - bearer_auth: []
      parameters:
      - name: code
        in: path
        required: true
        description: Asset code
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Variant ID
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DAMVariantResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: asset not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
    put:
      summary: Updates tags for a specific variant
      tags:
      - dam
      operationId: dam_v0_update_dam_variant
      security:
      - bearer_auth: []
      parameters:
      - name: code
        in: path
        required: true
        description: Asset code
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Variant ID
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UpdateDamVariantResponse200ApplicationJsonSchema"
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: asset not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateDamVariantRequestBodyApplicationJsonSchema"
  "/api/dam/generate":
    post:
      summary: Generate AI images from a prompt with optional product context
      tags:
      - dam
      description: |
        Enqueues AI image generation as a background job using gpt-image-1.
        Returns immediately with a generation_id. Poll GET /api/dam/generate/{id}
        for results. When complete, use POST /api/dam/generate/save to persist
        selected images to the DAM.

        **Scope required:** `dam:ai_generate`
      operationId: dam_v0_generate_dam_images
      security:
      - bearer_auth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - generate
              properties:
                generate:
                  type: object
                  required:
                  - prompt
                  properties:
                    prompt:
                      type: string
                      description: The image generation prompt
                      example: lifestyle photo of this product on a kitchen counter
                    product_id:
                      type: integer
                      description: Optional product ID for context and reference images
                      example: 62
                    image_urls:
                      type: array
                      items:
                        type: string
                      description: Optional reference image URLs for GPT-4o vision.
                        Max 4.
                      example:
                      - https://ik.imagekit.io/fluid/s3/example_product.webp
                    count:
                      type: integer
                      description: Number of images to generate (1-4)
                      minimum: 1
                      maximum: 4
                      default: 1
                      example: 2
                    reference_image_url:
                      type: string
                      description: URL of an existing product image to use as a base
                        for editing (img2img). Must be HTTPS.
                      example: https://ik.imagekit.io/fluid/s3/product-photo.webp
                    size:
                      type: string
                      description: Image dimensions
                      default: 1024x1024
                      enum:
                      - 1024x1024
                      - 1536x1024
                      - 1024x1536
                      - auto
                      example: 1024x1024
                    quality:
                      type: string
                      description: Image quality
                      default: high
                      enum:
                      - low
                      - medium
                      - high
                      example: high
                    background:
                      type: string
                      description: Background handling for product cutouts
                      default: auto
                      enum:
                      - transparent
                      - opaque
                      - auto
                      example: auto
                    style:
                      type:
                      - string
                      - 'null'
                      description: Free-text style instruction appended to the prompt.
                        Null for no style.
                      example: cinematic
                    preset:
                      type:
                      - string
                      - 'null'
                      description: Style preset that prepends scene/lighting context
                        to the prompt. Null for no preset.
                      enum:
                      - studio
                      - lifestyle
                      - flat_lay
                      - outdoor
                      - social
                      - fashion
                      - wellness
                      - retro
                      example: lifestyle
            example:
              generate:
                prompt: lifestyle photo of this product on a marble countertop
                product_id: 62
                count: 2
                size: 1024x1024
                quality: high
                preset: lifestyle
      responses:
        '202':
          description: Generation enqueued
          content:
            application/json:
              schema:
                type: object
                required:
                - generation_id
                - status
                - meta
                properties:
                  generation_id:
                    type: string
                    format: uuid
                    description: Unique ID to poll for results
                    example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  status:
                    type: string
                    enum:
                    - pending
                    description: Always "pending" on initial response
                    example: pending
                  meta:
                    "$ref": "#/components/schemas/Meta"
              example:
                generation_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                status: pending
                meta:
                  request_id: req_abc123
                  timestamp: '2026-04-14T15:00:00Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/dam/generate/{id}":
    get:
      summary: Poll for image generation status
      tags:
      - dam
      description: |
        Returns the current status of a generation job. Poll every 2-3 seconds
        until status is "completed" or "failed". Results are available for 1 hour.

        **Scope required:** `dam:ai_generate`
      operationId: dam_v0_status_dam_generation
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        description: The generation_id returned by POST /api/dam/generate
        schema:
          type: string
          format: uuid
        example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      responses:
        '200':
          description: Generation status
          content:
            application/json:
              schema:
                type: object
                required:
                - generation_id
                - status
                - meta
                properties:
                  generation_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum:
                    - pending
                    - completed
                    - failed
                  generated_images:
                    type: array
                    description: Present only when status is "completed"
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                          description: URL of the generated image (hosted on ImageKit)
                          example: https://ik.imagekit.io/fluid/dam/ai-generated/12345/ai-generated-a1b2c3d4-0.png
                        revised_prompt:
                          type:
                          - string
                          - 'null'
                        index:
                          type: integer
                        size:
                          type: string
                        quality:
                          type: string
                        style:
                          type:
                          - string
                          - 'null'
                  refined_prompt:
                    type: string
                    description: Present only when status is "completed"
                  error:
                    type: string
                    description: Present only when status is "failed"
                  meta:
                    "$ref": "#/components/schemas/Meta"
              examples:
                pending:
                  summary: Still processing
                  value:
                    generation_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    status: pending
                    meta:
                      request_id: req_poll1
                      timestamp: '2026-04-14T15:00:05Z'
                completed:
                  summary: Images ready
                  value:
                    generation_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    status: completed
                    generated_images:
                    - url: https://ik.imagekit.io/fluid/dam/ai-generated/12345/ai-generated-a1b2c3d4-0.png
                      revised_prompt: A lifestyle photo of a supplement bottle on
                        marble
                      index: 0
                      size: 1024x1024
                      quality: high
                      style:
                    refined_prompt: lifestyle photo of this product on a marble countertop
                    meta:
                      request_id: req_poll2
                      timestamp: '2026-04-14T15:00:30Z'
                failed:
                  summary: Generation failed
                  value:
                    generation_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    status: failed
                    error: All image generations failed
                    meta:
                      request_id: req_poll3
                      timestamp: '2026-04-14T15:00:15Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Generation not found or expired
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/dam/generate/save":
    post:
      summary: Save generated images to the DAM
      tags:
      - dam
      description: |
        Persists one or more generated images (from temporary DALL-E URLs) into
        the DAM as assets. Each image is uploaded to ImageKit and tagged with
        `ai-generated` automatically. Saves are atomic — if any image fails,
        none are saved.

        **Scope required:** `dam:ai_generate`
      operationId: dam_v0_save_dam_generated_images
      security:
      - bearer_auth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - images
              properties:
                images:
                  type: array
                  description: Array of generated images to save
                  items:
                    type: object
                    required:
                    - url
                    - name
                    properties:
                      url:
                        type: string
                        description: Temporary DALL-E image URL
                        example: https://oaidalleapiprodscus.blob.core.windows.net/private/img.png?token=abc
                      name:
                        type: string
                        description: Display name for the DAM asset
                        example: AI Product Lifestyle Shot
                      description:
                        type: string
                        description: Optional description
                        example: AI-generated lifestyle photo of Rain Renu
                      tags:
                        type: string
                        description: Comma-separated tags (ai-generated added automatically)
                        example: marketing,hero,lifestyle
            example:
              images:
              - url: https://oaidalleapiprodscus.blob.core.windows.net/private/img.png?token=abc
                name: AI Product Lifestyle Shot
                description: AI-generated lifestyle photo
                tags: marketing,hero
      responses:
        '201':
          description: Images saved to DAM
          content:
            application/json:
              schema:
                type: object
                required:
                - assets
                - meta
                properties:
                  assets:
                    type: array
                    items:
                      type: object
                      additionalProperties:
                        "$ref": "#/components/schemas/JsonValue"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '422':
          description: Save failed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
              example:
                error_message: Save failed
                errors:
                  base:
                  - Failed to save generated images
                meta:
                  request_id: req_save789
                  timestamp: '2026-04-14T15:00:00Z'
  "/api/dam/query":
    post:
      summary: Query DAM assets using tree paths and tags
      tags:
      - dam
      description: Searches and retrieves DAM assets using tree path pattern matching,
        tag-based variant filtering, wildcard name matching, and partial search.
        Requires a company admin Bearer token with media view permission, or a token
        granted the dam:browse scope. Results are cursor-paginated over matching
        asset paths - pass limit (default 50, max 100) and the opaque meta.next_cursor
        from the previous response as cursor. A missing path, an invalid path pattern,
        or too many tags returns 400.
      operationId: dam_v0_query_dam_assets
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/QueryDamAssetsResponse200ApplicationJsonSchema"
              example:
                path: 1405.image.*
                tree:
                  '1405':
                    image:
                      png:
                        K7QM4X:
                          asset_code: K7QM4X
                          name: 20lb Copy Paper Hero
                          category: images
                          created_at: '2026-09-14T15:22:08Z'
                          variants:
                          - file_name: 20lb-copy-paper-hero.png
                            mime_type: image/png
                            updated_at: '2026-09-21T09:47:31Z'
                            metadata:
                              mime: image/png
                              width: 2400
                              height: 1600
                              size: 184320
                            tags:
                            - product
                            - hero
                            default: true
                            url: https://cdn.fluid.app/dunder-mifflin/dam/K7QM4X/20lb-copy-paper-hero.png
                            content:
                            data:
                meta:
                  request_id: 5e2a8d14-7c3f-4b91-9a6e-0f4d2c8b7e13
                  timestamp: '2026-09-30T14:07:45Z'
                  total_count: 37
                  next_cursor: eyJhc3NldF9wYXRoX2lkIjo5MTc0MiwiY3JlYXRlZF9hdCI6IjIwMjYtMDktMTRUMTU6MjI6MDhaIn0=
                  has_more: true
                  limit: 1
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '403':
          description: A public token (pub-) with an Origin the token's domain_allowlist
            does not permit, for a company enforcing that allowlist.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardForbiddenResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/QueryDamAssetsRequestBodyApplicationJsonSchema"
            example:
              path: 1405.image.*
              tags_string: product,hero
              search: copy paper
              exclude_categories: videos,audio
              limit: 1
        required: true
