---
openapi: 3.1.0
info:
  title: Fluid Fluid Os API
  version: v0
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: Bearer token authentication
  schemas:
    Meta:
      type: object
      properties:
        request_id:
          type: string
        timestamp:
          type: string
          format: date-time
      required:
      - request_id
      - timestamp
      additionalProperties: false
    PaginatedMeta:
      type: object
      properties:
        current_page:
          type: integer
        request_id:
          type: string
        timestamp:
          type: string
          format: date-time
        total_count:
          type: integer
        total_pages:
          type: integer
      required:
      - current_page
      - request_id
      - timestamp
      - total_count
      - total_pages
      additionalProperties: false
    ErrorResponse:
      type: object
      required:
      - error_message
      - errors
      - meta
      properties:
        error_message:
          type: string
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          "$ref": "#/components/schemas/Meta"
    UnauthorizedResponse:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    JsonValue:
      description: Any valid JSON value for provider, integration, theme, metadata,
        or other dynamic payloads whose keys are not fixed by the API contract.
      anyOf:
      - type: string
      - type: number
      - type: boolean
      - type: 'null'
      - type: array
        items:
          "$ref": "#/components/schemas/JsonValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorValue:
      description: A validation or API error value.
      anyOf:
      - type: string
      - type: array
        items:
          type: string
      - "$ref": "#/components/schemas/JsonValue"
    ErrorBag:
      description: Validation errors keyed by field, a list of errors, a single error
        message, or null when no structured error details are available.
      anyOf:
      - type: string
      - type: array
        items:
          "$ref": "#/components/schemas/ErrorValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/ErrorValue"
      - type: 'null'
    ErrorMessage:
      description: An API error message represented as text or structured JSON.
      anyOf:
      - type: string
      - "$ref": "#/components/schemas/ErrorBag"
      - type: 'null'
    StandardErrorResponse:
      description: Common legacy error response envelope. Older endpoints may return
        one or more of these fields depending on the controller path.
      type: object
      properties:
        message:
          type: string
        error:
          "$ref": "#/components/schemas/ErrorMessage"
        error_message:
          "$ref": "#/components/schemas/ErrorMessage"
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          "$ref": "#/components/schemas/Meta"
      additionalProperties:
        "$ref": "#/components/schemas/JsonValue"
    StandardUnauthorizedResponse:
      description: Common legacy unauthorized response envelope.
      allOf:
      - "$ref": "#/components/schemas/StandardErrorResponse"
    FluidOSDefinitionListResponse:
      type: object
      properties:
        definitions:
          type: array
          items:
            "$ref": "#/components/schemas/FluidOSDefinitionBasic"
        meta:
          "$ref": "#/components/schemas/PaginatedMeta"
      required:
      - definitions
      - meta
      additionalProperties: false
    FluidOSDefinitionRequest:
      type: object
      properties:
        definition:
          type:
          - object
          - 'null'
          properties:
            name:
              type: string
            active:
              type: boolean
          required:
          - name
          additionalProperties: false
      additionalProperties: false
    FluidOSDefinitionUpdateRequest:
      type: object
      properties:
        definition:
          type:
          - object
          - 'null'
          properties:
            name:
              type: string
            active:
              type: boolean
          additionalProperties: false
      additionalProperties: false
    FluidOSNavigationItemCreateRequest:
      type: object
      properties:
        navigation_item:
          type: object
          properties:
            icon:
              type: string
            label:
              type: string
            parent_id:
              type:
              - integer
              - 'null'
            position:
              type: integer
            screen_id:
              type:
              - integer
              - 'null'
            slug:
              type:
              - string
              - 'null'
            source:
              type: string
              enum:
              - user
              - system
              - code
          required:
          - label
          - position
          additionalProperties: false
      required:
      - navigation_item
      additionalProperties: false
    FluidOSNavigationCreateRequest:
      type: object
      properties:
        navigation:
          type: object
          properties:
            name:
              type: string
            platform:
              type: string
              enum:
              - web
              - mobile
          required:
          - name
          - platform
          additionalProperties: false
      required:
      - navigation
      additionalProperties: false
    FluidOSNavigationItemAttributes:
      type: object
      properties:
        screen_id:
          type: integer
        icon:
          type: string
        label:
          type: string
        position:
          type: integer
        parent_id:
          type: integer
        slug:
          type: string
        source:
          type: string
          enum:
          - user
          - system
          - code
      additionalProperties: false
    FluidOSNavigationAttributes:
      type: object
      properties:
        name:
          type: string
        navigation_items_attributes:
          type: array
          items:
            "$ref": "#/components/schemas/FluidOSNavigationItemAttributes"
      required:
      - name
      additionalProperties: false
    FluidOSProfilePermissions:
      type: object
      properties:
        countries:
          type: array
          items:
            type: integer
        ranks:
          type: array
          items:
            type: integer
        roles:
          type: array
          items:
            type: string
        platform:
          type: array
          items:
            type: string
      additionalProperties: false
    FluidOSProfileCreateRequest:
      type: object
      properties:
        profile:
          type: object
          properties:
            default:
              type: boolean
            mobile_navigation_id:
              type: integer
            mobile_navigation_attributes:
              "$ref": "#/components/schemas/FluidOSNavigationAttributes"
            name:
              type: string
            navigation_id:
              type: integer
            navigation_attributes:
              "$ref": "#/components/schemas/FluidOSNavigationAttributes"
            theme_ids:
              type: array
              items:
                type: integer
            permissions:
              "$ref": "#/components/schemas/FluidOSProfilePermissions"
          required:
          - name
          allOf:
          - oneOf:
            - required:
              - navigation_id
            - required:
              - navigation_attributes
          - oneOf:
            - required:
              - mobile_navigation_id
            - required:
              - mobile_navigation_attributes
          additionalProperties: false
      required:
      - profile
      additionalProperties: false
    FluidOSScreenCreateRequest:
      type: object
      properties:
        screen:
          type: object
          properties:
            component_tree:
              anyOf:
              - "$ref": "#/components/schemas/FluidOSDynamicObject"
              - type: 'null'
            name:
              type: string
            slug:
              type: string
          required:
          - name
          - slug
          additionalProperties: false
      required:
      - screen
      additionalProperties: false
    FluidOSThemeCreateRequest:
      type: object
      properties:
        theme:
          type: object
          properties:
            config:
              "$ref": "#/components/schemas/FluidOSDynamicObject"
            name:
              type: string
            active:
              type: boolean
          required:
          - config
          - name
          additionalProperties: false
      required:
      - theme
      additionalProperties: false
    FluidOSNavigationItemUpdateRequest:
      type: object
      properties:
        navigation_item:
          type: object
          properties:
            icon:
              type: string
            label:
              type: string
            parent_id:
              type:
              - integer
              - 'null'
            position:
              type: integer
            screen_id:
              type:
              - integer
              - 'null'
            slug:
              type:
              - string
              - 'null'
            source:
              type: string
              enum:
              - user
              - system
              - code
          additionalProperties: false
      required:
      - navigation_item
      additionalProperties: false
    FluidOSNavigationUpdateRequest:
      type: object
      properties:
        navigation:
          type: object
          properties:
            name:
              type: string
            platform:
              type: string
              enum:
              - web
              - mobile
          additionalProperties: false
      required:
      - navigation
      additionalProperties: false
    FluidOSProfileUpdateRequest:
      type: object
      properties:
        profile:
          type: object
          properties:
            name:
              type: string
            default:
              type: boolean
            navigation_id:
              type: integer
            mobile_navigation_id:
              type: integer
            theme_ids:
              type: array
              items:
                type: integer
            permissions:
              "$ref": "#/components/schemas/FluidOSProfilePermissions"
          additionalProperties: false
      required:
      - profile
      additionalProperties: false
    FluidOSScreenUpdateRequest:
      type: object
      properties:
        screen:
          type: object
          properties:
            name:
              type: string
            slug:
              type: string
            component_tree:
              anyOf:
              - "$ref": "#/components/schemas/FluidOSDynamicObject"
              - type: 'null'
          additionalProperties: false
      required:
      - screen
      additionalProperties: false
    FluidOSThemeUpdateRequest:
      type: object
      properties:
        theme:
          type: object
          properties:
            name:
              type: string
            active:
              type: boolean
            config:
              "$ref": "#/components/schemas/FluidOSDynamicObject"
          additionalProperties: false
      required:
      - theme
      additionalProperties: false
    FluidOSVersionUpdateRequest:
      type: object
      properties:
        version:
          type: object
          properties:
            active:
              type: boolean
          additionalProperties: false
      required:
      - version
      additionalProperties: false
    FluidOSNavigationItem:
      title: FluidOS::NavigationItem
      type: object
      properties:
        id:
          type: integer
        icon:
          type:
          - string
          - 'null'
        label:
          type:
          - string
          - 'null'
        parent_id:
          type:
          - integer
          - 'null'
        position:
          type:
          - integer
          - 'null'
        screen_id:
          type:
          - integer
          - 'null'
        slug:
          type:
          - string
          - 'null'
        source:
          type: string
          enum:
          - user
          - system
          - code
        children:
          type: array
          items:
            "$ref": "#/components/schemas/FluidOSNavigationItem"
      required:
      - id
    FluidOSScreenBasic:
      title: FluidOS::Screen
      type: object
      properties:
        id:
          type: integer
        name:
          type:
          - string
          - 'null'
        slug:
          type:
          - string
          - 'null'
        definition_id:
          type: integer
      required:
      - id
      - definition_id
    FluidOSScreen:
      title: FluidOS::Screen
      type: object
      properties:
        id:
          type: integer
        name:
          type:
          - string
          - 'null'
        slug:
          type:
          - string
          - 'null'
        definition_id:
          type: integer
        component_tree:
          "$ref": "#/components/schemas/FluidOSDynamicPayload"
      required:
      - id
      - definition_id
    FluidOSTheme:
      title: FluidOS::Theme
      type: object
      properties:
        id:
          type: integer
        config:
          "$ref": "#/components/schemas/FluidOSDynamicPayload"
        active:
          type:
          - boolean
          - 'null'
        name:
          type:
          - string
          - 'null'
        definition_id:
          type: integer
      required:
      - id
      - definition_id
    FluidOSNavigationBasic:
      title: FluidOS::Navigation
      type: object
      properties:
        id:
          type: integer
        name:
          type:
          - string
          - 'null'
        definition_id:
          type: integer
        platform:
          type: string
          enum:
          - web
          - mobile
      required:
      - id
      - definition_id
      - platform
    FluidOSNavigation:
      title: FluidOS::Navigation
      type: object
      properties:
        id:
          type: integer
        name:
          type:
          - string
          - 'null'
        definition_id:
          type: integer
        platform:
          type: string
          enum:
          - web
          - mobile
        screens:
          type: array
          items:
            "$ref": "#/components/schemas/FluidOSScreen"
      required:
      - id
      - definition_id
      - platform
    FluidOSNavigationWithItems:
      title: FluidOS::Navigation
      type: object
      properties:
        id:
          type: integer
        name:
          type:
          - string
          - 'null'
        definition_id:
          type: integer
        platform:
          type: string
          enum:
          - web
          - mobile
        navigation_items:
          type: array
          items:
            "$ref": "#/components/schemas/FluidOSNavigationItem"
      required:
      - id
      - definition_id
      - platform
    FluidOSProfile:
      title: FluidOS::Profile
      type: object
      properties:
        id:
          type: integer
        name:
          type:
          - string
          - 'null'
        default:
          type:
          - boolean
          - 'null'
        permissions:
          "$ref": "#/components/schemas/FluidOSDynamicPayload"
        definition_id:
          type: integer
        navigation:
          anyOf:
          - "$ref": "#/components/schemas/FluidOSNavigationWithItems"
          - type: 'null'
        mobile_navigation:
          "$ref": "#/components/schemas/FluidOSNavigationWithItems"
        themes:
          type: array
          items:
            "$ref": "#/components/schemas/FluidOSTheme"
      required:
      - id
      - definition_id
    FluidOSProfileWithScreens:
      title: FluidOS::Profile
      type: object
      properties:
        id:
          type: integer
        name:
          type:
          - string
          - 'null'
        default:
          type:
          - boolean
          - 'null'
        permissions:
          "$ref": "#/components/schemas/FluidOSDynamicPayload"
        definition_id:
          type: integer
        navigation:
          anyOf:
          - "$ref": "#/components/schemas/FluidOSNavigationWithItems"
          - type: 'null'
        mobile_navigation:
          "$ref": "#/components/schemas/FluidOSNavigationWithItems"
        themes:
          type: array
          items:
            "$ref": "#/components/schemas/FluidOSTheme"
        screens:
          type: array
          items:
            "$ref": "#/components/schemas/FluidOSScreen"
      required:
      - id
      - definition_id
    FluidOSDefinitionBasic:
      title: FluidOS::Definition
      type: object
      properties:
        id:
          type: integer
        name:
          type:
          - string
          - 'null'
        active:
          type:
          - boolean
          - 'null'
      required:
      - id
    FluidOSDefinition:
      title: FluidOS::Definition
      type: object
      properties:
        id:
          type: integer
        name:
          type:
          - string
          - 'null'
        active:
          type:
          - boolean
          - 'null'
        profiles:
          type: array
          items:
            "$ref": "#/components/schemas/FluidOSProfile"
        screens:
          type: array
          items:
            "$ref": "#/components/schemas/FluidOSScreenBasic"
        navigations:
          type: array
          items:
            "$ref": "#/components/schemas/FluidOSNavigationBasic"
        themes:
          type: array
          items:
            "$ref": "#/components/schemas/FluidOSTheme"
      required:
      - id
    FluidOSVersion:
      title: FluidOS::Version
      type: object
      properties:
        id:
          type: integer
        active:
          type:
          - boolean
          - 'null'
        manifest:
          "$ref": "#/components/schemas/FluidOSDynamicPayload"
        published_at:
          type:
          - string
          - 'null'
          format: date-time
        definition_id:
          type: integer
      required:
      - id
      - definition_id
    FluidOSWidgetPackageVersionArtifactContentTypeConstraint:
      description: Couples each widget package artifact path class with the only
        accepted contentType value.
      oneOf:
      - title: Widget script artifact
        type: object
        required:
        - path
        - contentType
        properties:
          path:
            const: widget.js
          contentType:
            const: application/javascript
      - title: Widget manifest artifact
        type: object
        required:
        - path
        - contentType
        properties:
          path:
            const: manifest.json
          contentType:
            const: application/json
      - title: Stylesheet artifact
        type: object
        required:
        - path
        - contentType
        properties:
          path:
            type: string
            pattern: '^[A-Za-z0-9._~-]+\.css$'
          contentType:
            const: text/css
      - title: Source map artifact
        type: object
        required:
        - path
        - contentType
        properties:
          path:
            type: string
            pattern: '^[A-Za-z0-9._~-]+\.js\.map$'
          contentType:
            const: application/json
    FluidOSWidgetPackageVersionCompletionArtifactContentTypeConstraint:
      description: Couples each widget package artifact path class with the only
        accepted contentType/content_type alias values when supplied.
      oneOf:
      - title: Widget script artifact
        type: object
        required:
        - path
        properties:
          path:
            const: widget.js
          contentType:
            const: application/javascript
          content_type:
            const: application/javascript
      - title: Widget manifest artifact
        type: object
        required:
        - path
        properties:
          path:
            const: manifest.json
          contentType:
            const: application/json
          content_type:
            const: application/json
      - title: Stylesheet artifact
        type: object
        required:
        - path
        properties:
          path:
            type: string
            pattern: '^[A-Za-z0-9._~-]+\.css$'
          contentType:
            const: text/css
          content_type:
            const: text/css
      - title: Source map artifact
        type: object
        required:
        - path
        properties:
          path:
            type: string
            pattern: '^[A-Za-z0-9._~-]+\.js\.map$'
          contentType:
            const: application/json
          content_type:
            const: application/json
    FluidOSWidgetPackageVersionArtifactInput:
      description: Artifact metadata required before Fluid OS widget package upload
        URLs can be issued. Artifact paths must be unique within the request,
        and the artifact list must include widget.js and manifest.json before
        upload URLs are issued. Artifact paths are top-level package artifact
        filenames only; accepted names are widget.js, manifest.json, *.css,
        and *.js.map with no slash paths. Accepted content types are
        application/javascript for widget.js, application/json for manifest.json
        and *.js.map, and text/css for *.css. Byte sizes are non-negative and
        checked against configured per-artifact and bundle limits; defaults are
        5 MiB per artifact and 10 MiB per bundle unless environment config
        changes them.
      type: object
      allOf:
      - "$ref": "#/components/schemas/FluidOSWidgetPackageVersionArtifactContentTypeConstraint"
      required:
      - path
      - sha256
      - bytes
      - contentType
      properties:
        path:
          type: string
          pattern: '^(widget\.js|manifest\.json|[A-Za-z0-9._~-]+\.css|[A-Za-z0-9._~-]+\.js\.map)$'
          description: Top-level package artifact filename. Accepted names are
            widget.js, manifest.json, *.css, or *.js.map; slash paths are not
            accepted.
        sha256:
          type: string
          minLength: 1
          description: Expected SHA256 checksum for the artifact content.
        bytes:
          type: integer
          minimum: 0
          description: Expected artifact size in bytes. Checked against configured
            per-artifact and bundle limits; defaults are 5 MiB per artifact and
            10 MiB per bundle unless environment config changes them.
        contentType:
          type: string
          enum:
          - application/javascript
          - application/json
          - text/css
          description: MIME content type used when uploading the artifact. Accepted
            values are application/javascript for widget.js, application/json for
            manifest.json and *.js.map, and text/css for *.css.
    FluidOSWidgetPackageVersionCreateRequest:
      description: Request payload for starting a company-owned Fluid OS widget package
        version publish flow. Artifact paths must be unique top-level package
        artifact filenames. The artifacts list must include widget.js and
        manifest.json so the API can issue upload URLs and later verify the
        completed upload.
      type: object
      required:
      - package_key
      - version
      - builder_version
      - cli_version
      - runtime_version
      - manifest_hash
      - manifest
      - artifacts
      properties:
        package_key:
          type: string
          minLength: 1
          pattern: '^(?!\.\.?$)[A-Za-z0-9._~-]+$'
          description: Non-empty, object-path-safe company-owned widget package
            key. Use URL-safe characters only; . and .. are not accepted.
        version:
          type: string
          minLength: 1
          pattern: '^(?!\.\.?$)[A-Za-z0-9._~-]+$'
          description: Non-empty, object-path-safe widget package version identifier
            accepted in the URL and upload path. Dotted versions such as 1.0.0
            are accepted; only exact . or .. path segments and characters outside
            [A-Za-z0-9._~-] are rejected.
        builder_version:
          type: string
          minLength: 1
          description: Fluid OS builder version that produced this package.
        cli_version:
          type: string
          minLength: 1
          description: Fluid OS CLI version that published this package.
        runtime_version:
          type: string
          minLength: 1
          description: Fluid OS runtime version targeted by this package.
        manifest_hash:
          type: string
          minLength: 1
          description: SHA256 checksum of the serialized manifest JSON.
        manifest:
          type: object
          minProperties: 1
          description: Widget package manifest JSON. It must use the supported
            widget manifest structure, contain at least one extractable widget
            type, and every widget type in that structure must use the company-owned
            prefix `company.<package_key>.`.
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        artifacts:
          type: array
          minItems: 2
          description: Top-level package artifacts to upload. The list must include
            widget.js and manifest.json.
          allOf:
          - contains:
              type: object
              required:
              - path
              properties:
                path:
                  const: widget.js
          - contains:
              type: object
              required:
              - path
              properties:
                path:
                  const: manifest.json
          items:
            "$ref": "#/components/schemas/FluidOSWidgetPackageVersionArtifactInput"
        build_metadata:
          type: object
          description: Optional publisher metadata stored with the package version.
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
    FluidOSWidgetPackageVersionUpload:
      description: Upload instructions for a widget package artifact.
      type: object
      required:
      - path
      - upload_url
      - public_url
      properties:
        path:
          type: string
          pattern: '^(widget\.js|manifest\.json|[A-Za-z0-9._~-]+\.css|[A-Za-z0-9._~-]+\.js\.map)$'
          description: Top-level package artifact filename.
        upload_url:
          type: string
          format: uri
        public_url:
          type: string
          format: uri
      additionalProperties: false
    FluidOSWidgetPackageVersionCreateResponse:
      description: Upload session details for a pending Fluid OS widget package version.
      type: object
      required:
      - version_id
      - artifact_base_url
      - uploads
      properties:
        version_id:
          type: integer
        artifact_base_url:
          type: string
          format: uri
        uploads:
          type: array
          items:
            "$ref": "#/components/schemas/FluidOSWidgetPackageVersionUpload"
        warnings:
          type: array
          description: Present when a best-effort side effect of the publish
            failed — currently only the widget's Git repo provisioning
            (scope git_sync). The publish itself succeeded, but `fluid widget
            clone` will not work until a later publish re-provisions the repo.
          items:
            "$ref": "#/components/schemas/FluidOSWidgetPackageVersionPublishWarning"
      additionalProperties: false
    FluidOSWidgetPackageVersionPublishWarning:
      description: A best-effort publish side effect that did not complete.
      type: object
      required:
      - scope
      - type
      properties:
        scope:
          type: string
          enum:
          - git_sync
        type:
          type: string
          description: Machine-readable failure type (e.g. no_org_available,
            adapter_unregistered, repo_invalid, git_sync_error).
        message:
          type:
          - string
          - 'null'
          description: Human-readable failure description.
      additionalProperties: false
    FluidOSDefinitionProvisionWarning:
      description: A best-effort portal-definition create side effect that did
        not complete (currently only Git repo provisioning).
      type: object
      required:
      - scope
      - type
      properties:
        scope:
          type: string
          enum:
          - git_sync
        type:
          type: string
          description: Machine-readable failure type (e.g. no_org_available,
            adapter_unregistered, repo_invalid, git_sync_error).
        message:
          type:
          - string
          - 'null'
          description: Human-readable failure description.
      additionalProperties: false
    FluidOSWidgetPackageVersionCompletionArtifactInput:
      description: Optional artifact metadata supplied when completing a widget package
        upload. Artifact paths must be unique top-level package artifact filenames
        within the request; accepted names are widget.js, manifest.json, *.css,
        and *.js.map with no slash paths. Accepted content types are
        application/javascript for widget.js, application/json for manifest.json
        and *.js.map, and text/css for *.css. Byte sizes are non-negative and
        checked against configured per-artifact and bundle limits; defaults are
        5 MiB per artifact and 10 MiB per bundle unless environment config
        changes them. sha256/checksum, bytes/size, and contentType/content_type
        are accepted aliases and must match when both aliases are present;
        supplied artifact metadata is compared with the stored upload-session/package
        version artifact metadata during verification. If artifacts are supplied,
        they must include exactly the stored upload-session artifact paths. Manifest
        verification is separate and happens against uploaded artifact content.
      type: object
      allOf:
      - "$ref": "#/components/schemas/FluidOSWidgetPackageVersionCompletionArtifactContentTypeConstraint"
      required:
      - path
      properties:
        path:
          type: string
          minLength: 1
          pattern: '^(widget\.js|manifest\.json|[A-Za-z0-9._~-]+\.css|[A-Za-z0-9._~-]+\.js\.map)$'
          description: Top-level package artifact filename. Accepted names are
            widget.js, manifest.json, *.css, or *.js.map; slash paths are not
            accepted.
        sha256:
          type: string
          minLength: 1
          description: Expected SHA256 checksum for the artifact content.
        checksum:
          type: string
          minLength: 1
          description: Alias for sha256.
        bytes:
          type: integer
          minimum: 0
          description: Expected artifact size in bytes. Checked against configured
            per-artifact and bundle limits; defaults are 5 MiB per artifact and
            10 MiB per bundle unless environment config changes them.
        size:
          type: integer
          minimum: 0
          description: Alias for bytes; checked against the same configured
            per-artifact and bundle limits.
        contentType:
          type: string
          minLength: 1
          enum:
          - application/javascript
          - application/json
          - text/css
          description: MIME content type for the artifact. Accepted values are
            application/javascript for widget.js, application/json for manifest.json
            and *.js.map, and text/css for *.css.
        content_type:
          type: string
          minLength: 1
          enum:
          - application/javascript
          - application/json
          - text/css
          description: Alias for contentType.
    FluidOSWidgetPackageVersionCompleteUploadRequest:
      description: Request payload for verifying uploaded company-owned Fluid OS widget
        package artifacts. The version path parameter, optional package_key, and
        any supplied artifact metadata must match the stored upload-session/package
        version artifact metadata before the package version is approved. If artifacts
        are supplied, they must include exactly the stored upload-session artifact
        paths. Uploaded manifest.json is verified for matching packageId, matching
        version, and valid company-owned `company.<package_key>.` widget type
        prefixes.
      type: object
      properties:
        package_key:
          type:
          - string
          - 'null'
          minLength: 1
          pattern: '^(?!\.\.?$)[A-Za-z0-9._~-]+$'
          description: Optional non-empty, object-path-safe widget package key.
            When omitted, the company's widget package is used; . and .. are not
            accepted.
        artifacts:
          type: array
          minItems: 1
          description: Optional artifact metadata to compare with the stored upload
            session. When supplied, the list must include exactly the stored upload-session
            artifact paths; omissions and extras are rejected.
          items:
            "$ref": "#/components/schemas/FluidOSWidgetPackageVersionCompletionArtifactInput"
    FluidOSWidgetPackageVersionCompleteUploadResponse:
      description: Approved Fluid OS widget package version details.
      type: object
      required:
      - status
      - packageId
      - version
      - scriptUrl
      - cssUrls
      - manifestUrl
      properties:
        status:
          type: string
        packageId:
          type: string
        version:
          type: string
          minLength: 1
          pattern: '^(?!\.\.?$)[A-Za-z0-9._~-]+$'
          description: Non-empty, object-path-safe widget package version identifier.
            Dotted versions such as 1.0.0 are accepted; only exact . or .. path
            segments and characters outside [A-Za-z0-9._~-] are rejected.
        scriptUrl:
          type: string
          format: uri
        cssUrls:
          type: array
          items:
            type: string
            format: uri
        manifestUrl:
          type: string
          format: uri
      additionalProperties: false
    FluidOSWidgetPackageVersionVerificationErrorResponse:
      description: Flat verification failure response returned when uploaded artifacts
        do not match the package manifest or expected metadata.
      type: object
      required:
      - status
      - error_message
      - details
      properties:
        status:
          type: string
          enum:
          - error
        error_message:
          type: string
        details:
          type: object
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
      additionalProperties: false
    FluidOSDynamicPayload:
      description: Dynamic Fluid OS JSON payload whose keys are defined by the app
        builder configuration.
      type:
      - object
      - 'null'
      additionalProperties:
        "$ref": "#/components/schemas/JsonValue"
    FluidOSDynamicObject:
      description: Non-null dynamic Fluid OS JSON object whose keys are defined by
        the app builder configuration.
      type: object
      additionalProperties:
        "$ref": "#/components/schemas/JsonValue"
    FluidOSWidgetPackageCatalogEntry:
      type: object
      required:
      - manifestVersion
      - runtime
      - source
      - packageId
      - version
      - workerEntryUrl
      - cssUrls
      - assetUrls
      - widgets
      properties:
        manifestVersion:
          type: integer
          const: 1
        runtime:
          type: string
          const: remote-dom
        source:
          type: string
          enum:
          - company
          - droplet
          description: Package ownership source for the shared widget loading path.
        packageId:
          type: string
          description: Runtime package identifier prefixed by source.
          examples:
          - company.portal-home
          - droplet.reviews
        version:
          type: string
          description: Approved package version currently active for this owner.
        workerEntryUrl:
          type:
          - string
          - 'null'
          description: Public worker module URL for the package runtime artifact.
        cssUrls:
          type: array
          items:
            type: string
          description: Public stylesheet URLs for the package runtime artifacts.
        assetUrls:
          type: array
          items:
            type: string
          description: Public URLs for additional package runtime assets.
        widgets:
          type: array
          items:
            type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
          description: Widget definitions exposed to the Fluid OS runtime.
      additionalProperties: false
    FluidOSWidgetPackageCatalogResponse:
      type: object
      required:
      - packages
      properties:
        packages:
          type: array
          items:
            "$ref": "#/components/schemas/FluidOSWidgetPackageCatalogEntry"
      additionalProperties: false
    FluidOSWidgetPackageDropletForbiddenResponse:
      type: object
      required:
      - error
      - status
      properties:
        error:
          type: object
          required:
          - message
          properties:
            message:
              type: string
            details:
              type: object
              additionalProperties:
                "$ref": "#/components/schemas/JsonValue"
          additionalProperties: false
        status:
          type: integer
          enum:
          - 403
        meta:
          "$ref": "#/components/schemas/Meta"
      additionalProperties: false
    FluidOSWidgetPackageRoleForbiddenResponse:
      type: object
      required:
      - message
      properties:
        message:
          type: string
      additionalProperties: false
    FluidOSWidgetPackagePermissionForbiddenResponse:
      type: object
      required:
      - error
      properties:
        error:
          type: string
      additionalProperties: false
    FluidOSWidgetPackageForbiddenResponse:
      oneOf:
      - "$ref": "#/components/schemas/FluidOSWidgetPackageDropletForbiddenResponse"
      - "$ref": "#/components/schemas/FluidOSWidgetPackageRoleForbiddenResponse"
      - "$ref": "#/components/schemas/FluidOSWidgetPackagePermissionForbiddenResponse"
    GitCredential:
      description: Short-lived Git clone credential for a Fluid GitHub App-managed repository.
      type: object
      required:
      - remote_url
      - expires_at
      properties:
        remote_url:
          type: string
          format: uri
          description: |
            HTTPS clone URL with a short-lived installation token embedded as
            the password. Valid for ~1 hour (GitHub installation token TTL).
        expires_at:
          type: string
          format: date-time
          description: When the credential expires.
      additionalProperties: false
paths:
  "/api/company/fluid_os/widget_packages":
    get:
      summary: List Fluid OS widget packages
      tags:
      - fluid-os---widget-packages
      operationId: fluid_os_v0_list_widget_packages
      security:
      - bearer_auth: []
      description: Retrieve approved active portal widget packages for the current
        company. Company-owned packages are returned before approved packages from
        active installed droplets so the hosted portal shell and builder tooling use
        one shared widget loading order.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FluidOSWidgetPackageCatalogResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FluidOSWidgetPackageForbiddenResponse"
  "/api/company/fluid_os/definitions":
    get:
      summary: List Fluid OS definitions
      tags:
      - fluid-os---definitions
      operationId: fluid_os_v0_list_fluid_osdefinitions
      security:
      - bearer_auth: []
      description: Retrieve a list of Fluid OS definitions for the current company
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Page number for pagination
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
        description: Number of items per page
      - name: active
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FluidOSDefinitionListResponse"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
    post:
      summary: Create a Fluid OS definition
      tags:
      - fluid-os---definitions
      operationId: fluid_os_v0_create_fluid_osdefinition
      security:
      - bearer_auth: []
      description: Create a new Fluid OS definition
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - definition
                - meta
                properties:
                  definition:
                    "$ref": "#/components/schemas/FluidOSDefinition"
                  warnings:
                    type: array
                    description: Present when a best-effort side effect of the
                      create failed — currently only the portal's Git repo
                      provisioning (scope git_sync). The definition itself was
                      created, but `fluid portal clone` will not work until the
                      repo is provisioned.
                    items:
                      "$ref": "#/components/schemas/FluidOSDefinitionProvisionWarning"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/FluidOSDefinitionRequest"
              description: Request payload
        required: true
  "/api/company/fluid_os/definitions/{definition_id}/navigations":
    get:
      summary: List navigations for a Fluid OS definition
      tags:
      - fluid-os---navigations
      operationId: fluid_os_v0_list_fluid_osnavigations
      security:
      - bearer_auth: []
      description: Retrieve a list of navigations for a specific Fluid OS definition
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Page number for pagination
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
        description: Number of items per page
      - name: search_query
        in: query
        required: false
        schema:
          type: string
        description: Search navigations by name
      - name: sorted_by
        in: query
        required: false
        schema:
          type: string
        description: Sort order (e.g., created_at_desc, name_asc)
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - navigations
                - meta
                properties:
                  navigations:
                    type: array
                    items:
                      "$ref": "#/components/schemas/FluidOSNavigation"
                  meta:
                    "$ref": "#/components/schemas/PaginatedMeta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
    post:
      summary: Create a navigation for a Fluid OS definition
      tags:
      - fluid-os---navigations
      operationId: fluid_os_v0_create_fluid_osnavigation
      security:
      - bearer_auth: []
      description: Create a new navigation for a Fluid OS definition
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Definition not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - navigation
                - meta
                properties:
                  navigation:
                    "$ref": "#/components/schemas/FluidOSNavigation"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/FluidOSNavigationCreateRequest"
              description: Request payload
        required: true
      parameters:
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
    parameters:
    - name: definition_id
      in: path
      description: Definition ID
      required: true
      schema:
        type: integer
  "/api/company/fluid_os/definitions/{definition_id}/navigations/{id}":
    get:
      summary: Get a specific navigation
      tags:
      - fluid-os---navigations
      operationId: fluid_os_v0_get_fluid_osnavigation
      security:
      - bearer_auth: []
      description: Retrieve a specific navigation
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Navigation not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - navigation
                - meta
                properties:
                  navigation:
                    "$ref": "#/components/schemas/FluidOSNavigation"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      parameters:
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
    put:
      summary: Update a navigation
      tags:
      - fluid-os---navigations
      operationId: fluid_os_v0_update_fluid_osnavigation
      security:
      - bearer_auth: []
      description: Update an existing navigation
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Navigation not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - navigation
                - meta
                properties:
                  navigation:
                    "$ref": "#/components/schemas/FluidOSNavigation"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/FluidOSNavigationUpdateRequest"
              description: Request payload
        required: true
      parameters:
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
    delete:
      summary: Delete a navigation
      tags:
      - fluid-os---navigations
      operationId: fluid_os_v0_delete_fluid_osnavigation
      security:
      - bearer_auth: []
      description: Delete a navigation
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Navigation not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - navigation
                - meta
                properties:
                  navigation:
                    "$ref": "#/components/schemas/FluidOSNavigation"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      parameters:
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
    parameters:
    - name: definition_id
      in: path
      description: Definition ID
      required: true
      schema:
        type: integer
    - name: id
      in: path
      description: Navigation ID
      required: true
      schema:
        type: integer
  "/api/company/fluid_os/definitions/{definition_id}/navigations/{navigation_id}/navigation_items":
    get:
      summary: List navigation items for a navigation
      tags:
      - fluid-os---navigation-items
      operationId: fluid_os_v0_list_fluid_osnavigation_items
      security:
      - bearer_auth: []
      description: Retrieve a list of navigation items for a specific navigation
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Navigation not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - navigation_items
                - meta
                properties:
                  navigation_items:
                    type: array
                    items:
                      "$ref": "#/components/schemas/FluidOSNavigationItem"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      parameters:
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
      - name: navigation_id
        in: path
        required: true
        schema:
          type: integer
    post:
      summary: Create a navigation item
      tags:
      - fluid-os---navigation-items
      operationId: fluid_os_v0_create_fluid_osnavigation_item
      security:
      - bearer_auth: []
      description: Create a new navigation item for a navigation
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Definition or navigation not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - navigation_item
                - meta
                properties:
                  navigation_item:
                    "$ref": "#/components/schemas/FluidOSNavigationItem"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/FluidOSNavigationItemCreateRequest"
              description: Request payload
        required: true
      parameters:
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
      - name: navigation_id
        in: path
        required: true
        schema:
          type: integer
    parameters:
    - name: definition_id
      in: path
      description: Definition ID
      required: true
      schema:
        type: integer
    - name: navigation_id
      in: path
      description: Navigation ID
      required: true
      schema:
        type: integer
  "/api/company/fluid_os/definitions/{definition_id}/navigations/{navigation_id}/navigation_items/{id}":
    get:
      summary: Get a specific navigation item
      tags:
      - fluid-os---navigation-items
      operationId: fluid_os_v0_get_fluid_osnavigation_item
      security:
      - bearer_auth: []
      description: Retrieve a specific navigation item
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Navigation item not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - navigation_item
                - meta
                properties:
                  navigation_item:
                    "$ref": "#/components/schemas/FluidOSNavigationItem"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      parameters:
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
      - name: navigation_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
    put:
      summary: Update a navigation item
      tags:
      - fluid-os---navigation-items
      operationId: fluid_os_v0_update_fluid_osnavigation_item
      security:
      - bearer_auth: []
      description: Update an existing navigation item
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Navigation item not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - navigation_item
                - meta
                properties:
                  navigation_item:
                    "$ref": "#/components/schemas/FluidOSNavigationItem"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/FluidOSNavigationItemUpdateRequest"
              description: Request payload
        required: true
      parameters:
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
      - name: navigation_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
    delete:
      summary: Delete a navigation item
      tags:
      - fluid-os---navigation-items
      operationId: fluid_os_v0_delete_fluid_osnavigation_item
      security:
      - bearer_auth: []
      description: Delete a navigation item
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Navigation item not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - navigation_item
                - meta
                properties:
                  navigation_item:
                    "$ref": "#/components/schemas/FluidOSNavigationItem"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      parameters:
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
      - name: navigation_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
    parameters:
    - name: definition_id
      in: path
      description: Definition ID
      required: true
      schema:
        type: integer
    - name: navigation_id
      in: path
      description: Navigation ID
      required: true
      schema:
        type: integer
    - name: id
      in: path
      description: Navigation Item ID
      required: true
      schema:
        type: integer
  "/api/company/fluid_os/definitions/{definition_id}/profiles":
    get:
      summary: List profiles for a Fluid OS definition
      tags:
      - fluid-os---profiles
      operationId: fluid_os_v0_list_fluid_osprofiles
      security:
      - bearer_auth: []
      description: Retrieve a list of profiles for a specific Fluid OS definition
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Page number for pagination
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
        description: Number of items per page
      - name: search_query
        in: query
        required: false
        schema:
          type: string
        description: Search profiles by name
      - name: sorted_by
        in: query
        required: false
        schema:
          type: string
        description: Sort order (e.g., created_at_desc, name_asc)
      - name: with_platform[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
        description: Filter by platform (mobile, browser)
      - name: with_country_ids[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        style: form
        explode: true
        description: Filter by country IDs
      - name: with_roles[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
        description: Filter by user roles
      - name: with_rank_ids[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        style: form
        explode: true
        description: Filter by rank IDs
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - profiles
                - meta
                properties:
                  profiles:
                    type: array
                    items:
                      "$ref": "#/components/schemas/FluidOSProfile"
                  meta:
                    "$ref": "#/components/schemas/PaginatedMeta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
    post:
      summary: Create a profile for a Fluid OS definition
      tags:
      - fluid-os---profiles
      operationId: fluid_os_v0_create_fluid_osprofile
      security:
      - bearer_auth: []
      description: Create a new profile for a Fluid OS definition
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Definition not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - profile
                - meta
                properties:
                  profile:
                    "$ref": "#/components/schemas/FluidOSProfile"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/FluidOSProfileCreateRequest"
              description: Request payload
        required: true
      parameters:
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
    parameters:
    - name: definition_id
      in: path
      description: Definition ID
      required: true
      schema:
        type: integer
  "/api/company/fluid_os/definitions/{definition_id}/profiles/default":
    get:
      summary: Get the default profile
      tags:
      - fluid-os---profiles
      operationId: fluid_os_v0_get_default_fluid_osprofile
      security:
      - bearer_auth: []
      description: Retrieve the default profile for a Fluid OS definition
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: No default profile found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - profile
                - meta
                properties:
                  profile:
                    "$ref": "#/components/schemas/FluidOSProfileWithScreens"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      parameters:
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
    parameters:
    - name: definition_id
      in: path
      description: Definition ID
      required: true
      schema:
        type: integer
  "/api/company/fluid_os/definitions/{definition_id}/profiles/{id}":
    get:
      summary: Get a specific profile
      tags:
      - fluid-os---profiles
      operationId: fluid_os_v0_get_fluid_osprofile
      security:
      - bearer_auth: []
      description: Retrieve a specific profile
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Profile not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - profile
                - meta
                properties:
                  profile:
                    "$ref": "#/components/schemas/FluidOSProfileWithScreens"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      parameters:
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
    put:
      summary: Update a profile
      tags:
      - fluid-os---profiles
      operationId: fluid_os_v0_update_fluid_osprofile
      security:
      - bearer_auth: []
      description: Update an existing profile
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Profile not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - profile
                - meta
                properties:
                  profile:
                    "$ref": "#/components/schemas/FluidOSProfile"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/FluidOSProfileUpdateRequest"
              description: Request payload
        required: true
      parameters:
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
    delete:
      summary: Delete a profile
      tags:
      - fluid-os---profiles
      operationId: fluid_os_v0_delete_fluid_osprofile
      security:
      - bearer_auth: []
      description: Delete a profile
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Profile not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - profile
                - meta
                properties:
                  profile:
                    "$ref": "#/components/schemas/FluidOSProfile"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      parameters:
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
    parameters:
    - name: definition_id
      in: path
      description: Definition ID
      required: true
      schema:
        type: integer
    - name: id
      in: path
      description: Profile ID
      required: true
      schema:
        type: integer
  "/api/company/fluid_os/definitions/{definition_id}/screens":
    get:
      summary: List screens for a Fluid OS definition
      tags:
      - fluid-os---screens
      operationId: fluid_os_v0_list_fluid_osscreens
      security:
      - bearer_auth: []
      description: Retrieve a list of screens for a specific Fluid OS definition
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Page number for pagination
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
        description: Number of items per page
      - name: search_query
        in: query
        required: false
        schema:
          type: string
        description: Search screens by label or slug
      - name: sorted_by
        in: query
        required: false
        schema:
          type: string
        description: Sort order (e.g., created_at_desc, label_asc)
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - screens
                - meta
                properties:
                  screens:
                    type: array
                    items:
                      "$ref": "#/components/schemas/FluidOSScreen"
                  meta:
                    "$ref": "#/components/schemas/PaginatedMeta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
    post:
      summary: Create a screen for a Fluid OS definition
      tags:
      - fluid-os---screens
      operationId: fluid_os_v0_create_fluid_osscreen
      security:
      - bearer_auth: []
      description: Create a new screen for a Fluid OS definition
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Definition not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - screen
                - meta
                properties:
                  screen:
                    "$ref": "#/components/schemas/FluidOSScreen"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/FluidOSScreenCreateRequest"
              description: Request payload
        required: true
      parameters:
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
    parameters:
    - name: definition_id
      in: path
      description: Definition ID
      required: true
      schema:
        type: integer
  "/api/company/fluid_os/definitions/{definition_id}/screens/{id}":
    get:
      summary: Get a specific screen
      tags:
      - fluid-os---screens
      operationId: fluid_os_v0_get_fluid_osscreen
      security:
      - bearer_auth: []
      description: Retrieve a specific screen
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Screen not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - screen
                - meta
                properties:
                  screen:
                    "$ref": "#/components/schemas/FluidOSScreen"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      parameters:
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
    put:
      summary: Update a screen
      tags:
      - fluid-os---screens
      operationId: fluid_os_v0_update_fluid_osscreen
      security:
      - bearer_auth: []
      description: Update an existing screen
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Screen not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - screen
                - meta
                properties:
                  screen:
                    "$ref": "#/components/schemas/FluidOSScreen"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/FluidOSScreenUpdateRequest"
              description: Request payload
        required: true
      parameters:
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
    delete:
      summary: Delete a screen
      tags:
      - fluid-os---screens
      operationId: fluid_os_v0_delete_fluid_osscreen
      security:
      - bearer_auth: []
      description: Delete a screen
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Screen not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - screen
                - meta
                properties:
                  screen:
                    "$ref": "#/components/schemas/FluidOSScreen"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      parameters:
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
    parameters:
    - name: definition_id
      in: path
      description: Definition ID
      required: true
      schema:
        type: integer
    - name: id
      in: path
      description: Screen ID
      required: true
      schema:
        type: integer
  "/api/company/fluid_os/definitions/{definition_id}/themes":
    get:
      summary: List themes for a Fluid OS definition
      tags:
      - fluid-os---themes
      operationId: fluid_os_v0_list_fluid_osthemes
      security:
      - bearer_auth: []
      description: Retrieve a list of themes for a specific Fluid OS definition
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Page number for pagination
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
        description: Number of items per page
      - name: search_query
        in: query
        required: false
        schema:
          type: string
        description: Search themes by name
      - name: sorted_by
        in: query
        required: false
        schema:
          type: string
        description: Sort order (e.g., created_at_desc, name_asc)
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - themes
                - meta
                properties:
                  themes:
                    type: array
                    items:
                      "$ref": "#/components/schemas/FluidOSTheme"
                  meta:
                    "$ref": "#/components/schemas/PaginatedMeta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
    post:
      summary: Create a theme for a Fluid OS definition
      tags:
      - fluid-os---themes
      operationId: fluid_os_v0_create_fluid_ostheme
      security:
      - bearer_auth: []
      description: Create a new theme for a Fluid OS definition
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Definition not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - theme
                - meta
                properties:
                  theme:
                    "$ref": "#/components/schemas/FluidOSTheme"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/FluidOSThemeCreateRequest"
              description: Request payload
        required: true
      parameters:
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
    parameters:
    - name: definition_id
      in: path
      description: Definition ID
      required: true
      schema:
        type: integer
  "/api/company/fluid_os/definitions/{definition_id}/themes/{id}":
    get:
      summary: Get a specific theme
      tags:
      - fluid-os---themes
      operationId: fluid_os_v0_get_fluid_ostheme
      security:
      - bearer_auth: []
      description: Retrieve a specific theme
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Theme not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - theme
                - meta
                properties:
                  theme:
                    "$ref": "#/components/schemas/FluidOSTheme"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      parameters:
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
    put:
      summary: Update a theme
      tags:
      - fluid-os---themes
      operationId: fluid_os_v0_update_fluid_ostheme
      security:
      - bearer_auth: []
      description: Update an existing theme
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Theme not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - theme
                - meta
                properties:
                  theme:
                    "$ref": "#/components/schemas/FluidOSTheme"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/FluidOSThemeUpdateRequest"
              description: Request payload
        required: true
      parameters:
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
    delete:
      summary: Delete a theme
      tags:
      - fluid-os---themes
      operationId: fluid_os_v0_delete_fluid_ostheme
      security:
      - bearer_auth: []
      description: Delete a theme
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Theme not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - theme
                - meta
                properties:
                  theme:
                    "$ref": "#/components/schemas/FluidOSTheme"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      parameters:
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
    parameters:
    - name: definition_id
      in: path
      description: Definition ID
      required: true
      schema:
        type: integer
    - name: id
      in: path
      description: Theme ID
      required: true
      schema:
        type: integer
  "/api/company/fluid_os/definitions/{definition_id}/versions":
    get:
      summary: List versions for a Fluid OS definition
      tags:
      - fluid-os---versions
      operationId: fluid_os_v0_list_fluid_osversions
      security:
      - bearer_auth: []
      description: Retrieve a list of published versions for a specific Fluid OS definition
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Page number for pagination
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
        description: Number of items per page
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - version
                - meta
                properties:
                  version:
                    type: array
                    items:
                      "$ref": "#/components/schemas/FluidOSVersion"
                  meta:
                    "$ref": "#/components/schemas/PaginatedMeta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
    post:
      summary: Publish a new version of a Fluid OS definition
      tags:
      - fluid-os---versions
      operationId: fluid_os_v0_create_fluid_osversion
      security:
      - bearer_auth: []
      description: Publish a new version of the Fluid OS definition. This creates
        a snapshot of the current definition state including all screens, profiles,
        themes, and navigations. No request body is required - the manifest is built
        automatically from the current definition state.
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Definition not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - version
                - meta
                properties:
                  version:
                    "$ref": "#/components/schemas/FluidOSVersion"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      parameters:
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
    parameters:
    - name: definition_id
      in: path
      description: Definition ID
      required: true
      schema:
        type: integer
  "/api/company/fluid_os/definitions/{definition_id}/versions/{id}":
    get:
      summary: Get a specific version
      tags:
      - fluid-os---versions
      operationId: fluid_os_v0_get_fluid_osversion
      security:
      - bearer_auth: []
      description: Retrieve a specific published version including its manifest
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Version not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - version
                - meta
                properties:
                  version:
                    "$ref": "#/components/schemas/FluidOSVersion"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      parameters:
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
    put:
      summary: Update a version
      tags:
      - fluid-os---versions
      operationId: fluid_os_v0_update_fluid_osversion
      security:
      - bearer_auth: []
      description: Update a version. Currently only supports activating/deactivating
        a version.
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Version not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - version
                - meta
                properties:
                  version:
                    "$ref": "#/components/schemas/FluidOSVersion"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '422':
          description: Unprocessable entity (validation failed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/FluidOSVersionUpdateRequest"
              description: Request payload
        required: true
      parameters:
      - name: definition_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
    parameters:
    - name: definition_id
      in: path
      description: Definition ID
      required: true
      schema:
        type: integer
    - name: id
      in: path
[...]
