---
openapi: 3.1.0
info:
  description: |-
    Manage your company's forms: build them, choose where they appear, share or embed them, and read, export, and follow up on their responses.

    A form is either a **post-purchase** form, which enrollment checkout shows after payment to buyers in the form's countries, or a **general** form, which you share by link, embed on a website, or send by email. Its fields are **form elements**. Each submission is a **respondent** that holds one **response** per answered element.

    Every operation takes a Bearer token (`Authorization: Bearer <token>`) for your company. Reading operations need the forms view permission, and writing operations need the forms update permission, except **Respond to a form**, which any member of the company can call. Root admins and droplet tokens skip these permission checks. **Respond to a form** also accepts unauthenticated calls, but those are deprecated: to collect answers from the public, generate a public token and use the Fluid Public SDK API's token-addressed forms operations, or the hosted share and embed URLs.

    Answers to elements marked sensitive are masked as `********` unless the caller holds the forms view-sensitive permission, is a root admin, or uses a droplet token.
  title: Fluid Forms API
  version: v0
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
- url: https://{company}.fluid.app
  description: Production server with company subdomain
  variables:
    company:
      default: myco
      description: Company subdomain
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: Bearer token authentication
  schemas:
    Meta:
      description: Request metadata returned with the response.
      type: object
      properties:
        request_id:
          description: Identifier of this request, for support and log correlation.
          type:
          - string
          - 'null'
        timestamp:
          description: When the server built the response, in ISO 8601.
          type: string
          format: date-time
    ErrorResponse:
      type: object
      required:
      - error_message
      - errors
      - meta
      properties:
        error_message:
          description: Human-readable summary of the error, such as `Form not found`.
          type: string
        errors:
          description: Error details keyed by field, or empty when there are none.
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          description: Request metadata.
          "$ref": "#/components/schemas/Meta"
    UnauthorizedResponse:
      type: object
      properties:
        message:
          description: Why the request was refused.
          type: string
      required:
      - message
    CreateFormRequestBodyApplicationJsonSchema:
      description: >-
        The new form. Send its fields inside a `form` object, for example `{"form": {"title":
        "Enrollment details", "form_type": "post_purchase"}}`. The server reads only the `form`
        object; it accepts the same fields as **Update a form**, and `title` is required.
      type:
      - object
      - 'null'
      properties:
        title:
          type:
          - string
          - number
          - integer
          - 'null'
          description: Title of the form. Required. Send it as `form.title`.
        description:
          type:
          - string
          - number
          - integer
          - 'null'
          description: Description of the form. Send it as `form.description`.
    GetFormStatisticsResponse200ApplicationJsonSchema:
      description: Response counts across every form your company has.
      type:
      - object
      - 'null'
      properties:
        total_forms:
          description: Number of forms the company has, in any status.
          type:
          - integer
          - string
          - number
          - 'null'
        total_responses:
          description: >-
            Number of respondents across all of the company's forms. Each submission counts
            once.
          type:
          - integer
          - string
          - number
          - 'null'
        completed_responses:
          description: Number of those respondents whose completion status is `completed`.
          type:
          - integer
          - string
          - number
          - 'null'
        completion_rate:
          description: >-
            `completed_responses` as a percentage of `total_responses`, from 0 to 100, rounded
            to two decimals. 0 when there are no responses.
          type:
          - number
          - string
          - integer
          - 'null'
          format: float
        today_responses:
          description: Respondents created since midnight UTC today.
          type:
          - integer
          - string
          - number
          - 'null'
        yesterday_responses:
          description: Respondents created yesterday, midnight to midnight UTC.
          type:
          - integer
          - string
          - number
          - 'null'
    UpdateFormRequestBodyApplicationJsonSchema:
      description: >-
        The fields to change. Send at least one field inside `form`; fields you leave out keep
        their values.
      type:
      - object
      - 'null'
      properties:
        form:
          description: The form fields to change.
          type:
          - object
          - 'null'
          properties:
            title:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Title of the form. Can't be blank.
            description:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Description shown with the form.
            status:
              type:
              - string
              - number
              - integer
              - 'null'
              description: >-
                `draft` or `active`. Only an `active` form is shown at checkout or served by its
                public token. Changing a form to `active` gives it a public token if it has
                none. Activating a form also sends the `form_activated` webhook event.
            form_type:
              type:
              - string
              - number
              - integer
              - 'null'
              description: >-
                The form's type, which decides where it appears. `post_purchase`: shown on the
                order confirmation page of an enrollment checkout, after payment, when the
                cart's country is one of the form's countries and the form is `active`. Every
                active post-purchase form for that country is shown, and the enrollment stays
                incomplete until each required field is answered. `general`: a standalone form
                that checkout never shows; you share it by link, embed, or email. `pre_purchase`
                is retired: creating a form with it, or changing a form to it, returns 422 with
                an `errors.form_type` message. Pre-purchase forms created before the retirement
                keep running before payment at enrollment checkout and stay editable. A form can
                also have no type (`null`).
            form_components:
              type:
              - string
              - number
              - integer
              - 'null'
              description: >-
                The form's elements, as a JSON-encoded string of an array of components. Each
                component is an object with an `element_type` and its settings, such as `label`,
                `placeholder`, `required`, and `sensitive_info`. A component that carries the
                `id` of one of this form's elements updates that element in place; a component
                without an `id` adds a new element. Elements you leave out are deactivated, and
                their stored answers are kept. Changing which fields are marked `sensitive_info`
                needs the forms manage-sensitive permission, otherwise the request returns 422.
                See **List form elements** for the element types.
            form_styles:
              type:
              - string
              - number
              - integer
              - 'null'
              description: >-
                The form's visual styles, as a JSON-encoded string of an object. Responses
                return it decoded.
            form_redirect:
              type:
              - string
              - number
              - integer
              - 'null'
              description: >-
                URL the hosted form sends the respondent to after they submit. Send `null` to
                clear it.
            default:
              type:
              - boolean
              - 'null'
              description: >-
                Stored with the form and returned to the builder. Which forms checkout shows
                doesn't depend on it.
            country_ids:
              type:
              - array
              - 'null'
              items:
                type:
                - integer
                - string
                - number
                - 'null'
              description: >-
                IDs of the countries the form is for. Replaces the form's current countries. A
                post-purchase form is shown only for carts in one of these countries.
    CreateDamBackfillImagekitResponse401ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        message:
          description: >-
            Confirmation message, such as `Form deleted successfully` or `Email sent
            successfully`.
          type:
          - string
          - number
          - integer
          - 'null'
    ExportFormRespondentsCsvResponse200ApplicationJsonSchema:
      description: Where to download the finished export.
      type:
      - object
      - 'null'
      properties:
        url:
          description: >-
            Signed download URL of the CSV file. It expires 12 hours after the export. The file
            has one row per respondent with the columns `respondent_type`, `respondent_name`,
            `respondent_email`, `respondent_phone`, `form_completion_status`, `submitted_at`,
            and `updated_at`, followed by one column per answered element, headed by the
            element's label.
          type:
          - string
          - number
          - integer
          - 'null'
        meta:
          description: Request metadata.
          type:
          - object
          - 'null'
          properties:
            request_id:
              description: Identifier of this request, for support and log correlation.
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              description: When the server built the response, in ISO 8601.
              type:
              - string
              - number
              - integer
              - 'null'
    RespondToFormResponse201ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        message:
          description: >-
            Confirmation message: `Responses created successfully`.
          type:
          - string
          - number
          - integer
          - 'null'
        responses:
          description: The answers that were saved, one per submitted element.
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            properties:
              id:
                description: ID of the saved response.
                type:
                - integer
                - string
                - number
                - 'null'
              form_element_id:
                description: ID of the form element the answer is for.
                type:
                - integer
                - string
                - number
                - 'null'
              form_respondent_id:
                description: ID of the respondent record this submission created.
                type:
                - integer
                - string
                - number
                - 'null'
              response:
                description: The answer as saved.
                type:
                - string
                - number
                - integer
                - 'null'
              created_at:
                description: When the answer was saved.
                type:
                - string
                - number
                - integer
                - 'null'
                format: date-time
              updated_at:
                description: When the answer was last changed.
                type:
                - string
                - number
                - integer
                - 'null'
                format: date-time
    RespondToFormRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        form_response:
          description: The submission. Required.
          type:
          - object
          - 'null'
          properties:
            contact:
              description: >-
                Who is answering. Required, with `email`, when the caller isn't signed in as a
                member of the form's company; the answers are then filed under a new contact of
                that company built from these details. Ignored when the caller is a member of
                the form's company, because the answers are filed under their membership.
              type:
              - object
              - 'null'
              properties:
                first_name:
                  description: The respondent's first name.
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                last_name:
                  description: The respondent's last name.
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                email:
                  description: The respondent's email address. Required when you send `contact`.
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
            responses:
              description: >-
                The answers, one per element. Required. Every `form_element_id` must belong to
                this form, otherwise the request returns 422 and nothing is saved.
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  form_element_id:
                    description: ID of the form element being answered. Required.
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  answer:
                    description: >-
                      The answer, as a string. Required. For a file upload, send the uploaded
                      file's URL.
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
    ListFormRespondentsResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        data:
          description: The respondents on this page. Each is one submission of the form.
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            properties:
              id:
                description: ID of the respondent record. Use it to delete the submission.
                type:
                - integer
                - string
                - number
                - 'null'
              form_completion_status:
                description: >-
                  `not_started`, `in_progress`, or `completed`. Submissions through **Respond to
                  a form** are always `completed`.
                type:
                - string
                - number
                - integer
                - 'null'
              respondent:
                description: >-
                  Who submitted the form, or `null` when unknown. For a contact or company
                  member it carries their profile. For an enrollee it carries `id` (the
                  enrollment ID), `full_name`, and `email`, and only when the caller holds the
                  forms view-sensitive permission, is a root admin, or uses a droplet token; otherwise it is `null`.
                type:
                - object
                - 'null'
                properties:
                  id:
                    description: >-
                      ID of the respondent: the contact, company member, or enrollment.
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  email:
                    description: The respondent's email address.
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  full_name:
                    description: The respondent's full name.
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  status:
                    description: The contact's status, when the respondent is a contact.
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  token:
                    description: The contact's token, when the respondent is a contact.
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
              respondent_type:
                description: >-
                  What kind of record answered: `Contact` (a person who answered through a
                  shared or public form), `UserCompany` or `Company::CompanyMember` (a signed-in
                  member of your company), or `Commerce::Enrollment` (an enrollee answering a
                  form at checkout).
                type:
                - string
                - number
                - integer
                - 'null'
              response:
                description: The respondent's answers, one per answered element.
                type:
                - array
                - 'null'
                items:
                  type:
                  - object
                  - 'null'
                  properties:
                    id:
                      description: ID of the response.
                      type:
                      - integer
                      - string
                      - number
                      - 'null'
                    form_element_id:
                      description: ID of the form element the answer is for.
                      type:
                      - integer
                      - string
                      - number
                      - 'null'
                    response:
                      description: >-
                        The answer. A sensitive element's answer is `********` unless the caller
                        holds the forms view-sensitive permission, is a root admin, or uses a droplet token. A file upload's answer is a
                        time-limited signed URL.
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
              updated_at:
                description: When the respondent record last changed.
                type:
                - string
                - number
                - integer
                - 'null'
                format: date-time
        pagination:
          description: Where this page sits in the full list.
          type:
          - object
          - 'null'
          properties:
            current_page:
              description: The page returned, starting at 1.
              type:
              - integer
              - string
              - number
              - 'null'
            next_page:
              description: >-
                Not currently returned. Request `current_page + 1` while it is no greater than
                `total_pages`.
              type:
              - integer
              - 'null'
              - string
              - number
            prev_page:
              description: >-
                Not currently returned. Request `current_page - 1` while it is at least 1.
              type:
              - integer
              - 'null'
              - string
              - number
            total_pages:
              description: Number of pages at the requested page size.
              type:
              - integer
              - string
              - number
              - 'null'
            total_count:
              description: Number of records across all pages.
              type:
              - integer
              - string
              - number
              - 'null'
        filters:
          description: The sort options this endpoint accepts.
          type:
          - object
          - 'null'
          properties:
            sorted_by:
              description: >-
                Sort options as `[label, value]` pairs. Pass a value as
                `filterrific[sorted_by]`.
              type:
              - array
              - 'null'
              items:
                type:
                - array
                - 'null'
                items:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
    SendFormViaEmailRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        email:
          type:
          - string
          - number
          - integer
          - 'null'
          description: Email address to send the form link to. Required.
    SendFormRemindersRequestBodyApplicationJsonSchema:
      type: object
      properties:
        enrollment_ids:
          type: array
          description: >-
            Enrollment IDs to remind, taken from **List incomplete enrollees**. Only the IDs
            that are still eligible are reminded; the others are counted in `skipped` as
            `form_completed` or `out_of_scope`. Omit it to remind every eligible enrollee.
          items:
            type: integer
      additionalProperties: false
    JsonValue:
      description: Any valid JSON value for provider, integration, theme, metadata,
        or other dynamic payloads whose keys are not fixed by the API contract.
      anyOf:
      - type: string
      - type: number
      - type: boolean
      - type: 'null'
      - type: array
        items:
          "$ref": "#/components/schemas/JsonValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorValue:
      description: A validation or API error value.
      anyOf:
      - type: string
      - type: array
        items:
          type: string
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorBag:
      description: Validation errors keyed by field, a list of errors, a single error
        message, or null when no structured error details are available.
      anyOf:
      - type: string
      - type: array
        items:
          "$ref": "#/components/schemas/ErrorValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/ErrorValue"
      - type: 'null'
    ErrorMessage:
      description: An API error message represented as text or structured JSON.
      anyOf:
      - type: string
      - "$ref": "#/components/schemas/ErrorBag"
      - type: 'null'
    StandardErrorResponse:
      description: Common legacy error response envelope. Older endpoints may return
        one or more of these fields depending on the controller path.
      type: object
      properties:
        message:
          description: Human-readable error message, when the endpoint returns one.
          type: string
        error:
          description: Error message or details, when the endpoint returns them under this key.
          "$ref": "#/components/schemas/ErrorMessage"
        error_message:
          description: >-
            Human-readable summary of the error, such as `Form not found` or `Invalid
            parameters`.
          "$ref": "#/components/schemas/ErrorMessage"
        errors:
          description: >-
            Error details, usually keyed by field. For example, a request for the retired
            pre-purchase type returns a message under `form_type`.
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          description: Request metadata.
          "$ref": "#/components/schemas/Meta"
      additionalProperties:
        "$ref": "#/components/schemas/JsonValue"
    StandardUnauthorizedResponse:
      description: Common legacy unauthorized response envelope.
      allOf:
      - "$ref": "#/components/schemas/StandardErrorResponse"
    StandardForbiddenResponse:
      description: Common legacy forbidden response envelope.
      allOf:
      - "$ref": "#/components/schemas/StandardErrorResponse"
    Form:
      description: >-
        A form as the admin sees it. Responses also carry `public_token`, `embed_settings`,
        `embed_url`, and `share_url`, described under **Generate a public token**.
      type:
      - object
      - 'null'
      properties:
        id:
          description: ID of the form.
          type:
          - integer
          - string
          - number
          - 'null'
        countries:
          description: >-
            The countries the form is for. A post-purchase form is shown only for carts in one
            of them.
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            properties:
              id:
                description: ID of the country.
                type:
                - integer
                - string
                - number
                - 'null'
              iso:
                description: Two-letter ISO country code, such as `US`.
                type:
                - string
                - number
                - integer
                - 'null'
              name:
                description: Name of the country.
                type:
                - string
                - number
                - integer
                - 'null'
        description:
          description: Description shown with the form.
          type:
          - string
          - number
          - integer
          - 'null'
        form_components:
          description: >-
            The form's elements as the builder saved them, a JSON-encoded array of components.
            Each component carries the `id` of the active element it maps to, so you can send it
            back to **Update a form** to edit elements in place.
          type:
          - string
          - number
          - integer
          - 'null'
        form_styles:
          description: The form's visual styles, or `null` when none are set.
          type:
          - object
          - 'null'
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        form_redirect:
          description: URL the hosted form sends the respondent to after they submit, or `null`.
          type:
          - string
          - number
          - integer
          - 'null'
        form_respondents_count:
          description: Number of respondents the form has, in any completion status.
          type:
          - integer
          - string
          - number
          - 'null'
        form_type:
          description: >-
            `post_purchase`, `general`, or the retired `pre_purchase`; `null` when unset. See
            **Update a form** for what each type means.
          type:
          - string
          - number
          - integer
          - 'null'
        status:
          description: >-
            `draft` or `active`. Only an `active` form is shown at checkout or served by its
            public token. Changing a form to `active` gives it a public token if it has none.
          type:
          - string
          - number
          - integer
          - 'null'
        title:
          description: Title of the form.
          type:
          - string
          - number
          - integer
          - 'null'
        updated_at:
          description: When the form last changed.
          type:
          - string
          - number
          - integer
          - 'null'
          format: date-time
    CreateFormResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        message:
          description: Confirmation message, such as `Form created successfully`.
          type:
          - string
          - number
          - integer
          - 'null'
        form:
          description: The form as saved.
          "$ref": "#/components/schemas/Form"
    DuplicateFormResponse200ApplicationJsonSchema:
      "$ref": "#/components/schemas/Form"
    ListFormsResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        data:
          description: The forms on this page, newest first.
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/Form"
        pagination:
          description: Where this page sits in the full list.
          type:
          - object
          - 'null'
          properties:
            current_page:
              description: The page returned, starting at 1.
              type:
              - integer
              - string
              - number
              - 'null'
            next_page:
              description: >-
                Not currently returned. Request `current_page + 1` while it is no greater than
                `total_pages`.
              type:
              - integer
              - string
              - number
              - 'null'
            prev_page:
              description: >-
                Not currently returned. Request `current_page - 1` while it is at least 1.
              type:
              - integer
              - string
              - number
              - 'null'
            total_pages:
              description: Number of pages at the requested page size.
              type:
              - integer
              - string
              - number
              - 'null'
            total_count:
              description: Number of records across all pages.
              type:
              - integer
              - string
              - number
              - 'null'
        filters:
          description: The sort options the admin offers for forms.
          type:
          - object
          - 'null'
          properties:
            sorted_by:
              description: >-
                Sort options as `[label, value]` pairs. This endpoint always returns forms
                newest first.
              type:
              - array
              - 'null'
              items:
                type:
                - array
                - 'null'
                items:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
    FormAnalyticsResponse:
      description: A form with its completion counts and monthly response volume.
      type: object
      properties:
        description:
          description: Description of the form.
          type: string
        form_elements:
          description: >-
            The form's active elements that collect an answer, each with its `id`, `type`,
            `title`, `metadata`, `position`, and `status`.
          type: array
          items:
            "$ref": "#/components/schemas/JsonValue"
        form_statistics:
          description: Completion counts for this form.
          type: object
          properties:
            completed_count:
              description: Respondents whose status is `completed`.
              type: integer
            completion_percentage:
              description: >-
                `completion_rate` formatted as text, such as `75.0%`.
              type: string
            completion_rate:
              description: >-
                `completed_count` as a percentage of `total_respondents`, from 0 to 100, rounded
                to two decimals.
              type: number
            incomplete_count:
              description: >-
                Respondents whose status is `in_progress`. Respondents that are `not_started`
                aren't counted.
              type: integer
            total_respondents:
              description: Number of respondents, in any completion status.
              type: integer
          required:
          - completed_count
          - completion_percentage
          - completion_rate
          - incomplete_count
          - total_respondents
          additionalProperties: false
        form_type:
          description: >-
            `post_purchase`, `general`, or the retired `pre_purchase`; `null` when unset.
          type: 'null'
        id:
          description: ID of the form.
          type: integer
        meta:
          description: Request metadata.
          "$ref": "#/components/schemas/Meta"
        monthly_response_analytics:
          description: >-
            Respondents created in the last two years, counted by month. Keyed by year, then by
            lowercase month name, for example `{"2026": {"september": 12}}`. Months with no
            respondents are left out.
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: integer
        status:
          description: >-
            `draft` or `active`.
          type: string
        title:
          description: Title of the form.
          type: string
        updated_at:
          description: When the form last changed.
          type: string
          format: date-time
      required:
      - description
      - form_elements
      - form_statistics
      - form_type
      - id
      - meta
      - monthly_response_analytics
      - status
      - title
      - updated_at
      additionalProperties: false
    FormEmbedCodeResponse:
      description: Ready-to-paste code and links for the form's public token.
      type: object
      properties:
        embed_url:
          description: Link to the hosted form in embed mode, for use in an `iframe`.
          type: string
        iframe_snippet:
          description: >-
            HTML `iframe` that shows the hosted form at `embed_url`, 100% wide and 600 pixels
            tall.
          type: string
        meta:
          description: Request metadata.
          "$ref": "#/components/schemas/Meta"
        script_snippet:
          description: >-
            HTML `div` and `script` tags that load the hosted form's embed script and render the
            form into the `div`.
          type: string
        share_url:
          description: Link to the hosted form, to share directly.
          type: string
      required:
      - embed_url
      - iframe_snippet
      - meta
      - script_snippet
      - share_url
      additionalProperties: false
    FormEmbedSettingsResponse:
      type: object
      properties:
        form:
          description: The form with its public sharing settings.
          type: object
          properties:
            countries:
              description: The countries the form is for.
              type: array
              items:
                "$ref": "#/components/schemas/JsonValue"
            description:
              description: Description of the form.
              type: string
            embed_settings:
              description: >-
                Restrictions on the public form: `allowed_domains`, `expires_at`,
                `max_submissions`, and `require_contact` when set, plus `password_protected`.
                The password itself is never returned.
              type: object
              properties:
                password_protected:
                  description: >-
                    Whether visitors must enter a password before they can see or submit the
                    form.
                  type: boolean
              required:
              - password_protected
              additionalProperties: false
            embed_url:
              description: >-
                Link to the hosted form in embed mode, or `null` when the form has no public
                token.
              type: 'null'
            form_components:
              description: >-
                The form's elements as the builder saved them, a JSON-encoded array of
                components.
              type: 'null'
            form_redirect:
              description: URL the hosted form sends the respondent to after they submit, or `null`.
              type: 'null'
            form_respondents_count:
              description: Number of respondents the form has.
              type: integer
            form_styles:
              description: The form's visual styles, or `null` when none are set.
              type: 'null'
            form_type:
              description: >-
                `post_purchase`, `general`, or the retired `pre_purchase`; `null` when unset.
              type: 'null'
            id:
              description: ID of the form.
              type: integer
            public_token:
              description: >-
                The form's public token, or `null` when the form has none, as after **Revoke the
                public token**.
              type: 'null'
            share_url:
              description: >-
                Link to the hosted form for this token, or `null` when the form has no public
                token.
              type: 'null'
            status:
              description: >-
                `draft` or `active`. The public token serves the form only while it is `active`.
              type: string
            title:
              description: Title of the form.
              type: string
            updated_at:
              description: When the form last changed.
              type: string
              format: date-time
          required:
          - countries
          - description
          - embed_settings
          - embed_url
          - form_components
          - form_redirect
          - form_respondents_count
          - form_styles
          - form_type
          - id
          - public_token
          - share_url
          - status
          - title
          - updated_at
          additionalProperties: false
        message:
          description: >-
            Confirmation message: `Embed settings updated` or `Public access revoked`.
          type: string
        meta:
          description: Request metadata.
          "$ref": "#/components/schemas/Meta"
      required:
      - form
      - message
      - meta
      additionalProperties: false
    FormRespondentDeleteResponse:
      type: object
      properties:
        message:
          description: >-
            Confirmation message: `Form respondent deleted successfully`.
          type: string
      required:
      - message
      additionalProperties: false
    FormTokenResponse:
      type: object
      properties:
        form:
          description: The form with its public sharing settings.
          type: object
          properties:
            countries:
              description: The countries the form is for.
              type: array
              items:
                "$ref": "#/components/schemas/JsonValue"
            description:
              description: Description of the form.
              type: string
            embed_settings:
              description: >-
                Restrictions on the public form: `allowed_domains`, `expires_at`,
                `max_submissions`, and `require_contact` when set, plus `password_protected`.
                The password itself is never returned.
              type: object
              properties:
                password_protected:
                  description: >-
                    Whether visitors must enter a password before they can see or submit the
                    form.
                  type: boolean
              required:
              - password_protected
              additionalProperties: false
            embed_url:
              description: >-
                Link to the hosted form in embed mode, or `null` when the form has no public
                token.
              type: string
            form_components:
              description: >-
                The form's elements as the builder saved them, a JSON-encoded array of
                components.
              type: 'null'
            form_redirect:
              description: URL the hosted form sends the respondent to after they submit, or `null`.
              type: 'null'
            form_respondents_count:
              description: Number of respondents the form has.
              type: integer
            form_styles:
              description: The form's visual styles, or `null` when none are set.
              type: 'null'
            form_type:
              description: >-
                `post_purchase`, `general`, or the retired `pre_purchase`; `null` when unset.
              type: 'null'
            id:
              description: ID of the form.
              type: integer
            public_token:
              description: >-
                The form's public token. It identifies the public form for the share and embed URLs and the
                Fluid Public SDK API's token-addressed forms operations. The form must be `active`, and its
                embed settings still apply: a password, allowed domains, an expiry date, a submission limit,
                and required contact details.
              type: string
            share_url:
              description: >-
                Link to the hosted form for this token, or `null` when the form has no public
                token.
              type: string
            status:
              description: >-
                `draft` or `active`. The public token serves the form only while it is `active`.
              type: string
            title:
              description: Title of the form.
              type: string
            updated_at:
              description: When the form last changed.
              type: string
              format: date-time
          required:
          - countries
          - description
          - embed_settings
          - embed_url
          - form_components
          - form_redirect
          - form_respondents_count
          - form_styles
          - form_type
          - id
          - public_token
          - share_url
          - status
          - title
          - updated_at
          additionalProperties: false
        message:
          description: >-
            Confirmation message: `Public token generated`.
          type: string
        meta:
          description: Request metadata.
          "$ref": "#/components/schemas/Meta"
      required:
      - form
      - message
      - meta
      additionalProperties: false
    FormIncompleteEnrolleeRow:
      description: An enrollee who still owes this post-purchase form.
      type: object
      required:
      - enrollment_id
      - name
      - email
      - last_reminder_sent_at
      - eligible
      - skip_reason
      properties:
        enrollment_id:
          description: >-
            ID of the enrollment. Pass it in `enrollment_ids` to remind only this enrollee.
          type: integer
        name:
          description: Name the reminder email would address.
          type: string
        email:
          description: >-
            Email address of the order's customer, where the reminder would go, or `null`.
          type:
          - string
          - 'null'
        last_reminder_sent_at:
          description: >-
            When the enrollee was last sent a reminder, manual or automatic, or `null` if never.
          type:
          - string
          - 'null'
          format: date-time
        eligible:
          description: Whether **Send manual enrollment reminders** would email this enrollee now.
          type: boolean
        skip_reason:
          description: >-
            Why the enrollee can't be reminded now, or `null` when `eligible` is true.
            `email_disabled`: the company's enrollment-completion email is turned off.
            `cart_paused`: the enrollment is paused. `not_resumable`: the checkout can no longer
            be resumed. `no_email`: the customer has no email address. `no_resume_url`: there's
            no link for finishing the enrollment. `recently_reminded`: a reminder went out in
            the last 24 hours.
          type:
          - string
          - 'null'
      additionalProperties: false
    FormIncompleteEnrolleesResponse:
      type: object
      required:
      - data
      - pagination
      - meta
      properties:
        data:
          description: The incomplete enrollees on this page, newest enrollment first.
          type: array
          items:
            "$ref": "#/components/schemas/FormIncompleteEnrolleeRow"
        pagination:
          description: Where this page sits in the full list.
          type: object
          required:
          - current_page
          - total_pages
          - total_count
          - per_page
          properties:
            current_page:
              description: The page returned, starting at 1.
              type: integer
            total_pages:
              description: Number of pages at the requested page size.
              type: integer
            total_count:
              description: Number of records across all pages.
              type: integer
            per_page:
              description: The page size used for this response.
              type: integer
          additionalProperties: false
        meta:
          description: Request metadata.
          "$ref": "#/components/schemas/Meta"
      additionalProperties: false
    FormSendRemindersResponse:
      type: object
      required:
      - sent
      - skipped
      - meta
      properties:
        sent:
          description: Number of reminder emails queued.
          type: integer
        skipped:
          type: object
          description: >-
            Enrollees not reminded, counted by reason. Besides the `skip_reason` values of
            **List incomplete enrollees**: `form_completed` (a requested enrollee has already
            completed this form), `out_of_scope` (a requested ID isn't an incomplete enrollee of
            this form), and `enqueue_failed` (the email couldn't be queued; the enrollee can be
            retried at once).
          additionalProperties:
            type: integer
        meta:
          description: Request metadata.
          "$ref": "#/components/schemas/Meta"
      additionalProperties: false
    FormVisualizationResponse:
      type: object
      properties:
        data:
          description: >-
            One entry per active element that collects an answer, with its `id`, `title`,
            `type`, `metadata`, and `position`, and every answer it has received in
            `form_responses` (`id`, `form_element_id`, `response`). Sensitive answers are
            `********` unless the caller holds the forms view-sensitive permission, is a root admin, or uses a droplet token.
          type: array
          items:
            "$ref": "#/components/schemas/JsonValue"
        meta:
          description: Request metadata.
          "$ref": "#/components/schemas/Meta"
      required:
      - data
      - meta
      additionalProperties: false
    FormElementListResponse:
      type: object
      properties:
        data:
          description: The form elements on this page, lowest position first.
          type: array
          items:
            type: object
            properties:
              id:
                description: ID of the form element. Answers refer to it as `form_element_id`.
                type: integer
              metadata:
                description: >-
                  The element's settings as the builder saved them, such as its label, options,
                  and `required` flag.
                type: object
                properties:
                  label:
                    description: The question or label shown to the respondent.
                    type: string
                  placeholder:
                    description: Placeholder text shown in an empty field.
                    type: string
                  required:
                    description: >-
                      Whether the respondent must answer. At checkout, the form can't be
                      submitted until every required field is answered, and the enrollment stays
                      incomplete until it is. **Respond to a form** doesn't check it.
                    type: boolean
                required:
                - label
                - placeholder
                - required
                additionalProperties: false
              position:
                description: Zero-based position of the element in the form.
                type: integer
              title:
                description: The element's label, its header text, or its type when it has neither.
                type: string
              type:
                description: >-
                  The element type, such as `short_text_entry` or `multiple_choice_entry`. See
                  the operation description for every type.
                type: string
            required:
            - id
            - metadata
            - position
            - title
            - type
            additionalProperties: false
        filters:
          description: The sort options for form elements.
          type: object
          properties:
            sorted_by:
              description: >-
                Sort options as `[label, value]` pairs. This endpoint always returns elements
                lowest position first.
              type: array
              items:
                type: array
                items:
                  type: string
          required:
          - sorted_by
          additionalProperties: false
        meta:
          description: Request metadata.
          "$ref": "#/components/schemas/Meta"
        pagination:
          description: Where this page sits in the full list.
          type: object
          properties:
            current_page:
              description: The page returned, starting at 1.
              type: integer
            per_page:
              description: The page size used for this response.
              type: integer
            total_count:
              description: Number of records across all pages.
              type: integer
            total_pages:
              description: Number of pages at the requested page size.
              type: integer
          required:
          - current_page
          - per_page
          - total_count
          - total_pages
          additionalProperties: false
      required:
      - data
      - filters
      - meta
      - pagination
      additionalProperties: false
tags:
- name: forms
  description: >-
    Build forms, choose where they appear, share or embed them with a public token, and read,
    export, and follow up on their responses.
- name: form-elements
  description: The fields and layout blocks that make up a form.
paths:
  "/api/forms":
    get:
      summary: List forms
      description: >-
        Lists your company's forms, newest first, with each form's type, status, countries,
        components, styles, and response count. This list is paginated by page number. Send
        `page` (default 1) and `per_page` (default 20); `pagination` in the response reports the
        current page, total pages, and total count. This operation declares no query parameters,
        but the server reads `page` and `per_page`.
      tags:
      - forms
      operationId: forms_v0_list_forms
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListFormsResponse200ApplicationJsonSchema"
              examples:
                page_one:
                  summary: First page of Dunder Mifflin's forms
                  value:
                    data:
                    - id: 4136
                      title: Enrollment - Canada
                      status: active
                      description: Tax and payout details we need before we can pay your commissions in Canada.
                      form_type: post_purchase
                      form_redirect: null
                      updated_at: '2026-10-07T15:31:40Z'
                      form_components: '[{"element_type":"input","puck_type":"legal_name","label":"Legal name","placeholder":"As it appears on your tax return","required":true,"sensitive_info":false,"is_form_field":true,"id":18321},{"element_type":"input","puck_type":"date_of_birth","label":"Date of birth","placeholder":"MM/DD/YYYY","required":true,"sensitive_info":true,"is_form_field":true,"id":18322},{"element_type":"short_text_entry","puck_type":"short_text_entry","label":"Social Insurance Number (SIN)","placeholder":"123 456 789","required":true,"sensitive_info":true,"is_form_field":true,"id":18323},{"element_type":"multiple_choice_entry","puck_type":"multiple_choice_entry","label":"How did you hear about Dunder Mifflin?","required":false,"sensitive_info":false,"is_form_field":true,"multiple_choice_options":[{"label":"Social media"},{"label":"A friend or family member"},{"label":"A rep"},{"label":"Search"},{"label":"An event"},{"label":"Other"}],"id":18324}]'
                      countries:
                      - id: 39
                        name: Canada
                        iso: CA
                      form_styles: null
                      form_respondents_count: 0
                      public_token: c9Lw2Rk7VbN4xQe8ZtYm3A
                      embed_settings:
                        password_protected: false
                      embed_url: https://forms.fluid.app/c9Lw2Rk7VbN4xQe8ZtYm3A?embed=true
                      share_url: https://forms.fluid.app/c9Lw2Rk7VbN4xQe8ZtYm3A
                    - id: 4132
                      title: Scranton Business Park open house
                      status: active
                      description: RSVP for the Scranton Business Park open house on November 12.
                      form_type: null
                      form_redirect: null
                      updated_at: '2026-10-06T20:11:35Z'
                      form_components: null
                      countries:
                      - id: 233
                        name: United States
                        iso: US
                      form_styles: null
                      form_respondents_count: 0
                      public_token: null
                      embed_settings:
                        password_protected: false
                      embed_url: null
                      share_url: null
                    - id: 4130
                      title: Customer survey - Fall 2026
                      status: active
                      description: Tell us how your last Dunder Mifflin paper order went.
                      form_type: null
                      form_redirect: null
                      updated_at: '2026-08-03T13:10:05Z'
                      form_components: '[{"element_type":"multiple_choice_entry","puck_type":"multiple_choice_entry","label":"How did you hear about Dunder Mifflin?","required":false,"sensitive_info":false,"is_form_field":true,"multiple_choice_options":[{"label":"Social media"},{"label":"A friend or family member"},{"label":"A rep"},{"label":"Search"},{"label":"An event"},{"label":"Other"}],"id":18341},{"element_type":"long_text_entry","puck_type":"long_text_entry","label":"Anything else?","placeholder":"Tell us what we could do better","required":false,"sensitive_info":false,"is_form_field":true,"id":18342}]'
                      countries:
                      - id: 233
                        name: United States
                        iso: US
                      form_styles: null
                      form_respondents_count: 48
                      public_token: pT6hW1zK8sDf3GjQ9vBn2L
                      embed_settings:
                        password_protected: false
                      embed_url: https://forms.fluid.app/pT6hW1zK8sDf3GjQ9vBn2L?embed=true
                      share_url: https://forms.fluid.app/pT6hW1zK8sDf3GjQ9vBn2L
                    - id: 4127
                      title: Enrollment - United States
                      status: active
                      description: Tax and payout details we need before we can pay your commissions.
                      form_type: post_purchase
                      form_redirect: null
                      updated_at: '2026-09-14T17:22:48Z'
                      form_components: '[{"element_type":"input","puck_type":"legal_name","label":"Legal name","placeholder":"As it appears on your tax return","required":true,"sensitive_info":false,"is_form_field":true,"id":18301},{"element_type":"input","puck_type":"date_of_birth","label":"Date of birth","placeholder":"MM/DD/YYYY","required":true,"sensitive_info":true,"is_form_field":true,"id":18302},{"element_type":"file_download","puck_type":"file_download","header_text":"Blank W-9","sub_text":"Download the W-9, fill it in, and sign it.","file_download_url":"https://www.irs.gov/pub/irs-pdf/fw9.pdf","required":false,"is_form_field":true,"id":18303},{"element_type":"file_upload","puck_type":"file_upload","label":"Signed W-9","required":true,"sensitive_info":true,"is_form_field":true,"id":18304},{"element_type":"multiple_choice_entry","puck_type":"multiple_choice_entry","label":"How did you hear about Dunder Mifflin?","required":false,"sensitive_info":false,"is_form_field":true,"multiple_choice_options":[{"label":"Social media"},{"label":"A friend or family member"},{"label":"A rep"},{"label":"Search"},{"label":"An event"},{"label":"Other"}],"id":18305}]'
                      countries:
                      - id: 233
                        name: United States
                        iso: US
                      form_styles: null
                      form_respondents_count: 2
                      public_token: Xk3vP9qLm2RtW8yZb5NcJg
                      embed_settings:
                        password_protected: false
                      embed_url: https://forms.fluid.app/Xk3vP9qLm2RtW8yZb5NcJg?embed=true
                      share_url: https://forms.fluid.app/Xk3vP9qLm2RtW8yZb5NcJg
                    pagination:
                      current_page: 1
                      total_pages: 1
                      total_count: 4
                      per_page: 20
                    filters:
                      sorted_by:
                      - - Created At (Newest First)
                        - created_at_desc
                      - - Created At (Oldest First)
                        - created_at_asc
                      - - Title (A-Z)
                        - title_asc
                      - - Title (Z-A)
                        - title_desc
                    meta:
                      request_id: 5d0c9a7e-2f41-4b8d-9e36-c1a7f0b2d843
                      timestamp: '2026-10-07T15:40:02Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '403':
          description: Forbidden. The caller is not an admin of the company, or a client
            token lacks the scope for this action.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardForbiddenResponse"
              examples:
                forbidden:
                  summary: A rep or customer token
                  value:
                    message: Not authorized.
    post:
      summary: Create a form
      description: >-
        Creates a form. Send the fields inside a `form` object; `title` is required. A new form
        is a `draft` unless you set `status`. Set `form_type` to `post_purchase` or `general`:
        `pre_purchase` is retired and returns 422. Send `form_components` to create the form's
        elements in the same request. Creating a form sends the `form_created` webhook event. A
        form created as `active` has no public token until you call **Generate a public token**.
      tags:
      - forms
      operationId: forms_v0_create_form
      security:
      - bearer_auth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
          minLength: 1
          maxLength: 255
          pattern: "\\S"
        description: Optional client-chosen key, 1 to 255 characters with at least one
          that is not whitespace; a blank key answers 422. A retry
          of the same request with the same key from the same company answers with
          the record the first request created instead of creating another, even
          when the first response was lost. The same key sent with a different
          request, or by a different user or credential, answers 422.
      responses:
        '200':
          description: Success, or the form an earlier request with the same Idempotency-Key created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateFormResponse200ApplicationJsonSchema"
              examples:
                created:
                  summary: The new draft form, with an element ID on each component
                  value:
                    message: Form created successfully
                    form:
                      id: 4136
                      title: Enrollment - Canada
                      status: draft
                      description: Tax and payout details we need before we can pay your commissions in Canada.
                      form_type: post_purchase
                      form_redirect: null
                      updated_at: '2026-10-07T15:04:12Z'
                      form_components: '[{"element_type":"input","puck_type":"legal_name","label":"Legal name","placeholder":"As it appears on your tax return","required":true,"sensitive_info":false,"is_form_field":true,"id":18321},{"element_type":"input","puck_type":"date_of_birth","label":"Date of birth","placeholder":"MM/DD/YYYY","required":true,"sensitive_info":true,"is_form_field":true,"id":18322},{"element_type":"short_text_entry","puck_type":"short_text_entry","label":"Social Insurance Number (SIN)","placeholder":"123 456 789","required":true,"sensitive_info":true,"is_form_field":true,"id":18323},{"element_type":"multiple_choice_entry","puck_type":"multiple_choice_entry","label":"How did you hear about Dunder Mifflin?","required":false,"sensitive_info":false,"is_form_field":true,"multiple_choice_options":[{"label":"Social media"},{"label":"A friend or family member"},{"label":"A rep"},{"label":"Search"},{"label":"An event"},{"label":"Other"}],"id":18324}]'
                      countries:
                      - id: 39
                        name: Canada
                        iso: CA
                      form_styles: null
                      form_respondents_count: 0
                      public_token: null
                      embed_settings:
                        password_protected: false
                      embed_url: null
                      share_url: null
                    meta:
                      request_id: 8a2f61c4-7e0d-4d19-b5a3-2c9e84f1d067
                      timestamp: '2026-10-07T15:04:12Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '403':
          description: Forbidden. The caller is not an admin of the company, or a client
            token lacks the scope for this action.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardForbiddenResponse"
              examples:
                forbidden:
                  summary: A rep or customer token
                  value:
                    message: Not authorized.
        '422':
          description: Invalid form, a blank Idempotency-Key or one longer than 255 characters, or one already used with a different request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
              examples:
                pre_purchase_retired:
                  summary: The request set form_type to pre_purchase
                  value:
                    error_message: Pre-purchase forms are retired. Use a post-purchase form — it collects the same answers in the same place, and the payment is captured at checkout instead of being held.
                    errors:
                      form_type:
                      - Pre-purchase forms are retired. Use a post-purchase form — it collects the same answers in the same place, and the payment is captured at checkout instead of being held.
                    meta:
                      request_id: e4b7c2a9-0d3f-4a6e-8c15-7f2b9d0e6a31
                      timestamp: '2026-10-07T15:02:55Z'
                sensitive_permission:
                  summary: The components mark the SIN field sensitive, and the caller lacks the forms manage-sensitive permission
                  value:
                    error_message: You do not have permission to change which fields are marked sensitive
                    errors:
                      base:
                      - You do not have permission to change which fields are marked sensitive
                    meta:
                      request_id: 1f9d3b6c-84a2-4e7f-a0c8-5b2e7d4f9c16
                      timestamp: '2026-10-07T15:03:31Z'
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateFormRequestBodyApplicationJsonSchema"
            examples:
              canada_enrollment:
                summary: Create the Canada enrollment form as a draft
                value:
                  form:
                    title: Enrollment - Canada
                    description: Tax and payout details we need before we can pay your commissions in Canada.
                    form_type: post_purchase
                    status: draft
                    country_ids:
                    - 39
                    form_components: '[{"element_type":"input","puck_type":"legal_name","label":"Legal name","placeholder":"As it appears on your tax return","required":true,"sensitive_info":false,"is_form_field":true},{"element_type":"input","puck_type":"date_of_birth","label":"Date of birth","placeholder":"MM/DD/YYYY","required":true,"sensitive_info":true,"is_form_field":true},{"element_type":"short_text_entry","puck_type":"short_text_entry","label":"Social Insurance Number (SIN)","placeholder":"123 456 789","required":true,"sensitive_info":true,"is_form_field":true},{"element_type":"multiple_choice_entry","puck_type":"multiple_choice_entry","label":"How did you hear about Dunder Mifflin?","required":false,"sensitive_info":false,"is_form_field":true,"multiple_choice_options":[{"label":"Social media"},{"label":"A friend or family member"},{"label":"A rep"},{"label":"Search"},{"label":"An event"},{"label":"Other"}]}]'
  "/api/forms/statistics":
    get:
      summary: Get form statistics
      description: >-
        Returns response counts across all of your company's forms: how many forms there are,
        how many responses they have, how many are completed, and how many arrived today and
        yesterday (UTC).
      tags:
      - forms
      operationId: forms_v0_get_form_statistics
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: query
        required: true
        description: >-
          Not used by the server. The statistics always cover every form your company has,
          whatever value you send.
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetFormStatisticsResponse200ApplicationJsonSchema"
              examples:
                company_totals:
                  summary: Response counts across Dunder Mifflin's forms
                  value:
                    total_forms: 4
                    total_responses: 50
                    completed_responses: 42
                    completion_rate: 84.0
                    today_responses: 0
                    yesterday_responses: 1
                    meta:
                      request_id: 0b6e4d2a-3c71-4f8e-9a05-d7c2b1e8f346
                      timestamp: '2026-10-07T15:41:18Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '403':
          description: Forbidden. The caller is not an admin of the company, or a client
            token lacks the scope for this action.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardForbiddenResponse"
              examples:
                forbidden:
                  summary: A rep or customer token
                  value:
                    message: Not authorized.
  "/api/forms/{form_id}/form_elements":
    get:
      summary: List form elements
      description: |-
        Lists the elements of one of your company's forms, lowest position first. The list includes elements that later edits deactivated, which keep their answers; the response doesn't mark which elements are active, so use `form_components` on the form for the current layout. Needs a company admin token. This list is paginated by page number. Send `page` (default 1) and `per_page` (default 20); `pagination` in the response reports the current page, total pages, and total count.

        Element types a form can contain, as stored in each component's `element_type`:

        - `short_text_entry`: a single line of text.
        - `long_text_entry`: a paragraph of text.
        - `number_entry`: a number. The builder's minimum and maximum digit settings (`min`, `max`) are saved with the element but are not enforced when the form is answered at checkout.
        - `multiple_choice_entry`: one choice from `multiple_choice_options`.
        - `yes_no_entry`: a yes or no answer from `yes_no_options`.
        - `checkbox`: a single checkbox.
        - `file_upload`: a file the respondent uploads. The answer is the file's URL.
        - `input`: a prebuilt identity field. Its `puck_type` names which one: `email`, `legal_name`, `full_name`, `phone_number`, `date_of_birth`, or `ssn`.
        - `header`, `information`, `section_label`, `helper_text`, `error_text`, `page_break`, and `button`: layout and text. They collect nothing.
        - `file_download`: a file the respondent can download. It collects nothing.

        Checkout also renders the older `text`, `date`, `number`, `email`, `legal_name`, `ssn`, and `date_of_birth` types. It skips any type it doesn't recognize.
      tags:
      - form-elements
      operationId: forms_v0_list_form_elements
      security:
      - bearer_auth: []
      parameters:
      - name: form_id
        in: path
        required: true
        description: ID of the form.
        schema:
          type: integer
      - name: page
        in: query
        required: false
        description: Page number, starting at 1. Defaults to 1.
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: Number of elements per page. Defaults to 20.
        schema:
          type: integer
      - name: filterrific
        in: query
        required: false
        description: >-
          Not applied by the server. Elements are always sorted by position, lowest first.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FormElementListResponse"
              examples:
                first_two:
                  summary: The first two elements of Enrollment - United States, with per_page=2
                  value:
                    data:
                    - id: 18301
                      type: input
                      title: Legal name
                      metadata:
                        label: Legal name
                        placeholder: As it appears on your tax return
                        required: true
                      position: 0
                    - id: 18302
                      type: input
                      title: Date of birth
                      metadata:
                        label: Date of birth
                        placeholder: MM/DD/YYYY
                        required: true
                      position: 1
                    filters:
                      sorted_by:
                      - - Position (Lowest first)
                        - position_asc
                      - - Position (Highest first)
                        - position_desc
                      - - Status (Active first)
                        - status_asc
                      - - Status (Inactive first)
                        - status_desc
                    meta:
                      request_id: c3a8e1f7-5b20-4d96-8e4a-2f7d0b9c1e58
                      timestamp: '2026-10-07T15:42:30Z'
                    pagination:
                      current_page: 1
                      per_page: 2
                      total_count: 5
                      total_pages: 3
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
              examples:
                not_found:
                  summary: The form isn't one of your company's
                  value:
                    error_message: Form not found
                    errors: {}
                    meta:
                      request_id: 7e1c5a3d-9f02-4b68-a4d1-3b8e6c0f2a97
                      timestamp: '2026-10-07T15:42:44Z'
  "/api/forms/{form_id}/form_respondents/{id}":
    delete:
      operationId: forms_v0_forms_form_respondents_delete
      summary: Delete a form response
      description: >-
        Deletes one submission of a form: the respondent record and every answer in it. The
        contact or member who answered isn't deleted. Needs a company admin token with the forms
        update permission. Returns 404 when the form or the respondent isn't one of your
        company's.
      tags:
      - forms
      parameters:
      - name: form_id
        description: ID of the form.
        in: path
        required: true
        schema:
          type: string
      - name: id
        description: ID of the respondent record to delete, from **List form respondents**.
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FormRespondentDeleteResponse"
              examples:
                deleted:
                  summary: A duplicate submission was removed
                  value:
                    message: Form respondent deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/forms/{id}":
    put:
      summary: Update a form
      description: |-
        Changes a form. Send only the fields to change, inside a `form` object.

        - Set `form_type` to `post_purchase` to show the form after payment at enrollment checkout, or to `general` for a standalone form you share or embed. `pre_purchase` is retired and returns 422; an existing pre-purchase form stays editable as long as the request doesn't name that type.
        - Set `country_ids` to choose the countries the form is for. This replaces the current list.
        - Set `status` to `active` to publish the form. Activating a form gives it a public token if it has none and sends the `form_activated` webhook event.
        - Send `form_components` to change the form's elements.

        Every update sends the `form_updated` webhook event. Returns 404 when the form isn't one of your company's, and 422 when a value is invalid.
      tags:
      - forms
      operationId: forms_v0_update_form
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        description: ID of the form.
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateFormResponse200ApplicationJsonSchema"
              examples:
                activated:
                  summary: The Canada form is active and now has a public token
                  value:
                    message: Form updated successfully
                    form:
                      id: 4136
                      title: Enrollment - Canada
                      status: active
                      description: Tax and payout details we need before we can pay your commissions in Canada.
                      form_type: post_purchase
                      form_redirect: null
                      updated_at: '2026-10-07T15:31:40Z'
                      form_components: '[{"element_type":"input","puck_type":"legal_name","label":"Legal name","placeholder":"As it appears on your tax return","required":true,"sensitive_info":false,"is_form_field":true,"id":18321},{"element_type":"input","puck_type":"date_of_birth","label":"Date of birth","placeholder":"MM/DD/YYYY","required":true,"sensitive_info":true,"is_form_field":true,"id":18322},{"element_type":"short_text_entry","puck_type":"short_text_entry","label":"Social Insurance Number (SIN)","placeholder":"123 456 789","required":true,"sensitive_info":true,"is_form_field":true,"id":18323},{"element_type":"multiple_choice_entry","puck_type":"multiple_choice_entry","label":"How did you hear about Dunder Mifflin?","required":false,"sensitive_info":false,"is_form_field":true,"multiple_choice_options":[{"label":"Social media"},{"label":"A friend or family member"},{"label":"A rep"},{"label":"Search"},{"label":"An event"},{"label":"Other"}],"id":18324}]'
                      countries:
                      - id: 39
                        name: Canada
                        iso: CA
                      form_styles: null
                      form_respondents_count: 0
                      public_token: c9Lw2Rk7VbN4xQe8ZtYm3A
                      embed_settings:
                        password_protected: false
                      embed_url: https://forms.fluid.app/c9Lw2Rk7VbN4xQe8ZtYm3A?embed=true
                      share_url: https://forms.fluid.app/c9Lw2Rk7VbN4xQe8ZtYm3A
                    meta:
                      request_id: 4f8b2d6e-1a93-4c57-b0e2-9d6a3f7c8e14
                      timestamp: '2026-10-07T15:31:40Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '403':
          description: Forbidden. The caller is not an admin of the company, or a client
            token lacks the scope for this action.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardForbiddenResponse"
              examples:
                forbidden:
                  summary: A rep or customer token
                  value:
                    message: Not authorized.
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateFormRequestBodyApplicationJsonSchema"
            examples:
              activate:
                summary: Activate the Canada enrollment form
                value:
                  form:
                    status: active
              countries:
                summary: Show the form for carts in Canada only
                value:
                  form:
                    country_ids:
                    - 39
    delete:
      summary: Delete a form
      description: >-
        Deletes a form together with its elements, respondents, answers, and country
        assignments. Returns 404 when the form isn't one of your company's.
      tags:
      - forms
      operationId: forms_v0_delete_form
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        description: ID of the form.
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateDamBackfillImagekitResponse401ApplicationJsonSchema"
              examples:
                deleted:
                  summary: The form and its responses were deleted
                  value:
                    message: Form deleted successfully
                    meta:
                      request_id: 9c2e7a4f-6b18-4d03-8f5a-1e4b7d9c2a60
                      timestamp: '2026-10-07T15:44:09Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '403':
          description: Forbidden. The caller is not an admin of the company, or a client
            token lacks the scope for this action.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardForbiddenResponse"
              examples:
                forbidden:
                  summary: A rep or customer token
                  value:
                    message: Not authorized.
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
              examples:
                not_found:
                  summary: The form isn't one of your company's
                  value:
                    error_message: Form not found
                    errors: {}
                    meta:
                      request_id: 2a6d9f1b-4c87-4e3a-9b70-5f1c8e2d4b39
                      timestamp: '2026-10-07T15:44:21Z'
  "/api/forms/{id}/analytics":
    get:
      operationId: forms_v0_forms_analytics_get
      summary: Get form analytics
      description: >-
        Returns one form's completion counts, its responses per month for the last two years,
        and the elements that collect answers. Returns 404 when the form isn't one of your
        company's.
      tags:
      - forms
      parameters:
      - name: id
        description: ID of the form.
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FormAnalyticsResponse"
              examples:
                survey:
                  summary: Analytics for the customer survey, a standalone form with no form type
                  value:
                    id: 4130
                    title: Customer survey - Fall 2026
                    description: Tell us how your last Dunder Mifflin paper order went.
                    updated_at: '2026-08-03T13:10:05Z'
                    status: active
                    form_type: null
                    form_statistics:
                      total_respondents: 48
                      completed_count: 41
                      incomplete_count: 5
                      completion_rate: 85.42
                      completion_percentage: 85.42%
                    monthly_response_analytics:
                      '2026':
                        august: 19
                        september: 21
                        october: 8
                    form_elements:
                    - id: 18341
                      form_id: 4130
                      is_form_field: true
                      metadata:
                        element_type: multiple_choice_entry
                        puck_type: multiple_choice_entry
                        label: How did you hear about Dunder Mifflin?
                        required: false
                        sensitive_info: false
                        is_form_field: true
                        multiple_choice_options:
                        - label: Social media
                        - label: A friend or family member
                        - label: A rep
                        - label: Search
                        - label: An event
                        - label: Other
                      position: 0
                      status: active
                      title: How did you hear about Dunder Mifflin?
                      type: multiple_choice_entry
                      uuid_v7: 019fc7be-e7c8-7c16-9db1-15a980fbf83a
                    - id: 18342
                      form_id: 4130
                      is_form_field: true
                      metadata:
                        element_type: long_text_entry
                        puck_type: long_text_entry
                        label: Anything else?
                        placeholder: Tell us what we could do better
                        required: false
                        sensitive_info: false
                        is_form_field: true
                      position: 1
                      status: active
                      title: Anything else?
                      type: long_text_entry
                      uuid_v7: 019fc7be-e7c8-75b6-97f0-7290f7a64697
                    meta:
                      request_id: 6d3f0b8e-2a75-4c19-a6e4-8b1d5f2c7e03
                      timestamp: '2026-10-07T15:45:57Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '403':
          description: Forbidden. The caller is not an admin of the company, or a client
            token lacks the scope for this action.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardForbiddenResponse"
              examples:
                forbidden:
                  summary: A rep or customer token
                  value:
                    message: Not authorized.
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
              examples:
                not_found:
                  summary: The form isn't one of your company's
                  value:
                    error_message: Form not found
                    errors: {}
                    meta:
                      request_id: b8e4a1c6-0f39-4d72-85b3-6c2e9a7d1f40
                      timestamp: '2026-10-07T15:46:03Z'
      security:
      - bearer_auth: []
  "/api/forms/{id}/duplicate":
    post:
      summary: Duplicate a form
      description: >-
        Copies a form. The copy is titled with ` Copy` added, keeps the type, status, styles,
        countries, and active elements, and starts with no responses, no public token, and no
        embed settings. A copy of an `active` post-purchase form is active too, so checkout
        shows it alongside the original. Copying a form with sensitive fields needs the forms
        manage-sensitive permission, otherwise it returns 422. Sends the `form_created` webhook
        event. Returns the copy itself, not wrapped in a `form` object.
      tags:
      - forms
      operationId: forms_v0_duplicate_form
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        description: ID of the form to copy.
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DuplicateFormResponse200ApplicationJsonSchema"
              examples:
                copy:
                  summary: A copy of Enrollment - United States, active like the original
                  value:
                    id: 4137
                    title: Enrollment - United States Copy
                    status: active
                    description: Tax and payout details we need before we can pay your commissions.
                    form_type: post_purchase
                    form_redirect: null
                    updated_at: '2026-10-07T15:47:26Z'
                    form_components: '[{"element_type":"input","puck_type":"legal_name","label":"Legal name","placeholder":"As it appears on your tax return","required":true,"sensitive_info":false,"is_form_field":true,"id":18351},{"element_type":"input","puck_type":"date_of_birth","label":"Date of birth","placeholder":"MM/DD/YYYY","required":true,"sensitive_info":true,"is_form_field":true,"id":18352},{"element_type":"file_download","puck_type":"file_download","header_text":"Blank W-9","sub_text":"Download the W-9, fill it in, and sign it.","file_download_url":"https://www.irs.gov/pub/irs-pdf/fw9.pdf","required":false,"is_form_field":true,"id":18353},{"element_type":"file_upload","puck_type":"file_upload","label":"Signed W-9","required":true,"sensitive_info":true,"is_form_field":true,"id":18354},{"element_type":"multiple_choice_entry","puck_type":"multiple_choice_entry","label":"How did you hear about Dunder Mifflin?","required":false,"sensitive_info":false,"is_form_field":true,"multiple_choice_options":[{"label":"Social media"},{"label":"A friend or family member"},{"label":"A rep"},{"label":"Search"},{"label":"An event"},{"label":"Other"}],"id":18355}]'
                    countries:
                    - id: 233
                      name: United States
                      iso: US
                    form_styles: null
                    form_respondents_count: 0
                    public_token: null
                    embed_settings:
                      password_protected: false
                    embed_url: null
                    share_url: null
                    meta:
                      request_id: 3e7a1d9c-5f24-4b80-9c6e-0a2d8f4b7e15
                      timestamp: '2026-10-07T15:47:26Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '403':
          description: Forbidden. The caller is not an admin of the company, or a client
            token lacks the scope for this action.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardForbiddenResponse"
              examples:
                forbidden:
                  summary: A rep or customer token
                  value:
                    message: Not authorized.
        '404':
          description: not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
              examples:
                not_found:
                  summary: The form isn't one of your company's
                  value:
                    error_message: Form not found
                    errors: {}
                    meta:
                      request_id: f1c6b3e8-7a42-4d95-b0d7-2e5a9c1f8b64
                      timestamp: '2026-10-07T15:47:40Z'
  "/api/forms/{id}/embed_code":
    get:
      operationId: forms_v0_forms_embed_code_get
      summary: Get embed code
      description: >-
        Returns the share link, the embed link, and HTML snippets that put the hosted form on
        another website. The form needs a public token first: without one this returns 422 `Form
        has no public token. Generate one first.`
      tags:
      - forms
      parameters:
      - name: id
        description: ID of the form.
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FormEmbedCodeResponse"
              examples:
                open_house:
                  summary: Embed code for the Scranton Business Park open house RSVP
                  value:
                    iframe_snippet: "<iframe\n  src=\"https://forms.fluid.app/R4mY8kTq2WzX6nLc0VbH5s?embed=true\"\n  width=\"100%\"\n  height=\"600\"\n  frameborder=\"0\"\n  style=\"border: none; max-width: 100%;\"\n  allow=\"clipboard-write\"\n  loading=\"lazy\"\n></iframe>"
                    script_snippet: "<div id=\"fluid-form-R4mY8kTq2WzX6nLc0VbH5s\"></div>\n<script\n  src=\"https://forms.fluid.app/embed/forms.js\"\n  data-form-token=\"R4mY8kTq2WzX6nLc0VbH5s\"\n  data-target=\"fluid-form-R4mY8kTq2WzX6nLc0VbH5s\"\n  async\n></script>"
                    share_url: https://forms.fluid.app/R4mY8kTq2WzX6nLc0VbH5s
                    embed_url: https://forms.fluid.app/R4mY8kTq2WzX6nLc0VbH5s?embed=true
                    meta:
                      request_id: a4d9e2b7-1c58-4f03-9e6a-7b3f0d8c2e91
                      timestamp: '2026-10-07T16:05:12Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '403':
          description: Forbidden. The caller is not an admin of the company, or a client
            token lacks the scope for this action.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardForbiddenResponse"
              examples:
                forbidden:
                  summary: A rep or customer token
                  value:
                    message: Not authorized.
      security:
      - bearer_auth: []
  "/api/forms/{id}/embed_settings":
    patch:
      operationId: forms_v0_forms_embed_settings_patch
      summary: Update embed settings
      description: |-
        Sets restrictions on the form's public share and embed links. Send them inside an `embed_settings` object; settings you leave out keep their values.

        - `allowed_domains`: array of domain names, such as `shop.example.com`, that may embed the form. A subdomain of a listed domain is allowed too. An empty array allows every site. Requests that carry no `Origin` or `Referer` header aren't restricted.
        - `password`: a password visitors must enter before they can see or submit the form. `remove_password: true` removes it.
        - `expires_at`: date and time after which the public form returns 410. `null` removes it.
        - `max_submissions`: stop accepting public submissions once the form has this many completed respondents. `null` or 0 removes the limit.
        - `require_contact`: when `true`, public submissions must include a contact email.

        Returns 422 for an invalid domain or date.
      tags:
      - forms
      parameters:
      - name: id
        description: ID of the form.
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FormEmbedSettingsResponse"
              examples:
                password_set:
                  summary: The RSVP form is now password-protected; it has no public token yet
                  value:
                    message: Embed settings updated
                    form:
                      id: 4132
                      title: Scranton Business Park open house
                      status: active
                      description: RSVP for the Scranton Business Park open house on November 12.
                      form_type: null
                      form_redirect: null
                      updated_at: '2026-10-07T16:01:47Z'
                      form_components: null
                      countries:
                      - id: 233
                        name: United States
                        iso: US
                      form_styles: null
                      form_respondents_count: 0
                      public_token: null
                      embed_settings:
                        password_protected: true
                      embed_url: null
                      share_url: null
                    meta:
[...]
