---
openapi: 3.1.0
info:
  title: Fluid Forms API
  version: v0
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
- url: https://{company}.fluid.app
  description: Production server with company subdomain
  variables:
    company:
      default: myco
      description: Company subdomain
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: Bearer token authentication
  schemas:
    Meta:
      type: object
      properties:
        request_id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
    ErrorResponse:
      type: object
      required:
      - error_message
      - errors
      - meta
      properties:
        error_message:
          type: string
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          "$ref": "#/components/schemas/Meta"
    UnauthorizedResponse:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    CreateFormRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        title:
          type:
          - string
          - number
          - integer
          - 'null'
          description: Title of the form
        description:
          type:
          - string
          - number
          - integer
          - 'null'
          description: Description of the form
    GetFormStatisticsResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        total_forms:
          type:
          - integer
          - string
          - number
          - 'null'
        total_responses:
          type:
          - integer
          - string
          - number
          - 'null'
        completed_responses:
          type:
          - integer
          - string
          - number
          - 'null'
        completion_rate:
          type:
          - number
          - string
          - integer
          - 'null'
          format: float
        today_responses:
          type:
          - integer
          - string
          - number
          - 'null'
        yesterday_responses:
          type:
          - integer
          - string
          - number
          - 'null'
    UpdateFormRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        form:
          type:
          - object
          - 'null'
          properties:
            title:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Title of the form
            description:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Description of the form
            status:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Status of the form
            form_type:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Type of the form
            form_components:
              type:
              - string
              - number
              - integer
              - 'null'
              description: JSON string of form components
            form_styles:
              type:
              - string
              - number
              - integer
              - 'null'
              description: JSON string of form styles
            form_redirect:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Redirect URL after form submission
            default:
              type:
              - boolean
              - 'null'
              description: Whether this is the default form
            country_ids:
              type:
              - array
              - 'null'
              items:
                type:
                - integer
                - string
                - number
                - 'null'
              description: Array of country IDs
    CreateDamBackfillImagekitResponse401ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        message:
          type:
          - string
          - number
          - integer
          - 'null'
    ExportFormRespondentsCsvResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        url:
          type:
          - string
          - number
          - integer
          - 'null'
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    RespondToFormResponse201ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        message:
          type:
          - string
          - number
          - integer
          - 'null'
        responses:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            properties:
              id:
                type:
                - integer
                - string
                - number
                - 'null'
              form_element_id:
                type:
                - integer
                - string
                - number
                - 'null'
              form_respondent_id:
                type:
                - integer
                - string
                - number
                - 'null'
              response:
                type:
                - string
                - number
                - integer
                - 'null'
              created_at:
                type:
                - string
                - number
                - integer
                - 'null'
                format: date-time
              updated_at:
                type:
                - string
                - number
                - integer
                - 'null'
                format: date-time
    RespondToFormRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        form_response:
          type:
          - object
          - 'null'
          properties:
            contact:
              type:
              - object
              - 'null'
              properties:
                first_name:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                last_name:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                email:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
            responses:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  form_element_id:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  answer:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
    ListFormRespondentsResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            properties:
              id:
                type:
                - integer
                - string
                - number
                - 'null'
              form_completion_status:
                type:
                - string
                - number
                - integer
                - 'null'
              respondent:
                type:
                - object
                - 'null'
                properties:
                  id:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  email:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  full_name:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  status:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  token:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
              respondent_type:
                type:
                - string
                - number
                - integer
                - 'null'
              response:
                type:
                - array
                - 'null'
                items:
                  type:
                  - object
                  - 'null'
                  properties:
                    id:
                      type:
                      - integer
                      - string
                      - number
                      - 'null'
                    form_element_id:
                      type:
                      - integer
                      - string
                      - number
                      - 'null'
                    response:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
              updated_at:
                type:
                - string
                - number
                - integer
                - 'null'
                format: date-time
        pagination:
          type:
          - object
          - 'null'
          properties:
            current_page:
              type:
              - integer
              - string
              - number
              - 'null'
            next_page:
              type:
              - integer
              - 'null'
              - string
              - number
            prev_page:
              type:
              - integer
              - 'null'
              - string
              - number
            total_pages:
              type:
              - integer
              - string
              - number
              - 'null'
            total_count:
              type:
              - integer
              - string
              - number
              - 'null'
        filters:
          type:
          - object
          - 'null'
          properties:
            sorted_by:
              type:
              - array
              - 'null'
              items:
                type:
                - array
                - 'null'
                items:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
    SendFormViaEmailRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        email:
          type:
          - string
          - number
          - integer
          - 'null'
          description: Email address to send the form to
    SendFormRemindersRequestBodyApplicationJsonSchema:
      type: object
      properties:
        enrollment_ids:
          type: array
          description: Enrollment ids to intersect with the form's eligible set. Omit to remind every eligible enrollee.
          items:
            type: integer
      additionalProperties: false
    JsonValue:
      description: Any valid JSON value for provider, integration, theme, metadata,
        or other dynamic payloads whose keys are not fixed by the API contract.
      anyOf:
      - type: string
      - type: number
      - type: boolean
      - type: 'null'
      - type: array
        items:
          "$ref": "#/components/schemas/JsonValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorValue:
      description: A validation or API error value.
      anyOf:
      - type: string
      - type: array
        items:
          type: string
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorBag:
      description: Validation errors keyed by field, a list of errors, a single error
        message, or null when no structured error details are available.
      anyOf:
      - type: string
      - type: array
        items:
          "$ref": "#/components/schemas/ErrorValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/ErrorValue"
      - type: 'null'
    ErrorMessage:
      description: An API error message represented as text or structured JSON.
      anyOf:
      - type: string
      - "$ref": "#/components/schemas/ErrorBag"
      - type: 'null'
    StandardErrorResponse:
      description: Common legacy error response envelope. Older endpoints may return
        one or more of these fields depending on the controller path.
      type: object
      properties:
        message:
          type: string
        error:
          "$ref": "#/components/schemas/ErrorMessage"
        error_message:
          "$ref": "#/components/schemas/ErrorMessage"
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          "$ref": "#/components/schemas/Meta"
      additionalProperties:
        "$ref": "#/components/schemas/JsonValue"
    StandardUnauthorizedResponse:
      description: Common legacy unauthorized response envelope.
      allOf:
      - "$ref": "#/components/schemas/StandardErrorResponse"
    Form:
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
        countries:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            properties:
              id:
                type:
                - integer
                - string
                - number
                - 'null'
              iso:
                type:
                - string
                - number
                - integer
                - 'null'
              name:
                type:
                - string
                - number
                - integer
                - 'null'
        description:
          type:
          - string
          - number
          - integer
          - 'null'
        form_components:
          type:
          - string
          - number
          - integer
          - 'null'
        form_styles:
          type:
          - object
          - 'null'
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        form_redirect:
          type:
          - string
          - number
          - integer
          - 'null'
        form_respondents_count:
          type:
          - integer
          - string
          - number
          - 'null'
        form_type:
          type:
          - string
          - number
          - integer
          - 'null'
        status:
          type:
          - string
          - number
          - integer
          - 'null'
        title:
          type:
          - string
          - number
          - integer
          - 'null'
        updated_at:
          type:
          - string
          - number
          - integer
          - 'null'
          format: date-time
    CreateFormResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        message:
          type:
          - string
          - number
          - integer
          - 'null'
        form:
          "$ref": "#/components/schemas/Form"
    DuplicateFormResponse200ApplicationJsonSchema:
      "$ref": "#/components/schemas/Form"
    ListFormsResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/Form"
        pagination:
          type:
          - object
          - 'null'
          properties:
            current_page:
              type:
              - integer
              - string
              - number
              - 'null'
            next_page:
              type:
              - integer
              - string
              - number
              - 'null'
            prev_page:
              type:
              - integer
              - string
              - number
              - 'null'
            total_pages:
              type:
              - integer
              - string
              - number
              - 'null'
            total_count:
              type:
              - integer
              - string
              - number
              - 'null'
        filters:
          type:
          - object
          - 'null'
          properties:
            sorted_by:
              type:
              - array
              - 'null'
              items:
                type:
                - array
                - 'null'
                items:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
    FormAnalyticsResponse:
      type: object
      properties:
        description:
          type: string
        form_elements:
          type: array
          items:
            "$ref": "#/components/schemas/JsonValue"
        form_statistics:
          type: object
          properties:
            completed_count:
              type: integer
            completion_percentage:
              type: string
            completion_rate:
              type: number
            incomplete_count:
              type: integer
            total_respondents:
              type: integer
          required:
          - completed_count
          - completion_percentage
          - completion_rate
          - incomplete_count
          - total_respondents
          additionalProperties: false
        form_type:
          type: 'null'
        id:
          type: integer
        meta:
          "$ref": "#/components/schemas/Meta"
        monthly_response_analytics:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: integer
        status:
          type: string
        title:
          type: string
        updated_at:
          type: string
          format: date-time
      required:
      - description
      - form_elements
      - form_statistics
      - form_type
      - id
      - meta
      - monthly_response_analytics
      - status
      - title
      - updated_at
      additionalProperties: false
    FormEmbedCodeResponse:
      type: object
      properties:
        embed_url:
          type: string
        iframe_snippet:
          type: string
        meta:
          "$ref": "#/components/schemas/Meta"
        script_snippet:
          type: string
        share_url:
          type: string
      required:
      - embed_url
      - iframe_snippet
      - meta
      - script_snippet
      - share_url
      additionalProperties: false
    FormEmbedSettingsResponse:
      type: object
      properties:
        form:
          type: object
          properties:
            countries:
              type: array
              items:
                "$ref": "#/components/schemas/JsonValue"
            description:
              type: string
            embed_settings:
              type: object
              properties:
                password_protected:
                  type: boolean
              required:
              - password_protected
              additionalProperties: false
            embed_url:
              type: 'null'
            form_components:
              type: 'null'
            form_redirect:
              type: 'null'
            form_respondents_count:
              type: integer
            form_styles:
              type: 'null'
            form_type:
              type: 'null'
            id:
              type: integer
            public_token:
              type: 'null'
            share_url:
              type: 'null'
            status:
              type: string
            title:
              type: string
            updated_at:
              type: string
              format: date-time
          required:
          - countries
          - description
          - embed_settings
          - embed_url
          - form_components
          - form_redirect
          - form_respondents_count
          - form_styles
          - form_type
          - id
          - public_token
          - share_url
          - status
          - title
          - updated_at
          additionalProperties: false
        message:
          type: string
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - form
      - message
      - meta
      additionalProperties: false
    FormRespondentDeleteResponse:
      type: object
      properties:
        message:
          type: string
      required:
      - message
      additionalProperties: false
    FormTokenResponse:
      type: object
      properties:
        form:
          type: object
          properties:
            countries:
              type: array
              items:
                "$ref": "#/components/schemas/JsonValue"
            description:
              type: string
            embed_settings:
              type: object
              properties:
                password_protected:
                  type: boolean
              required:
              - password_protected
              additionalProperties: false
            embed_url:
              type: string
            form_components:
              type: 'null'
            form_redirect:
              type: 'null'
            form_respondents_count:
              type: integer
            form_styles:
              type: 'null'
            form_type:
              type: 'null'
            id:
              type: integer
            public_token:
              type: string
            share_url:
              type: string
            status:
              type: string
            title:
              type: string
            updated_at:
              type: string
              format: date-time
          required:
          - countries
          - description
          - embed_settings
          - embed_url
          - form_components
          - form_redirect
          - form_respondents_count
          - form_styles
          - form_type
          - id
          - public_token
          - share_url
          - status
          - title
          - updated_at
          additionalProperties: false
        message:
          type: string
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - form
      - message
      - meta
      additionalProperties: false
    FormIncompleteEnrolleeRow:
      type: object
      required:
      - enrollment_id
      - name
      - email
      - last_reminder_sent_at
      - eligible
      - skip_reason
      properties:
        enrollment_id:
          type: integer
        name:
          type: string
        email:
          type:
          - string
          - 'null'
        last_reminder_sent_at:
          type:
          - string
          - 'null'
          format: date-time
        eligible:
          type: boolean
        skip_reason:
          type:
          - string
          - 'null'
      additionalProperties: false
    FormIncompleteEnrolleesResponse:
      type: object
      required:
      - data
      - pagination
      - meta
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/FormIncompleteEnrolleeRow"
        pagination:
          type: object
          required:
          - current_page
          - total_pages
          - total_count
          - per_page
          properties:
            current_page:
              type: integer
            total_pages:
              type: integer
            total_count:
              type: integer
            per_page:
              type: integer
          additionalProperties: false
        meta:
          "$ref": "#/components/schemas/Meta"
      additionalProperties: false
    FormSendRemindersResponse:
      type: object
      required:
      - sent
      - skipped
      - meta
      properties:
        sent:
          type: integer
        skipped:
          type: object
          description: Enrollees excluded from this send, keyed by skip reason.
          additionalProperties:
            type: integer
        meta:
          "$ref": "#/components/schemas/Meta"
      additionalProperties: false
    FormVisualizationResponse:
      type: object
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/JsonValue"
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - data
      - meta
      additionalProperties: false
    FormElementListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              metadata:
                type: object
                properties:
                  label:
                    type: string
                  placeholder:
                    type: string
                  required:
                    type: boolean
                required:
                - label
                - placeholder
                - required
                additionalProperties: false
              position:
                type: integer
              title:
                type: string
              type:
                type: string
            required:
            - id
            - metadata
            - position
            - title
            - type
            additionalProperties: false
        filters:
          type: object
          properties:
            sorted_by:
              type: array
              items:
                type: array
                items:
                  type: string
          required:
          - sorted_by
          additionalProperties: false
        meta:
          "$ref": "#/components/schemas/Meta"
        pagination:
          type: object
          properties:
            current_page:
              type: integer
            per_page:
              type: integer
            total_count:
              type: integer
            total_pages:
              type: integer
          required:
          - current_page
          - per_page
          - total_count
          - total_pages
          additionalProperties: false
      required:
      - data
      - filters
      - meta
      - pagination
      additionalProperties: false
paths:
  "/api/forms":
    get:
      summary: List forms
      description: List all forms for a company
      tags:
      - forms
      operationId: forms_v0_list_forms
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListFormsResponse200ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
    post:
      summary: Create a form
      description: Create a new form
      tags:
      - forms
      operationId: forms_v0_create_form
      security:
      - bearer_auth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
          minLength: 1
          maxLength: 255
          pattern: "\\S"
        description: Optional client-chosen key, 1 to 255 characters with at least one
          that is not whitespace; a blank key answers 422. A retry
          of the same request with the same key from the same company answers with
          the record the first request created instead of creating another, even
          when the first response was lost. The same key sent with a different
          request, or by a different user or credential, answers 422.
      responses:
        '200':
          description: Success, or the form an earlier request with the same Idempotency-Key created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateFormResponse200ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '422':
          description: Invalid form, a blank Idempotency-Key or one longer than 255 characters, or one already used with a different request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateFormRequestBodyApplicationJsonSchema"
  "/api/forms/statistics":
    get:
      summary: Get form statistics
      description: Get statistics for a form
      tags:
      - forms
      operationId: forms_v0_get_form_statistics
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: query
        required: true
        description: Form ID
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetFormStatisticsResponse200ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
  "/api/forms/{form_id}/form_elements":
    get:
      summary: List form elements
      description: List all form elements for a form
      tags:
      - form-elements
      operationId: forms_v0_list_form_elements
      security:
      - bearer_auth: []
      parameters:
      - name: form_id
        in: path
        required: true
        description: Form ID
        schema:
          type: integer
      - name: page
        in: query
        required: false
        description: Page number
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: Number of items per page
        schema:
          type: integer
      - name: filterrific
        in: query
        required: false
        description: Filterrific parameters
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FormElementListResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
  "/api/forms/{form_id}/form_respondents/{id}":
    delete:
      operationId: forms_v0_forms_form_respondents_delete
      summary: Delete form respondents
      tags:
      - forms
      parameters:
      - name: form_id
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FormRespondentDeleteResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/forms/{id}":
    put:
      summary: Update a form
      description: Update an existing form
      tags:
      - forms
      operationId: forms_v0_update_form
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        description: Form ID
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateFormResponse200ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateFormRequestBodyApplicationJsonSchema"
    delete:
      summary: Delete a form
      description: Delete a form
      tags:
      - forms
      operationId: forms_v0_delete_form
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        description: Form ID
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateDamBackfillImagekitResponse401ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
  "/api/forms/{id}/analytics":
    get:
      operationId: forms_v0_forms_analytics_get
      summary: Analytics analytics
      tags:
      - forms
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FormAnalyticsResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      security:
      - bearer_auth: []
  "/api/forms/{id}/duplicate":
    post:
      summary: Duplicate a form
      description: Duplicate a form
      tags:
      - forms
      operationId: forms_v0_duplicate_form
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        description: Form ID
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DuplicateFormResponse200ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/forms/{id}/embed_code":
    get:
      operationId: forms_v0_forms_embed_code_get
      summary: Embed Code embed code
      tags:
      - forms
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FormEmbedCodeResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/forms/{id}/embed_settings":
    patch:
      operationId: forms_v0_forms_embed_settings_patch
      summary: Embed Settings embed settings
      tags:
      - forms
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FormEmbedSettingsResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/forms/{id}/export_csv":
    post:
      summary: Export form respondents in CSV
      description: Export form respondents in CSV
      tags:
      - forms
      operationId: forms_v0_export_form_respondents_csv
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        description: Form ID
        schema:
          type: integer
      - name: with_completion_status
        in: query
        required: false
        description: Completion status filter
        schema:
          type: string
      - name: include_sensitive
        in: query
        required: false
        description: Include answers the form builder marked sensitive. Honored only for callers holding the forms.view_sensitive permission; every other export masks them.
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExportFormRespondentsCsvResponse200ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
  "/api/forms/{id}/generate_token":
    post:
      operationId: forms_v0_forms_generate_token_post
      summary: Generate Token generate token
      tags:
      - forms
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FormTokenResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      security:
      - bearer_auth: []
  "/api/forms/{id}/incomplete_enrollees":
    get:
      summary: List incomplete enrollees for a post-purchase form
      description: List the enrollees who still owe this post-purchase form, with the identity a reminder email would address, the last-reminded time, and per-row eligibility.
      tags:
      - forms
      operationId: forms_v0_list_incomplete_enrollees
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        description: Form ID
        schema:
          type: integer
      - name: page
        in: query
        required: false
        description: Page number
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: Number of items per page
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FormIncompleteEnrolleesResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Form not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Reminders are only available for post-purchase forms
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/forms/{id}/respond":
    post:
      summary: Respond to a form
      description: Respond to a form
      tags:
      - forms
      operationId: forms_v0_respond_to_form
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        description: Form ID
        schema:
          type: integer
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/RespondToFormResponse201ApplicationJsonSchema"
        '400':
          description: Contact details are missing. A caller answering another
            company's form, or answering without signing in, must send `contact`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/RespondToFormRequestBodyApplicationJsonSchema"
  "/api/forms/{id}/respondents":
    get:
      summary: List form respondents
      description: List all respondents for a form
      tags:
      - forms
      operationId: forms_v0_list_form_respondents
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        description: Form ID
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListFormRespondentsResponse200ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/forms/{id}/revoke_token":
    delete:
      operationId: forms_v0_forms_revoke_token_delete
      summary: Revoke Token revoke token
      tags:
      - forms
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FormEmbedSettingsResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      security:
      - bearer_auth: []
  "/api/forms/{id}/send_reminders":
    post:
      summary: Send manual enrollment reminders
      description: Send the manual enrollment-completion reminder to this post-purchase form's eligible incomplete enrollees, once per enrollee per 24 hours. Reports how many were sent and the enrollees skipped, keyed by reason.
      tags:
      - forms
      operationId: forms_v0_send_form_reminders
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        description: Form ID
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SendFormRemindersRequestBodyApplicationJsonSchema"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FormSendRemindersResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Form not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Reminders are only available for post-purchase forms
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/forms/{id}/send_mail":
    post:
      summary: Send form via email
      description: Send a form via email
      tags:
      - forms
      operationId: forms_v0_send_form_via_email
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        description: Form ID
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateDamBackfillImagekitResponse401ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SendFormViaEmailRequestBodyApplicationJsonSchema"
  "/api/forms/{id}/visualization":
    get:
      operationId: forms_v0_forms_visualization_get
      summary: Visualization visualization
      tags:
      - forms
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FormVisualizationResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      security:
      - bearer_auth: []
