---
openapi: 3.1.0
info:
  description: |-
    Manage your company's forms: build them, choose where they appear, share or embed them, and read, export, and follow up on their responses.

    A form is either a **post-purchase** form, which enrollment checkout shows after payment to buyers in the form's countries, or a **general** form, which you share by link, embed on a website, or send by email. Its fields are **form elements**. Each submission is a **respondent** that holds one **response** per answered element.

    Every operation takes a Bearer token (`Authorization: Bearer <token>`) for your company. Reading operations need the forms view permission, and writing operations need the forms update permission, except **Respond to a form**, which any member of the company can call. Root admins and droplet tokens skip these permission checks. **Respond to a form** also accepts unauthenticated calls, but those are deprecated: to collect answers from the public, generate a public token and use the Fluid Public SDK API's token-addressed forms operations, or the hosted share and embed URLs.

    Answers to elements marked sensitive are masked as `********` unless the caller holds the forms view-sensitive permission, is a root admin, or uses a droplet token.
  title: Fluid Forms API
  version: v0
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
- url: https://{company}.fluid.app
  description: Production server with company subdomain
  variables:
    company:
      default: myco
      description: Company subdomain
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: Bearer token authentication
  schemas:
    Meta:
      description: Request metadata returned with the response.
      type: object
      properties:
        request_id:
          description: Identifier of this request, for support and log correlation.
          type:
          - string
          - 'null'
        timestamp:
          description: When the server built the response, in ISO 8601.
          type: string
          format: date-time
    ErrorResponse:
      type: object
      required:
      - error_message
      - errors
      - meta
      properties:
        error_message:
          description: Human-readable summary of the error, such as `Form not found`.
          type: string
        errors:
          description: Error details keyed by field, or empty when there are none.
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          description: Request metadata.
          "$ref": "#/components/schemas/Meta"
    UnauthorizedResponse:
      type: object
      properties:
        message:
          description: Why the request was refused.
          type: string
      required:
      - message
    CreateFormRequestBodyApplicationJsonSchema:
      description: >-
        The new form. Send its fields inside a `form` object, for example `{"form": {"title":
        "Enrollment details", "form_type": "post_purchase"}}`. The server reads only the `form`
        object; it accepts the same fields as **Update a form**, and `title` is required.
      type:
      - object
      - 'null'
      properties:
        title:
          type:
          - string
          - number
          - integer
          - 'null'
          description: Title of the form. Required. Send it as `form.title`.
        description:
          type:
          - string
          - number
          - integer
          - 'null'
          description: Description of the form. Send it as `form.description`.
    GetFormStatisticsResponse200ApplicationJsonSchema:
      description: Response counts across every form your company has.
      type:
      - object
      - 'null'
      properties:
        total_forms:
          description: Number of forms the company has, in any status.
          type:
          - integer
          - string
          - number
          - 'null'
        total_responses:
          description: >-
            Number of respondents across all of the company's forms. Each submission counts
            once.
          type:
          - integer
          - string
          - number
          - 'null'
        completed_responses:
          description: Number of those respondents whose completion status is `completed`.
          type:
          - integer
          - string
          - number
          - 'null'
        completion_rate:
          description: >-
            `completed_responses` as a percentage of `total_responses`, from 0 to 100, rounded
            to two decimals. 0 when there are no responses.
          type:
          - number
          - string
          - integer
          - 'null'
          format: float
        today_responses:
          description: Respondents created since midnight UTC today.
          type:
          - integer
          - string
          - number
          - 'null'
        yesterday_responses:
          description: Respondents created yesterday, midnight to midnight UTC.
          type:
          - integer
          - string
          - number
          - 'null'
    UpdateFormRequestBodyApplicationJsonSchema:
      description: >-
        The fields to change. Send at least one field inside `form`; fields you leave out keep
        their values.
      type:
      - object
      - 'null'
      properties:
        form:
          description: The form fields to change.
          type:
          - object
          - 'null'
          properties:
            title:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Title of the form. Can't be blank.
            description:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Description shown with the form.
            status:
              type:
              - string
              - number
              - integer
              - 'null'
              description: >-
                `draft` or `active`. Only an `active` form is shown at checkout or served by its
                public token. Changing a form to `active` gives it a public token if it has
                none. Activating a form also sends the `form_activated` webhook event.
            form_type:
              type:
              - string
              - number
              - integer
              - 'null'
              description: >-
                The form's type, which decides where it appears. `post_purchase`: shown on the
                order confirmation page of an enrollment checkout, after payment, when the
                cart's country is one of the form's countries and the form is `active`. Every
                active post-purchase form for that country is shown, and the enrollment stays
                incomplete until each required field is answered. `general`: a standalone form
                that checkout never shows; you share it by link, embed, or email. `pre_purchase`
                is retired: creating a form with it, or changing a form to it, returns 422 with
                an `errors.form_type` message. Pre-purchase forms created before the retirement
                keep running before payment at enrollment checkout and stay editable. A form can
                also have no type (`null`).
            form_components:
              type:
              - string
              - number
              - integer
              - 'null'
              description: >-
                The form's elements, as a JSON-encoded string of an array of components. Each
                component is an object with an `element_type` and its settings, such as `label`,
                `placeholder`, `required`, and `sensitive_info`. A component that carries the
                `id` of one of this form's elements updates that element in place; a component
                without an `id` adds a new element. Elements you leave out are deactivated, and
                their stored answers are kept. Changing which fields are marked `sensitive_info`
                needs the forms manage-sensitive permission, otherwise the request returns 422.
                See **List form elements** for the element types.
            form_styles:
              type:
              - string
              - number
              - integer
              - 'null'
              description: >-
                The form's visual styles, as a JSON-encoded string of an object. Responses
                return it decoded.
            form_redirect:
              type:
              - string
              - number
              - integer
              - 'null'
              description: >-
                URL the hosted form sends the respondent to after they submit. Send `null` to
                clear it.
            default:
              type:
              - boolean
              - 'null'
              description: >-
                Stored with the form and returned to the builder. Which forms checkout shows
                doesn't depend on it.
            country_ids:
              type:
              - array
              - 'null'
              items:
                type:
                - integer
                - string
                - number
                - 'null'
              description: >-
                IDs of the countries the form is for. Replaces the form's current countries. A
                post-purchase form is shown only for carts in one of these countries.
    CreateDamBackfillImagekitResponse401ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        message:
          description: >-
            Confirmation message, such as `Form deleted successfully` or `Email sent
            successfully`.
          type:
          - string
          - number
          - integer
          - 'null'
    ExportFormRespondentsCsvResponse200ApplicationJsonSchema:
      description: Where to download the finished export.
      type:
      - object
      - 'null'
      properties:
        url:
          description: >-
            Signed download URL of the CSV file. It expires 12 hours after the export. The file
            has one row per respondent with the columns `respondent_type`, `respondent_name`,
            `respondent_email`, `respondent_phone`, `form_completion_status`, `submitted_at`,
            and `updated_at`, followed by one column per answered element, headed by the
            element's label.
          type:
          - string
          - number
          - integer
          - 'null'
        meta:
          description: Request metadata.
          type:
          - object
          - 'null'
          properties:
            request_id:
              description: Identifier of this request, for support and log correlation.
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              description: When the server built the response, in ISO 8601.
              type:
              - string
              - number
              - integer
              - 'null'
    RespondToFormResponse201ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        message:
          description: >-
            Confirmation message: `Responses created successfully`.
          type:
          - string
          - number
          - integer
          - 'null'
        responses:
          description: The answers that were saved, one per submitted element.
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            properties:
              id:
                description: ID of the saved response.
                type:
                - integer
                - string
                - number
                - 'null'
              form_element_id:
                description: ID of the form element the answer is for.
                type:
                - integer
                - string
                - number
                - 'null'
              form_respondent_id:
                description: ID of the respondent record this submission created.
                type:
                - integer
                - string
                - number
                - 'null'
              response:
                description: The answer as saved.
                type:
                - string
                - number
                - integer
                - 'null'
              created_at:
                description: When the answer was saved.
                type:
                - string
                - number
                - integer
                - 'null'
                format: date-time
              updated_at:
                description: When the answer was last changed.
                type:
                - string
                - number
                - integer
                - 'null'
                format: date-time
    RespondToFormRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        form_response:
          description: The submission. Required.
          type:
          - object
          - 'null'
          properties:
            contact:
              description: >-
                Who is answering. Required, with `email`, when the caller isn't signed in as a
                member of the form's company; the answers are then filed under a new contact of
                that company built from these details. Ignored when the caller is a member of
                the form's company, because the answers are filed under their membership.
              type:
              - object
              - 'null'
              properties:
                first_name:
                  description: The respondent's first name.
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                last_name:
                  description: The respondent's last name.
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                email:
                  description: The respondent's email address. Required when you send `contact`.
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
            responses:
              description: >-
                The answers, one per element. Required. Every `form_element_id` must belong to
                this form, otherwise the request returns 422 and nothing is saved.
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  form_element_id:
                    description: ID of the form element being answered. Required.
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  answer:
                    description: >-
                      The answer, as a string. Required. For a file upload, send the uploaded
                      file's URL.
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
    ListFormRespondentsResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        data:
          description: The respondents on this page. Each is one submission of the form.
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            properties:
              id:
                description: ID of the respondent record. Use it to delete the submission.
                type:
                - integer
                - string
                - number
                - 'null'
              form_completion_status:
                description: >-
                  `not_started`, `in_progress`, or `completed`. Submissions through **Respond to
                  a form** are always `completed`.
                type:
                - string
                - number
                - integer
                - 'null'
              respondent:
                description: >-
                  Who submitted the form, or `null` when unknown. For a contact or company
                  member it carries their profile. For an enrollee it carries `id` (the
                  enrollment ID), `full_name`, and `email`, and only when the caller holds the
                  forms view-sensitive permission, is a root admin, or uses a droplet token; otherwise it is `null`.
                type:
                - object
                - 'null'
                properties:
                  id:
                    description: >-
                      ID of the respondent: the contact, company member, or enrollment.
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  email:
                    description: The respondent's email address.
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  full_name:
                    description: The respondent's full name.
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  status:
                    description: The contact's status, when the respondent is a contact.
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  token:
                    description: The contact's token, when the respondent is a contact.
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
              respondent_type:
                description: >-
                  What kind of record answered: `Contact` (a person who answered through a
                  shared or public form), `UserCompany` or `Company::CompanyMember` (a signed-in
                  member of your company), or `Commerce::Enrollment` (an enrollee answering a
                  form at checkout).
                type:
                - string
                - number
                - integer
                - 'null'
              response:
                description: The respondent's answers, one per answered element.
                type:
                - array
                - 'null'
                items:
                  type:
                  - object
                  - 'null'
                  properties:
                    id:
                      description: ID of the response.
                      type:
                      - integer
                      - string
                      - number
                      - 'null'
                    form_element_id:
                      description: ID of the form element the answer is for.
                      type:
                      - integer
                      - string
                      - number
                      - 'null'
                    response:
                      description: >-
                        The answer. A sensitive element's answer is `********` unless the caller
                        holds the forms view-sensitive permission, is a root admin, or uses a droplet token. A file upload's answer is a
                        time-limited signed URL.
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
              updated_at:
                description: When the respondent record last changed.
                type:
                - string
                - number
                - integer
                - 'null'
                format: date-time
        pagination:
          description: Where this page sits in the full list.
          type:
          - object
          - 'null'
          properties:
            current_page:
              description: The page returned, starting at 1.
              type:
              - integer
              - string
              - number
              - 'null'
            next_page:
              description: >-
                Not currently returned. Request `current_page + 1` while it is no greater than
                `total_pages`.
              type:
              - integer
              - 'null'
              - string
              - number
            prev_page:
              description: >-
                Not currently returned. Request `current_page - 1` while it is at least 1.
              type:
              - integer
              - 'null'
              - string
              - number
            total_pages:
              description: Number of pages at the requested page size.
              type:
              - integer
              - string
              - number
              - 'null'
            total_count:
              description: Number of records across all pages.
              type:
              - integer
              - string
              - number
              - 'null'
        filters:
          description: The sort options this endpoint accepts.
          type:
          - object
          - 'null'
          properties:
            sorted_by:
              description: >-
                Sort options as `[label, value]` pairs. Pass a value as
                `filterrific[sorted_by]`.
              type:
              - array
              - 'null'
              items:
                type:
                - array
                - 'null'
                items:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
    SendFormViaEmailRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        email:
          type:
          - string
          - number
          - integer
          - 'null'
          description: Email address to send the form link to. Required.
    SendFormRemindersRequestBodyApplicationJsonSchema:
      type: object
      properties:
        enrollment_ids:
          type: array
          description: >-
            Enrollment IDs to remind, taken from **List incomplete enrollees**. Only the IDs
            that are still eligible are reminded; the others are counted in `skipped` as
            `form_completed` or `out_of_scope`. Omit it to remind every eligible enrollee.
          items:
            type: integer
      additionalProperties: false
    JsonValue:
      description: Any valid JSON value for provider, integration, theme, metadata,
        or other dynamic payloads whose keys are not fixed by the API contract.
      anyOf:
      - type: string
      - type: number
      - type: boolean
      - type: 'null'
      - type: array
        items:
          "$ref": "#/components/schemas/JsonValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorValue:
      description: A validation or API error value.
      anyOf:
      - type: string
      - type: array
        items:
          type: string
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorBag:
      description: Validation errors keyed by field, a list of errors, a single error
        message, or null when no structured error details are available.
      anyOf:
      - type: string
      - type: array
        items:
          "$ref": "#/components/schemas/ErrorValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/ErrorValue"
      - type: 'null'
    ErrorMessage:
      description: An API error message represented as text or structured JSON.
      anyOf:
      - type: string
      - "$ref": "#/components/schemas/ErrorBag"
      - type: 'null'
    StandardErrorResponse:
      description: Common legacy error response envelope. Older endpoints may return
        one or more of these fields depending on the controller path.
      type: object
      properties:
        message:
          description: Human-readable error message, when the endpoint returns one.
          type: string
        error:
          description: Error message or details, when the endpoint returns them under this key.
          "$ref": "#/components/schemas/ErrorMessage"
        error_message:
          description: >-
            Human-readable summary of the error, such as `Form not found` or `Invalid
            parameters`.
          "$ref": "#/components/schemas/ErrorMessage"
        errors:
          description: >-
            Error details, usually keyed by field. For example, a request for the retired
            pre-purchase type returns a message under `form_type`.
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          description: Request metadata.
          "$ref": "#/components/schemas/Meta"
      additionalProperties:
        "$ref": "#/components/schemas/JsonValue"
    StandardUnauthorizedResponse:
      description: Common legacy unauthorized response envelope.
      allOf:
      - "$ref": "#/components/schemas/StandardErrorResponse"
    Form:
      description: >-
        A form as the admin sees it. Responses also carry `public_token`, `embed_settings`,
        `embed_url`, and `share_url`, described under **Generate a public token**.
      type:
      - object
      - 'null'
      properties:
        id:
          description: ID of the form.
          type:
          - integer
          - string
          - number
          - 'null'
        countries:
          description: >-
            The countries the form is for. A post-purchase form is shown only for carts in one
            of them.
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            properties:
              id:
                description: ID of the country.
                type:
                - integer
                - string
                - number
                - 'null'
              iso:
                description: Two-letter ISO country code, such as `US`.
                type:
                - string
                - number
                - integer
                - 'null'
              name:
                description: Name of the country.
                type:
                - string
                - number
                - integer
                - 'null'
        description:
          description: Description shown with the form.
          type:
          - string
          - number
          - integer
          - 'null'
        form_components:
          description: >-
            The form's elements as the builder saved them, a JSON-encoded array of components.
            Each component carries the `id` of the active element it maps to, so you can send it
            back to **Update a form** to edit elements in place.
          type:
          - string
          - number
          - integer
          - 'null'
        form_styles:
          description: The form's visual styles, or `null` when none are set.
          type:
          - object
          - 'null'
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        form_redirect:
          description: URL the hosted form sends the respondent to after they submit, or `null`.
          type:
          - string
          - number
          - integer
          - 'null'
        form_respondents_count:
          description: Number of respondents the form has, in any completion status.
          type:
          - integer
          - string
          - number
          - 'null'
        form_type:
          description: >-
            `post_purchase`, `general`, or the retired `pre_purchase`; `null` when unset. See
            **Update a form** for what each type means.
          type:
          - string
          - number
          - integer
          - 'null'
        status:
          description: >-
            `draft` or `active`. Only an `active` form is shown at checkout or served by its
            public token. Changing a form to `active` gives it a public token if it has none.
          type:
          - string
          - number
          - integer
          - 'null'
        title:
          description: Title of the form.
          type:
          - string
          - number
          - integer
          - 'null'
        updated_at:
          description: When the form last changed.
          type:
          - string
          - number
          - integer
          - 'null'
          format: date-time
    CreateFormResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        message:
          description: Confirmation message, such as `Form created successfully`.
          type:
          - string
          - number
          - integer
          - 'null'
        form:
          description: The form as saved.
          "$ref": "#/components/schemas/Form"
    DuplicateFormResponse200ApplicationJsonSchema:
      "$ref": "#/components/schemas/Form"
    ListFormsResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        data:
          description: The forms on this page, newest first.
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/Form"
        pagination:
          description: Where this page sits in the full list.
          type:
          - object
          - 'null'
          properties:
            current_page:
              description: The page returned, starting at 1.
              type:
              - integer
              - string
              - number
              - 'null'
            next_page:
              description: >-
                Not currently returned. Request `current_page + 1` while it is no greater than
                `total_pages`.
              type:
              - integer
              - string
              - number
              - 'null'
            prev_page:
              description: >-
                Not currently returned. Request `current_page - 1` while it is at least 1.
              type:
              - integer
              - string
              - number
              - 'null'
            total_pages:
              description: Number of pages at the requested page size.
              type:
              - integer
              - string
              - number
              - 'null'
            total_count:
              description: Number of records across all pages.
              type:
              - integer
              - string
              - number
              - 'null'
        filters:
          description: The sort options the admin offers for forms.
          type:
          - object
          - 'null'
          properties:
            sorted_by:
              description: >-
                Sort options as `[label, value]` pairs. This endpoint always returns forms
                newest first.
              type:
              - array
              - 'null'
              items:
                type:
                - array
                - 'null'
                items:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
    FormAnalyticsResponse:
      description: A form with its completion counts and monthly response volume.
      type: object
      properties:
        description:
          description: Description of the form.
          type: string
        form_elements:
          description: >-
            The form's active elements that collect an answer, each with its `id`, `type`,
            `title`, `metadata`, `position`, and `status`.
          type: array
          items:
            "$ref": "#/components/schemas/JsonValue"
        form_statistics:
          description: Completion counts for this form.
          type: object
          properties:
            completed_count:
              description: Respondents whose status is `completed`.
              type: integer
            completion_percentage:
              description: >-
                `completion_rate` formatted as text, such as `75.0%`.
              type: string
            completion_rate:
              description: >-
                `completed_count` as a percentage of `total_respondents`, from 0 to 100, rounded
                to two decimals.
              type: number
            incomplete_count:
              description: >-
                Respondents whose status is `in_progress`. Respondents that are `not_started`
                aren't counted.
              type: integer
            total_respondents:
              description: Number of respondents, in any completion status.
              type: integer
          required:
          - completed_count
          - completion_percentage
          - completion_rate
          - incomplete_count
          - total_respondents
          additionalProperties: false
        form_type:
          description: >-
            `post_purchase`, `general`, or the retired `pre_purchase`; `null` when unset.
          type: 'null'
        id:
          description: ID of the form.
          type: integer
        meta:
          description: Request metadata.
          "$ref": "#/components/schemas/Meta"
        monthly_response_analytics:
          description: >-
            Respondents created in the last two years, counted by month. Keyed by year, then by
            lowercase month name, for example `{"2026": {"september": 12}}`. Months with no
            respondents are left out.
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: integer
        status:
          description: >-
            `draft` or `active`.
          type: string
        title:
          description: Title of the form.
          type: string
        updated_at:
          description: When the form last changed.
          type: string
          format: date-time
      required:
      - description
      - form_elements
      - form_statistics
      - form_type
      - id
      - meta
      - monthly_response_analytics
      - status
      - title
      - updated_at
      additionalProperties: false
    FormEmbedCodeResponse:
      description: Ready-to-paste code and links for the form's public token.
      type: object
      properties:
        embed_url:
          description: Link to the hosted form in embed mode, for use in an `iframe`.
          type: string
        iframe_snippet:
          description: >-
            HTML `iframe` that shows the hosted form at `embed_url`, 100% wide and 600 pixels
            tall.
          type: string
        meta:
          description: Request metadata.
          "$ref": "#/components/schemas/Meta"
        script_snippet:
          description: >-
            HTML `div` and `script` tags that load the hosted form's embed script and render the
            form into the `div`.
          type: string
        share_url:
          description: Link to the hosted form, to share directly.
          type: string
      required:
      - embed_url
      - iframe_snippet
      - meta
      - script_snippet
      - share_url
      additionalProperties: false
    FormEmbedSettingsResponse:
      type: object
      properties:
        form:
          description: The form with its public sharing settings.
          type: object
          properties:
            countries:
              description: The countries the form is for.
              type: array
              items:
                "$ref": "#/components/schemas/JsonValue"
            description:
              description: Description of the form.
              type: string
            embed_settings:
              description: >-
                Restrictions on the public form: `allowed_domains`, `expires_at`,
                `max_submissions`, and `require_contact` when set, plus `password_protected`.
                The password itself is never returned.
              type: object
              properties:
                password_protected:
                  description: >-
                    Whether visitors must enter a password before they can see or submit the
                    form.
                  type: boolean
              required:
              - password_protected
              additionalProperties: false
            embed_url:
              description: >-
                Link to the hosted form in embed mode, or `null` when the form has no public
                token.
              type: 'null'
            form_components:
              description: >-
                The form's elements as the builder saved them, a JSON-encoded array of
                components.
              type: 'null'
            form_redirect:
              description: URL the hosted form sends the respondent to after they submit, or `null`.
              type: 'null'
            form_respondents_count:
              description: Number of respondents the form has.
              type: integer
            form_styles:
              description: The form's visual styles, or `null` when none are set.
              type: 'null'
            form_type:
              description: >-
                `post_purchase`, `general`, or the retired `pre_purchase`; `null` when unset.
              type: 'null'
            id:
              description: ID of the form.
              type: integer
            public_token:
              description: >-
                The form's public token, or `null` when the form has none, as after **Revoke the
                public token**.
              type: 'null'
            share_url:
              description: >-
                Link to the hosted form for this token, or `null` when the form has no public
                token.
              type: 'null'
            status:
              description: >-
                `draft` or `active`. The public token serves the form only while it is `active`.
              type: string
            title:
              description: Title of the form.
              type: string
            updated_at:
              description: When the form last changed.
              type: string
              format: date-time
          required:
          - countries
          - description
          - embed_settings
          - embed_url
          - form_components
          - form_redirect
          - form_respondents_count
          - form_styles
          - form_type
          - id
          - public_token
          - share_url
          - status
          - title
          - updated_at
          additionalProperties: false
        message:
          description: >-
            Confirmation message: `Embed settings updated` or `Public access revoked`.
          type: string
        meta:
          description: Request metadata.
          "$ref": "#/components/schemas/Meta"
      required:
      - form
      - message
      - meta
      additionalProperties: false
    FormRespondentDeleteResponse:
      type: object
      properties:
        message:
          description: >-
            Confirmation message: `Form respondent deleted successfully`.
          type: string
      required:
      - message
      additionalProperties: false
    FormTokenResponse:
      type: object
      properties:
        form:
          description: The form with its public sharing settings.
          type: object
          properties:
            countries:
              description: The countries the form is for.
              type: array
              items:
                "$ref": "#/components/schemas/JsonValue"
            description:
              description: Description of the form.
              type: string
            embed_settings:
              description: >-
                Restrictions on the public form: `allowed_domains`, `expires_at`,
                `max_submissions`, and `require_contact` when set, plus `password_protected`.
                The password itself is never returned.
              type: object
              properties:
                password_protected:
                  description: >-
                    Whether visitors must enter a password before they can see or submit the
                    form.
                  type: boolean
              required:
              - password_protected
              additionalProperties: false
            embed_url:
              description: >-
                Link to the hosted form in embed mode, or `null` when the form has no public
                token.
              type: string
            form_components:
              description: >-
                The form's elements as the builder saved them, a JSON-encoded array of
                components.
              type: 'null'
            form_redirect:
              description: URL the hosted form sends the respondent to after they submit, or `null`.
              type: 'null'
            form_respondents_count:
              description: Number of respondents the form has.
              type: integer
            form_styles:
              description: The form's visual styles, or `null` when none are set.
              type: 'null'
            form_type:
              description: >-
                `post_purchase`, `general`, or the retired `pre_purchase`; `null` when unset.
              type: 'null'
            id:
              description: ID of the form.
              type: integer
            public_token:
              description: >-
                The form's public token. It identifies the public form for the share and embed URLs and the
                Fluid Public SDK API's token-addressed forms operations. The form must be `active`, and its
                embed settings still apply: a password, allowed domains, an expiry date, a submission limit,
                and required contact details.
              type: string
            share_url:
              description: >-
                Link to the hosted form for this token, or `null` when the form has no public
                token.
              type: string
            status:
              description: >-
                `draft` or `active`. The public token serves the form only while it is `active`.
              type: string
            title:
              description: Title of the form.
              type: string
            updated_at:
              description: When the form last changed.
              type: string
              format: date-time
          required:
          - countries
          - description
          - embed_settings
          - embed_url
          - form_components
          - form_redirect
          - form_respondents_count
          - form_styles
          - form_type
          - id
          - public_token
          - share_url
          - status
          - title
          - updated_at
          additionalProperties: false
        message:
          description: >-
            Confirmation message: `Public token generated`.
          type: string
        meta:
          description: Request metadata.
          "$ref": "#/components/schemas/Meta"
      required:
      - form
      - message
      - meta
      additionalProperties: false
    FormIncompleteEnrolleeRow:
      description: An enrollee who still owes this post-purchase form.
      type: object
      required:
      - enrollment_id
      - name
      - email
      - last_reminder_sent_at
      - eligible
      - skip_reason
      properties:
        enrollment_id:
          description: >-
            ID of the enrollment. Pass it in `enrollment_ids` to remind only this enrollee.
          type: integer
        name:
          description: Name the reminder email would address.
          type: string
        email:
          description: >-
            Email address of the order's customer, where the reminder would go, or `null`.
          type:
          - string
          - 'null'
        last_reminder_sent_at:
          description: >-
            When the enrollee was last sent a reminder, manual or automatic, or `null` if never.
          type:
          - string
          - 'null'
          format: date-time
        eligible:
          description: Whether **Send manual enrollment reminders** would email this enrollee now.
          type: boolean
        skip_reason:
          description: >-
            Why the enrollee can't be reminded now, or `null` when `eligible` is true.
            `email_disabled`: the company's enrollment-completion email is turned off.
            `cart_paused`: the enrollment is paused. `not_resumable`: the checkout can no longer
            be resumed. `no_email`: the customer has no email address. `no_resume_url`: there's
            no link for finishing the enrollment. `recently_reminded`: a reminder went out in
            the last 24 hours.
          type:
          - string
          - 'null'
      additionalProperties: false
    FormIncompleteEnrolleesResponse:
      type: object
      required:
      - data
      - pagination
      - meta
      properties:
        data:
          description: The incomplete enrollees on this page, newest enrollment first.
          type: array
          items:
            "$ref": "#/components/schemas/FormIncompleteEnrolleeRow"
        pagination:
          description: Where this page sits in the full list.
          type: object
          required:
          - current_page
          - total_pages
          - total_count
          - per_page
          properties:
            current_page:
              description: The page returned, starting at 1.
              type: integer
            total_pages:
              description: Number of pages at the requested page size.
              type: integer
            total_count:
              description: Number of records across all pages.
              type: integer
            per_page:
              description: The page size used for this response.
              type: integer
          additionalProperties: false
        meta:
          description: Request metadata.
          "$ref": "#/components/schemas/Meta"
      additionalProperties: false
    FormSendRemindersResponse:
      type: object
      required:
      - sent
      - skipped
      - meta
      properties:
        sent:
          description: Number of reminder emails queued.
          type: integer
        skipped:
          type: object
          description: >-
            Enrollees not reminded, counted by reason. Besides the `skip_reason` values of
            **List incomplete enrollees**: `form_completed` (a requested enrollee has already
            completed this form), `out_of_scope` (a requested ID isn't an incomplete enrollee of
            this form), and `enqueue_failed` (the email couldn't be queued; the enrollee can be
            retried at once).
          additionalProperties:
            type: integer
        meta:
          description: Request metadata.
          "$ref": "#/components/schemas/Meta"
      additionalProperties: false
    FormVisualizationResponse:
      type: object
      properties:
        data:
          description: >-
            One entry per active element that collects an answer, with its `id`, `title`,
            `type`, `metadata`, and `position`, and every answer it has received in
            `form_responses` (`id`, `form_element_id`, `response`). Sensitive answers are
            `********` unless the caller holds the forms view-sensitive permission, is a root admin, or uses a droplet token.
          type: array
          items:
            "$ref": "#/components/schemas/JsonValue"
        meta:
          description: Request metadata.
          "$ref": "#/components/schemas/Meta"
      required:
      - data
      - meta
      additionalProperties: false
    FormElementListResponse:
      type: object
      properties:
        data:
          description: The form elements on this page, lowest position first.
          type: array
          items:
            type: object
            properties:
              id:
                description: ID of the form element. Answers refer to it as `form_element_id`.
                type: integer
              metadata:
                description: >-
                  The element's settings as the builder saved them, such as its label, options,
                  and `required` flag.
                type: object
                properties:
                  label:
                    description: The question or label shown to the respondent.
                    type: string
                  placeholder:
                    description: Placeholder text shown in an empty field.
                    type: string
                  required:
                    description: >-
                      Whether the respondent must answer. At checkout, the form can't be
                      submitted until every required field is answered, and the enrollment stays
                      incomplete until it is. **Respond to a form** doesn't check it.
                    type: boolean
                required:
                - label
                - placeholder
                - required
                additionalProperties: false
              position:
                description: Zero-based position of the element in the form.
                type: integer
              title:
                description: The element's label, its header text, or its type when it has neither.
                type: string
              type:
                description: >-
                  The element type, such as `short_text_entry` or `multiple_choice_entry`. See
                  the operation description for every type.
                type: string
            required:
            - id
            - metadata
            - position
            - title
            - type
            additionalProperties: false
        filters:
          description: The sort options for form elements.
          type: object
          properties:
            sorted_by:
              description: >-
                Sort options as `[label, value]` pairs. This endpoint always returns elements
                lowest position first.
              type: array
              items:
                type: array
                items:
                  type: string
          required:
          - sorted_by
          additionalProperties: false
        meta:
          description: Request metadata.
          "$ref": "#/components/schemas/Meta"
        pagination:
          description: Where this page sits in the full list.
          type: object
          properties:
            current_page:
              description: The page returned, starting at 1.
              type: integer
            per_page:
              description: The page size used for this response.
              type: integer
            total_count:
              description: Number of records across all pages.
              type: integer
            total_pages:
              description: Number of pages at the requested page size.
              type: integer
          required:
          - current_page
          - per_page
          - total_count
          - total_pages
          additionalProperties: false
      required:
      - data
      - filters
      - meta
      - pagination
      additionalProperties: false
tags:
- name: forms
  description: >-
    Build forms, choose where they appear, share or embed them with a public token, and read,
    export, and follow up on their responses.
- name: form-elements
  description: The fields and layout blocks that make up a form.
paths:
  "/api/forms":
    get:
      summary: List forms
      description: >-
        Lists your company's forms, newest first, with each form's type, status, countries,
        components, styles, and response count. This list is paginated by page number. Send
        `page` (default 1) and `per_page` (default 20); `pagination` in the response reports the
        current page, total pages, and total count. This operation declares no query parameters,
        but the server reads `page` and `per_page`.
      tags:
      - forms
      operationId: forms_v0_list_forms
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListFormsResponse200ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
    post:
      summary: Create a form
      description: >-
        Creates a form. Send the fields inside a `form` object; `title` is required. A new form
        is a `draft` unless you set `status`. Set `form_type` to `post_purchase` or `general`:
        `pre_purchase` is retired and returns 422. Send `form_components` to create the form's
        elements in the same request. Creating a form sends the `form_created` webhook event. A
        form created as `active` has no public token until you call **Generate a public token**.
      tags:
      - forms
      operationId: forms_v0_create_form
      security:
      - bearer_auth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
          minLength: 1
          maxLength: 255
          pattern: "\\S"
        description: Optional client-chosen key, 1 to 255 characters with at least one
          that is not whitespace; a blank key answers 422. A retry
          of the same request with the same key from the same company answers with
          the record the first request created instead of creating another, even
          when the first response was lost. The same key sent with a different
          request, or by a different user or credential, answers 422.
      responses:
        '200':
          description: Success, or the form an earlier request with the same Idempotency-Key created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateFormResponse200ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '422':
          description: Invalid form, a blank Idempotency-Key or one longer than 255 characters, or one already used with a different request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateFormRequestBodyApplicationJsonSchema"
  "/api/forms/statistics":
    get:
      summary: Get form statistics
      description: >-
        Returns response counts across all of your company's forms: how many forms there are,
        how many responses they have, how many are completed, and how many arrived today and
        yesterday (UTC).
      tags:
      - forms
      operationId: forms_v0_get_form_statistics
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: query
        required: true
        description: >-
          Not used by the server. The statistics always cover every form your company has,
          whatever value you send.
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetFormStatisticsResponse200ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
  "/api/forms/{form_id}/form_elements":
    get:
      summary: List form elements
      description: |-
        Lists the elements of one of your company's forms, lowest position first. The list includes elements that later edits deactivated, which keep their answers; the response doesn't mark which elements are active, so use `form_components` on the form for the current layout. Needs a company admin token. This list is paginated by page number. Send `page` (default 1) and `per_page` (default 20); `pagination` in the response reports the current page, total pages, and total count.

        Element types a form can contain, as stored in each component's `element_type`:

        - `short_text_entry`: a single line of text.
        - `long_text_entry`: a paragraph of text.
        - `number_entry`: a number. The builder's minimum and maximum digit settings (`min`, `max`) are saved with the element but are not enforced when the form is answered at checkout.
        - `multiple_choice_entry`: one choice from `multiple_choice_options`.
        - `yes_no_entry`: a yes or no answer from `yes_no_options`.
        - `checkbox`: a single checkbox.
        - `file_upload`: a file the respondent uploads. The answer is the file's URL.
        - `input`: a prebuilt identity field. Its `puck_type` names which one: `email`, `legal_name`, `full_name`, `phone_number`, `date_of_birth`, or `ssn`.
        - `header`, `information`, `section_label`, `helper_text`, `error_text`, `page_break`, and `button`: layout and text. They collect nothing.
        - `file_download`: a file the respondent can download. It collects nothing.

        Checkout also renders the older `text`, `date`, `number`, `email`, `legal_name`, `ssn`, and `date_of_birth` types. It skips any type it doesn't recognize.
      tags:
      - form-elements
      operationId: forms_v0_list_form_elements
      security:
      - bearer_auth: []
      parameters:
      - name: form_id
        in: path
        required: true
        description: ID of the form.
        schema:
          type: integer
      - name: page
        in: query
        required: false
        description: Page number, starting at 1. Defaults to 1.
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: Number of elements per page. Defaults to 20.
        schema:
          type: integer
      - name: filterrific
        in: query
        required: false
        description: >-
          Not applied by the server. Elements are always sorted by position, lowest first.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FormElementListResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
  "/api/forms/{form_id}/form_respondents/{id}":
    delete:
      operationId: forms_v0_forms_form_respondents_delete
      summary: Delete a form response
      description: >-
        Deletes one submission of a form: the respondent record and every answer in it. The
        contact or member who answered isn't deleted. Needs a company admin token with the forms
        update permission. Returns 404 when the form or the respondent isn't one of your
        company's.
      tags:
      - forms
      parameters:
      - name: form_id
        description: ID of the form.
        in: path
        required: true
        schema:
          type: string
      - name: id
        description: ID of the respondent record to delete, from **List form respondents**.
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FormRespondentDeleteResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/forms/{id}":
    put:
      summary: Update a form
      description: |-
        Changes a form. Send only the fields to change, inside a `form` object.

        - Set `form_type` to `post_purchase` to show the form after payment at enrollment checkout, or to `general` for a standalone form you share or embed. `pre_purchase` is retired and returns 422; an existing pre-purchase form stays editable as long as the request doesn't name that type.
        - Set `country_ids` to choose the countries the form is for. This replaces the current list.
        - Set `status` to `active` to publish the form. Activating a form gives it a public token if it has none and sends the `form_activated` webhook event.
        - Send `form_components` to change the form's elements.

        Every update sends the `form_updated` webhook event. Returns 404 when the form isn't one of your company's, and 422 when a value is invalid.
      tags:
      - forms
      operationId: forms_v0_update_form
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        description: ID of the form.
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateFormResponse200ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateFormRequestBodyApplicationJsonSchema"
    delete:
      summary: Delete a form
      description: >-
        Deletes a form together with its elements, respondents, answers, and country
        assignments. Returns 404 when the form isn't one of your company's.
      tags:
      - forms
      operationId: forms_v0_delete_form
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        description: ID of the form.
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateDamBackfillImagekitResponse401ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
  "/api/forms/{id}/analytics":
    get:
      operationId: forms_v0_forms_analytics_get
      summary: Get form analytics
      description: >-
        Returns one form's completion counts, its responses per month for the last two years,
        and the elements that collect answers. Returns 404 when the form isn't one of your
        company's.
      tags:
      - forms
      parameters:
      - name: id
        description: ID of the form.
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FormAnalyticsResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      security:
      - bearer_auth: []
  "/api/forms/{id}/duplicate":
    post:
      summary: Duplicate a form
      description: >-
        Copies a form. The copy is titled with ` Copy` added, keeps the type, status, styles,
        countries, and active elements, and starts with no responses, no public token, and no
        embed settings. A copy of an `active` post-purchase form is active too, so checkout
        shows it alongside the original. Copying a form with sensitive fields needs the forms
        manage-sensitive permission, otherwise it returns 422. Sends the `form_created` webhook
        event. Returns the copy itself, not wrapped in a `form` object.
      tags:
      - forms
      operationId: forms_v0_duplicate_form
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        description: ID of the form to copy.
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DuplicateFormResponse200ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/forms/{id}/embed_code":
    get:
      operationId: forms_v0_forms_embed_code_get
      summary: Get embed code
      description: >-
        Returns the share link, the embed link, and HTML snippets that put the hosted form on
        another website. The form needs a public token first: without one this returns 422 `Form
        has no public token. Generate one first.`
      tags:
      - forms
      parameters:
      - name: id
        description: ID of the form.
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FormEmbedCodeResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/forms/{id}/embed_settings":
    patch:
      operationId: forms_v0_forms_embed_settings_patch
      summary: Update embed settings
      description: |-
        Sets restrictions on the form's public share and embed links. Send them inside an `embed_settings` object; settings you leave out keep their values.

        - `allowed_domains`: array of domain names, such as `shop.example.com`, that may embed the form. A subdomain of a listed domain is allowed too. An empty array allows every site. Requests that carry no `Origin` or `Referer` header aren't restricted.
        - `password`: a password visitors must enter before they can see or submit the form. `remove_password: true` removes it.
        - `expires_at`: date and time after which the public form returns 410. `null` removes it.
        - `max_submissions`: stop accepting public submissions once the form has this many completed respondents. `null` or 0 removes the limit.
        - `require_contact`: when `true`, public submissions must include a contact email.

        Returns 422 for an invalid domain or date.
      tags:
      - forms
      parameters:
      - name: id
        description: ID of the form.
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FormEmbedSettingsResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/forms/{id}/export_csv":
    post:
      summary: Export form responses as CSV
      description: >-
        Builds a CSV file of a form's respondents and their answers and returns a download URL
        that expires after 12 hours. The export runs while you wait; nothing is emailed.
        Sensitive answers are unmasked only when you send `include_sensitive=true` and you either
        hold the forms view-sensitive permission or are a root admin or droplet token. Every other
        export, including a root admin's or droplet's export without `include_sensitive=true`,
        shows them as `********`, and an enrollee's name, email, and phone are blank on the same
        terms. A sensitive column keeps its header either way. Returns 404 when the form
        isn't one of your company's.
      tags:
      - forms
      operationId: forms_v0_export_form_respondents_csv
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        description: ID of the form.
        schema:
          type: integer
      - name: with_completion_status
        in: query
        required: false
        description: >-
          Export only respondents with this completion status: `not_started`, `in_progress`, or
          `completed`. Omit it to export every respondent.
        schema:
          type: string
      - name: include_sensitive
        in: query
        required: false
        description: Include answers the form builder marked sensitive. Required for every unmasked export, and honored only for callers holding the forms.view_sensitive permission, root admins, and droplet tokens. Every other export masks them.
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExportFormRespondentsCsvResponse200ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
  "/api/forms/{id}/generate_token":
    post:
      operationId: forms_v0_forms_generate_token_post
      summary: Generate a public token
      description: >-
        Gives the form a new public token, replacing any token it already had, so links built on
        the old token stop working. The token identifies the public form for the share and embed URLs in the
        response and the Fluid Public SDK API's token-addressed forms operations. The form must be
        `active`, and its embed settings still apply: a password, allowed domains, an expiry date,
        a submission limit, and required contact details. Works for any form type. Activating a form
        through **Update a form** also creates a token when the form has none.
      tags:
      - forms
      parameters:
      - name: id
        description: ID of the form.
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FormTokenResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      security:
      - bearer_auth: []
  "/api/forms/{id}/incomplete_enrollees":
    get:
      summary: List incomplete enrollees
      description: >-
        Lists the enrollees who still owe this post-purchase form: enrollments of your company
        that are still incomplete, whose cart country is one of the form's countries, and who
        haven't completed this form. An inactive form has none. Each row shows who a reminder
        would go to, when they were last reminded, and whether **Send manual enrollment
        reminders** would email them now. Manual reminders are turned on per company; without
        them this returns 404. Returns 422 for a form that isn't post-purchase. This list is
        paginated by page number. Send `page` (default 1) and `per_page` (default 50, at most
        100).
      tags:
      - forms
      operationId: forms_v0_list_incomplete_enrollees
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        description: ID of the post-purchase form.
        schema:
          type: integer
      - name: page
        in: query
        required: false
        description: Page number, starting at 1. Defaults to 1.
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: Number of enrollees per page, from 1 to 100. Defaults to 50.
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FormIncompleteEnrolleesResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Form not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Reminders are only available for post-purchase forms
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/forms/{id}/respond":
    post:
      summary: Respond to a form
      description: |-
        Saves one submission of a form and marks it `completed`. Who can call it:

        - A signed-in member of the form's company can answer any of the company's forms, including drafts. The answers are filed under their membership, and `contact` is ignored.
        - Anyone else can answer only an `active` form, and must send `contact` with an `email`. The answers are filed under a new contact of the form's company. Unauthenticated calls are deprecated and return a `Deprecation: true` header: collect public answers through the form's public token instead.

        Every `form_element_id` must belong to this form. This endpoint doesn't check required elements or the form's type and countries. A submission sends the `form_submitted` webhook event. Returns 404 when the form doesn't exist or the caller can't answer it.
      tags:
      - forms
      operationId: forms_v0_respond_to_form
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        description: ID of the form to answer.
        schema:
          type: integer
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/RespondToFormResponse201ApplicationJsonSchema"
        '400':
          description: Contact details are missing. A caller answering another
            company's form, or answering without signing in, must send `contact`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/RespondToFormRequestBodyApplicationJsonSchema"
  "/api/forms/{id}/respondents":
    get:
      summary: List form respondents
      description: >-
        Lists a form's respondents, newest first by default, each with their answers. Sensitive
        answers are `********`, and an enrollee's identity is `null`, unless the caller holds
        the forms view-sensitive permission, is a root admin, or uses a droplet token. This list is paginated by page number. Send `page`
        (default 1) and `per_page` (default 20); `pagination` in the response reports the
        current page, total pages, and total count. Sort with `filterrific[sorted_by]`:
        `created_at_desc`, `created_at_asc`, `updated_at_desc`, `updated_at_asc`,
        `alphabetical_asc`, or `alphabetical_desc`. Search names and emails with
        `filterrific[search_query]`. This operation declares no query parameters beyond `id`,
        but the server reads these. Returns 404 when the form isn't one of your company's.
      tags:
      - forms
      operationId: forms_v0_list_form_respondents
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        description: ID of the form.
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListFormRespondentsResponse200ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/forms/{id}/revoke_token":
    delete:
      operationId: forms_v0_forms_revoke_token_delete
      summary: Revoke the public token
      description: >-
        Removes the form's public token. The share link, the embed code, and the public
        token-addressed operations stop working for this form at once. Generate a new token to
        share the form again. The form's status doesn't change.
      tags:
      - forms
      parameters:
      - name: id
        description: ID of the form.
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FormEmbedSettingsResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      security:
      - bearer_auth: []
  "/api/forms/{id}/send_reminders":
    post:
      summary: Send manual enrollment reminders
      description: >-
        Emails a reminder to finish enrolling to this post-purchase form's eligible incomplete
        enrollees, the same people **List incomplete enrollees** marks `eligible`. The email
        links to the enrollee's checkout so they can complete the form. Each enrollee gets at
        most one manual reminder per 24 hours, counting automatic reminders too. A manual
        reminder delays the next automatic one rather than replacing it. Send `enrollment_ids`
        to remind only some enrollees. Emails are queued, not sent while you wait. Manual
        reminders are turned on per company; without them this returns 404. Returns 422 for a
        form that isn't post-purchase.
      tags:
      - forms
      operationId: forms_v0_send_form_reminders
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        description: ID of the post-purchase form.
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SendFormRemindersRequestBodyApplicationJsonSchema"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FormSendRemindersResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Form not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Reminders are only available for post-purchase forms
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/forms/{id}/send_mail":
    post:
      summary: Send a form by email
      description: >-
        Emails a link to the form to one address. The link is the form's share URL when it has a
        public token. The email is queued, not sent while you wait. Returns 422 `Failed to send
        email` when the company has the email turned off, and 404 when the form isn't one of
        your company's.
      tags:
      - forms
      operationId: forms_v0_send_form_via_email
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        description: ID of the form.
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateDamBackfillImagekitResponse401ApplicationJsonSchema"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SendFormViaEmailRequestBodyApplicationJsonSchema"
  "/api/forms/{id}/visualization":
    get:
      operationId: forms_v0_forms_visualization_get
      summary: Get answer breakdown
      description: >-
        Returns every answer to each of the form's active answerable elements, grouped by
        element, for charting how people answered. Sensitive answers are `********` unless the
        caller holds the forms view-sensitive permission, is a root admin, or uses a droplet token. Returns 404 when the form isn't one of
        your company's.
      tags:
      - forms
      parameters:
      - name: id
        description: ID of the form.
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FormVisualizationResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      security:
      - bearer_auth: []
