---
openapi: 3.1.0
info:
  title: Genealogy trees and recorded history
  version: 2026-10
  description: 'Company-owned tree definitions and recorded relationships. A node
    is one member''s seat in a tree; a placement records its parent during a half-open
    time interval. The node shows the current relationship, while the placement journal
    supports as-of reads. Member history is always restricted by current team scope.
    Moves take effect at server time: an immediate/no-op outcome returns 200, while
    an approval request or deferred job returns 202 with a receipt. Large previews
    return validation_incomplete until the full check runs in a worker; they do not
    authorize a write. HTTP move submission and approval require explicit company
    admission after migration checks. The examples use fixture identities, never usable
    authentication tokens. Outgoing webhook snapshots describe the recorded transition
    even if a receipt changes later.'
servers:
- url: https://api.fluid.app
  description: Fluid API
tags:
- name: Genealogy trees
  description: Configure the company tree registry and explicit ownership declarations.
- name: Genealogy history
  description: Read recorded relationships under current company or member authorization.
- name: Genealogy moves
  description: Preview and request current-time genealogy moves.
- name: Genealogy reads
  description: Read current relationships from existing company-owned nodes.
- name: Genealogy placement
  description: Place members in binary and matrix trees and manage their holding tank.
security:
- bearerAuth: []
paths:
  "/api/company/v2026-10/genealogy/trees":
    get:
      tags:
      - Genealogy trees
      summary: List tree definitions
      description: Company admin access is required. Writes require developer.update.
        Droplet installation tokens are not supported. This registry API does not
        place or move members. Default role trees cannot be removed or have their
        role cleared. The example uses illustrative fixture IDs. Substitute records
        visible to your authenticated company or member.
      operationId: listGenealogyTrees
      responses:
        '200':
          description: List tree definitions.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TreeList"
              examples:
                recorded:
                  summary: List tree definitions.
                  value:
                    trees:
                    - allow_multiple_positions: false
                      authority: unconfigured
                      created_at: '2026-09-10T03:03:10Z'
                      default_placement_rule: under_enroller
                      external_integration_market_id:
                      holding_tank_days: 0
                      id: 9b7310f6-6dac-5a77-9726-21c9fade457a
                      key: enrollment
                      kind: unilevel
                      leg_names: []
                      lock_version: 0
                      max_depth: 300
                      max_movement_levels: 0
                      movement_approval: immediate
                      movement_window_days: 0
                      name: Enrollment
                      owning_company_integration_id:
                      role: enrollment
                      updated_at: '2026-09-10T03:03:10Z'
                      upstream_tree_ref:
                      volume_key:
                      volume_on_move:
                    - allow_multiple_positions: false
                      authority: unconfigured
                      created_at: '2026-09-10T03:03:10Z'
                      default_placement_rule: mirror_enrollment
                      external_integration_market_id:
                      holding_tank_days: 0
                      id: 7096ad49-7117-53f6-8f7f-4805473d14c5
                      key: placement
                      kind: unilevel
                      leg_names: []
                      lock_version: 0
                      max_depth: 300
                      max_movement_levels: 0
                      movement_approval: immediate
                      movement_window_days: 0
                      name: Placement
                      owning_company_integration_id:
                      role: sponsor
                      updated_at: '2026-09-10T03:03:10Z'
                      upstream_tree_ref:
                      volume_key:
                      volume_on_move:
                    status: 200
                    meta:
                      request_uuid:
                      timestamp: '2026-09-10T03:03:17Z'
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '403':
          description: Company admin tier or developer permission is missing, or a
            droplet installation token was supplied.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
      x-codeSamples:
      - lang: Shell
        label: List tree definitions
        source: |-
          curl -X GET 'https://api.fluid.app/api/company/v2026-10/genealogy/trees' \
            -H 'Authorization: Bearer <company-token>'
    post:
      tags:
      - Genealogy trees
      summary: Add a tree definition
      description: Company admin access is required. Writes require developer.update.
        Droplet installation tokens are not supported. This registry API does not
        place or move members. Default role trees cannot be removed or have their
        role cleared. The example uses illustrative fixture IDs. Substitute records
        visible to your authenticated company or member.
      operationId: addGenealogyTree
      responses:
        '201':
          description: Add a tree definition.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TreeResponse"
              examples:
                recorded:
                  summary: Add a tree definition.
                  value:
                    tree:
                      allow_multiple_positions: false
                      authority: unconfigured
                      created_at: '2026-09-10T03:03:17Z'
                      default_placement_rule: exact
                      external_integration_market_id:
                      holding_tank_days: 0
                      id: 01a08945-0695-7e9b-80d5-76cd56d540e4
                      key: service-team
                      kind: unilevel
                      leg_names: []
                      lock_version: 0
                      max_depth: 300
                      max_movement_levels: 0
                      movement_approval: immediate
                      movement_window_days: 0
                      name: Service Team
                      owning_company_integration_id:
                      role:
                      updated_at: '2026-09-10T03:03:17Z'
                      upstream_tree_ref:
                      volume_key:
                      volume_on_move:
                    status: 201
                    meta:
                      request_uuid:
                      timestamp: '2026-09-10T03:03:17Z'
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '403':
          description: Company admin tier or developer permission is missing, or a
            droplet installation token was supplied.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '422':
          description: Invalid input or a required ownership, volume or role rule
            was violated.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '409':
          description: Tree key or role already exists, or the supplied version is
            stale.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
      requestBody:
        required: true
        description: Tree definition fields. Ownership must be declared explicitly
          on creation.
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateTree"
            example:
              tree:
                key: team
                name: Sales Team
                kind: unilevel
                authority: unconfigured
            examples:
              recorded:
                summary: Add a tree definition
                value:
                  tree:
                    key: service-team
                    name: Service Team
                    kind: unilevel
                    authority: unconfigured
      x-codeSamples:
      - lang: Shell
        label: Add a tree definition
        source: |-
          curl -X POST 'https://api.fluid.app/api/company/v2026-10/genealogy/trees' \
            -H 'Authorization: Bearer <company-token>' \
            -H 'Content-Type: application/json' \
            --data \{\"tree\":\{\"key\":\"service-team\",\"name\":\"Service\ Team\",\"kind\":\"unilevel\",\"authority\":\"unconfigured\"\}\}
  "/api/company/v2026-10/genealogy/trees/{id}":
    patch:
      tags:
      - Genealogy trees
      summary: Modify a tree definition
      description: Company admin access is required. Writes require developer.update.
        Droplet installation tokens are not supported. This registry API does not
        place or move members. Default role trees cannot be removed or have their
        role cleared. The example uses illustrative fixture IDs. Substitute records
        visible to your authenticated company or member.
      operationId: modifyGenealogyTree
      responses:
        '200':
          description: Modify a tree definition.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TreeResponse"
              examples:
                recorded:
                  summary: Modify a tree definition.
                  value:
                    tree:
                      allow_multiple_positions: false
                      authority: unconfigured
                      created_at: '2026-09-10T03:03:10Z'
                      default_placement_rule: under_enroller
                      external_integration_market_id:
                      holding_tank_days: 0
                      id: 9b7310f6-6dac-5a77-9726-21c9fade457a
                      key: enrollment
                      kind: unilevel
                      leg_names: []
                      lock_version: 2
                      max_depth: 300
                      max_movement_levels: 0
                      movement_approval: immediate
                      movement_window_days: 0
                      name: Enrollment
                      owning_company_integration_id:
                      role: enrollment
                      updated_at: '2026-09-10T03:03:17Z'
                      upstream_tree_ref:
                      volume_key:
                      volume_on_move:
                    status: 200
                    meta:
                      request_uuid:
                      timestamp: '2026-09-10T03:03:17Z'
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '403':
          description: Company admin tier or developer permission is missing, or a
            droplet installation token was supplied.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '422':
          description: Invalid input or a required ownership, volume or role rule
            was violated.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '409':
          description: Tree key or role already exists, the supplied version is stale,
            or the tree has nodes and the change is structural. Only the name of an
            occupied tree can change; details.type is tree_has_nodes.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '404':
          description: No tree with this identifier belongs to this company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
      requestBody:
        required: true
        description: Tree definition fields. Ownership must be declared explicitly
          on creation.
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateTree"
            example:
              tree:
                name: Sales Team
                lock_version: 0
            examples:
              recorded:
                summary: Modify a tree definition
                value:
                  tree:
                    lock_version: 1
                    allow_multiple_positions: false
                    volume_key:
      parameters:
      - in: path
        name: id
        required: true
        description: Identifier of a tree owned by the authenticated company.
        schema:
          type: string
          format: uuid
        example: 9b7310f6-6dac-5a77-9726-21c9fade457a
      x-codeSamples:
      - lang: Shell
        label: Modify a tree definition
        source: |-
          curl -X PATCH 'https://api.fluid.app/api/company/v2026-10/genealogy/trees/9b7310f6-6dac-5a77-9726-21c9fade457a' \
            -H 'Authorization: Bearer <company-token>' \
            -H 'Content-Type: application/json' \
            --data \{\"tree\":\{\"lock_version\":1,\"allow_multiple_positions\":false,\"volume_key\":null\}\}
    delete:
      tags:
      - Genealogy trees
      summary: Remove a custom tree definition
      description: Company admin access is required. Writes require developer.update.
        Droplet installation tokens are not supported. This registry API does not
        place or move members. Default role trees cannot be removed or have their
        role cleared. The example uses illustrative fixture IDs. Substitute records
        visible to your authenticated company or member.
      operationId: removeGenealogyTree
      responses:
        '204':
          description: Remove a custom tree definition.
        '401':
          description: Missing or invalid credentials.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '403':
          description: Company admin tier or developer permission is missing, or a
            droplet installation token was supplied.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: No tree with this identifier belongs to this company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '409':
          description: The supplied version is stale, or the tree still has nodes.
            Remove the tree's nodes first; details.type is tree_has_nodes.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: The required default role tree cannot be removed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
      parameters:
      - in: path
        name: id
        required: true
        description: Identifier of a tree owned by the authenticated company.
        schema:
          type: string
          format: uuid
        example: 9ccee984-60ae-5a87-9dcd-5a624e691f57
      - in: query
        name: lock_version
        required: true
        description: Version last read; prevents removing a definition changed by
          another request.
        schema:
          type: integer
          minimum: 0
        example: 1
      x-codeSamples:
      - lang: Shell
        label: Remove a custom tree definition
        source: |-
          curl -X DELETE 'https://api.fluid.app/api/company/v2026-10/genealogy/trees/9ccee984-60ae-5a87-9dcd-5a624e691f57?lock_version=1' \
            -H 'Authorization: Bearer <company-token>'
  "/api/company/v2026-10/genealogy/trees/{tree_id}/nodes":
    get:
      tags: [Genealogy reads]
      summary: Resolve a member's primary seat in a tree
      description: >-
        Company admin access and members.view aliases are required. member_id is
        mandatory in this initial lookup slice; omitting it does not scan the tree.
        Resolve only position zero for a kept member in the authenticated company.
        Missing trees, members, or seats return 404. Paging, expansion, historical,
        position, and body selectors are not accepted. No tree or seat is created.
      operationId: resolveCompanyGenealogyMemberNode
      parameters:
      - in: path
        name: tree_id
        required: true
        description: Existing tree UUID in the authenticated company.
        schema: {type: string, format: uuid}
      - in: query
        name: member_id
        required: true
        description: Kept member UUID whose primary seat is requested.
        schema: {type: string, format: uuid}
      responses:
        '200':
          description: The member's current primary node in this tree.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SeatLookupResponse"
              example:
                status: 200
                node:
                  id: 019e5b8a-4c10-7000-8000-000000000001
                  tree_id: 7096ad49-7117-53f6-8f7f-4805473d14c5
                  member_id: 019e5b8a-4c10-7000-8000-000000000002
                  parent_node_id: null
                  leg: null
                  position: 0
                  pinned: false
                meta: {request_uuid: null, timestamp: '2026-09-14T00:00:00Z'}
        '401':
          description: Credentials are missing or invalid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '403':
          description: Company read permission is required.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: The tree, member, or primary seat is unavailable in this company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: The lookup selectors are invalid or the read exceeded its deadline.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
    post:
      tags: [Genealogy placement]
      summary: Place a member in a binary or matrix tree
      description: >-
        Requires a persisted company admin identity and members.manage (or
        users.update); droplet tokens are not supported. The company must be
        enabled for legged trees (legged_trees_not_enabled otherwise), and the
        tree must be binary or matrix: unilevel trees, including the default
        enrollment and sponsor trees, are seated from enrollment and refuse this
        request with unsupported_tree_kind. Name the slot with parent_node_id
        and leg, or send a rule with the parent_node_id its search starts from:
        first_empty, left and right are supported; inside, outside and balanced
        fail with rule_not_confirmed, enroller_preference with
        preference_not_available, and weak_leg and strong_leg with
        volume_not_available. Rule searches never place below a discarded
        member's seat: first_empty skips it, and left or right stop above it
        (no_open_leg). The rule defer takes no parent and places the member in
        the tree's holding tank, returning the held seat with held_until. The
        placing admin is recorded on the placement. The example uses
        illustrative IDs.
      operationId: addCompanyGenealogyTreeNode
      parameters:
      - in: path
        name: tree_id
        required: true
        description: Binary or matrix tree UUID in the authenticated company.
        schema: {type: string, format: uuid}
        example: 7096ad49-7117-53f6-8f7f-4805473d14c5
      requestBody:
        required: true
        description: The member to place and either the slot or a placement rule.
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PlacementRequest"
            example:
              node:
                member_id: 019e5b8a-4c10-7000-8000-000000000002
                parent_node_id: 019e5b8a-4c10-7000-8000-000000000001
                rule: first_empty
                reason: New enrollment
      responses:
        '201':
          description: The member's new seat, placed or held in the holding tank.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PlacedNodeResponse"
              example:
                status: 201
                node:
                  id: 019e5b8a-4c10-7000-8000-000000000003
                  tree_id: 7096ad49-7117-53f6-8f7f-4805473d14c5
                  member_id: 019e5b8a-4c10-7000-8000-000000000002
                  parent_node_id: 019e5b8a-4c10-7000-8000-000000000001
                  leg: left
                  position: 0
                  pinned: false
                  held_until: null
                meta: {request_uuid: null, timestamp: '2026-09-29T00:00:00Z'}
        '401':
          description: Credentials are missing or invalid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '403':
          description: A company admin identity with member management permission is required.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: The tree, member or parent seat is unavailable in this company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '409':
          description: The member already has a seat at that position (already_placed),
            the leg is taken (leg_full), the parent is in the holding tank
            (parent_held), or concurrent placements took the resolved legs
            (placement_busy); retry after reading current state.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: Invalid parameters, a missing or unknown leg (leg_required,
            leg_unknown), a refused rule, a tree without a holding tank
            (holding_tank_disabled), no free leg within the depth limit
            (no_open_leg, max_depth_exceeded), a parent below a discarded member's
            seat (parent_member_discarded), or a tree or company that does not
            accept placements (unsupported_tree_kind, legged_trees_not_enabled,
            tree_unconfigured, tree_is_replica).
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
      x-codeSamples:
      - lang: Shell
        label: Place a member by the first empty leg
        source: |-
          curl -X POST 'https://api.fluid.app/api/company/v2026-10/genealogy/trees/7096ad49-7117-53f6-8f7f-4805473d14c5/nodes' \
            -H 'Authorization: Bearer <company-token>' \
            -H 'Content-Type: application/json' \
            --data \{\"node\":\{\"member_id\":\"019e5b8a-4c10-7000-8000-000000000002\",\"parent_node_id\":\"019e5b8a-4c10-7000-8000-000000000001\",\"rule\":\"first_empty\"\}\}
  "/api/company/v2026-10/genealogy/trees/{tree_id}/holding-tank":
    get:
      tags: [Genealogy placement]
      summary: List the seats waiting in a tree's holding tank
      description: >-
        Company admin access and members.view (or users.view) are required;
        droplet tokens are not supported. Returns seats placed with the rule
        defer that no one has placed yet, the soonest due first; seats of
        discarded members are not listed. Once held_until has passed, the expiry
        job, which runs every 15 minutes, places the seat with the tree's default
        rule below the tree's first placed root. It only does so when that
        default is first_empty, left or right and the tree has a placed root;
        otherwise, or when the placement is refused, the seat stays held until
        it is placed with the place endpoint. Reads use the primary database.
        The example uses illustrative IDs.
      operationId: listCompanyGenealogyHoldingTank
      parameters:
      - in: path
        name: tree_id
        required: true
        description: Tree UUID in the authenticated company.
        schema: {type: string, format: uuid}
        example: 7096ad49-7117-53f6-8f7f-4805473d14c5
      - in: query
        name: limit
        required: false
        description: Page size from 1 to 100; defaults to 25.
        schema: {type: integer, minimum: 1, maximum: 100}
        example: 25
      - in: query
        name: cursor
        required: false
        description: Opaque cursor from a previous page.
        schema: {type: string}
      responses:
        '200':
          description: One page of held seats with cursor metadata.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HoldingTankPage"
              example:
                status: 200
                nodes:
                - id: 019e5b8a-4c10-7000-8000-000000000004
                  tree_id: 7096ad49-7117-53f6-8f7f-4805473d14c5
                  member_id: 019e5b8a-4c10-7000-8000-000000000005
                  position: 0
                  held_until: '2026-10-06T00:00:00.000000Z'
                meta:
                  request_uuid: null
                  timestamp: '2026-09-29T00:00:00Z'
                  pagination: {cursor: null, limit: 25, prev_cursor: null, next_cursor: null}
        '401':
          description: Credentials are missing or invalid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '403':
          description: Company read permission is required.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: The tree is unavailable in this company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: Invalid paging parameters or a cursor this listing did not issue
            (invalid_cursor).
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
      x-codeSamples:
      - lang: Shell
        label: List the holding tank
        source: |-
          curl 'https://api.fluid.app/api/company/v2026-10/genealogy/trees/7096ad49-7117-53f6-8f7f-4805473d14c5/holding-tank?limit=25' \
            -H 'Authorization: Bearer <company-token>'
  "/api/company/v2026-10/genealogy/nodes/{id}":
    get:
      tags:
      - Genealogy history
      summary: Read recorded relationship for company access
      description: Company admin tier and members.view (or users.view) permission
        are required. Droplet tokens are not supported. Returns only recorded relationships;
        historical rank, volume and profile values are not inferred. Reads use the
        primary database. The example uses illustrative fixture IDs. Substitute records
        visible to your authenticated company or member.
        Omitting as_of also returns children_count, downline_count, and counts_as_of in the
        same database observation. Counts include retained structural seats belonging to
        discarded members, so they can exceed the visible page lists. Current subjects must
        have a kept member; missing or discarded subjects return 404. Explicit as_of reads
        omit counts; historical counts are not inferred. A current read can return 422
        lookup_too_large on timeout or counter_inconsistent for a negative complete balance.
      operationId: readCompanyGenealogyRelationship
      parameters:
      - name: id
        in: path
        required: true
        description: Node identifier in the authenticated company.
        schema:
          type: string
          format: uuid
        example: 01a08944-f0a6-7977-9ea8-6a9d8245340f
      - name: as_of
        in: query
        description: Read the placement containing this instant; omit for the current
          placement. Intervals include their start and exclude their end.
        schema:
          type: string
          format: date-time
        example: '2026-09-10T03:03:11.782708Z'
      responses:
        '200':
          description: Recorded relationship.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CurrentOrHistoricalRelationshipResponse"
              examples:
                recorded:
                  summary: Recorded relationship.
                  value:
                    node:
                      id: 01a08944-f0a6-7977-9ea8-6a9d8245340f
                      effective_at: '2026-09-10T03:03:11.782708Z'
                      ended_at: '2026-09-10T03:03:12.000000Z'
                      leg:
                      member_id: d96dec6b-07b3-5c76-bf43-5d9fedf54914
                      parent_node_id: 01a08944-f09e-75ca-a913-0bfab6c7bd9d
                      tree_id: 7096ad49-7117-53f6-8f7f-4805473d14c5
                    status: 200
                    meta:
                      request_uuid:
                      timestamp: '2026-09-10T03:03:12Z'
                current:
                  summary: Current relationship with retained structural seat counts.
                  value:
                    node:
                      id: 01a08944-f0a6-7977-9ea8-6a9d8245340f
                      tree_id: 7096ad49-7117-53f6-8f7f-4805473d14c5
                      member_id: d96dec6b-07b3-5c76-bf43-5d9fedf54914
                      parent_node_id: null
                      leg: null
                      effective_at: '2026-09-15T00:00:00Z'
                      ended_at: null
                      children_count: 1
                      downline_count: 2
                      counts_as_of: '2026-09-15T00:01:00Z'
                    status: 200
                    meta:
                      request_uuid: null
                      timestamp: '2026-09-15T00:01:00Z'
        '401':
          description: Missing or invalid current credentials.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: Node or placement unavailable in the current read scope.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: Invalid selectors, lookup_too_large when a current read times out,
            or counter_inconsistent when a complete structural balance is negative.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '403':
          description: Company tier or read permission is missing, or a droplet token
            was supplied.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
      x-codeSamples:
      - lang: Shell
        label: Read recorded relationship for company access
        source: |-
          curl -X GET 'https://api.fluid.app/api/company/v2026-10/genealogy/nodes/01a08944-f0a6-7977-9ea8-6a9d8245340f?as_of=2026-09-10T03%3A03%3A11.782708Z' \
            -H 'Authorization: Bearer <company-token>'
  "/api/company/v2026-10/genealogy/nodes/{id}/ancestors":
    get:
      tags: [Genealogy reads]
      summary: Page the ancestor chain root first
      description: >-
        Requires company admin access and members.view under the existing permission aliases.
        Returns the visible chain from the component root down to the subject's parent, excluding
        the subject, ordered root first. A root succeeds with an empty chain. Ancestors order by
        parent-pointer distance and remain available for any tree kind because they do not read
        leg ordering; leg-valued child/sibling pages carry their own unilevel admission. Only
        cursor, limit, and as_of query parameters are accepted; body, history, filters, and other
        selectors are refused. limit defaults to 100 and caps pages at 1,000; a cursor requires limit. Cursors
        bind company, tree, anchor, operation, member scope, and timestamp. as_of reads recorded
        placements whose validity contains the timestamp; an explicit as_of omits current counts.
        Missing or discarded subjects and timestamps with no recorded chain return 404; invalid
        ancestry, malformed cursors, and read-deadline failures return 422. This endpoint does not
        activate or populate a tree.
      operationId: readCompanyGenealogyAncestorsPage
      parameters:
      - in: path
        name: id
        required: true
        description: Existing node UUID in the authenticated company.
        schema:
          type: string
          format: uuid
      - in: query
        name: cursor
        description: Opaque forward cursor returned by this same lookup; requires limit.
        schema:
          type: string
          minLength: 1
      - in: query
        name: limit
        description: Maximum ancestors in this page; may change between pages.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
      - in: query
        name: as_of
        description: Read recorded placements containing this instant; omit for current state. Intervals include their start and exclude their end.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Ordered ancestors root first and forward pagination metadata; an empty chain succeeds.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AncestorPageResponse"
              example:
                status: 200
                nodes: []
                meta:
                  request_uuid: null
                  timestamp: '2026-09-16T00:00:00Z'
                  pagination:
                    cursor: null
                    next_cursor: null
                    limit: 100
                    ordering: distance_desc
        '401':
          description: Credentials are missing or invalid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '403':
          description: Company member-read permission is required.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: The subject is unavailable, including malformed IDs, or no recorded chain exists; error.details.type is record_missing or placement_missing.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: error.details.type identifies unsupported_selectors, invalid_cursor, invalid_ancestry, or lookup_too_large.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/api/company/v2026-10/genealogy/nodes/{id}/parent":
    get:
      tags:
      - Genealogy reads
      summary: Read the current parent node
      description: >-
        Requires company admin access and members.view under the existing permission aliases.
        Reads current primary-database node state without changing trees or legacy axes.
        Only an as_of timestamp is accepted in the query string; body, period_id, expansion,
        and paging selectors remain unsupported. Without as_of the response is current state.
        A root has a null parent. Missing or discarded subjects and timestamps with no
        recorded placement return 404; invalid or disconnected ancestry and read-deadline
        failures return 422.
        These operations do not depend on the move-admission allowlist.
      operationId: readCompanyGenealogyCurrentParent
      parameters:
      - in: path
        name: id
        required: true
        description: Existing node UUID in the authenticated company.
        schema:
          type: string
          format: uuid
      - in: query
        name: as_of
        description: Read recorded placements containing this instant; omit for current state. Intervals include their start and exclude their end.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Current parent projection; parent is null when the subject is a root.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CurrentNodeResponse"
              example:
                status: 200
                node:
                  id: 019e5b8a-4c10-7000-8000-000000000001
                  tree_id: 7096ad49-7117-53f6-8f7f-4805473d14c5
                  member_id: 019e5b8a-4c10-7000-8000-000000000002
                  parent_node_id: null
                  leg: null
                  position: 0
                  pinned: false
                meta:
                  request_uuid: null
                  timestamp: '2026-09-14T00:00:00Z'
        '401':
          description: Credentials are missing or invalid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '403':
          description: The identity or token lacks company read access.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: The subject is unavailable, including malformed IDs; error.details.type is record_missing or placement_missing.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: error.details.type identifies unsupported_selectors, invalid_ancestry, or lookup_too_large.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/api/company/v2026-10/genealogy/nodes/{id}/root":
    get:
      tags:
      - Genealogy reads
      summary: Read the current root node
      description: >-
        Requires company admin access and members.view under the existing permission aliases.
        Reads current primary-database node state without changing trees or legacy axes.
        Only an as_of timestamp is accepted in the query string; body, period_id, expansion,
        and paging selectors remain unsupported. Without as_of the response is current state.
        A root has a null parent. Missing or discarded subjects and timestamps with no
        recorded placement return 404; invalid or disconnected ancestry and read-deadline
        failures return 422.
        These operations do not depend on the move-admission allowlist.
      operationId: readCompanyGenealogyCurrentRoot
      parameters:
      - in: path
        name: id
        required: true
        description: Existing node UUID in the authenticated company.
        schema:
          type: string
          format: uuid
      - in: query
        name: as_of
        description: Read recorded placements containing this instant; omit for current state. Intervals include their start and exclude their end.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Current non-null component-root projection.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CurrentRootResponse"
              example:
                status: 200
                node:
                  id: 019e5b8a-4c10-7000-8000-000000000001
                  tree_id: 7096ad49-7117-53f6-8f7f-4805473d14c5
                  member_id: 019e5b8a-4c10-7000-8000-000000000002
                  parent_node_id: null
                  leg: null
                  position: 0
                  pinned: false
                meta:
                  request_uuid: null
                  timestamp: '2026-09-14T00:00:00Z'
        '401':
          description: Credentials are missing or invalid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '403':
          description: The identity or token lacks company read access.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: The subject is unavailable, including malformed IDs; error.details.type is record_missing or placement_missing.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: error.details.type identifies unsupported_selectors, invalid_ancestry, or lookup_too_large.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/api/company/v2026-10/genealogy/nodes/{id}/sponsor":
    get:
      tags:
      - Genealogy reads
      summary: Read the current sponsor role parent
      description: >-
        Resolve the source node's member into the company tree with role sponsor, then read
        the primary seat's current parent. Company admin access and members.view aliases
        are required. A missing role or seat returns 404, while a valid role root returns
        a null node. No query/body selectors or member cross-tree browsing are supported.
        This endpoint reads new tree roles and does not change legacy sponsor_id meaning
        or rewrite member parent columns. Invalid ancestry and read timeouts return 422.
      operationId: readCompanyGenealogySponsor
      parameters:
      - in: path
        name: id
        required: true
        description: Existing node UUID in the authenticated company.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Current parent projection; parent is null when the subject is a root.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CurrentNodeResponse"
              example:
                status: 200
                node:
                  id: 019e5b8a-4c10-7000-8000-000000000001
                  tree_id: 7096ad49-7117-53f6-8f7f-4805473d14c5
                  member_id: 019e5b8a-4c10-7000-8000-000000000002
                  parent_node_id: null
                  leg: null
                  position: 0
                  pinned: false
                meta:
                  request_uuid: null
                  timestamp: '2026-09-14T00:00:00Z'
        '401':
          description: Credentials are missing or invalid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '403':
          description: The identity or token lacks company read access.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: The subject is not available in this company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: Selectors are unsupported, ancestry is incomplete, or the read exceeds its deadline.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/api/company/v2026-10/genealogy/nodes/{id}/enroller":
    get:
      tags:
      - Genealogy reads
      summary: Read the current enroller role parent
      description: >-
        Resolve the source node's member into the company tree with role enrollment, then read
        the primary seat's current parent. Company admin access and members.view aliases
        are required. A missing role or seat returns 404, while a valid role root returns
        a null node. No query/body selectors or member cross-tree browsing are supported.
        This endpoint reads new tree roles and does not change legacy sponsor_id meaning
        or rewrite member parent columns. Invalid ancestry and read timeouts return 422.
      operationId: readCompanyGenealogyEnroller
      parameters:
      - in: path
        name: id
        required: true
        description: Existing node UUID in the authenticated company.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Current parent projection; parent is null when the subject is a root.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CurrentNodeResponse"
              example:
                status: 200
                node:
                  id: 019e5b8a-4c10-7000-8000-000000000001
                  tree_id: 9b7310f6-6dac-5a77-9726-21c9fade457a
                  member_id: 019e5b8a-4c10-7000-8000-000000000002
                  parent_node_id: null
                  leg: null
                  position: 0
                  pinned: false
                meta:
                  request_uuid: null
                  timestamp: '2026-09-14T00:00:00Z'
        '401':
          description: Credentials are missing or invalid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '403':
          description: The identity or token lacks company read access.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: The subject is not available in this company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: Selectors are unsupported, ancestry is incomplete, or the read exceeds its deadline.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/api/company/v2026-10/genealogy/nodes/{id}/relation":
    get:
      tags: [Genealogy reads]
      summary: Answer a current two-node relation
      description: >-
        Requires company admin access and members.view aliases. Both nodes must be visible
        in the same company and tree. Unavailable nodes return 404 rather than false.
        Strict ancestry excludes self; subtree membership includes self. root_of includes
        the root itself. sibling_of follows the common-parent convention, including self
        and separate roots; sibling set reads separately exclude self. Historical, paging,
        expansion, and body selectors are not accepted. Reads do not require move admission.
      operationId: readCompanyGenealogyRelation
      parameters:
      - in: path
        name: id
        required: true
        description: Left-hand node UUID in the authenticated company.
        schema: {type: string, format: uuid}
      - in: query
        name: other
        required: true
        description: Right-hand node UUID in the same tree. For within_downline, this is the root.
        schema: {type: string, format: uuid}
      - in: query
        name: kind
        required: true
        description: Directional relation from the path node to other.
        schema:
          type: string
          enum: [ancestor_of, descendant_of, parent_of, child_of, sibling_of, root_of, indirect_of, in_subtree_of, within_downline]
      responses:
        '200':
          description: The Boolean answer for two available nodes.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/RelationResponse"
              example:
                status: 200
                relation: {kind: ancestor_of, answer: true}
                meta: {request_uuid: null, timestamp: '2026-09-14T00:00:00Z'}
        '401':
          description: Credentials are missing or invalid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '403':
          description: Company read permission is required.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: One or both nodes are unavailable in this company and tree.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: The selector or ancestry is invalid, or the read exceeded its deadline.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/api/company/v2026-10/genealogy/nodes/{id}/placements":
    get:
      tags:
      - Genealogy history
      summary: List recorded placements for company access
      description: Company admin tier and members.view (or users.view) permission
        are required. Droplet tokens are not supported. Returns only recorded relationships;
        historical rank, volume and profile values are not inferred. Reads use the
        primary database. The example uses illustrative fixture IDs. Substitute records
        visible to your authenticated company or member.
      operationId: listCompanyGenealogyPlacements
      parameters:
      - name: id
        in: path
        required: true
        description: Node identifier in the authenticated company.
        schema:
          type: string
          format: uuid
        example: 01a08944-f0a6-7977-9ea8-6a9d8245340f
      - name: limit
        in: query
        description: Maximum rows in one newest-first page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
        example: 1
      - name: cursor
        in: query
        description: Opaque cursor returned by a previous history page.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Recorded placements.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PlacementList"
              examples:
                recorded:
                  summary: Recorded placements.
                  value:
                    placements:
                    - id: 01a08944-f0b2-7178-a6e3-5e5a7eb507da
                      actor_id: c29f580e-15c2-5fe1-afd2-398a3340e5e0
                      actor_type: Company::Admin
                      effective_at: '2026-09-10T03:03:12.000000Z'
                      ended_at:
                      leg:
                      member_id: d96dec6b-07b3-5c76-bf43-5d9fedf54914
                      node_id: 01a08944-f0a6-7977-9ea8-6a9d8245340f
                      parent_node_id: 01a08944-f0a2-765d-9694-357fa81bc7be
                      reason: Correction
                      request_id:
                      source: admin
                      tree_id: 7096ad49-7117-53f6-8f7f-4805473d14c5
                    status: 200
                    meta:
                      request_uuid:
                      timestamp: '2026-09-10T03:03:12Z'
                      pagination:
                        cursor:
                        limit: 1
                        prev_cursor:
                        next_cursor: eyJmIjp7ImdlbmVhbG9neV9wbGFjZW1lbnRfaGlzdG9yaWVzLmVmZmVjdGl2ZV9hdCI6IjIwMjYtMDktMTBUMDM6MDM6MTIuMDAwMDAwWiIsImdlbmVhbG9neV9wbGFjZW1lbnRfaGlzdG9yaWVzLmlkIjoiMDFhMDg5NDQtZjBiMi03MTc4LWE2ZTMtNWU1YTdlYjUwN2RhIn0sImQiOiJuZXh0IiwiYyI6MTc4OTAwOTM5MiwiY3MiOiI4NDY1NjFhNmNkZDg1OTM0MDI1ZDZhODBmNjA0NTg3MSIsIm9zIjoiMTBhZDcyNTI4ZmFlYTNjNzYxNzVmZmVjMzM1YzdlODQiLCJxcyI6IjVkZWZiYjM0MzVhYWU1MzIxNmU1ZDhjZmY0ODM2NDk4In0=
        '401':
          description: Missing or invalid current credentials.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: Node or placement unavailable in the current read scope.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: Invalid timestamp, cursor, page limit or unsupported member
            selector.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '403':
          description: Company tier or read permission is missing, or a droplet token
            was supplied.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
      x-codeSamples:
      - lang: Shell
        label: List recorded placements for company access
        source: |-
          curl -X GET 'https://api.fluid.app/api/company/v2026-10/genealogy/nodes/01a08944-f0a6-7977-9ea8-6a9d8245340f/placements?limit=1' \
            -H 'Authorization: Bearer <company-token>'
  "/api/member/v2026-10/team/{id}":
    get:
      tags:
      - Genealogy history
      summary: Read recorded relationship for member access
      description: Requires a current member identity from a member/customer JWT or
        legacy user token. Company service tokens are rejected. Any current member
        type may read their own seat and current downline. Historical access follows
        today's scope; parent identities outside it are clipped to null. Member selectors
        are not supported. Returns only recorded relationships; historical rank, volume
        and profile values are not inferred. Reads use the primary database. The example
        uses illustrative fixture IDs. Substitute records visible to your authenticated
        company or member.
        Omitting as_of also returns children_count, downline_count, and counts_as_of in the
        same database observation. Counts include retained structural seats belonging to
        discarded members, so they can exceed the visible page lists. Current subjects must
        have a kept member; missing or discarded subjects return 404. Explicit as_of reads
        omit counts; historical counts are not inferred. A current read can return 422
        lookup_too_large on timeout or counter_inconsistent for a negative complete balance.
      operationId: readMemberGenealogyRelationship
      security:
      - memberBearer: []
      parameters:
      - name: id
        in: path
        required: true
        description: Node identifier in the authenticated company.
        schema:
          type: string
          format: uuid
        example: 01a08944-eff4-7a2a-be01-d699fa649966
      - name: as_of
        in: query
        description: Read the placement containing this instant; omit for the current
          placement. Intervals include their start and exclude their end.
        schema:
          type: string
          format: date-time
        example: '2026-09-09T18:58:16Z'
      responses:
        '200':
          description: Recorded relationship.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CurrentOrHistoricalRelationshipResponse"
              examples:
                recorded:
                  summary: Recorded relationship.
                  value:
                    node:
                      id: 01a08944-eff4-7a2a-be01-d699fa649966
                      effective_at: '2026-09-10T03:03:11.604825Z'
                      ended_at:
                      leg:
                      member_id: 423f3c52-5440-5955-8e53-e2050d0b86b6
                      parent_node_id: 01a08944-efec-7d23-8788-2eac746be4a8
                      tree_id: 7096ad49-7117-53f6-8f7f-4805473d14c5
                    status: 200
                    meta:
                      request_uuid:
                      timestamp: '2026-09-10T03:03:11Z'
                current:
                  summary: Current relationship with retained structural seat counts.
                  value:
                    node:
                      id: 01a08944-f0a6-7977-9ea8-6a9d8245340f
                      tree_id: 7096ad49-7117-53f6-8f7f-4805473d14c5
                      member_id: d96dec6b-07b3-5c76-bf43-5d9fedf54914
                      parent_node_id: null
                      leg: null
                      effective_at: '2026-09-15T00:00:00Z'
                      ended_at: null
                      children_count: 1
                      downline_count: 2
                      counts_as_of: '2026-09-15T00:01:00Z'
                    status: 200
                    meta:
                      request_uuid: null
                      timestamp: '2026-09-15T00:01:00Z'
        '401':
          description: Missing or invalid current credentials.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: Node or placement unavailable in the current read scope.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: Invalid selectors, lookup_too_large when a current read times out,
            or counter_inconsistent when a complete structural balance is negative.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
      x-codeSamples:
      - lang: Shell
        label: Read recorded relationship for member access
        source: |-
          curl -X GET 'https://api.fluid.app/api/member/v2026-10/team/01a08944-eff4-7a2a-be01-d699fa649966' \
            -H 'Authorization: Bearer <member-token>'
  "/api/member/v2026-10/team/{id}/placements":
    get:
      tags:
      - Genealogy history
      summary: List recorded placements for member access
      description: Requires a current member identity from a member/customer JWT or
        legacy user token. Company service tokens are rejected. Any current member
        type may read their own seat and current downline. Historical access follows
        today's scope; parent identities outside it are clipped to null. Member selectors
        are not supported. Returns only recorded relationships; historical rank, volume
        and profile values are not inferred. Reads use the primary database. The example
        uses illustrative fixture IDs. Substitute records visible to your authenticated
        company or member.
      operationId: listMemberGenealogyPlacements
      security:
      - memberBearer: []
      parameters:
      - name: id
        in: path
        required: true
        description: Node identifier in the authenticated company.
        schema:
          type: string
          format: uuid
        example: 01a08944-eff4-7a2a-be01-d699fa649966
      - name: limit
        in: query
        description: Maximum rows in one newest-first page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
        example: 25
      - name: cursor
        in: query
        description: Opaque cursor returned by a previous history page.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Recorded placements.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PlacementList"
              examples:
                recorded:
                  summary: Recorded placements.
                  value:
                    placements:
                    - id: 01a08944-eff5-7d3e-8f3e-7886e974a14a
                      actor_id:
                      actor_type:
                      effective_at: '2026-09-10T03:03:11.604825Z'
                      ended_at:
                      leg:
                      member_id: 423f3c52-5440-5955-8e53-e2050d0b86b6
                      node_id: 01a08944-eff4-7a2a-be01-d699fa649966
                      parent_node_id: 01a08944-efec-7d23-8788-2eac746be4a8
                      reason:
                      request_id:
                      source: admin
                      tree_id: 7096ad49-7117-53f6-8f7f-4805473d14c5
                    status: 200
                    meta:
                      request_uuid:
                      timestamp: '2026-09-10T03:03:11Z'
                      pagination:
                        cursor:
                        limit: 25
                        prev_cursor:
                        next_cursor:
        '401':
          description: Missing or invalid current credentials.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: Node or placement unavailable in the current read scope.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: Invalid timestamp, cursor, page limit or unsupported member
            selector.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
      x-codeSamples:
      - lang: Shell
        label: List recorded placements for member access
        source: |-
          curl -X GET 'https://api.fluid.app/api/member/v2026-10/team/01a08944-eff4-7a2a-be01-d699fa649966/placements' \
            -H 'Authorization: Bearer <member-token>'
  "/api/company/v2026-10/genealogy/nodes/{id}/place":
    post:
      tags: [Genealogy placement]
      summary: Place a seat waiting in the holding tank
      description: >-
        Requires a persisted company admin identity and members.manage (or
        users.update); droplet tokens are not supported. Places a held seat
        with the same slot or rule choices as placing a member, except defer.
        This writes the seat's first placement, with the placing admin, and its
        counts. A seat that is no longer held returns 409 seat_not_held. The
        example uses illustrative IDs.
      operationId: placeCompanyGenealogyHeldSeat
      parameters:
      - in: path
        name: id
        required: true
        description: Held seat UUID in the authenticated company.
        schema: {type: string, format: uuid}
        example: 019e5b8a-4c10-7000-8000-000000000004
      requestBody:
        required: true
        description: Either the slot or a placement rule with the seat its search starts from.
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/HeldPlacementRequest"
            example:
              placement:
                parent_node_id: 019e5b8a-4c10-7000-8000-000000000001
                leg: right
      responses:
        '200':
          description: The seat, now placed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PlacedNodeResponse"
              example:
                status: 200
                node:
                  id: 019e5b8a-4c10-7000-8000-000000000004
                  tree_id: 7096ad49-7117-53f6-8f7f-4805473d14c5
                  member_id: 019e5b8a-4c10-7000-8000-000000000005
                  parent_node_id: 019e5b8a-4c10-7000-8000-000000000001
                  leg: right
                  position: 0
                  pinned: false
                  held_until: null
                meta: {request_uuid: null, timestamp: '2026-09-29T00:00:00Z'}
        '401':
          description: Credentials are missing or invalid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '403':
          description: A company admin identity with member management permission is required.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: The seat or parent is unavailable in this company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '409':
          description: The seat is no longer held (seat_not_held), the leg is taken
            (leg_full), the parent is held (parent_held), or concurrent placements
            took the resolved legs (placement_busy).
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: Invalid parameters, a missing or unknown leg, a refused rule, no
            free leg within the depth limit, a parent below a discarded member's
            seat (parent_member_discarded), or a company not enabled for legged trees.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
      x-codeSamples:
      - lang: Shell
        label: Place a held seat on a leg
        source: |-
          curl -X POST 'https://api.fluid.app/api/company/v2026-10/genealogy/nodes/019e5b8a-4c10-7000-8000-000000000004/place' \
            -H 'Authorization: Bearer <company-token>' \
            -H 'Content-Type: application/json' \
            --data \{\"placement\":\{\"parent_node_id\":\"019e5b8a-4c10-7000-8000-000000000001\",\"leg\":\"right\"\}\}
  "/api/company/v2026-10/genealogy/nodes/{id}/move":
    post:
      tags:
      - Genealogy moves
      summary: Request a company genealogy move
      description: Requires a persisted company admin identity and members.manage
        (or users.update). Service tokens cannot provide an audited human move actor.
        HTTP move admission is disabled unless the company is explicitly included
        in GENEALOGY_MOVE_COMPANY_IDS after migration prerequisites are satisfied.
        Return 200 only when applied or unchanged, and 202 with a human approval request
        or durable full-validation job. Clients cannot request unbounded synchronous
        execution. No legacy sponsor-axis value is changed by this endpoint. The example
        uses illustrative fixture IDs. Substitute records visible to your authenticated
        company or member.
      operationId: requestCompanyGenealogyMove
      parameters:
      - name: id
        in: path
        required: true
        description: Moving node identifier in the authenticated company and permitted
          team.
        schema:
          type: string
          format: uuid
        example: 01a08945-0cb7-7748-b66d-358cdca923b6
      - name: Idempotency-Key
        in: header
        required: false
        description: Optional client key that makes the request safe to retry. The
          first request with a key is evaluated and its outcome recorded; a retry
          with the same key and the same proposal replays that outcome, with the
          resource's current state, instead of moving again. The same key with a
          different proposal is refused with 409 idempotency_key_reused. Keys are
          scoped to the authenticated actor and tree; failed requests record nothing.
          While moves are paused for the company the request returns 503 without
          reading or recording the key, so retry it later with the same key.
          A recorded outcome is kept for at least 24 hours and then removed by an
          hourly cleanup; until it is removed the same key still replays it, and
          only after removal is the key evaluated as a new request. Retry within
          24 hours to be sure of a replay.
        schema:
          type: string
          minLength: 1
          maxLength: 255
          pattern: "^[!-~]+$"
        example: 3f1e8c0a-2b7d-4c1e-9a55-6e2f0b7d1c42
      requestBody:
        required: true
        description: An explicit unilevel move proposal. Actor and source are derived
          from authentication.
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MoveProposal"
            example:
              move:
                parent_node_id: '019f0100-0000-7000-8000-000000000002'
                reason: Correct the team placement
            examples:
              recorded:
                summary: Request a company genealogy move
                value:
                  move:
                    parent_node_id: 01a08945-0cbc-774c-a046-d7be609c4829
      responses:
        '200':
          description: Applied or authorized unchanged move.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MovementResponse"
              examples:
                recorded:
                  summary: Applied or authorized unchanged move.
                  value:
                    changed: true
                    deferred: false
                    move_job:
                    move_request:
                    placement:
                      id: 01a08945-19bf-7564-977d-0d6f096a50c7
                      actor_id: f56c40c0-2a36-5d68-93f6-cad8bb0e4244
                      actor_type: Company::Admin
                      effective_at: '2026-09-10T03:03:22.301668Z'
                      ended_at:
                      leg:
                      member_id: 423f3c52-5440-5955-8e53-e2050d0b86b6
                      node_id: 01a08945-198e-764a-83a7-ecfdbc3afffb
                      parent_node_id: 01a08945-1995-74ba-840d-797584cfe407
                      reason: Correction
                      request_id:
                      source: admin
                      tree_id: 7096ad49-7117-53f6-8f7f-4805473d14c5
                    queued: false
                    status: 200
                    meta:
                      request_uuid:
                      timestamp: '2026-09-10T03:03:22Z'
        '401':
          description: Missing or invalid member or admin credentials.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: Node or destination unavailable in the current company/team
            scope.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: Malformed proposal, malformed Idempotency-Key, or current validation
            violations.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '403':
          description: Current company admin identity or movement permission is missing.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '202':
          description: Accepted for human approval or deferred full validation.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MovementResponse"
              examples:
                recorded:
                  summary: Accepted for human approval or deferred full validation.
                  value:
                    changed: false
                    deferred: true
                    move_job:
                      id: 01a08945-1936-7cc5-97c0-f5f3a8a5db10
                      approval_request_id:
                      attempts: 0
                      created_at: '2026-09-10T03:03:22.166538Z'
                      failure_details: {}
                      failure_type:
                      finished_at:
                      leg:
                      node_id: 01a08945-0cb7-7748-b66d-358cdca923b6
                      parent_node_id: 01a08945-0cbc-774c-a046-d7be609c4829
                      placement_id:
                      reason:
                      requested_by_id: f56c40c0-2a36-5d68-93f6-cad8bb0e4244
                      requested_by_type: Company::Admin
                      started_at:
                      status: pending
                      tree_id: 7096ad49-7117-53f6-8f7f-4805473d14c5
                    move_request:
                    placement:
                    queued: false
                    status: 202
                    meta:
                      request_uuid:
                      timestamp: '2026-09-10T03:03:22Z'
        '409':
          description: Concurrent placement, bounded lock contention, or a database deadlock;
            retry after reading current state. Also returned with type idempotency_key_reused
            when the Idempotency-Key was already used for a different proposal.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '503':
          description: Move admission has not been enabled for this company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
      x-codeSamples:
      - lang: Shell
        label: Request a company genealogy move
        source: |-
          curl -X POST 'https://api.fluid.app/api/company/v2026-10/genealogy/nodes/01a08945-0cb7-7748-b66d-358cdca923b6/move' \
            -H 'Authorization: Bearer <company-token>' \
            -H 'Content-Type: application/json' \
            --data \{\"move\":\{\"parent_node_id\":\"01a08945-0cbc-774c-a046-d7be609c4829\"\}\}
  "/api/company/v2026-10/genealogy/nodes/{id}/move/validate":
    post:
      tags:
      - Genealogy moves
      summary: Preview a company genealogy move
      description: Requires a persisted company admin identity and members.manage
        (or users.update). Service tokens cannot provide an audited human move actor.
        Previews do not write or enqueue work. Incomplete previews return validation_incomplete
        among the violations; submit a move to request deferred validation. The example
        uses illustrative fixture IDs. Substitute records visible to your authenticated
        company or member.
      operationId: validateCompanyGenealogyMove
      parameters:
      - name: id
        in: path
        required: true
        description: Moving node identifier in the authenticated company and permitted
          team.
        schema:
          type: string
          format: uuid
        example: 01a08945-198e-764a-83a7-ecfdbc3afffb
      requestBody:
        required: true
        description: An explicit unilevel move proposal. Actor and source are derived
          from authentication.
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MoveProposal"
            example:
              move:
                parent_node_id: '019f0100-0000-7000-8000-000000000002'
                reason: Correct the team placement
            examples:
              recorded:
                summary: Preview a company genealogy move
                value:
                  move:
                    parent_node_id: 01a08945-1995-74ba-840d-797584cfe407
                    reason: Correction
      responses:
        '200':
          description: Completed preview.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MoveValidationResponse"
              examples:
                recorded:
                  summary: Completed preview.
                  value:
                    validation:
                      valid: true
                      approval_required: false
                      deferred: false
                      violations: []
                    status: 200
                    meta:
                      request_uuid:
                      timestamp: '2026-09-10T03:03:22Z'
        '401':
          description: Missing or invalid member or admin credentials.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: Node or destination unavailable in the current company/team
            scope.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: Malformed proposal or current validation violations.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '403':
          description: Current company admin identity or movement permission is missing.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
      x-codeSamples:
      - lang: Shell
        label: Preview a company genealogy move
        source: |-
          curl -X POST 'https://api.fluid.app/api/company/v2026-10/genealogy/nodes/01a08945-198e-764a-83a7-ecfdbc3afffb/move/validate' \
            -H 'Authorization: Bearer <company-token>' \
            -H 'Content-Type: application/json' \
            --data \{\"move\":\{\"parent_node_id\":\"01a08945-1995-74ba-840d-797584cfe407\",\"reason\":\"Correction\"\}\}
  "/api/member/v2026-10/team/{id}/move":
    post:
      tags:
      - Genealogy moves
      summary: Request a member genealogy move
      description: Requires a writable opaque member token or a verified One Auth
        identity access token for a non-impersonated rep or shopper. A legacy member
        session JWT or portal JWT that resolves to the current member is read-only and
        returns 403; an admin portal JWT or any other non-member credential returns
        401. Writes share the member API limit
        of 120 requests per minute per bearer credential, and return 429 beyond it.
        Requires the bearer member's current rep eligibility and movement
        policy. The moved node and destination must remain within the member's current
        team; no member or actor selector is accepted. HTTP move admission is disabled
        unless the company is explicitly included in GENEALOGY_MOVE_COMPANY_IDS after
        migration prerequisites are satisfied. Return 200 only when applied or unchanged,
        and 202 with a human approval request or durable full-validation job. Clients
        cannot request unbounded synchronous execution. No legacy sponsor-axis value
        is changed by this endpoint. The example uses illustrative fixture IDs. Substitute
        records visible to your authenticated company or member.
      operationId: requestMemberGenealogyMove
      security:
      - memberBearer: []
      parameters:
      - name: id
        in: path
        required: true
        description: Moving node identifier in the authenticated company and permitted
          team.
        schema:
          type: string
          format: uuid
        example: 01a08945-0cb7-7748-b66d-358cdca923b6
      - name: Idempotency-Key
        in: header
        required: false
        description: Optional client key that makes the request safe to retry. The
          first request with a key is evaluated and its outcome recorded; a retry
          with the same key and the same proposal replays that outcome, with the
          resource's current state, instead of moving again. The same key with a
          different proposal is refused with 409 idempotency_key_reused. Keys are
          scoped to the authenticated actor and tree; failed requests record nothing.
          While moves are paused for the company the request returns 503 without
          reading or recording the key, so retry it later with the same key.
          A recorded outcome is kept for at least 24 hours and then removed by an
          hourly cleanup; until it is removed the same key still replays it, and
          only after removal is the key evaluated as a new request. Retry within
          24 hours to be sure of a replay.
        schema:
          type: string
          minLength: 1
          maxLength: 255
          pattern: "^[!-~]+$"
        example: 3f1e8c0a-2b7d-4c1e-9a55-6e2f0b7d1c42
      requestBody:
        required: true
        description: An explicit unilevel move proposal. Actor and source are derived
          from authentication.
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MoveProposal"
            example:
              move:
                parent_node_id: '019f0100-0000-7000-8000-000000000002'
                reason: Correct the team placement
            examples:
              recorded:
                summary: Request a member genealogy move
                value:
                  move:
                    parent_node_id: 01a08945-0cbc-774c-a046-d7be609c4829
      responses:
        '200':
          description: Applied or authorized unchanged move.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MovementResponse"
              examples:
                recorded:
                  summary: Applied or authorized unchanged move.
                  value:
                    changed: true
                    deferred: false
                    move_job:
                    move_request:
                    placement:
                      id: 01a08945-1a42-7048-a497-8bb5c88416ee
                      actor_id: c0dd6812-0ba6-56d2-879c-a36112f813c2
                      actor_type: Company::Member
                      effective_at: '2026-09-10T03:03:22.432397Z'
                      ended_at:
                      leg:
                      member_id: 423f3c52-5440-5955-8e53-e2050d0b86b6
                      node_id: 01a08945-1a27-7dcf-9971-de363f3408ba
                      parent_node_id: 01a08945-1a2c-7fa7-9656-d36495b26b1c
                      reason:
                      request_id:
                      source: rep
                      tree_id: 7096ad49-7117-53f6-8f7f-4805473d14c5
                    queued: false
                    status: 200
                    meta:
                      request_uuid:
                      timestamp: '2026-09-10T03:03:22Z'
        '401':
          description: Missing or invalid member or admin credentials.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '403':
          description: The authenticated member credential is read-only.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '404':
          description: Node or destination unavailable in the current company/team
            scope.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: Malformed proposal, malformed Idempotency-Key, or current validation
            violations.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '202':
          description: Accepted for human approval or deferred full validation.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MovementResponse"
              examples:
                recorded:
                  summary: Accepted for human approval or deferred full validation.
                  value:
                    changed: false
                    deferred: true
                    move_job:
                      id: 01a08945-1911-7ca5-a402-e9558c7e5fcb
                      approval_request_id:
                      attempts: 0
                      created_at: '2026-09-10T03:03:22.129487Z'
                      failure_details: {}
                      failure_type:
                      finished_at:
                      leg:
                      node_id: 01a08945-0cb7-7748-b66d-358cdca923b6
                      parent_node_id: 01a08945-0cbc-774c-a046-d7be609c4829
                      placement_id:
                      reason:
                      requested_by_id: c0dd6812-0ba6-56d2-879c-a36112f813c2
                      requested_by_type: Company::Member
                      started_at:
                      status: pending
                      tree_id: 7096ad49-7117-53f6-8f7f-4805473d14c5
                    move_request:
                    placement:
                    queued: false
                    status: 202
                    meta:
                      request_uuid:
                      timestamp: '2026-09-10T03:03:22Z'
        '409':
          description: Concurrent placement, bounded lock contention, or a database deadlock;
            retry after reading current state. Also returned with type idempotency_key_reused
            when the Idempotency-Key was already used for a different proposal.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '503':
          description: Move admission has not been enabled for this company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-codeSamples:
      - lang: Shell
        label: Request a member genealogy move
        source: |-
          curl -X POST 'https://api.fluid.app/api/member/v2026-10/team/01a08945-0cb7-7748-b66d-358cdca923b6/move' \
            -H 'Authorization: Bearer <member-token>' \
            -H 'Content-Type: application/json' \
            --data \{\"move\":\{\"parent_node_id\":\"01a08945-0cbc-774c-a046-d7be609c4829\"\}\}
  "/api/member/v2026-10/team/{id}/move/validate":
    post:
      tags:
      - Genealogy moves
      summary: Preview a member genealogy move
      description: Requires a writable opaque member token or a verified One Auth
        identity access token for a non-impersonated rep or shopper. A legacy member
        session JWT or portal JWT that resolves to the current member is read-only and
        returns 403; an admin portal JWT or any other non-member credential returns
        401. Writes share the member API limit
        of 120 requests per minute per bearer credential, and return 429 beyond it.
        Requires the bearer member's current rep eligibility and movement
        policy. The moved node and destination must remain within the member's current
        team; no member or actor selector is accepted. Previews do not write or enqueue
        work. Incomplete previews return validation_incomplete among the violations;
        submit a move to request deferred validation. The example uses illustrative
        fixture IDs. Substitute records visible to your authenticated company or member.
      operationId: validateMemberGenealogyMove
      security:
      - memberBearer: []
      parameters:
      - name: id
        in: path
        required: true
        description: Moving node identifier in the authenticated company and permitted
          team.
        schema:
          type: string
          format: uuid
        example: 01a08945-1a27-7dcf-9971-de363f3408ba
      requestBody:
        required: true
        description: An explicit unilevel move proposal. Actor and source are derived
          from authentication.
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MoveProposal"
            example:
              move:
                parent_node_id: '019f0100-0000-7000-8000-000000000002'
                reason: Correct the team placement
            examples:
              recorded:
                summary: Preview a member genealogy move
                value:
                  move:
                    parent_node_id: 01a08945-1a23-75ce-9026-9646ed3df5a1
      responses:
        '200':
          description: Completed preview.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MoveValidationResponse"
              examples:
                recorded:
                  summary: Completed preview.
                  value:
                    validation:
                      valid: true
                      approval_required: true
                      deferred: false
                      violations: []
                    status: 200
                    meta:
                      request_uuid:
                      timestamp: '2026-09-10T03:03:22Z'
        '401':
          description: Missing or invalid member or admin credentials.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '403':
          description: The authenticated member credential is read-only.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '404':
          description: Node or destination unavailable in the current company/team
            scope.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: Malformed proposal or current validation violations.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-codeSamples:
      - lang: Shell
        label: Preview a member genealogy move
        source: |-
          curl -X POST 'https://api.fluid.app/api/member/v2026-10/team/01a08945-1a27-7dcf-9971-de363f3408ba/move/validate' \
            -H 'Authorization: Bearer <member-token>' \
            -H 'Content-Type: application/json' \
            --data \{\"move\":\{\"parent_node_id\":\"01a08945-1a23-75ce-9026-9646ed3df5a1\"\}\}
  "/api/company/v2026-10/genealogy/move-requests/{id}":
    get:
      tags:
      - Genealogy moves
      summary: Read company move request
      description: Read the current request receipt with its effective expiry. Requires
        members.view or the legacy users.view permission. The example uses illustrative
        fixture IDs. Substitute records visible to your authenticated company or member.
      operationId: getCompanyMoveRequest
      parameters:
      - name: id
        in: path
        required: true
        description: Move request UUID.
        schema:
          type: string
          format: uuid
        example: 01a08944-f641-783c-9d9c-918a6fe65565
      responses:
        '200':
          description: Request receipt.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MoveRequestResponse"
              examples:
                recorded:
                  summary: Request receipt.
                  value:
                    move_request:
                      id: 01a08944-f641-783c-9d9c-918a6fe65565
                      created_at: '2026-09-10T03:03:13.217320Z'
                      decided_at:
                      decided_by_id:
                      decided_by_type:
                      decision_reason:
                      expires_at: '2026-09-17T03:03:13.206122Z'
                      leg:
                      node_id: 01a08944-f636-74d7-b342-68712a8cfcfc
                      parent_node_id: 01a08944-f63a-7afc-beb0-6241d6a9b4b6
                      placement_id:
                      reason:
                      requested_by_id: c0dd6812-0ba6-56d2-879c-a36112f813c2
                      requested_by_type: Company::Member
                      status: pending
                      tree_id: 7096ad49-7117-53f6-8f7f-4805473d14c5
                    status: 200
                    meta:
                      request_uuid:
                      timestamp: '2026-09-10T03:03:13Z'
        '401':
          description: Missing credentials.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '403':
          description: Company read permission required.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: Request not found.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: Unsupported member selector.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
      x-codeSamples:
      - lang: Shell
        label: Read company move request
        source: |-
          curl -X GET 'https://api.fluid.app/api/company/v2026-10/genealogy/move-requests/01a08944-f641-783c-9d9c-918a6fe65565' \
            -H 'Authorization: Bearer <company-token>'
  "/api/member/v2026-10/team/move-requests":
    get:
      tags:
      - Genealogy moves
      summary: List own move requests
      description: Read only the authenticated member's requests whose moving nodes
        remain in their current team. Clip a proposed parent outside today's scope.
        Pending requests past the current movement window appear expired without changing
        stored rows. Caller-supplied member selectors are rejected. The example uses
        illustrative fixture IDs. Substitute records visible to your authenticated
        company or member.
      operationId: listMemberMoveRequests
      security:
      - memberBearer: []
      parameters:
      - name: tree_id
        in: query
        required: true
        description: Company tree UUID.
        schema:
          type: string
          format: uuid
        example: 7096ad49-7117-53f6-8f7f-4805473d14c5
      - name: status
        in: query
        description: Currently effective request status.
        schema:
          type: string
          enum:
          - pending
          - approved
          - rejected
          - withdrawn
          - superseded
          - expired
      - name: limit
        in: query
        description: Maximum page size.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
      - name: cursor
        in: query
        description: Opaque continuation cursor.
        schema:
          type: string
      responses:
        '200':
          description: Request page.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MoveRequestList"
              examples:
                recorded:
                  summary: Request page.
                  value:
                    move_requests:
                    - id: 01a08944-f641-783c-9d9c-918a6fe65565
                      created_at: '2026-09-10T03:03:13.217320Z'
                      decided_at:
                      decided_by_id:
                      decided_by_type:
                      decision_reason:
                      expires_at: '2026-09-17T03:03:13.206122Z'
                      leg:
                      node_id: 01a08944-f636-74d7-b342-68712a8cfcfc
                      parent_node_id: 01a08944-f63a-7afc-beb0-6241d6a9b4b6
                      placement_id:
                      reason:
                      requested_by_id: c0dd6812-0ba6-56d2-879c-a36112f813c2
                      requested_by_type: Company::Member
                      status: pending
                      tree_id: 7096ad49-7117-53f6-8f7f-4805473d14c5
                    status: 200
                    meta:
                      request_uuid:
                      timestamp: '2026-09-10T03:03:13Z'
                      pagination:
                        cursor:
                        limit: 25
                        prev_cursor:
                        next_cursor:
        '401':
          description: Missing credentials.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: Tree not found.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: Invalid filter or cursor.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
      x-codeSamples:
      - lang: Shell
        label: List own move requests
        source: |-
          curl -X GET 'https://api.fluid.app/api/member/v2026-10/team/move-requests?tree_id=7096ad49-7117-53f6-8f7f-4805473d14c5' \
            -H 'Authorization: Bearer <member-token>'
  "/api/member/v2026-10/team/move-requests/{id}":
    get:
      tags:
      - Genealogy moves
      summary: Read own move request
      description: Read only the authenticated member's requests whose moving nodes
        remain in their current team. Clip a proposed parent outside today's scope.
        Pending requests past the current movement window appear expired without changing
        stored rows. Caller-supplied member selectors are rejected. The example uses
        illustrative fixture IDs. Substitute records visible to your authenticated
        company or member.
      operationId: getMemberMoveRequest
      security:
      - memberBearer: []
      parameters:
      - name: id
        in: path
        required: true
        description: Move request UUID.
        schema:
          type: string
[...]
