---
openapi: 3.1.0
info:
  title: Fluid Integrations API
  version: v0
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
tags:
- name: droplets
  description: Create, list, and manage droplets — the apps a company publishes to the Fluid marketplace or builds for its own use.
  x-fluid-section: Droplets
- name: droplet-installations
  description: Install droplets on a company, manage those installations, and let an installed droplet redeem its one-time exchange token for its credentials.
  x-fluid-section: Droplets
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: Bearer token authentication
  schemas:
    Meta:
      type: object
      required:
      - request_id
      - timestamp
      properties:
        request_id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
    ErrorResponse:
      type: object
      required:
      - error_message
      - errors
      - meta
      properties:
        error_message:
          type: string
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          "$ref": "#/components/schemas/Meta"
    UnauthorizedResponse:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    IndexDropletCategoriesResponse200ApplicationJsonSchema:
      type: object
      required:
      - droplet_categories
      - meta
      properties:
        droplet_categories:
          type: array
          items:
            title: DropletCategory
            type: object
            required:
            - name
            - slug
            - description
            properties:
              name:
                type: string
              slug:
                type:
                - string
                - 'null'
              description:
                type:
                - string
                - 'null'
        meta:
          "$ref": "#/components/schemas/Meta"
    IndexDropletInstallationsResponse200ApplicationJsonSchema:
      type: object
      required:
      - droplet_installations
      - meta
      properties:
        droplet_installations:
          type: array
          items:
            title: DropletInstallation
            type: object
            required:
            - uuid
            - id
            - droplet_uuid
            - droplet_name
            - active
            - scopes
            properties:
              uuid:
                type: string
              id:
                type: integer
              droplet_uuid:
                type: string
              droplet_name:
                type:
                - string
                - 'null'
              active:
                type: boolean
                default: true
              scopes:
                type: array
                items:
                  type: string
        meta:
          type: object
          required:
          - request_id
          - timestamp
          - pagination
          properties:
            request_id:
              type:
              - string
              - 'null'
            timestamp:
              type: string
              format: date-time
            pagination:
              "$ref": "#/components/schemas/Pagination"
    CreateDropletInstallationResponse201ApplicationJsonSchema:
      type: object
      required:
      - droplet_installation
      - meta
      properties:
        droplet_installation:
          title: DropletInstallation
          type: object
          required:
          - uuid
          - id
          - droplet_uuid
          - droplet_name
          - active
          - scopes
          - effective_scopes
          - created_at
          properties:
            uuid:
              type: string
            id:
              type: integer
            droplet_uuid:
              type: string
            droplet_name:
              type:
              - string
              - 'null'
            active:
              type: boolean
              default: true
            scopes:
              type: array
              items:
                type: string
            effective_scopes:
              type: array
              items:
                type: string
            created_at:
              type: string
              format: date-time
        meta:
          "$ref": "#/components/schemas/Meta"
    AddUserAsAdminResponse401ApplicationJsonSchema:
      type: object
      required:
      - message
      properties:
        message:
          type: string
    CreateDropletInstallationRequestBodyApplicationJsonSchema:
      type: object
      required:
      - droplet_uuid
      properties:
        droplet_uuid:
          type: string
        role_id:
          type:
          - integer
          - 'null'
        scopes:
          type: array
          items:
            type: string
    ShowDropletInstallationResponse200ApplicationJsonSchema:
      type: object
      required:
      - droplet_installation
      - meta
      properties:
        droplet_installation:
          title: DropletInstallation
          type: object
          required:
          - uuid
          - id
          - droplet_uuid
          - droplet_name
          - active
          - scopes
          - effective_scopes
          - created_at
          - updated_at
          properties:
            uuid:
              type: string
            id:
              type: integer
            droplet_uuid:
              type: string
            droplet_name:
              type:
              - string
              - 'null'
            active:
              type: boolean
              default: true
            scopes:
              type: array
              items:
                type: string
            effective_scopes:
              type: array
              items:
                type: string
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
        meta:
          "$ref": "#/components/schemas/Meta"
    UpdateDropletInstallationResponse200ApplicationJsonSchema:
      type: object
      required:
      - droplet_installation
      - meta
      properties:
        droplet_installation:
          title: DropletInstallation
          type: object
          required:
          - uuid
          - id
          - droplet_uuid
          - droplet_name
          - active
          - scopes
          - effective_scopes
          - updated_at
          properties:
            uuid:
              type: string
            id:
              type: integer
            droplet_uuid:
              type: string
            droplet_name:
              type:
              - string
              - 'null'
            active:
              type: boolean
              default: true
            scopes:
              type: array
              items:
                type: string
            effective_scopes:
              type: array
              items:
                type: string
            updated_at:
              type: string
              format: date-time
        meta:
          "$ref": "#/components/schemas/Meta"
    DestroyDropletInstallationResponse200ApplicationJsonSchema:
      type: object
      required:
      - droplet_installation
      - meta
      properties:
        droplet_installation:
          title: DropletInstallation
          type: object
          required:
          - uuid
          - id
          properties:
            uuid:
              type: string
            id:
              type: integer
        meta:
          "$ref": "#/components/schemas/Meta"
    DropletFeature:
      title: Droplet::Feature
      type: object
      required:
      - name
      properties:
        name:
          type: string
        summary:
          type:
          - string
          - 'null'
        details:
          type:
          - string
          - 'null'
        image_url:
          type:
          - string
          - 'null'
        video_url:
          type:
          - string
          - 'null'
    DropletRequestFeature:
      title: Droplet::Feature
      type: object
      required:
      - name
      - summary
      - details
      properties:
        name:
          type: string
          minLength: 1
        summary:
          type: string
          minLength: 1
        details:
          type: string
          minLength: 1
        image_url:
          type: string
          minLength: 1
        video_url:
          type: string
          minLength: 1
    DropletMarketplacePage:
      title: Droplet::MarketplacePage
      type:
      - object
      - 'null'
      required:
      - title
      properties:
        title:
          type: string
        logo_url:
          type:
          - string
          - 'null'
        summary:
          type:
          - string
          - 'null'
    DropletRequestMarketplacePage:
      title: Droplet::MarketplacePage
      type: object
      required:
      - title
      properties:
        title:
          type: string
          minLength: 1
        logo_url:
          type: string
          minLength: 1
        summary:
          type: string
          minLength: 1
    DropletDetailsPage:
      title: Droplet::DetailsPage
      type:
      - object
      - 'null'
      required:
      - title
      properties:
        title:
          type: string
        logo_url:
          type:
          - string
          - 'null'
        summary:
          type:
          - string
          - 'null'
        features:
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/DropletFeature"
    DropletRequestDetailsPage:
      title: Droplet::DetailsPage
      type: object
      required:
      - title
      properties:
        title:
          type: string
          minLength: 1
        logo_url:
          type: string
          minLength: 1
        summary:
          type: string
          minLength: 1
        features:
          type: array
          items:
            "$ref": "#/components/schemas/DropletRequestFeature"
    DropletSettings:
      title: Droplet::Settings
      type:
      - object
      - 'null'
      properties:
        marketplace_page:
          "$ref": "#/components/schemas/DropletMarketplacePage"
        details_page:
          "$ref": "#/components/schemas/DropletDetailsPage"
        service_operational_countries:
          items:
            type: string
            pattern: "^[A-Z]{3}$"
            description: An array of ISO3 country codes for which the droplet is operational.
              A null value indicates that the service operates everywhere. An empty
              array indicates that the service operates nowhere.
          type:
          - array
          - 'null'
    DropletSettingsRequest:
      title: Droplet::Settings
      type: object
      properties:
        marketplace_page:
          "$ref": "#/components/schemas/DropletRequestMarketplacePage"
        details_page:
          "$ref": "#/components/schemas/DropletRequestDetailsPage"
        service_operational_countries:
          type: array
          items:
            type: string
            pattern: "^[A-Z]{3}$"
    Droplet:
      title: Droplet
      type: object
      required:
      - uuid
      - name
      - categories
      - active
      - publicly_available
      - embed_url
      - requested_scopes
      - created_at
      - settings
      - app_extensions
      properties:
        uuid:
          type: string
        name:
          type: string
        categories:
          items:
            type: string
          type: array
        active:
          type: boolean
          default: false
        publicly_available:
          type: boolean
          default: false
        embed_url:
          type:
          - string
          - 'null'
        requested_scopes:
          type: array
          items:
            type: string
        egress_proxy_requested:
          type: boolean
          description: Whether the droplet's owner has asked for egress through
            Fluid's egress proxy. Returned only to root admins, company admins and
            company service tokens.
        egress_proxy_enabled:
          type: boolean
          description: Whether a Fluid root admin has granted the droplet's
            installations egress to external systems, such as Exigo, through
            Fluid's egress proxy. Returned only to root admins, company admins and
            company service tokens.
        created_at:
          type: string
          format: date-time
        settings:
          "$ref": "#/components/schemas/DropletSettings"
        app_extensions:
          type: array
          items:
            "$ref": "#/components/schemas/JsonValue"
    DropletOwnerCompany:
      title: Company
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: integer
        name:
          type: string
    DropletAccessGrant:
      title: Droplet access grant
      type: object
      required:
      - uuid_v7
      - company
      - created_at
      properties:
        uuid_v7:
          type: string
          format: uuid
        company:
          "$ref": "#/components/schemas/DropletOwnerCompany"
        created_at:
          type: string
          format: date-time
    IndexDropletAccessGrantsResponse200ApplicationJsonSchema:
      type: object
      required:
      - access_grants
      - meta
      properties:
        access_grants:
          type: array
          items:
            "$ref": "#/components/schemas/DropletAccessGrant"
        meta:
          type: object
          required:
          - request_id
          - timestamp
          - pagination
          properties:
            request_id:
              type:
              - string
              - 'null'
            timestamp:
              type: string
              format: date-time
            pagination:
              "$ref": "#/components/schemas/Pagination"
    CreateDropletAccessGrantRequestBodyApplicationJsonSchema:
      type: object
      required:
      - company_id
      properties:
        company_id:
          type: integer
          minimum: 1
    CreateDropletAccessGrantResponse201ApplicationJsonSchema:
      type: object
      required:
      - access_grant
      - meta
      properties:
        access_grant:
          "$ref": "#/components/schemas/DropletAccessGrant"
        meta:
          "$ref": "#/components/schemas/Meta"
    DropletOwner:
      allOf:
      - "$ref": "#/components/schemas/Droplet"
      - type: object
        required:
        - install_webhook_url
        - uninstall_webhook_url
        - widget_data_url
        - lifecycle_contract_version
        properties:
          install_webhook_url:
            type:
            - string
            - 'null'
          uninstall_webhook_url:
            type:
            - string
            - 'null'
          widget_data_url:
            description: Endpoint Fluid calls when a widget this droplet published
              uses the droplet@1 capability. Null until the droplet declares one.
            type:
            - string
            - 'null'
          lifecycle_contract_version:
            type: string
    DropletCreate:
      allOf:
      - "$ref": "#/components/schemas/DropletOwner"
      - type: object
        required:
        - webhook_secret
        properties:
          webhook_secret:
            type: string
    DropletUpdate:
      allOf:
      - "$ref": "#/components/schemas/DropletOwner"
      - type: object
        required:
        - updated_at
        properties:
          updated_at:
            type: string
            format: date-time
    DropletShowPublicWithOwner:
      allOf:
      - "$ref": "#/components/schemas/Droplet"
      - type: object
        required:
        - updated_at
        - owner_company
        properties:
          updated_at:
            type: string
            format: date-time
          owner_company:
            "$ref": "#/components/schemas/DropletOwnerCompany"
    DropletShowRootAdmin:
      title: Droplet as a root admin sees it
      description: Adds the raw lifecycle state, which the derived active and publicly_available
        booleans cannot express — they collapse internal with pending, and draft with
        archived.
      allOf:
      - "$ref": "#/components/schemas/DropletShowOwnerWithDetails"
      - type: object
        required:
        - status
        properties:
          status:
            type: string
            enum:
            - draft
            - internal
            - pending
            - published
            - archived
            description: The droplet's raw lifecycle state. Root admins only.
    DropletShowOwnerWithDetails:
      allOf:
      - "$ref": "#/components/schemas/DropletOwner"
      - type: object
        required:
        - updated_at
        - owner_company
        properties:
          updated_at:
            type: string
            format: date-time
          owner_company:
            "$ref": "#/components/schemas/DropletOwnerCompany"
    Pagination:
      type: object
      required:
      - current_page
      - total_pages
      - total_count
      - per_page
      properties:
        current_page:
          type: integer
        total_pages:
          type: integer
        total_count:
          type: integer
        per_page:
          type: integer
    IndexDropletsResponse200ApplicationJsonSchema:
      type: object
      required:
      - droplets
      - meta
      properties:
        droplets:
          type: array
          items:
            "$ref": "#/components/schemas/Droplet"
        meta:
          type: object
          required:
          - request_id
          - timestamp
          - pagination
          properties:
            request_id:
              type:
              - string
              - 'null'
            timestamp:
              type: string
              format: date-time
            pagination:
              "$ref": "#/components/schemas/Pagination"
    IndexAllDropletsResponse200ApplicationJsonSchema:
      type: object
      required:
      - droplets
      - meta
      properties:
        droplets:
          type: array
          items:
            "$ref": "#/components/schemas/DropletShowRootAdmin"
        meta:
          type: object
          required:
          - request_id
          - timestamp
          - pagination
          properties:
            request_id:
              type:
              - string
              - 'null'
            timestamp:
              type: string
              format: date-time
            pagination:
              "$ref": "#/components/schemas/Pagination"
    ExchangeDropletInstallationRequestBodyApplicationJsonSchema:
      type: object
      required:
      - exchange_token
      properties:
        exchange_token:
          type: string
          description: The one-time exchange token delivered in the droplet's
            install webhook. It starts with `dex_`.
    DropletInstallationExchangeInstallation:
      title: Exchanged droplet installation
      type: object
      required:
      - droplet_installation_uuid
      - droplet_uuid
      - fluid_company_id
      - fluid_shop
      properties:
        droplet_installation_uuid:
          type: string
          description: The UUID of the installation the token was issued for.
        droplet_uuid:
          type: string
          description: The UUID of the installed droplet.
        fluid_company_id:
          type: integer
          description: The numeric ID of the company that installed the droplet.
        fluid_shop:
          type: string
          description: The company's Fluid shop hostname.
      additionalProperties: false
    DropletInstallationCredentials:
      title: Droplet installation credentials
      type: object
      required:
      - authentication_token
      - webhook_verification_token
      - issued_at
      - token_type
      properties:
        authentication_token:
          type: string
          description: The installation's Bearer token for calling the Fluid API
            on the installing company's behalf. It starts with `dit_`.
        webhook_verification_token:
          type: string
          description: The token Fluid uses to sign webhooks it sends this
            installation. It starts with `wvt_`.
        issued_at:
          type: string
          format: date-time
          description: When the credentials were handed out.
        token_type:
          type: string
          enum:
          - bearer
          description: Always `bearer`.
      additionalProperties: false
    ExchangeDropletInstallationResponse200ApplicationJsonSchema:
      type: object
      required:
      - droplet_installation
      - credentials
      - meta
      properties:
        droplet_installation:
          "$ref": "#/components/schemas/DropletInstallationExchangeInstallation"
        credentials:
          "$ref": "#/components/schemas/DropletInstallationCredentials"
        meta:
          "$ref": "#/components/schemas/Meta"
    CreateDropletResponse201ApplicationJsonSchema:
      type: object
      required:
      - droplet
      - meta
      properties:
        droplet:
          "$ref": "#/components/schemas/DropletCreate"
        meta:
          "$ref": "#/components/schemas/Meta"
    CreateDropletRequestBodyApplicationJsonSchema:
      type: object
      required:
      - droplet
      properties:
        droplet:
          type: object
          required:
          - name
          - embed_url
          properties:
            name:
              type: string
              minLength: 1
            embed_url:
              type: string
              minLength: 1
            install_webhook_url:
              type: string
              minLength: 1
            uninstall_webhook_url:
              type: string
              minLength: 1
            widget_data_url:
              type: string
              minLength: 1
            extension_zip_url:
              type: string
              minLength: 1
            settings:
              "$ref": "#/components/schemas/DropletSettingsRequest"
            requested_scopes:
              type: array
              items:
                type: string
            egress_proxy_requested:
              type: boolean
              description: Ask Fluid to let the droplet's installations connect to
                external systems, such as Exigo, through Fluid's egress proxy. Settable
                by company admins and company service tokens; false also withdraws
                the grant. Defaults to false.
            egress_proxy_enabled:
              type: boolean
              description: Grant the droplet's installations egress through Fluid's
                egress proxy. Settable by Fluid root admins only. Defaults to false.
            categories:
              type: array
              items:
                type: string
    ShowDropletResponse200ApplicationJsonSchema:
      type: object
      required:
      - droplet
      - meta
      properties:
        droplet:
          anyOf:
          - "$ref": "#/components/schemas/DropletShowPublicWithOwner"
          - "$ref": "#/components/schemas/DropletShowOwnerWithDetails"
          - "$ref": "#/components/schemas/DropletShowRootAdmin"
        meta:
          "$ref": "#/components/schemas/Meta"
    UpdateDropletResponse200ApplicationJsonSchema:
      type: object
      required:
      - droplet
      - meta
      properties:
        droplet:
          "$ref": "#/components/schemas/DropletUpdate"
        meta:
          "$ref": "#/components/schemas/Meta"
    UpdateDropletRequestBodyApplicationJsonSchema:
      type: object
      required:
      - droplet
      properties:
        droplet:
          type: object
          properties:
            active:
              type: boolean
            publicly_available:
              type: boolean
            company_id:
              type: integer
            name:
              type: string
              minLength: 1
            embed_url:
              type: string
              minLength: 1
            install_webhook_url:
              type: string
              minLength: 1
            uninstall_webhook_url:
              type: string
              minLength: 1
            widget_data_url:
              type: string
              minLength: 1
            extension_zip_url:
              type: string
              minLength: 1
            settings:
              "$ref": "#/components/schemas/DropletSettingsRequest"
            requested_scopes:
              type: array
              items:
                type: string
            egress_proxy_requested:
              type: boolean
              description: Ask Fluid to let the droplet's installations connect to
                external systems, such as Exigo, through Fluid's egress proxy. Settable
                by company admins and company service tokens; false also withdraws
                the grant. Defaults to false.
            egress_proxy_enabled:
              type: boolean
              description: Grant the droplet's installations egress through Fluid's
                egress proxy. Settable by Fluid root admins only. Defaults to false.
            categories:
              type: array
              items:
                type: string
    DestroyDropletResponse200ApplicationJsonSchema:
      type: object
      required:
      - droplet
      - meta
      properties:
        droplet:
          type: object
          required:
          - uuid
          properties:
            uuid:
              type: string
        meta:
          "$ref": "#/components/schemas/Meta"
    ShowDropletCompaniesResponse200ApplicationJsonSchema:
      type: object
      required:
      - companies
      - meta
      properties:
        companies:
          type: array
          items:
            title: Company
            type: object
            required:
            - id
            - name
            - active
            properties:
              id:
                type: integer
              name:
                type: string
              active:
                type: boolean
                default: true
        meta:
          type: object
          required:
          - request_id
          - timestamp
          - pagination
          properties:
            request_id:
              type:
              - string
              - 'null'
            timestamp:
              type: string
              format: date-time
            pagination:
              "$ref": "#/components/schemas/Pagination"
    JsonValue:
      description: Any valid JSON value for provider, integration, theme, metadata,
        or other dynamic payloads whose keys are not fixed by the API contract.
      anyOf:
      - type: string
      - type: number
      - type: boolean
      - type: 'null'
      - type: array
        items:
          "$ref": "#/components/schemas/JsonValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorValue:
      description: A validation or API error value.
      anyOf:
      - type: string
      - type: array
        items:
          type: string
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorBag:
      description: Validation errors keyed by field, a list of errors, a single error
        message, or null when no structured error details are available.
      anyOf:
      - type: string
      - type: array
        items:
          "$ref": "#/components/schemas/ErrorValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/ErrorValue"
      - type: 'null'
    ErrorMessage:
      description: An API error message represented as text or structured JSON.
      anyOf:
      - type: string
      - "$ref": "#/components/schemas/ErrorBag"
      - type: 'null'
    StandardErrorResponse:
      description: Common legacy error response envelope. Older endpoints may return
        one or more of these fields depending on the controller path.
      type: object
      properties:
        message:
          type: string
        error:
          "$ref": "#/components/schemas/ErrorMessage"
        error_message:
          "$ref": "#/components/schemas/ErrorMessage"
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          "$ref": "#/components/schemas/Meta"
      additionalProperties:
        "$ref": "#/components/schemas/JsonValue"
    StandardUnauthorizedResponse:
      description: Common legacy unauthorized response envelope.
      allOf:
      - "$ref": "#/components/schemas/StandardErrorResponse"
    GitCredential:
      description: Short-lived Git clone credential for the widget repo.
      type: object
      required:
      - remote_url
      - expires_at
      properties:
        remote_url:
          type: string
          format: uri
          description: |
            HTTPS clone URL with a short-lived installation token embedded as
            the password. Valid for ~1 hour (GitHub installation token TTL).
        expires_at:
          type: string
          format: date-time
          description: When the credential expires.
      additionalProperties: false
paths:
  "/api/droplet_categories":
    get:
      summary: Returns a list of all droplet categories
      description: |-
        List every droplet category on Fluid. Use a category's `slug` to filter `GET /api/droplets` and `GET /api/droplet_installations`, and to assign categories when you create or update a droplet.

        Call it with a company admin's Bearer token, or a company API or partner token, that has the `droplets.view` permission. Other callers get 401. The list is not paginated.
      tags:
      - droplet-categories
      operationId: integrations_v0_index_droplet_categories
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/IndexDropletCategoriesResponse200ApplicationJsonSchema"
              example:
                droplet_categories:
                - name: Analytics & Reporting
                  slug: analytics-reporting
                  description: Sales analytics, Customer behavior tracking, Performance dashboards, A/B testing tools
                - name: Marketing & Promotion
                  slug: marketing-promotion
                  description: Email marketing, Social media integration, SEO tools, Advertising platforms, Loyalty and rewards programs
                - name: Orders & Shipping
                  slug: orders-shipping
                  description: Order management, Shipping rate calculators, Fulfillment solutions, Tracking and delivery notifications, Returns management
                meta:
                  request_id: 7e2c9b41-3f8a-4d15-b6e0-9a4c21d7f583
                  timestamp: '2026-09-14T15:32:08Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
  "/api/droplet_installations":
    get:
      summary: List droplet installations
      description: |-
        List the droplets installed on your company, newest first. Uninstalled installations are left out; installations that are still being uninstalled appear with `active: false`.

        Call it with a company admin's Bearer token, or a company API or partner token, that has the `droplets.view` permission. Other callers get 401.

        Results are paginated with `page` and `per_page` (default 10, maximum 100). Pass `category` with a droplet category slug to only return installations of droplets in that category.
      tags:
      - droplet-installations
      operationId: integrations_v0_index_droplet_installations
      security:
      - bearer_auth: []
      parameters:
      - name: page
        in: query
        required: false
        description: Page number for pagination
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: 'Number of records per page (max: 100)'
        schema:
          type: integer
      - name: category
        in: query
        required: false
        description: Filter by droplet category
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/IndexDropletInstallationsResponse200ApplicationJsonSchema"
              example:
                droplet_installations:
                - uuid: dri_9Hc3LmQ7vT2xNp5KwB8rYf4ZjD6sAg1Ue
                  id: 48213
                  droplet_uuid: drp_4Tq8nXw2KfL9mRv3BpZ6cYh1JdS7aGe5u
                  droplet_name: Middle-Out Order Analytics
                  active: true
                  scopes:
                  - orders
                  - products
                - uuid: dri_2Wn6RkX9bP4tLq7HzC3mVy8FsJ5dGa0Ne
                  id: 47906
                  droplet_uuid: drp_8Lm3QwZ6tR1vKx9NbH4cYp7FjS2dAe5Gu
                  droplet_name: Scranton Shipping Rates
                  active: false
                  scopes:
                  - orders
                meta:
                  request_id: 7e2c9b41-3f8a-4d15-b6e0-9a4c21d7f583
                  timestamp: '2026-09-14T15:32:08Z'
                  pagination:
                    current_page: 1
                    total_pages: 1
                    total_count: 2
                    per_page: 10
        '401':
          description: unauthorized - non-admin users cannot access
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
    post:
      summary: Create a droplet installation
      description: |-
        Install a droplet on your company. Pass the droplet's `uuid` as `droplet_uuid`. You can install a published droplet, one your company owns, or one another company granted you access to, as long as it is operational.

        Optionally pass `scopes` to set the installation's scopes and `role_id` to attach one of your company's roles. An unknown `role_id` returns 422.

        When the installation is created, Fluid sends the droplet's install webhook so the droplet can set itself up for your company.

        Call it with a company admin's Bearer token, or a company API or partner token, that has the `droplets.update` permission. Other callers get 401. A droplet that is already installed on your company returns 409; a droplet your company cannot install returns 404.

        A sandbox test store cannot install droplets yet: a request for one returns 422 with an error on `company`.
      tags:
      - droplet_installations
      operationId: integrations_v0_create_droplet_installation
      security:
      - bearer_auth: []
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateDropletInstallationRequestBodyApplicationJsonSchema"
            example:
              droplet_uuid: drp_4Tq8nXw2KfL9mRv3BpZ6cYh1JdS7aGe5u
              scopes:
              - orders
              - products
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateDropletInstallationResponse201ApplicationJsonSchema"
              example:
                droplet_installation:
                  uuid: dri_9Hc3LmQ7vT2xNp5KwB8rYf4ZjD6sAg1Ue
                  id: 48213
                  droplet_uuid: drp_4Tq8nXw2KfL9mRv3BpZ6cYh1JdS7aGe5u
                  droplet_name: Middle-Out Order Analytics
                  active: true
                  scopes:
                  - orders
                  - products
                  effective_scopes:
                  - orders
                  - products
                  created_at: '2026-09-14T15:32:08Z'
                meta:
                  request_id: 7e2c9b41-3f8a-4d15-b6e0-9a4c21d7f583
                  timestamp: '2026-09-14T15:32:08Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AddUserAsAdminResponse401ApplicationJsonSchema"
        '404':
          description: No installable droplet matches droplet_uuid for this company
            (unknown, not visible to it, or not operational)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
  "/api/droplet_installations/exchange":
    post:
      summary: Exchange an install token for installation credentials
      description: |-
        Redeem the one-time exchange token that Fluid sends in a droplet's install webhook for the installation's permanent credentials: its Bearer `authentication_token` and its `webhook_verification_token`.

        This endpoint takes no `Authorization` header — the exchange token is the credential. Call it from your droplet's backend as soon as the install webhook arrives.

        - An exchange token redeems once, and expires 10 minutes after it is issued.
        - A token that has already been redeemed, or has expired, returns 410. Fluid does not issue a replacement through this endpoint.
        - An unknown token returns 404. So does a token whose installation is no longer active, or whose droplet can no longer be installed (for example, an archived droplet). Those cases do not use up the token.
      tags:
      - droplet-installations
      operationId: integrations_v0_exchange_droplet_installation_token
      x-fluid-audience: public
      x-fluid-lint-exempt: "Documents an existing route in a legacy unversioned spec."
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ExchangeDropletInstallationRequestBodyApplicationJsonSchema"
            example:
              exchange_token: dex_q7Xv2mR9kLp4TzW8nB3cYh6JfD1sAe5GuN0oKiVbQwE
      responses:
        '200':
          description: The token was redeemed. Store both credentials; this is the only time they are returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExchangeDropletInstallationResponse200ApplicationJsonSchema"
              example:
                droplet_installation:
                  droplet_installation_uuid: 9c3e7a41-5b2d-4f8e-a0c6-1d7b4e92f358
                  droplet_uuid: 4f2a9c1e-7b3d-4e8a-9f61-2c5d8b0e3a17
                  fluid_company_id: 1042
                  fluid_shop: northwind.fluid.app
                credentials:
                  authentication_token: dit_Hk4mZp8Qx2Wv6Tn9Rb3Lc7Yf1Sd5Ga0J
                  webhook_verification_token: wvt_Nq2Xe7Kr5Ub9Pm3Vh8Jt1Ws6Cz4Fy0D
                  issued_at: '2026-09-30T14:05:12Z'
                  token_type: bearer
                meta:
                  request_id: 3b1f6c2e-8d4a-4e7b-9f05-a2c1d6e8b347
                  timestamp: '2026-09-30T14:05:12Z'
        '404':
          description: The token is unknown, or its installation is inactive or its droplet can no longer be installed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
              example:
                error_message: not found
                errors:
                  exchange_token:
                  - invalid or not found
                meta:
                  request_id: 3b1f6c2e-8d4a-4e7b-9f05-a2c1d6e8b347
                  timestamp: '2026-09-30T14:05:12Z'
        '410':
          description: The token has already been redeemed, or has expired.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
              example:
                error_message: gone
                errors:
                  exchange_token:
                  - expired or already used
                meta:
                  request_id: 3b1f6c2e-8d4a-4e7b-9f05-a2c1d6e8b347
                  timestamp: '2026-09-30T14:05:12Z'
        '422':
          description: The request body has no `exchange_token`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
              example:
                error_message: Invalid parameters
                errors:
                  exchange_token:
                  - is missing
                meta:
                  request_id: 3b1f6c2e-8d4a-4e7b-9f05-a2c1d6e8b347
                  timestamp: '2026-09-30T14:05:12Z'
  "/api/droplet_installations/{uuid}":
    get:
      summary: Show a droplet installation
      description: |-
        Retrieve one of your company's droplet installations by its `uuid`, including its scopes and its effective scopes. Credentials are never returned.

        Call it with a company admin's Bearer token, or a company API or partner token, that has the `droplets.view` permission. Other callers get 401. An installation that belongs to another company returns 404.
      tags:
      - droplet-installations
      operationId: integrations_v0_show_droplet_installation
      security:
      - bearer_auth: []
      parameters:
      - name: uuid
        in: path
        required: true
        description: The UUID of the droplet installation
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ShowDropletInstallationResponse200ApplicationJsonSchema"
              example:
                droplet_installation:
                  uuid: dri_9Hc3LmQ7vT2xNp5KwB8rYf4ZjD6sAg1Ue
                  id: 48213
                  droplet_uuid: drp_4Tq8nXw2KfL9mRv3BpZ6cYh1JdS7aGe5u
                  droplet_name: Middle-Out Order Analytics
                  active: true
                  scopes:
                  - orders
                  - products
                  effective_scopes:
                  - orders
                  - products
                  created_at: '2026-09-14T15:32:08Z'
                  updated_at: '2026-09-21T10:04:37Z'
                meta:
                  request_id: 7e2c9b41-3f8a-4d15-b6e0-9a4c21d7f583
                  timestamp: '2026-09-14T15:32:08Z'
        '401':
          description: unauthorized - non-admin users cannot access
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: droplet installation not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
    put:
      summary: Update a droplet installation
      description: |-
        Change one of your company's droplet installations: its `scopes`, its `role_id`, or whether it is active. `active` is required on every call. Sending `active: false` on an active installation starts uninstalling it, and it cannot be reactivated afterwards. Sending `active: true` changes nothing about its state, so send it when you only want to edit scopes or role.

        Call it with a company admin's Bearer token, or a company API or partner token, that has the `droplets.update` permission. Other callers get 401.
      tags:
      - droplet-installations
      operationId: integrations_v0_update_droplet_installation
      security:
      - bearer_auth: []
      parameters:
      - name: uuid
        in: path
        required: true
        description: The UUID of the droplet installation
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - droplet_installation
              properties:
                droplet_installation:
                  type: object
                  required:
                  - active
                  properties:
                    active:
                      type: boolean
                    role_id:
                      type:
                      - integer
                      - 'null'
                    scopes:
                      type: array
                      items:
                        type: string
            example:
              droplet_installation:
                active: true
                scopes:
                - orders
                - products
                - members
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UpdateDropletInstallationResponse200ApplicationJsonSchema"
              example:
                droplet_installation:
                  uuid: dri_9Hc3LmQ7vT2xNp5KwB8rYf4ZjD6sAg1Ue
                  id: 48213
                  droplet_uuid: drp_4Tq8nXw2KfL9mRv3BpZ6cYh1JdS7aGe5u
                  droplet_name: Middle-Out Order Analytics
                  active: true
                  scopes:
                  - orders
                  - products
                  - members
                  effective_scopes:
                  - orders
                  - products
                  - members
                  updated_at: '2026-09-21T10:04:37Z'
                meta:
                  request_id: 7e2c9b41-3f8a-4d15-b6e0-9a4c21d7f583
                  timestamp: '2026-09-14T15:32:08Z'
        '401':
          description: unauthorized - non-admin users cannot update
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: droplet installation not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
    delete:
      summary: Delete a droplet installation
      description: |-
        Uninstall a droplet from your company. The installation's API credentials are revoked, and Fluid sends the droplet's uninstall webhook so it can clean up. The response returns only the installation's identifiers.

        Call it with a company admin's Bearer token, or a company API or partner token, that has the `droplets.update` permission. Other callers get 401.
      tags:
      - droplet-installations
      operationId: integrations_v0_destroy_droplet_installation
      security:
      - bearer_auth: []
      parameters:
      - name: uuid
        in: path
        required: true
        description: The UUID of the droplet installation
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DestroyDropletInstallationResponse200ApplicationJsonSchema"
              example:
                droplet_installation:
                  uuid: dri_9Hc3LmQ7vT2xNp5KwB8rYf4ZjD6sAg1Ue
                  id: 48213
                meta:
                  request_id: 7e2c9b41-3f8a-4d15-b6e0-9a4c21d7f583
                  timestamp: '2026-09-14T15:32:08Z'
        '401':
          description: unauthorized - non-admin users cannot delete
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: droplet installation not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/droplets":
    get:
      summary: An array of available droplets
      description: |-
        List the droplets your company can see: published marketplace droplets, droplets your company owns (in any lifecycle state), and internal droplets another company granted you access to. Use `GET /api/droplets/company_droplets` for only the droplets your company owns.

        Call it with a Bearer token for your company that has the `droplets.view` permission — a company admin, company API token, or partner token. A public (`pub-`) token is refused with 403.

        Results are paginated with `page` and `per_page` (default 25, maximum 100). Pass `category` with a droplet category slug to filter. Responses may be cached for up to two minutes.
      tags:
      - droplets
      operationId: integrations_v0_index_droplets
      security:
      - bearer_auth: []
      parameters:
      - name: pagination
        in: query
        schema:
          type: object
          properties:
            page:
              type: integer
              exclusiveMinimum: 0
            per_page:
              type: integer
              exclusiveMinimum: 0
              maximum: 100
            category:
              type: string
          required: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/IndexDropletsResponse200ApplicationJsonSchema"
              example:
                droplets:
                - uuid: drp_4Tq8nXw2KfL9mRv3BpZ6cYh1JdS7aGe5u
                  name: Middle-Out Order Analytics
                  categories:
                  - Analytics & Reporting
                  active: true
                  publicly_available: true
                  embed_url: https://apps.piedpiper.com/fluid/embed
                  requested_scopes:
                  - orders
                  - products
                  - members
                  created_at: '2026-09-08T16:20:44Z'
                  settings:
                    marketplace_page:
                      title: Middle-Out Order Analytics
                      logo_url: https://cdn.piedpiper.com/fluid/middle-out-logo.png
                      summary: Order and rep performance dashboards, compressed to what matters.
                    details_page:
                      title: Middle-Out Order Analytics
                      logo_url: https://cdn.piedpiper.com/fluid/middle-out-logo.png
                      summary: See sales by rep, product, and country without exporting a single spreadsheet.
                      features:
                      - name: Rep leaderboards
                        summary: Rank reps by sales and new enrollments.
                        details: Daily leaderboards show which reps drive the most revenue, refreshed every hour from your Fluid orders.
                        image_url: https://cdn.piedpiper.com/fluid/leaderboard.png
                        video_url:
                    service_operational_countries:
                    - USA
                    - CAN
                  app_extensions: []
                meta:
                  request_id: 7e2c9b41-3f8a-4d15-b6e0-9a4c21d7f583
                  timestamp: '2026-09-14T15:32:08Z'
                  pagination:
                  current_page: 1
                  total_pages: 1
                  total_count: 1
                  per_page: 25
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
    post:
      summary: Create a droplet
      description: |-
        Create a droplet owned by your company. `name` and `embed_url` are required. Set `install_webhook_url` and `uninstall_webhook_url` to receive install and uninstall events, `categories` to a list of droplet category slugs, and `extension_zip_url` to import a theme extension from a zip file.

        The response includes the droplet's `webhook_secret`. It is returned only here, so store it: use it to verify the webhooks Fluid sends your droplet.

        Call it with a Bearer token for your company that has the `droplets.update` permission. An invalid URL or unknown category slug returns 422.
      tags:
      - droplets
      operationId: integrations_v0_create_droplet
      security:
      - bearer_auth: []
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateDropletRequestBodyApplicationJsonSchema"
            example:
              droplet:
                name: Middle-Out Order Analytics
                embed_url: https://apps.piedpiper.com/fluid/embed
                install_webhook_url: https://apps.piedpiper.com/fluid/webhooks/install
                uninstall_webhook_url: https://apps.piedpiper.com/fluid/webhooks/uninstall
                settings:
                  marketplace_page:
                    title: Middle-Out Order Analytics
                    logo_url: https://cdn.piedpiper.com/fluid/middle-out-logo.png
                    summary: Order and rep performance dashboards, compressed to what matters.
                  details_page:
                    title: Middle-Out Order Analytics
                    logo_url: https://cdn.piedpiper.com/fluid/middle-out-logo.png
                    summary: See sales by rep, product, and country without exporting a single spreadsheet.
                    features:
                    - name: Rep leaderboards
                      summary: Rank reps by sales and new enrollments.
                      details: Daily leaderboards show which reps drive the most revenue, refreshed every hour from your Fluid orders.
                      image_url: https://cdn.piedpiper.com/fluid/leaderboard.png
                  service_operational_countries:
                  - USA
                  - CAN
                requested_scopes:
                - orders
                - products
                - members
                categories:
                - analytics-reporting
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateDropletResponse201ApplicationJsonSchema"
              example:
                droplet:
                  uuid: drp_4Tq8nXw2KfL9mRv3BpZ6cYh1JdS7aGe5u
                  name: Middle-Out Order Analytics
                  categories:
                  - Analytics & Reporting
                  active: false
                  publicly_available: false
                  embed_url: https://apps.piedpiper.com/fluid/embed
                  requested_scopes:
                  - orders
                  - products
                  - members
                  created_at: '2026-09-08T16:20:44Z'
                  settings:
                    marketplace_page:
                      title: Middle-Out Order Analytics
                      logo_url: https://cdn.piedpiper.com/fluid/middle-out-logo.png
                      summary: Order and rep performance dashboards, compressed to what matters.
                    details_page:
                      title: Middle-Out Order Analytics
                      logo_url: https://cdn.piedpiper.com/fluid/middle-out-logo.png
                      summary: See sales by rep, product, and country without exporting a single spreadsheet.
                      features:
                      - name: Rep leaderboards
                        summary: Rank reps by sales and new enrollments.
                        details: Daily leaderboards show which reps drive the most revenue, refreshed every hour from your Fluid orders.
                        image_url: https://cdn.piedpiper.com/fluid/leaderboard.png
                        video_url:
                    service_operational_countries:
                    - USA
                    - CAN
                  app_extensions: []
                  install_webhook_url: https://apps.piedpiper.com/fluid/webhooks/install
                  uninstall_webhook_url: https://apps.piedpiper.com/fluid/webhooks/uninstall
                  widget_data_url:
                  lifecycle_contract_version: v2
                  webhook_secret: dws_6Pj2KxN8vR4mTq9BzL3hWc7YfG1sDa5Ek
                meta:
                  request_id: 7e2c9b41-3f8a-4d15-b6e0-9a4c21d7f583
                  timestamp: '2026-09-14T15:32:08Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
  "/api/droplets/company_droplets":
    get:
      summary: List your company's own droplets
      description: |-
        List the droplets your company owns — the ones it created — sorted by name. Every lifecycle state is included, so draft and archived droplets appear alongside published ones.

        This differs from `GET /api/droplets`, which lists every droplet your company can see: published marketplace droplets, your own droplets, and droplets another company granted you access to.

        Call it with a Bearer token for your company. A company admin, company API token, or partner token needs the `droplets.view` permission. A droplet installation token needs the `web` scope. A public (`pub-`) token is refused with 403.

        Results are paginated with `page` and `per_page` (default 25, maximum 100).
      tags:
      - droplets
      operationId: integrations_v0_index_company_droplets
      x-fluid-audience: company
      x-fluid-lint-exempt: "Documents an existing route in a legacy unversioned spec."
      security:
      - bearer_auth: []
      parameters:
      - name: page
        in: query
        required: false
        description: The page number to return. Starts at 1.
        schema:
          type: integer
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: The number of droplets per page. Defaults to 25.
        schema:
          type: integer
          minimum: 1
          maximum: 100
      - name: category
        in: query
        required: false
        description: Only return droplets in the droplet category with this slug.
        schema:
          type: string
      responses:
        '200':
          description: Your company's droplets.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/IndexDropletsResponse200ApplicationJsonSchema"
              example:
                droplets:
                - uuid: 4f2a9c1e-7b3d-4e8a-9f61-2c5d8b0e3a17
                  name: Northwind Rewards
                  categories:
                  - Marketing & Promotion
                  active: true
                  publicly_available: false
                  embed_url: https://rewards.northwind.io/fluid/embed
                  requested_scopes:
                  - orders
                  - members
                  created_at: '2026-06-18T09:42:31Z'
                  settings:
                    marketplace_page:
                      title: Northwind Rewards
                      logo_url: https://rewards.northwind.io/assets/logo.png
                      summary: Points and tiered rewards for every order.
                    details_page:
                      title: Northwind Rewards
                      logo_url: https://rewards.northwind.io/assets/logo.png
                      summary: Reward repeat customers with points they redeem at checkout.
                      features:
                      - name: Tiered points
                        summary: Earn more as customers climb tiers.
                        details: Set earn rates per tier and let customers see their progress in the member portal.
                        image_url:
                        video_url:
                    service_operational_countries:
                    - USA
                    - CAN
                  app_extensions: []
                meta:
                  request_id: 3b1f6c2e-8d4a-4e7b-9f05-a2c1d6e8b347
                  timestamp: '2026-09-30T14:05:12Z'
                  pagination:
                    current_page: 1
                    total_pages: 1
                    total_count: 1
                    per_page: 25
        '401':
          description: The Bearer token is missing or invalid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '403':
          description: The token is not allowed to view droplets — for example, a public token, or an admin without the `droplets.view` permission.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '422':
          description: A pagination parameter is out of range.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/droplets/all":
    get:
      summary: List every droplet on the platform
      description: |-
        List every droplet on Fluid, across all companies, in every lifecycle state. Results are sorted by owner company name, then droplet name.

        This is a Fluid root administrator endpoint: call it with a root administrator's user token. A signed-in user who is not a root administrator gets 403, including a company admin. Company API, partner, and droplet installation tokens cannot call it. It is not the list of droplets available to your company — use `GET /api/droplets` for that, or `GET /api/droplets/company_droplets` for the droplets your company owns.

        Each droplet carries its owner's webhook URLs, its owner company, and its raw lifecycle `status`, which the `active` and `publicly_available` booleans cannot fully express.

        Results are paginated with `page` and `per_page` (default 25, maximum 100).
      tags:
      - droplets
      operationId: integrations_v0_index_all_droplets
      x-fluid-audience: company
      x-fluid-lint-exempt: "Documents an existing route in a legacy unversioned spec."
      security:
      - bearer_auth: []
      parameters:
      - name: page
        in: query
        required: false
        description: The page number to return. Starts at 1.
        schema:
          type: integer
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: The number of droplets per page. Defaults to 25.
        schema:
          type: integer
          minimum: 1
          maximum: 100
      - name: category
        in: query
        required: false
        description: Only return droplets in the droplet category with this slug.
        schema:
          type: string
      - name: publicly_available
        in: query
        required: false
        description: Pass `true` for published droplets only, or `false` for every droplet that is not published.
        schema:
          type: boolean
      - name: search
        in: query
        required: false
        description: Only return droplets whose name contains this text, ignoring case.
        schema:
          type: string
      responses:
        '200':
          description: Every droplet on the platform.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/IndexAllDropletsResponse200ApplicationJsonSchema"
              example:
                droplets:
                - uuid: 4f2a9c1e-7b3d-4e8a-9f61-2c5d8b0e3a17
                  name: Northwind Rewards
                  categories:
                  - Marketing & Promotion
                  active: true
                  publicly_available: false
                  embed_url: https://rewards.northwind.io/fluid/embed
                  requested_scopes:
                  - orders
                  - members
                  created_at: '2026-06-18T09:42:31Z'
                  settings:
                    marketplace_page:
                      title: Northwind Rewards
                      logo_url: https://rewards.northwind.io/assets/logo.png
                      summary: Points and tiered rewards for every order.
                    details_page:
                    service_operational_countries:
                  app_extensions: []
                  install_webhook_url: https://rewards.northwind.io/fluid/webhooks/install
                  uninstall_webhook_url: https://rewards.northwind.io/fluid/webhooks/uninstall
                  widget_data_url:
                  lifecycle_contract_version: v2
                  updated_at: '2026-09-02T17:10:48Z'
                  owner_company:
                    id: 1042
                    name: Northwind Commerce
                  status: internal
                meta:
                  request_id: 3b1f6c2e-8d4a-4e7b-9f05-a2c1d6e8b347
                  timestamp: '2026-09-30T14:05:12Z'
                  pagination:
                    current_page: 1
                    total_pages: 1
                    total_count: 1
                    per_page: 25
        '401':
          description: The Bearer token is missing or invalid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '403':
          description: The caller is not a Fluid root administrator.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '422':
          description: A filter or pagination parameter is invalid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/droplets/{uuid}":
    get:
      summary: shows a droplet
      description: |-
        Retrieve a droplet by its `uuid`. What you see depends on who you are:

        - Any company with the `droplets.view` permission can view a droplet it can see — a published droplet, one it owns, or one it was granted access to — along with its `owner_company`.
        - The owner company also gets its webhook URLs, `widget_data_url`, and `lifecycle_contract_version`.
        - A Fluid root administrator can view any droplet, and also gets its raw lifecycle `status`.

        A droplet you cannot see returns 404.
      tags:
      - droplets
      operationId: integrations_v0_show_droplet
      security:
      - bearer_auth: []
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ShowDropletResponse200ApplicationJsonSchema"
              example:
                droplet:
                  uuid: drp_4Tq8nXw2KfL9mRv3BpZ6cYh1JdS7aGe5u
                  name: Middle-Out Order Analytics
                  categories:
                  - Analytics & Reporting
                  active: true
                  publicly_available: true
                  embed_url: https://apps.piedpiper.com/fluid/embed
                  requested_scopes:
                  - orders
                  - products
                  - members
                  created_at: '2026-09-08T16:20:44Z'
                  settings:
                    marketplace_page:
                      title: Middle-Out Order Analytics
                      logo_url: https://cdn.piedpiper.com/fluid/middle-out-logo.png
                      summary: Order and rep performance dashboards, compressed to what matters.
                    details_page:
                      title: Middle-Out Order Analytics
                      logo_url: https://cdn.piedpiper.com/fluid/middle-out-logo.png
                      summary: See sales by rep, product, and country without exporting a single spreadsheet.
                      features:
                      - name: Rep leaderboards
                        summary: Rank reps by sales and new enrollments.
                        details: Daily leaderboards show which reps drive the most revenue, refreshed every hour from your Fluid orders.
                        image_url: https://cdn.piedpiper.com/fluid/leaderboard.png
                        video_url:
                    service_operational_countries:
                    - USA
                    - CAN
                  app_extensions: []
                  updated_at: '2026-09-12T09:18:52Z'
                  owner_company:
                    id: 2210
                    name: Pied Piper
                meta:
                  request_id: 7e2c9b41-3f8a-4d15-b6e0-9a4c21d7f583
                  timestamp: '2026-09-14T15:32:08Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: droplet not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
    put:
      summary: updates a droplet
      description: Update an existing droplet. Regular users can update most fields
        (active, name, embed_url, settings, categories) on droplets owned by their
        company. Only root admins can update publicly_available and company_id fields.
        Root admins can update any droplet.
      tags:
      - droplets
      operationId: integrations_v0_update_droplet
      security:
      - bearer_auth: []
      parameters:
      - name: uuid
        in: path
        required: true
        description: Droplet UUID
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UpdateDropletResponse200ApplicationJsonSchema"
              example:
                droplet:
                  uuid: drp_4Tq8nXw2KfL9mRv3BpZ6cYh1JdS7aGe5u
                  name: Middle-Out Order Analytics
                  categories:
                  - Analytics & Reporting
                  - Sales & Conversion
                  active: true
                  publicly_available: true
                  embed_url: https://apps.piedpiper.com/fluid/v2/embed
                  requested_scopes:
                  - orders
                  - products
                  - members
                  created_at: '2026-09-08T16:20:44Z'
                  settings:
                    marketplace_page:
                      title: Middle-Out Order Analytics
                      logo_url: https://cdn.piedpiper.com/fluid/middle-out-logo.png
                      summary: Order and rep performance dashboards, compressed to what matters.
                    details_page:
                      title: Middle-Out Order Analytics
                      logo_url: https://cdn.piedpiper.com/fluid/middle-out-logo.png
                      summary: See sales by rep, product, and country without exporting a single spreadsheet.
                      features:
                      - name: Rep leaderboards
                        summary: Rank reps by sales and new enrollments.
                        details: Daily leaderboards show which reps drive the most revenue, refreshed every hour from your Fluid orders.
                        image_url: https://cdn.piedpiper.com/fluid/leaderboard.png
                        video_url:
                    service_operational_countries:
                    - USA
                    - CAN
                  app_extensions: []
                  install_webhook_url: https://apps.piedpiper.com/fluid/webhooks/install
                  uninstall_webhook_url: https://apps.piedpiper.com/fluid/webhooks/uninstall
                  widget_data_url:
                  lifecycle_contract_version: v2
                  updated_at: '2026-09-21T10:04:37Z'
                meta:
                  request_id: 7e2c9b41-3f8a-4d15-b6e0-9a4c21d7f583
                  timestamp: '2026-09-14T15:32:08Z'
        '401':
          description: Unauthorized. A missing or invalid token gets the short
            message body; a caller who may not set a field it sent (root-admin
            fields, `egress_proxy_enabled` from anyone but a root admin, or
            `egress_proxy_requested` from a non-admin member) gets the
            standard error envelope naming that field.
          content:
            application/json:
              schema:
                anyOf:
                - "$ref": "#/components/schemas/UnauthorizedResponse"
                - "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: droplet not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateDropletRequestBodyApplicationJsonSchema"
            example:
              droplet:
                active: true
                embed_url: https://apps.piedpiper.com/fluid/v2/embed
                categories:
                - analytics-reporting
                - sales-conversion
        description: Droplet update parameters
    delete:
      summary: deletes a droplet
      description: |-
        Permanently delete a droplet your company owns. Every installation of the droplet is removed with it, so companies that installed it lose access. This cannot be undone.

        Call it with a Bearer token for the droplet's owner company that has the `droplets.update` permission. A droplet your company does not own returns 404.
      tags:
      - droplets
      operationId: integrations_v0_destroy_droplet
      security:
      - bearer_auth: []
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DestroyDropletResponse200ApplicationJsonSchema"
              example:
                droplet:
                  uuid: drp_4Tq8nXw2KfL9mRv3BpZ6cYh1JdS7aGe5u
                meta:
                  request_id: 7e2c9b41-3f8a-4d15-b6e0-9a4c21d7f583
                  timestamp: '2026-09-14T15:32:08Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: droplet not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/droplets/{uuid}/companies":
    get:
      summary: returns an array of companies using a droplet
      description: |-
        List the companies that have installed a droplet. Only the droplet's owner company can call it: a Bearer token for any other company gets 401. The token needs the `droplets.view` permission.

        Results are paginated with `page` and `per_page` (default 25, maximum 100).
      tags:
      - droplets
      operationId: integrations_v0_show_droplet_companies
      security:
      - bearer_auth: []
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
      - name: pagination
        in: query
        schema:
          type: object
          properties:
            page:
              type: integer
              exclusiveMinimum: 0
            per_page:
              type: integer
              exclusiveMinimum: 0
              maximum: 100
          required: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ShowDropletCompaniesResponse200ApplicationJsonSchema"
              example:
                companies:
                - id: 1405
                  name: Dunder Mifflin Paper Company
                  active: true
                - id: 1873
                  name: Hooli
                  active: true
                meta:
                  request_id: 7e2c9b41-3f8a-4d15-b6e0-9a4c21d7f583
                  timestamp: '2026-09-14T15:32:08Z'
                  pagination:
                    current_page: 1
                    total_pages: 1
                    total_count: 2
                    per_page: 25
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
  "/api/droplets/{droplet_uuid}/access_grants":
    get:
      summary: List droplet access grants
      description: Lists companies granted access to a droplet. Root admin access is required.
      tags:
      - droplets
      operationId: integrations_v0_index_droplet_access_grants
      security:
      - bearer_auth: []
      parameters:
      - name: droplet_uuid
        in: path
        required: true
        description: The droplet UUID.
        schema:
          type: string
      - name: page
        in: query
        required: false
        description: The page number to return.
        schema:
          type: integer
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: The number of grants per page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: Access grants returned successfully.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/IndexDropletAccessGrantsResponse200ApplicationJsonSchema"
        '401':
          description: Authentication is required.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '403':
          description: Root administrator access is required.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: The droplet was not found.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Pagination parameters are invalid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
    post:
      summary: Create a droplet access grant
      description: Grants a company access to an internal droplet. Root admin access is required.
      tags:
      - droplets
      operationId: integrations_v0_create_droplet_access_grant
      security:
      - bearer_auth: []
      parameters:
      - name: droplet_uuid
        in: path
        required: true
        description: The droplet UUID.
        schema:
          type: string
      requestBody:
        required: true
        description: The company that should receive access.
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateDropletAccessGrantRequestBodyApplicationJsonSchema"
      responses:
        '201':
          description: Access was granted successfully.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateDropletAccessGrantResponse201ApplicationJsonSchema"
        '401':
          description: Authentication is required.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '403':
          description: Root administrator access is required.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: The droplet or company was not found.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: The grant is invalid or the droplet is not grantable.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/droplets/{droplet_uuid}/access_grants/{company_id}":
    delete:
      summary: Revoke a droplet access grant
      description: Revokes a company's access without uninstalling the droplet. Root admin access is required.
      tags:
      - droplets
      operationId: integrations_v0_destroy_droplet_access_grant
      security:
      - bearer_auth: []
      parameters:
      - name: droplet_uuid
        in: path
        required: true
        description: The droplet UUID.
        schema:
          type: string
      - name: company_id
        in: path
        required: true
        description: The numeric ID of the grantee company.
        schema:
          type: integer
          minimum: 1
      responses:
        '204':
          description: Access was revoked successfully.
        '401':
          description: Authentication is required.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '403':
          description: Root administrator access is required.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: The droplet, company, or access grant was not found.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/droplets/{uuid}/widget_package/git_credential":
    post:
      summary: Mint a short-lived git credential for the droplet widget repo
      tags:
      - droplets
      operationId: integrations_v0_droplet_widget_package_git_credential_create
      security:
      - bearer_auth: []
      description: |
        Returns an HTTPS clone URL with a fresh installation token from the
        Fluid GitHub App embedded as the password. The CLI uses it
        transparently — no `gh`, no PAT, no SSH key.

        Valid for ~1 hour (GitHub installation token TTL); re-mint on each
        operation.
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
        description: Droplet UUID
      responses:
        '201':
          description: Credential issued
          content:
            application/json:
              schema:
                type: object
                required:
                - git_credential
                properties:
                  git_credential:
                    "$ref": "#/components/schemas/GitCredential"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Droplet or widget package not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '409':
          description: Repo not yet provisioned or connected
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '502':
          description: GitHub provider error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
