---
openapi: 3.1.0
info:
  title: Fluid Member API v2026-10 — People
  description: |-
    The signed-in member's own identity, and the memberships their user holds
    across companies. Every operation acts as the member the bearer credential
    speaks for: the member and their company come from the credential alone,
    never from a path, query or body parameter.

    A member credential is a member session JWT, a portal JWT whose user
    company login is linked to a membership in that company, or a member
    token. Company, partner, public and droplet tokens are refused with 401,
    as are an admin's token, an admin's or root admin's portal JWT, any
    credential for a member who is also an admin of that company (their own
    member session JWT and member token included), a portal JWT with no membership
    linked to it, and a credential for a member who is removed, inactive or
    locked, whose user is deleted, or whose company is inactive.

    A member session JWT is also carried in order and subscription email links,
    so the contact operations (including a contact's activities, notes, tasks, orders and
    subscriptions), the contact import reads, the task reads, the note reads and the group reads
    refuse it with 403; a portal JWT or a member token reads them. The member's own orders,
    subscriptions and activity feed still accept it. The contact
    (including imports, bulk changes and a contact's activities, notes, tasks, orders and
    subscriptions), task, note and group operations are
    rep-only, as the legacy CRM endpoints are: a customer or preferred-customer
    membership receives 403 on every one of them, whatever its credential.
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
  version: 2026-10
security:
  - MemberBearer: []
servers:
  - url: https://api.fluid.app
    description: Production API server
  - url: https://api.fluid.test
    description: Local development server
tags:
  - name: me
    description: The signed-in member's own identity
  - name: profile
    description: The signed-in member's shared public profile
  - name: socials
    x-fluid-section: People
    description: The signed-in member's shared social accounts
  - name: companies
    description: The memberships the signed-in member's user holds, for a company switcher
  - name: points
    description: The signed-in member's loyalty points balance and ledger
    x-fluid-section: People
  - name: addresses
    description: The signed-in member's saved addresses and their default
    x-fluid-section: People
  - name: activities
    description: The signed-in member's activity feed and unread count.
    x-fluid-section: People
  - name: groups
    description: The signed-in member's contact groups.
    x-fluid-section: People
  - name: notes
    description: The notes on the signed-in member's contacts.
    x-fluid-section: People
  - name: tasks
    description: The signed-in member's to-dos.
    x-fluid-section: People
  - name: contacts
    description: The signed-in member's contacts.
    x-fluid-section: People
components:
  securitySchemes:
    MemberBearer:
      type: http
      scheme: bearer
      description: |
        A member credential in the `Authorization: Bearer` header: a member
        session JWT, a portal JWT whose login is linked to a membership in
        that company, or a member token. The credential alone
        identifies the member and company.
  headers:
    ETag:
      description: Fingerprint of this member's representation. Send it back in If-None-Match to skip the body while it is unchanged.
      schema:
        type: string
    CacheControl:
      description: Standard HTTP Cache-Control directive. Always private for this surface.
      schema:
        type: string
        example: "max-age=60, private"
  schemas:
    ActivitySubject:
      type: object
      description: The record an activity is about, resolved through the member's current ownership and visibility scopes.
      additionalProperties: false
      properties:
        kind:
          type: string
          enum:
          - order
          - media
          - contact
          description: What the subject is.
        id:
          type: string
          format: uuid
          description: Public id of the subject.
        title:
          type:
          - string
          - 'null'
          description: Display title.
        image_url:
          type:
          - string
          - 'null'
          description: Image, where the subject has one.
        url:
          type:
          - string
          - 'null'
          description: Reserved for a link to the subject; null today.
      required:
      - kind
      - id
      - title
      - image_url
      - url
    ActivityActor:
      type: object
      description: Who caused the activity, where it is one of the company's contacts.
      additionalProperties: false
      properties:
        kind:
          type: string
          enum:
          - contact
          description: What the actor is.
        id:
          type: string
          format: uuid
          description: Public id of the actor.
        name:
          type:
          - string
          - 'null'
          description: Actor's display name.
      required:
      - kind
      - id
      - name
    Activity:
      type: object
      description: One item in the member's feed.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
          description: Public activity id.
        kind:
          type: string
          enum:
          - abandoned_cart
          - announcements
          - cart_items_added
          - comment_reply
          - direct_message
          - new_lead
          - order_placed
          - page_views
          - page_views_contact
          - tasks
          - upcoming_event
          - video
          - video_started
          - video_complete
          - video_complete_contact
          - video_contact
          - message_received
          - message_sent
          - new_cart_items_added
          - smart_link_clicked
          - review_left
          - cart_item_removed
          - comment_like
          - emoji_reaction
          - media_views
          - enrollment
          - external_order
          - imported
          - cart_abandoned
          - fantasy_point
          - other
          description: The activity type. Types written before this list existed are reported as `other`.
        occurred_at:
          type: string
          format: date-time
          description: When the activity happened (UTC).
        read:
          type: boolean
          description: Whether the member has read it.
        summary:
          type:
          - string
          - 'null'
          description: One rendered line, stored in the language the activity was written in.
        subject:
          oneOf:
          - "$ref": "#/components/schemas/ActivitySubject"
          - type: 'null'
          description: The record the activity is about; null when it is not an order, media item or contact in this company.
        actor:
          oneOf:
          - "$ref": "#/components/schemas/ActivityActor"
          - type: 'null'
          description: The contact who caused it; null when there is none.
      required:
      - id
      - kind
      - occurred_at
      - read
      - summary
      - subject
      - actor
    ActivityEnvelope:
      type: object
      description: One activity.
      properties:
        status:
          type: integer
        data:
          "$ref": "#/components/schemas/Activity"
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
      required:
      - status
      - data
      - meta
    ActivitiesEnvelope:
      type: object
      description: One page of the activity feed.
      properties:
        status:
          type: integer
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Activity"
        meta:
          allOf:
          - "$ref": "#/components/schemas/ResponseMeta"
          - type: object
            properties:
              pagination:
                "$ref": "#/components/schemas/PaginationMeta"
            required:
            - pagination
      required:
      - status
      - data
      - meta
    UnreadCount:
      type: object
      description: The member's unread activity count.
      additionalProperties: false
      properties:
        count:
          type: integer
          minimum: 0
          description: Unread activities in this company.
      required:
      - count
    UnreadCountEnvelope:
      type: object
      description: The unread activity count.
      properties:
        status:
          type: integer
        data:
          "$ref": "#/components/schemas/UnreadCount"
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
      required:
      - status
      - data
      - meta
    ActivityRead:
      type: object
      description: 'Activities to mark read: give exactly one of `ids` or `before`.'
      additionalProperties: false
      properties:
        ids:
          type: array
          minItems: 1
          maxItems: 100
          items:
            type: string
            format: uuid
          description: Public ids of activities to mark read. Ids outside the member's feed are ignored.
        before:
          type: string
          format: date-time
          description: Mark every unread activity that occurred at or before this time.
      required: []
      minProperties: 1
      maxProperties: 1
    ResponseMeta:
      type: object
      description: Envelope metadata present on every response.
      properties:
        request_uuid:
          type: string
          format: uuid
          description: Server-generated UUIDv7 uniquely identifying this response.
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp at which the server produced the response.
      required:
        - request_uuid
        - timestamp
      additionalProperties: true
    ErrorEnvelope:
      type: object
      description: Standard error envelope.
      properties:
        status:
          type: integer
          description: HTTP status code (mirrors the response status line).
        error:
          type: object
          properties:
            message:
              type: string
              description: Human-readable error message.
            details:
              type: object
              additionalProperties: true
          required:
            - message
            - details
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
      required:
        - status
        - error
        - meta
    MemberTypeReference:
      type: object
      description: The member's type within their company.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        slug:
          type: string
          example: rep
        name:
          type: string
          example: Brand Partner
      required:
        - id
        - slug
        - name
    RankReference:
      type: object
      description: The member's rank.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
            - string
            - "null"
          description: The rank's name, or null when the rank has none.
          example: Silver
      required:
        - id
        - name
    CompanyReference:
      type: object
      description: The company this membership belongs to.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
            - string
            - "null"
          example: Dunder Mifflin Paper Company
        subdomain:
          type:
            - string
            - "null"
          example: dunder-mifflin
        logo_url:
          type:
            - string
            - "null"
          format: uri
      required:
        - id
        - name
        - subdomain
        - logo_url
    ContactNoteCreate:
      type: object
      description: A new note about the contact named by the path.
      additionalProperties: false
      properties:
        body:
          type: string
          minLength: 1
          maxLength: 10000
          pattern: "\\S"
          description: Note text.
        pinned:
          type: boolean
          description: Whether it is pinned; false unless set.
      required:
      - body
    ContactTaskCreate:
      type: object
      description: A new task about the contact named by the path.
      additionalProperties: false
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 10000
          pattern: "\\S"
          description: What to do.
        notes:
          type:
          - string
          - 'null'
          maxLength: 10000
          description: Optional detail; null leaves it empty.
        due_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Due time; null for none.
        priority:
          type: string
          enum:
          - low
          - normal
          - high
          description: Priority; `normal` unless set.
      required:
      - title
    ContactSummary:
      type: object
      description: A contact in the lite list shape.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
          description: Public contact id.
        first_name:
          type:
          - string
          - 'null'
          description: First name.
        last_name:
          type:
          - string
          - 'null'
          description: Last name.
        display_name:
          type:
          - string
          - 'null'
          description: Full name, falling back to email or phone; null when there is none.
        email:
          type:
          - string
          - 'null'
          description: Email address.
        phone:
          type:
          - string
          - 'null'
          description: Phone number.
        avatar_url:
          type:
          - string
          - 'null'
          description: Avatar image URL.
        status:
          type:
          - string
          - 'null'
          description: The member's pipeline status for the contact, such as `new`.
        source:
          type:
          - string
          - 'null'
          description: Where the contact came from.
        tags:
          type: array
          items:
            type: string
          description: Names of the member's groups the contact is in.
        groups:
          type: array
          items:
            type: string
            format: uuid
          description: Ids of the member's groups the contact is in.
        last_activity_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the newest activity about the contact happened, from a maintained counter; null when there is none.
        unread_activity:
          type: boolean
          description: Whether the contact has unread activity, from a maintained counter.
        created_at:
          type: string
          format: date-time
          description: When the contact was added.
        updated_at:
          type: string
          format: date-time
          description: When the contact last changed.
      required:
      - id
      - first_name
      - last_name
      - display_name
      - email
      - phone
      - avatar_url
      - status
      - source
      - tags
      - groups
      - last_activity_at
      - unread_activity
      - created_at
      - updated_at
    ContactAddress:
      type: object
      description: The contact's postal address.
      additionalProperties: false
      properties:
        line1:
          type:
          - string
          - 'null'
          description: Street line.
        line2:
          type:
          - string
          - 'null'
          description: Second line.
        city:
          type:
          - string
          - 'null'
          description: City.
        state:
          type:
          - string
          - 'null'
          description: State or region.
        postal_code:
          type:
          - string
          - 'null'
          description: Postal code.
        country_code:
          type:
          - string
          - 'null'
          description: ISO 3166-1 alpha-2 country code.
      required:
      - line1
      - line2
      - city
      - state
      - postal_code
      - country_code
    Contact:
      type: object
      description: A contact with its address and maintained counters.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
          description: Public contact id.
        first_name:
          type:
          - string
          - 'null'
          description: First name.
        last_name:
          type:
          - string
          - 'null'
          description: Last name.
        display_name:
          type:
          - string
          - 'null'
          description: Full name, falling back to email or phone; null when there is none.
        email:
          type:
          - string
          - 'null'
          description: Email address.
        phone:
          type:
          - string
          - 'null'
          description: Phone number.
        avatar_url:
          type:
          - string
          - 'null'
          description: Avatar image URL.
        status:
          type:
          - string
          - 'null'
          description: The member's pipeline status for the contact, such as `new`.
        source:
          type:
          - string
          - 'null'
          description: Where the contact came from.
        tags:
          type: array
          items:
            type: string
          description: Names of the member's groups the contact is in.
        groups:
          type: array
          items:
            type: string
            format: uuid
          description: Ids of the member's groups the contact is in.
        last_activity_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the newest activity about the contact happened, from a maintained counter; null when there is none.
        unread_activity:
          type: boolean
          description: Whether the contact has unread activity, from a maintained counter.
        created_at:
          type: string
          format: date-time
          description: When the contact was added.
        updated_at:
          type: string
          format: date-time
          description: When the contact last changed.
        address:
          oneOf:
          - "$ref": "#/components/schemas/ContactAddress"
          - type: 'null'
          description: Postal address; null when none is recorded.
        time_zone:
          type:
          - string
          - 'null'
          description: The contact's time zone.
        notes_count:
          type: integer
          minimum: 0
          description: Notes on the contact, from a maintained counter.
        tasks_open_count:
          type: integer
          minimum: 0
          description: Incomplete tasks about the contact, from a maintained counter.
      required:
      - id
      - first_name
      - last_name
      - display_name
      - email
      - phone
      - avatar_url
      - status
      - source
      - tags
      - groups
      - last_activity_at
      - unread_activity
      - created_at
      - updated_at
      - address
      - time_zone
      - notes_count
      - tasks_open_count
    ContactEnvelope:
      type: object
      description: One contact.
      properties:
        status:
          type: integer
        data:
          "$ref": "#/components/schemas/Contact"
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
      required:
      - status
      - data
      - meta
    ContactsEnvelope:
      type: object
      description: One page of contacts.
      properties:
        status:
          type: integer
        data:
          type: array
          items:
            "$ref": "#/components/schemas/ContactSummary"
        meta:
          allOf:
          - "$ref": "#/components/schemas/ResponseMeta"
          - type: object
            properties:
              pagination:
                "$ref": "#/components/schemas/PaginationMeta"
            required:
            - pagination
      required:
      - status
      - data
      - meta
    ContactCreate:
      type: object
      description: A new contact; give at least a first or last name.
      additionalProperties: false
      properties:
        first_name:
          type:
          - string
          - 'null'
          maxLength: 255
          pattern: '^[^\u0000]*$'
          description: First name.
        last_name:
          type:
          - string
          - 'null'
          maxLength: 255
          pattern: '^[^\u0000]*$'
          description: Last name.
        email:
          type:
          - string
          - 'null'
          maxLength: 255
          pattern: '^[^\u0000]*$'
          description: Email address.
        phone:
          type:
          - string
          - 'null'
          maxLength: 50
          pattern: '^[^\u0000]*$'
          description: Phone number.
        status:
          type:
          - string
          - 'null'
          maxLength: 50
          pattern: '^[^\u0000]*$'
          description: Pipeline status.
        source:
          type:
          - string
          - 'null'
          maxLength: 255
          pattern: '^[^\u0000]*$'
          description: Where the contact came from.
        time_zone:
          type:
          - string
          - 'null'
          maxLength: 255
          pattern: '^[^\u0000]*$'
          description: Time zone.
        address:
          type:
          - object
          - 'null'
          additionalProperties: false
          description: Postal address; null clears it.
          properties:
            line1:
              type:
              - string
              - 'null'
              maxLength: 255
              pattern: '^[^\u0000]*$'
            line2:
              type:
              - string
              - 'null'
              maxLength: 255
              pattern: '^[^\u0000]*$'
            city:
              type:
              - string
              - 'null'
              maxLength: 255
              pattern: '^[^\u0000]*$'
            state:
              type:
              - string
              - 'null'
              maxLength: 255
              pattern: '^[^\u0000]*$'
            postal_code:
              type:
              - string
              - 'null'
              maxLength: 255
              pattern: '^[^\u0000]*$'
            country_code:
              type:
              - string
              - 'null'
              pattern: "^[A-Za-z]{2}$"
              description: ISO 3166-1 alpha-2 code.
      required: []
    ContactUpdate:
      type: object
      description: Fields to change; omitted fields, including nested address fields, stay as they are. An explicit null clears the supplied field; a null address clears all address fields.
      additionalProperties: false
      properties:
        first_name:
          type:
          - string
          - 'null'
          maxLength: 255
          pattern: '^[^\u0000]*$'
          description: First name.
        last_name:
          type:
          - string
          - 'null'
          maxLength: 255
          pattern: '^[^\u0000]*$'
          description: Last name.
        email:
          type:
          - string
          - 'null'
          maxLength: 255
          pattern: '^[^\u0000]*$'
          description: Email address.
        phone:
          type:
          - string
          - 'null'
          maxLength: 50
          pattern: '^[^\u0000]*$'
          description: Phone number.
        status:
          type:
          - string
          - 'null'
          maxLength: 50
          pattern: '^[^\u0000]*$'
          description: Pipeline status.
        source:
          type:
          - string
          - 'null'
          maxLength: 255
          pattern: '^[^\u0000]*$'
          description: Where the contact came from.
        time_zone:
          type:
          - string
          - 'null'
          maxLength: 255
          pattern: '^[^\u0000]*$'
          description: Time zone.
        address:
          type:
          - object
          - 'null'
          additionalProperties: false
          description: Postal address; null clears it.
          properties:
            line1:
              type:
              - string
              - 'null'
              maxLength: 255
              pattern: '^[^\u0000]*$'
            line2:
              type:
              - string
              - 'null'
              maxLength: 255
              pattern: '^[^\u0000]*$'
            city:
              type:
              - string
              - 'null'
              maxLength: 255
              pattern: '^[^\u0000]*$'
            state:
              type:
              - string
              - 'null'
              maxLength: 255
              pattern: '^[^\u0000]*$'
            postal_code:
              type:
              - string
              - 'null'
              maxLength: 255
              pattern: '^[^\u0000]*$'
            country_code:
              type:
              - string
              - 'null'
              pattern: "^[A-Za-z]{2}$"
              description: ISO 3166-1 alpha-2 code.
      required: []
      minProperties: 1
    ContactsRemoved:
      type: object
      description: The result of a bulk removal.
      additionalProperties: false
      properties:
        removed_ids:
          type: array
          items:
            type: string
            format: uuid
          description: Ids that were removed. Ids that are not the member's contacts are left out.
      required:
      - removed_ids
    ContactsRemovedEnvelope:
      type: object
      description: Bulk removal result.
      properties:
        status:
          type: integer
        data:
          "$ref": "#/components/schemas/ContactsRemoved"
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
      required:
      - status
      - data
      - meta
    ContactImport:
      type: object
      description: A durable contact import and its progress.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
          description: Public import id.
        source:
          type: string
          enum:
          - bulk
          - csv
          description: How the rows arrived.
        status:
          type: string
          enum:
          - pending
          - processing
          - completed
          - failed
          description: Progress state.
        total_rows:
          type: integer
          description: Rows in the import.
        processed_rows:
          type: integer
          description: Rows handled so far.
        created_count:
          type: integer
          description: Contacts added.
        rejected_count:
          type: integer
          description: Rows rejected.
        rejected_rows:
          type: array
          description: Each rejected row (1-based) and its field-keyed reasons.
          items:
            type: object
            additionalProperties: false
            required:
            - row
            - errors
            properties:
              row:
                type: integer
                minimum: 1
              errors:
                type: object
                additionalProperties:
                  type: array
                  items:
                    type: string
        created_at:
          type: string
          format: date-time
          description: When the import was accepted.
        started_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When processing started; null while pending.
        finished_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When processing finished; null until then.
      required:
      - id
      - source
      - status
      - total_rows
      - processed_rows
      - created_count
      - rejected_count
      - rejected_rows
      - created_at
      - started_at
      - finished_at
    ContactImportEnvelope:
      type: object
      description: One contact import.
      properties:
        status:
          type: integer
        data:
          "$ref": "#/components/schemas/ContactImport"
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
      required:
      - status
      - data
      - meta
    ContactBulkCreate:
      type: object
      description: Contacts to add in the background.
      additionalProperties: false
      properties:
        contacts:
          type: array
          minItems: 1
          maxItems: 1000
          description: Rows to add. Each needs a first or last name; rows that fail, including a malformed email, are reported on the import. A value may not hold a null byte.
          items:
            type: object
            additionalProperties: false
            properties:
              first_name:
                type:
                - string
                - 'null'
                maxLength: 255
              last_name:
                type:
                - string
                - 'null'
                maxLength: 255
              email:
                type:
                - string
                - 'null'
                maxLength: 255
              phone:
                type:
                - string
                - 'null'
                maxLength: 50
              status:
                type:
                - string
                - 'null'
                maxLength: 50
              source:
                type:
                - string
                - 'null'
                maxLength: 255
      required:
      - contacts
    ContactReference:
      type: object
      description: An attached contact currently visible to the authenticated member. Task and note references are null when the contact is missing, discarded or outside that member's contact scope.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
          description: Public contact id.
        name:
          type:
          - string
          - 'null'
          description: Contact's display name; null when the contact has no name, email or phone.
          example: Jordan Lee
      required:
      - id
      - name
    Task:
      type: object
      description: A member's to-do, optionally about one of their contacts.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
          description: Public task id.
        title:
          type: string
          description: What to do.
        notes:
          type:
          - string
          - 'null'
          description: Optional detail.
        due_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When it is due; null when it has no due time.
        status:
          type: string
          enum:
          - active
          - completed
          description: "`completed` once completed_at is set."
        completed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When it was completed; null while active.
        priority:
          type: string
          enum:
          - low
          - normal
          - high
          description: Priority; `normal` unless set.
        contact:
          oneOf:
          - "$ref": "#/components/schemas/ContactReference"
          - type: 'null'
          description: The contact it is about, or null.
        created_at:
          type: string
          format: date-time
          description: When it was created.
        updated_at:
          type: string
          format: date-time
          description: When it last changed.
      required:
      - id
      - title
      - notes
      - due_at
      - status
      - completed_at
      - priority
      - contact
      - created_at
      - updated_at
    TaskCreate:
      type: object
      description: A new task.
      additionalProperties: false
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 10000
          pattern: '^[^\u0000]*[^\s\u0000][^\u0000]*$'
          description: What to do.
        notes:
          type:
          - string
          - 'null'
          maxLength: 10000
          pattern: '^[^\u0000]*$'
          description: Optional detail; null clears it.
        due_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Due time; null clears it.
        priority:
          type: string
          enum:
          - low
          - normal
          - high
          description: Priority.
        contact_id:
          type:
          - string
          - 'null'
          format: uuid
          description: One of the member's contacts; null detaches. Any other id returns 422.
      required:
      - title
    TaskUpdate:
      type: object
      description: Fields to change; omitted fields stay as they are.
      additionalProperties: false
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 10000
          pattern: '^[^\u0000]*[^\s\u0000][^\u0000]*$'
          description: What to do.
        notes:
          type:
          - string
          - 'null'
          maxLength: 10000
          pattern: '^[^\u0000]*$'
          description: Optional detail; null clears it.
        due_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Due time; null clears it.
        priority:
          type: string
          enum:
          - low
          - normal
          - high
          description: Priority.
        contact_id:
          type:
          - string
          - 'null'
          format: uuid
          description: One of the member's contacts; null detaches. Any other id returns 422.
      required: []
      minProperties: 1
    TaskEnvelope:
      type: object
      description: One task.
      properties:
        status:
          type: integer
        data:
          "$ref": "#/components/schemas/Task"
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
      required:
      - status
      - data
      - meta
    TasksEnvelope:
      type: object
      description: One page of tasks.
      properties:
        status:
          type: integer
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Task"
        meta:
          allOf:
          - "$ref": "#/components/schemas/ResponseMeta"
          - type: object
            properties:
              pagination:
                "$ref": "#/components/schemas/PaginationMeta"
            required:
            - pagination
      required:
      - status
      - data
      - meta
    Note:
      type: object
      description: A note on one of the member's contacts.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
          description: Public note id.
        body:
          type: string
          description: Note text.
        pinned:
          type: boolean
          description: Pinned notes list first.
        contact:
          oneOf:
          - "$ref": "#/components/schemas/ContactReference"
          - type: 'null'
          description: The contact it is about; null once the member no longer owns that contact.
        created_at:
          type: string
          format: date-time
          description: When it was created.
        updated_at:
          type: string
          format: date-time
          description: When it last changed.
      required:
      - id
      - body
      - pinned
      - contact
      - created_at
      - updated_at
    NoteCreate:
      type: object
      description: A new note.
      additionalProperties: false
      properties:
        body:
          type: string
          minLength: 1
          maxLength: 10000
          pattern: '^[^\u0000]*[^\s\u0000][^\u0000]*$'
          description: Note text.
        pinned:
          type: boolean
          description: Whether it is pinned; false unless set.
        contact_id:
          type: string
          format: uuid
          description: One of the member's contacts. Any other id returns 422.
      required:
      - body
      - contact_id
    NoteUpdate:
      type: object
      description: The new note text.
      additionalProperties: false
      properties:
        body:
          type: string
          minLength: 1
          maxLength: 10000
          pattern: '^[^\u0000]*[^\s\u0000][^\u0000]*$'
          description: Note text.
      required:
      - body
    NoteEnvelope:
      type: object
      description: One note.
      properties:
        status:
          type: integer
        data:
          "$ref": "#/components/schemas/Note"
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
      required:
      - status
      - data
      - meta
    NotesEnvelope:
      type: object
      description: One page of notes.
      properties:
        status:
          type: integer
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Note"
        meta:
          allOf:
          - "$ref": "#/components/schemas/ResponseMeta"
          - type: object
            properties:
              pagination:
                "$ref": "#/components/schemas/PaginationMeta"
            required:
            - pagination
      required:
      - status
      - data
      - meta
    Group:
      type: object
      description: A named set of the member's contacts.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
          description: Public group id.
        name:
          type: string
          description: Group name.
        color:
          type:
          - string
          - 'null'
          description: The stored display color as #RRGGBB, or null when none was ever set. Built-in groups such as Hot keep the color the member set.
        contacts_count:
          type: integer
          minimum: 0
          description: The group's memberships of the member's own contacts, from a maintained counter.
        created_at:
          type: string
          format: date-time
          description: When the group was created.
      required:
      - id
      - name
      - color
      - contacts_count
      - created_at
    GroupCreate:
      type: object
      description: A new group.
      additionalProperties: false
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          pattern: '^[^\u0000]*[^\s\u0000][^\u0000]*$'
          description: Group name.
        color:
          type: string
          pattern: "^#[0-9A-Fa-f]{6}$"
          description: 'Display color as #RRGGBB.'
      required:
      - name
    GroupUpdate:
      type: object
      description: Fields to change.
      additionalProperties: false
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          pattern: '^[^\u0000]*[^\s\u0000][^\u0000]*$'
          description: Group name.
        color:
          type: string
          pattern: "^#[0-9A-Fa-f]{6}$"
          description: 'Display color as #RRGGBB.'
      required: []
      minProperties: 1
    GroupContacts:
      type: object
      description: Contacts to add.
      additionalProperties: false
      properties:
        ids:
          type: array
          minItems: 1
          maxItems: 100
          items:
            type: string
            format: uuid
          description: Public ids of the member's contacts.
      required:
      - ids
    GroupEnvelope:
      type: object
      description: One group.
      properties:
        status:
          type: integer
        data:
          "$ref": "#/components/schemas/Group"
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
      required:
      - status
      - data
      - meta
    GroupsEnvelope:
      type: object
      description: One page of groups.
      properties:
        status:
          type: integer
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Group"
        meta:
          allOf:
          - "$ref": "#/components/schemas/ResponseMeta"
          - type: object
            properties:
              pagination:
                "$ref": "#/components/schemas/PaginationMeta"
            required:
            - pagination
      required:
      - status
      - data
      - meta
    SocialLink:
      type: object
      description: A shared-user social account. Blank platforms are omitted from the collection.
      additionalProperties: false
      required: [platform, handle, url, verified]
      properties:
        platform:
          type: string
          description: Public platform key; x maps to the legacy twitter column.
          enum: [facebook, instagram, x, linkedin, whatsapp, wechat, youtube, tiktok, pinterest]
          example: x
        handle:
          type: string
          description: Saved account handle or platform-specific profile path, preserving legacy values on reads.
          example: rae_kim
        url:
          type: [string, "null"]
          description: Canonical HTTPS profile URL, or null for WeChat and ambiguous legacy values. Bare stored YouTube values remain unresolved until explicitly edited.
          example: https://x.com/rae_kim
        verified:
          type: boolean
          const: false
          description: Always false; existing login data does not attest ownership of an editable social handle.
          example: false
    SocialLinkUpdate:
      type: object
      description: Exactly one handle or full HTTP(S) profile URL for the selected platform.
      additionalProperties: false
      oneOf:
        - required: [handle]
        - required: [url]
      properties:
        handle:
          type: string
          minLength: 1
          maxLength: 255
          pattern: "\\S"
          description: Account handle; WhatsApp uses international digits with an optional leading plus. YouTube also accepts channel/, c/, and user/ paths.
          example: rae_kim
        url:
          type: string
          minLength: 1
          maxLength: 2048
          description: Full profile URL on the selected platform. Unsupported paths, query strings, fragments, credentials and custom ports are refused.
          example: https://x.com/rae_kim
    SocialLinkEnvelope:
      type: object
      required: [data, meta]
      properties:
        data:
          "$ref": "#/components/schemas/SocialLink"
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
    SocialLinksEnvelope:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          maxItems: 9
          description: Supported saved accounts in platform order. This bounded collection is not paginated.
          items:
            "$ref": "#/components/schemas/SocialLink"
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
    Profile:
      type: object
      description: |
        Existing public profile fields. Name, biography and photo belong to
        the shared user; the site URL belongs to the current membership.
        Social accounts mirror GET /socials through the shared resolver and
        are read-only here. Uploads and catalogue fields without dedicated
        public-profile storage are not exposed in this slice.
      additionalProperties: false
      properties:
        display_name:
          type: string
          description: Shared public User name, matching MySite. Distinct from the membership identity display_name returned by /me; editing this field leaves membership names unchanged.
          example: Riley Kim
        bio:
          type: [string, "null"]
          description: Shared public biography; null when unset.
          example: Helping people build healthier habits.
        photo_url:
          type: [string, "null"]
          description: Existing shared profile image URL, read-only here.
          example: https://ik.imagekit.io/fluid/avatars/riley.png
        mysite_url:
          type: [string, "null"]
          format: uri
          description: Current membership's replicated site URL; null without a username.
          example: https://primex.fluid.app/my/riley-kim
        socials:
          type: array
          readOnly: true
          maxItems: 9
          description: Shared-user social accounts in the same stable platform order as GET /socials. Unset accounts are omitted; edit accounts through /socials/{platform}.
          items:
            "$ref": "#/components/schemas/SocialLink"
      required: [display_name, bio, photo_url, mysite_url, socials]
    ProfileUpdate:
      type: object
      description: Fields to change; omitted values remain unchanged.
      additionalProperties: false
      minProperties: 1
      properties:
        display_name:
          type: string
          minLength: 1
          pattern: '\S'
          description: Shared public name, not the membership identity returned by /me. A single-word name retains the existing surname.
          example: Rae Kim
        bio:
          type: [string, "null"]
          description: Public biography; null clears it.
          example: A new biography.
    ProfileEnvelope:
      type: object
      properties:
        status:
          type: integer
        data:
          "$ref": "#/components/schemas/Profile"
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
      required: [status, data, meta]
    Me:
      type: object
      description: The signed-in member. Identity only; counts, lists and credentials each have their own endpoint.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
          description: The member's identifier.
        username:
          type:
            - string
            - "null"
          description: The member's username, used in their replicated site URL.
          example: dwight-schrute
        first_name:
          type:
            - string
            - "null"
          example: Dwight
        last_name:
          type:
            - string
            - "null"
          example: Schrute
        display_name:
          type:
            - string
            - "null"
          description: |
            This membership's private display name: the name the member writer
            stores on the membership, which it derives from `first_name` and
            `last_name` on every name change, falling back to those two joined
            when nothing is stored. It is currently read-only here; change `first_name`
            or `last_name` to change it. Distinct from the shared public
            `display_name` on `/profile`.
          example: Dwight Schrute
        email:
          type: string
          format: email
          example: dwight.schrute@dundermifflin.com
        avatar_url:
          type:
            - string
            - "null"
          format: uri
          description: The member's avatar, resized for a header when the image supports it.
        language:
          type:
            - string
            - "null"
          description: ISO 639 language code, or null when unset.
          example: en
        country:
          type:
            - string
            - "null"
          description: ISO 3166-1 alpha-2 country code, or null when unset.
          example: US
        time_zone:
          type:
            - string
            - "null"
          description: IANA time zone name, or null when unset.
          example: America/New_York
        member_type:
          "$ref": "#/components/schemas/MemberTypeReference"
        rank:
          description: The member's rank, or null when they have none.
          oneOf:
            - "$ref": "#/components/schemas/RankReference"
            - type: "null"
        company:
          "$ref": "#/components/schemas/CompanyReference"
        mysite_url:
          type:
            - string
            - "null"
          format: uri
          description: The member's replicated site, or null when they have no username.
          example: https://shop.dundermifflin.com/my/dwight-schrute
        created_at:
          type: string
          format: date-time
          description: When the membership was created.
      required:
        - id
        - username
        - first_name
        - last_name
        - display_name
        - email
        - avatar_url
        - language
        - country
        - time_zone
        - member_type
        - rank
        - company
        - mysite_url
        - created_at
    MeEnvelope:
      type: object
      properties:
        status:
          type: integer
        data:
          "$ref": "#/components/schemas/Me"
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
      required:
        - status
        - data
        - meta
    MeUpdate:
      type: object
      description: |
        The fields of the signed-in member to change. At least one is required.
        `display_name` is derived from `first_name` and `last_name` and is
        refused with 422; `avatar_upload_id` is not accepted because this
        endpoint does not yet support avatar upload receipts.
      additionalProperties: false
      minProperties: 1
      properties:
        first_name:
          type: string
          minLength: 1
          maxLength: 50
          pattern: "\\S"
          description: The member's first name. Must contain a visible character.
          example: Dwight
        last_name:
          type: string
          minLength: 1
          maxLength: 50
          pattern: "\\S"
          description: The member's last name. Must contain a visible character.
          example: Schrute
        language:
          type: string
          minLength: 1
          description: ISO 639 code of one of the company's active languages.
          example: fr
        country:
          type: string
          pattern: "^[A-Z]{2}$"
          description: ISO 3166-1 alpha-2 country code.
          example: FR
        time_zone:
          type: string
          minLength: 1
          description: IANA time zone identifier. Rails display names ("Eastern Time (US & Canada)") and `UTC` are refused; use `Etc/UTC`.
          example: Europe/Paris
    MembershipCompany:
      type: object
      description: The company a membership belongs to, with what a switcher needs to render it.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
            - string
            - "null"
          example: Dunder Mifflin Paper Company
        subdomain:
          type:
            - string
            - "null"
          example: dunder-mifflin
        logo_url:
          type:
            - string
            - "null"
          format: uri
        icon_url:
          type:
            - string
            - "null"
          format: uri
        primary_color:
          type:
            - string
            - "null"
          description: The company's brand color, as hex without a leading `#`.
          example: 0C7CF6
      required:
        - id
        - name
        - subdomain
        - logo_url
        - icon_url
        - primary_color
    Membership:
      type: object
      description: One membership the signed-in member's user holds.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
          description: The membership's identifier (not the company's).
        company:
          "$ref": "#/components/schemas/MembershipCompany"
        member_type:
          description: |
            The membership's type in that company. Nullable so that a
            membership that exists only because the user is an admin of that
            company (typed `customer` as of v2026-10) can report null without a
            contract change. Use `roles` to tell admins apart.
          oneOf:
            - "$ref": "#/components/schemas/MemberTypeReference"
            - type: "null"
        roles:
          type: array
          description: The user's admin role slugs in that company; empty when they are not an admin there.
          items:
            type: string
          example:
            - admin
        active:
          type: boolean
          description: |
            Whether the membership's own state lets it act: not inactive (a
            grace period counts), not locked, and in an active company. A
            member credential for it may still be refused, for example when
            the user is also an admin of that company.
        current:
          type: boolean
          description: Whether this is the membership the request's credential speaks for.
        joined_at:
          type: string
          format: date-time
          description: When the membership was created.
      required:
        - id
        - company
        - member_type
        - roles
        - active
        - current
        - joined_at
    PaginationMeta:
      type: object
      description: Keyset pagination state for a list.
      additionalProperties: false
      properties:
        next_cursor:
          type:
            - string
            - "null"
          description: Send as `page[cursor]` for the next page; null on the last page.
      required:
        - next_cursor
    MembershipsEnvelope:
      type: object
      properties:
        status:
          type: integer
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Membership"
        meta:
          allOf:
            - "$ref": "#/components/schemas/ResponseMeta"
            - type: object
              properties:
                pagination:
                  "$ref": "#/components/schemas/PaginationMeta"
              required:
                - pagination
      required:
        - status
        - data
        - meta
    PointsBalance:
      type: object
      description: The member's current points balance in this company.
      additionalProperties: false
      properties:
        balance:
          type: integer
          description: Points available now, the running total after the newest ledger entry.
          example: 1250
        currency:
          type: string
          description: ISO 4217 code of the company's currency that `value` is expressed in.
          example: USD
        value:
          type: string
          description: The balance's value in `currency` at the company's conversion rate, as a decimal string.
          pattern: "^-?[0-9]+(?:\\.[0-9]+)?$"
          example: "12.5"
        expiring:
          type: array
          description: Points due to expire, soonest first. Fluid stores no point expiry, so this is always empty.
          maxItems: 0
          items:
            type: object
            additionalProperties: false
            properties:
              amount:
                type: integer
              expires_at:
                type: string
                format: date-time
            required:
              - amount
              - expires_at
      required:
        - balance
        - currency
        - value
        - expiring
    PointsBalanceEnvelope:
      type: object
      properties:
        status:
          type: integer
        data:
          "$ref": "#/components/schemas/PointsBalance"
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
      required:
        - status
        - data
        - meta
    PointsLedgerEntry:
      type: object
      description: One change to the member's points balance.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
          description: The entry's identifier.
        kind:
          type: string
          description: What caused the change. A recognized recorded transaction type is preserved regardless of its writer; an absent or unrecognized type is `adjustment`.
          enum:
            - order_credit
            - order_redemption
            - order_refund
            - order_refund_deduction
            - redemption_rollback
            - renewal_redemption_rollback
            - charge
            - adjustment
        amount:
          type: integer
          description: Points added (positive) or removed (negative).
          example: 120
        balance_after:
          type: integer
          description: The running balance immediately after this entry.
          example: 1250
        reason:
          type:
            - string
            - "null"
          description: The reason recorded with the entry, when one was given.
          example: Birthday bonus
        order_id:
          type:
            - string
            - "null"
          format: uuid
          description: The order the entry belongs to, only when the member placed that order; null otherwise.
        occurred_at:
          type: string
          format: date-time
          description: When the entry was recorded.
      required:
        - id
        - kind
        - amount
        - balance_after
        - reason
        - order_id
        - occurred_at
    PointsLedgerEnvelope:
      type: object
      properties:
        status:
          type: integer
        data:
          type: array
          items:
            "$ref": "#/components/schemas/PointsLedgerEntry"
        meta:
          allOf:
            - "$ref": "#/components/schemas/ResponseMeta"
            - type: object
              properties:
                pagination:
                  "$ref": "#/components/schemas/PaginationMeta"
              required:
                - pagination
      required:
        - status
        - data
        - meta
    SavedAddress:
      type: object
      description: One of the member's saved addresses.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
          description: The address's identifier.
        name:
          type: [string, "null"]
          example: Casey Brooks
        address1:
          type: [string, "null"]
          example: 742 Evergreen Terrace
        address2:
          type: [string, "null"]
          example: Apt 2
        city:
          type: [string, "null"]
          example: Springfield
        state:
          type: [string, "null"]
          example: IL
        postal_code:
          type: [string, "null"]
          example: "62704"
        country_code:
          type: [string, "null"]
          description: ISO 3166-1 alpha-2 country code.
          example: US
        phone:
          type: [string, "null"]
          example: "+12175550142"
        default_shipping:
          type: boolean
          description: |
            Whether this is the member's default address, which checkout uses
            for shipping. A member has at most one. There is no billing
            default: a billing address belongs to each payment method.
        created_at:
          type: [string, "null"]
          format: date-time
        updated_at:
          type: [string, "null"]
          format: date-time
      required:
        - id
        - name
        - address1
        - address2
        - city
        - state
        - postal_code
        - country_code
        - phone
        - default_shipping
        - created_at
        - updated_at
    SavedAddressInput:
      type: object
      description: A new saved address. Fields sit at the top level; any other field is refused.
      additionalProperties: false
      properties:
        address1:
          type: string
          minLength: 1
          maxLength: 255
        address2:
          type: [string, "null"]
          maxLength: 255
        city:
          type: string
          minLength: 1
          maxLength: 255
        state:
          type: string
          minLength: 1
          maxLength: 255
        postal_code:
          type: string
          minLength: 1
          maxLength: 32
        country_code:
          type: string
          pattern: "^[A-Z]{2}$"
        name:
          type: [string, "null"]
          maxLength: 255
        phone:
          type: [string, "null"]
          maxLength: 64
      required:
        - address1
        - city
        - state
        - postal_code
        - country_code
    SavedAddressUpdate:
      type: object
      description: The fields to change; at least one. Any other field is refused.
      additionalProperties: false
      minProperties: 1
      properties:
        address1:
          type: string
          minLength: 1
          maxLength: 255
        address2:
          type: [string, "null"]
          maxLength: 255
        city:
          type: string
          minLength: 1
          maxLength: 255
        state:
          type: string
          minLength: 1
          maxLength: 255
        postal_code:
          type: string
          minLength: 1
          maxLength: 32
        country_code:
          type: string
          pattern: "^[A-Z]{2}$"
          description: Refused while a live subscription ships to this address; subscription country cannot change.
        name:
          type: [string, "null"]
          maxLength: 255
        phone:
          type: [string, "null"]
          maxLength: 64
    SavedAddressEnvelope:
      type: object
      properties:
        status:
          type: integer
        data:
          "$ref": "#/components/schemas/SavedAddress"
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
      required:
        - status
        - data
        - meta
    SavedAddressesEnvelope:
      type: object
      properties:
        status:
          type: integer
        data:
          type: array
          items:
            "$ref": "#/components/schemas/SavedAddress"
        meta:
          allOf:
            - "$ref": "#/components/schemas/ResponseMeta"
            - type: object
              properties:
                pagination:
                  "$ref": "#/components/schemas/PaginationMeta"
              required:
                - pagination
      required:
        - status
        - data
        - meta
paths:
  "/api/member/v2026-10/socials":
    get:
      summary: List the signed-in member's social accounts
      description: |
        Returns at most nine saved social accounts from the shared user. Edits
        through any membership or legacy profile writer are visible here.
        Private responses have max-age=300 and an ETag over the rendered links
        and current membership. Authentication runs before conditional handling.
        Spotify and other catalogue resources are not exposed by this endpoint.
      operationId: member_socials_index
      x-fluid-audience: member
      tags: [socials]
      parameters:
        - name: If-None-Match
          in: header
          description: ETag from a prior socials response.
          schema:
            type: string
      responses:
        "200":
          description: The bounded collection of saved social accounts.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SocialLinksEnvelope"
              example:
                data:
                - platform: x
                  handle: rae_kim
                  url: https://x.com/rae_kim
                  verified: false
                meta:
                  request_uuid: 0198ec16-a579-7000-8000-000000000001
                  timestamp: "2026-10-01T12:00:00Z"
        "304":
          description: The authenticated member's representation is unchanged.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
        "401":
          description: Missing or unusable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/socials/{platform}":
    parameters:
      - name: platform
        in: path
        required: true
        description: Supported social platform; unknown keys return 422.
        schema:
          type: string
          enum: [facebook, instagram, x, linkedin, whatsapp, wechat, youtube, tiktok, pinterest]
          example: x
    put:
      summary: Upsert one social account
      description: |
        Accepts exactly one handle or profile URL at the top level. Changes the
        shared user, so all memberships see the edit. The existing lifecycle
        invalidates MySite caches; an actual change publishes profiles.updated
        with changed_fields=[socials] after commit. Unchanged values are a no-op.
        Only writable member tokens may write; member and portal JWTs return 403.

        x accepts x.com and twitter.com URLs; LinkedIn URLs must use /in/handle.
        YouTube normalizes bare handle input to @handle and supports channel/,
        c/, or user/ profile paths. Full YouTube URLs must already use one of
        these profile forms, including the @ prefix for a handle URL.
        WhatsApp uses an international number or wa.me URL. WeChat accepts a
        handle only and returns a null URL. For other platforms use a single
        profile handle, not a post URL. URLs may include www and a trailing slash.
        Query strings, fragments, custom ports and credentials are unsupported.
        Unknown or read-only fields return 422. Writes do not use the read cache policy.
      operationId: member_socials_update
      x-fluid-audience: member
      tags: [socials]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SocialLinkUpdate"
            example:
              handle: rae_kim
      responses:
        "400":
          description: The request body is not valid JSON.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "200":
          description: The saved social account.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SocialLinkEnvelope"
              example:
                data:
                  platform: x
                  handle: rae_kim
                  url: https://x.com/rae_kim
                  verified: false
                meta:
                  request_uuid: 0198ec16-a579-7000-8000-000000000001
                  timestamp: "2026-10-01T12:00:00Z"
        "401":
          description: Missing or unusable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "403":
          description: The member credential is read-only.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "422":
          description: Unknown platform, invalid profile input or model validation failure.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
    delete:
      summary: Remove one social account
      description: |
        Clears only the selected shared-user social field. Removing an absent
        account succeeds without writing or publishing an event. Actual removals
        use the same lifecycle and profiles.updated event as PUT. Only writable
        member tokens may remove an account; JWT credentials return 403.
      operationId: member_socials_destroy
      x-fluid-audience: member
      tags: [socials]
      responses:
        "400":
          description: The request body is not valid JSON.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "204":
          description: The social account is absent. No response body.
        "401":
          description: Missing or unusable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "403":
          description: The member credential is read-only.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "422":
          description: Unknown platform or model validation failure.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/profile":
    get:
      summary: Show the signed-in member's public profile
      description: |
        Returns the existing shared-user name, biography and photo, plus this
        membership's site URL. The bearer alone selects the member. Private
        contact details, counts and credentials are never included. Responses
        are privately cacheable for 300 seconds; the ETag changes whenever the
        rendered profile changes, including edits through another membership.
      operationId: member_profile_show
      tags: [profile]
      parameters:
        - name: If-None-Match
          in: header
          required: false
          description: ETag from a previous profile response.
          schema:
            type: string
      responses:
        "200":
          description: The signed-in member's public profile.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ProfileEnvelope"
        "304":
          description: The profile is unchanged; authentication is checked before this response.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
        "401":
          description: Missing or unusable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
    patch:
      summary: Update the signed-in member's public profile
      description: |
        Changes display_name and/or bio through the existing profile writer.
        These values are shared across the user's memberships. Membership
        identity fields remain unchanged. A name change is refused when any
        company the user belongs to locks shared name edits. An unchanged
        value is a no-op. Changed fields publish profiles.updated after commit.

        At least one field is required. Unknown and read-only fields are
        refused with 422 before any changes are made. Uploads and other
        catalogue fields need separate storage/resource work. Only a writable
        member token can update; existing member and portal JWTs return 403.
        Returns the same profile shape as GET, without its cache policy.
      operationId: member_profile_update
      tags: [profile]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ProfileUpdate"
            example:
              display_name: Rae Kim
              bio: Helping people build healthier habits.
      responses:
        "200":
          description: The updated public profile.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ProfileEnvelope"
        "400":
          description: The request body is not valid JSON.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "401":
          description: Missing or unusable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "403":
          description: The valid member credential is read-only.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "422":
          description: Invalid, unknown or read-only field, empty body, or shared name-edit lock.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/me":
    get:
      summary: Show the signed-in member
      description: Returns the identity of the member the bearer credential speaks for.
      tags:
        - me
      operationId: member_me_show
      responses:
        "200":
          description: The signed-in member.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MeEnvelope"
              example:
                status: 200
                data:
                  id: 0192f3a8-5c1e-7d42-9b6a-3e8f1c2d4a57
                  username: dwight-schrute
                  first_name: Dwight
                  last_name: Schrute
                  display_name: Dwight Schrute
                  email: dwight.schrute@dundermifflin.com
                  avatar_url: https://cdn.fluid.app/avatars/dunder-mifflin/dwight-schrute-105.jpg
                  language: en
                  country: US
                  time_zone: America/New_York
                  member_type:
                    id: 0192f3a1-2b7d-7e10-8c4f-5a9d2e6b1f03
                    slug: rep
                    name: Brand Partner
                  rank:
                    id: 0192f3a2-9e4c-7a18-b3d5-7c1f8e2a6d90
                    name: Assistant Regional Manager
                  company:
                    id: 0192f39f-7a3b-7c21-a8e4-1d6b9f3c5e82
                    name: Dunder Mifflin Paper Company
                    subdomain: dunder-mifflin
                    logo_url: https://cdn.fluid.app/companies/dunder-mifflin/logo.png
                  mysite_url: https://shop.dundermifflin.com/my/dwight-schrute
                  created_at: "2026-09-02T14:31:07Z"
                meta:
                  request_uuid: 0192f4c6-1d2e-7f30-a1b4-8c5d6e7f9a01
                  timestamp: "2026-09-30T15:04:12Z"
        "304":
          description: The member's representation has not changed since the supplied ETag.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
        "401":
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
    patch:
      summary: Update the signed-in member
      description: |
        Changes the signed-in member's name, language, country or time zone and
        returns the same body as `GET /me`. Send only the fields to change; at
        least one is required, none may be null, and any other field is
        refused.

        Country and time zone belong to the member's user, so a change applies
        in every company that user belongs to. A name change updates this
        membership and the user's shared profile; the user's memberships in
        other companies keep their own names. Because the shared profile
        changes, a change to `first_name` or `last_name` is refused with 422
        when any company the user belongs to has locked name changes. Sending
        the current value back is not a change.

        Only a member token can write. A member session JWT and a portal JWT
        can read but not write: the same JWTs travel in URLs (order and
        subscription email links, checkout links), so writes with them are
        refused with 403.
      tags:
        - me
      operationId: member_me_update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MeUpdate"
            example:
              language: fr
              time_zone: Europe/Paris
      responses:
        "200":
          description: The member after the change.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MeEnvelope"
              example:
                status: 200
                data:
                  id: 0192f3a8-5c1e-7d42-9b6a-3e8f1c2d4a57
                  username: dwight-schrute
                  first_name: Dwight
                  last_name: Schrute
                  display_name: Dwight Schrute
                  email: dwight.schrute@dundermifflin.com
                  avatar_url: https://cdn.fluid.app/avatars/dunder-mifflin/dwight-schrute-105.jpg
                  language: fr
                  country: US
                  time_zone: Europe/Paris
                  member_type:
                    id: 0192f3a1-2b7d-7e10-8c4f-5a9d2e6b1f03
                    slug: rep
                    name: Brand Partner
                  rank:
                    id: 0192f3a2-9e4c-7a18-b3d5-7c1f8e2a6d90
                    name: Assistant Regional Manager
                  company:
                    id: 0192f39f-7a3b-7c21-a8e4-1d6b9f3c5e82
                    name: Dunder Mifflin Paper Company
                    subdomain: dunder-mifflin
                    logo_url: https://cdn.fluid.app/companies/dunder-mifflin/logo.png
                  mysite_url: https://shop.dundermifflin.com/my/dwight-schrute
                  created_at: "2026-09-02T14:31:07Z"
                meta:
                  request_uuid: 0192f4c7-3a4b-7c52-b2d6-9e0f1a2b3c4d
                  timestamp: "2026-09-30T15:06:45Z"
        "400":
          description: The request body is not valid JSON.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "401":
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "403":
          description: A member credential that can only read, a member session JWT or a portal JWT.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "422":
          description: |
            A field is invalid, unknown or null, the body is empty, or a name
            change is refused by a name lock. `error.details` is keyed by
            field, or by `base` for an empty body.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/companies":
    get:
      summary: List the user's memberships
      description: |
        Every membership the signed-in member's user holds, the credential's
        own included, so a client can offer a company switcher. A company the
        user administers is listed too, with its admin roles. Removed
        memberships and removed companies never appear.

        Sorted by company name in the database's collation order (not
        lowercased), companies without a name last, then by membership id.
        A cursor is bound to the query that issued it: one sent with other
        `filter` values, or by another user, is ignored and the first page is
        returned.
      tags:
        - companies
      operationId: member_companies_index
      parameters:
        - name: filter[active]
          in: query
          required: false
          description: |
            `true` (the default) lists the memberships whose `active` is true;
            `false` lists the rest: inactive, locked, or in an inactive company.
          schema:
            type: boolean
          example: true
        - name: page[cursor]
          in: query
          required: false
          description: |
            Opaque cursor from a previous response's
            `meta.pagination.next_cursor`. Omit for the first page. A cursor
            that is malformed, tampered with or older than three days returns
            400; start again from the first page.
          schema:
            type: string
        - name: page[limit]
          in: query
          required: false
          description: Page size. Defaults to 25, at most 100.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
          example: 25
      responses:
        "200":
          description: One page of the user's memberships.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MembershipsEnvelope"
              example:
                status: 200
                data:
                  - id: 0192f3a8-5c1e-7d42-9b6a-3e8f1c2d4a57
                    company:
                      id: 0192f39f-7a3b-7c21-a8e4-1d6b9f3c5e82
                      name: Dunder Mifflin Paper Company
                      subdomain: dunder-mifflin
                      logo_url: https://cdn.fluid.app/companies/dunder-mifflin/logo.png
                      icon_url: https://cdn.fluid.app/companies/dunder-mifflin/icon.png
                      primary_color: 1F4E8C
                    member_type:
                      id: 0192f3a1-2b7d-7e10-8c4f-5a9d2e6b1f03
                      slug: rep
                      name: Brand Partner
                    roles: []
                    active: true
                    current: true
                    joined_at: "2026-09-02T14:31:07Z"
                  - id: 0192f3b4-6f8a-7b93-9d2c-4e5f6a7b8c90
                    company:
                      id: 0192f3b0-8c1d-7e45-a6f7-2b3c4d5e6f71
                      name: Hooli
                      subdomain: hooli
                      logo_url: https://cdn.fluid.app/companies/hooli/logo.png
                      icon_url: null
                      primary_color: 2E9E4F
                    member_type:
                      id: 0192f3b1-4d5e-7f60-b7a8-3c4d5e6f7a82
                      slug: customer
                      name: Customer
                    roles: []
                    active: true
                    current: false
                    joined_at: "2026-09-14T09:12:48Z"
                meta:
                  request_uuid: 0192f4c8-5b6c-7d74-c3e8-0f1a2b3c4d5e
                  timestamp: "2026-09-30T15:08:21Z"
                  pagination:
                    next_cursor: null
        "304":
          description: The page has not changed since the supplied ETag.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
        "400":
          description: The pagination cursor is malformed, tampered with or expired.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "401":
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "422":
          description: A query parameter is not valid, such as a non-boolean `filter[active]` or a `page[limit]` outside 1 to 100.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"

  "/api/member/v2026-10/points":
    get:
      x-fluid-audience: member
      summary: Show the member's points balance
      description: |
        The signed-in member's points balance in their company, with its value
        in the company's currency. Points are whole numbers. Fluid stores no
        point expiry, so `expiring` is always empty. A company without a
        points program answers 403.

        Privately cacheable for 30 seconds; any new ledger entry changes the
        body and its ETag.
      tags:
        - points
      operationId: member_points_show
      responses:
        "200":
          description: The member's balance.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PointsBalanceEnvelope"
              example:
                status: 200
                data:
                  balance: 1250
                  currency: USD
                  value: "12.5"
                  expiring: []
                meta:
                  request_uuid: 0192f4d1-2e3f-7a40-b5c6-7d8e9f0a1b2c
                  timestamp: "2026-09-30T15:10:02Z"
        "304":
          description: The balance has not changed since the supplied ETag.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
        "401":
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "403":
          description: The company has no points program.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"

  "/api/member/v2026-10/points/ledger":
    get:
      x-fluid-audience: member
      summary: List the member's points ledger
      description: |
        The signed-in member's points entries in their company, newest first
        (by time recorded, then entry). An order reference is included only
        for an order the member placed. Responses must be revalidated with
        the ETag.
      tags:
        - points
      operationId: member_points_ledger
      parameters:
        - name: page[cursor]
          in: query
          required: false
          description: |
            Opaque cursor from a previous response's
            `meta.pagination.next_cursor`. A cursor that is malformed,
            tampered with or older than three days returns 400.
          schema:
            type: string
        - name: page[limit]
          in: query
          required: false
          description: Page size. Defaults to 25, at most 100.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        "200":
          description: One page of ledger entries.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PointsLedgerEnvelope"
              example:
                status: 200
                data:
                  - id: 0192f4d2-6a7b-7c80-9d1e-2f3a4b5c6d7e
                    kind: order_credit
                    amount: 120
                    balance_after: 1250
                    reason: null
                    order_id: 0192f4b0-1c2d-7e30-8f4a-5b6c7d8e9f01
                    occurred_at: "2026-09-28T18:22:41.105331Z"
                  - id: 0192f3c9-4d5e-7f60-a1b2-3c4d5e6f7a8b
                    kind: adjustment
                    amount: 500
                    balance_after: 1130
                    reason: Birthday bonus
                    order_id: null
                    occurred_at: "2026-09-12T09:00:00.000000Z"
                meta:
                  request_uuid: 0192f4d3-8c9d-7ea0-b1c2-d3e4f5a6b7c8
                  timestamp: "2026-09-30T15:11:19Z"
                  pagination:
                    next_cursor: null
        "304":
          description: The page has not changed since the supplied ETag.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
        "400":
          description: The pagination cursor is malformed, tampered with or expired.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "401":
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "403":
          description: The company has no points program.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "422":
          description: A query parameter is not valid, such as a `page[limit]` outside 1 to 100 or an undeclared parameter.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/addresses":
    get:
      x-fluid-audience: member
      summary: List the member's saved addresses
      description: |
        The signed-in member's saved addresses, newest first. Responses must
        be revalidated with the ETag. A membership without an address book
        lists none.
      tags:
        - addresses
      operationId: member_addresses_index
      parameters:
        - name: page[cursor]
          in: query
          required: false
          description: Opaque cursor from `meta.pagination.next_cursor`. Malformed, tampered or expired (three days) cursors return 400.
          schema:
            type: string
        - name: page[limit]
          in: query
          required: false
          description: Page size. Defaults to 25, at most 100.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        "200":
          description: One page of saved addresses.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SavedAddressesEnvelope"
              example:
                status: 200
                data:
                - id: 0192f4f0-7a8b-7c9d-8e0f-1a2b3c4d5e6f
                  name: Casey Brooks
                  address1: 742 Evergreen Terrace
                  address2: null
                  city: Springfield
                  state: IL
                  postal_code: '62704'
                  country_code: US
                  phone: '+13125550188'
                  default_shipping: true
                  created_at: '2026-09-30T15:14:09.512088Z'
                  updated_at: '2026-09-30T15:14:09.512088Z'
                meta:
                  request_uuid: 0192f520-1a2b-7c3d-8e4f-5a6b7c8d9e0f
                  timestamp: '2026-09-30T15:20:00Z'
                  pagination:
                    next_cursor: null
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
        "304":
          description: Unchanged since the supplied ETag.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
        "400":
          description: The pagination cursor is malformed, tampered with or expired.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "401":
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "422":
          description: A query parameter is not valid or not declared.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
    post:
      x-fluid-audience: member
      summary: Save an address
      description: |
        Saves an address to the member's book. An identical saved address is
        reused and returned with 200 instead of creating a duplicate; a new
        one returns 201. Use `POST /addresses/{id}/default` to make it the
        default. Requires a writable member credential.
      tags:
        - addresses
      operationId: member_addresses_create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SavedAddressInput"
            example:
              name: Casey Brooks
              address1: 742 Evergreen Terrace
              city: Springfield
              state: IL
              postal_code: "62704"
              country_code: US
      responses:
        "200":
          description: An identical saved address was reused.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SavedAddressEnvelope"
              example:
                status: 200
                data:
                  id: 0192f4f0-7a8b-7c9d-8e0f-1a2b3c4d5e6f
                  name: Casey Brooks
                  address1: 1 Lakeshore Dr
                  address2: null
                  city: Chicago
                  state: IL
                  postal_code: '60601'
                  country_code: US
                  phone: '+13125550188'
                  default_shipping: false
                  created_at: '2026-09-30T15:14:09.512088Z'
                  updated_at: '2026-09-30T15:14:09.512088Z'
                meta:
                  request_uuid: 0192f520-1a2b-7c3d-8e4f-5a6b7c8d9e0f
                  timestamp: '2026-09-30T15:20:00Z'
        "201":
          description: The new saved address.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SavedAddressEnvelope"
              example:
                status: 201
                data:
                  id: 0192f4f0-7a8b-7c9d-8e0f-1a2b3c4d5e6f
                  name: Casey Brooks
                  address1: 1 Lakeshore Dr
                  address2: null
                  city: Chicago
                  state: IL
                  postal_code: '60601'
                  country_code: US
                  phone: '+13125550188'
                  default_shipping: false
                  created_at: '2026-09-30T15:14:09.512088Z'
                  updated_at: '2026-09-30T15:14:09.512088Z'
                meta:
                  request_uuid: 0192f520-1a2b-7c3d-8e4f-5a6b7c8d9e0f
                  timestamp: '2026-09-30T15:20:00Z'
        "400":
          description: The request body is not valid JSON.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "401":
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "403":
          description: The member credential can only read.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "422":
          description: A field is invalid, missing, unknown or empty, or the membership has no address book. `error.details` is keyed by field.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/addresses/{id}":
    parameters:
      - name: id
        in: path
        required: true
        description: The saved address's id.
        schema:
          type: string
          format: uuid
    get:
      x-fluid-audience: member
      summary: Show a saved address
      description: One of the signed-in member's saved addresses. Any other id returns 404.
      tags:
        - addresses
      operationId: member_addresses_show
      responses:
        "200":
          description: The saved address.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SavedAddressEnvelope"
              example:
                status: 200
                data:
                  id: 0192f4f0-7a8b-7c9d-8e0f-1a2b3c4d5e6f
                  name: Casey Brooks
                  address1: 742 Evergreen Terrace
                  address2: null
                  city: Springfield
                  state: IL
                  postal_code: "62704"
                  country_code: US
                  phone: "+12175550142"
                  default_shipping: true
                  created_at: "2026-08-14T10:02:33.000000Z"
                  updated_at: "2026-09-30T15:14:09.512088Z"
                meta:
                  request_uuid: 0192f4f1-9cad-7ebf-a0c1-d2e3f4a5b6c7
                  timestamp: "2026-09-30T15:14:09Z"
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
        "304":
          description: Unchanged since the supplied ETag.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
        "401":
[...]
