---
openapi: 3.1.0
info:
  title: Fluid Member API v2026-10 — People
  description: |
    The signed-in member's own identity, and the memberships their user holds
    across companies. Every operation acts as the member the bearer credential
    speaks for: the member and their company come from the credential alone,
    never from a path, query or body parameter.

    A member credential is a member session JWT, a portal JWT whose user
    company login is linked to a membership in that company, or a member
    token. Company, partner, public and droplet tokens are refused with 401,
    as are an admin's token, an admin's or root admin's portal JWT, any
    credential for a member who is also an admin of that company (their own
    member session JWT and member token included), a portal JWT with no membership
    linked to it, and a credential for a member who is removed, inactive or
    locked, whose user is deleted, or whose company is inactive.
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
  version: 2026-10
security:
  - MemberBearer: []
servers:
  - url: https://api.fluid.app
    description: Production API server
  - url: https://api.fluid.test
    description: Local development server
tags:
  - name: me
    description: The signed-in member's own identity
  - name: profile
    description: The signed-in member's shared public profile
  - name: socials
    x-fluid-section: People
    description: The signed-in member's shared social accounts
  - name: companies
    description: The memberships the signed-in member's user holds, for a company switcher
components:
  securitySchemes:
    MemberBearer:
      type: http
      scheme: bearer
      description: |
        A member credential in the `Authorization: Bearer` header: a member
        session JWT, a portal JWT whose login is linked to a membership in
        that company, or a member token. The credential alone
        identifies the member and company.
  headers:
    ETag:
      description: Fingerprint of this member's representation. Send it back in If-None-Match to skip the body while it is unchanged.
      schema:
        type: string
    CacheControl:
      description: Standard HTTP Cache-Control directive. Always private for this surface.
      schema:
        type: string
        example: "max-age=60, private"
  schemas:
    ResponseMeta:
      type: object
      description: Envelope metadata present on every response.
      properties:
        request_uuid:
          type: string
          format: uuid
          description: Server-generated UUIDv7 uniquely identifying this response.
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp at which the server produced the response.
      required:
        - request_uuid
        - timestamp
      additionalProperties: true
    ErrorEnvelope:
      type: object
      description: Standard error envelope.
      properties:
        status:
          type: integer
          description: HTTP status code (mirrors the response status line).
        error:
          type: object
          properties:
            message:
              type: string
              description: Human-readable error message.
            details:
              type: object
              additionalProperties: true
          required:
            - message
            - details
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
      required:
        - status
        - error
        - meta
    MemberTypeReference:
      type: object
      description: The member's type within their company.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        slug:
          type: string
          example: rep
        name:
          type: string
          example: Brand Partner
      required:
        - id
        - slug
        - name
    RankReference:
      type: object
      description: The member's rank.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
            - string
            - "null"
          description: The rank's name, or null when the rank has none.
          example: Silver
      required:
        - id
        - name
    CompanyReference:
      type: object
      description: The company this membership belongs to.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
            - string
            - "null"
          example: Dunder Mifflin Paper Company
        subdomain:
          type:
            - string
            - "null"
          example: dunder-mifflin
        logo_url:
          type:
            - string
            - "null"
          format: uri
      required:
        - id
        - name
        - subdomain
        - logo_url
    SocialLink:
      type: object
      description: A shared-user social account. Blank platforms are omitted from the collection.
      additionalProperties: false
      required: [platform, handle, url, verified]
      properties:
        platform:
          type: string
          description: Public platform key; x maps to the legacy twitter column.
          enum: [facebook, instagram, x, linkedin, whatsapp, wechat, youtube, tiktok, pinterest]
          example: x
        handle:
          type: string
          description: Saved account handle or platform-specific profile path, preserving legacy values on reads.
          example: rae_kim
        url:
          type: [string, "null"]
          description: Canonical HTTPS profile URL, or null for WeChat and ambiguous legacy values. Bare stored YouTube values remain unresolved until explicitly edited.
          example: https://x.com/rae_kim
        verified:
          type: boolean
          const: false
          description: Always false; existing login data does not attest ownership of an editable social handle.
          example: false
    SocialLinkUpdate:
      type: object
      description: Exactly one handle or full HTTP(S) profile URL for the selected platform.
      additionalProperties: false
      oneOf:
        - required: [handle]
        - required: [url]
      properties:
        handle:
          type: string
          minLength: 1
          maxLength: 255
          pattern: "\\S"
          description: Account handle; WhatsApp uses international digits with an optional leading plus. YouTube also accepts channel/, c/, and user/ paths.
          example: rae_kim
        url:
          type: string
          minLength: 1
          maxLength: 2048
          description: Full profile URL on the selected platform. Unsupported paths, query strings, fragments, credentials and custom ports are refused.
          example: https://x.com/rae_kim
    SocialLinkEnvelope:
      type: object
      required: [data, meta]
      properties:
        data:
          "$ref": "#/components/schemas/SocialLink"
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
    SocialLinksEnvelope:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          maxItems: 9
          description: Supported saved accounts in platform order. This bounded collection is not paginated.
          items:
            "$ref": "#/components/schemas/SocialLink"
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
    Profile:
      type: object
      description: |
        Existing public profile fields. Name, biography and photo belong to
        the shared user; the site URL belongs to the current membership.
        Social accounts, uploads and catalogue fields without dedicated
        public-profile storage are not exposed in this slice.
      additionalProperties: false
      properties:
        display_name:
          type: string
          description: Shared public User name, matching MySite. Distinct from the membership identity display_name returned by /me; editing this field leaves membership names unchanged.
          example: Riley Kim
        bio:
          type: [string, "null"]
          description: Shared public biography; null when unset.
          example: Helping people build healthier habits.
        photo_url:
          type: [string, "null"]
          description: Existing shared profile image URL, read-only here.
          example: https://ik.imagekit.io/fluid/avatars/riley.png
        mysite_url:
          type: [string, "null"]
          format: uri
          description: Current membership's replicated site URL; null without a username.
          example: https://primex.fluid.app/my/riley-kim
      required: [display_name, bio, photo_url, mysite_url]
    ProfileUpdate:
      type: object
      description: Fields to change; omitted values remain unchanged.
      additionalProperties: false
      minProperties: 1
      properties:
        display_name:
          type: string
          minLength: 1
          pattern: '\S'
          description: Shared public name, not the membership identity returned by /me. A single-word name retains the existing surname.
          example: Rae Kim
        bio:
          type: [string, "null"]
          description: Public biography; null clears it.
          example: A new biography.
    ProfileEnvelope:
      type: object
      properties:
        status:
          type: integer
        data:
          "$ref": "#/components/schemas/Profile"
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
      required: [status, data, meta]
    Me:
      type: object
      description: The signed-in member. Identity only; counts, lists and credentials each have their own endpoint.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
          description: The member's identifier.
        username:
          type:
            - string
            - "null"
          description: The member's username, used in their replicated site URL.
          example: dwight-schrute
        first_name:
          type:
            - string
            - "null"
          example: Dwight
        last_name:
          type:
            - string
            - "null"
          example: Schrute
        display_name:
          type:
            - string
            - "null"
          description: The member's chosen full name, or first and last name when none is set.
          example: Dwight Schrute
        email:
          type: string
          format: email
          example: dwight.schrute@dundermifflin.com
        avatar_url:
          type:
            - string
            - "null"
          format: uri
          description: The member's avatar, resized for a header when the image supports it.
        language:
          type:
            - string
            - "null"
          description: ISO 639 language code, or null when unset.
          example: en
        country:
          type:
            - string
            - "null"
          description: ISO 3166-1 alpha-2 country code, or null when unset.
          example: US
        time_zone:
          type:
            - string
            - "null"
          description: IANA time zone name, or null when unset.
          example: America/New_York
        member_type:
          "$ref": "#/components/schemas/MemberTypeReference"
        rank:
          description: The member's rank, or null when they have none.
          oneOf:
            - "$ref": "#/components/schemas/RankReference"
            - type: "null"
        company:
          "$ref": "#/components/schemas/CompanyReference"
        mysite_url:
          type:
            - string
            - "null"
          format: uri
          description: The member's replicated site, or null when they have no username.
          example: https://shop.dundermifflin.com/my/dwight-schrute
        created_at:
          type: string
          format: date-time
          description: When the membership was created.
      required:
        - id
        - username
        - first_name
        - last_name
        - display_name
        - email
        - avatar_url
        - language
        - country
        - time_zone
        - member_type
        - rank
        - company
        - mysite_url
        - created_at
    MeEnvelope:
      type: object
      properties:
        status:
          type: integer
        data:
          "$ref": "#/components/schemas/Me"
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
      required:
        - status
        - data
        - meta
    MeUpdate:
      type: object
      description: |
        The fields of the signed-in member to change. At least one is required.
        `display_name` and `avatar_upload_id` are not accepted.
      additionalProperties: false
      minProperties: 1
      properties:
        first_name:
          type: string
          minLength: 1
          maxLength: 50
          pattern: "\\S"
          description: The member's first name. Must contain a visible character.
          example: Dwight
        last_name:
          type: string
          minLength: 1
          maxLength: 50
          pattern: "\\S"
          description: The member's last name. Must contain a visible character.
          example: Schrute
        language:
          type: string
          minLength: 1
          description: ISO 639 code of one of the company's active languages.
          example: fr
        country:
          type: string
          pattern: "^[A-Z]{2}$"
          description: ISO 3166-1 alpha-2 country code.
          example: FR
        time_zone:
          type: string
          minLength: 1
          description: IANA time zone identifier. Rails display names ("Eastern Time (US & Canada)") and `UTC` are refused; use `Etc/UTC`.
          example: Europe/Paris
    MembershipCompany:
      type: object
      description: The company a membership belongs to, with what a switcher needs to render it.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
            - string
            - "null"
          example: Dunder Mifflin Paper Company
        subdomain:
          type:
            - string
            - "null"
          example: dunder-mifflin
        logo_url:
          type:
            - string
            - "null"
          format: uri
        icon_url:
          type:
            - string
            - "null"
          format: uri
        primary_color:
          type:
            - string
            - "null"
          description: The company's brand color, as hex without a leading `#`.
          example: 0C7CF6
      required:
        - id
        - name
        - subdomain
        - logo_url
        - icon_url
        - primary_color
    Membership:
      type: object
      description: One membership the signed-in member's user holds.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
          description: The membership's identifier (not the company's).
        company:
          "$ref": "#/components/schemas/MembershipCompany"
        member_type:
          description: |
            The membership's type in that company. Nullable so that a
            membership that exists only because the user is an admin of that
            company (typed `customer` as of v2026-10) can report null without a
            contract change. Use `roles` to tell admins apart.
          oneOf:
            - "$ref": "#/components/schemas/MemberTypeReference"
            - type: "null"
        roles:
          type: array
          description: The user's admin role slugs in that company; empty when they are not an admin there.
          items:
            type: string
          example:
            - admin
        active:
          type: boolean
          description: |
            Whether the membership's own state lets it act: not inactive (a
            grace period counts), not locked, and in an active company. A
            member credential for it may still be refused, for example when
            the user is also an admin of that company.
        current:
          type: boolean
          description: Whether this is the membership the request's credential speaks for.
        joined_at:
          type: string
          format: date-time
          description: When the membership was created.
      required:
        - id
        - company
        - member_type
        - roles
        - active
        - current
        - joined_at
    PaginationMeta:
      type: object
      description: Keyset pagination state for a list.
      additionalProperties: false
      properties:
        next_cursor:
          type:
            - string
            - "null"
          description: Send as `page[cursor]` for the next page; null on the last page.
      required:
        - next_cursor
    MembershipsEnvelope:
      type: object
      properties:
        status:
          type: integer
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Membership"
        meta:
          allOf:
            - "$ref": "#/components/schemas/ResponseMeta"
            - type: object
              properties:
                pagination:
                  "$ref": "#/components/schemas/PaginationMeta"
              required:
                - pagination
      required:
        - status
        - data
        - meta
paths:
  "/api/member/v2026-10/socials":
    get:
      summary: List the signed-in member's social accounts
      description: |
        Returns at most nine saved social accounts from the shared user. Edits
        through any membership or legacy profile writer are visible here.
        Private responses have max-age=300 and an ETag over the rendered links
        and current membership. Authentication runs before conditional handling.
        Spotify and other catalogue resources are not exposed by this endpoint.
      operationId: member_socials_index
      x-fluid-audience: member
      tags: [socials]
      parameters:
        - name: If-None-Match
          in: header
          description: ETag from a prior socials response.
          schema:
            type: string
      responses:
        "200":
          description: The bounded collection of saved social accounts.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SocialLinksEnvelope"
              example:
                data:
                - platform: x
                  handle: rae_kim
                  url: https://x.com/rae_kim
                  verified: false
                meta:
                  request_uuid: 0198ec16-a579-7000-8000-000000000001
                  timestamp: "2026-10-01T12:00:00Z"
        "304":
          description: The authenticated member's representation is unchanged.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
        "401":
          description: Missing or unusable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/socials/{platform}":
    parameters:
      - name: platform
        in: path
        required: true
        description: Supported social platform; unknown keys return 422.
        schema:
          type: string
          enum: [facebook, instagram, x, linkedin, whatsapp, wechat, youtube, tiktok, pinterest]
          example: x
    put:
      summary: Upsert one social account
      description: |
        Accepts exactly one handle or profile URL at the top level. Changes the
        shared user, so all memberships see the edit. The existing lifecycle
        invalidates MySite caches; an actual change publishes profiles.updated
        with changed_fields=[socials] after commit. Unchanged values are a no-op.
        Only writable member tokens may write; member and portal JWTs return 403.

        x accepts x.com and twitter.com URLs; LinkedIn URLs must use /in/handle.
        YouTube normalizes bare handle input to @handle and supports channel/,
        c/, or user/ profile paths. Full YouTube URLs must already use one of
        these profile forms, including the @ prefix for a handle URL.
        WhatsApp uses an international number or wa.me URL. WeChat accepts a
        handle only and returns a null URL. For other platforms use a single
        profile handle, not a post URL. URLs may include www and a trailing slash.
        Query strings, fragments, custom ports and credentials are unsupported.
        Unknown or read-only fields return 422. Writes do not use the read cache policy.
      operationId: member_socials_update
      x-fluid-audience: member
      tags: [socials]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SocialLinkUpdate"
            example:
              handle: rae_kim
      responses:
        "200":
          description: The saved social account.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SocialLinkEnvelope"
              example:
                data:
                  platform: x
                  handle: rae_kim
                  url: https://x.com/rae_kim
                  verified: false
                meta:
                  request_uuid: 0198ec16-a579-7000-8000-000000000001
                  timestamp: "2026-10-01T12:00:00Z"
        "401":
          description: Missing or unusable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "403":
          description: The member credential is read-only.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "422":
          description: Unknown platform, invalid profile input or model validation failure.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
    delete:
      summary: Remove one social account
      description: |
        Clears only the selected shared-user social field. Removing an absent
        account succeeds without writing or publishing an event. Actual removals
        use the same lifecycle and profiles.updated event as PUT. Only writable
        member tokens may remove an account; JWT credentials return 403.
      operationId: member_socials_destroy
      x-fluid-audience: member
      tags: [socials]
      responses:
        "204":
          description: The social account is absent. No response body.
        "401":
          description: Missing or unusable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "403":
          description: The member credential is read-only.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "422":
          description: Unknown platform or model validation failure.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/profile":
    get:
      summary: Show the signed-in member's public profile
      description: |
        Returns the existing shared-user name, biography and photo, plus this
        membership's site URL. The bearer alone selects the member. Private
        contact details, counts and credentials are never included. Responses
        are privately cacheable for 300 seconds; the ETag changes whenever the
        rendered profile changes, including edits through another membership.
      operationId: member_profile_show
      tags: [profile]
      parameters:
        - name: If-None-Match
          in: header
          required: false
          description: ETag from a previous profile response.
          schema:
            type: string
      responses:
        "200":
          description: The signed-in member's public profile.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ProfileEnvelope"
        "304":
          description: The profile is unchanged; authentication is checked before this response.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
        "401":
          description: Missing or unusable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
    patch:
      summary: Update the signed-in member's public profile
      description: |
        Changes display_name and/or bio through the existing profile writer.
        These values are shared across the user's memberships. Membership
        identity fields remain unchanged. A name change is refused when any
        company the user belongs to locks shared name edits. An unchanged
        value is a no-op. Changed fields publish profiles.updated after commit.

        At least one field is required. Unknown and read-only fields are
        refused with 422 before any changes are made. Uploads and other
        catalogue fields need separate storage/resource work. Only a writable
        member token can update; existing member and portal JWTs return 403.
        Returns the same profile shape as GET, without its cache policy.
      operationId: member_profile_update
      tags: [profile]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ProfileUpdate"
            example:
              display_name: Rae Kim
              bio: Helping people build healthier habits.
      responses:
        "200":
          description: The updated public profile.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ProfileEnvelope"
        "401":
          description: Missing or unusable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "403":
          description: The valid member credential is read-only.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "422":
          description: Invalid, unknown or read-only field, empty body, or shared name-edit lock.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/me":
    get:
      summary: Show the signed-in member
      description: Returns the identity of the member the bearer credential speaks for.
      tags:
        - me
      operationId: member_me_show
      responses:
        "200":
          description: The signed-in member.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MeEnvelope"
              example:
                status: 200
                data:
                  id: 0192f3a8-5c1e-7d42-9b6a-3e8f1c2d4a57
                  username: dwight-schrute
                  first_name: Dwight
                  last_name: Schrute
                  display_name: Dwight Schrute
                  email: dwight.schrute@dundermifflin.com
                  avatar_url: https://cdn.fluid.app/avatars/dunder-mifflin/dwight-schrute-105.jpg
                  language: en
                  country: US
                  time_zone: America/New_York
                  member_type:
                    id: 0192f3a1-2b7d-7e10-8c4f-5a9d2e6b1f03
                    slug: rep
                    name: Brand Partner
                  rank:
                    id: 0192f3a2-9e4c-7a18-b3d5-7c1f8e2a6d90
                    name: Assistant Regional Manager
                  company:
                    id: 0192f39f-7a3b-7c21-a8e4-1d6b9f3c5e82
                    name: Dunder Mifflin Paper Company
                    subdomain: dunder-mifflin
                    logo_url: https://cdn.fluid.app/companies/dunder-mifflin/logo.png
                  mysite_url: https://shop.dundermifflin.com/my/dwight-schrute
                  created_at: "2026-09-02T14:31:07Z"
                meta:
                  request_uuid: 0192f4c6-1d2e-7f30-a1b4-8c5d6e7f9a01
                  timestamp: "2026-09-30T15:04:12Z"
        "304":
          description: The member's representation has not changed since the supplied ETag.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
        "401":
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
    patch:
      summary: Update the signed-in member
      description: |
        Changes the signed-in member's name, language, country or time zone and
        returns the same body as `GET /me`. Send only the fields to change; at
        least one is required, none may be null, and any other field is
        refused.

        Country and time zone belong to the member's user, so a change applies
        in every company that user belongs to. A name change updates this
        membership and the user's shared profile; the user's memberships in
        other companies keep their own names. Because the shared profile
        changes, a change to `first_name` or `last_name` is refused with 422
        when any company the user belongs to has locked name changes. Sending
        the current value back is not a change.

        Only a member token can write. A member session JWT and a portal JWT
        can read but not write: the same JWTs travel in URLs (order and
        subscription email links, checkout links), so writes with them are
        refused with 403.
      tags:
        - me
      operationId: member_me_update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MeUpdate"
            example:
              language: fr
              time_zone: Europe/Paris
      responses:
        "200":
          description: The member after the change.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MeEnvelope"
              example:
                status: 200
                data:
                  id: 0192f3a8-5c1e-7d42-9b6a-3e8f1c2d4a57
                  username: dwight-schrute
                  first_name: Dwight
                  last_name: Schrute
                  display_name: Dwight Schrute
                  email: dwight.schrute@dundermifflin.com
                  avatar_url: https://cdn.fluid.app/avatars/dunder-mifflin/dwight-schrute-105.jpg
                  language: fr
                  country: US
                  time_zone: Europe/Paris
                  member_type:
                    id: 0192f3a1-2b7d-7e10-8c4f-5a9d2e6b1f03
                    slug: rep
                    name: Brand Partner
                  rank:
                    id: 0192f3a2-9e4c-7a18-b3d5-7c1f8e2a6d90
                    name: Assistant Regional Manager
                  company:
                    id: 0192f39f-7a3b-7c21-a8e4-1d6b9f3c5e82
                    name: Dunder Mifflin Paper Company
                    subdomain: dunder-mifflin
                    logo_url: https://cdn.fluid.app/companies/dunder-mifflin/logo.png
                  mysite_url: https://shop.dundermifflin.com/my/dwight-schrute
                  created_at: "2026-09-02T14:31:07Z"
                meta:
                  request_uuid: 0192f4c7-3a4b-7c52-b2d6-9e0f1a2b3c4d
                  timestamp: "2026-09-30T15:06:45Z"
        "401":
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "403":
          description: A member credential that can only read, a member session JWT or a portal JWT.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "422":
          description: |
            A field is invalid, unknown or null, the body is empty, or a name
            change is refused by a name lock. `error.details` is keyed by
            field, or by `base` for an empty body.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/companies":
    get:
      summary: List the user's memberships
      description: |
        Every membership the signed-in member's user holds, the credential's
        own included, so a client can offer a company switcher. A company the
        user administers is listed too, with its admin roles. Removed
        memberships and removed companies never appear.

        Sorted by company name in the database's collation order (not
        lowercased), companies without a name last, then by membership id.
        A cursor is bound to the query that issued it: one sent with other
        `filter` values, or by another user, is ignored and the first page is
        returned.
      tags:
        - companies
      operationId: member_companies_index
      parameters:
        - name: filter[active]
          in: query
          required: false
          description: |
            `true` (the default) lists the memberships whose `active` is true;
            `false` lists the rest: inactive, locked, or in an inactive company.
          schema:
            type: boolean
          example: true
        - name: page[cursor]
          in: query
          required: false
          description: |
            Opaque cursor from a previous response's
            `meta.pagination.next_cursor`. Omit for the first page. A cursor
            that is malformed, tampered with or older than three days returns
            400; start again from the first page.
          schema:
            type: string
        - name: page[limit]
          in: query
          required: false
          description: Page size. Defaults to 25, at most 100.
          schema:
            type: integer
            minimum: 1
            maximum: 100
          example: 25
      responses:
        "200":
          description: One page of the user's memberships.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MembershipsEnvelope"
              example:
                status: 200
                data:
                  - id: 0192f3a8-5c1e-7d42-9b6a-3e8f1c2d4a57
                    company:
                      id: 0192f39f-7a3b-7c21-a8e4-1d6b9f3c5e82
                      name: Dunder Mifflin Paper Company
                      subdomain: dunder-mifflin
                      logo_url: https://cdn.fluid.app/companies/dunder-mifflin/logo.png
                      icon_url: https://cdn.fluid.app/companies/dunder-mifflin/icon.png
                      primary_color: 1F4E8C
                    member_type:
                      id: 0192f3a1-2b7d-7e10-8c4f-5a9d2e6b1f03
                      slug: rep
                      name: Brand Partner
                    roles: []
                    active: true
                    current: true
                    joined_at: "2026-09-02T14:31:07Z"
                  - id: 0192f3b4-6f8a-7b93-9d2c-4e5f6a7b8c90
                    company:
                      id: 0192f3b0-8c1d-7e45-a6f7-2b3c4d5e6f71
                      name: Hooli
                      subdomain: hooli
                      logo_url: https://cdn.fluid.app/companies/hooli/logo.png
                      icon_url: null
                      primary_color: 2E9E4F
                    member_type:
                      id: 0192f3b1-4d5e-7f60-b7a8-3c4d5e6f7a82
                      slug: customer
                      name: Customer
                    roles: []
                    active: true
                    current: false
                    joined_at: "2026-09-14T09:12:48Z"
                meta:
                  request_uuid: 0192f4c8-5b6c-7d74-c3e8-0f1a2b3c4d5e
                  timestamp: "2026-09-30T15:08:21Z"
                  pagination:
                    next_cursor: null
        "304":
          description: The page has not changed since the supplied ETag.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
        "400":
          description: The pagination cursor is malformed, tampered with or expired.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "401":
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        "422":
          description: A query parameter is not valid, such as a non-boolean `filter[active]` or a `page[limit]` outside 1 to 100.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
