openapi: 3.1.0
info:
  title: Fluid Member API v2026-10 — Content
  description: >-
    The signed-in member's own media and playlists: list, read, write, and delete, including direct
    media uploads and media creation. The bearer credential determines the member and company; no path,
    query or body parameter can change either. Only rep-eligible memberships may use these endpoints;
    other memberships receive 403. Foreign, deleted, and malformed identifiers return 404. Playlist items
    are separate operations outside this contract. Upload bytes never pass through this API:
    `POST /media/uploads` signs a direct upload bound to one path in the member's own storage namespace,
    the client posts the file to the returned URL with the returned fields, and `POST /media` then
    verifies the stored object and creates the medium, consuming the upload once.
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
  version: 2026-10
security:
  - MemberBearer: []
servers:
  - url: https://api.fluid.app
    description: Production API server
  - url: https://api.fluid.test
    description: Local development server
tags:
  - name: media
    description: The signed-in member's own uploaded media.
    x-fluid-section: Members
  - name: playlists
    description: Ordered collections of media the member assembles to share.
    x-fluid-section: Members
  - name: shares
    description: Tracked links the member created, and what happened to them.
    x-fluid-section: Members
  - name: playlist-items
    description: Items and ordering in a member-owned playlist.
    x-fluid-section: Members
  - name: search
    description: Ranked search across the company's public storefront catalogue.
    x-fluid-section: Members
  - name: media-uploads
    description: Signed direct uploads that become the member's media.
    x-fluid-section: Members
components:
  securitySchemes:
    MemberBearer:
      type: http
      scheme: bearer
      description: |
        A member credential in the `Authorization: Bearer` header: a member
        session JWT, a portal JWT whose login is linked to a membership in
        that company, or an opaque member token. The credential alone
        identifies the member and company.
  headers:
    ETag:
      description: >-
        Fingerprint of this member's representation. Send it back in If-None-Match to skip the body while it
        is unchanged.
      schema:
        type: string
    RateLimitLimit:
      description: Searches allowed per minute for this credential.
      schema:
        type: string
        example: '30'
    RateLimitRemaining:
      description: Searches left in the current minute; always 0 on a refused request.
      schema:
        type: string
        example: '0'
    RateLimitReset:
      description: When the current minute ends and the credential's search budget is restored, as a UTC timestamp.
      schema:
        type: string
        example: 2026-09-30 18:25:00 UTC
    CacheControl:
      description: >-
        Standard HTTP Cache-Control directive. Private for member reads; no-store for search and uploads. Media
        reads send max-age=0, so a client revalidates with If-None-Match on every use.
      schema:
        type: string
        example: max-age=0, private
  parameters:
    MediumId:
      name: id
      in: path
      required: true
      description: Public id of a medium the signed-in member owns.
      schema:
        type: string
        format: uuid
    PlaylistId:
      name: id
      in: path
      required: true
      description: Public id of a playlist the signed-in member owns.
      schema:
        type: string
        format: uuid
    PageCursor:
      name: page[cursor]
      in: query
      description: Opaque cursor from meta.pagination.next_cursor. Expires after three days.
      schema:
        type: string
    PageLimit:
      name: page[limit]
      in: query
      description: Maximum number of items returned.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
  responses:
    NotModified:
      description: The member's representation matches If-None-Match.
      headers:
        ETag:
          $ref: '#/components/headers/ETag'
        Cache-Control:
          $ref: '#/components/headers/CacheControl'
    BadCursor:
      description: Malformed, tampered or expired pagination cursor.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Unauthorized:
      description: Missing or unusable member credential.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Forbidden:
      description: The membership cannot share content, or the credential is read-only and the request writes.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    NotFound:
      description: Missing identifier, malformed identifier, or a resource outside the member's scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Invalid:
      description: Unsupported parameter, invalid value, or a validation failure, with field-keyed details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    BadRequest:
      description: The JSON request body is malformed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    UploadUnavailable:
      description: Upload storage is unavailable or could not be asked; retry later. An upload is never consumed by this response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
  schemas:
    ResponseMeta:
      type: object
      description: Envelope metadata present on every response.
      properties:
        request_uuid:
          type: string
          format: uuid
          description: Server-generated UUIDv7 uniquely identifying this response.
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp at which the server produced the response.
      required:
        - request_uuid
        - timestamp
      additionalProperties: true
    ErrorEnvelope:
      type: object
      description: Standard error envelope.
      properties:
        status:
          type: integer
          description: HTTP status code (mirrors the response status line).
        error:
          type: object
          description: The error message and field-keyed details.
          properties:
            message:
              type: string
              description: Human-readable error message.
            details:
              type: object
              description: Field-keyed error details.
              additionalProperties: true
          required:
            - message
            - details
        meta:
          $ref: '#/components/schemas/ResponseMeta'
      required:
        - status
        - error
        - meta
    RateLimitError:
      type: object
      description: >-
        The rate limiter's refusal. It is sent before the request reaches the API, so it has no status, error
        or meta envelope.
      properties:
        error:
          type: string
          description: Always `Rate limit exceeded`.
          example: Rate limit exceeded
        message:
          type: string
          description: Human-readable explanation.
          example: Too many requests. Please wait before trying again.
        retry_after:
          type: integer
          minimum: 1
          description: Seconds until the credential's search budget is restored.
          example: 42
      required:
        - error
        - message
        - retry_after
    PaginationMeta:
      type: object
      description: Keyset pagination state for a list.
      additionalProperties: false
      properties:
        next_cursor:
          type:
            - string
            - 'null'
          description: Send as `page[cursor]` for the next page; null on the last page.
      required:
        - next_cursor
    PageMeta:
      description: Envelope metadata with the list's pagination state.
      allOf:
        - $ref: '#/components/schemas/ResponseMeta'
        - type: object
          properties:
            pagination:
              $ref: '#/components/schemas/PaginationMeta'
          required:
            - pagination
    Medium:
      type: object
      description: A medium the signed-in member uploaded.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
          description: Public medium id.
        kind:
          type: string
          description: What the medium is. Documents are PDFs and presentations.
          enum:
            - image
            - video
            - document
            - link
        title:
          type:
            - string
            - 'null'
          description: Title.
        description:
          type:
            - string
            - 'null'
          description: Plain-text description.
        tags:
          type: array
          description: Names of the company medium tags assigned to it.
          items:
            type: string
        url:
          type:
            - string
            - 'null'
          description: Delivery URL of the media file (or the destination of a link).
        thumbnail_url:
          type:
            - string
            - 'null'
          description: Thumbnail or image URL.
        duration:
          type:
            - integer
            - 'null'
          description: Video length in seconds, once known.
        size_bytes:
          type:
            - integer
            - 'null'
          description: Stored size in bytes, recorded for media created from a verified upload.
        status:
          type: string
          description: processing while a video's length and thumbnail are still being extracted, otherwise ready.
          enum:
            - processing
            - ready
        share_url:
          type:
            - string
            - 'null'
          description: The member's untracked storefront link, crediting their username; null without a username.
        created_at:
          type: string
          format: date-time
          description: When it was created.
        updated_at:
          type: string
          format: date-time
          description: When it last changed.
      required:
        - id
        - kind
        - title
        - description
        - tags
        - url
        - thumbnail_url
        - duration
        - size_bytes
        - status
        - share_url
        - created_at
        - updated_at
    MediumEnvelope:
      type: object
      description: One medium.
      properties:
        status:
          type: integer
          description: HTTP response status.
        data:
          $ref: '#/components/schemas/Medium'
        meta:
          $ref: '#/components/schemas/ResponseMeta'
      required:
        - status
        - data
        - meta
    MediaEnvelope:
      type: object
      description: A page of media.
      properties:
        status:
          type: integer
          description: HTTP response status.
        data:
          type: array
          description: The page's media, newest first.
          items:
            $ref: '#/components/schemas/Medium'
        meta:
          $ref: '#/components/schemas/PageMeta'
      required:
        - status
        - data
        - meta
    Playlist:
      type: object
      description: A playlist the signed-in member owns.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
          description: Public playlist id.
        title:
          type:
            - string
            - 'null'
          description: Title.
        description:
          type:
            - string
            - 'null'
          description: Description.
        cover_url:
          type:
            - string
            - 'null'
          description: The playlist's cover image, or the image of its first medium that has one.
        items_count:
          type: integer
          description: Number of items in the playlist.
        visibility:
          type: string
          description: >-
            shared playlists are published on the storefront and can be shared. private playlists are
            unlisted: they are omitted from the storefront catalogue and search, and the Member API does
            not generate a share URL for them. Existing public direct links continue to work, matching
            legacy playlist behavior; private does not restrict direct-link access.
          enum:
            - private
            - shared
        share_url:
          type:
            - string
            - 'null'
          description: The member's untracked storefront link; null while private or without a username.
        created_at:
          type: string
          format: date-time
          description: When it was created.
        updated_at:
          type: string
          format: date-time
          description: When it last changed.
      required:
        - id
        - title
        - description
        - cover_url
        - items_count
        - visibility
        - share_url
        - created_at
        - updated_at
    PlaylistEnvelope:
      type: object
      description: One playlist.
      properties:
        status:
          type: integer
          description: HTTP response status.
        data:
          $ref: '#/components/schemas/Playlist'
        meta:
          $ref: '#/components/schemas/ResponseMeta'
      required:
        - status
        - data
        - meta
    PlaylistsEnvelope:
      type: object
      description: A page of playlists.
      properties:
        status:
          type: integer
          description: HTTP response status.
        data:
          type: array
          description: The page's playlists, newest first.
          items:
            $ref: '#/components/schemas/Playlist'
        meta:
          $ref: '#/components/schemas/PageMeta'
      required:
        - status
        - data
        - meta
    ShareTarget:
      type:
        - object
        - 'null'
      description: >-
        Current summary of the shared target, or null if it no longer exists or is no longer readable by this
        member. Owned private kept playlists remain readable in history, although creating a new playlist share
        requires shared visibility.
      additionalProperties: false
      properties:
        kind:
          type: string
          description: Target kind.
          enum:
            - media
            - playlist
            - product
            - enrollment_pack
            - page
        id:
          type: string
          format: uuid
          description: Public id of the target.
        title:
          type:
            - string
            - 'null'
          description: Target title.
        image_url:
          type:
            - string
            - 'null'
          description: Target image, when it stores one.
      required:
        - kind
        - id
        - title
        - image_url
    Share:
      type: object
      description: A tracked link the member created.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
          description: Public share id.
        target:
          $ref: '#/components/schemas/ShareTarget'
        channel:
          type: string
          description: Client-provided channel recorded when this share was created. It does not verify delivery or change when legacy APIs reuse the link. Shares made before this API read as link.
          enum:
            - link
            - email
            - sms
            - whatsapp
            - facebook
            - x
            - qr
        recipient:
          type:
            - object
            - 'null'
          description: >-
            The current identity of the member's kept contact it was shared with; null if no recipient was
            recorded or the contact is no longer owned in this company.
          additionalProperties: false
          properties:
            contact_id:
              type: string
              format: uuid
              description: Public contact id.
            name:
              type:
                - string
                - 'null'
              description: Contact name.
          required:
            - contact_id
            - name
        url:
          type: string
          format: uri
          description: The tracked link to hand out.
        opens_count:
          type: integer
          description: How many times the tracked link has been opened.
        last_opened_at:
          type:
            - string
            - 'null'
          format: date-time
          description: When the link last led to a recorded storefront visit.
        created_at:
          type: string
          format: date-time
          description: When it was created.
      required:
        - id
        - target
        - channel
        - recipient
        - url
        - opens_count
        - last_opened_at
        - created_at
    ShareFields:
      description: The share fields shared by list and detail.
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Public share id.
        target:
          $ref: '#/components/schemas/ShareTarget'
        channel:
          $ref: '#/components/schemas/Share/properties/channel'
        recipient:
          $ref: '#/components/schemas/Share/properties/recipient'
        url:
          type: string
          format: uri
          description: The tracked link to hand out.
        opens_count:
          type: integer
          description: How many times the tracked link has been opened.
        last_opened_at:
          type:
            - string
            - 'null'
          format: date-time
          description: When the link last led to a recorded storefront visit.
        created_at:
          type: string
          format: date-time
          description: When it was created.
      required:
        - id
        - target
        - channel
        - recipient
        - url
        - opens_count
        - last_opened_at
        - created_at
    ShareDetail:
      description: A tracked link with its recent activity.
      allOf:
        - $ref: '#/components/schemas/ShareFields'
        - type: object
          properties:
            events:
              type: array
              description: 'Activity newest first: when the link was created, and its 50 most recent storefront visits and orders. Creation is not confirmation of delivery; the client delivers the link.'
              items:
                type: object
                description: One event.
                additionalProperties: false
                properties:
                  type:
                    type: string
                    description: What happened.
                    enum:
                      - created
                      - visited
                      - converted
                  occurred_at:
                    type: string
                    format: date-time
                    description: When it happened.
                required:
                  - type
                  - occurred_at
          required:
            - events
    ShareEnvelope:
      type: object
      description: One share.
      properties:
        status:
          type: integer
          description: HTTP response status.
        data:
          $ref: '#/components/schemas/Share'
        meta:
          $ref: '#/components/schemas/ResponseMeta'
      required:
        - status
        - data
        - meta
    ShareDetailEnvelope:
      type: object
      description: One share with its activity.
      properties:
        status:
          type: integer
          description: HTTP response status.
        data:
          $ref: '#/components/schemas/ShareDetail'
        meta:
          $ref: '#/components/schemas/ResponseMeta'
      required:
        - status
        - data
        - meta
    SharesEnvelope:
      type: object
      description: A page of shares.
      properties:
        status:
          type: integer
          description: HTTP response status.
        data:
          type: array
          description: The page's shares, newest first.
          items:
            $ref: '#/components/schemas/Share'
        meta:
          $ref: '#/components/schemas/PageMeta'
      required:
        - status
        - data
        - meta
    PlaylistItem:
      type: object
      description: One item of a playlist.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
          description: Public item id.
        position:
          type:
            - integer
            - 'null'
          description: Position in the playlist, starting at 1; null for historical unpositioned items, including legacy zero or negative stored positions. Items retain their canonical stored order.
        content_kind:
          type: string
          description: >-
            What the item is. Playlists edited elsewhere may also hold products, pages or enrollment packs; those keep their
            place with media null.
          enum:
            - media
            - product
            - page
            - enrollment_pack
            - other
        media:
          description: >-
            Summary of a kept own upload or currently public company catalogue medium. Null for other item kinds or
            unavailable media; the item retains its id and position.
          oneOf:
            - type: object
              description: Medium summary.
              additionalProperties: false
              properties:
                id:
                  type: string
                  format: uuid
                  description: Public medium id.
                kind:
                  type: string
                  description: What the medium is.
                  enum:
                    - image
                    - video
                    - document
                    - link
                title:
                  type:
                    - string
                    - 'null'
                  description: Title.
                thumbnail_url:
                  type:
                    - string
                    - 'null'
                  description: Thumbnail or image URL.
                duration:
                  type:
                    - integer
                    - 'null'
                  description: Video length in seconds, once known.
              required:
                - id
                - kind
                - title
                - thumbnail_url
                - duration
            - type: 'null'
      required:
        - id
        - position
        - content_kind
        - media
    PlaylistItemEnvelope:
      type: object
      description: One playlist item.
      properties:
        status:
          type: integer
          description: HTTP response status.
        data:
          $ref: '#/components/schemas/PlaylistItem'
        meta:
          $ref: '#/components/schemas/ResponseMeta'
      required:
        - status
        - data
        - meta
    PlaylistItemsEnvelope:
      type: object
      description: A page of playlist items, in playlist order.
      properties:
        status:
          type: integer
          description: HTTP response status.
        data:
          type: array
          description: The page's items.
          items:
            $ref: '#/components/schemas/PlaylistItem'
        meta:
          $ref: '#/components/schemas/PageMeta'
      required:
        - status
        - data
        - meta
    ReorderedItemsEnvelope:
      type: object
      description: Every item of the playlist in its new order.
      properties:
        status:
          type: integer
          description: HTTP response status.
        data:
          type: array
          description: The playlist's items, in their new order.
          items:
            $ref: '#/components/schemas/PlaylistItem'
        meta:
          $ref: '#/components/schemas/ResponseMeta'
      required:
        - status
        - data
        - meta
    SearchHit:
      type: object
      description: One ranked catalogue result.
      additionalProperties: false
      properties:
        kind:
          type: string
          description: Catalogue type of the result.
          enum:
            - products
            - enrollment-packs
            - pages
            - media
            - playlists
            - posts
        id:
          type: string
          format: uuid
          description: Public id of the result.
        title:
          type:
            - string
            - 'null'
          description: Title of the result.
        image_url:
          type:
            - string
            - 'null'
          description: Stored image, when the type stores one.
        url:
          type:
            - string
            - 'null'
          description: >-
            Canonical storefront URL, built from the result's slug. An enrollment pack without a slug uses its token
            instead; null when the result has neither.
        share_url:
          type:
            - string
            - 'null'
          description: >-
            The member's untracked storefront link crediting their username, built from the same slug or enrollment
            pack token as url; null without a username, or when the result has neither a slug nor a token.
        snippet:
          type:
            - string
            - 'null'
          description: Plain-text excerpt of the description, up to 200 characters.
        score:
          type:
            - number
            - 'null'
          description: Relevance score; comparable within one response only.
      required:
        - kind
        - id
        - title
        - image_url
        - url
        - share_url
        - snippet
        - score
    SearchMeta:
      description: Envelope metadata with per-type facets and the search cursor.
      allOf:
        - $ref: '#/components/schemas/ResponseMeta'
        - type: object
          properties:
            facets:
              type: object
              description: >-
                Number of matching results of each requested type, counted in the search itself. A result
                changed since it was last indexed can be counted before the index catches up.
              additionalProperties:
                type: integer
            pagination:
              $ref: '#/components/schemas/PaginationMeta'
          required:
            - facets
            - pagination
    SearchEnvelope:
      type: object
      description: One page of search results.
      properties:
        status:
          type: integer
          description: HTTP response status.
        data:
          type: array
          description: Hits, best match first.
          items:
            $ref: '#/components/schemas/SearchHit'
        meta:
          $ref: '#/components/schemas/SearchMeta'
      required:
        - status
        - data
        - meta
    UploadEnvelope:
      type: object
      description: One signed upload.
      properties:
        status:
          type: integer
          description: HTTP response status.
        data:
          $ref: '#/components/schemas/Upload'
        meta:
          $ref: '#/components/schemas/ResponseMeta'
      required:
        - status
        - data
        - meta
    Upload:
      type: object
      description: >-
        A signed direct upload. POST the file as multipart form data to `url`, sending every entry of
        `fields` unchanged plus the file as `file`, before `expires_at`. Then create the medium with
        `upload_id`.
      additionalProperties: false
      properties:
        upload_id:
          type: string
          format: uuid
          description: Receipt id; send it to POST /media once the file is stored, or for an image to PATCH /me (`avatar_upload_id`) or PATCH /profile (`photo_upload_id`). It is used once.
        url:
          type: string
          format: uri
          description: Where to post the file.
        fields:
          type: object
          description: Signed form fields to post with the file, unchanged.
          additionalProperties:
            type: string
        expires_at:
          type: string
          format: date-time
          description: When the signature expires. POST /media accepts the upload for one hour after this.
      required:
        - upload_id
        - url
        - fields
        - expires_at
paths:
  /api/member/v2026-10/media:
    get:
      operationId: member_media_index
      tags:
        - media
      summary: List the member's media
      description: >-
        Returns the member's own uploads, newest first. Company media the member may share come from the
        public storefront catalogue and search, not from here. Responses are private and must be revalidated.
      parameters:
        - name: filter[kind]
          in: query
          description: Only media of this kind.
          schema:
            type: string
            enum:
              - image
              - video
              - document
              - link
        - name: filter[tag]
          in: query
          description: Only media with this company medium tag.
          schema:
            type: string
            minLength: 1
            maxLength: 255
        - name: filter[q]
          in: query
          description: Only media whose title, in any language, contains this text, case-insensitively.
          schema:
            type: string
            minLength: 1
            maxLength: 200
        - $ref: '#/components/parameters/PageCursor'
        - $ref: '#/components/parameters/PageLimit'
      responses:
        '200':
          description: A page of the member's media.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaEnvelope'
              example:
                status: 200
                data:
                  - id: 0199a3f2-5c1e-7d4b-9a10-3b2c1d4e5f60
                    kind: video
                    title: Morning routine
                    description: How I start my day with the wellness kit.
                    tags:
                      - wellness
                    url: >-
                      https://ik.imagekit.io/fluid/companies/0199a1b2-0000-7000-8000-000000000001/members/0199a1b2-0000-7000-8000-000000000002/uploads/videos/Xk3p9QaB_morning-routine.mp4?tr=f-mp4
                    thumbnail_url: >-
                      https://ik.imagekit.io/fluid/companies/0199a1b2-0000-7000-8000-000000000001/members/0199a1b2-0000-7000-8000-000000000002/uploads/videos/Xk3p9QaB_morning-routine.mp4/ik-thumbnail.jpg
                    duration: 94
                    size_bytes: 48213000
                    status: ready
                    share_url: https://primex.fluid.app/riley-kim/media/morning-routine
                    created_at: '2026-09-29T15:02:11.482913Z'
                    updated_at: '2026-09-29T15:04:52.118204Z'
                meta:
                  request_uuid: 0199a3f2-7a10-7c3e-8f21-4d5e6f708192
                  timestamp: '2026-09-30T18:24:05Z'
                  pagination:
                    next_cursor: null
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadCursor'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Invalid'
      x-fluid-audience: member
    post:
      operationId: member_media_create
      tags:
        - media
      summary: Create a medium from an upload
      description: >-
        Verifies the object stored for the upload (at exactly its signed path, of the signed kind, and
        within the size limits) and creates the member's medium, consuming the upload. The kind is the
        category and media kind of the signed type: an image signed as image/png accepts a stored
        image/jpeg, while a video or a document in its place is refused. An upload is used once: a repeat
        returns 409, and `error.details.media_id` names the medium the first use created while that medium
        still exists (after it is deleted the details carry `upload_id` alone). Unknown, another member's,
        expired and unverifiable uploads return 422 and stay unconsumed. Tags must be existing company
        medium tags.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: The upload to consume and the medium's details.
              additionalProperties: false
              required:
                - upload_id
                - title
              properties:
                upload_id:
                  type: string
                  format: uuid
                  description: The upload_id from POST /media/uploads.
                title:
                  type: string
                  minLength: 1
                  maxLength: 255
                  pattern: '^[^\u0000]*[^\u0000\u0009-\u000D\u0020\u0085\u00A0\u1680\u2000-\u200A\u2028\u2029\u202F\u205F\u3000][^\u0000]*$'
                  description: Title containing at least one non-whitespace character.
                description:
                  type:
                    - string
                    - 'null'
                  maxLength: 5000
                  pattern: '^[^\u0000]*$'
                  description: Plain-text description.
                tags:
                  type: array
                  description: Names of existing company medium tags.
                  items:
                    type: string
                    maxLength: 255
                    pattern: '^[^\u0000]*$'
            example:
              upload_id: 0199a3f2-5b0d-7c3a-8f09-2a1b0c9d8e7f
              title: Morning routine
              description: How I start my day with the wellness kit.
              tags:
                - wellness
      responses:
        '201':
          description: The created medium.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediumEnvelope'
              example:
                status: 201
                data:
                  id: 0199a3f2-5c1e-7d4b-9a10-3b2c1d4e5f60
                  kind: video
                  title: Morning routine
                  description: How I start my day with the wellness kit.
                  tags:
                    - wellness
                  url: >-
                    https://ik.imagekit.io/fluid/companies/0199a1b2-0000-7000-8000-000000000001/members/0199a1b2-0000-7000-8000-000000000002/uploads/videos/Xk3p9QaB_morning-routine.mp4
                  thumbnail_url: >-
                    https://ik.imagekit.io/fluid/companies/0199a1b2-0000-7000-8000-000000000001/members/0199a1b2-0000-7000-8000-000000000002/uploads/videos/Xk3p9QaB_morning-routine.mp4/ik-thumbnail.jpg
                  duration: null
                  size_bytes: 48213000
                  status: processing
                  share_url: https://primex.fluid.app/riley-kim/media/morning-routine
                  created_at: '2026-09-29T15:02:11.482913Z'
                  updated_at: '2026-09-29T15:02:11.482913Z'
                meta:
                  request_uuid: 0199a3f2-7a10-7c3e-8f21-4d5e6f708192
                  timestamp: '2026-09-30T18:24:05Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: The upload was already used; `error.details.media_id` names the medium it created when that medium still exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          $ref: '#/components/responses/Invalid'
        '503':
          $ref: '#/components/responses/UploadUnavailable'
      x-fluid-audience: member
  /api/member/v2026-10/media/{id}:
    parameters:
      - $ref: '#/components/parameters/MediumId'
    get:
      operationId: member_media_show
      tags:
        - media
      summary: Show one of the member's media
      description: >-
        Returns an owned medium. Private and revalidated on every read (max-age=0): send the ETag back in
        If-None-Match to receive 304 while it is unchanged. Access is checked again on each revalidation.
      responses:
        '200':
          description: The medium.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediumEnvelope'
              example:
                status: 200
                data:
                  id: 0199a3f2-5c1e-7d4b-9a10-3b2c1d4e5f60
                  kind: video
                  title: Morning routine
                  description: How I start my day with the wellness kit.
                  tags:
                    - wellness
                  url: >-
                    https://ik.imagekit.io/fluid/companies/0199a1b2-0000-7000-8000-000000000001/members/0199a1b2-0000-7000-8000-000000000002/uploads/videos/Xk3p9QaB_morning-routine.mp4?tr=f-mp4
                  thumbnail_url: >-
                    https://ik.imagekit.io/fluid/companies/0199a1b2-0000-7000-8000-000000000001/members/0199a1b2-0000-7000-8000-000000000002/uploads/videos/Xk3p9QaB_morning-routine.mp4/ik-thumbnail.jpg
                  duration: 94
                  size_bytes: 48213000
                  status: ready
                  share_url: https://primex.fluid.app/riley-kim/media/morning-routine
                  created_at: '2026-09-29T15:02:11.482913Z'
                  updated_at: '2026-09-29T15:04:52.118204Z'
                meta:
                  request_uuid: 0199a3f2-7a10-7c3e-8f21-4d5e6f708192
                  timestamp: '2026-09-30T18:24:05Z'
        '304':
          $ref: '#/components/responses/NotModified'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      x-fluid-audience: member
    patch:
      operationId: member_media_update
      tags:
        - media
      summary: Edit a medium's details
      description: >-
        Changes the supplied title, description or tags of an owned medium; other fields are untouched. The
        file itself cannot be replaced; upload a new medium instead.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Fields to change.
              additionalProperties: false
              minProperties: 1
              properties:
                title:
                  type: string
                  minLength: 1
                  maxLength: 255
                  pattern: '\S'
                  description: Title.
                description:
                  type:
                    - string
                    - 'null'
                  maxLength: 5000
                  description: Plain-text description.
                tags:
                  type: array
                  description: >-
                    Names of existing admin-created company medium tags, matched exactly; replaces the current set.
                    Each name attaches at most one tag and repeated names collapse. A name that matches no such
                    tag, including a tag the system generated, is refused with 422 and nothing is changed.
                  items:
                    type: string
                    maxLength: 255
            example:
              title: Morning routine, part 2
      responses:
        '200':
          description: The updated medium.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediumEnvelope'
              example:
                status: 200
                data:
                  id: 0199a3f2-5c1e-7d4b-9a10-3b2c1d4e5f60
                  kind: video
                  title: Morning routine, part 2
                  description: How I start my day with the wellness kit.
                  tags:
                    - wellness
                  url: >-
                    https://ik.imagekit.io/fluid/companies/0199a1b2-0000-7000-8000-000000000001/members/0199a1b2-0000-7000-8000-000000000002/uploads/videos/Xk3p9QaB_morning-routine.mp4?tr=f-mp4
                  thumbnail_url: >-
                    https://ik.imagekit.io/fluid/companies/0199a1b2-0000-7000-8000-000000000001/members/0199a1b2-0000-7000-8000-000000000002/uploads/videos/Xk3p9QaB_morning-routine.mp4/ik-thumbnail.jpg
                  duration: 94
                  size_bytes: 48213000
                  status: ready
                  share_url: https://primex.fluid.app/riley-kim/media/morning-routine
                  created_at: '2026-09-29T15:02:11.482913Z'
                  updated_at: '2026-09-29T15:04:52.118204Z'
                meta:
                  request_uuid: 0199a3f2-7a10-7c3e-8f21-4d5e6f708192
                  timestamp: '2026-09-30T18:24:05Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Invalid'
      x-fluid-audience: member
    delete:
      operationId: member_media_destroy
      tags:
        - media
      summary: Delete a medium
      description: Deletes an owned medium and removes it from every playlist.
      responses:
        '204':
          description: Deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      x-fluid-audience: member
  /api/member/v2026-10/playlists:
    get:
      operationId: member_playlists_index
      tags:
        - playlists
      summary: List the member's playlists
      description: Returns the member's own playlists, newest first. Responses are private and must be revalidated.
      parameters:
        - name: filter[visibility]
          in: query
          description: Only private or only shared playlists.
          schema:
            type: string
            enum:
              - private
              - shared
        - $ref: '#/components/parameters/PageCursor'
        - $ref: '#/components/parameters/PageLimit'
      responses:
        '200':
          description: A page of the member's playlists.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaylistsEnvelope'
              example:
                status: 200
                data:
                  - id: 0199a3f2-6b2d-7e5c-8b21-4c3d2e1f0a71
                    title: Getting started
                    description: Watch these first.
                    cover_url: https://ik.imagekit.io/fluid/primex/getting-started-cover.jpg
                    items_count: 3
                    visibility: shared
                    share_url: https://primex.fluid.app/riley-kim/libraries/getting-started
                    created_at: '2026-09-28T10:15:00.000000Z'
                    updated_at: '2026-09-29T08:40:12.551000Z'
                meta:
                  request_uuid: 0199a3f2-7a10-7c3e-8f21-4d5e6f708192
                  timestamp: '2026-09-30T18:24:05Z'
                  pagination:
                    next_cursor: null
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadCursor'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Invalid'
      x-fluid-audience: member
    post:
      operationId: member_playlists_create
      tags:
        - playlists
      summary: Create a playlist
      description: Creates an empty playlist owned by the member. Playlists are private unless created shared.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: The new playlist.
              additionalProperties: false
              required:
                - title
              properties:
                title:
                  type: string
                  minLength: 1
                  maxLength: 255
                  pattern: '[^\u0009-\u000D\u0020\u0085\u00A0\u1680\u2000-\u200A\u2028\u2029\u202F\u205F\u3000]'
                  description: Title containing at least one non-whitespace character.
                description:
                  type:
                    - string
                    - 'null'
                  maxLength: 5000
                  description: Description.
                visibility:
                  type: string
                  description: private (default) or shared.
                  enum:
                    - private
                    - shared
            example:
              title: Getting started
              visibility: shared
      responses:
        '201':
          description: The created playlist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaylistEnvelope'
              example:
                status: 201
                data:
                  id: 0199a3f2-6b2d-7e5c-8b21-4c3d2e1f0a71
                  title: Getting started
                  description: Watch these first.
                  cover_url: https://ik.imagekit.io/fluid/primex/getting-started-cover.jpg
                  items_count: 0
                  visibility: shared
                  share_url: https://primex.fluid.app/riley-kim/libraries/getting-started
                  created_at: '2026-09-28T10:15:00.000000Z'
                  updated_at: '2026-09-28T10:15:00.000000Z'
                meta:
                  request_uuid: 0199a3f2-7a10-7c3e-8f21-4d5e6f708192
                  timestamp: '2026-09-30T18:24:05Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Invalid'
      x-fluid-audience: member
  /api/member/v2026-10/playlists/{id}:
    parameters:
      - $ref: '#/components/parameters/PlaylistId'
    get:
      operationId: member_playlists_show
      tags:
        - playlists
      summary: Show one of the member's playlists
      description: Returns an owned playlist. Private and revalidated on every read; a matching ETag returns 304 only after the playlist is reauthorized.
      responses:
        '200':
          description: The playlist.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaylistEnvelope'
              example:
                status: 200
                data:
                  id: 0199a3f2-6b2d-7e5c-8b21-4c3d2e1f0a71
                  title: Getting started
                  description: Watch these first.
                  cover_url: https://ik.imagekit.io/fluid/primex/getting-started-cover.jpg
                  items_count: 3
                  visibility: shared
                  share_url: https://primex.fluid.app/riley-kim/libraries/getting-started
                  created_at: '2026-09-28T10:15:00.000000Z'
                  updated_at: '2026-09-29T08:40:12.551000Z'
                meta:
                  request_uuid: 0199a3f2-7a10-7c3e-8f21-4d5e6f708192
                  timestamp: '2026-09-30T18:24:05Z'
        '304':
          $ref: '#/components/responses/NotModified'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      x-fluid-audience: member
    patch:
      operationId: member_playlists_update
      tags:
        - playlists
      summary: Edit a playlist
      description: Changes the supplied title, description or visibility of an owned playlist.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Fields to change.
              additionalProperties: false
              minProperties: 1
              properties:
                title:
                  type: string
                  minLength: 1
                  maxLength: 255
                  pattern: '[^\u0009-\u000D\u0020\u0085\u00A0\u1680\u2000-\u200A\u2028\u2029\u202F\u205F\u3000]'
                  description: Title containing at least one non-whitespace character.
                description:
                  type:
                    - string
                    - 'null'
                  maxLength: 5000
                  description: Description.
                visibility:
                  type: string
                  description: private or shared.
                  enum:
                    - private
                    - shared
            example:
              visibility: private
      responses:
        '200':
          description: The updated playlist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaylistEnvelope'
              example:
                status: 200
                data:
                  id: 0199a3f2-6b2d-7e5c-8b21-4c3d2e1f0a71
                  title: Getting started
                  description: Watch these first.
                  cover_url: https://ik.imagekit.io/fluid/primex/getting-started-cover.jpg
                  items_count: 3
                  visibility: private
                  share_url: null
                  created_at: '2026-09-28T10:15:00.000000Z'
                  updated_at: '2026-09-29T08:40:12.551000Z'
                meta:
                  request_uuid: 0199a3f2-7a10-7c3e-8f21-4d5e6f708192
                  timestamp: '2026-09-30T18:24:05Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Invalid'
      x-fluid-audience: member
    delete:
      operationId: member_playlists_destroy
      tags:
        - playlists
      summary: Delete a playlist
      description: Deletes an owned playlist. Its media are not deleted.
      responses:
        '204':
          description: Deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      x-fluid-audience: member
  /api/member/v2026-10/shares:
    get:
      operationId: member_shares_index
      tags:
        - shares
      summary: List the member's shares
      description: >-
        Returns the member's tracked shares of media, playlists, products, enrollment packs and pages, newest
        first. Responses are private and must be revalidated.
      parameters:
        - name: filter[target_kind]
          in: query
          description: Only shares of this kind of target.
          schema:
            type: string
            enum:
              - media
              - playlist
              - product
              - enrollment_pack
              - page
        - name: filter[target_id]
          in: query
          description: Only shares of this target; requires filter[target_kind].
          schema:
            type: string
            format: uuid
        - name: filter[contact_id]
          in: query
          description: Only shares to this contact of the member.
          schema:
            type: string
            format: uuid
        - name: filter[channel]
          in: query
          description: Only shares created with this channel label.
          schema:
            type: string
            enum:
              - link
              - email
              - sms
              - whatsapp
              - facebook
              - x
              - qr
        - name: filter[since]
          in: query
          description: Only shares created at or after this time.
          schema:
            type: string
            format: date-time
        - $ref: '#/components/parameters/PageCursor'
        - $ref: '#/components/parameters/PageLimit'
      responses:
        '200':
          description: A page of shares.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharesEnvelope'
              example:
                status: 200
                data:
                  - id: 0199a3f2-7d4f-7a7e-8d43-6e5f4a3b2c93
                    target:
                      kind: product
                      id: 0199a3f2-5c1e-7d4b-9a10-3b2c1d4e5f61
                      title: Primex Wellness Kit
                      image_url: https://ik.imagekit.io/fluid/primex/wellness-kit.jpg
                    channel: sms
                    recipient:
                      contact_id: 0199a3f2-7e50-7b8f-9e54-7f6a5b4c3da4
                      name: Jordan Lee
                    url: https://primex.fluid.app/s/a1b2c3
                    opens_count: 4
                    last_opened_at: '2026-09-30T09:12:44.000000Z'
                    created_at: '2026-09-28T19:03:27.000000Z'
                meta:
                  request_uuid: 0199a3f2-7a10-7c3e-8f21-4d5e6f708192
                  timestamp: '2026-09-30T18:24:05Z'
                  pagination:
                    next_cursor: null
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadCursor'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Invalid'
      x-fluid-audience: member
    post:
      operationId: member_shares_create
      tags:
        - shares
      summary: Create a tracked share
      description: >-
        Returns a tracked link for a target the member may share: their own media or shared playlists, or the
        company's public catalogue. Repeating the same target, channel and recipient returns the existing share
        with 200 instead of creating another. Nothing is sent: the member's client delivers the link.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: What to share, how, and to whom.
              additionalProperties: false
              required:
                - target
              properties:
                target:
                  type: object
                  description: What to share.
                  additionalProperties: false
                  required:
                    - kind
                    - id
                  properties:
                    kind:
                      type: string
                      description: Target kind.
                      enum:
                        - media
                        - playlist
                        - product
                        - enrollment_pack
                        - page
                    id:
                      type: string
                      format: uuid
                      description: Public id of the target.
                channel:
                  type: string
                  description: Where the member is sharing it (default link).
                  enum:
                    - link
                    - email
                    - sms
                    - whatsapp
                    - facebook
                    - x
                    - qr
                recipient:
                  type: object
                  description: One of the member's contacts.
                  additionalProperties: false
                  required:
                    - contact_id
                  properties:
                    contact_id:
                      type: string
                      format: uuid
                      description: Public contact id.
            example:
              target:
                kind: product
                id: 0199a3f2-5c1e-7d4b-9a10-3b2c1d4e5f60
              channel: sms
      responses:
        '200':
          description: The existing share for this target, channel and recipient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareEnvelope'
              example:
                status: 200
                data:
                  id: 0199a3f2-7d4f-7a7e-8d43-6e5f4a3b2c93
                  target:
                    kind: product
                    id: 0199a3f2-5c1e-7d4b-9a10-3b2c1d4e5f61
                    title: Primex Wellness Kit
                    image_url: https://ik.imagekit.io/fluid/primex/wellness-kit.jpg
                  channel: sms
                  recipient:
                    contact_id: 0199a3f2-7e50-7b8f-9e54-7f6a5b4c3da4
                    name: Jordan Lee
                  url: https://primex.fluid.app/s/a1b2c3
                  opens_count: 4
                  last_opened_at: '2026-09-30T09:12:44.000000Z'
                  created_at: '2026-09-28T19:03:27.000000Z'
                meta:
                  request_uuid: 0199a3f2-7a10-7c3e-8f21-4d5e6f708192
                  timestamp: '2026-09-30T18:24:05Z'
        '201':
          description: The created share.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareEnvelope'
              example:
                status: 201
                data:
                  id: 0199a3f2-7d4f-7a7e-8d43-6e5f4a3b2c93
                  target:
                    kind: product
                    id: 0199a3f2-5c1e-7d4b-9a10-3b2c1d4e5f61
                    title: Primex Wellness Kit
                    image_url: https://ik.imagekit.io/fluid/primex/wellness-kit.jpg
                  channel: sms
                  recipient:
                    contact_id: 0199a3f2-7e50-7b8f-9e54-7f6a5b4c3da4
                    name: Jordan Lee
                  url: https://primex.fluid.app/s/a1b2c3
                  opens_count: 4
                  last_opened_at: '2026-09-30T09:12:44.000000Z'
                  created_at: '2026-09-28T19:03:27.000000Z'
                meta:
                  request_uuid: 0199a3f2-7a10-7c3e-8f21-4d5e6f708192
                  timestamp: '2026-09-30T18:24:05Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Invalid'
      x-fluid-audience: member
  /api/member/v2026-10/shares/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Public id of a share the signed-in member created.
        schema:
          type: string
          format: uuid
    get:
      operationId: member_shares_show
      tags:
        - shares
      summary: Show a share and its activity
      description: >-
        Returns a share with its recent events. Private and revalidated on every read, so a response is never
        replayed after the member loses access to the share's target or recipient.
      responses:
        '200':
          description: The share.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareDetailEnvelope'
              example:
                status: 200
                data:
                  id: 0199a3f2-7d4f-7a7e-8d43-6e5f4a3b2c93
                  target:
                    kind: product
                    id: 0199a3f2-5c1e-7d4b-9a10-3b2c1d4e5f61
                    title: Primex Wellness Kit
                    image_url: https://ik.imagekit.io/fluid/primex/wellness-kit.jpg
                  channel: sms
                  recipient:
                    contact_id: 0199a3f2-7e50-7b8f-9e54-7f6a5b4c3da4
                    name: Jordan Lee
                  url: https://primex.fluid.app/s/a1b2c3
                  opens_count: 4
                  last_opened_at: '2026-09-30T09:12:44.000000Z'
                  created_at: '2026-09-28T19:03:27.000000Z'
                  events:
                    - type: converted
                      occurred_at: '2026-09-30T09:20:03.000000Z'
                    - type: visited
                      occurred_at: '2026-09-30T09:12:44.000000Z'
                    - type: created
                      occurred_at: '2026-09-28T19:03:27.000000Z'
                meta:
                  request_uuid: 0199a3f2-7a10-7c3e-8f21-4d5e6f708192
                  timestamp: '2026-09-30T18:24:05Z'
        '304':
          $ref: '#/components/responses/NotModified'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      x-fluid-audience: member
  /api/member/v2026-10/playlists/{id}/items:
    parameters:
      - name: id
        in: path
        required: true
        description: Public id of a playlist the signed-in member owns.
        schema:
          type: string
          format: uuid
    get:
      operationId: member_playlist_items_index
      tags:
        - playlist-items
      summary: List a playlist's items
      description: Returns an owned playlist's items in playlist order. Responses are private and must be revalidated.
      parameters:
        - $ref: '#/components/parameters/PageCursor'
        - $ref: '#/components/parameters/PageLimit'
      responses:
        '200':
          description: A page of items.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaylistItemsEnvelope'
              example:
                status: 200
                data:
                  - id: 0199a3f2-6c3e-7f6d-9c32-5d4e3f2a1b82
                    position: 1
                    content_kind: media
                    media:
                      id: 0199a3f2-5c1e-7d4b-9a10-3b2c1d4e5f60
                      kind: video
                      title: Morning routine
                      thumbnail_url: >-
                        https://ik.imagekit.io/fluid/companies/0199a1b2-0000-7000-8000-000000000001/members/0199a1b2-0000-7000-8000-000000000002/uploads/videos/Xk3p9QaB_morning-routine.mp4/ik-thumbnail.jpg
                      duration: 94
                  - id: 0199a3f2-6c3e-7f6d-9c32-5d4e3f2a1b83
                    position: 2
                    content_kind: product
                    media: null
                meta:
                  request_uuid: 0199a3f2-7a10-7c3e-8f21-4d5e6f708192
                  timestamp: '2026-09-30T18:24:05Z'
                  pagination:
                    next_cursor: null
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadCursor'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Invalid'
      x-fluid-audience: member
    post:
      operationId: member_playlist_items_create
      tags:
        - playlist-items
      summary: Add a medium to a playlist
      description: >-
        Appends one medium to the end of an owned playlist: the member's own (`media_id`) or one from the company's public
        storefront catalogue (`storefront_media_id`), never both. A medium already in the playlist returns 409.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Exactly one medium reference.
              additionalProperties: false
              minProperties: 1
              maxProperties: 1
              properties:
                media_id:
                  type: string
                  format: uuid
                  description: One of the member's own media.
                storefront_media_id:
                  type: string
                  format: uuid
                  description: A medium from the company's public storefront catalogue.
            example:
              media_id: 0199a3f2-5c1e-7d4b-9a10-3b2c1d4e5f60
      responses:
        '201':
          description: The added item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaylistItemEnvelope'
              example:
                status: 201
                data:
                  id: 0199a3f2-6c3e-7f6d-9c32-5d4e3f2a1b82
                  position: 1
                  content_kind: media
                  media:
                    id: 0199a3f2-5c1e-7d4b-9a10-3b2c1d4e5f60
                    kind: video
                    title: Morning routine
                    thumbnail_url: >-
                      https://ik.imagekit.io/fluid/companies/0199a1b2-0000-7000-8000-000000000001/members/0199a1b2-0000-7000-8000-000000000002/uploads/videos/Xk3p9QaB_morning-routine.mp4/ik-thumbnail.jpg
                    duration: 94
                meta:
                  request_uuid: 0199a3f2-7a10-7c3e-8f21-4d5e6f708192
                  timestamp: '2026-09-30T18:24:05Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: The medium is already in the playlist, or concurrent writes require retrying the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          $ref: '#/components/responses/Invalid'
      x-fluid-audience: member
  /api/member/v2026-10/playlists/{id}/items/reorder:
    parameters:
      - name: id
        in: path
        required: true
        description: Public id of a playlist the signed-in member owns.
        schema:
          type: string
          format: uuid
    patch:
      operationId: member_playlist_items_reorder
      tags:
        - playlist-items
      summary: Reorder a playlist
      description: >-
        Replaces the order of every item at once. `ids` must name each of the playlist's items exactly once; the whole order
        applies or nothing does. Requests support at most 1,000 items; larger playlists cannot be reordered through this operation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: The complete new order.
              additionalProperties: false
              required:
                - ids
              properties:
                ids:
                  type: array
                  description: Every item id, in the new order.
                  maxItems: 1000
                  uniqueItems: true
                  items:
                    type: string
                    format: uuid
            example:
              ids:
                - 0199a3f2-5c1e-7d4b-9a10-3b2c1d4e5f61
                - 0199a3f2-5c1e-7d4b-9a10-3b2c1d4e5f60
      responses:
        '200':
          description: Every item in its new order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReorderedItemsEnvelope'
              example:
                status: 200
                data:
                  - id: 0199a3f2-6c3e-7f6d-9c32-5d4e3f2a1b83
                    position: 1
                    content_kind: product
                    media: null
                  - id: 0199a3f2-6c3e-7f6d-9c32-5d4e3f2a1b82
                    position: 2
                    content_kind: media
                    media:
                      id: 0199a3f2-5c1e-7d4b-9a10-3b2c1d4e5f60
                      kind: video
                      title: Morning routine
                      thumbnail_url: >-
                        https://ik.imagekit.io/fluid/companies/0199a1b2-0000-7000-8000-000000000001/members/0199a1b2-0000-7000-8000-000000000002/uploads/videos/Xk3p9QaB_morning-routine.mp4/ik-thumbnail.jpg
                      duration: 94
                meta:
                  request_uuid: 0199a3f2-7a10-7c3e-8f21-4d5e6f708192
                  timestamp: '2026-09-30T18:24:05Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Invalid'
        '409':
          description: Concurrent writes require retrying the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      x-fluid-audience: member
  /api/member/v2026-10/playlists/{id}/items/{item_id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Public id of a playlist the signed-in member owns.
        schema:
          type: string
          format: uuid
      - name: item_id
        in: path
        required: true
        description: Public id of an item of that playlist.
        schema:
          type: string
          format: uuid
    delete:
      operationId: member_playlist_items_destroy
      tags:
        - playlist-items
      summary: Remove an item from a playlist
      description: Removes one item; the medium itself is not deleted.
      responses:
        '204':
          description: Removed.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Concurrent writes require retrying the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      x-fluid-audience: member
  /api/member/v2026-10/search:
    get:
      operationId: member_search_index
      tags:
        - search
      summary: Search the storefront catalogue
      description: >-
        Returns ranked hits across the company's public products, enrollment packs, pages, media, playlists and
        posts: only what the public storefront lists. Facets count the matching results of each requested
        type. Available to every membership, limited to 30 searches per minute per credential. Responses are
        never stored.
      parameters:
        - name: q
          in: query
          required: true
          description: Search text, 2 to 200 characters.
          schema:
            type: string
            minLength: 2
            maxLength: 200
        - name: types
          in: query
          description: >-
            Comma-separated types to search: products, enrollment-packs, pages, media, playlists or posts. All
            six by default.
          schema:
            type: string
            maxLength: 200
            example: products,media
        - name: page[cursor]
          in: query
          description: >-
            Opaque cursor from meta.pagination.next_cursor. Expires after one hour and only continues the same
            query and types. A catalogue reindex between pages invalidates it with a 400; repeat the search
            without a cursor.
          schema:
            type: string
        - name: page[limit]
          in: query
          description: Maximum number of hits returned.
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 25
      responses:
        '200':
          description: A page of hits.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchEnvelope'
              example:
                status: 200
                data:
                  - kind: products
                    id: 0199a3f2-5c1e-7d4b-9a10-3b2c1d4e5f61
                    title: Primex Wellness Kit
                    image_url: https://ik.imagekit.io/fluid/primex/wellness-kit.jpg
                    url: https://primex.fluid.app/home/products/primex-wellness-kit
                    share_url: https://primex.fluid.app/riley-kim/products/primex-wellness-kit
                    snippet: Everything you need for a 30-day wellness reset.
                    score: 12.4
                meta:
                  request_uuid: 0199a3f2-7a10-7c3e-8f21-4d5e6f708192
                  timestamp: '2026-09-30T18:24:05Z'
                  facets:
                    products: 1
                    media: 0
                  pagination:
                    next_cursor: null
        '400':
          description: >-
            Malformed, tampered or expired pagination cursor, or one from before a catalogue reindex. Repeat the
            search without a cursor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Invalid'
        '429':
          description: >-
            The credential has searched more than 30 times in the current minute. Wait `retry_after` seconds
            before searching again. Unlike other responses it carries no Cache-Control header.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
              example:
                error: Rate limit exceeded
                message: Too many requests. Please wait before trying again.
                retry_after: 42
        '503':
          description: Search is unavailable; retry shortly.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
              example:
                status: 503
                error:
                  message: Search is unavailable; retry shortly
                  details:
                    error: unavailable
                meta:
                  request_uuid: 0199a3f2-7a10-7c3e-8f21-4d5e6f708193
                  timestamp: '2026-09-30T18:24:06Z'
      x-fluid-audience: member
  /api/member/v2026-10/media/uploads:
    post:
      operationId: member_media_uploads_create
      tags:
        - media-uploads
      summary: Sign a direct upload
      description: >-
        Signs an upload of one image, video, PDF or presentation to a path in the member's own storage
        namespace and records its receipt. The signature expires after 15 minutes. Declared sizes over the
        type's limit (images 10 MB, videos 100 MB, documents 25 MB) are refused. Responses are never stored.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: The file about to be uploaded.
              additionalProperties: false
              required:
                - content_type
                - filename
              properties:
                content_type:
                  type: string
                  minLength: 1
                  maxLength: 255
                  pattern: '^[^\u0000]*[^\u0000\u0009-\u000D\u0020\u0085\u00A0\u1680\u2000-\u200A\u2028\u2029\u202F\u205F\u3000][^\u0000]*$'
                  description: MIME type of the file, containing at least one non-whitespace character and no NUL.
                filename:
                  type: string
                  minLength: 1
                  maxLength: 255
                  pattern: '^[^\u0000]*[^\u0000\u0009-\u000D\u0020\u0085\u00A0\u1680\u2000-\u200A\u2028\u2029\u202F\u205F\u3000][^\u0000]*$'
                  description: >-
                    Original file name, containing at least one non-whitespace character and no NUL; it is sanitized and
                    prefixed to keep paths unique.
                byte_size:
                  type: integer
                  minimum: 1
                  description: Size in bytes. When given, the stored file must match it exactly.
            example:
              content_type: video/mp4
              filename: morning-routine.mp4
              byte_size: 48213000
      responses:
        '201':
          description: The signed upload.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControl'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadEnvelope'
              example:
                status: 201
                data:
                  upload_id: 0199a3f2-5b0d-7c3a-8f09-2a1b0c9d8e7f
                  url: https://upload.imagekit.io/api/v2/files/upload
                  fields:
                    token: eyJhbGciOiJIUzI1NiJ9.eyJmb2xkZXIiOiJjb21wYW5pZXMvLi4uIn0.signature
                    fileName: Xk3p9QaB_morning-routine.mp4
                    folder: companies/0199a1b2-0000-7000-8000-000000000001/members/0199a1b2-0000-7000-8000-000000000002/uploads/videos
                    useUniqueFileName: 'false'
                    overwriteFile: 'false'
                  expires_at: '2026-09-30T18:39:05Z'
                meta:
                  request_uuid: 0199a3f2-7a10-7c3e-8f21-4d5e6f708192
                  timestamp: '2026-09-30T18:24:05Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Invalid'
        '503':
          $ref: '#/components/responses/UploadUnavailable'
      x-fluid-audience: member
