---
openapi: 3.1.0
info:
  title: Fluid Member API v2026-10 — Team
  description: |
    The signed-in member's own team: their seat in each company tree, the
    downline beneath it, and the moves they request inside it. This is the
    member API, so every operation acts as the signed-in member. The bearer
    credential alone identifies the member and their company. No path, query
    or body parameter names a member, and a request that tries to (a
    `member_id` selector, for example) is refused with 422.

    A member only ever reads or changes their own data. Reads start from a
    node in their own team: their primary seat or a seat currently beneath
    it. A node outside that team returns 404, and a parent outside it is
    returned as null. Moves may only rearrange seats inside their downline,
    and move requests and move jobs are readable only by the member who
    requested them.

    Company admins, partners and company integrations read and move any seat
    through the company genealogy API instead, with a company API token, a
    partner token or an admin credential.

    Moves take effect at server time. An applied or unchanged move returns
    200. A move that needs approval, or that is too large to validate inline,
    returns 202 with a receipt to poll.
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
  version: 2026-10
security:
- MemberBearer: []
servers:
- url: https://api.fluid.app
  description: Production API server
tags:
- name: team
  description: Read the signed-in member's seat, their downline and its recorded history.
  x-fluid-section: Members
- name: team moves
  description: Preview and request moves inside the signed-in member's downline, and follow their own move requests and jobs.
  x-fluid-section: Members
paths:
  "/api/member/v2026-10/team/{id}":
    get:
      tags:
      - team
      summary: Show a seat in your team
      description: |
        Returns one seat in your team: your own primary seat or a seat
        currently beneath it. Without `as_of`, the response is the current
        relationship with `children_count`, `downline_count` and
        `counts_as_of`, observed in one database statement. The counts include
        retained seats of removed members, so they can exceed what the page
        endpoints list.

        With `as_of`, the response is the recorded relationship at that
        instant, without counts. Historical access follows today's team: a
        parent outside it is returned as null. Only recorded relationships are
        returned; historical rank, volume and profile values are not inferred.

        A current read returns 422 `lookup_too_large` when it runs past its
        deadline, or `counter_inconsistent` when a structural count is
        negative.
      operationId: member_team_show
      x-fluid-audience: member
      parameters:
      - name: id
        in: path
        required: true
        description: A node in your team.
        schema:
          type: string
          format: uuid
        example: 0192f3c1-2c3d-7e4f-8a5b-6c7d8e9f0a1b
      - name: as_of
        in: query
        description: Read the placement recorded at this instant; omit for the current placement. Intervals include their start and exclude their end.
        schema:
          type: string
          format: date-time
        example: '2026-09-01T00:00:00Z'
      responses:
        '200':
          description: The seat's current relationship with counts, or its recorded relationship at `as_of`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CurrentOrHistoricalRelationshipResponse"
              examples:
                current:
                  summary: Dwight Schrute's own seat, with his downline counts
                  value:
                    status: 200
                    node:
                      id: 0192f3c1-0a1b-7c2d-8e3f-4a5b6c7d8e9f
                      tree_id: 0192f3c0-4d5e-7f60-8a7b-9c0d1e2f3a4b
                      member_id: 0192f3a8-5c1e-7d42-9b6a-3e8f1c2d4a57
                      parent_node_id: null
                      leg: null
                      effective_at: '2026-06-01T14:00:00Z'
                      ended_at: null
                      children_count: 2
                      downline_count: 2
                      counts_as_of: '2026-09-30T15:04:12Z'
                    meta:
                      request_uuid: 0192f4d0-1a2b-7c3d-8e4f-5a6b7c8d9e01
                      timestamp: '2026-09-30T15:04:12Z'
                recorded:
                  summary: Pam Beesly's seat as recorded on 1 September, before she moved under Jim Halpert
                  value:
                    status: 200
                    node:
                      id: 0192f3c1-2c3d-7e4f-8a5b-6c7d8e9f0a1b
                      tree_id: 0192f3c0-4d5e-7f60-8a7b-9c0d1e2f3a4b
                      member_id: 0192f3a9-2c3d-7e4f-9a5b-6c7d8e9f0a12
                      parent_node_id: 0192f3c1-0a1b-7c2d-8e3f-4a5b6c7d8e9f
                      leg: null
                      effective_at: '2026-06-15T09:30:00Z'
                      ended_at: '2026-09-22T16:45:10Z'
                    meta:
                      request_uuid: 0192f4d0-2b3c-7d4e-9f5a-6b7c8d9e0f12
                      timestamp: '2026-09-30T15:05:03Z'
        '401':
          description: The credential is missing or does not resolve a membership in the company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: The node, or its placement at `as_of`, is not in your team.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: An invalid or unsupported query parameter, `lookup_too_large`, or `counter_inconsistent`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/api/member/v2026-10/team/{id}/placements":
    get:
      tags:
      - team
      summary: List a seat's recorded placements
      description: |
        Pages the recorded placements of a seat in your team, newest first.
        Historical access follows today's team: a parent outside it is
        returned as null. Only recorded relationships are returned;
        historical rank, volume and profile values are not inferred.
      operationId: member_team_placements_index
      x-fluid-audience: member
      parameters:
      - name: id
        in: path
        required: true
        description: A node in your team.
        schema:
          type: string
          format: uuid
        example: 0192f3c1-2c3d-7e4f-8a5b-6c7d8e9f0a1b
      - name: limit
        in: query
        description: Maximum placements in one newest-first page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
        example: 25
      - name: cursor
        in: query
        description: Opaque cursor from a previous page's `meta.pagination.next_cursor`.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: One page of recorded placements, newest first.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PlacementList"
              examples:
                moved:
                  summary: Pam Beesly's placements, after Dwight Schrute moved her under Jim Halpert
                  value:
                    status: 200
                    placements:
                    - id: 0192f3d2-3d4e-7f5a-9b6c-7d8e9f0a1b2c
                      tree_id: 0192f3c0-4d5e-7f60-8a7b-9c0d1e2f3a4b
                      member_id: 0192f3a9-2c3d-7e4f-9a5b-6c7d8e9f0a12
                      node_id: 0192f3c1-2c3d-7e4f-8a5b-6c7d8e9f0a1b
                      parent_node_id: 0192f3c1-1b2c-7d3e-9f4a-5b6c7d8e9f0a
                      leg: null
                      effective_at: '2026-09-22T16:45:10Z'
                      ended_at: null
                      source: rep
                      actor_type: Company::Member
                      actor_id: 0192f3a8-5c1e-7d42-9b6a-3e8f1c2d4a57
                      reason: Pam is joining Jim's Stamford sales team
                      request_id: null
                    - id: 0192f3d2-1b2c-7d3e-8f4a-5b6c7d8e9f0a
                      tree_id: 0192f3c0-4d5e-7f60-8a7b-9c0d1e2f3a4b
                      member_id: 0192f3a9-2c3d-7e4f-9a5b-6c7d8e9f0a12
                      node_id: 0192f3c1-2c3d-7e4f-8a5b-6c7d8e9f0a1b
                      parent_node_id: 0192f3c1-0a1b-7c2d-8e3f-4a5b6c7d8e9f
                      leg: null
                      effective_at: '2026-06-15T09:30:00Z'
                      ended_at: '2026-09-22T16:45:10Z'
                      source: enrollment
                      actor_type: null
                      actor_id: null
                      reason: null
                      request_id: null
                    meta:
                      request_uuid: 0192f4d0-3c4d-7e5f-8a6b-7c8d9e0f1a23
                      timestamp: '2026-09-30T15:06:40Z'
                      pagination:
                        cursor: null
                        limit: 25
                        prev_cursor: null
                        next_cursor: null
        '401':
          description: The credential is missing or does not resolve a membership in the company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: The node is not in your team.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: An invalid cursor or page limit, or an unsupported selector such as `member_id`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/api/member/v2026-10/team/{id}/children":
    get:
      tags:
      - team
      summary: List a seat's children
      description: |
        Pages the current direct children of a seat in your team, skipping
        seats of removed members. Unilevel trees page in node id order.
        Binary and matrix trees page in leg order (`leg_rank`, `position`,
        `id`), where `leg_rank` is the leg's index in the tree's leg names,
        when the company has legged trees enabled (`unsupported_tree_kind`
        otherwise). There is no offset and no total.

        Only `cursor`, `limit` and `ids_only` are accepted; member, filter,
        history and depth selectors are refused with 422. A cursor is bound
        to you, the tree, the anchor seat and the ordering, and grants no
        access. A move or removal can change later pages; pages are not
        frozen snapshots.
      operationId: member_team_children_index
      x-fluid-audience: member
      parameters:
      - in: path
        name: id
        required: true
        description: A node in your team.
        schema:
          type: string
          format: uuid
        example: 0192f3c1-0a1b-7c2d-8e3f-4a5b6c7d8e9f
      - in: query
        name: cursor
        description: Opaque forward cursor from a previous page of this same lookup.
        schema:
          type: string
          minLength: 1
      - in: query
        name: limit
        description: Maximum nodes in this page; may change between pages.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
      - in: query
        name: ids_only
        description: When true, return the same ordered page as an `ids` array instead of node objects.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: One ordered page of current children; an empty page succeeds.
          content:
            application/json:
              schema:
                oneOf:
                - "$ref": "#/components/schemas/DirectPageResponse"
                - "$ref": "#/components/schemas/DirectIdsPageResponse"
              examples:
                nodes:
                  summary: Jim Halpert and Pam Beesly directly beneath Dwight Schrute
                  value:
                    status: 200
                    nodes:
                    - id: 0192f3c1-1b2c-7d3e-9f4a-5b6c7d8e9f0a
                      tree_id: 0192f3c0-4d5e-7f60-8a7b-9c0d1e2f3a4b
                      member_id: 0192f3a9-1b2c-7d3e-8f4a-5b6c7d8e9f01
                      parent_node_id: 0192f3c1-0a1b-7c2d-8e3f-4a5b6c7d8e9f
                      leg: null
                      position: 0
                      pinned: false
                    - id: 0192f3c1-2c3d-7e4f-8a5b-6c7d8e9f0a1b
                      tree_id: 0192f3c0-4d5e-7f60-8a7b-9c0d1e2f3a4b
                      member_id: 0192f3a9-2c3d-7e4f-9a5b-6c7d8e9f0a12
                      parent_node_id: 0192f3c1-0a1b-7c2d-8e3f-4a5b6c7d8e9f
                      leg: null
                      position: 0
                      pinned: false
                    meta:
                      request_uuid: 0192f4d0-4d5e-7f6a-9b7c-8d9e0f1a2b34
                      timestamp: '2026-09-14T11:20:00Z'
                      pagination:
                        cursor: null
                        next_cursor: null
                        limit: 100
                        ordering: node_id_asc
                ids:
                  summary: The same page with ids_only=true
                  value:
                    status: 200
                    ids:
                    - 0192f3c1-1b2c-7d3e-9f4a-5b6c7d8e9f0a
                    - 0192f3c1-2c3d-7e4f-8a5b-6c7d8e9f0a1b
                    meta:
                      request_uuid: 0192f4d0-5e6f-7a7b-8c8d-9e0f1a2b3c45
                      timestamp: '2026-09-14T11:20:02Z'
                      pagination:
                        cursor: null
                        next_cursor: null
                        limit: 100
                        ordering: node_id_asc
        '401':
          description: The credential is missing or does not resolve a membership in the company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: The anchor is missing, malformed, removed, in another company, or outside your team; `error.details.type` is `record_missing`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: An invalid selector, `invalid_cursor`, `unsupported_tree_kind`, `invalid_ancestry`, or `lookup_too_large`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/api/member/v2026-10/team/{id}/descendants":
    get:
      tags:
      - team
      summary: List a seat's descendants
      description: |
        Pages the current strict descendants of a seat in your team, skipping
        seats of removed members, breadth-first by (`relative_depth`, `id`),
        down to `depth` levels. The admitted profile is depth 1 to 7 and at
        most 10,000 positions. A deeper request, or one whose range holds more
        positions, returns 422 `pagination_requires_projection` without a
        partial page; a read past its deadline returns `lookup_too_large`.

        Only `depth`, `cursor`, `limit`, `ids_only` and `as_of` are accepted;
        a body, filters and other selectors are refused with 422. A cursor is
        bound to you, the tree, the anchor seat, the operation, the depth and
        the ordering, and grants no access. A move or removal can change later
        pages; pages are not frozen snapshots.
      operationId: member_team_descendants_index
      x-fluid-audience: member
      parameters:
      - in: path
        name: id
        required: true
        description: A node in your team.
        schema:
          type: string
          format: uuid
        example: 0192f3c1-0a1b-7c2d-8e3f-4a5b6c7d8e9f
      - in: query
        name: depth
        required: true
        description: Positive relative depth bound. Values above the admitted profile are refused, not clamped.
        schema:
          type: integer
          minimum: 1
        example: 3
      - in: query
        name: cursor
        description: Opaque forward cursor from a previous page of this same lookup.
        schema:
          type: string
          minLength: 1
      - in: query
        name: limit
        description: Maximum nodes in this page; may change between pages.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
      - in: query
        name: ids_only
        description: When true, return the same ordered page as an `ids` array instead of node objects.
        schema:
          type: boolean
          default: false
      - in: query
        name: as_of
        description: Read the placements recorded at this instant; omit for the current team. Intervals include their start and exclude their end.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: One ordered page of descendants with traversal metadata; an empty page succeeds.
          content:
            application/json:
              schema:
                oneOf:
                - "$ref": "#/components/schemas/DeeperPageResponse"
                - "$ref": "#/components/schemas/DeeperIdsPageResponse"
              examples:
                nodes:
                  summary: Dwight Schrute's downline, one level deep
                  value:
                    status: 200
                    nodes:
                    - id: 0192f3c1-1b2c-7d3e-9f4a-5b6c7d8e9f0a
                      tree_id: 0192f3c0-4d5e-7f60-8a7b-9c0d1e2f3a4b
                      member_id: 0192f3a9-1b2c-7d3e-8f4a-5b6c7d8e9f01
                      parent_node_id: 0192f3c1-0a1b-7c2d-8e3f-4a5b6c7d8e9f
                      leg: null
                      position: 0
                      pinned: false
                      relative_depth: 1
                    - id: 0192f3c1-2c3d-7e4f-8a5b-6c7d8e9f0a1b
                      tree_id: 0192f3c0-4d5e-7f60-8a7b-9c0d1e2f3a4b
                      member_id: 0192f3a9-2c3d-7e4f-9a5b-6c7d8e9f0a12
                      parent_node_id: 0192f3c1-0a1b-7c2d-8e3f-4a5b6c7d8e9f
                      leg: null
                      position: 0
                      pinned: false
                      relative_depth: 1
                    meta:
                      request_uuid: 0192f4d0-6f7a-7b8c-9d9e-0f1a2b3c4d56
                      timestamp: '2026-09-16T10:00:00Z'
                      pagination:
                        cursor: null
                        next_cursor: null
                        limit: 100
                        ordering: relative_depth_id_asc
                      traversal:
                        depth_truncated: false
        '401':
          description: The credential is missing or does not resolve a membership in the company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: The anchor is missing, malformed, removed, in another company, or outside your team; `error.details.type` is `record_missing` or `placement_missing`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: An invalid selector, `invalid_cursor`, `pagination_requires_projection`, `invalid_ancestry`, or `lookup_too_large`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/api/member/v2026-10/team/{id}/subtree":
    get:
      tags:
      - team
      summary: List a seat's subtree
      description: |
        Pages a seat in your team at relative depth zero, followed by its
        current strict descendants, breadth-first by (`relative_depth`, `id`),
        down to `depth` levels. The anchor's parent is returned as null when
        it lies outside your team. The admitted profile is depth 1 to 7 and
        at most 10,000 positions. A deeper request, or one whose range holds
        more positions, returns 422 `pagination_requires_projection` without a
        partial page; a read past its deadline returns `lookup_too_large`.

        Only `depth`, `cursor`, `limit`, `ids_only` and `as_of` are accepted;
        a body, filters and other selectors are refused with 422. A cursor is
        bound to you, the tree, the anchor seat, the operation, the depth and
        the ordering, and grants no access.
      operationId: member_team_subtree_index
      x-fluid-audience: member
      parameters:
      - in: path
        name: id
        required: true
        description: A node in your team.
        schema:
          type: string
          format: uuid
        example: 0192f3c1-0a1b-7c2d-8e3f-4a5b6c7d8e9f
      - in: query
        name: depth
        required: true
        description: Positive relative depth bound. Values above the admitted profile are refused, not clamped.
        schema:
          type: integer
          minimum: 1
        example: 2
      - in: query
        name: cursor
        description: Opaque forward cursor from a previous page of this same lookup.
        schema:
          type: string
          minLength: 1
      - in: query
        name: limit
        description: Maximum nodes in this page; may change between pages.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
      - in: query
        name: ids_only
        description: When true, return the same ordered page as an `ids` array instead of node objects.
        schema:
          type: boolean
          default: false
      - in: query
        name: as_of
        description: Read the placements recorded at this instant; omit for the current team. Intervals include their start and exclude their end.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: One ordered page that begins with the anchor seat, with traversal metadata.
          content:
            application/json:
              schema:
                oneOf:
                - "$ref": "#/components/schemas/DeeperPageResponse"
                - "$ref": "#/components/schemas/DeeperIdsPageResponse"
              examples:
                nodes:
                  summary: Dwight Schrute's seat followed by Jim Halpert and Pam Beesly
                  value:
                    status: 200
                    nodes:
                    - id: 0192f3c1-0a1b-7c2d-8e3f-4a5b6c7d8e9f
                      tree_id: 0192f3c0-4d5e-7f60-8a7b-9c0d1e2f3a4b
                      member_id: 0192f3a8-5c1e-7d42-9b6a-3e8f1c2d4a57
                      parent_node_id: null
                      leg: null
                      position: 0
                      pinned: false
                      relative_depth: 0
                    - id: 0192f3c1-1b2c-7d3e-9f4a-5b6c7d8e9f0a
                      tree_id: 0192f3c0-4d5e-7f60-8a7b-9c0d1e2f3a4b
                      member_id: 0192f3a9-1b2c-7d3e-8f4a-5b6c7d8e9f01
                      parent_node_id: 0192f3c1-0a1b-7c2d-8e3f-4a5b6c7d8e9f
                      leg: null
                      position: 0
                      pinned: false
                      relative_depth: 1
                    - id: 0192f3c1-2c3d-7e4f-8a5b-6c7d8e9f0a1b
                      tree_id: 0192f3c0-4d5e-7f60-8a7b-9c0d1e2f3a4b
                      member_id: 0192f3a9-2c3d-7e4f-9a5b-6c7d8e9f0a12
                      parent_node_id: 0192f3c1-0a1b-7c2d-8e3f-4a5b6c7d8e9f
                      leg: null
                      position: 0
                      pinned: false
                      relative_depth: 1
                    meta:
                      request_uuid: 0192f4d0-7a8b-7c9d-8e0f-1a2b3c4d5e67
                      timestamp: '2026-09-16T10:01:00Z'
                      pagination:
                        cursor: null
                        next_cursor: null
                        limit: 100
                        ordering: relative_depth_id_asc
                      traversal:
                        depth_truncated: false
        '401':
          description: The credential is missing or does not resolve a membership in the company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: The anchor is missing, malformed, removed, in another company, or outside your team; `error.details.type` is `record_missing` or `placement_missing`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: An invalid selector, `invalid_cursor`, `pagination_requires_projection`, `invalid_ancestry`, or `lookup_too_large`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/api/member/v2026-10/team/{id}/level":
    get:
      tags:
      - team
      summary: List one level below a seat
      description: |
        Pages the current seats exactly `depth` levels below a seat in your
        team, skipping seats of removed members, breadth-first by
        (`relative_depth`, `id`). `depth` is both the traversal bound and the
        selected distance. The admitted profile is depth 1 to 7 and at most
        10,000 positions. A deeper request, or one whose range holds more
        positions, returns 422 `pagination_requires_projection` without a
        partial page; a read past its deadline returns `lookup_too_large`.

        Only `depth`, `cursor`, `limit`, `ids_only` and `as_of` are accepted;
        a body, filters and other selectors are refused with 422. A cursor is
        bound to you, the tree, the anchor seat, the operation, the depth and
        the ordering, and grants no access.
      operationId: member_team_level_index
      x-fluid-audience: member
      parameters:
      - in: path
        name: id
        required: true
        description: A node in your team.
        schema:
          type: string
          format: uuid
        example: 0192f3c1-0a1b-7c2d-8e3f-4a5b6c7d8e9f
      - in: query
        name: depth
        required: true
        description: Positive relative distance to select and traverse. Values above the admitted profile are refused, not clamped.
        schema:
          type: integer
          minimum: 1
        example: 1
      - in: query
        name: cursor
        description: Opaque forward cursor from a previous page of this same lookup.
        schema:
          type: string
          minLength: 1
      - in: query
        name: limit
        description: Maximum nodes in this page; may change between pages.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
      - in: query
        name: ids_only
        description: When true, return the same ordered page as an `ids` array instead of node objects.
        schema:
          type: boolean
          default: false
      - in: query
        name: as_of
        description: Read the placements recorded at this instant; omit for the current team. Intervals include their start and exclude their end.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: One ordered page of seats at the selected level, with traversal metadata; an empty level succeeds.
          content:
            application/json:
              schema:
                oneOf:
                - "$ref": "#/components/schemas/DeeperPageResponse"
                - "$ref": "#/components/schemas/DeeperIdsPageResponse"
              examples:
                ids:
                  summary: The first level below Dwight Schrute, as ids
                  value:
                    status: 200
                    ids:
                    - 0192f3c1-1b2c-7d3e-9f4a-5b6c7d8e9f0a
                    - 0192f3c1-2c3d-7e4f-8a5b-6c7d8e9f0a1b
                    meta:
                      request_uuid: 0192f4d0-8b9c-7d0e-9f1a-2b3c4d5e6f78
                      timestamp: '2026-09-16T10:02:00Z'
                      pagination:
                        cursor: null
                        next_cursor: null
                        limit: 100
                        ordering: relative_depth_id_asc
                      traversal:
                        depth_truncated: false
        '401':
          description: The credential is missing or does not resolve a membership in the company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: The anchor is missing, malformed, removed, in another company, or outside your team; `error.details.type` is `record_missing` or `placement_missing`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: An invalid selector, `invalid_cursor`, `pagination_requires_projection`, `invalid_ancestry`, or `lookup_too_large`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/api/member/v2026-10/team/{id}/level-counts":
    get:
      tags:
      - team
      summary: Count seats by level below a seat
      description: |
        Counts the structural positions at each positive distance below a
        seat in your team, down to `depth`, including retained seats of
        removed members. Those seats are counted but never returned as
        readable nodes. Levels are zero-filled through the bound.
        `counts_as_of` is the time this statement observed the counts.

        The admitted profile is depth 1 to 7 and at most 10,000 positions; a
        request beyond it returns 422 `pagination_requires_projection` without
        partial counts, and a read past its deadline returns
        `lookup_too_large`. Only `depth` is accepted; a body and history,
        period and paging selectors are refused with 422.
      operationId: member_team_level_counts_show
      x-fluid-audience: member
      parameters:
      - in: path
        name: id
        required: true
        description: A node in your team.
        schema:
          type: string
          format: uuid
        example: 0192f3c1-0a1b-7c2d-8e3f-4a5b6c7d8e9f
      - in: query
        name: depth
        required: true
        description: Positive relative distance bound. Values above the admitted profile are refused, not clamped.
        schema:
          type: integer
          minimum: 1
        example: 2
      responses:
        '200':
          description: Zero-filled counts per level, when they were observed, and whether the depth was truncated.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/LevelCountsResponse"
              examples:
                counts:
                  summary: Two seats one level below Dwight Schrute, none on the next
                  value:
                    status: 200
                    levels:
                    - distance: 1
                      count: 2
                    - distance: 2
                      count: 0
                    meta:
                      request_uuid: 0192f4d0-9c0d-7e1f-8a2b-3c4d5e6f7a89
                      timestamp: '2026-09-16T10:03:00Z'
                      traversal:
                        counts_as_of: '2026-09-16T10:03:00Z'
                        depth_truncated: false
        '401':
          description: The credential is missing or does not resolve a membership in the company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: The anchor is missing, malformed, removed, in another company, or outside your team; `error.details.type` is `record_missing`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: An invalid selector, `pagination_requires_projection`, `invalid_ancestry`, or `lookup_too_large`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/api/member/v2026-10/team/{id}/move":
    post:
      tags:
      - team moves
      summary: Move a seat in your downline
      description: |
        Moves a seat in your downline under another seat in your downline, or
        asks for approval to. You need rep eligibility and the tree's member
        movement policy must allow it: an open movement window, a movement
        depth limit, and a tree that accepts member moves. You cannot move
        your own seat. Neither the seat nor its new parent may be outside
        your team, and no member or actor selector is accepted.

        Returns 200 when the move is applied or already in place, and 202
        with a move request when the tree requires approval, or with a move
        job when the move is too large to validate inline. Moves cannot be
        backdated. Move submission is off until Fluid enables it for the
        company; until then this returns 503.
      operationId: member_team_move_create
      x-fluid-audience: member
      parameters:
      - name: id
        in: path
        required: true
        description: The seat to move, in your downline.
        schema:
          type: string
          format: uuid
        example: 0192f3c1-2c3d-7e4f-8a5b-6c7d8e9f0a1b
      - name: Idempotency-Key
        in: header
        required: false
        description: |
          Optional key that makes the request safe to retry. The first request
          with a key is evaluated and its outcome recorded; a retry with the
          same key and the same proposal replays that outcome, with the
          resource's current state, instead of moving again. The same key with
          a different proposal is refused with 409 `idempotency_key_reused`.
          Keys are scoped to you and the tree; failed requests record nothing.
          While moves are paused for the company the request returns 503
          without reading or recording the key, so retry it later with the
          same key. A recorded outcome is kept for at least 24 hours.
        schema:
          type: string
          minLength: 1
          maxLength: 255
          pattern: "^[!-~]+$"
        example: 3f1e8c0a-2b7d-4c1e-9a55-6e2f0b7d1c42
      requestBody:
        required: true
        description: The proposed new parent. The actor and source come from your credential.
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MoveProposal"
            examples:
              move:
                summary: Move Pam Beesly under Jim Halpert
                value:
                  move:
                    parent_node_id: 0192f3c1-1b2c-7d3e-9f4a-5b6c7d8e9f0a
                    reason: Pam is joining Jim's Stamford sales team
      responses:
        '200':
          description: The move was applied, or the seat was already there.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MovementResponse"
              examples:
                applied:
                  summary: Pam Beesly now sits under Jim Halpert
                  value:
                    status: 200
                    changed: true
                    queued: false
                    deferred: false
                    move_request: null
                    move_job: null
                    placement:
                      id: 0192f3d2-3d4e-7f5a-9b6c-7d8e9f0a1b2c
                      tree_id: 0192f3c0-4d5e-7f60-8a7b-9c0d1e2f3a4b
                      member_id: 0192f3a9-2c3d-7e4f-9a5b-6c7d8e9f0a12
                      node_id: 0192f3c1-2c3d-7e4f-8a5b-6c7d8e9f0a1b
                      parent_node_id: 0192f3c1-1b2c-7d3e-9f4a-5b6c7d8e9f0a
                      leg: null
                      effective_at: '2026-09-22T16:45:10Z'
                      ended_at: null
                      source: rep
                      actor_type: Company::Member
                      actor_id: 0192f3a8-5c1e-7d42-9b6a-3e8f1c2d4a57
                      reason: Pam is joining Jim's Stamford sales team
                      request_id: null
                    meta:
                      request_uuid: 0192f4d1-0d1e-7f2a-9b3c-4d5e6f7a8b90
                      timestamp: '2026-09-22T16:45:10Z'
        '202':
          description: Accepted for approval (a move request) or for deferred full validation (a move job).
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MovementResponse"
              examples:
                approval:
                  summary: The tree requires approval, so a move request is pending
                  value:
                    status: 202
                    changed: false
                    queued: true
                    deferred: false
                    placement: null
                    move_job: null
                    move_request:
                      id: 0192f3e4-5f6a-7b7c-8d9e-0f1a2b3c4d5e
                      tree_id: 0192f3c0-4d5e-7f60-8a7b-9c0d1e2f3a4b
                      node_id: 0192f3c1-2c3d-7e4f-8a5b-6c7d8e9f0a1b
                      parent_node_id: 0192f3c1-1b2c-7d3e-9f4a-5b6c7d8e9f0a
                      leg: null
                      reason: Pam is joining Jim's Stamford sales team
                      status: pending
                      requested_by_type: Company::Member
                      requested_by_id: 0192f3a8-5c1e-7d42-9b6a-3e8f1c2d4a57
                      placement_id: null
                      created_at: '2026-09-22T16:45:10Z'
                      decided_by_type: null
                      decided_by_id: null
                      decision_reason: null
                      expires_at: '2026-09-29T16:45:10Z'
                      decided_at: null
                    meta:
                      request_uuid: 0192f4d1-1e2f-7a3b-8c4d-5e6f7a8b9c01
                      timestamp: '2026-09-22T16:45:10Z'
                deferred:
                  summary: The move is too large to validate inline, so a move job is pending
                  value:
                    status: 202
                    changed: false
                    queued: false
                    deferred: true
                    placement: null
                    move_request: null
                    move_job:
                      id: 0192f3e5-6a7b-7c8d-9e0f-1a2b3c4d5e6f
                      tree_id: 0192f3c0-4d5e-7f60-8a7b-9c0d1e2f3a4b
                      node_id: 0192f3c1-2c3d-7e4f-8a5b-6c7d8e9f0a1b
                      parent_node_id: 0192f3c1-1b2c-7d3e-9f4a-5b6c7d8e9f0a
                      leg: null
                      reason: Pam is joining Jim's Stamford sales team
                      status: pending
                      requested_by_type: Company::Member
                      requested_by_id: 0192f3a8-5c1e-7d42-9b6a-3e8f1c2d4a57
                      placement_id: null
                      created_at: '2026-09-22T16:45:10Z'
                      approval_request_id: null
                      attempts: 0
                      failure_type: null
                      failure_details: {}
                      started_at: null
                      finished_at: null
                    meta:
                      request_uuid: 0192f4d1-2f3a-7b4c-9d5e-6f7a8b9c0d12
                      timestamp: '2026-09-22T16:45:10Z'
        '401':
          description: The credential is missing or does not resolve a membership in the company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: The seat or the proposed parent is not in your team.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '409':
          description: A concurrent placement, lock contention or a database deadlock; read the current state and retry. Also returned with type `idempotency_key_reused` when the key was used for a different proposal.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: A malformed proposal or `Idempotency-Key`, a member selector, or the current policy and structure violations, all listed in `error.details.violations`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '503':
          description: Move submission is not enabled for this company yet.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/api/member/v2026-10/team/{id}/move/validate":
    post:
      tags:
      - team moves
      summary: Preview a move in your downline
      description: |
        Checks a proposed move against the same policy and structure rules as
        the move itself, without writing anything or queuing work. The seat
        and the proposed parent must both be in your downline, and no member
        or actor selector is accepted.

        A preview too large to finish inline lists `validation_incomplete`
        among its violations; submit the move to have it validated in full
        as a move job.
      operationId: member_team_move_validate
      x-fluid-audience: member
      parameters:
      - name: id
        in: path
        required: true
        description: The seat to move, in your downline.
        schema:
          type: string
          format: uuid
        example: 0192f3c1-2c3d-7e4f-8a5b-6c7d8e9f0a1b
      requestBody:
        required: true
        description: The proposed new parent. The actor and source come from your credential.
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MoveProposal"
            examples:
              preview:
                summary: Preview moving Pam Beesly under Jim Halpert
                value:
                  move:
                    parent_node_id: 0192f3c1-1b2c-7d3e-9f4a-5b6c7d8e9f0a
      responses:
        '200':
          description: The move would be valid; `approval_required` says whether it would need approval.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MoveValidationResponse"
              examples:
                valid:
                  summary: Valid, but the tree requires approval
                  value:
                    status: 200
                    validation:
                      valid: true
                      approval_required: true
                      deferred: false
                      violations: []
                    meta:
                      request_uuid: 0192f4d1-3a4b-7c5d-8e6f-7a8b9c0d1e23
                      timestamp: '2026-09-22T16:40:00Z'
        '401':
          description: The credential is missing or does not resolve a membership in the company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: The seat or the proposed parent is not in your team.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: A malformed proposal, a member selector, or the current policy and structure violations, all listed in `error.details.violations`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/api/member/v2026-10/team/move-requests":
    get:
      tags:
      - team moves
      summary: List your move requests
      description: |
        Pages the move requests you made in a tree, newest first, for seats
        still in your team. A proposed parent outside your team is returned
        as null. A pending request past the current movement window is shown
        as expired without changing it. Requests made by anyone else are
        never listed, and a member selector is refused with 422.
      operationId: member_move_requests_index
      x-fluid-audience: member
      parameters:
      - name: tree_id
        in: query
        required: true
        description: The tree to list requests for.
        schema:
          type: string
          format: uuid
        example: 0192f3c0-4d5e-7f60-8a7b-9c0d1e2f3a4b
      - name: status
        in: query
        description: Only requests currently in this status.
        schema:
          type: string
          enum:
          - pending
          - approved
          - rejected
          - withdrawn
          - superseded
          - expired
        example: pending
      - name: limit
        in: query
        description: Maximum requests in one page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
      - name: cursor
        in: query
        description: Opaque cursor from a previous page's `meta.pagination.next_cursor`.
        schema:
          type: string
      responses:
        '200':
          description: One page of your move requests, newest first.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MoveRequestList"
              examples:
                pending:
                  summary: Dwight Schrute's pending request to move Pam Beesly
                  value:
                    status: 200
                    move_requests:
                    - id: 0192f3e4-5f6a-7b7c-8d9e-0f1a2b3c4d5e
                      tree_id: 0192f3c0-4d5e-7f60-8a7b-9c0d1e2f3a4b
                      node_id: 0192f3c1-2c3d-7e4f-8a5b-6c7d8e9f0a1b
                      parent_node_id: 0192f3c1-1b2c-7d3e-9f4a-5b6c7d8e9f0a
                      leg: null
                      reason: Pam is joining Jim's Stamford sales team
                      status: pending
                      requested_by_type: Company::Member
                      requested_by_id: 0192f3a8-5c1e-7d42-9b6a-3e8f1c2d4a57
                      placement_id: null
                      created_at: '2026-09-22T16:45:10Z'
                      decided_by_type: null
                      decided_by_id: null
                      decision_reason: null
                      expires_at: '2026-09-29T16:45:10Z'
                      decided_at: null
                    meta:
                      request_uuid: 0192f4d1-4b5c-7d6e-9f7a-8b9c0d1e2f34
                      timestamp: '2026-09-23T09:00:00Z'
                      pagination:
                        cursor: null
                        limit: 25
                        prev_cursor: null
                        next_cursor: null
        '401':
          description: The credential is missing or does not resolve a membership in the company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: The tree does not exist in your company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: A missing or invalid `tree_id`, an invalid filter, limit or cursor, or an unsupported selector.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/api/member/v2026-10/team/move-requests/{id}":
    get:
      tags:
      - team moves
      summary: Show one of your move requests
      description: |
        Returns a move request you made, while its seat is still in your
        team. A proposed parent outside your team is returned as null. A
        pending request past the current movement window is shown as expired
        without changing it. Another member's request returns 404.
      operationId: member_move_requests_show
      x-fluid-audience: member
      parameters:
      - name: id
        in: path
        required: true
        description: The move request.
        schema:
          type: string
          format: uuid
        example: 0192f3e4-5f6a-7b7c-8d9e-0f1a2b3c4d5e
      responses:
        '200':
          description: The move request.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MoveRequestResponse"
              examples:
                approved:
                  summary: The request to move Pam Beesly, approved by a company admin
                  value:
                    status: 200
                    move_request:
                      id: 0192f3e4-5f6a-7b7c-8d9e-0f1a2b3c4d5e
                      tree_id: 0192f3c0-4d5e-7f60-8a7b-9c0d1e2f3a4b
                      node_id: 0192f3c1-2c3d-7e4f-8a5b-6c7d8e9f0a1b
                      parent_node_id: 0192f3c1-1b2c-7d3e-9f4a-5b6c7d8e9f0a
                      leg: null
                      reason: Pam is joining Jim's Stamford sales team
                      status: approved
                      requested_by_type: Company::Member
                      requested_by_id: 0192f3a8-5c1e-7d42-9b6a-3e8f1c2d4a57
                      placement_id: 0192f3d2-3d4e-7f5a-9b6c-7d8e9f0a1b2c
                      created_at: '2026-09-22T16:45:10Z'
                      decided_by_type: Company::Admin
                      decided_by_id: 0192f3a7-4b5c-7d6e-8f7a-9b0c1d2e3f40
                      decision_reason: Approved by regional management
                      expires_at: '2026-09-29T16:45:10Z'
                      decided_at: '2026-09-23T10:15:00Z'
                    meta:
                      request_uuid: 0192f4d1-5c6d-7e7f-8a8b-9c0d1e2f3a45
                      timestamp: '2026-09-23T10:20:00Z'
        '401':
          description: The credential is missing or does not resolve a membership in the company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: No such request of yours, or its seat has left your team.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: An unsupported selector, such as `member_id` or `decision`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/api/member/v2026-10/team/move-requests/{id}/withdraw":
    post:
      tags:
      - team moves
      summary: Withdraw one of your move requests
      description: |
        Cancels a pending move request you made. You can withdraw it while
        move submission is off, after losing rep eligibility, or after its
        seat has left your team. Only the request's id and final status are
        returned. A request already past the current movement window is
        recorded as expired instead. Another member's request returns 404,
        and a member selector or a `decision` is refused with 422.
      operationId: member_move_requests_withdraw
      x-fluid-audience: member
      parameters:
      - name: id
        in: path
        required: true
        description: Your move request.
        schema:
          type: string
          format: uuid
        example: 0192f3e4-5f6a-7b7c-8d9e-0f1a2b3c4d5e
      requestBody:
        required: false
        description: No fields are needed; send an empty object or no body.
        content:
          application/json:
            schema:
              type: object
              properties:
                decision: false
            examples:
              empty:
                summary: No body fields
                value: {}
      responses:
        '200':
          description: The request is withdrawn, or recorded as expired.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WithdrawalResponse"
              examples:
                withdrawn:
                  summary: Dwight Schrute withdrew his request to move Pam Beesly
                  value:
                    status: 200
                    move_request:
                      id: 0192f3e4-5f6a-7b7c-8d9e-0f1a2b3c4d5e
                      status: withdrawn
                    meta:
                      request_uuid: 0192f4d1-6d7e-7f8a-9b9c-0d1e2f3a4b56
                      timestamp: '2026-09-23T08:30:00Z'
        '401':
          description: The credential is missing or does not resolve a membership in the company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: No such request of yours in your company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '409':
          description: The request is no longer pending, the tree is busy, or a database deadlock occurred.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: An unsupported field, such as `member_id` or `decision`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/api/member/v2026-10/team/move-jobs/{id}":
    get:
      tags:
      - team moves
      summary: Show one of your move jobs
      description: |
        Returns a move job from one of your moves, while its seat is still in
        your team, so you can follow a move that was too large to validate
        inline. A proposed parent outside your team is returned as null. You
        can read it while move submission is off. Another member's job
        returns 404.
      operationId: member_move_jobs_show
      x-fluid-audience: member
      parameters:
      - name: id
        in: path
        required: true
        description: The move job.
        schema:
          type: string
          format: uuid
        example: 0192f3e5-6a7b-7c8d-9e0f-1a2b3c4d5e6f
      responses:
        '200':
          description: The move job's current progress.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MoveJobResponse"
              examples:
                applied:
                  summary: The move of Pam Beesly has been applied
                  value:
                    status: 200
                    move_job:
                      id: 0192f3e5-6a7b-7c8d-9e0f-1a2b3c4d5e6f
                      tree_id: 0192f3c0-4d5e-7f60-8a7b-9c0d1e2f3a4b
                      node_id: 0192f3c1-2c3d-7e4f-8a5b-6c7d8e9f0a1b
                      parent_node_id: 0192f3c1-1b2c-7d3e-9f4a-5b6c7d8e9f0a
                      leg: null
                      reason: Pam is joining Jim's Stamford sales team
                      status: applied
                      requested_by_type: Company::Member
                      requested_by_id: 0192f3a8-5c1e-7d42-9b6a-3e8f1c2d4a57
                      placement_id: 0192f3d2-3d4e-7f5a-9b6c-7d8e9f0a1b2c
                      created_at: '2026-09-22T16:45:10Z'
                      approval_request_id: null
                      attempts: 1
                      failure_type: null
                      failure_details: {}
                      started_at: '2026-09-22T16:45:12Z'
                      finished_at: '2026-09-22T16:45:19Z'
                    meta:
                      request_uuid: 0192f4d1-7e8f-7a9b-8c0d-1e2f3a4b5c67
                      timestamp: '2026-09-22T16:46:00Z'
        '401':
          description: The credential is missing or does not resolve a membership in the company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthError"
        '404':
          description: No such job of yours, or its seat has left your team.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '422':
          description: An unsupported selector, such as `member_id` or `decision`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
components:
  securitySchemes:
    MemberBearer:
      type: http
      scheme: bearer
      description: |
        A credential in the `Authorization: Bearer` header that resolves to
        a membership in the company. The credential alone selects the member
        and the company.

        Accepted: a member's user token, a portal JWT whose login is linked
        to a membership, a member session JWT for a member with a customer
        record, a legacy customer session JWT, and, where enabled, a Fluid
        identity access token that names a membership. Unlike the People and Commerce member
        APIs, these routes do not treat any credential as read-only: a
        member session JWT or portal JWT can also submit and withdraw moves.

        Refused with 401: no credential, company API tokens, partner tokens,
        public (`pub-`) tokens and droplet installation tokens, since none of
        them identifies a member, and a portal JWT with no membership linked
        to it.

        Not refused: these routes do not yet apply the member credential
        rules of the People and Commerce APIs. An admin's user token, an
        admin's portal JWT and an impersonation JWT are accepted when the
        user holds a membership in the company, and act as that membership
        only, reading and moving within that membership's own team. Use the
        company genealogy API for company-wide access.
  schemas:
    DirectPageResponse:
      type: object
      required: [status, nodes, meta]
      additionalProperties: false
      properties:
        status:
          type: integer
          const: 200
        nodes:
          type: array
          maxItems: 1000
          items:
            "$ref": "#/components/schemas/CurrentNode"
        meta:
          allOf:
          - "$ref": "#/components/schemas/Meta"
          - type: object
            required: [pagination]
            properties:
              pagination:
                "$ref": "#/components/schemas/DirectPagePagination"
    DirectIdsPageResponse:
      type: object
      required: [status, ids, meta]
      additionalProperties: false
      properties:
        status:
          type: integer
          const: 200
        ids:
          type: array
          maxItems: 1000
          description: Ordered node ids for this page, sharing the node page's coordinates and ordering.
          items:
            type: string
            format: uuid
        meta:
          allOf:
          - "$ref": "#/components/schemas/Meta"
          - type: object
            required: [pagination]
            properties:
              pagination:
                "$ref": "#/components/schemas/DirectPagePagination"
    DirectPagePagination:
      type: object
      required: [cursor, next_cursor, limit, ordering]
      additionalProperties: false
      properties:
        cursor:
          type: [string, 'null']
          description: Cursor supplied for this page, or null for the first page.
        next_cursor:
          type: [string, 'null']
          description: Forward continuation cursor, or null when no further eligible row exists.
        limit:
          type: integer
          minimum: 1
          maximum: 1000
        ordering:
          type: string
          enum: [node_id_asc, leg_rank_position_id_asc]
          description: node_id_asc for unilevel trees; leg_rank_position_id_asc for binary and
            matrix trees.
    DeeperPageResponse:
      type: object
      required: [status, nodes, meta]
      additionalProperties: false
      properties:
        status:
          type: integer
          const: 200
        nodes:
          type: array
          maxItems: 1000
          items:
            "$ref": "#/components/schemas/DeeperNode"
        meta:
          allOf:
          - "$ref": "#/components/schemas/Meta"
          - type: object
            required: [pagination, traversal]
            properties:
              pagination:
                "$ref": "#/components/schemas/DeeperPagePagination"
              traversal:
                "$ref": "#/components/schemas/DeeperPageTraversal"
    DeeperIdsPageResponse:
      type: object
      required: [status, ids, meta]
      additionalProperties: false
      properties:
        status:
          type: integer
          const: 200
        ids:
          type: array
          maxItems: 1000
          description: Ordered node ids for this page, sharing the node page's coordinates and traversal metadata.
          items:
            type: string
            format: uuid
        meta:
          allOf:
          - "$ref": "#/components/schemas/Meta"
          - type: object
            required: [pagination, traversal]
            properties:
              pagination:
                "$ref": "#/components/schemas/DeeperPagePagination"
              traversal:
                "$ref": "#/components/schemas/DeeperPageTraversal"
    DeeperPagePagination:
      type: object
      required: [cursor, next_cursor, limit, ordering]
      additionalProperties: false
      properties:
        cursor:
          type: [string, 'null']
          description: Cursor supplied for this page, or null for the first page.
        next_cursor:
          type: [string, 'null']
          description: Forward continuation cursor, or null when no further eligible row exists.
        limit:
          type: integer
          minimum: 1
          maximum: 1000
        ordering:
          type: string
          const: relative_depth_id_asc
    DeeperPageTraversal:
      type: object
      required: [depth_truncated]
      additionalProperties: false
      properties:
        depth_truncated:
          type: boolean
          description: True when eligible positions exist beyond the selected depth or profile bound.
    DeeperNode:
      type: object
      description: Current immutable deeper-page node identity with its relative depth.
      required: [id, tree_id, member_id, parent_node_id, leg, position, pinned, relative_depth]
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        tree_id:
          type: string
          format: uuid
        member_id:
          type: string
          format: uuid
        parent_node_id:
          type: [string, 'null']
          format: uuid
        leg:
          type: [string, 'null']
        position:
          type: integer
          minimum: 0
        pinned:
          type: boolean
        relative_depth:
          type: integer
          minimum: 0
    LevelCountsResponse:
      type: object
      required: [status, levels, meta]
      additionalProperties: false
      properties:
        status:
          type: integer
          const: 200
        levels:
          type: array
          maxItems: 7
          items:
            "$ref": "#/components/schemas/LevelCount"
        meta:
          allOf:
          - "$ref": "#/components/schemas/Meta"
          - type: object
            required: [traversal]
            properties:
              traversal:
                "$ref": "#/components/schemas/LevelCountsTraversal"
    LevelCount:
      type: object
      description: Structural positions at one positive distance from the anchor.
      required: [distance, count]
      additionalProperties: false
      properties:
        distance:
          type: integer
          minimum: 1
        count:
          type: integer
          minimum: 0
    LevelCountsTraversal:
      type: object
      required: [counts_as_of, depth_truncated]
      additionalProperties: false
      properties:
        counts_as_of:
          type: string
          format: date-time
        depth_truncated:
          type: boolean
          description: True when eligible positions exist beyond the requested depth or profile bound.
    Meta:
      type: object
      properties:
        request_uuid:
          type:
          - string
          - 'null'
          description: Request correlation identifier.
        timestamp:
          type: string
          description: Response timestamp.
          format: date-time
      required:
      - request_uuid
      - timestamp
    Error:
      type: object
      properties:
        status:
          type: integer
        error:
          type: object
          properties:
            message:
              type: string
            details:
              type: object
              additionalProperties: true
          required:
          - message
          - details
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - status
      - error
      - meta
    AuthError:
      type: object
      description: Authentication failure. A missing or unusable credential returns `message`; a credential with no membership in the company returns the standard error envelope.
      properties:
        message:
          type: string
        error: {}
      additionalProperties: true
    CurrentRelationship:
      type: object
      properties:
        id:
          type: string
          description: Node identifier.
          format: uuid
        tree_id:
          type: string
          description: Tree identifier.
          format: uuid
        member_id:
          type: string
          description: Seated member identifier.
          format: uuid
        parent_node_id:
          type:
          - string
          - 'null'
          description: Recorded parent; null when its member is discarded or outside current member scope.
          format: uuid
        leg:
          type:
          - string
          - 'null'
          description: Recorded placement leg.
        effective_at:
          type: string
          description: Inclusive start of the recorded placement.
          format: date-time
        ended_at:
          type:
          - string
          - 'null'
          description: Exclusive end; null for the current placement.
          format: date-time
        children_count:
          type: integer
          minimum: 0
          readOnly: true
          description: Retained direct child seats, including discarded members omitted from page lists.
        downline_count:
          type: integer
          minimum: 0
          readOnly: true
          description: Retained descendant seats at all depths, including discarded members.
        counts_as_of:
          type: string
          format: date-time
          readOnly: true
          description: Observation statement time for the exact structural counts, not the last fold time.
      required:
      - children_count
      - downline_count
      - counts_as_of
      - id
      - tree_id
      - member_id
      - parent_node_id
      - leg
      - effective_at
      - ended_at
      additionalProperties: false
    Relationship:
      type: object
      properties:
        id:
          type: string
          description: Node identifier.
          format: uuid
        tree_id:
          type: string
          description: Tree identifier.
          format: uuid
        member_id:
          type: string
          description: Seated member identifier.
          format: uuid
        parent_node_id:
          type:
          - string
          - 'null'
          description: Recorded parent, clipped outside a member's current scope.
          format: uuid
        leg:
          type:
          - string
          - 'null'
          description: Recorded placement leg.
        effective_at:
          type: string
          description: Inclusive start of the recorded placement.
          format: date-time
        ended_at:
          type:
          - string
          - 'null'
          description: Exclusive end; null for the current placement.
          format: date-time
      required:
      - id
      - tree_id
      - member_id
      - parent_node_id
      - leg
      - effective_at
      - ended_at
      additionalProperties: false
    Placement:
      type: object
      properties:
        id:
          type: string
          description: Placement identifier.
          format: uuid
        tree_id:
          type: string
          description: Tree identifier.
          format: uuid
        member_id:
          type: string
          description: Seated member identifier.
          format: uuid
        parent_node_id:
          type:
          - string
          - 'null'
          description: Recorded parent, clipped outside a member's current scope.
          format: uuid
        leg:
          type:
          - string
          - 'null'
          description: Recorded placement leg.
        effective_at:
          type: string
          description: Inclusive start of the recorded placement.
          format: date-time
        ended_at:
          type:
          - string
          - 'null'
          description: Exclusive end; null for the current placement.
          format: date-time
        node_id:
          type: string
          description: Node identifier.
          format: uuid
        source:
          type: string
          description: Recorded origin of this placement.
        actor_type:
          type:
          - string
          - 'null'
          description: The kind of actor that recorded this placement.
        actor_id:
          type:
          - string
          - 'null'
          description: Recorded actor identity.
          format: uuid
        reason:
          type:
          - string
          - 'null'
          description: Recorded explanation.
        request_id:
          type:
          - string
          - 'null'
          description: Approval receipt when applicable.
          format: uuid
      required:
      - id
      - tree_id
      - member_id
      - parent_node_id
      - leg
      - effective_at
      - ended_at
      - node_id
      - source
      - actor_type
      - actor_id
      - reason
      - request_id
      additionalProperties: false
    CurrentNode:
      type: object
      description: Current immutable node identity and structure, without counter or profile expansion.
      required: [id, tree_id, member_id, parent_node_id, leg, position, pinned]
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        tree_id:
          type: string
          format: uuid
        member_id:
          type: string
          format: uuid
        parent_node_id:
          type: [string, 'null']
          format: uuid
        leg:
          type: [string, 'null']
        position:
          type: integer
          minimum: 0
        pinned:
          type: boolean
    CurrentOrHistoricalRelationshipResponse:
      description: Current requests include structural counts; explicit as_of requests retain the historical shape without counts.
      oneOf:
      - "$ref": "#/components/schemas/RelationshipResponse"
      - "$ref": "#/components/schemas/CurrentRelationshipResponse"
    CurrentRelationshipResponse:
      type: object
      properties:
        status:
          type: integer
          const: 200
        node:
          "$ref": "#/components/schemas/CurrentRelationship"
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - status
      - node
      - meta
      additionalProperties: false
    RelationshipResponse:
      type: object
      properties:
        status:
          type: integer
          const: 200
        node:
          "$ref": "#/components/schemas/Relationship"
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - status
      - node
      - meta
      additionalProperties: false
    HistoryPagination:
      type: object
      properties:
        cursor:
          type:
          - string
          - 'null'
          description: Current opaque cursor.
        limit:
          type: integer
          minimum: 1
          maximum: 100
        prev_cursor:
          type:
          - string
          - 'null'
          description: Previous opaque cursor.
        next_cursor:
          type:
          - string
          - 'null'
          description: Next opaque cursor.
      required:
      - cursor
      - limit
      - prev_cursor
      - next_cursor
      additionalProperties: false
    PlacementList:
      type: object
      properties:
        status:
          type: integer
          const: 200
        placements:
          type: array
          items:
            "$ref": "#/components/schemas/Placement"
        meta:
          allOf:
          - "$ref": "#/components/schemas/Meta"
          - type: object
            properties:
              pagination:
                "$ref": "#/components/schemas/HistoryPagination"
            required:
            - pagination
      required:
      - status
      - placements
      - meta
      additionalProperties: false
    MoveProposal:
      type: object
      properties:
        move:
          type: object
          required:
          - parent_node_id
          additionalProperties: false
          properties:
            parent_node_id:
              type:
              - string
              - 'null'
              description: The proposed new parent, a seat in your downline. A null
                parent (a root move) is refused for members.
              format: uuid
            reason:
              type:
              - string
              - 'null'
              description: Optional explanation, at most 2000 characters.
              maxLength: 2000
            leg:
              type:
              - string
              - 'null'
              description: The leg under the proposed parent in a binary or matrix
                tree. It is required below a parent (leg_required), must be one
                of the tree's leg_names (leg_unknown) and must be free (leg_full),
                and is null for a root move. Binary and matrix moves need the
                company to be enabled for legged trees (legged_trees_not_enabled).
                Unilevel moves reject a non-null leg with leg_unknown.
            effective_at:
              type: string
              description: Any supplied value is rejected with effective_date_not_supported;
                moves apply only at server-recorded current time.
              minLength: 1
      required:
      - move
    MoveRequest:
      type: object
      properties:
        id:
          type: string
          description: Receipt identifier.
          format: uuid
        tree_id:
          type: string
          description: Tree identifier.
          format: uuid
        node_id:
          type: string
          description: Moving node identifier.
          format: uuid
        parent_node_id:
          type:
          - string
          - 'null'
          description: Proposed parent identifier.
          format: uuid
        leg:
          type:
          - string
          - 'null'
          description: Proposed placement leg.
        reason:
          type:
          - string
          - 'null'
          description: Requester explanation.
        status:
          type: string
          description: Approval lifecycle state.
          enum:
          - pending
          - approved
          - rejected
          - withdrawn
          - superseded
          - expired
        requested_by_type:
          type: string
          description: The kind of requester, as recorded.
        requested_by_id:
          type: string
          description: The requester's identifier; for a member request, the member's id.
          format: uuid
        placement_id:
          type:
          - string
          - 'null'
          description: Applied placement, when complete.
          format: uuid
        created_at:
          type: string
          description: Receipt admission time.
          format: date-time
        decided_by_type:
          type:
          - string
          - 'null'
          description: The kind of approver, as recorded.
        decided_by_id:
          type:
          - string
          - 'null'
          description: Approver identity.
          format: uuid
        decision_reason:
          type:
          - string
          - 'null'
          description: Decision explanation.
        expires_at:
          type: string
          description: Configured eligibility deadline.
          format: date-time
        decided_at:
          type:
          - string
          - 'null'
          description: Decision time.
          format: date-time
      required:
      - id
      - tree_id
      - node_id
      - parent_node_id
      - leg
      - reason
      - status
      - requested_by_type
      - requested_by_id
      - placement_id
      - created_at
      - decided_by_type
      - decided_by_id
      - decision_reason
      - expires_at
      - decided_at
      additionalProperties: false
    MoveJob:
      type: object
      properties:
        id:
          type: string
          description: Receipt identifier.
          format: uuid
        tree_id:
          type: string
          description: Tree identifier.
          format: uuid
        node_id:
          type: string
          description: Moving node identifier.
          format: uuid
        parent_node_id:
          type:
          - string
          - 'null'
          description: Proposed parent identifier.
          format: uuid
        leg:
          type:
          - string
          - 'null'
          description: Proposed placement leg.
        reason:
          type:
          - string
          - 'null'
          description: Requester explanation.
        status:
          type: string
          description: Execution lifecycle state.
          enum:
          - pending
          - running
          - applied
          - failed
          - superseded
        requested_by_type:
          type: string
          description: The kind of requester, as recorded.
        requested_by_id:
          type: string
          description: The requester's identifier; for a member request, the member's id.
          format: uuid
        placement_id:
          type:
          - string
          - 'null'
          description: Applied placement, when complete.
          format: uuid
        created_at:
          type: string
          description: Receipt admission time.
          format: date-time
        approval_request_id:
          type:
          - string
          - 'null'
          description: Human approval receipt when applicable.
          format: uuid
        attempts:
          type: integer
          minimum: 0
        failure_type:
          type:
          - string
          - 'null'
          description: Terminal or most recent attempt failure.
        failure_details:
          type: object
          additionalProperties: true
        started_at:
          type:
          - string
          - 'null'
          description: Most recent attempt start.
          format: date-time
        finished_at:
          type:
          - string
          - 'null'
          description: Terminal completion time.
          format: date-time
      required:
      - id
      - tree_id
      - node_id
      - parent_node_id
      - leg
      - reason
      - status
      - requested_by_type
      - requested_by_id
      - placement_id
      - created_at
      - approval_request_id
      - attempts
      - failure_type
      - failure_details
      - started_at
      - finished_at
      additionalProperties: false
    MovementResponse:
      type: object
      properties:
        status:
          type: integer
          enum:
          - 200
          - 202
        placement:
          anyOf:
          - "$ref": "#/components/schemas/Placement"
          - type: 'null'
        move_request:
          anyOf:
          - "$ref": "#/components/schemas/MoveRequest"
          - type: 'null'
        move_job:
          anyOf:
          - "$ref": "#/components/schemas/MoveJob"
          - type: 'null'
        changed:
          type: boolean
        queued:
          type: boolean
        deferred:
          type: boolean
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - status
      - placement
      - move_request
      - move_job
      - changed
      - queued
      - deferred
      - meta
      additionalProperties: false
      oneOf:
      - properties:
          status:
            const: 200
          placement:
            "$ref": "#/components/schemas/Placement"
          move_request:
            type: 'null'
          move_job:
            type: 'null'
          queued:
            const: false
          deferred:
            const: false
      - properties:
          status:
            const: 202
          placement:
            type: 'null'
          move_request:
            "$ref": "#/components/schemas/MoveRequest"
          move_job:
            type: 'null'
          queued:
            const: true
          deferred:
            const: false
      - properties:
          status:
            const: 202
          placement:
            type: 'null'
          move_request:
            type: 'null'
          move_job:
            "$ref": "#/components/schemas/MoveJob"
          queued:
            const: false
          deferred:
            const: true
    MoveValidationResponse:
      type: object
      properties:
        status:
          type: integer
          const: 200
        validation:
          type: object
          properties:
            valid:
              type: boolean
              const: true
            approval_required:
              type: boolean
            deferred:
              type: boolean
              const: false
            violations:
              type: array
              maxItems: 0
              items:
                type: object
          required:
          - valid
          - approval_required
          - deferred
          - violations
          additionalProperties: false
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - status
      - validation
      - meta
      additionalProperties: false
    MoveRequestResponse:
      type: object
      required:
      - status
      - meta
      - move_request
      properties:
        status:
          type: integer
        meta:
          "$ref": "#/components/schemas/Meta"
        move_request:
          "$ref": "#/components/schemas/MoveRequest"
    MoveRequestList:
      type: object
      required:
      - status
      - move_requests
      - meta
      properties:
        status:
          type: integer
        move_requests:
          type: array
          items:
            "$ref": "#/components/schemas/MoveRequest"
        meta:
          type: object
          required:
          - pagination
          properties:
            pagination:
              "$ref": "#/components/schemas/HistoryPagination"
    WithdrawalResponse:
      type: object
      required:
      - status
      - meta
      - move_request
      properties:
        status:
          type: integer
        meta:
          "$ref": "#/components/schemas/Meta"
        move_request:
          type: object
          additionalProperties: false
          required:
          - id
          - status
          properties:
            id:
              type: string
              format: uuid
            status:
              type: string
              enum:
              - withdrawn
              - expired
    MoveJobResponse:
      type: object
      required:
      - status
      - meta
      - move_job
      properties:
        status:
          type: integer
        meta:
          "$ref": "#/components/schemas/Meta"
        move_job:
          "$ref": "#/components/schemas/MoveJob"
