openapi: 3.1.0
info:
  title: Fluid Members v2025-06 API
  version: v2025-06
  description: 'The unified **Member** identity surface.


    `Member` is the durable identity record in Fluid. The older `/customers` and `/reps` responses do
    not carry `member_type`, so a client that needs to tell a Customer from a Rep — or from a type the
    company defines itself — reads it here.


    Member path ids accept either the native UUID or the legacy bigint (`legacy_user_company_id`), so
    existing links keep working.


    Every endpoint takes a company-admin bearer token and the relevant `members` permission, except the
    genealogy read, which a rep may also call for their own node or any member inside their own downline.

    '
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
- url: https://{company}.fluid.app
  description: Production server with company subdomain
  variables:
    company:
      default: myco
      description: Company subdomain
tags:
- name: members
  description: Unified member identity
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
  schemas:
    ErrorBag:
      description: Validation errors keyed by field, a list of errors, a single error message, or null
        when no structured error details are available.
      anyOf:
      - type: string
      - type: array
        items:
          $ref: '#/components/schemas/ErrorValue'
      - type: object
        additionalProperties:
          $ref: '#/components/schemas/ErrorValue'
      - type: 'null'
    ErrorMessage:
      description: An API error message represented as text or structured JSON.
      anyOf:
      - type: string
      - $ref: '#/components/schemas/ErrorBag'
      - type: 'null'
    ErrorValue:
      description: A validation or API error value.
      anyOf:
      - type: string
      - type: array
        items:
          type: string
      - type: object
        additionalProperties:
          $ref: '#/components/schemas/JsonValue'
    JsonValue:
      description: Any valid JSON value for provider, integration, theme, metadata, or other dynamic payloads
        whose keys are not fixed by the API contract.
      anyOf:
      - type: string
      - type: number
      - type: boolean
      - type: 'null'
      - type: array
        items:
          $ref: '#/components/schemas/JsonValue'
      - type: object
        additionalProperties:
          $ref: '#/components/schemas/JsonValue'
    MemberDetail:
      type: object
      description: The member detail (admin view). Key identity and profile fields are enumerated; the
        admin view also returns additional fields (addresses, payment_methods, sponsor, placement, member_type,
        rank, points, orders_count, total_spent_in_base, notes).
      properties:
        id:
          type: string
          description: The member's native UUID.
        email:
          type: string
          format: email
        name:
          type:
          - string
          - 'null'
        username:
          type:
          - string
          - 'null'
        first_name:
          type: string
        last_name:
          type: string
        member_type_slug:
          type:
          - string
          - 'null'
        activity_status:
          type: string
        legacy_user_company_id:
          type:
          - integer
          - 'null'
        legacy_customer_id:
          type:
          - integer
          - 'null'
        phone:
          type:
          - string
          - 'null'
        external_id:
          type:
          - string
          - 'null'
        dob:
          type:
          - string
          - 'null'
          format: date
          description: Date of birth from the member's linked user record. API-only — not included in
            member webhook payloads.
        country_code:
          type:
          - string
          - 'null'
        language_code:
          type:
          - string
          - 'null'
        metadata:
          type:
          - object
          - 'null'
        tax_exempt:
          type: boolean
        sales_tax_id:
          type:
          - string
          - 'null'
        email_marketing:
          type: boolean
        sms_marketing:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    MemberGenealogyNode:
      type: object
      required:
      - id
      - member_type
      - first_name
      - last_name
      - email
      - phone
      - join_date
      - active
      - rank
      - user_company_id
      - customer_id
      - has_children
      - downline
      properties:
        id:
          type: string
          format: uuid
        member_type:
          type: string
        first_name:
          type:
          - string
          - 'null'
        last_name:
          type:
          - string
          - 'null'
        email:
          type: string
        phone:
          type:
          - string
          - 'null'
        join_date:
          type: string
          format: date-time
        active:
          type: boolean
        rank:
          type:
          - string
          - 'null'
        user_company_id:
          type:
          - integer
          - 'null'
        customer_id:
          type:
          - integer
          - 'null'
        has_children:
          type: boolean
        downline:
          type: array
          items:
            $ref: '#/components/schemas/MemberGenealogyNode'
    Meta:
      type: object
      properties:
        request_id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
    StandardErrorResponse:
      description: Common legacy error response envelope. Older endpoints may return one or more of these
        fields depending on the controller path.
      type: object
      properties:
        message:
          type: string
        error:
          $ref: '#/components/schemas/ErrorMessage'
        error_message:
          $ref: '#/components/schemas/ErrorMessage'
        errors:
          $ref: '#/components/schemas/ErrorBag'
        meta:
          $ref: '#/components/schemas/Meta'
      additionalProperties:
        $ref: '#/components/schemas/JsonValue'
    UnauthorizedResponse:
      type: object
      properties:
        message:
          type: string
        error_message:
          type: string
        errors:
          $ref: '#/components/schemas/ErrorBag'
        meta:
          $ref: '#/components/schemas/Meta'
security:
- bearer_auth: []
paths:
  /api/v2025-06/members:
    get:
      operationId: admin_v2025_06_members_get
      summary: List members
      description: Returns a cursor-paginated list of members for the current company.
      tags:
      - members
      security:
      - bearer_auth: []
      parameters:
      - name: page[cursor]
        in: query
        required: false
        description: Cursor token from the previous response page.
        schema:
          type: string
      - name: page[limit]
        in: query
        required: false
        description: Number of members to return.
        schema:
          type: integer
          minimum: 1
          maximum: 100
      - name: sort
        in: query
        required: false
        description: Sort order. Prefix with `-` to reverse.
        schema:
          type: string
          enum:
          - created_at
          - -created_at
          - name
          - -name
      - name: filter[active]
        in: query
        required: false
        description: Restrict to active (`true`) or inactive (`false`) members.
        schema:
          type: boolean
      - name: filter[member_type_slug]
        in: query
        required: false
        description: Restrict to one member type, e.g. `customer` or `rep`.
        schema:
          type: string
      - name: filter[search]
        in: query
        required: false
        description: Free-text match across name, email, and username.
        schema:
          type: string
      - name: filter[country_iso]
        in: query
        required: false
        description: ISO 3166-1 alpha-2 country code.
        schema:
          type: string
          pattern: ^[A-Za-z]{2}$
      - name: filter[external_id]
        in: query
        required: false
        description: The member's external id, as set by an integration.
        schema:
          type: string
      - name: filter[sponsor_member_id]
        in: query
        required: false
        description: Restrict to members sponsored by this member.
        schema:
          type: string
      - name: filter[rank_id]
        in: query
        required: false
        description: Restrict to members holding this rank.
        schema:
          type: integer
      - name: filter[orders_count_min]
        in: query
        required: false
        description: Minimum lifetime order count.
        schema:
          type: integer
      - name: filter[orders_count_max]
        in: query
        required: false
        description: Maximum lifetime order count.
        schema:
          type: integer
      - name: filter[total_spent_min]
        in: query
        required: false
        description: Minimum lifetime spend, in the company base currency.
        schema:
          type: number
      - name: filter[total_spent_max]
        in: query
        required: false
        description: Maximum lifetime spend, in the company base currency.
        schema:
          type: number
      - name: filter[created_at_from]
        in: query
        required: false
        description: Only members created at or after this time.
        schema:
          type: string
          format: date-time
      - name: filter[created_at_to]
        in: query
        required: false
        description: Only members created at or before this time.
        schema:
          type: string
          format: date-time
      - name: filter[updated_at_from]
        in: query
        required: false
        description: Only members updated at or after this time.
        schema:
          type: string
          format: date-time
      - name: filter[updated_at_to]
        in: query
        required: false
        description: Only members updated at or before this time.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - members
                - meta
                properties:
                  members:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - email
                      - name
                      - activity_status
                      properties:
                        id:
                          type: string
                        email:
                          type:
                          - string
                          - 'null'
                        name:
                          type: string
                        username:
                          type:
                          - string
                          - 'null'
                        external_id:
                          type:
                          - string
                          - 'null'
                        legacy_user_company_id:
                          type:
                          - integer
                          - 'null'
                        legacy_customer_id:
                          type:
                          - integer
                          - 'null'
                        activity_status:
                          type: string
                        orders_count:
                          type: integer
                        total_spent_in_base:
                          type:
                          - number
                          - string
                          - 'null'
                        first_name:
                          type: string
                        last_name:
                          type: string
                        member_type_slug:
                          type:
                          - string
                          - 'null'
                        country_code:
                          type:
                          - string
                          - 'null'
                        created_at:
                          type: string
                          format: date-time
                        updated_at:
                          type: string
                          format: date-time
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    type: integer
                additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: 'The caller is authenticated but not permitted: a rep-tier token, or an admin/service
            token without the required members permission.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '422':
          description: Invalid pagination or filter parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
    post:
      operationId: admin_v2025_06_members_post
      summary: Create a member
      description: Creates a member (the unified customer/rep record) with the given member_type_slug.
        A duplicate email returns 422 with error.details.existing_member carrying the colliding member's
        identity summary (id, email, name, member_type_slug, phone and legacy ids), so find-or-create
        callers can recover the existing member without a follow-up lookup.
      tags:
      - members
      security:
      - bearer_auth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - member
              properties:
                member:
                  type: object
                  required:
                  - email
                  - member_type_slug
                  properties:
                    email:
                      type: string
                    member_type_slug:
                      type: string
                      enum:
                      - rep
                      - customer
                    first_name:
                      type:
                      - string
                      - 'null'
                    last_name:
                      type:
                      - string
                      - 'null'
                    phone:
                      type:
                      - string
                      - 'null'
                    dob:
                      type:
                      - string
                      - 'null'
                      format: date
                      description: Date of birth, written to the member's linked user record.
                    username:
                      type:
                      - string
                      - 'null'
                    external_id:
                      type:
                      - string
                      - 'null'
                    account_id:
                      type:
                      - string
                      - 'null'
                    notes:
                      type:
                      - string
                      - 'null'
                    metadata:
                      type:
                      - object
                      - 'null'
                    active:
                      type:
                      - boolean
                      - 'null'
                    rank_id:
                      type:
                      - integer
                      - 'null'
                    email_marketing:
                      type:
                      - boolean
                      - 'null'
                    sms_marketing:
                      type:
                      - boolean
                      - 'null'
                    language_code:
                      type:
                      - string
                      - 'null'
                    country_code:
                      type:
                      - string
                      - 'null'
                    tax_exempt:
                      type: boolean
                    sales_tax_id:
                      type: string
                    send_invitation:
                      type:
                      - boolean
                      - 'null'
                      description: Whether the invitation notifier fires after creation (default true).
                    address:
                      type: object
                      description: Sets the member's default address (`country`, not `country_code`).
                      required:
                      - address1
                      - city
                      - state
                      - postal_code
                      - country
                      properties:
                        address1:
                          type: string
                        address2:
                          type: string
                        city:
                          type: string
                        state:
                          type: string
                        postal_code:
                          type: string
                        country:
                          type: string
                        name:
                          type: string
      responses:
        '201':
          description: Created; returns the member detail (admin view).
          content:
            application/json:
              schema:
                type: object
                properties:
                  member:
                    type: object
                    description: The member detail (admin view). Key identity and profile fields are enumerated;
                      the admin view also returns additional fields (addresses, payment_methods, sponsor,
                      placement, member_type, rank, points, orders_count, total_spent_in_base, notes).
                    properties:
                      id:
                        type: string
                        description: The member's native UUID.
                      email:
                        type:
                        - string
                        - 'null'
                      name:
                        type:
                        - string
                        - 'null'
                      username:
                        type:
                        - string
                        - 'null'
                      first_name:
                        type: string
                      last_name:
                        type: string
                      member_type_slug:
                        type:
                        - string
                        - 'null'
                      activity_status:
                        type: string
                      legacy_user_company_id:
                        type:
                        - integer
                        - 'null'
                      legacy_customer_id:
                        type:
                        - integer
                        - 'null'
                      phone:
                        type:
                        - string
                        - 'null'
                      external_id:
                        type:
                        - string
                        - 'null'
                      dob:
                        type:
                        - string
                        - 'null'
                        format: date
                        description: Date of birth from the member's linked user record. API-only — not
                          included in member webhook payloads.
                      country_code:
                        type:
                        - string
                        - 'null'
                      language_code:
                        type:
                        - string
                        - 'null'
                      metadata:
                        type:
                        - object
                        - 'null'
                      tax_exempt:
                        type: boolean
                      sales_tax_id:
                        type:
                        - string
                        - 'null'
                      email_marketing:
                        type: boolean
                      sms_marketing:
                        type: boolean
                      created_at:
                        type: string
                        format: date-time
                      updated_at:
                        type: string
                        format: date-time
                  status:
                    type: integer
                  meta:
                    $ref: '#/components/schemas/Meta'
                additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: 'The caller is authenticated but not permitted: a rep-tier token, or an admin/service
            token without the required members permission.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '422':
          description: Validation failed, or the email already belongs to a member — the duplicate case
            returns error.details.email = ["already exists"] and error.details.existing_member with the
            colliding member's identity summary (id, email, name, member_type_slug, phone and legacy ids).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
  /api/v2025-06/members/find:
    get:
      operationId: admin_v2025_06_members_find
      summary: Find a member by a unique identifier
      description: Looks a member up without knowing its Fluid id. The first supplied identifier wins,
        in the order email, username, external_id, legacy_customer_id; supply at least one.
      tags:
      - members
      security:
      - bearer_auth: []
      parameters:
      - name: email
        in: query
        required: false
        description: The member's email address.
        schema:
          type: string
      - name: username
        in: query
        required: false
        description: The member's username.
        schema:
          type: string
      - name: external_id
        in: query
        required: false
        description: The member's external id, as set by an integration.
        schema:
          type: string
      - name: legacy_customer_id
        in: query
        required: false
        description: The member's legacy bigint customer id.
        schema:
          type: integer
      responses:
        '200':
          description: The matching member detail (admin view).
          content:
            application/json:
              schema:
                type: object
                required:
                - member
                properties:
                  member:
                    $ref: '#/components/schemas/MemberDetail'
        '401':
          description: Unauthenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: 'The caller is authenticated but not permitted: a rep-tier token, or an admin/service
            token without the required members permission.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '404':
          description: No member matches the supplied identifier for this company.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '422':
          description: No identifier was supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
  /api/v2025-06/members/{member_id}:
    get:
      operationId: admin_v2025_06_members_show
      summary: Get a member
      description: Returns the member detail (admin view). The path id accepts either the member's native
        UUID or its legacy bigint (legacy_user_company_id).
      tags:
      - members
      security:
      - bearer_auth: []
      parameters:
      - name: member_id
        in: path
        required: true
        description: The member's native UUID or its legacy bigint (legacy_user_company_id).
        schema:
          type: string
      responses:
        '200':
          description: The member detail (admin view).
          content:
            application/json:
              schema:
                type: object
                required:
                - member
                properties:
                  member:
                    $ref: '#/components/schemas/MemberDetail'
        '401':
          description: Unauthenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: 'The caller is authenticated but not permitted: a rep-tier token, or an admin/service
            token without the required members permission.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '404':
          description: No member matches the supplied id for this company.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
    patch:
      operationId: admin_v2025_06_members_patch
      summary: Update a member
      description: Updates a member's profile, activity, genealogy (sponsor_id / placement_id) and default
        address. Email is intentionally not writable here — email changes go through the change-email
        sub-resource so the full audit and cross-record sync always run.
      tags:
      - members
      security:
      - bearer_auth: []
      parameters:
      - name: member_id
        in: path
        required: true
        description: The member's native UUID or its legacy bigint (legacy_user_company_id).
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - member
              properties:
                member:
                  type: object
                  properties:
                    first_name:
                      type:
                      - string
                      - 'null'
                    last_name:
                      type:
                      - string
                      - 'null'
                    phone:
                      type:
                      - string
                      - 'null'
                    dob:
                      type: string
                      format: date
                      description: Date of birth, written to the member's linked user record. An explicit
                        null is rejected (422) — dob cannot be cleared through this endpoint, mirroring
                        the legacy users update contract.
                    username:
                      type:
                      - string
                      - 'null'
                    account_id:
                      type:
                      - string
                      - 'null'
                    notes:
                      type:
                      - string
                      - 'null'
                    metadata:
                      type:
                      - object
                      - 'null'
                    active:
                      type: boolean
                    rank_id:
                      type:
                      - integer
                      - 'null'
                    email_marketing:
                      type:
                      - boolean
                      - 'null'
                    sms_marketing:
                      type:
                      - boolean
                      - 'null'
                    language_code:
                      type:
                      - string
                      - 'null'
                    country_code:
                      type:
                      - string
                      - 'null'
                    enrollment_pack_id:
                      type:
                      - integer
                      - 'null'
                    tax_exempt:
                      type: boolean
                    sales_tax_id:
                      type:
                      - string
                      - 'null'
                    external_id:
                      type:
                      - string
                      - 'null'
                    sponsor_id:
                      type:
                      - integer
                      - string
                      - 'null'
                      description: The new sponsor as a member UUID or legacy integer id; null clears
                        the sponsor. Runs the full sponsor-change lifecycle (reparenting and events).
                    placement_id:
                      type:
                      - integer
                      - string
                      - 'null'
                    address:
                      type: object
                      description: Sets or updates the member's default address (`country`, not `country_code`).
                      required:
                      - address1
                      - city
                      - state
                      - postal_code
                      - country
                      properties:
                        address1:
                          type: string
                        address2:
                          type: string
                        city:
                          type: string
                        state:
                          type: string
                        postal_code:
                          type: string
                        country:
                          type: string
                        name:
                          type: string
      responses:
        '200':
          description: Updated; returns the member detail (admin view).
          content:
            application/json:
              schema:
                type: object
                properties:
                  member:
                    type: object
                    description: The member detail (admin view). Key identity and profile fields are enumerated;
                      the admin view also returns additional fields (addresses, payment_methods, sponsor,
                      placement, member_type, rank, points, orders_count, total_spent_in_base, notes).
                    properties:
                      id:
                        type: string
                        description: The member's native UUID.
                      email:
                        type:
                        - string
                        - 'null'
                      name:
                        type:
                        - string
                        - 'null'
                      username:
                        type:
                        - string
                        - 'null'
                      first_name:
                        type: string
                      last_name:
                        type: string
                      member_type_slug:
                        type:
                        - string
                        - 'null'
                      activity_status:
                        type: string
                      legacy_user_company_id:
                        type:
                        - integer
                        - 'null'
                      legacy_customer_id:
                        type:
                        - integer
                        - 'null'
                      phone:
                        type:
                        - string
                        - 'null'
                      external_id:
                        type:
                        - string
                        - 'null'
                      dob:
                        type:
                        - string
                        - 'null'
                        format: date
                        description: Date of birth from the member's linked user record. API-only — not
                          included in member webhook payloads.
                      country_code:
                        type:
                        - string
                        - 'null'
                      language_code:
                        type:
                        - string
                        - 'null'
                      metadata:
                        type:
                        - object
                        - 'null'
                      tax_exempt:
                        type: boolean
                      sales_tax_id:
                        type:
                        - string
                        - 'null'
                      email_marketing:
                        type: boolean
                      sms_marketing:
                        type: boolean
                      created_at:
                        type: string
                        format: date-time
                      updated_at:
                        type: string
                        format: date-time
                  status:
                    type: integer
                  meta:
                    $ref: '#/components/schemas/Meta'
                additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: 'The caller is authenticated but not permitted: a rep-tier token, or an admin/service
            token without the required members permission.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '404':
          description: No member matches member_id for the current company.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '422':
          description: Validation failed (unknown country code, malformed dob, invalid sponsor/placement
            id, blank required address fields).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
  /api/v2025-06/members/{member_id}/member-type:
    put:
      operationId: admin_v2025_06_members_member_type_update
      summary: Change a member's type
      description: Assigns a member type by slug. Unlike the single create, this accepts any slug the
        company defines, not only rep and customer; an unknown slug is rejected with 422.
      tags:
      - members
      security:
      - bearer_auth: []
      parameters:
      - name: member_id
        in: path
        required: true
        description: The member's native UUID or its legacy bigint (legacy_user_company_id).
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - member_type_slug
              properties:
                member_type_slug:
                  type: string
                  description: A member type slug this company defines.
      responses:
        '200':
          description: The member detail (admin view), with the new type applied.
          content:
            application/json:
              schema:
                type: object
                required:
                - member
                properties:
                  member:
                    $ref: '#/components/schemas/MemberDetail'
        '401':
          description: Unauthenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: 'The caller is authenticated but not permitted: a rep-tier token, or an admin/service
            token without the required members permission.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '404':
          description: No member matches the supplied id for this company.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '422':
          description: The slug does not name a member type this company defines.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
  /api/v2025-06/members/{member_id}/genealogy:
    get:
      operationId: admin_v2025_06_member_genealogy
      summary: Get a member's sponsor genealogy
      description: 'Returns the sponsor tree rooted at this member. A company admin may read any member;
        a rep may read their own genealogy or one rooted at a member inside their own downline.

        '
      tags:
      - members
      security:
      - bearer_auth: []
      parameters:
      - name: member_id
        in: path
        required: true
        description: The member's native UUID or legacy_user_company_id.
        schema:
          type: string
      - name: levels
        in: query
        required: false
        description: Downline depth to return. Values outside 1–5 are clamped rather than rejected, and
          a non-integer falls back to 1.
        schema:
          type: integer
          default: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - genealogy
                - status
                - meta
                properties:
                  genealogy:
                    $ref: '#/components/schemas/MemberGenealogyNode'
                  status:
                    type: integer
                  meta:
                    $ref: '#/components/schemas/Meta'
                additionalProperties: false
        '401':
          description: No valid bearer token was provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: The caller lacks members.view or a rep requested another member's genealogy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '404':
          description: No kept member matches member_id for the current company.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
