---
openapi: 3.1.0
info:
  title: Fluid Member API v2026-10 — Team
  description: |
    The signed-in member's current Team: their downline, read as the legacy
    My Team does. Every operation acts as the member the bearer credential
    speaks for; the member and their company come from the credential alone,
    and no path, query or body parameter can widen either.

    Team reads are rechecked against the member's current Team on every
    request, so responses are private and must be revalidated before reuse.
    A member moved out of the Team disappears on the next read.

    Each Team member's `id` is their member id. Seats are a separate address
    space: the seat detail (`GET /api/member/v2026-10/team/{id}`) and the Team
    tree, move and move-request operations take seat ids and are documented
    with the genealogy API.
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
  version: 2026-10
security:
- MemberBearer: []
servers:
- url: https://api.fluid.app
  description: Production API server
- url: https://api.fluid.test
  description: Local development server
tags:
- name: team
  description: The signed-in member's current Team, their downline.
  x-fluid-section: Members
components:
  securitySchemes:
    MemberBearer:
      type: http
      scheme: bearer
      description: |
        A member credential in the `Authorization: Bearer` header: a portal
        JWT whose login is linked to a membership in that company, or a member
        token. The credential alone identifies the member and company. A
        member session JWT, the kind order and subscription email links carry,
        is refused with 403, as legacy My Team needs a rep session. A customer
        or preferred-customer membership is refused with 403 too: legacy My
        Team (`authorize_rep_tier`) admits reps, company admins and root
        admins. A company admin's own credential is not a member credential
        and gets 401, so in practice a rep's or a root admin's membership
        reads the Team.
  headers:
    ETag:
      description: >-
        Fingerprint of this member's current representation. Send it back in If-None-Match; the server
        reads the member's current Team before answering 304.
      schema:
        type: string
    CacheControl:
      description: Standard HTTP Cache-Control directive. Team reads are private and revalidated on every use.
      schema:
        type: string
        example: max-age=0, private
  schemas:
    ResponseMeta:
      type: object
      description: Envelope metadata present on every response.
      properties:
        request_uuid:
          type: string
          format: uuid
          description: Server-generated UUIDv7 uniquely identifying this response.
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp at which the server produced the response.
      required:
      - request_uuid
      - timestamp
      additionalProperties: true
    ErrorEnvelope:
      type: object
      description: Standard error envelope.
      properties:
        status:
          type: integer
          description: HTTP status code (mirrors the response status line).
        error:
          type: object
          properties:
            message:
              type: string
              description: Human-readable error message.
            details:
              type: object
              additionalProperties: true
          required:
          - message
          - details
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
      required:
      - status
      - error
      - meta
    PaginationMeta:
      type: object
      description: Keyset pagination state for a list.
      additionalProperties: false
      properties:
        next_cursor:
          type:
          - string
          - 'null'
          description: Send as `page[cursor]` for the next page; null on the last page.
      required:
      - next_cursor
    TeamMember:
      type: object
      description: >-
        One member of the signed-in member's Team. `email` and `phone` are shown to reps, as legacy My Team
        shows them; for any other member they are omitted, not null.
      additionalProperties: false
      required:
      - id
      - display_name
      - avatar_url
      - username
      - member_type
      - rank
      - level
      - sponsor_id
      - joined_at
      - active
      - has_children
      properties:
        id:
          type: string
          format: uuid
          description: The member's id. Use it as `filter[under]`.
        display_name:
          type:
          - string
          - 'null'
          description: The member's stored name, or their first and last name when it is blank.
        avatar_url:
          type:
          - string
          - 'null'
          description: The member's avatar image, when they have one.
        username:
          type:
          - string
          - 'null'
          description: The member's MySite username.
        member_type:
          type: object
          description: The member's type within the company.
          additionalProperties: false
          required:
          - slug
          - name
          properties:
            slug:
              type: string
              description: Stable member type key.
            name:
              type: string
              description: Display name of the member type.
        rank:
          type:
          - object
          - 'null'
          description: The member's rank, or null when unranked.
          additionalProperties: false
          required:
          - name
          properties:
            name:
              type:
              - string
              - 'null'
              description: Rank name.
        level:
          type: integer
          minimum: 1
          description: Levels below the signed-in member; 1 is a direct report. A company on tree reads counts
            enrollment-tree steps, any other company sponsor steps. Pages anchored with `filter[under]` can reach
            deeper than 5.
        sponsor_id:
          type: string
          format: uuid
          description: >-
            The id of the member directly above this one: their enroller, or in a company that reads its
            Team from trees, their parent in the enrollment tree. It is the signed-in member or a member
            beneath them, or the `filter[under]` member for the first level of an anchored page.
        joined_at:
          type: string
          format: date-time
          description: When the member joined the company.
        active:
          type: boolean
          description: Whether the membership's activity status is active.
        has_children:
          type: boolean
          description: Whether this member has a kept member directly below them, including one beyond
            the levels this page reads.
        email:
          type:
          - string
          - 'null'
          description: Present only for a rep.
        phone:
          type:
          - string
          - 'null'
          description: Present only for a rep.
    TeamEnvelope:
      type: object
      description: A page of Team members.
      required:
      - status
      - data
      - meta
      properties:
        status:
          type: integer
        data:
          type: array
          description: Team members, nearest level first, then by join time and member id.
          items:
            "$ref": "#/components/schemas/TeamMember"
        meta:
          allOf:
          - "$ref": "#/components/schemas/ResponseMeta"
          - type: object
            required:
            - pagination
            properties:
              pagination:
                "$ref": "#/components/schemas/PaginationMeta"
paths:
  "/api/member/v2026-10/team":
    get:
      operationId: member_team_index
      tags:
      - team
      summary: List the member's Team
      description: |
        The members below the signed-in member, nearest level first, then by join time and member id.
        Direct reports by default; `filter[depth]` reaches up to five levels further, and `filter[under]`
        pages beneath one Team member, again up to five levels below that member. Every member type is
        included. Members who were removed are not listed, and nor is anyone below a removed member.

        A company reads its Team from the enrollment tree when it has tree reads enabled and from the
        enroller relation otherwise, as the legacy My Team does. A member with no downline has an empty
        Team; in a company on tree reads, a member with no seat in the enrollment tree gets 404, as in
        the legacy My Team.

        The Team follows the legacy My Team rule (`authorize_rep_tier`): reps, company admins and root
        admins. A company admin credential is not a member credential and gets 401, so in practice a rep's
        or a root admin's membership, on a member token or portal JWT, reads the Team. A customer or
        preferred-customer membership is refused with 403, even with a valid credential, as is a member
        session JWT.

        Current Team membership is rechecked on every request and every cursor, so a member moved out
        of the Team disappears from the next page.
      x-fluid-audience: member
      parameters:
      - name: If-None-Match
        in: header
        required: false
        description: A previously returned ETag. Authentication and the current Team read run before a
          304 is considered.
        schema:
          type: string
      - name: filter[under]
        in: query
        required: false
        description: >-
          A Team member's id to page beneath. A member outside the signed-in member's downline returns 404,
          and so does one the enrollment tree does not place below the signed-in member in a company on tree reads.
        schema:
          type: string
          format: uuid
      - name: filter[depth]
        in: query
        required: false
        description: Levels below the signed-in member, or below `filter[under]`, to include.
        schema:
          type: integer
          minimum: 1
          maximum: 5
          default: 1
      - name: page[cursor]
        in: query
        required: false
        description: >-
          Opaque cursor from `meta.pagination.next_cursor`, valid only with the same filters and member.
          A malformed, tampered or mismatched cursor returns 400.
        schema:
          type: string
      - name: page[limit]
        in: query
        required: false
        description: Page size. Defaults to 25, at most 100.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
      responses:
        '200':
          description: A page of the member's current Team.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TeamEnvelope"
              example:
                status: 200
                data:
                - id: '01a08944-eff4-7a2a-be01-d699fa649966'
                  display_name: Nathan Rivera
                  avatar_url:
                  username: nathan-rivera
                  member_type:
                    slug: rep
                    name: Brand Partner
                  rank:
                    name: Silver
                  level: 1
                  sponsor_id: '01a08944-eff0-7a2a-be01-d699fa649960'
                  joined_at: '2026-03-14T18:22:05Z'
                  active: true
                  has_children: true
                  email: nathan@example.com
                  phone: "+15555550123"
                meta:
                  request_uuid: '01a0f4fe-de00-75b3-8d8a-b74b0cde8b07'
                  timestamp: '2026-10-01T15:04:05Z'
                  pagination:
                    next_cursor:
        '304':
          description: The member's current Team page has not changed since the supplied ETag.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
        '400':
          description: The pagination cursor is malformed, tampered with or was issued for other filters.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '401':
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '403':
          description: The credential is a member session JWT, the kind order and subscription email links carry,
            which cannot read the Team, or the membership is a customer or preferred customer, which has no Team.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '404':
          description: '`filter[under]` is not in the current Team, or the company reads its Team from trees
            and the member has no seat, or the tree does not place `filter[under]` below the member.'
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
          description: A query parameter is invalid or unknown.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
