---
openapi: 3.1.0
info:
  title: Fluid Member API v2026-10 — Messaging
  description: |
    The signed-in member's messaging. Every operation acts as the member the
    bearer credential speaks for; the member and their company come from the
    credential alone.

    Messaging follows the rule the legacy messaging API applies: a
    membership with a messaging identity whose member type is the rep type,
    a company admin who holds the messaging view permission, or a root
    admin. A company admin's own credential is not a member credential and
    receives 401, so in practice a rep's or a root admin's membership
    reaches messaging. A customer or preferred-customer
    membership receives 403 from every operation, even when its member type
    grants the rep-eligible capability. A member session JWT, the kind order
    and subscription email links carry, never authenticates a rep, so it also
    receives 403 from every operation.
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
  version: 2026-10
security:
- MemberBearer: []
servers:
- url: https://api.fluid.app
  description: Production API server
- url: https://api.fluid.test
  description: Local development server
tags:
- name: messaging
  description: The signed-in member's conversations, messages and realtime delivery.
  x-fluid-section: Messaging
components:
  securitySchemes:
    MemberBearer:
      type: http
      scheme: bearer
      description: |
        A member credential in the `Authorization: Bearer` header: a member
        session JWT, a portal JWT whose login is linked to a membership in
        that company, or a member token. The credential alone
        identifies the member and company.
  headers:
    ETag:
      description: >-
        Fingerprint of this member's current representation. Send it back in If-None-Match; the server
        reads the member's current conversations before answering 304.
      schema:
        type: string
    CacheControl:
      description: Standard HTTP Cache-Control directive. Reads are private and revalidated on every use.
      schema:
        type: string
        example: max-age=0, private
    CacheControlNoStore:
      description: Standard HTTP Cache-Control directive. Responses are never stored.
      schema:
        type: string
        example: no-store
  schemas:
    ResponseMeta:
      type: object
      description: Envelope metadata present on every response.
      properties:
        request_uuid:
          type: string
          format: uuid
          description: Server-generated UUIDv7 uniquely identifying this response.
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp at which the server produced the response.
      required:
      - request_uuid
      - timestamp
      additionalProperties: true
    ErrorEnvelope:
      type: object
      description: Standard error envelope.
      properties:
        status:
          type: integer
          description: HTTP status code (mirrors the response status line).
        error:
          type: object
          properties:
            message:
              type: string
              description: Human-readable error message.
            details:
              type: object
              additionalProperties: true
          required:
          - message
          - details
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
      required:
      - status
      - error
      - meta
    PaginationMeta:
      type: object
      description: Keyset pagination state for a list.
      additionalProperties: false
      properties:
        next_cursor:
          type:
          - string
          - 'null'
          description: Send as `page[cursor]` for the next page; null on the last page.
      required:
      - next_cursor
    Identity:
      type: object
      description: "A participant: a member, one of the member's contacts, or another kind of recipient such as a bot."
      additionalProperties: false
      required:
      - id
      - kind
      - name
      - avatar_url
      properties:
        id:
          type: string
          format: uuid
          description: The member's id, the contact's id, or the recipient's own id for other kinds.
        kind:
          type: string
          enum:
          - member
          - contact
          - other
          description: What `id` refers to.
        name:
          type:
          - string
          - 'null'
          description: First and last name. Email and phone are never shown in its place.
        avatar_url:
          type:
          - string
          - 'null'
          description: Avatar image, when there is one.
    Conversation:
      type: object
      description: One conversation as the signed-in member sees it.
      additionalProperties: false
      required:
      - id
      - kind
      - title
      - avatar_url
      - recipients
      - recipients_truncated
      - last_message
      - unread
      - archived
      - pinned_count
      - last_activity_at
      - created_at
      properties:
        id:
          type: string
          format: uuid
        kind:
          type: string
          enum:
          - direct
          - group
          - downline
          - channel
          description: >-
            `direct` (one other person, a member or a contact by email or SMS), `group`, `downline` (the
            creator's current Team) or a company `channel`.
        title:
          type:
          - string
          - 'null'
          description: >-
            The conversation's name, or up to three other participants' names. A direct conversation is
            titled by the name stored for the member's seat, as in the legacy conversation list, which for
            a contact with no name is their email or phone; renaming a direct conversation does not change
            this title.
        avatar_url:
          type:
          - string
          - 'null'
          description: >-
            The conversation's image, or, in an in-app direct conversation, the other participant's
            avatar. An email or SMS conversation shows only its own image.
        recipients:
          type: array
          description: >-
            Other current participants in the order they joined: at most 10 in a list and 100 in a
            detail. A downline conversation lists only current Team members.
          items:
            "$ref": "#/components/schemas/Identity"
        recipients_truncated:
          type: boolean
          description: Whether more current participants exist than `recipients` shows.
        last_message:
          type:
          - object
          - 'null'
          description: The newest message the member can read.
          additionalProperties: false
          required:
          - id
          - preview
          - sent_at
          - sender_id
          properties:
            id:
              type: string
              format: uuid
            preview:
              type: string
              description: Up to 140 characters of the text.
            sent_at:
              type: string
              format: date-time
            sender_id:
              type:
              - string
              - 'null'
              format: uuid
              description: The sender's participant `id`.
        unread:
          type: boolean
          description: Whether the conversation has messages the member has not read.
        archived:
          type: boolean
          description: Whether the member archived it.
        pinned_count:
          type: integer
          minimum: 0
          description: Pinned messages.
        last_activity_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Latest activity; the list's sort key.
        draft_message:
          description: >-
            The member's own saved draft. Present only when the request asks for it with
            `include=draft`; null when the member has no draft here.
          oneOf:
          - "$ref": "#/components/schemas/Draft"
          - type: 'null'
        created_at:
          type: string
          format: date-time
    Draft:
      type: object
      description: >-
        The member's unsent draft in one conversation. It is never delivered; sending is a separate
        message.
      additionalProperties: false
      required:
      - id
      - conversation_id
      - text
      - subject
      - attachments
      - reply_to
      - mentioned_recipients
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        conversation_id:
          type: string
          format: uuid
        text:
          type: string
          description: The draft text; empty when only a subject or a reply was saved.
        subject:
          type:
          - string
          - 'null'
        attachments:
          type: array
          description: Files attached to the draft.
          items:
            type: object
            additionalProperties: false
            required:
            - url
            - filename
            - content_type
            - kind
            - content_size
            properties:
              url:
                type:
                - string
                - 'null'
              filename:
                type:
                - string
                - 'null'
              content_type:
                type:
                - string
                - 'null'
              kind:
                type:
                - string
                - 'null'
                description: The kind of file the server derived, such as `image` or `pdf`.
              content_size:
                type:
                - integer
                - 'null'
                description: Size in bytes, when the client sent it.
        reply_to:
          type:
          - object
          - 'null'
          description: The message this draft replies to, while the member can still read it.
          additionalProperties: false
          required:
          - id
          - preview
          properties:
            id:
              type: string
              format: uuid
            preview:
              type: string
              description: Up to 140 characters of its text.
        mentioned_recipients:
          type: array
          description: People mentioned in the text who are still participants.
          items:
            "$ref": "#/components/schemas/Identity"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    DraftEnvelope:
      type: object
      description: The saved draft, or an empty object after a blank save cleared it.
      required:
      - status
      - data
      - meta
      properties:
        status:
          type: integer
        data:
          oneOf:
          - "$ref": "#/components/schemas/Draft"
          - type: object
            additionalProperties: false
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
    ConversationEnvelope:
      type: object
      description: One conversation.
      required:
      - status
      - data
      - meta
      properties:
        status:
          type: integer
        data:
          "$ref": "#/components/schemas/Conversation"
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
    ConversationsEnvelope:
      type: object
      description: A page of conversations.
      required:
      - status
      - data
      - meta
      properties:
        status:
          type: integer
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Conversation"
        meta:
          allOf:
          - "$ref": "#/components/schemas/ResponseMeta"
          - type: object
            required:
            - pagination
            properties:
              pagination:
                "$ref": "#/components/schemas/PaginationMeta"
    RealtimeTicket:
      type: object
      description: A single-use socket ticket and how to connect with it.
      additionalProperties: false
      required:
      - ticket
      - expires_at
      - url
      - channel
      - connect_params
      properties:
        ticket:
          type: string
          description: The ticket. It admits one socket connection, once, until `expires_at`.
        expires_at:
          type: string
          format: date-time
          description: When the ticket stops admitting a connection, one minute after issue.
        url:
          type:
          - string
          - 'null'
          description: The socket endpoint to connect to.
        channel:
          type: string
          description: The channel to subscribe to once connected.
          enum:
          - MessageChannel
        connect_params:
          type: object
          description: The parameters to send when connecting.
          additionalProperties: false
          required:
          - member_socket_token
          properties:
            member_socket_token:
              type: string
              description: The ticket.
    RealtimeEnvelope:
      type: object
      description: A socket ticket.
      required:
      - status
      - data
      - meta
      properties:
        status:
          type: integer
        data:
          "$ref": "#/components/schemas/RealtimeTicket"
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
    IdentityList:
      type: object
      description: People the member may message.
      required:
      - status
      - data
      - meta
      properties:
        status:
          type: integer
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Identity"
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
    MessagesEnvelope:
      type: object
      description: A page of messages.
      required:
      - status
      - data
      - meta
      properties:
        status:
          type: integer
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Message"
        meta:
          allOf:
          - "$ref": "#/components/schemas/ResponseMeta"
          - type: object
            required:
            - pagination
            properties:
              pagination:
                "$ref": "#/components/schemas/PaginationMeta"
    MessageEnvelope:
      type: object
      description: One message.
      required:
      - status
      - data
      - meta
      properties:
        status:
          type: integer
        data:
          "$ref": "#/components/schemas/Message"
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
    Message:
      type: object
      description: One message as the signed-in member sees it.
      additionalProperties: false
      required:
      - id
      - conversation_id
      - sender
      - kind
      - text
      - event
      - attachments
      - reply_to
      - reactions
      - pinned
      - seen_by_count
      - client_message_id
      - sent_at
      - created_at
      - edited_at
      properties:
        id:
          type: string
          format: uuid
        conversation_id:
          type: string
          format: uuid
        sender:
          oneOf:
          - "$ref": "#/components/schemas/Identity"
          - type: 'null'
          description: Who sent it, or null for a sender that no longer exists.
        kind:
          type: string
          enum:
          - message
          - event
          description: A message someone wrote, or an event the conversation recorded, such as a person joining.
        text:
          type: string
          description: The message text; empty for an event.
        event:
          type:
          - object
          - 'null'
          description: What happened, for an event; null for a message.
          additionalProperties: false
          required:
          - name
          - people
          - previous_title
          - title
          properties:
            name:
              type: string
              description: >-
                The event, such as `recipient_added`, `recipient_joined`, `recipient_removed`,
                `recipient_left` or `conversation_name_updated`.
            people:
              type: array
              description: Up to 10 people a membership event names.
              items:
                "$ref": "#/components/schemas/Identity"
            previous_title:
              type:
              - string
              - 'null'
              description: The title before a rename.
            title:
              type:
              - string
              - 'null'
              description: The title after a rename.
        attachments:
          type: array
          description: Files attached to the message.
          items:
            type: object
            additionalProperties: false
            required:
            - url
            - filename
            - content_type
            - kind
            - content_size
            properties:
              url:
                type:
                - string
                - 'null'
              filename:
                type:
                - string
                - 'null'
              content_type:
                type:
                - string
                - 'null'
              kind:
                type:
                - string
                - 'null'
                description: The kind of file the server derived, such as `image` or `pdf`.
              content_size:
                type:
                - integer
                - 'null'
                description: Size in bytes, when the client sent it.
        reply_to:
          type:
          - object
          - 'null'
          description: The message this one replies to, unless it was deleted.
          additionalProperties: false
          required:
          - id
          - preview
          properties:
            id:
              type: string
              format: uuid
            preview:
              type: string
              description: Up to 140 characters of its text.
        reactions:
          type: array
          description: Reaction totals, and whether the member chose each.
          items:
            type: object
            additionalProperties: false
            required:
            - emoji
            - count
            - mine
            properties:
              emoji:
                type: string
              count:
                type: integer
                minimum: 1
              mine:
                type: boolean
        pinned:
          type: boolean
        seen_by_count:
          type: integer
          minimum: 0
          description: Participants who have seen it.
        client_message_id:
          type:
          - string
          - 'null'
          description: The id the sending client chose, when it sent one.
        sent_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When it was delivered; null while the member's own message is still queued.
        created_at:
          type: string
          format: date-time
        edited_at:
          type:
          - string
          - 'null'
          format: date-time
    ScheduledMessagesEnvelope:
      type: object
      description: A page of scheduled messages.
      required:
      - status
      - data
      - meta
      properties:
        status:
          type: integer
        data:
          type: array
          items:
            "$ref": "#/components/schemas/ScheduledMessage"
        meta:
          allOf:
          - "$ref": "#/components/schemas/ResponseMeta"
          - type: object
            required:
            - pagination
            properties:
              pagination:
                "$ref": "#/components/schemas/PaginationMeta"
    ScheduledMessageEnvelope:
      type: object
      description: One scheduled message.
      required:
      - status
      - data
      - meta
      properties:
        status:
          type: integer
        data:
          "$ref": "#/components/schemas/ScheduledMessage"
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
    ScheduledMessage:
      type: object
      description: >-
        A message the member scheduled. When delivery claims it, it becomes an ordinary message of the
        conversation and is no longer listed here.
      additionalProperties: false
      required:
      - id
      - conversation_id
      - text
      - theme
      - scheduled_at
      - attachments
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        conversation_id:
          type: string
          format: uuid
        text:
          type: string
        theme:
          type:
          - string
          - 'null'
          description: The message theme the client chose, when it chose one.
        scheduled_at:
          type: string
          format: date-time
          description: When delivery is due, in UTC.
        attachments:
          type: array
          description: Files attached to the scheduled message.
          items:
            type: object
            additionalProperties: false
            required:
            - url
            - filename
            - content_type
            - kind
            - content_size
            properties:
              url:
                type:
                - string
                - 'null'
              filename:
                type:
                - string
                - 'null'
              content_type:
                type:
                - string
                - 'null'
              kind:
                type:
                - string
                - 'null'
                description: The kind of file the server derived, such as `image` or `pdf`.
              content_size:
                type:
                - integer
                - 'null'
                description: Size in bytes, when the client sent it.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
paths:
  "/api/member/v2026-10/messaging/conversations":
    get:
      operationId: member_messaging_conversations_index
      tags:
      - messaging
      summary: List conversations
      description: |
        The member's conversations, most recent activity first: direct, group, downline and company
        channel conversations in which the member holds a current seat. Company announcements are not
        listed here. Open, unarchived conversations are listed by default; `filter[archived]=true` lists
        those the member archived and those archived for everyone. A closed conversation is in neither
        list. A conversation with no message yet is not listed, and conversation kinds the company
        hides from messaging are left out of the list, though one the member holds a seat in can still
        be fetched and changed by id.

        Access is rechecked on every request: a member who leaves a Team group no longer sees its
        downline conversation, or its messages, from the next read.
      x-fluid-audience: member
      parameters:
      - name: If-None-Match
        in: header
        required: false
        description: A previously returned ETag. Authentication and the current read run before a 304 is
          considered.
        schema:
          type: string
      - name: filter[archived]
        in: query
        required: false
        description: "`true` lists conversations the member archived or that are archived for everyone, instead of the inbox."
        schema:
          type: boolean
      - name: filter[unread]
        in: query
        required: false
        description: "`true` lists only conversations with unread messages."
        schema:
          type: boolean
          enum:
          - true
      - name: filter[q]
        in: query
        required: false
        description: Matches the conversation's name or a participant's name, email or phone.
        schema:
          type: string
          maxLength: 100
      - name: page[cursor]
        in: query
        required: false
        description: >-
          Opaque cursor from `meta.pagination.next_cursor`. A malformed, tampered or expired cursor returns
          400.
        schema:
          type: string
      - name: page[limit]
        in: query
        required: false
        description: Page size. Defaults to 25, at most 100.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
      responses:
        '200':
          description: A page of conversations.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ConversationsEnvelope"
              example:
                status: 200
                data:
                - id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a5b'
                  kind: group
                  title: Launch team
                  avatar_url:
                  recipients:
                  - id: '01a08944-eff4-7a2a-be01-d699fa649966'
                    kind: member
                    name: Nathan Rivera
                    avatar_url:
                  recipients_truncated: false
                  last_message:
                    id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a60'
                    preview: See you at the kickoff.
                    sent_at: '2026-10-01T15:02:00Z'
                    sender_id: '01a08944-eff4-7a2a-be01-d699fa649966'
                  unread: true
                  archived: false
                  pinned_count: 0
                  last_activity_at: '2026-10-01T15:02:00Z'
                  created_at: '2026-09-28T12:00:00Z'
                meta:
                  request_uuid: '01a0f4fe-de00-75b3-8d8a-b74b0cde8b07'
                  timestamp: '2026-10-01T15:04:05Z'
                  pagination:
                    next_cursor:
        '304':
          description: The representation has not changed since the supplied ETag.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
        '400':
          description: The pagination cursor is malformed, tampered with or expired.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '401':
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '403':
          description: The credential is read-only, or the membership cannot message.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
          description: A parameter is invalid or unknown.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
    post:
      operationId: member_messaging_conversations_create
      tags:
      - messaging
      summary: Start a conversation
      description: |
        Starts a conversation with addressable people (see `GET /messaging/recipients/search`), or
        returns the one that already exists with exactly the same people. One member and no title is a
        direct conversation; more people, or a title, make a group. One of the member's own contacts
        and no title starts a one-to-one email conversation, or SMS when the contact has no email
        address. A group may hold members and the member's own contacts together, as legacy groups do.

        A new conversation is listed once its first message is sent.
      x-fluid-audience: member
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - recipients
              properties:
                recipients:
                  type: array
                  minItems: 1
                  maxItems: 50
                  description: >-
                    The other people, each named by exactly one of `member_id` (another member of the
                    company) or `contact_id` (one of the member's own contacts).
                  items:
                    type: object
                    additionalProperties: false
                    properties:
                      member_id:
                        type: string
                        format: uuid
                      contact_id:
                        type: string
                        format: uuid
                    oneOf:
                    - required:
                      - member_id
                    - required:
                      - contact_id
                title:
                  type: string
                  minLength: 1
                  maxLength: 120
                  description: A name, which makes a group even with one other member.
            example:
              recipients:
              - member_id: '01a08944-eff4-7a2a-be01-d699fa649966'
              title: Launch team
      responses:
        '201':
          description: The new conversation.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ConversationEnvelope"
              example:
                status: 201
                data:
                  id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a5b'
                  kind: group
                  title: Launch team
                  avatar_url:
                  recipients:
                  - id: '01a08944-eff4-7a2a-be01-d699fa649966'
                    kind: member
                    name: Nathan Rivera
                    avatar_url:
                  recipients_truncated: false
                  last_message:
                  unread: false
                  archived: false
                  pinned_count: 0
                  last_activity_at: '2026-10-01T15:04:05Z'
                  created_at: '2026-10-01T15:04:05Z'
                meta:
                  request_uuid: '01a0f4fe-de00-75b3-8d8a-b74b0cde8b07'
                  timestamp: '2026-10-01T15:04:05Z'
        '200':
          description: The conversation that already exists with these people.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ConversationEnvelope"
              example:
                status: 200
                data:
                  id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a5b'
                  kind: group
                  title: Launch team
                  avatar_url:
                  recipients:
                  - id: '01a08944-eff4-7a2a-be01-d699fa649966'
                    kind: member
                    name: Nathan Rivera
                    avatar_url:
                  recipients_truncated: false
                  last_message:
                    id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a60'
                    preview: See you at the kickoff.
                    sent_at: '2026-10-01T15:02:00Z'
                    sender_id: '01a08944-eff4-7a2a-be01-d699fa649966'
                  unread: true
                  archived: false
                  pinned_count: 0
                  last_activity_at: '2026-10-01T15:02:00Z'
                  created_at: '2026-09-28T12:00:00Z'
                meta:
                  request_uuid: '01a0f4fe-de00-75b3-8d8a-b74b0cde8b07'
                  timestamp: '2026-10-01T15:04:05Z'
        '401':
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '403':
          description: The credential is read-only, the membership cannot message, or the change is not allowed here.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
          description: A parameter is invalid or unknown, someone named cannot be addressed, or the people cannot share one conversation.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/messaging/conversations/{id}":
    parameters:
    - name: id
      in: path
      required: true
      description: Public id of a conversation the member can see.
      schema:
        type: string
        format: uuid
    get:
      operationId: member_messaging_conversations_show
      tags:
      - messaging
      summary: Show a conversation
      description: |
        One conversation the member can see now, with up to 100 current participants. `include=draft`
        adds the member's own saved draft.
      x-fluid-audience: member
      parameters:
      - name: include
        in: query
        required: false
        description: >-
          `draft` adds the member's own saved draft as `draft_message`. Any other value, and any other
          query parameter, returns 422.
        schema:
          type: string
          enum:
          - draft
      - name: If-None-Match
        in: header
        required: false
        description: A previously returned ETag. Authentication and the current read run before a 304 is
          considered.
        schema:
          type: string
      responses:
        '200':
          description: The conversation.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ConversationEnvelope"
              example:
                status: 200
                data:
                  id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a5b'
                  kind: group
                  title: Launch team
                  avatar_url:
                  recipients:
                  - id: '01a08944-eff4-7a2a-be01-d699fa649966'
                    kind: member
                    name: Nathan Rivera
                    avatar_url:
                  recipients_truncated: false
                  last_message:
                    id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a60'
                    preview: See you at the kickoff.
                    sent_at: '2026-10-01T15:02:00Z'
                    sender_id: '01a08944-eff4-7a2a-be01-d699fa649966'
                  unread: true
                  archived: false
                  pinned_count: 0
                  last_activity_at: '2026-10-01T15:02:00Z'
                  created_at: '2026-09-28T12:00:00Z'
                meta:
                  request_uuid: '01a0f4fe-de00-75b3-8d8a-b74b0cde8b07'
                  timestamp: '2026-10-01T15:04:05Z'
        '304':
          description: The representation has not changed since the supplied ETag.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
        '401':
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '403':
          description: The credential is read-only, or the membership cannot message.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '404':
          description: Nothing with this id is visible to the member.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
          description: A parameter is invalid or unknown.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
    patch:
      operationId: member_messaging_conversations_update
      tags:
      - messaging
      summary: Rename a conversation
      description: |
        Renames a conversation the member can see, for every participant, as the legacy conversation
        update allows. Only a rep may: a member whose type merely grants rep eligibility, such as a
        customer tier that sponsors, is refused with 403. A name a conversation cannot take, such as a
        duplicate group name, returns 422. A direct conversation's title is the other participant's
        name, so renaming one is not visible in `title`.
      x-fluid-audience: member
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - title
              properties:
                title:
                  type: string
                  minLength: 1
                  maxLength: 120
            example:
              title: Launch team
      responses:
        '200':
          description: The conversation after the change.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ConversationEnvelope"
              example:
                status: 200
                data:
                  id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a5b'
                  kind: group
                  title: Launch team
                  avatar_url:
                  recipients:
                  - id: '01a08944-eff4-7a2a-be01-d699fa649966'
                    kind: member
                    name: Nathan Rivera
                    avatar_url:
                  recipients_truncated: false
                  last_message:
                    id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a60'
                    preview: See you at the kickoff.
                    sent_at: '2026-10-01T15:02:00Z'
                    sender_id: '01a08944-eff4-7a2a-be01-d699fa649966'
                  unread: true
                  archived: false
                  pinned_count: 0
                  last_activity_at: '2026-10-01T15:02:00Z'
                  created_at: '2026-09-28T12:00:00Z'
                meta:
                  request_uuid: '01a0f4fe-de00-75b3-8d8a-b74b0cde8b07'
                  timestamp: '2026-10-01T15:04:05Z'
        '401':
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '403':
          description: The credential is read-only, the membership cannot message, or the member is not a rep.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '404':
          description: Nothing with this id is visible to the member.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
          description: A parameter is invalid or unknown.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/messaging/conversations/{id}/draft":
    parameters:
    - name: id
      in: path
      required: true
      description: Public id of a conversation the member can see.
      schema:
        type: string
        format: uuid
    put:
      operationId: member_messaging_drafts_update
      tags:
      - messaging
      summary: Save a draft
      description: |
        Saves the member's own unsent draft in the conversation without sending it. Only the fields
        sent change. A submission with no text, no subject, no reply and no attachments removes the
        whole draft and answers an empty object. A request with no body is refused rather than read as
        an empty submission, so only an explicit empty JSON object clears the draft. Attachments sent
        are added to those already saved, and a draft that has attachments needs no text. A file already
        on the draft with the same URL and filename is not added again, and a save that would leave the
        draft with more than 10 attachments is refused with 422.
      x-fluid-audience: member
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                text:
                  type:
                  - string
                  - 'null'
                  maxLength: 10000
                subject:
                  type:
                  - string
                  - 'null'
                  maxLength: 255
                reply_to_id:
                  type:
                  - string
                  - 'null'
                  format: uuid
                  description: A message in this conversation the member can read; null removes the reply.
                attachments:
                  type: array
                  maxItems: 10
                  description: >-
                    Files the client has uploaded, named by URL, as the legacy composer takes them. They are
                    added to the draft's saved attachments, which hold at most 10 in all. The URL is not checked as an owned upload.
                  items:
                    type: object
                    additionalProperties: false
                    required:
                    - url
                    - filename
                    properties:
                      url:
                        type: string
                        maxLength: 2048
                        pattern: "^https?://\\S+$"
                      filename:
                        type: string
                        maxLength: 255
                      content_type:
                        type: string
                        maxLength: 255
                      content_size:
                        type: integer
                        minimum: 0
                        maximum: 2147483647
            example:
              text: Running ten minutes late.
              subject: Kickoff
      responses:
        '200':
          description: The saved draft, or an empty object when a blank save cleared it.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DraftEnvelope"
              example:
                status: 200
                data:
                  id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a70'
                  conversation_id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a5b'
                  text: Running ten minutes late.
                  subject: Kickoff
                  attachments: []
                  reply_to:
                  mentioned_recipients: []
                  created_at: '2026-10-01T15:01:59Z'
                  updated_at: '2026-10-01T15:01:59Z'
                meta:
                  request_uuid: '01a0f4fe-de00-75b3-8d8a-b74b0cde8b07'
                  timestamp: '2026-10-01T15:04:05Z'
        '401':
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '403':
          description: The credential is read-only, the membership cannot message, or the change is not allowed here.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '404':
          description: Nothing with this id is visible to the member.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
          description: The request has no body, a parameter is invalid or unknown (such as an attachment without an http(s) URL or with a size above 2147483647), or the reply target is not in this conversation.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
    delete:
      operationId: member_messaging_drafts_destroy
      tags:
      - messaging
      summary: Delete a draft
      description: |
        Removes only the member's own draft. Repeating it changes nothing. A conversation left with no
        messages returns to `initiated`.
      x-fluid-audience: member
      responses:
        '204':
          description: The draft is gone.
        '401':
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '403':
          description: The credential is read-only, the membership cannot message, or the change is not allowed here.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '404':
          description: Nothing with this id is visible to the member.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/messaging/conversations/{id}/archive":
    parameters:
    - name: id
      in: path
      required: true
      description: Public id of a conversation the member can see.
      schema:
        type: string
        format: uuid
    post:
      operationId: member_messaging_conversations_archive
      tags:
      - messaging
      summary: Archive a conversation
      description: |
        Moves the conversation out of the member's inbox, for the member only, and unpins it for them.
        Repeating it changes nothing. A broadcasting conversation cannot be archived and returns 422.
      x-fluid-audience: member
      responses:
        '200':
          description: The conversation after the change.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ConversationEnvelope"
              example:
                status: 200
                data:
                  id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a5b'
                  kind: group
                  title: Launch team
                  avatar_url:
                  recipients:
                  - id: '01a08944-eff4-7a2a-be01-d699fa649966'
                    kind: member
                    name: Nathan Rivera
                    avatar_url:
                  recipients_truncated: false
                  last_message:
                    id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a60'
                    preview: See you at the kickoff.
                    sent_at: '2026-10-01T15:02:00Z'
                    sender_id: '01a08944-eff4-7a2a-be01-d699fa649966'
                  unread: true
                  archived: true
                  pinned_count: 0
                  last_activity_at: '2026-10-01T15:02:00Z'
                  created_at: '2026-09-28T12:00:00Z'
                meta:
                  request_uuid: '01a0f4fe-de00-75b3-8d8a-b74b0cde8b07'
                  timestamp: '2026-10-01T15:04:05Z'
        '401':
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '403':
          description: The credential is read-only, or the membership cannot message.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '404':
          description: Nothing with this id is visible to the member.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
          description: The change was refused. A broadcasting conversation cannot be archived, and a seat recorded twice cannot be changed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/messaging/conversations/{id}/unarchive":
    parameters:
    - name: id
      in: path
      required: true
      description: Public id of a conversation the member can see.
      schema:
        type: string
        format: uuid
    post:
      operationId: member_messaging_conversations_unarchive
      tags:
      - messaging
      summary: Unarchive a conversation
      description: |
        Clears the member's archive flag, for the member only. The conversation is listed in the inbox
        again only when it is open; a closed conversation or one archived for everyone stays out of it.
        Repeating it changes nothing.
      x-fluid-audience: member
      responses:
        '200':
          description: The conversation after the change.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ConversationEnvelope"
              example:
                status: 200
                data:
                  id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a5b'
                  kind: group
                  title: Launch team
                  avatar_url:
                  recipients:
                  - id: '01a08944-eff4-7a2a-be01-d699fa649966'
                    kind: member
                    name: Nathan Rivera
                    avatar_url:
                  recipients_truncated: false
                  last_message:
                    id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a60'
                    preview: See you at the kickoff.
                    sent_at: '2026-10-01T15:02:00Z'
                    sender_id: '01a08944-eff4-7a2a-be01-d699fa649966'
                  unread: true
                  archived: false
                  pinned_count: 0
                  last_activity_at: '2026-10-01T15:02:00Z'
                  created_at: '2026-09-28T12:00:00Z'
                meta:
                  request_uuid: '01a0f4fe-de00-75b3-8d8a-b74b0cde8b07'
                  timestamp: '2026-10-01T15:04:05Z'
        '401':
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '403':
          description: The credential is read-only, or the membership cannot message.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '404':
          description: Nothing with this id is visible to the member.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
          description: The change was refused. A seat recorded twice cannot be changed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/messaging/conversations/{id}/read":
    parameters:
    - name: id
      in: path
      required: true
      description: Public id of a conversation the member can see.
      schema:
        type: string
        format: uuid
    post:
      operationId: member_messaging_conversations_read
      tags:
      - messaging
      summary: Mark a conversation read
      description: |
        Marks the conversation read for the member. Repeating it changes nothing.
      x-fluid-audience: member
      responses:
        '200':
          description: The conversation after the change.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ConversationEnvelope"
              example:
                status: 200
                data:
                  id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a5b'
                  kind: group
                  title: Launch team
                  avatar_url:
                  recipients:
                  - id: '01a08944-eff4-7a2a-be01-d699fa649966'
                    kind: member
                    name: Nathan Rivera
                    avatar_url:
                  recipients_truncated: false
                  last_message:
                    id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a60'
                    preview: See you at the kickoff.
                    sent_at: '2026-10-01T15:02:00Z'
                    sender_id: '01a08944-eff4-7a2a-be01-d699fa649966'
                  unread: false
                  archived: false
                  pinned_count: 0
                  last_activity_at: '2026-10-01T15:02:00Z'
                  created_at: '2026-09-28T12:00:00Z'
                meta:
                  request_uuid: '01a0f4fe-de00-75b3-8d8a-b74b0cde8b07'
                  timestamp: '2026-10-01T15:04:05Z'
        '401':
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '403':
          description: The credential is read-only, or the membership cannot message.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '404':
          description: Nothing with this id is visible to the member.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
          description: The change was refused. A seat recorded twice cannot be changed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/messaging/realtime/auth":
    post:
      operationId: member_messaging_realtime_auth
      tags:
      - messaging
      summary: Admit a realtime socket
      description: |
        Issues a ticket that admits one socket connection within one minute, so the bearer credential
        never travels in a socket URL. Connect with `member_socket_token` and subscribe to
        `MessageChannel`. The socket then receives what a member storefront socket for the same
        membership receives. The ticket is checked again at connect: a membership that can no longer
        act or message is refused. The socket may subscribe to the messaging channels only, and the
        membership is checked again before each channel command.

        The read-only portal JWT may ask for a ticket: a socket only receives what the credential can
        already read, and legacy sockets accept a portal JWT. A member session JWT, the kind order and
        subscription email links carry, may not: legacy sockets refuse it.
      x-fluid-audience: member
      responses:
        '201':
          description: A socket ticket.
          headers:
            Cache-Control:
              "$ref": "#/components/headers/CacheControlNoStore"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/RealtimeEnvelope"
              example:
                status: 201
                data:
                  ticket: eyJfcmFpbHMiOnsiZGF0YSI6eyJtZW1iZXJfaWQiOiJjMGRkNjgxMiJ9fX0--4f1c2b
                  expires_at: '2026-10-01T15:05:05Z'
                  url: wss://websockets.fluid.app/cable
                  channel: MessageChannel
                  connect_params:
                    member_socket_token: eyJfcmFpbHMiOnsiZGF0YSI6eyJtZW1iZXJfaWQiOiJjMGRkNjgxMiJ9fX0--4f1c2b
                meta:
                  request_uuid: '01a0f4fe-de00-75b3-8d8a-b74b0cde8b07'
                  timestamp: '2026-10-01T15:04:05Z'
        '401':
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '403':
          description: >-
            The membership cannot message (a customer or preferred customer, even when its member type
            grants the rep-eligible capability, or a membership with no messaging identity), or the
            credential is a member session JWT, the kind order and subscription email links carry.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/messaging/recipients/search":
    get:
      operationId: member_messaging_recipients_search
      tags:
      - messaging
      summary: Search people to message
      description: |
        Searches, in the server's own database, the people the member may start a conversation with or
        add to a group: the other members of the member's company by name, as the legacy recipient list
        offers them, and the member's own contacts with an email address or phone number by name or
        email. Another member's email is never matched. Members blocked by or blocking the member are
        left out.
        Members come first, then contacts, each by first name, each kind at most `limit`.

        Limited to 30 searches per minute per credential. Responses are never stored.
      x-fluid-audience: member
      parameters:
      - name: q
        in: query
        required: true
        description: At least two characters once trimmed of surrounding whitespace.
        schema:
          type: string
          minLength: 2
          maxLength: 100
        example: nat
      - name: limit
        in: query
        required: false
        description: Most results of each kind. Defaults to 10.
        schema:
          type: integer
          minimum: 1
          maximum: 25
          default: 10
      responses:
        '200':
          description: Matching people.
          headers:
            Cache-Control:
              "$ref": "#/components/headers/CacheControlNoStore"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/IdentityList"
              example:
                status: 200
                data:
                - id: '01a08944-eff4-7a2a-be01-d699fa649966'
                  kind: member
                  name: Nathan Rivera
                  avatar_url:
                - id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a77'
                  kind: contact
                  name: Nathan Lee
                  avatar_url:
                meta:
                  request_uuid: '01a0f4fe-de00-75b3-8d8a-b74b0cde8b07'
                  timestamp: '2026-10-01T15:04:05Z'
        '401':
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '403':
          description: >-
            The membership cannot message, or the credential is the shopper session token that order and
            subscription email links carry, which cannot read the member's contacts.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
          description: A parameter is invalid or unknown, or `q` is shorter than two characters once trimmed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '429':
          description: >-
            The credential made more than 30 searches in a minute. Wait `retry_after` seconds. The
            `X-RateLimit-Limit` and `X-RateLimit-Reset` headers carry the limit and when the window ends.
          content:
            application/json:
              schema:
                type: object
                description: The rate limiter's own body, not the standard error envelope.
                properties:
                  error:
                    type: string
                    description: Always `Rate limit exceeded`.
                    example: Rate limit exceeded
                  message:
                    type: string
                    description: Human-readable explanation.
                    example: Too many requests. Please wait before trying again.
                  retry_after:
                    type: integer
                    description: Seconds until the window ends.
                    example: 42
  "/api/member/v2026-10/messaging/conversations/{id}/recipients":
    parameters:
    - name: id
      in: path
      required: true
      description: Public id of a group conversation the member can see.
      schema:
        type: string
        format: uuid
    post:
      operationId: member_messaging_conversation_recipients_create
      tags:
      - messaging
      summary: Add people to a group
      description: |
        Adds addressable members and the member's own contacts to a group conversation. People already
        in it are left as they are, so repeating the request changes nothing. Other conversation kinds
        return 403.
      x-fluid-audience: member
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              minProperties: 1
              properties:
                member_ids:
                  type: array
                  minItems: 1
                  maxItems: 50
                  description: Other members of the company.
                  items:
                    type: string
                    format: uuid
                contact_ids:
                  type: array
                  minItems: 1
                  maxItems: 50
                  description: The member's own contacts. At most 50 people in all.
                  items:
                    type: string
                    format: uuid
            example:
              member_ids:
              - '01a08944-eff4-7a2a-be01-d699fa649966'
      responses:
        '200':
          description: The conversation after the change.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ConversationEnvelope"
              example:
                status: 200
                data:
                  id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a5b'
                  kind: group
                  title: Launch team
                  avatar_url:
                  recipients:
                  - id: '01a08944-eff4-7a2a-be01-d699fa649966'
                    kind: member
                    name: Nathan Rivera
                    avatar_url:
                  recipients_truncated: false
                  last_message:
                    id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a60'
                    preview: See you at the kickoff.
                    sent_at: '2026-10-01T15:02:00Z'
                    sender_id: '01a08944-eff4-7a2a-be01-d699fa649966'
                  unread: true
                  archived: false
                  pinned_count: 0
                  last_activity_at: '2026-10-01T15:02:00Z'
                  created_at: '2026-09-28T12:00:00Z'
                meta:
                  request_uuid: '01a0f4fe-de00-75b3-8d8a-b74b0cde8b07'
                  timestamp: '2026-10-01T15:04:05Z'
        '401':
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '403':
          description: The credential is read-only, the membership cannot message, or the change is not allowed here.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '404':
          description: Nothing with this id is visible to the member.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
          description: A parameter is invalid or unknown, or someone named cannot be addressed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
    delete:
      operationId: member_messaging_conversation_recipients_destroy
      tags:
      - messaging
      summary: Remove people from a group
      description: |
        Removes members of the company from a group conversation; naming the member's own id leaves it.
        Members not in it are left as they are, so repeating the request changes nothing. After leaving,
        the conversation is no longer visible and the response is 204. Other conversation kinds return
        403.
      x-fluid-audience: member
      parameters:
      - name: member_ids[]
        in: query
        required: true
        description: Members to remove, at most 50.
        schema:
          type: array
          minItems: 1
          maxItems: 50
          items:
            type: string
            format: uuid
        style: form
        explode: true
      responses:
        '200':
          description: The conversation after the change.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ConversationEnvelope"
              example:
                status: 200
                data:
                  id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a5b'
                  kind: group
                  title: Launch team
                  avatar_url:
                  recipients:
                  - id: '01a08944-eff4-7a2a-be01-d699fa649966'
                    kind: member
                    name: Nathan Rivera
                    avatar_url:
                  recipients_truncated: false
                  last_message:
                    id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a60'
                    preview: See you at the kickoff.
                    sent_at: '2026-10-01T15:02:00Z'
                    sender_id: '01a08944-eff4-7a2a-be01-d699fa649966'
                  unread: true
                  archived: false
                  pinned_count: 0
                  last_activity_at: '2026-10-01T15:02:00Z'
                  created_at: '2026-09-28T12:00:00Z'
                meta:
                  request_uuid: '01a0f4fe-de00-75b3-8d8a-b74b0cde8b07'
                  timestamp: '2026-10-01T15:04:05Z'
        '204':
          description: The member left the conversation.
        '401':
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '403':
          description: The credential is read-only, the membership cannot message, or the change is not allowed here.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '404':
          description: Nothing with this id is visible to the member.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
          description: A parameter is invalid or unknown, or an id is not a member of the company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/messaging/conversations/{id}/messages":
    parameters:
    - name: id
      in: path
      required: true
      description: Public id of a conversation the member can see.
      schema:
        type: string
        format: uuid
    get:
      operationId: member_messaging_messages_index
      tags:
      - messaging
      summary: List messages
      description: |
        The conversation's messages the member can read, newest first: others' messages once delivered
        after the member joined, and the member's own. Messages deleted for everyone or for the member,
        drafts and scheduled messages are left out. Conversation events (people joining, leaving or
        being added, a rename) are included as messages of `kind` `event`, as in the legacy list; a
        channel leaves out the membership events.

        As the legacy message list does, reading marks the conversation read for the member, unless
        `preview` is `true`. The member's `unread` state is cleared before the page is read, so a
        message that arrives in between is on the page.

        Access is rechecked on every request: a member who leaves a Team group can no longer read any
        of its messages, old or new.
      x-fluid-audience: member
      parameters:
      - name: If-None-Match
        in: header
        required: false
        description: A previously returned ETag. Authentication and the current read run before a 304 is
          considered.
        schema:
          type: string
      - name: preview
        in: query
        required: false
        description: When `true`, read without marking the conversation read.
        schema:
          type: boolean
          default: false
      - name: page[cursor]
        in: query
        required: false
        description: >-
          Opaque cursor from `meta.pagination.next_cursor`. A malformed, tampered or expired cursor returns
          400.
        schema:
          type: string
      - name: page[limit]
        in: query
        required: false
        description: Page size. Defaults to 25, at most 100.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
      responses:
        '200':
          description: A page of messages.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MessagesEnvelope"
              example:
                status: 200
                data:
                - id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a60'
                  conversation_id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a5b'
                  sender:
                    id: '01a08944-eff4-7a2a-be01-d699fa649966'
                    kind: member
                    name: Nathan Rivera
                    avatar_url:
                  kind: message
                  text: See you at the kickoff.
                  event:
                  attachments: []
                  reply_to:
                  reactions:
                  - emoji: "\U0001F44D"
                    count: 2
                    mine: true
                  pinned: false
                  seen_by_count: 3
                  client_message_id: 7f1c2b9e-launch
                  sent_at: '2026-10-01T15:02:00Z'
                  created_at: '2026-10-01T15:01:59Z'
                  edited_at:
                meta:
                  request_uuid: '01a0f4fe-de00-75b3-8d8a-b74b0cde8b07'
                  timestamp: '2026-10-01T15:04:05Z'
                  pagination:
                    next_cursor:
        '304':
          description: The representation has not changed since the supplied ETag.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
        '400':
          description: The pagination cursor is malformed, tampered with or expired.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '401':
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '403':
          description: The credential is read-only, the membership cannot message, or the change is not allowed here.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '404':
          description: Nothing with this id is visible to the member.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
          description: A parameter is invalid or unknown.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
    post:
      operationId: member_messaging_messages_create
      tags:
      - messaging
      summary: Send a message
      description: |
        Sends a text message through the same writer every other client uses, so delivery, push and the
        conversation's state update as they do there. A contact conversation sends email or SMS. A
        conversation the member cannot post to (a broadcast-only channel, an archived or closed
        conversation, or one the member has archived for themselves) returns 403.

        A retry with the same `client_message_id` returns the message already sent, even when the
        conversation has closed since. If that message was deleted, the response carries no text or
        attachments.
      x-fluid-audience: member
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                text:
                  type: string
                  minLength: 1
                  maxLength: 10000
                  description: Required unless the message has attachments.
                reply_to_id:
                  type: string
                  format: uuid
                  description: A message in this conversation the member can read.
                client_message_id:
                  type: string
                  minLength: 1
                  maxLength: 100
                  description: >-
                    An id the client chooses. A retry with the same id returns the message already sent,
                    with 200, instead of sending it again.
                attachments:
                  type: array
                  maxItems: 10
                  description: >-
                    Files the client has uploaded, named by URL, as the legacy message endpoint takes them. The
                    URL is not checked as an owned upload.
                  items:
                    type: object
                    additionalProperties: false
                    required:
                    - url
                    - filename
                    properties:
                      url:
                        type: string
                        maxLength: 2048
                        pattern: "^https?://\\S+$"
                      filename:
                        type: string
                        minLength: 1
                        maxLength: 255
                      content_type:
                        type: string
                        minLength: 1
                        maxLength: 255
                      content_size:
                        type: integer
                        minimum: 0
                        maximum: 2147483647
              anyOf:
              - required:
                - text
                properties:
                  text:
                    pattern: "\\S"
              - required:
                - attachments
                properties:
                  attachments:
                    minItems: 1
            example:
              text: See you at the kickoff.
              client_message_id: 7f1c2b9e-launch
      responses:
        '201':
          description: The sent message.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MessageEnvelope"
              example:
                status: 201
                data:
                  id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a60'
                  conversation_id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a5b'
                  sender:
                    id: '01a08944-eff4-7a2a-be01-d699fa649966'
                    kind: member
                    name: Nathan Rivera
                    avatar_url:
                  kind: message
                  text: See you at the kickoff.
                  event:
                  attachments: []
                  reply_to:
                  reactions:
                  - emoji: "\U0001F44D"
                    count: 2
                    mine: true
                  pinned: false
                  seen_by_count: 3
                  client_message_id: 7f1c2b9e-launch
                  sent_at: '2026-10-01T15:02:00Z'
                  created_at: '2026-10-01T15:01:59Z'
                  edited_at:
                meta:
                  request_uuid: '01a0f4fe-de00-75b3-8d8a-b74b0cde8b07'
                  timestamp: '2026-10-01T15:04:05Z'
        '200':
          description: The message already sent with this `client_message_id`, without text or attachments if it was deleted.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MessageEnvelope"
              example:
                status: 200
                data:
                  id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a60'
                  conversation_id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a5b'
                  sender:
                    id: '01a08944-eff4-7a2a-be01-d699fa649966'
                    kind: member
                    name: Nathan Rivera
                    avatar_url:
                  kind: message
                  text: See you at the kickoff.
                  event:
                  attachments: []
                  reply_to:
                  reactions:
                  - emoji: "\U0001F44D"
                    count: 2
                    mine: true
                  pinned: false
                  seen_by_count: 3
                  client_message_id: 7f1c2b9e-launch
                  sent_at: '2026-10-01T15:02:00Z'
                  created_at: '2026-10-01T15:01:59Z'
                  edited_at:
                meta:
                  request_uuid: '01a0f4fe-de00-75b3-8d8a-b74b0cde8b07'
                  timestamp: '2026-10-01T15:04:05Z'
        '401':
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '403':
          description: The credential is read-only, the membership cannot message, or the change is not allowed here.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '404':
          description: Nothing with this id is visible to the member.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
          description: A parameter is invalid or unknown, an attachment is malformed or too large, the reply target is not in this conversation, or the legacy writer refuses the message.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/messaging/scheduled-messages":
    get:
      operationId: member_messaging_scheduled_messages_index
      tags:
      - messaging
      summary: List scheduled messages
      description: |
        Every scheduled message the member created, latest delivery time first, as the legacy
        `my_scheduled_messages` list returns them. It does not check that the member can still reach the
        conversation. A schedule that a delivery has claimed becomes an ordinary message and a cancelled
        one is gone; neither is listed. Other people's schedules are never listed.
      x-fluid-audience: member
      parameters:
      - name: If-None-Match
        in: header
        required: false
        description: A previously returned ETag. Authentication and the current read run before a 304 is
          considered.
        schema:
          type: string
      - name: page[cursor]
        in: query
        required: false
        description: >-
          Opaque cursor from `meta.pagination.next_cursor`. A malformed, tampered or expired cursor returns
          400.
        schema:
          type: string
      - name: page[limit]
        in: query
        required: false
        description: Page size. Defaults to 25, at most 100.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
      responses:
        '200':
          description: A page of scheduled messages.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ScheduledMessagesEnvelope"
              example:
                status: 200
                data:
                - id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a80'
                  conversation_id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a5b'
                  text: Doors open at nine.
                  theme:
                  scheduled_at: '2030-01-15T15:00:00Z'
                  attachments: []
                  created_at: '2026-10-01T15:01:59Z'
                  updated_at: '2026-10-01T15:01:59Z'
                meta:
                  request_uuid: '01a0f4fe-de00-75b3-8d8a-b74b0cde8b07'
                  timestamp: '2026-10-01T15:04:05Z'
                  pagination:
                    next_cursor:
        '304':
          description: The representation has not changed since the supplied ETag.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
        '400':
          description: The pagination cursor is malformed, tampered with or expired.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '401':
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '403':
          description: The credential is read-only, the membership cannot message, or the change is not allowed here.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
          description: A parameter is invalid or unknown.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/messaging/conversations/{id}/scheduled-messages/{scheduled_message_id}":
    parameters:
    - name: id
      in: path
      required: true
      description: Public id of the conversation. A change needs one the member can see; a cancel does not.
      schema:
        type: string
        format: uuid
    - name: scheduled_message_id
      in: path
      required: true
      description: Public id of one of the member's pending scheduled messages in this conversation.
      schema:
        type: string
        format: uuid
    patch:
      operationId: member_messaging_conversation_scheduled_messages_update
      tags:
      - messaging
      summary: Change a scheduled message
      description: |
        Changes the text, theme, time or attachments of the member's pending schedule. Only the fields sent change,
        and the delivery kind is kept. Unlike a new schedule, a changed time is not required to be in the
        future, as in the legacy update. Offset timestamps name the same instant and are returned in
        UTC. A schedule that a delivery has claimed, another person's, or one in a conversation the
        member can no longer see returns 404.
      x-fluid-audience: member
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                text:
                  type: string
                  minLength: 1
                  maxLength: 10000
                  pattern: "\\S"
                scheduled_at:
                  type: string
                  format: date-time
                  description: >-
                    An ISO 8601 timestamp with an explicit UTC offset (`Z` or `+05:45`); one without an
                    offset is refused. Unlike a new schedule, it may be in the past.
                theme:
                  type:
                  - string
                  - 'null'
                  maxLength: 255
                attachments:
                  type: array
                  maxItems: 10
                  description: >-
                    Files the client has uploaded, named by URL, as the legacy schedule endpoint takes them.
                    They are added to the schedule's saved attachments; none can be removed.
                    The URL is not checked as an owned upload.
                  items:
                    type: object
                    additionalProperties: false
                    required:
                    - url
                    - filename
                    properties:
                      url:
                        type: string
                        maxLength: 2048
                        pattern: "^https?://\\S+$"
                      filename:
                        type: string
                        maxLength: 255
                      content_type:
                        type: string
                        maxLength: 255
                      content_size:
                        type: integer
                        minimum: 0
                        maximum: 2147483647
            example:
              scheduled_at: '2030-01-15T10:00:00-05:00'
      responses:
        '200':
          description: The scheduled message after the change.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ScheduledMessageEnvelope"
              example:
                status: 200
                data:
                  id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a80'
                  conversation_id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a5b'
                  text: Doors open at nine.
                  theme:
                  scheduled_at: '2030-01-15T15:00:00Z'
                  attachments: []
                  created_at: '2026-10-01T15:01:59Z'
                  updated_at: '2026-10-01T15:01:59Z'
                meta:
                  request_uuid: '01a0f4fe-de00-75b3-8d8a-b74b0cde8b07'
                  timestamp: '2026-10-01T15:04:05Z'
        '401':
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '403':
          description: The credential is read-only, the membership cannot message, or the change is not allowed here.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '404':
          description: Nothing with this id is visible to the member.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
          description: A parameter is invalid or unknown, such as a time without an offset or an attachment without an http(s) URL.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
    delete:
      operationId: member_messaging_conversation_scheduled_messages_destroy
      tags:
      - messaging
      summary: Cancel a scheduled message
      description: |
        Cancels the member's pending schedule, even when the membership no longer has the standing to
        schedule new ones or can no longer see the conversation (a Team group it has left). A schedule
        that a delivery has already claimed, or another person's, can no longer be cancelled and returns
        404.
      x-fluid-audience: member
      responses:
        '204':
          description: The schedule is cancelled.
        '401':
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '403':
          description: The credential is read-only, the membership cannot message, or the change is not allowed here.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '404':
          description: Nothing with this id is visible to the member.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/messaging/conversations/{id}/scheduled-messages":
    parameters:
    - name: id
      in: path
      required: true
      description: Public id of a conversation the member can see.
      schema:
        type: string
        format: uuid
    get:
      operationId: member_messaging_conversation_scheduled_messages_index
      tags:
      - messaging
      summary: List a conversation's scheduled messages
      description: |
        The member's own scheduled messages in this conversation, latest delivery time first. A schedule
        that a delivery has claimed becomes an ordinary message and a cancelled one is gone; neither is
        listed. Access is rechecked on every request: a conversation the member can no longer see
        returns 404.
      x-fluid-audience: member
      parameters:
      - name: If-None-Match
        in: header
        required: false
        description: A previously returned ETag. Authentication and the current read run before a 304 is
          considered.
        schema:
          type: string
      - name: page[cursor]
        in: query
        required: false
        description: >-
          Opaque cursor from `meta.pagination.next_cursor`. A malformed, tampered or expired cursor returns
          400.
        schema:
          type: string
      - name: page[limit]
        in: query
        required: false
        description: Page size. Defaults to 25, at most 100.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
      responses:
        '200':
          description: A page of scheduled messages.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ScheduledMessagesEnvelope"
              example:
                status: 200
                data:
                - id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a80'
                  conversation_id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a5b'
                  text: Doors open at nine.
                  theme:
                  scheduled_at: '2030-01-15T15:00:00Z'
                  attachments: []
                  created_at: '2026-10-01T15:01:59Z'
                  updated_at: '2026-10-01T15:01:59Z'
                meta:
                  request_uuid: '01a0f4fe-de00-75b3-8d8a-b74b0cde8b07'
                  timestamp: '2026-10-01T15:04:05Z'
                  pagination:
                    next_cursor:
        '304':
          description: The representation has not changed since the supplied ETag.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
        '400':
          description: The pagination cursor is malformed, tampered with or expired.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '401':
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '403':
          description: The credential is read-only, the membership cannot message, or the change is not allowed here.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '404':
          description: Nothing with this id is visible to the member.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
          description: A parameter is invalid or unknown.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
    post:
      operationId: member_messaging_conversation_scheduled_messages_create
      tags:
      - messaging
      summary: Schedule a message
      description: |
        Schedules a message of text, attachments or both for later, to be sent as the conversation's
        delivery kind (an email or SMS for a contact conversation, direct otherwise). Scheduling clears the member's own draft in
        the conversation. It needs the same standing as sending a premium message: a membership
        without it, or a conversation it can no longer post to, returns 403.
      x-fluid-audience: member
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - scheduled_at
              properties:
                text:
                  type: string
                  minLength: 1
                  maxLength: 10000
                  pattern: "\\S"
                  description: Required unless the schedule has attachments; it may not be blank.
                scheduled_at:
                  type: string
                  format: date-time
                  description: >-
                    A future ISO 8601 timestamp with an explicit UTC offset (`Z` or `+05:45`); one without an
                    offset is refused.
                theme:
                  type:
                  - string
                  - 'null'
                  maxLength: 255
                attachments:
                  type: array
                  maxItems: 10
                  description: >-
                    Files the client has uploaded, named by URL, as the legacy schedule endpoint takes them.
                    The URL is not checked as an owned upload.
                  items:
                    type: object
                    additionalProperties: false
                    required:
                    - url
                    - filename
                    properties:
                      url:
                        type: string
                        maxLength: 2048
                        pattern: "^https?://\\S+$"
                      filename:
                        type: string
                        maxLength: 255
                      content_type:
                        type: string
                        maxLength: 255
                      content_size:
                        type: integer
                        minimum: 0
                        maximum: 2147483647
              anyOf:
              - required:
                - text
              - required:
                - attachments
                properties:
                  attachments:
                    minItems: 1
            example:
              text: Doors open at nine.
              scheduled_at: '2030-01-15T10:00:00-05:00'
      responses:
        '201':
          description: The scheduled message.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ScheduledMessageEnvelope"
              example:
                status: 201
                data:
                  id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a80'
                  conversation_id: '0199a1b2-c3d4-7e5f-8a9b-0c1d2e3f4a5b'
                  text: Doors open at nine.
                  theme:
                  scheduled_at: '2030-01-15T15:00:00Z'
                  attachments: []
                  created_at: '2026-10-01T15:01:59Z'
                  updated_at: '2026-10-01T15:01:59Z'
                meta:
                  request_uuid: '01a0f4fe-de00-75b3-8d8a-b74b0cde8b07'
                  timestamp: '2026-10-01T15:04:05Z'
        '401':
          description: Missing credential, or a credential that is not a usable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '403':
          description: The credential is read-only, the membership cannot message, or the change is not allowed here.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '404':
          description: Nothing with this id is visible to the member.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
[...]
