---
openapi: 3.1.0
info:
  title: Fluid Member API v2026-10 — Payments
  description: >-
    The authenticated member's saved payment methods, public card-vault setup,
    saved-card 3-D Secure verification, current Pro plan and available plan offers. The bearer credential determines
    the member and company. Saved methods follow the existing shared-wallet policy;
    cardholder and billing identity use the existing payment API accessors. Card
    tokens and CVC fields are not included in payment-method responses. Vault setup
    and card-creation or verification responses use Cache-Control: no-store. Pro purchases,
    cancellations and company billing remain on their existing surfaces.
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
  version: 2026-10
security:
- MemberBearer: []
servers:
- url: https://api.fluid.app
  description: Production API server
- url: https://api.fluid.test
  description: Local development server
tags:
- name: plan
  description: The signed-in member's own Pro plan, the Pro plans their company offers, and their paid add-ons.
  x-fluid-section: Payments
- name: payment-methods
  description: The signed-in member's saved payment methods and card vault setup.
  x-fluid-section: Payments
components:
  securitySchemes:
    MemberBearer:
      type: http
      scheme: bearer
      description: |
        A member credential in the `Authorization: Bearer` header: a member
        session JWT, a portal JWT whose login is linked to a membership in
        that company, or an opaque member token. The credential alone
        identifies the member and company.
  headers:
    ETag:
      description: >-
        Fingerprint of this member's representation. Send it back in If-None-Match to skip the body while it is
        unchanged.
      schema:
        type: string
    CacheControl:
      description: >-
        Standard HTTP Cache-Control directive. Always private for this surface. The plan routes send max-age=0, so a
        client revalidates every read with the ETag.
      schema:
        type: string
        example: max-age=0, private
  schemas:
    ResponseMeta:
      type: object
      description: Envelope metadata present on every response.
      properties:
        request_uuid:
          type: string
          format: uuid
          description: Server-generated UUIDv7 uniquely identifying this response.
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp at which the server produced the response.
      required:
      - request_uuid
      - timestamp
      additionalProperties: true
    ErrorEnvelope:
      type: object
      description: Standard error envelope.
      properties:
        status:
          type: integer
          description: HTTP status code (mirrors the response status line).
        error:
          type: object
          properties:
            message:
              type: string
              description: Human-readable error message.
            details:
              type: object
              additionalProperties: true
          required:
          - message
          - details
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
      required:
      - status
      - error
      - meta
    PaginationMeta:
      type: object
      description: Keyset pagination state for a list.
      additionalProperties: false
      properties:
        next_cursor:
          type:
          - string
          - 'null'
          description: Send as `page[cursor]` for the next page; null on the last page.
      required:
      - next_cursor
    ProPlan:
      type: object
      description: A Pro plan the company offers. Plans store no currency of their own, so prices carry none.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: Premium Messaging
        slug:
          type:
          - string
          - 'null'
          example: premium-messaging
        price:
          type:
          - string
          - 'null'
          description: List price per period, as a decimal string.
          example: '19.0'
        discount_percent:
          type:
          - string
          - 'null'
          description: Percentage taken off the list price.
          example: '10.0'
        net_price:
          type:
          - string
          - 'null'
          description: Price per period after the discount.
          example: '17.1'
        duration:
          type:
          - string
          - 'null'
          description: Renewal period as an ISO 8601 duration.
          example: P1M
        default:
          type: boolean
          description: Whether this is the company's premium plan.
      required:
      - id
      - name
      - slug
      - price
      - discount_percent
      - net_price
      - duration
      - default
    CurrentProPlan:
      type: object
      description: The member's current Pro plan.
      additionalProperties: false
      properties:
        source:
          type: string
          description: '`purchase` for a plan the member bought; `free` for Pro the company grants the member at no charge.'
          enum:
          - purchase
          - free
        status:
          type: string
          description: The purchase's status. Only a current plan is returned, so this is `active`.
          enum:
          - active
        plan:
          description: The plan, or null for a free grant whose company names no premium plan.
          oneOf:
          - "$ref": "#/components/schemas/ProPlan"
          - type: 'null'
        started_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the purchase started; null for a free grant.
        expires_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the current period ends; null for a free grant.
        renewed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the purchase last renewed, if it has.
        auto_renew:
          type: boolean
          description: Whether the purchase renews at the end of the period.
      required:
      - source
      - status
      - plan
      - started_at
      - expires_at
      - renewed_at
      - auto_renew
    CurrentProPlanEnvelope:
      type: object
      properties:
        status:
          type: integer
        data:
          oneOf:
          - "$ref": "#/components/schemas/CurrentProPlan"
          - type: 'null'
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
      required:
      - status
      - data
      - meta
    ProPlansEnvelope:
      type: object
      properties:
        status:
          type: integer
        data:
          type: array
          items:
            "$ref": "#/components/schemas/ProPlan"
        meta:
          allOf:
          - "$ref": "#/components/schemas/ResponseMeta"
          - type: object
            properties:
              pagination:
                "$ref": "#/components/schemas/PaginationMeta"
            required:
            - pagination
      required:
      - status
      - data
      - meta
    AddOnsEnvelope:
      type: object
      properties:
        status:
          type: integer
        data:
          type: array
          description: Always empty today; see the operation.
          maxItems: 0
          items:
            type: object
        meta:
          allOf:
          - "$ref": "#/components/schemas/ResponseMeta"
          - type: object
            properties:
              pagination:
                "$ref": "#/components/schemas/PaginationMeta"
            required:
            - pagination
      required:
      - status
      - data
      - meta
    PaymentMethodBillingAddress:
      type: object
      description: The billing address stored with this payment method.
      additionalProperties: false
      properties:
        name:
          type:
          - string
          - 'null'
          example: Casey Brooks
        address1:
          type:
          - string
          - 'null'
          example: 742 Evergreen Terrace
        address2:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
          example: Springfield
        state:
          type:
          - string
          - 'null'
          example: IL
        postal_code:
          type:
          - string
          - 'null'
          example: '62704'
        country_code:
          type:
          - string
          - 'null'
          example: US
      required:
      - name
      - address1
      - address2
      - city
      - state
      - postal_code
      - country_code
    PaymentMethod:
      type: object
      description: A saved payment method with masked card details and the existing payment API identity fields.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
          description: The payment method's identifier.
        kind:
          type: string
          description: A card, a digital wallet (Apple Pay, Google Pay, PayPal), or another saved method.
          enum:
          - card
          - wallet
          - other
        brand:
          type:
          - string
          - 'null'
          description: The card network, lowercase; null for a method that is not a card.
          example: visa
        last4:
          type:
          - string
          - 'null'
          description: The last four digits of the card.
          example: '4242'
        expires:
          description: The card's expiry month and year, or null when not known.
          oneOf:
          - type: object
            additionalProperties: false
            properties:
              month:
                type: integer
                minimum: 1
                maximum: 12
                example: 3
              year:
                type: integer
                description: The four-digit calendar year.
                example: 2031
            required:
            - month
            - year
          - type: 'null'
        card_holder:
          description: The cardholder name returned by the existing payment API.
          type:
          - string
          - 'null'
          example: Casey Brooks
        default:
          type: boolean
          description: Whether this is the member's default payment method.
        billing_address:
          description: The billing address returned by the existing payment API, including its shared-card fallback for non-isolated companies.
          oneOf:
          - "$ref": "#/components/schemas/PaymentMethodBillingAddress"
          - type: 'null'
        created_at:
          type:
          - string
          - 'null'
          format: date-time
      required:
      - id
      - kind
      - brand
      - last4
      - expires
      - card_holder
      - default
      - billing_address
      - created_at
    PaymentMethodEnvelope:
      type: object
      properties:
        status:
          type: integer
        data:
          "$ref": "#/components/schemas/PaymentMethod"
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
      required:
      - status
      - data
      - meta
    PaymentMethodsEnvelope:
      type: object
      properties:
        status:
          type: integer
        data:
          type: array
          items:
            "$ref": "#/components/schemas/PaymentMethod"
        meta:
          allOf:
          - "$ref": "#/components/schemas/ResponseMeta"
          - type: object
            properties:
              pagination:
                "$ref": "#/components/schemas/PaginationMeta"
            required:
            - pagination
      required:
      - status
      - data
      - meta
    VerificationReference:
      type: object
      additionalProperties: false
      required:
      - verification_id
      properties:
        verification_id:
          type: string
          minLength: 1
          description: The verification `id` returned by `POST /payment-methods` when verification was required. It names the verification for the authenticated member only and grants nothing on its own.
          example: 6f1c2a9e-3b7d-4c58-9e21-0a4d8b7c5e13
    VerificationRequiredEnvelope:
      type: object
      description: The card needs 3-D Secure verification before it is saved.
      properties:
        status:
          type: integer
        data:
          type: object
          additionalProperties: false
          properties:
            id:
              type: string
              format: uuid
              description: >-
                The verification id, the same value as `merchant_tx_id`. It names the verification for the authenticated
                member only and grants nothing on its own. Send it as `verification_id` in the body of the three-ds
                confirm, status and cancel routes; follow the challenge by polling the status route.
              example: 6f1c2a9e-3b7d-4c58-9e21-0a4d8b7c5e13
            status:
              type: string
              enum:
              - required
            method_content:
              type:
              - string
              - 'null'
              description: The issuer's device-fingerprinting form to render in a hidden frame, when one is needed.
            fingerprinting_required:
              type: boolean
            merchant_tx_id:
              type:
              - string
              - 'null'
              description: The verification's transaction reference with the card network. Equal to `id`.
          required:
          - id
          - status
          - method_content
          - fingerprinting_required
          - merchant_tx_id
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
      required:
      - status
      - data
      - meta
    VaultSetupEnvelope:
      type: object
      properties:
        status:
          type: integer
        data:
          type: object
          additionalProperties: false
          description: The public card-vault configuration the payment form loads. Not a credential; never cached.
          properties:
            vault_id:
              type: [string, 'null']
              example: tntq4dwvhri
            environment:
              type: [string, 'null']
              example: sandbox
            route_id:
              type:
              - string
              - 'null'
              example: 5a1d9c8e-3b2f-4e6a-9d7c-1f0e2b3a4c5d
          required:
          - vault_id
          - environment
          - route_id
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
      required:
      - status
      - data
      - meta
    VerificationConfirmationEnvelope:
      type: object
      properties:
        status:
          type: integer
        data:
          type: object
          additionalProperties: false
          properties:
            id:
              type: string
              description: The verification id.
            status:
              type: string
              description: '`approved`: the card is saved and returned. `challenge`: the shopper must complete the issuer challenge, then confirm again.'
              enum:
              - approved
              - challenge
            created:
              type: boolean
              description: Whether approving this verification saved a new payment method (false when it was already saved).
            payment_method:
              oneOf:
              - "$ref": "#/components/schemas/PaymentMethod"
              - type: 'null'
            challenge_form:
              type:
              - string
              - 'null'
              description: The issuer challenge form to render, when `status` is `challenge`.
            challenge_url:
              type:
              - string
              - 'null'
              description: The issuer challenge URL, when `status` is `challenge`.
          required:
          - id
          - status
          - created
          - payment_method
          - challenge_form
          - challenge_url
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
      required:
      - status
      - data
      - meta
    VerificationStatusEnvelope:
      type: object
      properties:
        status:
          type: integer
        data:
          type: object
          additionalProperties: false
          properties:
            id:
              type: string
            state:
              type: string
              description: The verification's state.
              enum:
              - initialized
              - pending
              - approved
              - denied
              - timed_out
              - cancelled
              - skipped
            expired:
              type: boolean
              description: Whether the verification is older than its ten-minute lifetime.
            payment_method_id:
              type:
              - string
              - 'null'
              format: uuid
              description: The saved payment method, once the verification approved it.
          required:
          - id
          - state
          - expired
          - payment_method_id
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
      required:
      - status
      - data
      - meta
    VerificationCancellationEnvelope:
      type: object
      properties:
        status:
          type: integer
        data:
          type: object
          additionalProperties: false
          properties:
            id:
              type: string
            state:
              type: string
              enum:
              - initialized
              - pending
              - approved
              - denied
              - timed_out
              - cancelled
              - skipped
            cancelled:
              type: boolean
              description: Whether this request cancelled it; false when it had already finished.
          required:
          - id
          - state
          - cancelled
        meta:
          "$ref": "#/components/schemas/ResponseMeta"
      required:
      - status
      - data
      - meta
paths:
  "/api/member/v2026-10/plan":
    get:
      x-fluid-audience: member
      operationId: member_plan_show
      tags:
      - plan
      summary: Show the member's Pro plan
      description: >-
        The signed-in member's current Pro plan: an active purchase in their company whose period has not ended, or Pro their company
        grants them free. `data` is null when they have neither. Read-only; buying and cancelling are separate flows,
        and the company's own billing is never shown. Responses must be revalidated with the ETag, so a purchase,
        renewal or expiry shows at once.
      responses:
        '200':
          description: The current plan, or null.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CurrentProPlanEnvelope"
              example:
                status: 200
                data:
                  source: purchase
                  status: active
                  plan:
                    id: 0192f510-5e6f-7a8b-9c0d-1e2f3a4b5c6d
                    name: Premium Messaging
                    slug: premium-messaging
                    price: '19.0'
                    discount_percent: '0.0'
                    net_price: '19.0'
                    duration: P1M
                    default: true
                  started_at: '2026-09-01T00:00:00Z'
                  expires_at: '2026-10-01T00:00:00Z'
                  renewed_at:
                  auto_renew: true
                meta:
                  request_uuid: 0192f511-7a8b-7c9d-a0e1-f2a3b4c5d6e7
                  timestamp: '2026-09-30T15:18:02Z'
        '304':
          description: Unchanged since the supplied ETag.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
        '401':
          description: Missing or unusable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/plan/options":
    get:
      x-fluid-audience: member
      operationId: member_plan_options
      tags:
      - plan
      summary: List the Pro plans on offer
      description: >-
        The Pro plans the member's company offers now (its active plans), ordered by list `price` before any discount, lowest first; plans without a price come last and `id` breaks ties. Compare `net_price` for the discounted amount. An offer is not an entitlement: the member's own plan is `GET /plan`.
      parameters:
      - name: page[cursor]
        in: query
        description: Opaque cursor from `meta.pagination.next_cursor`. Malformed, tampered or expired (three days) cursors return 400.
        schema:
          type: string
      - name: page[limit]
        in: query
        description: Page size.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
      responses:
        '200':
          description: One page.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ProPlansEnvelope"
              example:
                status: 200
                data:
                - id: 0192f510-5e6f-7a8b-9c0d-1e2f3a4b5c6d
                  name: Premium Messaging
                  slug: premium-messaging
                  price: '19.0'
                  discount_percent: '0.0'
                  net_price: '19.0'
                  duration: P1M
                  default: true
                meta:
                  request_uuid: 0192f520-1a2b-7c3d-8e4f-5a6b7c8d9e0f
                  timestamp: '2026-09-30T15:20:00Z'
                  pagination:
                    next_cursor: null
        '304':
          description: Unchanged since the supplied ETag.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
        '400':
          description: Invalid, tampered or expired pagination cursor.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '401':
          description: Missing or unusable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
          description: Invalid or undeclared query parameter.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/plan/add-ons":
    get:
      x-fluid-audience: member
      operationId: member_plan_add_ons
      tags:
      - plan
      summary: List the member's paid add-ons
      description: >-
        The member's active paid add-ons. Pro (premium messaging) is the only paid member product Fluid stores, and it is `GET /plan`, so this list is empty until another add-on exists. It is a list so that adding one is not a contract change.
      parameters:
      - name: page[cursor]
        in: query
        description: Opaque cursor from `meta.pagination.next_cursor`. Malformed, tampered or expired (three days) cursors return 400.
        schema:
          type: string
      - name: page[limit]
        in: query
        description: Page size.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
      responses:
        '200':
          description: One page.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AddOnsEnvelope"
              example:
                status: 200
                data: []
                meta:
                  request_uuid: 0192f520-1a2b-7c3d-8e4f-5a6b7c8d9e0f
                  timestamp: '2026-09-30T15:20:00Z'
                  pagination:
                    next_cursor: null
        '304':
          description: Unchanged since the supplied ETag.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
        '400':
          description: Invalid, tampered or expired pagination cursor.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '401':
          description: Missing or unusable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
          description: Invalid or undeclared query parameter.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/payment-methods":
    get:
      x-fluid-audience: member
      operationId: member_payment_methods_index
      tags:
      - payment-methods
      summary: List the member's saved payment methods
      description: >-
        The signed-in member's saved, reusable payment methods in their company, newest first, masked. In a company
        whose members share a wallet across companies, the shared wallet's methods and default apply. A membership
        without a payment wallet lists none. Responses must be revalidated with the ETag.
      parameters:
      - name: page[cursor]
        in: query
        description: Opaque cursor from `meta.pagination.next_cursor`. Malformed, tampered or expired (three days) cursors return 400.
        schema:
          type: string
      - name: page[limit]
        in: query
        description: Page size.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
      responses:
        '200':
          description: One page of saved payment methods.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaymentMethodsEnvelope"
              example:
                status: 200
                data:
                - id: 0192f501-2b3c-7d4e-8f5a-6b7c8d9e0f1a
                  kind: card
                  brand: visa
                  last4: '5555'
                  expires:
                    month: 3
                    year: 2031
                  card_holder: Casey Brooks
                  default: true
                  billing_address:
                    name: Casey Brooks
                    address1: 742 Evergreen Terrace
                    address2:
                    city: Springfield
                    state: IL
                    postal_code: '62704'
                    country_code: US
                  created_at: '2026-07-02T19:44:10.000000Z'
                meta:
                  request_uuid: 0192f502-4d5e-7f6a-9b0c-1d2e3f4a5b6c
                  timestamp: '2026-09-30T15:16:30Z'
                  pagination:
                    next_cursor:
        '304':
          description: The page has not changed since the supplied ETag.
          headers:
            ETag:
              "$ref": "#/components/headers/ETag"
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
        '400':
          description: Invalid, tampered or expired pagination cursor.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '401':
          description: Missing or unusable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
          description: Invalid or undeclared query parameter.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
    post:
      x-fluid-audience: member
      operationId: member_payment_methods_create
      tags:
      - payment-methods
      summary: Save a card
      description: >-
        Saves a card the vault form tokenized (see `GET /payment-methods/vault`), with one of the member's saved
        addresses as its billing address. Returns 201 with the saved method, or 202 when the card issuer requires 3-D
        Secure first: the verification id in the 202 follows the challenge through the card verification routes, which
        save the card once approved. Responses carry `Cache-Control: no-store`. Requires a writable member credential.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                token:
                  type: string
                  minLength: 1
                  description: The card token passed to the existing payment service.
                exp_month:
                  type: string
                  minLength: 1
                exp_year:
                  type: string
                  minLength: 1
                billing_address_id:
                  type: string
                  format: uuid
                  description: One of the member's saved addresses (`/addresses`).
                default:
                  type: [boolean, 'null']
                  description: Make the card the member's default once saved.
                token_provider:
                  type: string
                  minLength: 1
                cvv_token:
                  type: string
                  minLength: 1
                  description: The CVC token passed to the existing payment service.
                card_holder:
                  type: string
                  minLength: 1
                  description: The cardholder name passed to the existing payment service.
                bin:
                  type: [string, 'null']
                  description: Optional issuer prefix reported by the vault form.
                last_four:
                  type: [string, 'null']
                card_network:
                  type: [string, 'null']
                  description: Optional card-brand hint reported by the vault form.
                browser_info:
                  type: [object, 'null']
                  additionalProperties: true
                  description: Browser fingerprint fields forwarded unchanged to the existing 3-D Secure flow.
              required:
              - token
              - exp_month
              - exp_year
              - billing_address_id
            example:
              token: tok_sandbox_4hQ8pZ2mXv9sLw3eRk7Ybc
              exp_month: '03'
              exp_year: '2031'
              billing_address_id: 0192f4f0-7a8b-7c9d-8e0f-1a2b3c4d5e6f
              card_holder: Casey Brooks
              default: true
      responses:
        '201':
          description: The saved payment method.
          headers:
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaymentMethodEnvelope"
              example:
                status: 201
                data:
                  id: 0192f501-2b3c-7d4e-8f5a-6b7c8d9e0f1a
                  kind: card
                  brand: visa
                  last4: '5555'
                  expires:
                    month: 3
                    year: 2031
                  card_holder: Casey Brooks
                  default: true
                  billing_address:
                    name: Casey Brooks
                    address1: 742 Evergreen Terrace
                    address2: null
                    city: Springfield
                    state: IL
                    postal_code: '62704'
                    country_code: US
                  created_at: '2026-07-02T19:44:10.000000Z'
                meta:
                  request_uuid: 0192f520-1a2b-7c3d-8e4f-5a6b7c8d9e0f
                  timestamp: '2026-09-30T15:20:00Z'
        '202':
          description: The card needs 3-D Secure verification first.
          headers:
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/VerificationRequiredEnvelope"
              example:
                status: 202
                data:
                  id: 6f1c2a9e-3b7d-4c58-9e21-0a4d8b7c5e13
                  status: required
                  method_content: null
                  fingerprinting_required: false
                  merchant_tx_id: 6f1c2a9e-3b7d-4c58-9e21-0a4d8b7c5e13
                meta:
                  request_uuid: 0192f520-1a2b-7c3d-8e4f-5a6b7c8d9e0f
                  timestamp: '2026-09-30T15:20:00Z'
        '400':
          description: The request body is not valid JSON.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '401':
          description: Missing or unusable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '403':
          description: The member credential can only read.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
          description: A required field is missing or invalid, the billing address is not the member's, the card was declined, or the membership has no payment wallet.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/payment-methods/{id}":
    parameters:
    - name: id
      in: path
      required: true
      description: The payment method's id.
      schema:
        type: string
        format: uuid
    patch:
      x-fluid-audience: member
      operationId: member_payment_methods_update
      tags:
      - payment-methods
      summary: Change a saved payment method
      description: >-
        Makes the method the member's default, or replaces the billing address stored with it (a snapshot on the
        method; the shared card and the member's saved addresses are unchanged). Requires a writable member
        credential.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                default:
                  type: [boolean, 'null']
                billing_address:
                  type: object
                  description: The billing snapshot passed to the existing payment service.
                  additionalProperties: true
                  properties:
                    name:
                      type:
                      - string
                      - 'null'
                    address1:
                      type: string
                      minLength: 1
                    address2:
                      type:
                      - string
                      - 'null'
                    city:
                      type: string
                    state:
                      type: string
                    postal_code:
                      type: string
                      minLength: 1
                    country_code:
                      type: string
                      description: The country code passed to the existing payment service.
                  required:
                  - address1
                  - city
                  - state
                  - postal_code
                  - country_code
            example:
              default: true
      responses:
        '200':
          description: The payment method after the change.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaymentMethodEnvelope"
              example:
                status: 200
                data:
                  id: 0192f501-2b3c-7d4e-8f5a-6b7c8d9e0f1a
                  kind: card
                  brand: visa
                  last4: '5555'
                  expires:
                    month: 3
                    year: 2031
                  card_holder: Casey Brooks
                  default: true
                  billing_address:
                    name: Casey Brooks
                    address1: 742 Evergreen Terrace
                    address2: null
                    city: Springfield
                    state: IL
                    postal_code: '62704'
                    country_code: US
                  created_at: '2026-07-02T19:44:10.000000Z'
                meta:
                  request_uuid: 0192f520-1a2b-7c3d-8e4f-5a6b7c8d9e0f
                  timestamp: '2026-09-30T15:20:00Z'
        '400':
          description: The request body is not valid JSON.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '401':
          description: Missing or unusable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '403':
          description: The member credential can only read.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '404':
          description: No saved payment method of this member has this id.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
          description: A field has an invalid type or a required billing field is missing, or this kind of method takes no billing address.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
    delete:
      x-fluid-audience: member
      operationId: member_payment_methods_destroy
      tags:
      - payment-methods
      summary: Remove a saved payment method
      description: >-
        Removes the method from the member's wallet and clears it as a default and from any unpaid cart waiting on it.
        Orders and subscriptions already charged keep their history. Requires a writable member credential.
      responses:
        '204':
          description: The method was removed.
        '400':
          description: The request body is not valid JSON.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '401':
          description: Missing or unusable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '403':
          description: The member credential can only read.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '404':
          description: No saved payment method of this member has this id.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
          description: The method cannot be removed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/payment-methods/vault":
    get:
      x-fluid-audience: member
      operationId: member_payment_methods_vault
      tags:
      - payment-methods
      summary: Get the card vault setup
      description: >-
        The public configuration the card form needs to tokenize a card in the company's vault environment (sandbox or
        live). It contains no credential or secret; the card form returns an alias to send to `POST
        /payment-methods`. Responses carry `Cache-Control: no-store`.
      responses:
        '200':
          description: The vault configuration.
          headers:
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/VaultSetupEnvelope"
              example:
                status: 200
                data:
                  vault_id: tntq4dwvhri
                  environment: sandbox
                  route_id: 5a1d9c8e-3b2f-4e6a-9d7c-1f0e2b3a4c5d
                meta:
                  request_uuid: 0192f520-1a2b-7c3d-8e4f-5a6b7c8d9e0f
                  timestamp: '2026-09-30T15:20:00Z'
        '401':
          description: Missing or unusable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
          description: The vault configuration is unavailable.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/payment-methods/three-ds/confirm":
    post:
      x-fluid-audience: member
      operationId: member_payment_methods_three_ds_confirm
      tags:
      - payment-methods
      summary: Confirm a card verification
      description: >-
        Advances the verification after any device fingerprinting or issuer challenge. Returns the saved method once approved (repeating it returns the same method), or the challenge to show. After the challenge is shown, follow it with the verification status route until `state` leaves `pending`, then confirm again to save the card. The verification is bound to the member that started it: another member's verification, or an
        unknown id, returns 404. Responses carry `Cache-Control: no-store`. Requires a writable member credential.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/VerificationReference"
            example:
              verification_id: 6f1c2a9e-3b7d-4c58-9e21-0a4d8b7c5e13
      responses:
        '200':
          description: The approved method, or the challenge to complete.
          headers:
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/VerificationConfirmationEnvelope"
              example:
                status: 200
                data:
                  id: 6f1c2a9e-3b7d-4c58-9e21-0a4d8b7c5e13
                  status: approved
                  created: true
                  payment_method:
                    id: 0192f501-2b3c-7d4e-8f5a-6b7c8d9e0f1a
                    kind: card
                    brand: visa
                    last4: '5555'
                    expires:
                      month: 3
                      year: 2031
                    card_holder: Casey Brooks
                    default: true
                    billing_address:
                      name: Casey Brooks
                      address1: 742 Evergreen Terrace
                      address2: null
                      city: Springfield
                      state: IL
                      postal_code: '62704'
                      country_code: US
                    created_at: '2026-07-02T19:44:10.000000Z'
                  challenge_form: null
                  challenge_url: null
                meta:
                  request_uuid: 0192f520-1a2b-7c3d-8e4f-5a6b7c8d9e0f
                  timestamp: '2026-09-30T15:20:00Z'
        '400':
          description: The request body is not valid JSON.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '401':
          description: Missing or unusable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '403':
          description: The member credential can only read.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '404':
          description: No verification of this member has this `verification_id`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '409':
          description: A concurrent change interrupted confirmation. Refresh the verification status and retry.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
          description: The `verification_id` is missing, the membership has no payment wallet, or verification is denied, failed or pending. Verification failures include `error.details.error_code`. An expired verification without a linked payment method returns 404. A retry whose linked payment method still exists returns that method with 200, even after verification expiry.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/payment-methods/three-ds/status":
    post:
      x-fluid-audience: member
      operationId: member_payment_methods_three_ds_status
      tags:
      - payment-methods
      summary: Read a card verification
      description: >-
        Reads the verification's state without changing it, including whether it has expired and the saved method once approved. This is how a member API client follows the issuer challenge: poll it after showing the challenge, until `state` leaves `pending` (`approved` once the issuer accepted it, otherwise `denied`, `timed_out` or `cancelled`), then confirm. No event stream is offered to member API clients. A POST, as the catalogue specifies. The verification is bound to the member that started it: another member's verification, or an
        unknown id, returns 404. Responses carry `Cache-Control: no-store`. Requires a writable member credential.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/VerificationReference"
            example:
              verification_id: 6f1c2a9e-3b7d-4c58-9e21-0a4d8b7c5e13
      responses:
        '200':
          description: The verification's state.
          headers:
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/VerificationStatusEnvelope"
              example:
                status: 200
                data:
                  id: 6f1c2a9e-3b7d-4c58-9e21-0a4d8b7c5e13
                  state: pending
                  expired: false
                  payment_method_id: null
                meta:
                  request_uuid: 0192f520-1a2b-7c3d-8e4f-5a6b7c8d9e0f
                  timestamp: '2026-09-30T15:20:00Z'
        '400':
          description: The request body is not valid JSON.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '401':
          description: Missing or unusable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '403':
          description: The member credential can only read.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '404':
          description: No verification of this member has this `verification_id`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
          description: The `verification_id` is missing, or this membership has no payment wallet. Found sessions, including terminal or expired sessions, return 200.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
  "/api/member/v2026-10/payment-methods/three-ds/cancel":
    post:
      x-fluid-audience: member
      operationId: member_payment_methods_three_ds_cancel
      tags:
      - payment-methods
      summary: Cancel a card verification
      description: >-
        Cancels an unfinished verification, for a shopper who abandons the challenge. A finished verification is left as it is and reported with `cancelled` false. The verification is bound to the member that started it: another member's verification, or an
        unknown id, returns 404. Responses carry `Cache-Control: no-store`. Requires a writable member credential.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/VerificationReference"
            example:
              verification_id: 6f1c2a9e-3b7d-4c58-9e21-0a4d8b7c5e13
      responses:
        '200':
          description: The verification after the request.
          headers:
            Cache-Control:
              "$ref": "#/components/headers/CacheControl"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/VerificationCancellationEnvelope"
              example:
                status: 200
                data:
                  id: 6f1c2a9e-3b7d-4c58-9e21-0a4d8b7c5e13
                  state: cancelled
                  cancelled: true
                meta:
                  request_uuid: 0192f520-1a2b-7c3d-8e4f-5a6b7c8d9e0f
                  timestamp: '2026-09-30T15:20:00Z'
        '400':
          description: The request body is not valid JSON.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '401':
          description: Missing or unusable member credential.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '403':
          description: The member credential can only read.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '404':
          description: No verification of this member has this `verification_id`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
        '422':
          description: The `verification_id` is missing, or this membership has no payment wallet. Found sessions, including terminal or expired sessions, return 200.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorEnvelope"
