openapi: 3.1.0
info:
  title: Fluid Members v2025-06 API
  version: v2025-06
  description: 'The unified **Member** identity surface.


    `Member` is the durable identity record in Fluid. The older `/customers` and `/reps` responses do
    not carry `member_type`, so a client that needs to tell a Customer from a Rep — or from a type the
    company defines itself — reads it here.


    Member path ids accept either the native UUID or the legacy bigint (`legacy_user_company_id`), so
    existing links keep working.


    Every endpoint takes a company-admin bearer token and the relevant `members` permission, except the
    genealogy read, which a rep may also call for their own node or any member inside their own downline.

    '
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
tags:
- name: members
  description: Unified member identity
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
  schemas:
    ErrorBag:
      description: Validation errors keyed by field, a list of errors, a single error message, or null
        when no structured error details are available.
      anyOf:
      - type: string
      - type: array
        items:
          $ref: '#/components/schemas/ErrorValue'
      - type: object
        additionalProperties:
          $ref: '#/components/schemas/ErrorValue'
      - type: 'null'
    ErrorMessage:
      description: An API error message represented as text or structured JSON.
      anyOf:
      - type: string
      - $ref: '#/components/schemas/ErrorBag'
      - type: 'null'
    ErrorValue:
      description: A validation or API error value.
      anyOf:
      - type: string
      - type: array
        items:
          type: string
      - type: object
        additionalProperties:
          $ref: '#/components/schemas/JsonValue'
    JsonValue:
      description: Any valid JSON value for provider, integration, theme, metadata, or other dynamic payloads
        whose keys are not fixed by the API contract.
      anyOf:
      - type: string
      - type: number
      - type: boolean
      - type: 'null'
      - type: array
        items:
          $ref: '#/components/schemas/JsonValue'
      - type: object
        additionalProperties:
          $ref: '#/components/schemas/JsonValue'
    MemberDetail:
      type: object
      description: The member detail (admin view). Key identity and profile fields are enumerated; the
        admin view also returns additional fields (addresses, payment_methods, sponsor, placement, member_type,
        rank, points, orders_count, total_spent_in_base, notes).
      properties:
        id:
          type: string
          description: The member's native UUID.
        email:
          type: string
          format: email
        name:
          type:
          - string
          - 'null'
        username:
          type:
          - string
          - 'null'
        first_name:
          type: string
        last_name:
          type: string
        member_type_slug:
          type:
          - string
          - 'null'
        activity_status:
          type: string
        legacy_user_company_id:
          type:
          - integer
          - 'null'
        legacy_customer_id:
          type:
          - integer
          - 'null'
        phone:
          type:
          - string
          - 'null'
        external_id:
          type:
          - string
          - 'null'
        dob:
          type:
          - string
          - 'null'
          format: date
          description: Date of birth from the member's linked user record. API-only — not included in
            member webhook payloads.
        country_code:
          type:
          - string
          - 'null'
        language_code:
          type:
          - string
          - 'null'
        metadata:
          type:
          - object
          - 'null'
        tax_exempt:
          type: boolean
        sales_tax_id:
          type:
          - string
          - 'null'
        email_marketing:
          type: boolean
        sms_marketing:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        payment_methods:
          type: array
          description: Payment methods owned by this member through member_id or customer_profile_id, scoped to the
            member's own company and excluding discarded members. Every integration is included, not only
            displayable card integrations, preserving this embed's pre-existing row contract.
            Company-wallet-only cards are excluded here; read them from the payment_methods sub-resource.
          items:
            $ref: '#/components/schemas/MemberEmbeddedPaymentMethod'
    MemberEmbeddedPaymentMethod:
      type: object
      description: The stable six-field payment method shape embedded in member detail responses.
      required:
      - id
      - source
      - card_network
      - last_four
      - exp_month
      - exp_year
      properties:
        id:
          type: integer
        source:
          type: string
        card_network:
          type:
          - string
          - 'null'
        last_four:
          type:
          - string
          - 'null'
        exp_month:
          type:
          - string
          - integer
          - 'null'
        exp_year:
          type:
          - string
          - integer
          - 'null'
      additionalProperties: false
    MemberPaymentMethodCardDetails:
      type: object
      description: Card details exposed by the customer-safe payment method view.
      required:
      - id
      - type
      - card_network
      - card_brand
      - last4_digits
      - last_four
      - exp_month
      - exp_year
      - logo_url
      - vgs_card_id
      - requires_3ds
      properties:
        id:
          type: integer
        type:
          type: string
          enum:
          - CreditCard
        card_network:
          type:
          - string
          - 'null'
        card_brand:
          type:
          - string
          - 'null'
        last4_digits:
          type:
          - string
          - 'null'
          deprecated: true
        last_four:
          type:
          - string
          - 'null'
        exp_month:
          type:
          - string
          - integer
          - 'null'
        exp_year:
          type:
          - string
          - integer
          - 'null'
        logo_url:
          type:
          - string
          - 'null'
        vgs_card_id:
          type:
          - string
          - 'null'
        requires_3ds:
          type: boolean
      additionalProperties: false
    MemberPaymentMethodBillingAddress:
      type: object
      description: Billing address included for isolated-payment-token companies.
      required:
      - address1
      - address2
      - city
      - state
      - postal_code
      - zip
      - country_code
      - name
      properties:
        address1:
          type:
          - string
          - 'null'
        address2:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        postal_code:
          type:
          - string
          - 'null'
        zip:
          type:
          - string
          - 'null'
        country_code:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    MemberPaymentMethod:
      type: object
      description: A payment method rendered with PaymentMethodBlueprinter's customer view. Billing address
        is present only for isolated-payment-token companies.
      required:
      - id
      - source
      - created_at
      - updated_at
      - payment_title
      - au_status
      - default
      - payment_type
      - details
      properties:
        id:
          type: integer
        source:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        payment_title:
          type:
          - string
          - 'null'
        au_status:
          type:
          - string
          - 'null'
        default:
          type: boolean
        payment_type:
          type: string
          enum:
          - Credit Card
        details:
          $ref: '#/components/schemas/MemberPaymentMethodCardDetails'
        billing_address:
          oneOf:
          - $ref: '#/components/schemas/MemberPaymentMethodBillingAddress'
          - type: 'null'
      additionalProperties: false
    MemberGenealogyNode:
      type: object
      required:
      - id
      - member_type
      - first_name
      - last_name
      - email
      - phone
      - join_date
      - active
      - rank
      - user_company_id
      - customer_id
      - has_children
      - downline
      properties:
        id:
          type: string
          format: uuid
        member_type:
          type: string
        first_name:
          type:
          - string
          - 'null'
        last_name:
          type:
          - string
          - 'null'
        email:
          type: string
        phone:
          type:
          - string
          - 'null'
        join_date:
          type: string
          format: date-time
        active:
          type: boolean
        rank:
          type:
          - string
          - 'null'
        user_company_id:
          type:
          - integer
          - 'null'
        customer_id:
          type:
          - integer
          - 'null'
        has_children:
          type: boolean
        downline:
          type: array
          items:
            $ref: '#/components/schemas/MemberGenealogyNode'
    Meta:
      type: object
      properties:
        request_id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
    CustomerTokenExchangeResponse:
      type: object
      description: >-
        An opaque, single-use handoff token. It is not a credential on its own: it must be redeemed at
        the redeem operation, which returns the shopper session in a response header. No JWT appears in
        this body.
      required:
      - handoff
      - expires_in
      - status
      - meta
      properties:
        handoff:
          type: string
          description: Opaque single-use token. Redeem it once, promptly; it is consumed on redemption.
        expires_in:
          type: integer
          description: Seconds until the handoff token expires.
        status:
          type: integer
          enum:
          - 200
        meta:
          $ref: '#/components/schemas/Meta'
    CustomerTokenRedeemResponse:
      type: object
      description: >-
        Acknowledgement of a redeemed handoff token. The shopper session itself is returned in the
        X-Customer-Token response header, never in this body.
      required:
      - success
      - auth_type
      - status
      - meta
      properties:
        success:
          type: boolean
        auth_type:
          type: string
          description: The compatibility identity selected by the shopper-session minting seam.
          enum:
          - member
          - customer
        status:
          type: integer
          enum:
          - 200
        meta:
          $ref: '#/components/schemas/Meta'
    StandardErrorResponse:
      description: Common legacy error response envelope. Older endpoints may return one or more of these
        fields depending on the controller path.
      type: object
      properties:
        message:
          type: string
        error:
          $ref: '#/components/schemas/ErrorMessage'
        error_message:
          $ref: '#/components/schemas/ErrorMessage'
        errors:
          $ref: '#/components/schemas/ErrorBag'
        meta:
          $ref: '#/components/schemas/Meta'
      additionalProperties:
        $ref: '#/components/schemas/JsonValue'
    UnauthorizedResponse:
      type: object
      properties:
        message:
          type: string
        error_message:
          type: string
        errors:
          $ref: '#/components/schemas/ErrorBag'
        meta:
          $ref: '#/components/schemas/Meta'
security:
- bearer_auth: []
paths:
  /api/v2025-06/members:
    get:
      operationId: admin_v2025_06_members_get
      summary: List members
      description: Returns a cursor-paginated list of members for the current company.
      tags:
      - members
      security:
      - bearer_auth: []
      parameters:
      - name: page[cursor]
        in: query
        required: false
        description: Cursor token from the previous response page.
        schema:
          type: string
      - name: page[limit]
        in: query
        required: false
        description: Number of members to return.
        schema:
          type: integer
          minimum: 1
          maximum: 100
      - name: sort
        in: query
        required: false
        description: Sort order. Prefix with `-` to reverse.
        schema:
          type: string
          enum:
          - created_at
          - -created_at
          - name
          - -name
      - name: filter[active]
        in: query
        required: false
        description: Restrict to active (`true`) or inactive (`false`) members.
        schema:
          type: boolean
      - name: filter[member_type_slug]
        in: query
        required: false
        description: Restrict to one member type, e.g. `customer` or `rep`.
        schema:
          type: string
      - name: filter[search]
        in: query
        required: false
        description: Free-text match across name, email, and username.
        schema:
          type: string
      - name: filter[country_iso]
        in: query
        required: false
        description: ISO 3166-1 alpha-2 country code.
        schema:
          type: string
          pattern: ^[A-Za-z]{2}$
      - name: filter[external_id]
        in: query
        required: false
        description: The member's external id, as set by an integration.
        schema:
          type: string
      - name: filter[sponsor_member_id]
        in: query
        required: false
        description: Restrict to members sponsored by this member.
        schema:
          type: string
      - name: filter[rank_id]
        in: query
        required: false
        description: Restrict to members holding this rank.
        schema:
          type: integer
      - name: filter[orders_count_min]
        in: query
        required: false
        description: Minimum lifetime order count.
        schema:
          type: integer
      - name: filter[orders_count_max]
        in: query
        required: false
        description: Maximum lifetime order count.
        schema:
          type: integer
      - name: filter[total_spent_min]
        in: query
        required: false
        description: Minimum lifetime spend, in the company base currency.
        schema:
          type: number
      - name: filter[total_spent_max]
        in: query
        required: false
        description: Maximum lifetime spend, in the company base currency.
        schema:
          type: number
      - name: filter[created_at_from]
        in: query
        required: false
        description: Only members created at or after this time.
        schema:
          type: string
          format: date-time
      - name: filter[created_at_to]
        in: query
        required: false
        description: Only members created at or before this time.
        schema:
          type: string
          format: date-time
      - name: filter[updated_at_from]
        in: query
        required: false
        description: Only members updated at or after this time.
        schema:
          type: string
          format: date-time
      - name: filter[updated_at_to]
        in: query
        required: false
        description: Only members updated at or before this time.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - members
                - meta
                properties:
                  members:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - email
                      - name
                      - activity_status
                      properties:
                        id:
                          type: string
                        email:
                          type:
                          - string
                          - 'null'
                        name:
                          type: string
                        username:
                          type:
                          - string
                          - 'null'
                        external_id:
                          type:
                          - string
                          - 'null'
                        legacy_user_company_id:
                          type:
                          - integer
                          - 'null'
                        legacy_customer_id:
                          type:
                          - integer
                          - 'null'
                        activity_status:
                          type: string
                        orders_count:
                          type: integer
                        total_spent_in_base:
                          type:
                          - number
                          - string
                          - 'null'
                        first_name:
                          type: string
                        last_name:
                          type: string
                        member_type_slug:
                          type:
                          - string
                          - 'null'
                        country_code:
                          type:
                          - string
                          - 'null'
                        created_at:
                          type: string
                          format: date-time
                        updated_at:
                          type: string
                          format: date-time
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    type: integer
                additionalProperties: false
              example:
                members:
                - id: 5f3c9a1e-8b2d-4c7a-9e41-2d6b8f0a7c13
                  email: dwight.schrute@dundermifflin.com
                  name: Dwight Schrute
                  username: dwight-schrute
                  external_id: DM-REP-10482
                  legacy_user_company_id: 48213
                  legacy_customer_id: 90127
                  activity_status: active
                  created_at: '2026-09-02T15:04:11Z'
                  updated_at: '2026-09-28T19:47:32Z'
                  orders_count: 14
                  total_spent_in_base: '769.86'
                  first_name: Dwight
                  last_name: Schrute
                  member_type_slug: rep
                  country_code: US
                  tiktok: null
                - id: a41d7e02-6c9b-4f3e-8d15-7b2e9c4f1a68
                  email: jim.halpert@dundermifflin.com
                  name: Jim Halpert
                  username: jim-halpert
                  external_id: DM-REP-10477
                  legacy_user_company_id: 48207
                  legacy_customer_id: 90118
                  activity_status: active
                  created_at: '2026-09-01T13:12:45Z'
                  updated_at: '2026-09-24T16:03:09Z'
                  orders_count: 22
                  total_spent_in_base: '1209.78'
                  first_name: Jim
                  last_name: Halpert
                  member_type_slug: rep
                  country_code: US
                  tiktok: null
                - id: c2b8f4a9-1e7d-4a35-b6c0-9d3e5f7a2b84
                  email: holly.flax@gmail.com
                  name: Holly Flax
                  username: null
                  external_id: null
                  legacy_user_company_id: null
                  legacy_customer_id: 90244
                  activity_status: active
                  created_at: '2026-09-14T10:31:58Z'
                  updated_at: '2026-09-14T10:31:58Z'
                  orders_count: 3
                  total_spent_in_base: '164.97'
                  first_name: Holly
                  last_name: Flax
                  member_type_slug: customer
                  country_code: US
                  tiktok: null
                status: 200
                meta:
                  request_id: b7e2c4d1-3f5a-4e8b-9c2d-6a1f0e3b5d47
                  timestamp: '2026-09-30T14:22:07Z'
                  pagination:
                    cursor: eyJjcmVhdGVkX2F0IjoiMjAyNi0wOS0zMFQxNDoyMjowN1oifQ
                    limit: 3
                    prev_cursor: null
                    next_cursor: eyJjcmVhdGVkX2F0IjoiMjAyNi0wOS0xNFQxMDozMTo1OFoifQ
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: 'The caller is authenticated but not permitted: a rep-tier token, or an admin/service
            token without the required members permission.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '422':
          description: Invalid pagination or filter parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
    post:
      operationId: admin_v2025_06_members_post
      summary: Create a member
      description: Creates a member (the unified customer/rep record) with the given member_type_slug.
        A duplicate email returns 422 with error.details.existing_member carrying the colliding member's
        identity summary (id, email, name, member_type_slug, phone and legacy ids), so find-or-create
        callers can recover the existing member without a follow-up lookup.
      tags:
      - members
      security:
      - bearer_auth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - member
              properties:
                member:
                  type: object
                  required:
                  - email
                  - member_type_slug
                  properties:
                    email:
                      type: string
                    member_type_slug:
                      type: string
                      enum:
                      - rep
                      - customer
                    first_name:
                      type:
                      - string
                      - 'null'
                    last_name:
                      type:
                      - string
                      - 'null'
                    phone:
                      type:
                      - string
                      - 'null'
                    dob:
                      type:
                      - string
                      - 'null'
                      format: date
                      description: Date of birth, written to the member's linked user record.
                    username:
                      type:
                      - string
                      - 'null'
                    external_id:
                      type:
                      - string
                      - 'null'
                    account_id:
                      type:
                      - string
                      - 'null'
                    notes:
                      type:
                      - string
                      - 'null'
                    metadata:
                      type:
                      - object
                      - 'null'
                    active:
                      type:
                      - boolean
                      - 'null'
                    rank_id:
                      type:
                      - integer
                      - 'null'
                    email_marketing:
                      type:
                      - boolean
                      - 'null'
                    sms_marketing:
                      type:
                      - boolean
                      - 'null'
                    language_code:
                      type:
                      - string
                      - 'null'
                    country_code:
                      type:
                      - string
                      - 'null'
                    tax_exempt:
                      type: boolean
                    sales_tax_id:
                      type: string
                    send_invitation:
                      type:
                      - boolean
                      - 'null'
                      description: Whether the invitation notifier fires after creation (default true).
                    address:
                      type: object
                      description: Sets the member's default address (`country`, not `country_code`).
                      required:
                      - address1
                      - city
                      - state
                      - postal_code
                      - country
                      properties:
                        address1:
                          type: string
                        address2:
                          type: string
                        city:
                          type: string
                        state:
                          type: string
                        postal_code:
                          type: string
                        country:
                          type: string
                        name:
                          type: string
            example:
              member:
                email: andy.bernard@dundermifflin.com
                member_type_slug: rep
                first_name: Andy
                last_name: Bernard
                phone: '+15705550187'
                dob: '1973-03-22'
                username: andy-bernard
                external_id: DM-REP-10513
                email_marketing: true
                sms_marketing: false
                language_code: en
                country_code: US
                send_invitation: true
                address:
                  address1: 1725 Slough Avenue
                  address2: Suite 200
                  city: Scranton
                  state: PA
                  postal_code: '18505'
                  country: US
                  name: Andy Bernard
      responses:
        '201':
          description: Created; returns the member detail (admin view).
          content:
            application/json:
              schema:
                type: object
                properties:
                  member:
                    type: object
                    description: The member detail (admin view). Key identity and profile fields are enumerated;
                      the admin view also returns additional fields (addresses, payment_methods, sponsor,
                      placement, member_type, rank, points, orders_count, total_spent_in_base, notes).
                    properties:
                      id:
                        type: string
                        description: The member's native UUID.
                      email:
                        type:
                        - string
                        - 'null'
                      name:
                        type:
                        - string
                        - 'null'
                      username:
                        type:
                        - string
                        - 'null'
                      first_name:
                        type: string
                      last_name:
                        type: string
                      member_type_slug:
                        type:
                        - string
                        - 'null'
                      activity_status:
                        type: string
                      legacy_user_company_id:
                        type:
                        - integer
                        - 'null'
                      legacy_customer_id:
                        type:
                        - integer
                        - 'null'
                      phone:
                        type:
                        - string
                        - 'null'
                      external_id:
                        type:
                        - string
                        - 'null'
                      dob:
                        type:
                        - string
                        - 'null'
                        format: date
                        description: Date of birth from the member's linked user record. API-only — not
                          included in member webhook payloads.
                      country_code:
                        type:
                        - string
                        - 'null'
                      language_code:
                        type:
                        - string
                        - 'null'
                      metadata:
                        type:
                        - object
                        - 'null'
                      tax_exempt:
                        type: boolean
                      sales_tax_id:
                        type:
                        - string
                        - 'null'
                      email_marketing:
                        type: boolean
                      sms_marketing:
                        type: boolean
                      created_at:
                        type: string
                        format: date-time
                      updated_at:
                        type: string
                        format: date-time
                      payment_methods:
                        type: array
                        description: Payment methods owned by this member through member_id or customer_profile_id,
                          scoped to the member's own company and excluding discarded members. Every
                          integration is included, not only displayable card integrations. Company-wallet-only
                          cards are excluded here; read them from the payment_methods sub-resource.
                        items:
                          $ref: '#/components/schemas/MemberEmbeddedPaymentMethod'
                  status:
                    type: integer
                  meta:
                    $ref: '#/components/schemas/Meta'
                additionalProperties: false
              example:
                member:
                  id: e8a3d6c1-4b7f-4e29-a0d5-3c9f1b6e8a27
                  email: andy.bernard@dundermifflin.com
                  name: Andy Bernard
                  username: andy-bernard
                  activity_status: active
                  created_at: '2026-09-30T14:22:06Z'
                  updated_at: '2026-09-30T14:22:06Z'
                  first_name: Andy
                  last_name: Bernard
                  member_type_slug: rep
                  legacy_user_company_id: 48291
                  legacy_customer_id: 90312
                  phone: '+15705550187'
                  external_id: DM-REP-10513
                  notes: null
                  metadata: null
                  tax_exempt: false
                  sales_tax_id: null
                  email_marketing: true
                  sms_marketing: false
                  orders_count: 0
                  total_spent_in_base: '0.0'
                  rank: null
                  language_code: en
                  country_code: US
                  tiktok: null
                  dob: '1973-03-22'
                  addresses:
                  - id: 66218
                    address_id: 81644
                    address1: 1725 Slough Avenue
                    address2: Suite 200
                    city: Scranton
                    state: PA
                    postal_code: '18505'
                    country_code: US
                    default: true
                  payment_methods: []
                  sponsor: null
                  placement: null
                  points: 0
                status: 201
                meta:
                  request_id: b7e2c4d1-3f5a-4e8b-9c2d-6a1f0e3b5d47
                  timestamp: '2026-09-30T14:22:07Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: 'The caller is authenticated but not permitted: a rep-tier token, or an admin/service
            token without the required members permission.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '422':
          description: Validation failed, or the email already belongs to a member — the duplicate case
            returns error.details.email = ["already exists"] and error.details.existing_member with the
            colliding member's identity summary (id, email, name, member_type_slug, phone and legacy ids).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
  /api/v2025-06/members/find:
    get:
      operationId: admin_v2025_06_members_find
      summary: Find a member by a unique identifier
      description: Looks a member up without knowing its Fluid id. The first supplied identifier wins,
        in the order email, username, external_id, legacy_customer_id; supply at least one.
      tags:
      - members
      security:
      - bearer_auth: []
      parameters:
      - name: email
        in: query
        required: false
        description: The member's email address.
        schema:
          type: string
      - name: username
        in: query
        required: false
        description: The member's username.
        schema:
          type: string
      - name: external_id
        in: query
        required: false
        description: The member's external id, as set by an integration.
        schema:
          type: string
      - name: legacy_customer_id
        in: query
        required: false
        description: The member's legacy bigint customer id.
        schema:
          type: integer
      responses:
        '200':
          description: The matching member detail (admin view).
          content:
            application/json:
              schema:
                type: object
                required:
                - member
                properties:
                  member:
                    $ref: '#/components/schemas/MemberDetail'
              example:
                member:
                  id: 5f3c9a1e-8b2d-4c7a-9e41-2d6b8f0a7c13
                  email: dwight.schrute@dundermifflin.com
                  name: Dwight Schrute
                  username: dwight-schrute
                  activity_status: active
                  created_at: '2026-09-02T15:04:11Z'
                  updated_at: '2026-09-28T19:47:32Z'
                  first_name: Dwight
                  last_name: Schrute
                  member_type_slug: rep
                  legacy_user_company_id: 48213
                  legacy_customer_id: 90127
                  phone: '+15705550142'
                  external_id: DM-REP-10482
                  notes: Assistant to the regional manager. Prefers invoices by fax.
                  metadata:
                    territory: Scranton
                  tax_exempt: false
                  sales_tax_id: null
                  email_marketing: true
                  sms_marketing: false
                  orders_count: 14
                  total_spent_in_base: '769.86'
                  rank:
                    id: 312
                    name: Senior Sales Associate
                    external_id: RANK-SSA
                  language_code: en
                  country_code: US
                  tiktok: null
                  dob: '1970-01-20'
                  addresses:
                  - id: 66104
                    address_id: 81527
                    address1: 1725 Slough Avenue
                    address2: Suite 200
                    city: Scranton
                    state: PA
                    postal_code: '18505'
                    country_code: US
                    default: true
                  payment_methods:
                  - id: 73318
                    source: card
                    card_network: visa
                    last_four: '4242'
                    exp_month: 11
                    exp_year: 2029
                  sponsor: null
                  placement: null
                  points: 1250
                status: 200
                meta:
                  request_id: b7e2c4d1-3f5a-4e8b-9c2d-6a1f0e3b5d47
                  timestamp: '2026-09-30T14:22:07Z'
        '401':
          description: Unauthenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: 'The caller is authenticated but not permitted: a rep-tier token, or an admin/service
            token without the required members permission.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '404':
          description: No member matches the supplied identifier for this company.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '422':
          description: No identifier was supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
  /api/v2025-06/members/{member_id}:
    get:
      operationId: admin_v2025_06_members_show
      summary: Get a member
      description: Returns the member detail (admin view). The path id accepts either the member's native
        UUID or its legacy bigint (legacy_user_company_id).
      tags:
      - members
      security:
      - bearer_auth: []
      parameters:
      - name: member_id
        in: path
        required: true
        description: The member's native UUID or its legacy bigint (legacy_user_company_id).
        schema:
          type: string
      responses:
        '200':
          description: The member detail (admin view).
          content:
            application/json:
              schema:
                type: object
                required:
                - member
                properties:
                  member:
                    $ref: '#/components/schemas/MemberDetail'
              example:
                member:
                  id: 5f3c9a1e-8b2d-4c7a-9e41-2d6b8f0a7c13
                  email: dwight.schrute@dundermifflin.com
                  name: Dwight Schrute
                  username: dwight-schrute
                  activity_status: active
                  created_at: '2026-09-02T15:04:11Z'
                  updated_at: '2026-09-28T19:47:32Z'
                  first_name: Dwight
                  last_name: Schrute
                  member_type_slug: rep
                  legacy_user_company_id: 48213
                  legacy_customer_id: 90127
                  phone: '+15705550142'
                  external_id: DM-REP-10482
                  notes: Assistant to the regional manager. Prefers invoices by fax.
                  metadata:
                    territory: Scranton
                  tax_exempt: false
                  sales_tax_id: null
                  email_marketing: true
                  sms_marketing: false
                  orders_count: 14
                  total_spent_in_base: '769.86'
                  rank:
                    id: 312
                    name: Senior Sales Associate
                    external_id: RANK-SSA
                  language_code: en
                  country_code: US
                  tiktok: null
                  dob: '1970-01-20'
                  addresses:
                  - id: 66104
                    address_id: 81527
                    address1: 1725 Slough Avenue
                    address2: Suite 200
                    city: Scranton
                    state: PA
                    postal_code: '18505'
                    country_code: US
                    default: true
                  payment_methods:
                  - id: 73318
                    source: card
                    card_network: visa
                    last_four: '4242'
                    exp_month: 11
                    exp_year: 2029
                  sponsor: null
                  placement: null
                  points: 1250
                status: 200
                meta:
                  request_id: b7e2c4d1-3f5a-4e8b-9c2d-6a1f0e3b5d47
                  timestamp: '2026-09-30T14:22:07Z'
        '401':
          description: Unauthenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: 'The caller is authenticated but not permitted: a rep-tier token, or an admin/service
            token without the required members permission.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '404':
          description: No member matches the supplied id for this company.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
    patch:
      operationId: admin_v2025_06_members_patch
      summary: Update a member
      description: Updates a member's profile, activity, genealogy (sponsor_id / placement_id) and default
        address. Email is intentionally not writable here — email changes go through the change-email
        sub-resource so the full audit and cross-record sync always run.
      tags:
      - members
      security:
      - bearer_auth: []
      parameters:
      - name: member_id
        in: path
        required: true
        description: The member's native UUID or its legacy bigint (legacy_user_company_id).
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - member
              properties:
                member:
                  type: object
                  properties:
                    first_name:
                      type:
                      - string
                      - 'null'
                    last_name:
                      type:
                      - string
                      - 'null'
                    phone:
                      type:
                      - string
                      - 'null'
                    dob:
                      type: string
                      format: date
                      description: Date of birth, written to the member's linked user record. An explicit
                        null is rejected (422) — dob cannot be cleared through this endpoint, mirroring
                        the legacy users update contract.
                    username:
                      type:
                      - string
                      - 'null'
                    account_id:
                      type:
                      - string
                      - 'null'
                    notes:
                      type:
                      - string
                      - 'null'
                    metadata:
                      type:
                      - object
                      - 'null'
                    active:
                      type: boolean
                    rank_id:
                      type:
                      - integer
                      - 'null'
                    email_marketing:
                      type:
                      - boolean
                      - 'null'
                    sms_marketing:
                      type:
                      - boolean
                      - 'null'
                    language_code:
                      type:
                      - string
                      - 'null'
                    country_code:
                      type:
                      - string
                      - 'null'
                    enrollment_pack_id:
                      type:
                      - integer
                      - 'null'
                    tax_exempt:
                      type: boolean
                    sales_tax_id:
                      type:
                      - string
                      - 'null'
                    external_id:
                      type:
                      - string
                      - 'null'
                    sponsor_id:
                      type:
                      - integer
                      - string
                      - 'null'
                      description: The new sponsor as a member UUID or legacy integer id; null clears
                        the sponsor. Runs the full sponsor-change lifecycle (reparenting and events).
                    placement_id:
                      type:
                      - integer
                      - string
                      - 'null'
                    address:
                      type: object
                      description: Sets or updates the member's default address (`country`, not `country_code`).
                      required:
                      - address1
                      - city
                      - state
                      - postal_code
                      - country
                      properties:
                        address1:
                          type: string
                        address2:
                          type: string
                        city:
                          type: string
                        state:
                          type: string
                        postal_code:
                          type: string
                        country:
                          type: string
                        name:
                          type: string
            example:
              member:
                phone: '+15705550199'
                notes: Assistant to the regional manager. Prefers invoices by fax.
                metadata:
                  territory: Scranton
                email_marketing: true
                address:
                  address1: 1725 Slough Avenue
                  address2: Suite 200
                  city: Scranton
                  state: PA
                  postal_code: '18505'
                  country: US
                  name: Dwight Schrute
      responses:
        '200':
          description: Updated; returns the member detail (admin view).
          content:
            application/json:
              schema:
                type: object
                properties:
                  member:
                    type: object
                    description: The member detail (admin view). Key identity and profile fields are enumerated;
                      the admin view also returns additional fields (addresses, payment_methods, sponsor,
                      placement, member_type, rank, points, orders_count, total_spent_in_base, notes).
                    properties:
                      id:
                        type: string
                        description: The member's native UUID.
                      email:
                        type:
                        - string
                        - 'null'
                      name:
                        type:
                        - string
                        - 'null'
                      username:
                        type:
                        - string
                        - 'null'
                      first_name:
                        type: string
                      last_name:
                        type: string
                      member_type_slug:
                        type:
                        - string
                        - 'null'
                      activity_status:
                        type: string
                      legacy_user_company_id:
                        type:
                        - integer
                        - 'null'
                      legacy_customer_id:
                        type:
                        - integer
                        - 'null'
                      phone:
                        type:
                        - string
                        - 'null'
                      external_id:
                        type:
                        - string
                        - 'null'
                      dob:
                        type:
                        - string
                        - 'null'
                        format: date
                        description: Date of birth from the member's linked user record. API-only — not
                          included in member webhook payloads.
                      country_code:
                        type:
                        - string
                        - 'null'
                      language_code:
                        type:
                        - string
                        - 'null'
                      metadata:
                        type:
                        - object
                        - 'null'
                      tax_exempt:
                        type: boolean
                      sales_tax_id:
                        type:
                        - string
                        - 'null'
                      email_marketing:
                        type: boolean
                      sms_marketing:
                        type: boolean
                      created_at:
                        type: string
                        format: date-time
                      updated_at:
                        type: string
                        format: date-time
                      payment_methods:
                        type: array
                        description: Payment methods owned by this member through member_id or customer_profile_id,
                          scoped to the member's own company and excluding discarded members. Every
                          integration is included, not only displayable card integrations. Company-wallet-only
                          cards are excluded here; read them from the payment_methods sub-resource.
                        items:
                          $ref: '#/components/schemas/MemberEmbeddedPaymentMethod'
                  status:
                    type: integer
                  meta:
                    $ref: '#/components/schemas/Meta'
                additionalProperties: false
              example:
                member:
                  id: 5f3c9a1e-8b2d-4c7a-9e41-2d6b8f0a7c13
                  email: dwight.schrute@dundermifflin.com
                  name: Dwight Schrute
                  username: dwight-schrute
                  activity_status: active
                  created_at: '2026-09-02T15:04:11Z'
                  updated_at: '2026-09-30T14:22:07Z'
                  first_name: Dwight
                  last_name: Schrute
                  member_type_slug: rep
                  legacy_user_company_id: 48213
                  legacy_customer_id: 90127
                  phone: '+15705550199'
                  external_id: DM-REP-10482
                  notes: Assistant to the regional manager. Prefers invoices by fax.
                  metadata:
                    territory: Scranton
                  tax_exempt: false
                  sales_tax_id: null
                  email_marketing: true
                  sms_marketing: false
                  orders_count: 14
                  total_spent_in_base: '769.86'
                  rank:
                    id: 312
                    name: Senior Sales Associate
                    external_id: RANK-SSA
                  language_code: en
                  country_code: US
                  tiktok: null
                  dob: '1970-01-20'
                  addresses:
                  - id: 66104
                    address_id: 81527
                    address1: 1725 Slough Avenue
                    address2: Suite 200
                    city: Scranton
                    state: PA
                    postal_code: '18505'
                    country_code: US
                    default: true
                  payment_methods:
                  - id: 73318
                    source: card
                    card_network: visa
                    last_four: '4242'
                    exp_month: 11
                    exp_year: 2029
                  sponsor: null
                  placement: null
                  points: 1250
                status: 200
                meta:
                  request_id: b7e2c4d1-3f5a-4e8b-9c2d-6a1f0e3b5d47
                  timestamp: '2026-09-30T14:22:07Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: 'The caller is authenticated but not permitted: a rep-tier token, or an admin/service
            token without the required members permission.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '404':
          description: No member matches member_id for the current company.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '422':
          description: Validation failed (unknown country code, malformed dob, invalid sponsor/placement
            id, blank required address fields).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
  /api/v2025-06/members/{member_id}/customer-token-exchange:
    post:
      operationId: admin_v2025_06_member_customer_token_exchange
      summary: Exchange a member for a shopper token
      description: >-
        Step one of a two-step handoff. Returns an opaque, single-use token bound to the member and the
        calling company; redeem it at the redeem operation to obtain the shopper session. Accepts company
        API tokens only; admin user-company, partner, public and droplet tokens are all rejected. A member
        without a Customer in the calling company is rejected here rather than being materialized. The
        session credential never appears in a response body — a shopper JWT is long-lived, and bodies are
        routinely captured by logging and error tracking.
      tags:
      - members
      security:
      - bearer_auth: []
      parameters:
      - name: member_id
        in: path
        required: true
        description: The member's native UUID or its legacy bigint (legacy_user_company_id).
        schema:
          type: string
      responses:
        '200':
          description: An opaque single-use handoff token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerTokenExchangeResponse'
              example:
                handoff: 3ASNnghDDIid2Vd8RLFBf8rvNhs7dVp3VtwdBFkpuas
                expires_in: 120
                status: 200
                meta:
                  request_id: b7e2c4d1-3f5a-4e8b-9c2d-6a1f0e3b5d47
                  timestamp: '2026-09-30T14:22:07Z'
        '401':
          description: Missing or invalid bearer token; session cookies are not accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: The caller did not present a company API token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '404':
          description: No kept member matches the supplied id in the authenticated company.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '422':
          description: The member has no active customer identity in the calling company.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '503':
          description: The handoff token store is unavailable; the request may be retried.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
  /api/v2025-06/members/{member_id}/customer-token-exchange/redeem:
    post:
      operationId: admin_v2025_06_member_customer_token_exchange_redeem
      summary: Redeem a handoff token for a shopper session
      description: >-
        Step two of the handoff. Consumes the opaque token from the exchange operation and returns the
        member's shopper session in the X-Customer-Token response header. Single use: a token is destroyed
        on redemption, and one issued for a different member or under a different company's credential is
        rejected. The path member is part of the binding, so the session returned is always the one this
        URL names.
      tags:
      - members
      security:
      - bearer_auth: []
      parameters:
      - name: member_id
        in: path
        required: true
        description: The member's native UUID or its legacy bigint (legacy_user_company_id).
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - handoff
              properties:
                handoff:
                  type: string
                  description: The opaque token returned by the exchange operation.
            example:
              handoff: 3ASNnghDDIid2Vd8RLFBf8rvNhs7dVp3VtwdBFkpuas
      responses:
        '200':
          description: The handoff token was redeemed; the session is in the X-Customer-Token header.
          headers:
            X-Customer-Token:
              description: The member's shopper bearer token. Treat it as a secret and do not log it.
              schema:
                type: string
            Cache-Control:
              description: Prevents storage of the token-bearing response by clients and intermediaries.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerTokenRedeemResponse'
              example:
                success: true
                auth_type: member
                status: 200
                meta:
                  request_id: b7e2c4d1-3f5a-4e8b-9c2d-6a1f0e3b5d47
                  timestamp: '2026-09-30T14:22:07Z'
        '401':
          description: Missing or invalid bearer token; session cookies are not accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: The caller did not present a company API token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '404':
          description: No member with this id belongs to the authenticated company.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '422':
          description: >-
            The handoff token is missing, expired, already redeemed, or was issued for a different member
            or company.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '503':
          description: The handoff token store is unavailable; the request may be retried.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
  /api/v2025-06/members/{member_id}/member-type:
    put:
      operationId: admin_v2025_06_members_member_type_update
      summary: Change a member's type
      description: Assigns a member type by slug. Unlike the single create, this accepts any slug the
        company defines, not only rep and customer; an unknown slug is rejected with 422.
      tags:
      - members
      security:
      - bearer_auth: []
      parameters:
      - name: member_id
        in: path
        required: true
        description: The member's native UUID or its legacy bigint (legacy_user_company_id).
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - member_type_slug
              properties:
                member_type_slug:
                  type: string
                  description: A member type slug this company defines.
            example:
              member_type_slug: preferred-customer
      responses:
        '200':
          description: The member detail (admin view), with the new type applied.
          content:
            application/json:
              schema:
                type: object
                required:
                - member
                properties:
                  member:
                    $ref: '#/components/schemas/MemberDetail'
              example:
                member:
                  id: c2b8f4a9-1e7d-4a35-b6c0-9d3e5f7a2b84
                  email: holly.flax@gmail.com
                  name: Holly Flax
                  username: null
                  activity_status: active
                  created_at: '2026-09-14T10:31:58Z'
                  updated_at: '2026-09-30T14:22:07Z'
                  first_name: Holly
                  last_name: Flax
                  member_type_slug: preferred-customer
                  legacy_user_company_id: null
                  legacy_customer_id: 90244
                  phone: '+15705550163'
                  external_id: null
                  notes: null
                  metadata: null
                  tax_exempt: false
                  sales_tax_id: null
                  email_marketing: true
                  sms_marketing: true
                  orders_count: 3
                  total_spent_in_base: '164.97'
                  rank: null
                  language_code: en
                  country_code: US
                  tiktok: null
                  dob: null
                  addresses: []
                  payment_methods: []
                  sponsor: null
                  placement: null
                  points: 0
                status: 200
                meta:
                  request_id: b7e2c4d1-3f5a-4e8b-9c2d-6a1f0e3b5d47
                  timestamp: '2026-09-30T14:22:07Z'
        '401':
          description: Unauthenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: 'The caller is authenticated but not permitted: a rep-tier token, or an admin/service
            token without the required members permission.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '404':
          description: No member matches the supplied id for this company.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '422':
          description: The slug is unknown, archived for a fresh assignment, or otherwise invalid for the member.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
  /api/v2025-06/members/{member_id}/payment_methods:
    get:
      operationId: admin_v2025_06_member_payment_methods
      summary: List a member's payment methods
      description: Returns owner-stamped saved cards plus reusable cards vaulted at this company on
        the member's linked wallet. The company-wallet arm is enabled by default and is omitted for
        isolated-payment-token companies. Card sources only - non-card displayable sources such as
        PayPal are excluded, because this view reports every row it renders as a credit card with
        card-shaped details. Non-card methods remain visible on the member detail embed, which reports
        source and no card-shaped fields.
      tags:
      - members
      security:
      - bearer_auth: []
      parameters:
      - name: member_id
        in: path
        required: true
        description: The member's native UUID or legacy_user_company_id.
        schema:
          type: string
      - name: country_code
        in: query
        required: false
        description: ISO country code used to resolve whether each card requires 3DS. Without it,
          details.requires_3ds is false for every row.
        schema:
          type: string
      responses:
        '200':
          description: The member's company-wallet payment method listing.
          content:
            application/json:
              schema:
                type: object
                required:
                - payment_methods
                - status
                - meta
                properties:
                  payment_methods:
                    type: array
                    items:
                      $ref: '#/components/schemas/MemberPaymentMethod'
                  status:
                    type: integer
                    enum:
                    - 200
                  meta:
                    $ref: '#/components/schemas/Meta'
                additionalProperties: false
              example:
                payment_methods:
                - id: 73318
                  source: card
                  created_at: '2026-09-03T18:40:22Z'
                  updated_at: '2026-09-03T18:40:22Z'
                  payment_title: Credit Card
                  au_status: null
                  default: true
                  payment_type: Credit Card
                  details:
                    id: 73318
                    type: CreditCard
                    card_network: visa
                    card_brand: Visa
                    last4_digits: '4242'
                    last_four: '4242'
                    exp_month: 11
                    exp_year: 2029
                    logo_url: https://assets.fluid.app/images/payment_icons/visa.svg
                    vgs_card_id: null
                    requires_3ds: false
                  billing_address: null
                status: 200
                meta:
                  request_id: b7e2c4d1-3f5a-4e8b-9c2d-6a1f0e3b5d47
                  timestamp: '2026-09-30T14:22:07Z'
        '401':
          description: No valid bearer token was provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: The caller is not a company admin with payment_methods.view permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '404':
          description: No kept member matches member_id for the current company.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
  /api/v2025-06/members/{member_id}/genealogy:
    get:
      operationId: admin_v2025_06_member_genealogy
      summary: Get a member's sponsor genealogy
      description: 'Returns the sponsor tree rooted at this member. A company admin may read any member;
        a rep may read their own genealogy or one rooted at a member inside their own downline.

        '
      tags:
      - members
      security:
      - bearer_auth: []
      parameters:
      - name: member_id
        in: path
        required: true
        description: The member's native UUID or legacy_user_company_id.
        schema:
          type: string
      - name: levels
        in: query
        required: false
        description: Downline depth to return. Values outside 1–5 are clamped rather than rejected, and
          a non-integer falls back to 1.
        schema:
          type: integer
          default: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - genealogy
                - status
                - meta
                properties:
                  genealogy:
                    $ref: '#/components/schemas/MemberGenealogyNode'
                  status:
                    type: integer
                  meta:
                    $ref: '#/components/schemas/Meta'
                additionalProperties: false
              example:
                genealogy:
                  id: a41d7e02-6c9b-4f3e-8d15-7b2e9c4f1a68
                  member_type: rep
                  first_name: Jim
                  last_name: Halpert
                  email: jim.halpert@dundermifflin.com
                  phone: '+15705550128'
                  join_date: '2026-09-01T13:12:45Z'
                  active: true
                  rank: Senior Sales Associate
                  user_company_id: 48207
                  customer_id: 90118
                  has_children: true
                  downline:
                  - id: 7d2e9b4c-5a1f-4c68-8e3b-1f6a9d2c7e50
                    member_type: rep
                    first_name: Pam
                    last_name: Beesly
                    email: pam.beesly@dundermifflin.com
                    phone: '+15705550136'
                    join_date: '2026-09-05T09:18:27Z'
                    active: true
                    rank: Sales Associate
                    user_company_id: 48219
                    customer_id: 90131
                    has_children: false
                    downline: []
                  - id: c2b8f4a9-1e7d-4a35-b6c0-9d3e5f7a2b84
                    member_type: customer
                    first_name: Holly
                    last_name: Flax
                    email: holly.flax@gmail.com
                    phone: '+15705550163'
                    join_date: '2026-09-14T10:31:58Z'
                    active: true
                    rank: null
                    user_company_id: null
                    customer_id: 90244
                    has_children: false
                    downline: []
                status: 200
                meta:
                  request_id: b7e2c4d1-3f5a-4e8b-9c2d-6a1f0e3b5d47
                  timestamp: '2026-09-30T14:22:07Z'
        '401':
          description: No valid bearer token was provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: The caller lacks members.view or a rep requested another member's genealogy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '404':
          description: No kept member matches member_id for the current company.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
