---
openapi: 3.1.0
info:
  title: Fluid Messaging v1 API
  version: v1
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
tags:
- name: messaging---conversations
  description: Create, list, update, and manage messaging conversations (direct, group, channel, SMS, email, and bot) as the signed-in company admin or rep.
  x-fluid-section: Messaging
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: Bearer token authentication
  schemas:
    UnauthorizedResponse:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    NotFoundResponse:
      type: object
      properties:
        error:
          type: string
      required:
      - error
    Meta:
      type: object
      properties:
        request_id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
    JsonValue:
      description: Any valid JSON value for provider, integration, theme, metadata,
        or other dynamic payloads whose keys are not fixed by the API contract.
      anyOf:
      - type: string
      - type: number
      - type: boolean
      - type: 'null'
      - type: array
        items:
          "$ref": "#/components/schemas/JsonValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorValue:
      description: A validation or API error value.
      anyOf:
      - type: string
      - type: array
        items:
          type: string
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorBag:
      description: Validation errors keyed by field, a list of errors, a single error
        message, or null when no structured error details are available.
      anyOf:
      - type: string
      - type: array
        items:
          "$ref": "#/components/schemas/ErrorValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/ErrorValue"
      - type: 'null'
    ErrorMessage:
      description: An API error message represented as text or structured JSON.
      anyOf:
      - type: string
      - "$ref": "#/components/schemas/ErrorBag"
      - type: 'null'
    StandardErrorResponse:
      description: Common legacy error response envelope. Older endpoints may return
        one or more of these fields depending on the controller path.
      type: object
      properties:
        message:
          type: string
        error:
          "$ref": "#/components/schemas/ErrorMessage"
        error_message:
          "$ref": "#/components/schemas/ErrorMessage"
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          "$ref": "#/components/schemas/Meta"
      additionalProperties:
        "$ref": "#/components/schemas/JsonValue"
    StandardUnauthorizedResponse:
      description: Common legacy unauthorized response envelope.
      allOf:
      - "$ref": "#/components/schemas/StandardErrorResponse"
    MessagingBotArchivedResponse:
      description: An archived messaging bot.
      type: object
      properties:
        archived_at:
          type: string
          format: date-time
          description: When the bot was archived.
        avatar_background_color:
          type:
          - string
          - 'null'
          description: Background color shown behind the bot's avatar.
        avatar_emoji:
          type:
          - string
          - 'null'
          description: Emoji shown as the bot's avatar.
        conversation:
          anyOf:
          - "$ref": '#/components/schemas/MessagingConversation'
          - type: 'null'
          description: Your one-to-one conversation with the bot, or null when you have none.
        conversations:
          type: array
          items:
            "$ref": '#/components/schemas/BroadcastBotConversation'
          description: Conversations the bot's recipient belongs to, such as the channels a broadcast bot posts into.
        description:
          type:
          - string
          - 'null'
          description: What the bot does.
        id:
          type: integer
          description: The bot ID.
        image_url:
          type:
          - string
          - 'null'
          description: URL of the bot's avatar image.
        recipient:
          anyOf:
          - "$ref": '#/components/schemas/MessagingSlimmedRecipient'
          - type: 'null'
          description: The messaging recipient that represents the bot in conversations.
        title:
          type: string
          description: The bot's display name. Unique among your company's active bots.
        type:
          type: string
          description: '`ResponseBot` (replies through a webhook in one-to-one conversations) or `BroadcastBot` (posts into channel conversations).'
        webhook_external_uri:
          type:
          - string
          - 'null'
          description: For a response bot, the URL its webhook delivers messages to; otherwise null.
        webhook_http_method:
          type:
          - string
          - 'null'
          description: For a response bot, the HTTP method its webhook uses (`post`, `put`, or `get`); otherwise null.
      required:
      - archived_at
      - avatar_background_color
      - avatar_emoji
      - conversation
      - conversations
      - description
      - id
      - image_url
      - recipient
      - title
      - type
      - webhook_external_uri
      - webhook_http_method
      additionalProperties: false
    MessagingSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
      required:
      - success
      additionalProperties: false
    MessagingBot:
      description: A messaging bot.
      type: object
      properties:
        archived_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the bot was archived, or null while it is active.
        avatar_background_color:
          type:
          - string
          - 'null'
          description: Background color shown behind the bot's avatar.
        avatar_emoji:
          type:
          - string
          - 'null'
          description: Emoji shown as the bot's avatar.
        conversation:
          anyOf:
          - "$ref": '#/components/schemas/MessagingConversation'
          - type: 'null'
          description: Your one-to-one conversation with the bot, or null when you have none.
        conversations:
          type: array
          items:
            "$ref": '#/components/schemas/BroadcastBotConversation'
          description: Conversations the bot's recipient belongs to, such as the channels a broadcast bot posts into.
        description:
          type:
          - string
          - 'null'
          description: What the bot does.
        id:
          type: integer
          description: The bot ID.
        image_url:
          type:
          - string
          - 'null'
          description: URL of the bot's avatar image.
        recipient:
          anyOf:
          - "$ref": '#/components/schemas/MessagingSlimmedRecipient'
          - type: 'null'
          description: The messaging recipient that represents the bot in conversations.
        title:
          type: string
          description: The bot's display name. Unique among your company's active bots.
        type:
          type: string
          description: '`ResponseBot` (replies through a webhook in one-to-one conversations) or `BroadcastBot` (posts into channel conversations).'
        webhook_external_uri:
          type:
          - string
          - 'null'
          description: For a response bot, the URL its webhook delivers messages to; otherwise null.
        webhook_http_method:
          type:
          - string
          - 'null'
          description: For a response bot, the HTTP method its webhook uses (`post`, `put`, or `get`); otherwise null.
      required:
      - archived_at
      - avatar_background_color
      - avatar_emoji
      - conversation
      - conversations
      - description
      - id
      - image_url
      - recipient
      - title
      - type
      - webhook_external_uri
      - webhook_http_method
      additionalProperties: false
    MessagingScheduledMessage:
      type: object
      properties:
        attachments:
          type: array
          items:
            "$ref": "#/components/schemas/MessagingAttachment"
        body:
          type: string
        conversation_id:
          type: integer
        created_at:
          type: string
          format: date-time
        deleted_at:
          type: 'null'
        edited_at:
          type: 'null'
        emoji_only_count:
          type:
          - integer
          - 'null'
        id:
          type: integer
        mentioned_recipients:
          type: array
          items:
            "$ref": "#/components/schemas/MessagingSlimmedRecipient"
        metadata:
          type: 'null'
        pinned:
          type: boolean
        reaction:
          type: 'null'
        reaction_stats:
          type: 'null'
        replied_to_message:
          type: 'null'
        scheduled_at:
          type: string
          format: date-time
        seen_by:
          type: array
          items:
            "$ref": "#/components/schemas/MessagingNominalRecipient"
        seen_by_count:
          type: integer
        sender_recipient:
          "$ref": "#/components/schemas/MessagingReducedRecipient"
        sent_at:
          type:
          - string
          - 'null'
          format: date-time
        status:
          type: string
        type:
          type:
          - string
          - 'null'
          description: The message type the scheduled message is sent as (for example `DirectMessage`),
            or null when none was given.
        updated_at:
          type: string
          format: date-time
      required:
      - attachments
      - body
      - conversation_id
      - created_at
      - deleted_at
      - edited_at
      - emoji_only_count
      - id
      - mentioned_recipients
      - metadata
      - pinned
      - reaction
      - reaction_stats
      - replied_to_message
      - scheduled_at
      - seen_by
      - seen_by_count
      - sender_recipient
      - sent_at
      - status
      - type
      - updated_at
      additionalProperties: false
    MessagingConversationDeleteResponse:
      type: object
      properties:
        message:
          type:
          - string
          - 'null'
        success:
          type: boolean
      required:
      - success
      additionalProperties: false
    MessagingMessageDeletedResponse:
      type: object
      properties:
        attachments:
          type: array
          items:
            "$ref": "#/components/schemas/MessagingAttachment"
        body:
          type: string
        conversation_id:
          type: integer
        created_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
        edited_at:
          type: 'null'
        emoji_only_count:
          type: 'null'
        id:
          type: integer
        mentioned_recipients:
          type: array
          items:
            "$ref": "#/components/schemas/MessagingSlimmedRecipient"
        metadata:
          type: 'null'
        pinned:
          type: boolean
        reaction:
          type: 'null'
        reaction_stats:
          type: 'null'
        replied_to_message:
          type: 'null'
        seen_by:
          type: array
          items:
            "$ref": "#/components/schemas/MessagingNominalRecipient"
        seen_by_count:
          type: integer
        sender_recipient:
          "$ref": "#/components/schemas/MessagingReducedRecipient"
        sent_at:
          type: string
          format: date-time
        status:
          type: string
        type:
          type: string
        updated_at:
          type: string
          format: date-time
      required:
      - attachments
      - body
      - conversation_id
      - created_at
      - deleted_at
      - edited_at
      - emoji_only_count
      - id
      - mentioned_recipients
      - metadata
      - pinned
      - reaction
      - reaction_stats
      - replied_to_message
      - seen_by
      - seen_by_count
      - sender_recipient
      - sent_at
      - status
      - type
      - updated_at
      additionalProperties: false
    MessagingScheduledMessageDeleteResponse:
      type: object
      properties:
        message:
          type: string
        success:
          type: boolean
      required:
      - message
      - success
      additionalProperties: false
    MessagingConversationAccessResponse:
      type: object
      properties:
        message:
          type: string
      required:
      - message
      additionalProperties: false
    MessagingConversationSearchResult:
      type: object
      properties:
        announcing:
          type: boolean
        auto_add_recipients:
          type: boolean
        avatar_background_color:
          type: 'null'
        avatar_emoji:
          type: 'null'
        avatar_url:
          type: 'null'
        broadcasting:
          type: 'null'
        conversation_type:
          type: string
        created_at:
          type: string
          format: date-time
        creator:
          "$ref": "#/components/schemas/MessagingReducedRecipient"
        description:
          type: 'null'
        draft_message:
          type: 'null'
        email_enabled?:
          type: boolean
        id:
          type: integer
        image_url:
          type: 'null'
        kind:
          type: string
        messaging_enabled?:
          type: boolean
        muted:
          type: boolean
        name:
          type: string
        pinned:
          type: boolean
        pinned_messages_count:
          type: integer
        recipients:
          type: array
          items:
            type: object
            properties:
              avatar_background:
                type: 'null'
              avatar_url:
                type: 'null'
              blocked:
                type: boolean
              country_name:
                type:
                - string
                - 'null'
              discarded_at:
                type: 'null'
              email:
                type:
                - string
                - 'null'
              first_name:
                type: string
              id:
                type: integer
              image_url:
                type: 'null'
              last_name:
                type: string
              last_online:
                type: 'null'
              left_conversation_at:
                type: 'null'
              phone:
                type: 'null'
              pro_user:
                type: boolean
              receivable_id:
                type: integer
              receivable_type:
                type: string
              status:
                type:
                - string
                - 'null'
            required:
            - avatar_background
            - avatar_url
            - blocked
            - country_name
            - discarded_at
            - first_name
            - id
            - image_url
            - last_name
            - left_conversation_at
            - pro_user
            - receivable_id
            - receivable_type
            additionalProperties: false
        scheduled_messages_count:
          type: integer
        sms_enabled?:
          type: boolean
        status:
          type: string
        total_recipients:
          type: integer
        type:
          type: string
        unread:
          type: boolean
        unread_messages_count:
          type: integer
      required:
      - announcing
      - auto_add_recipients
      - avatar_background_color
      - avatar_emoji
      - avatar_url
      - broadcasting
      - conversation_type
      - created_at
      - creator
      - description
      - draft_message
      - email_enabled?
      - id
      - image_url
      - kind
      - messaging_enabled?
      - muted
      - name
      - pinned
      - pinned_messages_count
      - recipients
      - scheduled_messages_count
      - sms_enabled?
      - status
      - total_recipients
      - type
      - unread
      - unread_messages_count
      additionalProperties: false
    MessagingConversation:
      type: object
      properties:
        announcing:
          type: boolean
        auto_add_recipients:
          type: boolean
        avatar_background_color:
          type: 'null'
        avatar_emoji:
          type: 'null'
        avatar_url:
          type: 'null'
        broadcasting:
          type: boolean
        conversation_type:
          type: string
        created_at:
          type: string
          format: date-time
        creator:
          type: 'null'
        description:
          type: 'null'
        draft_message:
          type: 'null'
        email_enabled?:
          type: boolean
        id:
          type: integer
        image_url:
          type: 'null'
        kind:
          type: string
        messaging_enabled?:
          type: boolean
        muted:
          type: boolean
        name:
          type: string
        pinned:
          type: boolean
        pinned_messages_count:
          type: integer
        recipients:
          type: array
          items:
            "$ref": "#/components/schemas/MessagingConversationMember"
        scheduled_messages_count:
          type: integer
        sms_enabled?:
          type: boolean
        status:
          type: string
        total_recipients:
          type: integer
        type:
          type: string
        unread:
          type: boolean
        unread_messages_count:
          type: integer
      required:
      - announcing
      - auto_add_recipients
      - avatar_background_color
      - avatar_emoji
      - avatar_url
      - broadcasting
      - conversation_type
      - created_at
      - creator
      - description
      - draft_message
      - email_enabled?
      - id
      - image_url
      - kind
      - messaging_enabled?
      - muted
      - name
      - pinned
      - pinned_messages_count
      - recipients
      - scheduled_messages_count
      - sms_enabled?
      - status
      - total_recipients
      - type
      - unread
      - unread_messages_count
      additionalProperties: false
    MessagingConversationRecipient:
      description: A recipient in a conversation. Company members carry `status` and `last_online`; other recipients, such as contacts and bots, carry `email` and `phone` instead.
      type: object
      properties:
        avatar_background:
          type:
          - string
          - 'null'
          description: Hex color (without `#`) behind the recipient's avatar.
        avatar_url:
          type:
          - string
          - 'null'
          description: Thumbnail URL of the recipient's avatar. Null for a discarded recipient.
        blocked:
          type:
          - boolean
          - 'null'
          description: Whether you have blocked this recipient.
        conversation_messaging_enabled?:
          type:
          - boolean
          - 'null'
          description: Whether in-app messaging is enabled for this recipient in the conversation.
        country_name:
          type:
          - string
          - 'null'
          description: The recipient's country.
        discarded_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the recipient was discarded, or null while active.
        email:
          type:
          - string
          - 'null'
          description: The recipient's email address. Omitted for company members.
        first_name:
          type:
          - string
          - 'null'
        id:
          type: integer
          description: The recipient ID.
        image_url:
          type:
          - string
          - 'null'
          description: Full-size avatar image URL. Null for a discarded recipient.
        last_name:
          type:
          - string
          - 'null'
        last_online:
          type:
          - string
          - 'null'
          format: date-time
          description: When the member was last online. Present only for company members.
        left_conversation_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the recipient left or was removed from the conversation, or null while still in it.
        phone:
          type:
          - string
          - 'null'
          description: The recipient's phone number. Omitted for company members.
        pro_user:
          type:
          - boolean
          - 'null'
          description: Whether the member's membership carries a paid plan.
        receivable_id:
          type: integer
          description: ID of the member, contact, or bot this recipient represents.
        receivable_type:
          type: string
          description: What the recipient represents, such as a company member, a contact, or a bot.
        status:
          type:
          - string
          - 'null'
          description: 'Presence status for company members: `online`, `away`, or `offline`. Present only for company members.'
      required:
      - avatar_background
      - avatar_url
      - blocked
      - conversation_messaging_enabled?
      - country_name
      - discarded_at
      - first_name
      - id
      - image_url
      - last_name
      - left_conversation_at
      - pro_user
      - receivable_id
      - receivable_type
      additionalProperties: false
    MessagingDownlineConversation:
      type: object
      properties:
        announcing:
          type: boolean
        auto_add_recipients:
          type: boolean
        avatar_background_color:
          type: 'null'
        avatar_emoji:
          type: 'null'
        avatar_url:
          type: 'null'
        broadcasting:
          type: 'null'
        conversation_type:
          type: 'null'
        created_at:
          type: string
          format: date-time
        creator:
          "$ref": "#/components/schemas/MessagingReducedRecipient"
        description:
          type: 'null'
        draft_message:
          type: 'null'
        email_enabled?:
          type: boolean
        id:
          type: integer
        image_url:
          type: 'null'
        kind:
          type: string
        messaging_enabled?:
          type: boolean
        muted:
          type: 'null'
        name:
          type: string
        pinned:
          type: 'null'
        pinned_messages_count:
          type: integer
        recipients:
          type: array
          items:
            "$ref": "#/components/schemas/MessagingConversationMember"
        scheduled_messages_count:
          type: 'null'
        sms_enabled?:
          type: boolean
        status:
          type: string
        total_recipients:
          type: 'null'
        type:
          type: string
        unread:
          type: 'null'
        unread_messages_count:
          type: 'null'
      required:
      - announcing
      - auto_add_recipients
      - avatar_background_color
      - avatar_emoji
      - avatar_url
      - broadcasting
      - conversation_type
      - created_at
      - creator
      - description
      - draft_message
      - email_enabled?
      - id
      - image_url
      - kind
      - messaging_enabled?
      - muted
      - name
      - pinned
      - pinned_messages_count
      - recipients
      - scheduled_messages_count
      - sms_enabled?
      - status
      - total_recipients
      - type
      - unread
      - unread_messages_count
      additionalProperties: false
    MessagingEmptyResponse:
      type: object
      additionalProperties: false
    MessagingConversationReadStateResponse:
      type: object
      properties:
        message:
          type: string
        unread:
          type: boolean
      required:
      - message
      - unread
      additionalProperties: false
    MessagingConversationMuteStateResponse:
      type: object
      properties:
        message:
          type: string
        muted:
          type: boolean
      required:
      - message
      - muted
      additionalProperties: false
    MessagingPinnedStateResponse:
      type: object
      properties:
        message:
          type: string
        pinned:
          type: boolean
      required:
      - message
      - pinned
      additionalProperties: false
    MessagingConversationWithRecipientsResponse:
      type: object
      properties:
        announcing:
          type: boolean
        auto_add_recipients:
          type: boolean
        avatar_background_color:
          type: 'null'
        avatar_emoji:
          type: 'null'
        avatar_url:
          type: 'null'
        broadcasting:
          type:
          - boolean
          - 'null'
        conversation_type:
          type: string
        created_at:
          type: string
          format: date-time
        creator:
          type:
          - object
          - 'null'
          properties:
            avatar_background:
              type: 'null'
            blocked:
              type:
              - boolean
              - 'null'
            blocker:
              type:
              - boolean
              - 'null'
            discarded_at:
              type: 'null'
            first_name:
              type: string
            id:
              type: integer
            image_url:
              type: 'null'
            last_name:
              type: string
            pro_user:
              type: boolean
          required:
          - avatar_background
          - blocked
          - blocker
          - discarded_at
          - first_name
          - id
          - image_url
          - last_name
          - pro_user
          additionalProperties: false
        description:
          type: 'null'
        draft_message:
          type: 'null'
        email_enabled?:
          type: boolean
        id:
          type: integer
        image_url:
          type: 'null'
        kind:
          type: string
        messaging_enabled?:
          type: boolean
        muted:
          type: boolean
        name:
          type: string
        pinned:
          type: boolean
        pinned_messages_count:
          type: integer
        recipients:
          type: array
          items:
            "$ref": "#/components/schemas/MessagingConversationMember"
        scheduled_messages_count:
          type: integer
        sms_enabled?:
          type: boolean
        status:
          type: string
        total_recipients:
          type: integer
        type:
          type: string
        unread:
          type: boolean
        unread_messages_count:
          type: integer
      required:
      - announcing
      - auto_add_recipients
      - avatar_background_color
      - avatar_emoji
      - avatar_url
      - broadcasting
      - conversation_type
      - created_at
      - creator
      - description
      - draft_message
      - email_enabled?
      - id
      - image_url
      - kind
      - messaging_enabled?
      - muted
      - name
      - pinned
      - pinned_messages_count
      - recipients
      - scheduled_messages_count
      - sms_enabled?
      - status
      - total_recipients
      - type
      - unread
      - unread_messages_count
      additionalProperties: false
    MessagingRecipientSearchResponse:
      type: object
      properties:
        meta:
          type: object
          properties:
            count:
              type: integer
          required:
          - count
          additionalProperties: false
      required:
      - meta
      additionalProperties: false
    MessagingBotPage:
      description: 'A page of bots, returned as a two-element array: an object holding `pagination`, then an object holding the bots in `items`.'
      type: array
      items:
        anyOf:
        - type: object
          properties:
            pagination:
              "$ref": '#/components/schemas/MessagingConversationPagination'
          required:
          - pagination
        - type: object
          properties:
            items:
              type: array
              items:
                "$ref": '#/components/schemas/MessagingBot'
          required:
          - items
    MessagingRecipientPage:
      description: 'A page of recipients, returned as a two-element array: an object holding `pagination`, then an object holding the recipients in `items`.'
      type: array
      items:
        anyOf:
        - type: object
          properties:
            pagination:
              "$ref": '#/components/schemas/MessagingConversationPagination'
          required:
          - pagination
        - type: object
          properties:
            items:
              type: array
              items:
                "$ref": '#/components/schemas/MessagingConversationParticipant'
          required:
          - items
    MessagingConversationDetail:
      anyOf:
      - type: object
        properties:
          announcing:
            type:
            - boolean
            - 'null'
          auto_add_recipients:
            type:
            - boolean
            - 'null'
          avatar_background_color:
            type: 'null'
          avatar_emoji:
            type: 'null'
          avatar_url:
            type: 'null'
          broadcasting:
            type:
            - boolean
            - 'null'
          conversation_type:
            type:
            - string
            - 'null'
          created_at:
            type:
            - string
            - 'null'
            format: date-time
          creator:
            type:
            - object
            - 'null'
            properties:
              avatar_background:
                type: 'null'
              blocked:
                type:
                - boolean
                - 'null'
              blocker:
                type:
                - boolean
                - 'null'
              discarded_at:
                type: 'null'
              first_name:
                type: string
              id:
                type: integer
              image_url:
                type: 'null'
              last_name:
                type: string
              pro_user:
                type: boolean
            required:
            - avatar_background
            - blocked
            - blocker
            - discarded_at
            - first_name
            - id
            - image_url
            - last_name
            - pro_user
            additionalProperties: false
          description:
            type: 'null'
          draft_message:
            type: 'null'
          email_enabled?:
            type:
            - boolean
            - 'null'
          id:
            type:
            - integer
            - 'null'
          image_url:
            type: 'null'
          kind:
            type:
            - string
            - 'null'
          messaging_enabled?:
            type:
            - boolean
            - 'null'
          muted:
            type:
            - boolean
            - 'null'
          name:
            type:
            - string
            - 'null'
          pinned:
            type:
            - boolean
            - 'null'
          pinned_messages_count:
            type:
            - integer
            - 'null'
          recipients:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              properties:
                avatar_background:
                  type: 'null'
                avatar_url:
                  type: 'null'
                blocked:
                  type: boolean
                country_name:
                  type:
                  - string
                  - 'null'
                discarded_at:
                  type: 'null'
                email:
                  type:
                  - string
                  - 'null'
                first_name:
                  type: string
                id:
                  type: integer
                image_url:
                  type: 'null'
                last_name:
                  type: string
                last_online:
                  type: 'null'
                left_conversation_at:
                  type: 'null'
                phone:
                  type: 'null'
                pro_user:
                  type: boolean
                receivable_id:
                  type: integer
                receivable_type:
                  type: string
                status:
                  type:
                  - string
                  - 'null'
              required:
              - avatar_background
              - avatar_url
              - blocked
              - country_name
              - discarded_at
              - first_name
              - id
              - image_url
              - last_name
              - left_conversation_at
              - pro_user
              - receivable_id
              - receivable_type
              additionalProperties: false
          scheduled_messages_count:
            type:
            - integer
            - 'null'
          sms_enabled?:
            type:
            - boolean
            - 'null'
          status:
            type:
            - string
            - 'null'
          total_recipients:
            type:
            - integer
            - 'null'
          type:
            type:
            - string
            - 'null'
          unread:
            type:
            - boolean
            - 'null'
          unread_messages_count:
            type:
            - integer
            - 'null'
        additionalProperties: false
      - type: array
        items:
          type: object
          properties:
            avatar_url:
              type: 'null'
            id:
              type:
              - integer
              - 'null'
            items:
              type:
              - array
              - 'null'
              items:
                type: object
                properties:
                  avatar_background:
                    type: 'null'
                  avatar_url:
                    type: 'null'
                  blocked:
                    type: 'null'
                  country_name:
                    type: string
                  discarded_at:
                    type: 'null'
                  first_name:
                    type: string
                  id:
                    type: integer
                  image_url:
                    type: 'null'
                  last_name:
                    type: string
                  last_online:
                    type: 'null'
                  left_conversation_at:
                    type: 'null'
                  pro_user:
                    type: boolean
                  receivable_id:
                    type: integer
                  receivable_type:
                    type: string
                  status:
                    type: string
                required:
                - avatar_background
                - avatar_url
                - blocked
                - country_name
                - discarded_at
                - first_name
                - id
                - image_url
                - last_name
                - last_online
                - left_conversation_at
                - pro_user
                - receivable_id
                - receivable_type
                - status
                additionalProperties: false
            name:
              type:
              - string
              - 'null'
            pagination:
              type:
              - object
              - 'null'
              properties:
                count:
                  type: integer
                current:
                  type: integer
                next:
                  type: 'null'
                pages:
                  type: integer
                per_page:
                  type: integer
                previous:
                  type: 'null'
              required:
              - count
              - current
              - next
              - pages
              - per_page
              - previous
              additionalProperties: false
          additionalProperties: false
    MessagingBotDetail:
      description: A messaging bot.
      type: object
      properties:
        archived_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the bot was archived, or null while it is active.
        avatar_background_color:
          type:
          - string
          - 'null'
          description: Background color shown behind the bot's avatar.
        avatar_emoji:
          type:
          - string
          - 'null'
          description: Emoji shown as the bot's avatar.
        conversation:
          anyOf:
          - "$ref": '#/components/schemas/MessagingConversation'
          - type: 'null'
          description: Your one-to-one conversation with the bot, or null when you have none.
        conversations:
          type: array
          items:
            "$ref": '#/components/schemas/BroadcastBotConversation'
          description: Conversations the bot's recipient belongs to, such as the channels a broadcast bot posts into.
        description:
          type:
          - string
          - 'null'
          description: What the bot does.
        id:
          type: integer
          description: The bot ID.
        image_url:
          type:
          - string
          - 'null'
          description: URL of the bot's avatar image.
        recipient:
          anyOf:
          - "$ref": '#/components/schemas/MessagingSlimmedRecipient'
          - type: 'null'
          description: The messaging recipient that represents the bot in conversations.
        title:
          type: string
          description: The bot's display name. Unique among your company's active bots.
        type:
          type: string
          description: '`ResponseBot` (replies through a webhook in one-to-one conversations) or `BroadcastBot` (posts into channel conversations).'
        webhook_external_uri:
          type:
          - string
          - 'null'
          description: For a response bot, the URL its webhook delivers messages to; otherwise null.
        webhook_http_method:
          type:
          - string
          - 'null'
          description: For a response bot, the HTTP method its webhook uses (`post`, `put`, or `get`); otherwise null.
      required:
      - archived_at
      - avatar_background_color
      - avatar_emoji
      - conversation
      - conversations
      - description
      - id
      - image_url
      - recipient
      - title
      - type
      - webhook_external_uri
      - webhook_http_method
      additionalProperties: false
    MessagingConversationUpdateResponse:
      type: object
      properties:
        announcing:
          type:
          - boolean
          - 'null'
        auto_add_recipients:
          type:
          - boolean
          - 'null'
        avatar_background_color:
          type: 'null'
        avatar_emoji:
          type: 'null'
        avatar_url:
          type: 'null'
        broadcasting:
          type:
          - boolean
          - 'null'
        conversation_type:
          type:
          - string
          - 'null'
        created_at:
          type:
          - string
          - 'null'
          format: date-time
        creator:
          type:
          - object
          - 'null'
          properties:
            avatar_background:
              type: 'null'
            blocked:
              type: 'null'
            blocker:
              type: 'null'
            discarded_at:
              type: 'null'
            first_name:
              type: string
            id:
              type: integer
            image_url:
              type: 'null'
            last_name:
              type: string
            pro_user:
              type: boolean
          required:
          - avatar_background
          - blocked
          - blocker
          - discarded_at
          - first_name
          - id
          - image_url
          - last_name
          - pro_user
          additionalProperties: false
        description:
          type: 'null'
        draft_message:
          type: 'null'
        email_enabled?:
          type:
          - boolean
          - 'null'
        id:
          type:
          - integer
          - 'null'
        image_url:
          type: 'null'
        kind:
          type:
          - string
          - 'null'
        messaging_enabled?:
          type:
          - boolean
          - 'null'
        muted:
          type:
          - boolean
          - 'null'
        name:
          type:
          - string
          - 'null'
        pinned:
          type:
          - boolean
          - 'null'
        pinned_messages_count:
          type:
          - integer
          - 'null'
        recipients:
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/MessagingConversationMember"
        scheduled_messages_count:
          type:
          - integer
          - 'null'
        sms_enabled?:
          type:
          - boolean
          - 'null'
        status:
          type:
          - string
          - 'null'
        success:
          type:
          - boolean
          - 'null'
        total_recipients:
          type:
          - integer
          - 'null'
        type:
          type:
          - string
          - 'null'
        unread:
          type:
          - boolean
          - 'null'
        unread_messages_count:
          type:
          - integer
          - 'null'
      additionalProperties: false
    MessagingProfile:
      description: Your messaging profile.
      type: object
      properties:
        avatar_background:
          type:
          - string
          - 'null'
          description: Hex color (without `#`) behind your avatar.
        first_name:
          type: string
        id:
          type: integer
          description: Your recipient ID.
        image_url:
          type:
          - string
          - 'null'
          description: URL of your avatar image.
        last_name:
          type: string
      required:
      - avatar_background
      - first_name
      - id
      - image_url
      - last_name
      additionalProperties: false
    MessagingReducedRecipient:
      type: object
      properties:
        avatar_background:
          type:
          - string
          - 'null'
        blocked:
          type:
          - boolean
          - 'null'
        blocker:
          type:
          - boolean
          - 'null'
        discarded_at:
          type:
          - string
          - 'null'
          format: date-time
        first_name:
          type:
          - string
          - 'null'
        id:
          type: integer
        image_url:
          type:
          - string
          - 'null'
        last_name:
          type:
          - string
          - 'null'
        pro_user:
          type:
          - boolean
          - 'null'
        email:
          type:
          - string
          - 'null'
          description: The contact's email address. Present only for contacts, not for company
            members.
        phone:
          type:
          - string
          - 'null'
          description: The contact's phone number. Present only for contacts, not for company
            members.
        seen_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When this recipient last read the conversation. Present only in seen-by
            listings.
      required:
      - avatar_background
      - blocked
      - blocker
      - discarded_at
      - first_name
      - id
      - image_url
      - last_name
      - pro_user
      additionalProperties: false
    MessagingSlimmedRecipient:
      type: object
      properties:
        avatar_background:
          type:
          - string
          - 'null'
        blocked:
          type:
          - boolean
          - 'null'
        discarded_at:
          type:
          - string
          - 'null'
          format: date-time
        email:
          type:
          - string
          - 'null'
        first_name:
          type:
          - string
          - 'null'
        id:
          type: integer
        last_name:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
      required:
      - avatar_background
      - blocked
      - discarded_at
      - email
      - first_name
      - id
      - last_name
      - phone
      additionalProperties: false
    BroadcastBotConversation:
      type: object
      properties:
        avatar_url:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        id:
          type: integer
        name:
          type: string
        removed_at:
          type:
          - string
          - 'null'
          format: date-time
        webhook_url:
          type:
          - string
          - 'null'
      required:
      - avatar_url
      - description
      - id
      - name
      - removed_at
      - webhook_url
      additionalProperties: false
    MessagingConversationMember:
      type: object
      properties:
        avatar_background:
          type:
          - string
          - 'null'
        avatar_url:
          type:
          - string
          - 'null'
        blocked:
          type:
          - boolean
          - 'null'
        country_name:
          type:
          - string
          - 'null'
        discarded_at:
          type:
          - string
          - 'null'
        first_name:
          type:
          - string
          - 'null'
        id:
          type: integer
        image_url:
          type:
          - string
          - 'null'
        last_name:
          type:
          - string
          - 'null'
        last_online:
          type:
          - string
          - 'null'
        left_conversation_at:
          type:
          - string
          - 'null'
        pro_user:
          type:
          - boolean
          - 'null'
        receivable_id:
          type:
          - integer
          - 'null'
        receivable_type:
          type: string
        status:
          type:
          - string
          - 'null'
      required:
      - avatar_background
      - avatar_url
      - blocked
      - country_name
      - discarded_at
      - first_name
      - id
      - image_url
      - last_name
      - last_online
      - left_conversation_at
      - pro_user
      - receivable_id
      - receivable_type
      - status
      additionalProperties: false
    MessagingMessageMetadata:
      type: object
      properties:
        client_message_id:
          type:
          - string
          - 'null'
          description: The `client_message_id` you sent when creating the message, or null when
            you sent none.
      required:
      - client_message_id
      additionalProperties: false
    MessagingAttachmentAttributes:
      type: object
      properties:
        url:
          type: string
        filename:
          type: string
        kind:
          type: string
        content_type:
          type: string
        content_size:
          type: integer
        metadata:
          type: object
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
    MessagingMessageRequest:
      type: object
      properties:
        body:
          type: string
        theme:
          type: string
        subject:
          type: string
        type:
          type: string
        attachments_attributes:
          type: array
          items:
            "$ref": "#/components/schemas/MessagingAttachmentAttributes"
    MessagingAttachment:
      type: object
      properties:
        id:
          type: integer
        url:
          type:
          - string
          - 'null'
        filename:
          type:
          - string
          - 'null'
        kind:
          type:
          - string
          - 'null'
        image_url:
          type:
          - string
          - 'null'
        image_path:
          type:
          - string
          - 'null'
        content_type:
          type:
          - string
          - 'null'
        attachable_type:
          type:
          - string
          - 'null'
        attachable_id:
          type:
          - integer
          - 'null'
        metadata:
          type: object
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        content_size:
          type:
          - integer
          - 'null'
        thumbnail_url:
          type:
          - string
          - 'null'
      additionalProperties: false
    MessagingNominalRecipient:
      type: object
      properties:
        avatar_background:
          type:
          - string
          - 'null'
        first_name:
          type:
          - string
          - 'null'
        id:
          type: integer
        image_url:
          type:
          - string
          - 'null'
        last_name:
          type:
          - string
          - 'null'
        seen_at:
          type:
          - string
          - 'null'
          format: date-time
      required:
      - avatar_background
      - first_name
      - id
      - image_url
      - last_name
      additionalProperties: false
    MessagingMessage:
      type: object
      properties:
        attachments:
          type: array
          items:
            "$ref": "#/components/schemas/MessagingAttachment"
        body:
          type: string
        conversation_id:
          type: integer
        created_at:
          type: string
          format: date-time
        deleted_at:
          type:
          - string
          - 'null'
          format: date-time
        edited_at:
          type:
          - string
          - 'null'
          format: date-time
        emoji_only_count:
          type: integer
        id:
          type: integer
        mentioned_recipients:
          type: array
          items:
            "$ref": "#/components/schemas/MessagingSlimmedRecipient"
        metadata:
          anyOf:
          - "$ref": "#/components/schemas/MessagingMessageMetadata"
          - type: 'null'
        pinned:
          type: boolean
        reaction:
          anyOf:
          - "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
        reaction_stats:
          anyOf:
          - "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
        replied_to_message:
          anyOf:
          - "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
        seen_by:
          type: array
          items:
            "$ref": "#/components/schemas/MessagingNominalRecipient"
        seen_by_count:
          type: integer
        sender_recipient:
          "$ref": "#/components/schemas/MessagingReducedRecipient"
        sent_at:
          type: string
          format: date-time
        status:
          type: string
        type:
          type: string
        updated_at:
          type: string
          format: date-time
      required:
      - attachments
      - body
      - conversation_id
      - created_at
      - deleted_at
      - edited_at
      - emoji_only_count
      - id
      - mentioned_recipients
      - metadata
      - pinned
      - reaction
      - reaction_stats
      - replied_to_message
      - seen_by
      - seen_by_count
      - sender_recipient
      - sent_at
      - status
      - type
      - updated_at
      additionalProperties: false
      title: MessagingMessage
    MessagingDraftMessage:
      type: object
      properties:
        attachments:
          type: array
          items:
            "$ref": "#/components/schemas/MessagingAttachment"
        body:
          type: string
        conversation:
          anyOf:
          - "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
        created_at:
          type: string
          format: date-time
        id:
          type: integer
        mentioned_recipients:
          type: array
          items:
            "$ref": "#/components/schemas/MessagingSlimmedRecipient"
        metadata:
          anyOf:
          - "$ref": "#/components/schemas/MessagingMessageMetadata"
          - type: 'null'
        replied_to_message:
          anyOf:
          - "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
        scheduled_at:
          type:
          - string
          - 'null'
          format: date-time
        sender_recipient:
          "$ref": "#/components/schemas/MessagingReducedRecipient"
        subject:
          type:
          - string
          - 'null'
        updated_at:
          type: string
          format: date-time
      required:
      - attachments
      - body
      - conversation
      - created_at
      - id
      - mentioned_recipients
      - metadata
      - replied_to_message
      - scheduled_at
      - sender_recipient
      - subject
      - updated_at
      additionalProperties: false
      title: MessagingDraftMessage
    MessagingConversationParticipant:
      description: A participant in a conversation, as listed in the conversation's `recipients`. Company members carry `status` and `last_online`; contacts carry `email` and `phone` instead.
      type: object
      properties:
        id:
          type: integer
          description: The recipient ID. Pass it as `uid` to add this recipient to another conversation.
        receivable_id:
          type:
          - integer
          - 'null'
        receivable_type:
          type:
          - string
          - 'null'
          description: What the participant is, such as a company member or a contact.
        first_name:
          type:
          - string
          - 'null'
        last_name:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        last_online:
          type:
          - string
          - 'null'
        avatar_background:
          type:
          - string
          - 'null'
        avatar_url:
          type:
          - string
          - 'null'
        image_url:
          type:
          - string
          - 'null'
        country_name:
          type:
          - string
          - 'null'
        pro_user:
          type:
          - boolean
          - 'null'
        blocked:
          type:
          - boolean
          - 'null'
          description: Whether the acting recipient has blocked this participant.
        left_conversation_at:
          type:
          - string
          - 'null'
        conversation_messaging_enabled?:
          type:
          - boolean
          - 'null'
        discarded_at:
          type:
          - string
          - 'null'
      required:
      - id
      additionalProperties: false
    MessagingConversationCreator:
      description: The recipient who created a conversation.
      type: object
      properties:
        id:
          type: integer
        first_name:
          type:
          - string
          - 'null'
        last_name:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
        avatar_background:
          type:
          - string
          - 'null'
        image_url:
          type:
          - string
          - 'null'
        pro_user:
          type:
          - boolean
          - 'null'
        blocked:
          type:
          - boolean
          - 'null'
        blocker:
          type:
          - boolean
          - 'null'
        discarded_at:
          type:
          - string
          - 'null'
      required:
      - id
      additionalProperties: false
    MessagingConversationSummary:
      description: A conversation as seen by the acting recipient. Per-recipient fields such as `unread`, `pinned`, and `muted` describe that recipient's view of the conversation. `recipients` lists at most six active participants; `total_recipients` is the full count.
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
        type:
          type: string
          description: The conversation type, for example `GroupConversation`.
        kind:
          type:
          - string
          - 'null'
          description: The short conversation kind (`direct`, `group`, `channel`, or `downline`), or null for SMS, email, and bot conversations.
        name:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
          description: One of `initiated`, `open`, `archived`, or `closed`. A new conversation stays `initiated` until its first message.
        conversation_type:
          type:
          - string
          - 'null'
          description: "`internal` for conversations between company members, `external` for conversations with contacts."
        broadcasting:
          type:
          - boolean
          - 'null'
        auto_add_recipients:
          type:
          - boolean
          - 'null'
        announcing:
          type:
          - boolean
          - 'null'
        avatar_background_color:
          type:
          - string
          - 'null'
        avatar_emoji:
          type:
          - string
          - 'null'
        avatar_url:
          type:
          - string
          - 'null'
        image_url:
          type:
          - string
          - 'null'
        created_at:
          type:
          - string
          - 'null'
          format: date-time
        pinned_messages_count:
          type:
          - integer
          - 'null'
        total_recipients:
          type:
          - integer
          - 'null'
        unread:
          type:
          - boolean
          - 'null'
        pinned:
          type:
          - boolean
          - 'null'
        muted:
          type:
          - boolean
          - 'null'
        unread_messages_count:
          type:
          - integer
          - 'null'
        scheduled_messages_count:
          type:
          - integer
          - 'null'
        email_enabled?:
          type:
          - boolean
          - 'null'
        sms_enabled?:
          type:
          - boolean
          - 'null'
        messaging_enabled?:
          type:
          - boolean
          - 'null'
          description: Whether the acting recipient can post in the conversation.
        draft_message:
          description: The acting recipient's unsent draft in this conversation, or null.
          type:
          - object
          - 'null'
        recipients:
          type: array
          items:
            "$ref": "#/components/schemas/MessagingConversationParticipant"
        creator:
          anyOf:
          - "$ref": "#/components/schemas/MessagingConversationCreator"
          - type: 'null'
      required:
      - id
      - type
      - kind
      - name
      - description
      - status
      - conversation_type
      - broadcasting
      - auto_add_recipients
      - announcing
      - avatar_background_color
      - avatar_emoji
      - avatar_url
      - image_url
      - created_at
      - pinned_messages_count
      - total_recipients
      - unread
      - pinned
      - muted
      - unread_messages_count
      - scheduled_messages_count
      - email_enabled?
      - sms_enabled?
      - messaging_enabled?
      - draft_message
      - recipients
      - creator
      additionalProperties: false
    MessagingConversationAttributes:
      description: The conversation to create.
      type: object
      properties:
        type:
          type: string
          description: The conversation type. Required unless `kind` is set.
          enum:
          - ChannelConversation
          - DirectConversation
          - GroupConversation
          - SmsConversation
          - EmailConversation
          - BotConversation
        kind:
          type: string
          description: Alternative to `type` using the short name. Ignored when `type` is set.
          enum:
          - channel
          - direct
          - group
        name:
          type: string
          description: The conversation name. Required for a channel. A group name must be unique among your open groups, and a channel name among your open channels.
        description:
          type: string
        broadcasting:
          type: boolean
          description: For a channel, when true only admins can post; other members can only read.
        filter:
          type: object
          description: For a channel, the audience to add as members, as member attributes (such as `member_type_id` or `rank_id`) mapped to the values to match. Omit it to add only you.
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        auto_add_recipients:
          type: boolean
          description: For a channel, keep adding members who match `filter` as they join the company. Ignored unless you are a company admin.
      additionalProperties: false
    MessagingConversationRecipientReference:
      description: A participant to add. Identify an existing recipient by `uid`; otherwise the recipient is found or created from `email` or `phone`.
      type: object
      properties:
        uid:
          type:
          - integer
          - string
          description: The recipient ID of an existing company member or contact.
        email:
          type: string
          format: email
        phone:
          type: string
        first_name:
          type: string
          description: Used when a new contact is created from `email` or `phone`.
        last_name:
          type: string
          description: Used when a new contact is created from `email` or `phone`.
        id:
          type:
          - integer
          - string
          description: Accepted for compatibility and ignored. Use `uid`.
        image_url:
          type:
          - string
          - 'null'
          description: Accepted for compatibility and ignored.
      additionalProperties: false
    MessagingConversationCreateRequest:
      description: Send `conversation` (with `recipients`) to create one conversation, or `conversations` (with an optional `message`) to create several.
      type: object
      properties:
        conversation:
          "$ref": "#/components/schemas/MessagingConversationAttributes"
        recipients:
          type: array
          description: The participants to add besides you. Required for every type except a channel, where it is ignored; send an empty array for a channel.
          items:
            "$ref": "#/components/schemas/MessagingConversationRecipientReference"
        conversations:
          type: array
          description: Batch mode. Each entry creates one conversation.
          items:
            type: object
            properties:
              conversation:
                "$ref": "#/components/schemas/MessagingConversationAttributes"
              recipients:
                type: array
                items:
                  "$ref": "#/components/schemas/MessagingConversationRecipientReference"
            additionalProperties: false
        message:
          "$ref": "#/components/schemas/MessagingConversationFirstMessage"
    MessagingConversationFirstMessage:
      description: Batch mode only. A message sent from you to each conversation created from `conversations`. Ignored with `conversation`.
      type: object
      properties:
        body:
          type: string
        theme:
          type: string
        type:
          type: string
          description: The message type. Ignored for conversations between company members, which always get a direct message.
        attachments_attributes:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
                format: uri
              filename:
                type: string
              kind:
                type: string
              content_size:
                type:
                - integer
                - string
                description: The file size in bytes.
              content_type:
                type: string
            additionalProperties: false
      additionalProperties: false
    MessagingConversationPagination:
      description: Page-number pagination details for a page of results.
      type: object
      properties:
        current:
          type: integer
          description: The page returned.
        previous:
          type:
          - integer
          - 'null'
          description: The previous page number, or null on the first page.
        next:
          type:
          - integer
          - 'null'
          description: The next page number, or null on the last page.
        per_page:
          type: integer
          description: The page size used.
        pages:
          type: integer
          description: The total number of pages.
        count:
          type: integer
          description: The total number of matching records.
    MessagingConversationListPage:
      description: 'A page of conversations, returned as a two-element array: an object holding `pagination`,
        then an object holding the conversations in `items`.'
      type: array
      items:
        anyOf:
        - type: object
          properties:
            pagination:
              "$ref": '#/components/schemas/MessagingConversationPagination'
          required:
          - pagination
        - type: object
          properties:
            items:
              type: array
              items:
                "$ref": '#/components/schemas/MessagingConversationSummary'
          required:
          - items
    MessagingConnectedRecipientsPage:
      description: 'A page of recipients, returned as a two-element array: an object holding `pagination`,
        then an object holding the recipients in `items`.'
      type: array
      items:
        anyOf:
        - type: object
          properties:
            pagination:
              "$ref": '#/components/schemas/MessagingConversationPagination'
          required:
          - pagination
        - type: object
          properties:
            items:
              type: array
              items:
                "$ref": '#/components/schemas/MessagingConversationParticipant'
          required:
          - items
    MessagingConversationsByTemplate:
      description: Conversations keyed by the requested template name. `announcement_channel` and `my_downline`
        hold a single conversation; every other template holds a page of conversations. Templates you did
        not request, or that are not recognised, are absent.
      type: object
      properties:
        announcement_channel:
          description: The company's announcement channel.
          anyOf:
          - "$ref": '#/components/schemas/MessagingConversationSummary'
          - type: 'null'
        my_downline:
          description: Your downline conversation, or null if you do not have one yet.
          anyOf:
          - "$ref": '#/components/schemas/MessagingConversationSummary'
          - type: 'null'
      additionalProperties:
        "$ref": '#/components/schemas/MessagingConversationListPage'
    MessagingNominalConversation:
      description: A minimal conversation reference returned by channel search.
      type: object
      properties:
        id:
          type: integer
          description: The conversation ID.
        name:
          type:
          - string
          - 'null'
          description: The channel name.
        avatar_url:
          type:
          - string
          - 'null'
          description: The channel avatar image URL, or null when none is set.
    MessagingMessageListItem:
      description: A message as it appears in a conversation's message list. Deleted messages
        keep their place in the list with the body replaced by a deletion notice and their
        attachments, mentions, and seen-by details emptied.
      type: object
      properties:
        id:
          type: integer
          description: The message ID.
        conversation_id:
          type: integer
          description: The conversation the message belongs to.
        body:
          type:
          - string
          - 'null'
          description: The message text, or a deletion notice when the message was deleted.
        type:
          type: string
          description: The message type, for example `DirectMessage`, `SmsMessage`, `EmailMessage`,
            or `InfoMessage`.
        status:
          type: string
          description: Delivery status.
          enum:
          - queued
          - sent
          - failed
        created_at:
          type: string
          format: date-time
        sent_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the message was sent, falling back to its creation time.
        edited_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the sender last edited the message, or null.
        deleted_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the message was deleted, for everyone or only for you, or null.
        pinned:
          type:
          - boolean
          - 'null'
          description: Whether the message is pinned in the conversation.
        reaction:
          type:
          - string
          - 'null'
          description: Your own emoji reaction to the message, or null.
        reaction_stats:
          description: Reaction counts keyed by emoji, or null when nobody has reacted.
          anyOf:
          - "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
        metadata:
          description: Message metadata, including the `client_message_id` sent at creation.
          anyOf:
          - "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
        seen_by_count:
          type: integer
          description: How many recipients have seen the message.
        emoji_only_count:
          type:
          - integer
          - 'null'
          description: The number of emoji when the body consists only of emoji.
        seen_by:
          type: array
          description: Up to 25 recipients who most recently saw the message. Always empty in
            channels.
          items:
            "$ref": "#/components/schemas/MessagingNominalRecipient"
        sender_recipient:
          description: The recipient who sent the message.
          anyOf:
          - "$ref": "#/components/schemas/MessagingReducedRecipient"
          - type: 'null'
        mentioned_recipients:
          type: array
          items:
            "$ref": "#/components/schemas/MessagingSlimmedRecipient"
        attachments:
          type: array
          items:
            "$ref": "#/components/schemas/MessagingAttachment"
        replied_to_message:
          description: The message this one replies to, or null.
          anyOf:
          - "$ref": "#/components/schemas/MessagingMessage"
          - type: 'null'
      required:
      - id
      - conversation_id
      - body
      - type
      - status
      - created_at
      - sent_at
    MessagingMessageReaction:
      description: One recipient's emoji reaction to a message.
      type: object
      properties:
        reaction:
          type:
          - string
          - 'null'
          description: The emoji the recipient reacted with.
        recipient:
          "$ref": "#/components/schemas/MessagingReducedRecipient"
    MessagingMessageListPage:
      description: 'A page of messages, returned as a two-element array: an object holding `pagination`, then an object holding the messages in `items`.'
      type: array
      items:
        anyOf:
        - type: object
          properties:
            pagination:
              "$ref": '#/components/schemas/MessagingConversationPagination'
          required:
          - pagination
        - type: object
          properties:
            items:
              type: array
              items:
                "$ref": '#/components/schemas/MessagingMessageListItem'
          required:
          - items
    MessagingMessagePage:
      description: 'A page of messages, returned as a two-element array: an object holding `pagination`, then an object holding the messages in `items`.'
      type: array
      items:
        anyOf:
        - type: object
          properties:
            pagination:
              "$ref": '#/components/schemas/MessagingConversationPagination'
          required:
          - pagination
        - type: object
          properties:
            items:
              type: array
              items:
                "$ref": '#/components/schemas/MessagingMessage'
          required:
          - items
    MessagingMessageReactionPage:
      description: 'A page of reactions, returned as a two-element array: an object holding `pagination`, then an object holding the reactions in `items`.'
      type: array
      items:
        anyOf:
        - type: object
          properties:
            pagination:
              "$ref": '#/components/schemas/MessagingConversationPagination'
          required:
          - pagination
        - type: object
          properties:
            items:
              type: array
              items:
                "$ref": '#/components/schemas/MessagingMessageReaction'
          required:
          - items
    MessagingSeenByRecipientPage:
      description: 'A page of recipients, each with `seen_at`, returned as a two-element array: an object holding `pagination`, then an object holding the recipients in `items`.'
      type: array
      items:
        anyOf:
        - type: object
          properties:
            pagination:
              "$ref": '#/components/schemas/MessagingConversationPagination'
          required:
          - pagination
        - type: object
          properties:
            items:
              type: array
              items:
                "$ref": '#/components/schemas/MessagingReducedRecipient'
          required:
          - items
    MessagingDraftMessagePage:
      description: 'A page of draft or scheduled messages, returned as a two-element array: an object holding `pagination`, then an object holding the messages in `items`.'
      type: array
      items:
        anyOf:
        - type: object
          properties:
            pagination:
              "$ref": '#/components/schemas/MessagingConversationPagination'
          required:
          - pagination
        - type: object
          properties:
            items:
              type: array
              items:
                "$ref": '#/components/schemas/MessagingDraftMessage'
          required:
          - items
    MessagingScheduledMessagePage:
      description: 'A page of scheduled messages, returned as a two-element array: an object holding `pagination`, then an object holding the messages in `items`.'
      type: array
      items:
        anyOf:
        - type: object
          properties:
            pagination:
              "$ref": '#/components/schemas/MessagingConversationPagination'
          required:
          - pagination
        - type: object
          properties:
            items:
              type: array
              items:
                "$ref": '#/components/schemas/MessagingScheduledMessage'
          required:
          - items
paths:
  "/api/v1/messaging/announcement_channel":
    get:
      summary: Get the announcement channel
      tags:
      - messaging---conversations
      operationId: messaging_v1_get_announcement_channel
      security:
      - bearer_auth: []
      description: 'Return the company''s announcement channel: the broadcast channel every member of the company
        belongs to, where only admins post. The channel is created the first time it is requested. Callable
        by a signed-in company admin or rep whose role includes the messaging view permission. Per-recipient
        fields such as `unread`, `pinned`, and `muted` describe your own view of the channel.'
      responses:
        '200':
          description: The announcement channel.
          content:
            application/json:
              schema:
                "$ref": '#/components/schemas/MessagingConversationSummary'
              example:
                id: 90001
                type: ChannelConversation
                kind: channel
                name: Announcements
                description: null
                status: open
                conversation_type: internal
                broadcasting: true
                auto_add_recipients: false
                announcing: true
                avatar_background_color: null
                avatar_emoji: null
                avatar_url: null
                image_url: null
                created_at: '2026-09-01T13:00:00Z'
                pinned_messages_count: 2
                total_recipients: 58
                unread: false
                pinned: true
                muted: false
                unread_messages_count: 0
                scheduled_messages_count: 0
                email_enabled?: false
                sms_enabled?: false
                messaging_enabled?: true
                draft_message: null
                recipients:
                - id: 48102
                  receivable_id: 7731
                  receivable_type: UserCompany
                  first_name: Michael
                  last_name: Scott
                  status: active
                  last_online: '2026-09-30T15:40:12Z'
                  avatar_background: '#4F46E5'
                  avatar_url: null
                  image_url: null
                  country_name: United States
                  pro_user: true
                  blocked: false
                  left_conversation_at: null
                  discarded_at: null
                - id: 48211
                  receivable_id: 7802
                  receivable_type: UserCompany
                  first_name: Dwight
                  last_name: Schrute
                  status: active
                  last_online: '2026-09-30T14:58:03Z'
                  avatar_background: '#0EA5E9'
                  avatar_url: null
                  image_url: null
                  country_name: United States
                  pro_user: true
                  blocked: false
                  left_conversation_at: null
                  discarded_at: null
                - id: 48307
                  receivable_id: 7859
                  receivable_type: UserCompany
                  first_name: Jim
                  last_name: Halpert
                  status: active
                  last_online: '2026-09-30T09:17:31Z'
                  avatar_background: '#F59E0B'
                  avatar_url: null
                  image_url: null
                  country_name: United States
                  pro_user: false
                  blocked: false
                  left_conversation_at: null
                  discarded_at: null
                - id: 48355
                  receivable_id: 7864
                  receivable_type: UserCompany
                  first_name: Pam
                  last_name: Beesly
                  status: active
                  last_online: '2026-09-29T21:03:55Z'
                  avatar_background: '#EC4899'
                  avatar_url: null
                  image_url: null
                  country_name: United States
                  pro_user: false
                  blocked: false
                  left_conversation_at: null
                  discarded_at: null
                - id: 48362
                  receivable_id: 7871
                  receivable_type: UserCompany
                  first_name: Stanley
                  last_name: Hudson
                  status: active
                  last_online: '2026-09-28T17:00:00Z'
                  avatar_background: '#10B981'
                  avatar_url: null
                  image_url: null
                  country_name: United States
                  pro_user: false
                  blocked: false
                  left_conversation_at: null
                  discarded_at: null
                creator: null
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
  "/api/v1/messaging/bots":
    get:
      summary: List bots
      tags:
      - messaging---bots
      operationId: messaging_v1_list_messaging_bots
      security:
      - bearer_auth: []
      description: |-
        List your company's bots. Callable by a company admin or rep whose role includes the messaging view permission. Company admins see every active bot, including archived ones; other callers see only unarchived response bots. Deleted bots are never listed.

        Results are paginated by page number with `page` and `per_page` (default 20). The response is a two-element array: the pagination details, then the bots in `items`.
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          default: 1
        required: false
      - name: per_page
        in: query
        schema:
          type: integer
          default: 20
        required: false
      - name: filterrific[by_type]
        in: query
        schema:
          type: string
        required: false
        description: Filter bots by type (e.g. ResponseBot, BroadcastBot)
      responses:
        '200':
          description: A page of bots.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MessagingBotPage"
              example:
                - pagination:
                    current: 1
                    previous: null
                    next: null
                    per_page: 20
                    pages: 1
                    count: 2
                - items:
                  - id: 3187
                    title: Paper Order Helper
                    description: Answers questions about paper stock and delivery times
                    type: ResponseBot
                    image_url: https://cdn.fluid.app/bots/3187/paper-order-helper.png
                    avatar_background_color: 1565C0
                    avatar_emoji: null
                    archived_at: null
                    recipient:
                      id: 48176
                      discarded_at: null
                      avatar_background: null
                      first_name: Paper Order Helper
                      last_name: null
                      email: null
                      phone: null
                      blocked: false
                    conversation: null
                    conversations: []
                    webhook_external_uri: https://bots.piedpiper.com/fluid/dunder-mifflin/paper-orders
                    webhook_http_method: post
                  - id: 3204
                    title: Sales Wins
                    description: Posts closed deals from the CRM into the sales channel
                    type: BroadcastBot
                    image_url: https://cdn.fluid.app/bots/3204/sales-wins.png
                    avatar_background_color: 2E7D32
                    avatar_emoji: null
                    archived_at: null
                    recipient:
                      id: 48190
                      discarded_at: null
                      avatar_background: null
                      first_name: Sales Wins
                      last_name: null
                      email: null
                      phone: null
                      blocked: false
                    conversation: null
                    conversations:
                    - id: 90457
                      name: Scranton Sales Wins
                      description: Closed deals and shout-outs from the Scranton branch
                      avatar_url: null
                      webhook_url: https://www.fluid.app/inbounds/bots/Hq4sW2mZ8kRtY7vN3pLbX9cE/48190/Tz6KfP1dQ8wVn3JxR5sYb2Lm
                      removed_at: null
                    webhook_external_uri: null
                    webhook_http_method: null
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
    post:
      summary: Create a bot
      tags:
      - messaging---bots
      operationId: messaging_v1_create_messaging_bot
      security:
      - bearer_auth: []
      description: Create a bot. Callable by a company admin whose role includes the messaging update permission. A `ResponseBot` needs `webhook_external_uri` (and optionally `webhook_auth_token` and `webhook_http_method`) so its messages can be delivered; a `BroadcastBot` can be added to channel conversations at once with `conversation_ids`. Returns 400 with the validation errors when the bot or its webhook is invalid.
      responses:
        '201':
          description: The created bot.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MessagingBot"
              example:
                id: 3187
                title: Paper Order Helper
                description: Answers questions about paper stock and delivery times
                type: ResponseBot
                image_url: https://cdn.fluid.app/bots/3187/paper-order-helper.png
                avatar_background_color: 1565C0
                avatar_emoji: null
                archived_at: null
                recipient:
                  id: 48176
                  discarded_at: null
                  avatar_background: null
                  first_name: Paper Order Helper
                  last_name: null
                  email: null
                  phone: null
                  blocked: false
                conversation: null
                conversations: []
                webhook_external_uri: https://bots.piedpiper.com/fluid/dunder-mifflin/paper-orders
                webhook_http_method: post
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bot:
                  type: object
                  properties:
                    title:
                      type: string
                    description:
                      type: string
                    type:
                      type: string
                      enum:
                      - ResponseBot
                      - BroadcastBot
                    external_uri:
                      type: string
                    image_url:
                      type: string
                    avatar_background_color:
                      type: string
                    avatar_emoji:
                      type: string
                    webhook_external_uri:
                      type: string
                    webhook_auth_token:
                      type: string
                    webhook_http_method:
                      type: string
                    conversation_ids:
                      type: array
                      items:
                        type: integer
                  required:
                  - title
                  - type
              required:
              - bot
            example:
              bot:
                title: Paper Order Helper
                description: Answers questions about paper stock and delivery times
                type: ResponseBot
                image_url: https://cdn.fluid.app/bots/3187/paper-order-helper.png
                avatar_background_color: 1565C0
                webhook_external_uri: https://bots.piedpiper.com/fluid/dunder-mifflin/paper-orders
                webhook_auth_token: pp_whk_9fK2mQ7xL4vR8tN1sB6cZ3yH
                webhook_http_method: post
  "/api/v1/messaging/bots/{bot_id}/add_to_conversation":
    put:
      summary: Add bot to conversation
      tags:
      - messaging---bots
      operationId: messaging_v1_add_bot_to_conversation
      security:
      - bearer_auth: []
      description: Add a broadcast bot to one of your company's channel conversations and post a notice that it joined. Callable by a company admin or rep whose role includes the messaging update permission. Returns 404 when the bot is not an active broadcast bot or the conversation is not a channel in your company.
      parameters:
      - name: conversation_id
        in: query
        required: true
        description: Channel conversation ID
        schema:
          type: integer
      - name: bot_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The bot, with the channel in its `conversations`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MessagingBot"
              example:
                id: 3204
                title: Sales Wins
                description: Posts closed deals from the CRM into the sales channel
                type: BroadcastBot
                image_url: https://cdn.fluid.app/bots/3204/sales-wins.png
                avatar_background_color: 2E7D32
                avatar_emoji: null
                archived_at: null
                recipient:
                  id: 48190
                  discarded_at: null
                  avatar_background: null
                  first_name: Sales Wins
                  last_name: null
                  email: null
                  phone: null
                  blocked: false
                conversation: null
                conversations:
                - id: 90457
                  name: Scranton Sales Wins
                  description: Closed deals and shout-outs from the Scranton branch
                  avatar_url: null
                  webhook_url: https://www.fluid.app/inbounds/bots/Hq4sW2mZ8kRtY7vN3pLbX9cE/48190/Tz6KfP1dQ8wVn3JxR5sYb2Lm
                  removed_at: null
                webhook_external_uri: null
                webhook_http_method: null
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
  "/api/v1/messaging/bots/{bot_id}/remove_from_conversation":
    delete:
      summary: Remove bot from conversation
      tags:
      - messaging---bots
      operationId: messaging_v1_remove_bot_from_conversation
      security:
      - bearer_auth: []
      description: Remove a broadcast bot from one of your company's channel conversations and post a notice that it was removed. Callable by a company admin or rep whose role includes the messaging update permission. Returns 404 when the bot is not an active broadcast bot or the conversation is not a channel in your company.
      parameters:
      - name: conversation_id
        in: query
        required: true
        description: Channel conversation ID
        schema:
          type: integer
      - name: bot_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The bot. The channel stays in its `conversations` with `removed_at` set.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MessagingBot"
              example:
                id: 3204
                title: Sales Wins
                description: Posts closed deals from the CRM into the sales channel
                type: BroadcastBot
                image_url: https://cdn.fluid.app/bots/3204/sales-wins.png
                avatar_background_color: 2E7D32
                avatar_emoji: null
                archived_at: null
                recipient:
                  id: 48190
                  discarded_at: null
                  avatar_background: null
                  first_name: Sales Wins
                  last_name: null
                  email: null
                  phone: null
                  blocked: false
                conversation: null
                conversations:
                - id: 90457
                  name: Scranton Sales Wins
                  description: Closed deals and shout-outs from the Scranton branch
                  avatar_url: null
                  webhook_url: https://www.fluid.app/inbounds/bots/Hq4sW2mZ8kRtY7vN3pLbX9cE/48190/Tz6KfP1dQ8wVn3JxR5sYb2Lm
                  removed_at: '2026-09-30T15:22:41Z'
                webhook_external_uri: null
                webhook_http_method: null
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
  "/api/v1/messaging/bots/{id}":
    get:
      summary: Show a bot
      tags:
      - messaging---bots
      operationId: messaging_v1_show_messaging_bot
      security:
      - bearer_auth: []
      description: Retrieve one of your company's bots. Callable by a company admin or rep whose role includes the messaging view permission; only company admins can view an archived bot. Returns 404 for a deleted bot.
      responses:
        '200':
          description: The bot.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MessagingBotDetail"
              example:
                id: 3187
                title: Paper Order Helper
                description: Answers questions about paper stock and delivery times
                type: ResponseBot
                image_url: https://cdn.fluid.app/bots/3187/paper-order-helper.png
                avatar_background_color: 1565C0
                avatar_emoji: null
                archived_at: null
                recipient:
                  id: 48176
                  discarded_at: null
                  avatar_background: null
                  first_name: Paper Order Helper
                  last_name: null
                  email: null
                  phone: null
                  blocked: false
                conversation: null
                conversations: []
                webhook_external_uri: https://bots.piedpiper.com/fluid/dunder-mifflin/paper-orders
                webhook_http_method: post
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    put:
      summary: Update a bot
      tags:
      - messaging---bots
      operationId: messaging_v1_update_messaging_bot
      security:
      - bearer_auth: []
      description: Update a bot. Callable by a company admin whose role includes the messaging update permission. A bot's `type` cannot be changed. For a response bot, the webhook is updated to match. Returns 400 with the validation errors when the bot or its webhook is invalid.
      responses:
        '200':
          description: The updated bot.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MessagingBot"
              example:
                id: 3187
                title: Paper Order Helper
                description: Answers questions about paper stock, delivery times, and reorders
                type: ResponseBot
                image_url: https://cdn.fluid.app/bots/3187/paper-order-helper.png
                avatar_background_color: 1565C0
                avatar_emoji: null
                archived_at: null
                recipient:
                  id: 48176
                  discarded_at: null
                  avatar_background: null
                  first_name: Paper Order Helper
                  last_name: null
                  email: null
                  phone: null
                  blocked: false
                conversation: null
                conversations: []
                webhook_external_uri: https://bots.piedpiper.com/fluid/dunder-mifflin/paper-orders
                webhook_http_method: post
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bot:
                  type: object
                  properties:
                    title:
                      type: string
                    description:
                      type: string
                    external_uri:
                      type: string
                    image_url:
                      type: string
                    avatar_background_color:
                      type: string
                    avatar_emoji:
                      type: string
                    webhook_external_uri:
                      type: string
                    webhook_auth_token:
                      type: string
                    webhook_http_method:
                      type: string
                    conversation_ids:
                      type: array
                      items:
                        type: integer
              required:
              - bot
            example:
              bot:
                description: Answers questions about paper stock, delivery times, and reorders
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Delete a bot
[...]
