---
openapi: 3.1.0
servers:
- url: https://api.fluid.app
- url: https://{company}.fluid.app
  description: Production server with company subdomain
  variables:
    company:
      default: myco
      description: Company subdomain
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
  schemas:
    JsonValue:
      description: Any valid JSON value for provider, integration, theme, metadata,
        or other dynamic payloads whose keys are not fixed by the API contract.
      anyOf:
      - type: string
      - type: number
      - type: boolean
      - type: 'null'
      - type: array
        items:
          "$ref": "#/components/schemas/JsonValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorValue:
      description: A validation or API error value.
      anyOf:
      - type: string
      - type: array
        items:
          type: string
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorBag:
      description: Validation errors keyed by field, a list of errors, a single error
        message, or null when no structured error details are available.
      anyOf:
      - type: string
      - type: array
        items:
          "$ref": "#/components/schemas/ErrorValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/ErrorValue"
      - type: 'null'
    ErrorMessage:
      description: An API error message represented as text or structured JSON.
      anyOf:
      - type: string
      - "$ref": "#/components/schemas/ErrorBag"
      - type: 'null'
    StandardErrorResponse:
      description: Common legacy error response envelope. Older endpoints may return
        one or more of these fields depending on the controller path.
      type: object
      properties:
        message:
          type: string
        error:
          "$ref": "#/components/schemas/ErrorMessage"
        error_message:
          "$ref": "#/components/schemas/ErrorMessage"
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          "$ref": "#/components/schemas/Meta"
      additionalProperties:
        "$ref": "#/components/schemas/JsonValue"
    StandardUnauthorizedResponse:
      description: Common legacy unauthorized response envelope.
      allOf:
      - "$ref": "#/components/schemas/StandardErrorResponse"
    NotFoundMessageResponse:
      description: Bare not-found message rendered by the shared missing-record
        handler (e.g. "Mobile::Navigation not found.").
      type: string
    MobilePageRulesSearchResponse:
      type: object
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        mobile_page:
          "$ref": "#/components/schemas/MobilePageIndex"
      required:
      - meta
      - mobile_page
      additionalProperties: false
    MobilePageBareResponse:
      type: object
      properties:
        mobile_page:
          type: 'null'
      required:
      - mobile_page
      additionalProperties: false
    MobilePageShareableContentListResponse:
      type: object
      properties:
        contents:
          type: array
          items:
            "$ref": "#/components/schemas/MobilePageShareableContent"
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                current_page:
                  type: integer
                per_page:
                  type: integer
                total_count:
                  type: integer
                total_pages:
                  type: integer
              required:
              - current_page
              - per_page
              - total_count
              - total_pages
              additionalProperties: false
            request_id:
              type: string
            timestamp:
              type: string
              format: date-time
          required:
          - pagination
          - request_id
          - timestamp
          additionalProperties: false
      required:
      - contents
      - meta
      additionalProperties: false
    MobilePageAccessRuleSummaryResponse:
      type: object
      properties:
        count:
          type: integer
        ids:
          type: array
          items:
            "$ref": "#/components/schemas/JsonValue"
        names:
          type: string
      required:
      - count
      - ids
      - names
      additionalProperties: false
    MobilePageResponse:
      type: object
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        mobile_page:
          "$ref": "#/components/schemas/MobilePage"
      required:
      - meta
      - mobile_page
      additionalProperties: false
    MobilePageDeleteResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            message:
              type: string
          required:
          - message
          additionalProperties: false
        status:
          type: string
      required:
      - data
      - status
      additionalProperties: false
    MobilePageListResponse:
      type: object
      properties:
        meta:
          type: object
          properties:
            current_page:
              type: integer
            next_page:
              type: 'null'
            prev_page:
              type: 'null'
            request_id:
              type: string
            timestamp:
              type: string
              format: date-time
            total_count:
              type: integer
            total_pages:
              type: integer
          required:
          - current_page
          - next_page
          - prev_page
          - request_id
          - timestamp
          - total_count
          - total_pages
          additionalProperties: false
        mobile_pages:
          type: array
          items:
            "$ref": "#/components/schemas/MobilePageIndex"
      required:
      - meta
      - mobile_pages
      additionalProperties: false
    MobilePageAvailableResourceListResponse:
      type: object
      properties:
        available_resources:
          type: array
          items:
            "$ref": "#/components/schemas/MobilePageAvailableResource"
        meta:
          "$ref": "#/components/schemas/Meta"
      required:
      - available_resources
      - meta
      additionalProperties: false
    MobilePageShareSectionListResponse:
      type: object
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        share_sections:
          type: array
          items:
            "$ref": "#/components/schemas/MobilePageShareSection"
      required:
      - meta
      - share_sections
      additionalProperties: false
    MobilePageCompositeResponse:
      type: object
      properties:
        available_resources:
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/MobilePageAvailableResource"
        contents:
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/MobilePageShareableContent"
        count:
          type:
          - integer
          - 'null'
        data:
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/MobilePageUserSearchResult"
        ids:
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/JsonValue"
        meta:
          type:
          - object
          - 'null'
          properties:
            current_page:
              type:
              - integer
              - 'null'
            next_page:
              type: 'null'
            pagination:
              type:
              - object
              - 'null'
              properties:
                current_page:
                  type: integer
                per_page:
                  type: integer
                total_count:
                  type: integer
                total_pages:
                  type: integer
              required:
              - current_page
              - per_page
              - total_count
              - total_pages
              additionalProperties: false
            prev_page:
              type: 'null'
            request_id:
              type: string
            timestamp:
              type: string
              format: date-time
            total_count:
              type:
              - integer
              - 'null'
            total_pages:
              type:
              - integer
              - 'null'
          required:
          - request_id
          - timestamp
          additionalProperties: false
        mobile_page:
          type:
          - object
          - 'null'
          properties:
            allow_media_creation:
              type: boolean
            associated_displayables:
              type:
              - array
              - 'null'
              items:
                "$ref": "#/components/schemas/JsonValue"
            company_id:
              type: integer
            countries:
              type:
              - array
              - 'null'
              items:
                "$ref": "#/components/schemas/JsonValue"
            created_at:
              type: string
              format: date-time
            default:
              type: boolean
            id:
              type: integer
            kind:
              type: string
            languages:
              type:
              - array
              - 'null'
              items:
                "$ref": "#/components/schemas/JsonValue"
            member_types:
              type:
              - array
              - 'null'
              items:
                "$ref": "#/components/schemas/JsonValue"
            mobile_page_tabs:
              type:
              - array
              - 'null'
              items:
                "$ref": "#/components/schemas/MobilePageTab"
            name:
              type: string
            ranks:
              type:
              - array
              - 'null'
              items:
                "$ref": "#/components/schemas/JsonValue"
            status:
              type: string
            tabs:
              type:
              - integer
              - 'null'
            updated_at:
              type: string
              format: date-time
            visibility:
              type:
              - integer
              - 'null'
          required:
          - company_id
          - created_at
          - default
          - id
          - kind
          - name
          - status
          - updated_at
          additionalProperties: false
        mobile_pages:
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/MobilePageIndex"
        names:
          type:
          - string
          - 'null'
        share_sections:
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/MobilePageShareSection"
        status:
          type:
          - string
          - 'null'
      additionalProperties: false
    MobilePageTabBulkDestroyResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            data:
              type: string
            status:
              type: string
          required:
          - data
          - status
          additionalProperties: false
        status:
          type: string
      required:
      - data
      - status
      additionalProperties: false
    MobilePageTabDeleteResponse:
      type: object
      properties:
        data:
          type:
          - object
          - 'null'
          properties:
            data:
              type: string
            status:
              type: string
          required:
          - data
          - status
          additionalProperties: false
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type: string
            timestamp:
              type: string
              format: date-time
          required:
          - request_id
          - timestamp
          additionalProperties: false
        mobile_page_tab:
          type:
          - object
          - 'null'
          properties:
            id:
              type: integer
            json:
              type: object
              properties:
                content:
                  type: array
                  items:
                    "$ref": "#/components/schemas/JsonValue"
                root:
                  type: object
                  additionalProperties: false
                zones:
                  type: object
                  additionalProperties: false
              required:
              - content
              - root
              - zones
              additionalProperties: false
            kind:
              type: string
            mobile_page_id:
              type: integer
            mobile_slug:
              type:
              - string
              - 'null'
            name:
              type: string
            navigational:
              type: boolean
            order:
              type: integer
          required:
          - id
          - json
          - kind
          - mobile_page_id
          - mobile_slug
          - name
          - navigational
          - order
          additionalProperties: false
        status:
          type:
          - string
          - 'null'
      additionalProperties: false
    MobilePageTabResponse:
      type: object
      properties:
        meta:
          "$ref": "#/components/schemas/Meta"
        mobile_page_tab:
          "$ref": "#/components/schemas/MobilePageTab"
      required:
      - meta
      - mobile_page_tab
      additionalProperties: false
    MobilePageUserSearchResponse:
      type: object
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/MobilePageUserSearchResult"
        meta:
          "$ref": "#/components/schemas/Meta"
        status:
          type: string
      required:
      - data
      - meta
      - status
      additionalProperties: false
    Meta:
      type: object
      properties:
        request_id:
          type: string
        timestamp:
          type: string
          format: date-time
      required:
      - request_id
      - timestamp
      additionalProperties: false
    MobilePageIndex:
      type: object
      properties:
        company_id:
          type: integer
        countries:
          type: array
          items:
            "$ref": "#/components/schemas/JsonValue"
        created_at:
          type: string
          format: date-time
        default:
          type: boolean
        id:
          type: integer
        kind:
          type: string
        languages:
          type: array
          items:
            "$ref": "#/components/schemas/JsonValue"
        member_types:
          type: array
          items:
            "$ref": "#/components/schemas/JsonValue"
        name:
          type: string
        ranks:
          type: array
          items:
            "$ref": "#/components/schemas/JsonValue"
        status:
          type: string
        tabs:
          type: integer
        updated_at:
          type: string
          format: date-time
        visibility:
          type: integer
      required:
      - company_id
      - countries
      - created_at
      - default
      - id
      - kind
      - languages
      - member_types
      - name
      - ranks
      - status
      - tabs
      - updated_at
      - visibility
      additionalProperties: false
    MobilePage:
      type: object
      properties:
        allow_media_creation:
          type: boolean
        associated_displayables:
          type: array
          items:
            "$ref": "#/components/schemas/JsonValue"
        company_id:
          type: integer
        created_at:
          type: string
          format: date-time
        default:
          type: boolean
        id:
          type: integer
        kind:
          type: string
        mobile_page_tabs:
          type: array
          items:
            "$ref": "#/components/schemas/MobilePageTab"
        name:
          type: string
        status:
          type: string
        updated_at:
          type: string
          format: date-time
      required:
      - allow_media_creation
      - associated_displayables
      - company_id
      - created_at
      - default
      - id
      - kind
      - mobile_page_tabs
      - name
      - status
      - updated_at
      additionalProperties: false
    MobilePageTab:
      type: object
      properties:
        id:
          type: integer
        json:
          type: object
          properties:
            content:
              type: array
              items:
                "$ref": "#/components/schemas/JsonValue"
            root:
              type: object
              additionalProperties: false
            zones:
              type: object
              additionalProperties: false
          required:
          - content
          - root
          - zones
          additionalProperties: false
        kind:
          type: string
        mobile_page_id:
          type: integer
        mobile_slug:
          type:
          - string
          - 'null'
        name:
          type: string
        navigational:
          type: boolean
        order:
          type: integer
      required:
      - id
      - json
      - kind
      - mobile_page_id
      - mobile_slug
      - name
      - navigational
      - order
      additionalProperties: false
    MobilePageAvailableResource:
      type: object
      properties:
        id:
          oneOf:
          - type: integer
          - type: string
        name:
          type: string
      required:
      - id
      - name
      additionalProperties: false
    MobilePageShareSection:
      type: object
      properties:
        description:
          type: string
        id:
          type: integer
        slug:
          type: string
        title:
          type: string
      required:
      - description
      - id
      - slug
      - title
      additionalProperties: false
    MobilePageShareableContent:
      type: object
      properties:
        created_at:
          type: string
        description:
          type: 'null'
        id:
          type: integer
        image_url:
          type:
          - string
          - 'null'
        kind:
          type: string
        share_link:
          type: string
        shareable_type:
          type: string
        status:
          type: string
        title:
          type: string
        video_url:
          type:
          - string
          - 'null'
      required:
      - created_at
      - description
      - id
      - image_url
      - kind
      - share_link
      - shareable_type
      - status
      - title
      - video_url
      additionalProperties: false
    MobilePageUserSearchResult:
      type: object
      properties:
        avatar:
          type: string
        country:
          type: string
        language:
          type: string
        name:
          type: string
        rank:
          type: string
        text:
          type: string
        value:
          type: integer
      required:
      - avatar
      - country
      - language
      - name
      - rank
      - text
      - value
      additionalProperties: false
    MobileNavigationItem:
      type: object
      properties:
        id:
          type: integer
        lock_version:
          type: integer
        kind:
          type: string
        label:
          type: string
        position:
          type: integer
        enabled:
          type: boolean
        screen_key:
          type:
          - string
          - 'null'
        embed_url:
          type:
          - string
          - 'null'
        icon_key:
          type: string
        open_in_full_screen:
          type: boolean
      required:
      - id
      - lock_version
      - kind
      - label
      - position
      - enabled
      - screen_key
      - embed_url
      - icon_key
      - open_in_full_screen
      additionalProperties: false
    MobileNavigationItemWrite:
      type: object
      properties:
        id:
          type: integer
        label:
          type: string
        position:
          type: integer
        enabled:
          type: boolean
        embed_url:
          type:
          - string
          - 'null'
        icon_key:
          type:
          - string
          - 'null'
        open_in_full_screen:
          type: boolean
        _destroy:
          type: boolean
      additionalProperties: false
    MobileNavigationMemberType:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
      required:
      - id
      - name
      additionalProperties: false
    MobileNavigationAccessRule:
      type: object
      properties:
        id:
          type: integer
        displayable_type:
          type: string
        displayable_name:
          type: string
        displayable_id:
          oneOf:
          - type: integer
          - type: string
      required:
      - id
      - displayable_type
      - displayable_name
      - displayable_id
      additionalProperties: false
    MobileNavigationAccessRuleWrite:
      type: object
      properties:
        id:
          type: integer
        displayable_type:
          type: string
        displayable_id:
          oneOf:
          - type: integer
          - type: string
        member_type_id:
          type: string
        _destroy:
          type: boolean
      additionalProperties: false
    MobileNavigationCreateRequest:
      description: Sending member_type_id or access_rules creates a customization
        of the default navigation; sending neither creates a blank inactive draft.
      type: object
      properties:
        member_type_id:
          type: string
        access_rules:
          type: array
          items:
            "$ref": "#/components/schemas/MobileNavigationAccessRuleWrite"
      additionalProperties: false
    MobileNavigationUpdateRequest:
      type: object
      properties:
        lock_version:
          type: integer
        name:
          type: string
        status:
          type: string
          enum:
          - active
          - inactive
        items:
          type: array
          items:
            "$ref": "#/components/schemas/MobileNavigationItemWrite"
        access_rules:
          type: array
          items:
            "$ref": "#/components/schemas/MobileNavigationAccessRuleWrite"
      required:
      - lock_version
      anyOf:
      - required:
        - items
      - required:
        - access_rules
      - required:
        - name
      - required:
        - status
      additionalProperties: false
    MobileNavigation:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        status:
          type: string
          enum:
          - active
          - inactive
        lock_version:
          type: integer
        default:
          type: boolean
        member_type:
          oneOf:
          - "$ref": "#/components/schemas/MobileNavigationMemberType"
          - type: 'null'
        access_rules:
          type: array
          items:
            "$ref": "#/components/schemas/MobileNavigationAccessRule"
        items:
          type: array
          items:
            "$ref": "#/components/schemas/MobileNavigationItem"
      required:
      - id
      - name
      - status
      - lock_version
      - default
      - member_type
      - access_rules
      - items
      additionalProperties: false
    MobileNavigationResponse:
      type: object
      properties:
        mobile_navigation:
          "$ref": "#/components/schemas/MobileNavigation"
      required:
      - mobile_navigation
      additionalProperties: false
    MobileNavigationIndexRow:
      description: One row of the admin navigations table — an item count and
        access-rule dimension names instead of the full items/rules payload.
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        status:
          type: string
          enum:
          - active
          - inactive
        default:
          type: boolean
        lock_version:
          type: integer
        items:
          type: integer
        countries:
          type: array
          items:
            type: string
        languages:
          type: array
          items:
            type: string
        ranks:
          type: array
          items:
            type: string
        member_types:
          type: array
          items:
            type: string
      required:
      - id
      - name
      - status
      - default
      - lock_version
      - items
      - countries
      - languages
      - ranks
      - member_types
      additionalProperties: false
    MobileNavigationListMeta:
      type: object
      properties:
        total_count:
          type: integer
        current_page:
          type: integer
        per_page:
          type: integer
      required:
      - total_count
      - current_page
      - per_page
      additionalProperties: false
    MobileNavigationListResponse:
      type: object
      properties:
        mobile_navigations:
          type: array
          items:
            "$ref": "#/components/schemas/MobileNavigationIndexRow"
        meta:
          "$ref": "#/components/schemas/MobileNavigationListMeta"
      required:
      - mobile_navigations
      - meta
      additionalProperties: false
    MobileNavigationAvailableResource:
      type: object
      properties:
        id:
          oneOf:
          - type: integer
          - type: string
        name:
          type: string
      required:
      - id
      - name
      additionalProperties: false
    MobileNavigationIcon:
      type: object
      properties:
        key:
          type: string
        name:
          type: string
        category:
          type: string
      required:
      - key
      - name
      additionalProperties: false
    MobileNavigationAvailableResourcesResponse:
      type: object
      properties:
        countries:
          type: array
          items:
            "$ref": "#/components/schemas/MobileNavigationAvailableResource"
        languages:
          type: array
          items:
            "$ref": "#/components/schemas/MobileNavigationAvailableResource"
        ranks:
          type: array
          items:
            "$ref": "#/components/schemas/MobileNavigationAvailableResource"
        member_types:
          type: array
          items:
            "$ref": "#/components/schemas/MobileNavigationAvailableResource"
        icons:
          type: array
          items:
            "$ref": "#/components/schemas/MobileNavigationIcon"
      required:
      - countries
      - languages
      - ranks
      - member_types
      - icons
      additionalProperties: false
info:
  title: Fluid Mobile v2 API
  version: v2
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
paths:
  "/api/v2/mobile_pages":
    post:
      operationId: mobile_v0_mobile_pages_create
      summary: Create mobile page
      tags:
      - mobile-pages
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MobilePageResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
  "/api/v2/mobile_pages/advanced_search_by_rules":
    get:
      operationId: mobile_v0_mobile_pages_advanced_search_by_rules_get
      summary: Advanced Search By Rules advanced search by rules
      tags:
      - mobile-pages
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MobilePageRulesSearchResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/v2/mobile_pages/advanced_search_by_user":
    get:
      operationId: mobile_v0_mobile_pages_advanced_search_by_user_get
      summary: Advanced Search By User advanced search by user
      tags:
      - mobile-pages
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MobilePageBareResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/v2/mobile_pages/available_shareable_contents":
    get:
      operationId: mobile_v0_mobile_pages_available_shareable_contents_get
      summary: Available Shareable Contents available shareable contents
      tags:
      - mobile-pages
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MobilePageShareableContentListResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/v2/mobile_pages/check_active_pages_with_access_rules":
    get:
      operationId: mobile_v0_mobile_pages_check_active_pages_with_access_rules_get
      summary: Check Active Pages With Access Rules check active pages with access
        rules
      tags:
      - mobile-pages
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MobilePageAccessRuleSummaryResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/v2/mobile_pages/explore":
    get:
      operationId: mobile_v0_mobile_pages_explore_get
      summary: Explore explore
      tags:
      - mobile-pages
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MobilePageListResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/v2/mobile_pages/fetch_available_resources":
    get:
      operationId: mobile_v0_mobile_pages_fetch_available_resources_get
      summary: Fetch Available Resources fetch available resources
      tags:
      - mobile-pages
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MobilePageAvailableResourceListResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/v2/mobile_pages/fetch_available_share_sections":
    get:
      operationId: mobile_v0_mobile_pages_fetch_available_share_sections_get
      summary: Fetch Available Share Sections fetch available share sections
      tags:
      - mobile-pages
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MobilePageShareSectionListResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/v2/mobile_pages/fetch_default_page":
    get:
      operationId: mobile_v0_mobile_pages_fetch_default_page_get
      summary: Fetch Default Page fetch default page
      tags:
      - mobile-pages
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MobilePageRulesSearchResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/v2/mobile_pages/home":
    get:
      operationId: mobile_v0_mobile_pages_home_get_2
      summary: Home home
      tags:
      - mobile-pages
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MobilePageListResponse"
        '401':
          description: Unauthorized
      security:
      - bearer_auth: []
  "/api/v2/mobile_pages/shop":
    get:
      operationId: mobile_v0_mobile_pages_shop_get
      summary: Shop shop
      tags:
      - mobile-pages
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MobilePageListResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/v2/mobile_pages/users_search":
    get:
      operationId: mobile_v0_mobile_pages_users_search_get
      summary: Users Search users search
      tags:
      - mobile-pages
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MobilePageUserSearchResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/v2/mobile_pages/{id}":
    get:
      operationId: mobile_v0_mobile_pages_get_2
      summary: Get mobile pages
      tags:
      - mobile-pages
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MobilePageCompositeResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      security:
      - bearer_auth: []
    patch:
      operationId: mobile_v0_mobile_pages_patch
      summary: Update mobile pages
      tags:
      - mobile-pages
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MobilePageResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      security:
      - bearer_auth: []
    put:
      operationId: mobile_v0_mobile_pages_put
      summary: Update mobile pages
      tags:
      - mobile-pages
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MobilePageResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      security:
      - bearer_auth: []
    delete:
      operationId: mobile_v0_mobile_pages_delete
      summary: Delete mobile pages
      tags:
      - mobile-pages
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MobilePageDeleteResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/v2/mobile_pages/{id}/clone":
    post:
      operationId: mobile_v0_mobile_pages_clone_post
      summary: Clone clone
      tags:
      - mobile-pages
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MobilePageResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/v2/mobile_pages/{id}/set_default":
    post:
      operationId: mobile_v0_mobile_pages_set_default_post
      summary: Set Default set default
      tags:
      - mobile-pages
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MobilePageResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/v2/mobile_pages/{mobile_page_id}/mobile_page_tabs":
    post:
      operationId: mobile_v0_mobile_pages_mobile_page_tabs_post
      summary: Mobile Page Tabs mobile page tabs
      tags:
      - mobile-pages
      parameters:
      - name: mobile_page_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MobilePageTabResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/v2/mobile_pages/{mobile_page_id}/mobile_page_tabs/bulk_destroy":
    delete:
      operationId: mobile_v0_mobile_pages_mobile_page_tabs_bulk_destroy_delete
      summary: Bulk Destroy bulk destroy
      tags:
      - mobile-pages
      parameters:
      - name: mobile_page_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MobilePageTabBulkDestroyResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/v2/mobile_pages/{mobile_page_id}/mobile_page_tabs/{id}":
    delete:
      operationId: mobile_v0_mobile_pages_mobile_page_tabs_delete
      summary: Delete mobile page tabs
      tags:
      - mobile-pages
      parameters:
      - name: mobile_page_id
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MobilePageTabDeleteResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      security:
      - bearer_auth: []
  "/api/v2/mobile_navigations":
    get:
      operationId: mobile_v0_mobile_navigations_index
      summary: List mobile navigations
      tags:
      - mobile-navigations
      security:
      - bearer_auth: []
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          default: 1
        required: false
        description: Page number for pagination
      - name: per_page
        in: query
        schema:
          type: integer
          default: 20
          maximum: 100
        required: false
        description: Number of records per page (capped at 100)
      - name: search_query
        in: query
        schema:
          type: string
        required: false
        description: Filter by navigation name (case-insensitive substring)
      - name: with_status
        in: query
        schema:
          type: string
          enum:
          - active
          - inactive
        required: false
        description: Filter by status
      - name: with_country_ids[]
        in: query
        schema:
          type: array
          items:
            type: integer
        required: false
        description: Navigations with a country access rule referencing any of
          these country ids
      - name: with_language_ids[]
        in: query
        schema:
          type: array
          items:
            type: integer
        required: false
        description: Navigations with a language access rule referencing any of
          these language ids
      - name: with_rank_ids[]
        in: query
        schema:
          type: array
          items:
            type: integer
        required: false
        description: Navigations with a rank access rule referencing any of
          these rank ids
      - name: sort_by
        in: query
        schema:
          type: string
          default: created_at_desc
        required: false
        description: 'Sort order (name_asc, name_desc, status_asc, status_desc, created_at_asc,
          created_at_desc); unknown values fall back to created_at_desc'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MobileNavigationListResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
    post:
      operationId: mobile_v0_mobile_navigations_create
      summary: Create mobile navigation customization or blank draft
      tags:
      - mobile-navigations
      requestBody:
        required: false
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MobileNavigationCreateRequest"
      security:
      - bearer_auth: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MobileNavigationResponse"
        '400':
          description: Invalid member_type_id
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
  "/api/v2/mobile_navigations/available_resources":
    get:
      operationId: mobile_v0_mobile_navigations_available_resources_get
      summary: List resources available as navigation access rules
      tags:
      - mobile-navigations
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MobileNavigationAvailableResourcesResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
  "/api/v2/mobile_navigations/{id}":
    get:
      operationId: mobile_v0_mobile_navigations_show
      summary: Fetch one mobile navigation
      tags:
      - mobile-navigations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MobileNavigationResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Navigation not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NotFoundMessageResponse"
    patch:
      operationId: mobile_v0_mobile_navigations_update
      summary: Update mobile navigation items, access rules, name, and status
      tags:
      - mobile-navigations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MobileNavigationUpdateRequest"
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MobileNavigationResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Navigation or referenced record not found
          content:
            application/json:
              schema:
                anyOf:
                - "$ref": "#/components/schemas/StandardErrorResponse"
                - "$ref": "#/components/schemas/NotFoundMessageResponse"
        '409':
          description: Navigation was modified by another session
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
    delete:
      operationId: mobile_v0_mobile_navigations_destroy
      summary: Remove mobile navigation customization
      tags:
      - mobile-navigations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MobileNavigationResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Navigation not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NotFoundMessageResponse"
        '422':
          description: Default navigation cannot be removed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
