---
openapi: 3.1.0
info:
  title: Fluid Onboarding API
  version: v0
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
- url: https://{company}.fluid.app
  description: Production server with company subdomain
  variables:
    company:
      default: myco
      description: Company subdomain
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: Bearer token authentication
  schemas:
    UnauthorizedResponse:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    SetCompanyBundleSubscriptionsRequestBodyApplicationJsonSchema:
      type: object
      required:
      - bundle_subscriptions
      properties:
        bundle_subscriptions:
          type: boolean
          description: Enable or disable bundle subscriptions for the company.
    SetShippingMethodRequestBodyApplicationJsonSchema:
      type: object
      required:
      - settings
      properties:
        settings:
          type: object
          properties:
            shipping:
              type: string
              enum:
              - manual
              - country
              - droplet
              - fluid-rates
              description: Shipping calculation mode
            allow_free_shipping:
              type: boolean
              description: Allow free shipping
    SetCompanyTaxClassRequestBodyApplicationJsonSchema:
      type: object
      required:
      - tax_class
      properties:
        tax_class:
          type: string
          enum:
          - fluid
          - custom
          - droplet
          - avalara
          - tax_free
          - per_country
          description: Choose service class to be used for taxation.
    SetCompanyTaxOptionRequestBodyApplicationJsonSchema:
      type: object
      required:
      - tax_option
      properties:
        tax_option:
          type: string
          description: Choose service for taxation.
    RefreshOnboardingUrlRequestBodyApplicationJsonSchema:
      type: object
      required:
      - url
      properties:
        url:
          type: string
          format: uri
    UploadOnboardingDocumentRequestBody:
      type: object
      required:
      - file
      properties:
        file:
          type: string
          format: binary
          description: Document file to upload.
    CreateCompanyOwnerRequestBodyApplicationJsonSchema:
      type: object
      required:
      - owner
      - company_id
      properties:
        owner:
          "$ref": "#/components/schemas/OnboardingCompanyOwnerCreateRequest"
        company_id:
          type: integer
    UpdateCompanyOwnerRequestBodyApplicationJsonSchema:
      type: object
      required:
      - owner
      - company_id
      - id
      properties:
        owner:
          "$ref": "#/components/schemas/OnboardingCompanyOwnerRequest"
        company_id:
          type: integer
        id:
          type: integer
    JsonValue:
      description: Any valid JSON value for provider, integration, theme, metadata,
        or other dynamic payloads whose keys are not fixed by the API contract.
      anyOf:
      - type: string
      - type: number
      - type: boolean
      - type: 'null'
      - type: array
        items:
          "$ref": "#/components/schemas/JsonValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorValue:
      description: A validation or API error value.
      anyOf:
      - type: string
      - type: array
        items:
          type: string
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorBag:
      description: Validation errors keyed by field, a list of errors, a single error
        message, or null when no structured error details are available.
      anyOf:
      - type: string
      - type: array
        items:
          "$ref": "#/components/schemas/ErrorValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/ErrorValue"
      - type: 'null'
    ErrorMessage:
      description: An API error message represented as text or structured JSON.
      anyOf:
      - type: string
      - "$ref": "#/components/schemas/ErrorBag"
      - type: 'null'
    StandardErrorResponse:
      description: Common legacy error response envelope. Older endpoints may return
        one or more of these fields depending on the controller path.
      type: object
      properties:
        message:
          type: string
        error:
          "$ref": "#/components/schemas/ErrorMessage"
        error_message:
          "$ref": "#/components/schemas/ErrorMessage"
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          "$ref": "#/components/schemas/OnboardingMeta"
      additionalProperties:
        "$ref": "#/components/schemas/JsonValue"
    StandardUnauthorizedResponse:
      description: Common legacy unauthorized response envelope.
      allOf:
      - "$ref": "#/components/schemas/StandardErrorResponse"
    OnboardingCreateCompanyEntityRequest:
      description: Entity attributes accepted when creating one. `archived` is
        absent on purpose - an entity is retired through an update, once nothing
        live references it, so it cannot be created already retired.
      allOf:
      - "$ref": "#/components/schemas/OnboardingCompanyEntityRequest"
      - type: object
        properties:
          status:
            description: Lifecycle state to open the entity in. Omit it to open
              the entity in the default, `inactive`; a null is refused with 422
              rather than read as the default.
            type: string
            enum:
            - draft
            - active
            - inactive
    OnboardingUpdateCompanyEntityRequest:
      description: Entity attributes accepted when updating one. `draft` and
        `archived` both take the entity out of service and run the same
        reference guards, so either one is refused with 422 while the entity is
        still the company default, still holds live payment accounts, or still
        has countries assigned.
      allOf:
      - "$ref": "#/components/schemas/OnboardingCompanyEntityRequest"
      - type: object
        properties:
          status:
            description: Lifecycle state to move the entity into. Omit it to
              leave the entity where it is; a null is refused with 422 rather
              than read as no change.
            type: string
            enum:
            - draft
            - active
            - inactive
            - archived
    CreateCompanyEntityRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        entity:
          "$ref": "#/components/schemas/OnboardingCreateCompanyEntityRequest"
        company_id:
          type:
          - integer
          - string
          - number
          - 'null'
    UpdateCompanyEntityRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        entity:
          "$ref": "#/components/schemas/OnboardingUpdateCompanyEntityRequest"
        company_id:
          type:
          - integer
          - string
          - number
          - 'null'
        id:
          type:
          - integer
          - string
          - number
          - 'null'
    UpdateCompanyOnboardingInfoRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        onboarding_info_version:
          description: Revision the payload was built from, as returned by the GET.
            When supplied, a save built on a superseded revision is refused with
            409 instead of overwriting concurrent edits. Omit to keep the previous
            last-write-wins behaviour.
          type:
          - integer
          - 'null'
        onboarding_info:
          type:
          - object
          - 'null'
          properties:
            beneficial_individual_owner:
              type:
              - boolean
              - 'null'
            beneficial_individual_owner_names:
              type:
              - array
              - 'null'
              items:
                type:
                - string
                - number
                - integer
                - 'null'
            user_is_owner:
              type:
              - boolean
              - 'null'
            beneficial_business_owner:
              type:
              - boolean
              - 'null'
            other_legal_entities:
              type:
              - boolean
              - 'null'
            user_has_authority:
              type:
              - boolean
              - 'null'
            user_is_signatory:
              type:
              - boolean
              - 'null'
            has_paypal_business_account:
              type:
              - boolean
              - 'null'
            user_is_primary_decision_maker:
              type:
              - boolean
              - 'null'
            business_structure_complexity:
              type:
              - string
              - number
              - integer
              - 'null'
            operates_internationally:
              type:
              - boolean
              - 'null'
            kyc_flow_current_step:
              type:
              - string
              - number
              - integer
              - 'null'
            kyc_flow_completed_steps:
              type:
              - string
              - number
              - integer
              - 'null'
            paypal_connected:
              type:
              - boolean
              - 'null'
            paypal_business_info_prefilled:
              type:
              - boolean
              - 'null'
            onboarding_steps:
              type:
              - object
              - 'null'
              properties:
                basic_info:
                  type:
                  - integer
                  - string
                  - number
                  - 'null'
                paypal_connect:
                  type:
                  - integer
                  - string
                  - number
                  - 'null'
                business_info:
                  type:
                  - integer
                  - string
                  - number
                  - 'null'
                legal_entities:
                  type:
                  - integer
                  - string
                  - number
                  - 'null'
                bank_accounts_i:
                  type:
                  - integer
                  - string
                  - number
                  - 'null'
                bank_accounts_ii:
                  type:
                  - integer
                  - string
                  - number
                  - 'null'
                personal_info:
                  type:
                  - integer
                  - string
                  - number
                  - 'null'
                relevant_persons:
                  type:
                  - integer
                  - string
                  - number
                  - 'null'
                countries:
                  type:
                  - integer
                  - string
                  - number
                  - 'null'
                alternate_payment_methods:
                  type:
                  - integer
                  - string
                  - number
                  - 'null'
                data_migration:
                  type:
                  - integer
                  - string
                  - number
                  - 'null'
                agreements_and_policies:
                  type:
                  - integer
                  - string
                  - number
                  - 'null'
                underwriting:
                  type:
                  - integer
                  - string
                  - number
                  - 'null'
                terms_and_conditions:
                  type:
                  - integer
                  - string
                  - number
                  - 'null'
            countries_info:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  entity_id:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  currency:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  settlement_currency:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  entity_legally_registered:
                    type:
                    - boolean
                    - 'null'
                  country_id:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  country_iso:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
            data_migration:
              type:
              - object
              - 'null'
              properties:
                active:
                  type:
                  - boolean
                  - 'null'
                tokenization_provider:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                estimated_token_count:
                  type:
                  - integer
                  - string
                  - number
                  - 'null'
            underwriting_info:
              type:
              - object
              - 'null'
              properties:
                company_description:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  minLength: 1
                management_stability:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  minLength: 1
                company_is_mlm:
                  type:
                  - boolean
                  - 'null'
                  not:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                mlm_ownership_structure:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                mlm_ownership_structure_file_url:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                mlm_ownership_structure_file_name:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                uses_third_party_accounting:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  minLength: 1
                has_compliance_officer:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  minLength: 1
                compliance_officer_responsibilities:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  minLength: 1
                distributor_monitoring_policies:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  minLength: 1
                suspicious_activity_escalation_process:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  minLength: 1
                retains_outside_legal_counsel:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  minLength: 1
                commission_payment_method:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                commission_payment_channels:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                commission_payment_countries:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                compensation_plan_file_url:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                compensation_plan_file_name:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                recruiter_commission_for_recruiting:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                all_distributors_can_profit:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                provides_average_compensation_report:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                income_disclosure_statement_file_url:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                income_disclosure_statement_file_name:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                distributor_retention_turnover_rates:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                distributor_identification_requirements:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                distributor_pii_collected:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                distributor_due_diligence:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                distributor_country_restrictions:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                distributor_decline_termination_reasons:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                distributor_cross_border_sales:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                distributor_training_description:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                investigations_description:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  minLength: 1
                negative_media_events:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  minLength: 1
                bbb_rating:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  minLength: 1
                trustpilot_rating:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  minLength: 1
                fulfillment_agreement_file_url:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                fulfillment_agreement_file_name:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                manufacturing_agreement_file_url:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                manufacturing_agreement_file_name:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                financials_audited:
                  type:
                  - boolean
                  - 'null'
                financials:
                  type:
                  - array
                  - 'null'
                  items:
                    type:
                    - object
                    - 'null'
                    additionalProperties:
                      "$ref": "#/components/schemas/JsonValue"
                projected_annual_sales_volume:
                  type:
                  - number
                  - string
                  - integer
                  - 'null'
                average_order_value:
                  type:
                  - number
                  - string
                  - integer
                  - 'null'
                cit_share_percentage:
                  type:
                  - number
                  - string
                  - integer
                  - 'null'
                mit_share_percentage:
                  type:
                  - number
                  - string
                  - integer
                  - 'null'
                terms_and_conditions:
                  type:
                  - object
                  - 'null'
                  properties:
                    link:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                    file_name:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                    file_url:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                refund_or_return_policy:
                  type:
                  - object
                  - 'null'
                  properties:
                    link:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                    file_name:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                    file_url:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                privacy_policy:
                  type:
                  - object
                  - 'null'
                  properties:
                    link:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                    file_name:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                    file_url:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                distributor_policies_file_url:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                distributor_policies_file_name:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                sample_distributor_agreement_file_url:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                sample_distributor_agreement_file_name:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                business_opportunity_disclosures_file_url:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                business_opportunity_disclosures_file_name:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                owners_principals_list:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                sells_health_supplements:
                  type:
                  - boolean
                  - 'null'
                is_product_manufacturer:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                marketing_methods_description:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                cancellation_methods_description:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                scientific_studies_description:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                contains_kratom:
                  type:
                  - boolean
                  - 'null'
                kratom_product_names:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                contains_ephedra:
                  type:
                  - boolean
                  - 'null'
                ephedra_product_names:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                contains_cannabis:
                  type:
                  - boolean
                  - 'null'
                cannabis_product_names:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                contains_cbd:
                  type:
                  - boolean
                  - 'null'
                cbd_product_names:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                contains_aristolochia:
                  type:
                  - boolean
                  - 'null'
                aristolochia_product_names:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                contains_germanium:
                  type:
                  - boolean
                  - 'null'
                germanium_product_names:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                contains_none_listed:
                  type:
                  - boolean
                  - 'null'
                claims_cancer_treatment:
                  type:
                  - boolean
                  - 'null'
                cancer_treatment_products:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                claims_impotency_treatment:
                  type:
                  - boolean
                  - 'null'
                impotency_treatment_products:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                claims_alzheimers_treatment:
                  type:
                  - boolean
                  - 'null'
                alzheimers_treatment_products:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                claims_memory_loss_treatment:
                  type:
                  - boolean
                  - 'null'
                memory_loss_treatment_products:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                claims_no_diseases:
                  type:
                  - boolean
                  - 'null'
                health_product_lawsuit_history:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                product_service_description:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                revenue_from_recruiting_percentage:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                revenue_from_website_percentage:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                retail_sales_outside_downline_percentage:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                compliance_monitoring_processes:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                signup_fees_description:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                training_types_description:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                purchase_requirements_description:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                ftc_compliance_description:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
            terms_and_conditions_info:
              type:
              - object
              - 'null'
              properties:
                terms_and_conditions_agreed:
                  type:
                  - boolean
                  - 'null'
                terms_and_conditions_agreed_at:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  format: time
                terms_and_conditions_agreed_by:
                  type:
                  - integer
                  - string
                  - number
                  - 'null'
    OnboardingEntityAddressRequest:
      type:
      - object
      - 'null'
      properties:
        address1:
          type:
          - string
          - number
          - integer
          - 'null'
        address2:
          type:
          - string
          - number
          - integer
          - 'null'
        address3:
          type:
          - string
          - number
          - integer
          - 'null'
        city:
          type:
          - string
          - number
          - integer
          - 'null'
        state:
          type:
          - string
          - number
          - integer
          - 'null'
        postal_code:
          type:
          - string
          - number
          - integer
          - 'null'
        country_code:
          type:
          - string
          - number
          - integer
          - 'null'
    OnboardingCompanyEntityRequest:
      type:
      - object
      - 'null'
      properties:
        legal_name:
          type:
          - string
          - number
          - integer
          - 'null'
        classification:
          type:
          - string
          - number
          - integer
          - 'null'
        trading_name:
          type:
          - string
          - number
          - integer
          - 'null'
        country_iso:
          type:
          - string
          - number
          - integer
          - 'null'
        address1:
          type:
          - string
          - number
          - integer
          - 'null'
        address2:
          type:
          - string
          - number
          - integer
          - 'null'
        city:
          type:
          - string
          - number
          - integer
          - 'null'
        province:
          type:
          - string
          - number
          - integer
          - 'null'
        postal_code:
          type:
          - string
          - number
          - integer
          - 'null'
        registration_number:
          type:
          - string
          - number
          - integer
          - 'null'
        date_of_incorporation:
          type:
          - string
          - number
          - integer
          - 'null'
        primary_mcc:
          type:
          - integer
          - string
          - number
          - 'null'
        secondary_mcc:
          type:
          - integer
          - string
          - number
          - 'null'
        phone_country_code:
          type:
          - string
          - number
          - integer
          - 'null'
        phone:
          type:
          - string
          - number
          - integer
          - 'null'
        website:
          type:
          - string
          - number
          - integer
          - 'null'
        tax_id:
          type:
          - string
          - number
          - integer
          - 'null'
        billing_descriptor:
          description: >-
            Card-statement descriptor for this legal entity, shown to customers
            in billing disclosures. Display only, never sent to the payment
            processor. Allows letters, numbers, spaces and the characters
            & , . ' # * and -, up to 22 characters. Surrounding whitespace is
            trimmed on save, so the limit is measured against what you submit.
            Send null or an empty string to clear it.
          type:
          - string
          - 'null'
          maxLength: 22
          pattern: "^[a-zA-Z0-9 &,.'#*-]*$"
        principal_same_as_registered_address:
          type:
          - boolean
          - 'null'
        primary:
          type:
          - boolean
          - 'null'
        business_registration_file_url:
          type:
          - string
          - number
          - integer
          - 'null'
        business_registration_file_name:
          type:
          - string
          - number
          - integer
          - 'null'
        business_license_file_url:
          type:
          - string
          - number
          - integer
          - 'null'
        business_license_file_name:
          type:
          - string
          - number
          - integer
          - 'null'
        articles_of_incorporation_file_url:
          type:
          - string
          - number
          - integer
          - 'null'
        articles_of_incorporation_file_name:
          type:
          - string
          - number
          - integer
          - 'null'
        last_3_months_processing_statements:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
        business_identification_number:
          type:
          - string
          - number
          - integer
          - 'null'
        w_9_file_name:
          type:
          - string
          - number
          - integer
          - 'null'
        w_9_file_url:
          type:
          - string
          - number
          - integer
          - 'null'
        business_registration_certificate_file_name:
          type:
          - string
          - number
          - integer
          - 'null'
        business_registration_certificate_file_url:
          type:
          - string
          - number
          - integer
          - 'null'
        principal_address:
          "$ref": "#/components/schemas/OnboardingEntityAddressRequest"
        registered_address:
          "$ref": "#/components/schemas/OnboardingEntityAddressRequest"
    OnboardingBankStatementDocument:
      description: Bank statement document metadata. The API accepts document hashes
        and preserves provider-specific keys.
      type: object
      properties:
        file_url:
          type:
          - string
          - 'null'
        file_name:
          type:
          - string
          - 'null'
      additionalProperties:
        "$ref": "#/components/schemas/JsonValue"
    OnboardingGovernmentIssuedId:
      type: object
      required:
      - file_url
      - file_name
      properties:
        file_url:
          type:
          - string
          - 'null'
        file_name:
          type:
          - string
          - 'null'
        file_type:
          type:
          - string
          - 'null'
    OnboardingCompanyOwnerRequest:
      type: object
      properties:
        entity_id:
          type: integer
        full_name:
          type: string
        work_email:
          type: string
        phone:
          type: string
        native_name:
          type: string
        position:
          type: string
        date_of_birth:
          type: string
        place_of_birth:
          type: string
        nationality:
          type: string
        country_iso:
          type: string
        street_address:
          type: string
        city:
          type: string
        state:
          type: string
        postcode:
          type: string
        identification_number:
          type: string
        is_managing_director:
          type: boolean
        is_beneficial_owner:
          type: boolean
        percent_ownership:
          type:
          - number
          - string
        is_authorized_signatory:
          type: boolean
        onboarding_contact:
          type: boolean
        government_issued_ids:
          type: array
          items:
            "$ref": "#/components/schemas/OnboardingGovernmentIssuedId"
        proof_of_residence_file_url:
          type: string
        proof_of_residence_file_name:
          type: string
    OnboardingCompanyOwnerCreateRequest:
      allOf:
      - "$ref": "#/components/schemas/OnboardingCompanyOwnerRequest"
      - type: object
        required:
        - full_name
    OnboardingCompanyBankAccountRequest:
      type: object
      properties:
        entity_id:
          type: integer
          description: Associated entity ID
        bank_name:
          type: string
          description: Bank name
        holder_name:
          type: string
          description: Account holder name
        account_number:
          type: string
          description: Bank account number
        routing_number:
          type: string
          description: Bank routing number
        swift_bic:
          type: string
          description: SWIFT/BIC code
        country_iso:
          type: string
          description: Country ISO code
        currency_iso:
          type: string
          description: Currency ISO code
        city:
          type: string
          description: City
        primary:
          type: boolean
          description: Whether this is the primary bank account
        status:
          type: string
          enum:
          - active
          - inactive
          description: Bank account status (active or inactive)
        last_3_months_bank_statements:
          type: array
          items:
            "$ref": "#/components/schemas/OnboardingBankStatementDocument"
          description: Array of last 3 months bank statements documents
        bank_letter_or_voided_check_file_url:
          type: string
          description: Bank letter or voided check document file URL
        bank_letter_or_voided_check_file_name:
          type: string
          description: Bank letter or voided check document file name
    OnboardingCompanyBankAccountCreateRequest:
      allOf:
      - "$ref": "#/components/schemas/OnboardingCompanyBankAccountRequest"
      - type: object
        required:
        - entity_id
    OnboardingCompanyCountryRequest:
      type: object
      properties:
        currency:
          type: string
          description: Currency code
        country_iso:
          type: string
          description: Country ISO code used to resolve the country record
        entity_id:
          type: integer
          description: Associated entity ID
        entity_legally_registered:
          type: boolean
          description: Whether entity is legally registered
        settlement_currency:
          type: string
          description: Settlement currency
    OnboardingCompanyCountryCreateRequest:
      allOf:
      - "$ref": "#/components/schemas/OnboardingCompanyCountryRequest"
      - type: object
        required:
        - currency
        - country_iso
    OnboardingCompanyBankAccountCreateRequestBody:
      type: object
      required:
      - bank_account
      properties:
        bank_account:
          "$ref": "#/components/schemas/OnboardingCompanyBankAccountCreateRequest"
    OnboardingCompanyBankAccountRequestBody:
      type: object
      required:
      - bank_account
      properties:
        bank_account:
          "$ref": "#/components/schemas/OnboardingCompanyBankAccountRequest"
    OnboardingCompanyCountryCreateRequestBody:
      type: object
      required:
      - company_country
      properties:
        company_country:
          "$ref": "#/components/schemas/OnboardingCompanyCountryCreateRequest"
    OnboardingCompanyCountryRequestBody:
      type: object
      required:
      - company_country
      properties:
        company_country:
          "$ref": "#/components/schemas/OnboardingCompanyCountryRequest"
    OnboardingMeta:
      type: object
      required:
      - request_id
      - timestamp
      properties:
        request_id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
      additionalProperties:
        "$ref": "#/components/schemas/JsonValue"
    OnboardingCompany:
      description: Onboarding company summary returned by setup actions.
      type:
      - object
      - 'null'
      properties:
        onboarding_info_version:
          description: Revision of the company's onboarding info. Send it back on
            the next update to have a save built on a superseded revision refused
            with 409 rather than overwriting concurrent edits.
          type: integer
      additionalProperties:
        "$ref": "#/components/schemas/JsonValue"
    OnboardingTermsAndConditions:
      description: Provider terms and conditions payload for company onboarding.
      type:
      - object
      - 'null'
      additionalProperties:
        "$ref": "#/components/schemas/JsonValue"
    OnboardingCompanyBankAccount:
      type: object
      required:
      - id
      - primary
      - status
      - created_at
      - updated_at
      properties:
        id:
          type: integer
        entity_id:
          type:
          - integer
          - 'null'
          description: Associated entity ID
        bank_name:
          type:
          - string
          - 'null'
          description: Bank name
        holder_name:
          type:
          - string
          - 'null'
          description: Account holder name
        account_number:
          type:
          - string
          - 'null'
          description: Obfuscated bank account number
        routing_number:
          type:
          - string
          - 'null'
          description: Obfuscated bank routing number
        swift_bic:
          type:
          - string
          - 'null'
          description: SWIFT/BIC code
        country_iso:
          type:
          - string
          - 'null'
          description: Country ISO code
        currency_iso:
          type:
          - string
          - 'null'
          description: Currency ISO code
        city:
          type:
          - string
          - 'null'
          description: City
        primary:
          type: boolean
          description: Whether this is the primary bank account
        status:
          type: string
          enum:
          - active
          - inactive
          description: Bank account status (active or inactive)
        last_3_months_bank_statements:
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/OnboardingBankStatementDocument"
          description: Array of last 3 months bank statements documents
        bank_letter_or_voided_check_file_url:
          type:
          - string
          - 'null'
          description: Bank letter or voided check document file URL
        bank_letter_or_voided_check_file_name:
          type:
          - string
          - 'null'
          description: Bank letter or voided check document file name
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    OnboardingCountry:
      type: object
      required:
      - id
      - name
      - iso
      - iso_name
      - iso3
      - currency_code
      - currency_symbol
      - province_required
      - price_inclusive_of_tax
      - price_inclusive_tax_name
      properties:
        id:
          type: integer
        name:
          type: string
        iso:
          type: string
        iso_name:
          type: string
        iso3:
          type: string
        currency_code:
          type:
          - string
          - 'null'
        currency_symbol:
          type:
          - string
          - 'null'
        province_required:
          type: boolean
        tax_enabled:
          type:
          - boolean
          - 'null'
        price_inclusive_of_tax:
          type: boolean
        price_inclusive_tax_name:
          type:
          - string
          - 'null'
    OnboardingCompanyCountry:
      type: object
      required:
      - id
      - currency
      - base_shipping
      - default
      - updated_at
      - tax_inclusive_pricing
      - country
      properties:
        id:
          type: integer
        currency:
          type:
          - string
          - 'null'
          description: Currency code
        base_shipping:
          type:
          - number
          - string
          - 'null'
        default:
          type:
          - boolean
          - 'null'
        pause_incomplete_enrollment:
          type:
          - boolean
          - 'null'
        handling_fee:
          type:
          - number
          - string
          - 'null'
        updated_at:
          type: string
          format: date-time
        entity_id:
          type:
          - integer
          - 'null'
          description: Associated entity ID
        entity_legally_registered:
          type:
          - boolean
          - 'null'
          description: Whether entity is legally registered
        settlement_currency:
          type:
          - string
          - 'null'
          description: Settlement currency
        tax_inclusive_pricing:
          type:
          - boolean
          - 'null'
        tax_name:
          type:
          - string
          - 'null'
        payment_method_priority:
          type:
          - array
          - 'null'
          items:
            type: string
          description: |
            Ordered integration type names checkout ranks payment methods by for this
            country; unranked methods keep their default order after them. Null when
            the company has set no order. Managed through the settings company
            countries API.
        country_defaults:
          type: object
          properties:
            tax_inclusive:
              type:
              - boolean
              - 'null'
            tax_name:
              type:
              - string
              - 'null'
        country:
          "$ref": "#/components/schemas/OnboardingCountry"
        entity:
          "$ref": "#/components/schemas/OnboardingCompanyEntity"
    OnboardingCompanyEntity:
      type:
      - object
      - 'null'
      properties:
        legal_name:
          type:
          - string
          - number
          - integer
          - 'null'
        classification:
          type:
          - string
          - number
          - integer
          - 'null'
        trading_name:
          type:
          - string
          - number
          - integer
          - 'null'
        country_iso:
          type:
          - string
          - number
          - integer
          - 'null'
        address1:
          type:
          - string
          - number
          - integer
          - 'null'
        address2:
          type:
          - string
          - number
          - integer
          - 'null'
        city:
          type:
          - string
          - number
          - integer
          - 'null'
        province:
          type:
          - string
          - number
          - integer
          - 'null'
        postal_code:
          type:
          - string
          - number
          - integer
          - 'null'
        registration_number:
          type:
          - string
          - number
          - integer
          - 'null'
        date_of_incorporation:
          type:
          - string
          - number
          - integer
          - 'null'
        primary_mcc:
          type:
          - integer
          - string
          - number
          - 'null'
        secondary_mcc:
          type:
          - integer
          - string
          - number
          - 'null'
        phone_country_code:
          type:
          - string
          - number
          - integer
          - 'null'
        phone:
          type:
          - string
          - number
          - integer
          - 'null'
        website:
          type:
          - string
          - number
          - integer
          - 'null'
        tax_id:
          type:
          - string
          - number
          - integer
          - 'null'
        billing_descriptor:
          description: >-
            Card-statement descriptor for this legal entity, shown to customers
            in billing disclosures. Display only, never sent to the payment
            processor. Maximum 22 characters; letters, numbers, spaces and the
            characters & , . ' # * and -.
          type:
          - string
          - 'null'
          maxLength: 22
          pattern: "^[a-zA-Z0-9 &,.'#*-]+$"
        principal_same_as_registered_address:
          type:
          - boolean
          - 'null'
        primary:
          type:
          - boolean
          - 'null'
        status:
          description: Lifecycle state. `draft` has not been put into service
            yet, `active` is in service, `inactive` is a pause it is expected to
            come back from, and `archived` is retired. Only `active` and
            `inactive` may be the company default, hold a payment account, or be
            the entity a country routes to.
          type: string
          enum:
          - draft
          - active
          - inactive
          - archived
        business_registration_file_url:
          type:
          - string
          - number
          - integer
          - 'null'
        business_registration_file_name:
          type:
          - string
          - number
          - integer
          - 'null'
        business_license_file_url:
          type:
          - string
          - number
          - integer
          - 'null'
        business_license_file_name:
          type:
          - string
          - number
          - integer
          - 'null'
        articles_of_incorporation_file_url:
          type:
          - string
          - number
          - integer
          - 'null'
        articles_of_incorporation_file_name:
          type:
          - string
          - number
          - integer
          - 'null'
        last_3_months_processing_statements:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
        business_identification_number:
          type:
          - string
          - number
          - integer
          - 'null'
        w_9_file_name:
          type:
          - string
          - number
          - integer
          - 'null'
        w_9_file_url:
          type:
          - string
          - number
          - integer
          - 'null'
        business_registration_certificate_file_name:
          type:
          - string
          - number
          - integer
          - 'null'
        business_registration_certificate_file_url:
          type:
          - string
          - number
          - integer
          - 'null'
        principal_address:
          "$ref": "#/components/schemas/OnboardingEntityAddressRequest"
        registered_address:
          "$ref": "#/components/schemas/OnboardingEntityAddressRequest"
      additionalProperties:
        "$ref": "#/components/schemas/JsonValue"
    OnboardingCompanyOwner:
      type: object
      required:
      - id
      - full_name
      - onboarding_contact
      - created_at
      - updated_at
      properties:
        id:
          type: integer
        entity_id:
          type:
          - integer
          - 'null'
        full_name:
          type: string
        work_email:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
        native_name:
          type:
          - string
          - 'null'
        position:
          type:
          - string
          - 'null'
        date_of_birth:
          type:
          - string
          - 'null'
          format: date
        place_of_birth:
          type:
          - string
          - 'null'
        nationality:
          type:
          - string
          - 'null'
        country_iso:
          type:
          - string
          - 'null'
        street_address:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        postcode:
          type:
          - string
          - 'null'
        identification_number:
          type:
          - string
          - 'null'
        is_managing_director:
          type:
          - boolean
          - 'null'
        is_beneficial_owner:
          type:
          - boolean
          - 'null'
        percent_ownership:
          type:
          - number
          - string
          - 'null'
        is_authorized_signatory:
          type:
          - boolean
          - 'null'
        onboarding_contact:
          type: boolean
        government_issued_ids:
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/OnboardingGovernmentIssuedId"
        proof_of_residence_file_url:
          type:
          - string
          - 'null'
        proof_of_residence_file_name:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
paths:
  "/api/companies/set_bundle_subscriptions":
    post:
      summary: Set the bundle subscriptions setting for a company
      tags:
      - companies
      operationId: onboarding_v0_set_company_bundle_subscriptions
      security:
      - bearer_auth: []
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '200':
          description: bundle subscriptions setting updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  meta:
                    "$ref": "#/components/schemas/OnboardingMeta"
                required:
                - success
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SetCompanyBundleSubscriptionsRequestBodyApplicationJsonSchema"
  "/api/companies/set_shipping":
    post:
      summary: Set the shipping method for a company
      tags:
      - companies
      operationId: onboarding_v0_set_shipping_method
      security:
      - bearer_auth: []
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '200':
          description: shipping method updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  company:
                    "$ref": "#/components/schemas/OnboardingCompany"
                  meta:
                    "$ref": "#/components/schemas/OnboardingMeta"
                required:
                - company
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SetShippingMethodRequestBodyApplicationJsonSchema"
  "/api/companies/set_tax_class":
    patch:
      summary: Set the tax class for a company
      tags:
      - companies
      operationId: onboarding_v0_set_company_tax_class
      security:
      - bearer_auth: []
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '422':
          description: Invalid tax class or missing provider configuration
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '200':
          description: tax class updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  meta:
                    "$ref": "#/components/schemas/OnboardingMeta"
                required:
                - success
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SetCompanyTaxClassRequestBodyApplicationJsonSchema"
  "/api/companies/set_tax_option":
    patch:
      summary: Set the tax option for a company
      tags:
      - companies
      operationId: onboarding_v0_set_company_tax_option
      security:
      - bearer_auth: []
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '200':
          description: tax option updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  meta:
                    "$ref": "#/components/schemas/OnboardingMeta"
                required:
                - success
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SetCompanyTaxOptionRequestBodyApplicationJsonSchema"
  "/api/companies/{company_id}/bank_accounts":
    get:
      summary: List company bank accounts
      tags:
      - bank-accounts
      operationId: onboarding_v0_list_company_bank_accounts
      security:
      - bearer_auth: []
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      responses:
        '401':
          description: unauthorized - company access denied
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '200':
          description: bank accounts retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  bank_accounts:
                    type: array
                    items:
                      "$ref": "#/components/schemas/JsonValue"
                  meta:
                    "$ref": "#/components/schemas/OnboardingMeta"
                required:
                - bank_accounts
    post:
      summary: Create company bank account
      tags:
      - bank-accounts
      operationId: onboarding_v0_create_company_bank_account
      security:
      - bearer_auth: []
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      responses:
        '401':
          description: unauthorized - company access denied
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '201':
          description: bank account created
          content:
            application/json:
              schema:
                type: object
                properties:
                  bank_account:
                    "$ref": "#/components/schemas/OnboardingCompanyBankAccount"
                  meta:
                    "$ref": "#/components/schemas/OnboardingMeta"
                required:
                - bank_account
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/OnboardingCompanyBankAccountCreateRequestBody"
  "/api/companies/{company_id}/bank_accounts/{id}":
    get:
      summary: Get company bank account
      tags:
      - bank-accounts
      operationId: onboarding_v0_get_company_bank_account
      security:
      - bearer_auth: []
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      - name: id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      responses:
        '401':
          description: unauthorized - company access denied
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '200':
          description: bank account retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  bank_account:
                    "$ref": "#/components/schemas/OnboardingCompanyBankAccount"
                  meta:
                    "$ref": "#/components/schemas/OnboardingMeta"
                required:
                - bank_account
    put:
      summary: Update company bank account
      tags:
      - bank-accounts
      operationId: onboarding_v0_update_company_bank_account
      security:
      - bearer_auth: []
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      - name: id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      responses:
        '401':
          description: unauthorized - company access denied
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '200':
          description: bank account updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  bank_account:
                    "$ref": "#/components/schemas/OnboardingCompanyBankAccount"
                  meta:
                    "$ref": "#/components/schemas/OnboardingMeta"
                required:
                - bank_account
        '422':
          description: Bank account validation failed or billing verification protects its bank details.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/OnboardingCompanyBankAccountRequestBody"
    delete:
      summary: Delete company bank account
      tags:
      - bank-accounts
      operationId: onboarding_v0_delete_company_bank_account
      security:
      - bearer_auth: []
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      - name: id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      responses:
        '401':
          description: unauthorized - company access denied
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '204':
          description: bank account deleted successfully
        '422':
          description: Bank account is retained as billing authorization evidence.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
  "/api/companies/{company_id}/company_countries":
    get:
      summary: company countries retrieved
      tags:
      - company-countries
      description: List all countries configured for the company
      operationId: onboarding_v0_list_commerce_company_countries
      security:
      - bearer_auth: []
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      responses:
        '401':
          description: unauthorized - company access denied
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '200':
          description: company countries retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  company_countries:
                    type: array
                    items:
                      "$ref": "#/components/schemas/JsonValue"
                  meta:
                    "$ref": "#/components/schemas/OnboardingMeta"
                required:
                - company_countries
    post:
      summary: Create company country
      tags:
      - company-countries
      operationId: onboarding_v0_create_commerce_company_country
      security:
      - bearer_auth: []
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      responses:
        '401':
          description: unauthorized - company access denied
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '201':
          description: company country created
          content:
            application/json:
              schema:
                type: object
                properties:
                  company_country:
                    "$ref": "#/components/schemas/OnboardingCompanyCountry"
                  meta:
                    "$ref": "#/components/schemas/OnboardingMeta"
                required:
                - company_country
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/OnboardingCompanyCountryCreateRequestBody"
  "/api/companies/{company_id}/company_countries/{id}":
    get:
      summary: Get company country
      tags:
      - company-countries
      operationId: onboarding_v0_get_commerce_company_country
      security:
      - bearer_auth: []
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      - name: id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      responses:
        '401':
          description: unauthorized - company access denied
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '200':
          description: company country retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  company_country:
                    "$ref": "#/components/schemas/OnboardingCompanyCountry"
                  meta:
                    "$ref": "#/components/schemas/OnboardingMeta"
                required:
                - company_country
    put:
      summary: Update company country
      tags:
      - company-countries
      operationId: onboarding_v0_update_commerce_company_country
      security:
      - bearer_auth: []
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      - name: id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      responses:
        '401':
          description: unauthorized - company access denied
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '200':
          description: company country updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  company_country:
                    "$ref": "#/components/schemas/OnboardingCompanyCountry"
                  meta:
                    "$ref": "#/components/schemas/OnboardingMeta"
                required:
                - company_country
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/OnboardingCompanyCountryRequestBody"
    delete:
      summary: Delete company country
      tags:
      - company-countries
      operationId: onboarding_v0_delete_commerce_company_country
      security:
      - bearer_auth: []
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      - name: id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      responses:
        '401':
          description: unauthorized - company access denied
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '204':
          description: company country deleted successfully
        '422':
          description: company country still has orders or subscriptions and cannot
            be removed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
  "/api/companies/{company_id}/entities":
    get:
      summary: List company entities
      tags:
      - entities
      operationId: onboarding_v0_list_company_entities
      security:
      - bearer_auth: []
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      responses:
        '401':
          description: unauthorized - company access denied
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '200':
          description: entities retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  entities:
                    type: array
                    items:
                      "$ref": "#/components/schemas/JsonValue"
                  meta:
                    "$ref": "#/components/schemas/OnboardingMeta"
                required:
                - entities
    post:
      summary: Create company entity
      tags:
      - entities
      operationId: onboarding_v0_create_company_entity
      security:
      - bearer_auth: []
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      responses:
        '401':
          description: unauthorized - company access denied
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '201':
          description: entity created
          content:
            application/json:
              schema:
                type: object
                properties:
                  entity:
                    "$ref": "#/components/schemas/OnboardingCompanyEntity"
                  meta:
                    "$ref": "#/components/schemas/OnboardingMeta"
                required:
                - entity
        '422':
          description: entity could not be created - the attributes are invalid.
            `status` is one of them, since an entity cannot be created already
            retired; `archived` is reached through an update, once nothing live
            references the entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateCompanyEntityRequestBodyApplicationJsonSchema"
              description: Request payload
  "/api/companies/{company_id}/entities/{id}":
    get:
      summary: Get company entity
      tags:
      - entities
      operationId: onboarding_v0_get_company_entity
      security:
      - bearer_auth: []
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      - name: id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      responses:
        '401':
          description: unauthorized - company access denied
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '200':
          description: entity retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  entity:
                    "$ref": "#/components/schemas/OnboardingCompanyEntity"
                  meta:
                    "$ref": "#/components/schemas/OnboardingMeta"
                required:
                - entity
    put:
      summary: Update company entity
      tags:
      - entities
      operationId: onboarding_v0_update_company_entity
      security:
      - bearer_auth: []
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      - name: id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      responses:
        '401':
          description: unauthorized - company access denied
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '200':
          description: entity updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  entity:
                    "$ref": "#/components/schemas/OnboardingCompanyEntity"
                  meta:
                    "$ref": "#/components/schemas/OnboardingMeta"
                required:
                - entity
        '422':
          description: entity could not be updated - either the attributes are
            invalid, or the update takes the entity out of service while
            something live still references it. Both `archived` and `draft` are
            out of service and run the same guards, so either one is refused
            while the entity is still the company default, still has live
            payment accounts, or still has countries assigned to it, and those
            references must be moved first. A request naming the status the
            entity already holds is not an error - the retirement has nothing
            to do, and the rest of the payload is saved - so a client that
            round-trips the resource it just read is answered 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateCompanyEntityRequestBodyApplicationJsonSchema"
              description: Request payload
    delete:
      summary: Delete company entity
      tags:
      - entities
      operationId: onboarding_v0_delete_company_entity
      security:
      - bearer_auth: []
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      - name: id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      responses:
        '401':
          description: unauthorized - company access denied
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '204':
          description: entity deleted successfully
        '422':
          description: entity is still in use - it is the default entity, has
            live payment accounts, or has countries assigned to it, and those
            references must be moved before it can be deleted
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
  "/api/companies/{company_id}/onboarding_info":
    get:
      summary: Get company onboarding info
      tags:
      - onboarding-info
      operationId: onboarding_v0_get_company_onboarding_info
      security:
      - bearer_auth: []
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      responses:
        '401':
          description: unauthorized - company access denied
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '200':
          description: onboarding info retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  company:
                    "$ref": "#/components/schemas/OnboardingCompany"
                  meta:
                    "$ref": "#/components/schemas/OnboardingMeta"
                required:
                - company
    put:
      summary: Update company onboarding info
      tags:
      - onboarding-info
      operationId: onboarding_v0_update_company_onboarding_info
      security:
      - bearer_auth: []
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      responses:
        '401':
          description: unauthorized - company access denied
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '200':
          description: onboarding info updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  company:
                    "$ref": "#/components/schemas/OnboardingCompany"
                  meta:
                    "$ref": "#/components/schemas/OnboardingMeta"
                required:
                - company
        '409':
          description: onboarding_info_version is stale - the onboarding info
            changed after it was loaded, so the caller should re-fetch and reapply
            its changes
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateCompanyOnboardingInfoRequestBodyApplicationJsonSchema"
              description: Request payload
  "/api/companies/{company_id}/onboarding_info/refresh_url":
    post:
      summary: Refresh expiring URL for company onboarding
      tags:
      - onboarding-info
      operationId: onboarding_v0_refresh_onboarding_url
      security:
      - bearer_auth: []
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      responses:
        '401':
          description: unauthorized - company access denied
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '200':
          description: URL refreshed
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                  meta:
                    "$ref": "#/components/schemas/OnboardingMeta"
                required:
                - url
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/RefreshOnboardingUrlRequestBodyApplicationJsonSchema"
  "/api/companies/{company_id}/onboarding_info/terms_and_conditions":
    get:
      summary: Get terms and conditions URL for company onboarding
      tags:
      - onboarding-info
      operationId: onboarding_v0_get_company_onboarding_terms_and_conditions
      security:
      - bearer_auth: []
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      responses:
        '401':
          description: unauthorized - company access denied
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '200':
          description: terms and conditions retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  terms_and_conditions:
                    "$ref": "#/components/schemas/OnboardingTermsAndConditions"
                  meta:
                    "$ref": "#/components/schemas/OnboardingMeta"
                required:
                - terms_and_conditions
  "/api/companies/{company_id}/onboarding_info/upload_document":
    post:
      summary: Upload document for company onboarding
      tags:
      - onboarding-info
      operationId: onboarding_v0_upload_onboarding_document
      security:
      - bearer_auth: []
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      responses:
        '401':
          description: unauthorized - company access denied
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '200':
          description: document uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                  meta:
                    "$ref": "#/components/schemas/OnboardingMeta"
                required:
                - url
      requestBody:
        content:
          multipart/form-data:
            schema:
              "$ref": "#/components/schemas/UploadOnboardingDocumentRequestBody"
        required: true
        description: 'Document file to upload. Maximum file size: 10MB. Accepts all
          file types.'
  "/api/companies/{company_id}/owners":
    get:
      summary: List company owners
      tags:
      - owners
      operationId: onboarding_v0_list_company_owners
      security:
      - bearer_auth: []
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      responses:
        '401':
          description: unauthorized - company access denied
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '200':
          description: owners retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  owners:
                    type: array
                    items:
                      "$ref": "#/components/schemas/JsonValue"
                  meta:
                    "$ref": "#/components/schemas/OnboardingMeta"
                required:
                - owners
    post:
      summary: Create company owner
      tags:
      - owners
      operationId: onboarding_v0_create_company_owner
      security:
      - bearer_auth: []
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      responses:
        '401':
          description: unauthorized - company access denied
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '201':
          description: owner created
          content:
            application/json:
              schema:
                type: object
                properties:
                  owner:
                    "$ref": "#/components/schemas/OnboardingCompanyOwner"
                  meta:
                    "$ref": "#/components/schemas/OnboardingMeta"
                required:
                - owner
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateCompanyOwnerRequestBodyApplicationJsonSchema"
  "/api/companies/{company_id}/owners/{id}":
    get:
      summary: Get company owner
      tags:
      - owners
      operationId: onboarding_v0_get_company_owner
      security:
      - bearer_auth: []
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      - name: id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      responses:
        '401':
          description: unauthorized - company access denied
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '200':
          description: owner retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  owner:
                    "$ref": "#/components/schemas/OnboardingCompanyOwner"
                  meta:
                    "$ref": "#/components/schemas/OnboardingMeta"
                required:
                - owner
    put:
      summary: Update company owner
      tags:
      - owners
      operationId: onboarding_v0_update_company_owner
      security:
      - bearer_auth: []
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      - name: id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      responses:
        '401':
          description: unauthorized - company access denied
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '200':
          description: owner updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  owner:
                    "$ref": "#/components/schemas/OnboardingCompanyOwner"
                  meta:
                    "$ref": "#/components/schemas/OnboardingMeta"
                required:
                - owner
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateCompanyOwnerRequestBodyApplicationJsonSchema"
    delete:
      summary: Delete company owner
      tags:
      - owners
      operationId: onboarding_v0_delete_company_owner
      security:
      - bearer_auth: []
      parameters:
      - name: company_id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      - name: id
        in: path
        required: true
        example: 1
        schema:
          type: integer
      responses:
        '401':
          description: unauthorized - company access denied
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '204':
          description: owner deleted successfully
