---
openapi: 3.1.0
info:
  title: Fluid Payment API
  version: v2026-04
  description: |
    Payment gateway and transaction management API — the standalone Fluid
    Payments surface for external platforms.

    Two credentials are accepted on every operation:
    - **API keys** (`fp_live_*` / `fp_test_*`), scoped to a payments merchant.
      Live and sandbox keys are separate credentials; `fp_live_*` keys also
      require the merchant's API access to be enabled. Requests authenticated
      with an `fp_test_*` key run in sandbox mode: transactions are created
      with a sandbox source and never move real funds.
    - **JWT bearer tokens** at admin tier (company admin or root admin). A
      non-admin JWT is rejected with `403`.

    Transactions created outside this API (checkout, storefront, admin) are
    not visible to its read endpoints and cannot be captured, voided, or
    credited here. API-key-authenticated operations emit signed webhooks to
    the merchant's configured webhook URL (see the `webhooks` section).
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
tags:
- name: Gateways
  description: Manage payment gateways and run gateway-level transactions —
    purchase, authorize, and $0 verification.
- name: Transactions
  description: Read transactions and run transaction lifecycle operations —
    capture, void, and refund. Scoped to transactions created through this API
    (live or sandbox); transactions from checkout, storefront, or admin flows
    are not visible here.
- name: Merchant Configuration
  description: Root-admin-only access to a merchant's VGS, Kount, 3DS acquirer,
    payout, and platform-fee settings.
- name: Webhooks
  description: Signed payment-event notifications POSTed to the merchant's
    configured webhook URL. Fired only for transactions created through
    API-key-authenticated requests.
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: |
        Merchant API key (`fp_live_*` for live, `fp_test_*` for sandbox) or an
        admin-tier JWT (company admin or root admin). Non-admin JWTs are
        rejected with `403`; live API keys additionally require the merchant's
        API access to be enabled.
  schemas:
    Meta:
      type: object
      required:
      - request_id
      - timestamp
      properties:
        request_id:
          type:
          - string
          - 'null'
          description: |
            Unique identifier for this request, echoed on every response for log
            correlation and support; `null` when none was assigned.
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp (UTC) of when the response was generated.
    ErrorResponse:
      oneOf:
      - type: object
        required:
        - status
        - message
        - meta
        properties:
          status:
            type: string
            enum:
            - error
            description: Always `error` for this envelope.
          message:
            type: string
            description: Human-readable description of what went wrong.
          meta:
            "$ref": "#/components/schemas/Meta"
      - type: object
        required:
        - error_message
        - errors
        - meta
        properties:
          error_message:
            type: string
            description: Human-readable summary of the failure.
          errors:
            "$ref": "#/components/schemas/ErrorBag"
          meta:
            "$ref": "#/components/schemas/Meta"
    UnauthorizedResponse:
      type: object
      required:
      - message
      - meta
      properties:
        message:
          type: string
          description: Human-readable reason the credentials were rejected.
        status:
          type: string
          description: Error status string, when present.
        meta:
          "$ref": "#/components/schemas/Meta"
    ForbiddenResponse:
      description: |
        Authenticated but not authorized. Two body shapes occur:
        - a bare `message` when the credential lacks the required role/tier
          (e.g. a non-admin JWT calling an admin endpoint)
        - a `status` + `message` envelope from payment API endpoint gates
      anyOf:
      - type: object
        required:
        - message
        - meta
        properties:
          message:
            type: string
          meta:
            "$ref": "#/components/schemas/Meta"
      - type: object
        required:
        - status
        - message
        - meta
        properties:
          status:
            type: string
            enum:
            - error
          message:
            type: string
          meta:
            "$ref": "#/components/schemas/Meta"
    Gateway:
      type: object
      required:
      - id
      - name
      - integration_type
      - mode
      - supported_sources
      - country_codes
      - settings
      - created_at
      - updated_at
      properties:
        id:
          type: string
          description: |
            Gateway slug identifier — the stable string used to address this gateway
            on `/gateways/{id}` and its transaction sub-routes.
        name:
          type: string
          description: Human-readable display name for the gateway.
        integration_type:
          type: string
          description: |
            Integration class backing the gateway (e.g. `CreditCard`, `PayPal`). Selects
            the provider adapter and the credential set used to process transactions.
        mode:
          type: string
          enum:
          - live
          - test
          - sandbox
          description: |
            Environment the gateway operates in. `live` moves real funds; `test` and
            `sandbox` route to the provider's non-production environment.
        supported_sources:
          type: array
          items:
            type: string
          description: |
            Card brands / payment sources the gateway accepts (e.g. `visa`,
            `mastercard`). Populated only for `CreditCard` gateways with a recognized
            provider adapter; `[]` for all other integration types.
        country_codes:
          type: array
          items:
            type: string
          description: ISO 3166-1 alpha-2 country codes the gateway is enabled for.
        settings:
          type: object
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
          description: |
            Provider-specific configuration key/values for the gateway, returned as
            stored. The shape varies by `integration_type`. Secrets never appear here:
            provider credentials live in the write-only `credentials` request field
            and are excluded from every response.
        created_at:
          type: string
          format: date-time
          description: Creation timestamp (ISO 8601).
        updated_at:
          type: string
          format: date-time
          description: Timestamp of the last update to the gateway (ISO 8601).
    Transaction:
      type: object
      required:
      - id
      - action
      - status
      - amount_cents
      - currency_code
      - processing_fee_cents
      - platform_fee_cents
      - credited_amount_cents
      - retain_on_success
      - metadata
      - created_at
      - updated_at
      properties:
        id:
          type: string
          description: |
            Transaction slug identifier — the stable string used to address this
            transaction on `/transactions/{id}` and its lifecycle sub-routes (capture,
            void, credit).
        gateway_id:
          type:
          - string
          - 'null'
          description: Slug of the gateway that processed the transaction; `null` when not applicable.
        payment_method_id:
          type:
          - string
          - 'null'
          description: |
            UUID (v7) of the vaulted card used; `null` when no card is associated.
            Note this is not the payment method slug accepted by request bodies —
            the write-side slug and this read-side UUID do not round-trip.
        card_network:
          type:
          - string
          - 'null'
          description: |
            Canonical card network brand for the transaction. Resolved from the vaulted
            card record, the gateway success response, or the gateway decline response,
            in that order, then normalized via `Payments::CardBrand.canonicalize`.
            Common values: `visa`, `mastercard`, `american_express`, `discover`, `jcb`.
            Not an enum — unmapped brands pass through as-is (e.g. `unknown`, `link`).
            `null` when no brand source is available.
        parent_transaction_id:
          type:
          - string
          - 'null'
          description: |
            Slug of the originating transaction when this row is a capture, void, or
            credit/refund; `null` for the initial purchase or authorization.
        action:
          type: string
          enum:
          - purchase
          - authorize
          - capture
          - void
          - refund
          - verify
          description: |
            Operation this transaction represents. `purchase` and `authorize` are
            initiated on a gateway; `capture`, `void`, and `refund` act against a
            prior transaction; `verify` is a $0 payment-method check. The credit
            endpoint always records its transaction as `refund`.
        status:
          type: string
          enum:
          - success
          - declined
          - error
          - pending
          - unsent
          - sent
          - received
          - expired
          - reconciling
          description: |
            Outcome of the transaction. Terminal outcomes: `success`, `declined`
            (rejected by the provider), and `error` (processing failure). Non-terminal
            values can also appear on reads: `pending` and `received` (awaiting a
            final provider result), `unsent` and `sent` (dispatch in progress — a
            transaction can persist here when processing is interrupted),
            `reconciling` (a capture whose final state is being confirmed with the
            provider), and `expired` (the transaction lapsed without reaching a
            terminal outcome).
        amount_cents:
          type:
          - integer
          - 'null'
          description: |
            Transaction amount in the currency's smallest unit. Despite the legacy
            `amount_cents` name, the scale follows the ISO 4217 exponent with
            processor-specific overrides. For example, USD uses cents, JPY/KRW/TWD use
            whole units, and KWD/BHD/OMR/TND use thousandths. `null` when not applicable,
            such as a $0 verification.
        currency_code:
          type: string
          description: ISO 4217 currency code
        payment_source:
          type:
          - string
          - 'null'
          description: Integration class (e.g. CreditCard, PayPal)
        gateway_transaction_id:
          type:
          - string
          - 'null'
          description: |
            Identifier assigned by the payment provider for this transaction; `null`
            until the provider responds.
        reference_token:
          type:
          - string
          - 'null'
          description: Merchant reference token
        description:
          type:
          - string
          - 'null'
          description: Optional free-text description carried on the transaction.
        processing_fee_cents:
          type: integer
          description: Processing fee in the currency's smallest unit.
        platform_fee_cents:
          type: integer
          description: Fluid platform fee in the currency's smallest unit.
        credited_amount_cents:
          type: integer
          description: |
            Cumulative amount refunded or credited against this transaction in the
            currency's smallest unit; partial refunds accumulate here.
        retain_on_success:
          type: boolean
          description: |
            Whether the payment method used was retained for future reuse when the
            transaction succeeded.
        metadata:
          type: object
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
          description: Arbitrary merchant key/value pairs stored on and echoed back with the transaction.
        created_at:
          type: string
          format: date-time
          description: Creation timestamp (ISO 8601).
        updated_at:
          type: string
          format: date-time
          description: Timestamp of the last update to the transaction (ISO 8601).
    GatewayDataResponse:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/Gateway"
        meta:
          "$ref": "#/components/schemas/Meta"
    GatewayListResponse:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Gateway"
        meta:
          "$ref": "#/components/schemas/Meta"
    TransactionDataResponse:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/Transaction"
        meta:
          "$ref": "#/components/schemas/Meta"
    TransactionListResponse:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Transaction"
        meta:
          "$ref": "#/components/schemas/Meta"
    BillingAddress:
      type: object
      additionalProperties: false
      description: Postal address for the transaction; the same shape is used for billing and shipping.
      properties:
        first_name:
          type: string
          description: Contact first name.
        last_name:
          type: string
          description: Contact last name.
        address1:
          type: string
          description: Primary street address line.
        address2:
          type: string
          description: |
            Secondary address line (unit, suite, etc.). Omit the key entirely when
            not applicable — an explicit JSON `null` fails validation with `422`.
        city:
          type: string
          description: City.
        state:
          type: string
          description: State, province, or region.
        zip:
          type: string
          description: Postal or ZIP code.
        country:
          type: string
          description: Country of the address.
    TransactionRequest:
      type: object
      additionalProperties: false
      required:
      - amount_cents
      - currency_code
      properties:
        amount_cents:
          type: integer
          minimum: 1
          description: >-
            Amount to charge in the currency's smallest unit (legacy field name:
            `amount_cents`). Minimum `1`.
        currency_code:
          type: string
          description: ISO 4217 currency code
        payment_source:
          type: string
          description: |
            Overrides the integration class used for this transaction (e.g.
            `CreditCard`, `PayPal`); defaults to the gateway's configured type.
        payment_method_id:
          type: string
          description: |
            Payment method slug identifying a vaulted payment method owned by the
            authenticated merchant. A slug that is unknown, or that belongs to a
            different merchant, fails with `404`; the two are deliberately
            indistinguishable. This slug is not the UUID returned in the
            transaction's `payment_method_id` read field.
        reference_token:
          type: string
          description: Optional merchant-supplied reference stored on the transaction.
        description:
          type: string
          description: Optional free-text description stored on the transaction.
        retain_on_success:
          type: boolean
          description: When `true`, retain the payment method for future reuse if the transaction succeeds.
        transaction_type:
          type: string
          description: |
            Initiation category: `cit` (customer-initiated), `mit` (merchant-initiated),
            or `recurring`.
        email:
          type: string
          description: Customer email address associated with the transaction.
        billing_address:
          "$ref": "#/components/schemas/BillingAddress"
        shipping_address:
          "$ref": "#/components/schemas/BillingAddress"
        metadata:
          type: object
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
          description: Arbitrary merchant key/value pairs to store with the transaction.
    KountAccount:
      type: object
      description: One Kount account configuration. Sandbox and production are persisted as separate accounts; the active environment is mirrored by MerchantConfiguration.kount_environment.
      required:
      - environment
      - enterprise
      properties:
        environment:
          type: string
          enum:
          - sandbox
          - production
          description: Kount account environment.
        enterprise:
          type: boolean
          description: When true, this account uses merchant-owned Kount 360 credentials. When false, it uses Fluid's portfolio credentials with a channel prefix.
        channel_prefix:
          type:
          - string
          - 'null'
          maxLength: 63
          description: Portfolio account channel prefix. Required when enterprise is false.
        api_key:
          type:
          - string
          - 'null'
          description: Enterprise Kount API key. Obfuscated on read; omit or send obfuscated value to preserve the stored secret.
        client_id:
          type:
          - string
          - 'null'
          example: "150953359757648"
          description: Enterprise Kount Client ID (MID). Plain text and public-by-design for the checkout DDC script.
        webhook_signing_key:
          type:
          - string
          - 'null'
          description: Enterprise webhook signing key. Obfuscated on read; omit or send obfuscated value to preserve the stored secret.
    MerchantConfiguration:
      type: object
      required:
      - vgs_client_id
      - vgs_client_secret
      - vgs_environment
      - kount_enterprise
      - kount_api_key
      - kount_environment
      - kount_client_id
      - kount_channel_prefix
      - kount_webhook_signing_key
      - kount_accounts
      - network_tokens_enabled
      - vgs_cmp_vault_id
      - vgs_proxy_username
      - vgs_proxy_password
      - network_3ds_setting
      - payouts_settings
      - platform_fee_rate
      - platform_fee_fixed
      properties:
        vgs_client_id:
          type:
          - string
          - 'null'
          description: VGS client ID
        vgs_client_secret:
          type:
          - string
          - 'null'
          description: VGS client secret (obfuscated on read)
        vgs_environment:
          type:
          - string
          - 'null'
          enum:
          - live
          - sandbox
          -
          description: VGS environment
        kount_enterprise:
          type: boolean
          example: false
          description: When true, this merchant uses its own Kount 360 account; credentials
            come from kount_api_key + kount_webhook_signing_key. When false, Fluid's
            master Kount account is used (env-aware) and kount_channel_prefix segments
            traffic.
        kount_api_key:
          type:
          - string
          - 'null'
          description: Kount API key (obfuscated on read)
        kount_environment:
          type:
          - string
          - 'null'
          enum:
          - sandbox
          - production
          -
          description: Kount environment
        kount_client_id:
          type:
          - string
          - 'null'
          example: "150953359757648"
          description: Per-merchant Kount Client ID (MID). Required when kount_enterprise is true; used by the Kount Web SDK on the checkout page so DDC data lands in this merchant's Kount tenant. Plain text — public-by-design.
        kount_channel_prefix:
          type:
          - string
          - 'null'
          maxLength: 63
          description: Bare Kount channel prefix for the merchant (e.g. "yoli" or
            "rain-international"); appended to source tokens at runtime to form channel
            values like "yoli-WEB". Root-admin write only.
        kount_webhook_signing_key:
          type:
          - string
          - 'null'
          example: "MG9h********Tg=="
          description: Obfuscated RSA public key the merchant gets from their Kount
            360 portal. Used to verify decision webhooks for enterprise accounts.
            Returned masked.
        kount_accounts:
          type: array
          description: Complete persisted Kount account set. Contains up to one sandbox account and one production account; kount_environment selects which account routes checkout traffic.
          items:
            "$ref": "#/components/schemas/KountAccount"
        network_tokens_enabled:
          type: boolean
          description: Whether network tokens are enabled
        vgs_cmp_vault_id:
          type:
          - string
          - 'null'
          description: VGS CMP vault ID for cross-vault proxy
        vgs_proxy_username:
          type:
          - string
          - 'null'
          description: VGS proxy username
        vgs_proxy_password:
          type:
          - string
          - 'null'
          description: VGS proxy password (obfuscated on read)
        network_3ds_setting:
          type:
          - object
          - 'null'
          description: Per-network 3DS acquirer settings; `null` when never configured.
          properties:
            visa_acquirer_bin:
              type: string
            visa_acquirer_merchant_id:
              type: string
            mastercard_acquirer_bin:
              type: string
            mastercard_acquirer_merchant_id:
              type: string
            amex_acquirer_bin:
              type: string
            amex_acquirer_merchant_id:
              type: string
            amex_acquirer_requestor_id:
              type: string
            amex_acquirer_requestor_name:
              type: string
            discover_acquirer_bin:
              type: string
            discover_acquirer_merchant_id:
              type: string
            discover_acquirer_requestor_id:
              type: string
            discover_acquirer_requestor_name:
              type: string
        payouts_settings:
          type:
          - object
          - 'null'
          description: Payout collection settings; `null` when never configured.
          properties:
            payout_collection_enabled:
              type: boolean
              description: Whether automatic payout collection is enabled for the merchant.
            payout_collection_schedule:
              type: string
              enum:
              - hourly_4
              - daily
              - weekly
              description: |
                Cadence at which payouts are collected: `hourly_4` (every 4 hours),
                `daily`, or `weekly`.
            minimum_payout_amount:
              type: number
              description: Minimum balance required before a payout is collected.
            last_payout_collection_at:
              type: string
              format: date-time
              description: Timestamp of the most recent payout collection (ISO 8601).
        platform_fee_rate:
          type: number
          description: Fluid platform fee rate (percentage)
          example: 2.9
        platform_fee_fixed:
          type: number
          description: Fluid platform fee fixed amount (USD)
          example: 0.3
    MerchantConfigurationResponse:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/MerchantConfiguration"
        meta:
          "$ref": "#/components/schemas/Meta"
    MerchantConfigurationUpdateRequest:
      type: object
      additionalProperties: false
      properties:
        vgs_client_id:
          type: string
        vgs_client_secret:
          type: string
          description: Omit or send obfuscated value to preserve existing secret
        vgs_environment:
          type: string
          enum:
          - live
          - sandbox
        kount_enterprise:
          type: boolean
          example: false
          description: When true, this merchant uses its own Kount 360 account; kount_api_key
            and kount_webhook_signing_key are required. When false, Fluid's master
            Kount account is used.
        kount_api_key:
          type: string
          description: Omit or send obfuscated value to preserve existing secret
        kount_environment:
          type: string
          enum:
          - sandbox
          - production
        kount_client_id:
          type:
          - string
          - 'null'
          example: "150953359757648"
          description: Required when kount_enterprise is true.
        kount_channel_prefix:
          type:
          - string
          - 'null'
          maxLength: 63
          description: Bare Kount channel prefix for the merchant (e.g. "yoli" or
            "rain-international"); appended to source tokens at runtime to form channel
            values like "yoli-WEB". Root-admin write only.
        kount_webhook_signing_key:
          type:
          - string
          - 'null'
          example: "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A...\n-----END
            PUBLIC KEY-----"
          description: RSA public key in PEM or bare SPKI base64. Required when kount_enterprise
            is true.
        kount_accounts:
          type: array
          description: Complete Kount account set to persist. Send this with kount_environment to store inactive sandbox/production accounts and select the active one.
          items:
            "$ref": "#/components/schemas/KountAccount"
        network_tokens_enabled:
          type: boolean
        vgs_cmp_vault_id:
          type: string
        vgs_proxy_username:
          type: string
        vgs_proxy_password:
          type: string
          description: Omit or send obfuscated value to preserve existing secret
        visa_acquirer_bin:
          type: string
        visa_acquirer_merchant_id:
          type: string
        mastercard_acquirer_bin:
          type: string
        mastercard_acquirer_merchant_id:
          type: string
        amex_acquirer_bin:
          type: string
        amex_acquirer_merchant_id:
          type: string
        amex_acquirer_requestor_id:
          type: string
        amex_acquirer_requestor_name:
          type: string
        discover_acquirer_bin:
          type: string
        discover_acquirer_merchant_id:
          type: string
        discover_acquirer_requestor_id:
          type: string
        discover_acquirer_requestor_name:
          type: string
        payout_collection_enabled:
          type: boolean
        payout_collection_schedule:
          type: string
          enum:
          - hourly_4
          - daily
          - weekly
        minimum_payout_amount:
          type: number
          format: decimal
        platform_fee_rate:
          type: number
          format: decimal
          description: Fluid platform fee rate (percentage)
          example: 2.9
        platform_fee_fixed:
          type: number
          format: decimal
          description: Fluid platform fee fixed amount (USD)
          example: 0.3
    GatewayCreateRequest:
      type: object
      additionalProperties: false
      required:
      - name
      - integration_type
      properties:
        name:
          type: string
          description: Display name for the new gateway.
        integration_type:
          type: string
          description: |
            Integration class for the gateway (e.g. `CreditCard`, `PayPal`); selects the
            provider adapter.
        mode:
          type: string
          enum:
          - live
          - test
          - sandbox
          description: |
            Environment the gateway runs in: `live`, `test`, or `sandbox`. The server
            does not validate this value — anything other than `test` or `sandbox`
            (including a typo) is treated as `live`.
        credentials:
          type: object
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
          description: |
            Provider credentials (API keys, secrets) for the gateway. Write-only —
            obfuscated or omitted on read.
        country_codes:
          type: array
          items:
            type: string
          description: |
            ISO 3166-1 alpha-2 country codes the gateway should be enabled for. Codes
            not enabled for the company are silently ignored rather than rejected.
        settings:
          type: object
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
          description: Provider-specific configuration key/values; shape varies by `integration_type`.
    GatewayUpdateRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          description: New display name; omit to leave unchanged.
        credentials:
          type: object
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
          description: Provider credentials to update; omit to preserve stored secrets.
        country_codes:
          type: array
          items:
            type: string
          description: |
            ISO 3166-1 alpha-2 country codes the gateway is enabled for; omit to
            leave unchanged. Codes not enabled for the company are silently ignored.
        settings:
          type: object
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
          description: Provider-specific configuration key/values; omit to leave unchanged.
    JsonValue:
      description: Any valid JSON value for provider, integration, theme, metadata,
        or other dynamic payloads whose keys are not fixed by the API contract.
      anyOf:
      - type: string
      - type: number
      - type: boolean
      - type: 'null'
      - type: array
        items:
          "$ref": "#/components/schemas/JsonValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorValue:
      description: A validation or API error value.
      anyOf:
      - type: string
      - type: array
        items:
          type: string
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorBag:
      description: Validation errors keyed by field, a list of errors, a single error
        message, or null when no structured error details are available.
      anyOf:
      - type: string
      - type: array
        items:
          "$ref": "#/components/schemas/ErrorValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/ErrorValue"
      - type: 'null'
    PaymentWebhookEvent:
      type: object
      description: |
        Payload POSTed to the merchant's configured webhook URL when a payment
        transitions to a terminal state. Deliveries are signed: the
        `X-Fluid-Signature` header carries the hex HMAC-SHA256 of the raw JSON
        body, keyed with the merchant's webhook secret, and `X-Fluid-Event`
        carries the event name. Delivery is at-least-once (up to 5 retries with
        exponential backoff on connection failures, timeouts, and 5xx
        responses; 10-second timeout), so receivers must tolerate duplicates.
        Webhooks fire only for transactions created by API-key-authenticated
        requests, and only when the merchant has both a webhook URL and a
        webhook secret configured. The destination must be a public HTTPS URL:
        a delivery that fails outbound-safety validation at any point — a
        non-HTTPS scheme, a private or internal host, an unresolvable
        hostname, too many redirects, or any other unsafe-URL condition — is
        skipped entirely and never retried.
      required:
      - event
      - created_at
      - data
      properties:
        event:
          type: string
          enum:
          - payment.completed
          - payment.declined
          - payment.error
          - payment.voided
          - payment.refunded
          - payment.captured
          description: |
            Event name. `payment.completed` fires for a successful purchase or
            authorization; `payment.captured`, `payment.voided`, and
            `payment.refunded` fire for successful captures, voids, and
            refunds; `payment.declined` and `payment.error` fire when any of
            those operations is declined by the provider or fails processing.
            Verifications never emit webhooks.
        created_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp (UTC) of when the event was emitted.
        data:
          type: object
          description: Snapshot of the transaction the event describes.
          required:
          - id
          - action
          - status
          - amount_cents
          - currency_code
          - gateway_transaction_id
          - gateway_id
          - parent_transaction_id
          - metadata
          properties:
            id:
              type: string
              description: Transaction slug — fetchable via the show-transaction endpoint.
            action:
              type: string
              description: Transaction action (`purchase`, `authorize`, `capture`, `void`, or `refund`).
            status:
              type: string
              description: Transaction status at emission time (`success`, `declined`, or `error`).
            amount_cents:
              type:
              - integer
              - 'null'
              description: |
                Amount in the currency's smallest unit at the processor's scale;
                `null` when no amount applies.
            currency_code:
              type: string
              description: ISO 4217 currency code.
            gateway_transaction_id:
              type:
              - string
              - 'null'
              description: Provider-assigned transaction identifier; `null` when the provider never responded.
            gateway_id:
              type:
              - string
              - 'null'
              description: Slug of the gateway that processed the transaction.
            parent_transaction_id:
              type:
              - string
              - 'null'
              description: |
                Slug of the originating transaction for captures, voids, and
                refunds; `null` otherwise.
            metadata:
              type: object
              additionalProperties:
                "$ref": "#/components/schemas/JsonValue"
              description: Merchant metadata stored on the transaction.
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: |
        Optional client-generated key (UUID recommended) used to deduplicate
        retries. The first request with a given key executes normally; a retry
        with the same key replays that first response with
        `X-Idempotent-Replayed: true` for up to 24 hours. A concurrent retry
        while the first request is still in flight returns 409.

        The response cache is keyed on the authenticated merchant and this key
        ONLY — not on the operation, path, or request body. Use a fresh, unique
        key per logical request: reusing one key across different operations
        (for example a purchase and then a capture) replays the first
        operation's cached status and body instead of performing the second.

        Idempotency applies to API-key-authenticated requests only. On
        JWT-authenticated requests the header is accepted but ignored — no
        deduplication, no `409`, no replay. The cache stores whatever the
        first execution returned, including error responses such as `404` or
        `422`. Keys longer than 255 characters are rejected with an unhandled
        `500`.
      schema:
        type: string
        maxLength: 255
  responses:
    BadRequest:
      description: |
        Malformed request — a required top-level parameter (e.g. the
        `configuration` wrapper) is missing. Raised by `params.expect` and
        rendered as the standard `{ status, message, meta }` error body.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Missing or invalid credentials.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/UnauthorizedResponse"
    Forbidden:
      description: Authenticated but not authorized for this action.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/ForbiddenResponse"
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/ErrorResponse"
    Conflict:
      description: |
        A request with the same Idempotency-Key is already being processed.
        Retry once the in-flight request completes; the cached response then
        replays with `X-Idempotent-Replayed: true`.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/ErrorResponse"
    UnprocessableEntity:
      description: Validation or business error.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/ErrorResponse"
    NotImplemented:
      description: |
        The operation is reserved but not implemented; the request performs no
        work.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/ErrorResponse"
    WebhookAck:
      description: |
        Return any 2xx status to acknowledge receipt. 5xx responses,
        connection failures, and timeouts are retried up to 5 times with
        exponential backoff; 4xx responses are logged and not retried.
security:
- bearer_auth: []
paths:
  "/api/payment/v2026-04/gateways":
    get:
      operationId: listGateways
      summary: List gateways
      description: |
        Lists the payment gateways configured for the authenticated merchant.
        Read-only; returns an empty `data` array when none are configured. Requires a
        valid API key or JWT bearer token (`401` if missing/invalid, `403` if the
        credential is not authorized).
      tags:
      - Gateways
      responses:
        '200':
          description: List of gateways
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GatewayListResponse"
              examples:
                gateways:
                  summary: A single configured gateway
                  value:
                    data:
                    - id: stripe-usd
                      name: Stripe (USD)
                      integration_type: CreditCard
                      mode: live
                      supported_sources:
                      - visa
                      - mastercard
                      country_codes:
                      - US
                      settings: {}
                      created_at: '2026-04-01T12:00:00Z'
                      updated_at: '2026-04-01T12:00:00Z'
                    meta:
                      request_id: 018f2c1a-8b3a-7e6d-9f10-2a3b4c5d6e7f
                      timestamp: '2026-04-01T12:00:00Z'
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
    post:
      operationId: createGateway
      summary: Create a gateway
      description: |
        Creates a new payment gateway for the authenticated merchant from the
        `gateway` payload. Returns `201` with the created gateway. `credentials` are
        write-only and never returned. Returns `422` when required fields are missing
        or `integration_type` is not a recognized integration class. `mode` is not
        validated: any value other than `test` or `sandbox` produces a live gateway.
        `country_codes` entries not enabled for the company are silently ignored.
      tags:
      - Gateways
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - gateway
              properties:
                gateway:
                  "$ref": "#/components/schemas/GatewayCreateRequest"
            examples:
              stripe:
                summary: Create a Stripe credit-card gateway
                value:
                  gateway:
                    name: Stripe (USD)
                    integration_type: CreditCard
                    mode: live
                    country_codes:
                    - US
      responses:
        '201':
          description: Gateway created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GatewayDataResponse"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
  "/api/payment/v2026-04/gateways/{id}":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Gateway slug, UUID, or ID
    get:
      operationId: showGateway
      summary: Get a gateway
      description: |
        Retrieves a single gateway by slug, UUID, or numeric ID. Read-only; provider
        `credentials` are write-only and never included in the response. Returns `404`
        when no gateway matches the identifier for the authenticated merchant.
      tags:
      - Gateways
      responses:
        '200':
          description: Gateway details
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GatewayDataResponse"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
    patch:
      operationId: updateGateway
      summary: Update a gateway
      description: |
        Updates an existing gateway. Only the fields present in the `gateway` payload
        are changed (PATCH semantics); omit `credentials` to preserve stored secrets.
        `PUT` is also routed to this operation with identical semantics. Returns `200`
        with the updated gateway. Returns `404` when the gateway does not exist and
        `422` on validation failure.
      tags:
      - Gateways
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - gateway
              properties:
                gateway:
                  "$ref": "#/components/schemas/GatewayUpdateRequest"
            examples:
              rename:
                summary: Rename a gateway and expand its country coverage
                value:
                  gateway:
                    name: Stripe (North America)
                    country_codes:
                    - US
                    - CA
      responses:
        '200':
          description: Gateway updated
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GatewayDataResponse"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
    delete:
      operationId: destroyGateway
      summary: Delete a gateway
      description: |
        Deletes a gateway. Returns `204` with no body on success. Returns `404` when
        the gateway does not exist for the authenticated merchant.
      tags:
      - Gateways
      responses:
        '204':
          description: Gateway deleted
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
  "/api/payment/v2026-04/gateways/{id}/purchase":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Gateway slug
    post:
      operationId: purchaseGateway
      summary: Create a purchase transaction
      description: |
        Charges the payment method immediately (authorize and capture in a single
        step) for `amount_cents` on the gateway. Creates a `purchase` transaction and
        returns it with `201`. A `201` means the request was processed, not that
        funds moved — read the outcome from `data.status` (`success`, `declined`, or
        `error`). Pass an `Idempotency-Key` header to make retries safe — a replay
        returns the original result with `X-Idempotent-Replayed: true`. Returns `404`
        when the gateway is not found, or a referenced `payment_method_id` is
        unknown or owned by a different merchant, `409` when
        a request with the same key is still in flight, and `422` when the request
        fails validation. On success, API-key-authenticated requests emit a
        `payment.completed` webhook (declines emit `payment.declined`, processing
        failures `payment.error`).
      tags:
      - Gateways
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - transaction
              properties:
                transaction:
                  "$ref": "#/components/schemas/TransactionRequest"
            examples:
              purchase:
                summary: Charge $49.99 with a saved payment method
                value:
                  transaction:
                    amount_cents: 4999
                    currency_code: USD
                    payment_method_id: pm_9f8e7d6c
              purchase_jpy:
                summary: Charge ¥1,250 with a saved payment method
                value:
                  transaction:
                    amount_cents: 1250
                    currency_code: JPY
                    payment_method_id: pm_9f8e7d6c
      responses:
        '201':
          description: Purchase created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TransactionDataResponse"
              examples:
                success:
                  summary: Approved purchase
                  value:
                    data:
                      id: fpi_01hxyzabc123
                      gateway_id: stripe-usd
                      payment_method_id: 018f2c1a-9c4b-7e6d-9f10-3b4c5d6e7f80
                      card_network: visa
                      parent_transaction_id: null
                      action: purchase
                      status: success
                      amount_cents: 4999
                      currency_code: USD
                      payment_source: CreditCard
                      gateway_transaction_id: ch_3PQr7s2eZvKYlo2C
                      reference_token: order_12345
                      description: null
                      processing_fee_cents: 175
                      platform_fee_cents: 130
                      credited_amount_cents: 0
                      retain_on_success: false
                      metadata: {}
                      created_at: '2026-04-01T12:00:00Z'
                      updated_at: '2026-04-01T12:00:00Z'
                    meta:
                      request_id: 018f2c1a-8b3a-7e6d-9f10-2a3b4c5d6e7f
                      timestamp: '2026-04-01T12:00:00Z'
                declined:
                  summary: Provider declined — still `201`; outcome is in `data.status`
                  value:
                    data:
                      id: fpi_01hxyzdef456
                      gateway_id: stripe-usd
                      payment_method_id: 018f2c1a-9c4b-7e6d-9f10-3b4c5d6e7f80
                      card_network: visa
                      parent_transaction_id: null
                      action: purchase
                      status: declined
                      amount_cents: 4999
                      currency_code: USD
                      payment_source: CreditCard
                      gateway_transaction_id: null
                      reference_token: order_12345
                      description: null
                      processing_fee_cents: 0
                      platform_fee_cents: 0
                      credited_amount_cents: 0
                      retain_on_success: false
                      metadata: {}
                      created_at: '2026-04-01T12:00:00Z'
                      updated_at: '2026-04-01T12:00:00Z'
                    meta:
                      request_id: 018f2c1a-8b3a-7e6d-9f10-2a3b4c5d6e7f
                      timestamp: '2026-04-01T12:00:00Z'
          headers:
            X-Idempotent-Replayed:
              description: Present and `true` when this response is a cached
                replay of an earlier request with the same Idempotency-Key.
              schema:
                type: string
                enum:
                - 'true'
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
  "/api/payment/v2026-04/gateways/{id}/authorize":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Gateway slug
    post:
      operationId: authorizeGateway
      summary: Create an authorization
      description: |
        Authorizes (holds funds on) the payment method for `amount_cents` without
        capturing. Creates an `authorize` transaction and returns it with `201`;
        capture it later via the transaction capture endpoint or release it with
        void. A `201` means the request was processed — read the outcome from
        `data.status` (`success`, `declined`, or `error`). Pass an `Idempotency-Key`
        header to make retries safe. Returns `404` when the gateway is not found,
        or a referenced `payment_method_id` is unknown or owned by a different
        merchant, `409` on an in-flight duplicate key, and
        `422` when the request fails validation. On success, API-key-authenticated
        requests emit a `payment.completed` webhook.
      tags:
      - Gateways
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - transaction
              properties:
                transaction:
                  "$ref": "#/components/schemas/TransactionRequest"
            examples:
              authorize:
                summary: Authorize $49.99 for later capture
                value:
                  transaction:
                    amount_cents: 4999
                    currency_code: USD
                    payment_method_id: pm_9f8e7d6c
              authorize_kwd:
                summary: Authorize 1.234 KWD for later capture
                value:
                  transaction:
                    amount_cents: 1234
                    currency_code: KWD
                    payment_method_id: pm_9f8e7d6c
      responses:
        '201':
          description: Authorization created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TransactionDataResponse"
          headers:
            X-Idempotent-Replayed:
              description: Present and `true` when this response is a cached
                replay of an earlier request with the same Idempotency-Key.
              schema:
                type: string
                enum:
                - 'true'
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
  "/api/payment/v2026-04/gateways/{id}/verify":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Gateway slug
    post:
      operationId: verifyGateway
      summary: Verify a payment method ($0 auth)
      description: |
        Runs a zero-amount authorization to confirm a payment method is valid without
        charging it. Creates a `verify` transaction and returns it with `201`; the
        verification outcome is in `data.status` (`success`, `declined`, or `error`).
        The request body is optional. Returns `404` when the gateway is not found,
        or a referenced `payment_method_id` is unknown or owned by a different
        merchant, and `422` when the request fails validation.
        Verifications never emit webhooks.
      tags:
      - Gateways
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                transaction:
                  type: object
                  additionalProperties: false
                  properties:
                    payment_source:
                      type: string
                      description: |
                        Overrides the integration class used for the verification
                        (e.g. `CreditCard`); defaults to the gateway's configured
                        type.
                    payment_method_id:
                      type: string
                      description: |
                        Slug of the vaulted payment method to verify. It must be
                        owned by the authenticated merchant; a slug that is
                        unknown, or that belongs to a different merchant, fails
                        with `404`.
                    currency_code:
                      type: string
                      description: ISO 4217 currency code to run the $0 authorization in.
            examples:
              verify:
                summary: Zero-dollar verification of a saved payment method
                value:
                  transaction:
                    payment_method_id: pm_9f8e7d6c
                    currency_code: USD
      responses:
        '201':
          description: Verification created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TransactionDataResponse"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
  "/api/payment/v2026-04/gateways/{id}/store":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Gateway slug
    post:
      operationId: storeGateway
      summary: Vault a payment method (reserved, not implemented)
      description: |
        Reserved endpoint for vaulting a payment method against the gateway.
        Not implemented: every request returns `501` with an error envelope and
        performs no work. Authentication is still enforced, so `401`/`403`
        apply before the `501`.
      tags:
      - Gateways
      responses:
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '501':
          "$ref": "#/components/responses/NotImplemented"
  "/api/payment/v2026-04/gateways/{id}/general_credit":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Gateway slug
    post:
      operationId: generalCreditGateway
      summary: Issue a general credit (reserved, not implemented)
      description: |
        Reserved endpoint for crediting a payment method without a prior
        transaction (a standalone credit). Not implemented: every request
        returns `501` with an error envelope and performs no work.
        Authentication is still enforced, so `401`/`403` apply before the
        `501`. To refund an existing transaction, use the transaction credit
        endpoint instead.
      tags:
      - Gateways
      responses:
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '501':
          "$ref": "#/components/responses/NotImplemented"
  "/api/payment/v2026-04/transactions":
    get:
      operationId: listTransactions
      summary: List transactions
      description: |
        Lists transactions for the authenticated merchant using `limit`/`offset`
        pagination, newest first (`created_at` descending). Only transactions created
        through this API (live or sandbox) appear — checkout, storefront, and admin
        transactions are never included. The response carries no total count; page
        forward until a page comes back short or empty. Read-only. Requires a valid
        API key or JWT bearer token (`401` if missing/invalid, `403` if the
        credential is not authorized).
      tags:
      - Transactions
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
        description: Maximum number of transactions to return in one page. Defaults to `25`; capped at `100`.
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
        description: Number of transactions to skip before the returned page, for offset-based pagination.
      responses:
        '200':
          description: List of transactions
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TransactionListResponse"
              examples:
                transactions:
                  summary: One captured purchase, newest first
                  value:
                    data:
                    - id: fpi_01hxyzabc123
                      gateway_id: stripe-usd
                      payment_method_id: 018f2c1a-9c4b-7e6d-9f10-3b4c5d6e7f80
                      card_network: visa
                      parent_transaction_id: null
                      action: purchase
                      status: success
                      amount_cents: 4999
                      currency_code: USD
                      payment_source: CreditCard
                      gateway_transaction_id: ch_3PQr7s2eZvKYlo2C
                      reference_token: order_12345
                      description: null
                      processing_fee_cents: 175
                      platform_fee_cents: 130
                      credited_amount_cents: 0
                      retain_on_success: false
                      metadata: {}
                      created_at: '2026-04-01T12:00:00Z'
                      updated_at: '2026-04-01T12:00:00Z'
                    meta:
                      request_id: 018f2c1a-8b3a-7e6d-9f10-2a3b4c5d6e7f
                      timestamp: '2026-04-01T12:00:00Z'
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
  "/api/payment/v2026-04/transactions/{id}":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Transaction slug
    get:
      operationId: showTransaction
      summary: Get a transaction
      description: |
        Retrieves a single transaction by slug, including its action, status,
        amounts, and fee breakdown. Read-only. Only transactions created through
        this API (live or sandbox) are addressable: a slug belonging to a checkout,
        storefront, or admin transaction returns `404`, as does any slug unknown to
        the authenticated merchant.
      tags:
      - Transactions
      responses:
        '200':
          description: Transaction details
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TransactionDataResponse"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
  "/api/payment/v2026-04/transactions/{id}/capture":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Transaction slug (authorization to capture)
    post:
      operationId: captureTransaction
      summary: Capture an authorization
      description: |
        Captures funds previously held by an authorization. Send `amount_cents` for a
        partial capture; omit it to capture the full authorized amount. Creates a
        `capture` transaction linked to the authorization via `parent_transaction_id`
        and returns it with `201`; read the capture outcome from `data.status`. Pass
        an `Idempotency-Key` header to make retries safe. Returns `404` when the
        authorization is not found — including authorizations that were not created
        through this API — `409` on an in-flight duplicate key, and `422` when the
        authorization cannot be captured. On success, API-key-authenticated requests
        emit a `payment.captured` webhook.
      tags:
      - Transactions
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                transaction:
                  type: object
                  additionalProperties: false
                  properties:
                    amount_cents:
                      type: integer
                      minimum: 1
                      description: Partial capture amount in the source transaction's
                        currency smallest unit (defaults to the full authorization amount)
                    metadata:
                      type: object
                      additionalProperties:
                        "$ref": "#/components/schemas/JsonValue"
            examples:
              full_capture:
                summary: Capture the full authorized amount
                value: {}
              partial_capture:
                summary: Partial capture of $10.00
                value:
                  transaction:
                    amount_cents: 1000
      responses:
        '201':
          description: Capture created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TransactionDataResponse"
              examples:
                capture:
                  summary: Full capture of an authorization
                  value:
                    data:
                      id: fpi_01hxyzghi789
                      gateway_id: stripe-usd
                      payment_method_id: 018f2c1a-9c4b-7e6d-9f10-3b4c5d6e7f80
                      card_network: visa
                      parent_transaction_id: fpi_01hxyzabc123
                      action: capture
                      status: success
                      amount_cents: 4999
                      currency_code: USD
                      payment_source: CreditCard
                      gateway_transaction_id: ch_3PQr7s2eZvKYlo2C
                      reference_token: null
                      description: null
                      processing_fee_cents: 175
                      platform_fee_cents: 130
                      credited_amount_cents: 0
                      retain_on_success: false
                      metadata: {}
                      created_at: '2026-04-02T09:30:00Z'
                      updated_at: '2026-04-02T09:30:00Z'
                    meta:
                      request_id: 018f2c1a-8b3a-7e6d-9f10-2a3b4c5d6e7f
                      timestamp: '2026-04-02T09:30:00Z'
          headers:
            X-Idempotent-Replayed:
              description: Present and `true` when this response is a cached
                replay of an earlier request with the same Idempotency-Key.
              schema:
                type: string
                enum:
                - 'true'
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
  "/api/payment/v2026-04/transactions/{id}/void":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Transaction slug (authorization to void)
    post:
      operationId: voidTransaction
      summary: Void an authorization
      description: |
        Voids (cancels) an authorization before it is captured, releasing the held
        funds. Creates a `void` transaction linked via `parent_transaction_id` and
        returns it with `200`; read the void outcome from `data.status`. Pass an
        `Idempotency-Key` header to make retries safe. Returns `404` when the
        authorization is not found — including authorizations that were not created
        through this API — `409` on an in-flight duplicate key, and `422` when the
        authorization cannot be voided. On success, API-key-authenticated requests
        emit a `payment.voided` webhook.
      tags:
      - Transactions
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                transaction:
                  type: object
                  additionalProperties: false
                  properties:
                    metadata:
                      type: object
                      additionalProperties:
                        "$ref": "#/components/schemas/JsonValue"
                      description: Arbitrary merchant key/value pairs to store with the void transaction.
            examples:
              void:
                summary: Void an authorization
                value: {}
      responses:
        '200':
          description: Void completed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TransactionDataResponse"
          headers:
            X-Idempotent-Replayed:
              description: Present and `true` when this response is a cached
                replay of an earlier request with the same Idempotency-Key.
              schema:
                type: string
                enum:
                - 'true'
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
  "/api/payment/v2026-04/transactions/{id}/credit":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Transaction slug (transaction to refund)
    post:
      operationId: creditTransaction
      summary: Credit/refund a transaction
      description: |
        Refunds a prior transaction. Send `amount_cents` for a partial refund; omit
        it to refund the full amount. Partial refunds accumulate in the source
        transaction's `credited_amount_cents`. Creates a `refund` transaction linked
        via `parent_transaction_id` and returns it with `201`; read the refund
        outcome from `data.status`. The refundable balance is not pre-checked: an
        over-refund is submitted to the provider and typically comes back as a `201`
        with `data.status: declined` or `error`. Pass an `Idempotency-Key` header to
        make retries safe. Returns `404` when the transaction is not found —
        including transactions that were not created through this API — `409` on an
        in-flight duplicate key, and `422` when the request fails validation (for
        example `amount_cents: 0`). On success, API-key-authenticated requests emit
        a `payment.refunded` webhook.
      tags:
      - Transactions
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                transaction:
                  type: object
                  additionalProperties: false
                  properties:
                    amount_cents:
                      type: integer
                      minimum: 1
                      description: Partial refund amount in the source transaction's
                        currency smallest unit (defaults to the full transaction amount)
                    metadata:
                      type: object
                      additionalProperties:
                        "$ref": "#/components/schemas/JsonValue"
            examples:
              full_refund:
                summary: Refund the full transaction amount
                value: {}
              partial_refund:
                summary: Partial refund of $10.00
                value:
                  transaction:
                    amount_cents: 1000
      responses:
        '201':
          description: Credit created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TransactionDataResponse"
              examples:
                refund:
                  summary: Partial refund recorded as a `refund` transaction
                  value:
                    data:
                      id: fpi_01hxyzjkl012
                      gateway_id: stripe-usd
                      payment_method_id: 018f2c1a-9c4b-7e6d-9f10-3b4c5d6e7f80
                      card_network: visa
                      parent_transaction_id: fpi_01hxyzabc123
                      action: refund
                      status: success
                      amount_cents: 1000
                      currency_code: USD
                      payment_source: CreditCard
                      gateway_transaction_id: re_3PQr7s2eZvKYlo2C
                      reference_token: null
                      description: null
                      processing_fee_cents: 0
                      platform_fee_cents: 0
                      credited_amount_cents: 0
                      retain_on_success: false
                      metadata: {}
                      created_at: '2026-04-03T15:45:00Z'
                      updated_at: '2026-04-03T15:45:00Z'
                    meta:
                      request_id: 018f2c1a-8b3a-7e6d-9f10-2a3b4c5d6e7f
                      timestamp: '2026-04-03T15:45:00Z'
          headers:
            X-Idempotent-Replayed:
              description: Present and `true` when this response is a cached
                replay of an earlier request with the same Idempotency-Key.
              schema:
                type: string
                enum:
                - 'true'
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
  "/api/payment/v2026-04/merchants/{merchant_id}/configuration":
    parameters:
    - name: merchant_id
      in: path
      required: true
      schema:
        type: integer
      description: |
        Company ID of the merchant. The lookup resolves by company ID only — the
        payments-merchant row ID is not accepted, so a merchant whose row ID differs
        from its company ID returns `404` when addressed by row ID.
    get:
      operationId: showMerchantConfiguration
      summary: Get merchant payment configuration
      description: Root-admin-only. Returns VGS, Kount, 3DS acquirer, payout, and
        platform-fee settings for a merchant. Secret fields are obfuscated.
      tags:
      - Merchant Configuration
      responses:
        '200':
          description: Merchant payment configuration
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MerchantConfigurationResponse"
              examples:
                configuration:
                  summary: Merchant on Fluid's portfolio Kount account
                  value:
                    data:
                      vgs_client_id: ACt7mrewpsQ8cnrKX9wDCLwM
                      vgs_client_secret: 1a2b********9z
                      vgs_environment: live
                      kount_enterprise: false
                      kount_api_key: null
                      kount_environment: production
                      kount_client_id: null
                      kount_channel_prefix: acme
                      kount_webhook_signing_key: null
                      kount_accounts:
                      - environment: production
                        enterprise: false
                        channel_prefix: acme
                        api_key: null
                        client_id: null
                        webhook_signing_key: null
                      network_tokens_enabled: true
                      vgs_cmp_vault_id: tntabc12345
                      vgs_proxy_username: USfoobar
                      vgs_proxy_password: ab12********cd
                      network_3ds_setting:
                        visa_acquirer_bin: '400551'
                        visa_acquirer_merchant_id: '123456789012345'
                      payouts_settings:
                        payout_collection_enabled: true
                        payout_collection_schedule: daily
                        minimum_payout_amount: 25
                        last_payout_collection_at: '2026-04-01T06:00:00Z'
                      platform_fee_rate: 1.9
                      platform_fee_fixed: 0.35
                    meta:
                      request_id: 018f2c1a-8b3a-7e6d-9f10-2a3b4c5d6e7f
                      timestamp: '2026-04-01T12:00:00Z'
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
    patch:
      operationId: updateMerchantConfiguration
      summary: Update merchant payment configuration
      description: Root-admin-only. Updates VGS, Kount, 3DS acquirer, payout,
        and/or platform-fee settings. Obfuscated secret values (containing
        "********") are silently skipped to prevent overwriting real secrets.
        3DS acquirer fields are merged into the network_3ds_setting JSONB.
        Payout fields are merged into payouts_settings JSONB.
      tags:
      - Merchant Configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - configuration
              properties:
                configuration:
                  "$ref": "#/components/schemas/MerchantConfigurationUpdateRequest"
            examples:
              vgs:
                summary: Rotate VGS environment and enable network tokens
                value:
                  configuration:
                    vgs_environment: sandbox
                    network_tokens_enabled: true
      responses:
        '200':
          description: Configuration updated
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MerchantConfigurationResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        # 422 stays inline: render_error_result returns { status, errors, meta },
        # which differs from the Action-pattern ErrorResponse shape
        # ({ error_message, errors, meta }) referenced by the shared
        # UnprocessableEntity response.
        '422':
          description: Validation error (field-level errors returned)
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - errors
                - meta
                properties:
                  status:
                    type: string
                    enum:
                    - error
                  errors:
                    "$ref": "#/components/schemas/ErrorBag"
                    description: Field-level error messages
                  meta:
                    "$ref": "#/components/schemas/Meta"
webhooks:
  payment.completed:
    post:
      operationId: webhookPaymentCompleted
      summary: payment.completed
      description: |
        Sent when a purchase or authorization created through this API
        succeeds. Delivered as an HTTP POST to the merchant's configured
        webhook URL with `X-Fluid-Event: payment.completed` and an
        `X-Fluid-Signature` header carrying the hex HMAC-SHA256 of the raw
        body, keyed with the merchant's webhook secret. Verify the signature
        with a constant-time comparison before trusting the payload.
      tags:
      - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PaymentWebhookEvent"
            examples:
              completed:
                summary: Successful purchase
                value:
                  event: payment.completed
                  created_at: '2026-04-01T12:00:01Z'
                  data:
                    id: fpi_01hxyzabc123
                    action: purchase
                    status: success
                    amount_cents: 4999
                    currency_code: USD
                    gateway_transaction_id: ch_3PQr7s2eZvKYlo2C
                    gateway_id: stripe-usd
                    parent_transaction_id: null
                    metadata: {}
      responses:
        '200':
          "$ref": "#/components/responses/WebhookAck"
  payment.captured:
    post:
      operationId: webhookPaymentCaptured
      summary: payment.captured
      description: |
        Sent when a capture created through this API succeeds. Same delivery,
        signature, and retry contract as `payment.completed`.
      tags:
      - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PaymentWebhookEvent"
      responses:
        '200':
          "$ref": "#/components/responses/WebhookAck"
  payment.voided:
    post:
      operationId: webhookPaymentVoided
      summary: payment.voided
      description: |
        Sent when a void created through this API succeeds. Same delivery,
        signature, and retry contract as `payment.completed`.
      tags:
      - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PaymentWebhookEvent"
      responses:
        '200':
          "$ref": "#/components/responses/WebhookAck"
  payment.refunded:
    post:
      operationId: webhookPaymentRefunded
      summary: payment.refunded
      description: |
        Sent when a refund created through this API succeeds (full or
        partial). Same delivery, signature, and retry contract as
        `payment.completed`.
      tags:
      - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PaymentWebhookEvent"
      responses:
        '200':
          "$ref": "#/components/responses/WebhookAck"
  payment.declined:
    post:
      operationId: webhookPaymentDeclined
      summary: payment.declined
      description: |
        Sent when the provider declines a purchase, authorization, capture,
        void, or refund created through this API. The declined transaction is
        in `data` with `status: declined`. Same delivery, signature, and retry
        contract as `payment.completed`.
      tags:
      - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PaymentWebhookEvent"
      responses:
        '200':
          "$ref": "#/components/responses/WebhookAck"
  payment.error:
    post:
      operationId: webhookPaymentError
      summary: payment.error
      description: |
        Sent when a purchase, authorization, capture, void, or refund created
        through this API fails with a processing error (gateway timeout,
        network failure). The transaction is in `data` with `status: error`.
        Same delivery, signature, and retry contract as `payment.completed`.
      tags:
      - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PaymentWebhookEvent"
      responses:
        '200':
          "$ref": "#/components/responses/WebhookAck"
