---
openapi: 3.1.0
info:
  title: Fluid Payment API
  version: v2026-04
  description: Payment gateway and transaction management API. Supports API key authentication
    (fp_live_*/fp_test_*) and JWT bearer tokens.
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
tags:
- name: Gateways
  description: Manage payment gateways and run gateway-level transactions —
    purchase, authorize, and $0 verification.
- name: Transactions
  description: Read transactions and run transaction lifecycle operations —
    capture, void, and credit/refund.
- name: Merchant Configuration
  description: Read and update a merchant's payment configuration — VGS, Kount,
    3DS acquirer, and payout settings.
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: API key (fp_live_*/fp_test_*) or JWT bearer token
  schemas:
    Meta:
      type: object
      required:
      - request_id
      - timestamp
      properties:
        request_id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
    ErrorResponse:
      oneOf:
      - type: object
        required:
        - status
        - message
        - meta
        properties:
          status:
            type: string
            enum:
            - error
          message:
            type: string
          meta:
            "$ref": "#/components/schemas/Meta"
      - type: object
        required:
        - error_message
        - errors
        - meta
        properties:
          error_message:
            type: string
          errors:
            "$ref": "#/components/schemas/ErrorBag"
          meta:
            "$ref": "#/components/schemas/Meta"
    UnauthorizedResponse:
      type: object
      required:
      - message
      - meta
      properties:
        message:
          type: string
        status:
          type: string
        meta:
          "$ref": "#/components/schemas/Meta"
    ForbiddenResponse:
      description: |
        Authenticated but not authorized. Two body shapes occur:
        - a bare `message` when the credential lacks the required role/tier
          (e.g. a non-admin JWT calling an admin endpoint)
        - a `status` + field `errors` object when an admin-tier caller writes
          a root-admin-only configuration field
      oneOf:
      - type: object
        required:
        - message
        - meta
        properties:
          message:
            type: string
          meta:
            "$ref": "#/components/schemas/Meta"
      - type: object
        required:
        - status
        - errors
        - meta
        properties:
          status:
            type: string
            enum:
            - error
          errors:
            "$ref": "#/components/schemas/ErrorBag"
          meta:
            "$ref": "#/components/schemas/Meta"
    Gateway:
      type: object
      required:
      - id
      - name
      - integration_type
      - mode
      - supported_sources
      - country_codes
      - settings
      - created_at
      - updated_at
      properties:
        id:
          type: string
          description: Gateway slug identifier
        name:
          type: string
        integration_type:
          type: string
          description: e.g. CreditCard, PayPal
        mode:
          type: string
          enum:
          - live
          - test
          - sandbox
        supported_sources:
          type: array
          items:
            type: string
          description: Supported card types
        country_codes:
          type: array
          items:
            type: string
          description: ISO country codes
        settings:
          type: object
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Transaction:
      type: object
      required:
      - id
      - action
      - status
      - amount_cents
      - currency_code
      - processing_fee_cents
      - credited_amount_cents
      - retain_on_success
      - metadata
      - created_at
      - updated_at
      properties:
        id:
          type: string
          description: Transaction slug identifier
        gateway_id:
          type:
          - string
          - 'null'
          description: Gateway slug
        payment_method_id:
          type:
          - string
          - 'null'
          description: Payment method slug
        parent_transaction_id:
          type:
          - string
          - 'null'
          description: Parent transaction slug (for captures, voids, credits)
        action:
          type: string
          enum:
          - purchase
          - authorize
          - capture
          - void
          - refund
          - verify
          - general_credit
        status:
          type: string
          enum:
          - success
          - declined
          - error
          - pending
        amount_cents:
          type:
          - integer
          - 'null'
          description: Amount in cents
        currency_code:
          type: string
          description: ISO 4217 currency code
        payment_source:
          type:
          - string
          - 'null'
          description: Integration class (e.g. CreditCard, PayPal)
        gateway_transaction_id:
          type:
          - string
          - 'null'
          description: Gateway-assigned transaction ID
        reference_token:
          type:
          - string
          - 'null'
          description: Merchant reference token
        description:
          type:
          - string
          - 'null'
        processing_fee_cents:
          type: integer
          description: Processing fee in cents
        platform_fee_cents:
          type: integer
          description: Fluid platform fee in cents
        credited_amount_cents:
          type: integer
          description: Credited/refunded amount in cents
        retain_on_success:
          type: boolean
        metadata:
          type: object
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    GatewayDataResponse:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/Gateway"
        meta:
          "$ref": "#/components/schemas/Meta"
    GatewayListResponse:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Gateway"
        meta:
          "$ref": "#/components/schemas/Meta"
    TransactionDataResponse:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/Transaction"
        meta:
          "$ref": "#/components/schemas/Meta"
    TransactionListResponse:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Transaction"
        meta:
          "$ref": "#/components/schemas/Meta"
    BillingAddress:
      type: object
      additionalProperties: false
      properties:
        first_name:
          type: string
        last_name:
          type: string
        address1:
          type: string
        address2:
          type:
          - string
          - 'null'
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
    TransactionRequest:
      type: object
      additionalProperties: false
      required:
      - amount_cents
      - currency_code
      properties:
        amount_cents:
          type: integer
          minimum: 1
          description: Amount in cents
        currency_code:
          type: string
          description: ISO 4217 currency code
        payment_source:
          type: string
          description: Integration class override
        payment_method_id:
          type: string
          description: Payment method slug
        reference_token:
          type: string
        description:
          type: string
        retain_on_success:
          type: boolean
        transaction_type:
          type: string
          description: cit, mit, or recurring
        email:
          type: string
        billing_address:
          "$ref": "#/components/schemas/BillingAddress"
        shipping_address:
          "$ref": "#/components/schemas/BillingAddress"
        metadata:
          type: object
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
    KountAccount:
      type: object
      description: One Kount account configuration. Sandbox and production are persisted as separate accounts; the active environment is mirrored by MerchantConfiguration.kount_environment.
      required:
      - environment
      - enterprise
      properties:
        environment:
          type: string
          enum:
          - sandbox
          - production
          description: Kount account environment.
        enterprise:
          type: boolean
          description: When true, this account uses merchant-owned Kount 360 credentials. When false, it uses Fluid's portfolio credentials with a channel prefix.
        channel_prefix:
          type:
          - string
          - 'null'
          maxLength: 63
          description: Portfolio account channel prefix. Required when enterprise is false.
        api_key:
          type:
          - string
          - 'null'
          description: Enterprise Kount API key. Obfuscated on read; omit or send obfuscated value to preserve the stored secret.
        client_id:
          type:
          - string
          - 'null'
          example: "150953359757648"
          description: Enterprise Kount Client ID (MID). Plain text and public-by-design for the checkout DDC script.
        webhook_signing_key:
          type:
          - string
          - 'null'
          description: Enterprise webhook signing key. Obfuscated on read; omit or send obfuscated value to preserve the stored secret.
    MerchantConfiguration:
      type: object
      properties:
        vgs_client_id:
          type:
          - string
          - 'null'
          description: VGS client ID
        vgs_client_secret:
          type:
          - string
          - 'null'
          description: VGS client secret (obfuscated on read)
        vgs_environment:
          type:
          - string
          - 'null'
          enum:
          - live
          - sandbox
          -
          description: VGS environment
        kount_enterprise:
          type:
          - boolean
          - 'null'
          example: false
          description: When true, this merchant uses its own Kount 360 account; credentials
            come from kount_api_key + kount_webhook_signing_key. When false, Fluid's
            master Kount account is used (env-aware) and kount_channel_prefix segments
            traffic.
        kount_api_key:
          type:
          - string
          - 'null'
          description: Kount API key (obfuscated on read)
        kount_environment:
          type:
          - string
          - 'null'
          enum:
          - sandbox
          - production
          -
          description: Kount environment
        kount_client_id:
          type:
          - string
          - 'null'
          example: "150953359757648"
          description: Per-merchant Kount Client ID (MID). Required when kount_enterprise is true; used by the Kount Web SDK on the checkout page so DDC data lands in this merchant's Kount tenant. Plain text — public-by-design.
        kount_channel_prefix:
          type:
          - string
          - 'null'
          maxLength: 63
          description: Bare Kount channel prefix for the merchant (e.g. "yoli" or
            "rain-international"); appended to source tokens at runtime to form channel
            values like "yoli-WEB". Root-admin write only.
        kount_webhook_signing_key:
          type:
          - string
          - 'null'
          example: "MG9h********Tg=="
          description: Obfuscated RSA public key the merchant gets from their Kount
            360 portal. Used to verify decision webhooks for enterprise accounts.
            Returned masked.
        kount_accounts:
          type: array
          description: Complete persisted Kount account set. Contains up to one sandbox account and one production account; kount_environment selects which account routes checkout traffic.
          items:
            "$ref": "#/components/schemas/KountAccount"
        network_tokens_enabled:
          type:
          - boolean
          - 'null'
          description: Whether network tokens are enabled
        vgs_cmp_vault_id:
          type:
          - string
          - 'null'
          description: VGS CMP vault ID for cross-vault proxy
        vgs_proxy_username:
          type:
          - string
          - 'null'
          description: VGS proxy username
        vgs_proxy_password:
          type:
          - string
          - 'null'
          description: VGS proxy password (obfuscated on read)
        network_3ds_setting:
          type: object
          description: Per-network 3DS acquirer settings
          properties:
            visa_acquirer_bin:
              type: string
            visa_acquirer_merchant_id:
              type: string
            mastercard_acquirer_bin:
              type: string
            mastercard_acquirer_merchant_id:
              type: string
            amex_acquirer_bin:
              type: string
            amex_acquirer_merchant_id:
              type: string
            amex_acquirer_requestor_id:
              type: string
            amex_acquirer_requestor_name:
              type: string
            discover_acquirer_bin:
              type: string
            discover_acquirer_merchant_id:
              type: string
            discover_acquirer_requestor_id:
              type: string
            discover_acquirer_requestor_name:
              type: string
        payouts_settings:
          type: object
          description: Payout collection settings
          properties:
            payout_collection_enabled:
              type: boolean
            payout_collection_schedule:
              type: string
              enum:
              - hourly_4
              - daily
              - weekly
            minimum_payout_amount:
              type: number
            last_payout_collection_at:
              type: string
              format: date-time
        platform_fee_rate:
          type: number
          description: Fluid platform fee rate (percentage)
          example: 2.9
        platform_fee_fixed:
          type: number
          description: Fluid platform fee fixed amount (USD)
          example: 0.3
    MerchantConfigurationResponse:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          "$ref": "#/components/schemas/MerchantConfiguration"
        meta:
          "$ref": "#/components/schemas/Meta"
    MerchantConfigurationUpdateRequest:
      type: object
      additionalProperties: false
      properties:
        vgs_client_id:
          type: string
        vgs_client_secret:
          type: string
          description: Omit or send obfuscated value to preserve existing secret
        vgs_environment:
          type: string
          enum:
          - live
          - sandbox
        kount_enterprise:
          type: boolean
          example: false
          description: When true, this merchant uses its own Kount 360 account; kount_api_key
            and kount_webhook_signing_key are required. When false, Fluid's master
            Kount account is used.
        kount_api_key:
          type: string
          description: Omit or send obfuscated value to preserve existing secret
        kount_environment:
          type: string
          enum:
          - sandbox
          - production
        kount_client_id:
          type:
          - string
          - 'null'
          example: "150953359757648"
          description: Required when kount_enterprise is true.
        kount_channel_prefix:
          type:
          - string
          - 'null'
          maxLength: 63
          description: Bare Kount channel prefix for the merchant (e.g. "yoli" or
            "rain-international"); appended to source tokens at runtime to form channel
            values like "yoli-WEB". Root-admin write only.
        kount_webhook_signing_key:
          type:
          - string
          - 'null'
          example: "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A...\n-----END
            PUBLIC KEY-----"
          description: RSA public key in PEM or bare SPKI base64. Required when kount_enterprise
            is true.
        kount_accounts:
          type: array
          description: Complete Kount account set to persist. Send this with kount_environment to store inactive sandbox/production accounts and select the active one.
          items:
            "$ref": "#/components/schemas/KountAccount"
        network_tokens_enabled:
          type: boolean
        vgs_cmp_vault_id:
          type: string
        vgs_proxy_username:
          type: string
        vgs_proxy_password:
          type: string
          description: Omit or send obfuscated value to preserve existing secret
        visa_acquirer_bin:
          type: string
        visa_acquirer_merchant_id:
          type: string
        mastercard_acquirer_bin:
          type: string
        mastercard_acquirer_merchant_id:
          type: string
        amex_acquirer_bin:
          type: string
        amex_acquirer_merchant_id:
          type: string
        amex_acquirer_requestor_id:
          type: string
        amex_acquirer_requestor_name:
          type: string
        discover_acquirer_bin:
          type: string
        discover_acquirer_merchant_id:
          type: string
        discover_acquirer_requestor_id:
          type: string
        discover_acquirer_requestor_name:
          type: string
        payout_collection_enabled:
          type: boolean
        payout_collection_schedule:
          type: string
          enum:
          - hourly_4
          - daily
          - weekly
        minimum_payout_amount:
          type: number
          format: decimal
        platform_fee_rate:
          type: number
          format: decimal
          description: Fluid platform fee rate (percentage)
          example: 2.9
        platform_fee_fixed:
          type: number
          format: decimal
          description: Fluid platform fee fixed amount (USD)
          example: 0.3
    GatewayCreateRequest:
      type: object
      additionalProperties: false
      required:
      - name
      - integration_type
      properties:
        name:
          type: string
        integration_type:
          type: string
        mode:
          type: string
          enum:
          - live
          - test
          - sandbox
        credentials:
          type: object
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        country_codes:
          type: array
          items:
            type: string
        settings:
          type: object
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
    GatewayUpdateRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        credentials:
          type: object
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        country_codes:
          type: array
          items:
            type: string
        settings:
          type: object
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
    JsonValue:
      description: Any valid JSON value for provider, integration, theme, metadata,
        or other dynamic payloads whose keys are not fixed by the API contract.
      anyOf:
      - type: string
      - type: number
      - type: boolean
      - type: 'null'
      - type: array
        items:
          "$ref": "#/components/schemas/JsonValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorValue:
      description: A validation or API error value.
      anyOf:
      - type: string
      - type: array
        items:
          type: string
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorBag:
      description: Validation errors keyed by field, a list of errors, a single error
        message, or null when no structured error details are available.
      anyOf:
      - type: string
      - type: array
        items:
          "$ref": "#/components/schemas/ErrorValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/ErrorValue"
      - type: 'null'
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: |
        Optional client-generated key (UUID recommended) used to deduplicate
        retries. The first request with a given key executes normally; a retry
        with the same key replays the cached response with
        `X-Idempotent-Replayed: true`. A concurrent retry while the first is
        still in flight returns 409. The cache is scoped to the authenticated
        merchant.
      schema:
        type: string
        maxLength: 255
  responses:
    BadRequest:
      description: |
        Malformed request — a required top-level parameter (e.g. the
        `configuration` wrapper) is missing. Raised by `params.expect` and
        rendered as the standard `{ status, message, meta }` error body.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Missing or invalid credentials.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/UnauthorizedResponse"
    Forbidden:
      description: Authenticated but not authorized for this action.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/ForbiddenResponse"
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/ErrorResponse"
    Conflict:
      description: |
        A request with the same Idempotency-Key is already being processed.
        Retry once the in-flight request completes; the cached response then
        replays with `X-Idempotent-Replayed: true`.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/ErrorResponse"
    UnprocessableEntity:
      description: Validation or business error.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/ErrorResponse"
security:
- bearer_auth: []
paths:
  "/api/payment/v2026-04/gateways":
    get:
      operationId: listGateways
      summary: List gateways
      tags:
      - Gateways
      responses:
        '200':
          description: List of gateways
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GatewayListResponse"
              examples:
                gateways:
                  summary: A single configured gateway
                  value:
                    data:
                    - id: stripe-usd
                      name: Stripe (USD)
                      integration_type: CreditCard
                      mode: live
                      supported_sources:
                      - visa
                      - mastercard
                      country_codes:
                      - US
                      settings: {}
                      created_at: '2026-04-01T12:00:00Z'
                      updated_at: '2026-04-01T12:00:00Z'
                    meta:
                      request_id: 018f2c1a-8b3a-7e6d-9f10-2a3b4c5d6e7f
                      timestamp: '2026-04-01T12:00:00Z'
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
    post:
      operationId: createGateway
      summary: Create a gateway
      tags:
      - Gateways
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - gateway
              properties:
                gateway:
                  "$ref": "#/components/schemas/GatewayCreateRequest"
            examples:
              stripe:
                summary: Create a Stripe credit-card gateway
                value:
                  gateway:
                    name: Stripe (USD)
                    integration_type: CreditCard
                    mode: live
                    country_codes:
                    - US
      responses:
        '201':
          description: Gateway created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GatewayDataResponse"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
  "/api/payment/v2026-04/gateways/{id}":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Gateway slug, UUID, or ID
    get:
      operationId: showGateway
      summary: Get a gateway
      tags:
      - Gateways
      responses:
        '200':
          description: Gateway details
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GatewayDataResponse"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
    patch:
      operationId: updateGateway
      summary: Update a gateway
      tags:
      - Gateways
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - gateway
              properties:
                gateway:
                  "$ref": "#/components/schemas/GatewayUpdateRequest"
      responses:
        '200':
          description: Gateway updated
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GatewayDataResponse"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
    delete:
      operationId: destroyGateway
      summary: Delete a gateway
      tags:
      - Gateways
      responses:
        '204':
          description: Gateway deleted
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
  "/api/payment/v2026-04/gateways/{id}/purchase":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Gateway slug
    post:
      operationId: purchaseGateway
      summary: Create a purchase transaction
      tags:
      - Gateways
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - transaction
              properties:
                transaction:
                  "$ref": "#/components/schemas/TransactionRequest"
            examples:
              purchase:
                summary: Charge $49.99 with a saved payment method
                value:
                  transaction:
                    amount_cents: 4999
                    currency_code: USD
                    payment_method_id: pm_9f8e7d6c
      responses:
        '201':
          description: Purchase created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TransactionDataResponse"
          headers:
            X-Idempotent-Replayed:
              description: Present and `true` when this response is a cached
                replay of an earlier request with the same Idempotency-Key.
              schema:
                type: string
                enum:
                - 'true'
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
  "/api/payment/v2026-04/gateways/{id}/authorize":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Gateway slug
    post:
      operationId: authorizeGateway
      summary: Create an authorization
      tags:
      - Gateways
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - transaction
              properties:
                transaction:
                  "$ref": "#/components/schemas/TransactionRequest"
            examples:
              authorize:
                summary: Authorize $49.99 for later capture
                value:
                  transaction:
                    amount_cents: 4999
                    currency_code: USD
                    payment_method_id: pm_9f8e7d6c
      responses:
        '201':
          description: Authorization created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TransactionDataResponse"
          headers:
            X-Idempotent-Replayed:
              description: Present and `true` when this response is a cached
                replay of an earlier request with the same Idempotency-Key.
              schema:
                type: string
                enum:
                - 'true'
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
  "/api/payment/v2026-04/gateways/{id}/verify":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Gateway slug
    post:
      operationId: verifyGateway
      summary: Verify a payment method ($0 auth)
      tags:
      - Gateways
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                transaction:
                  type: object
                  additionalProperties: false
                  properties:
                    payment_source:
                      type: string
                    payment_method_id:
                      type: string
                    currency_code:
                      type: string
            examples:
              verify:
                summary: Zero-dollar verification of a saved payment method
                value:
                  transaction:
                    payment_method_id: pm_9f8e7d6c
                    currency_code: USD
      responses:
        '201':
          description: Verification created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TransactionDataResponse"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
  "/api/payment/v2026-04/transactions":
    get:
      operationId: listTransactions
      summary: List transactions
      tags:
      - Transactions
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
        description: Number of transactions to return
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
        description: Number of transactions to skip
      responses:
        '200':
          description: List of transactions
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TransactionListResponse"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
  "/api/payment/v2026-04/transactions/{id}":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Transaction slug
    get:
      operationId: showTransaction
      summary: Get a transaction
      tags:
      - Transactions
      responses:
        '200':
          description: Transaction details
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TransactionDataResponse"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
  "/api/payment/v2026-04/transactions/{id}/capture":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Transaction slug (authorization to capture)
    post:
      operationId: captureTransaction
      summary: Capture an authorization
      tags:
      - Transactions
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                transaction:
                  type: object
                  additionalProperties: false
                  properties:
                    amount_cents:
                      type: integer
                      minimum: 1
                      description: Partial capture amount (defaults to full authorization
                        amount)
                    metadata:
                      type: object
                      additionalProperties:
                        "$ref": "#/components/schemas/JsonValue"
            examples:
              full_capture:
                summary: Capture the full authorized amount
                value: {}
              partial_capture:
                summary: Partial capture of $10.00
                value:
                  transaction:
                    amount_cents: 1000
      responses:
        '201':
          description: Capture created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TransactionDataResponse"
          headers:
            X-Idempotent-Replayed:
              description: Present and `true` when this response is a cached
                replay of an earlier request with the same Idempotency-Key.
              schema:
                type: string
                enum:
                - 'true'
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
  "/api/payment/v2026-04/transactions/{id}/void":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Transaction slug (authorization to void)
    post:
      operationId: voidTransaction
      summary: Void an authorization
      tags:
      - Transactions
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                transaction:
                  type: object
                  additionalProperties: false
                  properties:
                    metadata:
                      type: object
                      additionalProperties:
                        "$ref": "#/components/schemas/JsonValue"
            examples:
              void:
                summary: Void an authorization
                value: {}
      responses:
        '200':
          description: Void completed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TransactionDataResponse"
          headers:
            X-Idempotent-Replayed:
              description: Present and `true` when this response is a cached
                replay of an earlier request with the same Idempotency-Key.
              schema:
                type: string
                enum:
                - 'true'
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
  "/api/payment/v2026-04/transactions/{id}/credit":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Transaction slug (transaction to refund)
    post:
      operationId: creditTransaction
      summary: Credit/refund a transaction
      tags:
      - Transactions
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                transaction:
                  type: object
                  additionalProperties: false
                  properties:
                    amount_cents:
                      type: integer
                      minimum: 1
                      description: Partial refund amount (defaults to full transaction
                        amount)
                    metadata:
                      type: object
                      additionalProperties:
                        "$ref": "#/components/schemas/JsonValue"
            examples:
              full_refund:
                summary: Refund the full transaction amount
                value: {}
              partial_refund:
                summary: Partial refund of $10.00
                value:
                  transaction:
                    amount_cents: 1000
      responses:
        '201':
          description: Credit created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TransactionDataResponse"
          headers:
            X-Idempotent-Replayed:
              description: Present and `true` when this response is a cached
                replay of an earlier request with the same Idempotency-Key.
              schema:
                type: string
                enum:
                - 'true'
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
  "/api/payment/v2026-04/merchants/{merchant_id}/configuration":
    parameters:
    - name: merchant_id
      in: path
      required: true
      schema:
        type: integer
      description: Merchant ID or company ID (both are unique-indexed)
    get:
      operationId: showMerchantConfiguration
      summary: Get merchant payment configuration
      description: Returns VGS, Kount, 3DS acquirer, and payout settings for a merchant.
        Secret fields are obfuscated. API key auth is scoped to the authenticated
        merchant only.
      tags:
      - Merchant Configuration
      responses:
        '200':
          description: Merchant payment configuration
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MerchantConfigurationResponse"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
    patch:
      operationId: updateMerchantConfiguration
      summary: Update merchant payment configuration
      description: Updates VGS, Kount, 3DS acquirer, and/or payout settings. Obfuscated
        secret values (containing "********") are silently skipped to prevent overwriting
        real secrets. 3DS acquirer fields are merged into the network_3ds_setting
        JSONB. Payout fields are merged into payouts_settings JSONB. API key auth
        is scoped to the authenticated merchant only.
      tags:
      - Merchant Configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - configuration
              properties:
                configuration:
                  "$ref": "#/components/schemas/MerchantConfigurationUpdateRequest"
            examples:
              vgs:
                summary: Rotate VGS environment and enable network tokens
                value:
                  configuration:
                    vgs_environment: sandbox
                    network_tokens_enabled: true
      responses:
        '200':
          description: Configuration updated
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MerchantConfigurationResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        # 422 stays inline: render_error_result returns { status, errors, meta },
        # which differs from the Action-pattern ErrorResponse shape
        # ({ error_message, errors, meta }) referenced by the shared
        # UnprocessableEntity response.
        '422':
          description: Validation error (field-level errors returned)
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - errors
                - meta
                properties:
                  status:
                    type: string
                    enum:
                    - error
                  errors:
                    "$ref": "#/components/schemas/ErrorBag"
                    description: Field-level error messages
                  meta:
                    "$ref": "#/components/schemas/Meta"
