openapi: 3.1.0
info:
  title: Fluid Public SDK API
  description: |-
    **Fluid Public SDK API — the REST surface behind the `@fluid-app` FairShare
    SDK.**

    This is what the SDK calls on your behalf from the browser. Read it to
    understand what the SDK sends and receives, to verify a payload, or to call an
    SDK-backed endpoint directly. It also owns the browser-side platform surface
    that exists nowhere else: event tracking, lead capture, media and playlists,
    embeddable widgets, forms, sessions, settings, browser fingerprinting,
    affiliate lookup, and root themes.

    Its cart endpoints (`/api/public/v2025-06/commerce/carts/…`) are
    **session-aware**: they accept `fluid_session` and populate visitor session
    and rep attribution on the cart. They also cover enrollment-pack carts
    (`…/enroll`, `…/enrollment`) and payment-gateway callbacks, which the Checkout
    API does not.

    Most browser and cart operations require no bearer token. The cart token in
    the path scopes cart requests. Synchronizing an authenticated customer,
    overriding cart item prices, and overriding cart item volumes require a
    bearer token.

    **Building a checkout from scratch, server-side? Use the Fluid Checkout API
    (`checkout-v2026-04`) instead** — it is the forward surface and the only one
    with customer accounts and subscription management. See
    [Choosing a cart surface](https://docs.fluid.app/api/choosing-a-cart-surface)
    for the operation map and boundary.

    Note: the version label names this spec, not a single path prefix. Endpoints
    here live under `/api/public/v2025-06/`, its partial
    `/api/public/stable/` alias, `/api/public/`, `/api/v202506/carts/`, and the
    cart price-override path under `/api/carts/`.
  version: v2025-06
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
tags:
- name: carts
  description: Create, read, and mutate session-aware carts (items, address, country,
    language, discounts, shipping method, payment method, magic-link login, checkout).
- name: checkout
  description: Checkout-started event emitted when a shopper enters the checkout flow.
- name: commerce
  description: Admin-authenticated cart price overrides.
- name: orders
  description: Public order lookup by token, including earned loyalty points.
- name: product
  description: Localized product lookup by slug for storefronts and themes.
- name: enrollment-packs
  description: Enrollment pack lookup by slug, for enrollment-pack carts.
- name: payment
  description: Klarna session creation and updates for a cart.
- name: paypal
  description: PayPal order creation, authorization, and shipping callbacks for a
    cart.
- name: braintree
  description: Saving a Braintree PayPal account for a start-free cart.
  x-fluid-section: Checkout
- name: events
  description: Browser-side event ingestion — page visits, URL visits, and lead capture.
- name: session
  description: Visitor session creation, the basis of cart and rep attribution.
- name: fingerprint
  description: Browser fingerprint registration used to link sessions to a visitor.
- name: lead
  description: Lead capture from storefront and theme forms.
- name: forms
  description: Public form retrieval, password verification, and response submission.
- name: media
  description: Media lookup by slug and video analytics events.
- name: playlist
  description: Playlist (library) lookup by slug.
- name: widgets
  description: Embeddable storefront widgets — banners, carts, chats, and popups.
- name: page
  description: Page-visit tracking for storefront and theme pages.
- name: url
  description: Short-link and URL visit tracking.
- name: settings
  description: Company storefront settings the SDK reads at boot — company, cart,
    and affiliate configuration.
- name: affiliate
  description: Affiliate lookup used to resolve a rep from a share link or handle.
- name: root-themes
  description: Root theme catalog backing the theme editor and storefront rendering.
- name: public
  description: Public utilities — health checks, Apple Pay domain verification,
    leaderboards, and cart item volumes.
- name: public-drop-zones
  description: Active checkout, order-confirmation, and slideout-cart drop zones
    used internally by the FairShare SDK. Direct REST integrations should use
    checkout-v2026-04.
components:
  parameters:
    CheckoutJourneyId:
      name: X-Checkout-Journey-Id
      in: header
      required: false
      description: |
        Optional non-authorizing checkout journey UUID. Use with
        X-Checkout-Attempt-Id. Capture is disabled by default; malformed or
        incomplete pairs are ignored without changing checkout behavior.
        Cart scope comes from the authenticated cart token, never these headers.
      schema:
        type: string
      example: '00000000-0000-4000-8000-000000000001'
    CheckoutAttemptId:
      name: X-Checkout-Attempt-Id
      in: header
      required: false
      description: |
        Optional customer-submission UUID paired with X-Checkout-Journey-Id.
        Retain it for transport retries and originating continuations; use a new
        UUID for a new customer submission. It does not replace payment or order
        idempotency keys. Invalid pairs are ignored rather than rejecting payment.
      schema:
        type: string
      example: '00000000-0000-4000-8000-000000000011'
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: Bearer token authentication
  responses:
    PaymentInProgressError:
      description: |
        A redirect payment (PPRO, dLocal, Citcon) is open at the provider, so the
        cart refuses writes until the charge resolves (`meta.code` =
        `payment_in_progress`). The provider collects the amount the charge
        opened with, and the order is built from this cart when it does.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/PaymentInProgressErrorResponse"
    ProcessedCartResponse:
      description: >-
        The cart is locked and can no longer be modified. Cart-mutation endpoints
        return this when the cart has already been processed (converted to an
        order) or, for enrollment carts, is in an authorized payment state. The
        body carries the full cart plus the store URL so the client can display
        the locked cart and redirect.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/LockedCartErrorResponse"
  schemas:
    PaymentInProgressErrorResponse:
      description: |
        409 envelope for a cart write refused while a redirect payment is
        open at the provider (CURRENT-3992). `meta.cart` is the cart as it
        stands, so the client can show the pending payment without a second
        fetch.
      type: object
      additionalProperties: false
      required:
      - error_message
      - errors
      - meta
      properties:
        error_message:
          type: string
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          type: object
          additionalProperties: false
          required:
          - request_id
          - timestamp
          - code
          - shop_url
          - cart
          properties:
            request_id:
              type:
              - string
              - 'null'
            timestamp:
              type: string
              format: date-time
            code:
              type: string
              enum:
              - payment_in_progress
            shop_url:
              type: string
            cart:
              "$ref": "#/components/schemas/Cart"
    LockedCartErrorResponse:
      type: object
      additionalProperties: false
      required:
      - error_message
      - errors
      - meta
      properties:
        error_message:
          type: string
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          type: object
          additionalProperties: false
          required:
          - request_id
          - timestamp
          - shop_url
          - cart
          properties:
            request_id:
              type:
              - string
              - 'null'
            timestamp:
              type: string
              format: date-time
            shop_url:
              type: string
            cart:
              "$ref": "#/components/schemas/Cart"
    Meta:
      type: object
      properties:
        request_id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
      additionalProperties: false
    ErrorResponse:
      type: object
      required:
      - error_message
      - errors
      - meta
      properties:
        error_message:
          type: string
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          $ref: '#/components/schemas/ErrorMeta'
    CartResponse:
      type: object
      required:
      - cart
      additionalProperties: false
      properties:
        cart:
          $ref: '#/components/schemas/Cart'
        meta:
          type: object
          additionalProperties: false
          properties:
            checkout_url:
              type:
              - string
              - 'null'
            shop_url:
              type:
              - string
              - 'null'
            request_id:
              type:
              - string
              - 'null'
            timestamp:
              type:
              - string
              - 'null'
    Cart:
      type: object
      additionalProperties: false
      required:
      - enrollment
      properties:
        id:
          type: integer
        cart_token:
          type: string
        state:
          type: string
        state_revision:
          type: integer
          format: int64
          minimum: 0
          description: Monotonic ordering marker for published cart snapshots.
        population_status:
          type: string
          enum:
          - pending
          - complete
          - failed
          description: Progress of the background job that adds a deferred
            create's items. `pending` while it runs, then `complete` or `failed`.
            A synchronous create returns `complete`.
            An unexpected job error can leave it `pending`, so clients should stop
            waiting after a timeout.
        email:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
        language_iso:
          type:
          - string
          - 'null'
        currency_code:
          type: string
        currency_symbol:
          type: string
        currency_decimal_places:
          type: integer
        type:
          type:
          - string
          - 'null'
        enrollment:
          type: boolean
          description: Whether the cart is flagged as enrollment eligible, with
            or without an enrollment pack.
        buyer_rep_id:
          type:
          - integer
          - 'null'
        customer_id:
          type:
          - integer
          - 'null'
        enrollment_pack_id:
          type:
          - integer
          - 'null'
        enrollment_member_type:
          examples:
          - id: 22c58158-7f6c-4f33-a033-32e259941684
            slug: rep
            name: Representative
          - null
          anyOf:
          - type: object
            additionalProperties: false
            required:
            - id
            - slug
            - name
            properties:
              id:
                type: string
                format: uuid
              slug:
                type: string
              name:
                type: string
          - type: 'null'
        email_marketing:
          type:
          - boolean
          - 'null'
        sms_marketing:
          type:
          - boolean
          - 'null'
        auto_apply_points:
          type: boolean
          description: Whether renewals created from this cart apply reward points automatically
        processed:
          type: boolean
        payment_in_progress:
          type: boolean
          description: |
            `true` while a redirect payment (PPRO, dLocal, Citcon) is open at the
            provider. Cart writes answer `409` with `meta.code` =
            `payment_in_progress` until the charge resolves.
        payment_resume_url:
          type:
          - string
          - 'null'
          description: |
            Fluid's resume endpoint for the open payment
            (`GET /api/checkout/v2026-04/carts/{cart_token}/payment/resume`), which
            redirects the shopper to the provider page; the provider link itself can
            carry a session credential and is never returned. `null` when no payment
            is in progress or the provider gave no page (a BLIK mandate is approved in
            the banking app).
        valid_for_checkout:
          type: boolean
        valid_for_checkout_pre_payment:
          type: boolean
        checkout_blockers:
          type: array
          description: >-
            Why `valid_for_checkout_pre_payment` is false, one entry per reason.
            Empty when it is true.
          items:
            type: object
            properties:
              code:
                type: string
                description: >-
                  Stable identifier for the validator that blocked checkout, e.g.
                  `shipping_address`. Key your own customer-facing copy off this.
              message:
                type: string
                description: >-
                  The validator's own English wording, as a fallback for a `code`
                  the client does not recognise. Not translated.
            required:
            - code
            - message
            additionalProperties: false
        contains_subscription:
          type: boolean
          description: '`true` when the cart contains a subscribed top-level item or bundle child.'
        vault_without_charge:
          type: boolean
        payment_method_auto_assignable:
          type: boolean
        requires_payment_method:
          type: boolean
        requires_3ds:
          type: boolean
        immutable_items:
          type: boolean
        digital_only:
          type: boolean
        points_enabled:
          type: boolean
        messages:
          anyOf:
          - type: object
            additionalProperties:
              $ref: '#/components/schemas/JsonValue'
          - type: 'null'
        metadata:
          anyOf:
          - type: object
            additionalProperties:
              $ref: '#/components/schemas/JsonValue'
          - type: 'null'
        cv_total:
          type: [string, 'null']
          format: decimal
        qv_total:
          type: [string, 'null']
          format: decimal
        amount_total:
          type: [number, 'null']
          description: "Unavailable (null): a bundle price for this tier cannot be computed; checkout refuses the line."
        amount_total_in_currency:
          type: [string, 'null']
          description: "Unavailable (null): a bundle price for this tier cannot be computed; checkout refuses the line."
        sub_total:
          type: [number, 'null']
          description: "Unavailable (null): a bundle price for this tier cannot be computed; checkout refuses the line."
        sub_total_in_currency:
          type: [string, 'null']
          description: "Unavailable (null): a bundle price for this tier cannot be computed; checkout refuses the line."
        tax_total:
          type: [number, 'null']
          description: "Unavailable (null): a bundle price for this tier cannot be computed; checkout refuses the line."
        tax_exempt:
          type: boolean
        tax_total_in_currency:
          type: [string, 'null']
          description: "Unavailable (null): a bundle price for this tier cannot be computed; checkout refuses the line."
        tax_total_for_display:
          type: [string, 'null']
          description: "Unavailable (null): a bundle price for this tier cannot be computed; checkout refuses the line."
        inclusive_shipping_tax:
          type: number
        shipping_total:
          type: number
        shipping_total_in_currency:
          type: string
        shipping_total_for_display:
          type: string
        discount_total:
          type: [number, 'null']
          description: "Unavailable (null): a bundle price for this tier cannot be computed; checkout refuses the line."
        discount_total_in_currency:
          type: [string, 'null']
          description: "Unavailable (null): a bundle price for this tier cannot be computed; checkout refuses the line."
        subtotal_after_discounts:
          type: [number, 'null']
          description: "Unavailable (null): a bundle price for this tier cannot be computed; checkout refuses the line."
        subtotal_after_discounts_in_currency:
          type: [string, 'null']
          description: "Unavailable (null): a bundle price for this tier cannot be computed; checkout refuses the line."
        price_inclusive_of_tax:
          type: boolean
        price_inclusive_tax_name:
          type:
          - string
          - 'null'
        totals:
          type: [object, 'null']
          additionalProperties: false
          required:
          - gross_subtotal
          - gross_subtotal_in_currency
          - net_subtotal
          - net_subtotal_in_currency
          - item_tax
          - item_tax_in_currency
          - shipping_net
          - shipping_net_in_currency
          - shipping_tax
          - shipping_tax_in_currency
          - total_tax
          - total_tax_in_currency
          - price_inclusive_of_tax
          - tax_label
          description: >-
            Display-ready totals breakdown.
             Decomposes the inclusive-tax figures so clients render
            the net subtotal, item tax, shipping net and shipping VAT without
            re-deriving them. Each money component carries a raw boundary-rounded
            decimal string plus its currency-formatted `_in_currency` sibling.
          properties:
            gross_subtotal:
              type: string
              description: Catalog sum of line-item prices (customer display).
            gross_subtotal_in_currency:
              type: string
            net_subtotal:
              type: string
              description: Items subtotal excluding embedded item tax.
            net_subtotal_in_currency:
              type: string
            item_tax:
              type: string
              description: Embedded tax attributable to the items.
            item_tax_in_currency:
              type: string
            shipping_net:
              type: string
              description: Shipping charge excluding embedded shipping tax.
            shipping_net_in_currency:
              type: string
            shipping_tax:
              type: string
              description: Embedded tax attributable to shipping.
            shipping_tax_in_currency:
              type: string
            total_tax:
              type: string
              description: Combined item and shipping tax.
            total_tax_in_currency:
              type: string
            price_inclusive_of_tax:
              type: boolean
              description: Whether catalog prices include tax.
            tax_label:
              type:
              - string
              - 'null'
              description: The resolved tax-line label (e.g. "VAT"), or null.
        enrollment_fee:
          type:
          - number
          - string
        enrollment_fee_in_currency:
          type: string
        transaction_fee:
          type:
          - number
          - string
        transaction_fee_in_currency:
          type: string
        shipping_discount:
          type: number
        discount_codes:
          type: array
          items:
            type: string
        product_discount_codes:
          type: array
          items:
            type: string
        shipping_discount_codes:
          type: array
          items:
            type: string
        customer_total_points:
          type: integer
        customer_total_points_in_currency:
          type: string
        points_applied:
          type: integer
        points_applied_amount_in_currency:
          type: string
        remaining_customer_points:
          type: integer
        remaining_customer_points_amount_in_currency:
          type: string
        remaining_cart_amount_after_points:
          type: [number, 'null']
          description: "Unavailable (null): a bundle price for this tier cannot be computed; checkout refuses the line."
        remaining_cart_amount_after_points_in_currency:
          type: [string, 'null']
          description: "Unavailable (null): a bundle price for this tier cannot be computed; checkout refuses the line."
        max_applicable_points:
          type: integer
        total_creditable_points:
          type: integer
        shipping_address:
          anyOf:
          - type: object
            additionalProperties:
              $ref: '#/components/schemas/JsonValue'
          - type: 'null'
        billing_address:
          anyOf:
          - type: object
            additionalProperties:
              $ref: '#/components/schemas/JsonValue'
          - type: 'null'
        discount_breakdown:
          type: object
          additionalProperties: false
          properties:
            internal_discounts:
              type: number
            external_discounts:
              type: number
            total_discounts:
              type: number
        external_discount:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/JsonValue'
        buyer_rep:
          type:
          - object
          - 'null'
          additionalProperties: false
          properties:
            id:
              type:
              - integer
              - 'null'
            email:
              type: string
            full_name:
              type: string
            image_url:
              type:
              - string
              - 'null'
            external_id:
              type:
              - string
              - 'null'
        buyer_rep_member_id:
          type:
          - string
          - 'null'
          format: uuid
          description: Durable member UUID of the buyer rep, or `null` when the
            cart has no buyer rep. Populated for both legacy and native reps.
        volume_rep:
          type:
          - object
          - 'null'
          additionalProperties: false
          properties:
            id:
              type:
              - integer
              - 'null'
            email:
              type: string
            full_name:
              type: string
            image_url:
              type:
              - string
              - 'null'
        volume_rep_member_id:
          type:
          - string
          - 'null'
          format: uuid
          description: Durable member UUID of the volume rep, or `null` when the
            cart has no volume rep. Populated for both legacy and native reps.
        available_shipping_methods:
          type: array
          items:
            type: object
            additionalProperties: false
            properties:
              id:
                type:
                - string
                - integer
              title:
                type: string
              price:
                type: number
              delivery_time_estimate:
                type:
                - string
                - 'null'
              price_label:
                type:
                - string
                - 'null'
        available_payment_methods:
          type: array
          items:
            type: object
            additionalProperties:
              $ref: '#/components/schemas/JsonValue'
        payment_unavailable_reason:
          type: [string, 'null']
          description: >-
            Why available_payment_methods is empty, or null when payment is
            available. Diagnostic only; it does not change what the cart may do.
          enum:
          - no_gateway_for_country
          - below_minimum_amount
          - filtered_out
          - test_mode_no_gateway
          - test_mode_gateway_ineligible
          - null
        payment_account:
          anyOf:
          - type: object
            additionalProperties:
              $ref: '#/components/schemas/JsonValue'
          - type: 'null'
        shipping_method:
          type:
          - object
          - 'null'
          additionalProperties: false
          properties:
            id:
              type: string
            name:
              type: string
        payment_method:
          anyOf:
          - type: object
            additionalProperties:
              $ref: '#/components/schemas/JsonValue'
          - type: 'null'
        items:
          type: array
          items:
            $ref: '#/components/schemas/CartItem'
        ship_to:
          $ref: '#/components/schemas/CartAddress'
        bill_to:
          anyOf:
          - type: object
            additionalProperties:
              $ref: '#/components/schemas/JsonValue'
          - type: 'null'
        attribution:
          anyOf:
          - type: object
            additionalProperties:
              $ref: '#/components/schemas/JsonValue'
          - type: 'null'
        agreements:
          type: array
          items:
            type: object
            additionalProperties: false
            properties:
              id:
                type: integer
              title:
                type: string
              show_at_checkout:
                type: boolean
              default_checked:
                type: boolean
              subscription_only:
                type: boolean
              standalone_on_checkout:
                type: boolean
              show_path:
                type: string
              enrollment_pack_id:
                type:
                - integer
                - 'null'
              required:
                type: boolean
        country:
          $ref: '#/components/schemas/CartCountry'
        company:
          $ref: '#/components/schemas/CartCompany'
        enrollment_pack:
          anyOf:
          - type: object
            additionalProperties:
              $ref: '#/components/schemas/JsonValue'
          - type: 'null'
        recurring:
          type: array
          items:
            type: object
            additionalProperties: false
            required:
            - subtotal
            - subtotal_in_currency
            - interval
            - interval_unit
            - interval_unit_identifier
            - subtotal_for_display
            - start_date
            properties:
              subtotal:
                type:
                - number
                - 'null'
              subtotal_in_currency:
                type:
                - string
                - 'null'
              interval:
                type: integer
              interval_unit:
                type: string
              interval_unit_identifier:
                type: string
                enum:
                - day
                - week
                - month
                - year
              subtotal_for_display:
                type:
                - string
                - 'null'
              start_date:
                type: string
    CartItem:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        title:
          type: string
        quantity:
          type: integer
        price:
          type: [string, 'null']
          description: "Unavailable (null): a bundle price for this tier cannot be computed; checkout refuses the line."
        price_in_currency:
          type: [string, 'null']
          description: "Unavailable (null): a bundle price for this tier cannot be computed; checkout refuses the line."
        discount_amount:
          type: [string, 'null']
          description: "Unavailable (null): a bundle price for this tier cannot be computed; checkout refuses the line."
        discount_amount_in_currency:
          type: [string, 'null']
          description: "Unavailable (null): a bundle price for this tier cannot be computed; checkout refuses the line."
        tax:
          type: [string, 'null']
          description: "Unavailable (null): a bundle price for this tier cannot be computed; checkout refuses the line."
        tax_in_currency:
          type: [string, 'null']
          description: "Unavailable (null): a bundle price for this tier cannot be computed; checkout refuses the line."
        cv:
          type: [string, 'null']
          format: decimal
        qv:
          type: [string, 'null']
          format: decimal
        cv_total:
          type: [string, 'null']
          format: decimal
        qv_total:
          type: [string, 'null']
          format: decimal
        total:
          type: [string, 'null']
          description: "Unavailable (null): a bundle price for this tier cannot be computed; checkout refuses the line."
        total_in_currency:
          type: [string, 'null']
          description: "Unavailable (null): a bundle price for this tier cannot be computed; checkout refuses the line."
        line_total_in_currency:
          type: [string, 'null']
          description: "Unavailable (null): a bundle price for this tier cannot be computed; checkout refuses the line."
        total_after_discounts:
          type: [string, 'null']
          description: "Unavailable (null): a bundle price for this tier cannot be computed; checkout refuses the line."
        total_after_discounts_in_currency:
          type: [string, 'null']
          description: "Unavailable (null): a bundle price for this tier cannot be computed; checkout refuses the line."
        line_total_after_discounts_in_currency:
          type: [string, 'null']
          description: "Unavailable (null): a bundle price for this tier cannot be computed; checkout refuses the line."
        regular_line_total_in_currency:
          type: [string, 'null']
          description: >-
            The one-time/regular price total (unit regular price times
            quantity), independent of the item's current subscription
            state. Unlike line_total_in_currency, this does not change
            when the item is subscribed.
        unit_price_display_authoritative:
          type: boolean
        price_unavailable:
          type: boolean
          description: "`true` when a bundle price for this tier cannot be computed:
            the line's price fields are null and checkout refuses it. `false` for
            every other line."
        enrollment_pack_id:
          type:
          - integer
          - 'null'
        subscription:
          type: boolean
        subscription_plan_id:
          type:
          - integer
          - 'null'
        subscription_plans:
          type: array
          items:
            type: object
            additionalProperties:
              $ref: '#/components/schemas/JsonValue'
        subscription_only:
          type:
          - boolean
          - 'null'
        subscription_interval:
          type:
          - integer
          - 'null'
        subscription_interval_unit:
          type:
          - string
          - 'null'
        subscription_interval_unit_identifier:
          type:
          - string
          - 'null'
        subscription_price:
          type:
          - string
          - number
          - 'null'
        subscription_price_in_currency:
          type:
          - string
          - 'null'
        subscription_start:
          type:
          - string
          - 'null'
        subscribe_and_save:
          type:
          - string
          - number
          - 'null'
        subscribe_and_save_in_currency:
          type:
          - string
          - 'null'
        subscribe_and_save_for_display:
          type:
          - string
          - 'null'
        display_to_customer:
          type: boolean
        metadata:
          anyOf:
          - type: object
            additionalProperties:
              $ref: '#/components/schemas/JsonValue'
          - type: 'null'
        image_url:
          type:
          - string
          - 'null'
        free_item:
          type: boolean
        allow_subscription:
          type: boolean
        enrollment:
          type: boolean
        errors:
          type: array
          items:
            type: string
        creditable_points:
          type: integer
        product:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/JsonValue'
        variant:
          type:
          - object
          - 'null'
          additionalProperties: false
          properties:
            id:
              type: integer
            title:
              type:
              - string
              - 'null'
            display_name:
              type:
              - string
              - 'null'
            image_url:
              type:
              - string
              - 'null'
            image_path:
              type:
              - string
              - 'null'
            sku:
              type:
              - string
              - 'null'
            primary_image:
              type:
              - string
              - 'null'
            price:
              type:
              - number
              - string
              - 'null'
            price_in_currency:
              type: string
            currency_code:
              type:
              - string
              - 'null'
            options:
              type: array
              items:
                type: object
                additionalProperties: false
                properties:
                  title:
                    type: string
                  value:
                    type: string
            physical:
              type:
              - boolean
              - 'null'
            unit_of_size:
              type:
              - string
              - 'null'
            height:
              type:
              - number
              - 'null'
            width:
              type:
              - number
              - 'null'
            length:
              type:
              - number
              - 'null'
            unit_of_weight:
              type:
              - string
              - 'null'
            weight:
              type:
              - string
              - 'null'
            hs_code:
              type:
              - string
              - 'null'
        bundled_items:
          type:
          - array
          - 'null'
          items:
            type: object
            additionalProperties:
              $ref: '#/components/schemas/JsonValue'
        product_title:
          type:
          - string
          - 'null'
    CartAddress:
      type:
      - object
      - 'null'
      additionalProperties: false
      properties:
        id:
          type: integer
        name:
          type:
          - string
          - 'null'
        address1:
          type:
          - string
          - 'null'
        address2:
          type:
          - string
          - 'null'
        address3:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        subdivision_code:
          type:
          - string
          - 'null'
        postal_code:
          type:
          - string
          - 'null'
        country_code:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
        country_num_code:
          type:
          - integer
          - 'null'
        default:
          type: boolean
    CartCountry:
      type:
      - object
      - 'null'
      additionalProperties: false
      properties:
        id:
          type: integer
        name:
          type: string
        iso:
          type: string
        iso_name:
          type: string
        iso3:
          type: string
        currency_code:
          type: string
        currency_symbol:
          type: string
        province_required:
          type: boolean
        tax_enabled:
          type:
          - boolean
          - 'null'
        price_inclusive_of_tax:
          type:
          - boolean
          - 'null'
        price_inclusive_tax_name:
          type:
          - string
          - 'null'
        tax_standard_rate:
          type:
          - number
          - 'null'
          description: Standard tax rate (percent) used for inclusive-pricing countries
    CartCompany:
      type: object
      additionalProperties: false
      properties:
        uuid:
          type: string
          format: uuid
          description: The company's uuid_v7, which the identity service names it by (its `org`).
        identity_sign_in_enabled:
          type: boolean
          description: Whether the company's shoppers sign in through the identity service rather than the legacy code. Read through the company's sign-in path, never set here.
        id:
          type: integer
        name:
          type: string
        favicon_url:
          type:
          - string
          - 'null'
        primary_domain_hostname:
          type:
          - string
          - 'null'
        subdomain:
          type:
          - string
          - 'null'
        logo_url:
          type:
          - string
          - 'null'
        fluid_shop:
          type:
          - string
          - 'null'
        collect_phone:
          type: boolean
        require_phone:
          type: boolean
        require_billing_zip:
          type: boolean
        checkout_primary_button_color:
          type:
          - string
          - 'null'
        checkout_primary_text_color:
          type:
          - string
          - 'null'
        checkout_secondary_button_color:
          type:
          - string
          - 'null'
        checkout_secondary_text_color:
          type:
          - string
          - 'null'
        order_on_behalf:
          type: boolean
        reward_points_enabled:
          type: boolean
        reward_points_apply_to_subtotal:
          type: boolean
        reward_points_label_singular:
          type: string
        reward_points_label_plural:
          type: string
        collect_sms_marketing:
          type: boolean
        collect_email_marketing:
          type: boolean
        bundle_subscriptions:
          type: boolean
        hide_volume_on_customer_surfaces:
          type: boolean
          description: Whether commissionable/qualifying volume (CV/QV) is hidden on customer-facing surfaces. Always a real boolean — the blueprint reads the strict Company#hide_volume_on_customer_surfaces? predicate, not the raw settings value.
        isolated_payment_tokens:
          type: boolean
          description: When true, this company's payment tokens and customer profile are isolated from the shared FluidPayAccount wallet. Clients must use customer-scoped PM/address mutation routes.
        kount_environment:
          type: string
          enum:
          - sandbox
          - production
          example: sandbox
          description: Per-merchant Kount environment. Used by the checkout DDC initializer to pick TEST vs PROD.
        kount_client_id:
          type:
          - string
          - 'null'
          example: '150953359757648'
          description: Per-merchant Kount Client ID (MID) for enterprise merchants. Null for portfolio merchants.
    OrderResponse:
      type: object
      required:
      - order
      properties:
        order:
          type: object
          required:
          - product_discount_codes
          - shipping_discount_codes
          properties:
            product_discount_codes:
              type: array
              items:
                type: string
            shipping_discount_codes:
              type: array
              items:
                type: string
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        meta:
          $ref: '#/components/schemas/OrderMeta'
    RootThemeResponse:
      type: object
      required:
      - root_theme
      properties:
        root_theme:
          "$ref": "#/components/schemas/PublicRootTheme"
        meta:
          type: object
          description: Request metadata
          properties:
            request_id:
              type:
              - string
              - 'null'
            timestamp:
              type: string
              format: date-time
    EnrollResponse:
      type: object
      required:
      - enroll
      additionalProperties: false
      properties:
        enroll:
          type: object
          additionalProperties: false
          properties:
            id:
              type: integer
            title:
              type:
              - string
              - 'null'
            active:
              type:
              - boolean
              - 'null'
            default:
              type:
              - boolean
              - 'null'
            fields:
              type: array
              items:
                type: object
                additionalProperties: false
                properties:
                  id:
                    type: integer
                  type:
                    type:
                    - string
                    - 'null'
                  title:
                    type:
                    - string
                    - 'null'
                  metadata:
                    anyOf:
                    - type: object
                      additionalProperties:
                        $ref: '#/components/schemas/JsonValue'
                    - type: 'null'
                  position:
                    type:
                    - integer
                    - 'null'
        meta:
          $ref: '#/components/schemas/Meta'
    BillingAddress:
      type: object
      required:
      - name
      - address1
      - city
      - state
      - postal_code
      - country_code
      properties:
        id:
          type: integer
          description: Optional supplemental field; matches an existing saved address
        name:
          type: string
        address1:
          type: string
        address2:
          type:
          - string
          - 'null'
        city:
          type: string
        state:
          type: string
        postal_code:
          type: string
        country_code:
          type: string
    PaymentMethodRequest:
      type: object
      description: 'Fields vary by payment type. Required per type: credit_card — token, token_provider, exp_month, exp_year; paypal — order_id (and optionally token); klarna — authorization_token, session_id; affirm, bread, apple_pay — token.

        '
      properties:
        token:
          type: string
          description: Payment token (credit_card via VGS, affirm, bread, apple_pay) or PayPal authorization ID
        token_provider:
          type: string
          description: Token provider (e.g. "vgs" for credit cards)
        exp_month:
          type: string
        exp_year:
          type: string
        order_id:
          type: string
          description: PayPal order ID
        authorization_token:
          type: string
          description: Klarna authorization token
        session_id:
          type: string
          description: Klarna session ID
        sdk_type:
          type: string
          description: SDK variant (e.g. "braintree" for Braintree PayPal flow)
    CreditCardPaymentResponse:
      type: object
      required:
      - card
      properties:
        card:
          type: object
          required:
          - token
          - active
          - default
          - test
          - fluid
          properties:
            active:
              type: boolean
            address_id:
              type:
              - integer
              - 'null'
            billing_address:
              type:
              - object
              - 'null'
              properties:
                name:
                  type:
                  - string
                  - 'null'
                address1:
                  type:
                  - string
                  - 'null'
                address2:
                  type:
                  - string
                  - 'null'
                address3:
                  type:
                  - string
                  - 'null'
                city:
                  type:
                  - string
                  - 'null'
                state:
                  type:
                  - string
                  - 'null'
                postal_code:
                  type:
                  - string
                  - 'null'
                country_code:
                  type:
                  - string
                  - 'null'
                subdivision_code:
                  type:
                  - string
                  - 'null'
                phone:
                  type:
                  - string
                  - 'null'
              additionalProperties: false
            card_network:
              type:
              - string
              - 'null'
            cvv_token:
              type:
              - string
              - 'null'
            default:
              type: boolean
            email:
              type:
              - string
              - 'null'
            fingerprint:
              type:
              - string
              - 'null'
            first_six_digits:
              type:
              - string
              - 'null'
            fluid:
              type: boolean
            fluid_pay_account_id:
              type:
              - integer
              - 'null'
            full_name:
              type:
              - string
              - 'null'
            last_four_digits:
              type:
              - string
              - 'null'
            member_id:
              type:
              - string
              - 'null'
              format: uuid
            month:
              type:
              - integer
              - 'null'
            number:
              type:
              - string
              - 'null'
            test:
              type: boolean
            token:
              type: string
            token_provider:
              type:
              - string
              - 'null'
            updated_at:
              type: string
              format: date-time
            created_at:
              type: string
              format: date-time
            user_id:
              type:
              - integer
              - 'null'
            uuid_v7:
              type: string
              format: uuid
            year:
              type:
              - integer
              - 'null'
            vgs_card_id:
              type:
              - string
              - 'null'
              description: VGS vault card ID, present when dual-vault registration succeeds
            customer_id:
              type:
              - integer
              - 'null'
          additionalProperties: false
        meta:
          type:
          - object
          - 'null'
      additionalProperties: false
    PayPalPaymentResponse:
      oneOf:
      - type: object
        required:
        - order_id
        properties:
          order_id:
            type: string
        description: Standard PayPal flow
      - type: object
        required:
        - transaction_id
        properties:
          transaction_id:
            type: string
        description: Braintree SDK PayPal flow
    KlarnaPaymentResponse:
      type: object
      required:
      - authorization_token
      properties:
        authorization_token:
          type: string
    EmptyPaymentResponse:
      type: object
      description: Empty response body for payment methods that do not return provider details.
      additionalProperties: false
    CommerceCartsUpdateCartItemsPricesRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        cart_token:
          type: string
          description: Token of the cart to update
        cart_items:
          type:
          - array
          - 'null'
          description: Array of cart items with their new prices
          items:
            type:
            - object
            - 'null'
            properties:
              id:
                type: integer
                description: Cart item ID
              price:
                type:
                - string
                - number
                - 'null'
                format: decimal
                description: New price for the cart item
        price_authority:
          type:
          - object
          - 'null'
          description: Whether the caller is taking control of these prices, or
            handing control back. Omit it (or send null) to override prices
            without recording a hold, which is how this endpoint has always
            behaved. An empty object claims the prices for the caller. The
            holder is derived from the authenticated credential and is never
            accepted from the request body, so a caller cannot present itself as
            a different holder. Holds are not exclusive. A hold records whoever
            last set the price, so a later override or claim by another holder
            moves it, which is how admin tooling overrides an integration's
            price. What is protected is handing a hold back, which only ever
            affects the calling holder's own items. A credential that resolves
            to no holder (a customer or portal-member token) is rejected with
            422.
          properties:
            reason:
              type:
              - string
              - 'null'
              description: Why the caller is taking control of these prices
            release:
              type:
              - boolean
              - 'null'
              description: Hand control back rather than take it. Clears the
                calling holder's hold from every item on the cart, returning
                those items to automatic pricing on the next full pricing run,
                and leaves other holders' items untouched. Send with an empty
                cart_items when only the hold needs clearing and the prices are
                already correct. Rejected with 422 if cart_items names an item
                held by a different holder.
          additionalProperties: false
    AffiliateLookupResponse201ApplicationJsonSchema:
      type: object
      properties:
        status:
          type: integer
        affiliate:
          "$ref": "#/components/schemas/Affiliate"
        metadata:
          "$ref": "#/components/schemas/ResponseMetadata"
      required:
      - status
      - affiliate
      - metadata
      additionalProperties: false
    Affiliate:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
          format: email
        image_url:
          type:
          - string
          - 'null'
          format: uri
        username:
          type:
          - string
          - 'null'
        external_id:
          type:
          - string
          - 'null'
        fluid_rep_id:
          type: integer
      required:
      - name
      - email
      - image_url
      - username
      - external_id
      - fluid_rep_id
      additionalProperties: false
    ResponseMetadata:
      type:
      - object
      - 'null'
      properties:
        fluid_shop:
          type:
          - string
          - 'null'
        fluid_session:
          type:
          - string
          - 'null'
        fluid_locale:
          type:
          - string
          - 'null'
          format: /\A[a-z]{2}_[A-Z]{2}\z/
        request_uuid:
          type:
          - string
          - 'null'
          format: uuid
        timestamp:
          type:
          - string
          - 'null'
    AffiliateLookupRequestBodyApplicationJsonSchema:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/RequestMetadata'
      required:
      - metadata
    Attribution:
      anyOf:
      - "$ref": "#/components/schemas/AttributionEmail"
      - "$ref": "#/components/schemas/AttributionUsername"
      - "$ref": "#/components/schemas/AttributionSharedGuid"
      - "$ref": "#/components/schemas/AttributionFluidRepId"
      - "$ref": "#/components/schemas/AttributionExternalId"
    AttributionEmail:
      type:
      - object
      - 'null'
      properties:
        email:
          type:
          - string
          - 'null'
          format: email
    AttributionUsername:
      type:
      - object
      - 'null'
      properties:
        username:
          type:
          - string
          - 'null'
    AttributionSharedGuid:
      type:
      - object
      - 'null'
      properties:
        share_guid:
          type:
          - string
          - 'null'
    AttributionFluidRepId:
      type:
      - object
      - 'null'
      properties:
        fluid_rep_id:
          type:
          - integer
          - 'null'
    AttributionExternalId:
      type:
      - object
      - 'null'
      properties:
        external_id:
          type:
          - string
          - 'null'
    GetApplePayDomainVerificationFileResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        domain_verification_file:
          type:
          - string
          - 'null'
          description: Apple Pay Domain Verification File content
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - 'null'
              format: uuid
            timestamp:
              type:
              - string
              - 'null'
              format: date-time
          additionalProperties: false
      additionalProperties: false
    FingerprintCreateRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        fingerprint:
          anyOf:
          - "$ref": "#/components/schemas/Fingerprint"
          - type: 'null'
        metadata:
          anyOf:
          - "$ref": "#/components/schemas/RequestMetadata"
          - type: 'null'
    Fingerprint:
      type:
      - object
      - 'null'
      properties:
        user_agent:
          type:
          - string
          - 'null'
        language:
          type:
          - string
          - 'null'
        platform:
          type:
          - string
          - 'null'
        hardware_concurrency:
          type:
          - string
          - 'null'
        color_depth:
          type:
          - string
          - 'null'
        screen_resolution:
          type:
          - string
          - 'null'
        time_zone:
          type:
          - string
          - 'null'
        session_storage:
          type:
          - string
          - 'null'
        local_storage:
          type:
          - string
          - 'null'
        indexed_db:
          type:
          - string
          - 'null'
        do_not_track:
          type:
          - string
          - 'null'
        cookies_enabled:
          type:
          - string
          - 'null'
        canvas:
          type:
          - string
          - 'null'
        webgl:
          type:
          - object
          - 'null'
          properties:
            vendor:
              type:
              - string
              - 'null'
            renderer:
              type:
              - string
              - 'null'
            version:
              type:
              - string
              - 'null'
            extensions:
              type:
              - string
              - 'null'
        installed_fonts:
          type:
          - string
          - 'null'
        plugins:
          type:
          - string
          - 'null'
        touch_support:
          type:
          - object
          - 'null'
          properties:
            max_touch_points:
              type:
              - string
              - 'null'
            touch_event:
              type:
              - string
              - 'null'
            touch_points:
              type:
              - string
              - 'null'
    RequestMetadata:
      type: object
      properties:
        fluid_shop:
          type:
          - string
          - 'null'
        fluid_session:
          type:
          - string
          - 'null'
          format: "/\\Afs_[0-9A-Za-z&&[^0OIl]]{22}\\z/"
        fluid_locale:
          type:
          - string
          - 'null'
          format: "/\\A[a-z]{2}_[A-Z]{2}\\z/"
        fluid_journey:
          type:
          - string
          - 'null'
        fluid_geo:
          type:
          - string
          - 'null'
          description: Visitor location read from the edge-set `fluid_geo`
            cookie — either a bare ISO 3166-1 alpha-2 country (e.g. US, the
            legacy cookie shape) or the composite country/subdivision/city the
            CDN writes, which the SDK percent-decodes before sending (e.g.
            US/USCA/San Francisco). The server stores each slot it can
            validate, and the country anchors the value — a value whose country
            is not an ISO country is recorded as unknown rather than rejected,
            and its finer slots are dropped with it. Omit the field when the
            cookie is absent.
        country:
          type:
          - string
          - 'null'
          description: Legacy name for `fluid_geo`, carrying the same cookie
            value in the same two shapes. SDK bundles released before the
            rename send the location here, so the field stays supported for as
            long as those bundles are deployed. When a request carries both,
            `fluid_geo` wins and this field is ignored. New integrations should
            send `fluid_geo` instead.
        timezone:
          type: string
          description: IANA timezone identifier (e.g. America/New_York). Omit the field rather than sending null.
        attribution:
          anyOf:
          - "$ref": "#/components/schemas/Attribution"
          - type: 'null'
    CartAddressUpdateResponse200ApplicationJsonSchema:
      type: object
      properties:
        cart:
          "$ref": "#/components/schemas/Cart"
        meta:
          "$ref": "#/components/schemas/CartCheckoutMetadata"
      required:
      - cart
      - meta
      additionalProperties: false
    SkippedCartItem:
      type: object
      description: An item that could not be added to the cart because it is out
        of stock or unavailable. The remaining items in the request are still added.
      properties:
        variant_id:
          type:
          - integer
          - 'null'
          description: The variant that could not be added.
        reason:
          type: string
          description: Machine-readable reason the item was skipped.
          enum:
          - out_of_stock
          - variant_unavailable
          - bundle_out_of_stock
        message:
          type: string
          description: Advisory, non-localized English explanation for logging and
            debugging. Clients should key display logic off `reason`, not this
            string, which may change without notice.
      required:
      - variant_id
      - reason
      - message
      additionalProperties: false
    CartItemsAddResponse200ApplicationJsonSchema:
      type: object
      properties:
        cart:
          "$ref": "#/components/schemas/Cart"
        skipped_items:
          type: array
          description: Items that could not be added (e.g. out of stock or unavailable
            in the cart's country). Present only when at least one item was skipped.
          items:
            "$ref": "#/components/schemas/SkippedCartItem"
        meta:
          "$ref": "#/components/schemas/CartCheckoutMetadata"
      required:
      - cart
      - meta
      additionalProperties: false
    CartItemsAllSkippedResponse422ApplicationJsonSchema:
      type: object
      description: Returned when every requested item was skipped, so nothing was
        added and no cart change was made.
      properties:
        errors:
          type: object
          properties:
            items:
              type: array
              items:
                "$ref": "#/components/schemas/SkippedCartItem"
          required:
          - items
          additionalProperties: false
        error_message:
          type: string
          description: Human-readable summary of why the request failed.
        meta:
          "$ref": "#/components/schemas/ErrorMeta"
      required:
      - errors
      - error_message
      - meta
      additionalProperties: false
    EnrollmentPack:
      type:
      - object
      - 'null'
      additionalProperties: false
      properties:
        enrollment_pack_id:
          type: integer
        slug:
          type:
          - string
          - 'null'
        token:
          type:
          - string
          - 'null'
        title:
          type: string
        description:
          type:
          - string
          - 'null'
        enrollment_fee:
          type:
          - string
          - 'null'
        additional_volume:
          type:
          - integer
          - 'null'
        canonical_url:
          type:
          - string
          - 'null'
        enrollment_fee_in_currency:
          type:
          - string
          - 'null'
        price:
          type:
          - string
          - 'null'
        price_in_currency:
          type:
          - string
          - 'null'
        subscription_price:
          type:
          - string
          - 'null'
        subscription_price_in_currency:
          type:
          - string
          - 'null'
        images:
          type:
          - array
          - 'null'
          items:
            type: object
            additionalProperties: false
            properties:
              id:
                type: integer
              created_at:
                type: string
                format: date-time
              external_id:
                type:
                - string
                - 'null'
              image_path:
                type:
                - string
                - 'null'
              image_url:
                type:
                - string
                - 'null'
              image_url_i18n:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/JsonValue'
              position:
                type:
                - integer
                - 'null'
              relateable_id:
                type: integer
              relateable_type:
                type: string
              updated_at:
                type: string
                format: date-time
              uuid_v7:
                type: string
        items:
          type:
          - array
          - 'null'
          items:
            type: object
            additionalProperties: false
            properties:
              id:
                type: integer
              title:
                type:
                - string
                - 'null'
              quantity:
                type: integer
              price:
                type:
                - string
                - 'null'
              tax:
                type:
                - string
                - 'null'
              cv:
                type: [string, 'null']
                format: decimal
              qv:
                type: [string, 'null']
                format: decimal
              enrollment_pack_id:
                type:
                - integer
                - 'null'
              subscription:
                type:
                - boolean
                - 'null'
              display_to_customer:
                type:
                - boolean
                - 'null'
              metadata:
                anyOf:
                - type: object
                  additionalProperties:
                    $ref: '#/components/schemas/JsonValue'
                - type: 'null'
              cv_total:
                type: string
                format: decimal
              qv_total:
                type: string
                format: decimal
              total:
                type:
                - string
                - 'null'
              price_in_currency:
                type:
                - string
                - 'null'
              tax_in_currency:
                type:
                - string
                - 'null'
              cv_in_currency:
                type:
                - string
                - 'null'
              qv_in_currency:
                type:
                - string
                - 'null'
              total_after_discounts_in_currency:
                type:
                - string
                - 'null'
              line_total_after_discounts_in_currency:
                type:
                - string
                - 'null'
              total_in_currency:
                type:
                - string
                - 'null'
              line_total_in_currency:
                type:
                - string
                - 'null'
              regular_line_total_in_currency:
                type: [string, 'null']
                description: >-
                  The one-time/regular price total, independent of the
                  item's current subscription state.
              unit_price_display_authoritative:
                type:
                - boolean
                - 'null'
              allow_subscription:
                type:
                - boolean
                - 'null'
              total_after_discounts:
                type:
                - string
                - number
                - 'null'
              enrollment:
                type:
                - boolean
                - 'null'
              subscription_plan_id:
                type:
                - integer
                - 'null'
              subscription_plans:
                type:
                - array
                - 'null'
                items:
                  $ref: '#/components/schemas/PublicSubscriptionPlan'
              subscription_only:
                type:
                - boolean
                - 'null'
              subscription_interval:
                type:
                - integer
                - 'null'
              subscription_interval_unit:
                type:
                - string
                - 'null'
              subscription_interval_unit_identifier:
                type:
                - string
                - 'null'
              subscription_price:
                type:
                - string
                - 'null'
              subscription_price_in_currency:
                type:
                - string
                - 'null'
              subscription_start:
                type:
                - string
                - 'null'
                format: date
              subscribe_and_save:
                type:
                - string
                - 'null'
              subscribe_and_save_in_currency:
                type:
                - string
                - 'null'
              subscribe_and_save_for_display:
                type:
                - string
                - 'null'
              errors:
                type:
                - array
                - 'null'
              creditable_points:
                type:
                - integer
                - 'null'
              product_title:
                type:
                - string
                - 'null'
    CartCheckoutMetadata:
      type:
      - object
      - 'null'
      additionalProperties: false
      properties:
        request_id:
          type:
          - string
          - 'null'
        timestamp:
          type:
          - string
          - 'null'
        checkout_url:
          type:
          - string
          - 'null'
        shop_url:
          type:
          - string
          - 'null'
    CartCreateRequestBodyApplicationJsonSchema:
      type: object
      required:
      - country_code
      - fluid_shop
      properties:
        country_code:
          type: string
          description: ISO 2-letter country code
        fluid_shop:
          type: string
          description: The domain of your Fluid shop (excluding the scheme)
        fluid_session:
          type:
          - string
          - 'null'
          description: Session token
        visitor_token:
          type:
          - string
          - 'null'
          description: Visitor token
        source:
          type:
          - string
          - 'null'
          description: The source that created the cart
        language_iso:
          type:
          - string
          - 'null'
          description: >-
            ISO language code the cart is created in. A language the company
            does not support is ignored (the cart is still created); the
            change_language endpoint remains the way to switch an existing
            cart.
        items:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            properties:
              variant_id:
                type:
                - integer
                - 'null'
                description: The ID of the variant to add to the cart
              quantity:
                type:
                - integer
                - 'null'
                description: The quantity of the variant to add to the cart
        attribution:
          anyOf:
          - $ref: '#/components/schemas/Attribution'
          - type: 'null'
          default:
            share_guid: james-bond007
        enrollment:
          type: boolean
          description: Flag the cart as enrollment eligible without an enrollment
            pack. Requires an active enrollment configuration for the cart's country
            or the company default; otherwise the request is refused with 422.
    CartAddressUpdateRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        type:
          type:
          - string
          - 'null'
        jwt:
          type:
          - string
          - 'null'
        address_id:
          type:
          - integer
          - 'null'
        address:
          type:
          - object
          - 'null'
          properties:
            id:
              type:
              - integer
              - 'null'
            first_name:
              type:
              - string
              - 'null'
            last_name:
              type:
              - string
              - 'null'
            address1:
              type:
              - string
              - 'null'
            city:
              type:
              - string
              - 'null'
            state:
              type:
              - string
              - 'null'
            postal_code:
              type:
              - string
              - 'null'
            country_id:
              type:
              - integer
              - 'null'
              description: Takes precedence over country_code if both are provided.
            country_code:
              type:
              - string
              - 'null'
              description: country_id takes precedence if both country_id and country_code provided.
        metadata:
          anyOf:
          - $ref: '#/components/schemas/RequestMetadataOptional'
          - type: 'null'
    RequestMetadataOptional:
      type:
      - object
      - 'null'
      properties:
        fluid_shop:
          type:
          - string
          - 'null'
        fluid_session:
          type:
          - string
          - 'null'
          format: "/\\Afs_[0-9A-Za-z&&[^0OIl]]{22}\\z/"
        fluid_locale:
          type:
          - string
          - 'null'
          format: "/\\A[a-z]{2}_[A-Z]{2}\\z/"
        fluid_journey:
          type:
          - string
          - 'null'
        timezone:
          type: string
          description: IANA timezone identifier (e.g. America/New_York). Omit the field rather than sending null.
        attribution:
          anyOf:
          - "$ref": "#/components/schemas/Attribution"
          - type: 'null'
    CartLanguageUpdateRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        language_iso:
          type:
          - string
          - 'null'
        metadata:
          anyOf:
          - $ref: '#/components/schemas/RequestMetadataOptional'
          - type: 'null'
    CartCheckoutResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      additionalProperties: false
      properties:
        order:
          anyOf:
          - $ref: '#/components/schemas/CheckoutOrder'
          - type: 'null'
        meta:
          anyOf:
          - $ref: '#/components/schemas/CartShopMetadata'
          - type: 'null'
    CheckoutOrder:
      type:
      - object
      - 'null'
      additionalProperties: false
      properties:
        id:
          type:
          - integer
          - 'null'
        first_name:
          type:
          - string
          - 'null'
        last_name:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
        order_number:
          type:
          - string
          - 'null'
        token:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        order_status:
          type:
          - string
          - 'null'
        financial_status:
          type:
          - string
          - 'null'
        fulfillment_status:
          type:
          - string
          - 'null'
        warehouse_id:
          type:
          - integer
          - 'null'
        order_type:
          type:
          - string
          - 'null'
        amount:
          type:
          - string
          - number
          - 'null'
        amount_in_base:
          type:
          - string
          - number
          - 'null'
        base_to_currency_rate:
          type:
          - string
          - number
          - 'null'
        refundable_amount:
          type:
          - string
          - number
          - 'null'
        note:
          type:
          - string
          - 'null'
        recurring:
          default:
          - subtotal: '10.0'
            subtotal_in_currency: $10.0
            interval: 1
            interval_unit: month
            subtotal_for_display: $10.00 every 1 month
            start_date: '2025-05-27'
          type:
          - array
          - 'null'
          items:
            type: object
            additionalProperties: false
            required:
            - subtotal
            - subtotal_in_currency
            - interval
            - interval_unit
            - interval_unit_identifier
            - subtotal_for_display
            - start_date
            properties:
              subtotal:
                type:
                - number
                - 'null'
              subtotal_in_currency:
                type:
                - string
                - 'null'
              interval:
                type: integer
              interval_unit:
                type: string
              interval_unit_identifier:
                type: string
                enum:
                - day
                - week
                - month
                - year
              subtotal_for_display:
                type:
                - string
                - 'null'
              start_date:
                type: string
        order_confirmation_url:
          type:
          - string
          - 'null'
        currency_code:
          type:
          - string
          - 'null'
        created_at:
          type:
          - string
          - 'null'
          format: date-time
        updated_at:
          type:
          - string
          - 'null'
          format: date-time
        metadata:
          anyOf:
          - type: object
            additionalProperties:
              $ref: '#/components/schemas/JsonValue'
          - type: 'null'
        external_id:
          type:
          - string
          - 'null'
        enrollment_pack:
          anyOf:
          - $ref: '#/components/schemas/EnrollmentPack'
          - type: 'null'
        # AC-5.2: requested intent, copied from the cart onto the order at
        # checkout (orders.enrollment_member_type_id).
        enrollment_member_type:
          anyOf:
          - type: object
            additionalProperties: false
            required:
            - id
            - slug
            - name
            properties:
              id:
                type: string
                format: uuid
              slug:
                type: string
              name:
                type: string
          - type: 'null'
        # AC-5.2 / INV-11: purchase-time RESULTING member type, read
        # verbatim from the order's recorded Commerce::EnrollmentOutcome
        # snapshot. `null` when no outcome was recorded.
        resulting_member_type:
          anyOf:
          - type: object
            additionalProperties: false
            required:
            - id
            - slug
            - name
            properties:
              id:
                type: string
                format: uuid
              slug:
                type: string
              name:
                type: string
          - type: 'null'
        source:
          type:
          - string
          - 'null'
        points_applied:
          type:
          - integer
          - 'null'
          description: Number of points applied to the order
        points_applied_amount:
          type:
          - number
          - string
          - 'null'
          description: Raw numeric points amount value
        points_applied_amount_in_currency:
          type:
          - string
          - 'null'
          description: Currency value of applied points
        order_total_after_points_redemption:
          type:
          - number
          - string
          - 'null'
          description: Order total after points redemption
        total_points_credited:
          type:
          - integer
          - 'null'
          description: Points earned from this order
        customer_points_balance:
          type:
          - integer
          - 'null'
          description: Customer's current points balance
        free_shipping:
          type:
          - boolean
          - 'null'
          description: Whether the order has free shipping
        discount_codes:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
          description: Discount codes applied to the order
        created_subscriptions:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
          description: Subscription tokens created from this order
    CartShopMetadata:
      type:
      - object
      - 'null'
      additionalProperties: false
      properties:
        request_id:
          type:
          - string
          - 'null'
        shop_url:
          type:
          - string
          - 'null'
        timestamp:
          type:
          - string
          - 'null'
    CartMagicLinkConfirmResponse200ApplicationJsonSchema:
      type: object
      properties:
        jwt:
          type: string
        authenticated:
          type: boolean
        auth_type:
          type: string
        meta:
          "$ref": "#/components/schemas/CartMetadata"
      required:
      - jwt
      - authenticated
      - auth_type
      - meta
      additionalProperties: false
    CartMetadata:
      type: object
      properties:
        request_id:
          type: string
        timestamp:
          type: string
          format: date-time
      required:
      - request_id
      - timestamp
      additionalProperties: false
    CartMagicLinkConfirmRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        uuid:
          type:
          - string
          - 'null'
        multi_factor_authentication:
          type:
          - object
          - 'null'
          properties:
            verification_code:
              type:
              - string
              - 'null'
    CartDiscountApplyResponse404ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        error_message:
          type:
          - string
          - 'null'
        errors:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
        meta:
          anyOf:
          - $ref: '#/components/schemas/CartMetadata'
          - type: 'null'
    CartDiscountApplyRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        discount_code:
          type:
          - string
          - 'null'
        metadata:
          anyOf:
          - $ref: '#/components/schemas/RequestMetadataOptional'
          - type: 'null'
    CartSnapshotResponse200ApplicationJsonSchema:
      type: object
      properties:
        cart:
          "$ref": "#/components/schemas/Cart"
        meta:
          "$ref": "#/components/schemas/CartMetadata"
      required:
      - cart
      - meta
      additionalProperties: false
    CartUpdateItemVariantResponse404ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        error_message:
          type:
          - string
          - 'null'
        errors:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - 'null'
            timestamp:
              type:
              - string
              - 'null'
    CartUpdateItemVariantRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        variant_id:
          type:
          - integer
          - 'null'
          description: The new variant ID to assign to this cart item
        quantity:
          type:
          - integer
          - 'null'
          description: 'Optional: Override the quantity (must be >= 1)'
    CartMagicLinkCreateResponse201ApplicationJsonSchema:
      type: object
      properties:
        multi_factor_authentication:
          type: object
          properties:
            uuid:
              type: string
            authenticated:
              type: boolean
            verification_channel:
              type: string
            verification_code_expires_at:
              type: string
              format: date-time
          required:
          - uuid
          - verification_channel
          - verification_code_expires_at
          - authenticated
          additionalProperties: false
        meta:
          "$ref": "#/components/schemas/CartMetadata"
      required:
      - multi_factor_authentication
      - meta
      additionalProperties: false
    CartMagicLinkCreateRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        email:
          type:
          - string
          - 'null'
        fluid_shop:
          type:
          - string
          - 'null'
    CartShippingMethodUpdateRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        shipping_method_id:
          type:
          - string
          - integer
          - 'null'
          description: ID of the shipping method to use
        metadata:
          anyOf:
          - $ref: '#/components/schemas/RequestMetadataOptional'
          - type: 'null'
    CartCountryUpdateRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        country_code:
          type:
          - string
          - 'null'
        metadata:
          anyOf:
          - $ref: '#/components/schemas/RequestMetadataOptional'
          - type: 'null'
    EnrollmentPackShowRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        metadata:
          anyOf:
          - "$ref": "#/components/schemas/RequestMetadata"
          - type: 'null'
    CheckoutStartedRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        cart_token:
          type:
          - string
          - 'null'
        metadata:
          anyOf:
          - $ref: '#/components/schemas/RequestMetadata'
          - type: 'null'
    LeadCaptureRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        lead:
          anyOf:
          - "$ref": "#/components/schemas/Lead"
          - type: 'null'
        page:
          anyOf:
          - "$ref": "#/components/schemas/UrlPage"
          - type: 'null'
        metadata:
          anyOf:
          - "$ref": "#/components/schemas/RequestMetadata"
          - type: 'null'
    Lead:
      type:
      - object
      - 'null'
      properties:
        message:
          type:
          - string
          - 'null'
        contact:
          anyOf:
          - $ref: '#/components/schemas/Contact'
          - type: 'null'
    Contact:
      $ref: '#/components/schemas/ContactMethod'
    ContactMethod:
      type:
      - object
      - 'null'
      properties:
        name:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
          format: email
        phone:
          type:
          - string
          - 'null'
          format: phone
    UrlPage:
      type:
      - object
      - 'null'
      properties:
        url:
          type:
          - string
          - 'null'
          format: uri
        title:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        image:
          type:
          - string
          - 'null'
          format: uri
    CreateVideoAnalyticsEventResponse201ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - 'null'
            timestamp:
              type: string
              format: date-time
          additionalProperties: false
      additionalProperties: false
    PageViewRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        page:
          anyOf:
          - "$ref": "#/components/schemas/UrlPage"
          - type: 'null'
        metadata:
          anyOf:
          - "$ref": "#/components/schemas/RequestMetadata"
          - type: 'null'
    MediaShowResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      additionalProperties: false
      properties:
        status:
          type:
          - integer
          - 'null'
        media:
          anyOf:
          - $ref: '#/components/schemas/Media'
          - type: 'null'
        metadata:
          anyOf:
          - $ref: '#/components/schemas/ResponseMetadata'
          - type: 'null'
    Media:
      title: Medium
      type:
      - object
      - 'null'
      additionalProperties: false
      properties:
        id:
          type:
          - integer
          - 'null'
        slug:
          type:
          - string
          - 'null'
        custom_slug:
          type:
          - boolean
          - 'null'
          default: false
        title:
          type:
          - string
          - 'null'
        kind:
          type:
          - string
          - 'null'
        media_type:
          type:
          - string
          - 'null'
        media_format:
          type:
          - string
          - 'null'
        image_url:
          type:
          - string
          - 'null'
        video_url:
          type:
          - string
          - 'null'
        pdf_url:
          type:
          - string
          - 'null'
        powerpoint_url:
          type:
          - string
          - 'null'
        duration:
          type:
          - integer
          - 'null'
          default: 0
        active:
          type:
          - boolean
          - 'null'
          default: true
        canonical_url:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        subtitles:
          anyOf:
          - type: object
            additionalProperties:
              $ref: '#/components/schemas/JsonValue'
          - type: 'null'
        comments_count:
          type:
          - integer
          - 'null'
        settings:
          anyOf:
          - type: object
            additionalProperties:
              $ref: '#/components/schemas/JsonValue'
          - type: 'null'
        products:
          type:
          - array
          - 'null'
          items:
            title: Product
            type:
            - object
            - 'null'
            additionalProperties: false
            properties:
              id:
                type:
                - integer
                - 'null'
              title:
                type:
                - string
                - 'null'
                maxLength: 255
              image_url:
                type:
                - string
                - 'null'
              image_path:
                type:
                - string
                - 'null'
              cv:
                type: [string, 'null']
                format: decimal
                default: 0
              tax:
                default: '0.0'
                type:
                - string
                - number
                - 'null'
              sku:
                type:
                - string
                - 'null'
              metadata:
                anyOf:
                - type: object
                  additionalProperties:
                    $ref: '#/components/schemas/JsonValue'
                - type: 'null'
              external_id:
                type:
                - string
                - 'null'
              canonical_url:
                type:
                - string
                - 'null'
              price:
                default: '0.0'
                minimum: 0
                maximum: 99999999
                type:
                - string
                - number
                - 'null'
              introduction:
                type:
                - string
                - 'null'
              price_in_currency:
                type:
                - string
                - 'null'
              tax_in_currency:
                type:
                - string
                - 'null'
              cv_in_currency:
                type:
                - string
                - 'null'
              metafields:
                type:
                - array
                - 'null'
                items:
                  title: LegacyMetafield
                  type:
                  - object
                  - 'null'
                  additionalProperties: false
                  properties:
                    id:
                      type:
                      - integer
                      - 'null'
                    namespace:
                      description: A container for related metafields. Commonly used to group metafields by app or functionality.
                      type:
                      - string
                      - 'null'
                      maxLength: 20
                      pattern: ^[a-zA-Z0-9_]+$
                    key:
                      description: The unique identifier for the metafield within its namespace. Must be unique per namespace and owner.
                      type:
                      - string
                      - 'null'
                      maxLength: 30
                      pattern: ^[a-zA-Z0-9_]+$
                    value:
                      description: The actual data stored in the metafield. Type depends on value_type.
                      anyOf:
                      - type:
                        - string
                        - number
                        - integer
                        - 'null'
                      - type: object
                        additionalProperties:
                          $ref: '#/components/schemas/JsonValue'
                    value_type:
                      description: The data type that defines how the value should be interpreted and validated.
                      type:
                      - string
                      - 'null'
                    description:
                      description: Optional human-readable description explaining the purpose of this metafield.
                      type:
                      - string
                      - 'null'
                    owner_type:
                      description: The type of resource that this metafield belongs to (polymorphic association).
                      type:
                      - string
                      - 'null'
                    owner_id:
                      description: The ID of the specific resource that this metafield belongs to.
                      type:
                      - integer
                      - 'null'
                    created_at:
                      description: Timestamp when the metafield was created.
                      type:
                      - string
                      - 'null'
                      format: date-time
                    updated_at:
                      description: Timestamp when the metafield was last updated.
                      type:
                      - string
                      - 'null'
                      format: date-time
                    metafield_definition:
                      title: MetafieldDefinition
                      type:
                      - object
                      - 'null'
                      additionalProperties: false
                      properties:
                        id:
                          type:
                          - integer
                          - 'null'
                        company_id:
                          description: The ID of the company that owns this metafield definition.
                          type:
                          - integer
                          - 'null'
                        namespace:
                          description: A container for related metafield definitions. Used to group definitions by app or functionality. Must be unique within company and owner_resource.
                          type:
                          - string
                          - 'null'
                          maxLength: 20
                          pattern: ^[a-zA-Z0-9_]+$
                        key:
                          description: The unique identifier for the metafield definition within its namespace and owner_resource. Combined with namespace and owner_resource, this must be unique per company.
                          type:
                          - string
                          - 'null'
                          maxLength: 30
                          pattern: ^[a-zA-Z0-9_]+$
                        name:
                          description: Human-readable display name for the metafield definition, shown in admin interfaces and forms.
                          type:
                          - string
                          - 'null'
                          maxLength: 100
                        description:
                          description: Detailed explanation of what this metafield definition represents, how it should be used, and any special instructions for content creators.
                          type:
                          - string
                          - 'null'
                        value_type:
                          description: The data type that defines how metafield values should be validated, stored, and displayed. Determines which validation rules are available.
                          type:
                          - string
                          - 'null'
                        validation_rules:
                          anyOf:
                          - type: object
                            additionalProperties:
                              $ref: '#/components/schemas/JsonValue'
                            description: JSON object containing validation constraints that will be applied to metafield values. Available rules depend on the value_type.
                          - type: 'null'
                        owner_resource:
                          description: The type of resource (model class name) that metafields using this definition can be attached to. Must match the polymorphic owner_type.
                          type:
                          - string
                          - 'null'
                        pinned:
                          description: Whether this definition should be prominently displayed or prioritized in admin interfaces and forms.
                          type:
                          - boolean
                          - 'null'
                          default: false
                        position:
                          default: 0
                          description: Sort order for displaying this definition relative to others in the same category and owner_resource. Lower numbers appear first.
                          type:
[...]
