---
openapi: 3.1.0
info:
  title: Fluid Settings API
  version: v0
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: Bearer token authentication
  schemas:
    BillingUpcomingEntry:
      type: object
      description: One product's contribution to the period so far.
      required: [product_code, description, amount_cents]
      properties:
        product_code: { type: string, description: The SKU this line came from. }
        description: { type: string, description: The SKU's display name. }
        quantity: { type: [string, "null"], description: How many units accrued, as a decimal string. }
        unit: { type: [string, "null"], description: What one unit is. }
        amount_cents: { type: integer, description: What the product came to, in cents. }
    BillingUpcomingGroup:
      type: object
      description: One heading on the upcoming statement. Group amounts sum to the total.
      required: [label, amount_cents, entries]
      properties:
        label: { type: string, description: The heading this group renders under. }
        amount_cents: { type: integer, description: The sum of the entries beneath it, in cents. }
        entries:
          type: array
          description: The products under this heading.
          items: { "$ref": "#/components/schemas/BillingUpcomingEntry" }
    BillingUpcoming:
      type: object
      description: What the current period has accrued, the next debit that would collect what is owed, and when it is due.
      required: [total_cents, next_debit_cents, next_debit_surcharge_cents, next_debit_total_cents, groups]
      properties:
        total_cents: { type: integer, description: Everything accrued so far this period, in cents. }
        next_debit_cents: { type: integer, minimum: 0, description: "The principal the next debit would collect now, in cents: what is still owed from any period (an earlier invoice's unpaid balance included, an item paid in part only for its unpaid part, items already settled, reserved, paid by hand, or held by a retry left out). 0 when no debit would be sent: the profile is not debited, or the amount is under the rail's minimum pull. A projection; the pull decides." }
        next_debit_surcharge_cents: { type: integer, minimum: 0, description: "The credit card fee that debit carries, in cents: 2.9% on a credit card, 0 on any other card, a bank account, or when no debit would be sent." }
        next_debit_total_cents: { type: integer, minimum: 0, description: "What that debit would take from the payer: next_debit_cents plus next_debit_surcharge_cents." }
        scheduled_at: { type: [string, "null"], format: date-time, description: When the next pull is due. }
        groups:
          type: array
          description: The accrual grouped by heading.
          items: { "$ref": "#/components/schemas/BillingUpcomingGroup" }
    BillingInvoiceEntry:
      type: object
      description: One product on an issued invoice.
      required: [product_code, description, amount_cents, paid_with_credits]
      properties:
        product_code: { type: string, description: The SKU this line came from. }
        description: { type: string, description: The SKU's display name. }
        quantity: { type: [string, "null"], description: How many units accrued, as a decimal string. }
        unit: { type: [string, "null"], description: What one unit is. }
        amount_cents: { type: integer, description: What the product came to, in cents. }
        paid_with_credits: { type: [boolean, "null"], description: "Whether the credit balance paid this line. Null for a company whose billing is not paid from credits, whose statement lines carry no such mark." }
    BillingInvoiceGroup:
      type: object
      description: One heading on an issued invoice and what sat under it. Group amounts sum to the invoice total.
      required: [label, amount_cents, entries]
      properties:
        label: { type: string, description: The heading the lines rendered under. }
        amount_cents: { type: integer, description: The sum of the lines beneath it, in cents. }
        entries:
          type: array
          description: The products under this heading, as they were invoiced.
          items: { "$ref": "#/components/schemas/BillingInvoiceEntry" }
    BillingInvoiceSummary:
      type: object
      description: One issued invoice as it appears in the merchant's history.
      required: [number, period_start, period_end, total_cents, owed_cents, status, paid_cents, balance_cents, processing_cents, groups]
      properties:
        groups:
          type: array
          description: The invoice's headings with their amounts, so the history can show what share of a month each was.
          items: { "$ref": "#/components/schemas/BillingInvoiceGroup" }
        number: { type: string, description: The number the invoice was issued under. }
        period_start: { type: string, format: date-time, description: When the period began. }
        period_end: { type: string, format: date-time, description: When the period ended. }
        total_cents: { type: integer, description: Everything the period came to, earned rather than owed. }
        owed_cents: { type: integer, description: What was collectable when the invoice was issued, in cents. }
        collected_at_source_cents: { type: integer, description: "What was earned but not owed, in cents: fees the rail already took, and usage the credit balance already paid." }
        paid_with_credits_cents: { type: integer, description: The part of collected_at_source_cents the credit balance paid, in cents. }
        status: { type: string, description: The invoice's lifecycle state. }
        paid_cents: { type: [integer, "null"], description: Settled debits, recorded manual payments, and attributed refunds against this invoice, in cents. Null when the payment history is incomplete; null is not a payment. }
        balance_cents: { type: [integer, "null"], description: What remains after recorded payments, in cents; negative when the invoice is a credit. Null when the payment history is incomplete; null is not a debt. }
        processing_cents: { type: integer, minimum: 0, description: "What pulls still waiting for the bank to settle cover on this invoice, in cents. Not part of paid_cents: a bank debit can still fail until it settles." }
    BillingPaymentMethod:
      type: object
      description: The instrument funds are pulled from, masked.
      required: [status, method, bank_account_id, instrument_type, display, key]
      properties:
        key: { type: [string, "null"], description: "An opaque key naming the payment method charges go to now. Send it back as expected_payment_method_key with a purchase, so one reserved after another admin saved a different method is refused (409 quote_changed). Not a provider reference." }
        status: { type: [string, "null"], description: Whether the instrument is usable. }
        method: { type: string, description: How this company is collected from. }
        bank: { type: [string, "null"], description: The bank's display name. }
        mask: { type: [string, "null"], description: The masked account identifier, never the account number. }
        bank_account_id: { type: [integer, "null"], description: The saved company bank account the instrument was set up from. Null for a card or a bank connected through Stripe. }
        instrument_type:
          type: [string, "null"]
          enum: [us_bank_account, card, null]
          description: The rail the instrument is on. Null on an instrument promoted before rails were recorded.
        display:
          oneOf:
          - { "$ref": "#/components/schemas/BillingBankDisplay" }
          - { "$ref": "#/components/schemas/BillingCardDisplay" }
          - { type: "null" }
          description: What the merchant recognizes the instrument by, shaped by its rail. Null when no verified setup describes it. Supersedes `bank` and `mask`.
    BillingBankDisplay:
      type: object
      description: A bank account as the merchant recognizes it.
      additionalProperties: false
      required: [bank_name, last4]
      properties:
        bank_name: { type: [string, "null"], description: The bank's display name. }
        last4: { type: [string, "null"], description: The last four digits of the account, never the account number. }
    BillingCardDisplay:
      type: object
      description: A card as the merchant recognizes it.
      additionalProperties: false
      required: [brand, last4, exp_month, exp_year]
      properties:
        brand: { type: [string, "null"], description: The card network, as the provider names it. }
        last4: { type: [string, "null"], description: The last four digits of the card, never the card number. }
        exp_month: { type: [integer, "null"], description: The month the card expires, 1 through 12. }
        exp_year: { type: [integer, "null"], description: The four-digit year the card expires. }
    BillingRateTier:
      type: object
      description: One rung of the contracted rate card.
      required: [threshold_cents, rate_percent, fixed_cents, current]
      properties:
        threshold_cents: { type: integer, description: Volume at or above which this rung prices every transaction. }
        rate_percent: { type: string, description: Percentage of the transaction, as a decimal string. }
        fixed_cents: { type: integer, description: Flat amount added per transaction, in cents. }
        current: { type: boolean, description: Whether accumulated volume puts the company on this rung. }
    BillingTransactionRates:
      type: object
      description: The rate card in force, with the reached rung marked.
      required: [tiers]
      properties:
        reset_period: { type: [string, "null"], description: How often tier accumulation resets. }
        accumulated_cents: { type: [integer, "null"], description: Volume accumulated toward the tiers. }
        minimum_volume_cents: { type: [integer, "null"], description: Committed minimum for the period, in cents. }
        tiers:
          type: array
          description: The rungs, lowest threshold first.
          items: { "$ref": "#/components/schemas/BillingRateTier" }
    BillingPullSchedule:
      type: object
      description: >-
        How often this company is swept. Contracted per merchant rather than
        earned by volume, so there are no rungs to move between.
      required: [frequency]
      properties:
        frequency: { type: [string, "null"], description: The cadence in force, or null when this company has no billing profile or invoicing is false. }
        next_pull_at: { type: [string, "null"], format: date-time, description: When the next pull is due. }
    BillingPage:
      type: object
      description: >-
        Everything the merchant billing page renders. Every company reads it.
        When invoicing is false, platform billing is left out: the upcoming
        charge is zero with no groups and no scheduled date, there are no
        invoices, transaction_rates is null, and the pull schedule is null.
      required: [invoicing, upcoming, invoices, card_surcharge]
      properties:
        card_surcharge: { "$ref": "#/components/schemas/BillingCardSurcharge" }
        invoicing:
          type: boolean
          description: >-
            Whether platform billing invoices this company: merchant billing is
            on for it, or its billing profile is one platform billing can bill
            or collect. The upcoming charge, invoices, standing, the plan, and
            the transaction rates show only when this is true; credits show
            for every company.
        upcoming: { "$ref": "#/components/schemas/BillingUpcoming" }
        invoices:
          type: array
          description: Issued invoices, newest first; empty when invoicing is false.
          items: { "$ref": "#/components/schemas/BillingInvoiceSummary" }
        billing_email:
          type: [string, "null"]
          description: >-
            Where this company's invoices, receipts, and other billing
            emails are sent. Null means none is nominated, and Fluid sends no
            billing email until one is.
        payment_method:
          oneOf:
          - { "$ref": "#/components/schemas/BillingPaymentMethod" }
          - { type: "null" }
          description: The instrument funds are pulled from, or null when none is set up.
        transaction_rates:
          oneOf:
          - { "$ref": "#/components/schemas/BillingTransactionRates" }
          - { type: "null" }
          description: The contracted rate card, or null when no rate is contracted or invoicing is false.
        pull_schedule: { "$ref": "#/components/schemas/BillingPullSchedule" }
    BillingCardSurcharge:
      type: object
      additionalProperties: false
      description: >-
        Whether the company's charges carry the credit card fee: a fee on top
        of each charge to a saved credit card. Debit cards, prepaid cards,
        cards whose funding is not known, and bank accounts carry none. The
        amounts always come from the server: the credits quote, pay_now, and
        each plan carry the fee and the total.
      required: [rate_basis_points, applies, auto_reload_applies]
      properties:
        rate_basis_points: { type: integer, minimum: 0, description: "The fee rate in basis points: 290 is 2.9%." }
        applies: { type: boolean, description: Whether a charge to the payment method on file carries the fee. }
        auto_reload_applies:
          type: boolean
          description: >-
            Whether an automatic reload carries the fee: applies, and the
            auto-reload consent on record names the reload authorization in
            force. False while auto-reload is off or its consent names an
            older authorization.
    BillingCreditQuote:
      type: object
      additionalProperties: false
      description: What a purchase of credits would cost and grant now, priced by the same server code the purchase is.
      required: [amount_cents, bonus_percent, bonus_cents, credit_cents, surcharge_cents, total_cents]
      properties:
        amount_cents: { type: integer, minimum: 1, description: The amount the credits cost, in cents. }
        bonus_percent: { type: integer, minimum: 0, maximum: 100 }
        bonus_cents: { type: integer, minimum: 0 }
        credit_cents: { type: integer, minimum: 1, description: Every credit the purchase grants, bonus included. Send it as expected_credit_cents. }
        surcharge_cents: { type: integer, minimum: 0, description: The credit card fee on the amount; 0 when none. Send it as expected_surcharge_cents. }
        total_cents: { type: integer, minimum: 1, description: What the payment method is charged, amount_cents plus surcharge_cents. }
    BillingCreditQuoteResponse:
      type: object
      required: [quote]
      properties:
        quote: { "$ref": "#/components/schemas/BillingCreditQuote" }
    BillingPageResponse:
      type: object
      description: The merchant billing page.
      required: [billing]
      properties:
        billing: { "$ref": "#/components/schemas/BillingPage" }
    BillingStandingLapse:
      type: object
      description: One independent unpaid amount.
      required: [kind, financial_started_at, amount_cents, currency_code]
      properties:
        kind: { type: string, enum: [failed_debit, manual_invoice, credit_debt], description: A failed direct debit, an overdue manual invoice, or unpaid credit debt after a failed charge. }
        financial_started_at: { type: string, format: date-time, description: When the debit failed or the invoice fell due. }
        amount_cents: { type: integer, description: What remains unpaid for this source, in cents. }
        currency_code: { type: string, description: ISO currency of the amount. }
    BillingStandingCondition:
      type: object
      description: One open condition and the dates each tier could act on it.
      required: [kind, financial_started_at, grace_started_at, eligible_after]
      properties:
        kind: { type: string, enum: [failed_debit, manual_invoice, missing_authorization, credit_debt] }
        financial_started_at: { type: string, format: date-time }
        grace_started_at: { type: string, format: date-time, description: When this condition's grace began. }
        eligible_after:
          type: object
          required: [immediate, short_grace, long_grace]
          properties:
            immediate: { type: [string, "null"], format: date-time, description: Null until the immediate lead-in is approved. }
            short_grace: { type: [string, "null"], format: date-time, description: Seven elapsed days after grace start; null when the recorded policy version is unknown. }
            long_grace: { type: [string, "null"], format: date-time, description: Thirty elapsed days after grace start; null when the recorded policy version is unknown. }
    BillingStanding:
      type: object
      description: The merchant's own standing.
      required: [state, waived, authorization_missing, evidence_complete, observed_at, lapses, conditions]
      properties:
        state:
          type: string
          enum: [not_enrolled, setup_incomplete, not_live, waived, clear, lapsed, evidence_unavailable]
          description: Derived standing; waived means enforcement is held.
        waived: { type: boolean, description: Whether enforcement is currently held. }
        authorization_missing: { type: boolean, description: Whether standing lapsed because no authorized payment method or approved manual terms is on file; the action required when lapses is empty. }
        evidence_complete: { type: boolean, description: Whether every source's payment evidence is complete. }
        observed_at: { type: string, format: date-time }
        lapses:
          type: array
          items: { "$ref": "#/components/schemas/BillingStandingLapse" }
        conditions:
          type: array
          items: { "$ref": "#/components/schemas/BillingStandingCondition" }
    BillingCreditDiscount:
      type: object
      description: >-
        One credit tier. A purchase of at least min_cents earns percent_off more
        credits on top of what is paid ($100 at 10% is 110 credits); a plan whose
        included usage reaches it takes percent_off off its price.
      required: [min_cents, percent_off]
      properties:
        min_cents: { type: integer, minimum: 0, description: Smallest amount, in cents, the tier applies to. }
        percent_off: { type: integer, minimum: 0, maximum: 100, description: The tier's percent, as bonus credits on a purchase and off a plan's price. }
    BillingCreditPlan:
      type: object
      description: The company's plan under credits billing.
      required: [key, name, monthly_price_cents, bonus_percent, included_credits, billing_interval, monthly_charge_cents, monthly_surcharge_cents, monthly_total_cents, monthly_price_surcharge_cents, monthly_price_total_cents]
      properties:
        monthly_surcharge_cents: { type: integer, minimum: 0, description: The credit card fee on monthly_charge_cents; 0 when none. }
        monthly_total_cents: { type: integer, minimum: 0, description: What each month's charge takes from the payment method, monthly_charge_cents plus monthly_surcharge_cents. }
        monthly_price_surcharge_cents: { type: integer, minimum: 0, description: The credit card fee on monthly_price_cents, which each month is charged if the plan is billed monthly; 0 when none. }
        monthly_price_total_cents: { type: integer, minimum: 0, description: What each month's charge would take from the payment method if the plan is billed monthly, monthly_price_cents plus monthly_price_surcharge_cents. }
        key: { type: string, description: The plan's key. }
        name: { type: string, description: The plan's name. }
        monthly_price_cents: { type: integer, minimum: 0, description: What the plan costs each month, in cents, before any annual discount. }
        bonus_percent: { type: integer, minimum: 0, maximum: 100, description: "The credit tier the price reaches, as the percent of usage added on top of what is paid ($100 at 10% buys 110 credits)." }
        included_credits: { type: integer, minimum: 0, description: The usage it buys each month, bonus included; one credit is one dollar. }
        billing_interval: { type: string, enum: [monthly, annual], description: How the plan is paid for. }
        monthly_charge_cents: { type: integer, minimum: 0, description: What the plan costs a month on its interval, after any annual discount. }
    BillingCreditNextPlan:
      type: object
      description: >-
        The plan chosen for the months ahead. The month it was chosen in keeps
        its plan; this one starts, and is first charged, on starts_on.
      required: [key, name, monthly_price_cents, bonus_percent, included_credits, billing_interval, monthly_charge_cents, monthly_surcharge_cents, monthly_total_cents, monthly_price_surcharge_cents, monthly_price_total_cents, starts_on]
      properties:
        monthly_surcharge_cents: { type: integer, minimum: 0, description: The credit card fee on monthly_charge_cents; 0 when none. }
        monthly_total_cents: { type: integer, minimum: 0, description: What each month's charge takes from the payment method, monthly_charge_cents plus monthly_surcharge_cents. }
        monthly_price_surcharge_cents: { type: integer, minimum: 0, description: The credit card fee on monthly_price_cents, which each month is charged if the plan is billed monthly; 0 when none. }
        monthly_price_total_cents: { type: integer, minimum: 0, description: What each month's charge would take from the payment method if the plan is billed monthly, monthly_price_cents plus monthly_price_surcharge_cents. }
        key: { type: string, description: The plan's key. }
        name: { type: string, description: The plan's name. }
        monthly_price_cents: { type: integer, minimum: 0, description: What the plan costs each month, in cents, before any annual discount. }
        bonus_percent: { type: integer, minimum: 0, maximum: 100, description: "The credit tier the price reaches, as the percent of usage added on top of what is paid ($100 at 10% buys 110 credits)." }
        included_credits: { type: integer, minimum: 0, description: The usage it buys each month, bonus included; one credit is one dollar. }
        billing_interval: { type: string, enum: [monthly, annual], description: How the plan is paid for. }
        monthly_charge_cents: { type: integer, minimum: 0, description: What the plan costs a month on its interval, after any annual discount. }
        starts_on: { type: string, format: date, description: The 1st of the UTC month the plan starts on. }
    BillingCreditUsage:
      type: object
      description: >-
        Credits each kind of usage has drawn this UTC month, in cents. Null
        wherever that usage is not metered yet.
      required: [period_start, orders, ai, hosting, media, studios]
      properties:
        period_start: { type: string, format: date-time, description: Start of the month being measured. }
        orders: { type: [integer, "null"], minimum: 0, description: Drawn by orders. }
        ai: { type: [integer, "null"], minimum: 0, description: Drawn by AI. }
        hosting: { type: [integer, "null"], minimum: 0, description: "Drawn by Mist hosting: each Mist app's server, database, and repository, net of what vendor revisions gave back. Zero for a company whose hosting is not paid from credits." }
        media: { type: [integer, "null"], minimum: 0, description: Drawn by media; not metered yet. }
        studios: { type: [integer, "null"], minimum: 0, description: Drawn by studios; not metered yet. }
    BillingCreditPending:
      type: object
      description: The purchases on one payment method still waiting to be paid.
      required: [amount_cents, total_cents, credit_cents, count]
      additionalProperties: false
      properties:
        amount_cents: { type: integer, minimum: 0, description: What buys their credits, in cents, before any credit card fee. }
        total_cents: { type: integer, minimum: 0, description: "What they charge the payment method, in cents: amount_cents plus any credit card fee." }
        credit_cents: { type: integer, minimum: 0, description: The credits they add once paid, bonus included, in cents. }
        count: { type: integer, minimum: 0, description: How many purchases are waiting. }
    BillingCredits:
      type: object
      description: >-
        The company's credits: its plan, what its usage has drawn this month,
        and what more cost. One credit is one dollar, and every kind of usage
        draws on one balance. Priced but not billed or for sale yet.
      required: [balance_cents, spendable_cents, expired_cents, held_cents, next_expiry, low_balance_cents, funded_categories, credit_billing, pending, drawn_cents, pace, month_statement, expiries, plan, next_plan, plans, credit_bonus_mode, usage, orders_percent, rollover_months, annual_discount_percent, top_up_cents, min_purchase_cents, max_purchase_cents, discounts, purchasable, purchase_terms, card_surcharge]
      properties:
        balance_cents: { type: integer, description: "The credit balance, in cents: the sum of every credit movement. Below zero only when usage overdraws it." }
        spendable_cents: { type: integer, description: "What new usage may draw on, in cents: the balance less expired_cents and held_cents." }
        expired_cents: { type: integer, minimum: 0, description: Credits past their expiry whose expiry is still being recorded, in cents. }
        held_cents: { type: integer, minimum: 0, description: Credits held for usage being confirmed, in cents. }
        low_balance_cents: { type: integer, minimum: 0, description: The spendable balance below which the credits are running low, in cents. }
        funded_categories:
          type: array
          description: The kinds of usage paid from this balance as they run; the rest stay on the bill. hosting is a Mist app's server, database, and repository, paid from the same Mist date as ai.
          items: { type: string, enum: [ai, hosting, platform] }
        drawn_cents: { type: integer, minimum: 0, description: "What AI usage and Mist hosting that occurred this UTC month drew from the balance, in cents, overdrawn parts included; hosting is net of what vendor revisions gave back. Usage billed on the invoice draws nothing, and platform fees paid from credits are not counted." }
        pace:
          oneOf:
          - { "$ref": "#/components/schemas/BillingCreditPace" }
          - { type: "null" }
          description: How fast the balance is drawn now, or null when no usage is paid from it.
        month_statement: { "$ref": "#/components/schemas/BillingCreditMonthStatement" }
        credit_billing:
          oneOf:
          - { "$ref": "#/components/schemas/BillingCreditBilling" }
          - { type: "null" }
          description: >-
            For a company whose billing is paid from credits, the debt and the way out of it: the last failed charge, whether
            automatic charges are blocked, whether Pay now can run, and what the next billing run will draw. Null for every
            other company, and for one whose credits billing date has not come.
        pending:
          type: object
          description: >-
            Purchases Stripe took but has not yet paid, by payment method.
            Their credits are not in the balance: a card payment adds them
            when it succeeds, and a bank payment when its debit settles, about
            4 business days later.
          required: [card, us_bank_account]
          additionalProperties: false
          properties:
            card: { "$ref": "#/components/schemas/BillingCreditPending" }
            us_bank_account: { "$ref": "#/components/schemas/BillingCreditPending" }
        next_expiry:
          oneOf:
          - { "$ref": "#/components/schemas/BillingCreditNextExpiry" }
          - { type: "null" }
          description: The earliest expiry ahead, or null when no credits expire.
        expiries:
          type: [array, "null"]
          description: Every expiry ahead, soonest first, less what open usage claims will draw from it first. Empty when nothing is left to expire. Null while an open usage claim may be drawn after a lot expires, so which credits expire is unknown.
          items: { "$ref": "#/components/schemas/BillingCreditNextExpiry" }
        plan:
          oneOf:
          - { "$ref": "#/components/schemas/BillingCreditPlan" }
          - { type: "null" }
          description: The company's plan this UTC month, or null when it has none. A company created before plans has none until it chooses one; a newly created company starts on the first plan. Null when platform billing does not invoice the company.
        next_plan:
          oneOf:
          - { "$ref": "#/components/schemas/BillingCreditNextPlan" }
          - { type: "null" }
          description: The plan chosen for the months ahead, or null when the plan stays as it is or platform billing does not invoice the company.
        plans:
          type: array
          description: The monthly minimum tiers a plan can be priced at, smallest first; empty when platform billing does not invoice the company.
          items: { "$ref": "#/components/schemas/BillingCatalogPlan" }
        credit_bonus_mode:
          type: string
          enum: [always, auto_reload, "off"]
          description: When a purchase's credit bonus applies; auto_reload is only while auto-reload is on.
        usage: { "$ref": "#/components/schemas/BillingCreditUsage" }
        orders_percent: { type: string, description: Share of order value an order draws, as a decimal string. }
        rollover_months: { type: integer, description: How long unused included credits carry over. }
        annual_discount_percent: { type: integer, description: What annual billing takes off the monthly price. }
        top_up_cents: { type: integer, description: The step an exhausted balance tops up by, in cents. }
        min_purchase_cents: { type: integer, minimum: 1, description: The smallest credit purchase, in cents. }
        max_purchase_cents: { type: integer, minimum: 1, description: The largest credit purchase, in cents. }
        discounts:
          type: array
          description: The credit tiers, smallest amount first; the last one an amount reaches applies.
          items: { "$ref": "#/components/schemas/BillingCreditDiscount" }
        purchasable:
          type: boolean
          description: >-
            Whether the company can buy credits now: it has a usable card or
            bank account on file.
        purchase_terms:
          type: object
          description: The terms shown before Buy; a purchase names the version it agreed to.
          required: [version, text]
          properties:
            version: { type: string }
            text: { type: string }
    BillingCreditBilling:
      type: object
      additionalProperties: false
      description: A credit-billed company's debt and the way out of it.
      required: [credits_billing_at, debt_cents, last_failed_charge, automatic_charges_blocked, pay_now, upcoming_estimate]
      properties:
        credits_billing_at: { type: string, format: date-time, description: "From this instant the company's non-AI billing is paid from credits; 00:00 UTC on the 1st of a month." }
        debt_cents: { type: integer, minimum: 0, description: "What the credits are overdrawn by, in cents: minus the sum of the overdrawn parts of the credit movements (usage that found too few credits). Zero when nothing is overdrawn. Pay now charges at least this." }
        last_failed_charge:
          oneOf:
          - { "$ref": "#/components/schemas/BillingCreditFailedCharge" }
          - { type: "null" }
          description: The latest automatic or Pay now charge that failed or was returned. Null when the debt is zero or no such charge failed.
        automatic_charges_blocked: { type: boolean, description: "Whether Fluid has stopped charging the saved payment method by itself after a failed charge. Pay now still works. The block lifts on a new payment method, a successful Pay now, or a successful retry." }
        pay_now: { "$ref": "#/components/schemas/BillingCreditPayNow" }
        upcoming_estimate: { "$ref": "#/components/schemas/BillingCreditUpcomingEstimate" }
    BillingCreditFailedCharge:
      type: object
      additionalProperties: false
      description: >-
        A charge for the company's credits that was declined or returned since the company last had no debt. A charge
        that was never sent, a provider outage, and a failure the merchant has since paid past are not shown.
      required: [purchase_id, origin, amount_cents, failure_code, reason, failed_at]
      properties:
        purchase_id: { type: integer, description: The credit purchase of the charge; GET /api/settings/billing/credits/purchases lists it. }
        origin: { type: string, enum: [auto_reload, settlement], description: "Who started the charge: auto_reload is a top-up, settlement is a charge for the debt." }
        amount_cents: { type: integer, minimum: 1, description: What the charge was for, in cents. }
        failure_code: { type: [string, "null"], description: "The processor's code for the failure, such as insufficient_funds; returned for a bank payment taken back. Null when none was given." }
        reason: { type: string, description: Why the charge failed, in words for the merchant. }
        failed_at: { type: string, format: date-time, description: When the charge failed or came back. }
    BillingCreditPayNow:
      type: object
      additionalProperties: false
      description: >-
        Whether the merchant can pay the debt now, why not, and what it would
        charge. A pay now sends total_cents back as expected_total_cents.
      required: [available, reason, amount_cents, surcharge_cents, total_cents]
      properties:
        amount_cents: { type: integer, minimum: 0, description: "Exactly the debt, in cents; 0 when there is no debt. A debt under the smallest charge is unavailable (reason below_minimum)." }
        surcharge_cents: { type: integer, minimum: 0, description: The credit card fee on amount_cents; 0 when none. }
        total_cents: { type: integer, minimum: 0, description: What pay now would charge, amount_cents plus surcharge_cents. }
        available: { type: boolean, description: "Whether POST /api/settings/billing/credits/pay-now would charge now." }
        reason:
          type: [string, "null"]
          enum: [no_debt, below_minimum, in_flight, no_profile, not_active, not_auto_debit, no_instrument, no_mandate, instrument_mode_mismatch, null]
          description: >-
            Why it cannot, when available is false; null when it can. below_minimum means the debt is under the
            smallest charge, $0.50 on any rail. Pay now charges the debt alone, so it needs a debt of at least $0.50;
            nothing is charged now. The automatic charge can be sent sooner when a consented auto-reload top-up
            lifts the total over $0.50.
    BillingCreditUpcomingEstimate:
      type: object
      additionalProperties: false
      description: >-
        Fees written and not yet drawn from the credits, as of the last draw cutoff. An estimate, not a charge: the billing
        run draws them from the credits first and charges only the part that overdraws them. It can lag a fee whose write
        committed late. It counts the fees dated before the moment of the read. Tonight's run draws every fee dated before
        00:00 UTC tomorrow, so a fee dated later today is not yet counted.
      required: [draws_cents, adjustment_credits_cents, net_cents]
      properties:
        draws_cents: { type: integer, minimum: 0, description: Fees to draw, in cents. }
        adjustment_credits_cents: { type: integer, minimum: 0, description: "Credits Fluid will return for corrections and lower true-ups, in cents, as a positive number." }
        net_cents: { type: integer, description: draws_cents less adjustment_credits_cents. }
    BillingCreditMonthStatement:
      type: object
      description: >-
        The balance from the start of the usage month (usage.period_start)
        until now as one statement, read on the same snapshot as the balance.
        Each credit movement counts in the month of the earlier of when it
        occurred and when it was recorded, so it counts in one month only.
        opening_cents + plan_cents + purchased_cents + granted_cents -
        used_cents - expired_cents - revoked_cents always equals
        closing_cents. The sources are net, so one can be below zero, such as
        a refund this month of credits bought before it.
      required: [opening_cents, plan_cents, purchased_cents, granted_cents, used_cents, expired_cents, revoked_cents, closing_cents]
      properties:
        opening_cents: { type: integer, description: The balance when the month began, in cents. }
        plan_cents: { type: integer, description: "What the monthly plan charge added, in cents, bonus included and net of refunds and disputes." }
        purchased_cents: { type: integer, description: "What credits bought added, in cents: manual, auto-reload and debt settlement purchases, bonus included and net of refunds and disputes." }
        granted_cents: { type: integer, description: "What Fluid granted with no purchase, in cents: promotional credits and fees given back as adjustment credits." }
        used_cents: { type: integer, minimum: 0, description: "What usage and fees paid from credits drew, in cents, every category." }
        expired_cents: { type: integer, minimum: 0, description: What expired, in cents. }
        revoked_cents: { type: integer, minimum: 0, description: What Fluid revoked, in cents. }
        closing_cents: { type: integer, description: "The balance now, in cents: equal to balance_cents." }
    BillingCreditPace:
      type: object
      description: >-
        What the balance drew since it last started paying for usage, or since
        the start of the UTC month when that was earlier.
      required: [since, drawn_cents]
      properties:
        since: { type: string, format: date-time, description: When the span began. }
        drawn_cents: { type: integer, minimum: 0, description: What usage in the span drew from the balance, in cents. }
    BillingCreditNextExpiry:
      type: object
      description: An expiry ahead and the credits it takes.
      required: [at, cents]
      properties:
        at: { type: string, format: date-time, description: When the credits expire. }
        cents: { type: integer, minimum: 0, description: Credits that expire then, in cents. }
    BillingCreditMovement:
      type: object
      description: >-
        One change to the credit balance. A promotional movement names no one
        and gives no reason.
      required: [id, kind, label, source, amount_cents, balance_after_cents, category, usage_event_id, purchase_id, occurred_at]
      properties:
        id: { type: string, format: uuid, description: The movement's id. }
        kind: { type: string, enum: [grant, draw, overdraft_repayment, expiry, revocation, refund, reversal], description: What changed the balance. }
        label: { type: string, description: "What the movement is called, such as Promotional credits." }
        source: { type: [string, "null"], enum: [purchase, bonus, promotional, plan, adjustment, null], description: Where the credits it changed came from, when they share one source. }
        amount_cents: { type: integer, description: Signed change to the balance, in cents. }
        balance_after_cents: { type: integer, description: The balance after the movement, in cents. }
        category: { type: [string, "null"], description: For usage, the kind of usage it paid for. }
        usage_event_id: { type: [string, "null"], format: uuid, description: For usage, the usage event it paid for. }
        purchase_id: { type: [integer, "null"], description: For a purchase, its refund, or its reversal, the purchase. }
        occurred_at: { type: string, format: date-time, description: When the change took effect. }
    BillingCreditMovementPagination:
      type: object
      required: [cursor, limit, prev_cursor, next_cursor]
      properties:
        cursor: { type: [string, "null"], description: This page's cursor. }
        limit: { type: integer, description: Movements per page. }
        prev_cursor: { type: [string, "null"], description: The newer page's cursor, or null. }
        next_cursor: { type: [string, "null"], description: The older page's cursor, or null. }
    BillingCreditPurchase:
      type: object
      description: >-
        One purchase of credits: what was paid, what it granted, and where its
        money stands. succeeded means the credits were granted; processing
        means the payment is still settling. origin is manual (the merchant
        bought), auto_reload (a low balance bought), or settlement (a charge
        for what a credit-billed company owes, with any auto-reload top-up).
      required: [id, origin, status, instrument_type, failure_message, invoice_available, top_up_cents, amount_cents, bonus_percent, bonus_cents, credit_cents, surcharge_cents, total_cents, refunded_cents, credits_expire_at, created_at, succeeded_at, failed_at]
      properties:
        id: { type: integer }
        origin: { type: string, enum: [manual, auto_reload, settlement, plan], description: "How the purchase began: manual, auto_reload, settlement (a charge for what the company owes), or plan (the monthly plan charge)." }
        status: { type: string, enum: [pending, processing, succeeded, failed, refunded, reversed] }
        instrument_type: { type: string, enum: [card, us_bank_account] }
        failure_message: { type: [string, "null"], description: Why the payment failed, for a failed purchase. }
        top_up_cents: { type: [integer, "null"], minimum: 0, description: "For a settlement, the part of amount_cents that is the auto-reload top-up; the rest paid the debt and, for older charges raised to a rail minimum, may include surplus added to credits. Null for every other origin." }
        invoice_available: { type: boolean, description: "Whether the purchase has a paid Stripe invoice to open; GET /api/settings/billing/credits/purchases/{id}/invoice returns its link." }
        amount_cents: { type: integer, minimum: 1, description: What was paid, in cents. }
        bonus_percent: { type: integer, minimum: 0, maximum: 100 }
        bonus_cents: { type: integer, minimum: 0 }
        credit_cents: { type: integer, minimum: 1, description: Every credit the purchase grants, bonus included. }
        surcharge_cents: { type: integer, minimum: 0, description: The credit card fee charged on top of amount_cents, in cents; 0 when none. }
        total_cents: { type: integer, minimum: 1, description: What the payment method was charged, amount_cents plus surcharge_cents. }
        refunded_cents: { type: integer, minimum: 0, description: What Fluid refunded to the payment method, in cents, its share of the fee included. }
        credits_expire_at: { type: string, format: date-time }
        created_at: { type: string, format: date-time }
        succeeded_at: { type: [string, "null"], format: date-time }
        failed_at: { type: [string, "null"], format: date-time }
    BillingCreditPurchasesResponse:
      type: object
      description: One page of credit purchases, newest first.
      required: [credit_purchases, meta]
      properties:
        credit_purchases:
          type: array
          items: { "$ref": "#/components/schemas/BillingCreditPurchase" }
        meta:
          type: object
          required: [pagination]
          properties:
            pagination: { "$ref": "#/components/schemas/BillingCreditMovementPagination" }
    BillingCreditPurchaseResponse:
      type: object
      required: [credit_purchase, balance_cents, duplicate]
      properties:
        credit_purchase: { "$ref": "#/components/schemas/BillingCreditPurchase" }
        balance_cents: { type: integer, description: The credit balance after the purchase, in cents. }
        duplicate: { type: boolean, description: Whether this returns a purchase already made with the same key. }
    BillingCreditPayNowResponse:
      type: object
      description: The charge Pay now made.
      required: [credit_purchase, balance_cents]
      properties:
        credit_purchase: { "$ref": "#/components/schemas/BillingCreditPurchase" }
        balance_cents: { type: integer, description: The credit balance after the charge, in cents. Still below zero while a bank payment settles. }
    BillingPayment:
      type: object
      description: >-
        One pull from the company's bank account or card. submitted means the
        bank has not settled it yet; a bank debit usually settles in four
        business days. returned means the bank took the money back after it
        settled.
      required: [id, status, amount_cents, surcharge_cents, total_cents, currency_code, instrument_type, invoice_numbers, invoice_available, refunded_cents, submitted_at, settled_at, failed_at, recovered_at]
      properties:
        id: { type: integer, description: The pull's id. }
        status: { type: string, enum: [submitted, settled, failed, returned, refunded, requires_action], description: Where the pull's money stands. }
        amount_cents: { type: integer, minimum: 1, description: The fees the pull paid, in cents. }
        surcharge_cents: { type: integer, minimum: 0, description: The credit card fee charged on top of amount_cents, in cents; 0 when none. }
        total_cents: { type: integer, minimum: 1, description: What was pulled from the payment method, amount_cents plus surcharge_cents. }
        currency_code: { type: string, description: The ISO 4217 currency of the pull. }
        instrument_type: { type: string, enum: [us_bank_account, card], description: What the pull debited. }
        invoice_numbers:
          type: [array, "null"]
          description: The issued invoices whose fees the pull was for, whether or not it settled. Empty while its period is not yet invoiced; null when Fluid has no record of which fees the pull was for.
          items: { type: string }
        invoice_available: { type: boolean, description: "Whether the pull has a paid Stripe invoice to open; GET /api/settings/billing/payments/{id}/invoice returns its link." }
        refunded_cents: { type: integer, minimum: 0, description: "What completed refunds gave back of this pull, in cents, their share of the credit card fee included; compare it with total_cents. A refunded pull keeps status settled; this says how much of it came back." }
        submitted_at: { type: string, format: date-time, description: When the pull was sent to the bank. }
        settled_at: { type: [string, "null"], format: date-time, description: When the bank settled it, or null. }
        failed_at: { type: [string, "null"], format: date-time, description: When it failed or came back, or null. }
        recovered_at: { type: [string, "null"], format: date-time, description: For a returned pull, when a won dispute gave the money back; otherwise null. }
    BillingChargeInvoiceResponse:
      type: object
      description: Where to read the Stripe invoice of one charge. Stripe's links expire, so they are fetched when asked for and never stored.
      required: [invoice]
      properties:
        invoice:
          type: object
          required: [url, pdf_url]
          properties:
            url: { type: string, description: The hosted invoice page on invoice.stripe.com. }
            pdf_url: { type: [string, "null"], description: The invoice as a PDF, or null when Stripe has none. }
    BillingPaymentsResponse:
      type: object
      description: One page of pulls, newest first.
      required: [payments, meta]
      properties:
        payments:
          type: array
          items: { "$ref": "#/components/schemas/BillingPayment" }
        meta:
          type: object
          required: [pagination]
          properties:
            pagination: { "$ref": "#/components/schemas/BillingCreditMovementPagination" }
    BillingDocument:
      type: object
      description: >-
        One Stripe document of the company's billing: the paid invoice of a
        charge, or the credit note of a refund. The amount is always positive;
        kind says whether it was paid or refunded.
      required: [id, kind, description, amount_cents, currency_code, occurred_at]
      properties:
        id: { type: integer, description: "The document's id; GET /api/settings/billing/documents/{id}/link returns its link." }
        kind: { type: string, enum: [invoice, credit_note], description: "invoice is a paid charge; credit_note is a refund." }
        description: { type: string, description: What the money was for, for example Usage credits or Refund - usage credits. }
        amount_cents: { type: integer, minimum: 1, description: The amount of the document, in cents. }
        currency_code: { type: string, description: The ISO 4217 currency of the document. }
        occurred_at: { type: string, format: date-time, description: When the charge or refund took place. }
    BillingDocumentsResponse:
      type: object
      description: One page of Stripe documents, newest first.
      required: [documents, meta]
      properties:
        documents:
          type: array
          items: { "$ref": "#/components/schemas/BillingDocument" }
        meta:
          type: object
          required: [pagination]
          properties:
            pagination: { "$ref": "#/components/schemas/BillingCreditMovementPagination" }
    BillingDocumentLinkResponse:
      type: object
      description: Where to read one Stripe document. Stripe's links expire, so they are fetched when asked for and never stored.
      required: [document]
      properties:
        document:
          type: object
          required: [url, pdf_url]
          properties:
            url: { type: string, description: The hosted invoice page, or for a credit note its PDF. }
            pdf_url: { type: [string, "null"], description: The document as a PDF, or null when Stripe has none. }
    BillingCreditMovementsResponse:
      type: object
      description: One page of credit movements, newest first.
      required: [credit_movements, meta]
      properties:
        credit_movements:
          type: array
          items: { "$ref": "#/components/schemas/BillingCreditMovement" }
        meta:
          type: object
          required: [pagination]
          properties:
            pagination: { "$ref": "#/components/schemas/BillingCreditMovementPagination" }
    BillingCatalogPlan:
      type: object
      description: >-
        One monthly minimum tier a plan can be priced at: the commitment, the
        discount it earns as usage on top, and the usage it buys.
      required: [monthly_price_cents, bonus_percent, included_credits, monthly_surcharge_cents, monthly_total_cents]
      properties:
        monthly_price_cents: { type: integer, minimum: 0, description: The monthly minimum, in cents. }
        monthly_surcharge_cents: { type: integer, minimum: 0, description: The credit card fee on monthly_price_cents, billed monthly; 0 when none. }
        monthly_total_cents: { type: integer, minimum: 0, description: What each month's charge would take from the payment method, monthly_price_cents plus monthly_surcharge_cents. }
        bonus_percent: { type: integer, minimum: 0, maximum: 100, description: "The tier's discount, as the percent of usage added on top of what is paid ($100 at 10% buys 110 credits)." }
        included_credits: { type: integer, minimum: 0, description: The usage it buys each month, bonus included; one credit is one dollar. }
    BillingUsageControls:
      type: object
      description: >-
        What the merchant has set about its own usage: spend limits, and
        auto-reload, which buys the reload amount with the payment method on
        file when the spendable balance falls below the threshold, within the
        reload caps, and only with its authorization on record.
      required: [limits_enabled, auto_reload, reload_caps, limits, daily_limits, reload_threshold_cents, reload_amount_cents, reload_authorized, reload_authorization_current, reload_authorization, reload_block, reload_cap_reached]
      properties:
        limits_enabled: { type: boolean, description: Whether the monthly spend limits are on. }
        auto_reload: { type: boolean, description: Whether a low balance reloads itself. Never true without the authorization on record. }
        reload_threshold_cents: { type: integer, minimum: 1, description: The spendable balance below which a reload is bought, in cents. }
        reload_amount_cents: { type: integer, minimum: 1, description: What one reload buys, in cents. }
        reload_authorized: { type: boolean, description: Whether the merchant's auto-reload authorization is on record. }
        reload_authorization_current:
          type: boolean
          description: >-
            Whether the authorization on record is the one in force. False
            while auto-reload is off, or while it is on under an older
            authorization; saving auto_reload true with the version in force
            then renews the consent.
        reload_authorization:
          type: object
          description: The authorization in force, shown before auto-reload is turned on.
          required: [version, text]
          properties:
            version: { type: string }
            text: { type: string }
        reload_block:
          description: Set when a reload failed; nothing reloads until the payment method changes or auto-reload is turned off and on.
          oneOf:
          - type: object
            required: [reason, blocked_at]
            properties:
              reason: { type: string }
              blocked_at: { type: string, format: date-time }
          - type: "null"
        reload_cap_reached:
          description: >-
            Set while auto-reload is on and the next reload would pass a
            reload cap, so none is bought until the period ends. The monthly
            cap is named when both hold.
          oneOf:
          - type: object
            required: [period, reloaded_cents, cap_cents, resumes_at]
            properties:
              period: { type: string, enum: [daily, monthly] }
              reloaded_cents: { type: integer, minimum: 0, description: Reloaded in the period so far, in cents. }
              cap_cents: { type: integer, minimum: 1, description: The cap for the period, in cents. }
              resumes_at: { type: [string, "null"], format: date-time, description: "When the period ends (UTC) and the cap lifts; null when one reload alone passes the cap, which only a raised cap or a smaller reload lifts." }
          - type: "null"
        reload_caps:
          type: object
          description: The most auto-reload tops up by, the company's own or Fluid's default; it is never uncapped.
          required: [daily_cents, monthly_cents]
          properties:
            daily_cents: { type: integer, minimum: 1, description: The most it tops up in a day, in cents. }
            monthly_cents: { type: integer, minimum: 1, description: The most it tops up in a month, in cents. }
        limits:
          type: object
          description: >-
            Monthly limit per kind of usage, in cents; null is no limit. Orders
            and hosting always stay on, so a limit on either only notifies.
          required: [orders, ai, hosting, studios]
          properties:
            orders: { type: [integer, "null"], minimum: 1, description: Orders and checkout. }
            ai: { type: [integer, "null"], minimum: 1, description: AI. }
            hosting: { type: [integer, "null"], minimum: 1, description: Apps, hosting and media. }
            studios: { type: [integer, "null"], minimum: 1, description: Fluid Studios. }
        daily_limits:
          type: object
          description: Daily limit, in cents, for the kinds of usage a limit can pause; null is no daily limit.
          required: [ai, studios]
          properties:
            ai: { type: [integer, "null"], minimum: 1, description: AI. }
            studios: { type: [integer, "null"], minimum: 1, description: Fluid Studios. }
    BillingUsageControlsResponse:
      type: object
      description: The merchant's spend limits and auto-reload.
      required: [usage_controls]
      properties:
        usage_controls: { "$ref": "#/components/schemas/BillingUsageControls" }
    BillingCreditsResponse:
      type: object
      description: The credits section of the billing page.
      required: [credits]
      properties:
        credits: { "$ref": "#/components/schemas/BillingCredits" }
    BillingStandingResponse:
      type: object
      description: The merchant standing page.
      required: [standing]
      properties:
        standing: { "$ref": "#/components/schemas/BillingStanding" }
    BillingInstrumentSetup:
      type: object
      additionalProperties: false
      required: [id, instrument_type, status, provider, billing_email, authorization_version, authorization_accepted_at, created_at]
      properties:
        id:
          type: integer
        instrument_type:
          type: string
          enum: [us_bank_account, card]
          description: The rail this setup is for.
        status:
          type: string
          enum: [pending, usable, failed, canceled, expired]
        provider:
          type: string
          const: stripe
        billing_email:
          type: string
          format: email
        authorization_version:
          type: string
        authorization_accepted_at:
          type: string
          format: date-time
        failure_code:
          type: [string, "null"]
        created_at:
          type: string
          format: date-time
    BillingAchAuthorization:
      type: object
      additionalProperties: false
      required: [version, digest]
      properties:
        version:
          type: string
        digest:
          type: string
          pattern: "^[a-f0-9]{64}$"
    BillingInstrumentAuthorizations:
      type: object
      additionalProperties: false
      description: The approved agreement for each rail offered, by version and fingerprint. Every company is offered every rail with an approved agreement.
      properties:
        us_bank_account: { "$ref": "#/components/schemas/BillingAchAuthorization" }
        card: { "$ref": "#/components/schemas/BillingAchAuthorization" }
    BillingAllowedInstrumentTypes:
      type: array
      description: The rails this company can set up now, which is every rail with an approved agreement.
      items:
        type: string
        enum: [us_bank_account, card]
    BillingTargetMeta:
      type: object
      additionalProperties: true
      required: [request_uuid, timestamp]
      properties:
        request_uuid:
          type: [string, "null"]
        timestamp:
          type: string
          format: date-time
    BillingAuthorizedBankAccountIds:
      type: array
      description: >-
        Saved company bank accounts whose earlier ACH authorization still
        applies. Switching debits onto one of these needs no new acceptance.
      items:
        type: integer
        minimum: 1
    BillingSavedCards:
      type: array
      description: >-
        Saved cards other than the one in use, newest first. Their earlier
        card authorization still applies, so switching onto one needs no new
        acceptance. The expiry is the one recorded at setup; the switch asks
        Stripe whether the card can still be charged.
      items:
        type: object
        additionalProperties: false
        required: [id, brand, last4, exp_month, exp_year]
        properties:
          id:
            type: integer
            minimum: 1
            description: The card's instrument setup, sent back as instrument_setup_id to switch onto it.
          brand:
            type: [string, "null"]
          last4:
            type: [string, "null"]
          exp_month:
            type: [integer, "null"]
          exp_year:
            type: [integer, "null"]
    BillingInstrumentSetupCreateResponse:
      type: object
      additionalProperties: false
      required: [instrument_setup, authorization, authorizations, allowed_instrument_types, publishable_key, authorized_bank_account_ids, saved_cards, client_secret, status, meta]
      properties:
        instrument_setup: { "$ref": "#/components/schemas/BillingInstrumentSetup" }
        authorization: { "$ref": "#/components/schemas/BillingAchAuthorization" }
        authorizations: { "$ref": "#/components/schemas/BillingInstrumentAuthorizations" }
        allowed_instrument_types: { "$ref": "#/components/schemas/BillingAllowedInstrumentTypes" }
        publishable_key:
          type: string
        authorized_bank_account_ids: { "$ref": "#/components/schemas/BillingAuthorizedBankAccountIds" }
        saved_cards: { "$ref": "#/components/schemas/BillingSavedCards" }
        client_secret:
          type: string
        status:
          type: integer
          const: 201
        meta: { "$ref": "#/components/schemas/BillingTargetMeta" }
    BillingInstrumentSetupShowResponse:
      type: object
      additionalProperties: false
      required: [instrument_setup, authorization, authorizations, allowed_instrument_types, publishable_key, authorized_bank_account_ids, saved_cards, status, meta]
      properties:
        instrument_setup:
          oneOf:
          - "$ref": "#/components/schemas/BillingInstrumentSetup"
          - type: "null"
        authorization: { "$ref": "#/components/schemas/BillingAchAuthorization" }
        authorizations: { "$ref": "#/components/schemas/BillingInstrumentAuthorizations" }
        allowed_instrument_types: { "$ref": "#/components/schemas/BillingAllowedInstrumentTypes" }
        publishable_key:
          type: string
        authorized_bank_account_ids: { "$ref": "#/components/schemas/BillingAuthorizedBankAccountIds" }
        saved_cards: { "$ref": "#/components/schemas/BillingSavedCards" }
        status:
          type: integer
          const: 200
        meta: { "$ref": "#/components/schemas/BillingTargetMeta" }
    Meta:
      type: object
      properties:
        request_id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
    SettingsCompany:
      title: Company
      type: object
      required:
      - id
      - name
      - active
      properties:
        id:
          type: integer
        name:
          type: string
        active:
          type: boolean
          default: true
        sandbox:
          description: Whether the company is in sandbox mode for testing
          type: boolean
        is_mlm:
          description: Whether the company is a Multi-Level Marketing (MLM) business
          type: boolean
        fluid_shop:
          type: string
        domain:
          type:
          - string
          - 'null'
        color:
          type:
          - string
          - 'null'
        tax_class:
          description: Tax class for the company
          type:
          - string
          - 'null'
        appstore_url:
          description: App Store URL for the company's mobile app
          type:
          - string
          - 'null'
        playstore_url:
          description: Google Play Store URL for the company's mobile app
          type:
          - string
          - 'null'
        pre_purchase_enrollment_fields:
          type:
          - boolean
          - 'null'
        allow_signup:
          description: Whether to allow self-signup
          type:
          - boolean
          - 'null'
        company_pays:
          description: Whether the company pays for self-signup
          type:
          - boolean
          - 'null'
        olumo_token:
          description: OLUMO token for the company
          type:
          - string
          - 'null'
        apn_bundle:
          description: APN bundle for the company
          type:
          - string
          - 'null'
        ibi_bundle:
          description: IBI bundle for the company
          type:
          - string
          - 'null'
        signup_url:
          description: Signup URL for the company
          type:
          - string
          - 'null'
        reward_points_enabled:
          description: Whether the reward points system is enabled
          type: boolean
        reward_points_apply_to_subtotal:
          description: Whether reward points apply to subtotal instead of total
          type: boolean
        reward_points_label_singular:
          description: Customer-facing singular label for reward points
          type: string
        reward_points_label_plural:
          description: Customer-facing plural label for reward points
          type: string
        mobile_app_identifier:
          type:
          - string
          - 'null'
        support_email:
          description: Support email for the company
          type:
          - string
          - 'null'
        country_code:
          type:
          - string
          - 'null'
        shipping:
          description: 'Company shipping. Possible values: Flat Country, Droplet,
            Free, Product-based'
          type:
          - string
          - 'null'
        shipping_type:
          description: 'Internal shipping type. Possible values: manual, country,
            droplet, fluid-rates, free-shipping'
          type:
          - string
          - 'null'
        allow_free_shipping:
          type:
          - boolean
          - 'null'
        email_provider:
          description: 'Email delivery provider. Possible values: fluid, droplet'
          type:
          - string
          - 'null'
    ErrorResponse:
      type: object
      required:
      - error_message
      - errors
      - meta
      properties:
        error_message:
          type: string
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          "$ref": "#/components/schemas/Meta"
    UnauthorizedResponse:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    GetBrandGuidelinesResponse200ApplicationJsonSchema:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: integer
        name:
          type: string
        logo_url:
          type:
          - string
          - 'null'
        icon_url:
          type:
          - string
          - 'null'
        favicon_url:
          type:
          - string
          - 'null'
        color:
          type:
          - string
          - 'null'
        secondary_color:
          type:
          - string
          - 'null'
        default_og_image:
          type:
          - string
          - 'null'
        default_fallback_image:
          type:
          - string
          - 'null'
        default_og_description:
          type:
          - string
          - 'null'
        brand_md:
          type:
          - string
          - 'null'
        fonts:
          type: array
          items:
            type: object
            required:
            - name
            - file_url
            properties:
              name:
                type: string
              file_url:
                type: string
              file_id:
                type:
                - integer
                - 'null'
              format:
                type:
                - string
                - 'null'
              weight:
                type:
                - string
                - 'null'
              style:
                type:
                - string
                - 'null'
              role:
                type:
                - string
                - 'null'
        meta:
          "$ref": "#/components/schemas/Meta"
    ClearBrandGuidelinesRequestBodyApplicationJsonSchema:
      type: object
      required:
      - brand_guidelines
      properties:
        brand_guidelines:
          type: object
          properties:
            name:
              type:
              - string
              - 'null'
            logo_url:
              type:
              - string
              - 'null'
            icon_url:
              type:
              - string
              - 'null'
            favicon_url:
              type:
              - string
              - 'null'
            color:
              type:
              - string
              - 'null'
            secondary_color:
              type:
              - string
              - 'null'
            default_og_image:
              type:
              - string
              - 'null'
            default_fallback_image:
              type:
              - string
              - 'null'
            default_og_description:
              type:
              - string
              - 'null'
            brand_md:
              type:
              - string
              - 'null'
            fonts:
              type: array
              items:
                type: object
                required:
                - name
                - file_url
                properties:
                  name:
                    type: string
                  file_url:
                    type: string
                  file_id:
                    type:
                    - integer
                    - 'null'
                  format:
                    type:
                    - string
                    - 'null'
                  weight:
                    type:
                    - string
                    - 'null'
                  style:
                    type:
                    - string
                    - 'null'
                  role:
                    type:
                    - string
                    - 'null'
    ShowCheckoutSettingsResponse200ApplicationJsonSchema:
      title: Company
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: integer
        name:
          type: string
        favicon_url:
          type:
          - string
          - 'null'
        primary_domain_hostname:
          type:
          - string
          - 'null'
        subdomain:
          type:
          - string
          - 'null'
        logo_url:
          type:
          - string
          - 'null'
        fluid_shop:
          type:
          - string
          - 'null'
        collect_phone:
          type: boolean
        require_phone:
          type: boolean
        require_billing_zip:
          type: boolean
        checkout_primary_button_color:
          type:
          - string
          - 'null'
        checkout_primary_text_color:
          type:
          - string
          - 'null'
        checkout_secondary_button_color:
          type:
          - string
          - 'null'
        checkout_secondary_text_color:
          type:
          - string
          - 'null'
        order_on_behalf:
          type: boolean
        reward_points_enabled:
          type: boolean
        reward_points_apply_to_subtotal:
          description: Whether reward points apply to subtotal instead of total
          type: boolean
        reward_points_label_singular:
          description: Customer-facing singular label for reward points
          type: string
        reward_points_label_plural:
          description: Customer-facing plural label for reward points
          type: string
        collect_sms_marketing:
          type: boolean
        collect_email_marketing:
          type: boolean
        bundle_subscriptions:
          type: boolean
        hide_volume_on_customer_surfaces:
          description: Whether commissionable/qualifying volume (CV/QV) is hidden on
            customer-facing surfaces
          type: boolean
        isolated_payment_tokens:
          type: boolean
        kount_environment:
          type:
          - string
          - 'null'
        kount_client_id:
          type:
          - string
          - 'null'
    UpdateCheckoutSettingsRequestBodyApplicationJsonSchema:
      type: object
      required:
      - checkout
      properties:
        checkout:
          type: object
          properties:
            collect_phone:
              type:
              - boolean
              - 'null'
            require_phone:
              type:
              - boolean
              - 'null'
            require_billing_zip:
              type:
              - boolean
              - 'null'
            checkout_primary_button_color:
              type:
              - string
              - 'null'
            checkout_primary_text_color:
              type:
              - string
              - 'null'
            checkout_secondary_button_color:
              type:
              - string
              - 'null'
            checkout_secondary_text_color:
              type:
              - string
              - 'null'
            order_on_behalf:
              type:
              - boolean
              - 'null'
            collect_sms_marketing:
              type:
              - boolean
              - 'null'
            collect_email_marketing:
              type:
              - boolean
              - 'null'
            hide_volume_on_customer_surfaces:
              description: Hide commissionable/qualifying volume (CV/QV) on customer-facing
                surfaces. Cast to a boolean before it is stored, so a string
                "false" is persisted as false rather than as a truthy string.
              type:
              - boolean
              - 'null'
    AddCompanyResponse201ApplicationJsonSchema:
      type: object
      required:
      - company
      - meta
      properties:
        company:
          "$ref": "#/components/schemas/SettingsCompany"
        meta:
          "$ref": "#/components/schemas/Meta"
    AddCompanyRequestBodyApplicationJsonSchema:
      type: object
      required:
      - name
      - subdomain
      properties:
        name:
          type: string
          minLength: 1
        subdomain:
          type: string
          minLength: 1
        domain:
          type:
          - string
          - 'null'
        color:
          type:
          - string
          - 'null'
        active:
          type:
          - boolean
          - 'null'
        sandbox:
          type:
          - boolean
          - 'null'
        is_mlm:
          type:
          - boolean
          - 'null'
    GetCompanyDetailsResponse200ApplicationJsonSchema:
      allOf:
      - "$ref": "#/components/schemas/SettingsCompany"
      - type: object
        properties:
          meta:
            "$ref": "#/components/schemas/Meta"
    DeleteCompanyResponse200ApplicationJsonSchema:
      type: object
      properties:
        id:
          type: integer
        message:
          type: string
        meta:
          "$ref": "#/components/schemas/Meta"
    UpdateCompanyDetailsResponse200ApplicationJsonSchema:
      allOf:
      - "$ref": "#/components/schemas/SettingsCompany"
      - type: object
        properties:
          meta:
            "$ref": "#/components/schemas/Meta"
    CreateCompanyCountryRequestBodyApplicationJsonSchema:
      type: object
      required:
      - company_country
      properties:
        seed_legacy_defaults:
          type:
          - boolean
          - 'null'
          description: False skips the default country agreements and default forms
            a new country normally receives, for a caller that creates its own selection.
            The Japan gaiyo shomen enrollment form is still created where required.
            Omitted or true keeps the defaults.
        company_country:
          type: object
          required:
          - country_id
          properties:
            country_id:
              type: integer
            currency:
              type: string
            warehouse_id:
              type: integer
            handling_fee:
              type: number
            default:
              type: boolean
            tax_business_id:
              type: string
            custom_avalara_user_name:
              type: string
            custom_avalara_password:
              type: string
            tax_strategy:
              type: string
            tax_class:
              type: string
            require_gaiyo_shomen_in_enrollment:
              type: boolean
            settlement_currency:
              type: string
            entity_id:
              type: integer
            entity_legally_registered:
              type: boolean
            tax_inclusive_pricing:
              type:
              - boolean
              - 'null'
            tax_name:
              type:
              - string
              - 'null'
            tax_callback_registration_id:
              type:
              - integer
              - 'null'
            requires_3ds:
              type: boolean
            payment_method_priority:
              type:
              - array
              - 'null'
              items:
                type: string
              description: Ordered integration type names checkout ranks payment
                methods by for this country (for example Paypal, CreditCard); unranked
                methods keep their default order after them. Null clears the order.
            checkout_requires_terms:
              type:
              - boolean
              - 'null'
              description: Whether checkout requires accepting terms in this country.
                Null inherits the country setting.
            tax_invoice_required:
              type:
              - boolean
              - 'null'
              description: Whether orders in this country need a tax invoice. Null
                inherits the country setting.
            legal_settings:
              "$ref": "#/components/schemas/CompanyCountryLegalSettings"
            address_fields:
              type:
              - array
              - 'null'
              description: The address fields checkout collects for this country,
                in order. Null uses the default fields for the country; an empty list
                collects none. A field cannot be required and hidden, and a field
                may appear once.
              items:
                "$ref": "#/components/schemas/CompanyCountryAddressField"
    GetCompanyCountryTaxOptionsResponse200ApplicationJsonSchema:
      type: object
      properties:
        tax_options:
          type: array
          items:
            type: string
        meta:
          "$ref": "#/components/schemas/Meta"
    UpdateCompanyCountryRequestBodyApplicationJsonSchema:
      type: object
      required:
      - company_country
      properties:
        expected_revision:
          type:
          - string
          - 'null'
          description: The `revision` the caller loaded. When the country has changed
            since, the update writes nothing and answers 409 with the current country.
            Omit it to update unconditionally.
        company_country:
          type: object
          properties:
            currency:
              type: string
            warehouse_id:
              type: integer
            handling_fee:
              type: number
            default:
              type: boolean
            tax_business_id:
              type: string
            custom_avalara_user_name:
              type: string
            custom_avalara_password:
              type: string
            tax_strategy:
              type: string
            tax_class:
              type: string
            require_gaiyo_shomen_in_enrollment:
              type: boolean
            settlement_currency:
              type: string
            entity_id:
              type: integer
            entity_legally_registered:
              type: boolean
            tax_inclusive_pricing:
              type:
              - boolean
              - 'null'
            tax_name:
              type:
              - string
              - 'null'
            tax_callback_registration_id:
              type:
              - integer
              - 'null'
            requires_3ds:
              type: boolean
            payment_method_priority:
              type:
              - array
              - 'null'
              items:
                type: string
              description: Ordered integration type names checkout ranks payment
                methods by for this country (for example Paypal, CreditCard); unranked
                methods keep their default order after them. Null clears the order.
            checkout_requires_terms:
              type:
              - boolean
              - 'null'
              description: Whether checkout requires accepting terms in this country.
                Null inherits the country setting.
            tax_invoice_required:
              type:
              - boolean
              - 'null'
              description: Whether orders in this country need a tax invoice. Null
                inherits the country setting.
            legal_settings:
              "$ref": "#/components/schemas/CompanyCountryLegalSettings"
            address_fields:
              type:
              - array
              - 'null'
              description: The address fields checkout collects for this country,
                in order. Null uses the default fields for the country; an empty list
                collects none. A field cannot be required and hidden, and a field
                may appear once.
              items:
                "$ref": "#/components/schemas/CompanyCountryAddressField"
            avalara_commit_enabled:
              type: boolean
              description: Commit paid orders shipping to this country to the merchant's
                Avalara account as SalesInvoice documents. Requires the Avalara tax
                class, a US or CA country, and an active production Avalara slot
                carrying a company code; the sandbox environment cannot file
                documents.
    BulkUpdateCompanyCountriesRequestBodyApplicationJsonSchema:
      type: object
      required:
      - company_country_ids
      - tax_class
      properties:
        company_country_ids:
          type: array
          minItems: 1
          items:
            type: integer
        tax_class:
          type: string
          enum:
          - fluid
          - custom
          - droplet
          - tax_free
          - avalara
        tax_callback_registration_id:
          type:
          - integer
          - 'null'
    SettingsDeleteResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        meta:
          "$ref": "#/components/schemas/Meta"
    GetDisplaySettingsResponse200ApplicationJsonSchema:
      type: object
      properties:
        display_settings:
          type: object
          additionalProperties:
            type: array
            items:
              anyOf:
              - "$ref": "#/components/schemas/DisplaySetting"
              - "$ref": "#/components/schemas/DisplaySettingGroup"
        meta:
          "$ref": "#/components/schemas/Meta"
    UpdateDisplaySettingsResponse200ApplicationJsonSchema:
      type: object
      properties:
        display_settings:
          type: array
          items:
            "$ref": "#/components/schemas/DisplaySettingUpdate"
        meta:
          "$ref": "#/components/schemas/Meta"
    UpdateDisplaySettingsRequestBodyApplicationJsonSchema:
      type: object
      required:
      - display_settings
      properties:
        display_settings:
          type: array
          items:
            type: object
            required:
            - setting_name
            - value
            properties:
              setting_name:
                type: string
              value:
                type: boolean
    ListCompanyLanguagesResponse200ApplicationJsonSchema:
      type: object
      properties:
        languages:
          type: array
          items:
            "$ref": "#/components/schemas/SettingsCompanyLanguage"
        meta:
          "$ref": "#/components/schemas/Meta"
    ConfigureCompanyLanguageResponse200ApplicationJsonSchema:
      type: object
      properties:
        language:
          "$ref": "#/components/schemas/SettingsCompanyLanguage"
        meta:
          "$ref": "#/components/schemas/Meta"
    ConfigureCompanyLanguageRequestBodyApplicationJsonSchema:
      type: object
      required:
      - id
      properties:
        id:
          type: integer
    UpdateProFeaturesRequestBodyApplicationJsonSchema:
      type: object
      required:
      - pro_features
      properties:
        pro_features:
          type: object
          properties:
            enable_premium_messaging:
              type: boolean
    SocialMediaSettingsResponse:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        facebook:
          type:
          - string
          - 'null'
        instagram:
          type:
          - string
          - 'null'
        linkedin:
          type:
          - string
          - 'null'
        pinterest:
          type:
          - string
          - 'null'
        tiktok:
          type:
          - string
          - 'null'
        twitter:
          type:
          - string
          - 'null'
        youtube:
          type:
          - string
          - 'null'
        meta:
          "$ref": "#/components/schemas/Meta"
    PutApiSettingsSocialMediaRequestBodyApplicationJsonSchema:
      type: object
      required:
      - social_media
      properties:
        social_media:
          type: object
          properties:
            facebook:
              type:
              - string
              - 'null'
            twitter:
              type:
              - string
              - 'null'
            instagram:
              type:
              - string
              - 'null'
            linkedin:
              type:
              - string
              - 'null'
            pinterest:
              type:
              - string
              - 'null'
            tiktok:
              type:
              - string
              - 'null'
            youtube:
              type:
              - string
              - 'null'
    CreateWarehouseSettingsRequestBodyApplicationJsonSchema:
      type: object
      properties:
        name:
          type: string
          minLength: 1
        active:
          type: boolean
        default:
          type: boolean
        country:
          type: object
          properties:
            id:
              type: integer
            iso:
              type: string
              minLength: 1
        address:
          "$ref": "#/components/schemas/WarehouseSettingsAddressRequest"
    UpdateWarehouseSettingsRequestBodyApplicationJsonSchema:
      type: object
      properties:
        name:
          type: string
          minLength: 1
        active:
          type: boolean
        default:
          type: boolean
        country:
          type: object
          properties:
            id:
              type: integer
            iso:
              type: string
              minLength: 1
        address:
          "$ref": "#/components/schemas/WarehouseSettingsAddressRequest"
    AssignWarehouseToCountryRequestBodyApplicationJsonSchema:
      type: object
      required:
      - country_code
      properties:
        country_code:
          type: string
          minLength: 1
        customs:
          type: string
          minLength: 1
    JsonValue:
      description: Any valid JSON value for provider, integration, theme, metadata,
        or other dynamic payloads whose keys are not fixed by the API contract.
      anyOf:
      - type: string
      - type: number
      - type: boolean
      - type: 'null'
      - type: array
        items:
          "$ref": "#/components/schemas/JsonValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorValue:
      description: A validation or API error value.
      anyOf:
      - type: string
      - type: array
        items:
          type: string
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorBag:
      description: Validation errors keyed by field, a list of errors, a single error
        message, or null when no structured error details are available.
      anyOf:
      - type: string
      - type: array
        items:
          "$ref": "#/components/schemas/ErrorValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/ErrorValue"
      - type: 'null'
    ErrorMessage:
      description: An API error message represented as text or structured JSON.
      anyOf:
      - type: string
      - "$ref": "#/components/schemas/ErrorBag"
      - type: 'null'
    StandardErrorResponse:
      description: Common legacy error response envelope. Older endpoints may return
        one or more of these fields depending on the controller path.
      type: object
      properties:
        message:
          type: string
        error:
          "$ref": "#/components/schemas/ErrorMessage"
        error_message:
          "$ref": "#/components/schemas/ErrorMessage"
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          "$ref": "#/components/schemas/Meta"
      additionalProperties:
        "$ref": "#/components/schemas/JsonValue"
    StandardUnauthorizedResponse:
      description: Common legacy unauthorized response envelope.
      allOf:
      - "$ref": "#/components/schemas/StandardErrorResponse"
    PaymentRedirectHostsResponse:
      type: object
      required:
      - payment_redirect_hosts
      - status
      - meta
      properties:
        payment_redirect_hosts:
          type: array
          description: Exact external hostnames allowed to receive payment redirects.
          items:
            type: string
            format: hostname
        status:
          type: integer
          enum:
          - 200
        meta:
          "$ref": "#/components/schemas/Meta"
      additionalProperties: false
    UpdatePaymentRedirectHostsRequest:
      type: object
      required:
      - payment_redirect_hosts
      properties:
        payment_redirect_hosts:
          type: array
          description: Exact public hostnames without schemes, ports, paths, or wildcards.
          items:
            type: string
      additionalProperties: false
    AvalaraAccountSlot:
      type: object
      description: One stored Avalara credential slot. The environment is the slot key; while any slots exist, exactly one is active and live tax calculation authenticates with it.
      required:
      - environment
      - username
      - password
      - company_code
      - active
      properties:
        environment:
          type: string
          description: Which AvaTax host the credentials authenticate against. Also the slot key; a company stores at most one slot per environment.
          enum:
          - sandbox
          - production
        username:
          type: string
          description: Always the obfuscation marker, never the stored username; identify a slot by its environment and company_code.
          enum:
          - '********'
          example: '********'
        password:
          type: string
          description: Always the obfuscation marker, never the stored password.
          enum:
          - '********'
        company_code:
          type:
          - string
          - 'null'
          description: AvaTax companyCode targeting one company on a multi-company Avalara account.
        active:
          type: boolean
          description: Whether this slot is the active environment. A company with slots always has exactly one active slot.
      additionalProperties: false
    AvalaraAccountsResponse:
      type: object
      required:
      - avalara_accounts
      - status
      - meta
      properties:
        avalara_accounts:
          type: array
          description: All stored Avalara credential slots ordered production first, or an empty array when none are configured.
          items:
            "$ref": "#/components/schemas/AvalaraAccountSlot"
        status:
          type: integer
          enum:
          - 200
        meta:
          "$ref": "#/components/schemas/Meta"
      additionalProperties: false
    AvalaraAccountResponse:
      type: object
      required:
      - avalara_account
      - status
      - meta
      properties:
        avalara_account:
          "$ref": "#/components/schemas/AvalaraAccountSlot"
        status:
          type: integer
          enum:
          - 200
        meta:
          "$ref": "#/components/schemas/Meta"
      additionalProperties: false
    UpdateAvalaraAccountRequest:
      type: object
      required:
      - avalara_account
      properties:
        avalara_account:
          type: object
          description: The slot named by environment is created or updated; omitted fields keep their stored values.
          required:
          - environment
          properties:
            environment:
              type: string
              description: The credential slot to create or update. A slot's environment never changes; the active environment switches only via the active flag.
              enum:
              - sandbox
              - production
            username:
              type: string
              minLength: 1
              description: Avalara account username. Required when the slot is being created; the obfuscation marker is a masked echo and keeps the stored username.
            password:
              type: string
              minLength: 1
              description: Avalara account password. Required when the slot is being created; the obfuscation marker is ignored.
            company_code:
              type:
              - string
              - 'null'
              description: AvaTax companyCode; null clears it.
            active:
              type: boolean
              description: true makes this slot the active environment and deactivates the other; the switch is allowed while "avalara" is the selected tax class, because moving from the sandbox host to the production host is how a proven integration goes live, but is refused while any country has Avalara document commits enabled, since committed documents can only be voided on the host that filed them. Selecting avalara requires some slot to be active, either environment. false is refused, because a company with slots always has exactly one active slot; deactivate a slot by activating the other environment.
          additionalProperties: false
      additionalProperties: false
    AppendMetadataFieldRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        metadata:
          type:
          - object
          - 'null'
          description: A JSON object that can store any custom data structure. When
            provided, merges with existing metadata data.
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
    CreateCompanyCountryResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        company_country:
          "$ref": "#/components/schemas/SettingsCompanyCountry"
        warnings:
          type: array
          description: Non-blocking configuration warnings produced by the write.
          items:
            type: object
            required:
            - code
            - country_iso
            - message
            properties:
              code:
                type: string
                enum:
                - test_mode_no_gateway
              country_iso:
                type: string
              message:
                type: string
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    CreateWarehouseSettingsResponse201ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        warehouse:
          "$ref": "#/components/schemas/SettingsWarehouse"
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    ListAllCompaniesResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        companies:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            properties:
              id:
                type:
                - integer
                - string
                - number
                - 'null'
              uuid:
                type: string
                format: uuid
                description: Stable company identifier for scoped APIs
              active:
                type:
                - boolean
                - 'null'
              sandbox:
                type:
                - boolean
                - 'null'
              base_url:
                type:
                - string
                - number
                - integer
                - 'null'
              created_at:
                type:
                - string
                - number
                - integer
                - 'null'
                format: date
              logo_url:
                type:
                - string
                - number
                - integer
                - 'null'
              name:
                type:
                - string
                - number
                - integer
                - 'null'
              users_count:
                type:
                - string
                - number
                - integer
                - 'null'
              user_company:
                type:
                - object
                - 'null'
                additionalProperties:
                  "$ref": "#/components/schemas/JsonValue"
        meta:
          type:
          - object
          - 'null'
          properties:
[...]
