---
openapi: 3.1.0
info:
  title: Fluid Storefront v2026-04 API
  version: v2026-04
  description: |
    The modernized storefront surface, covering all eight storefront
    resources: **Categories**, **Collections**, **Products**, **Posts**,
    **Pages**, **Media**, **Enrollment Packs**, and **Playlists**.

    ## Two surfaces

    Every resource is exposed twice, and the pair is the thing to
    understand first:

    - **Public** — `/api/v202604/{resource}` and
      `/api/v202604/{resource}/{slug}`. Unauthenticated
      (`security: []`); the store is resolved from the request
      subdomain. Addressed by `slug`, the same identifier that appears
      in `canonical_url`. Returns only live rows — non-live content
      never leaks here.
    - **Company** — `/api/v202604/company/{resource}`. Bearer-token
      authenticated, addressed by `id`, and returns every row whatever
      its lifecycle state, so an admin can manage drafts and archives.
      Full CRUD plus the standardized `shares`, `lighthouse`, and
      `compliance` member actions on each resource.

    Path segments use the storefront's nouns, not the database's:
    `enrollment-packs` and `playlists` (the Library model).

    ## One response shape

    Every resource response opens with the same canonical "common top",
    in the same order, before any resource-specific fields:

        id, slug, title, description, image_url, canonical_url, images,
        active, status, publish_at, seo, metafields, languages

    That means a consumer can render any storefront resource from one
    code path. `seo` is always present and always fully populated — the
    server resolves it through a priority chain (SEO record → resource
    field → store default → built-in), so there is no client-side
    fallback logic and the API can never disagree with the rendered
    `<head>`. `metafields`, `languages`, and (where applicable)
    `countries` are always arrays, never null.

    ## Lifecycle

    `status` is the canonical four-value contract — `draft`,
    `scheduled`, `published`, `archived` — and resolves at the API
    boundary: a stored `scheduled` row whose `publish_at` has passed
    reads as `published` with no write required. `active` is the
    separate merchant on/off toggle; a resource is live only when it is
    both active and resolved-published. Company create and update
    auto-queue Lighthouse and compliance scans, so the scores on the
    member actions always describe the current state of the resource.

    ## Listing and pagination

    Index endpoints share one query surface: `lang`, `q` (Elasticsearch
    over title and description), `filter[…]`, `sort`, and cursor
    pagination via `page[cursor]` / `page[limit]` (default 25, max 100).
    Follow `meta.pagination.next_cursor`; do not construct cursors.
    Products additionally take `country`, which selects the
    country-relative price and currency AND gates availability.

    Categories and Collections expose their products from their own
    path — `GET /api/v202604/categories/{slug}/products` — which is the
    products catalog scoped to one owner, with the same card shape,
    filters, sorting, and pagination.

    ## Translating a resource

    Translations are written inline on the resource's own create/update.
    There is no separate translations endpoint and no `translations`
    object in the payload — the `lang` query parameter selects the locale
    a request reads or writes.

    **Read** a locale with `lang` on any GET:

        GET /api/v202604/company/collections/4821?lang=fr

    Translated fields (`title`, `description`, `image_url`, and each
    resource's own translated fields) come back inline in that locale.
    On the public surface any field with no `fr` translation falls back
    to its `en` value, so a partially-translated resource never renders
    blank. The `languages` array on every response lists exactly the
    locales that carry a translation, always including the default.

    **Write** a locale with `lang` on POST/PATCH:

        PATCH /api/v202604/company/collections/4821?lang=fr
        { "collection": { "title": "Essentiels bien-être" } }

    Omitting `lang` writes the store's default locale — the store's own
    default language, not the platform's. A store selling in French
    treats `lang=fr` as its default write.

    A translation PATCH is TEXT ONLY: against any other locale,
    everything but the translated fields is ignored, so translating a
    title can never regenerate the slug, move `status`, or change
    `country_isos`, metafields, SEO, or associations. Send those in a
    request against the store's default locale instead.

    Creating is different: POST always writes the store's default locale
    whatever `lang` says, and keeps its full payload. A resource created
    under a translation would have no value in the store's own language
    and would take its slug from the translation. `lang` is still
    validated on POST, so an unsupported locale is a 422 rather than a
    surprise.

    A `lang` the store does not sell in returns 422 — translations are
    never written to a locale the store has not enabled. Add the language
    to the store first.

    The typical flow is: create in the default locale, then one PATCH per
    additional locale carrying only the translated text.
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
- url: https://{company}.fluid.app
  description: Production server with company subdomain
  variables:
    company:
      default: myco
      description: Company subdomain
tags:
- name: storefront
  description: |
    Unauthenticated public surface that backs storefront pages and
    AEO crawlers. All operations are `security: []`.
- name: company
  description: |
    Token-authenticated company surface that backs the admin UI and
    integrations.
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: |
        Bearer token authentication. Accepts company-admin tokens with
        `storefront.view` for read operations and `storefront.update`
        for writes and scan triggers (legacy per-resource grants like
        `categories.update` / `products.view` / etc. are still accepted
        during the migration), required on every `company` operation.
        Storefront public operations under `/api/v202604/{resource}` and
        `/api/v202604/{resource}/{slug}` are unauthenticated
        (`security: []`).
  responses:
    Unauthorized:
      description: |
        Missing or invalid bearer token. The body is a bare `{ message }`
        object — not the wrapped `ErrorResponse` envelope used by 404 / 422.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/UnauthorizedError"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/ErrorResponse"
    Forbidden:
      description: |
        Authenticated but lacking the required permission. The body is
        bare — `{ error }` when the storefront permission is missing, or
        `{ message }` when the credential is not company-admin tier — not
        the wrapped `ErrorResponse` envelope used by 404 / 422.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/ForbiddenError"
    UnprocessableEntity:
      description: Validation failed.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/ErrorResponse"
  parameters:
    Lang:
      name: lang
      in: query
      required: false
      description: |
        Response locale. ISO code (e.g. `fr`, `de`). When omitted,
        responds in the company's default locale. On the public
        surface, falls back to `en` for any translated field missing
        in the requested locale.
      schema:
        type: string
        example: fr
    LangWrite:
      name: lang
      in: query
      required: false
      description: |
        Locale to WRITE, and to render the response in. ISO code
        (e.g. `fr`, `de`); omit to write the store's default locale.

        On PATCH, a locale other than the store's own default writes ONLY
        the translated fields — slug, lifecycle, countries, metafields,
        SEO, and associations in the same payload are ignored, so
        translating a title cannot regenerate the slug or move `status`.
        Send those in a request against the store's default locale.

        POST always writes the store's default locale, whatever `lang`
        says, and keeps its full payload. Mobility's base values hold the
        default locale, so a resource created under a translation would
        read back blank in the store's own language. `lang` is still
        validated on POST. Translate a resource after it exists, with
        PATCH.

        The comparison is against the STORE's default language, not the
        platform's — a store selling in French treats `lang=fr` as its
        default write, not a translation.

        A locale the store does not sell in returns 422. See
        "Translating a resource" in the API description.
      schema:
        type: string
        example: fr
    PageCursor:
      name: page[cursor]
      in: query
      required: false
      description: |
        Rotulus cursor returned in `meta.pagination.next_cursor` (or
        `prev_cursor`). Omit on the first page.
      schema:
        type: string
    PageLimit:
      name: page[limit]
      in: query
      required: false
      description: |
        Page size. Default 25. Max 100. Requests above 100 return 422.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    FilterCountry:
      name: filter[country]
      in: query
      required: false
      description: |
        ISO-2 country code. Restricts the catalog to resources available
        in that country — combining the `with_country_iso` scope's
        OR-empty semantics: unrestricted resources (no `access_countries`
        rows) match every country.
      schema:
        type: string
        example: GB
    FilterLanguage:
      name: filter[language]
      in: query
      required: false
      description: |
        ISO locale. Restricts the catalog to resources translated in
        that locale.
      schema:
        type: string
        example: fr
    Country:
      name: country
      in: query
      required: false
      description: |
        ISO-2 country code that selects COUNTRY-RELATIVE Product pricing.
        Product-only — Categories and other storefront resources use
        `filter[country]` as an access-list visibility filter instead.

        For Products, `country` drives the `pricing` block and each
        variant's `variant_countries`: it picks which per-country variant
        price and currency are rendered. On the catalog it also drops
        products with no active variant in the requested country. When
        omitted, falls back to the company's default country.
      schema:
        type: string
        example: GB
    Q:
      name: q
      in: query
      required: false
      description: |
        Free-text search. Backed by Searchkick / Elasticsearch over
        translation-aware `title` and `description` fields.
      schema:
        type: string
    Sort:
      name: sort
      in: query
      required: false
      description: |
        Single sort key. Prefix with `-` for descending. Default
        `position` then `id`.
      schema:
        type: string
        enum: [position, -position, title, -title, created_at, -created_at]
    SortNoPosition:
      name: sort
      in: query
      required: false
      description: |
        Single sort key. Prefix with `-` for descending. Default
        `-created_at`. These resources have no manual `position`, so
        the `position` sort key is not offered.
      schema:
        type: string
        enum: [title, -title, created_at, -created_at]
    FilterActive:
      name: filter[active]
      in: query
      required: false
      description: |
        Company-surface only. `"true"` / `"false"` restrict to active /
        inactive rows; a blank value (`filter[active]=`) means "no
        filter" — it is NOT `where(active: nil)`.
      schema:
        type: string
        enum: ["", "true", "false"]
  schemas:
    Meta:
      type: object
      description: |
        Response metadata included on every successful response body.
        `request_id` and `timestamp` are always present; list endpoints
        also add `pagination`.
      required: [request_id, timestamp]
      properties:
        request_id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
        pagination:
          "$ref": "#/components/schemas/Pagination"
    Envelope:
      type: object
      description: |
        Shared success envelope for list / show / create / update
        responses: the resource payload is returned alongside a top-level
        integer `status` and `meta`. Composed onto each resource response
        via `allOf`.
      required: [status, meta]
      properties:
        status:
          type: integer
          example: 200
        meta:
          "$ref": "#/components/schemas/Meta"
    UnauthorizedError:
      type: object
      description: |
        Bare 401 body — a single `message` string, not the wrapped
        `ErrorResponse`.
      required: [message]
      properties:
        message:
          type: string
          example: Invalid credentials.
    ForbiddenError:
      description: |
        Bare 403 body: `{ error }` when a storefront permission is missing,
        or `{ message }` when the credential is not company-admin tier.
      oneOf:
        - type: object
          required: [error]
          properties:
            error:
              type: string
              example: Not authorized.
        - type: object
          required: [message]
          properties:
            message:
              type: string
              example: Not authorized.
    ErrorResponse:
      type: object
      required:
      - error
      - status
      - meta
      properties:
        error:
          type: object
          required:
          - message
          properties:
            message:
              type: string
            details:
              type: object
              additionalProperties: true
        status:
          type: integer
        meta:
          "$ref": "#/components/schemas/Meta"
    ResponsiveImageSet:
      type: [object, "null"]
      description: |
        Three ImageKit-transformed renditions of the resource's
        primary image: 200/600/1200 wide, scale-down only, format
        auto-negotiated. `null` when the resource has no image.
      properties:
        thumb:
          $ref: "#/components/schemas/ImageRendition"
        medium:
          $ref: "#/components/schemas/ImageRendition"
        large:
          $ref: "#/components/schemas/ImageRendition"
    ImageRendition:
      type: object
      required: [url, width]
      properties:
        url:
          type: string
          example: https://ik.imagekit.io/fluidapp/tr:w-600,c-at_max,f-auto,q-75/categories/4821.png
        width:
          type: integer
          example: 600
    Seo:
      type: object
      description: |
        Render-ready search-engine optimization metadata. ALWAYS present
        on every storefront response — never null. Values are resolved
        server-side via this priority chain:

        - `title`         SEO title → resource title → company name
        - `description`   SEO desc → resource desc → company default → "Live Free."
        - `image_url`     SEO image → resource og_image → resource image → company default → hardcoded
        - `block_crawler` SEO block_crawler (false when no SEO row)

        Frontends, AEO crawlers, and SDKs can render directly from these
        values — no client-side fallback logic, no chance of HTML <head>
        and JSON API drifting. `id` is exposed only on the authenticated
        surface and distinguishes a merchant-configured SEO row from
        inherited defaults.
      required: [title, description, image_url, block_crawler]
      properties:
        title:
          type: string
          example: "Summer Sale — Up to 40% Off"
          description: "Resolved title. Never null."
        description:
          type: string
          example: Shop the July clearance event before it ends.
          description: "Resolved description. Never null."
        image_url:
          type: string
          example: https://ik.imagekit.io/fluidapp/tr:w-1200,h-630,c-maintain_ratio,fo-auto,f-auto,q-80/seo/9215.png
          description: "Resolved OG-ready 1200×630 image URL. Never null."
        block_crawler:
          type: boolean
          example: false
          description: "When true, the resource page emits a noindex meta tag."
        id:
          type: [integer, "null"]
          example: 9215
          description: "Authenticated-only. SearchEngineOptimizer row id when one exists; null when the values are inherited from the resource / company / hardcoded defaults."
    Metafield:
      type: object
      required: [namespace, key, value, value_type]
      properties:
        namespace:
          type: string
          example: custom
        key:
          type: string
          example: material
        value:
          example: cotton
        value_type:
          type: string
          example: single_line_text_field
        description:
          type: [string, "null"]
          example: The primary material used in this product
        created_at:
          type: string
          format: date-time
          example: "2026-05-01T12:00:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2026-05-01T12:00:00Z"
        locked:
          type: [boolean, "null"]
          example: false
    Pagination:
      type: object
      required: [cursor, limit, prev_cursor, next_cursor]
      properties:
        cursor:
          type: [string, "null"]
        limit:
          type: integer
          example: 25
        prev_cursor:
          type: [string, "null"]
        next_cursor:
          type: [string, "null"]
    Category:
      type: object
      description: |
        Storefront Category. The first thirteen fields are the canonical
        common top shared by every storefront resource in v202604 — same
        names, same order, same types across Categories, Collections,
        Products, Pages, Enrollment Packs, Posts, Media, Playlists.
      required:
        [id, slug, title, description, image_url, canonical_url, images,
         active, status, publish_at, seo, metafields, languages,
         parent_id, position, source_type, has_children, countries]
      properties:
        id:
          type: integer
          description: |
            Numeric identifier for the category. This is the canonical company-surface
            identifier used to address the row on
            `/api/v202604/company/categories/{id}` endpoints.
          example: 4821
        slug:
          type: string
          description: |
            URL-safe identifier and the canonical public identifier for the category.
            It matches the row's `canonical_url` and is the key used by the public
            show endpoint (`GET /api/v202604/categories/{slug}`).
          example: summer-sale
        title:
          type: string
          description: |
            Human-readable display title of the category. When the slug is
            auto-generated, it derives from this value.
          example: Summer Sale
        description:
          type: [string, "null"]
          description: |
            Optional long-form description of the category; `null` when unset.
          example: Hand-picked categories for the July clearance.
        image_url:
          type: [string, "null"]
          description: |
            URL of the category's primary image, or `null` when it has no image. See
            `images` for responsive renditions.
          example: https://cdn.fluid.app/categories/4821.png
        canonical_url:
          type: string
          description: |
            Absolute canonical storefront URL for the category, built from its current
            `slug`.
          example: https://acme.fluid.app/home/categories/summer-sale
        images:
          $ref: "#/components/schemas/ResponsiveImageSet"
        active:
          type: boolean
          description: |
            Merchant on/off toggle. When false, the resource is hidden
            from EVERY public surface regardless of `status`.
          example: true
        status:
          type: string
          enum: [draft, scheduled, published, archived]
          description: |
            Lifecycle. The auto-go-live rule applies at read time: a
            stored `scheduled` row whose `publish_at` has passed
            resolves to `published`. "Live" = `active == true` AND
            resolved `status == published`.
          example: published
        publish_at:
          type: [string, "null"]
          format: date-time
          description: |
            Scheduled go-live timestamp (ISO 8601), or `null` when none is set. At
            read time, once `publish_at` has passed a stored `scheduled` row resolves
            to `published` automatically. Models go-live only — there is no
            corresponding unpublish-at timestamp.
          example: null
        seo:
          $ref: "#/components/schemas/Seo"
        metafields:
          type: array
          description: |
            Custom metadata entries (each a `namespace`/`key`/`value` with a
            `value_type`) attached to the category; empty array when none are set.
          items:
            $ref: "#/components/schemas/Metafield"
        languages:
          type: array
          items:
            type: string
          description: |
            ISO codes of locales this resource is translated into.
            Always includes the store's default language.
            Always includes the company default locale; never empty.
          example: [en, fr, de]
        parent_id:
          type: [integer, "null"]
          description: |
            The id of the parent category, or `null` when the category is at the root
            (top level). The literal `"root"` is a value of the `filter[parent_id]`
            query parameter, not a value of this field.
          example: null
        position:
          type: integer
          description: |
            The category's sort order among its siblings. The default catalog sort
            (`position` then `id`) uses it.
          example: 1
        source_type:
          type: [string, "null"]
          description: |
            Which kind of resource this Category groups
            (`product` / `medium` / `page` / `library` / `promotion`).
          example: product
        has_children:
          type: boolean
          description: |
            `true` when the category has at least one child category; `false` when it
            is a leaf. Use it to decide whether to fetch a level deeper when walking
            the tree.
          example: false
        countries:
          type: array
          items:
            type: string
          description: |
            ISO codes restricting availability. Empty array means
            available in every country the company sells in
            (unrestricted).
          example: [GB, US]
        custom_slug:
          type: boolean
          description: |
            Authenticated-only. True when the merchant has pinned a
            permanent merchant-set slug; false when the slug is
            auto-generated from `title` and regenerates on rename.
            Omitted from the public surface — admin metadata about how
            the slug is managed, not something a storefront consumer
            needs.
          example: false
    CategoryListResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          required: [categories]
          properties:
            categories:
              type: array
              items:
                $ref: "#/components/schemas/Category"
            meta:
              allOf:
                - $ref: "#/components/schemas/Meta"
                - required: [pagination]
    CategoryShowResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          required: [category]
          properties:
            category:
              $ref: "#/components/schemas/Category"
    CategoryWrite:
      type: object
      additionalProperties: false
      properties:
        title:
          type: string
          example: Summer Sale
        description:
          type: [string, "null"]
        image_url:
          type: [string, "null"]
        image_path:
          type: [string, "null"]
        slug:
          type: string
          description: |
            Send `slug` + `custom_slug: true` together to pin a
            permanent merchant-set slug. Without `custom_slug: true`,
            the slug auto-regenerates from `title` on every title
            change.
        custom_slug:
          type: boolean
          description: |
            Send together with `slug` and set `true` to pin a permanent merchant-set
            slug. Without it, the slug is auto-generated from `title` and regenerates
            whenever the title changes.
        active:
          type: boolean
          description: |
            Merchant on/off toggle. Set `false` to hide the category from every public
            surface regardless of `status`.
        status:
          type: string
          enum: [draft, scheduled, published, archived]
          description: |
            Lifecycle state to set. `published` with `active: true` makes the category
            live; `scheduled` with a future `publish_at` goes live automatically when
            that time passes. There is no separate publish endpoint — visibility is
            changed through `active` and `status`.
        publish_at:
          type: [string, "null"]
          format: date-time
          description: |
            Target go-live timestamp used with `status: scheduled`. Once it passes,
            the row resolves to `published` at read time. Models go-live only — there
            is no unpublish-at field.
        parent_id:
          type: [integer, "null"]
          description: |
            Set to the parent category's id to nest this category; `null` (or omitted
            on create) makes it top-level. On update, set another id to re-parent it,
            or `null` to promote it to the top level.
        position:
          type: integer
          description: |
            Sort order among sibling categories at the same level.
        source_type:
          type: string
          description: |
            Which kind of resource this category groups: `product`, `medium`, `page`,
            `library`, or `promotion`.
        application_theme_template_id:
          type: [integer, "null"]
        country_isos:
          type: array
          items:
            type: string
          description: |
            ISO country codes restricting availability; maps to the read-side
            `countries` field. An empty array (`[]`) clears all restrictions
            (unrestricted — available everywhere the company sells); omitting the key
            leaves the existing countries unchanged (PATCH semantics).
        product_ids:
          type: array
          items:
            type: integer
          description: |
            Full replacement set of product ids in this category. `[]`
            empties it; key omitted leaves membership unchanged. Ids must
            belong to the authenticated store — a product from another
            store returns 422.
        metafields_attributes:
          type: array
          description: |
            Metafields to write on the category using Rails nested-attributes
            semantics: each entry sets `namespace`, `key`, `value`, and `value_type`,
            with an optional `description`; send `_destroy: true` to remove an entry.
            Note: unlike `CollectionWrite.metafields_attributes`, category entries do
            not model an `id`.
          items:
            type: object
            required: [namespace, key, value, value_type]
            properties:
              namespace:
                type: string
              key:
                type: string
              value: {}
              value_type:
                type: string
              description:
                type: string
              _destroy:
                type: boolean
        search_engine_optimizer_attributes:
          type: [object, "null"]
          description: |
            SEO record nested attributes. The response key is renamed to
            `seo` for v202604, but the request key stays at the AR
            `accepts_nested_attributes_for` name during the migration.
          properties:
            id:
              type: integer
            title:
              type: string
            description:
              type: string
            image_url:
              type: string
            block_crawler:
              type: boolean
    CategoryCreateRequest:
      type: object
      required: [category]
      additionalProperties: false
      properties:
        category:
          allOf:
            - $ref: "#/components/schemas/CategoryWrite"
            - required: [title]
    CategoryUpdateRequest:
      type: object
      required: [category]
      additionalProperties: false
      properties:
        category:
          $ref: "#/components/schemas/CategoryWrite"
    Post:
      type: object
      description: |
        Storefront Post — the resource that backs the blog. The first
        thirteen fields are the canonical common top shared by every
        storefront resource in v202604. Post adds an editorial tail
        (`summary`, `post_date`, `post_author`) plus `category_id` and
        `collection_ids`.

        **Notable deviations from the canonical defaults:**
        - `status` defaults to `"published"` (the column default and the
          v202604 API default), not the canonical `"draft"`. Posts have
          historically defaulted to live; v202604 honors that.
        - The canonical `publish_at` field maps to the underlying
          `scheduled_at` column on the Post model. The API surface is
          `publish_at` everywhere (request + response) — clients never
          see `scheduled_at`.
      required:
        [id, slug, title, description, image_url, canonical_url, images,
         active, status, publish_at, seo, metafields, languages, countries,
         summary, post_date, post_author, category_id, collection_ids]
      properties:
        id:
          type: integer
          example: 7305
        slug:
          type: string
          example: how-we-shipped-the-summer-line
        title:
          type: string
          example: How We Shipped the Summer Line
        description:
          type: [string, "null"]
          example: A behind-the-scenes look at three months of work.
        image_url:
          type: [string, "null"]
          example: https://cdn.fluid.app/posts/7305.png
        canonical_url:
          type: string
          example: https://acme.fluid.app/home/blog/how-we-shipped-the-summer-line
        images:
          $ref: "#/components/schemas/ResponsiveImageSet"
        active:
          type: boolean
          description: |
            Merchant on/off toggle. When false, the Post is hidden from
            EVERY public surface regardless of `status`.
          example: true
        status:
          type: string
          enum: [draft, scheduled, published, archived]
          description: |
            Lifecycle. Auto-go-live applies: a stored `scheduled` row
            whose `publish_at` has passed resolves to `published` at
            read time. Default `"published"` (Post deviation — see
            schema description).
          example: published
        publish_at:
          type: [string, "null"]
          format: date-time
          description: |
            Scheduled go-live timestamp. Maps to the underlying
            `scheduled_at` column on the Post model; the v202604 API
            surface uses `publish_at` everywhere for consistency with
            the other storefront resources.
          example: null
        seo:
          $ref: "#/components/schemas/Seo"
        metafields:
          type: array
          items:
            $ref: "#/components/schemas/Metafield"
        languages:
          type: array
          items:
            type: string
          description: |
            ISO codes of locales this Post is translated into. Always
            includes the company default locale; never empty.
          example: [en, fr]
        countries:
          type: array
          items:
            type: string
          description: |
            ISO codes restricting availability. Empty array means
            available in every country the company sells in
            (unrestricted).
          example: [GB, US]
        summary:
          type: [string, "null"]
          description: Editorial lead paragraph shown on blog listing cards.
          example: A short lead paragraph shown on listing cards.
        post_date:
          type: [string, "null"]
          format: date
          description: Original publication date for display. Distinct from `publish_at`.
          example: "2026-05-01"
        post_author:
          type: [string, "null"]
          description: Author byline. Free-form string; not a User association.
          example: Dwight Schrute
        category_id:
          type: [integer, "null"]
          description: Optional Category this post is filed under.
          example: 4821
        collection_ids:
          type: array
          items:
            type: integer
          description: Collections this post appears in.
          example: [5102, 5103]
        custom_slug:
          type: boolean
          description: |
            Authenticated-only. True when the merchant has pinned a
            permanent merchant-set slug; false when the slug is
            auto-generated from `title` and regenerates on rename.
            Omitted from the public surface.
          example: false
    PostListResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          required: [posts]
          properties:
            posts:
              type: array
              items:
                $ref: "#/components/schemas/Post"
            meta:
              allOf:
                - $ref: "#/components/schemas/Meta"
                - required: [pagination]
    PostShowResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          required: [post]
          properties:
            post:
              $ref: "#/components/schemas/Post"
    PostWrite:
      type: object
      additionalProperties: false
      properties:
        title:
          type: string
          example: How We Shipped the Summer Line
        description:
          type: [string, "null"]
        image_url:
          type: [string, "null"]
        slug:
          type: string
          description: |
            Send `slug` + `custom_slug: true` together to pin a
            permanent merchant-set slug.
        custom_slug:
          type: boolean
        active:
          type: boolean
        status:
          type: string
          enum: [draft, scheduled, published, archived]
        publish_at:
          type: [string, "null"]
          format: date-time
          description: |
            Maps to the underlying `scheduled_at` column. A `scheduled`
            row whose `publish_at` has passed resolves to `published`
            at the boundary (auto-go-live) — no second write needed.
        application_theme_template_id:
          type: [integer, "null"]
        country_isos:
          type: array
          items:
            type: string
          description: |
            ISO codes restricting availability. `[]` clears
            restrictions; key omitted leaves countries unchanged.
        summary:
          type: [string, "null"]
        post_date:
          type: [string, "null"]
          format: date
        post_author:
          type: [string, "null"]
        category_id:
          type: [integer, "null"]
        collection_ids:
          type: array
          items:
            type: integer
        metafields_attributes:
          type: array
          items:
            type: object
            required: [namespace, key, value, value_type]
            properties:
              namespace:
                type: string
              key:
                type: string
              value: {}
              value_type:
                type: string
              description:
                type: string
              _destroy:
                type: boolean
        search_engine_optimizer_attributes:
          type: [object, "null"]
          properties:
            id:
              type: integer
            title:
              type: string
            description:
              type: string
            image_url:
              type: string
            block_crawler:
              type: boolean
    PostCreateRequest:
      type: object
      required: [post]
      additionalProperties: false
      properties:
        post:
          allOf:
            - $ref: "#/components/schemas/PostWrite"
            - required: [title]
    PostUpdateRequest:
      type: object
      required: [post]
      additionalProperties: false
      properties:
        post:
          $ref: "#/components/schemas/PostWrite"
    Product:
      type: object
      description: |
        Storefront Product. The first twelve fields are the canonical
        common top shared by every storefront resource in v202604 — same
        names, same order, same types across Categories, Collections,
        Products, Pages, Enrollment Packs, Posts, Media, Playlists.

        Product is the foundation's lone variant: it carries the shared
        common top but DELIBERATELY OMITS the `countries` array — a
        Product's geographic availability is variant-level, not a single
        access list. Instead the `country` query parameter drives the
        `pricing` block: it selects which variant's per-country price and
        currency are rendered. Product price is therefore COUNTRY-RELATIVE,
        not absolute (see the `pricing` field and the `country` parameter).

        Everything below `languages` is the Product-specific commerce tail:
        `sku`, `is_bundle`, `in_stock`, `has_subscription_plans`,
        `pricing`, `default_variant`, `variants`, `subscription_plans`,
        `media`, and `bundle_groups`.
      required:
        [id, slug, title, description, image_url, canonical_url, images,
         active, status, publish_at, seo, metafields, languages,
         sku, is_bundle, in_stock, has_subscription_plans, pricing,
         default_variant, variants, subscription_plans, media, bundle_groups]
      properties:
        id:
          type: integer
          description: Unique identifier for the product.
          example: 60311
        slug:
          type: [string, "null"]
          description: |
            URL-safe identifier, unique within the store; the public show
            resolves by this. Null for legacy products created without a
            slug (the column is nullable and friendly_id only backfills on
            write).
          example: scrute-farms-beet-blend
        title:
          type: string
          description: Human-readable product name shown in the storefront.
          example: Schrute Farms Beet Blend
        description:
          type: [string, "null"]
          description: Longer-form product copy. Null when the merchant set none. (Show payload only.)
          example: A cold-pressed beet concentrate from the finest acres on Schrute Farms.
        image_url:
          type: [string, "null"]
          description: Absolute URL of the product's primary image. Null when none. (Show payload only.)
          example: https://cdn.fluid.app/products/60311.png
        canonical_url:
          type: string
          description: Absolute canonical storefront URL for the product (the `/home/products/:slug` path).
          example: https://acme.fluid.app/home/products/scrute-farms-beet-blend
        images:
          description: Responsive ImageKit renditions (thumb/medium/large) of the primary image; null when none.
          $ref: "#/components/schemas/ResponsiveImageSet"
        active:
          type: boolean
          description: |
            Derived merchant on/off toggle: `true` when the product is not
            archived. When `false`, the product is hidden from EVERY public
            surface regardless of `status`. Unlike Category, Product has no
            standalone `active` column — it is computed from the `status`
            enum.
          example: true
        status:
          type: string
          enum: [draft, scheduled, published, archived]
          description: |
            Lifecycle, mapped at read time from the Product's integer
            `status` enum (`active`/`draft`/`archived`) plus `publish_at`.
            The auto-go-live rule applies: an `active` product with a future
            `publish_at` resolves to `scheduled`; once `publish_at` passes
            (or is null) it resolves to `published`. "Live" = `active == true`
            AND resolved `status == published`.
          example: published
        publish_at:
          type: [string, "null"]
          format: date-time
          example: null
        seo:
          $ref: "#/components/schemas/Seo"
        metafields:
          type: array
          items:
            $ref: "#/components/schemas/Metafield"
        languages:
          type: array
          items:
            type: string
          description: |
            ISO codes of locales this product is translated into. Always
            includes the company default locale; never empty.
          example: [en, fr]
        sku:
          type: [string, "null"]
          description: |
            The product-level stock-keeping unit. Null when the merchant
            tracks SKUs per variant only.
          example: SCRUTE-BEET-001
        is_bundle:
          type: boolean
          description: |
            True when this product is a bundle assembled from bundle groups;
            its price is the configured bundle price, not a variant price.
          example: false
        in_stock:
          type: boolean
          description: |
            True when at least one variant is purchasable for some country.
            Mirrors the merchandising stock flag.
          example: true
        has_subscription_plans:
          type: boolean
          description: |
            True when the product has at least one active subscription plan,
            so the storefront can surface subscribe-and-save options.
          example: true
        pricing:
          type: [object, "null"]
          description: |
            COUNTRY-RELATIVE retail pricing for the requested `country`
            (defaults to the company's default country). The `country`
            query parameter selects which variant's per-country price and
            currency are rendered. Always the consumer-facing RETAIL price —
            never wholesale. `null` when the product has no resolvable price
            in any country. Bundle products price via the configured bundle
            price for the country.
          required: [price, currency_code, compare_at, subscription_price, display_price]
          properties:
            price:
              type: [string, "null"]
              description: Numeric retail unit price in the country's currency, serialized as a decimal string.
              example: "29.99"
            currency_code:
              type: [string, "null"]
              description: ISO 4217 currency code for the resolved country.
              example: USD
            compare_at:
              type: [string, "null"]
              description: |
                Strike-through "compare at" price when the merchant set one,
                serialized as a decimal string; null otherwise. Always null
                for bundle products.
              example: "39.99"
            subscription_price:
              type: [string, "null"]
              description: |
                Per-cycle subscription price when the product has a
                subscription plan, serialized as a decimal string; null
                otherwise. Always null for bundle products.
              example: "26.99"
            display_price:
              type: [string, "null"]
              description: |
                Pre-formatted, currency-symbol price string ready to render
                in the storefront.
              example: "$29.99"
        default_variant:
          type: [object, "null"]
          description: |
            Lightweight master-variant summary (id + sku). The full variant
            payload is in `variants`. Null when the product has no master
            variant.
          required: [id, sku]
          properties:
            id:
              type: integer
              example: 880912
            sku:
              type: [string, "null"]
              example: SCRUTE-BEET-001-12OZ
        variants:
          type: array
          description: |
            Every variant ordered by position, each rendered at the retail
            pricing tier. Per-country prices are keyed by ISO under
            `variant_countries`.
          items:
            $ref: "#/components/schemas/ProductVariant"
        subscription_plans:
          type: array
          description: |
            Active subscription plans available for this product, each
            wrapped with its default/active join metadata. The nested
            `subscription_plan` is priced against the requested country's
            variant at the retail tier.
          items:
            type: object
            required: [id, default, active, subscription_plan]
            properties:
              id:
                type: integer
                description: The product_subscription_plan join-row id.
                example: 7741
              default:
                type: boolean
                description: True when this is the product's default plan.
                example: true
              active:
                type: boolean
                description: True when the plan is active for this product.
                example: true
              subscription_plan:
                $ref: "#/components/schemas/SubscriptionPlan"
        media:
          type: array
          description: |
            Media attached to the product (videos, documents) ordered by
            priority.
          items:
            $ref: "#/components/schemas/ProductMedium"
        bundle_groups:
          type: array
          description: |
            Bundle groups defining the selectable items for a bundle
            product. Empty for non-bundle products.
          items:
            $ref: "#/components/schemas/ProductBundleGroup"
        custom_slug:
          type: boolean
          description: |
            Authenticated-only. True when the merchant has pinned a
            permanent merchant-set slug; false when the slug is
            auto-generated from `title` and regenerates on rename. Omitted
            from the public surface — admin metadata about how the slug is
            managed, not something a storefront consumer needs.
          example: false

    ProductVariant:
      type: object
      description: |
        A single purchasable Product variant, rendered at the retail pricing
        tier. Per-country retail pricing lives under `variant_countries`, keyed
        by ISO-2 country code. (The v202604 storefront surface is retail-only;
        wholesale and preferred-customer fields are not exposed here.)
      properties:
        id:
          type: integer
          description: Unique identifier for the variant.
          example: 880912
        sku:
          type: [string, "null"]
          description: Stock-keeping unit for this variant. Null when the variant has no SKU.
          example: SCRUTE-BEET-001-12OZ
        is_master:
          type: boolean
          description: >-
            True when this is the product's master (default) variant — the one
            used for single-variant products and as the fallback selection.
          example: true
        title:
          type: [string, "null"]
          description: >-
            Short variant name, typically the option combination (e.g. "12 oz").
            Null for a product with no distinct variant options.
          example: 12 oz
        display_name:
          type: [string, "null"]
          description: >-
            Full human-readable name combining the product title and this
            variant's options, ready to show in a cart or order line.
          example: Schrute Farms Beet Blend — 12 oz
        image_url:
          type: [string, "null"]
          description: >-
            Absolute URL of the variant's own primary image. Null when the
            variant inherits the product-level image.
          example: https://cdn.fluid.app/variants/880912.png
        position:
          type: [integer, "null"]
          description: Sort order of this variant within the product. Null when unset.
          example: 1
        subscription_only:
          type: boolean
          description: >-
            True when this variant can ONLY be purchased as a subscription —
            one-time (single) purchase is not offered.
          example: false
        shipping_included_in_price:
          type: boolean
          description: >-
            True when shipping is already bundled into the price, so no separate
            shipping charge is applied at checkout.
          example: false
        track_quantity:
          type: boolean
          description: >-
            True when inventory is tracked for this variant (stock counts are
            enforced). When false, the variant is always purchasable.
          example: true
        inventory_quantity:
          type: [integer, "null"]
          description: >-
            Total sellable units on hand across all warehouses. Null when
            `track_quantity` is false (inventory is not counted).
          example: 142
        bar_code:
          type: [string, "null"]
          description: Barcode / UPC / EAN for the variant. Null when unset.
          example: "0079827230015"
        keep_selling:
          type: boolean
          description: >-
            True when the variant stays purchasable after stock reaches zero
            (overselling/back-order allowed); false stops sales at zero stock.
          example: false
        limit_subscription:
          type: boolean
          description: >-
            True when the quantity per subscription order is capped (see
            `subscription_max_qty`).
          example: false
        subscription_max_qty:
          type: [integer, "null"]
          description: >-
            Maximum quantity allowed on a single subscription order when
            `limit_subscription` is true. Null when uncapped.
          example: null
        limit_quantity_per_customer:
          type: boolean
          description: >-
            True when a per-customer purchase limit applies to this variant
            (see `customer_limit`).
          example: false
        customer_limit:
          type: [integer, "null"]
          description: >-
            Maximum quantity a single customer may purchase when
            `limit_quantity_per_customer` is true. Null when unlimited.
          example: null
        option_attrs:
          type: array
          description: >-
            Human-readable option values that define this variant (e.g. size,
            flavor), in option order.
          items:
            type: string
          example: ["12 oz"]
        option_ids:
          type: array
          description: IDs of the option values that define this variant (parallel to `option_attrs`).
          items:
            type: integer
          example: [4471]
        allow_subscription:
          type: boolean
          description: True when at least one active subscription plan is available for this variant.
          example: true
        images:
          type: array
          description: The variant's images, ordered by `position`.
          items:
            type: object
            properties:
              id:
                type: integer
                description: Image identifier.
                example: 5521
              image_url:
                type: string
                description: Absolute, render-ready URL of the image.
                example: https://cdn.fluid.app/variants/880912/front.png
              image_path:
                type: [string, "null"]
                description: Raw storage path behind `image_url`, for clients applying their own ImageKit transforms.
                example: variants/880912/front.png
              position:
                type: integer
                description: Sort order of the image within the variant.
                example: 1
        inventory_levels:
          type: array
          description: Per-warehouse stock breakdown for this variant.
          items:
            type: object
            properties:
              id:
                type: integer
                description: Inventory-level row identifier.
                example: 33019
              available:
                type: integer
                description: >-
                  Units sellable right now — `on_hand` minus `committed` minus
                  `unavailable`. This is the number a storefront should treat as
                  buyable.
                example: 142
              committed:
                type: integer
                description: Units reserved by open (placed but unfulfilled) orders.
                example: 3
              on_hand:
                type: integer
                description: Physical units present in the warehouse, regardless of reservation.
                example: 145
              unavailable:
                type: integer
                description: >-
                  On-hand units that cannot be sold (e.g. damaged, on quality
                  hold, or otherwise reserved out of sale).
                example: 0
              warehouse:
                type: object
                description: The warehouse this stock level belongs to.
                properties:
                  id:
                    type: integer
                    description: Warehouse identifier.
                    example: 12
                  name:
                    type: string
                    description: Human-readable warehouse name.
                    example: Scranton DC
                  active:
                    type: boolean
                    description: True when the warehouse is actively fulfilling orders.
                    example: true
                  country_iso:
                    type: string
                    description: ISO-2 country code the warehouse ships from.
                    example: US
        variant_countries:
          type: object
          description: |
            Per-country RETAIL pricing keyed by ISO-2 country code. Each entry
            carries the consumer-facing price, currency, volumes, and display
            strings for that country — this is where the COUNTRY-RELATIVE pricing
            lives. The top-level `pricing` block is the resolved view for the
            single requested `country`. Wholesale and preferred-customer values
            are not exposed on this surface.
          additionalProperties:
            type: object
            properties:
              id:
                type: integer
                description: VariantCountry row identifier.
                example: 451233
              active:
                type: boolean
                description: True when this variant is available for sale in this country.
                example: true
              country_id:
                type: integer
                description: Internal identifier of the country.
                example: 233
              country_name:
                type: string
                description: Human-readable country name.
                example: United States
              currency_code:
                type: string
                description: ISO 4217 currency code the prices in this entry are denominated in.
                example: USD
              price:
                type: string
                description: Retail unit price in this country's currency, serialized as a decimal string.
                example: "29.99"
              compare_price:
                type: [string, "null"]
                description: >-
                  Strike-through "compare at" reference price when the merchant
                  set one, serialized as a decimal string; null otherwise.
                example: "39.99"
              subscription_price:
                type: [string, "null"]
                description: >-
                  Per-cycle retail price when bought on subscription, serialized
                  as a decimal string; null when the variant has no subscription
                  pricing.
                example: "26.99"
              cv:
                type: string
                format: decimal
                description: >-
                  Commissionable Volume (CV) — the volume credited for this item
                  that counts toward commission calculations.
                example: "20"
              qv:
                type: string
                format: decimal
                description: >-
                  Qualifying Volume (QV) — the volume credited for this item that
                  counts toward rank and qualification requirements.
                example: "20"
              points:
                type: integer
                description: >-
                  Points the buyer accumulates on an order for purchasing this
                  item (per unit).
                example: 100
              shipping:
                type: string
                description: Flat per-unit shipping cost for this country, in the entry's currency, serialized as a decimal string.
                example: "4.99"
              shipping_time:
                type: [string, "null"]
                description: Human-readable estimated delivery window for this country. Null when unset.
                example: 3–5 business days
              display_price:
                type: string
                description: Pre-formatted, currency-symbol price string ready to render.
                example: "$29.99"
              display_subscription_price:
                type: string
                description: Pre-formatted subscription price string ready to render.
                example: "$26.99"
              buyable:
                type: boolean
                description: >-
                  True when a shopper can purchase this variant in this country
                  right now (active and, if tracked, in stock).
                example: true
              subscription_plans:
                type: array
                description: >-
                  Retail subscription pricing for this country, one entry per
                  active plan on the product.
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: Subscription plan identifier.
                      example: 4410
                    subscription_price_in_currency:
                      type: string
                      description: Pre-formatted per-cycle subscription price for this plan.
                      example: "26.99"
                    subscribe_and_save_in_currency:
                      type: string
                      description: Pre-formatted amount saved per cycle vs. the one-time price.
                      example: "3.00"
                    subscribe_and_save_for_display:
                      type: string
                      description: Localized "subscribe and save" marketing string.
                      example: Subscribe and save $3.00
        metafields:
          type: array
          description: Custom metafields attached to the variant.
          items:
            type: object
            properties:
              namespace:
                type: string
                description: Grouping namespace for the metafield.
                example: custom
              key:
                type: string
                description: Metafield key, unique within its namespace.
                example: harvest_acre
              value:
                description: The metafield value (type per `value_type`).
                example: North Forty
              value_type:
                type: string
                description: The metafield's data type.
                example: single_line_text_field

    SubscriptionPlan:
      type: object
      description: |
        A subscription plan, rendered in the product_subscription_plan view
        (priced against the requested country's variant at the retail tier).
      properties:
        id:
          type: integer
          example: 4410
        name:
          type: string
          example: Monthly Beet Club
        billing_interval:
          type: integer
          example: 1
        billing_interval_unit:
          type: string
          enum: [day, week, month, year]
          example: month
        billing_frequency_in_words:
          type: string
          example: Every month
        volume_interval:
          type: integer
          example: 1
        volume_interval_unit:
          type: string
          enum: [day, week, month, year]
          example: month
        allow_max_billing_cycles:
          type: boolean
          example: false
        max_billing_cycles:
          type: [integer, "null"]
          example: null
        price_adjustment_type:
          type: string
          example: percentage
        price_adjustment_amount:
          type: [string, "null"]
          example: "10.0"
        savings_display_mode:
          type: string
          example: percent
        active:
          type: boolean
          example: true
        subscription_price:
          type: [string, "null"]
          description: |
            Pre-formatted per-cycle subscription price for the requested
            country's variant at the retail tier.
          example: "$26.99"
        savings_label:
          type: [string, "null"]
          example: Subscribe & save 10%

    ProductMedium:
      type: object
      description: A media item (video, document) attached to the product.
      properties:
        id:
          type: integer
          example: 99021
        slug:
          type: string
          example: how-to-press-beets
        title:
          type: string
          example: How To Press Beets
        kind:
          type: [string, "null"]
          example: video
        media_type:
          type: [string, "null"]
          example: video
        media_format:
          type: [string, "null"]
          example: mp4
        image_url:
          type: [string, "null"]
          example: https://cdn.fluid.app/media/99021/poster.png
        video_url:
          type: [string, "null"]
          example: https://cdn.fluid.app/media/99021/clip.mp4
        canonical_url:
          type: string
          example: https://acme.fluid.app/home/media/how-to-press-beets
        description:
          type: [string, "null"]
          example: A two-minute walkthrough of the cold-press process.
        duration:
          type: [integer, "null"]
          example: 124
        active:
          type: boolean
          example: true

    ProductBundleGroup:
      type: object
      description: |
        A bundle group defining selectable items for a bundle product.
        Present only on bundle products.
      properties:
        id:
          type: integer
          example: 3301
        title:
          type: string
          example: Pick Your Beets
        description:
          type: [string, "null"]
          example: Choose any three jars for your bundle.
        group_type:
          type: [string, "null"]
          example: selectable
        min_selections:
          type: [integer, "null"]
          example: 1
        max_selections:
          type: [integer, "null"]
          example: 3
        selection_type:
          type: [string, "null"]
          example: multiple
        allow_subscriptions:
          type: boolean
          example: true
        force_subscriptions:
          type: boolean
          example: false
        sort_order:
          type: [integer, "null"]
          example: 1
        bundle_group_items:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                example: 71002
              bundled_variant_id:
                type: [integer, "null"]
                example: 880912
              quantity:
                type: [integer, "null"]
                example: 1

    ProductCard:
      type: object
      description: |
        The LEAN catalog card returned by the Products index (and the AEO
        `.json` catalog). It is the default ProductBlueprint view: the
        canonical common top MINUS the heavy SEO-ish fields the card
        deliberately omits (`description`, `image_url`, `seo`) plus the
        commerce SUMMARY (`sku`, `is_bundle`, `in_stock`,
        `has_subscription_plans`, `pricing`, `default_variant`). The full
        `description` / `image_url` / `seo` and the heavy commerce tail
        (`variants`, `subscription_plans`, `media`, `bundle_groups`) are
        reserved for the single-record show payload (see `Product`), keeping
        the catalog N+1-free regardless of page size.
      required:
        [id, slug, title, canonical_url, images, active, status, publish_at,
         metafields, languages, sku, is_bundle, in_stock,
         has_subscription_plans, pricing, default_variant]
      properties:
        id:
          type: integer
          example: 60311
        slug:
          type: [string, "null"]
          description: Null for legacy products created without a slug (the column is nullable).
          example: scrute-farms-beet-blend
        title:
          type: string
          example: Schrute Farms Beet Blend
        canonical_url:
          type: string
          example: https://acme.fluid.app/home/products/scrute-farms-beet-blend
        images:
          $ref: "#/components/schemas/ResponsiveImageSet"
        active:
          type: boolean
          description: |
            Derived merchant on/off toggle: `true` when the product is not
            archived. When `false`, the product is hidden from EVERY public
            surface regardless of `status`.
          example: true
        status:
          type: string
          enum: [draft, scheduled, published, archived]
          description: |
            Lifecycle, mapped at read time from the Product's integer
            `status` enum plus `publish_at`. "Live" = `active == true` AND
            resolved `status == published`.
          example: published
        publish_at:
          type: [string, "null"]
          format: date-time
          example: null
        metafields:
          type: array
          items:
            $ref: "#/components/schemas/Metafield"
        languages:
          type: array
          items:
            type: string
          description: |
            ISO codes of locales this product is translated into. Always
            includes the company default locale; never empty.
          example: [en, fr]
        sku:
          type: [string, "null"]
          description: |
            The product-level stock-keeping unit. Null when the merchant
            tracks SKUs per variant only.
          example: SCRUTE-BEET-001
        is_bundle:
          type: boolean
          description: |
            True when this product is a bundle assembled from bundle groups;
            its price is the configured bundle price, not a variant price.
          example: false
        in_stock:
          type: boolean
          description: |
            True when at least one variant is purchasable for some country.
            Mirrors the merchandising stock flag.
          example: true
        has_subscription_plans:
          type: boolean
          description: |
            True when the product has at least one active subscription plan,
            so the storefront can surface subscribe-and-save options.
          example: true
        pricing:
          type: [object, "null"]
          description: |
            COUNTRY-RELATIVE retail pricing for the requested `country`
            (defaults to the company's default country). Always the
            consumer-facing RETAIL price — never wholesale. `null` when the
            product has no resolvable price in any country.
          required: [price, currency_code, compare_at, subscription_price, display_price]
          properties:
            price:
              type: [string, "null"]
              description: Numeric retail unit price in the country's currency, serialized as a decimal string.
              example: "29.99"
            currency_code:
              type: [string, "null"]
              description: ISO 4217 currency code for the resolved country.
              example: USD
            compare_at:
              type: [string, "null"]
              description: |
                Strike-through "compare at" price when the merchant set one,
                serialized as a decimal string; null otherwise. Always null
                for bundle products.
              example: "39.99"
            subscription_price:
              type: [string, "null"]
              description: |
                Per-cycle subscription price when the product has a
                subscription plan, serialized as a decimal string; null
                otherwise. Always null for bundle products.
              example: "26.99"
            display_price:
              type: [string, "null"]
              description: |
                Pre-formatted, currency-symbol price string ready to render
                in the storefront.
              example: "$29.99"
        default_variant:
          type: [object, "null"]
          description: |
            Lightweight master-variant summary (id + sku) for the catalog
            card. The full variant payload is on the show (`Product`) view.
            Null when the product has no master variant.
          required: [id, sku]
          properties:
            id:
              type: integer
              example: 880912
            sku:
              type: [string, "null"]
              example: SCRUTE-BEET-001-12OZ

    ProductListResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          required: [products]
          properties:
            products:
              type: array
              items:
                $ref: "#/components/schemas/ProductCard"
            meta:
              allOf:
                - $ref: "#/components/schemas/Meta"
                - required: [pagination]

    ProductShowResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          required: [product]
          properties:
            product:
              $ref: "#/components/schemas/Product"

    ProductWrite:
      type: object
      additionalProperties: false
      description: |
        Company write contract for a Product. Keeps the ActiveRecord
        `accepts_nested_attributes_for` key names (`*_attributes`) so the
        existing Retail::ProductManager / VariantManager write orchestration
        consumes the payload unchanged. `status` is the RAW Product enum key
        (`active`/`draft`/`archived`) — the canonical published/scheduled
        split is presentation-only on read. NOTE: dynamic bundle-group writes
        (`product_bundle_groups_attributes`) are NOT accepted on this
        surface; static bundle-component links (`product_bundles_attributes`)
        ARE.
      properties:
        title:
          type: string
          example: Schrute Farms Beet Blend
        description:
          type: [string, "null"]
          example: A cold-pressed beet concentrate from the finest acres on Schrute Farms.
        introduction:
          type: [string, "null"]
          example: Bred for sugar content, pressed within the hour.
        feature_text:
          type: [string, "null"]
          example: 100% single-origin beets.
        image_url:
          type: [string, "null"]
          example: https://cdn.fluid.app/products/60311.png
        sku:
          type: [string, "null"]
          example: SCRUTE-BEET-001
        slug:
          type: string
          description: |
            Send `slug` + `custom_slug: true` together to pin a permanent
            merchant-set slug. Without `custom_slug: true`, the slug
            auto-regenerates from `title` on every title change.
          example: scrute-farms-beet-blend
        custom_slug:
          type: boolean
          example: true
        status:
          type: string
          enum: [draft, scheduled, published, archived]
          description: |
            The canonical storefront vocabulary, unified across every
            resource. `published` and `scheduled` map to the stored `active`
            enum value (`scheduled` requires a future `publish_at`; an
            explicit `published` with no publish_at clears a future
            schedule); `draft` and `archived` store as-is. The raw enum key
            `active` is still accepted for back-compat but is undocumented.
          example: published
        public:
          type: boolean
          example: true
        publish_at:
          type: [string, "null"]
          format: date-time
          example: "2026-07-01T08:00:00Z"
        commission:
          type: [number, "null"]
          example: 12.5
        bundle:
          type: boolean
          example: false
        track_inventory_on_bundle_items:
          type: boolean
          example: false
        show_reviews:
          type: boolean
          example: true
        no_index:
          type: boolean
          example: false
        tax_category_id:
          type: [integer, "null"]
          example: 14
        international_tax_type:
          type: [string, "null"]
          example: standard
        category_id:
          type: [integer, "null"]
          example: 4821
        label_id:
          type: [integer, "null"]
          example: 91
        collection_ids:
          type: array
          items:
            type: integer
          example: [501, 502]
        tag_ids:
          type: array
          items:
            type: integer
          example: [12, 13]
        option_attrs:
          type: array
          items:
            type: string
          example: [Size]
        application_theme_template_id:
          type: [integer, "null"]
          example: 77
        publish_to_portal_shop:
          type: boolean
          example: true
        publish_to_retail_store:
          type: boolean
          example: true
        publish_to_mobile_store:
          type: boolean
          example: true
        publish_to_share_tab:
          type: boolean
          example: false
        metadata:
          type: object
          additionalProperties: true
          example:
            origin: Schrute Farms
        dam_asset_code:
          type: [string, "null"]
          example: BEET-12OZ
        dam_asset_id:
          type: [string, "null"]
          example: 7f3c2a90-1c2b-4d5e-9aaa-112233445566
        metafields_attributes:
          type: array
          description: Product-level embedded metafields.
          items:
            type: object
            required: [namespace, key, value, value_type]
            properties:
              id:
                type: integer
                description: Present = update / destroy an existing entry.
              namespace:
                type: string
                example: custom
              key:
                type: string
                example: harvest_acre
              value:
                example: North Forty
              value_type:
                type: string
                example: single_line_text_field
              description:
                type: string
                example: Which acre the beets came from.
              _destroy:
                type: boolean
        search_engine_optimizer_attributes:
          type: [object, "null"]
          description: |
            SEO record nested attributes. The response key is renamed to
            `seo` for v202604, but the request key stays at the AR
            `accepts_nested_attributes_for` name during the migration.
          properties:
            id:
              type: integer
            title:
              type: string
              example: Schrute Farms Beet Blend — Cold Pressed
            description:
              type: string
              example: Single-origin beet concentrate, pressed within the hour.
            image_url:
              type: string
            block_crawler:
              type: boolean
              example: false
        images_attributes:
          type: array
          description: Product-level images.
          items:
            type: object
            required: [position, image_url]
            properties:
              id:
                type: integer
              position:
                type: integer
                example: 1
              image_url:
                type: string
                example: https://cdn.fluid.app/products/60311/front.png
              _destroy:
                type: boolean
        product_subscription_plans_attributes:
          type: array
          description: Subscription-plan join rows.
          items:
            type: object
            properties:
              id:
                type: integer
              subscription_plan_id:
                type: integer
                example: 4410
              default:
                type: boolean
                example: true
              active:
                type: boolean
                example: true
              _destroy:
                type: boolean
        product_bundles_attributes:
          type: array
          description: |
            Static-bundle component links (a fixed set of bundled variants).
            Dynamic bundle-group composition is NOT writable on this surface.
          items:
            type: object
            properties:
              id:
                type: integer
              bundled_variant_id:
                type: integer
                example: 880912
              quantity:
                type: integer
                example: 2
              display_externally:
                type: boolean
                example: true
              _destroy:
                type: boolean
        variants_attributes:
          type: array
          description: |
            The deep nested commerce write. Each variant carries its
            per-country pricing (`variant_countries_attributes`), inventory
            levels, images, and metafields. On CREATE a variant MUST be
            priced in at least one country (`variant_countries_attributes`
            required); on PATCH that key is optional.
          items:
            type: object
            properties:
              id:
                type: integer
              option_attrs:
                type: array
                items:
                  type: string
                example: ["12 oz"]
              sku:
                type: string
                example: SCRUTE-BEET-001-12OZ
              is_master:
                type: boolean
                example: true
              title:
                type: string
                example: 12 oz
              display_name:
                type: string
                example: Schrute Farms Beet Blend — 12 oz
              position:
                type: integer
                minimum: 0
                example: 1
              track_quantity:
                type: boolean
                example: true
              bar_code:
                type: string
                example: "0079827230015"
              limit_subscription:
                type: boolean
                example: false
              subscription_max_qty:
                type: integer
                example: 6
              customer_limit:
                type: integer
                example: 12
              keep_selling:
                type: boolean
                example: false
              weight:
                type: string
                example: "0.75"
              unit_of_weight:
                type: string
                example: lb
              _destroy:
                type: boolean
              variant_countries_attributes:
                type: array
                description: |
                  Per-country pricing. REQUIRED on create (at least one
                  country); OPTIONAL on update.
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    active:
                      type: boolean
                      example: true
                    country_id:
                      type: integer
                      example: 233
                    price:
                      type: string
                      format: decimal
                      description: |
                        Retail unit price in the country's currency,
                        serialized as a decimal string. Coerced via the
                        dry-schema `:decimal` contract.
                      example: "29.99"
                    subscription_price:
                      type: string
                      format: decimal
                      description: |
                        Recurring subscription unit price, serialized as a
                        decimal string (e.g. "26.99").
                      example: "26.99"
                    wholesale:
                      type: string
                      format: decimal
                      description: |
                        Wholesale unit price, serialized as a decimal string
                        (e.g. "18.0").
                      example: "18.0"
                    wholesale_subscription_price:
                      type: string
                      format: decimal
                      description: |
                        Wholesale subscription unit price, serialized as a
                        decimal string (e.g. "16.0").
                      example: "16.0"
                    compare_price:
                      type: string
                      format: decimal
                      description: |
                        Compare-at (strikethrough) price, serialized as a
                        decimal string (e.g. "39.99").
                      example: "39.99"
                    cv:
                      type: [number, string]
                      format: decimal
                      example: 20
                      description: >-
                        Commissionable Volume (CV) — the volume credited for this
                        item that counts toward commission calculations.
                    qv:
                      type: [number, string]
                      format: decimal
                      example: 20
                      description: >-
                        Qualifying Volume (QV) — the volume credited for this item
                        that counts toward rank and qualification requirements.
                    points:
                      type: integer
                      example: 100
                      description: >-
                        Points the buyer accumulates on an order for purchasing
                        this item (per unit).
                    cost_of_goods_sold:
                      type: string
                      format: decimal
                      description: |
                        Cost of goods sold per unit, serialized as a decimal
                        string (e.g. "9.5").
                      example: "9.5"
                    shipping:
                      type: string
                      format: decimal
                      description: |
                        Per-unit shipping charge, serialized as a decimal
                        string (e.g. "4.99").
                      example: "4.99"
                    tax:
                      type: string
                      format: decimal
                      description: |
                        Per-unit tax amount, serialized as a decimal string
                        (e.g. "2.4").
                      example: "2.4"
                    _destroy:
                      type: boolean
              images_attributes:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    position:
                      type: integer
                      example: 1
                    image_url:
                      type: string
                      example: https://cdn.fluid.app/variants/880912/front.png
                    _destroy:
                      type: boolean
              inventory_levels_attributes:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    warehouse_id:
                      type: integer
                      example: 12
                    available:
                      type: integer
                      example: 142
                    committed:
                      type: integer
                      example: 3
                    on_hand:
                      type: integer
                      example: 145
                    unavailable:
                      type: integer
                      example: 0
              metafields_attributes:
                type: array
                items:
                  type: object
                  required: [namespace, key, value, value_type]
                  properties:
                    id:
                      type: integer
                    namespace:
                      type: string
                      example: custom
                    key:
                      type: string
                      example: harvest_acre
                    value:
                      example: North Forty
                    value_type:
                      type: string
                      example: single_line_text_field
                    _destroy:
                      type: boolean

    ProductCreateRequest:
      type: object
      required: [product]
      additionalProperties: false
      properties:
        product:
          allOf:
            - $ref: "#/components/schemas/ProductWrite"
            - required: [title]

    ProductUpdateRequest:
      type: object
      required: [product]
      additionalProperties: false
      properties:
        product:
          $ref: "#/components/schemas/ProductWrite"
    EnrollmentPack:
      type: object
      description: |
        Storefront Enrollment Pack. The first thirteen fields are the
        canonical common top shared by every storefront resource in v202604.
        Enrollment Packs are schedulable but have no archived state: `status`
        derives from the `active` toggle + `publish_at` (active + future
        publish_at → `scheduled`; active + null/past publish_at →
        `published`; inactive → `draft`). The membership / subscription products
        and agreements (`member_enrollable_products`,
        `subscription_enrollable_products`, `enrollment_pack_agreements`)
        are returned only on the SHOW response, not the catalog card.
      required:
        [id, slug, title, description, image_url, canonical_url, images,
         active, status, publish_at, seo, metafields, languages,
         enrollment_fee, additional_volume, membership_after_one_month,
         membership_optional, countries]
      properties:
        id:
          type: integer
          example: 60311
        slug:
          type: string
          example: primex-welcome-pack
        title:
          type: string
          example: Primex Welcome Pack
        description:
          # KNOWN ISSUE (CURRENT-2505 finding): EnrollmentPack#description is
          # action_text-backed (`translates :description, backend: :action_text`),
          # and the shared Api::V202604::Storefront::Common blueprint renders the
          # raw ActionText::RichText record instead of its plain text — so a pack
          # WITH a description serializes `description` as an object
          # ({ id, body, record_type, ... }), and one without it as null. The same
          # shared bug affects Product and Medium (both action_text-backed). This
          # type reflects that reality; revert to [string, "null"] once Common
          # renders action_text descriptions as plain text.
          type: [string, object, "null"]
          example: Everything a new Primex member needs to get started.
        image_url:
          type: [string, "null"]
          example: https://cdn.fluid.app/enrollment_packs/60311.png
        canonical_url:
          type: string
          example: https://acme.fluid.app/home/enrollments/primex-welcome-pack
        images:
          $ref: "#/components/schemas/ResponsiveImageSet"
        active:
          type: boolean
          example: true
        status:
          type: string
          enum: [draft, scheduled, published]
          description: |
            Lifecycle, derived from `active` + `publish_at`. `published` =
            active and live now; `scheduled` = active with a future
            `publish_at` (auto-goes-live when it passes); `draft` =
            inactive. Enrollment Packs have no archived state. "Live" =
            `active == true` AND resolved `status == published`.
          example: published
        publish_at:
          type: [string, "null"]
          format: date-time
          description: When a scheduled pack goes live. null = no schedule.
          example: null
        seo:
          $ref: "#/components/schemas/Seo"
        metafields:
          type: array
          items:
            $ref: "#/components/schemas/Metafield"
        languages:
          type: array
          items:
            type: string
          example: [en, fr]
        enrollment_fee:
          type: [string, "null"]
          description: |
            One-time enrollment fee in the company's base currency, or null.
            Serialized as a decimal string (e.g. `"29.0"`), not a JSON number.
          example: "29.0"
        additional_volume:
          type: [integer, "null"]
          description: Bonus volume (CV) granted by enrolling through this pack.
          example: 100
        membership_after_one_month:
          type: boolean
          example: false
        membership_optional:
          type: boolean
          example: true
        countries:
          type: array
          items:
            type: string
          description: |
            ISO codes restricting availability. Empty array means available
            in every country the company sells in (unrestricted).
          example: [GB, US]
        member_enrollable_products:
          type: array
          description: SHOW only. Membership products bundled in the pack.
          items:
            type: object
            properties:
              id: { type: integer }
              product_id: { type: integer }
              variant_id: { type: [integer, "null"] }
        subscription_enrollable_products:
          type: array
          description: SHOW only. Subscription products bundled in the pack.
          items:
            type: object
            properties:
              id: { type: integer }
              product_id: { type: integer }
              variant_id: { type: [integer, "null"] }
              subscription_plan_id: { type: [integer, "null"] }
        enrollment_pack_agreements:
          type: array
          description: SHOW only. Agreements a buyer must accept, in display order.
          items:
            type: object
            properties:
              id: { type: integer }
              agreement_id: { type: integer }
              required: { type: boolean }
              position: { type: integer }
    EnrollmentPackListResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          required: [enrollment_packs]
          properties:
            enrollment_packs:
              type: array
              items:
                $ref: "#/components/schemas/EnrollmentPack"
            meta:
              allOf:
                - $ref: "#/components/schemas/Meta"
                - required: [pagination]
    EnrollmentPackShowResponse:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          required: [enrollment_pack]
          properties:
            enrollment_pack:
              $ref: "#/components/schemas/EnrollmentPack"
    EnrollmentPackWrite:
      type: object
      additionalProperties: false
      properties:
        title:
          type: string
          example: Primex Welcome Pack
        description:
          type: [string, "null"]
        active:
          type: boolean
        status:
          type: string
          enum: [draft, scheduled, published]
          description: |
            Maps back to the `active` toggle + `publish_at`. `draft` turns
            the toggle off; `scheduled` / `published` turn it on (supply a
            future `publish_at` for `scheduled`; an explicit `published`
            with no publish_at clears a future schedule).
        publish_at:
          type: [string, "null"]
          format: date-time
        enrollment_fee:
          type: [number, "null"]
        additional_volume:
          type: [integer, "null"]
        membership_after_one_month:
          type: boolean
        membership_optional:
          type: boolean
        application_theme_template_id:
          type: [integer, "null"]
        country_isos:
          type: array
          items:
            type: string
          description: |
            ISO codes restricting availability. `[]` clears restrictions;
            key omitted leaves countries unchanged. An ISO the store does
            not sell in returns a 422.
        member_enrollable_products_attributes:
          type: array
          items:
            type: object
            properties:
              id: { type: integer }
              variant_id: { type: integer }
              _destroy: { type: boolean }
        subscription_enrollable_products_attributes:
          type: array
          items:
            type: object
            properties:
              id: { type: integer }
              variant_id: { type: integer }
              subscription_plan_id: { type: integer }
              _destroy: { type: boolean }
        images_attributes:
          type: array
          items:
            type: object
            properties:
              id: { type: integer }
              image_url: { type: string }
              position: { type: integer }
              _destroy: { type: boolean }
        enrollment_pack_agreements:
          type: array
          items:
            type: object
            properties:
              id: { type: integer }
              agreement_id: { type: integer }
              required: { type: boolean }
              position: { type: integer }
              _destroy: { type: boolean }
        metafields_attributes:
          type: array
          items:
            type: object
            required: [namespace, key, value, value_type]
            properties:
              namespace: { type: string }
              key: { type: string }
              value: {}
              value_type: { type: string }
              description: { type: string }
              _destroy: { type: boolean }
        search_engine_optimizer_attributes:
          type: [object, "null"]
          properties:
            id: { type: integer }
            title: { type: string }
            description: { type: string }
            image_url: { type: string }
            block_crawler: { type: boolean }
    EnrollmentPackCreateRequest:
      type: object
      required: [enrollment_pack]
      additionalProperties: false
      properties:
        enrollment_pack:
          allOf:
            - $ref: "#/components/schemas/EnrollmentPackWrite"
            - required: [title]
    EnrollmentPackUpdateRequest:
      type: object
      required: [enrollment_pack]
      additionalProperties: false
      properties:
        enrollment_pack:
          $ref: "#/components/schemas/EnrollmentPackWrite"
    Medium:
      type: object
      description: |
        Storefront Medium ("media"). The first thirteen fields are the
        canonical common top shared by every storefront resource in v202604.
        Media has no stored status column and no archived state: `status` is
        derived from `active` + `publish_at` (active + future `publish_at` →
        `scheduled`; active + null/past `publish_at` → `published`; inactive →
        `draft`). `visibility` (`open` / `restricted`) is Media's OWN access
        concept and is exposed as a separate field — it is NOT part of the
        active/status lifecycle. "Live" = `active == true` AND resolved
        `status == published`.
      required:
        [id, slug, title, description, image_url, canonical_url, images,
         active, status, publish_at, seo, metafields, languages,
         media_type, kind, media_format, visibility, video_url, pdf_url,
         powerpoint_url, duration, countries]
      properties:
        id:
          type: integer
          example: 60311
        slug:
          type: string
          example: primex-wellness-overview
        title:
          type: [string, "null"]
          description: |
            Human-readable name. Nullable for Media only — legacy rows predate
[...]
