openapi: 3.1.0
info:
  title: Fluid Storefront API
  version: v2025-06
  description: Storefront resources — catalog, content, and the publicly readable storefront surface. Every resource shares
    a common shareable model (slug, title, description, media, SEO, metafields, compliance). Authenticated management runs
    on api.fluid.app; visitor-facing reads are unauthenticated and FairShare-attributed.
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
tags:
- name: Categories
- name: Collections
- name: Products
- name: Pages
- name: Posts
- name: Enrollments
- name: Media
- name: Playlists
security:
- bearer_auth: []
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
  schemas:
    cat__Meta:
      type: object
      properties:
        request_id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
    cat__PaginatedMeta:
      type: object
      properties:
        request_id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
        pagination:
          type: object
          properties:
            current_page:
              type: integer
            total_pages:
              type: integer
            total_count:
              type: integer
            per_page:
              type: integer
    cat__UnauthorizedResponse:
      type: object
      required:
      - message
      properties:
        message:
          type: string
    cat__ErrorResponse:
      type: object
      required:
      - error_message
      - errors
      - meta
      properties:
        error_message:
          type: string
        errors:
          $ref: '#/components/schemas/cat__ErrorBag'
          description: Field-level validation errors keyed by attribute name
        meta:
          $ref: '#/components/schemas/cat__Meta'
    cat__CategorySummary:
      description: Category with key fields (full object includes sub_categories, products, SEO, and template associations)
      type: object
      required:
      - id
      - title
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type:
          - string
          - 'null'
        slug:
          type:
          - string
          - 'null'
        image_url:
          type:
          - string
          - 'null'
        position:
          type:
          - integer
          - 'null'
        active:
          type: boolean
        public:
          type: boolean
        parent_id:
          type:
          - integer
          - 'null'
        has_children:
          type: boolean
    cat__CollectionSummary:
      description: Collection with key fields (full object includes product_collections, SEO, and template associations)
      type: object
      required:
      - id
      - title
      properties:
        id:
          type: integer
        title:
          type: string
        slug:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        image_url:
          type:
          - string
          - 'null'
        position:
          type:
          - integer
          - 'null'
        active:
          type: boolean
        public:
          type: boolean
        featured:
          type: boolean
    cat__ProductSummary:
      description: Product with key fields (full object includes variants, options, images, bundles, tags, SEO, metafields,
        subscription plans)
      type: object
      required:
      - id
      properties:
        id:
          type: integer
        title:
          type:
          - string
          - 'null'
        slug:
          type:
          - string
          - 'null'
        sku:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        active:
          type: boolean
        price:
          type:
          - number
          - string
          - 'null'
        image_url:
          type:
          - string
          - 'null'
        in_stock:
          type: boolean
        bundle:
          type: boolean
    cat__VariantSummary:
      description: Variant with key fields (full object includes inventory_levels, variant_countries, images, metafields,
        country_of_origin)
      type: object
      required:
      - id
      properties:
        id:
          type: integer
        title:
          type:
          - string
          - 'null'
        display_name:
          type:
          - string
          - 'null'
        sku:
          type:
          - string
          - 'null'
        price:
          type:
          - number
          - string
          - 'null'
        active:
          type: boolean
        is_master:
          type: boolean
        product_id:
          type: integer
        inventory_quantity:
          type: integer
    cat__DeleteResponse:
      type: object
      properties:
        message:
          type: string
    cat__IdResponse:
      type: object
      required:
      - id
      properties:
        id:
          type: integer
    cat__BulkUpdateOptionValuesResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        option_values:
          type:
          - array
          - 'null'
          items:
            title: OptionValue
            type:
            - object
            - 'null'
            properties:
              id:
                type:
                - integer
                - string
                - number
                - 'null'
              title:
                type:
                - string
                - number
                - integer
                - 'null'
              position:
                type:
                - integer
                - 'null'
                - string
                - number
                default: 1
              presentation:
                type:
                - string
                - 'null'
                - number
                - integer
              created_at:
                type:
                - string
                - number
                - integer
                - 'null'
                format: date-time
              updated_at:
                type:
                - string
                - number
                - integer
                - 'null'
                format: date-time
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    cat__GetInternationalTaxTypesResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        international_tax_types:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - number
            - integer
            - 'null'
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    cat__CreateProductImageResponse201ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        product_image:
          title: Image
          type:
          - object
          - 'null'
          properties:
            id:
              type:
              - integer
              - string
              - number
              - 'null'
            image_url:
              description: The URL of the image
              type:
              - string
              - 'null'
              - number
              - integer
            image_path:
              description: The file path of the image
              type:
              - string
              - 'null'
              - number
              - integer
            position:
              description: The display order position of the image (lower numbers display first)
              type:
              - integer
              - 'null'
              - string
              - number
            dam_asset_code:
              type:
              - string
              - 'null'
              - number
              - integer
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    cat__JsonValue:
      description: Any valid JSON value for provider, integration, theme, metadata, or other dynamic payloads whose keys are
        not fixed by the API contract.
      anyOf:
      - type: string
      - type: number
      - type: boolean
      - type: 'null'
      - type: array
        items:
          $ref: '#/components/schemas/cat__JsonValue'
      - type: object
        additionalProperties:
          $ref: '#/components/schemas/cat__JsonValue'
    cat__ErrorValue:
      description: A validation or API error value.
      anyOf:
      - type: string
      - type: array
        items:
          type: string
      - type: object
        additionalProperties:
          $ref: '#/components/schemas/cat__JsonValue'
    cat__ErrorBag:
      description: Validation errors keyed by field, a list of errors, a single error message, or null when no structured
        error details are available.
      anyOf:
      - type: string
      - type: array
        items:
          $ref: '#/components/schemas/cat__ErrorValue'
      - type: object
        additionalProperties:
          $ref: '#/components/schemas/cat__ErrorValue'
      - type: 'null'
    cat__CatalogCompanyResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            company:
              type: object
              properties:
                active:
                  type: boolean
                agree_to_terms:
                  type: 'null'
                appstore_url:
                  type: string
                auto_add_new_products:
                  type: boolean
                base_url:
                  type: string
                color:
                  type: string
                countries:
                  type: array
                  items:
                    type: object
                    properties:
                      active:
                        type: boolean
                      address3:
                        type: boolean
                      currency_code:
                        type: string
                      currency_symbol:
                        type: string
                      delimiter:
                        type: string
                      id:
                        type: integer
                      iso:
                        type: string
                      iso3:
                        type: string
                      iso_name:
                        type: string
                      name:
                        type: string
                      numcode:
                        type: integer
                      separator:
                        type: string
                      tax_rates:
                        type: 'null'
                    required:
                    - active
                    - address3
                    - currency_code
                    - currency_symbol
                    - delimiter
                    - id
                    - iso
                    - iso3
                    - iso_name
                    - name
                    - numcode
                    - separator
                    - tax_rates
                    additionalProperties: false
                cv_to_usd_ratio:
                  type: string
                default_country:
                  type: object
                  properties:
                    active:
                      type: boolean
                    address3:
                      type: boolean
                    address_requires_province:
                      type: 'null'
                    certified:
                      type: boolean
                    checkout_requires_terms:
                      type: 'null'
                    configuration:
                      type: object
                      additionalProperties: false
                    created_at:
                      type: string
                      format: date-time
                    currency_code:
                      type: string
                    currency_symbol:
                      type: string
                    default:
                      type: boolean
                    delimiter:
                      type: string
                    eu:
                      type: 'null'
                    geo_entity_id:
                      type: 'null'
                    id:
                      type: integer
                    iso:
                      type: string
                    iso3:
                      type: string
                    iso_name:
                      type: string
                    name:
                      type: string
                    numcode:
                      type: integer
                    separator:
                      type: string
                    settings:
                      type: 'null'
                    tax_enabled:
                      type: 'null'
                    tax_inclusive:
                      type: 'null'
                    tax_invoice_required:
                      type: 'null'
                    tax_local_abbreviation:
                      type: 'null'
                    tax_local_name:
                      type: 'null'
                    tax_name:
                      type: 'null'
                    tax_provinces:
                      type: 'null'
                    tax_rates:
                      type: 'null'
                    tax_standard_rate:
                      type: 'null'
                    updated_at:
                      type: string
                      format: date-time
                    uuid_v7:
                      type: string
                  required:
                  - active
                  - address3
                  - address_requires_province
                  - certified
                  - checkout_requires_terms
                  - configuration
                  - created_at
                  - currency_code
                  - currency_symbol
                  - default
                  - delimiter
                  - eu
                  - geo_entity_id
                  - id
                  - iso
                  - iso3
                  - iso_name
                  - name
                  - numcode
                  - separator
                  - settings
                  - tax_enabled
                  - tax_inclusive
                  - tax_invoice_required
                  - tax_local_abbreviation
                  - tax_local_name
                  - tax_name
                  - tax_provinces
                  - tax_rates
                  - tax_standard_rate
                  - updated_at
                  - uuid_v7
                  additionalProperties: false
                display_activities:
                  type: boolean
                display_analytics:
                  type: boolean
                display_announcements:
                  type: boolean
                display_billing_zip:
                  type: 'null'
                display_callpro:
                  type: boolean
                display_channel_messaging:
                  type: boolean
                display_comments:
                  type: boolean
                display_contact_activity:
                  type: boolean
                display_contact_csv_export:
                  type: boolean
                display_contact_csv_import:
                  type: boolean
                display_contact_groups:
                  type: boolean
                display_contacts:
                  type: boolean
                display_courses:
                  type: boolean
                display_direct_messaging:
                  type: boolean
                display_discounts:
                  type: boolean
                display_enrollments:
                  type: boolean
                display_events:
                  type: boolean
                display_explore:
                  type: boolean
                display_get_started:
                  type: boolean
                display_group_messaging:
                  type: boolean
                display_leaderboard:
                  type: boolean
                display_leads:
                  type: boolean
                display_marketplace:
                  type: boolean
                display_media:
                  type: boolean
                display_member_shopping:
                  type: boolean
                display_messaging:
                  type: boolean
                display_mysite:
                  type: boolean
                display_orders:
                  type: boolean
                display_pages:
                  type: boolean
                display_playlists:
                  type: boolean
                display_points:
                  type: boolean
                display_products:
                  type: boolean
                display_promos:
                  type: boolean
                display_recent_activity:
                  type: boolean
                display_share:
                  type: boolean
                display_share_stats:
                  type: boolean
                display_shop:
                  type: boolean
                display_tasks:
                  type: boolean
                display_uploads:
                  type: boolean
                display_wallet:
                  type: boolean
                display_webchat:
                  type: boolean
                enable_premium_messaging:
                  type: boolean
                feature_flags:
                  type: object
                  additionalProperties: false
                fluid_commission:
                  type: string
                fluid_shop:
                  type: string
                hide_reviews_rating:
                  type: boolean
                id:
                  type: integer
                invite_customers_to_download:
                  type: 'null'
                languages:
                  type: array
                  items:
                    type: object
                    properties:
                      active:
                        type: boolean
                      id:
                        type: integer
                      iso:
                        type: string
                      name:
                        type: string
                    required:
                    - active
                    - id
                    - iso
                    - name
                    additionalProperties: false
                logo_url:
                  type: string
                name:
                  type: string
                playstore_url:
                  type: string
                privacy_url:
                  type: string
                promo_video_url:
                  type: 'null'
                public:
                  type: boolean
                reviews_on_orders:
                  type: boolean
                sandbox:
                  type: boolean
                settings:
                  type: object
                  properties:
                    shipping:
                      type: string
                  required:
                  - shipping
                  additionalProperties: false
                shop_onboarded_at:
                  type: 'null'
                show_commission_as_cv:
                  type: boolean
                subdomain:
                  type: string
                terms_url:
                  type: string
                universal_link_slug:
                  type: 'null'
              required:
              - active
              - agree_to_terms
              - appstore_url
              - auto_add_new_products
              - base_url
              - color
              - countries
              - cv_to_usd_ratio
              - default_country
              - display_activities
              - display_analytics
              - display_announcements
              - display_billing_zip
              - display_callpro
              - display_channel_messaging
              - display_comments
              - display_contact_activity
              - display_contact_csv_export
              - display_contact_csv_import
              - display_contact_groups
              - display_contacts
              - display_courses
              - display_direct_messaging
              - display_discounts
              - display_enrollments
              - display_events
              - display_explore
              - display_get_started
              - display_group_messaging
              - display_leaderboard
              - display_leads
              - display_marketplace
              - display_media
              - display_member_shopping
              - display_messaging
              - display_mysite
              - display_orders
              - display_pages
              - display_playlists
              - display_points
              - display_products
              - display_promos
              - display_recent_activity
              - display_share
              - display_share_stats
              - display_shop
              - display_tasks
              - display_uploads
              - display_wallet
              - display_webchat
              - enable_premium_messaging
              - feature_flags
              - fluid_commission
              - fluid_shop
              - hide_reviews_rating
              - id
              - invite_customers_to_download
              - languages
              - logo_url
              - name
              - playstore_url
              - privacy_url
              - promo_video_url
              - public
              - reviews_on_orders
              - sandbox
              - settings
              - shop_onboarded_at
              - show_commission_as_cv
              - subdomain
              - terms_url
              - universal_link_slug
              additionalProperties: false
          required:
          - company
          additionalProperties: false
        status:
          type: string
      required:
      - data
      - status
      additionalProperties: false
    cat__CatalogCompanyUpdateResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            mobile_app_version:
              type: string
            mobile_build_number:
              type: string
          required:
          - mobile_app_version
          - mobile_build_number
          additionalProperties: false
        status:
          type: string
      required:
      - data
      - status
      additionalProperties: false
    cat__CatalogProductImageResponse:
      type: object
      properties:
        meta:
          type: object
          properties:
            request_id:
              type: string
            timestamp:
              type: string
              format: date-time
          required:
          - request_id
          - timestamp
          additionalProperties: false
        product_image:
          type: object
          properties:
            dam_asset_code:
              type: 'null'
            id:
              type: integer
            image_path:
              type: 'null'
            image_url:
              type: string
            position:
              type: integer
          required:
          - dam_asset_code
          - id
          - image_path
          - image_url
          - position
          additionalProperties: false
      required:
      - meta
      - product_image
      additionalProperties: false
    adm__Meta:
      type: object
      properties:
        request_id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
    adm__ErrorResponse:
      type: object
      required:
      - error_message
      - errors
      - meta
      properties:
        error_message:
          type: string
        errors:
          $ref: '#/components/schemas/adm__ErrorBag'
        meta:
          $ref: '#/components/schemas/adm__Meta'
    adm__DiscountResource:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        code:
          type: string
        price_discount_type:
          type: string
          enum:
          - flat
          - percentage
          - free_product
          - free_shipping
        price_discount_amount:
          type: integer
        price_discount_percent:
          type: number
        percentage_value:
          type:
          - string
          - 'null'
        source:
          type: string
          enum:
          - promo
          - manual
          - droplet
        reason:
          type:
          - string
          - 'null'
        created_by:
          type:
          - object
          - 'null'
          properties:
            id:
              type: integer
            full_name:
              type:
              - string
              - 'null'
        active:
          type: boolean
        automatic:
          type: boolean
        applicable_for:
          type:
          - string
          - 'null'
          enum:
          - everything
          - specific_products
          - specific_collections
          - except_specific_products
          - null
        apply_only_once:
          type:
          - boolean
          - 'null'
        apply_to_subscriptions:
          type: boolean
        apply_to_recurring_subscription_orders:
          type: boolean
        apply_to_volume:
          type: boolean
        country_filter:
          type:
          - string
          - 'null'
        customer_filter:
          type:
          - string
          - 'null'
        shipping_method_filter:
          type:
          - string
          - 'null'
        purchase_requirement:
          type:
          - string
          - 'null'
        purchase_requirement_applies_to_whole_cart:
          type: boolean
        has_end_date:
          type:
          - boolean
          - 'null'
        start_date_time:
          type:
          - string
          - 'null'
          format: date-time
        end_date_time:
          type:
          - string
          - 'null'
          format: date-time
        start_date:
          type:
          - string
          - 'null'
        start_time:
          type:
          - string
          - 'null'
        end_date:
          type:
          - string
          - 'null'
        end_time:
          type:
          - string
          - 'null'
        time_zone:
          type:
          - string
          - 'null'
        discount_type:
          type: string
          enum:
          - product_discount
          - shipping_discount
        description:
          type:
          - string
          - 'null'
        total_usage:
          type: integer
        free_variant_ids:
          type: array
          items:
            type: integer
        applicable_product_ids:
          type: array
          items:
            type: integer
        inapplicable_product_ids:
          type: array
          items:
            type: integer
        applicable_collection_ids:
          type: array
          items:
            type: integer
        collection_ids:
          type: array
          items:
            type: integer
        product_ids:
          type: array
          items:
            type: integer
        customer_ids:
          type: array
          items:
            type: integer
        country_codes:
          type: array
          items:
            type: string
        eligible_customer_ids:
          type: array
          items:
            type: integer
        eligible_country_ids:
          type: array
          items:
            type: integer
        ineligible_country_ids:
          type: array
          items:
            type: integer
        eligible_shipping_method_ids:
          type: array
          items:
            type: integer
        eligible_customer_segments:
          type: array
          items:
            type: string
        minimum_purchase_requirement_amount:
          type: number
        minimum_purchase_requirement_amount_max:
          type:
          - number
          - 'null'
        minimum_purchase_requirement_quantity:
          type: integer
        customer_usage_limit:
          type: integer
        minimum_amount_cents:
          type: integer
        limit_usage_of_code:
          type: boolean
        limit_usage_per_customer:
          type: boolean
        other_shipping_discounts:
          type: boolean
        other_product_discounts:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    adm__UnauthorizedResponse:
      type: object
      properties:
        message:
          type: string
        error_message:
          type: string
        errors:
          $ref: '#/components/schemas/adm__ErrorBag'
        meta:
          $ref: '#/components/schemas/adm__Meta'
    adm__UpdateFeatureFlagsRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        flags:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - boolean
            - 'null'
    adm__CreateFeatureFlagRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        flag_name:
          type:
          - string
          - number
          - integer
          - 'null'
    adm__BulkUpdatePageStatusesApiRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        status:
          type:
          - string
          - number
          - integer
          - 'null'
          description: Set the status of the page(s) or 'delete' to perform soft deletion
        page_ids:
          type:
          - array
          - 'null'
          items:
            type:
            - integer
            - string
            - number
            - 'null'
          description: IDs of pages to update
      description: Bulk update request payload
    adm__PatchApiV202506PaymentsCancelByOrderTokenRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        amount:
          type:
          - number
          - string
          - integer
          - 'null'
          description: 'Amount to cancel in dollars (e.g., 10.99). If not provided, automatically fetches remaining authorized
            amount from Bread. '
        currency_code:
          type:
          - string
          - number
          - integer
          - 'null'
          description: Currency code for the cancellation. Defaults to order currency if not provided.
    adm__PostApiV202506PaymentsSettleRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        order_token:
          type:
          - string
          - number
          - integer
          - 'null'
          description: token of the existing order
        order_id:
          type:
          - string
          - number
          - integer
          - 'null'
          description: id of the existing order
        amount:
          type:
          - number
          - string
          - integer
          - 'null'
          description: Amount to settle (defaults to order amount)
        currency_code:
          type:
          - string
          - number
          - integer
          - 'null'
          description: Currency code for the settle amount (defaults to order currency)
    adm__PostApiV202506PaymentsTokenizeCardRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        credit_card:
          type:
          - object
          - 'null'
          properties:
            first_name:
              type:
              - string
              - number
              - integer
              - 'null'
            last_name:
              type:
              - string
              - number
              - integer
              - 'null'
            number:
              type:
              - string
              - number
              - integer
              - 'null'
            verification_value:
              type:
              - string
              - number
              - integer
              - 'null'
            month:
              type:
              - string
              - number
              - integer
              - 'null'
            year:
              type:
              - string
              - number
              - integer
              - 'null'
            email:
              type:
              - string
              - number
              - integer
              - 'null'
    adm__PostApiV202506PaymentsByPaymentAccountIdResponse201ApplicationJsonSchema:
      type: object
      properties:
        payment:
          title: Commerce::Payment
          type: object
          properties:
            id:
              type: integer
            uuid:
              type: string
            action:
              type: string
            status:
              type: string
            payment_account:
              type: integer
            cart_token:
              type:
              - string
              - 'null'
          additionalProperties: false
        meta:
          $ref: '#/components/schemas/adm__Meta'
      additionalProperties: false
    adm__PostApiV202506PaymentsByPaymentAccountIdRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        cart_token:
          type:
          - string
          - number
          - integer
          - 'null'
        payment_method:
          type:
          - object
          - 'null'
          properties:
            integration_class:
              type:
              - string
              - number
              - integer
              - 'null'
            source:
              type:
              - string
              - number
              - integer
              - 'null'
    adm__CreateProductComplianceRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        compliance:
          type:
          - object
          - 'null'
          properties:
            service:
              type:
              - string
              - number
              - integer
              - 'null'
            score:
              type:
              - number
              - string
              - integer
              - 'null'
              minimum: 0
              maximum: 10
            summary:
              type:
              - string
              - number
              - integer
              - 'null'
            scanned_at:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
            compliance_issues_attributes:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  issue_text:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  issue_reference:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  issue_type:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  severity:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  recommendation:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
    adm__UpdateProductComplianceRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        compliance:
          type:
          - object
          - 'null'
          properties:
            score:
              type:
              - number
              - string
              - integer
              - 'null'
              minimum: 0
              maximum: 10
            summary:
              type:
              - string
              - number
              - integer
              - 'null'
            scanned_at:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
    adm__PatchApiV202506TrainingsByIdRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        training:
          type:
          - object
          - 'null'
          properties:
            user_id:
              type:
              - integer
              - string
              - number
              - 'null'
            image_url:
              type:
              - string
              - 'null'
              - number
              - integer
            video_url:
              type:
              - string
              - 'null'
              - number
              - integer
            pdf_url:
              type:
              - string
              - 'null'
              - number
              - integer
            powerpoint_url:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            title:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            description:
              type:
              - string
              - 'null'
              - number
              - integer
            active:
              type:
              - boolean
              - 'null'
              not:
                type:
                - string
                - 'null'
            compressed_image_url:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            prompts_enabled:
              type:
              - boolean
              - 'null'
              not:
                type:
                - string
                - 'null'
            kind:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            visibility:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            cta_enabled:
              type:
              - boolean
              - 'null'
              not:
                type:
                - string
                - 'null'
            cta_action_type:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            cta_url:
              type:
              - string
              - 'null'
              - number
              - integer
            cta_button_text:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            slug:
              type:
              - string
              - 'null'
              - number
              - integer
            custom_slug:
              type:
              - boolean
              - 'null'
              not:
                type:
                - string
                - 'null'
            no_index:
              type:
              - boolean
              - 'null'
              not:
                type:
                - string
                - 'null'
            display_comments:
              type:
              - boolean
              - 'null'
              not:
                type:
                - string
                - 'null'
            category:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            display_shop:
              type:
              - boolean
              - 'null'
              not:
                type:
                - string
                - 'null'
            dam_asset_id:
              type:
              - integer
              - string
              - number
              - 'null'
            dam_asset_code:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            lead_capture:
              type:
              - boolean
              - 'null'
              not:
                type:
                - string
                - 'null'
            video_shopping_enabled:
              type:
              - boolean
              - 'null'
              not:
                type:
                - string
                - 'null'
            application_theme_template_id:
              type:
              - integer
              - string
              - number
              - 'null'
            publish_at:
              type:
              - string
              - 'null'
              - number
              - integer
              format: time
            settings:
              type:
              - object
              - 'null'
              properties:
                player:
                  type:
                  - object
                  - 'null'
                  properties:
                    primary_color:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                      minLength: 1
                    button_border_radius:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                      minLength: 1
                    control_bar_height:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                      minLength: 1
                    progress_color:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                      minLength: 1
                    volume_color:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                      minLength: 1
                    show_controls:
                      type:
                      - boolean
                      - 'null'
                      not:
                        type:
                        - string
                        - 'null'
                    autoplay:
                      type:
                      - boolean
                      - 'null'
                      not:
                        type:
                        - string
                        - 'null'
                    loop:
                      type:
                      - boolean
                      - 'null'
                      not:
                        type:
                        - string
                        - 'null'
                    muted:
                      type:
                      - boolean
                      - 'null'
                      not:
                        type:
                        - string
                        - 'null'
                    preload:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                      minLength: 1
                    playback_rates:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                      minLength: 1
                    show_remaining_time:
                      type:
                      - boolean
                      - 'null'
                      not:
                        type:
                        - string
                        - 'null'
                    responsive:
                      type:
                      - boolean
                      - 'null'
                      not:
                        type:
                        - string
                        - 'null'
                    fluid:
                      type:
                      - boolean
                      - 'null'
                      not:
                        type:
                        - string
                        - 'null'
                embed:
                  type:
                  - object
                  - 'null'
                  properties:
                    behavior:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                      minLength: 1
                    responsive:
                      type:
                      - boolean
                      - 'null'
                      not:
                        type:
                        - string
                        - 'null'
                    width:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                      minLength: 1
                    height:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                      minLength: 1
                    show_controls:
                      type:
                      - boolean
                      - 'null'
                      not:
                        type:
                        - string
                        - 'null'
                    autoplay:
                      type:
                      - boolean
                      - 'null'
                      not:
                        type:
                        - string
                        - 'null'
                    loop:
                      type:
                      - boolean
                      - 'null'
                      not:
                        type:
                        - string
                        - 'null'
                cta:
                  type:
                  - object
                  - 'null'
                  properties:
                    enabled:
                      type:
                      - boolean
                      - 'null'
                      not:
                        type:
                        - string
                        - 'null'
                    type:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                      minLength: 1
                    url:
                      type:
                      - string
                      - 'null'
                      - number
                      - integer
                    button_description:
                      type:
                      - string
                      - 'null'
                      - number
                      - integer
                    button_text:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                      minLength: 1
                    button_color:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                      minLength: 1
                fair_share:
                  type:
                  - object
                  - 'null'
                  properties:
                    bg_color:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                      minLength: 1
                    rep_name:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                      minLength: 1
                    rep_avatar:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                      minLength: 1
                    message:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                      minLength: 1
                live_chat:
                  type:
                  - object
                  - 'null'
                  properties:
                    enabled:
                      type:
                      - boolean
                      - 'null'
                      not:
                        type:
                        - string
                        - 'null'
                    color:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                      minLength: 1
                    welcome_message:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                      minLength: 1
                thumbnail:
                  type:
                  - object
                  - 'null'
                  properties:
                    show_title:
                      type:
                      - boolean
                      - 'null'
                      not:
                        type:
                        - string
                        - 'null'
                    show_description:
                      type:
                      - boolean
                      - 'null'
                      not:
                        type:
                        - string
                        - 'null'
                seo:
                  type:
                  - object
                  - 'null'
                  properties:
                    title:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                      minLength: 1
                    description:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                      minLength: 1
                    image_url:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                      minLength: 1
                    image_path:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                      minLength: 1
                    block_crawler:
                      type:
                      - boolean
                      - 'null'
                      not:
                        type:
                        - string
                        - 'null'
            label:
              type:
              - object
              - 'null'
              properties:
                id:
                  type:
                  - integer
                  - string
                  - number
                  - 'null'
                title:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  minLength: 1
            subtitles:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  lang:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                    minLength: 1
                  src:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                    minLength: 1
            available_countries:
              type:
              - array
              - 'null'
              items:
                type:
                - string
                - number
                - integer
                - 'null'
            tags_attributes:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  id:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  _destroy:
                    type:
                    - boolean
                    - 'null'
                    not:
                      type:
                      - string
                      - 'null'
                  name:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                    minLength: 1
            prompts_attributes:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  id:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  title:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                    minLength: 1
                  content:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                    minLength: 1
                  _destroy:
                    type:
                    - boolean
                    - 'null'
                    not:
                      type:
                      - string
                      - 'null'
            attached_shareables_attributes:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  id:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  attachment_type:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                    minLength: 1
                  attachment_id:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  timestamp:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                    minLength: 1
                  _destroy:
                    type:
                    - boolean
                    - 'null'
                    not:
                      type:
                      - string
                      - 'null'
    adm__CreateUserInvalidRoleRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        country_code:
          type:
          - string
          - number
          - integer
          - 'null'
        language_code:
          type:
          - string
          - number
          - integer
          - 'null'
        user:
          type:
          - object
          - 'null'
          properties:
            email:
              type:
              - string
              - number
              - integer
              - 'null'
            first_name:
              type:
              - string
              - number
              - integer
              - 'null'
            last_name:
              type:
              - string
              - number
              - integer
              - 'null'
            password:
              type:
              - string
              - number
              - integer
              - 'null'
            avatar:
              type:
              - string
              - number
              - integer
              - 'null'
            phone:
              type:
              - string
              - number
              - integer
              - 'null'
            google_id:
              type:
              - string
              - number
              - integer
              - 'null'
            bio:
              type:
              - string
              - number
              - integer
              - 'null'
            facebook:
              type:
              - string
              - number
              - integer
              - 'null'
            instagram:
              type:
              - string
              - number
              - integer
              - 'null'
            twitter:
              type:
              - string
              - number
              - integer
              - 'null'
            linkedin:
              type:
              - string
              - number
              - integer
              - 'null'
            whatsapp:
              type:
              - string
              - number
              - integer
              - 'null'
            wechat:
              type:
              - string
              - number
              - integer
              - 'null'
            youtube:
              type:
              - string
              - number
              - integer
              - 'null'
            zip_code:
              type:
              - string
              - number
              - integer
              - 'null'
            dob:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date
            gender:
              type:
              - string
              - number
              - integer
              - 'null'
            time_zone:
              type:
              - string
              - number
              - integer
              - 'null'
            push_notifications:
              type:
              - boolean
              - 'null'
            email_notifications:
              type:
              - boolean
              - 'null'
            sms_notifications:
              type:
              - boolean
              - 'null'
            external_id:
              type:
              - string
              - number
              - integer
              - 'null'
            username:
              type:
              - string
              - number
              - integer
              - 'null'
            active:
              type:
              - boolean
              - 'null'
            role:
              type:
              - string
              - number
              - integer
              - 'null'
            admin_roles:
              type:
              - array
              - 'null'
              items:
                type:
                - integer
                - string
                - number
                - 'null'
            affiliate:
              $ref: '#/components/schemas/adm__AdminUserAffiliateRequest'
    adm__UpdateUserInvalidRoleRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        user:
          type:
          - object
          - 'null'
          properties:
            email:
              type:
              - string
              - number
              - integer
              - 'null'
            first_name:
              type:
              - string
              - number
              - integer
              - 'null'
            last_name:
              type:
              - string
              - number
              - integer
              - 'null'
            avatar:
              type:
              - string
              - number
              - integer
              - 'null'
            phone:
              type:
              - string
              - number
              - integer
              - 'null'
            google_id:
              type:
              - string
              - number
              - integer
              - 'null'
            bio:
              type:
              - string
              - number
              - integer
              - 'null'
            facebook:
              type:
              - string
              - number
              - integer
              - 'null'
            instagram:
              type:
              - string
              - number
              - integer
              - 'null'
            twitter:
              type:
              - string
              - number
              - integer
              - 'null'
            linkedin:
              type:
              - string
              - number
              - integer
              - 'null'
            whatsapp:
              type:
              - string
              - number
              - integer
              - 'null'
            wechat:
              type:
              - string
              - number
              - integer
              - 'null'
            youtube:
              type:
              - string
              - number
              - integer
              - 'null'
            zip_code:
              type:
              - string
              - number
              - integer
              - 'null'
            dob:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date
            gender:
              type:
              - string
              - number
              - integer
              - 'null'
            time_zone:
              type:
              - string
              - number
              - integer
              - 'null'
            push_notifications:
              type:
              - boolean
              - 'null'
            email_notifications:
              type:
              - boolean
              - 'null'
            sms_notifications:
              type:
              - boolean
              - 'null'
            external_id:
              type:
              - string
              - number
              - integer
              - 'null'
            username:
              type:
              - string
              - number
              - integer
              - 'null'
            active:
              type:
              - boolean
              - 'null'
            rank_id:
              type:
              - integer
              - 'null'
              - string
              - number
            role:
              type:
              - string
              - number
              - integer
              - 'null'
            admin_roles:
              type:
              - array
              - 'null'
              items:
                type:
                - integer
                - string
                - number
                - 'null'
            affiliate:
              $ref: '#/components/schemas/adm__AdminUserAffiliateRequest'
    adm__JsonValue:
      description: Any valid JSON value for provider, integration, theme, metadata, or other dynamic payloads whose keys are
        not fixed by the API contract.
      anyOf:
      - type: string
      - type: number
      - type: boolean
      - type: 'null'
      - type: array
        items:
          $ref: '#/components/schemas/adm__JsonValue'
      - type: object
        additionalProperties:
          $ref: '#/components/schemas/adm__JsonValue'
    adm__ErrorValue:
      description: A validation or API error value.
      anyOf:
      - type: string
      - type: array
        items:
          type: string
      - type: object
        additionalProperties:
          $ref: '#/components/schemas/adm__JsonValue'
    adm__ErrorBag:
      description: Validation errors keyed by field, a list of errors, a single error message, or null when no structured
        error details are available.
      anyOf:
      - type: string
      - type: array
        items:
          $ref: '#/components/schemas/adm__ErrorValue'
      - type: object
        additionalProperties:
          $ref: '#/components/schemas/adm__ErrorValue'
      - type: 'null'
    adm__ErrorMessage:
      description: An API error message represented as text or structured JSON.
      anyOf:
      - type: string
      - $ref: '#/components/schemas/adm__ErrorBag'
      - type: 'null'
    adm__StandardErrorResponse:
      description: Common legacy error response envelope. Older endpoints may return one or more of these fields depending
        on the controller path.
      type: object
      properties:
        message:
          type: string
        error:
          $ref: '#/components/schemas/adm__ErrorMessage'
        error_message:
          $ref: '#/components/schemas/adm__ErrorMessage'
        errors:
          $ref: '#/components/schemas/adm__ErrorBag'
        meta:
          $ref: '#/components/schemas/adm__Meta'
      additionalProperties:
        $ref: '#/components/schemas/adm__JsonValue'
    adm__StandardUnauthorizedResponse:
      description: Common legacy unauthorized response envelope.
      allOf:
      - $ref: '#/components/schemas/adm__StandardErrorResponse'
    adm__CreateMediaComplianceRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        compliance:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/adm__JsonValue'
    adm__CreatePageApiRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        page:
          type:
          - object
          - 'null'
          properties:
            title:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Title of the page
            label:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Label for categorizing the page
            display_tag:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Tag to be displayed on the page
            stripped_description:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Plain text description without formatting
            image_url:
              type:
              - string
              - number
              - integer
              - 'null'
              description: URL of the page's featured image
            source:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Origin or tool used to create the page
            publish:
              type:
              - boolean
              - 'null'
              description: Whether the page is published
            prompts_enabled:
              type:
              - boolean
              - 'null'
              description: Whether prompts are enabled on the page
            json:
              type:
              - string
              - number
              - integer
              - 'null'
              description: JSON data associated with the page
            use_search_engine:
              type:
              - boolean
              - 'null'
              description: Whether the page should be indexed by search engines
            show_on_site_search:
              type:
              - boolean
              - 'null'
              description: Whether the page appears in site search results
            email:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Email address associated with the page
            page_content:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Content of the page
            countries:
              type:
              - array
              - 'null'
              items:
                type:
                - string
                - number
                - integer
                - 'null'
              description: List of country codes where the page is available
            metadata:
              type:
              - object
              - 'null'
              description: Additional data associated with the page
              additionalProperties:
                $ref: '#/components/schemas/adm__JsonValue'
            search_engine_optimizer:
              type:
              - object
              - 'null'
              properties:
                title:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  description: Page title optimized for search engines
                description:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  description: Page description optimized for search engines
                image_url:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  description: Image URL optimized for search engines
              description: SEO settings for the page
            open_graph:
              type:
              - object
              - 'null'
              properties:
                title:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  description: Title for Open Graph sharing
                description:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  description: Description for Open Graph sharing
                image_url:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  description: Image URL for Open Graph sharing
              description: Open Graph metadata for social media sharing
            content:
              type:
              - string
              - number
              - integer
              - 'null'
              description: HTML content of the page
            variables:
              type:
              - object
              - 'null'
              description: Variables for dynamic content substitution
              additionalProperties:
                $ref: '#/components/schemas/adm__JsonValue'
            stylesheet:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Custom CSS styling for the page
            translations:
              type:
              - object
              - 'null'
              description: Translations for the page
              additionalProperties:
                $ref: '#/components/schemas/adm__JsonValue'
            taggings_attributes:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  tag_id:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                    description: ID of the tag to associate with the page
              description: Tags to associate with the page
          description: Page attributes
      description: Create request payload
    adm__CreatePointsLedgerRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        points_ledger:
          type:
          - object
          - 'null'
          properties:
            amount:
              type:
              - integer
              - string
              - number
              - 'null'
              description: Amount of points to add (positive) or subtract (negative)
            idempotency_key:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Has to be unique per request to prevent duplicate entries
            metadata:
              type:
              - object
              - 'null'
              description: Metadata to store information about the reason/source of the points credit/debit
              additionalProperties:
                $ref: '#/components/schemas/adm__JsonValue'
            skip_webhooks:
              type:
              - boolean
              - 'null'
              description: When true, skips webhook broadcasts for point_wallet_updated and point_update_reward events. Useful
                for bulk imports, internal sync operations, or avoiding duplicate notifications.
    adm__CreateProductLighthouseRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        lighthouse:
          type:
          - object
          - 'null'
          properties:
            scanned_at:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
            result:
              type:
              - object
              - 'null'
              description: Full Lighthouse API response from Google PageSpeed Insights
              additionalProperties:
                $ref: '#/components/schemas/adm__JsonValue'
    adm__CreateUserInvalidRoleResponse201ApplicationJsonSchema:
      type: object
      properties:
        user_company:
          title: UserCompany
          type: object
          properties:
            id:
              type: integer
            active:
              type: boolean
            affiliate:
              type:
              - object
              - 'null'
              properties:
                id:
                  type: integer
                credit:
                  type:
                  - string
                  - number
                  - 'null'
                email:
                  type:
                  - string
                  - 'null'
                external_id:
                  type:
                  - string
                  - 'null'
                username:
                  type:
                  - string
                  - 'null'
            company_id:
              type: integer
            created_at:
              type:
              - string
              - 'null'
            customer_id:
              type:
              - integer
              - 'null'
            email:
              type:
              - string
              - 'null'
            external_id:
              type:
              - string
              - 'null'
            first_name:
              type:
              - string
              - 'null'
            full_name:
              type:
              - string
              - 'null'
            image_url:
              type:
              - string
              - 'null'
            last_name:
              type:
              - string
              - 'null'
            legacy_number:
              type:
              - string
              - 'null'
            metadata:
              type: object
            mysite_url:
              type:
              - string
              - 'null'
            rank:
              type:
              - string
              - 'null'
            rank_id:
              type:
              - integer
              - 'null'
            roles:
              type: array
              items:
                type: object
            share_guid:
              type:
              - string
              - 'null'
            username:
              type:
              - string
              - 'null'
            user:
              title: User
              type: object
              properties:
                id:
                  type: integer
                addresses:
                  type: array
                  items:
                    type: object
                avatar:
                  type:
                  - string
                  - 'null'
                bio:
                  type:
                  - string
                  - 'null'
                country:
                  type:
                  - object
                  - 'null'
                  properties:
                    id:
                      type: integer
                    name:
                      type:
                      - string
                      - 'null'
                    iso:
                      type:
                      - string
                      - 'null'
                dnd:
                  type:
                  - string
                  - 'null'
                dob:
                  type:
                  - string
                  - 'null'
                email:
                  type:
                  - string
                  - 'null'
                facebook:
                  type:
                  - string
                  - 'null'
                first_name:
                  type:
                  - string
                  - 'null'
                gender:
                  type:
                  - string
                  - 'null'
                google_id:
                  type:
                  - string
                  - 'null'
                instagram:
                  type:
                  - string
                  - 'null'
                language:
                  type:
                  - object
                  - 'null'
                  properties:
                    id:
                      type: integer
                    name:
                      type:
                      - string
                      - 'null'
                    iso:
                      type:
                      - string
                      - 'null'
                last_name:
                  type:
                  - string
                  - 'null'
                linkedin:
                  type:
                  - string
                  - 'null'
                phone:
                  type:
                  - string
                  - 'null'
                time_zone:
                  type:
                  - string
                  - 'null'
                twitter:
                  type:
                  - string
                  - 'null'
                user_type:
                  type:
                  - string
                  - 'null'
                wechat:
                  type:
                  - string
                  - 'null'
                whatsapp:
                  type:
                  - string
                  - 'null'
                youtube:
                  type:
                  - string
                  - 'null'
                zip_code:
                  type:
                  - string
                  - 'null'
              additionalProperties: false
          additionalProperties: false
        meta:
          $ref: '#/components/schemas/adm__Meta'
      additionalProperties: false
    adm__PostApiV202506TrainingsRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        training:
          type:
          - object
          - 'null'
          properties:
            user_id:
              type:
              - integer
              - string
              - number
              - 'null'
            language:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            image_url:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            video_url:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            pdf_url:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            powerpoint_url:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            title:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            description:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            active:
              type:
              - boolean
              - 'null'
              not:
                type:
                - string
                - number
                - integer
                - 'null'
            compressed_image_url:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            prompts_enabled:
              type:
              - boolean
              - 'null'
              not:
                type:
                - string
                - number
                - integer
                - 'null'
            kind:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            visibility:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            cta_enabled:
              type:
              - boolean
              - 'null'
              not:
                type:
                - string
                - number
                - integer
                - 'null'
            cta_action_type:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            cta_url:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            cta_button_text:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            slug:
              type:
              - string
              - number
              - integer
              - 'null'
            custom_slug:
              type:
              - boolean
              - 'null'
              not:
                type:
                - string
                - number
                - integer
                - 'null'
            no_index:
              type:
              - boolean
              - 'null'
              not:
                type:
                - string
                - number
                - integer
                - 'null'
            display_comments:
              type:
              - boolean
              - 'null'
              not:
                type:
                - string
                - number
                - integer
                - 'null'
            category:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            display_shop:
              type:
              - boolean
              - 'null'
              not:
                type:
                - string
                - number
                - integer
                - 'null'
            dam_asset_id:
              type:
              - integer
              - string
              - number
              - 'null'
            dam_asset_code:
              type:
              - string
              - number
              - integer
              - 'null'
              minLength: 1
            lead_capture:
              type:
              - boolean
              - 'null'
              not:
                type:
                - string
                - number
                - integer
                - 'null'
            video_shopping_enabled:
              type:
              - boolean
              - 'null'
              not:
                type:
                - string
                - number
                - integer
                - 'null'
            application_theme_template_id:
              type:
              - integer
              - string
              - number
              - 'null'
            publish_at:
              type:
              - string
              - number
              - integer
              - 'null'
              format: time
            settings:
              type:
              - object
              - 'null'
              additionalProperties:
                $ref: '#/components/schemas/adm__JsonValue'
            label:
              type:
              - object
              - 'null'
              properties:
                id:
                  type:
                  - integer
                  - string
                  - number
                  - 'null'
                title:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  minLength: 1
            subtitles:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  lang:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                    minLength: 1
                  src:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                    minLength: 1
            available_countries:
              type:
              - array
              - 'null'
              items:
                type:
                - string
                - number
                - integer
                - 'null'
            tags_attributes:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  id:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  _destroy:
                    type:
                    - boolean
                    - 'null'
                    not:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                  name:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                    minLength: 1
            prompts_attributes:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  id:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  title:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                    minLength: 1
                  content:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                    minLength: 1
                  _destroy:
                    type:
                    - boolean
                    - 'null'
                    not:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
            attached_shareables_attributes:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  id:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  attachment_type:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                    minLength: 1
                  attachment_id:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  timestamp:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                    minLength: 1
                  _destroy:
                    type:
                    - boolean
                    - 'null'
                    not:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
    adm__UpdatePageApiRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        page:
          type:
          - object
          - 'null'
          properties:
            title:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Title of the page
            label:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Label for categorizing the page
            display_tag:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Tag to be displayed on the page
            stripped_description:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Plain text description without formatting
            image_url:
              type:
              - string
              - number
              - integer
              - 'null'
              description: URL of the page's featured image
            source:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Origin or tool used to create the page
            publish:
              type:
              - boolean
              - 'null'
              description: Whether the page is published
            prompts_enabled:
              type:
              - boolean
              - 'null'
              description: Whether prompts are enabled on the page
            json:
              type:
              - string
              - number
              - integer
              - 'null'
              description: JSON data associated with the page
            use_search_engine:
              type:
              - boolean
              - 'null'
              description: Whether the page should be indexed by search engines
            show_on_site_search:
              type:
              - boolean
              - 'null'
              description: Whether the page appears in site search results
            email:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Email address associated with the page
            countries:
              type:
              - array
              - 'null'
              items:
                type:
                - string
                - number
                - integer
                - 'null'
              description: List of country codes where the page is available
            metadata:
              type:
              - object
              - 'null'
              description: Additional data associated with the page
              additionalProperties:
                $ref: '#/components/schemas/adm__JsonValue'
            search_engine_optimizer:
              type:
              - object
              - 'null'
              properties:
                title:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  description: Page title optimized for search engines
                description:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  description: Page description optimized for search engines
                image_url:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  description: Image URL optimized for search engines
              description: SEO settings for the page
            open_graph:
              type:
              - object
              - 'null'
              properties:
                title:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  description: Title for Open Graph sharing
                description:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  description: Description for Open Graph sharing
                image_url:
                  type:
                  - string
                  - number
                  - integer
                  - 'null'
                  description: Image URL for Open Graph sharing
              description: Open Graph metadata for social media sharing
            content:
              type:
              - string
              - number
              - integer
              - 'null'
              description: HTML content of the page
            variables:
              type:
              - object
              - 'null'
              description: Variables for dynamic content substitution
              additionalProperties:
                $ref: '#/components/schemas/adm__JsonValue'
            stylesheet:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Custom CSS styling for the page
          description: Page attributes to update
      description: Update request payload
    adm__UpdateProductLighthouseRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        lighthouse:
          type:
          - object
          - 'null'
          properties:
            scanned_at:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
            result:
              type:
              - object
              - 'null'
              additionalProperties:
                $ref: '#/components/schemas/adm__JsonValue'
    adm__UserAppendMetadataFieldRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        metadata:
          type:
          - object
          - 'null'
          description: A JSON object that can store any custom data structure.
          additionalProperties:
            $ref: '#/components/schemas/adm__JsonValue'
    adm__AdminResourceScanResponse:
      type: object
      properties:
        message:
          type: string
        meta:
          type: object
          properties:
            request_id:
              type: string
            timestamp:
              type: string
              format: date-time
          required:
          - request_id
          - timestamp
          additionalProperties: false
        resource_id:
          type: integer
        resource_type:
          type: string
        scan_status:
          type: object
          properties:
            requested_at:
              type: string
              format: date-time
            status:
              type: string
          required:
          - requested_at
          - status
          additionalProperties: false
      required:
      - message
      - meta
      - resource_id
      - resource_type
      - scan_status
      additionalProperties: false
    adm__AdminPageMutationResponse:
      type: object
      properties:
        item:
          type: object
          properties:
[...]
