---
openapi: 3.1.0
info:
  title: Fluid Themes API
  version: v0
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: Bearer token authentication
  schemas:
    Meta:
      type: object
      properties:
        request_id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
    ErrorResponse:
      type: object
      required:
      - error_message
      - errors
      - meta
      properties:
        error_message:
          "$ref": "#/components/schemas/ErrorMessage"
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          "$ref": "#/components/schemas/Meta"
    UnauthorizedResponse:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    ApplicationTheme:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        status:
          type: string
          enum:
          - draft
          - published
          - development
          - active
          - importing
          - error
          description: Lifecycle state. `active` is the theme the storefront
            renders (at most one per company); `importing` and `error` belong to
            themes created by an import that is still running or has failed.
        source:
          type:
          - string
          - 'null'
        variables:
          anyOf:
          - type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
          - type: string
          - type: 'null'
        custom_stylesheet:
          type:
          - string
          - 'null'
          description: Deprecated theme-level custom CSS. Null when the company has moved theme stylesheets to theme-level assets; the value then lives in the theme's `styles.css` asset.
        global_stylesheet:
          type:
          - string
          - 'null'
          description: Deprecated theme-level global CSS. Null when the company has moved theme stylesheets to theme-level assets; the value then lives in the theme's `global_styles.css` asset.
        theme_stylesheet_tag_injected:
          type: boolean
          description: True when the theme's default layout renders `styles.css` and `global_styles.css` from theme-level assets.
        theme_stylesheet_columns_hidden:
          type: boolean
          description: True when the deprecated `custom_stylesheet` / `global_stylesheet` fields are hidden from this response. Use it to decide whether to show theme-level CSS editors.
        version:
          type:
          - string
          - 'null'
        company_id:
          type:
          - integer
          - 'null'
        cover_image:
          type:
          - string
          - 'null'
        outdated:
          type: boolean
        editor_url:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        default_home_template_id:
          type:
          - integer
          - 'null'
          description: ID of the theme's default active home page template. Only
            present on list responses requested with `include_default_home_template=true`.
        versions:
          type: array
          description: Edit history of the theme, newest first. Present on single-theme
            responses.
          items:
            type: object
            properties:
              version:
                type: integer
              created_at:
                type:
                - string
                - 'null'
                format: date-time
              published:
                type: boolean
                description: Whether this is the version the storefront serves.
              current:
                type: boolean
                description: Whether this is the latest edit.
              author_id:
                type:
                - integer
                - 'null'
              author_name:
                type:
                - string
                - 'null'
        application_theme_templates:
          type: array
          description: The theme's templates, including shared global templates,
            with their full Liquid content. Present on single-theme responses.
          items:
            type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
        images:
          type: array
          description: Cover images, ordered by `position`. Present on single-theme
            responses.
          items:
            type: object
            properties:
              id:
                type: integer
              url:
                type:
                - string
                - 'null'
              position:
                type:
                - integer
                - 'null'
        git_sync_repos:
          type: array
          description: Git repositories the theme is mirrored to, primary first.
            Empty when the theme has none. Present on single-theme responses.
          items:
            type: object
            properties:
              id:
                type: integer
              role:
                type:
                - string
                - 'null'
              status:
                type:
                - string
                - 'null'
              repo_full_name:
                type:
                - string
                - 'null'
              default_branch:
                type:
                - string
                - 'null'
              last_push_at:
                type:
                - string
                - 'null'
                format: date-time
              last_pull_at:
                type:
                - string
                - 'null'
                format: date-time
              status_updated_at:
                type:
                - string
                - 'null'
                format: date-time
              last_error:
                type:
                - object
                - 'null'
                additionalProperties:
                  "$ref": "#/components/schemas/JsonValue"
      required:
      - id
      - name
      - status
      - outdated
      - created_at
      - updated_at
    ApplicationThemeResource:
      type: object
      properties:
        resource_type:
          type:
          - string
          - 'null'
        resource_id:
          type:
          - integer
          - 'null'
        key:
          type: string
        content:
          anyOf:
          - type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
          - type: string
          - type: 'null'
        checksum:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
      required:
      - key
      - checksum
    ApplicationThemeGitConnection:
      type: object
      description: The Git repository a theme is connected to.
      properties:
        repo_full_name:
          type: string
          description: Repository identifier, as `org/name`
          example: fluid-gitsync/theme-873
        status:
          type: string
          description: Connection state. `provisioning` means the upstream repository
            is still being created.
          enum:
          - provisioning
          - connected
          - pushing
          - error
          - disconnected
        default_branch:
          type: string
          example: main
      required:
      - repo_full_name
      - status
      - default_branch
    ApplicationThemeGitArchive:
      type: object
      description: A short-lived, pre-signed download URL for a theme version.
      properties:
        url:
          type: string
          description: Pre-signed tarball URL. Fetch it directly from the provider
            with no Authorization header.
        expires_at:
          type: string
          format: date-time
          description: After this the URL stops working and must be re-requested.
      required:
      - url
      - expires_at
    ApplicationThemeGitVersion:
      type: object
      description: One commit in a theme's published version history.
      properties:
        sha:
          type: string
          description: Full commit SHA
          example: a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0
        short_sha:
          type: string
          description: Abbreviated commit SHA, for display
          example: a1b2c3d
        message:
          type: string
          description: Commit message. Fluid-authored publishes name the acting user
            here.
          example: 'Ana Diaz: Publish theme Aurora (0192f4c1-8a3b-7c4d-9e2f-1a2b3c4d5e6f)'
        author_name:
          type:
          - string
          - 'null'
          description: Committing identity. For Fluid-authored publishes this is the
            Fluid GitHub App, not the person who published.
          example: mist-we-commerce[bot]
        committed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the commit was authored
          example: '2026-08-04T10:00:00Z'
        html_url:
          type:
          - string
          - 'null'
          description: Link to the commit on the Git provider
          example: https://github.com/fluid-gitsync/theme-877/commit/a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0
        current:
          type: boolean
          description: Whether this commit is the one the repository was last synced
            to. False for every entry when nothing has synced yet.
      required:
      - sha
      - short_sha
      - message
      - author_name
      - committed_at
      - html_url
      - current
    AvailableThemeable:
      type: object
      description: A company resource that a template can be assigned to.
      properties:
        id:
          type: integer
        slug:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        image:
          type:
          - string
          - 'null'
          description: Image URL, when the resource type has one.
        themeable_type:
          type: string
          description: The requested themeable type, lowercased.
        application_theme_template_id:
          type:
          - integer
          - 'null'
          description: Template currently assigned to this resource, if any.
    PaginationMeta:
      type: object
      properties:
        total_count:
          type: integer
        total_pages:
          type: integer
        current_page:
          type: integer
        per_page:
          type: integer
    PostApiApplicationThemeTemplatesRequestBodyApplicationJsonSchema:
      type: object
      required:
      - name
      - themeable_type
      properties:
        name:
          type: string
        themeable_type:
          type: string
        content:
          type:
          - string
          - 'null'
        stylesheet:
          type:
          - string
          - 'null'
        variables:
          type:
          - object
          - 'null'
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        translations:
          type:
          - object
          - 'null'
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        hide_navbar:
          type:
          - boolean
          - 'null'
        use_active_application_theme:
          type:
          - boolean
          - 'null'
        country_ids:
          type: array
          items:
            type: integer
    PatchApiApplicationThemeTemplatesByIdRequestBodyApplicationJsonSchema:
      type: object
      required:
      - application_theme_template
      properties:
        application_theme_template:
          "$ref": "#/components/schemas/ApplicationThemeTemplateRequest"
        publish:
          type: boolean
    GetApiApplicationThemeTemplatesByIdAvailableThemeablesResponse200ApplicationJsonSchema:
      type: object
      properties:
        available_themeables:
          type: array
          description: List of themeables that use the specified template
          items:
            type: object
            properties:
              id:
                type: integer
                description: ID of the themeable
              title:
                type:
                - string
                - 'null'
                description: Title of the themeable
              sku:
                type:
                - string
                - 'null'
                description: SKU, for themeable types that have one (products).
              image:
                type:
                - string
                - 'null'
                description: Image URL for the themeable
              themeable_type:
                type: string
                description: Type of the themeable
              application_theme_template_id:
                type:
                - integer
                - 'null'
                description: ID of the template that the themeable is assigned to
        meta:
          type: object
          description: Metadata about the request and response
          properties:
            request_id:
              type:
              - string
              - 'null'
              description: Unique identifier for the request
            timestamp:
              type:
              - string
              - 'null'
              description: Time when the request was processed
            pagination:
              "$ref": "#/components/schemas/PaginationMeta"
    PostApiApplicationThemeTemplatesByIdRenderPageResponse200ApplicationJsonSchema:
      type: object
      properties:
        liquid_content:
          type:
          - string
          - 'null'
        html_content:
          type: string
        page_stylesheet:
          type: string
          description: Stylesheet for the rendered page. Includes all the css needed by the page.
        template_stylesheet:
          type: string
          description: Stylesheet for the template itself.
        preview_audience:
          "$ref": "#/components/schemas/PreviewAudienceResponse"
        preview_url:
          type:
          - string
          - 'null'
          description: Preview URL for the rendered resource. System screens return their account-subdomain URL without a template ID or version.
        meta:
          "$ref": "#/components/schemas/Meta"
    PreviewAudienceRequest:
      description: Builder-only synthetic viewer. Does not authenticate a member.
      oneOf:
      - type: object
        additionalProperties: false
        required: [kind]
        properties:
          kind:
            type: string
            const: guest
            description: No role selected in the builder. Clears sample member context and skips preview access rules; live member access is unchanged.
      - type: object
        additionalProperties: false
        required: [kind, member_type_id]
        properties:
          kind:
            type: string
            const: sample_member
          member_type_id:
            type: string
            description: Active member-type UUID in the authenticated company.
    PreviewAudienceResponse:
      type: object
      required: [kind, member_type_id, matched_site_id, selected_site_accessible]
      properties:
        kind:
          type: string
          enum: [guest, sample_member]
        member_type_id:
          type: [string, 'null']
        matched_site_id:
          type: [integer, 'null']
          description: Site matching the sample country and member type, or null for Guest/no match.
        selected_site_accessible:
          type: [boolean, 'null']
          description: Whether the selected role matches the page's site; null for Guest (no role selected) or non-member pages. When false, html_content contains an access notice instead of the page, while liquid_content preserves the editable source.
    PostApiApplicationThemeTemplatesByIdRenderPageRequestBodyApplicationJsonSchema:
      type: object
      properties:
        preview_audience:
          "$ref": "#/components/schemas/PreviewAudienceRequest"
        resources:
          type: array
          items:
            type: object
            required:
            - id
            - type
            properties:
              id:
                type: integer
                description: ID of the resource to render
              type:
                type: string
                description: Type of the resource to render
        version:
          type: integer
        country_id:
          type:
          - integer
          - 'null'
          description: Render the page as a visitor from this active company
            country. Falls back to the company default when absent, unknown,
            inactive, or not enabled for the company. When preview_audience is
            supplied, an unavailable explicit country ID returns 404 instead;
            an omitted or null ID still uses the company default.
        language_id:
          type:
          - integer
          - 'null'
          description: Render the page in this active company language. Falls back
            to the company default when absent, unknown, inactive, or not enabled
            for the company. When preview_audience is supplied, an unavailable
            explicit language ID returns 404 instead; an omitted or null ID
            still uses the company default.
            Content not yet translated for the selected language renders its
            English version.
        navbar_template_id:
          type:
          - integer
          - 'null'
          description: Pin a specific navbar template to preview alongside this
            page. When set, the pinned template wins over the country-scoped
            auto-pick unless its own country tags exclude the preview country.
        footer_template_id:
          type:
          - integer
          - 'null'
          description: Pin a specific footer template to preview alongside this
            page. Same semantics as navbar_template_id.
        translations:
          type: object
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        application_theme_template:
          type: object
          properties:
            content:
              type: string
            stylesheet:
              type: string
            variables:
              type: object
              additionalProperties:
                "$ref": "#/components/schemas/JsonValue"
            hide_navbar:
              type: boolean
            use_active_application_theme:
              type: boolean
            header_content:
              type: string
            footer_content:
              type: string
            settings_data:
              type: string
            settings_schema:
              type: string
            layout_content:
              type: string
    PostApiApplicationThemeTemplatesByIdRenderSectionResponse200ApplicationJsonSchema:
      type: object
      properties:
        html_content:
          type: string
        meta:
          "$ref": "#/components/schemas/Meta"
    PutApiApplicationThemeTemplatesByIdThemeablesUpdateResponse200ApplicationJsonSchema:
      type: object
      properties:
        removed_count:
          type: integer
          description: Number of themeables unassigned from this template
        updated_count:
          type: integer
          description: Number of themeables assigned to this template
        meta:
          "$ref": "#/components/schemas/Meta"
    ImportApplicationThemeFromZipRequestBodyApplicationJsonSchema:
      type: object
      required:
      - zip_file_url
      properties:
        zip_file_url:
          type: string
          description: URL to a zip file containing a theme
        name:
          type: string
        theme_type:
          type: string
          enum:
          - fluid
          - shopify
    ThemeMutationResponse:
      type: object
      properties:
        message:
          type: string
        meta:
          "$ref": "#/components/schemas/Meta"
    UpdateApplicationThemeRequestBodyApplicationJsonSchema:
      type: object
      required:
      - application_theme
      properties:
        application_theme:
          type: object
          properties:
            name:
              type: string
              description: Name of the application theme
            description:
              type: string
              description: Description of the application theme
            status:
              type: string
              description: Status of the application theme
            active:
              type: boolean
            variables:
              type: string
              description: Theme variables in JSON format
            custom_stylesheet:
              type: string
              description: Custom CSS for the theme
            global_stylesheet:
              type: string
              description: Global CSS for the theme
            themeable_type:
              type: string
            images_attributes:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                  image_url:
                    type: string
                  position:
                    type: integer
        publish:
          type: string
    PostApiApplicationThemesByIdPublishResponse404ApplicationJsonSchema:
      type: object
      properties:
        status:
          type: string
        data:
          type: object
          properties:
            error:
              type: string
    BulkDestroyFileResourcesResponse200ApplicationJsonSchema:
      type: object
      properties:
        ids:
          type: array
          items:
            type: integer
        meta:
          type: object
          properties:
            request_id:
              type:
              - string
              - 'null'
            timestamp:
              type:
              - string
              - 'null'
            destroyed_count:
              type: integer
    BulkDestroyFileResourcesRequestBodyApplicationJsonSchema:
      type: object
      required:
      - ids
      properties:
        ids:
          type: array
          items:
            type: integer
    DestroyFileResourceResponse200ApplicationJsonSchema:
      type: object
      properties:
        id:
          type: integer
        meta:
          "$ref": "#/components/schemas/Meta"
    CreateRootThemeRequestBodyApplicationJsonSchema:
      type: object
      required:
      - zip_file_url
      - name
      properties:
        zip_file_url:
          type: string
          description: URL for the uploaded zip file
        name:
          type: string
          description: Name of the application theme
        changelog:
          type: string
          description: Changelog for the application theme
        demo_url:
          type: string
        description:
          type: string
    UpdateRootThemeRequestBodyApplicationJsonSchema:
      type: object
      properties:
        zip_file_url:
          type: string
          description: URL for the updated zip file
        changelog:
          type: string
          description: Changelog for the application theme
        demo_url:
          type: string
        description:
          type: string
        status:
          type: string
        name:
          type: string
    UpdateRootThemeStatusRequestBodyApplicationJsonSchema:
      type: object
      required:
      - theme_version_id
      - approved
      properties:
        theme_version_id:
          type: integer
          description: ID of the theme version to set status for
        approved:
          type: boolean
          description: Approval status to set for the theme version
    GetApiThemeRegionRulesResponse200ApplicationJsonSchema:
      type: object
      properties:
        theme_region_rules:
          type: array
          items:
            "$ref": "#/components/schemas/ThemeRegionRule"
        meta:
          type: object
          properties:
            request_id:
              type:
              - string
              - 'null'
            timestamp:
              type:
              - string
              - 'null'
              format: date-time
            current_page:
              type: integer
            total_pages:
              type: integer
            total_count:
              type: integer
    ThemeRegionRule:
      type: object
      properties:
        id:
          type: integer
        company_id:
          type: integer
        application_theme_id:
          type:
          - integer
          - 'null'
        application_theme_template_id:
          type:
          - integer
          - 'null'
        route_path:
          type: string
        region_code:
          type: string
        priority:
          type: integer
        active:
          type: boolean
        redirect_type:
          type:
          - string
          - 'null'
        redirect_url:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        resource_type:
          type:
          - string
          - 'null'
        resource_id:
          type:
          - integer
          - 'null'
        route_kind:
          type: string
          enum:
          - credit_prefixed
          - non_credit
          description: Whether the route is served behind a rep credit prefix (`credit_prefixed`,
            `/<credit>/<route_path>`) or directly at `/<route_path>` (`non_credit`). Only
            custom routes can be `non_credit`.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ThemeRegionRuleRequestBodyApplicationJsonSchema:
      type: object
      required:
      - theme_region_rule
      properties:
        theme_region_rule:
          type: object
          properties:
            route_path:
              type: string
            region_code:
              type: string
            application_theme_template_id:
              type:
              - integer
              - 'null'
            priority:
              type: integer
              minimum: 0
            active:
              type: boolean
            redirect_type:
              type:
              - string
              - 'null'
            redirect_url:
              type:
              - string
              - 'null'
            description:
              type:
              - string
              - 'null'
            resource_type:
              type:
              - string
              - 'null'
            resource_id:
              type:
              - integer
              - 'null'
            route_kind:
              type: string
              enum:
              - credit_prefixed
              - non_credit
              description: Whether the route is served behind a rep credit prefix (`credit_prefixed`)
                or directly at `/<route_path>` (`non_credit`). Only custom routes can be
                `non_credit`.
    ThemeRegionRuleCreateRequestBodyApplicationJsonSchema:
      type: object
      required:
      - theme_region_rule
      properties:
        theme_region_rule:
          type: object
          required:
          - route_path
          - region_code
          properties:
            route_path:
              type: string
            region_code:
              type: string
            application_theme_id:
              type:
              - integer
              - 'null'
            application_theme_template_id:
              type:
              - integer
              - 'null'
            priority:
              type: integer
              minimum: 0
            active:
              type: boolean
            redirect_type:
              type:
              - string
              - 'null'
            redirect_url:
              type:
              - string
              - 'null'
            description:
              type:
              - string
              - 'null'
            resource_type:
              type:
              - string
              - 'null'
            resource_id:
              type:
              - integer
              - 'null'
            route_kind:
              type: string
              enum:
              - credit_prefixed
              - non_credit
              description: Whether the route is served behind a rep credit prefix (`credit_prefixed`)
                or directly at `/<route_path>` (`non_credit`). Only custom routes can be
                `non_credit`.
    ThemeRegionRuleResponse:
      type: object
      required:
      - theme_region_rule
      - meta
      properties:
        theme_region_rule:
          "$ref": "#/components/schemas/ThemeRegionRule"
        meta:
          "$ref": "#/components/schemas/Meta"
    JsonValue:
      description: Any valid JSON value for provider, integration, theme, metadata,
        or other dynamic payloads whose keys are not fixed by the API contract.
      anyOf:
      - type: string
      - type: number
      - type: boolean
      - type: 'null'
      - type: array
        items:
          "$ref": "#/components/schemas/JsonValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorValue:
      description: A validation or API error value.
      anyOf:
      - type: string
      - type: array
        items:
          type: string
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorBag:
      description: Validation errors keyed by field, a list of errors, a single error
        message, or null when no structured error details are available.
      anyOf:
      - type: string
      - type: array
        items:
          "$ref": "#/components/schemas/ErrorValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/ErrorValue"
      - type: 'null'
    ErrorMessage:
      description: An API error message represented as text or structured JSON.
      anyOf:
      - type: string
      - "$ref": "#/components/schemas/ErrorBag"
      - type: 'null'
    StandardErrorResponse:
      description: Common legacy error response envelope. Older endpoints may return
        one or more of these fields depending on the controller path.
      type: object
      properties:
        message:
          type: string
        error:
          "$ref": "#/components/schemas/ErrorMessage"
        error_message:
          "$ref": "#/components/schemas/ErrorMessage"
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          "$ref": "#/components/schemas/Meta"
      additionalProperties:
        "$ref": "#/components/schemas/JsonValue"
    StandardUnauthorizedResponse:
      description: Common legacy unauthorized response envelope.
      allOf:
      - "$ref": "#/components/schemas/StandardErrorResponse"
    BulkCreateFileResourcesRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        file_resources:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
    CloneApplicationThemeResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        application_theme:
          type:
          - object
          - 'null'
          properties:
            id:
              type:
              - integer
              - string
              - number
              - 'null'
            company_id:
              type:
              - integer
              - string
              - number
              - 'null'
            name:
              type:
              - string
              - number
              - integer
              - 'null'
            description:
              type:
              - string
              - number
              - integer
              - 'null'
            cover_image:
              type:
              - string
              - number
              - integer
              - 'null'
            status:
              type:
              - string
              - number
              - integer
              - 'null'
            variables:
              type:
              - string
              - number
              - integer
              - 'null'
            custom_stylesheet:
              type:
              - string
              - number
              - integer
              - 'null'
            global_stylesheet:
              type:
              - string
              - number
              - integer
              - 'null'
            created_at:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
            updated_at:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
            version:
              type:
              - string
              - number
              - integer
              - 'null'
            outdated:
              type:
              - boolean
              - 'null'
            versions:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                additionalProperties:
                  "$ref": "#/components/schemas/JsonValue"
            application_theme_templates:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                additionalProperties:
                  "$ref": "#/components/schemas/JsonValue"
            images:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                additionalProperties:
                  "$ref": "#/components/schemas/JsonValue"
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    CreateApplicationThemeResponse201ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        application_theme:
          type:
          - object
          - 'null'
          properties:
            id:
              type:
              - integer
              - string
              - number
              - 'null'
            company_id:
              type:
              - integer
              - string
              - number
              - 'null'
            name:
              type:
              - string
              - number
              - integer
              - 'null'
            description:
              type:
              - object
              - 'null'
              additionalProperties:
                "$ref": "#/components/schemas/JsonValue"
            cover_image:
              type:
              - string
              - number
              - integer
              - 'null'
            status:
              type:
              - string
              - number
              - integer
              - 'null'
            variables:
              type:
              - string
              - number
              - integer
              - 'null'
            custom_stylesheet:
              type:
              - string
              - number
              - integer
              - 'null'
            global_stylesheet:
              type:
              - string
              - number
              - integer
              - 'null'
            created_at:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
            updated_at:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
            version:
              type:
              - string
              - number
              - integer
              - 'null'
            outdated:
              type:
              - boolean
              - 'null'
            versions:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                additionalProperties:
                  "$ref": "#/components/schemas/JsonValue"
            application_theme_templates:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                additionalProperties:
                  "$ref": "#/components/schemas/JsonValue"
            images:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                properties:
                  id:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  url:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  position:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    ThemeFileResource:
      title: FileResource
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
        url:
          type:
          - string
          - number
          - integer
          - 'null'
        preview_image_url:
          type:
          - string
          - number
          - integer
          - 'null'
        alt_text:
          type:
          - string
          - number
          - integer
          - 'null'
        handle:
          type:
          - string
          - number
          - integer
          - 'null'
        content_type:
          type:
          - string
          - number
          - integer
          - 'null'
        content_size:
          type:
          - integer
          - string
          - number
          - 'null'
          minimum: 1
          maximum: 2147483647
        content:
          type:
          - string
          - number
          - integer
          - 'null'
        relateable_id:
          type:
          - integer
          - string
          - number
          - 'null'
        relateable_type:
          type:
          - string
          - number
          - integer
          - 'null'
        metadata:
          type:
          - object
          - 'null'
          default: "{}"
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        created_at:
          type:
          - string
          - number
          - integer
          - 'null'
          format: date-time
        updated_at:
          type:
          - string
          - number
          - integer
          - 'null'
          format: date-time
        filename:
          type:
          - string
          - number
          - integer
          - 'null'
          pattern: "^[^/\\0]+$"
        version:
          type:
          - string
          - number
          - integer
          - 'null'
        non_binary:
          type:
          - boolean
          - 'null'
        dam_ready:
          type:
          - boolean
          - 'null'
        dam_processing_status:
          type:
          - string
          - number
          - integer
          - 'null'
        dam_tags:
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/JsonValue"
        dam_upload_queued:
          type:
          - boolean
          - 'null'
    CreateFileResourceRequestBodyApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        file_resource:
          "$ref": "#/components/schemas/ThemeFileResource"
    CreateFileResourceResponse201ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        file_resource:
          "$ref": "#/components/schemas/ThemeFileResource"
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    GetApiApplicationThemeTemplatesByIdResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        application_theme_template:
          type:
          - object
          - 'null'
          properties:
            id:
              type:
              - integer
              - string
              - number
              - 'null'
            application_theme_id:
              type:
              - integer
              - string
              - number
              - 'null'
            company_id:
              type:
              - integer
              - string
              - number
              - 'null'
            global:
              type:
              - boolean
              - 'null'
            name:
              type:
              - string
              - number
              - integer
              - 'null'
            default:
              type:
              - boolean
              - 'null'
            content:
              type:
              - string
              - number
              - integer
              - 'null'
            stylesheet:
              type:
              - string
              - number
              - integer
              - 'null'
            stylesheet_tag_injected:
              type: boolean
              description: True when the template's content already renders its stylesheet from a theme-level asset. Use it to hide the per-template CSS editor.
            stylesheet_column_hidden:
              type: boolean
              description: True when the deprecated `stylesheet` field is hidden from this response, either because it is blank or because the company has moved template stylesheets to theme-level assets. Use it to decide whether to show the per-template CSS editor.
            variables:
              type:
              - object
              - 'null'
              additionalProperties:
                "$ref": "#/components/schemas/JsonValue"
            translations:
              type:
              - object
              - 'null'
              additionalProperties:
                "$ref": "#/components/schemas/JsonValue"
            hide_navbar:
              type:
              - boolean
              - 'null'
            use_active_application_theme:
              type:
              - boolean
              - 'null'
            country_ids:
              type:
              - array
              - 'null'
              items:
                type: integer
            themeable_type:
              type:
              - string
              - number
              - integer
              - 'null'
            status:
              type:
              - string
              - number
              - integer
              - 'null'
            created_at:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
            updated_at:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
            versions:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                additionalProperties:
                  "$ref": "#/components/schemas/JsonValue"
                properties:
                  version:
                    type: integer
                    description: Version number, newest first.
                  created_at:
                    type:
                    - string
                    - 'null'
                    format: date-time
                  published:
                    type: boolean
                    description: Whether this is the published version.
                  current:
                    type: boolean
                    description: Whether this is the current working version.
                  author_id:
                    type:
                    - integer
                    - 'null'
                    description: User who made the change, when known.
                  author_name:
                    type:
                    - string
                    - 'null'
              description: History of page versions
            navbar_template_id:
              type:
              - integer
              - string
              - number
              - 'null'
              description: ID of the navbar template associated with this theme template
            footer_template_id:
              type:
              - integer
              - string
              - number
              - 'null'
              description: ID of the footer template associated with this theme template
            assigned_themeable_ids:
              type:
              - array
              - 'null'
              items:
                type:
                - integer
                - string
                - number
                - 'null'
            url:
              type:
              - string
              - number
              - integer
              - 'null'
            available_theme_blocks:
              type:
              - array
              - 'null'
              description: For section templates that accept theme blocks, the resolved block schemas (name, settings, presets). Empty for other templates.
              items:
                type: object
                additionalProperties:
                  "$ref": "#/components/schemas/JsonValue"
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
    GetApiApplicationThemeTemplatesResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        templates:
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/ApplicationThemeTemplate"
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
    GetThemeAssetsResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        file_resources:
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/ThemeFileResource"
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    GetThemeTemplateAvailableVariablesApiResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        available_variables:
          type:
          - object
          - 'null'
          description: Object containing available template variables
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Unique identifier for the request
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
              description: Time when the request was processed
          description: Metadata about the request and response
      description: Successful response with available variables and metadata
    ImportApplicationThemeFromZipResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        application_theme:
          type:
          - object
          - 'null'
          properties:
            id:
              type:
              - integer
              - string
              - number
              - 'null'
            company_id:
              type:
              - integer
              - string
              - number
              - 'null'
            name:
              type:
              - string
              - number
              - integer
              - 'null'
            description:
              type:
              - string
              - number
              - integer
              - 'null'
            cover_image:
              type:
              - string
              - number
              - integer
              - 'null'
            status:
              type:
              - string
              - number
              - integer
              - 'null'
            variables:
              type:
              - string
              - number
              - integer
              - 'null'
            custom_stylesheet:
              type:
              - string
              - number
              - integer
              - 'null'
            global_stylesheet:
              type:
              - string
              - number
              - integer
              - 'null'
            created_at:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
            updated_at:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
            application_theme_templates:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                additionalProperties:
                  "$ref": "#/components/schemas/JsonValue"
            images:
              type:
              - array
              - 'null'
              items:
                type:
                - object
                - 'null'
                additionalProperties:
                  "$ref": "#/components/schemas/JsonValue"
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    ListFileResourcesResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        file_resources:
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/ThemeFileResource"
        meta:
          type:
          - object
          - 'null'
          properties:
            total_count:
              type:
              - integer
              - string
              - number
              - 'null'
            total_pages:
              type:
              - integer
              - string
              - number
              - 'null'
            current_page:
              type:
              - integer
              - string
              - number
              - 'null'
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    ListRootThemesResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        root_themes:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            properties:
              id:
                type:
                - integer
                - string
                - number
                - 'null'
              name:
                type:
                - string
                - number
                - integer
                - 'null'
              description:
                type:
                - object
                - 'null'
                properties:
                  id:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  name:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  body:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  record_type:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                  record_id:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  created_at:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                    format: date-time
                  updated_at:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
                    format: date-time
                  locale:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
              cover_image:
                type:
                - string
                - number
                - integer
                - 'null'
              created_at:
                type:
                - string
                - number
                - integer
                - 'null'
                format: date-time
              updated_at:
                type:
                - string
                - number
                - integer
                - 'null'
                format: date-time
              version:
                type:
                - string
                - number
                - integer
                - 'null'
              demo_url:
                type:
                - string
                - number
                - integer
                - 'null'
              status:
                type:
                - string
                - number
                - integer
                - 'null'
              images:
                type:
                - array
                - 'null'
                items:
                  type:
                  - object
                  - 'null'
                  properties:
                    id:
                      type:
                      - integer
                      - string
                      - number
                      - 'null'
                    url:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                    position:
                      type:
                      - integer
                      - string
                      - number
                      - 'null'
              theme_versions:
                type:
                - array
                - 'null'
                items:
                  type:
                  - object
                  - 'null'
                  properties:
                    id:
                      type:
                      - integer
                      - string
                      - number
                      - 'null'
                    version:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                    zip_file_url:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                    released_at:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                      format: date-time
                    changelog:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
                    status:
                      type:
                      - string
                      - number
                      - integer
                      - 'null'
              creator:
                type:
                - object
                - 'null'
                properties:
                  id:
                    type:
                    - integer
                    - string
                    - number
                    - 'null'
                  name:
                    type:
                    - string
                    - number
                    - integer
                    - 'null'
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
            total_count:
              type:
              - integer
              - string
              - number
              - 'null'
            total_pages:
              type:
              - integer
              - string
              - number
              - 'null'
            current_page:
              type:
              - integer
              - string
              - number
              - 'null'
            per_page:
              type:
              - integer
              - string
              - number
              - 'null'
    PostApiApplicationThemeTemplatesByIdCloneResponse201ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        application_theme_template:
          "$ref": "#/components/schemas/ApplicationThemeTemplate"
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
    PostApiApplicationThemeTemplatesByIdSetDefaultResponse200ApplicationJsonSchema:
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
        application_theme_id:
          type:
          - integer
          - string
          - number
          - 'null'
        company_id:
          type:
          - integer
          - string
          - number
          - 'null'
        global:
          type:
          - boolean
          - 'null'
        name:
          type:
          - string
          - number
          - integer
          - 'null'
        default:
          type:
          - boolean
          - 'null'
        content:
          type:
          - string
          - number
          - integer
          - 'null'
        stylesheet:
          type:
          - string
          - number
          - integer
          - 'null'
        stylesheet_tag_injected:
          type: boolean
          description: True when the StylesheetTagInjector has stamped this template's content with the Liquid expression that emits the stylesheet at render time. Clients use this to hide the per-template CSS surface.
        stylesheet_column_hidden:
          type: boolean
          description: True when the deprecated `stylesheet` field is hidden from this response (blank column, or injector marker set + STYLESHEET_STRICT_INPUT enabled). Single signal for clients that just need to know whether to surface the per-template CSS editor.
        variables:
          type:
          - object
          - 'null'
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        translations:
          type:
          - object
          - 'null'
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        hide_navbar:
          type:
          - boolean
          - 'null'
        use_active_application_theme:
          type:
          - boolean
          - 'null'
        country_ids:
          type:
          - array
          - 'null'
          items:
            type: integer
        themeable_type:
          type:
          - string
          - number
          - integer
          - 'null'
        status:
          type:
          - string
          - number
          - integer
          - 'null'
        created_at:
          type:
          - string
          - number
          - integer
          - 'null'
          format: date-time
        updated_at:
          type:
          - string
          - number
          - integer
          - 'null'
          format: date-time
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
              format: date-time
    CreateThemeTemplateResponse201:
      type: object
      properties:
        application_theme_template:
          type: object
          properties:
            app_extension_id:
              type: 'null'
            application_theme_id:
              type: integer
            company_id:
              type: 'null'
            content:
              type:
              - string
              - 'null'
              description: Liquid source of the template.
            country_ids:
              type: array
              items:
                type: integer
            created_at:
              type: string
              format: date-time
            default:
              type: boolean
            droplet_name:
              type: 'null'
            extension_uri:
              type: 'null'
            global:
              type: boolean
            hide_navbar:
              type: boolean
            id:
              type: integer
            name:
              type: string
            source:
              type: string
            status:
              type: string
            stylesheet:
              type:
              - string
              - 'null'
            stylesheet_tag_injected:
              type: boolean
            stylesheet_column_hidden:
              type: boolean
            themeable_type:
              type: string
            translations:
              type: object
              additionalProperties:
                "$ref": "#/components/schemas/JsonValue"
            updated_at:
              type: string
              format: date-time
            use_active_application_theme:
              type: boolean
            variables:
              type: object
              additionalProperties:
                "$ref": "#/components/schemas/JsonValue"
          required:
          - app_extension_id
          - application_theme_id
          - company_id
          - content
          - country_ids
          - created_at
          - default
          - droplet_name
          - extension_uri
          - global
          - hide_navbar
          - id
          - name
          - source
          - status
          - stylesheet
          - stylesheet_column_hidden
          - stylesheet_tag_injected
          - themeable_type
          - translations
          - updated_at
          - use_active_application_theme
          - variables
          additionalProperties: false
        meta:
          type: object
          properties:
            request_id:
              type: string
            timestamp:
              type: string
              format: date-time
          required:
          - request_id
          - timestamp
          additionalProperties: false
      required:
      - application_theme_template
      - meta
      additionalProperties: false
    StaleBaseShaResponse:
      type: object
      description: >-
        409 response body when the CLI's base_sha does not match the
        theme's current content_version_sha. The remote_sha under
        `meta` tells the CLI what SHA the server is at now so the CLI
        can prompt the user to pull first (or --force to overwrite).
      properties:
        error_message:
          type: string
        errors:
          type: object
          additionalProperties: true
        meta:
          type: object
          properties:
            request_id:
              type: string
            timestamp:
              type: string
              format: date-time
            remote_sha:
              type: string
          required:
          - request_id
          - timestamp
          - remote_sha
      required:
      - error_message
      - errors
      - meta
    DeleteThemeResourceResponse200:
      type: object
      properties:
        application_theme_resource:
          type: object
          properties:
            checksum:
              type: string
            content:
              type: 'null'
            key:
              type: string
            resource_id:
              type: integer
            resource_type:
              type: string
            url:
              type: 'null'
          required:
          - checksum
          - content
          - key
          - resource_id
          - resource_type
          - url
          additionalProperties: false
        content_version_sha:
          type: string
          description: >-
            Server's fresh content_version_sha after the delete. New CLIs
            thread this forward as the next call's base_sha; old CLIs
            ignore the field. Present only when the theme has a valid
            content_version_sha (i.e. always on servers running the
            merge-aware push guard).
        meta:
          type: object
          properties:
            request_id:
              type: string
            timestamp:
              type: string
              format: date-time
          required:
          - request_id
          - timestamp
          additionalProperties: false
      required:
      - application_theme_resource
      - meta
      additionalProperties: false
    DeleteThemeTemplateResponse200:
      type: object
      properties:
        message:
          type: string
        meta:
          type: object
          properties:
            request_id:
              type: string
            timestamp:
              type: string
              format: date-time
          required:
          - request_id
          - timestamp
          additionalProperties: false
      required:
      - message
      - meta
      additionalProperties: false
    ApplicationThemeTemplate:
      type:
      - object
      - 'null'
      properties:
        id:
          type:
          - integer
          - string
          - number
          - 'null'
        application_theme_id:
          type:
          - integer
          - string
          - number
          - 'null'
        company_id:
          type:
          - integer
          - string
          - number
          - 'null'
        global:
          type:
          - boolean
          - 'null'
        name:
          type:
          - string
          - number
          - integer
          - 'null'
        default:
          type:
          - boolean
          - 'null'
        content:
          type:
          - string
          - number
          - integer
          - 'null'
        stylesheet:
          type:
          - string
          - number
          - integer
          - 'null'
        stylesheet_tag_injected:
          type: boolean
          description: True when the template's content already renders its stylesheet from a theme-level asset. Use it to hide the per-template CSS editor.
        stylesheet_column_hidden:
          type: boolean
          description: True when the deprecated `stylesheet` field is hidden from this response, either because it is blank or because the company has moved template stylesheets to theme-level assets. Use it to decide whether to show the per-template CSS editor.
        variables:
          type:
          - object
          - 'null'
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        translations:
          type:
          - object
          - 'null'
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        hide_navbar:
          type:
          - boolean
          - 'null'
        use_active_application_theme:
          type:
          - boolean
          - 'null'
        country_ids:
          type:
          - array
          - 'null'
          items:
            type: integer
        themeable_type:
          type:
          - string
          - number
          - integer
          - 'null'
        status:
          type:
          - string
          - number
          - integer
          - 'null'
        created_at:
          type:
          - string
          - number
          - integer
          - 'null'
          format: date-time
        updated_at:
          type:
          - string
          - number
          - integer
          - 'null'
          format: date-time
        source:
          type: string
          enum:
          - theme
          - droplet
          description: '`droplet` when the template is provided by an installed droplet''s theme extension, otherwise `theme`.'
        droplet_name:
          type:
          - string
          - 'null'
          description: Name of the droplet that provides the template, for droplet templates.
        app_extension_id:
          type:
          - integer
          - 'null'
          description: Droplet theme extension that provides the template, if any.
        extension_uri:
          type:
          - string
          - 'null'
          description: Reference used to render a droplet-provided template, if any.
    ApplicationThemeTemplateRequest:
      type: object
      properties:
        name:
          type: string
        themeable_type:
          type: string
        content:
          type: string
        stylesheet:
          type: string
        variables:
          type: object
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        status:
          type: string
        format:
          type: string
        translations:
          type:
          - object
          - 'null'
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        hide_navbar:
          type:
          - boolean
          - 'null'
        use_active_application_theme:
          type:
          - boolean
          - 'null'
        country_ids:
          type: array
          items:
            type: integer
paths:
  "/api/application_theme_templates":
    get:
      summary: Lists all theme templates
      description: >-
        Lists the templates available to a theme: the theme's own templates,
        global templates it has not overridden, and — when you filter by
        `themeable_type` — active templates from installed droplets. Requires a
        company admin user or company API token with the `application_themes`
        view permission. The list is not paginated.
      tags:
      - applicationthemetemplates
      security:
      - bearer_auth: []
      parameters:
      - name: application_theme_id
        in: query
        required: false
        schema:
          type: integer
        description: Theme whose templates to list. The server requires it and returns 422 when it is missing; it may also be sent in a JSON body.
        example: 7310
      - name: themeable_type
        in: query
        required: false
        schema:
          type: string
        description: Only return templates of this type, such as `product`, `page`, or `sections`.
        example: product
      - name: published
        in: query
        required: false
        schema:
          type: boolean
        description: Return the published snapshot of each template, omitting templates that have never been published.
      - name: query
        in: query
        required: false
        schema:
          type: string
        description: Filter by template name.
        example: Paper
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetApiApplicationThemeTemplatesResponse200ApplicationJsonSchema"
              example:
                templates:
                - id: 48213
                  name: Paper Product Page
                  content: "{% layout 'theme' %}\n<section class=\"product\">\n  <h1>{{ product.title }}</h1>\n  {{ product.description }}\n</section>"
                  status: active
                  themeable_type: product
                  company_id: 1405
                  variables:
                    show_breadcrumbs: true
                  created_at: '2026-09-08T14:22:31Z'
                  updated_at: '2026-09-21T16:05:47Z'
                  default: false
                  translations: {}
                  hide_navbar: false
                  use_active_application_theme: false
                  country_ids:
                  - 214
                  stylesheet: null
                  stylesheet_tag_injected: true
                  stylesheet_column_hidden: true
                  global: false
                  application_theme_id: 7310
                  source: theme
                  droplet_name: null
                  app_extension_id: null
                  extension_uri: null
                - id: 48214
                  name: Default Product
                  content: '{% layout ''theme'' %}

                    <h1>{{ product.title }}</h1>'
                  status: active
                  themeable_type: product
                  company_id: 1405
                  variables: {}
                  created_at: '2026-09-02T09:15:00Z'
                  updated_at: '2026-09-02T09:15:00Z'
                  default: true
                  translations: {}
                  hide_navbar: false
                  use_active_application_theme: false
                  country_ids: []
                  stylesheet: null
                  stylesheet_tag_injected: true
                  stylesheet_column_hidden: true
                  global: false
                  application_theme_id: 7310
                  source: theme
                  droplet_name: null
                  app_extension_id: null
                  extension_uri: null
                meta:
                  request_id: 4f1c2a9e-7b3d-4e8a-9c61-2d5f8a0b3e17
                  timestamp: '2026-09-22T15:04:12Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
      operationId: listThemeTemplates
    post:
      summary: Creates a theme template
      description: >-
        Creates a template in a theme and publishes it immediately. Pass the
        theme in the `application_theme_id` query parameter. Requires the
        `application_themes` update permission. Page types managed by a
        dedicated endpoint, such as `members_page`, are refused with 422. When
        the company has moved template stylesheets to theme-level assets, a
        request that includes `stylesheet` is also refused with 422.
      tags:
      - applicationthemetemplates
      security:
      - bearer_auth: []
      parameters:
      - name: application_theme_id
        in: query
        required: true
        schema:
          type: integer
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateThemeTemplateResponse201"
              example:
                application_theme_template:
                  app_extension_id: null
                  application_theme_id: 7310
                  company_id: null
                  content: "{% layout 'theme' %}\n<section class=\"product\">\n  <h1>{{ product.title }}</h1>\n  {{ product.description }}\n</section>"
                  country_ids:
                  - 214
                  created_at: '2026-09-08T14:22:31Z'
                  default: false
                  droplet_name: null
                  extension_uri: null
                  global: false
                  hide_navbar: false
                  id: 48213
                  name: Paper Product Page
                  source: theme
                  status: active
                  stylesheet: null
                  stylesheet_tag_injected: false
                  stylesheet_column_hidden: true
                  themeable_type: product
                  translations: {}
                  updated_at: '2026-09-08T14:22:31Z'
                  use_active_application_theme: false
                  variables:
                    show_breadcrumbs: true
                meta:
                  request_id: 4f1c2a9e-7b3d-4e8a-9c61-2d5f8a0b3e17
                  timestamp: '2026-09-22T15:04:12Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '422':
          description: The `themeable_type` names a page type another endpoint owns, such as `members_page`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PostApiApplicationThemeTemplatesRequestBodyApplicationJsonSchema"
            example:
              name: Paper Product Page
              themeable_type: product
              content: "{% layout 'theme' %}\n<section class=\"product\">\n  <h1>{{ product.title }}</h1>\n  {{ product.description }}\n</section>"
              variables:
                show_breadcrumbs: true
              hide_navbar: false
              country_ids:
              - 214
      operationId: createThemeTemplate
  "/api/application_theme_templates/mysite_themes":
    get:
      summary: List all mysite themes
      description: List all mysite themes
      tags:
      - applicationthemetemplates
      operationId: listMysiteThemes
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetApiApplicationThemeTemplatesResponse200ApplicationJsonSchema"
              example:
                templates:
                - id: 48302
                  name: Rep Site - Classic
                  content: '<header>{{ rep.name }}</header>

                    <main>{{ content_for_layout }}</main>'
                  status: active
                  themeable_type: mysite
                  company_id: 1405
                  variables: {}
                  created_at: '2026-09-08T14:22:31Z'
                  updated_at: '2026-09-21T16:05:47Z'
                  default: false
                  translations: {}
                  hide_navbar: false
                  use_active_application_theme: false
                  country_ids: []
                  stylesheet: '.rep-hero { color: #1f4e79; }'
                  stylesheet_tag_injected: false
                  stylesheet_column_hidden: false
                  global: false
                  application_theme_id: null
                  source: theme
                  droplet_name: null
                  app_extension_id: null
                  extension_uri: null
                meta:
                  request_id: 4f1c2a9e-7b3d-4e8a-9c61-2d5f8a0b3e17
                  timestamp: '2026-09-22T15:04:12Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
  "/api/application_theme_templates/{id}":
    get:
      summary: Retrieves a theme template
      description: |-
        Returns a theme template with details. For section templates whose schema
        declares `@theme` or named standalone block references, the response
        includes an `available_theme_blocks` array with the resolved block schemas
        (name, settings, presets). Private blocks (underscore-prefixed) are excluded
        from `@theme` results but included when explicitly referenced by name.
      tags:
      - applicationthemetemplates
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetApiApplicationThemeTemplatesByIdResponse200ApplicationJsonSchema"
              example:
                application_theme_template:
                  id: 48213
                  name: Paper Product Page
                  content: "{% layout 'theme' %}\n<section class=\"product\">\n  <h1>{{ product.title }}</h1>\n  {{ product.description }}\n</section>"
                  status: active
                  themeable_type: product
                  company_id: 1405
                  variables:
                    show_breadcrumbs: true
                  created_at: '2026-09-08T14:22:31Z'
                  updated_at: '2026-09-21T16:05:47Z'
                  default: false
                  translations: {}
                  hide_navbar: false
                  use_active_application_theme: false
                  country_ids:
                  - 214
                  stylesheet: null
                  stylesheet_tag_injected: true
                  stylesheet_column_hidden: true
                  global: false
                  application_theme_id: 7310
                  source: theme
                  droplet_name: null
                  app_extension_id: null
                  extension_uri: null
                  versions:
                  - version: 3
                    created_at: '2026-09-21T16:05:47Z'
                    published: true
                    current: true
                    author_id: 90412
                    author_name: Michael Scott
                  - version: 2
                    created_at: '2026-09-15T10:12:03Z'
                    published: false
                    current: false
                    author_id: 90415
                    author_name: Pam Beesly
                  navbar_template_id: 48190
                  footer_template_id: 48191
                  assigned_themeable_ids:
                  - 30117
                  - 30118
                  url: https://shop.dundermifflin.com/products/20lb-copy-paper?preview=true&template_id=48213
                  available_theme_blocks: []
                meta:
                  request_id: 4f1c2a9e-7b3d-4e8a-9c61-2d5f8a0b3e17
                  timestamp: '2026-09-22T15:04:12Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: The template does not exist or is a retired member login template.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      operationId: getThemeTemplate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    patch:
      summary: Updates a theme template
      description: >-
        Updates a template's attributes. Send `publish: true` to publish the
        saved changes in the same call. Requires the `application_themes` update
        permission. Global templates and templates provided by a droplet cannot
        be edited (403). Changing a template into or out of a page type managed
        by a dedicated endpoint, such as `members_page`, is refused with 422.
      tags:
      - applicationthemetemplates
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetApiApplicationThemeTemplatesByIdResponse200ApplicationJsonSchema"
              example:
                application_theme_template:
                  id: 48213
                  name: Paper Product Page
                  content: "{% layout 'theme' %}\n<section class=\"product\">\n  <h1>{{ product.title }}</h1>\n  {{ product.description }}\n</section>"
                  status: active
                  themeable_type: product
                  company_id: 1405
                  variables:
                    show_breadcrumbs: true
                  created_at: '2026-09-08T14:22:31Z'
                  updated_at: '2026-09-21T16:05:47Z'
                  default: false
                  translations: {}
                  hide_navbar: false
                  use_active_application_theme: false
                  country_ids:
                  - 214
                  stylesheet: null
                  stylesheet_tag_injected: true
                  stylesheet_column_hidden: true
                  global: false
                  application_theme_id: 7310
                  source: theme
                  droplet_name: null
                  app_extension_id: null
                  extension_uri: null
                  versions:
                  - version: 3
                    created_at: '2026-09-21T16:05:47Z'
                    published: true
                    current: true
                    author_id: 90412
                    author_name: Michael Scott
                  - version: 2
                    created_at: '2026-09-15T10:12:03Z'
                    published: false
                    current: false
                    author_id: 90415
                    author_name: Pam Beesly
                  navbar_template_id: 48190
                  footer_template_id: 48191
                  assigned_themeable_ids:
                  - 30117
                  - 30118
                  url: https://shop.dundermifflin.com/products/20lb-copy-paper?preview=true&template_id=48213
                  available_theme_blocks: []
                meta:
                  request_id: 4f1c2a9e-7b3d-4e8a-9c61-2d5f8a0b3e17
                  timestamp: '2026-09-22T15:04:12Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '422':
          description: The `themeable_type` would change the template's type into or out of a page type another endpoint owns, such as `members_page`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PatchApiApplicationThemeTemplatesByIdRequestBodyApplicationJsonSchema"
            example:
              application_theme_template:
                name: Paper Product Page
                content: "{% layout 'theme' %}\n<section class=\"product\">\n  <h1>{{ product.title }}</h1>\n  <p class=\"sku\">{{ product.sku }}</p>\n  {{ product.description }}\n</section>"
                country_ids:
                - 214
              publish: true
      operationId: updateThemeTemplate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Deletes a theme template
      description: >-
        Deletes a template, along with any region rules that point at it. If it
        was the default for its type, another template is promoted to default.
        Requires the `application_themes` update permission. Global templates,
        droplet-provided templates, and page types managed by a dedicated
        endpoint are refused with 403; a template still referenced elsewhere
        returns 409.
      tags:
      - applicationthemetemplates
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DeleteThemeTemplateResponse200"
              example:
                message: Template was successfully destroyed.
                meta:
                  request_id: 4f1c2a9e-7b3d-4e8a-9c61-2d5f8a0b3e17
                  timestamp: '2026-09-22T15:04:12Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '403':
          description: The template is a page type another endpoint owns, such as `members_page`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
      operationId: deleteThemeTemplate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  "/api/application_theme_templates/{id}/available_themeables":
    get:
      summary: Returns all available themeables for theme template
      description: >-
        Lists the company's records of the template's type (for example products
        or pages) that can be assigned to this template, with the template
        currently assigned to each. Records already using this template are
        listed first, then by title. Requires the `application_themes` view
        permission. Paginated with `page` and `per_page` (default 20); only
        shareable template types are supported (400 otherwise).
      tags:
      - applicationthemetemplates
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetApiApplicationThemeTemplatesByIdAvailableThemeablesResponse200ApplicationJsonSchema"
              example:
                available_themeables:
                - id: 30117
                  title: Dunder Mifflin 20lb Copy Paper
                  sku: DM-20LB-CASE
                  image: https://cdn.fluid.app/dunder-mifflin/products/20lb-copy-paper.jpg
                  themeable_type: product
                  application_theme_template_id: 48213
                - id: 30121
                  title: Scranton Branch Mug
                  sku: DM-MUG-SCR
                  image: https://cdn.fluid.app/dunder-mifflin/products/scranton-branch-mug.jpg
                  themeable_type: product
                  application_theme_template_id: null
                meta:
                  request_id: 4f1c2a9e-7b3d-4e8a-9c61-2d5f8a0b3e17
                  timestamp: '2026-09-22T15:04:12Z'
                  pagination:
                    current_page: 1
                    total_pages: 1
                    total_count: 2
                    per_page: 20
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: template not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      operationId: getThemeTemplateAvailableThemeables
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
        description: Page number, starting at 1.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          default: 20
        description: Records per page.
      - name: selected
        in: query
        required: false
        schema:
          type: boolean
        description: Only return records already assigned to this template.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Match against title, and SKU where the type has one.
        example: copy paper
      - name: status
        in: query
        required: false
        schema:
          type: string
        description: Only return records with this status, for types that have one.
        example: active
      - name: id
        in: path
        required: true
        schema:
          type: string
  "/api/application_theme_templates/{id}/available_variables":
    get:
      summary: Get available variables for a theme template
      description: Get available variables that can be used in the theme template
      tags:
      - applicationthemetemplates
      operationId: getThemeTemplateAvailableVariables
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetThemeTemplateAvailableVariablesApiResponse200ApplicationJsonSchema"
              example:
                available_variables:
                  color_primary: '#1f4e79'
                  settings:
                    font_heading: Libre Baskerville
                    show_announcement_bar: true
                  template:
                    show_breadcrumbs: true
                meta:
                  request_id: 4f1c2a9e-7b3d-4e8a-9c61-2d5f8a0b3e17
                  timestamp: '2026-09-22T15:04:12Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardUnauthorizedResponse"
        '404':
          description: template not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      parameters:
      - name: country_id
        in: query
        required: false
        schema:
          type: integer
        description: Country context for the variables.
      - name: language_id
        in: query
        required: false
        schema:
          type: integer
        description: Language context for the variables.
      - name: id
        in: path
        required: true
        schema:
          type: string
  "/api/application_theme_templates/{id}/clone":
    post:
      summary: Clones a theme template
      description: >-
        Copies a template within its theme. The copy is named after the original
        with a ` (Clone)` suffix, is not the default, and gets its own copy of
        the template's translations. Requires the `application_themes` update
        permission. Page types managed by a dedicated endpoint, such as
        `members_page`, cannot be cloned (422).
      tags:
      - applicationthemetemplates
      security:
      - bearer_auth: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PostApiApplicationThemeTemplatesByIdCloneResponse201ApplicationJsonSchema"
              example:
                application_theme_template:
[...]
