---
openapi: 3.1.0
info:
  title: Fluid Webhooks API
  description: Webhook subscriptions, callback registrations, webhook/callback schemas,
    and company events.
  version: v0
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
- url: https://{company}.fluid.app
  description: Production server with company subdomain
  variables:
    company:
      default: myco
      description: Company subdomain
tags:
- name: webhooks
  description: Webhook subscriptions — create, list, update, delete, and inspect the
    most recent delivered event per resource.
- name: webhooks-resources
  description: The catalog of resources (and their events) a webhook may subscribe
    to.
- name: webhook-schemas
  description: Published JSON payload schemas for webhook events, keyed by event identifier.
- name: callback-registrations
  description: Synchronous callback registrations that let a company or droplet
    respond to Fluid callbacks (e.g. tax, shipping).
- name: callback-definitions
  description: The catalog of callback definitions a registration can target.
- name: callback-schemas
  description: Request/response schemas for each callback definition.
- name: company-events
  description: Company calendar events surfaced to members, with optional country-scoped
    notifications.
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: Bearer token authentication
  schemas:
    Meta:
      type: object
      properties:
        request_id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
    PaginatedMeta:
      type: object
      properties:
        request_id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
        pagination:
          type: object
          properties:
            current_page:
              type: integer
            total_pages:
              type: integer
            total_count:
              type: integer
            per_page:
              type: integer
    ErrorResponse:
      type: object
      required:
      - error_message
      - errors
      - meta
      properties:
        error_message:
          type: string
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          "$ref": "#/components/schemas/Meta"
    UnauthorizedResponse:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    WebhookSummary:
      description: Webhook subscription
      type: object
      properties:
        id:
          type: integer
        company_id:
          type: integer
        droplet_installation_uuid:
          description: UUID of the droplet installation that owns the webhook, or
            null when the webhook is company-owned.
          type:
          - string
          - 'null'
        url:
          type: string
        active:
          type: boolean
        resource:
          type:
          - string
          - 'null'
        event:
          type:
          - string
          - 'null'
        event_identifier:
          type:
          - string
          - 'null'
        http_method:
          type: string
          enum:
          - post
          - put
          - get
        auth_token:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CallbackRegistrationSummary:
      description: Callback registration
      type: object
      properties:
        uuid:
          type: string
        company_id:
          type: integer
        company_name:
          type:
          - string
          - 'null'
        definition_name:
          type: string
        url:
          type: string
        verification_token:
          type:
          - string
          - 'null'
        active:
          type: boolean
        country_codes:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        owner_type:
          type:
          - string
          - 'null'
        owner_id:
          type:
          - integer
          - 'null'
        owner_name:
          type:
          - string
          - 'null'
    CallbackDefinitionSummary:
      description: Callback definition
      type: object
      properties:
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        example_response:
          anyOf:
          - type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
        request_schema:
          anyOf:
          - type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
        response_schema:
          anyOf:
          - type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
    CallbackSchemaSummary:
      description: Callback schema
      type: object
      properties:
        name:
          type: string
        version:
          type:
          - string
          - 'null'
        schema_hash:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        request_schema:
          anyOf:
          - type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
        response_schema:
          anyOf:
          - type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
    WebhookSchemaSummary:
      description: Webhook payload schema
      type: object
      properties:
        id:
          type: integer
        event_identifier:
          type: string
        version:
          type:
          - string
          - 'null'
        schema_hash:
          type:
          - string
          - 'null'
        schema_definition:
          anyOf:
          - type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    JsonValue:
      description: Any valid JSON value for provider, integration, theme, metadata,
        or other dynamic payloads whose keys are not fixed by the API contract.
      anyOf:
      - type: string
      - type: number
      - type: boolean
      - type: 'null'
      - type: array
        items:
          "$ref": "#/components/schemas/JsonValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorValue:
      description: A validation or API error value.
      anyOf:
      - type: string
      - type: array
        items:
          type: string
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorBag:
      description: Validation errors keyed by field, a list of errors, a single error
        message, or null when no structured error details are available.
      anyOf:
      - type: string
      - type: array
        items:
          "$ref": "#/components/schemas/ErrorValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/ErrorValue"
      - type: 'null'
    ErrorMessage:
      description: An API error message represented as text or structured JSON.
      anyOf:
      - type: string
      - "$ref": "#/components/schemas/ErrorBag"
      - type: 'null'
    StandardErrorResponse:
      description: Common legacy error response envelope. Older endpoints may return
        one or more of these fields depending on the controller path.
      type: object
      properties:
        message:
          type: string
        error:
          "$ref": "#/components/schemas/ErrorMessage"
        error_message:
          "$ref": "#/components/schemas/ErrorMessage"
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          "$ref": "#/components/schemas/Meta"
      additionalProperties:
        "$ref": "#/components/schemas/JsonValue"
    WebhookResourcesResponse:
      type:
      - object
      - 'null'
      properties:
        resources:
          type:
          - object
          - 'null'
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        deprecated_resources:
          type: array
          description: Resource topics that are deprecated and will be removed;
            migrate to the member_* topics.
          items:
            type: string
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    WebhookCompanyEvent:
      type: object
      properties:
        active:
          type: boolean
        canonical_time_zone:
          type: string
        color:
          type: string
        countries:
          type: array
          items:
            "$ref": "#/components/schemas/JsonValue"
        description:
          type: object
          properties:
            body:
              type: string
            created_at:
              type: string
              format: date-time
            id:
              type: integer
            locale:
              type: 'null'
            name:
              type: string
            record_id:
              type: integer
            record_type:
              type: string
            updated_at:
              type: string
              format: date-time
          required:
          - body
          - created_at
          - id
          - locale
          - name
          - record_id
          - record_type
          - updated_at
          additionalProperties: false
        end:
          type: string
          format: date-time
        id:
          type: integer
        image_url:
          type: 'null'
        images:
          type: array
          items:
            "$ref": "#/components/schemas/JsonValue"
        is_all_day:
          type: boolean
        notification_sent_at:
          type: 'null'
        send_notification:
          type: boolean
        start:
          type: string
          format: date-time
        status:
          type: 'null'
        time_zone:
          type: string
        title:
          type: string
        url:
          type: 'null'
        user_id:
          type: 'null'
        venue:
          type: 'null'
      required:
      - active
      - canonical_time_zone
      - color
      - countries
      - description
      - end
      - id
      - image_url
      - images
      - is_all_day
      - notification_sent_at
      - send_notification
      - start
      - status
      - time_zone
      - title
      - url
      - user_id
      - venue
      additionalProperties: false
    WebhookCompanyEventDeleteResponse:
      type: object
      properties:
        message:
          type: string
      required:
      - message
      additionalProperties: false
    WebhookCompanyEventDetailResponse:
      type: object
      properties:
        active:
          type:
          - boolean
          - 'null'
        canonical_time_zone:
          type:
          - string
          - 'null'
        color:
          type:
          - string
          - 'null'
        countries:
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/JsonValue"
        description:
          type: 'null'
        end:
          type:
          - string
          - 'null'
          format: date-time
        events:
          type:
          - array
          - 'null'
          items:
            type: object
            properties:
              active:
                type: boolean
              canonical_time_zone:
                type: string
              color:
                type: string
              countries:
                type: array
                items:
                  "$ref": "#/components/schemas/JsonValue"
              description:
                type: 'null'
              end:
                type: string
                format: date-time
              id:
                type: integer
              image_url:
                type: 'null'
              images:
                type: array
                items:
                  "$ref": "#/components/schemas/JsonValue"
              is_all_day:
                type: boolean
              notification_sent_at:
                type: 'null'
              send_notification:
                type: boolean
              start:
                type: string
                format: date-time
              status:
                type: 'null'
              time_zone:
                type: string
              title:
                type: string
              url:
                type: string
              user_id:
                type: integer
              venue:
                type: 'null'
            required:
            - active
            - canonical_time_zone
            - color
            - countries
            - description
            - end
            - id
            - image_url
            - images
            - is_all_day
            - notification_sent_at
            - send_notification
            - start
            - status
            - time_zone
            - title
            - url
            - user_id
            - venue
            additionalProperties: false
        id:
          type:
          - integer
          - 'null'
        image_url:
          type: 'null'
        images:
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/JsonValue"
        is_all_day:
          type:
          - boolean
          - 'null'
        meta:
          type:
          - object
          - 'null'
          properties:
            pagination:
              type: object
              properties:
                current_page:
                  type: integer
                per_page:
                  type: integer
                total_count:
                  type: integer
                total_pages:
                  type: integer
              required:
              - current_page
              - per_page
              - total_count
              - total_pages
              additionalProperties: false
            request_id:
              type: string
            timestamp:
              type: string
              format: date-time
          required:
          - pagination
          - request_id
          - timestamp
          additionalProperties: false
        notification_sent_at:
          type: 'null'
        send_notification:
          type:
          - boolean
          - 'null'
        start:
          type:
          - string
          - 'null'
          format: date-time
        status:
          type: 'null'
        time_zone:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
        user_id:
          type:
          - integer
          - 'null'
        venue:
          type: 'null'
      additionalProperties: false
    WebhookResourceEventEnvelope:
      description: >-
        The full event envelope returned by the resource events endpoint. The
        enriched inner payload is nested under `payload` (never a generic
        `data` key), alongside the event id, a generated identifier token, the
        event name, and a timestamp.
      type: object
      required:
      - id
      - identifier
      - name
      - payload
      - timestamp
      properties:
        id:
          type: integer
          description: Numeric identifier of the stored event.
        identifier:
          type: string
          description: >-
            The event's generated identifier token, not the company or event
            name.
        name:
          type: string
          description: Event identifier, e.g. "member_sponsorships_reassigned".
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 event timestamp.
        payload:
          "$ref": "#/components/schemas/WebhookResourceEventPayload"
    WebhookResourceEventPayload:
      description: >-
        The enriched inner payload: the resource data merged with the seven
        metadata fields (event_name, schema_version, schema_hash, company_id,
        resource_name, resource, event). Each resource keys its data under its
        own name — a member payload carries `member`, a cart payload carries
        `cart`, an order payload carries `order`, and so on — never a generic
        `data` key. The oneOf documents the member and cart branches explicitly
        and covers every other resource with an open fallback branch.
      type: object
      additionalProperties: true
      properties:
        event_name:
          type: string
        schema_version:
          type: string
        schema_hash:
          type: string
        company_id:
          type: integer
        resource_name:
          type: string
        resource:
          type: string
        event:
          type: string
      oneOf:
      - "$ref": "#/components/schemas/WebhookMemberResourceData"
      - "$ref": "#/components/schemas/WebhookCartResourceData"
      - "$ref": "#/components/schemas/WebhookGenericResourceData"
    WebhookMemberResourceData:
      description: >-
        Member branch of the enriched payload: the member object is keyed under
        a `member` key. The inner member object is open
        (additionalProperties: true); only a representative subset is
        documented. The required `member` key makes this branch mutually
        exclusive with the cart branch under oneOf (a cart payload has no
        `member`, so it fails this branch).
      type: object
      additionalProperties: true
      required:
      - member
      properties:
        member:
          type: object
          additionalProperties: true
          required:
          - id
          properties:
            id:
              type: string
              description: Member UUID.
            email:
              type: string
            name:
              type: string
            member_type:
              type: object
              additionalProperties: true
              properties:
                id:
                  type: string
                name:
                  type: string
                slug:
                  type: string
    WebhookCartResourceData:
      description: >-
        Cart branch of the enriched payload: the cart object is keyed under a
        `cart` key. The inner cart object is open (additionalProperties: true);
        its fields are not fixed by this contract and only a representative
        subset is documented. The required `cart` key makes this branch
        mutually exclusive with the member branch under oneOf (a member payload
        has no `cart`, so it fails this branch).
      type: object
      additionalProperties: true
      required:
      - cart
      properties:
        cart:
          description: The cart resource payload.
          type: object
          additionalProperties: true
    WebhookGenericResourceData:
      description: >-
        Fallback branch for the resources whose payload keys under their own
        resource name — order, product, subscription, discount, form, and the
        rest of the available topics — rather than `member` or `cart`. It is
        an open object carrying that resource data plus the seven metadata
        fields. Mutually exclusive with the member and cart branches under
        oneOf: the `not` clause makes it match only payloads that carry neither
        `member` nor `cart`, so exactly one branch validates.
      type: object
      additionalProperties: true
      not:
        anyOf:
        - required:
          - member
        - required:
          - cart
paths:
  "/api/callback/definitions":
    get:
      summary: List callback definitions
      tags:
      - callback-definitions
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Returns available callback definitions
          content:
            application/json:
              schema:
                type: object
                required:
                - definitions
                properties:
                  definitions:
                    type: array
                    items:
                      "$ref": "#/components/schemas/CallbackDefinitionSummary"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      operationId: webhooks_v0_get_api_callback_definitions
  "/api/callback/registrations":
    get:
      summary: List callback registrations
      tags:
      - callback-registrations
      operationId: webhooks_v0_index_callback_registrations
      security:
      - bearer_auth: []
      parameters:
      - name: filters
        in: query
        schema:
          type: object
          properties:
            page:
              type: integer
              exclusiveMinimum: 0
            per_page:
              type: integer
              exclusiveMinimum: 0
              maximum: 100
            company_id:
              type: integer
              not:
                type: 'null'
            definition_name:
              type: string
              minLength: 1
            sorted_by:
              type: string
              minLength: 1
            active:
              type: boolean
              not:
                type: 'null'
          required: []
      responses:
        '200':
          description: Returns paginated callback registrations
          content:
            application/json:
              schema:
                type: object
                required:
                - callback_registrations
                properties:
                  callback_registrations:
                    type: array
                    items:
                      "$ref": "#/components/schemas/CallbackRegistrationSummary"
                  meta:
                    "$ref": "#/components/schemas/PaginatedMeta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
    post:
      summary: Create a callback registration
      tags:
      - callback-registrations
      operationId: webhooks_v0_create_callback_registration
      security:
      - bearer_auth: []
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '409':
          description: A registration for this definition already exists for the owner
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '201':
          description: Registration created
          content:
            application/json:
              schema:
                type: object
                required:
                - callback_registration
                properties:
                  callback_registration:
                    "$ref": "#/components/schemas/CallbackRegistrationSummary"
                  meta:
                    "$ref": "#/components/schemas/Meta"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - callback_registration
              properties:
                callback_registration:
                  type: object
                  required:
                  - definition_name
                  - url
                  properties:
                    definition_name:
                      type: string
                    url:
                      type: string
                    active:
                      type: boolean
                    country_codes:
                      type: array
                      description: ISO country codes the callback applies to.
                      items:
                        type: string
  "/api/callback/registrations/{uuid}":
    get:
      summary: Show a callback registration
      tags:
      - callback-registrations
      operationId: webhooks_v0_show_callback_registration
      security:
      - bearer_auth: []
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Registration found
          content:
            application/json:
              schema:
                type: object
                required:
                - callback_registration
                properties:
                  callback_registration:
                    "$ref": "#/components/schemas/CallbackRegistrationSummary"
                  meta:
                    "$ref": "#/components/schemas/Meta"
    put:
      summary: Update a callback registration
      tags:
      - callback-registrations
      operationId: webhooks_v0_update_callback_registration
      security:
      - bearer_auth: []
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Registration updated
          content:
            application/json:
              schema:
                type: object
                required:
                - callback_registration
                properties:
                  callback_registration:
                    "$ref": "#/components/schemas/CallbackRegistrationSummary"
                  meta:
                    "$ref": "#/components/schemas/Meta"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                callback_registration:
                  type: object
                  properties:
                    url:
                      type: string
                    active:
                      type: boolean
                    country_codes:
                      type: array
                      description: ISO country codes the callback applies to.
                      items:
                        type: string
    delete:
      summary: Delete a callback registration
      tags:
      - callback-registrations
      operationId: webhooks_v0_destroy_callback_registration
      security:
      - bearer_auth: []
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Registration deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  callback_registration:
                    type: object
                    properties:
                      uuid:
                        type: string
                  meta:
                    "$ref": "#/components/schemas/Meta"
  "/api/callback/schemas":
    get:
      summary: List callback schemas
      tags:
      - callback-schemas
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Returns available callback schemas
          content:
            application/json:
              schema:
                type: object
                required:
                - schemas
                properties:
                  schemas:
                    type: array
                    items:
                      "$ref": "#/components/schemas/CallbackSchemaSummary"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      operationId: webhooks_v0_get_api_callback_schemas
  "/api/callback/schemas/{definition_name}":
    get:
      summary: Show a callback schema
      description: Returns the schema for a specific callback definition.
      tags:
      - callback-schemas
      security:
      - bearer_auth: []
      parameters:
      - name: definition_name
        in: path
        required: true
        description: The name of the callback definition to get the schema for
        schema:
          type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Definition name not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Schema found
          content:
            application/json:
              schema:
                type: object
                required:
                - schema
                properties:
                  schema:
                    "$ref": "#/components/schemas/CallbackSchemaSummary"
                  meta:
                    "$ref": "#/components/schemas/Meta"
      operationId: webhooks_v0_get_api_callback_schemas_by_definition_name
  "/api/company/events":
    post:
      tags:
      - company-events
      summary: Create company event
      description: Add a new event for the company with details like title, dates,
        venue, and optional media content.
      operationId: webhooks_v0_create_company_event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - event
              description: Event attributes are nested under a required `event`
                key; omitting it returns 400.
              properties:
                event:
                  type: object
                  description: Event attributes accepted by the controller. title,
                    description, start, end, and time_zone are required by the Event
                    model, so an event missing any of them returns 422.
                  properties:
                    title:
                      type: string
                    description:
                      type: string
                    venue:
                      type: string
                    url:
                      type: string
                    user_id:
                      type: integer
                    company_id:
                      type: integer
                    start_date:
                      type: string
                      description: Event start date, e.g. "2026-04-01".
                    end_date:
                      type: string
                      description: Event end date, e.g. "2026-04-02".
                    start_time:
                      type: string
                      description: Event start time, e.g. "09:00".
                    end_time:
                      type: string
                      description: Event end time, e.g. "17:00".
                    active:
                      type: boolean
                    time_zone:
                      type: string
                      description: IANA time zone name, e.g. "UTC".
                    send_notification:
                      type: boolean
                    available_countries:
                      type: array
                      description: ISO country codes the event is scoped to.
                      items:
                        type: string
                    country_ids:
                      type: array
                      items:
                        type: integer
                    images_attributes:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          image_url:
                            type: string
                          position:
                            type: integer
                          _destroy:
                            type: boolean
      responses:
        '400':
          description: Missing required parameters (no `event` key)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '422':
          description: Validation failed (missing or invalid event attributes)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '200':
          description: Event created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WebhookCompanyEvent"
      security:
      - bearer_auth: []
    get:
      tags:
      - company-events
      summary: List company events
      description: Retrieves a list of events associated with the company.
      operationId: webhooks_v0_list_company_events
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '200':
          description: Events listed
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties:
                    "$ref": "#/components/schemas/JsonValue"
      security:
      - bearer_auth: []
  "/api/company/events/{eventId}":
    patch:
      tags:
      - company-events
      summary: Update company event
      description: Updates the details of a specific company event.
      operationId: webhooks_v0_update_company_event
      parameters:
      - name: eventId
        in: path
        required: true
        schema:
          type: integer
        description: The unique identifier of the event to update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - event
              description: Updated attributes are nested under a required `event`
                key, matching the create body.
              properties:
                event:
                  type: object
                  description: Any subset of the accepted event attributes. An
                    update that violates a model validation returns 400.
                  properties:
                    title:
                      type: string
                    description:
                      type: string
                    venue:
                      type: string
                    url:
                      type: string
                    user_id:
                      type: integer
                    start_date:
                      type: string
                      description: Event start date, e.g. "2026-04-01".
                    end_date:
                      type: string
                      description: Event end date, e.g. "2026-04-02".
                    start_time:
                      type: string
                      description: Event start time, e.g. "09:00".
                    end_time:
                      type: string
                      description: Event end time, e.g. "17:00".
                    active:
                      type: boolean
                    time_zone:
                      type: string
                      description: IANA time zone name, e.g. "UTC".
                    send_notification:
                      type: boolean
                    available_countries:
                      type: array
                      items:
                        type: string
                    country_ids:
                      type: array
                      items:
                        type: integer
                    images_attributes:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          image_url:
                            type: string
                          position:
                            type: integer
                          _destroy:
                            type: boolean
      responses:
        '400':
          description: Validation failed (invalid event attributes)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '200':
          description: Event updated
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WebhookCompanyEvent"
      security:
      - bearer_auth: []
    get:
      tags:
      - company-events
      summary: Get company event
      description: Retrieves the details of a specific event for a company.
      operationId: webhooks_v0_get_company_event
      parameters:
      - name: eventId
        in: path
        required: true
        schema:
          type: integer
        description: The unique identifier of the company event
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '200':
          description: Event found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WebhookCompanyEventDetailResponse"
      security:
      - bearer_auth: []
    delete:
      tags:
      - company-events
      summary: Delete company event
      description: Deletes a specific event associated with the company.
      operationId: webhooks_v0_delete_company_event
      parameters:
      - name: eventId
        in: path
        required: true
        schema:
          type: integer
        description: The unique identifier of the event to delete
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '200':
          description: Event deleted
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WebhookCompanyEventDeleteResponse"
      security:
      - bearer_auth: []
  "/api/company/events/{eventId}/send_notifications":
    get:
      tags:
      - company-events
      summary: Send event notifications
      description: Sends notifications about an event to concerned parties based on
        specified countries.
      operationId: webhooks_v0_send_event_notifications
      parameters:
      - name: eventId
        in: path
        required: true
        schema:
          type: integer
        description: The unique identifier of the event to send notifications for
      - name: event[available_countries][]
        in: query
        required: false
        description: ISO country codes to scope the notification to, read from
          `params[:event][:available_countries]`. Omit to notify all countries;
          any unrecognized ISO returns 422.
        schema:
          type: array
          items:
            type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '422':
          description: One or more country ISO codes were not recognized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '200':
          description: Notifications sent
          content:
            application/json:
              schema:
                type: string
      security:
      - bearer_auth: []
  "/api/company/webhooks":
    get:
      summary: List webhooks
      tags:
      - webhooks
      operationId: webhooks_v0_index_webhooks
      security:
      - bearer_auth: []
      parameters:
      - name: query
        in: query
        schema:
          type: object
          properties:
            page:
              type: integer
              exclusiveMinimum: 0
            per_page:
              type: integer
              exclusiveMinimum: 0
              maximum: 100
            active:
              type: boolean
            resource:
              type: string
            search_query:
              type: string
          required: []
      responses:
        '200':
          description: Returns paginated webhooks
          content:
            application/json:
              schema:
                type: object
                required:
                - webhooks
                properties:
                  webhooks:
                    type: array
                    items:
                      "$ref": "#/components/schemas/WebhookSummary"
                  meta:
                    "$ref": "#/components/schemas/PaginatedMeta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
    post:
      summary: Create a webhook
      tags:
      - webhooks
      operationId: webhooks_v0_create_webhook
      security:
      - bearer_auth: []
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                type: object
                required:
                - webhook
                properties:
                  webhook:
                    "$ref": "#/components/schemas/WebhookSummary"
                  meta:
                    "$ref": "#/components/schemas/Meta"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - webhook
              properties:
                webhook:
                  type: object
                  required:
                  - url
                  - resource
                  - event
                  properties:
                    url:
                      type: string
                    resource:
                      type: string
                    event:
                      type: string
                    active:
                      type: boolean
                    http_method:
                      type: string
                    auth_token:
                      type: string
  "/api/company/webhooks/bulk_delete":
    delete:
      summary: Bulk delete webhooks
      tags:
      - webhooks
      operationId: webhooks_v0_bulk_delete_webhooks
      security:
      - bearer_auth: []
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '200':
          description: Webhooks deleted
          content:
            application/json:
              schema:
                type: object
                required:
                - webhooks
                properties:
                  webhooks:
                    type: object
                    properties:
                      webhook_ids:
                        type: array
                        items:
                          type: integer
                      count:
                        type: integer
                  meta:
                    "$ref": "#/components/schemas/Meta"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - webhook_ids
              properties:
                webhook_ids:
                  type: array
                  items:
                    type: integer
  "/api/company/webhooks/resources":
    get:
      summary: List webhook resources
      tags:
      - webhooks-resources
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Returns available webhook resources
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WebhookResourcesResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      operationId: webhooks_v0_get_api_company_webhooks_resources
  "/api/company/webhooks/{id}":
    get:
      summary: Show a webhook
      tags:
      - webhooks
      operationId: webhooks_v0_show_webhook
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Webhook found
          content:
            application/json:
              schema:
                type: object
                required:
                - webhook
                properties:
                  webhook:
                    "$ref": "#/components/schemas/WebhookSummary"
                  meta:
                    "$ref": "#/components/schemas/Meta"
    put:
      summary: Update a webhook
      tags:
      - webhooks
      operationId: webhooks_v0_update_webhook
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Webhook updated
          content:
            application/json:
              schema:
                type: object
                required:
                - webhook
                properties:
                  webhook:
                    "$ref": "#/components/schemas/WebhookSummary"
                  meta:
                    "$ref": "#/components/schemas/Meta"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                webhook:
                  type: object
                  properties:
                    url:
                      type: string
                    active:
                      type: boolean
                    auth_token:
                      type: string
                    http_method:
                      type: string
                      enum:
                      - post
                      - put
                      - get
    delete:
      summary: Delete a webhook
      tags:
      - webhooks
      operationId: webhooks_v0_destroy_webhook
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Webhook deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhook:
                    type: object
                    description: The deleted webhook, echoed as an id-only object.
                    properties:
                      id:
                        type: integer
                  meta:
                    "$ref": "#/components/schemas/Meta"
  "/api/webhooks/schemas":
    get:
      summary: List webhook schemas
      tags:
      - webhook-schemas
      security:
      - bearer_auth: []
      parameters:
      - name: event_identifier
        in: query
        required: false
        description: Filter schemas by event identifier
        schema:
          type: string
      responses:
        '200':
          description: Returns available webhook schemas
          content:
            application/json:
              schema:
                type: object
                required:
                - schemas
                properties:
                  schemas:
                    type: array
                    items:
                      "$ref": "#/components/schemas/WebhookSchemaSummary"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      operationId: webhooks_v0_get_api_webhooks_schemas
  "/api/webhooks/schemas/{event_identifier}":
    get:
      summary: Show a webhook schema
      description: Returns the latest schema for a specific event identifier.
      tags:
      - webhook-schemas
      security:
      - bearer_auth: []
      parameters:
      - name: event_identifier
        in: path
        required: true
        description: The event identifier to get the schema for
        schema:
          type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Event identifier not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Schema found
          content:
            application/json:
              schema:
                type: object
                required:
                - schema
                properties:
                  schema:
                    "$ref": "#/components/schemas/WebhookSchemaSummary"
                  meta:
                    "$ref": "#/components/schemas/Meta"
      operationId: webhooks_v0_get_api_webhooks_schemas_by_event_identifier
  "/api/company/webhooks/resources/{resource_name}":
    get:
      operationId: webhooks_v0_webhook_resource_events
      summary: Get webhook events for a resource
      tags:
      - webhooks
      security:
      - bearer_auth: []
      parameters:
      - name: resource_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: >-
            The resource name is not registered — a JSON body of
            `{message, status}`.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '200':
          description: Resource events listed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WebhookResourceEventEnvelope"
