---
openapi: 3.1.0
info:
  title: Fluid Webhooks API
  description: Webhook subscriptions, callback registrations, webhook/callback schemas,
    and company events.
  version: v0
  contact:
    email: support@fluid.app
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://api.fluid.app
tags:
- name: webhooks
  description: Webhook subscriptions — create, list, update, delete, and inspect the
    most recent delivered event per resource.
- name: webhooks-resources
  description: The catalog of resources (and their events) a webhook may subscribe
    to.
- name: webhook-schemas
  description: Published JSON payload schemas for webhook events, keyed by event identifier.
- name: callback-registrations
  description: Synchronous callback registrations that let a company or droplet
    respond to Fluid callbacks (e.g. tax, shipping).
- name: callback-definitions
  description: The catalog of callback definitions a registration can target.
- name: callback-schemas
  description: Request/response schemas for each callback definition.
- name: company-events
  description: Company calendar events surfaced to members, with optional country-scoped
    notifications.
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: Bearer token authentication
  schemas:
    Meta:
      type: object
      properties:
        request_id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
    PaginatedMeta:
      type: object
      properties:
        request_id:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
        pagination:
          type: object
          properties:
            current_page:
              type: integer
            total_pages:
              type: integer
            total_count:
              type: integer
            per_page:
              type: integer
    ErrorResponse:
      type: object
      required:
      - error_message
      - errors
      - meta
      properties:
        error_message:
          type: string
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          "$ref": "#/components/schemas/Meta"
    UnauthorizedResponse:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    WebhookSummary:
      description: Webhook subscription
      type: object
      properties:
        id:
          type: integer
          description: |
            Numeric identifier of the webhook subscription, assigned at create. Used to
            address the subscription on the `/api/company/webhooks/{id}` endpoints.
        company_id:
          type: integer
          description: Id of the company that owns the subscription.
        droplet_installation_uuid:
          description: UUID of the droplet installation that owns the webhook, or
            null when the webhook is company-owned.
          type:
          - string
          - 'null'
        url:
          type: string
          description: |
            HTTPS endpoint Fluid delivers matching events to. In production it must be
            publicly reachable — Fluid does not deliver to internal or private hosts.
        active:
          type: boolean
          description: |
            Whether the subscription is enabled. When `false`, Fluid keeps the
            subscription but delivers nothing.
        resource:
          type:
          - string
          - 'null'
          description: |
            The resource being watched (e.g. `order`, `cart`, `member`); set when the
            subscription is created. May be `null` in the response for a subscription
            without one.
        event:
          type:
          - string
          - 'null'
          description: |
            The event on the resource that triggers delivery (e.g. `created`); set at
            create alongside `resource`. May be `null` in the response for a subscription
            without one.
        event_identifier:
          type:
          - string
          - 'null'
          description: |
            Identifier Fluid uses for this event's payload schema (e.g. `order_created`).
            Look up the schema under `/api/webhooks/schemas`.
        http_method:
          type: string
          enum:
          - post
          - put
          - get
          description: HTTP method Fluid uses to deliver the payload to `url`.
        auth_token:
          type:
          - string
          - 'null'
          description: |
            Shared secret Fluid signs each delivery with; `null` when none is set.
            Rotate it by sending a new value to the update endpoint.
        created_at:
          type: string
          format: date-time
          description: Timestamp when the subscription was created (ISO 8601).
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the subscription was last updated (ISO 8601).
    CallbackRegistrationSummary:
      description: Callback registration
      type: object
      properties:
        uuid:
          type: string
          description: |
            Immutable identifier of the registration, assigned at create. Used to
            address it on the `/api/callback/registrations/{uuid}` endpoints.
        company_id:
          type: integer
          description: Id of the company that owns the registration.
        company_name:
          type:
          - string
          - 'null'
          description: Display name of the owning company, or `null`.
        definition_name:
          type: string
          description: |
            The callback definition this registration targets (e.g. a tax or shipping
            callback). Fixed at create.
        url:
          type: string
          description: Endpoint Fluid calls synchronously for this callback.
        verification_token:
          type:
          - string
          - 'null'
          description: |
            Token used to verify that a call to `url` originated from Fluid, or `null`
            when none is set.
        active:
          type: boolean
          description: Whether the registration is enabled.
        country_codes:
          type: array
          description: |
            ISO country codes the callback applies to; empty when it applies to all
            countries.
          items:
            type: string
        created_at:
          type: string
          format: date-time
          description: Timestamp when the registration was created (ISO 8601).
        updated_at:
          type: string
          format: date-time
          description: |
            Timestamp when the registration was last updated (ISO 8601). Returned by
            the update endpoint.
        owner_type:
          type:
          - string
          - 'null'
          description: |
            Class name of the record that owns the registration, or `null`. A company
            owner serializes as `Company`; a droplet install resolves to the droplet
            itself and serializes as `Droplet::Application`, never the bare `Droplet`.
        managed_by_droplet:
          type: boolean
          description: |
            Whether a droplet is still around to manage this registration — it is
            droplet-owned and that installation is active. Clients cannot derive this
            from `owner_type`, which names the owner's class either way: a registration
            that outlived its installation's uninstall looks identical to one an active
            droplet owns. Treat `true` as read-only; `false` means the registration is
            the company's to edit or delete.
        owner_id:
          type:
          - integer
          - 'null'
          description: Id of the owning record, or `null`.
        owner_name:
          type:
          - string
          - 'null'
          description: Display name of the owner, or `null`.
    CallbackDefinitionSummary:
      description: Callback definition
      type: object
      properties:
        name:
          type: string
          description: |
            Unique name of the callback definition; the value a registration sets as
            `definition_name`.
        description:
          type:
          - string
          - 'null'
          description: Human-readable summary of what the callback is for, or `null`.
        example_response:
          description: |
            Example response body Fluid expects your endpoint to return, or `null`.
          anyOf:
          - type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
        request_schema:
          description: |
            JSON Schema of the request Fluid sends to your endpoint, or `null`.
          anyOf:
          - type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
        response_schema:
          description: |
            JSON Schema of the response Fluid expects back from your endpoint, or `null`.
          anyOf:
          - type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
    CallbackSchemaSummary:
      description: Callback schema
      type: object
      properties:
        name:
          type: string
          description: Name of the callback definition this schema describes.
        version:
          type:
          - string
          - 'null'
          description: Schema version, or `null` when unversioned.
        schema_hash:
          type:
          - string
          - 'null'
          description: Hash of this schema version, or `null`.
        description:
          type:
          - string
          - 'null'
          description: Human-readable summary of the callback, or `null`.
        request_schema:
          description: JSON Schema of the request Fluid sends, or `null`.
          anyOf:
          - type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
        response_schema:
          description: JSON Schema of the response Fluid expects, or `null`.
          anyOf:
          - type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
        example_response:
          description: Example response body Fluid expects your endpoint to return,
            or `null`.
          anyOf:
          - type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
    WebhookSchemaSummary:
      description: Webhook payload schema
      type: object
      properties:
        id:
          type: integer
          description: Numeric identifier of the stored schema record.
        event_identifier:
          type: string
          description: |
            The event this schema describes (e.g. `order_created`) — the key used to
            fetch it at `/api/webhooks/schemas/{event_identifier}`.
        version:
          type:
          - string
          - 'null'
          description: Schema version, or `null` when unversioned.
        schema_hash:
          type:
          - string
          - 'null'
          description: |
            Hash of this schema version, or `null`; changes when the schema changes.
        schema_definition:
          description: |
            The JSON Schema for the event's payload, or `null` when unavailable. Use it
            to generate types or validate deliveries.
          anyOf:
          - type: object
            additionalProperties:
              "$ref": "#/components/schemas/JsonValue"
          - type: 'null'
        created_at:
          type: string
          format: date-time
          description: Timestamp when the schema record was created (ISO 8601).
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the schema record was last updated (ISO 8601).
    JsonValue:
      description: Any valid JSON value for provider, integration, theme, metadata,
        or other dynamic payloads whose keys are not fixed by the API contract.
      anyOf:
      - type: string
      - type: number
      - type: boolean
      - type: 'null'
      - type: array
        items:
          "$ref": "#/components/schemas/JsonValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorValue:
      description: A validation or API error value.
      anyOf:
      - type: string
      - type: array
        items:
          type: string
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/JsonValue"
    ErrorBag:
      description: Validation errors keyed by field, a list of errors, a single error
        message, or null when no structured error details are available.
      anyOf:
      - type: string
      - type: array
        items:
          "$ref": "#/components/schemas/ErrorValue"
      - type: object
        additionalProperties:
          "$ref": "#/components/schemas/ErrorValue"
      - type: 'null'
    ErrorMessage:
      description: An API error message represented as text or structured JSON.
      anyOf:
      - type: string
      - "$ref": "#/components/schemas/ErrorBag"
      - type: 'null'
    StandardErrorResponse:
      description: Common legacy error response envelope. Older endpoints may return
        one or more of these fields depending on the controller path.
      type: object
      properties:
        message:
          type: string
        error:
          "$ref": "#/components/schemas/ErrorMessage"
        error_message:
          "$ref": "#/components/schemas/ErrorMessage"
        errors:
          "$ref": "#/components/schemas/ErrorBag"
        meta:
          "$ref": "#/components/schemas/Meta"
      additionalProperties:
        "$ref": "#/components/schemas/JsonValue"
    WebhookResourcesResponse:
      type:
      - object
      - 'null'
      properties:
        resources:
          type:
          - object
          - 'null'
          description: |
            Map of subscribable resource names to the events available on each. Read it
            before creating a subscription to discover valid `resource`/`event` pairs.
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        deprecated_resources:
          type: array
          description: Resource topics that are deprecated and will be removed;
            migrate to the member_* topics.
          items:
            type: string
        meta:
          type:
          - object
          - 'null'
          properties:
            request_id:
              type:
              - string
              - number
              - integer
              - 'null'
            timestamp:
              type:
              - string
              - number
              - integer
              - 'null'
    WebhookCompanyEvent:
      type: object
      properties:
        active:
          type: boolean
        canonical_time_zone:
          type: string
        color:
          type: string
        countries:
          type: array
          items:
            "$ref": "#/components/schemas/JsonValue"
        description:
          type: object
          properties:
            body:
              type: string
            created_at:
              type: string
              format: date-time
            id:
              type: integer
            locale:
              type:
              - string
              - 'null'
            name:
              type: string
            record_id:
              type: integer
            record_type:
              type: string
            updated_at:
              type: string
              format: date-time
          required:
          - body
          - created_at
          - id
          - locale
          - name
          - record_id
          - record_type
          - updated_at
          additionalProperties: false
        end:
          type: string
          format: date-time
        id:
          type: integer
        image_url:
          type: 'null'
        images:
          type: array
          items:
            "$ref": "#/components/schemas/JsonValue"
        is_all_day:
          type: boolean
        notification_sent_at:
          type: 'null'
        send_notification:
          type: boolean
        start:
          type: string
          format: date-time
        status:
          type: 'null'
        time_zone:
          type: string
        title:
          type: string
        url:
          type:
          - string
          - 'null'
        user_id:
          type:
          - integer
          - 'null'
        venue:
          type:
          - string
          - 'null'
      required:
      - active
      - canonical_time_zone
      - color
      - countries
      - description
      - end
      - id
      - image_url
      - images
      - is_all_day
      - notification_sent_at
      - send_notification
      - start
      - status
      - time_zone
      - title
      - url
      - user_id
      - venue
      additionalProperties: false
    WebhookCompanyEventDeleteResponse:
      type: object
      properties:
        message:
          type: string
      required:
      - message
      additionalProperties: false
    WebhookCompanyEventDetailResponse:
      type: object
      properties:
        active:
          type:
          - boolean
          - 'null'
        canonical_time_zone:
          type:
          - string
          - 'null'
        color:
          type:
          - string
          - 'null'
        countries:
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/JsonValue"
        description:
          description: Rich-text event description record (`body` holds the HTML), or
            `null` when absent.
          type:
          - object
          - 'null'
          additionalProperties:
            "$ref": "#/components/schemas/JsonValue"
        end:
          type:
          - string
          - 'null'
          format: date-time
        events:
          type:
          - array
          - 'null'
          items:
            type: object
            properties:
              active:
                type: boolean
              canonical_time_zone:
                type: string
              color:
                type: string
              countries:
                type: array
                items:
                  "$ref": "#/components/schemas/JsonValue"
              description:
                type: 'null'
              end:
                type: string
                format: date-time
              id:
                type: integer
              image_url:
                type: 'null'
              images:
                type: array
                items:
                  "$ref": "#/components/schemas/JsonValue"
              is_all_day:
                type: boolean
              notification_sent_at:
                type: 'null'
              send_notification:
                type: boolean
              start:
                type: string
                format: date-time
              status:
                type: 'null'
              time_zone:
                type: string
              title:
                type: string
              url:
                type: string
              user_id:
                type: integer
              venue:
                type: 'null'
            required:
            - active
            - canonical_time_zone
            - color
            - countries
            - description
            - end
            - id
            - image_url
            - images
            - is_all_day
            - notification_sent_at
            - send_notification
            - start
            - status
            - time_zone
            - title
            - url
            - user_id
            - venue
            additionalProperties: false
        id:
          type:
          - integer
          - 'null'
        image_url:
          type: 'null'
        images:
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/JsonValue"
        is_all_day:
          type:
          - boolean
          - 'null'
        meta:
          type:
          - object
          - 'null'
          properties:
            pagination:
              type: object
              properties:
                current_page:
                  type: integer
                per_page:
                  type: integer
                total_count:
                  type: integer
                total_pages:
                  type: integer
              required:
              - current_page
              - per_page
              - total_count
              - total_pages
              additionalProperties: false
            request_id:
              type: string
            timestamp:
              type: string
              format: date-time
          required:
          - pagination
          - request_id
          - timestamp
          additionalProperties: false
        notification_sent_at:
          type: 'null'
        send_notification:
          type:
          - boolean
          - 'null'
        start:
          type:
          - string
          - 'null'
          format: date-time
        status:
          type: 'null'
        time_zone:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
        user_id:
          type:
          - integer
          - 'null'
        venue:
          type:
          - string
          - 'null'
      additionalProperties: false
    WebhookResourceEventEnvelope:
      description: >-
        The full event envelope returned by the resource events endpoint. The
        enriched inner payload is nested under `payload` (never a generic
        `data` key), alongside the event id, a generated identifier token, the
        event name, and a timestamp.
      type: object
      required:
      - id
      - identifier
      - name
      - payload
      - timestamp
      properties:
        id:
          type: integer
          description: Numeric identifier of the stored event.
        identifier:
          type: string
          description: >-
            The event's generated identifier token, not the company or event
            name.
        name:
          type: string
          description: Event identifier, e.g. "member_sponsorships_reassigned".
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 event timestamp.
        payload:
          "$ref": "#/components/schemas/WebhookResourceEventPayload"
    WebhookResourceEventPayload:
      description: >-
        The enriched inner payload: the resource data merged with the seven
        metadata fields (event_name, schema_version, schema_hash, company_id,
        resource_name, resource, event). Each resource keys its data under its
        own name — a member payload carries `member`, a cart payload carries
        `cart`, an order payload carries `order`, and so on — never a generic
        `data` key. The oneOf documents the member and cart branches explicitly
        and covers every other resource with an open fallback branch.
      type: object
      additionalProperties: true
      properties:
        event_name:
          type: string
          description: |
            The event's identifier, e.g. `order_created` — matches the envelope's `name`.
        schema_version:
          type: string
          description: Version of the payload schema this delivery conforms to.
        schema_hash:
          type: string
          description: |
            Hash of the payload schema version; use it to detect when a generated type
            is stale.
        company_id:
          type: integer
          description: Id of the company the event belongs to.
        resource_name:
          type: string
          description: |
            Internal type identifier for the resource, which may be namespaced. Do not
            use it to index the payload — read the resource data from the key named for
            the resource in lowercase (`order`, `cart`, `member`).
        resource:
          type: string
          description: |
            The resource the event is about (e.g. `order`), matching the subscription's
            `resource`.
        event:
          type: string
          description: |
            The event that fired (e.g. `created`), matching the subscription's `event`.
      oneOf:
      - "$ref": "#/components/schemas/WebhookMemberResourceData"
      - "$ref": "#/components/schemas/WebhookCartResourceData"
      - "$ref": "#/components/schemas/WebhookGenericResourceData"
    WebhookMemberResourceData:
      description: >-
        Member branch of the enriched payload: the member object is keyed under
        a `member` key. The inner member object is open
        (additionalProperties: true); only a representative subset is
        documented. The required `member` key makes this branch mutually
        exclusive with the cart branch under oneOf (a cart payload has no
        `member`, so it fails this branch).
      type: object
      additionalProperties: true
      required:
      - member
      properties:
        member:
          type: object
          additionalProperties: true
          required:
          - id
          properties:
            id:
              type: string
              description: Member UUID.
            email:
              type: string
            name:
              type: string
            member_type:
              type: object
              additionalProperties: true
              properties:
                id:
                  type: string
                name:
                  type: string
                slug:
                  type: string
    WebhookCartResourceData:
      description: >-
        Cart branch of the enriched payload: the cart object is keyed under a
        `cart` key. The inner cart object is open (additionalProperties: true);
        its fields are not fixed by this contract and only a representative
        subset is documented. The required `cart` key makes this branch
        mutually exclusive with the member branch under oneOf (a member payload
        has no `cart`, so it fails this branch).
      type: object
      additionalProperties: true
      required:
      - cart
      properties:
        cart:
          description: The cart resource payload.
          type: object
          additionalProperties: true
    WebhookGenericResourceData:
      description: >-
        Fallback branch for the resources whose payload keys under their own
        resource name — order, product, subscription, discount, form, and the
        rest of the available topics — rather than `member` or `cart`. It is
        an open object carrying that resource data plus the seven metadata
        fields. Mutually exclusive with the member and cart branches under
        oneOf: the `not` clause makes it match only payloads that carry neither
        `member` nor `cart`, so exactly one branch validates.
      type: object
      additionalProperties: true
      not:
        anyOf:
        - required:
          - member
        - required:
          - cart
paths:
  "/api/callback/definitions":
    get:
      summary: List callback definitions
      description: |
        Lists the callback definitions available to the company — the catalog of
        synchronous callbacks (e.g. tax, shipping) that a registration can target.
        Read-only. Requires a company Bearer token; returns `401` when the token is
        missing or invalid.
      tags:
      - callback-definitions
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Returns available callback definitions
          content:
            application/json:
              schema:
                type: object
                required:
                - definitions
                properties:
                  definitions:
                    type: array
                    items:
                      "$ref": "#/components/schemas/CallbackDefinitionSummary"
                  meta:
                    "$ref": "#/components/schemas/Meta"
              example:
                definitions:
                - name: update_cart_tax
                  description: Called when cart needs external tax calculation updates
                  example_response:
                    tax_total: 10.0
                    lines:
                    - item_id: '1'
                      tax: 6.0
                    - item_id: '2'
                      tax: 1.5
                    - item_id: '3_123'
                      tax: 2.5
                  request_schema:
                    type: object
                    required:
                    - cart
                    - change_type
                    properties:
                      cart:
                        type: object
                        description: Cart object
                      change_type:
                        type: string
                        description: Type of change that triggered the tax update (e.g. 'add_items', 'remove_items',
                          etc.)
                  response_schema:
                    type: object
                    required:
                    - tax_total
                    properties:
                      tax_total:
                        type: number
                        description: Updated tax total for the cart
                      tax_label:
                        type: string
                        description: Optional display label for the tax line
                      lines:
                        type: array
                        description: Array of items with their tax amounts
                        items:
                          type: object
                          required:
                          - item_id
                          - tax
                          properties:
                            item_id:
                              type: string
                            tax:
                              type: number
                - name: cart_customer_attached
                  description: Called when a customer is bound to a cart. Use this to perform customer-aware
                    enrichment on the cart (loyalty discounts, eligibility checks, tier-based pricing) the
                    moment the shopper becomes known.
                  example_response:
                    success: true
                    message: Loyalty tier applied
                  request_schema:
                    type: object
                    required:
                    - cart
                    - customer
                    - context
                    properties:
                      cart:
                        type: object
                      customer:
                        type: object
                      context:
                        type: object
                        required:
                        - trigger_source
                        - company_id
                        properties:
                          trigger_source:
                            type: string
                          company_id:
                            type: integer
                  response_schema:
                    type: object
                    required:
                    - success
                    properties:
                      success:
                        type: boolean
                      message:
                        type: string
                meta:
                  request_id: 8f3c2b71-5d4e-4a9b-b6f0-1e7a9c3d2f58
                  timestamp: '2026-09-30T14:05:12Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      operationId: webhooks_v0_get_api_callback_definitions
  "/api/callback/registrations":
    get:
      summary: List callback registrations
      description: |
        Lists the company's callback registrations, paginated. Read-only. Accepts an
        optional `filters` object (`page`/`per_page`, plus `company_id`,
        `definition_name`, `sorted_by`, and `active`). Requires a company Bearer token
        (`401` otherwise).
      tags:
      - callback-registrations
      operationId: webhooks_v0_index_callback_registrations
      security:
      - bearer_auth: []
      parameters:
      - name: filters
        in: query
        description: |
          Optional filter and pagination object. `page` (1-based) and `per_page`
          (max 100) page the results; `company_id`, `definition_name`, and `active`
          filter the set, and `sorted_by` chooses the sort. All fields are optional.
        schema:
          type: object
          properties:
            page:
              type: integer
              exclusiveMinimum: 0
            per_page:
              type: integer
              exclusiveMinimum: 0
              maximum: 100
            company_id:
              type: integer
              not:
                type: 'null'
            definition_name:
              type: string
              minLength: 1
            sorted_by:
              type: string
              minLength: 1
            active:
              type: boolean
              not:
                type: 'null'
          required: []
      responses:
        '200':
          description: Returns paginated callback registrations
          content:
            application/json:
              schema:
                type: object
                required:
                - callback_registrations
                properties:
                  callback_registrations:
                    type: array
                    items:
                      "$ref": "#/components/schemas/CallbackRegistrationSummary"
                  meta:
                    "$ref": "#/components/schemas/PaginatedMeta"
              example:
                callback_registrations:
                - uuid: cbr_7fk2m9qxw4hz8tnp3vbd6yjc1rls5ega
                  company_id: 1405
                  company_name: Dunder Mifflin Paper Company
                  definition_name: update_cart_tax
                  url: https://tax.dundermifflin.com/fluid/callbacks/cart-tax
                  verification_token: cvt_R8vK2mQp9sXw4Lz7NbT1yHc6FdJ3gE0a
                  active: true
                  country_codes:
                  - US
                  created_at: '2026-09-14T15:22:08.412Z'
                  owner_type: Company
                  owner_id: 1405
                  owner_name: Dunder Mifflin Paper Company
                - uuid: cbr_2qd8wz5nx1mt7kfr4hbv9pjc6gys3lae
                  company_id: 1405
                  company_name: Dunder Mifflin Paper Company
                  definition_name: cart_customer_attached
                  url: https://loyalty.dundermifflin.com/fluid/callbacks/customer-attached
                  verification_token: cvt_Wm3Tq7Zb1Nx5Kc9Rv2Hd8Yp4Lf6Gs0Ja
                  active: true
                  country_codes: []
                  created_at: '2026-09-18T09:41:27.306Z'
                  owner_type: Company
                  owner_id: 1405
                  owner_name: Dunder Mifflin Paper Company
                meta:
                  request_id: 8f3c2b71-5d4e-4a9b-b6f0-1e7a9c3d2f58
                  timestamp: '2026-09-30T14:05:12Z'
                  pagination:
                    current_page: 1
                    total_pages: 1
                    total_count: 2
                    per_page: 10
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
    post:
      summary: Create a callback registration
      description: |
        Registers a synchronous callback for the company against a callback definition,
        so Fluid can call the given `url` for decisions such as tax or shipping.
        `definition_name` and `url` are required. Returns `201` with the created
        registration; `422` when the body fails validation; `409` when a registration
        for this definition already exists for the owner. Requires a company Bearer
        token (`401` otherwise).
      tags:
      - callback-registrations
      operationId: webhooks_v0_create_callback_registration
      security:
      - bearer_auth: []
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '409':
          description: A registration for this definition already exists for the owner
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '201':
          description: Registration created
          content:
            application/json:
              schema:
                type: object
                required:
                - callback_registration
                properties:
                  callback_registration:
                    "$ref": "#/components/schemas/CallbackRegistrationSummary"
                  meta:
                    "$ref": "#/components/schemas/Meta"
              example:
                callback_registration:
                  uuid: cbr_7fk2m9qxw4hz8tnp3vbd6yjc1rls5ega
                  definition_name: update_cart_tax
                  url: https://tax.dundermifflin.com/fluid/callbacks/cart-tax
                  active: true
                  country_codes:
                  - US
                  verification_token: cvt_R8vK2mQp9sXw4Lz7NbT1yHc6FdJ3gE0a
                  created_at: '2026-09-14T15:22:08.412Z'
                meta:
                  request_id: 8f3c2b71-5d4e-4a9b-b6f0-1e7a9c3d2f58
                  timestamp: '2026-09-30T14:05:12Z'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - callback_registration
              properties:
                callback_registration:
                  type: object
                  required:
                  - definition_name
                  - url
                  properties:
                    definition_name:
                      type: string
                    url:
                      type: string
                    active:
                      type: boolean
                    country_codes:
                      type: array
                      description: ISO country codes the callback applies to.
                      items:
                        type: string
            example:
              callback_registration:
                definition_name: update_cart_tax
                url: https://tax.dundermifflin.com/fluid/callbacks/cart-tax
                active: true
                country_codes:
                - US
  "/api/callback/registrations/{uuid}":
    get:
      summary: Show a callback registration
      description: |
        Fetches a single callback registration by its `uuid`. Read-only. Returns `404`
        when no registration with that uuid belongs to the company. Requires a company
        Bearer token (`401` otherwise).
      tags:
      - callback-registrations
      operationId: webhooks_v0_show_callback_registration
      security:
      - bearer_auth: []
      parameters:
      - name: uuid
        in: path
        required: true
        description: |
          The callback registration's `uuid` — its immutable identifier, assigned at
          creation.
        schema:
          type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Registration found
          content:
            application/json:
              schema:
                type: object
                required:
                - callback_registration
                properties:
                  callback_registration:
                    "$ref": "#/components/schemas/CallbackRegistrationSummary"
                  meta:
                    "$ref": "#/components/schemas/Meta"
              example:
                callback_registration:
                  uuid: cbr_7fk2m9qxw4hz8tnp3vbd6yjc1rls5ega
                  company_id: 1405
                  company_name: Dunder Mifflin Paper Company
                  definition_name: update_cart_tax
                  url: https://tax.dundermifflin.com/fluid/callbacks/cart-tax
                  verification_token: cvt_R8vK2mQp9sXw4Lz7NbT1yHc6FdJ3gE0a
                  active: true
                  country_codes:
                  - US
                  created_at: '2026-09-14T15:22:08.412Z'
                  owner_type: Company
                  owner_id: 1405
                  owner_name: Dunder Mifflin Paper Company
                meta:
                  request_id: 8f3c2b71-5d4e-4a9b-b6f0-1e7a9c3d2f58
                  timestamp: '2026-09-30T14:05:12Z'
    put:
      summary: Update a callback registration
      description: |
        Updates a callback registration's `url`, `active`, and `country_codes`;
        `definition_name` is fixed at creation. Returns `200` with the updated
        registration, `404` when the uuid is unknown, and `422` when the body fails
        validation. Requires a company Bearer token (`401` otherwise).

        A registration a droplet registered is managed by that droplet while its
        installation is active: a company token gets `403`, because repointing or
        disabling it would silently break the droplet. The owning droplet's own token
        may still update it. Once that installation is uninstalled no droplet can
        reach the registration, so a company token may update it again.
      tags:
      - callback-registrations
      operationId: webhooks_v0_update_callback_registration
      security:
      - bearer_auth: []
      parameters:
      - name: uuid
        in: path
        required: true
        description: |
          The callback registration's `uuid` — its immutable identifier, assigned at
          creation.
        schema:
          type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '403':
          description: Managed by the droplet that registered it
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Registration updated
          content:
            application/json:
              schema:
                type: object
                required:
                - callback_registration
                properties:
                  callback_registration:
                    "$ref": "#/components/schemas/CallbackRegistrationSummary"
                  meta:
                    "$ref": "#/components/schemas/Meta"
              example:
                callback_registration:
                  uuid: cbr_7fk2m9qxw4hz8tnp3vbd6yjc1rls5ega
                  definition_name: update_cart_tax
                  url: https://tax.dundermifflin.com/fluid/callbacks/cart-tax-v2
                  active: true
                  country_codes:
                  - US
                  - CA
                  updated_at: '2026-09-29T16:12:45.880Z'
                meta:
                  request_id: 8f3c2b71-5d4e-4a9b-b6f0-1e7a9c3d2f58
                  timestamp: '2026-09-30T14:05:12Z'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                callback_registration:
                  type: object
                  properties:
                    url:
                      type: string
                    active:
                      type: boolean
                    country_codes:
                      type: array
                      description: ISO country codes the callback applies to.
                      items:
                        type: string
            example:
              callback_registration:
                url: https://tax.dundermifflin.com/fluid/callbacks/cart-tax-v2
                country_codes:
                - US
                - CA
    delete:
      summary: Delete a callback registration
      description: |
        Deletes a callback registration by its `uuid`; Fluid stops calling its `url`.
        Returns `200` echoing the deleted registration's `uuid`, or `404` when the uuid
        is unknown. Requires a company Bearer token (`401` otherwise).

        A registration a droplet registered is managed by that droplet while its
        installation is active: a company token gets `403`, because deleting it would
        silently break the droplet. The owning droplet's own token may still delete it.
        Once that installation is uninstalled no droplet can reach the registration, so
        a company token may delete it again.
      tags:
      - callback-registrations
      operationId: webhooks_v0_destroy_callback_registration
      security:
      - bearer_auth: []
      parameters:
      - name: uuid
        in: path
        required: true
        description: |
          The callback registration's `uuid` — its immutable identifier, assigned at
          creation.
        schema:
          type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '403':
          description: Managed by the droplet that registered it
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Registration deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  callback_registration:
                    type: object
                    properties:
                      uuid:
                        type: string
                  meta:
                    "$ref": "#/components/schemas/Meta"
              example:
                callback_registration:
                  uuid: cbr_7fk2m9qxw4hz8tnp3vbd6yjc1rls5ega
                meta:
                  request_id: 8f3c2b71-5d4e-4a9b-b6f0-1e7a9c3d2f58
                  timestamp: '2026-09-30T14:05:12Z'
  "/api/callback/schemas":
    get:
      summary: List callback schemas
      description: |
        Lists the request and response schemas for every callback definition — use them
        to generate types or validate callback payloads. Read-only. Requires a company
        Bearer token (`401` otherwise).
      tags:
      - callback-schemas
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Returns available callback schemas
          content:
            application/json:
              schema:
                type: object
                required:
                - schemas
                properties:
                  schemas:
                    type: array
                    items:
                      "$ref": "#/components/schemas/CallbackSchemaSummary"
                  meta:
                    "$ref": "#/components/schemas/Meta"
              example:
                schemas:
                - name: cart_customer_attached
                  version: 1.0.0
                  schema_hash: cart_customer_attached_v1
                  description: Called when a customer is bound to a cart. Use this to perform customer-aware
                    enrichment on the cart (loyalty discounts, eligibility checks, tier-based pricing) the
                    moment the shopper becomes known.
                  request_schema:
                    type: object
                    required:
                    - cart
                    - customer
                    - context
                    properties:
                      cart:
                        type: object
                      customer:
                        type: object
                      context:
                        type: object
                        required:
                        - trigger_source
                        - company_id
                        properties:
                          trigger_source:
                            type: string
                          company_id:
                            type: integer
                  response_schema:
                    type: object
                    required:
                    - success
                    properties:
                      success:
                        type: boolean
                      message:
                        type: string
                  example_response:
                    success: true
                    message: Loyalty tier applied
                - name: update_cart_tax
                  version: null
                  schema_hash: null
                  description: Called when cart needs external tax calculation updates
                  request_schema:
                    type: object
                    required:
                    - cart
                    - change_type
                    properties:
                      cart:
                        type: object
                        description: Cart object
                      change_type:
                        type: string
                        description: Type of change that triggered the tax update (e.g. 'add_items', 'remove_items',
                          etc.)
                  response_schema:
                    type: object
                    required:
                    - tax_total
                    properties:
                      tax_total:
                        type: number
                        description: Updated tax total for the cart
                      tax_label:
                        type: string
                        description: Optional display label for the tax line
                      lines:
                        type: array
                        description: Array of items with their tax amounts
                        items:
                          type: object
                          required:
                          - item_id
                          - tax
                          properties:
                            item_id:
                              type: string
                            tax:
                              type: number
                  example_response:
                    tax_total: 10.0
                    lines:
                    - item_id: '1'
                      tax: 6.0
                    - item_id: '2'
                      tax: 1.5
                    - item_id: '3_123'
                      tax: 2.5
                meta:
                  request_id: 8f3c2b71-5d4e-4a9b-b6f0-1e7a9c3d2f58
                  timestamp: '2026-09-30T14:05:12Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      operationId: webhooks_v0_get_api_callback_schemas
  "/api/callback/schemas/{definition_name}":
    get:
      summary: Show a callback schema
      description: Returns the schema for a specific callback definition.
      tags:
      - callback-schemas
      security:
      - bearer_auth: []
      parameters:
      - name: definition_name
        in: path
        required: true
        description: The name of the callback definition to get the schema for
        schema:
          type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Definition name not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Schema found
          content:
            application/json:
              schema:
                type: object
                required:
                - schema
                properties:
                  schema:
                    "$ref": "#/components/schemas/CallbackSchemaSummary"
                  meta:
                    "$ref": "#/components/schemas/Meta"
              example:
                schema:
                  name: cart_customer_attached
                  version: 1.0.0
                  schema_hash: cart_customer_attached_v1
                  description: Called when a customer is bound to a cart. Use this to perform customer-aware
                    enrichment on the cart (loyalty discounts, eligibility checks, tier-based pricing) the
                    moment the shopper becomes known.
                  request_schema:
                    type: object
                    required:
                    - cart
                    - customer
                    - context
                    properties:
                      cart:
                        type: object
                      customer:
                        type: object
                      context:
                        type: object
                        required:
                        - trigger_source
                        - company_id
                        properties:
                          trigger_source:
                            type: string
                          company_id:
                            type: integer
                  response_schema:
                    type: object
                    required:
                    - success
                    properties:
                      success:
                        type: boolean
                      message:
                        type: string
                  example_response:
                    success: true
                    message: Loyalty tier applied
                meta:
                  request_id: 8f3c2b71-5d4e-4a9b-b6f0-1e7a9c3d2f58
                  timestamp: '2026-09-30T14:05:12Z'
      operationId: webhooks_v0_get_api_callback_schemas_by_definition_name
  "/api/company/events":
    post:
      tags:
      - company-events
      summary: Create company event
      description: Add a new event for the company with details like title, dates,
        venue, and optional media content.
      operationId: webhooks_v0_create_company_event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - event
              description: Event attributes are nested under a required `event`
                key; omitting it returns 400.
              properties:
                event:
                  type: object
                  description: Event attributes accepted by the controller. title,
                    description, start, end, and time_zone are required by the Event
                    model, so an event missing any of them returns 422.
                  properties:
                    title:
                      type: string
                    description:
                      type: string
                    venue:
                      type: string
                    url:
                      type: string
                    user_id:
                      type: integer
                    company_id:
                      type: integer
                    start_date:
                      type: string
                      description: Event start date, e.g. "2026-04-01".
                    end_date:
                      type: string
                      description: Event end date, e.g. "2026-04-02".
                    start_time:
                      type: string
                      description: Event start time, e.g. "09:00".
                    end_time:
                      type: string
                      description: Event end time, e.g. "17:00".
                    active:
                      type: boolean
                    time_zone:
                      type: string
                      description: IANA time zone name, e.g. "UTC".
                    send_notification:
                      type: boolean
                    available_countries:
                      type: array
                      description: ISO country codes the event is scoped to.
                      items:
                        type: string
                    country_ids:
                      type: array
                      items:
                        type: integer
                    images_attributes:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          image_url:
                            type: string
                          position:
                            type: integer
                          _destroy:
                            type: boolean
            example:
              event:
                title: Scranton Branch Q4 Sales Kickoff
                description: '<div>Michael Scott kicks off Q4 with the Scranton sales team: new paper lines,
                  the holiday catalog, and the Dundie nominations.</div>'
                venue: Dunder Mifflin Scranton, 1725 Slough Avenue, Scranton, PA 18505
                url: https://shop.dundermifflin.com/events/q4-sales-kickoff
                start_date: '2026-10-15'
                start_time: 09:00
                end_date: '2026-10-15'
                end_time: '11:00'
                time_zone: America/New_York
                active: true
                send_notification: true
                available_countries:
                - US
                - CA
      responses:
        '400':
          description: Missing required parameters (no `event` key)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '422':
          description: Validation failed (missing or invalid event attributes)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '200':
          description: Event created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WebhookCompanyEvent"
              example:
                id: 48213
                title: Scranton Branch Q4 Sales Kickoff
                description:
                  id: 90417
                  name: description
                  body: '<div>Michael Scott kicks off Q4 with the Scranton sales team: new paper lines, the
                    holiday catalog, and the Dundie nominations.</div>'
                  record_type: Event
                  record_id: 48213
                  locale: null
                  created_at: '2026-09-14T15:22:08.412Z'
                  updated_at: '2026-09-14T15:22:08.412Z'
                color: '#D33282'
                url: https://shop.dundermifflin.com/events/q4-sales-kickoff
                start: '2026-10-15T13:00:00.000Z'
                end: '2026-10-15T15:00:00.000Z'
                active: true
                venue: Dunder Mifflin Scranton, 1725 Slough Avenue, Scranton, PA 18505
                user_id: null
                notification_sent_at: null
                send_notification: true
                time_zone: EDT
                canonical_time_zone: America/New_York
                is_all_day: false
                status: null
                image_url: null
                countries:
                - US
                - CA
                images: []
      security:
      - bearer_auth: []
    get:
      tags:
      - company-events
      summary: List company events
      description: Retrieves a list of events associated with the company.
      operationId: webhooks_v0_list_company_events
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '200':
          description: Events listed
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties:
                    "$ref": "#/components/schemas/JsonValue"
              example:
                - id: 48227
                  title: Schrute Farms Beet Harvest Team Outing
                  description:
                    id: 90431
                    name: description
                    body: <div>Dwight Schrute hosts the branch at Schrute Farms for the fall beet harvest.
                      Carpools leave the office at 8:00.</div>
                    record_type: Event
                    record_id: 48227
                    locale: null
                    created_at: '2026-09-21T18:40:51.207Z'
                    updated_at: '2026-09-21T18:40:51.207Z'
                  color: '#D33282'
                  url: https://shop.dundermifflin.com/events/beet-harvest-outing
                  start: '2026-10-24T04:00:00.000Z'
                  end: '2026-10-25T03:59:00.000Z'
                  active: true
                  venue: Schrute Farms, Honesdale, PA 18431
                  user_id: null
                  notification_sent_at: null
                  send_notification: true
                  time_zone: EDT
                  canonical_time_zone: America/New_York
                  is_all_day: true
                  status: null
                  image_url: null
                  countries:
                  - US
                  images: []
                - id: 48213
                  title: Scranton Branch Q4 Sales Kickoff
                  description:
                    id: 90417
                    name: description
                    body: '<div>Michael Scott kicks off Q4 with the Scranton sales team: new paper lines,
                      the holiday catalog, and the Dundie nominations.</div>'
                    record_type: Event
                    record_id: 48213
                    locale: null
                    created_at: '2026-09-14T15:22:08.412Z'
                    updated_at: '2026-09-14T15:22:08.412Z'
                  color: '#D33282'
                  url: https://shop.dundermifflin.com/events/q4-sales-kickoff
                  start: '2026-10-15T13:00:00.000Z'
                  end: '2026-10-15T15:00:00.000Z'
                  active: true
                  venue: Dunder Mifflin Scranton, 1725 Slough Avenue, Scranton, PA 18505
                  user_id: null
                  notification_sent_at: null
                  send_notification: true
                  time_zone: EDT
                  canonical_time_zone: America/New_York
                  is_all_day: false
                  status: null
                  image_url: null
                  countries:
                  - US
                  - CA
                  images: []
      security:
      - bearer_auth: []
  "/api/company/events/{eventId}":
    patch:
      tags:
      - company-events
      summary: Update company event
      description: Updates the details of a specific company event.
      operationId: webhooks_v0_update_company_event
      parameters:
      - name: eventId
        in: path
        required: true
        schema:
          type: integer
        description: The unique identifier of the event to update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - event
              description: Updated attributes are nested under a required `event`
                key, matching the create body.
              properties:
                event:
                  type: object
                  description: Any subset of the accepted event attributes. An
                    update that violates a model validation returns 400.
                  properties:
                    title:
                      type: string
                    description:
                      type: string
                    venue:
                      type: string
                    url:
                      type: string
                    user_id:
                      type: integer
                    start_date:
                      type: string
                      description: Event start date, e.g. "2026-04-01".
                    end_date:
                      type: string
                      description: Event end date, e.g. "2026-04-02".
                    start_time:
                      type: string
                      description: Event start time, e.g. "09:00".
                    end_time:
                      type: string
                      description: Event end time, e.g. "17:00".
                    active:
                      type: boolean
                    time_zone:
                      type: string
                      description: IANA time zone name, e.g. "UTC".
                    send_notification:
                      type: boolean
                    available_countries:
                      type: array
                      items:
                        type: string
                    country_ids:
                      type: array
                      items:
                        type: integer
                    images_attributes:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          image_url:
                            type: string
                          position:
                            type: integer
                          _destroy:
                            type: boolean
            example:
              event:
                title: Scranton Branch Q4 Sales Kickoff & Dundie Nominations
                venue: Dunder Mifflin Scranton, Conference Room, 1725 Slough Avenue, Scranton, PA 18505
      responses:
        '400':
          description: Validation failed (invalid event attributes)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '200':
          description: Event updated
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WebhookCompanyEvent"
              example:
                id: 48213
                title: Scranton Branch Q4 Sales Kickoff & Dundie Nominations
                description:
                  id: 90417
                  name: description
                  body: '<div>Michael Scott kicks off Q4 with the Scranton sales team: new paper lines, the
                    holiday catalog, and the Dundie nominations.</div>'
                  record_type: Event
                  record_id: 48213
                  locale: null
                  created_at: '2026-09-14T15:22:08.412Z'
                  updated_at: '2026-09-29T16:12:45.880Z'
                color: '#D33282'
                url: https://shop.dundermifflin.com/events/q4-sales-kickoff
                start: '2026-10-15T13:00:00.000Z'
                end: '2026-10-15T15:00:00.000Z'
                active: true
                venue: Dunder Mifflin Scranton, Conference Room, 1725 Slough Avenue, Scranton, PA 18505
                user_id: null
                notification_sent_at: null
                send_notification: true
                time_zone: EDT
                canonical_time_zone: America/New_York
                is_all_day: false
                status: null
                image_url: null
                countries:
                - US
                - CA
                images: []
      security:
      - bearer_auth: []
    get:
      tags:
      - company-events
      summary: Get company event
      description: Retrieves the details of a specific event for a company.
      operationId: webhooks_v0_get_company_event
      parameters:
      - name: eventId
        in: path
        required: true
        schema:
          type: integer
        description: The unique identifier of the company event
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '200':
          description: Event found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WebhookCompanyEventDetailResponse"
              example:
                id: 48213
                title: Scranton Branch Q4 Sales Kickoff
                description:
                  id: 90417
                  name: description
                  body: '<div>Michael Scott kicks off Q4 with the Scranton sales team: new paper lines, the
                    holiday catalog, and the Dundie nominations.</div>'
                  record_type: Event
                  record_id: 48213
                  locale: null
                  created_at: '2026-09-14T15:22:08.412Z'
                  updated_at: '2026-09-14T15:22:08.412Z'
                color: '#D33282'
                url: https://shop.dundermifflin.com/events/q4-sales-kickoff
                start: '2026-10-15T13:00:00.000Z'
                end: '2026-10-15T15:00:00.000Z'
                active: true
                venue: Dunder Mifflin Scranton, 1725 Slough Avenue, Scranton, PA 18505
                user_id: null
                notification_sent_at: null
                send_notification: true
                time_zone: EDT
                canonical_time_zone: America/New_York
                is_all_day: false
                status: null
                image_url: null
                countries:
                - US
                - CA
                images: []
      security:
      - bearer_auth: []
    delete:
      tags:
      - company-events
      summary: Delete company event
      description: Deletes a specific event associated with the company.
      operationId: webhooks_v0_delete_company_event
      parameters:
      - name: eventId
        in: path
        required: true
        schema:
          type: integer
        description: The unique identifier of the event to delete
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '200':
          description: Event deleted
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WebhookCompanyEventDeleteResponse"
              example:
                message: Event deleted successfully.
      security:
      - bearer_auth: []
  "/api/company/events/{eventId}/send_notifications":
    get:
      tags:
      - company-events
      summary: Send event notifications
      description: Sends notifications about an event to concerned parties based on
        specified countries.
      operationId: webhooks_v0_send_event_notifications
      parameters:
      - name: eventId
        in: path
        required: true
        schema:
          type: integer
        description: The unique identifier of the event to send notifications for
      - name: event[available_countries][]
        in: query
        required: false
        description: ISO country codes to scope the notification to, read from
          `params[:event][:available_countries]`. Omit to notify all countries;
          any unrecognized ISO returns 422.
        schema:
          type: array
          items:
            type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '422':
          description: One or more country ISO codes were not recognized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardErrorResponse"
        '200':
          description: Notifications sent
          content:
            application/json:
              schema:
                type: string
              example:
                Success.
                ...
      security:
      - bearer_auth: []
  "/api/company/webhooks":
    get:
      summary: List webhooks
      description: |
        Lists the company's webhook subscriptions, paginated. Read-only. The optional
        `query` object narrows results by `active`, `resource`, or free-text
        `search_query`, and pages with `page`/`per_page` (max 100). Requires a company
        Bearer token (`401` otherwise).
      tags:
      - webhooks
      operationId: webhooks_v0_index_webhooks
      security:
      - bearer_auth: []
      parameters:
      - name: query
        in: query
        description: |
          Optional filter and pagination object. `page` (1-based) and `per_page`
          (max 100) page the results; `active` filters by enabled state, `resource` by
          subscribed resource, and `search_query` is a free-text match. All fields are
          optional.
        schema:
          type: object
          properties:
            page:
              type: integer
              exclusiveMinimum: 0
            per_page:
              type: integer
              exclusiveMinimum: 0
              maximum: 100
            active:
              type: boolean
            resource:
              type: string
            search_query:
              type: string
          required: []
      responses:
        '200':
          description: Returns paginated webhooks
          content:
            application/json:
              schema:
                type: object
                required:
                - webhooks
                properties:
                  webhooks:
                    type: array
                    items:
                      "$ref": "#/components/schemas/WebhookSummary"
                  meta:
                    "$ref": "#/components/schemas/PaginatedMeta"
              example:
                webhooks:
                - id: 48213
                  company_id: 1405
                  droplet_installation_uuid: null
                  url: https://hooks.dundermifflin.com/fluid/orders
                  active: true
                  resource: order
                  event: created
                  event_identifier: order_created
                  http_method: post
                  auth_token: k7Jf2Qm9RtV8xZ1aB4cD6eG0hL3nP5s
                  created_at: '2026-09-14T15:22:08.412Z'
                  updated_at: '2026-09-14T15:22:08.412Z'
                - id: 48214
                  company_id: 1405
                  droplet_installation_uuid: null
                  url: https://hooks.dundermifflin.com/fluid/carts
                  active: true
                  resource: cart
                  event: updated
                  event_identifier: cart_updated
                  http_method: post
                  auth_token: null
                  created_at: '2026-09-16T10:03:44.019Z'
                  updated_at: '2026-09-16T10:03:44.019Z'
                meta:
                  request_id: 8f3c2b71-5d4e-4a9b-b6f0-1e7a9c3d2f58
                  timestamp: '2026-09-30T14:05:12Z'
                  pagination:
                    current_page: 1
                    total_pages: 1
                    total_count: 2
                    per_page: 30
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
    post:
      summary: Create a webhook
      description: |
        Creates a webhook subscription: Fluid delivers a JSON payload to `url` each time
        the chosen `event` fires on the chosen `resource`. `resource`, `event`, and
        `url` are required; `active`, `http_method`, and `auth_token` (the shared secret
        Fluid signs deliveries with) are optional. Returns `201` with the subscription
        under a `webhook` key — including its integer `id` and the `event_identifier`
        for the event's payload schema — and `422` when the body fails validation.
        Requires a company Bearer token (`401` otherwise). In production `url` must be a
        publicly reachable HTTPS endpoint.
      tags:
      - webhooks
      operationId: webhooks_v0_create_webhook
      security:
      - bearer_auth: []
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                type: object
                required:
                - webhook
                properties:
                  webhook:
                    "$ref": "#/components/schemas/WebhookSummary"
                  meta:
                    "$ref": "#/components/schemas/Meta"
              example:
                webhook:
                  id: 48213
                  company_id: 1405
                  droplet_installation_uuid: null
                  url: https://hooks.dundermifflin.com/fluid/orders
                  active: true
                  resource: order
                  event: created
                  event_identifier: order_created
                  http_method: post
                  auth_token: k7Jf2Qm9RtV8xZ1aB4cD6eG0hL3nP5s
                  created_at: '2026-09-14T15:22:08.412Z'
                  updated_at: '2026-09-14T15:22:08.412Z'
                meta:
                  request_id: 8f3c2b71-5d4e-4a9b-b6f0-1e7a9c3d2f58
                  timestamp: '2026-09-30T14:05:12Z'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - webhook
              properties:
                webhook:
                  type: object
                  required:
                  - url
                  - resource
                  - event
                  properties:
                    url:
                      type: string
                    resource:
                      type: string
                    event:
                      type: string
                    active:
                      type: boolean
                    http_method:
                      type: string
                    auth_token:
                      type: string
            examples:
              order_created:
                summary: Subscribe to order.created and sign deliveries with a secret
                value:
                  webhook:
                    resource: order
                    event: created
                    url: https://hooks.dundermifflin.com/fluid/orders
                    active: true
                    http_method: post
                    auth_token: k7Jf2Qm9RtV8xZ1aB4cD6eG0hL3nP5s
              minimal:
                summary: Minimal subscription — only the required fields
                value:
                  webhook:
                    resource: cart
                    event: updated
                    url: https://hooks.dundermifflin.com/fluid/carts
  "/api/company/webhooks/bulk_delete":
    delete:
      summary: Bulk delete webhooks
      description: |
        Deletes several webhook subscriptions in one call. Requires a `webhook_ids`
        array of integer ids. Returns `200` with the deleted `webhook_ids` and their
        `count`. Requires a company Bearer token (`401` otherwise).
      tags:
      - webhooks
      operationId: webhooks_v0_bulk_delete_webhooks
      security:
      - bearer_auth: []
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '200':
          description: Webhooks deleted
          content:
            application/json:
              schema:
                type: object
                required:
                - webhooks
                properties:
                  webhooks:
                    type: object
                    properties:
                      webhook_ids:
                        type: array
                        items:
                          type: integer
                      count:
                        type: integer
                  meta:
                    "$ref": "#/components/schemas/Meta"
              example:
                webhooks:
                  webhook_ids:
                  - 48213
                  - 48214
                  - 48220
                  count: 3
                meta:
                  request_id: 8f3c2b71-5d4e-4a9b-b6f0-1e7a9c3d2f58
                  timestamp: '2026-09-30T14:05:12Z'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - webhook_ids
              properties:
                webhook_ids:
                  type: array
                  items:
                    type: integer
            example:
              webhook_ids:
              - 48213
              - 48214
              - 48220
  "/api/company/webhooks/resources":
    get:
      summary: List webhook resources
      description: |
        Lists the resources you can subscribe to and the events available on each — call
        it before creating a subscription to discover valid `resource`/`event` pairs.
        Read-only. The response also carries `deprecated_resources`: topics slated for
        removal (migrate to the `member_*` topics). Requires a company Bearer token
        (`401` otherwise).
      tags:
      - webhooks-resources
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Returns available webhook resources
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WebhookResourcesResponse"
              example:
                resources:
                  bot_message:
                  - created
                  cart:
                  - updated
                  - abandoned
                  - update_address
                  - update_cart_email
                  - add_items
                  - remove_items
                  contact:
                  - created
                  - updated
                  customer:
                  - created
                  - updated
                  - deleted
                  - address_updated
                  - address_added
                  - sponsor_changed
                  discount:
                  - created
                  - activated
                  - deactivated
                  - deleted
                  - applied
                  droplet:
                  - installed
                  - uninstalled
                  enrollment:
                  - completed
                  - started
                  event:
                  - created
                  - updated
                  - deleted
                  form:
                  - created
                  - updated
                  - activated
                  - submitted
                  genealogy_placements:
                  - moved
                  - removed
                  genealogy_move_requests:
                  - added
                  - approved
                  - rejected
                  - withdrawn
                  - expired
                  genealogy_move_jobs:
                  - applied
                  - failed
                  member:
                  - created
                  - updated
                  - deactivated
                  - deleted
                  member_addresses:
                  - modified
                  - added
                  member_payment_methods:
                  - added
                  member_sponsorships:
                  - reassigned
                  member_types:
                  - assigned
                  merchant:
                  - billing_paused
                  - billing_resumed
                  metafield:
                  - created
                  - updated
                  - deleted
                  mfa:
                  - missing_email
                  - verified
                  - inactive_sign_in_attempted
                  onboarding_info:
                  - updated
                  - completed
                  order:
                  - completed
                  - updated
                  - edited
                  - shipped
                  - cancelled
                  - refunded
                  - created
                  - external_id_updated
                  - external_id_synced
                  - approved
                  - unarchived
                  - unfulfilled
                  - reopened
                  - marked_paid
                  - marked_free
                  - fulfillment_status_changed
                  point:
                  - wallet_updated
                  - update_reward
                  popup:
                  - submitted
                  product:
                  - created
                  - updated
                  - destroyed
                  schema:
                  - updated
                  subscription:
                  - started
                  - updated
                  - paused
                  - cancelled
                  - billed
                  - declined
                  - resumed
                  - resumed_after_payment_fix
                  - reactivated
                  - skipped
                  subscription_discount:
                  - attached
                  - removed
                  - restored
                  user:
                  - created
                  - updated
                  - deactivated
                  - external_id_updated
                  - external_id_synced
                  - sponsor_changed
                  - role_changed
                  webchat:
                  - submitted
                deprecated_resources:
                - customer
                - user
                meta:
                  request_id: 8f3c2b71-5d4e-4a9b-b6f0-1e7a9c3d2f58
                  timestamp: '2026-09-30T14:05:12Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
      operationId: webhooks_v0_get_api_company_webhooks_resources
  "/api/company/webhooks/{id}":
    get:
      summary: Show a webhook
      description: |
        Fetches a single webhook subscription by its numeric `id`. Read-only. Returns
        `404` when no webhook with that id belongs to the company. Requires a company
        Bearer token (`401` otherwise).
      tags:
      - webhooks
      operationId: webhooks_v0_show_webhook
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: |
          Identifier of the webhook subscription — the numeric `id` returned at create,
          carried as a path segment.
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Webhook found
          content:
            application/json:
              schema:
                type: object
                required:
                - webhook
                properties:
                  webhook:
                    "$ref": "#/components/schemas/WebhookSummary"
                  meta:
                    "$ref": "#/components/schemas/Meta"
              example:
                webhook:
                  id: 48213
                  company_id: 1405
                  droplet_installation_uuid: null
                  url: https://hooks.dundermifflin.com/fluid/orders
                  active: true
                  resource: order
                  event: created
                  event_identifier: order_created
                  http_method: post
                  auth_token: k7Jf2Qm9RtV8xZ1aB4cD6eG0hL3nP5s
                  created_at: '2026-09-14T15:22:08.412Z'
                  updated_at: '2026-09-14T15:22:08.412Z'
                meta:
                  request_id: 8f3c2b71-5d4e-4a9b-b6f0-1e7a9c3d2f58
                  timestamp: '2026-09-30T14:05:12Z'
    put:
      summary: Update a webhook
      description: |
        Updates a webhook subscription. The body accepts `url`, `active`, `auth_token`,
        and `http_method`; `resource` and `event` are fixed at creation — retarget by
        deleting and recreating. Rotate the signing secret by sending a new `auth_token`.
        Returns `200` with the updated subscription, `404` when the id is unknown, and
        `422` when the body fails validation. Requires a company Bearer token (`401`
        otherwise).
      tags:
      - webhooks
      operationId: webhooks_v0_update_webhook
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: |
          Identifier of the webhook subscription — the numeric `id` returned at create,
          carried as a path segment.
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Webhook updated
          content:
            application/json:
              schema:
                type: object
                required:
                - webhook
                properties:
                  webhook:
                    "$ref": "#/components/schemas/WebhookSummary"
                  meta:
                    "$ref": "#/components/schemas/Meta"
              example:
                webhook:
                  id: 48213
                  company_id: 1405
                  droplet_installation_uuid: null
                  url: https://hooks.dundermifflin.com/fluid/orders-v2
                  active: true
                  resource: order
                  event: created
                  event_identifier: order_created
                  http_method: post
                  auth_token: k7Jf2Qm9RtV8xZ1aB4cD6eG0hL3nP5s
                  created_at: '2026-09-14T15:22:08.412Z'
                  updated_at: '2026-09-29T16:12:45.880Z'
                meta:
                  request_id: 8f3c2b71-5d4e-4a9b-b6f0-1e7a9c3d2f58
                  timestamp: '2026-09-30T14:05:12Z'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                webhook:
                  type: object
                  properties:
                    url:
                      type: string
                    active:
                      type: boolean
                    auth_token:
                      type: string
                    http_method:
                      type: string
                      enum:
                      - post
                      - put
                      - get
            examples:
              deactivate:
                summary: Disable a subscription without deleting it
                value:
                  webhook:
                    active: false
              rotate_secret:
                summary: Rotate the signing secret
                value:
                  webhook:
                    auth_token: n2P5sQ8vB1xZ4aD7cF0hK3mR6tW9yE2
              update_endpoint:
                summary: Point the subscription at a new URL and delivery method
                value:
                  webhook:
                    url: https://hooks.dundermifflin.com/fluid/orders-v2
                    http_method: post
    delete:
      summary: Delete a webhook
      description: |
        Deletes a webhook subscription by its numeric `id`; Fluid stops delivering its
        events. Returns `200` echoing the deleted webhook's `id`, or `404` when the id
        is unknown. Requires a company Bearer token (`401` otherwise).
      tags:
      - webhooks
      operationId: webhooks_v0_destroy_webhook
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: |
          Identifier of the webhook subscription — the numeric `id` returned at create,
          carried as a path segment.
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '200':
          description: Webhook deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhook:
                    type: object
                    description: The deleted webhook, echoed as an id-only object.
                    properties:
                      id:
                        type: integer
                  meta:
                    "$ref": "#/components/schemas/Meta"
              example:
                webhook:
                  id: 48213
                meta:
                  request_id: 8f3c2b71-5d4e-4a9b-b6f0-1e7a9c3d2f58
                  timestamp: '2026-09-30T14:05:12Z'
  "/api/webhooks/schemas":
    get:
      summary: List webhook schemas
      description: |
        Lists the published JSON payload schemas for webhook events — use them to
        generate types or validate deliveries. Read-only. The optional `event_identifier`
        query parameter narrows the list to a single event's schema. Requires a company
        Bearer token (`401` otherwise).
      tags:
      - webhook-schemas
      security:
      - bearer_auth: []
      parameters:
      - name: event_identifier
        in: query
        required: false
        description: Filter schemas by event identifier
        schema:
          type: string
      responses:
        '200':
          description: Returns available webhook schemas
          content:
            application/json:
              schema:
                type: object
                required:
                - schemas
                properties:
                  schemas:
                    type: array
[...]
